Repository ls1intum/Artemis, changes with the owners that .github/CODEOWNERS names for each.
All owners: @krusche, @ls1intum/athena-maintainers, @ls1intum/atlas-maintainers, @ls1intum/programming-maintainers, @ls1intum/communication-maintainers, @ls1intum/iris-maintainers, @ls1intum/lectures-maintainers, @ls1intum/lti-maintainers, @ls1intum/apollon-maintainers, @ls1intum/plagiarism-maintainers, @ls1intum/quiz-maintainers, @ls1intum/operations-maintainers, @ls1intum/database-maintainers

Prevent event flooding by dispatching the resize event only one animation frame later. Typically 1/60s later.
  src/main/webapp/app/shared/data-table/data-table.component.ts
Owners: @krusche

revert abstract git service
  src/main/java/de/tum/cit/aet/artemis/programming/service/AbstractGitService.java
Owners: @ls1intum/programming-maintainers

Development: Fix a flaky communication server test
  src/main/java/de/tum/cit/aet/artemis/communication/dto/ChannelDTO.java
  src/main/java/de/tum/cit/aet/artemis/communication/dto/ConversationDTO.java
  src/main/java/de/tum/cit/aet/artemis/communication/dto/ConversationUserDTO.java
  src/main/java/de/tum/cit/aet/artemis/communication/dto/GroupChatDTO.java
  src/main/java/de/tum/cit/aet/artemis/communication/dto/OneToOneChatDTO.java
  src/test/java/de/tum/cit/aet/artemis/communication/ChannelIntegrationTest.java
Owners: @ls1intum/communication-maintainers

UI updates
  src/main/webapp/app/core/course/overview/course-training/course-training.component.html
Owners: @krusche

fix e2e tests
  src/main/webapp/app/core/course/manage/update/course-update.component.html
  src/test/playwright/support/pageobjects/exercises/programming/RepositoryPage.ts
Owners: @krusche

Development: Align websocket server heartbeat settings with the client ones
  src/main/java/de/tum/cit/aet/artemis/core/config/SecurityConfiguration.java
  src/main/java/de/tum/cit/aet/artemis/core/config/websocket/WebsocketConfiguration.java
Owners: @krusche

Development: Update client dependency overrides
  package-lock.json
  package.json
Owners: @krusche

update tests from stash
  src/test/java/de/tum/cit/aet/artemis/buildagent/service/BuildAgentIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/AbstractProgrammingIntegrationLocalCILocalVCTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/icl/LocalCIIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/icl/LocalCIResourceIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/icl/LocalCIServiceTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/icl/LocalVCLocalCIIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/icl/SharedQueueManagementServiceTest.java
  src/test/java/de/tum/cit/aet/artemis/shared/base/AbstractArtemisBuildAgentTest.java
Owners: @ls1intum/programming-maintainers, @krusche

Revert "add composite indizes to buildJob table"
  src/main/resources/config/liquibase/changelog/20250905120000_changelog.xml
  src/main/resources/config/liquibase/master.xml
Owners: @ls1intum/database-maintainers

temp debug log
  src/main/java/de/tum/cit/aet/artemis/programming/service/localci/LocalCIMissingJobService.java
Owners: @ls1intum/programming-maintainers

Development: Fix e2e tests after removing card-body class (#11373)
  src/main/webapp/app/core/course/manage/update/course-update.component.html
  src/test/playwright/support/pageobjects/exercises/programming/RepositoryPage.ts
Owners: @krusche

fix review comments and remove unused query
  src/main/java/de/tum/cit/aet/artemis/programming/repository/ProgrammingExerciseStudentParticipationRepository.java
  src/test/java/de/tum/cit/aet/artemis/programming/test_repository/ProgrammingExerciseTestRepository.java
Owners: @ls1intum/programming-maintainers

Update java template for latest Ares and Gradle version
  docs/dev/docker.rst
  src/main/resources/config/application.yml
  src/main/resources/templates/java/gradle_gradle/exercise/gradle/wrapper/gradle-wrapper.properties
  src/main/resources/templates/java/gradle_gradle/solution/gradle/wrapper/gradle-wrapper.properties
  src/main/resources/templates/java/maven_maven/exercise/pom.xml
  src/main/resources/templates/java/maven_maven/solution/pom.xml
  src/main/resources/templates/java/maven_maven/test/projectTemplate/pom.xml
  src/main/resources/templates/java/plain_gradle/exercise/gradle/wrapper/gradle-wrapper.properties
  src/main/resources/templates/java/plain_gradle/solution/gradle/wrapper/gradle-wrapper.properties
  src/main/resources/templates/java/test/gradle/projectTemplate/build.gradle
  src/main/resources/templates/java/test/gradle/projectTemplate/gradle/wrapper/gradle-wrapper.properties
  src/main/resources/templates/java/test/maven/projectTemplate/pom.xml
  src/main/resources/templates/kotlin/test/maven/projectTemplate/pom.xml
  src/test/java/de/tum/cit/aet/artemis/programming/service/BuildLogEntryServiceTest.java
Owners: @krusche, @ls1intum/operations-maintainers, @ls1intum/programming-maintainers

dont rely on profiles but config
  src/main/java/de/tum/cit/aet/artemis/config/DisableRedisAutoConfig.java
  src/main/java/de/tum/cit/aet/artemis/core/config/Constants.java
  src/main/java/de/tum/cit/aet/artemis/core/config/DeferredEagerBeanInitializer.java
  src/main/java/de/tum/cit/aet/artemis/core/config/DisableDiscoveryOnRedisBuildAgentConfiguration.java
  src/main/java/de/tum/cit/aet/artemis/core/config/LocalCiBuildAgentHazelcastDataCondition.java
  src/main/java/de/tum/cit/aet/artemis/core/service/connectors/RedisHealthIndicator.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/localci/distributed/hazelcast/HazelcastDistributedDataProviderService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/localci/distributed/local/LocalDataProviderService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/localci/distributed/redisson/RedisClientListResolver.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/localci/distributed/redisson/RedissonDistributedDataProviderService.java
  src/main/resources/config/application-buildagent.yml
  src/main/resources/config/application-localci.yml
Owners: @krusche, @ls1intum/programming-maintainers, @ls1intum/operations-maintainers

missing conditions
  src/main/java/de/tum/cit/aet/artemis/core/config/LocalCiBuildAgentRedisDataCondition.java
  src/main/java/de/tum/cit/aet/artemis/core/config/RedisNotCoreCondition.java
Owners: @krusche

Add isRated flag to track if the student trains in the rated mode or the free mode
  src/main/java/de/tum/cit/aet/artemis/quiz/dto/QuizTrainingAnswerDTO.java
  src/main/java/de/tum/cit/aet/artemis/quiz/dto/question/QuizQuestionTrainingDTO.java
  src/main/java/de/tum/cit/aet/artemis/quiz/service/QuizQuestionProgressService.java
  src/main/java/de/tum/cit/aet/artemis/quiz/service/QuizTrainingService.java
  src/main/java/de/tum/cit/aet/artemis/quiz/web/QuizTrainingResource.java
  src/main/webapp/app/quiz/overview/course-training-quiz/course-training-quiz.component.ts
  src/main/webapp/app/quiz/overview/course-training-quiz/quiz-question-training.model.ts
  src/main/webapp/app/quiz/overview/course-training-quiz/quiz-training-answer.model.ts
  src/main/webapp/app/quiz/overview/service/course-training-quiz.service.spec.ts
  src/main/webapp/app/quiz/overview/service/course-training-quiz.service.ts
  src/test/java/de/tum/cit/aet/artemis/quiz/QuizQuestionProgressIntegrationTest.java
Owners: @ls1intum/quiz-maintainers

fix client tests
  src/main/webapp/app/quiz/overview/course-training-quiz/course-training-quiz.component.spec.ts
Owners: @ls1intum/quiz-maintainers

fix some issues together with Felix
  src/main/java/de/tum/cit/aet/artemis/core/config/ArtemisConfigHelper.java
  src/main/java/de/tum/cit/aet/artemis/core/config/Constants.java
  src/main/java/de/tum/cit/aet/artemis/core/config/ModuleFeatureInfoContributor.java
  src/main/java/de/tum/cit/aet/artemis/hyperion/config/HyperionConfiguration.java
  src/main/java/de/tum/cit/aet/artemis/hyperion/config/HyperionEnabled.java
  src/main/java/de/tum/cit/aet/artemis/hyperion/config/HyperionNotPresentException.java
  src/main/java/de/tum/cit/aet/artemis/hyperion/service/HyperionConsistencyCheckService.java
  src/main/java/de/tum/cit/aet/artemis/hyperion/service/HyperionProblemStatementRewriteService.java
  src/main/java/de/tum/cit/aet/artemis/hyperion/service/HyperionProgrammingExerciseContextRendererService.java
  src/main/java/de/tum/cit/aet/artemis/hyperion/service/HyperionProgrammingLanguageContextFilterService.java
  src/main/java/de/tum/cit/aet/artemis/hyperion/service/HyperionPromptTemplateService.java
  src/main/java/de/tum/cit/aet/artemis/hyperion/web/HyperionReviewAndRefineResource.java
  src/main/resources/config/application-buildagent.yml
  src/main/resources/config/application-core.yml
  src/test/java/de/tum/cit/aet/artemis/hyperion/architecture/HyperionCodeStyleArchitectureTest.java
  src/test/java/de/tum/cit/aet/artemis/hyperion/architecture/HyperionRepositoryArchitectureTest.java
  src/test/java/de/tum/cit/aet/artemis/hyperion/architecture/HyperionResourceArchitectureTest.java
  src/test/java/de/tum/cit/aet/artemis/hyperion/architecture/HyperionServiceArchitectureTest.java
  src/test/java/de/tum/cit/aet/artemis/hyperion/service/HyperionConsistencyCheckServiceTest.java
  src/test/java/de/tum/cit/aet/artemis/hyperion/service/HyperionProblemStatementRewriteServiceTest.java
  src/test/java/de/tum/cit/aet/artemis/hyperion/web/HyperionReviewAndRefineResourceTest.java
  src/test/java/de/tum/cit/aet/artemis/shared/base/AbstractSpringIntegrationLocalCILocalVCTest.java
Owners: @krusche, @ls1intum/operations-maintainers

update client side
  src/main/java/de/tum/cit/aet/artemis/assessment/dto/ExampleSubmissionDTO.java
  src/main/webapp/app/assessment/shared/assessment-dashboard/exercise-dashboard/tutor-participation.service.ts
  src/main/webapp/app/assessment/shared/entities/example-submission.model.ts
  src/main/webapp/app/exercise/shared/entities/participation/tutor-participation.model.ts
Owners: @krusche

update client side
  src/main/webapp/app/assessment/shared/assessment-dashboard/exercise-dashboard/exercise-assessment-dashboard.component.ts
  src/main/webapp/app/assessment/shared/assessment-dashboard/exercise-dashboard/tutor-participation.service.spec.ts
  src/main/webapp/app/modeling/manage/example-modeling/example-modeling-submission.component.spec.ts
  src/main/webapp/app/text/manage/example-text-submission/example-text-submission.component.spec.ts
Owners: @krusche, @ls1intum/apollon-maintainers

update client, docs, and remove run config
  .idea/runConfigurations/Artemis__Server__LocalVC___LocalCI__Hyperion.xml
  docs/dev/setup/server.rst
  gradle/openapi.gradle
  src/main/java/de/tum/cit/aet/artemis/core/config/Constants.java
  src/main/java/de/tum/cit/aet/artemis/hyperion/dto/ProblemStatementRewriteResponseDTO.java
  src/main/resources/config/application-artemis.yml
  src/main/resources/config/application-core.yml
  src/main/webapp/app/app.constants.ts
  src/main/webapp/app/programming/manage/instructions-editor/programming-exercise-editable-instruction.component.ts
Owners: @krusche, @ls1intum/operations-maintainers, @ls1intum/programming-maintainers

remove run config
  docs/dev/setup/server.rst
Owners: @krusche

update client side
  src/main/webapp/app/assessment/shared/assessment-dashboard/exercise-dashboard/exercise-assessment-dashboard.component.spec.ts
Owners: @krusche

style: code format
  src/main/java/de/tum/cit/aet/artemis/hyperion/service/HyperionConsistencyCheckService.java
  src/main/java/de/tum/cit/aet/artemis/hyperion/service/HyperionProblemStatementRewriteService.java
Owners: @krusche

code review comments
  src/main/java/de/tum/cit/aet/artemis/assessment/repository/ComplaintRepository.java
  src/main/java/de/tum/cit/aet/artemis/assessment/repository/ResultRepository.java
  src/main/java/de/tum/cit/aet/artemis/core/dto/CourseManagementDetailViewDTO.java
  src/main/java/de/tum/cit/aet/artemis/core/dto/StatisticsEntry.java
  src/main/java/de/tum/cit/aet/artemis/core/repository/StatisticsRepository.java
  src/main/java/de/tum/cit/aet/artemis/core/service/StatisticsService.java
  src/main/java/de/tum/cit/aet/artemis/core/service/course/CourseStatsService.java
  src/main/java/de/tum/cit/aet/artemis/core/util/DateUtil.java
  src/main/java/de/tum/cit/aet/artemis/exercise/service/ExerciseService.java
  src/main/java/de/tum/cit/aet/artemis/programming/repository/ProgrammingExerciseRepository.java
  src/test/java/de/tum/cit/aet/artemis/core/StatisticsRepositoryTest.java
  src/test/java/de/tum/cit/aet/artemis/core/util/CourseTestService.java
Owners: @krusche, @ls1intum/programming-maintainers

update tests
  src/main/java/de/tum/cit/aet/artemis/hyperion/dto/ProblemStatementRewriteResponseDTO.java
  src/test/java/de/tum/cit/aet/artemis/core/config/ModuleFeatureInfoContributorTest.java
Owners: @krusche

Development: Fix backspace key in online editor manual feedbacks and search window (#11281)
  src/main/webapp/app/shared/monaco-editor/monaco-editor.component.ts
Owners: @krusche

update failing test and client thresholds
  jest.config.js
  src/main/webapp/app/programming/manage/instructions-editor/programming-exercise-editable-instruction.component.spec.ts
Owners: @krusche, @ls1intum/programming-maintainers

set hyperion default config to false
  src/main/resources/config/application-core.yml
Owners: @ls1intum/operations-maintainers

update coverage
  jest.config.js
  supporting_scripts/code-coverage/module-coverage-client/check-client-module-coverage.mjs
Owners: @krusche

update integration test
  src/test/java/de/tum/cit/aet/artemis/assessment/TutorParticipationIntegrationTest.java
Owners: @krusche

update integration test
  src/main/webapp/app/assessment/shared/entities/example-submission.model.ts
Owners: @krusche

first partially complete solution to fix the bug
  src/main/java/de/tum/cit/aet/artemis/assessment/repository/ResultRepository.java
  src/main/java/de/tum/cit/aet/artemis/exam/repository/ExamRepository.java
  src/main/java/de/tum/cit/aet/artemis/exam/service/ExamService.java
  src/main/java/de/tum/cit/aet/artemis/quiz/repository/QuizQuestionRepository.java
Owners: @krusche, @ls1intum/quiz-maintainers

.github/CODEOWNERS:

# The CODEOWNERS file defines individuals or teams that are
# responsible for code this repository.

# Code owners are automatically requested for review when someone opens a
# pull request that modifies code that they own.
# Code owners are not automatically requested to review draft pull requests
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, @krusche will be
# requested for review when someone opens a pull request.

* @krusche

# Server code
/src/main/java/de/tum/cit/aet/artemis/athena         @ls1intum/athena-maintainers
/src/main/java/de/tum/cit/aet/artemis/atlas          @ls1intum/atlas-maintainers
/src/main/java/de/tum/cit/aet/artemis/buildagent     @ls1intum/programming-maintainers
/src/main/java/de/tum/cit/aet/artemis/communication  @ls1intum/communication-maintainers
/src/main/java/de/tum/cit/aet/artemis/iris           @ls1intum/iris-maintainers
/src/main/java/de/tum/cit/aet/artemis/lecture        @ls1intum/lectures-maintainers
/src/main/java/de/tum/cit/aet/artemis/lti            @ls1intum/lti-maintainers
/src/main/java/de/tum/cit/aet/artemis/modeling       @ls1intum/apollon-maintainers
/src/main/java/de/tum/cit/aet/artemis/plagiarism     @ls1intum/plagiarism-maintainers
/src/main/java/de/tum/cit/aet/artemis/programming    @ls1intum/programming-maintainers
/src/main/java/de/tum/cit/aet/artemis/quiz           @ls1intum/quiz-maintainers
/src/main/resources/config                           @ls1intum/operations-maintainers
/src/main/resources/config/liquibase                 @ls1intum/database-maintainers

# Client code & client tests
/src/main/webapp/app/atlas          @ls1intum/atlas-maintainers
/src/main/webapp/app/buildagent     @ls1intum/programming-maintainers
/src/main/webapp/app/communication  @ls1intum/communication-maintainers
/src/main/webapp/app/iris           @ls1intum/iris-maintainers
/src/main/webapp/app/lecture        @ls1intum/lectures-maintainers
/src/main/webapp/app/lti            @ls1intum/lti-maintainers
/src/main/webapp/app/modeling       @ls1intum/apollon-maintainers
/src/main/webapp/app/plagiarism     @ls1intum/plagiarism-maintainers
/src/main/webapp/app/programming    @ls1intum/programming-maintainers
/src/main/webapp/app/quiz           @ls1intum/quiz-maintainers

# Server tests
/src/test/java/de/tum/cit/aet/artemis/athena         @ls1intum/athena-maintainers
/src/test/java/de/tum/cit/aet/artemis/atlas          @ls1intum/atlas-maintainers
/src/test/java/de/tum/cit/aet/artemis/buildagent     @ls1intum/programming-maintainers
/src/test/java/de/tum/cit/aet/artemis/communication  @ls1intum/communication-maintainers
/src/test/java/de/tum/cit/aet/artemis/iris           @ls1intum/iris-maintainers
/src/test/java/de/tum/cit/aet/artemis/lecture        @ls1intum/lectures-maintainers
/src/test/java/de/tum/cit/aet/artemis/lti            @ls1intum/lti-maintainers
/src/test/java/de/tum/cit/aet/artemis/modeling       @ls1intum/apollon-maintainers
/src/test/java/de/tum/cit/aet/artemis/plagiarism     @ls1intum/plagiarism-maintainers
/src/test/java/de/tum/cit/aet/artemis/programming    @ls1intum/programming-maintainers
/src/test/java/de/tum/cit/aet/artemis/quiz           @ls1intum/quiz-maintainers

# Client integration tests
/src/test/javascript/spec/integration/code-editor     @ls1intum/programming-maintainers


# Other
/docker     @ls1intum/operations-maintainers
/.github    @ls1intum/operations-maintainers
/.ci        @ls1intum/operations-maintainers
