Repository ls1intum/Artemis, changes with the labels that .github/labeler.yml gives for each.
All labels: server, client, tests, cypress, database, documentation, docker, config-change, template

add new client tests
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.ts
  src/main/webapp/app/iris/exercise-chatbot/widget/chatbot-widget.component.ts
  src/main/webapp/app/iris/exercise-creation-websocket.service.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-update.component.spec.ts
Labels: client, tests

Fix tooltip
  src/main/webapp/app/exam/participate/exercises/exercise-overview-page/exam-exercise-overview-page.component.html
  src/main/webapp/app/exam/participate/exercises/exercise-overview-page/exam-exercise-overview-page.component.ts
  src/test/javascript/spec/component/exam/participate/exam-exercise-overview-page.component.spec.ts
Labels: client, tests

Updating tag "artemis-test1"
  shields.json
Labels: none

Fix answer edit bug
  src/main/webapp/app/shared/metis/metis.service.ts
  src/main/webapp/app/shared/notification/notification.service.ts
Labels: client

add new session tests (server)
  src/main/java/de/tum/in/www1/artemis/web/rest/iris/IrisExerciseCreationSessionResource.java
  src/test/java/de/tum/in/www1/artemis/iris/IrisExerciseCreationSessionIntegrationTest.java
Labels: server, tests

Set author role of posting
  src/main/java/de/tum/in/www1/artemis/service/metis/ConversationMessagingService.java
Labels: server

set author with groups
  src/main/java/de/tum/in/www1/artemis/service/metis/ConversationMessagingService.java
Labels: server

Add new channel message reply text
  src/main/webapp/app/entities/notification.model.ts
  src/main/webapp/app/shared/notification/notification.service.ts
Labels: client

Updating tag "artemis-test5"
  shields.json
Labels: none

add draft buttons linking to build-queue page in exercise view
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.html
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.ts
  src/main/webapp/app/exercises/programming/manage/programming-exercise-management-routing.module.ts
  src/main/webapp/app/exercises/programming/manage/programming-exercise.component.html
  src/main/webapp/app/exercises/programming/manage/programming-exercise.component.ts
  src/main/webapp/i18n/de/exercise.json
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/exercise.json
  src/main/webapp/i18n/en/programmingExercise.json
Labels: client

Updating tag "artemis-test6"
  shields.json
Labels: none

Updating tag "artemis-test6"
  shields.json
Labels: none

Updating tag "artemis-test2"
  shields.json
Labels: none

Updating tag "artemis-test2"
  shields.json
Labels: none

Updating tag "artemis-test2"
  shields.json
Labels: none

Updating tag "artemis-test5"
  shields.json
Labels: none

`Development`: Simplify tutorial group channel name generation
  src/main/java/de/tum/in/www1/artemis/repository/metis/conversation/ChannelRepository.java
  src/main/java/de/tum/in/www1/artemis/service/tutorialgroups/TutorialGroupChannelManagementService.java
Labels: server

Remove duplicated button
  src/main/webapp/app/exam/manage/student-exams/student-exam-detail.component.html
Labels: client

add datatable draft
  src/main/webapp/app/exercises/programming/manage/programming-exercise-management.module.ts
  src/main/webapp/app/localci/build-queue/build-queue.component.html
  src/main/webapp/app/localci/build-queue/build-queue.component.ts
Labels: client

Fix build
  src/main/webapp/app/exam/participate/exercises/exercise-overview-page/exam-exercise-overview-page.component.ts
Labels: client

Updating tag "artemis-test2"
  shields.json
Labels: none

Updating tag "artemis-test2"
  shields.json
Labels: none

Fix generateQuizQuestionsForExam to use Optional
  src/main/java/de/tum/in/www1/artemis/service/QuizPoolService.java
Labels: server

Updating tag "artemis-test2"
  shields.json
Labels: none

Setup certs in NSSDB before running tests
  docker/playwright-E2E-tests-mysql.yml
Labels: docker

Updating tag "artemis-test2"
  shields.json
Labels: none

Fix generateQuizQuestionsForExam to use findWithQuizGroupsAndQuestionsByExamId
  src/main/java/de/tum/in/www1/artemis/service/QuizPoolService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/QuizPoolResource.java
Labels: server

Logs for playwright script
  docker/playwright-E2E-tests-mysql.yml
Labels: docker

add new session message tests (server)
  src/test/java/de/tum/in/www1/artemis/iris/AbstractIrisIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/iris/IrisExerciseCreationMessageIntegrationTest.java
Labels: tests

add delay for agent registration
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCISharedBuildJobQueueService.java
Labels: server

Updating tag "artemis-test3"
  shields.json
Labels: none

Updating tag "artemis-test3"
  shields.json
Labels: none

more logs
  docker/playwright-E2E-tests-mysql.yml
Labels: docker

Updating tag "artemis-test3"
  shields.json
Labels: none

Updating tag "artemis-test3"
  shields.json
Labels: none

reduce delay
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCISharedBuildJobQueueService.java
Labels: server

Updating tag "artemis-test6"
  shields.json
Labels: none

Updating tag "artemis-test3"
  shields.json
Labels: none

Updating tag "artemis-test6"
  shields.json
Labels: none

Ignore https errors for testing
  docker/playwright-E2E-tests-mysql.yml
  src/test/playwright/playwright.config.ts
  src/test/playwright/support/commands.ts
  src/test/playwright/support/fixtures.ts
Labels: tests, docker

.github/labeler.yml:

server:
  - changed-files:
      - any-glob-to-any-file: src/main/java/**/*.java

client:
  - changed-files:
      - any-glob-to-any-file: src/main/webapp/**/*

tests:
  - changed-files:
      - any-glob-to-any-file: src/test/**/*

cypress:
  - changed-files:
      - any-glob-to-any-file: src/test/cypress/**/*

database:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/liquibase/master.xml

documentation:
  - changed-files:
      - any-glob-to-any-file: docs/**/*

docker:
  - changed-files:
      - any-glob-to-any-file: docker/**/*

config-change:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/*.yml

template:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/templates/**/*
