Repository ls1intum/Artemis, changes with the labels that .github/labeler.yml gives for each.
All labels: server, client, tests, cypress, database, documentation, docker, config-change, template

.github/labeler.yml:

server:
  - changed-files:
      - any-glob-to-any-file: src/main/java/**/*.java

client:
  - changed-files:
      - any-glob-to-any-file: src/main/webapp/**/*

tests:
  - changed-files:
      - any-glob-to-any-file: src/test/**/*

cypress:
  - changed-files:
      - any-glob-to-any-file: src/test/cypress/**/*

database:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/liquibase/master.xml

documentation:
  - changed-files:
      - any-glob-to-any-file: docs/**/*

docker:
  - changed-files:
      - any-glob-to-any-file: docker/**/*

config-change:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/*.yml

template:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/templates/**/*

Updating tag "artemis-test2"
  shields.json
Labels: none

Updating tag "artemis-test2"
  shields.json
Labels: none

Updating tag "artemis-test2"
  shields.json
Labels: none

Updating tag "artemis-test2"
  shields.json
Labels: none

check correct project type of new exercise during exercise creation instead of every push
  src/main/java/de/tum/in/www1/artemis/service/connectors/ci/ContinuousIntegrationTriggerService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localvc/LocalVCService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localvc/LocalVCServletService.java
Labels: server

Updating tag "artemis-test9"
  shields.json
Labels: none

Updating tag "artemis-test9"
  shields.json
Labels: none

Updating tag "artemis-test2"
  shields.json
Labels: none

Updating tag "artemis-test2"
  shields.json
Labels: none

Fix summary page
  src/main/webapp/app/entities/quiz/quiz-exercise.model.ts
  src/main/webapp/app/entities/quiz/quiz-participation.model.ts
  src/main/webapp/app/exam/participate/exam-participation.component.html
  src/main/webapp/app/exam/participate/summary/exam-result-summary.component.html
  src/main/webapp/app/exam/participate/summary/exam-result-summary.component.ts
  src/main/webapp/app/exam/participate/summary/exercises/header/exam-result-summary-exercise-card-header.component.html
  src/main/webapp/app/exam/participate/summary/exercises/header/exam-result-summary-exercise-card-header.component.ts
  src/main/webapp/app/exam/participate/summary/exercises/quiz-exam-summary/quiz-exam-summary.component.html
  src/main/webapp/app/exam/participate/summary/exercises/quiz-exam-summary/quiz-exam-summary.component.ts
Labels: client

Updating tag "artemis-test3"
  shields.json
Labels: none

Updating tag "artemis-test3"
  shields.json
Labels: none

Updating tag "artemis-test3"
  shields.json
Labels: none

Add quizPool.getMaxPoints() > 0 in setQuizExamProperties
  src/main/java/de/tum/in/www1/artemis/web/rest/StudentExamResource.java
Labels: server

Remove more post related code
  src/main/java/de/tum/in/www1/artemis/domain/metis/Post.java
  src/main/java/de/tum/in/www1/artemis/domain/notification/GroupNotificationFactory.java
  src/main/java/de/tum/in/www1/artemis/repository/metis/PostRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/specs/PostSpecs.java
  src/main/java/de/tum/in/www1/artemis/service/metis/PostService.java
  src/main/java/de/tum/in/www1/artemis/service/notifications/GroupNotificationService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/PostContextFilter.java
  src/main/webapp/app/overview/course-discussion/course-discussion.component.ts
  src/main/webapp/app/overview/discussion-section/discussion-section.component.ts
  src/main/webapp/app/shared/metis/metis.service.ts
  src/main/webapp/app/shared/metis/metis.util.ts
  src/main/webapp/app/shared/metis/post.service.ts
  src/main/webapp/app/shared/metis/posting-reactions-bar/post-reactions-bar/post-reactions-bar.component.ts
  src/main/webapp/app/shared/notification/notification.service.ts
  src/test/java/de/tum/in/www1/artemis/domain/notification/GroupNotificationFactoryTest.java
  src/test/javascript/spec/helpers/mocks/service/mock-post.service.ts
  src/test/javascript/spec/service/metis/metis.service.spec.ts
  src/test/javascript/spec/service/metis/post.service.spec.ts
Labels: server, client, tests

small fix
  src/main/webapp/app/admin/lti-configuration/lti-configuration.component.ts
  src/test/javascript/spec/component/admin/lti-configuration.component.spec.ts
Labels: client, tests

add generated bash scripts; add provider and generation service
  src/main/java/de/tum/in/www1/artemis/service/connectors/BuildScriptGenerationService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/BuildScriptProvider.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/GenericBuildScriptGenerationService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/GenericBuildScriptProvider.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/aeolus/AeolusBuildScriptGenerationService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/aeolus/AeolusBuildScriptProvider.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/aeolus/AeolusTemplateService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIContainerService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseService.java
  src/main/resources/templates/aeolus/assembler/default.sh
  src/main/resources/templates/aeolus/c/fact.sh
  src/main/resources/templates/aeolus/c/gcc.sh
  src/main/resources/templates/aeolus/c/gcc_static.sh
  src/main/resources/templates/aeolus/haskell/default.sh
  src/main/resources/templates/aeolus/haskell/default_sequential.sh
  src/main/resources/templates/aeolus/kotlin/default.sh
  src/main/resources/templates/aeolus/kotlin/default_coverage.sh
  src/main/resources/templates/aeolus/kotlin/default_sequential.sh
  src/main/resources/templates/aeolus/ocaml/default.sh
  src/main/resources/templates/aeolus/swift/plain.sh
  src/main/resources/templates/aeolus/swift/plain_static.sh
  src/main/resources/templates/aeolus/vhdl/default.sh
Labels: server, template

Add more client tests
  src/test/javascript/spec/component/overview/discussion-section/discussion-section.component.spec.ts
  src/test/javascript/spec/component/shared/metis/postings-reactions-bar/post-reactions-bar/post-reactions-bar.component.spec.ts
  src/test/javascript/spec/service/notification.service.spec.ts
Labels: tests

Adapt server tests
  src/main/java/de/tum/in/www1/artemis/service/notifications/SingleUserNotificationService.java
  src/test/java/de/tum/in/www1/artemis/domain/notification/GroupNotificationFactoryTest.java
  src/test/java/de/tum/in/www1/artemis/notification/GroupNotificationServiceTest.java
Labels: server, tests

Updating tag "artemis-test2"
  shields.json
Labels: none

feat: use angular control flow
  src/main/webapp/app/course/manage/detail/course-detail.component.html
  src/main/webapp/app/course/tutorial-groups/shared/tutorial-group-detail/tutorial-group-detail.component.html
  src/main/webapp/app/detail-overview-list/detail-overview-list.component.html
  src/main/webapp/app/exam/manage/exams/exam-detail.component.html
  src/main/webapp/app/lecture/lecture-detail.component.html
Labels: client

Updating tag "artemis-test3"
  shields.json
Labels: none

chore: implement feedback
  src/main/webapp/app/shared/detail-overview-navigation-bar/detail-overview-navigation-bar.component.ts
  src/test/cypress/cypress.config.ts
  src/test/cypress/cypress.env.json
Labels: client, tests, cypress

Updating tag "artemis-test2"
  shields.json
Labels: none

Updating tag "artemis-test3"
  shields.json
Labels: none

Updating tag "artemis-test6"
  shields.json
Labels: none

Updating tag "artemis-test4"
  shields.json
Labels: none

Updating tag "artemis-test6"
  shields.json
Labels: none

Updating tag "artemis-test4"
  shields.json
Labels: none

Add resource id to event logging
  src/main/java/de/tum/in/www1/artemis/domain/science/ScienceEvent.java
  src/main/java/de/tum/in/www1/artemis/service/science/ScienceEventService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/science/ScienceEventDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/science/ScienceResource.java
  src/main/resources/config/liquibase/changelog/20231211090000_changelog.xml
  src/main/webapp/app/overview/course-lectures/course-lecture-details.component.ts
  src/main/webapp/app/shared/science/science.component.ts
  src/main/webapp/app/shared/science/science.model.ts
  src/main/webapp/app/shared/science/science.service.ts
  src/main/webapp/app/shared/user-settings/science-settings/science-settings.service.ts
  src/test/java/de/tum/in/www1/artemis/ScienceIntegrationTest.java
  src/test/javascript/spec/component/shared/science.component.spec.ts
Labels: server, client, tests

Move obsolete post related functionality to messages and adapt tests
  src/main/java/de/tum/in/www1/artemis/domain/metis/Post.java
  src/main/java/de/tum/in/www1/artemis/domain/metis/PostContextConstraintValidator.java
  src/main/java/de/tum/in/www1/artemis/domain/notification/GroupNotificationFactory.java
  src/main/java/de/tum/in/www1/artemis/domain/notification/NotificationFactory.java
  src/main/java/de/tum/in/www1/artemis/domain/notification/NotificationTargetFactory.java
  src/main/java/de/tum/in/www1/artemis/domain/notification/SingleUserNotificationFactory.java
  src/main/java/de/tum/in/www1/artemis/repository/metis/ConversationMessageRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/metis/PostRepository.java
  src/main/java/de/tum/in/www1/artemis/service/metis/AnswerMessageService.java
  src/main/java/de/tum/in/www1/artemis/service/metis/AnswerPostService.java
  src/main/java/de/tum/in/www1/artemis/service/metis/ConversationMessagingService.java
  src/main/java/de/tum/in/www1/artemis/service/metis/PostService.java
  src/main/java/de/tum/in/www1/artemis/service/metis/PostingService.java
  src/main/java/de/tum/in/www1/artemis/service/notifications/ConversationNotificationService.java
  src/main/java/de/tum/in/www1/artemis/service/notifications/GroupNotificationService.java
  src/main/java/de/tum/in/www1/artemis/service/notifications/MailService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/metis/ConversationMessageResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/metis/PostResource.java
  src/main/java/de/tum/in/www1/artemis/web/websocket/dto/metis/PostDTO.java
  src/main/webapp/app/entities/metis/metis-post-dto.model.ts
  src/test/java/de/tum/in/www1/artemis/StatisticsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/domain/notification/GroupNotificationFactoryTest.java
  src/test/java/de/tum/in/www1/artemis/domain/notification/SingleUserNotificationFactoryTest.java
  src/test/java/de/tum/in/www1/artemis/metis/MessageIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/metis/PostIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/notification/GroupNotificationServiceTest.java
  src/test/java/de/tum/in/www1/artemis/notification/NotificationTargetFactoryTest.java
  src/test/java/de/tum/in/www1/artemis/notification/SingleUserNotificationServiceTest.java
  src/test/java/de/tum/in/www1/artemis/post/ConversationUtilService.java
  src/test/java/de/tum/in/www1/artemis/service/notifications/ConversationNotificationServiceTest.java
Labels: server, client, tests

Updating tag "artemis-test6"
  shields.json
Labels: none

Remove method call in exam-exercise-overview-page.component.html
  src/main/webapp/app/exam/participate/exercises/exercise-overview-page/exam-exercise-overview-page.component.html
  src/main/webapp/app/exam/participate/exercises/exercise-overview-page/exam-exercise-overview-page.component.ts
Labels: client

Prevent long feedback texts to get detached from their parent feedback entity.
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingAssessmentResource.java
Labels: server

Update templates
  src/main/resources/templates/iris/exercise-creation-adapt.hbs
  src/main/resources/templates/iris/exercise-creation-chat.hbs
  src/main/resources/templates/iris/exercise-creation.hbs
Labels: template

fix display of skipped tests
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIBuildJobExecutionService.java
Labels: server

Fix some server tests
  src/main/resources/templates/mail/notification/announcementPostEmail.html
  src/test/java/de/tum/in/www1/artemis/metis/PostIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/notification/GroupNotificationServiceTest.java
  src/test/java/de/tum/in/www1/artemis/notification/NotificationTargetFactoryTest.java
Labels: tests, template

remove unnecessary testing of correct project type for new pushes
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCITriggerService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localvc/LocalVCService.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalCIIntegrationTest.java
Labels: server, tests

Fix missing imports
  src/main/java/de/tum/in/www1/artemis/service/metis/ConversationMessagingService.java
Labels: server

Adjust post tags query
  src/main/java/de/tum/in/www1/artemis/repository/metis/ConversationMessageRepository.java
Labels: server
