Repository ls1intum/Artemis, changes with the labels that .github/labeler.yml gives for each.
All labels: server, client, tests, playwright, database, documentation, docker, config-change, template, assessment, athena, atlas, buildagent, communication, core, exam, exercise, fileupload, iris, hyperion, lecture, lti, modeling, plagiarism, programming, quiz, text, tutorialgroup

removed unnecessarry profile constant + nitpicks
  src/main/java/de/tum/cit/aet/artemis/core/config/Constants.java
  src/main/webapp/app/atlas/manage/agent-chat-modal/agent-chat-modal.component.spec.ts
  src/main/webapp/app/core/admin/features/admin-feature-toggle.component.spec.ts
Labels: server, client, atlas, core

fixed other tests failing
  src/test/java/de/tum/cit/aet/artemis/programming/util/ProgrammingExerciseTestService.java
  src/test/java/de/tum/cit/aet/artemis/shared/base/AbstractSpringIntegrationLocalCILocalVCTest.java
Labels: tests, programming

fix hibernate no session with left join fetch
  src/main/java/de/tum/cit/aet/artemis/atlas/repository/CourseLearnerProfileRepository.java
Labels: server, atlas

Development: Align gradle wrapper version
  build.gradle
Labels: none

Fixed code review comments
  src/main/java/de/tum/cit/aet/artemis/hyperion/dto/CodeGenerationRequestDTO.java
  src/main/java/de/tum/cit/aet/artemis/hyperion/service/codegeneration/CodeGenerationExecutionService.java
  src/main/java/de/tum/cit/aet/artemis/hyperion/service/codegeneration/CodeGenerationStrategy.java
  src/main/java/de/tum/cit/aet/artemis/hyperion/service/codegeneration/SolutionRepository.java
  src/main/java/de/tum/cit/aet/artemis/hyperion/service/codegeneration/TemplateRepository.java
  src/main/java/de/tum/cit/aet/artemis/hyperion/service/codegeneration/TestRepository.java
  src/main/resources/config/application-artemis.yml
  src/main/webapp/app/hyperion/actions/code-generation.action.ts
  src/main/webapp/app/programming/manage/code-editor/instructor-and-editor-container/code-editor-instructor-and-editor-container.component.ts
Labels: server, client, config-change, hyperion, programming

Resolving review comments
  .github/workflows/build.yml
  docs/user/sharing/sharing_metadata.png
  src/main/java/de/tum/cit/aet/artemis/core/dto/SharingInfoDTO.java
  src/main/java/de/tum/cit/aet/artemis/core/web/SharingSupportResource.java
  src/main/java/de/tum/cit/aet/artemis/programming/repository/ProgrammingExerciseRepository.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/ProgrammingExerciseService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/sharing/ExerciseSharingService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/sharing/ProgrammingExerciseImportFromSharingService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/sharing/SharingConnectorService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/sharing/SharingException.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/sharing/SharingHealthIndicator.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/sharing/SharingSetupInfo.java
  src/main/java/de/tum/cit/aet/artemis/programming/web/ExerciseSharingResource.java
  src/main/resources/config/application-sharing.yml
  src/main/webapp/app/app.routes.ts
  src/main/webapp/app/programming/shared/actions/programming-exercise-instructor-exercise-sharing.component.ts
  src/main/webapp/app/sharing/sharing.component.html
  src/main/webapp/app/sharing/sharing.component.spec.ts
  src/main/webapp/app/sharing/sharing.model.ts
  src/main/webapp/app/sharing/sharing.scss
  src/test/java/de/tum/cit/aet/artemis/programming/ProgrammingExerciseServiceTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/service/sharing/ExerciseSharingResourceImportTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/service/sharing/ExerciseSharingServiceTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/service/sharing/SharingConnectorHealthCheckRegistryTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/service/sharing/SharingPlatformMockProvider.java
  src/test/java/de/tum/cit/aet/artemis/programming/service/sharing/SharingSupportResourceTest.java
Labels: server, client, tests, documentation, config-change, core, programming

improvments by review Tobias Lippert et al.
  build.gradle
  src/main/java/de/tum/cit/aet/artemis/core/web/SharingSupportResource.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/ProgrammingExerciseImportFromFileService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/sharing/ExerciseSharingService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/sharing/ProgrammingExerciseImportFromSharingService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/sharing/SharingConnectorService.java
  src/main/java/de/tum/cit/aet/artemis/programming/web/ExerciseSharingResource.java
  src/main/webapp/app/app.routes.ts
  src/main/webapp/app/programming/manage/detail/programming-exercise-detail.component.ts
  src/main/webapp/app/programming/manage/detail/programming-exercise-detail.component.with-sharing.spec.ts
  src/main/webapp/app/programming/manage/services/programming-exercise-sharing.service.ts
  src/main/webapp/app/programming/manage/update/programming-exercise-update.component.ts
  src/main/webapp/app/programming/shared/actions/programming-exercise-instructor-exercise-sharing.component.spec.ts
  src/main/webapp/app/programming/shared/actions/programming-exercise-instructor-exercise-sharing.component.ts
  src/main/webapp/app/sharing/sharing.component.html
  src/main/webapp/app/sharing/sharing.component.spec.ts
  src/main/webapp/app/sharing/sharing.component.ts
  src/main/webapp/app/sharing/sharing.route.ts
  src/main/webapp/app/sharing/sharing.scss
  src/main/webapp/i18n/de/programmingExercise.json
  src/test/java/de/tum/cit/aet/artemis/programming/service/sharing/ExerciseSharingResourceExportTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/service/sharing/ExerciseSharingResourceImportTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/service/sharing/ExerciseSharingServiceTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/service/sharing/SharingPlatformMockProvider.java
  src/test/java/de/tum/cit/aet/artemis/programming/service/sharing/SharingSupportResourceTest.java
  src/test/java/de/tum/cit/aet/artemis/shared/base/AbstractSpringIntegrationIndependentTest.java
  src/test/java/de/tum/cit/aet/artemis/shared/base/AbstractSpringIntegrationLocalCILocalVCTest.java
  tsconfig for vs.json
Labels: server, client, tests, core, programming

2nd Review Tobias Lippert (and some cleanUp)
  build.gradle
  src/main/java/de/tum/cit/aet/artemis/core/config/Constants.java
  src/main/java/de/tum/cit/aet/artemis/core/dto/SharingInfoDTO.java
  src/main/java/de/tum/cit/aet/artemis/core/service/ProfileService.java
  src/main/java/de/tum/cit/aet/artemis/core/web/SharingSupportResource.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/ProgrammingExerciseImportFromFileService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/sharing/ExerciseSharingService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/sharing/ProgrammingExerciseImportFromSharingService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/sharing/SharingConnectorService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/sharing/SharingException.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/sharing/SharingHealthIndicator.java
  src/main/java/de/tum/cit/aet/artemis/programming/web/ExerciseSharingResource.java
  src/main/webapp/app/programming/manage/detail/programming-exercise-detail.component.ts
  src/main/webapp/app/programming/manage/detail/programming-exercise-detail.component.with-sharing.spec.ts
  src/main/webapp/app/programming/manage/services/programming-exercise-sharing.service.spec.ts
  src/main/webapp/app/programming/manage/services/programming-exercise-sharing.service.ts
  src/main/webapp/app/programming/manage/update/programming-exercise-update.component.ts
  src/main/webapp/app/sharing/sharing.component.ts
  src/test/java/de/tum/cit/aet/artemis/programming/service/sharing/ExerciseSharingResourceImportTest.java
Labels: server, client, tests, core, programming

Feedback from Tobias and Dominik Fuchß
  build.gradle
  docs/admin/setup/sharing.rst
  src/main/java/de/tum/cit/aet/artemis/core/config/Constants.java
  src/main/java/de/tum/cit/aet/artemis/core/dto/SharingInfoDTO.java
  src/main/java/de/tum/cit/aet/artemis/core/web/SharingSupportResource.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/sharing/ExerciseSharingService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/sharing/ProgrammingExerciseImportFromSharingService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/sharing/SharingConnectorService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/sharing/SharingException.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/sharing/SharingHealthIndicator.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/sharing/SharingSetupInfo.java
  src/main/java/de/tum/cit/aet/artemis/programming/web/ExerciseSharingResource.java
  src/main/webapp/app/programming/manage/detail/programming-exercise-detail.component.with-sharing.spec.ts
  src/main/webapp/app/programming/shared/actions/programming-exercise-instructor-exercise-sharing.component.ts
  src/main/webapp/app/sharing/sharing.component.html
  src/main/webapp/app/sharing/sharing.component.ts
  src/main/webapp/app/sharing/sharing.scss
  src/main/webapp/i18n/de/sharing.json
  src/main/webapp/i18n/en/sharing.json
  src/test/java/de/tum/cit/aet/artemis/programming/AbstractProgrammingIntegrationLocalCILocalVCTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/service/sharing/ExerciseSharingResourceExportTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/service/sharing/ExerciseSharingResourceImportTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/service/sharing/ExerciseSharingServiceTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/service/sharing/SharingConnectorServiceTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/service/sharing/SharingPlatformMockProvider.java
  src/test/java/de/tum/cit/aet/artemis/shared/base/AbstractSpringIntegrationIndependentTest.java
  src/test/java/de/tum/cit/aet/artemis/shared/base/AbstractSpringIntegrationLocalCILocalVCTest.java
  tsconfig for vs.json
Labels: server, client, tests, documentation, core, programming

Fixing Tests after Rebase
  src/main/java/de/tum/cit/aet/artemis/core/config/SecurityConfiguration.java
  src/main/java/de/tum/cit/aet/artemis/core/web/SharingSupportResource.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/sharing/ExerciseSharingService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/sharing/SharingConnectorService.java
  src/main/webapp/app/programming/manage/detail/programming-exercise-detail.component.with-sharing.spec.ts
  src/main/webapp/app/programming/manage/services/programming-exercise-sharing.service.spec.ts
  src/main/webapp/app/programming/manage/services/programming-exercise-sharing.service.ts
  src/main/webapp/app/programming/manage/update/programming-exercise-update.component.spec.ts
  src/main/webapp/app/programming/manage/update/programming-exercise-update.component.ts
  src/main/webapp/app/programming/shared/actions/programming-exercise-instructor-exercise-sharing.component.spec.ts
  src/main/webapp/app/sharing/sharing.component.html
  src/main/webapp/app/sharing/sharing.component.spec.ts
  src/main/webapp/app/sharing/sharing.component.ts
  src/main/webapp/app/sharing/sharing.scss
  src/main/webapp/i18n/de/sharing.json
  src/main/webapp/i18n/en/sharing.json
  src/test/java/de/tum/cit/aet/artemis/programming/AbstractProgrammingIntegrationLocalCILocalVCTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/service/sharing/ExerciseSharingResourceImportTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/service/sharing/ExerciseSharingServiceTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/service/sharing/SharingConnectorServiceTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/service/sharing/SharingPlatformMockProvider.java
  src/test/java/de/tum/cit/aet/artemis/programming/service/sharing/SharingSupportResourceTest.java
Labels: server, client, tests, core, programming

Various CodeRabbit Fixes
  docs/user/sharing.rst
  src/main/java/de/tum/cit/aet/artemis/core/config/RestTemplateConfiguration.java
  src/main/java/de/tum/cit/aet/artemis/core/web/SharingSupportResource.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/sharing/ExerciseSharingService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/sharing/ProgrammingExerciseImportFromSharingService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/sharing/SharingConnectorService.java
  src/main/webapp/app/programming/manage/detail/programming-exercise-detail.component.with-sharing.spec.ts
  src/main/webapp/app/programming/manage/services/programming-exercise-sharing.service.ts
  src/main/webapp/app/programming/manage/update/programming-exercise-update.component.spec.ts
  src/main/webapp/app/programming/manage/update/programming-exercise-update.component.ts
  src/main/webapp/app/sharing/sharing.component.ts
  src/test/java/de/tum/cit/aet/artemis/programming/service/sharing/ExerciseSharingResourceImportTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/service/sharing/ExerciseSharingServiceTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/service/sharing/SharingConnectorServiceTest.java
Labels: server, client, tests, documentation, core, programming

3rd Review Tobias
  .idea/runConfigurations/Artemis_JavaScript_Debug.xml
  docs/admin/setup/sharing.rst
  src/main/java/de/tum/cit/aet/artemis/core/config/SecurityConfiguration.java
  src/main/java/de/tum/cit/aet/artemis/core/dto/SharingInfoDTO.java
  src/main/java/de/tum/cit/aet/artemis/core/web/SharingSupportResource.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/sharing/ExerciseSharingService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/sharing/SharingConnectorService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/sharing/SharingHealthIndicator.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/sharing/SharingSetupInfo.java
  src/main/webapp/app/programming/manage/services/programming-exercise-sharing.service.ts
  src/main/webapp/app/programming/shared/actions/programming-exercise-instructor-exercise-sharing.component.spec.ts
  src/main/webapp/app/programming/shared/actions/programming-exercise-instructor-exercise-sharing.component.ts
  src/main/webapp/app/sharing/sharing.component.ts
  src/main/webapp/i18n/de/sharing.json
  src/main/webapp/i18n/en/sharing.json
  src/test/java/de/tum/cit/aet/artemis/programming/service/sharing/ExerciseSharingResourceExportTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/service/sharing/ExerciseSharingResourceImportTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/service/sharing/ExerciseSharingServiceTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/service/sharing/SharingPlatformMockProvider.java
  src/test/java/de/tum/cit/aet/artemis/programming/service/sharing/SharingSupportResourceTest.java
Labels: server, client, tests, documentation, core, programming

3.5th Review Tobias
  .idea/runConfigurations/Artemis_JavaScript_Debug.xml
  src/main/java/de/tum/cit/aet/artemis/core/web/SharingSupportResource.java
  src/main/webapp/app/programming/manage/services/programming-exercise-sharing.service.ts
  src/main/webapp/i18n/de/sharing.json
  src/main/webapp/i18n/en/sharing.json
Labels: server, client, core, programming

reimplemented client - tests
  src/main/webapp/app/atlas/manage/agent-chat-modal/agent-chat-modal.component.spec.ts
  src/main/webapp/app/atlas/manage/agent-chat-modal/agent-chat-modal.component.ts
Labels: client, atlas

reimplemented client - tests
  src/main/webapp/app/atlas/manage/agent-chat-modal/agent-chat.service.spec.ts
Labels: client, atlas

Review suggestions
  src/main/java/de/tum/cit/aet/artemis/exam/service/ExamRoomDistributionService.java
  src/main/java/de/tum/cit/aet/artemis/exam/service/ExamRoomService.java
  src/main/java/de/tum/cit/aet/artemis/exam/web/ExamResource.java
  src/main/java/de/tum/cit/aet/artemis/exam/web/ExamRoomDistributionResource.java
  src/main/webapp/app/core/admin/exam-rooms/exam-rooms.component.ts
  src/test/java/de/tum/cit/aet/artemis/exam/ExamIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/exam/ExamRoomIntegrationTest.java
Labels: server, client, tests, core, exam

.github/labeler.yml:

server:
  - changed-files:
      - any-glob-to-any-file: src/main/java/**/*.java

client:
  - changed-files:
      - any-glob-to-any-file: src/main/webapp/**/*

tests:
  - changed-files:
      - any-glob-to-any-file: src/test/**/*

playwright:
  - changed-files:
      - any-glob-to-any-file: src/test/playwright/**/*

database:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/liquibase/master.xml

documentation:
  - changed-files:
      - any-glob-to-any-file: docs/**/*

docker:
  - changed-files:
      - any-glob-to-any-file: docker/**/*

config-change:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/*.yml

template:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/templates/**/*

# module labels
assessment:
  - changed-files:
      - any-glob-to-any-file:
          - src/main/java/de/tum/cit/aet/artemis/assessment/**/*
          - src/test/java/de/tum/cit/aet/artemis/assessment/**/*
          - src/main/webapp/app/assessment/**/*

athena:
  - changed-files:
      - any-glob-to-any-file:
          - src/main/java/de/tum/cit/aet/artemis/athena/**/*
          - src/test/java/de/tum/cit/aet/artemis/athena/**/*

atlas:
  - changed-files:
      - any-glob-to-any-file:
          - src/main/java/de/tum/cit/aet/artemis/atlas/**/*
          - src/test/java/de/tum/cit/aet/artemis/atlas/**/*
          - src/main/webapp/app/atlas/**/*

buildagent:
  - changed-files:
      - any-glob-to-any-file:
          - src/main/java/de/tum/cit/aet/artemis/buildagent/**/*
          - src/test/java/de/tum/cit/aet/artemis/buildagent/**/*
          - src/main/webapp/app/buildagent/**/*

communication:
  - changed-files:
      - any-glob-to-any-file:
          - src/main/java/de/tum/cit/aet/artemis/communication/**/*
          - src/test/java/de/tum/cit/aet/artemis/communication/**/*
          - src/main/webapp/app/communication/**/*

core:
  - changed-files:
      - any-glob-to-any-file:
          - src/main/java/de/tum/cit/aet/artemis/core/**/*
          - src/test/java/de/tum/cit/aet/artemis/core/**/*
          - src/main/webapp/app/core/**/*

exam:
  - changed-files:
      - any-glob-to-any-file:
          - src/main/java/de/tum/cit/aet/artemis/exam/**/*
          - src/test/java/de/tum/cit/aet/artemis/exam/**/*
          - src/main/webapp/app/exam/**/*

exercise:
  - changed-files:
      - any-glob-to-any-file:
          - src/main/java/de/tum/cit/aet/artemis/exercise/**/*
          - src/test/java/de/tum/cit/aet/artemis/exercise/**/*
          - src/main/webapp/app/exercise/**/*

fileupload:
  - changed-files:
      - any-glob-to-any-file:
          - src/main/java/de/tum/cit/aet/artemis/fileupload/**/*
          - src/test/java/de/tum/cit/aet/artemis/fileupload/**/*
          - src/main/webapp/app/fileupload/**/*

iris:
  - changed-files:
      - any-glob-to-any-file:
          - src/main/java/de/tum/cit/aet/artemis/iris/**/*
          - src/test/java/de/tum/cit/aet/artemis/iris/**/*
          - src/main/webapp/app/iris/**/*

hyperion:
  - changed-files:
      - any-glob-to-any-file:
          - src/main/java/de/tum/cit/aet/artemis/hyperion/**/*
          - src/test/java/de/tum/cit/aet/artemis/hyperion/**/*
          - src/main/webapp/app/hyperion/**/*

lecture:
  - changed-files:
      - any-glob-to-any-file:
          - src/main/java/de/tum/cit/aet/artemis/lecture/**/*
          - src/test/java/de/tum/cit/aet/artemis/lecture/**/*
          - src/main/webapp/app/lecture/**/*

lti:
  - changed-files:
      - any-glob-to-any-file:
          - src/main/java/de/tum/cit/aet/artemis/lti/**/*
          - src/test/java/de/tum/cit/aet/artemis/lti/**/*
          - src/main/webapp/app/lti/**/*

modeling:
  - changed-files:
      - any-glob-to-any-file:
          - src/main/java/de/tum/cit/aet/artemis/modeling/**/*
          - src/test/java/de/tum/cit/aet/artemis/modeling/**/*
          - src/main/webapp/app/modeling/**/*

plagiarism:
  - changed-files:
      - any-glob-to-any-file:
          - src/main/java/de/tum/cit/aet/artemis/plagiarism/**/*
          - src/test/java/de/tum/cit/aet/artemis/plagiarism/**/*
          - src/main/webapp/app/plagiarism/**/*

programming:
  - changed-files:
      - any-glob-to-any-file:
          - src/main/java/de/tum/cit/aet/artemis/programming/**/*
          - src/test/java/de/tum/cit/aet/artemis/programming/**/*
          - src/main/webapp/app/programming/**/*

quiz:
  - changed-files:
      - any-glob-to-any-file:
          - src/main/java/de/tum/cit/aet/artemis/quiz/**/*
          - src/test/java/de/tum/cit/aet/artemis/quiz/**/*
          - src/main/webapp/app/quiz/**/*

text:
  - changed-files:
      - any-glob-to-any-file:
          - src/main/java/de/tum/cit/aet/artemis/text/**/*
          - src/test/java/de/tum/cit/aet/artemis/text/**/*
          - src/main/webapp/app/text/**/*

tutorialgroup:
  - changed-files:
      - any-glob-to-any-file:
          - src/main/java/de/tum/cit/aet/artemis/tutorialgroup/**/*
          - src/test/java/de/tum/cit/aet/artemis/tutorialgroup/**/*
          - src/main/webapp/app/tutorialgroup/**/*
