Repository ls1intum/Artemis, changes with the labels that .github/labeler.yml gives for each.
All labels: server, client, tests, cypress, database, documentation, docker, config-change, template

Allow students to pin messages with moderation rights
  src/main/java/de/tum/in/www1/artemis/service/metis/ConversationMessagingService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/metis/ConversationMessageResource.java
Labels: server

Show mention notifications if course-wide channel is hidden
  src/main/webapp/app/shared/metis/metis-conversation.service.ts
  src/main/webapp/app/shared/notification/notification.service.ts
Labels: client

Check any topic
  src/test/java/de/tum/in/www1/artemis/iris/AbstractIrisIntegrationTest.java
Labels: tests

Updating tag "artemis-test9"
  shields.json
Labels: none

optimize timeout regular expressions
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseFeedbackCreationService.java
  src/test/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseFeedbackCreationServiceTest.java
Labels: server, tests

Rename parameter in IrisConnectorService
  src/main/java/de/tum/in/www1/artemis/service/connectors/iris/IrisConnectorService.java
Labels: server

Add search and sort functionality in course-enrollment page.
  src/main/webapp/app/overview/course-registration/course-registration.component.html
  src/main/webapp/app/overview/course-registration/course-registration.component.ts
Labels: client

Add Javadoc
  src/main/java/de/tum/in/www1/artemis/domain/iris/message/IrisExercisePlan.java
Labels: server

Adapt and add few client tests
  src/test/javascript/spec/component/course/course-overview.component.spec.ts
  src/test/javascript/spec/service/notification.service.spec.ts
Labels: tests

Add client test
  src/main/webapp/app/shared/notification/notification.service.ts
  src/test/javascript/spec/service/notification.service.spec.ts
Labels: client, tests

Updating tag "artemis-test3"
  shields.json
Labels: none

Add optional client arguments to Iris message endpoint
  src/main/java/de/tum/in/www1/artemis/service/iris/IrisSessionService.java
  src/main/java/de/tum/in/www1/artemis/service/iris/session/IrisChatSessionService.java
  src/main/java/de/tum/in/www1/artemis/service/iris/session/IrisCodeEditorSessionService.java
  src/main/java/de/tum/in/www1/artemis/service/iris/session/IrisHestiaSessionService.java
  src/main/java/de/tum/in/www1/artemis/service/iris/session/IrisSessionSubServiceInterface.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/IrisMessageDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/iris/IrisMessageResource.java
  src/main/webapp/app/iris/exercise-chatbot/chatbot-button.component.ts
  src/main/webapp/app/iris/exercise-chatbot/widget/chatbot-widget.component.ts
  src/main/webapp/app/iris/http-message.service.ts
  src/main/webapp/app/iris/session.service.ts
Labels: server, client

Fix server test
  src/main/java/de/tum/in/www1/artemis/domain/notification/SingleUserNotificationFactory.java
  src/test/java/de/tum/in/www1/artemis/notification/SingleUserNotificationServiceTest.java
Labels: server, tests

Fixes faulty test, uses baseUrl from .env everywhere
  src/test/playwright/playwright.config.ts
  src/test/playwright/playwright.env
  src/test/playwright/support/commands.ts
  src/test/playwright/support/pageobjects/course/CourseManagementPage.ts
Labels: tests

Updating tag "artemis-test2"
  shields.json
Labels: none

Split long method
  src/main/java/de/tum/in/www1/artemis/service/metis/ReactionService.java
Labels: server

Remove dublicate tests
  src/test/java/de/tum/in/www1/artemis/metis/AnswerMessageIntegrationTest.java
Labels: tests

Updating tag "artemis-test2"
  shields.json
Labels: none

Updating tag "artemis-test3"
  shields.json
Labels: none

Updating tag "artemis-test3"
  shields.json
Labels: none

Add more tests
  src/main/java/de/tum/in/www1/artemis/service/notifications/GroupNotificationService.java
  src/main/webapp/app/overview/discussion-section/discussion-section.component.html
  src/main/webapp/app/overview/discussion-section/discussion-section.component.ts
  src/main/webapp/i18n/de/metis.json
  src/main/webapp/i18n/en/metis.json
  src/test/java/de/tum/in/www1/artemis/metis/PostIntegrationTest.java
  src/test/javascript/spec/component/overview/course-conversations/services/channel.service.spec.ts
  src/test/javascript/spec/component/overview/course-conversations/services/metis-conversation.service.spec.ts
  src/test/javascript/spec/component/overview/discussion-section/discussion-section.component.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-notification.service.ts
Labels: server, client, tests

Use channel name
  src/main/java/de/tum/in/www1/artemis/domain/notification/SingleUserNotificationFactory.java
Labels: server

Updating tag "artemis-test6"
  shields.json
Labels: none

Remove port for testing
  src/test/playwright/support/commands.ts
Labels: tests

Updating tag "artemis-test6"
  shields.json
Labels: none

Updating tag "artemis-test6"
  shields.json
Labels: none

Updating tag "artemis-test6"
  shields.json
Labels: none

Updating tag "artemis-test2"
  shields.json
Labels: none

Updating tag "artemis-test2"
  shields.json
Labels: none

Updating tag "artemis-test3"
  shields.json
Labels: none

suggestions by @Ceiridge
  docs/dev/setup/localci-localvc.rst
Labels: documentation

Updating tag "artemis-test5"
  shields.json
Labels: none

remove debug output
  src/main/java/de/tum/in/www1/artemis/service/connectors/aeolus/AeolusTemplateService.java
Labels: server

Updating tag "artemis-test6"
  shields.json
Labels: none

chore: cleanup
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/webapp/app/course/manage/detail/course-detail-line-chart.component.html
  src/main/webapp/i18n/de/course.json
  src/main/webapp/i18n/en/course.json
Labels: server, client

Updating tag "artemis-test5"
  shields.json
Labels: none

split custom build plan
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.module.ts
  src/main/webapp/app/exercises/programming/manage/update/update-components/programming-exercise-custom-aeolus-build-plan.component.html
  src/main/webapp/app/exercises/programming/manage/update/update-components/programming-exercise-custom-aeolus-build-plan.component.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-custom-build-plan.component.spec.ts
Labels: client, tests

fix test
  src/test/javascript/spec/component/overview/course-lectures/course-lecture-details.component.spec.ts
Labels: tests

only log lecture open
  src/main/java/de/tum/in/www1/artemis/domain/science/ScienceEventType.java
  src/main/webapp/app/shared/science/science.model.ts
Labels: server, client

Updating tag "artemis-test2"
  shields.json
Labels: none

.github/labeler.yml:

server:
  - changed-files:
      - any-glob-to-any-file: src/main/java/**/*.java

client:
  - changed-files:
      - any-glob-to-any-file: src/main/webapp/**/*

tests:
  - changed-files:
      - any-glob-to-any-file: src/test/**/*

cypress:
  - changed-files:
      - any-glob-to-any-file: src/test/cypress/**/*

database:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/liquibase/master.xml

documentation:
  - changed-files:
      - any-glob-to-any-file: docs/**/*

docker:
  - changed-files:
      - any-glob-to-any-file: docker/**/*

config-change:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/*.yml

template:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/templates/**/*
