Repository ls1intum/Artemis, changes with the labels that .github/labeler.yml gives for each.
All labels: server, client, tests, cypress, database, documentation, docker, config-change, template

.github/labeler.yml:

server:
  - changed-files:
      - any-glob-to-any-file: src/main/java/**/*.java

client:
  - changed-files:
      - any-glob-to-any-file: src/main/webapp/**/*

tests:
  - changed-files:
      - any-glob-to-any-file: src/test/**/*

cypress:
  - changed-files:
      - any-glob-to-any-file: src/test/cypress/**/*

database:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/liquibase/master.xml

documentation:
  - changed-files:
      - any-glob-to-any-file: docs/**/*

docker:
  - changed-files:
      - any-glob-to-any-file: docker/**/*

config-change:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/*.yml

template:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/templates/**/*

chore: implement feedback
  src/main/webapp/app/detail-overview-list/detail.module.ts
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.ts
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise-lifecycle-buttons.component.ts
Labels: client

remove unnecessary variable
  src/main/java/de/tum/in/www1/artemis/service/connectors/localvc/LocalVCService.java
Labels: server

Adjust statistics queries and tests
  src/main/java/de/tum/in/www1/artemis/repository/StatisticsRepository.java
  src/test/java/de/tum/in/www1/artemis/StatisticsIntegrationTest.java
Labels: server, tests

remove unnecessary variable in LocalCITriggerService
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCITriggerService.java
Labels: server

Reduce nesting if in setQuizExamProperties
  src/main/java/de/tum/in/www1/artemis/web/rest/StudentExamResource.java
Labels: server

Some cleanup
  src/main/java/de/tum/in/www1/artemis/service/metis/ConversationMessagingService.java
  src/test/javascript/spec/component/course/course-overview.component.spec.ts
Labels: server, tests

remove debugging
  src/main/java/de/tum/in/www1/artemis/service/connectors/aeolus/AeolusTemplateService.java
Labels: server

Some more cleanup
  src/main/java/de/tum/in/www1/artemis/domain/metis/Post.java
  src/main/java/de/tum/in/www1/artemis/repository/StatisticsRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/metis/ConversationMessageRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/metis/PostRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/specs/PostSpecs.java
  src/main/java/de/tum/in/www1/artemis/service/metis/AnswerPostService.java
  src/main/java/de/tum/in/www1/artemis/service/metis/ConversationMessagingService.java
  src/main/java/de/tum/in/www1/artemis/service/metis/PostService.java
  src/main/java/de/tum/in/www1/artemis/service/metis/PostingService.java
  src/main/java/de/tum/in/www1/artemis/service/metis/ReactionService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/PostContextFilter.java
  src/main/webapp/app/shared/markdown-editor/commands/courseArtifactReferenceCommands/userMentionCommand.ts
  src/main/webapp/app/shared/metis/metis-conversation.service.ts
  src/main/webapp/app/shared/metis/posting-create-edit-modal/post-create-edit-modal/post-create-edit-modal.component.ts
  src/test/java/de/tum/in/www1/artemis/metis/AnswerMessageIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/metis/GroupChatIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/metis/MessageIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/metis/OneToOneChatIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/metis/PostIntegrationTest.java
  src/test/javascript/spec/component/course/course-overview.component.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-metis-conversation.service.ts
Labels: server, client, tests

Fix dropdown menu layout
  src/main/webapp/app/overview/course-discussion/course-discussion.component.html
Labels: client

Add missing return in java doc
  src/main/java/de/tum/in/www1/artemis/service/notifications/SingleUserNotificationService.java
Labels: server

Updating tag "artemis-test2"
  shields.json
Labels: none

Improve chat performance
  src/main/java/de/tum/in/www1/artemis/service/iris/session/IrisExerciseCreationSessionService.java
  src/main/resources/templates/iris/code-editor-chat.hbs
  src/main/resources/templates/iris/exercise-creation-adapt.hbs
  src/main/resources/templates/iris/exercise-creation-chat.hbs
  src/main/webapp/app/iris/exercise-chatbot/chatbot-button.component.ts
Labels: server, client, template

Updating tag "artemis-test3"
  shields.json
Labels: none

fix widget tests and remove executing from content domain
  src/main/java/de/tum/in/www1/artemis/domain/iris/message/IrisExercisePlan.java
  src/test/javascript/spec/component/iris/ui/chatbot-widget.component.spec.ts
Labels: server, tests

Updating tag "artemis-test4"
  shields.json
Labels: none

fix chatbot button tests
  src/test/javascript/spec/component/iris/ui/code-editor-chatbot-button.component.spec.ts
  src/test/javascript/spec/component/iris/ui/tutor-chatbot-button.component.spec.ts
Labels: tests

Updating tag "artemis-test6"
  shields.json
Labels: none

Updating tag "artemis-test2"
  shields.json
Labels: none

fix programming-exercise-update component tests
  src/test/javascript/spec/component/programming-exercise/programming-exercise-update.component.spec.ts
Labels: tests

chores
  src/test/javascript/spec/component/iris/ui/tutor-chatbot-button.component.spec.ts
Labels: tests

Refactor IrisChatSessionService to use DTO
  src/main/java/de/tum/in/www1/artemis/service/connectors/iris/IrisConnectorService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/iris/dto/IrisRequestDTO.java
  src/main/java/de/tum/in/www1/artemis/service/dto/iris/chat/IrisChatRequestDTO.java
  src/main/java/de/tum/in/www1/artemis/service/dto/iris/codeeditor/IrisCodeEditorChatDTO.java
  src/main/java/de/tum/in/www1/artemis/service/dto/iris/codeeditor/IrisCodeEditorGenerationDTO.java
  src/main/java/de/tum/in/www1/artemis/service/dto/iris/settings/IrisCombinedChatSubSettingsDTO.java
  src/main/java/de/tum/in/www1/artemis/service/dto/iris/settings/IrisCombinedCodeEditorSubSettingsDTO.java
  src/main/java/de/tum/in/www1/artemis/service/dto/iris/settings/IrisCombinedHestiaSubSettingsDTO.java
  src/main/java/de/tum/in/www1/artemis/service/dto/iris/settings/IrisCombinedSettingsDTO.java
  src/main/java/de/tum/in/www1/artemis/service/iris/session/IrisChatSessionService.java
  src/main/java/de/tum/in/www1/artemis/service/iris/session/IrisCodeEditorSessionService.java
  src/main/java/de/tum/in/www1/artemis/service/iris/settings/IrisSettingsService.java
  src/main/java/de/tum/in/www1/artemis/service/iris/settings/IrisSubSettingsService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/iris/IrisSettingsResource.java
  src/test/java/de/tum/in/www1/artemis/iris/settings/IrisSettingsIntegrationTest.java
Labels: server, tests

Updating tag "artemis-test2"
  shields.json
Labels: none

Migrate Iris Chat to Pyris Messages V2
  src/main/java/de/tum/in/www1/artemis/service/iris/session/IrisChatSessionService.java
  src/test/java/de/tum/in/www1/artemis/iris/IrisChatMessageIntegrationTest.java
Labels: server, tests

Update AbstractIrisIntegrationTest
  src/test/java/de/tum/in/www1/artemis/iris/AbstractIrisIntegrationTest.java
Labels: tests

Updating tag "artemis-test3"
  shields.json
Labels: none

Updating tag "artemis-test6"
  shields.json
Labels: none

fix failed tests
  src/main/java/de/tum/in/www1/artemis/domain/iris/message/IrisExercisePlan.java
  src/main/java/de/tum/in/www1/artemis/repository/iris/IrisExerciseCreationSessionRepository.java
  src/main/java/de/tum/in/www1/artemis/service/iris/websocket/IrisExerciseCreationWebsocketService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/iris/IrisMessageResource.java
  src/main/webapp/app/iris/exercise-chatbot/widget/chatbot-widget.component.ts
  src/test/java/de/tum/in/www1/artemis/iris/IrisChatMessageIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/iris/IrisCodeEditorMessageIntegrationTest.java
  src/test/javascript/spec/component/programming-exercise/programming-exercise-update.component.spec.ts
Labels: server, client, tests

make cpc docs more detailed (after review)
  docs/user/plagiarism-check.rst
Labels: documentation

Updating tag "artemis-test3"
  shields.json
Labels: none

add missing JavaDoc
  src/main/java/de/tum/in/www1/artemis/domain/iris/message/IrisExercisePlan.java
Labels: server

Updating tag "artemis-test2"
  shields.json
Labels: none

Updating tag "artemis-test2"
  shields.json
Labels: none

feat: improve ui
  src/main/webapp/app/course/manage/course-management.service.ts
  src/main/webapp/app/course/manage/detail/course-detail-line-chart.component.html
  src/main/webapp/app/course/manage/detail/course-detail-line-chart.component.ts
  src/main/webapp/i18n/de/course.json
  src/main/webapp/i18n/en/course.json
Labels: client

Updating tag "artemis-test3"
  shields.json
Labels: none

Updating tag "artemis-test3"
  shields.json
Labels: none

chore: fix tests
  src/test/javascript/spec/component/course/detail/course-detail-line-chart.component.spec.ts
Labels: tests

Fix broken group chat answer
  src/main/java/de/tum/in/www1/artemis/domain/notification/NotificationConstants.java
  src/main/java/de/tum/in/www1/artemis/domain/notification/SingleUserNotificationFactory.java
  src/main/java/de/tum/in/www1/artemis/repository/metis/conversation/ConversationRepository.java
  src/main/webapp/i18n/de/notification.json
  src/main/webapp/i18n/en/notification.json
Labels: server, client

Don't load post tags
  src/main/webapp/app/shared/metis/metis.service.ts
  src/main/webapp/app/shared/metis/post.service.ts
  src/test/javascript/spec/service/metis/metis.service.spec.ts
Labels: client, tests

Add generation loop in IrisCodeEditorSessionService
  src/main/java/de/tum/in/www1/artemis/domain/iris/message/IrisExercisePlan.java
  src/main/java/de/tum/in/www1/artemis/service/iris/session/IrisCodeEditorSessionService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/iris/IrisCodeEditorSessionResource.java
  src/main/webapp/app/app.constants.ts
  src/main/webapp/app/course/manage/course-management-tab-bar/course-management-tab-bar.component.ts
  src/main/webapp/app/course/manage/detail/course-detail.component.ts
  src/main/webapp/app/exercises/programming/manage/code-editor/code-editor-instructor-and-editor-container.component.ts
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.ts
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.html
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.ts
  src/main/webapp/app/exercises/shared/exercise-hint/manage/exercise-hint-update.component.ts
  src/main/webapp/app/iris/exercise-chatbot/widget/chatbot-widget.component.ts
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.ts
  src/main/webapp/app/shared/layouts/navbar/navbar.component.ts
  src/test/javascript/spec/component/exercise-hint/manage/exercise-hint-update.component.spec.ts
  src/test/javascript/spec/component/overview/exercise-details/course-exercise-details.component.spec.ts
Labels: server, client, tests

fix some tests
  src/main/webapp/app/shared/science/science.component.ts
  src/test/java/de/tum/in/www1/artemis/ScienceIntegrationTest.java
  src/test/javascript/spec/component/overview/course-lectures/course-lecture-details.component.spec.ts
  src/test/javascript/spec/component/shared/science.component.spec.ts
  src/test/javascript/spec/component/shared/user-settings/science-settings.component.spec.ts
  src/test/javascript/spec/component/shared/user-settings/science-settings.service.spec.ts
  src/test/javascript/spec/service/science.service.spec.ts
Labels: client, tests
