Repository ls1intum/Artemis, changes with the labels that .github/labeler.yml gives for each.
All labels: server, client, tests, cypress, database, documentation, docker, config-change, template

Angular 17 controlflow
  src/main/webapp/app/exam/manage/exam-status.component.html
  src/main/webapp/app/exam/manage/exams/exam-checklist-component/exam-checklist.component.html
  src/main/webapp/app/exam/manage/student-exams/student-exam-detail.component.html
  src/main/webapp/app/exam/manage/student-exams/student-exams.component.html
  src/main/webapp/app/exam/manage/test-runs/test-run-management.component.html
  src/main/webapp/app/exam/participate/exam-cover/exam-participation-cover.component.html
  src/main/webapp/app/exam/participate/exam-participation.component.html
Labels: client

Updating tag "artemis-test9"
  shields.json
Labels: none

Updating tag "artemis-test9"
  shields.json
Labels: none

Angular 17 control flow in new component
  src/main/webapp/app/exam/participate/exam-termination-confirmation/exam-termination-confirmation.component.html
Labels: client

Updating tag "artemis-test9"
  shields.json
Labels: none

fix failing tests
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalCIIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalVCIntegrationTest.java
Labels: tests

Updating tag "artemis-test9"
  shields.json
Labels: none

Updating tag "artemis-test5"
  shields.json
Labels: none

Updating tag "artemis-test5"
  shields.json
Labels: none

Updating tag "artemis-test9"
  shields.json
Labels: none

add lti courses dashboard for deep-linking and fix some issues
  src/main/java/de/tum/in/www1/artemis/repository/CourseRepository.java
  src/main/java/de/tum/in/www1/artemis/service/CourseService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/LtiResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/admin/AdminLtiConfigurationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/OnlineCourseDTO.java
  src/main/webapp/app/admin/lti-configuration/lti-configuration.service.ts
  src/main/webapp/app/course/manage/course-management.service.ts
  src/main/webapp/app/lti/lti13-exercise-launch.component.ts
  src/main/webapp/app/lti/lti13-select-course.component.ts
  src/main/webapp/app/lti/online-course-dto.model.ts
  src/test/java/de/tum/in/www1/artemis/LtiIntegrationTest.java
  src/test/javascript/spec/component/lti/lti13-select-course.component.spec.ts
  src/test/javascript/spec/service/lti-configuration.service.spec.ts
Labels: server, client, tests

Updating tag "artemis-test5"
  shields.json
Labels: none

Updating tag "artemis-test5"
  shields.json
Labels: none

failure handling
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCISharedBuildJobQueueService.java
Labels: server

Updating tag "artemis-test3"
  shields.json
Labels: none

fix tests
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/test/javascript/spec/component/course/course-management.service.spec.ts
  src/test/javascript/spec/component/lti/lti13-select-course.component.spec.ts
Labels: server, tests

Updating tag "artemis-test3"
  shields.json
Labels: none

Updating tag "artemis-test3"
  shields.json
Labels: none

fix team-scale
  src/main/java/de/tum/in/www1/artemis/repository/CourseRepository.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/OnlineCourseDTO.java
  src/main/webapp/app/admin/lti-configuration/lti-configuration.service.ts
Labels: server, client

Updating tag "artemis-test3"
  shields.json
Labels: none

fix missing argument that was causing a test in LocalVCLocalCIIntegrationTest to fail
  src/main/java/de/tum/in/www1/artemis/service/connectors/localvc/LocalVCServletService.java
Labels: server

Handle hidden conversations and mentions on client side
  src/main/java/de/tum/in/www1/artemis/service/metis/AnswerMessageService.java
  src/main/java/de/tum/in/www1/artemis/service/metis/AnswerPostService.java
  src/main/java/de/tum/in/www1/artemis/service/metis/ConversationMessagingService.java
  src/main/java/de/tum/in/www1/artemis/service/metis/PostService.java
  src/main/java/de/tum/in/www1/artemis/service/metis/PostingService.java
  src/main/java/de/tum/in/www1/artemis/service/metis/ReactionService.java
  src/main/java/de/tum/in/www1/artemis/service/notifications/ConversationNotificationService.java
  src/main/java/de/tum/in/www1/artemis/service/notifications/SingleUserNotificationService.java
  src/main/webapp/app/shared/metis/metis-conversation.service.ts
  src/main/webapp/app/shared/notification/notification-popup/notification-popup.component.ts
  src/main/webapp/app/shared/notification/notification.service.ts
  src/test/java/de/tum/in/www1/artemis/metis/AnswerMessageIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/notification/SingleUserNotificationServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/notifications/ConversationNotificationServiceTest.java
Labels: server, client, tests

Updating tag "artemis-test3"
  shields.json
Labels: none

Updating tag "artemis-test3"
  shields.json
Labels: none

apply angular 17 control flow syntax for remaining
  src/main/webapp/app/admin/lti-configuration/lti-configuration.component.html
Labels: client

Updating tag "artemis-test1"
  shields.json
Labels: none

Updating tag "artemis-test3"
  shields.json
Labels: none

Set author in notification for saving
  src/main/java/de/tum/in/www1/artemis/service/notifications/SingleUserNotificationService.java
  src/main/webapp/app/shared/notification/notification.service.ts
Labels: server, client

failure handling 2
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCISharedBuildJobQueueService.java
Labels: server

Adjust pinning permissions for different conversation types
  src/main/java/de/tum/in/www1/artemis/service/metis/ConversationMessagingService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/metis/conversation/ChannelResource.java
  src/main/webapp/app/overview/discussion-section/discussion-section.component.ts
  src/main/webapp/app/shared/metis/conversations/channel.service.ts
  src/main/webapp/app/shared/metis/metis.service.ts
  src/main/webapp/app/shared/metis/posting-header/answer-post-header/answer-post-header.component.ts
  src/main/webapp/app/shared/metis/posting-header/post-header/post-header.component.ts
  src/main/webapp/app/shared/metis/posting-reactions-bar/post-reactions-bar/post-reactions-bar.component.html
  src/main/webapp/app/shared/metis/posting-reactions-bar/post-reactions-bar/post-reactions-bar.component.ts
Labels: server, client

Extend client tests
  src/test/javascript/spec/helpers/mocks/service/mock-metis-service.service.ts
  src/test/javascript/spec/service/metis/metis.service.spec.ts
Labels: tests

add more tests
  src/test/java/de/tum/in/www1/artemis/course/CourseTestService.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/CourseBitbucketBambooJiraIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/CourseGitlabJenkinsIntegrationTest.java
Labels: tests

feat: improve active students chart ui
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/webapp/app/course/manage/course-management.service.ts
  src/main/webapp/app/course/manage/detail/course-detail-line-chart.component.html
  src/main/webapp/app/course/manage/detail/course-detail-line-chart.component.scss
  src/main/webapp/app/course/manage/detail/course-detail-line-chart.component.ts
Labels: server, client

fix team-scale
  src/test/java/de/tum/in/www1/artemis/course/CourseTestService.java
Labels: tests

feat: use angular control flow
  src/main/webapp/app/detail-overview-list/detail-overview-list.component.html
  src/main/webapp/app/exercises/file-upload/manage/file-upload-exercise-detail.component.html
  src/main/webapp/app/exercises/file-upload/manage/file-upload-exercise-update.component.html
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise-detail.component.html
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise-update.component.html
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.html
  src/main/webapp/app/exercises/programming/shared/lifecycle/programming-exercise-lifecycle.component.html
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise-detail.component.html
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise-lifecycle-buttons.component.html
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise-manage-buttons.component.html
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise-update.component.html
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise.component.html
  src/main/webapp/app/exercises/shared/exercise-detail-common-actions/non-programming-exercise-detail-common-actions.component.html
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise-detail.component.html
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise-update.component.html
  src/main/webapp/app/shared/detail-overview-navigation-bar/detail-overview-navigation-bar.component.html
Labels: client

migrate to angular 17
  src/main/webapp/app/exercises/programming/manage/update/update-components/programming-exercise-custom-build-plan.component.html
Labels: client

Updating tag "artemis-test3"
  shields.json
Labels: none

Updating tag "artemis-test9"
  shields.json
Labels: none

Updating tag "artemis-test3"
  shields.json
Labels: none

Updating tag "artemis-test9"
  shields.json
Labels: none

.github/labeler.yml:

server:
  - changed-files:
      - any-glob-to-any-file: src/main/java/**/*.java

client:
  - changed-files:
      - any-glob-to-any-file: src/main/webapp/**/*

tests:
  - changed-files:
      - any-glob-to-any-file: src/test/**/*

cypress:
  - changed-files:
      - any-glob-to-any-file: src/test/cypress/**/*

database:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/liquibase/master.xml

documentation:
  - changed-files:
      - any-glob-to-any-file: docs/**/*

docker:
  - changed-files:
      - any-glob-to-any-file: docker/**/*

config-change:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/*.yml

template:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/templates/**/*
