Repository ls1intum/ArTEMiS, changes with the labels that .github/labeler.yml gives for each.
All labels: server, client, tests, database

.github/labeler.yml:

server:
- src/main/java/**/*.java

client:
- src/main/webapp/**/*

tests:
- src/test/*

database:
- src/main/resources/config/liquibase/master.xml

disable confirm box when waiting for exam
  src/main/webapp/app/exam/participate/exam-cover/exam-participation-cover.component.html
Labels: client

fix order and keys in translation file exam.json
  src/main/webapp/i18n/de/exam.json
Labels: client

translate
  src/main/webapp/app/exam/participate/summary/exam-participation-summary.component.html
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/en/exam.json
Labels: client

update client to use rest call for updating files
  src/main/java/de/tum/in/www1/artemis/web/websocket/repository/FileSubmissionError.java
  src/main/java/de/tum/in/www1/artemis/web/websocket/repository/RepositoryResource.java
  src/main/webapp/app/exercises/programming/shared/code-editor/service/code-editor-domain-dependent-endpoint.service.ts
  src/main/webapp/app/exercises/programming/shared/code-editor/service/code-editor-repository.service.ts
Labels: server, client

Refactor code
  src/main/java/de/tum/in/www1/artemis/web/rest/repository/FileSubmission.java
  src/main/java/de/tum/in/www1/artemis/web/rest/repository/FileSubmissionError.java
  src/main/java/de/tum/in/www1/artemis/web/rest/repository/RepositoryProgrammingExerciseParticipationResource.java
  src/main/java/de/tum/in/www1/artemis/web/websocket/repository/RepositoryResource.java
  src/main/java/de/tum/in/www1/artemis/web/websocket/repository/RepositoryWebsocketResource.java
Labels: server

Update Constants.java
  src/main/java/de/tum/in/www1/artemis/config/Constants.java
Labels: server

code consistency
  src/main/java/de/tum/in/www1/artemis/web/rest/repository/FileSubmission.java
  src/main/java/de/tum/in/www1/artemis/web/rest/repository/FileSubmissionError.java
  src/main/webapp/app/exercises/programming/shared/code-editor/service/code-editor-repository.service.ts
Labels: server, client

cleanup, add documentation
  src/main/java/de/tum/in/www1/artemis/web/rest/repository/FileSubmissionError.java
  src/main/java/de/tum/in/www1/artemis/web/rest/repository/RepositoryProgrammingExerciseParticipationResource.java
  src/main/webapp/app/exercises/programming/shared/code-editor/service/code-editor-repository.service.ts
Labels: server, client
