Repository ls1intum/Artemis, changes with the labels that .github/labeler.yml gives for each.
All labels: server, client, tests, cypress, database, documentation, docker, config-change, template

.github/labeler.yml:

server:
  - changed-files:
      - any-glob-to-any-file: src/main/java/**/*.java

client:
  - changed-files:
      - any-glob-to-any-file: src/main/webapp/**/*

tests:
  - changed-files:
      - any-glob-to-any-file: src/test/**/*

cypress:
  - changed-files:
      - any-glob-to-any-file: src/test/cypress/**/*

database:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/liquibase/master.xml

documentation:
  - changed-files:
      - any-glob-to-any-file: docs/**/*

docker:
  - changed-files:
      - any-glob-to-any-file: docker/**/*

config-change:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/*.yml

template:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/templates/**/*

Updating tag "artemis-test1"
  shields.json
Labels: none

Updating tag "artemis-test2"
  shields.json
Labels: none

Updating tag "artemis-test5"
  shields.json
Labels: none

Updating tag "artemis-test5"
  shields.json
Labels: none

add build agent information endpoints
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCISharedBuildJobQueueService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/dto/LocalCIBuildAgentInformation.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/dto/LocalCIBuildJobQueueItem.java
  src/main/java/de/tum/in/www1/artemis/web/rest/admin/AdminBuildJobQueueResource.java
Labels: server

Updating tag "artemis-test5"
  shields.json
Labels: none

Improve Job trigger
  src/main/java/de/tum/in/www1/artemis/service/connectors/hades/HadesCITriggerService.java
  src/main/resources/config/application-hades.yml
Labels: server, config-change

Updating tag "artemis-test1"
  shields.json
Labels: none

add repository tests
  src/test/java/de/tum/in/www1/artemis/LtiIntegrationTest.java
Labels: tests

refactored Names from "Period" to "Day" and added new englisch and german texts
  src/main/java/de/tum/in/www1/artemis/web/rest/tutorialgroups/TutorialGroupFreePeriodResource.java
  src/main/webapp/app/course/tutorial-groups/services/tutorial-group-free-day.service.ts
  src/main/webapp/app/course/tutorial-groups/services/tutorial-group-free-period.service.ts
  src/main/webapp/app/course/tutorial-groups/services/tutorial-group-session.service.ts
  src/main/webapp/app/course/tutorial-groups/shared/tutorial-group-free-days-overview/tutorial-group-free-days-overview.component.ts
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-free-periods/crud/create-tutorial-group-free-period/create-tutorial-group-free-period.component.ts
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-free-periods/crud/edit-tutorial-group-free-period/edit-tutorial-group-free-period.component.ts
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-free-periods/tutorial-free-periods-management/tutorial-group-free-period-row-buttons/tutorial-group-free-period-row-buttons.component.ts
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-free-periods/tutorial-free-periods-management/tutorial-group-free-periods-management.component.ts
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-groups/tutorial-groups-management/tutorial-groups-management.component.ts
  src/main/webapp/app/entities/tutorial-group/tutorial-group-free-day.model.ts
  src/main/webapp/app/entities/tutorial-group/tutorial-group-free-period.model.ts
  src/main/webapp/app/entities/tutorial-group/tutorial-group-session.model.ts
  src/main/webapp/app/entities/tutorial-group/tutorial-groups-configuration.model.ts
  src/main/webapp/app/overview/course-tutorial-groups/course-tutorial-groups.component.ts
  src/main/webapp/i18n/de/tutorialGroups.json
  src/main/webapp/i18n/en/tutorialGroups.json
  src/test/javascript/spec/component/tutorial-groups/helpers/tutorialGroupFreePeriodExampleModel.ts
  src/test/javascript/spec/component/tutorial-groups/services/tutorial-group-free-period.service.spec.ts
  src/test/javascript/spec/component/tutorial-groups/shared/tutorial-group-free-days-overview.component.spec.ts
  src/test/javascript/spec/component/tutorial-groups/tutorial-groups-management/tutorial-free-periods/crud/create-tutorial-group-free-period.component.spec.ts
  src/test/javascript/spec/component/tutorial-groups/tutorial-groups-management/tutorial-free-periods/crud/edit-tutorial-group-free-period.component.spec.ts
  src/test/javascript/spec/component/tutorial-groups/tutorial-groups-management/tutorial-free-periods/tutorial-free-periods-management/tutorial-group-free-period-row-buttons.component.spec.ts
  src/test/javascript/spec/component/tutorial-groups/tutorial-groups-management/tutorial-free-periods/tutorial-free-periods-management/tutorial-group-free-periods-management.component.spec.ts
Labels: server, client, tests

Remove unused service
  src/main/java/de/tum/in/www1/artemis/service/connectors/hades/HadesBuildPlanService.java
Labels: server

Fix exercise editing
  src/main/java/de/tum/in/www1/artemis/service/connectors/hades/HadesCIService.java
Labels: server

Add debug info to HadesCIService
  src/main/java/de/tum/in/www1/artemis/service/connectors/hades/HadesCIService.java
Labels: server

Check if paramsMap is iterable
  src/main/webapp/app/iris/exercise-chatbot/widget/chatbot-widget.component.ts
Labels: client

Delete post code and adapt some tests
  src/main/java/de/tum/in/www1/artemis/domain/notification/ConversationNotification.java
  src/main/java/de/tum/in/www1/artemis/service/metis/AnswerMessageService.java
  src/main/java/de/tum/in/www1/artemis/service/metis/AnswerPostService.java
  src/main/java/de/tum/in/www1/artemis/service/metis/ConversationMessagingService.java
  src/main/java/de/tum/in/www1/artemis/service/metis/PostService.java
  src/main/java/de/tum/in/www1/artemis/service/metis/PostingService.java
  src/main/java/de/tum/in/www1/artemis/service/metis/ReactionService.java
  src/main/java/de/tum/in/www1/artemis/service/notifications/ConversationNotificationService.java
  src/main/java/de/tum/in/www1/artemis/service/notifications/SingleUserNotificationService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/metis/PostResource.java
  src/main/webapp/app/entities/metis/conversation/conversation-websocket-dto.model.ts
  src/main/webapp/app/shared/markdown-editor/commands/courseArtifactReferenceCommands/channelMentionCommand.ts
  src/main/webapp/app/shared/metis/metis-conversation.service.ts
  src/main/webapp/app/shared/metis/metis.service.ts
  src/main/webapp/app/shared/notification/notification.service.ts
  src/main/webapp/i18n/de/markdownEditor.json
  src/main/webapp/i18n/en/markdownEditor.json
  src/test/java/de/tum/in/www1/artemis/metis/MessageIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/metis/PostIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/post/ConversationUtilService.java
  src/test/java/de/tum/in/www1/artemis/service/notifications/ConversationNotificationServiceTest.java
  src/test/javascript/spec/component/course/course-overview.component.spec.ts
  src/test/javascript/spec/component/overview/course-conversations/services/metis-conversation.service.spec.ts
  src/test/javascript/spec/component/overview/course-discussion/course-discussion.component.spec.ts
  src/test/javascript/spec/component/overview/discussion-section/discussion-section.component.spec.ts
  src/test/javascript/spec/component/plagiarism/plagiarism-case-instructor-detail-view.component.spec.ts
  src/test/javascript/spec/component/plagiarism/plagiarism-case-student-detail-view.component.spec.ts
  src/test/javascript/spec/component/plagiarism/plagiarism-cases-instructor-view.component.spec.ts
  src/test/javascript/spec/component/shared/metis/postings-reactions-bar/answer-post-reactions-bar/answer-post-reactions-bar.component.spec.ts
  src/test/javascript/spec/component/shared/metis/postings-reactions-bar/post-reactions-bar/post-reactions-bar.component.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-metis-conversation.service.ts
  src/test/javascript/spec/helpers/mocks/service/mock-notification.service.ts
  src/test/javascript/spec/integration/course/course-overview-exercise-list-controls.integration.spec.ts
  src/test/javascript/spec/service/metis/metis.service.spec.ts
Labels: server, client, tests

Fix merge
  src/main/webapp/app/entities/quiz-exam.model.ts
  src/main/webapp/app/exam/participate/exam-navigation-bar/exam-navigation-bar.component.ts
  src/main/webapp/app/exam/participate/exam-participation.component.ts
  src/main/webapp/app/exam/participate/exam-participation.service.ts
  src/main/webapp/app/exam/participate/exam.utils.ts
  src/main/webapp/app/exam/participate/exercises/exercise-overview-page/exam-exercise-overview-page.component.ts
Labels: client

Add test
  src/main/webapp/app/exam/participate/exam-navigation-bar/exam-navigation-bar.component.ts
  src/test/javascript/spec/component/exam/participate/exam-navigation-bar.component.spec.ts
  src/test/javascript/spec/component/exam/participate/exam-participation.component.spec.ts
Labels: client, tests

Revert "refactored Names from "Period" to "Day" and added new englisch and german texts"
  src/main/java/de/tum/in/www1/artemis/web/rest/tutorialgroups/TutorialGroupFreePeriodResource.java
  src/main/webapp/app/course/tutorial-groups/services/tutorial-group-free-day.service.ts
  src/main/webapp/app/course/tutorial-groups/services/tutorial-group-free-period.service.ts
  src/main/webapp/app/course/tutorial-groups/services/tutorial-group-session.service.ts
  src/main/webapp/app/course/tutorial-groups/shared/tutorial-group-free-days-overview/tutorial-group-free-days-overview.component.ts
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-free-periods/crud/create-tutorial-group-free-period/create-tutorial-group-free-period.component.ts
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-free-periods/crud/edit-tutorial-group-free-period/edit-tutorial-group-free-period.component.ts
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-free-periods/tutorial-free-periods-management/tutorial-group-free-period-row-buttons/tutorial-group-free-period-row-buttons.component.ts
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-free-periods/tutorial-free-periods-management/tutorial-group-free-periods-management.component.ts
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-groups/tutorial-groups-management/tutorial-groups-management.component.ts
  src/main/webapp/app/entities/tutorial-group/tutorial-group-free-day.model.ts
  src/main/webapp/app/entities/tutorial-group/tutorial-group-free-period.model.ts
  src/main/webapp/app/entities/tutorial-group/tutorial-group-session.model.ts
  src/main/webapp/app/entities/tutorial-group/tutorial-groups-configuration.model.ts
  src/main/webapp/app/overview/course-tutorial-groups/course-tutorial-groups.component.ts
  src/main/webapp/i18n/de/tutorialGroups.json
  src/main/webapp/i18n/en/tutorialGroups.json
  src/test/javascript/spec/component/tutorial-groups/helpers/tutorialGroupFreePeriodExampleModel.ts
  src/test/javascript/spec/component/tutorial-groups/services/tutorial-group-free-period.service.spec.ts
  src/test/javascript/spec/component/tutorial-groups/shared/tutorial-group-free-days-overview.component.spec.ts
  src/test/javascript/spec/component/tutorial-groups/tutorial-groups-management/tutorial-free-periods/crud/create-tutorial-group-free-period.component.spec.ts
  src/test/javascript/spec/component/tutorial-groups/tutorial-groups-management/tutorial-free-periods/crud/edit-tutorial-group-free-period.component.spec.ts
  src/test/javascript/spec/component/tutorial-groups/tutorial-groups-management/tutorial-free-periods/tutorial-free-periods-management/tutorial-group-free-period-row-buttons.component.spec.ts
  src/test/javascript/spec/component/tutorial-groups/tutorial-groups-management/tutorial-free-periods/tutorial-free-periods-management/tutorial-group-free-periods-management.component.spec.ts
Labels: server, client, tests

Clean up trivial if/else stmts
  src/main/webapp/app/admin/audits/audits.component.html
  src/main/webapp/app/admin/audits/audits.component.ts
  src/main/webapp/app/admin/metrics/blocks/metrics-garbagecollector/metrics-garbagecollector.component.html
  src/main/webapp/app/admin/system-notification-management/system-notification-management.component.html
  src/main/webapp/app/admin/user-management/user-management.component.html
  src/main/webapp/app/assessment/assessment-header/assessment-header.component.html
  src/main/webapp/app/complaints/list-of-complaints/list-of-complaints.component.html
  src/main/webapp/app/core/legal/data-export/confirmation/data-export-confirmation-dialog.component.html
  src/main/webapp/app/course/competencies/competency-management/competency-management.component.html
  src/main/webapp/app/course/competencies/create-competency/create-competency.component.html
  src/main/webapp/app/course/competencies/edit-competency/edit-competency.component.html
  src/main/webapp/app/course/dashboards/assessment-dashboard/assessment-dashboard-information.component.html
  src/main/webapp/app/course/learning-paths/learning-path-graph/learning-path.component.html
  src/main/webapp/app/exam/manage/student-exams/student-exam-detail.component.html
  src/main/webapp/app/exam/manage/student-exams/student-exams.component.html
  src/main/webapp/app/exam/manage/students/verify-attendance-check/exam-students-attendance-check.component.html
  src/main/webapp/app/exercises/programming/hestia/generation-overview/steps/code-hint-generation-step/code-hint-generation-step.component.html
  src/main/webapp/app/exercises/shared/exercise-hint/participate/exercise-hint-expandable.component.html
  src/main/webapp/app/exercises/shared/exercise-scores/exercise-scores.component.html
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/create-exercise-unit/create-exercise-unit.component.html
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/lecture-unit-layout/lecture-unit-layout.component.html
  src/main/webapp/app/overview/course-discussion/course-discussion.component.html
  src/main/webapp/app/overview/course-registration/course-registration-prerequisites-modal/course-prerequisites-modal.component.html
  src/main/webapp/app/shared/competency-selection/competency-selection.component.html
  src/main/webapp/app/shared/consistency-check/consistency-check.component.html
  src/main/webapp/app/shared/loading-indicator-container/loading-indicator-container.component.html
Labels: client

Add tests
  src/test/javascript/spec/component/exam/participate/exam-exercise-overview-page.component.spec.ts
  src/test/javascript/spec/component/exam/participate/exam-navigation-bar.component.spec.ts
  src/test/javascript/spec/component/exam/participate/exam-participation.component.spec.ts
  src/test/javascript/spec/component/exam/participate/exam.utils.spec.ts
  src/test/javascript/spec/service/exam-participation.service.spec.ts
Labels: tests

Fix metis.service tests
  src/test/javascript/spec/service/metis/metis.service.spec.ts
Labels: tests

Adapt and add server tests
  src/main/java/de/tum/in/www1/artemis/domain/metis/Post.java
  src/main/java/de/tum/in/www1/artemis/service/metis/AnswerMessageService.java
  src/main/java/de/tum/in/www1/artemis/service/metis/AnswerPostService.java
  src/main/java/de/tum/in/www1/artemis/service/metis/ConversationMessagingService.java
  src/main/java/de/tum/in/www1/artemis/service/metis/PostingService.java
  src/main/java/de/tum/in/www1/artemis/service/notifications/ConversationNotificationService.java
  src/main/java/de/tum/in/www1/artemis/web/websocket/dto/metis/ConversationWebsocketDTO.java
  src/test/java/de/tum/in/www1/artemis/metis/AbstractConversationTest.java
  src/test/java/de/tum/in/www1/artemis/metis/AnswerMessageIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/metis/AnswerPostIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/metis/GroupChatIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/metis/MessageIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/metis/OneToOneChatIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/metis/ReactionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/notification/SingleUserNotificationServiceTest.java
  src/test/java/de/tum/in/www1/artemis/post/ConversationUtilService.java
  src/test/java/de/tum/in/www1/artemis/service/notifications/ConversationNotificationServiceTest.java
Labels: server, tests

Try to fix cypress tests
  src/test/cypress/support/pageobjects/exam/ExamExerciseGroupCreationPage.ts
  src/test/cypress/support/requests/ExerciseAPIRequests.ts
Labels: tests, cypress

Revert "Push the changed language files."
  src/main/webapp/i18n/de.json
  src/main/webapp/i18n/en.json
Labels: client

Revert "Clean up trivial if/else stmts"
  src/main/webapp/app/admin/audits/audits.component.html
  src/main/webapp/app/admin/audits/audits.component.ts
  src/main/webapp/app/admin/metrics/blocks/metrics-garbagecollector/metrics-garbagecollector.component.html
  src/main/webapp/app/admin/system-notification-management/system-notification-management.component.html
  src/main/webapp/app/admin/user-management/user-management.component.html
  src/main/webapp/app/assessment/assessment-header/assessment-header.component.html
  src/main/webapp/app/complaints/list-of-complaints/list-of-complaints.component.html
  src/main/webapp/app/core/legal/data-export/confirmation/data-export-confirmation-dialog.component.html
  src/main/webapp/app/course/competencies/competency-management/competency-management.component.html
  src/main/webapp/app/course/competencies/create-competency/create-competency.component.html
  src/main/webapp/app/course/competencies/edit-competency/edit-competency.component.html
  src/main/webapp/app/course/dashboards/assessment-dashboard/assessment-dashboard-information.component.html
  src/main/webapp/app/course/learning-paths/learning-path-graph/learning-path.component.html
  src/main/webapp/app/exam/manage/student-exams/student-exam-detail.component.html
  src/main/webapp/app/exam/manage/student-exams/student-exams.component.html
  src/main/webapp/app/exam/manage/students/verify-attendance-check/exam-students-attendance-check.component.html
  src/main/webapp/app/exercises/programming/hestia/generation-overview/steps/code-hint-generation-step/code-hint-generation-step.component.html
  src/main/webapp/app/exercises/shared/exercise-hint/participate/exercise-hint-expandable.component.html
  src/main/webapp/app/exercises/shared/exercise-scores/exercise-scores.component.html
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/create-exercise-unit/create-exercise-unit.component.html
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/lecture-unit-layout/lecture-unit-layout.component.html
  src/main/webapp/app/overview/course-discussion/course-discussion.component.html
  src/main/webapp/app/overview/course-registration/course-registration-prerequisites-modal/course-prerequisites-modal.component.html
  src/main/webapp/app/shared/competency-selection/competency-selection.component.html
  src/main/webapp/app/shared/consistency-check/consistency-check.component.html
  src/main/webapp/app/shared/loading-indicator-container/loading-indicator-container.component.html
Labels: client

Revert "Revert "Push the changed language files.""
  src/main/webapp/i18n/de.json
  src/main/webapp/i18n/en.json
Labels: client

Store plan execution on server
  src/main/java/de/tum/in/www1/artemis/domain/iris/message/IrisExercisePlan.java
  src/main/java/de/tum/in/www1/artemis/domain/iris/message/IrisMessage.java
  src/main/java/de/tum/in/www1/artemis/service/iris/session/IrisExerciseCreationSessionService.java
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.ts
  src/main/webapp/app/iris/exercise-chatbot/widget/chatbot-widget.component.ts
  src/main/webapp/app/iris/session.service.ts
  src/main/webapp/i18n/de/exerciseChatbot.json
  src/main/webapp/i18n/en/exerciseChatbot.json
Labels: server, client

change actual kanguage files and erase the generated ones
  src/main/webapp/i18n/de.json
  src/main/webapp/i18n/de/gradingSystem.json
  src/main/webapp/i18n/en.json
  src/main/webapp/i18n/en/gradingSystem.json
Labels: client

add agent information at service initalization
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCISharedBuildJobQueueService.java
Labels: server

Updating tag "artemis-test3"
  shields.json
Labels: none

Updating tag "artemis-test3"
  shields.json
Labels: none

Updating tag "artemis-test3"
  shields.json
Labels: none

Updating tag "artemis-test3"
  shields.json
Labels: none

Updating tag "artemis-test3"
  shields.json
Labels: none

Updating tag "artemis-test1"
  shields.json
Labels: none

Updating tag "artemis-test1"
  shields.json
Labels: none

Updating tag "artemis-test3"
  shields.json
Labels: none

Updating tag "artemis-test3"
  shields.json
Labels: none

Cleanup control flow in some files
  src/main/webapp/app/admin/audits/audits.component.html
  src/main/webapp/app/admin/audits/audits.component.ts
  src/main/webapp/app/admin/metrics/blocks/metrics-garbagecollector/metrics-garbagecollector.component.html
  src/main/webapp/app/admin/system-notification-management/system-notification-management.component.html
  src/main/webapp/app/admin/user-management/user-management.component.html
  src/main/webapp/app/assessment/assessment-header/assessment-header.component.html
  src/main/webapp/app/complaints/list-of-complaints/list-of-complaints.component.html
  src/main/webapp/app/core/legal/data-export/confirmation/data-export-confirmation-dialog.component.html
  src/main/webapp/app/course/competencies/competency-management/competency-management.component.html
  src/main/webapp/app/course/competencies/create-competency/create-competency.component.html
  src/main/webapp/app/course/competencies/edit-competency/edit-competency.component.html
  src/main/webapp/app/course/dashboards/assessment-dashboard/assessment-dashboard-information.component.html
  src/main/webapp/app/course/learning-paths/learning-path-graph/learning-path.component.html
  src/main/webapp/app/exam/manage/student-exams/student-exam-detail.component.html
  src/main/webapp/app/exam/manage/student-exams/student-exams.component.html
  src/main/webapp/app/exam/manage/students/verify-attendance-check/exam-students-attendance-check.component.html
  src/main/webapp/app/exercises/programming/hestia/generation-overview/steps/code-hint-generation-step/code-hint-generation-step.component.html
  src/main/webapp/app/exercises/shared/exercise-hint/participate/exercise-hint-expandable.component.html
  src/main/webapp/app/exercises/shared/exercise-scores/exercise-scores.component.html
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/create-exercise-unit/create-exercise-unit.component.html
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/lecture-unit-layout/lecture-unit-layout.component.html
  src/main/webapp/app/overview/course-discussion/course-discussion.component.html
  src/main/webapp/app/overview/course-registration/course-registration-prerequisites-modal/course-prerequisites-modal.component.html
  src/main/webapp/app/shared/competency-selection/competency-selection.component.html
  src/main/webapp/app/shared/consistency-check/consistency-check.component.html
  src/main/webapp/app/shared/loading-indicator-container/loading-indicator-container.component.html
Labels: client

Replace switch/case on bool by if
  src/main/webapp/app/exercises/programming/shared/code-editor/treeview/components/treeview/treeview.component.html
Labels: client
