Repository ls1intum/Artemis, changes with the labels that .github/labeler.yml gives for each.
All labels: server, client, tests, playwright, database, documentation, docker, config-change, template, assessment, athena, atlas, buildagent, communication, core, exam, exercise, fileupload, iris, lecture, lti, modeling, plagiarism, programming, quiz, text, tutorialgroup

.github/labeler.yml:

server:
  - changed-files:
      - any-glob-to-any-file: src/main/java/**/*.java

client:
  - changed-files:
      - any-glob-to-any-file: src/main/webapp/**/*

tests:
  - changed-files:
      - any-glob-to-any-file: src/test/**/*

playwright:
  - changed-files:
      - any-glob-to-any-file: src/test/playwright/**/*

database:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/liquibase/master.xml

documentation:
  - changed-files:
      - any-glob-to-any-file: docs/**/*

docker:
  - changed-files:
      - any-glob-to-any-file: docker/**/*

config-change:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/*.yml

template:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/templates/**/*

# module labels
assessment:
  - changed-files:
      - any-glob-to-any-file:
          - src/main/java/de/tum/cit/aet/artemis/assessment/**/*
          - src/test/java/de/tum/cit/aet/artemis/assessment/**/*

athena:
  - changed-files:
      - any-glob-to-any-file:
          - src/main/java/de/tum/cit/aet/artemis/athena/**/*
          - src/test/java/de/tum/cit/aet/artemis/athena/**/*

atlas:
  - changed-files:
      - any-glob-to-any-file:
          - src/main/java/de/tum/cit/aet/artemis/atlas/**/*
          - src/test/java/de/tum/cit/aet/artemis/atlas/**/*

buildagent:
  - changed-files:
      - any-glob-to-any-file:
          - src/main/java/de/tum/cit/aet/artemis/buildagent/**/*
          - src/test/java/de/tum/cit/aet/artemis/buildagent/**/*

communication:
  - changed-files:
      - any-glob-to-any-file:
          - src/main/java/de/tum/cit/aet/artemis/communication/**/*
          - src/test/java/de/tum/cit/aet/artemis/communication/**/*

core:
  - changed-files:
      - any-glob-to-any-file:
          - src/main/java/de/tum/cit/aet/artemis/core/**/*
          - src/test/java/de/tum/cit/aet/artemis/core/**/*

exam:
  - changed-files:
      - any-glob-to-any-file:
          - src/main/java/de/tum/cit/aet/artemis/exam/**/*
          - src/test/java/de/tum/cit/aet/artemis/exam/**/*

exercise:
  - changed-files:
      - any-glob-to-any-file:
          - src/main/java/de/tum/cit/aet/artemis/exercise/**/*
          - src/test/java/de/tum/cit/aet/artemis/exercise/**/*

fileupload:
  - changed-files:
      - any-glob-to-any-file:
          - src/main/java/de/tum/cit/aet/artemis/fileupload/**/*
          - src/test/java/de/tum/cit/aet/artemis/fileupload/**/*

iris:
  - changed-files:
      - any-glob-to-any-file:
          - src/main/java/de/tum/cit/aet/artemis/iris/**/*
          - src/test/java/de/tum/cit/aet/artemis/iris/**/*

lecture:
  - changed-files:
      - any-glob-to-any-file:
          - src/main/java/de/tum/cit/aet/artemis/lecture/**/*
          - src/test/java/de/tum/cit/aet/artemis/lecture/**/*

lti:
  - changed-files:
      - any-glob-to-any-file:
          - src/main/java/de/tum/cit/aet/artemis/lti/**/*
          - src/test/java/de/tum/cit/aet/artemis/lti/**/*

modeling:
  - changed-files:
      - any-glob-to-any-file:
          - src/main/java/de/tum/cit/aet/artemis/modeling/**/*
          - src/test/java/de/tum/cit/aet/artemis/modeling/**/*

plagiarism:
  - changed-files:
      - any-glob-to-any-file:
          - src/main/java/de/tum/cit/aet/artemis/plagiarism/**/*
          - src/test/java/de/tum/cit/aet/artemis/plagiarism/**/*

programming:
  - changed-files:
      - any-glob-to-any-file:
          - src/main/java/de/tum/cit/aet/artemis/programming/**/*
          - src/test/java/de/tum/cit/aet/artemis/programming/**/*

quiz:
  - changed-files:
      - any-glob-to-any-file:
          - src/main/java/de/tum/cit/aet/artemis/quiz/**/*
          - src/test/java/de/tum/cit/aet/artemis/quiz/**/*

text:
  - changed-files:
      - any-glob-to-any-file:
          - src/main/java/de/tum/cit/aet/artemis/text/**/*
          - src/test/java/de/tum/cit/aet/artemis/text/**/*

tutorialgroup:
  - changed-files:
      - any-glob-to-any-file:
          - src/main/java/de/tum/cit/aet/artemis/tutorialgroup/**/*
          - src/test/java/de/tum/cit/aet/artemis/tutorialgroup/**/*

Fix TestClangFormat comment
  src/main/resources/templates/c_plus_plus/test/tests/TestClangFormat.py
Labels: template

Other small Python improvements
  src/main/resources/templates/c_plus_plus/test/testUtils/AbstractTest.py
  src/main/resources/templates/c_plus_plus/test/testUtils/Tester.py
  src/main/resources/templates/c_plus_plus/test/testUtils/junit/TestCase.py
  src/main/resources/templates/c_plus_plus/test/tests/TestClangFormat.py
Labels: template

More small Python improvements
  src/main/resources/templates/c_plus_plus/test/testUtils/AbstractTest.py
  src/main/resources/templates/c_plus_plus/test/testUtils/Tester.py
  src/main/resources/templates/c_plus_plus/test/testUtils/junit/Junit.py
  src/main/resources/templates/c_plus_plus/test/tests/TestCatch2.py
  src/main/resources/templates/c_plus_plus/test/tests/TestCompile.py
Labels: template

Handle empty files with clang-format
  src/main/resources/templates/c_plus_plus/test/tests/TestClangFormat.py
Labels: template

Fix typos
  src/main/resources/templates/c_plus_plus/test/testUtils/AbstractTest.py
Labels: template

Add test docker image
  src/test/resources/config/application.yml
Labels: tests

Add missing return types
  src/main/resources/templates/c_plus_plus/test/testUtils/AbstractTest.py
Labels: template

Fix more typos
  src/main/resources/templates/c_plus_plus/test/testUtils/AbstractTest.py
Labels: template

remove unnecessary changed
  src/test/java/de/tum/cit/aet/artemis/programming/icl/LocalCIIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/icl/LocalVCLocalCITestService.java
Labels: tests, programming

Development: Fix flaky priorityExamTest (#9276)
  src/test/java/de/tum/cit/aet/artemis/programming/icl/LocalVCLocalCIIntegrationTest.java
Labels: tests, programming
