Repository ls1intum/Artemis, changes with the labels that .github/labeler.yml gives for each.
All labels: server, client, tests, playwright, database, documentation, docker, config-change, template, assessment, athena, atlas, buildagent, communication, core, exam, exercise, fileupload, iris, lecture, lti, modeling, plagiarism, programming, quiz, text, tutorialgroup

fix nitpick
  src/main/java/de/tum/cit/aet/artemis/programming/service/AutomaticProgrammingExerciseCleanupService.java
Labels: server

Development: Add setup gradle github action
  .github/dependabot.yml
  .github/workflows/build.yml
Labels: none

Development: Remove no longer required secret push token for Jenkins setups (#9317)
  docs/dev/setup/jenkins-gitlab.rst
  docs/dev/setup/server.rst
  src/main/java/de/tum/cit/aet/artemis/programming/service/jenkins/build_plan/JenkinsBuildPlanCreator.java
  src/main/resources/config/application-artemis.yml
  src/main/resources/templates/jenkins/config.xml
  src/test/resources/config/application-artemis.yml
Labels: server, tests, documentation, config-change, template

create shared module arch test and add tests for lti
  src/test/java/de/tum/cit/aet/artemis/atlas/architecture/AtlasTestArchitectureTest.java
  src/test/java/de/tum/cit/aet/artemis/atlas/architecture/TestArchitectureTest.java
  src/test/java/de/tum/cit/aet/artemis/lti/AbstractLtiIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/lti/Lti13LaunchIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/lti/LtiDeepLinkingIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/lti/LtiIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/lti/LtiQuizIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/lti/OAuth2JWKSIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/lti/architecture/LtiTestArchitectureTest.java
  src/test/java/de/tum/cit/aet/artemis/shared/architecture/AbstractModuleTestArchitectureTest.java
Labels: tests

Development: Update whitesource settings
  .whitesource
Labels: none

.github/labeler.yml:

server:
  - changed-files:
      - any-glob-to-any-file: src/main/java/**/*.java

client:
  - changed-files:
      - any-glob-to-any-file: src/main/webapp/**/*

tests:
  - changed-files:
      - any-glob-to-any-file: src/test/**/*

playwright:
  - changed-files:
      - any-glob-to-any-file: src/test/playwright/**/*

database:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/liquibase/master.xml

documentation:
  - changed-files:
      - any-glob-to-any-file: docs/**/*

docker:
  - changed-files:
      - any-glob-to-any-file: docker/**/*

config-change:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/*.yml

template:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/templates/**/*

# module labels
assessment:
  - changed-files:
      - any-glob-to-any-file:
          - src/(main|test)/java/de/tum/cit/aet/artemis/assessment/**/*

athena:
  - changed-files:
      - any-glob-to-any-file:
          - src/(main|test)/java/de/tum/cit/aet/artemis/athena/**/*

atlas:
  - changed-files:
      - any-glob-to-any-file:
          - src/(main|test)/java/de/tum/cit/aet/artemis/atlas/**/*

buildagent:
  - changed-files:
      - any-glob-to-any-file:
          - src/(main|test)/java/de/tum/cit/aet/artemis/buildagent/**/*

communication:
  - changed-files:
      - any-glob-to-any-file:
          - src/(main|test)/java/de/tum/cit/aet/artemis/communication/**/*

core:
  - changed-files:
      - any-glob-to-any-file:
          - src/(main|test)/java/de/tum/cit/aet/artemis/core/**/*

exam:
  - changed-files:
      - any-glob-to-any-file:
          - src/(main|test)/java/de/tum/cit/aet/artemis/exam/**/*

exercise:
  - changed-files:
      - any-glob-to-any-file:
          - src/(main|test)/java/de/tum/cit/aet/artemis/exercise/**/*

fileupload:
  - changed-files:
      - any-glob-to-any-file:
          - src/(main|test)/java/de/tum/cit/aet/artemis/fileupload/**/*

iris:
  - changed-files:
      - any-glob-to-any-file:
          - src/(main|test)/java/de/tum/cit/aet/artemis/iris/**/*

lecture:
  - changed-files:
      - any-glob-to-any-file:
          - src/(main|test)/java/de/tum/cit/aet/artemis/lecture/**/*

lti:
  - changed-files:
      - any-glob-to-any-file:
          - src/(main|test)/java/de/tum/cit/aet/artemis/lti/**/*

modeling:
  - changed-files:
      - any-glob-to-any-file:
          - src/(main|test)/java/de/tum/cit/aet/artemis/modeling/**/*

plagiarism:
  - changed-files:
      - any-glob-to-any-file:
          - src/(main|test)/java/de/tum/cit/aet/artemis/plagiarism/**/*

programming:
  - changed-files:
      - any-glob-to-any-file:
          - src/(main|test)/java/de/tum/cit/aet/artemis/programming/**/*

quiz:
  - changed-files:
      - any-glob-to-any-file:
          - src/(main|test)/java/de/tum/cit/aet/artemis/quiz/**/*

text:
  - changed-files:
      - any-glob-to-any-file:
          - src/(main|test)/java/de/tum/cit/aet/artemis/text/**/*

tutorialgroup:
  - changed-files:
      - any-glob-to-any-file:
          - src/(main|test)/java/de/tum/cit/aet/artemis/tutorialgroup/**/*
