Repository ls1intum/Artemis, changes with the labels that .github/labeler.yml gives for each.
All labels: server, client, tests, cypress, database, documentation, docker, config-change, template

.github/labeler.yml:

server:
  - changed-files:
      - any-glob-to-any-file: src/main/java/**/*.java

client:
  - changed-files:
      - any-glob-to-any-file: src/main/webapp/**/*

tests:
  - changed-files:
      - any-glob-to-any-file: src/test/**/*

cypress:
  - changed-files:
      - any-glob-to-any-file: src/test/cypress/**/*

database:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/liquibase/master.xml

documentation:
  - changed-files:
      - any-glob-to-any-file: docs/**/*

docker:
  - changed-files:
      - any-glob-to-any-file: docker/**/*

config-change:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/*.yml

template:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/templates/**/*

Updating tag "artemis-test2"
  shields.json
Labels: none

Exam mode: Improve performance when navigating into exam with many programming exercises (#7768)
  src/main/java/de/tum/in/www1/artemis/repository/CourseRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ExamRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ProgrammingExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/service/exam/ExamService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExamResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/StudentExamResource.java
  src/test/java/de/tum/in/www1/artemis/exam/ExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseGitIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseGradingServiceTest.java
Labels: server, tests

Fix constructor
  src/main/java/de/tum/in/www1/artemis/service/connectors/hades/dto/HadesCIBuildResultDTO.java
Labels: server

Development: Enforce `@angular-eslint/template/prefer-control-flow` and fix html lint issues (#7775)
  .eslintrc.json
  package.json
  src/main/webapp/app/complaints/complaints-for-students/complaints-student-view.component.html
  src/main/webapp/app/course/plagiarism-cases/shared/verdict/plagiarism-case-verdict.component.html
  src/main/webapp/app/exam/participate/exercises/exam-exercise-update-highlighter/exam-exercise-update-highlighter.component.html
  src/main/webapp/app/exam/participate/exercises/exam-exercise-update-highlighter/exam-exercise-update-highlighter.component.ts
  src/main/webapp/app/exam/participate/summary/result-overview/exam-result-overview.component.html
  src/main/webapp/app/exercises/programming/assess/code-editor-tutor-assessment-container.component.html
  src/main/webapp/app/exercises/programming/assess/code-editor-tutor-assessment-inline-feedback.component.html
  src/main/webapp/app/exercises/programming/manage/grading/programming-exercise-configure-grading.component.html
  src/main/webapp/app/exercises/programming/shared/code-editor/file-browser/code-editor-file-browser-delete.component.html
  src/main/webapp/app/exercises/programming/shared/code-editor/file-browser/code-editor-file-browser-delete.ts
  src/main/webapp/app/exercises/programming/shared/lifecycle/programming-exercise-lifecycle.component.html
  src/main/webapp/app/exercises/shared/assessment-progress-label/assessment-progress-label.component.html
  src/main/webapp/app/exercises/shared/assessment-progress-label/assessment-progress-label.component.ts
  src/main/webapp/app/exercises/shared/assessment-progress-label/assessment-progress-label.html
  src/main/webapp/app/grading-system/detailed-grading-system/detailed-grading-system.component.html
  src/main/webapp/app/grading-system/grading-key-overview/grading-key/grading-key-table.component.html
  src/main/webapp/app/grading-system/interval-grading-system/interval-grading-system.component.html
  src/main/webapp/app/shared/fullscreen/fullscreen.component.html
  src/main/webapp/app/shared/metis/metis.module.ts
  src/main/webapp/app/shared/metis/posting-content/enlarge-slide-image/enlarge-slide-image.component.html
  src/main/webapp/app/shared/metis/posting-content/enlarge-slide-image/enlarge-slide-image.component.ts
  src/main/webapp/app/shared/metis/posting-content/posting-content-part/posting-content-part.components.ts
  src/main/webapp/app/shared/metis/posting-markdown-editor/posting-markdown-editor.component.html
Labels: client

remove obsolete overwrite
  src/main/java/de/tum/in/www1/artemis/service/connectors/hades/dto/HadesCIBuildResultDTO.java
Labels: server

Revert Quiz Exam client changes
  src/main/webapp/app/entities/exam-exercise-overview-item.model.ts
  src/main/webapp/app/entities/exam-exercise.ts
  src/main/webapp/app/entities/exam-page.model.ts
  src/main/webapp/app/entities/exercise.model.ts
  src/main/webapp/app/entities/quiz-exam.model.ts
  src/main/webapp/app/exam/manage/student-exams/student-exam-timeline/student-exam-timeline.component.html
  src/main/webapp/app/exam/manage/student-exams/student-exam-timeline/student-exam-timeline.component.ts
  src/main/webapp/app/exam/participate/exam-navigation-bar/exam-navigation-bar.component.html
  src/main/webapp/app/exam/participate/exam-navigation-bar/exam-navigation-bar.component.ts
  src/main/webapp/app/exam/participate/exam-participation.component.html
  src/main/webapp/app/exam/participate/exam-participation.component.ts
  src/main/webapp/app/exam/participate/exam-participation.service.ts
  src/main/webapp/app/exam/participate/exam.utils.ts
  src/main/webapp/app/exam/participate/exercises/exercise-overview-page/exam-exercise-overview-page.component.html
  src/main/webapp/app/exam/participate/exercises/exercise-overview-page/exam-exercise-overview-page.component.ts
  src/test/javascript/spec/component/exam/participate/exam-exercise-overview-page.component.spec.ts
  src/test/javascript/spec/component/exam/participate/exam-participation.component.spec.ts
  src/test/javascript/spec/component/exam/participate/exam.utils.spec.ts
Labels: client, tests

debugging
  src/test/cypress/e2e/exercises/programming/ProgrammingExerciseParticipation.cy.ts
Labels: tests, cypress

remove debugging
  src/test/cypress/e2e/exercises/programming/ProgrammingExerciseParticipation.cy.ts
Labels: tests, cypress

Updating tag "artemis-test9"
  shields.json
Labels: none

Reimplement Quiz Exam client changes
  src/main/webapp/app/entities/exam-page.model.ts
  src/main/webapp/app/entities/quiz-exam.model.ts
  src/main/webapp/app/exam/manage/student-exams/student-exam-timeline/student-exam-timeline.component.ts
  src/main/webapp/app/exam/participate/exam-navigation-bar/exam-navigation-bar.component.html
  src/main/webapp/app/exam/participate/exam-navigation-bar/exam-navigation-bar.component.ts
  src/main/webapp/app/exam/participate/exam-participation.component.html
  src/main/webapp/app/exam/participate/exam-participation.component.ts
  src/main/webapp/app/exam/participate/exam.utils.ts
  src/main/webapp/app/exam/participate/exercises/exercise-overview-page/exam-exercise-overview-page.component.html
  src/main/webapp/app/exam/participate/exercises/exercise-overview-page/exam-exercise-overview-page.component.ts
  src/test/javascript/spec/component/exam/participate/exam-exercise-overview-page.component.spec.ts
  src/test/javascript/spec/component/exam/participate/exam-navigation-bar.component.spec.ts
  src/test/javascript/spec/component/exam/participate/exam-participation.component.spec.ts
  src/test/javascript/spec/component/exam/participate/exam.utils.spec.ts
Labels: client, tests

Revert unnecessary changes
  src/main/webapp/app/entities/exercise.model.ts
  src/main/webapp/app/exam/manage/student-exams/student-exam-timeline/student-exam-timeline.component.ts
  src/main/webapp/app/exam/participate/exam-participation.component.ts
Labels: client

Revert "test if repo checkout fetches the correct config"
  .github/workflows/pullrequest-labeler.yml
Labels: none

Updating tag "artemis-test1"
  shields.json
Labels: none

Fixing client style
  src/test/cypress/support/requests/ExerciseAPIRequests.ts
Labels: tests, cypress

Reduce E2E test flakyness by increasing timeout
  src/test/cypress/support/pageobjects/assessment/StudentAssessmentPage.ts
Labels: tests, cypress

Updating tag "artemis-test2"
  shields.json
Labels: none

fix endpoint
  src/main/java/de/tum/in/www1/artemis/domain/science/ScienceEvent.java
  src/main/java/de/tum/in/www1/artemis/repository/science/ScienceEventRepository.java
  src/main/java/de/tum/in/www1/artemis/service/science/ScienceEventService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/science/ScienceResource.java
  src/main/resources/config/liquibase/changelog/20231211090000_changelog.xml
  src/main/webapp/app/shared/science/science.component.ts
  src/main/webapp/app/shared/science/science.service.ts
  src/main/webapp/i18n/de/userSettings.json
  src/main/webapp/i18n/en/userSettings.json
Labels: server, client

test labeler
  src/main/webapp/app/exam/manage/exercise-groups/exercise-groups.component.html
Labels: client

test labeler
  src/main/java/de/tum/in/www1/artemis/service/exam/ExamService.java
Labels: server

Updating tag "artemis-test3"
  shields.json
Labels: none

Updating tag "artemis-test2"
  shields.json
Labels: none

Updating tag "artemis-test3"
  shields.json
Labels: none

Try to fix cypress tests failing due to "Cypress detected that you returned a promise from a command while also invoking one or more cy commands in that promise."
  src/test/cypress/support/pageobjects/exam/ExamExerciseGroupCreationPage.ts
Labels: tests, cypress

Updating tag "artemis-test3"
  shields.json
Labels: none

Fix CIService injection
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/BambooTriggerService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/ci/ContinuousIntegrationTriggerService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/gitlabci/GitLabCITriggerService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsTriggerService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localvc/LocalVCServletService.java
Labels: server

Add run config for hades
  .idea/runConfigurations/Artemis__Server__Hades_.xml
Labels: none

implemented feedback mode for orion without a button
  src/main/webapp/app/orion/participation/orion-exercise-details-student-actions.component.html
Labels: client

activate automatic html linting for
  .lintstagedrc.js
Labels: none

Updating tag "artemis-test3"
  shields.json
Labels: none

fix fetch lazy and ui issues
  src/main/java/de/tum/in/www1/artemis/domain/LtiPlatformConfiguration.java
  src/main/java/de/tum/in/www1/artemis/repository/LtiPlatformConfigurationRepository.java
  src/main/java/de/tum/in/www1/artemis/service/OnlineCourseConfigurationService.java
  src/main/webapp/app/lti/lti.route.ts
Labels: server, client

Implement Interface methods
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCITriggerService.java
Labels: server

fix team-scale
  src/main/java/de/tum/in/www1/artemis/domain/LtiPlatformConfiguration.java
  src/main/java/de/tum/in/www1/artemis/service/OnlineCourseConfigurationService.java
Labels: server

add translation service
  src/main/java/de/tum/in/www1/artemis/domain/BuildScript.java
  src/main/java/de/tum/in/www1/artemis/domain/enumeration/AeolusTarget.java
  src/main/java/de/tum/in/www1/artemis/repository/BuildScriptRepository.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/GenericBuildScriptProvider.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/aeolus/AeolusBuildPlanService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/aeolus/AeolusBuildScriptProvider.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/build_plan/JenkinsBuildPlanService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIContainerService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseService.java
  src/main/resources/config/liquibase/changelog/20231212100000_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/exercises/programming/manage/update/update-components/programming-exercise-custom-build-plan.component.html
  src/main/webapp/app/exercises/programming/manage/update/update-components/programming-exercise-custom-build-plan.component.ts
  src/main/webapp/app/exercises/programming/shared/service/aeolus.service.ts
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/programmingExercise.json
Labels: server, client, database

add translation service
  src/main/webapp/app/exercises/programming/shared/service/aeolus.service.ts
Labels: client

Change naming for button when assessing a prog exercise the first time
  src/main/webapp/i18n/de/exerciseAssessmentDashboard.json
  src/main/webapp/i18n/en/exerciseAssessmentDashboard.json
Labels: client

Fix coupling in exceptions and ProgrammingLanguageFeatureService
  src/main/java/de/tum/in/www1/artemis/service/connectors/localvc/LocalVCServletService.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalCIIntegrationTest.java
Labels: server, tests

Fix overrides
  src/main/java/de/tum/in/www1/artemis/service/connectors/hades/HadesCIService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/hades/HadesCITriggerService.java
Labels: server

fix tests
  src/main/java/de/tum/in/www1/artemis/repository/LtiPlatformConfigurationRepository.java
  src/main/java/de/tum/in/www1/artemis/service/OnlineCourseConfigurationService.java
  src/test/java/de/tum/in/www1/artemis/service/OnlineCourseConfigurationServiceTest.java
Labels: server, tests

fix server-style
  src/main/java/de/tum/in/www1/artemis/domain/LtiPlatformConfiguration.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/lti/Lti13Service.java
Labels: server

Updating tag "artemis-test2"
  shields.json
Labels: none
