Repository ls1intum/Artemis, changes with the labels that .github/labeler.yml gives for each.
All labels: server, client, tests, cypress, database, documentation, docker, config-change, template

Updating tag "artemis-test3"
  shields.json
Labels: none

Updating tag "artemis-test3"
  shields.json
Labels: none

Updating tag "artemis-test3"
  shields.json
Labels: none

Updating tag "artemis-test4"
  shields.json
Labels: none

Updating tag "artemis-test4"
  shields.json
Labels: none

Updating tag "artemis-test3"
  shields.json
Labels: none

fix: external links
  src/main/webapp/app/detail-overview-list/detail-overview-list.component.html
Labels: client

Updating tag "artemis-test4"
  shields.json
Labels: none

Updating tag "artemis-test4"
  shields.json
Labels: none

fix: submission links
  src/main/webapp/app/detail-overview-list/detail-overview-list.component.html
  src/main/webapp/app/detail-overview-list/detail-overview-list.component.ts
Labels: client

Updating tag "artemis-test4"
  shields.json
Labels: none

Updating tag "artemis-test4"
  shields.json
Labels: none

fix: submission links
  src/main/webapp/app/detail-overview-list/detail-overview-list.component.html
  src/main/webapp/app/detail-overview-list/detail-overview-list.component.ts
Labels: client

Updating tag "artemis-test4"
  shields.json
Labels: none

Updating tag "artemis-test4"
  shields.json
Labels: none

Updating tag "artemis-test3"
  shields.json
Labels: none

Add endpoint to load muted conversations
  src/main/java/de/tum/in/www1/artemis/repository/NotificationSettingRepository.java
  src/main/java/de/tum/in/www1/artemis/web/rest/NotificationSettingsResource.java
  src/test/java/de/tum/in/www1/artemis/notification/NotificationSettingsResourceIntegrationTest.java
Labels: server, tests

Use new endpoint in client
  src/main/webapp/app/overview/course-overview.component.ts
  src/main/webapp/app/overview/discussion-section/discussion-section.component.ts
  src/main/webapp/app/shared/metis/conversations/conversation.service.ts
  src/main/webapp/app/shared/metis/metis-conversation.service.ts
  src/main/webapp/app/shared/notification/notification.service.ts
Labels: client

Adapt post componen test
  src/test/javascript/spec/component/shared/metis/post/post.component.spec.ts
Labels: tests

Add and adapt client tests
  src/test/javascript/spec/component/overview/course-conversations/services/channel.service.spec.ts
  src/test/javascript/spec/component/overview/course-conversations/services/conversation.service.spec.ts
  src/test/javascript/spec/component/overview/course-conversations/services/group-chat.service.spec.ts
  src/test/javascript/spec/component/overview/course-conversations/services/metis-conversation.service.spec.ts
  src/test/javascript/spec/component/overview/course-conversations/services/one-to-one-chat.service.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-notification.service.ts
  src/test/javascript/spec/service/notification.service.spec.ts
Labels: tests

Allow instructors to pin messages by default
  src/main/webapp/app/shared/metis/posting-reactions-bar/post-reactions-bar/post-reactions-bar.component.ts
Labels: client

setup conversation service on communication tab
  src/main/webapp/app/overview/course-overview.component.ts
Labels: client

Update notification text for group chats and direct messages
  src/main/webapp/i18n/de/notification.json
  src/main/webapp/i18n/en/notification.json
Labels: client

add angular component
  src/main/webapp/app/localci/build-queue/build-queue.component.html
  src/main/webapp/app/localci/build-queue/build-queue.component.scss
  src/main/webapp/app/localci/build-queue/build-queue.component.spec.ts
  src/main/webapp/app/localci/build-queue/build-queue.component.ts
Labels: client

Fix minor bug
  src/main/webapp/app/shared/metis/metis.service.ts
  src/main/webapp/app/shared/notification/notification.service.ts
Labels: client

Fix flaky test
  src/test/java/de/tum/in/www1/artemis/metis/ConversationIntegrationTest.java
Labels: tests

Add client component test
  src/test/javascript/spec/component/overview/course-conversations/services/metis-conversation.service.spec.ts
Labels: tests

Assessment: Change naming for button when assessing a programming exercise for the first time (#7783)
  src/main/webapp/i18n/de/exerciseAssessmentDashboard.json
  src/main/webapp/i18n/en/exerciseAssessmentDashboard.json
Labels: client

Iris: Fix cooldown message when chat limit is reached (#7776)
  src/main/webapp/app/iris/exercise-chatbot/widget/chatbot-widget.component.ts
Labels: client

Plagiarism checks: Include only student submissions (#7766)
  src/main/java/de/tum/in/www1/artemis/service/plagiarism/ModelingPlagiarismDetectionService.java
  src/main/java/de/tum/in/www1/artemis/service/plagiarism/ProgrammingPlagiarismDetectionService.java
  src/main/java/de/tum/in/www1/artemis/service/plagiarism/TextPlagiarismDetectionService.java
  src/test/java/de/tum/in/www1/artemis/exercise/modelingexercise/ModelingAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/modelingexercise/compass/umlmodel/AbstractUMLDiagramTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseIntegrationTestService.java
Labels: server, tests

Adaptive learning: Fix score display for competency details view (#7617)
  src/main/java/de/tum/in/www1/artemis/web/rest/CompetencyResource.java
Labels: server

Iris: Fix an issue with vertical scroll position reset (#7760)
  src/main/webapp/app/iris/exercise-chatbot/widget/chatbot-widget.component.scss
  src/main/webapp/app/iris/exercise-chatbot/widget/chatbot-widget.component.ts
Labels: client

Development: Remove quiz pool REST call on exam detail page (#7769)
  src/main/java/de/tum/in/www1/artemis/domain/exam/Exam.java
  src/main/java/de/tum/in/www1/artemis/service/QuizPoolService.java
  src/main/java/de/tum/in/www1/artemis/service/exam/ExamService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExamResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/QuizPoolResource.java
  src/main/webapp/app/entities/exam.model.ts
  src/main/webapp/app/exam/manage/exams/exam-checklist-component/exam-checklist-exercisegroup-table/exam-checklist-exercisegroup-table.component.html
  src/main/webapp/app/exam/manage/exams/exam-checklist-component/exam-checklist-exercisegroup-table/exam-checklist-exercisegroup-table.component.ts
  src/main/webapp/app/exam/manage/exams/exam-checklist-component/exam-checklist.component.html
  src/main/webapp/app/exam/manage/exams/exam-checklist-component/exam-checklist.component.ts
  src/main/webapp/app/exercises/quiz/manage/quiz-pool.component.ts
  src/test/java/de/tum/in/www1/artemis/exam/ExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exam/QuizPoolIntegrationTest.java
  src/test/javascript/spec/component/exercises/quiz/manage/quiz-pool.component.spec.ts
Labels: server, client, tests

Improve notification display
  src/main/webapp/app/shared/notification/notification-popup/notification-popup.component.html
  src/main/webapp/app/shared/notification/notification-popup/notification-popup.component.ts
  src/main/webapp/app/shared/notification/notification-popup/notification-popup.scss
  src/test/javascript/spec/component/shared/notification/notification-popup.component.spec.ts
Labels: client, tests

Updating tag "artemis-test5"
  shields.json
Labels: none

fix check if project exists in GitLab setups
  src/main/java/de/tum/in/www1/artemis/service/connectors/gitlab/GitLabService.java
  src/test/java/de/tum/in/www1/artemis/connector/GitlabRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/GitlabServiceTest.java
Labels: server, tests

Updating tag "artemis-test5"
  shields.json
Labels: none

Remove console.log
  src/main/webapp/app/shared/metis/metis.service.ts
Labels: client

Update pin post tooltips
  src/main/webapp/app/shared/metis/posting-reactions-bar/post-reactions-bar/post-reactions-bar.component.ts
  src/main/webapp/i18n/de/metis.json
  src/main/webapp/i18n/en/metis.json
  src/test/cypress/support/pageobjects/course/CourseCommunication.ts
  src/test/javascript/spec/component/shared/metis/postings-reactions-bar/post-reactions-bar/post-reactions-bar.component.spec.ts
Labels: client, tests, cypress

Increase display time for message notification pop-ups
  src/main/webapp/app/shared/notification/notification-popup/notification-popup.component.ts
  src/test/javascript/spec/component/shared/notification/notification-popup.component.spec.ts
Labels: client, tests

.github/labeler.yml:

server:
  - changed-files:
      - any-glob-to-any-file: src/main/java/**/*.java

client:
  - changed-files:
      - any-glob-to-any-file: src/main/webapp/**/*

tests:
  - changed-files:
      - any-glob-to-any-file: src/test/**/*

cypress:
  - changed-files:
      - any-glob-to-any-file: src/test/cypress/**/*

database:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/liquibase/master.xml

documentation:
  - changed-files:
      - any-glob-to-any-file: docs/**/*

docker:
  - changed-files:
      - any-glob-to-any-file: docker/**/*

config-change:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/*.yml

template:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/templates/**/*
