Repository ls1intum/Artemis, changes with the labels that .github/labeler.yml gives for each.
All labels: server, client, tests, cypress, database, documentation, docker, config-change, template

Switch login back to https
  src/test/playwright/support/commands.ts
Labels: tests

Switch to http requests through playwright
  src/test/playwright/support/commands.ts
Labels: tests

fix grammar
  docs/user/plagiarism-check.rst
Labels: documentation

Updating tag "artemis-test1"
  shields.json
Labels: none

Updating tag "artemis-test2"
  shields.json
Labels: none

Updating tag "artemis-test2"
  shields.json
Labels: none

Update control flow syntax
  src/main/webapp/app/exercises/math/manage/math-exercise/math-exercise-detail.component.html
  src/main/webapp/app/exercises/math/manage/math-exercise/math-exercise-row-buttons.component.html
  src/main/webapp/app/exercises/math/manage/math-exercise/math-exercise-update.component.html
  src/main/webapp/app/exercises/math/manage/math-exercise/math-exercise.component.html
Labels: client

Development: Decouple LocalCI and LocalVC (#7787)
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIConnectorService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCITriggerService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localvc/LocalVCServletService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/repository/RepositoryProgrammingExerciseParticipationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/repository/RepositoryResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/repository/TestRepositoryResource.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalCIIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalVCIntegrationTest.java
Labels: server, tests

.github/labeler.yml:

server:
  - changed-files:
      - any-glob-to-any-file: src/main/java/**/*.java

client:
  - changed-files:
      - any-glob-to-any-file: src/main/webapp/**/*

tests:
  - changed-files:
      - any-glob-to-any-file: src/test/**/*

cypress:
  - changed-files:
      - any-glob-to-any-file: src/test/cypress/**/*

database:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/liquibase/master.xml

documentation:
  - changed-files:
      - any-glob-to-any-file: docs/**/*

docker:
  - changed-files:
      - any-glob-to-any-file: docker/**/*

config-change:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/*.yml

template:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/templates/**/*
