Repository ls1intum/Artemis, changes with the labels that .github/labeler.yml gives for each.
All labels: server, client, tests, cypress, database, documentation, docker, config-change, template

Updating tag "artemis-test6"
  shields.json
Labels: none

Updating tag "artemis-test3"
  shields.json
Labels: none

chore: fix submission string
  src/main/webapp/app/detail-overview-list/detail-overview-list.component.html
  src/main/webapp/app/detail-overview-list/detail-overview-list.component.ts
Labels: client

refactor methods in LocalCITriggerService for better readability
  src/main/java/de/tum/in/www1/artemis/service/connectors/localvc/LocalVCServletService.java
Labels: server

Update science-settings.component.html
  src/main/webapp/app/shared/user-settings/science-settings/science-settings.component.html
Labels: client

Updating tag "artemis-test3"
  shields.json
Labels: none

Update ScienceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ScienceIntegrationTest.java
Labels: tests

chore: improve tests
  src/main/webapp/app/course/manage/detail/course-detail-line-chart.component.ts
  src/test/javascript/spec/component/course/course-management.service.spec.ts
Labels: client, tests

Delete fields from post model and update tests and methods
  src/main/webapp/app/course/plagiarism-cases/instructor-view/detail-view/plagiarism-case-instructor-detail-view.component.ts
  src/main/webapp/app/entities/metis/conversation/channel.model.ts
  src/main/webapp/app/overview/course-conversations/layout/conversation-messages/conversation-messages.component.ts
  src/main/webapp/app/overview/discussion-section/discussion-section.component.ts
  src/main/webapp/app/shared/metis/metis.service.ts
  src/main/webapp/app/shared/metis/post/post.component.html
  src/main/webapp/app/shared/metis/posting-content/posting-content.component.html
  src/main/webapp/app/shared/metis/posting-content/posting-content.components.ts
  src/main/webapp/app/shared/metis/posting-create-edit-modal/post-create-edit-modal/post-create-edit-modal.component.html
  src/main/webapp/app/shared/metis/posting-create-edit-modal/post-create-edit-modal/post-create-edit-modal.component.ts
  src/test/javascript/spec/component/overview/course-conversations/layout/conversation-messages/conversation-messages.component.spec.ts
  src/test/javascript/spec/component/shared/metis/post/post.component.spec.ts
  src/test/javascript/spec/component/shared/metis/posting-content/posting-content.component.spec.ts
  src/test/javascript/spec/component/shared/metis/postings-create-edit-modal/post-create-edit-modal/post-create-edit-modal.component.spec.ts
  src/test/javascript/spec/component/shared/metis/postings-header/answer-post-header/answer-post-header.component.spec.ts
  src/test/javascript/spec/component/virtual-scroll/virtual-scroll.component.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-metis-service.service.ts
  src/test/javascript/spec/helpers/sample/metis-sample-data.ts
  src/test/javascript/spec/service/metis/metis.service.spec.ts
Labels: client, tests

Delete post fields and update one test
  src/main/webapp/app/entities/metis/post.model.ts
  src/test/javascript/spec/component/shared/metis/postings-create-edit-modal/post-create-edit-modal/post-create-edit-modal.component.spec.ts
Labels: client, tests

Updating tag "artemis-test3"
  shields.json
Labels: none

always store the windfile
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseService.java
Labels: server

Delete courseWideContext classes
  src/main/java/de/tum/in/www1/artemis/domain/metis/PostContextConstraintValidator.java
  src/main/webapp/app/overview/course-discussion/course-discussion.component.ts
  src/main/webapp/app/shared/metis/metis.util.ts
  src/main/webapp/app/shared/metis/post/post.component.ts
  src/main/webapp/app/shared/metis/posting-create-edit-modal/post-create-edit-modal/post-create-edit-modal.component.ts
  src/main/webapp/app/shared/metis/posting-header/answer-post-header/answer-post-header.component.ts
  src/main/webapp/app/shared/metis/posting-header/post-header/post-header.component.ts
  src/test/cypress/support/constants.ts
  src/test/cypress/support/pageobjects/course/CourseCommunication.ts
  src/test/java/de/tum/in/www1/artemis/metis/PostIntegrationTest.java
  src/test/javascript/spec/component/overview/course-discussion/course-discussion.component.spec.ts
  src/test/javascript/spec/component/shared/metis/message-inline-input-component/message-inline-input.component.spec.ts
  src/test/javascript/spec/component/shared/metis/message-reply-inline-input/message-reply-inline-input.component.spec.ts
  src/test/javascript/spec/component/shared/metis/posting-content/posting-content.component.spec.ts
  src/test/javascript/spec/component/shared/metis/postings-create-edit-modal/post-create-edit-modal/post-create-edit-modal.component.spec.ts
Labels: server, client, tests, cypress

Updating tag "artemis-test3"
  shields.json
Labels: none

remove unnecessary method in ContinuousIntegrationTriggerService
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/BambooTriggerService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/ci/ContinuousIntegrationTriggerService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/gitlabci/GitLabCITriggerService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsTriggerService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCITriggerService.java
Labels: server

Development: Fix handling of skipped tests in local continuous integration (#7794)
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIBuildJobExecutionService.java
Labels: server

Updating tag "artemis-test4"
  shields.json
Labels: none

Updating tag "artemis-test4"
  shields.json
Labels: none

Allow to recreate 1to1 chat for other user if chat is empty
  src/main/java/de/tum/in/www1/artemis/service/metis/conversation/OneToOneChatService.java
  src/main/webapp/app/shared/metis/metis-conversation.service.ts
  src/main/webapp/i18n/de/metis.json
  src/main/webapp/i18n/en/metis.json
  src/test/java/de/tum/in/www1/artemis/metis/OneToOneChatIntegrationTest.java
Labels: server, client, tests

Adds user import to playwright
  docker/playwright-E2E-tests-mysql.yml
  src/test/playwright/init/ImportUsers.spec.ts
  src/test/playwright/package.json
  src/test/playwright/playwright.env
  src/test/playwright/support/commands.ts
  src/test/playwright/support/fixtures.ts
  src/test/playwright/support/requests/UserManagementAPIRequests.ts
  src/test/playwright/support/users.ts
Labels: tests, docker

remove unnecessary variable in JenkinsTriggerService
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsTriggerService.java
Labels: server

fix: build plan link
  src/main/webapp/app/detail-overview-list/detail-overview-list.component.html
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.ts
Labels: client

Updating tag "artemis-test4"
  shields.json
Labels: none

Updating tag "artemis-test4"
  shields.json
Labels: none

Updating tag "artemis-test5"
  shields.json
Labels: none

Updating tag "artemis-test5"
  shields.json
Labels: none

Updating tag "artemis-test5"
  shields.json
Labels: none

Updating tag "artemis-test5"
  shields.json
Labels: none

Development: Update Python and Java Aeolus templates (#7764)
  src/main/java/de/tum/in/www1/artemis/domain/enumeration/AeolusTarget.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/aeolus/AeolusTemplateService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseService.java
  src/main/resources/templates/aeolus/java/plain_gradle.yaml
  src/main/resources/templates/aeolus/java/plain_gradle_sequential.yaml
  src/main/resources/templates/aeolus/java/plain_gradle_static.yaml
  src/main/resources/templates/aeolus/java/plain_gradle_static_coverage.yaml
  src/main/resources/templates/aeolus/java/plain_maven.yaml
  src/main/resources/templates/aeolus/java/plain_maven_sequential.yaml
  src/main/resources/templates/aeolus/java/plain_maven_static.yaml
  src/main/resources/templates/aeolus/java/plain_maven_static_coverage.yaml
  src/main/resources/templates/aeolus/python/default.yaml
  src/main/resources/templates/aeolus/python/default_sequential.yaml
  src/test/cypress/e2e/exercises/modeling/ModelingExerciseManagement.cy.ts
  src/test/java/de/tum/in/www1/artemis/connectors/AeolusTemplateResourceTest.java
Labels: server, tests, cypress, template

Updating tag "artemis-test3"
  shields.json
Labels: none

fix: external links
  src/main/webapp/app/detail-overview-list/detail-overview-list.component.html
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.ts
Labels: client

Updating tag "artemis-test3"
  shields.json
Labels: none

Remove function calls from post template
  src/main/webapp/app/shared/metis/post/post.component.html
  src/main/webapp/app/shared/metis/post/post.component.ts
Labels: client

Updating tag "artemis-test3"
  shields.json
Labels: none

Updating tag "artemis-test3"
  shields.json
Labels: none

Updating tag "artemis-test3"
  shields.json
Labels: none

Updating tag "artemis-test3"
  shields.json
Labels: none

rename the element
  src/main/webapp/app/exercises/programming/manage/update/update-components/programming-exercise-custom-aeolus-build-plan.component.ts
  src/main/webapp/app/exercises/programming/manage/update/update-components/programming-exercise-language.component.html
Labels: client

Updating tag "artemis-test3"
  shields.json
Labels: none

Updating tag "artemis-test3"
  shields.json
Labels: none

.github/labeler.yml:

server:
  - changed-files:
      - any-glob-to-any-file: src/main/java/**/*.java

client:
  - changed-files:
      - any-glob-to-any-file: src/main/webapp/**/*

tests:
  - changed-files:
      - any-glob-to-any-file: src/test/**/*

cypress:
  - changed-files:
      - any-glob-to-any-file: src/test/cypress/**/*

database:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/liquibase/master.xml

documentation:
  - changed-files:
      - any-glob-to-any-file: docs/**/*

docker:
  - changed-files:
      - any-glob-to-any-file: docker/**/*

config-change:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/config/*.yml

template:
  - changed-files:
      - any-glob-to-any-file: src/main/resources/templates/**/*
