Repository ls1intum/Artemis, pull requests merged in 2019-06, with the labels that each got.

#538 Bugfix/Programming-Exercise instruction preview not working for template participation
  src/main/webapp/app/entities/programming-exercise/instructions/programming-exercise-instruction.component.ts
Labels: bug, ready for review

#541 Improve tutor status bar
  src/main/java/de/tum/in/www1/artemis/service/ComplaintService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/webapp/app/instructor-course-dashboard/instructor-course-dashboard.component.ts
  src/main/webapp/app/tutor-course-dashboard/tutor-course-dashboard.component.html
  src/main/webapp/app/tutor-course-dashboard/tutor-course-dashboard.component.ts
  src/main/webapp/app/tutor-course-dashboard/tutor-participation-graph/tutor-participation-graph.component.html
  src/main/webapp/app/tutor-course-dashboard/tutor-participation-graph/tutor-participation-graph.component.scss
  src/main/webapp/app/tutor-course-dashboard/tutor-participation-graph/tutor-participation-graph.component.ts
  src/main/webapp/app/tutor-exercise-dashboard/tutor-exercise-dashboard.component.html
Labels: feature, java, javascript, ready for review

#547 Bugfix/instructor status/use participation websocket for results
  src/main/webapp/app/entities/programming-exercise/programming-exercise-detail.component.html
  src/main/webapp/app/entities/programming-exercise/programming-exercise.component.html
  src/main/webapp/app/entities/programming-exercise/status/programming-exercise-instructor-status.component.html
  src/main/webapp/app/entities/programming-exercise/status/programming-exercise-instructor-status.component.ts
  src/test/javascript/jest.config.js
  src/test/javascript/spec/component/programming-exercise/programming-exercise-instructor-status.spec.ts
  src/test/javascript/spec/mocks/index.ts
  src/test/javascript/spec/mocks/mock-cookie.service.ts
  src/test/javascript/spec/mocks/mock-sync.storage.ts
Labels: bug, ready for review

#490 Setup/Add cold dev sever
  package.json
  webpack/webpack.dev.js
Labels: ready for review

#553 fix NullPointerException on empty repos
  src/main/java/de/tum/in/www1/artemis/service/connectors/GitService.java
Labels: bug, ready for review

#554 Bugfix/programming-exercise/manually strip exercise from participations on create/update
  src/main/webapp/app/entities/programming-exercise/programming-exercise.service.ts
Labels: bug, ready for review

#552 Bugfix/participation-websocket-service modifies passed participation object
  src/main/webapp/app/entities/participation/participation-websocket.service.ts
Labels: bug, ready for review

#562 Bugfix/students do not have one week for complaining if result was submitted before assessment due date
  src/main/java/de/tum/in/www1/artemis/service/ComplaintService.java
  src/main/webapp/app/entities/result/result.service.ts
  src/main/webapp/app/modeling-submission/modeling-submission.component.html
  src/main/webapp/app/modeling-submission/modeling-submission.component.ts
  src/main/webapp/app/text-editor/text-editor.component.html
  src/main/webapp/app/text-editor/text-editor.component.ts
Labels: bug, ready for review

#561 Improve course exercise details page
  src/main/webapp/app/code-editor/build-output/code-editor-build-output.component.ts
  src/main/webapp/app/core/websocket/websocket.service.ts
  src/main/webapp/app/entities/participation/participation-websocket.service.ts
  src/main/webapp/app/entities/programming-exercise/instructions/programming-exercise-instruction.component.ts
  src/main/webapp/app/entities/programming-exercise/status/programming-exercise-instructor-status.component.ts
  src/main/webapp/app/entities/result/updating-result.component.ts
  src/main/webapp/app/modeling-submission/modeling-submission.component.ts
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.html
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.ts
  src/main/webapp/i18n/de/result.json
  src/main/webapp/i18n/en/result.json
  src/test/javascript/jest.config.js
  src/test/javascript/spec/mocks/mock-websocket.service.ts
  src/test/javascript/spec/service/participation-websocket-service.spec.ts
Labels: bug, ready for review

#570 Enhancement/Domain command improvements for programming-exercises
  src/main/webapp/app/components/util/markdown.service.ts
  src/main/webapp/app/entities/programming-exercise/index.ts
  src/main/webapp/app/entities/programming-exercise/instructions/programming-exercise-editable-instruction.component.html
  src/main/webapp/app/entities/programming-exercise/instructions/programming-exercise-editable-instruction.component.ts
  src/main/webapp/app/entities/programming-exercise/instructions/programming-exercise-instruction-testcase-status.component.html
  src/main/webapp/app/entities/programming-exercise/instructions/programming-exercise-instruction-testcase-status.component.ts
  src/main/webapp/app/entities/programming-exercise/programming-exercise.module.ts
  src/main/webapp/app/markdown-editor/commands/command.ts
  src/main/webapp/app/markdown-editor/domainCommands/domainCommand.ts
  src/main/webapp/app/markdown-editor/domainCommands/domainMultiOptionCommand.ts
  src/main/webapp/app/markdown-editor/domainCommands/programming-exercise/task.command.ts
  src/main/webapp/app/markdown-editor/domainCommands/programming-exercise/testCase.command.ts
  src/main/webapp/app/markdown-editor/markdown-editor.component.html
  src/main/webapp/app/markdown-editor/markdown-editor.component.ts
  src/main/webapp/app/utils/global.utils.ts
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/programmingExercise.json
  src/test/javascript/spec/component/programming-exercise/programming-exercise-instruction-testcase-status.spec.ts
  src/test/javascript/spec/component/utils/global-utils.spec.ts
Labels: enhancement, ready for review

#571 Implement sorting options for dashboard tables
  src/main/java/de/tum/in/www1/artemis/service/AssessmentService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/webapp/app/instructor-course-dashboard/instructor-course-dashboard.component.html
  src/main/webapp/app/instructor-course-dashboard/instructor-course-dashboard.component.ts
  src/main/webapp/app/instructor-course-dashboard/instructor-course-dashboard.module.ts
  src/main/webapp/app/instructor-course-dashboard/tutor-leaderboard/tutor-leaderboard.component.html
  src/main/webapp/app/instructor-course-dashboard/tutor-leaderboard/tutor-leaderboard.component.ts
  src/main/webapp/app/instructor-exercise-dashboard/instructor-exercise-dashboard.component.html
  src/main/webapp/app/instructor-exercise-dashboard/instructor-exercise-dashboard.component.ts
  src/main/webapp/app/tutor-course-dashboard/tutor-course-dashboard.component.html
  src/main/webapp/app/tutor-course-dashboard/tutor-course-dashboard.component.ts
  src/main/webapp/app/tutor-course-dashboard/tutor-course-dashboard.module.ts
Labels: enhancement, javascript

#573 Tests/Update readme with contribution guide + add test stages to travis pipeline
  .travis.yml
  README.md
  doc/contribute/CONTRIBUTE.md
  doc/exerciseTypes/programmingExercise/CodeEditor.png
  doc/exerciseTypes/programmingExercise/ExerciseWorkflow.png
  doc/exerciseTypes/programmingExercise/OnlineEditor.png
  doc/exerciseTypes/programmingExercise/PROGRAMMING_EXERCISE.md
  doc/exerciseTypes/programmingExercise/VersionControlAdapter.png
  doc/setup/SETUP.md
  src/test/java/de/tum/in/www1/artemis/CourseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ModelingAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ModelingSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ParticipationIntegrationTest.java
Labels: ready for review, tests

#575 Tests/added missing import statement for ignore
  src/test/java/de/tum/in/www1/artemis/ModelingAssessmentIntegrationTest.java
Labels: tests

#577 Tests/fixed some broken java tests & improved test result logging
  build.gradle
  src/test/java/de/tum/in/www1/artemis/CourseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ModelingAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ModelingSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ParticipationIntegrationTest.java
Labels: ready for review, tests

#576 Feature/programming exercise/squash template commits + hard reset before structure oracle tests
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/GitService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseResource.java
  src/main/webapp/app/entities/programming-exercise/programming-exercise-detail.component.html
  src/main/webapp/app/entities/programming-exercise/programming-exercise-detail.component.ts
  src/main/webapp/app/entities/programming-exercise/programming-exercise.service.ts
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/programmingExercise.json
  src/test/java/de/tum/in/www1/artemis/GitServiceTest.java
  src/test/java/de/tum/in/www1/artemis/util/GitUtilService.java
Labels: feature, ready for review

#582 Bugfix/attachment upload error
  package.json
  src/main/java/de/tum/in/www1/artemis/web/rest/AttachmentResource.java
  src/main/webapp/app/entities/lecture/lecture-attachments.component.html
  src/main/webapp/app/entities/lecture/lecture-attachments.component.ts
  src/main/webapp/i18n/de/lecture.json
  src/main/webapp/i18n/en/lecture.json
  src/test/javascript/spec/component/lecture/lecture-attachments.spec.ts
Labels: java, javascript, ready for review

#563 Feature/mobile drag drop quiz
  package.json
  src/main/webapp/app/apollon-diagrams/apollon-diagram-detail.component.ts
  src/main/webapp/app/apollon-diagrams/exercise-generation/quiz-exercise-generator.ts
  src/main/webapp/app/apollon-diagrams/exercise-generation/svg-renderer.ts
  src/main/webapp/app/app.module.ts
  src/main/webapp/app/components/util/secured-image.component.ts
  src/main/webapp/app/quiz/edit/drag-and-drop-question/edit-drag-and-drop-question.component.html
  src/main/webapp/app/quiz/edit/drag-and-drop-question/edit-drag-and-drop-question.component.ts
  src/main/webapp/app/quiz/participate/drag-and-drop-question/drag-and-drop-question.component.html
  src/main/webapp/app/quiz/participate/drag-and-drop-question/drag-and-drop-question.component.ts
  src/main/webapp/app/quiz/participate/drag-and-drop-question/drag-item.component.html
  src/main/webapp/app/quiz/participate/drag-and-drop-question/drag-item.component.ts
  src/main/webapp/app/tutor-course-dashboard/tutor-course-dashboard.component.ts
  src/main/webapp/content/scss/quiz.scss
  src/main/webapp/i18n/de/dragAndDropQuestion.json
  src/main/webapp/i18n/en/dragAndDropQuestion.json
Labels: ready for review

#580 Bugfix/Show correct result in result component in exercise detail row
  src/main/java/de/tum/in/www1/artemis/domain/Exercise.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ParticipationResource.java
  src/main/webapp/app/code-editor/code-editor-instructor-container.component.html
  src/main/webapp/app/code-editor/code-editor-student-container.component.html
  src/main/webapp/app/entities/participation/participation-utils.ts
  src/main/webapp/app/entities/programming-exercise/programming-exercise-detail.component.html
  src/main/webapp/app/entities/programming-exercise/programming-exercise-update.component.html
  src/main/webapp/app/entities/result/updating-result.component.html
  src/main/webapp/app/entities/result/updating-result.component.ts
  src/test/javascript/spec/component/shared/updating-result.spec.ts
  src/test/javascript/spec/integration/code-editor/code-editor-instructor.spec.ts
Labels: bug, ready for review

#585 Limit number of locked submissions per tutor
  src/main/java/de/tum/in/www1/artemis/config/Constants.java
  src/main/java/de/tum/in/www1/artemis/repository/SubmissionRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ModelingSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/SubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/TextSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ParticipationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextSubmissionResource.java
  src/main/webapp/app/entities/modeling-submission/modeling-submission.service.ts
  src/main/webapp/app/entities/text-submission/text-submission.service.ts
  src/main/webapp/app/modeling-assessment-editor/modeling-assessment-editor.component.ts
  src/main/webapp/app/text-assessment/text-assessment.component.ts
  src/main/webapp/app/tutor-exercise-dashboard/tutor-exercise-dashboard.component.html
  src/main/webapp/app/tutor-exercise-dashboard/tutor-exercise-dashboard.component.ts
  src/main/webapp/i18n/de/submission.json
  src/main/webapp/i18n/en/submission.json
  src/test/java/de/tum/in/www1/artemis/ModelingAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ModelingSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
Labels: feature, ready for review, tests

#583 Show complaint status and implement sorting in complaint list
  src/main/java/de/tum/in/www1/artemis/repository/ComplaintRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ComplaintService.java
  src/main/webapp/app/list-of-complaints/list-of-complaints.component.html
  src/main/webapp/app/list-of-complaints/list-of-complaints.component.ts
  src/main/webapp/app/list-of-complaints/list-of-complaints.module.ts
  src/main/webapp/i18n/de/complaint.json
  src/main/webapp/i18n/en/complaint.json
  src/test/javascript/spec/component/list-of-complaints/list-of-complaints.spec.ts
Labels: enhancement, javascript, ready for review

#597 Bugfix/reject complaints
  src/main/java/de/tum/in/www1/artemis/domain/AssessmentUpdate.java
  src/main/java/de/tum/in/www1/artemis/repository/ResultRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ComplaintResponseService.java
  src/main/java/de/tum/in/www1/artemis/service/ComplaintService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ComplaintResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ComplaintResponseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingAssessmentResource.java
  src/test/java/de/tum/in/www1/artemis/AssessmentComplaintIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/java/de/tum/in/www1/artemis/util/ModelFactory.java
Labels: bug, ready for review, tests

#596 Tutor Exercise Dashboard Tests
  src/test/javascript/spec/component/tutor-dashboard/tutor-exercise-dashboard.spec.ts
Labels: ready for review, tests

#601 Bugfix/ Change target of js bundle for support of Edge
  tsconfig-aot.json
Labels: bug, ready for review

#603 Bugfix / fix console error from sentry in code editor
  src/main/webapp/app/code-editor/ace/code-editor-ace.component.ts
Labels: bug, ready for review

#602 Hotfix / Programming-Exercises: Handle Template and Solution Participation access
  src/main/java/de/tum/in/www1/artemis/repository/ProgrammingExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ParticipationService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/RepositoryService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ParticipationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ResultResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/repository/RepositoryParticipationResource.java
Labels: bug, ready for review

#604 Enhancement / disable participation repositories without repositoryUrl
  src/main/webapp/app/code-editor/code-editor-instructor-container.component.html
  src/main/webapp/app/code-editor/code-editor-instructor-container.component.ts
  src/test/javascript/spec/integration/code-editor/code-editor-instructor.spec.ts
Labels: enhancement, ready for review

#606 Programming-Exercise / Fix latest result query failing on completionDate is null, multiple results at the same timestamp
  src/main/java/de/tum/in/www1/artemis/repository/ResultRepository.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ResultResource.java
Labels: bug, ready for review

#605 Bugfix/fix wrong size of drop locations
  src/main/webapp/app/quiz/participate/drag-and-drop-question/drag-and-drop-question.component.html
  src/main/webapp/app/quiz/participate/drag-and-drop-question/drag-and-drop-question.component.ts
  src/main/webapp/app/quiz/participate/drag-and-drop-question/drag-item.component.html
  src/main/webapp/content/scss/quiz.scss
Labels: bug, ready for review
