Repository ls1intum/Artemis, pull requests merged in 2019-08, with the labels that each got.

#646 Feature/programming exercise/hints
  .jhipster/ExerciseHint.json
  src/main/java/de/tum/in/www1/artemis/domain/Exercise.java
  src/main/java/de/tum/in/www1/artemis/domain/ExerciseHint.java
  src/main/java/de/tum/in/www1/artemis/repository/ExerciseHintRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ExerciseHintService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExerciseHintResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseTestCaseResource.java
  src/main/resources/config/liquibase/changelog/20190715204745_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/code-editor/code-editor-instructor-container.component.html
  src/main/webapp/app/code-editor/code-editor-student-container.component.html
  src/main/webapp/app/code-editor/code-editor.module.ts
  src/main/webapp/app/entities/entity.module.ts
  src/main/webapp/app/entities/exercise-hint/exercise-hint-delete-dialog.component.html
  src/main/webapp/app/entities/exercise-hint/exercise-hint-delete-dialog.component.ts
  src/main/webapp/app/entities/exercise-hint/exercise-hint-detail.component.html
  src/main/webapp/app/entities/exercise-hint/exercise-hint-detail.component.ts
  src/main/webapp/app/entities/exercise-hint/exercise-hint-student-dialog.component.html
  src/main/webapp/app/entities/exercise-hint/exercise-hint-student-dialog.component.ts
  src/main/webapp/app/entities/exercise-hint/exercise-hint-student-dialog.scss
  src/main/webapp/app/entities/exercise-hint/exercise-hint-update.component.html
  src/main/webapp/app/entities/exercise-hint/exercise-hint-update.component.ts
  src/main/webapp/app/entities/exercise-hint/exercise-hint.component.html
  src/main/webapp/app/entities/exercise-hint/exercise-hint.component.ts
  src/main/webapp/app/entities/exercise-hint/exercise-hint.model.ts
  src/main/webapp/app/entities/exercise-hint/exercise-hint.module.ts
  src/main/webapp/app/entities/exercise-hint/exercise-hint.route.ts
  src/main/webapp/app/entities/exercise-hint/exercise-hint.scss
  src/main/webapp/app/entities/exercise-hint/exercise-hint.service.ts
  src/main/webapp/app/entities/exercise-hint/index.ts
  src/main/webapp/app/entities/programming-exercise/programming-exercise.component.html
  src/main/webapp/app/markdown-editor/markdown-editor.component.scss
  src/main/webapp/i18n/de/exerciseHint.json
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/en/exerciseHint.json
  src/main/webapp/i18n/en/global.json
  src/test/gatling/user-files/simulations/ExerciseHintGatlingTest.scala
  src/test/java/de/tum/in/www1/artemis/ExerciseHintIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/javascript/e2e/entities/exercise-hint/exercise-hint.page-object.ts
  src/test/javascript/e2e/entities/exercise-hint/exercise-hint.spec.ts
  src/test/javascript/spec/component/exercise-hint/exercise-hint-delete-dialog.component.spec.ts
  src/test/javascript/spec/component/exercise-hint/exercise-hint-detail.component.spec.ts
  src/test/javascript/spec/component/exercise-hint/exercise-hint-update.component.spec.ts
  src/test/javascript/spec/component/exercise-hint/exercise-hint.component.spec.ts
  src/test/javascript/spec/component/exercise-hint/exercise-hint.service.spec.ts
Labels: feature, ready for review

#706 Bugfix/fix jhipster needle and add exerciseHint cache
  src/main/java/de/tum/in/www1/artemis/config/CacheConfiguration.java
Labels: bug, ready for review

#702 Bugfix/Fix issue where user is not retrieved properly in the navbar on page reload
  src/main/webapp/app/core/auth/account.service.ts
  src/main/webapp/app/layouts/connection-notification/connection-notification.component.ts
  src/main/webapp/app/layouts/navbar/navbar.component.ts
  src/main/webapp/app/layouts/notification-container/notification-container.component.ts
  src/main/webapp/app/layouts/system-notification/system-notification.component.ts
  src/main/webapp/app/shared/auth/has-any-authority.directive.ts
  src/test/javascript/spec/mocks/mock-websocket.service.ts
  src/test/javascript/spec/service/account-service.spec.ts
Labels: ready for review

#708 Bugfix/Fix build output height & remove ng-deep
  src/main/webapp/app/code-editor/layout/code-editor-grid.component.ts
  src/main/webapp/app/code-editor/layout/code-editor-grid.scss
Labels: bug, ready for review

#710 Chore/Add contributing.md in official github format
  CONTRIBUTING.md
  README.md
Labels: chore, ready for review

#695 Bugfix/Improve result and submission saving for programming exercises + write integration tests
  build.gradle
  src/main/java/de/tum/in/www1/artemis/domain/ProgrammingExerciseParticipation.java
  src/main/java/de/tum/in/www1/artemis/domain/Submission.java
  src/main/java/de/tum/in/www1/artemis/repository/ParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ProgrammingExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ProgrammingExerciseStudentParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ProgrammingSubmissionRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/SolutionProgrammingExerciseParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/TemplateProgrammingExerciseParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/UserRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ModelingAssessmentService.java
  src/main/java/de/tum/in/www1/artemis/service/ModelingSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/ParticipationService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseTestCaseService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/ResultService.java
  src/main/java/de/tum/in/www1/artemis/service/UserService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/BambooService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/BitbucketService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/VersionControlService.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/AutomaticBuildPlanCleanupService.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/AutomaticSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ResultResource.java
  src/test/java/de/tum/in/www1/artemis/ProgrammingExerciseParticipationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ProgrammingSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ResultServiceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/constants/ProgrammingSubmissionConstants.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/java/de/tum/in/www1/artemis/util/RequestUtilService.java
Labels: enhancement, help wanted, java, tests

#707 Feature/Programming-Exercises/Visualize build process for students
  build.gradle
  src/main/java/de/tum/in/www1/artemis/repository/ProgrammingSubmissionRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseParticipationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingSubmissionResource.java
  src/main/webapp/app/code-editor/actions/code-editor-actions.component.html
  src/main/webapp/app/code-editor/actions/code-editor-actions.component.ts
  src/main/webapp/app/code-editor/build-output/code-editor-build-output.component.ts
  src/main/webapp/app/code-editor/code-editor-instructor-container.component.html
  src/main/webapp/app/code-editor/code-editor-instructor-container.component.ts
  src/main/webapp/app/code-editor/code-editor-mode-container.component.ts
  src/main/webapp/app/code-editor/code-editor-student-container.component.html
  src/main/webapp/app/code-editor/code-editor-student-container.component.ts
  src/main/webapp/app/code-editor/code-editor.module.ts
  src/main/webapp/app/code-editor/service/code-editor-submission.service.ts
  src/main/webapp/app/code-editor/service/index.ts
  src/main/webapp/app/course-list/exercise-list/exercise-list.component.html
  src/main/webapp/app/dashboard/exercise-dashboard.component.html
  src/main/webapp/app/entities/programming-exercise/programming-exercise-detail.component.html
  src/main/webapp/app/entities/programming-exercise/programming-exercise-detail.component.ts
  src/main/webapp/app/entities/result/result.component.html
  src/main/webapp/app/entities/result/result.module.ts
  src/main/webapp/app/entities/result/updating-result.component.ts
  src/main/webapp/app/overview/course-exercises/course-exercise-row.component.html
  src/main/webapp/app/overview/course-overview.component.html
  src/main/webapp/app/submission/programming-submission-websocket.service.ts
  src/main/webapp/app/submission/submission.module.ts
  src/main/webapp/i18n/de/editor.json
  src/main/webapp/i18n/de/submission.json
  src/main/webapp/i18n/en/editor.json
  src/main/webapp/i18n/en/submission.json
  src/test/java/de/tum/in/www1/artemis/ProgrammingExerciseParticipationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ProgrammingSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/java/de/tum/in/www1/artemis/util/RequestUtilService.java
  src/test/javascript/spec/component/code-editor/code-editor-actions.spec.ts
  src/test/javascript/spec/component/code-editor/code-editor-build-output.spec.ts
  src/test/javascript/spec/component/shared/updating-result.spec.ts
  src/test/javascript/spec/integration/code-editor/code-editor-student.spec.ts
  src/test/javascript/spec/mocks/mock-submission-websocket.service.ts
  src/test/javascript/spec/service/submission-websocket-service.spec.ts
Labels: feature, ready for review

#714 Bugfix/Programming-Exercises/Sequential test runs flag not serialized in JSON
  src/main/java/de/tum/in/www1/artemis/domain/ProgrammingExercise.java
Labels: bug, ready for review

#709 Chore/Fix checkStyle errors
  build.gradle
  src/main/java/de/tum/in/www1/artemis/domain/Exercise.java
  src/main/java/de/tum/in/www1/artemis/domain/ProgrammingExercise.java
  src/main/java/de/tum/in/www1/artemis/domain/Result.java
  src/main/java/de/tum/in/www1/artemis/repository/ExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/security/jwt/TokenProvider.java
  src/main/java/de/tum/in/www1/artemis/service/ConflictingResultService.java
  src/main/java/de/tum/in/www1/artemis/service/ExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/FileService.java
  src/main/java/de/tum/in/www1/artemis/service/ModelAssessmentConflictService.java
  src/main/java/de/tum/in/www1/artemis/service/ModelingAssessmentService.java
  src/main/java/de/tum/in/www1/artemis/service/ParticipationService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseTestCaseService.java
  src/main/java/de/tum/in/www1/artemis/service/RepositoryService.java
  src/main/java/de/tum/in/www1/artemis/service/ResultService.java
  src/main/java/de/tum/in/www1/artemis/service/TextBlockService.java
  src/main/java/de/tum/in/www1/artemis/service/UserService.java
  src/main/java/de/tum/in/www1/artemis/service/compass/strategy/ClassContext.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/BambooService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/ContinuousIntegrationService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/GitService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/LtiService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/VersionControlService.java
  src/main/java/de/tum/in/www1/artemis/service/util/structureoraclegenerator/OracleGeneratorClient.java
  src/main/java/de/tum/in/www1/artemis/service/util/structureoraclegenerator/SerializerUtil.java
  src/main/java/de/tum/in/www1/artemis/web/rest/AccountResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/AssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ParticipationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ResultResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextAssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/repository/RepositoryProgrammingExerciseParticipationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/repository/RepositoryResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/repository/TestRepositoryResource.java
Labels: chore, ready for review

#711 Bugfix/Deleting a participation with submissions + results
  src/main/java/de/tum/in/www1/artemis/repository/ResultRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/SubmissionRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ParticipationService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ParticipationResource.java
  src/test/java/de/tum/in/www1/artemis/ParticipationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
Labels: bug, ready for review

#718 Bugfix/Programming-Exercise/Correct path variable name
  src/main/java/de/tum/in/www1/artemis/web/rest/ParticipationResource.java
Labels: bug

#719 Bugfix/Fix jest tests because of fontawesome update
  src/test/javascript/spec/sample/problemStatement.json
Labels: bug, ready for review

#722 Chore/Improve contribution guide to contain information about merging develop & build status
  CONTRIBUTING.md
Labels: bug, ready for review

#724 Chore/Fontawesome migration to avoid console errors
  src/main/webapp/app/code-editor/file-browser/code-editor-file-browser-file.component.html
  src/main/webapp/app/code-editor/file-browser/code-editor-file-browser-folder.component.html
  src/main/webapp/app/code-editor/file-browser/code-editor-file-browser.component.html
  src/main/webapp/app/shared/icons/icons.module.ts
  src/main/webapp/app/shared/shared-libs.module.ts
  src/main/webapp/app/vendor.ts
  src/test/javascript/jest.ts
  src/test/javascript/spec/test.module.ts
Labels: chore, ready for review

#723 Bugfix/programming exercise/multiple fixes
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseParticipationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/repository/RepositoryResource.java
  src/main/webapp/app/entities/programming-exercise/instructions/programming-exercise-editable-instruction.component.ts
  src/main/webapp/app/entities/programming-exercise/programming-exercise-detail.component.ts
  src/main/webapp/app/entities/programming-exercise/services/programming-exercise-participation.service.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-editable-instruction.spec.ts
Labels: bug, ready for review, work in progress

#664 Feature/Programming-Exercises/Run test cases after due date
  .jhipster/ProgrammingExerciseTestCase.json
  src/main/java/de/tum/in/www1/artemis/domain/ProgrammingExercise.java
  src/main/java/de/tum/in/www1/artemis/domain/ProgrammingExerciseTestCase.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseTestCaseService.java
  src/main/java/de/tum/in/www1/artemis/service/ResultService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseTestCaseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/ProgrammingExerciseTestCaseDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/WeightUpdate.java
  src/main/resources/config/liquibase/changelog/20190719162231_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/components/table/index.ts
  src/main/webapp/app/components/table/table-editable-checkbox.component.ts
  src/main/webapp/app/components/table/table-editable-field.component.ts
  src/main/webapp/app/components/table/table.module.ts
  src/main/webapp/app/entities/programming-exercise/programming-exercise-test-case.model.ts
  src/main/webapp/app/entities/programming-exercise/programming-exercise.module.ts
  src/main/webapp/app/entities/programming-exercise/services/programming-exercise-test-case.service.ts
  src/main/webapp/app/entities/programming-exercise/test-cases/programming-exercise-manage-test-cases.component.html
  src/main/webapp/app/entities/programming-exercise/test-cases/programming-exercise-manage-test-cases.component.ts
  src/main/webapp/app/entities/programming-exercise/test-cases/programming-exercise-manage-test-cases.scss
  src/main/webapp/app/entities/result/result.component.html
  src/main/webapp/app/entities/result/result.component.ts
  src/main/webapp/app/shared/index.ts
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/de/result.json
  src/main/webapp/i18n/en/programmingExercise.json
  src/main/webapp/i18n/en/result.json
  src/test/java/de/tum/in/www1/artemis/ProgrammingExerciseTestCaseServiceTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/javascript/spec/component/programming-exercise/programming-exercise-manage-test-cases.spec.ts
  src/test/javascript/spec/component/table/table-editable-checkbox.spec.ts
  src/test/javascript/spec/component/table/table-editable-field.spec.ts
  src/test/javascript/spec/mocks/mock-programming-exercise-test-case.service.ts
Labels: feature, ready for review

#725 missing null check
  src/main/java/de/tum/in/www1/artemis/service/scheduled/TextClusteringScheduleService.java
Labels: bug, java, ready for review

#726 Programming-Exercise/Remove exception from result finding service method
  src/main/java/de/tum/in/www1/artemis/service/ResultService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseParticipationResource.java
Labels: enhancement, ready for review

#720 Feature/improved python templates
  src/main/java/de/tum/in/www1/artemis/web/rest/FileResource.java
  src/main/resources/templates/java/readme
  src/main/resources/templates/python/exercise/context.py
  src/main/resources/templates/python/exercise/main.py
  src/main/resources/templates/python/exercise/policy.py
  src/main/resources/templates/python/exercise/sort_strategy.py
  src/main/resources/templates/python/exercise/sorting_algorithms.py
  src/main/resources/templates/python/readme
  src/main/resources/templates/python/solution/context.py
  src/main/resources/templates/python/solution/main.py
  src/main/resources/templates/python/solution/policy.py
  src/main/resources/templates/python/solution/sort_strategy.py
  src/main/resources/templates/python/solution/sorting_algorithms.py
  src/main/resources/templates/python/test/behavior/behavior_test.py
  src/main/resources/templates/python/test/structural/structural_helpers.py
  src/main/resources/templates/python/test/structural/structural_test.py
  src/main/webapp/app/entities/programming-exercise/instructions/programming-exercise-editable-instruction.component.html
  src/main/webapp/app/entities/programming-exercise/instructions/programming-exercise-editable-instruction.component.ts
  src/main/webapp/app/entities/programming-exercise/programming-exercise-dialog.component.ts
  src/main/webapp/app/entities/programming-exercise/programming-exercise-update.component.html
  src/main/webapp/app/entities/programming-exercise/programming-exercise-update.component.ts
  src/main/webapp/app/shared/http/file.service.ts
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/programmingExercise.json
  src/test/javascript/spec/component/programming-exercise/programming-exercise-editable-instruction.spec.ts
Labels: feature, ready for review

#712 Feature/programming exercises/trigger build button + new submission type instructor (rated after due date passes)
  src/main/java/de/tum/in/www1/artemis/config/Constants.java
  src/main/java/de/tum/in/www1/artemis/domain/Result.java
  src/main/java/de/tum/in/www1/artemis/domain/enumeration/SubmissionType.java
  src/main/java/de/tum/in/www1/artemis/repository/ProgrammingExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/SolutionProgrammingExerciseParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/TemplateProgrammingExerciseParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/ResultService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/BambooService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/GitService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseParticipationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingSubmissionResource.java
  src/main/webapp/app/code-editor/code-editor-instructor-container.component.html
  src/main/webapp/app/code-editor/code-editor-instructor-container.component.ts
  src/main/webapp/app/code-editor/code-editor-student-container.component.html
  src/main/webapp/app/code-editor/code-editor-student-container.component.ts
  src/main/webapp/app/code-editor/service/code-editor-submission.service.ts
  src/main/webapp/app/entities/participation/participation.component.html
  src/main/webapp/app/entities/participation/participation.model.ts
  src/main/webapp/app/entities/participation/participation.module.ts
  src/main/webapp/app/entities/programming-exercise/actions/index.ts
  src/main/webapp/app/entities/programming-exercise/actions/programming-exercise-instructor-trigger-build-button.component.ts
  src/main/webapp/app/entities/programming-exercise/actions/programming-exercise-student-trigger-build-button.component.ts
  src/main/webapp/app/entities/programming-exercise/actions/programming-exercise-trigger-build-button.component.html
  src/main/webapp/app/entities/programming-exercise/actions/programming-exercise-trigger-build-button.component.ts
  src/main/webapp/app/entities/programming-exercise/index.ts
  src/main/webapp/app/entities/programming-exercise/programming-exercise-detail.component.html
  src/main/webapp/app/entities/programming-exercise/programming-exercise-detail.component.ts
  src/main/webapp/app/entities/programming-exercise/programming-exercise.module.ts
  src/main/webapp/app/entities/programming-exercise/services/programming-exercise-participation.service.ts
  src/main/webapp/app/entities/result/updating-result.component.ts
  src/main/webapp/app/overview/course-exercises/course-exercise-row.component.html
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.html
  src/main/webapp/app/submission/programming-submission-websocket.service.ts
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/programmingExercise.json
  src/test/java/de/tum/in/www1/artemis/AssessmentComplaintIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/AutomaticSubmissionServiceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/CourseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ExampleSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ExerciseHintIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ModelingAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ModelingSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ParticipationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ProgrammingExerciseParticipationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ProgrammingExerciseTestCaseServiceTest.java
  src/test/java/de/tum/in/www1/artemis/ProgrammingSubmissionAndResultIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ProgrammingSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ResultServiceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/TextAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/TextExerciseTest.java
  src/test/java/de/tum/in/www1/artemis/TextSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/javascript/spec/component/programming-exercise/programming-exercise-trigger-build-button.spec.ts
  src/test/javascript/spec/component/shared/updating-result.spec.ts
  src/test/javascript/spec/integration/code-editor/code-editor-student.spec.ts
  src/test/javascript/spec/mocks/mock-programming-exercise-participation.service.ts
  src/test/javascript/spec/mocks/mock-submission-websocket.service.ts
  src/test/javascript/spec/service/submission-websocket-service.spec.ts
Labels: feature, ready for review

#731 Feature/fix python template imports
  src/main/resources/templates/python/solution/policy.py
  src/main/resources/templates/python/solution/sorting_algorithms.py
  src/main/resources/templates/python/test/behavior/behavior_test.py
  src/main/resources/templates/python/test/structural/structural_test.py
  src/main/webapp/app/admin/admin.route.ts
  src/main/webapp/app/layouts/navbar/navbar.component.html
Labels: ready for review

#734 Prepare for MySQL 8
  gradle/liquibase.gradle
  src/main/java/de/tum/in/www1/artemis/domain/User.java
  src/main/resources/config/application-dev.yml
  src/main/resources/config/application-prod.yml
  src/main/resources/config/liquibase/changelog/20190705114935_changelog.xml
Labels: chore, dependencies, java, ready for review

#738 feat(login): Update email with latest data from Jira on login
  src/main/java/de/tum/in/www1/artemis/security/JiraAuthenticationProvider.java
Labels: feature, lang:Java, ready for review

#740 Bugfix/remove custom selector schema settings from modules
  src/main/webapp/app/account/account.module.ts
  src/main/webapp/app/admin/admin.module.ts
  src/main/webapp/app/apollon-diagrams/apollon-diagrams.module.ts
  src/main/webapp/app/code-editor/code-editor-instructor-container.component.html
  src/main/webapp/app/code-editor/code-editor-student-container.component.html
  src/main/webapp/app/code-editor/code-editor.module.ts
  src/main/webapp/app/complaints-for-tutor/complaints-for-tutor.module.ts
  src/main/webapp/app/complaints/complaints.module.ts
  src/main/webapp/app/components/category-selector/category-selector.module.ts
  src/main/webapp/app/components/color-selector/color-selector.module.ts
  src/main/webapp/app/components/confirm-button/confirm-button.module.ts
  src/main/webapp/app/components/confirm-icon/confirm-icon.module.ts
  src/main/webapp/app/components/course-registration-selector/course-registration-selector.module.ts
  src/main/webapp/app/components/exercise/difficulty-picker/difficulty-picker.module.ts
  src/main/webapp/app/components/side-panel/side-panel.module.ts
  src/main/webapp/app/course-list/course-list.module.ts
  src/main/webapp/app/entities/course/course-update.component.html
  src/main/webapp/app/entities/course/course.module.ts
  src/main/webapp/app/entities/entity.module.ts
  src/main/webapp/app/entities/exercise-hint/exercise-hint.module.ts
  src/main/webapp/app/entities/exercise/exercise.module.ts
  src/main/webapp/app/entities/file-upload-exercise/file-upload-exercise.module.ts
  src/main/webapp/app/entities/lecture/lecture.module.ts
  src/main/webapp/app/entities/modeling-exercise/modeling-exercise.module.ts
  src/main/webapp/app/entities/notification/notification.module.ts
  src/main/webapp/app/entities/participation/participation.module.ts
  src/main/webapp/app/entities/programming-exercise/programming-exercise.module.ts
  src/main/webapp/app/entities/quiz-exercise/quiz-exercise.module.ts
  src/main/webapp/app/entities/result/result-detail.component.html
  src/main/webapp/app/entities/result/result.module.ts
  src/main/webapp/app/entities/system-notification/system-notification.module.ts
  src/main/webapp/app/entities/text-exercise/text-exercise.module.ts
  src/main/webapp/app/entities/tutor-group/tutor-group.module.ts
  src/main/webapp/app/home/home.module.ts
  src/main/webapp/app/instructor-course-dashboard/instructor-course-dashboard.module.ts
  src/main/webapp/app/instructor-course-dashboard/tutor-leaderboard/tutor-leaderboard.module.ts
  src/main/webapp/app/instructor-exercise-dashboard/instructor-exercise-dashboard.module.ts
  src/main/webapp/app/layouts/connection-notification/connection-notification.module.ts
  src/main/webapp/app/list-of-complaints/list-of-complaints.module.ts
  src/main/webapp/app/modeling-assessment-editor/modeling-assessment-editor.module.ts
  src/main/webapp/app/overview/overview.component.html
  src/main/webapp/app/overview/overview.module.ts
  src/main/webapp/app/quiz/edit/quiz-edit.module.ts
  src/main/webapp/app/quiz/participate/quiz.module.ts
  src/main/webapp/app/quiz/re-evaluate/quiz-re-evaluate.module.ts
  src/main/webapp/app/quiz/statistics/quiz-statistic.module.ts
  src/main/webapp/app/shared/image/secured-image.component.ts
  src/main/webapp/app/shared/shared.module.ts
  src/main/webapp/app/student-questions/student-questions.module.ts
  src/main/webapp/app/text-assessment/text-assessment.module.ts
  src/main/webapp/app/tutor-course-dashboard/tutor-course-dashboard.module.ts
  src/main/webapp/app/tutor-exercise-dashboard/tutor-exercise-dashboard.module.ts
  src/main/webapp/content/scss/global.scss
Labels: bug, lang:TypeScript, ready for review

#735 Instructor-Dashboard/Remove loading indicator when there are no leader board entries
  src/main/webapp/app/instructor-course-dashboard/instructor-course-dashboard.component.html
  src/main/webapp/app/instructor-course-dashboard/instructor-course-dashboard.component.ts
Labels: ready for review

#739 TypeScript Documentation Linting
  .travis.yml
  tslint.json
  yarn.lock
Labels: enhancement, lang:TypeScript

#742 Bugfix: Translation for System Notifications
  src/main/java/de/tum/in/www1/artemis/web/rest/SystemNotificationResource.java
  src/main/webapp/app/admin/notification-management/notification-management-delete-dialog.component.html
  src/main/webapp/app/admin/notification-management/notification-management-detail.component.html
  src/main/webapp/app/admin/notification-management/notification-management-update.component.html
  src/main/webapp/app/admin/notification-management/notification-management.component.html
  src/main/webapp/app/admin/notification-management/notification-management.route.ts
  src/main/webapp/app/entities/notification/notification.component.html
  src/main/webapp/app/entities/notification/notification.route.ts
  src/main/webapp/i18n/de/notification-management.json
  src/main/webapp/i18n/de/systemNotification.json
  src/main/webapp/i18n/en/notification-management.json
  src/main/webapp/i18n/en/systemNotification.json
Labels: bug, chore, ready for review

#745 Add jest-junit for Bamboo
  package.json
  yarn.lock
Labels: chore

#743 Enhancement/Improve tslint setup for doc checking
  .travis.yml
  package.json
  tslint-doc.json
  tslint.json
Labels: enhancement, ready for review

#669 Feature/tutorial overview page
  src/main/java/de/tum/in/www1/artemis/domain/GuidedTourSettings.java
  src/main/java/de/tum/in/www1/artemis/domain/User.java
  src/main/java/de/tum/in/www1/artemis/service/UserService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/GuidedTourSettingsResource.java
  src/main/resources/config/liquibase/changelog/20190821185514_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/app.module.ts
  src/main/webapp/app/guided-tour/dot-navigation.scss
  src/main/webapp/app/guided-tour/guided-tour-setting.model.ts
  src/main/webapp/app/guided-tour/guided-tour-step.model.ts
  src/main/webapp/app/guided-tour/guided-tour.component.html
  src/main/webapp/app/guided-tour/guided-tour.component.scss
  src/main/webapp/app/guided-tour/guided-tour.component.ts
  src/main/webapp/app/guided-tour/guided-tour.constants.ts
  src/main/webapp/app/guided-tour/guided-tour.model.ts
  src/main/webapp/app/guided-tour/guided-tour.module.ts
  src/main/webapp/app/guided-tour/guided-tour.service.ts
  src/main/webapp/app/guided-tour/tours/course-overview-tour.ts
  src/main/webapp/app/home/home.component.ts
  src/main/webapp/app/layouts/navbar/navbar.component.html
  src/main/webapp/app/layouts/navbar/navbar.component.ts
  src/main/webapp/app/overview/overview.component.ts
  src/main/webapp/app/shared/icons/icons.module.ts
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/de/guidedTour.json
  src/main/webapp/i18n/de/guidedTourCourseOverview.json
  src/main/webapp/i18n/en/global.json
  src/main/webapp/i18n/en/guidedTour.json
  src/main/webapp/i18n/en/guidedTourCourseOverview.json
  src/test/java/de/tum/in/www1/artemis/GuidedTourSettingsResourceTest.java
  src/test/java/de/tum/in/www1/artemis/domain/GuidedTourSettingsTest.java
  src/test/javascript/spec/component/guided-tour/guided-tour.component.spec.ts
  src/test/javascript/spec/service/guided-tour.service.spec.ts
Labels: feature, work in progress

#744 Enhancement/add option to programming submission service to load all pending submission for an exercise
  src/main/java/de/tum/in/www1/artemis/repository/ProgrammingExerciseStudentParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ProgrammingSubmissionRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseParticipationService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseParticipationResource.java
  src/main/webapp/app/code-editor/service/code-editor-submission.service.ts
  src/main/webapp/app/entities/participation/participation.component.html
  src/main/webapp/app/entities/participation/participation.component.ts
  src/main/webapp/app/entities/programming-exercise/actions/programming-exercise-instructor-trigger-build-button.component.ts
  src/main/webapp/app/entities/programming-exercise/actions/programming-exercise-student-trigger-build-button.component.ts
  src/main/webapp/app/entities/programming-exercise/actions/programming-exercise-trigger-build-button.component.ts
  src/main/webapp/app/entities/result/updating-result.component.ts
  src/main/webapp/app/programming-submission/index.ts
  src/main/webapp/app/programming-submission/programming-submission.module.ts
  src/main/webapp/app/programming-submission/programming-submission.service.ts
  src/test/java/de/tum/in/www1/artemis/ProgrammingExerciseParticipationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/java/de/tum/in/www1/artemis/util/RequestUtilService.java
  src/test/javascript/spec/component/programming-exercise/programming-exercise-trigger-build-button.spec.ts
  src/test/javascript/spec/component/shared/updating-result.spec.ts
  src/test/javascript/spec/integration/code-editor/code-editor-student.spec.ts
  src/test/javascript/spec/mocks/mock-programming-submission.service.ts
  src/test/javascript/spec/service/programming-submission-service.spec.ts
Labels: component:Programming, enhancement, ready for review

#753 Bugfix/Programming-Exercise/Fix linking programming exercises
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseResource.java
Labels: bug, component:Programming

#750 update ng-bootstrap and interactjs to latest dependencies
  package.json
  src/main/webapp/app/assessment-instructions/assessment-instructions.component.ts
  src/main/webapp/app/code-editor/build-output/code-editor-build-output.component.ts
  src/main/webapp/app/code-editor/file-browser/code-editor-file-browser.component.ts
  src/main/webapp/app/code-editor/instructions/code-editor-instructions.component.ts
  src/main/webapp/app/code-editor/layout/code-editor-grid.component.ts
  src/main/webapp/app/entities/programming-exercise/instructions/instructions-editor/programming-exercise-editable-instruction.component.ts
  src/main/webapp/app/example-text-submission/example-text-submission.component.ts
  src/main/webapp/app/layouts/navbar/navbar.component.html
  src/main/webapp/app/layouts/notification-container/notification-container.component.html
  src/main/webapp/app/layouts/notification-container/notification-container.scss
  src/main/webapp/app/markdown-editor/markdown-editor.component.ts
  src/main/webapp/app/modeling-assessment/modeling-assessment.component.ts
  src/main/webapp/app/modeling-editor/modeling-editor.component.ts
  src/main/webapp/app/shared/shared-libs.module.ts
  src/main/webapp/app/text-assessment/text-assessment.component.ts
  yarn.lock
Labels: client, dependencies

#748 Update CONTRIBUTING with Route Naming Conventions
  CONTRIBUTING.md
Labels: chore, documentation, ready for review

#757 Performance improvements and bug fixes for critical REST calls
  build.gradle
  src/main/java/de/tum/in/www1/artemis/config/CacheConfiguration.java
  src/main/java/de/tum/in/www1/artemis/config/SecurityConfiguration.java
  src/main/java/de/tum/in/www1/artemis/domain/Course.java
  src/main/java/de/tum/in/www1/artemis/domain/Exercise.java
  src/main/java/de/tum/in/www1/artemis/domain/GuidedTourSetting.java
  src/main/java/de/tum/in/www1/artemis/domain/GuidedTourSettings.java
  src/main/java/de/tum/in/www1/artemis/domain/PersistentToken.java
  src/main/java/de/tum/in/www1/artemis/domain/StudentParticipation.java
  src/main/java/de/tum/in/www1/artemis/domain/User.java
  src/main/java/de/tum/in/www1/artemis/repository/CourseRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/GroupNotificationRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/GuidedTourSettingsRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/LectureRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/NotificationRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/StudentParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/UserRepository.java
  src/main/java/de/tum/in/www1/artemis/security/JiraAuthenticationProvider.java
  src/main/java/de/tum/in/www1/artemis/security/PBEPasswordEncoder.java
  src/main/java/de/tum/in/www1/artemis/service/AuthorizationCheckService.java
  src/main/java/de/tum/in/www1/artemis/service/CourseService.java
  src/main/java/de/tum/in/www1/artemis/service/ExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/GroupNotificationService.java
  src/main/java/de/tum/in/www1/artemis/service/LectureService.java
  src/main/java/de/tum/in/www1/artemis/service/ModelAssessmentConflictService.java
  src/main/java/de/tum/in/www1/artemis/service/ParticipationService.java
  src/main/java/de/tum/in/www1/artemis/service/RepositoryService.java
  src/main/java/de/tum/in/www1/artemis/service/UserService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/BambooService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/BitbucketService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/LtiService.java
  src/main/java/de/tum/in/www1/artemis/service/dto/UserDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/AccountResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/AssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/GuidedTourSettingsResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/LectureResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingAssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextAssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/websocket/repository/RepositoryWebsocketResource.java
  src/main/resources/config/liquibase/changelog/20190821185514_changelog.xml
  src/main/resources/config/liquibase/changelog/20190828113914_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/core/user/account.model.ts
  src/main/webapp/app/guided-tour/guided-tour.component.ts
  src/main/webapp/app/guided-tour/guided-tour.service.ts
  src/main/webapp/app/overview/overview.component.ts
  src/test/java/de/tum/in/www1/artemis/GuidedTourSettingResourceTest.java
  src/test/java/de/tum/in/www1/artemis/GuidedTourSettingsResourceTest.java
  src/test/java/de/tum/in/www1/artemis/domain/GuidedTourSettingTest.java
  src/test/java/de/tum/in/www1/artemis/domain/GuidedTourSettingsTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/java/de/tum/in/www1/artemis/util/ModelFactory.java
  src/test/javascript/spec/component/guided-tour/guided-tour.component.spec.ts
  src/test/javascript/spec/service/guided-tour.service.spec.ts
Labels: enhancement, ready for review, server

#665 Assessment Queue for Automatic Text Assessment
  src/main/java/de/tum/in/www1/artemis/domain/TextBlock.java
  src/main/java/de/tum/in/www1/artemis/domain/TextCluster.java
  src/main/java/de/tum/in/www1/artemis/repository/StudentParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/TextSubmissionRepository.java
  src/main/java/de/tum/in/www1/artemis/service/TextAssessmentQueueService.java
  src/main/java/de/tum/in/www1/artemis/service/TextClusteringService.java
  src/main/java/de/tum/in/www1/artemis/service/TextSubmissionService.java
  src/main/resources/config/liquibase/changelog/20190813140300_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/test/java/de/tum/in/www1/artemis/service/TextAssessmentQueueServiceTest.java
Labels: component:Text, feature, server

#754 Bugfix/Lazy loading the admin module on production/test server
  src/main/webapp/app/admin/admin.module.ts
Labels: bug, work in progress

#759 Handle case where TextBlock. addedDistance is NULL
  src/main/java/de/tum/in/www1/artemis/domain/TextBlock.java
  src/main/java/de/tum/in/www1/artemis/service/TextAssessmentQueueService.java
Labels: bug, component:Text, ready for review

#728 Display Automatic Assessments in the Instructors Exercise Statistic
  src/main/java/de/tum/in/www1/artemis/domain/Result.java
  src/main/java/de/tum/in/www1/artemis/repository/ResultRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ResultService.java
  src/main/java/de/tum/in/www1/artemis/service/TextAssessmentService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/StatsForInstructorDashboardDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/TutorLeaderboardDTO.java
  src/main/webapp/app/instructor-course-dashboard/stats-for-dashboard.model.ts
  src/main/webapp/app/instructor-exercise-dashboard/instructor-exercise-dashboard.component.html
  src/main/webapp/app/instructor-exercise-dashboard/instructor-exercise-dashboard.component.ts
  src/main/webapp/i18n/de/tutorExerciseDashboard.json
  src/main/webapp/i18n/en/tutorExerciseDashboard.json
  src/test/java/de/tum/in/www1/artemis/ExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/javascript/spec/component/instructor-dashboard/instructor-exercise-dashboard.spec.ts
Labels: client, component:Text, feature, ready for review, server

#758 Refactor Modeling Assessment Header into its own component
  src/main/webapp/app/assessment-shared/assessment-header/assessment-header.component.html
  src/main/webapp/app/assessment-shared/assessment-header/assessment-header.component.scss
  src/main/webapp/app/assessment-shared/assessment-header/assessment-header.component.ts
  src/main/webapp/app/assessment-shared/assessment-shared.module.ts
  src/main/webapp/app/assessment-shared/index.ts
  src/main/webapp/app/modeling-assessment-editor/modeling-assessment-editor.component.html
  src/main/webapp/app/modeling-assessment-editor/modeling-assessment-editor.component.scss
  src/main/webapp/app/modeling-assessment-editor/modeling-assessment-editor.module.ts
  src/main/webapp/i18n/de/assessment.json
  src/main/webapp/i18n/de/modelingAssessmentEditor.json
  src/main/webapp/i18n/en/assessment.json
  src/main/webapp/i18n/en/modelingAssessmentEditor.json
  src/test/javascript/spec/component/admin/admin.spec.ts
  src/test/javascript/spec/component/assessment-shared/assessment-header.component.spec.ts
Labels: client, component:Modeling, component:Text, ready for review, tests

#696 added attachment download access token
  src/main/java/de/tum/in/www1/artemis/security/jwt/TokenProvider.java
  src/main/java/de/tum/in/www1/artemis/web/rest/FileResource.java
  src/main/webapp/app/entities/attachment/attachment.service.ts
  src/main/webapp/app/entities/lecture/lecture-attachments.component.html
  src/main/webapp/app/entities/lecture/lecture-attachments.component.ts
  src/main/webapp/app/overview/course-lectures/course-lecture-details.component.html
  src/main/webapp/app/overview/course-lectures/course-lecture-details.component.ts
Labels: ready for review

#773 [WIP] Fix spotless issue in build
  src/main/java/de/tum/in/www1/artemis/web/rest/FileResource.java
Labels: bug, chore, server

#776 Tests/Add custom tslint.json file for tests
  src/test/javascript/tslint.json
Labels: enhancement, ready for review
