Repository ls1intum/Artemis, pull requests merged in 2019-03, with the labels that each got.

#179 Refactor code related to tutor dashboard
  src/main/java/de/tum/in/www1/artemis/repository/ParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/service/TextSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/TutorParticipationService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ParticipationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextAssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TutorParticipationResource.java
  src/main/webapp/app/entities/text-assessments/text-assessments.service.ts
  src/main/webapp/app/entities/text-submission/text-submission.service.ts
  src/main/webapp/app/text-assessment/text-assessment-dashboard/text-assessment-dashboard.component.ts
  src/main/webapp/app/text-assessment/text-assessment.component.ts
  src/main/webapp/app/tutor-exercise-dashboard/tutor-exercise-dashboard.component.html
  src/main/webapp/app/tutor-exercise-dashboard/tutor-exercise-dashboard.component.ts
Labels: enhancement

#169 Instructor course and exercise dashboards
  src/main/java/de/tum/in/www1/artemis/repository/ResultRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/UserRepository.java
  src/main/java/de/tum/in/www1/artemis/service/CourseService.java
  src/main/java/de/tum/in/www1/artemis/service/ResultService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ParticipationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/StatsForInstructorDashboardDTO.java
  src/main/webapp/app/app.module.ts
  src/main/webapp/app/entities/course/course.component.html
  src/main/webapp/app/entities/course/course.model.ts
  src/main/webapp/app/entities/course/course.service.ts
  src/main/webapp/app/entities/exercise/exercise.model.ts
  src/main/webapp/app/entities/participation/participation.service.ts
  src/main/webapp/app/instructor-course-dashboard/index.ts
  src/main/webapp/app/instructor-course-dashboard/instructor-course-dashboard.component.html
  src/main/webapp/app/instructor-course-dashboard/instructor-course-dashboard.component.ts
  src/main/webapp/app/instructor-course-dashboard/instructor-course-dashboard.module.ts
  src/main/webapp/app/instructor-course-dashboard/instructor-course-dashboard.route.ts
  src/main/webapp/app/instructor-course-dashboard/tutor-leaderboard/tutor-leaderboard.component.html
  src/main/webapp/app/instructor-course-dashboard/tutor-leaderboard/tutor-leaderboard.component.ts
  src/main/webapp/app/instructor-exercise-dashboard/index.ts
  src/main/webapp/app/instructor-exercise-dashboard/instructor-exercise-dashboard.component.html
  src/main/webapp/app/instructor-exercise-dashboard/instructor-exercise-dashboard.component.ts
  src/main/webapp/app/instructor-exercise-dashboard/instructor-exercise-dashboard.module.ts
  src/main/webapp/app/instructor-exercise-dashboard/instructor-exercise-dashboard.route.ts
  src/main/webapp/app/overview/course-exercises/course-exercise-row.component.html
  src/main/webapp/app/overview/course-exercises/course-exercise-row.component.ts
  src/main/webapp/app/overview/course-overview.scss
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.html
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.ts
  src/main/webapp/content/scss/global.scss
  src/main/webapp/i18n/de/instructorCourseDashboard.json
  src/main/webapp/i18n/de/instructorExerciseDashboard.json
  src/main/webapp/i18n/en/course.json
  src/main/webapp/i18n/en/instructorCourseDashboard.json
  src/main/webapp/i18n/en/instructorExerciseDashboard.json
Labels: feature

#206 Now only TUM students can register for a new course
  src/main/java/de/tum/in/www1/artemis/repository/CourseRepository.java
  src/main/java/de/tum/in/www1/artemis/service/CourseService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/webapp/app/app.constants.ts
  src/main/webapp/app/entities/course/course-update.component.html
  src/main/webapp/app/entities/course/course-update.component.ts
  src/main/webapp/app/entities/course/course.model.ts
  src/main/webapp/app/overview/overview.component.html
  src/main/webapp/app/overview/overview.component.ts
  src/main/webapp/i18n/de/course.json
  src/main/webapp/i18n/en/course.json
Labels: enhancement

#201 Feature/add categories and difficulty to exercises
  package.json
  src/main/java/de/tum/in/www1/artemis/domain/Exercise.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/webapp/app/components/category-selector/category-selector.component.html
  src/main/webapp/app/components/category-selector/category-selector.component.ts
  src/main/webapp/app/components/category-selector/category-selector.module.ts
  src/main/webapp/app/components/category-selector/category-selector.scss
  src/main/webapp/app/components/color-selector/color-selector.component.html
  src/main/webapp/app/components/color-selector/color-selector.component.ts
  src/main/webapp/app/components/color-selector/color-selector.module.ts
  src/main/webapp/app/components/color-selector/color-selector.scss
  src/main/webapp/app/components/exercise/difficulty-picker/difficulty-picker.component.html
  src/main/webapp/app/components/exercise/difficulty-picker/difficulty-picker.component.ts
  src/main/webapp/app/components/exercise/difficulty-picker/difficulty-picker.module.ts
  src/main/webapp/app/entities/course/course.service.ts
  src/main/webapp/app/entities/exercise/exercise.model.ts
  src/main/webapp/app/entities/exercise/exercise.service.ts
  src/main/webapp/app/entities/modeling-exercise/modeling-exercise-dialog.component.html
  src/main/webapp/app/entities/modeling-exercise/modeling-exercise-dialog.component.ts
  src/main/webapp/app/entities/modeling-exercise/modeling-exercise.module.ts
  src/main/webapp/app/entities/programming-exercise/programming-exercise-dialog.component.html
  src/main/webapp/app/entities/programming-exercise/programming-exercise-dialog.component.ts
  src/main/webapp/app/entities/programming-exercise/programming-exercise-update.component.html
  src/main/webapp/app/entities/programming-exercise/programming-exercise-update.component.ts
  src/main/webapp/app/entities/programming-exercise/programming-exercise.module.ts
  src/main/webapp/app/entities/quiz-exercise/quiz-exercise-detail.component.html
  src/main/webapp/app/entities/quiz-exercise/quiz-exercise-detail.component.ts
  src/main/webapp/app/entities/quiz-exercise/quiz-exercise.module.ts
  src/main/webapp/app/entities/text-exercise/text-exercise-dialog.component.html
  src/main/webapp/app/entities/text-exercise/text-exercise-dialog.component.ts
  src/main/webapp/app/entities/text-exercise/text-exercise.module.ts
  src/main/webapp/app/overview/course-exercises/course-exercise-row.component.html
  src/main/webapp/app/overview/course-exercises/course-exercise-row.component.ts
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.html
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.ts
  src/main/webapp/app/overview/exercise-details/difficulty-badge.component.html
  src/main/webapp/app/overview/exercise-details/difficulty-badge.component.ts
  src/main/webapp/app/overview/exercise-details/exercise-details-student-actions.component.ts
  src/main/webapp/app/overview/index.ts
  src/main/webapp/app/overview/overview.component.html
  src/main/webapp/app/overview/overview.module.ts
  src/main/webapp/app/shared/date-time-picker/date-time-picker.component.ts
  src/main/webapp/i18n/de/exercise.json
  src/main/webapp/i18n/de/quizExercise.json
  src/main/webapp/i18n/de/student-dashboard.json
  src/main/webapp/i18n/en/exercise.json
  src/main/webapp/i18n/en/quizExercise.json
  src/main/webapp/i18n/en/student-dashboard.json
  yarn.lock
Labels: feature

#170 [READY] Feature/sa quiz reevaluate
  src/main/java/de/tum/in/www1/artemis/domain/ShortAnswerQuestion.java
  src/main/java/de/tum/in/www1/artemis/domain/scoring/ScoringStrategyShortAnswerUtil.java
  src/main/java/de/tum/in/www1/artemis/web/rest/QuizExerciseResource.java
  src/main/webapp/app/entities/quiz-exercise/quiz-exercise-detail.component.html
  src/main/webapp/app/quiz/edit/short-answer-question/edit-short-answer-question.component.html
  src/main/webapp/app/quiz/edit/short-answer-question/edit-short-answer-question.component.ts
  src/main/webapp/app/quiz/participate/short-answer-question/short-answer-question.component.html
  src/main/webapp/app/quiz/re-evaluate/index.ts
  src/main/webapp/app/quiz/re-evaluate/quiz-re-evaluate-warning.component.ts
  src/main/webapp/app/quiz/re-evaluate/quiz-re-evaluate.component.html
  src/main/webapp/app/quiz/re-evaluate/quiz-re-evaluate.component.ts
  src/main/webapp/app/quiz/re-evaluate/quiz-re-evaluate.module.ts
  src/main/webapp/app/quiz/re-evaluate/short-answer-question/re-evaluate-short-answer-question.component.html
  src/main/webapp/app/quiz/re-evaluate/short-answer-question/re-evaluate-short-answer-question.component.ts
  src/main/webapp/i18n/de/shortAnswerSpot.json
  src/main/webapp/i18n/en/shortAnswerSpot.json
  src/test/javascript/e2e/quiz-exercise/quiz-exericse.spec.ts
Labels: feature

#202 [READY] Feature/update annotation position on file changes
  src/main/java/de/tum/in/www1/artemis/service/AuthorizationCheckService.java
  src/main/java/de/tum/in/www1/artemis/service/UserService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/RepositoryResource.java
  src/main/java/de/tum/in/www1/artemis/web/websocket/WebsocketError.java
  src/main/java/de/tum/in/www1/artemis/web/websocket/repository/FileSubmission.java
  src/main/java/de/tum/in/www1/artemis/web/websocket/repository/FileSubmissionError.java
  src/main/java/de/tum/in/www1/artemis/web/websocket/repository/FileSubmissionSuccess.java
  src/main/java/de/tum/in/www1/artemis/web/websocket/repository/RepositoryWebsocketService.java
  src/main/webapp/app/code-editor/ace/code-editor-ace.component.ts
  src/main/webapp/app/code-editor/build-output/code-editor-build-output.component.ts
  src/main/webapp/app/code-editor/code-editor.component.html
  src/main/webapp/app/code-editor/code-editor.component.ts
  src/main/webapp/app/code-editor/instructions/code-editor-instructions-result-detail.ts
  src/main/webapp/app/core/websocket/websocket.service.ts
  src/main/webapp/app/entities/ace-editor/annotation.model.ts
  src/main/webapp/app/entities/ace-editor/index.ts
  src/main/webapp/app/entities/ace-editor/session.model.ts
  src/main/webapp/app/entities/ace-editor/text-change.model.ts
  src/main/webapp/app/entities/build-log/build-log.model.ts
  src/main/webapp/app/entities/repository/repository.service.ts
  src/main/webapp/app/entities/result/result-detail.component.ts
Labels: feature

#220 Enhancement/programming exercise improvements
  src/main/webapp/app/code-editor/ace/code-editor-ace.component.ts
  src/main/webapp/app/code-editor/code-editor.component.html
Labels: enhancement

#143 Markdown Editor
  package.json
  src/main/webapp/app/app.module.ts
  src/main/webapp/app/components/exercise/difficulty-picker/difficulty-picker.component.html
  src/main/webapp/app/components/exercise/difficulty-picker/difficulty-picker.component.ts
  src/main/webapp/app/components/util/drag-and-drop-question-util.service.ts
  src/main/webapp/app/components/util/markdown.service.ts
  src/main/webapp/app/entities/modeling-exercise/modeling-exercise-detail.component.html
  src/main/webapp/app/entities/modeling-exercise/modeling-exercise-detail.component.ts
  src/main/webapp/app/entities/modeling-exercise/modeling-exercise-dialog.component.html
  src/main/webapp/app/entities/modeling-exercise/modeling-exercise-dialog.component.ts
  src/main/webapp/app/entities/modeling-exercise/modeling-exercise.module.ts
  src/main/webapp/app/entities/multiple-choice-question/multiple-choice-question.model.ts
  src/main/webapp/app/entities/quiz-exercise/quiz-exercise-detail.component.html
  src/main/webapp/app/entities/quiz-exercise/quiz-exercise-detail.component.ts
  src/main/webapp/app/markdown-editor/commands/attachmentCommand.ts
  src/main/webapp/app/markdown-editor/commands/bold.command.ts
  src/main/webapp/app/markdown-editor/commands/code.command.ts
  src/main/webapp/app/markdown-editor/commands/command.ts
  src/main/webapp/app/markdown-editor/commands/headingOne.command.ts
  src/main/webapp/app/markdown-editor/commands/headingThree.command.ts
  src/main/webapp/app/markdown-editor/commands/headingTwo.command.ts
  src/main/webapp/app/markdown-editor/commands/index.ts
  src/main/webapp/app/markdown-editor/commands/italic.command.ts
  src/main/webapp/app/markdown-editor/commands/link.command.ts
  src/main/webapp/app/markdown-editor/commands/orderedListCommand.ts
  src/main/webapp/app/markdown-editor/commands/reference.command.ts
  src/main/webapp/app/markdown-editor/commands/underline.command.ts
  src/main/webapp/app/markdown-editor/commands/unorderedListCommand.ts
  src/main/webapp/app/markdown-editor/domainCommands/correctOptionCommand.ts
  src/main/webapp/app/markdown-editor/domainCommands/domainCommand.ts
  src/main/webapp/app/markdown-editor/domainCommands/explanation.command.ts
  src/main/webapp/app/markdown-editor/domainCommands/hint.command.ts
  src/main/webapp/app/markdown-editor/domainCommands/incorrectOptionCommand.ts
  src/main/webapp/app/markdown-editor/domainCommands/index.ts
  src/main/webapp/app/markdown-editor/index.ts
  src/main/webapp/app/markdown-editor/markdown-editor.component.html
  src/main/webapp/app/markdown-editor/markdown-editor.component.ts
  src/main/webapp/app/markdown-editor/markdown-editor.module.ts
  src/main/webapp/app/markdown-editor/markdown-editor.scss
  src/main/webapp/app/modeling-editor/modeling-editor.component.html
  src/main/webapp/app/modeling-editor/modeling-editor.component.ts
  src/main/webapp/app/modeling-editor/modeling-editor.module.ts
  src/main/webapp/app/quiz/edit/drag-and-drop-question/edit-drag-and-drop-question.component.html
  src/main/webapp/app/quiz/edit/drag-and-drop-question/edit-drag-and-drop-question.component.ts
  src/main/webapp/app/quiz/edit/edit-quiz-question.interface.ts
  src/main/webapp/app/quiz/edit/multiple-choice-question/edit-multiple-choice-question.component.html
  src/main/webapp/app/quiz/edit/multiple-choice-question/edit-multiple-choice-question.component.ts
  src/main/webapp/app/quiz/edit/quiz-edit.module.ts
  src/main/webapp/app/quiz/edit/short-answer-question/edit-short-answer-question.component.html
  src/main/webapp/app/quiz/edit/short-answer-question/edit-short-answer-question.component.ts
  src/main/webapp/app/text-shared/highlight-colors.ts
  src/main/webapp/app/vendor.ts
  src/main/webapp/content/scss/quiz.scss
  src/main/webapp/i18n/de/multipleChoiceQuestion.json
  src/main/webapp/i18n/de/quizExercise.json
  src/main/webapp/i18n/en/multipleChoiceQuestion.json
  src/main/webapp/i18n/en/quizExercise.json
  yarn.lock
Labels: feature

#224 fix drag and drop model quiz creation
  src/main/webapp/app/apollon-diagrams/exercise-generation/quiz-exercise-generator.ts
Labels: bug
