Repository ls1intum/Artemis, pull requests merged in 2019-12, with the labels that each got.

#1111 Dont allow to close manual result dialog on click outside the modal
  src/main/webapp/app/programming-assessment/manual-result/programming-assessment-manual-result-button.component.ts
Labels: client, component:Shared, enhancement, ready for review

#1109 Enhancement - Programming Exercise: More Toggled Features
  src/main/java/de/tum/in/www1/artemis/web/rest/ExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseResource.java
  src/main/webapp/app/entities/participation/participation.component.html
  src/main/webapp/app/entities/participation/participation.component.ts
  src/main/webapp/app/entities/participation/participation.module.ts
  src/main/webapp/app/entities/programming-exercise/programming-exercise-detail.component.html
  src/main/webapp/app/entities/programming-exercise/programming-exercise-detail.component.ts
  src/main/webapp/app/entities/programming-exercise/programming-exercise.component.html
  src/main/webapp/app/feature-toggle/feature-toggle.directive.ts
  src/main/webapp/app/programming-assessment/programming-assessment.module.ts
  src/main/webapp/app/programming-assessment/repo-export/programming-assessment-repo-export-button.component.ts
  src/main/webapp/app/programming-assessment/repo-export/programming-assessment-repo-export-dialog.component.html
  src/main/webapp/app/programming-assessment/repo-export/programming-assessment-repo-export-dialog.component.ts
  src/main/webapp/app/scores/exercise-scores.component.html
  src/main/webapp/app/scores/exercise-scores.component.ts
  src/main/webapp/app/scores/exercise-scores.module.ts
Labels: client, component:Programming, enhancement, ready for review, server

#1099 show grading instructions in tutor dashboard and exercise view for all exercise types
  src/main/webapp/app/assessment-instructions/assessment-instructions.component.html
  src/main/webapp/app/assessment-instructions/assessment-instructions.component.ts
  src/main/webapp/app/assessment-instructions/assessment-instructions.module.ts
  src/main/webapp/app/assessment-instructions/expandable-problem-statement/expandable-problem-statement.component.html
  src/main/webapp/app/assessment-instructions/expandable-problem-statement/expandable-problem-statement.component.ts
  src/main/webapp/app/assessment-instructions/expandable-sample-solution/expandable-sample-solution.component.ts
  src/main/webapp/app/entities/modeling-exercise/modeling-exercise-detail.component.html
  src/main/webapp/app/entities/modeling-exercise/modeling-exercise-detail.component.ts
  src/main/webapp/app/entities/modeling-exercise/modeling-exercise.module.ts
  src/main/webapp/app/entities/programming-exercise/programming-exercise-detail.component.html
  src/main/webapp/app/entities/programming-exercise/programming-exercise-detail.component.ts
  src/main/webapp/app/entities/text-exercise/text-exercise-detail.component.html
  src/main/webapp/app/tutor-exercise-dashboard/tutor-exercise-dashboard.component.html
Labels: client, ready for review

#1095 Generic data table component using ngx-datatable (for exercise scores and participation page)
  src/main/webapp/app/components/data-table/data-table.component.html
  src/main/webapp/app/components/data-table/data-table.component.scss
  src/main/webapp/app/components/data-table/data-table.component.ts
  src/main/webapp/app/components/data-table/data-table.module.ts
  src/main/webapp/app/entities/participation/participation.component.html
  src/main/webapp/app/entities/participation/participation.component.ts
  src/main/webapp/app/entities/participation/participation.module.ts
  src/main/webapp/app/scores/exercise-scores.component.html
  src/main/webapp/app/scores/exercise-scores.component.ts
  src/main/webapp/app/scores/exercise-scores.module.ts
  src/main/webapp/app/shared/components/button.component.ts
  src/main/webapp/i18n/en/exercise.json
Labels: client, enhancement, ready for review

#1030 Feature Programming Exercise: Allow tutors to respond to complaints
  src/main/java/de/tum/in/www1/artemis/domain/ProgrammingAssessmentUpdate.java
  src/main/java/de/tum/in/www1/artemis/domain/ProgrammingExercise.java
  src/main/java/de/tum/in/www1/artemis/repository/ComplaintRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ComplaintResponseRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ProgrammingSubmissionRepository.java
  src/main/java/de/tum/in/www1/artemis/service/AssessmentService.java
  src/main/java/de/tum/in/www1/artemis/service/ComplaintResponseService.java
  src/main/java/de/tum/in/www1/artemis/service/ComplaintService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingAssessmentService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseTestCaseService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/ResultService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ComplaintResponseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingAssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ResultResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/SubmissionResource.java
  src/main/webapp/app/complaints-for-tutor/complaints-for-tutor.component.html
  src/main/webapp/app/complaints-for-tutor/complaints-for-tutor.component.ts
  src/main/webapp/app/list-of-complaints/list-of-complaints.component.ts
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.html
  src/main/webapp/app/programming-assessment/manual-result/programming-assessment-manual-result-button.component.ts
  src/main/webapp/app/programming-assessment/manual-result/programming-assessment-manual-result-dialog.component.html
  src/main/webapp/app/programming-assessment/manual-result/programming-assessment-manual-result-dialog.component.ts
  src/main/webapp/app/programming-assessment/manual-result/programming-assessment-manual-result.service.ts
  src/main/webapp/app/programming-assessment/programming-assessment.module.ts
  src/main/webapp/app/scores/exercise-scores.component.html
  src/main/webapp/app/tutor-exercise-dashboard/tutor-exercise-dashboard.component.html
  src/main/webapp/app/tutor-exercise-dashboard/tutor-exercise-dashboard.component.ts
  src/main/webapp/i18n/de/complaintResponse.json
  src/main/webapp/i18n/de/error.json
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/de/result.json
  src/main/webapp/i18n/en/complaintResponse.json
  src/main/webapp/i18n/en/error.json
  src/main/webapp/i18n/en/global.json
  src/main/webapp/i18n/en/result.json
  src/test/java/de/tum/in/www1/artemis/AssessmentComplaintIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ProgrammingAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ResultServiceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/java/de/tum/in/www1/artemis/util/ModelFactory.java
  src/test/javascript/spec/component/programming-assessment/programming-assessment-manual-result-dialog.component.ts
Labels: client, component:Programming, ready for review, server

#1123 Bugfix/Show feedback with minus credits for File Upload Exercise
  src/main/webapp/app/file-upload-submission/file-upload-result/file-upload-result.component.ts
  src/test/javascript/spec/component/file-upload-submission/file-upload-result.spec.ts
Labels: client, component:FileUpload, ready for review

#1108 Refactorings: Preparing for New Text Assessment UI.
  src/main/java/de/tum/in/www1/artemis/domain/TextBlock.java
  src/main/java/de/tum/in/www1/artemis/repository/StudentParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/TextSubmissionRepository.java
  src/main/java/de/tum/in/www1/artemis/service/AutomaticTextFeedbackService.java
  src/main/java/de/tum/in/www1/artemis/service/ParticipationService.java
  src/main/java/de/tum/in/www1/artemis/service/TextBlockService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextAssessmentResource.java
  src/main/webapp/app/assessment-instructions/assessment-instructions.component.html
  src/main/webapp/app/assessment-instructions/assessment-instructions.component.ts
  src/main/webapp/app/assessment-instructions/assessment-instructions.module.ts
  src/main/webapp/app/assessment-instructions/assessment-instructions/assessment-instructions.component.html
  src/main/webapp/app/assessment-instructions/assessment-instructions/assessment-instructions.component.ts
  src/main/webapp/app/assessment-instructions/collapsable-assessment-instructions/collapsable-assessment-instructions.component.html
  src/main/webapp/app/assessment-instructions/collapsable-assessment-instructions/collapsable-assessment-instructions.component.ts
  src/main/webapp/app/assessment-instructions/collapsable-assessment-instructions/collapsable-assessment-instructions.scss
  src/main/webapp/app/assessment-instructions/expandable-paragraph/expandable-paragraph.component.ts
  src/main/webapp/app/assessment-instructions/expandable-problem-statement/expandable-problem-statement.component.html
  src/main/webapp/app/assessment-instructions/expandable-problem-statement/expandable-problem-statement.component.ts
  src/main/webapp/app/assessment-instructions/expandable-sample-solution/expandable-sample-solution.component.html
  src/main/webapp/app/assessment-instructions/expandable-sample-solution/expandable-sample-solution.component.ts
  src/main/webapp/app/assessment-instructions/expandable-section/expandable-section.component.html
  src/main/webapp/app/assessment-instructions/expandable-section/expandable-section.component.ts
  src/main/webapp/app/assessment-instructions/index.ts
  src/main/webapp/app/assessment-shared/assessment-general-feedback/assessment-general-feedback.component.html
  src/main/webapp/app/assessment-shared/assessment-general-feedback/assessment-general-feedback.component.ts
  src/main/webapp/app/assessment-shared/assessment-layout/assessment-layout.component.ts
  src/main/webapp/app/assessment-shared/assessment-shared.module.ts
  src/main/webapp/app/assessment-shared/score-display/score-display.component.html
  src/main/webapp/app/assessment-shared/score-display/score-display.component.scss
  src/main/webapp/app/assessment-shared/score-display/score-display.component.ts
  src/main/webapp/app/entities/modeling-exercise/modeling-exercise-detail.component.html
  src/main/webapp/app/entities/modeling-exercise/modeling-exercise-detail.component.ts
  src/main/webapp/app/entities/modeling-exercise/modeling-exercise.module.ts
  src/main/webapp/app/entities/text-assessments/text-assessments.service.ts
  src/main/webapp/app/entities/text-block/text-block.model.ts
  src/main/webapp/app/example-modeling-submission/example-modeling-submission.component.html
  src/main/webapp/app/example-modeling-submission/example-modeling-submission.component.ts
  src/main/webapp/app/example-modeling-submission/example-modeling-submission.module.ts
  src/main/webapp/app/file-upload-assessment/file-upload-assessment.module.ts
  src/main/webapp/app/modeling-assessment-editor/modeling-assessment-conflict/modeling-assessment-conflict.component.html
  src/main/webapp/app/modeling-assessment-editor/modeling-assessment-editor.component.html
  src/main/webapp/app/modeling-assessment/index.ts
  src/main/webapp/app/modeling-assessment/modeling-assessment.module.ts
  src/main/webapp/app/modeling-submission/modeling-submission.module.ts
  src/main/webapp/app/shared/resizeable-container/resizeable-container.component.html
  src/main/webapp/app/shared/resizeable-container/resizeable-container.component.scss
  src/main/webapp/app/shared/resizeable-container/resizeable-container.component.ts
  src/main/webapp/app/shared/shared.module.ts
  src/main/webapp/app/text-assessment/text-assessment.component.ts
  src/main/webapp/app/tutor-exercise-dashboard/tutor-exercise-dashboard.component.html
  src/main/webapp/app/tutor-exercise-dashboard/tutor-exercise-dashboard.component.ts
  src/main/webapp/app/utils/crypto.utils.ts
  src/test/java/de/tum/in/www1/artemis/TextAssessmentIntegrationTest.java
  src/test/javascript/spec/component/assessment-shared/assessment-general-feedback.component.spec.ts
  src/test/javascript/spec/component/file-upload-assessment/file-upload-assessment.spec.ts
  src/test/javascript/spec/component/modeling-submission/modeling-submission.component.spec.ts
  src/test/javascript/spec/component/shared/resizeable-container.component.spec.ts
  src/test/javascript/spec/component/tutor-dashboard/tutor-exercise-dashboard.spec.ts
  src/test/javascript/spec/component/utils/crypto.utils.spec.ts
Labels: chore, client, ready for review, server

#1128 Parent components of data table should show the filtered number of entries
  src/main/webapp/app/components/data-table/data-table.component.ts
  src/main/webapp/app/entities/participation/participation.component.html
  src/main/webapp/app/entities/participation/participation.component.ts
  src/main/webapp/app/scores/exercise-scores.component.html
  src/main/webapp/app/scores/exercise-scores.component.ts
Labels: bug, client, enhancement, ready for review

#1131 Hide exercise filter controls on small screens
  src/main/webapp/app/overview/course-exercises/course-exercises.component.html
Labels: client, component:Shared, enhancement, ready for review

#1100 Improvements to pagination and search in generic data table
  src/main/webapp/app/components/data-table/data-table.component.html
  src/main/webapp/app/components/data-table/data-table.component.scss
  src/main/webapp/app/components/data-table/data-table.component.ts
  src/main/webapp/app/entities/participation/participation.component.html
  src/main/webapp/app/scores/exercise-scores.component.html
  src/main/webapp/i18n/de/exercise.json
  src/main/webapp/i18n/en/exercise.json
Labels: client, enhancement, ready for review

#1137 Fix not updating result component in exercise scores
  src/main/webapp/app/scores/exercise-scores.component.html
Labels: bug, client

#1139 Increase teardown timeout for K6 API tests
  src/test/k6/ProgrammingExerciseAPIs.js
Labels: bug, ready for review, tests

#1114 Bugfix/ Ensure that the stored file is the same as the one passed from client
  src/main/java/de/tum/in/www1/artemis/exception/EmptyFileException.java
  src/main/java/de/tum/in/www1/artemis/service/FileService.java
  src/main/java/de/tum/in/www1/artemis/service/FileUploadSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/FileUploadSubmissionResource.java
  src/main/webapp/app/file-upload-submission/file-upload-submission.component.ts
  src/main/webapp/i18n/de/error.json
  src/main/webapp/i18n/en/error.json
  src/test/java/de/tum/in/www1/artemis/FileUploadSubmissionIntegrationTest.java
Labels: client, component:FileUpload, ready for review, server

#1142 Add repo download button to complaints and feedbacks
  src/main/webapp/app/list-of-complaints/list-of-complaints.component.ts
  src/main/webapp/app/programming-assessment/manual-result/programming-assessment-manual-result-dialog.component.html
  src/main/webapp/app/programming-assessment/manual-result/programming-assessment-manual-result-dialog.component.ts
  src/main/webapp/app/programming-assessment/repo-export/programming-assessment-repo-export-button.component.ts
  src/main/webapp/app/programming-assessment/repo-export/programming-assessment-repo-export-dialog.component.ts
  src/main/webapp/app/shared/components/button.component.ts
  src/main/webapp/app/tutor-exercise-dashboard/tutor-exercise-dashboard.component.html
  src/main/webapp/app/tutor-exercise-dashboard/tutor-exercise-dashboard.component.ts
  src/main/webapp/i18n/de/tutorExerciseDashboard.json
  src/main/webapp/i18n/en/tutorExerciseDashboard.json
  src/test/javascript/spec/component/programming-assessment/programming-assessment-manual-result-dialog.component.ts
Labels: bug, client, component:Programming, ready for review

#1152 Add filter for "Build Failed" to exercise scores for programming exercises
  src/main/webapp/app/entities/participation/participation.component.html
  src/main/webapp/app/entities/participation/participation.component.ts
  src/main/webapp/app/scores/exercise-scores.component.html
  src/main/webapp/app/scores/exercise-scores.component.scss
  src/main/webapp/app/scores/exercise-scores.component.ts
  src/main/webapp/i18n/de/exercise.json
  src/main/webapp/i18n/en/exercise.json
Labels: client, enhancement, ready for review

#1151 View FileUpload / Modeling / Text submission from Exercise Scores page
  src/main/webapp/app/components/data-table/data-table.component.ts
  src/main/webapp/app/scores/exercise-scores.component.html
  src/main/webapp/app/scores/exercise-scores.component.ts
  src/main/webapp/i18n/de/fileUploadSubmission.json
  src/main/webapp/i18n/de/modelingSubmission.json
  src/main/webapp/i18n/de/programmingSubmission.json
  src/main/webapp/i18n/de/quizSubmission.json
  src/main/webapp/i18n/de/textSubmission.json
  src/main/webapp/i18n/en/fileUploadSubmission.json
  src/main/webapp/i18n/en/modelingSubmission.json
  src/main/webapp/i18n/en/textSubmission.json
Labels: client, enhancement, ready for review

#1158 Bugfix: Fix text highlighting for text example assessments
  src/main/webapp/app/text-assessment/highlighted-text-area/highlighted-text-area.component.ts
Labels: bug, client, component:Text

#1157 Fix: Tooltips get cut off within data table
  src/main/webapp/app/entities/result/result.component.html
Labels: bug, client, ready for review

#1144 Bugfix/complaint improvements
  src/main/java/de/tum/in/www1/artemis/domain/Result.java
  src/main/java/de/tum/in/www1/artemis/repository/ComplaintRepository.java
  src/main/java/de/tum/in/www1/artemis/service/AssessmentService.java
  src/main/java/de/tum/in/www1/artemis/service/ComplaintService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingAssessmentService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ComplaintResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ComplaintResponseResource.java
  src/main/webapp/app/complaints/complaint-interactions.component.ts
  src/main/webapp/app/entities/complaint-response/complaint-response.service.ts
  src/main/webapp/app/entities/complaint/complaint.service.ts
  src/main/webapp/app/list-of-complaints/list-of-complaints.component.ts
  src/main/webapp/app/programming-assessment/manual-result/programming-assessment-manual-result-button.component.ts
  src/main/webapp/app/programming-assessment/manual-result/programming-assessment-manual-result-dialog.component.html
  src/main/webapp/app/programming-assessment/manual-result/programming-assessment-manual-result-dialog.component.ts
  src/main/webapp/app/scores/exercise-scores.component.html
  src/main/webapp/app/tutor-exercise-dashboard/tutor-exercise-dashboard.component.html
  src/main/webapp/app/tutor-exercise-dashboard/tutor-exercise-dashboard.component.ts
  src/test/java/de/tum/in/www1/artemis/AssessmentComplaintIntegrationTest.java
  src/test/javascript/spec/component/programming-assessment/programming-assessment-manual-result-dialog.component.ts
Labels: client, help wanted, server, tests needed

#1160 Bugfix: Fix display of tutor participation graph on tutor course dashboard
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/webapp/app/tutor-course-dashboard/tutor-course-dashboard.component.ts
  src/main/webapp/app/tutor-course-dashboard/tutor-participation-graph/tutor-participation-graph.component.ts
Labels: bug, client, ready for review, server
