Repository ls1intum/Artemis, pull requests merged in 2019-05, with the labels that each got.

#377 Feature/Offline Alert
  src/main/java/de/tum/in/www1/artemis/config/websocket/WebsocketConfiguration.java
  src/main/webapp/app/app.module.ts
  src/main/webapp/app/entities/notification/notification.model.ts
  src/main/webapp/app/layouts/connection-notification/connection-notification.component.html
  src/main/webapp/app/layouts/connection-notification/connection-notification.component.ts
  src/main/webapp/app/layouts/connection-notification/connection-notification.model.ts
  src/main/webapp/app/layouts/connection-notification/connection-notification.module.ts
  src/main/webapp/app/layouts/connection-notification/index.ts
  src/main/webapp/app/layouts/index.ts
  src/main/webapp/app/layouts/main/main.component.html
  src/main/webapp/i18n/de/alert.json
  src/main/webapp/i18n/en/alert.json
Labels: feature, ready for review

#378 Bugfix/notification date formatting
  src/main/webapp/app/layouts/notification-container/notification-container.component.html
Labels: bug, ready for review

#370 Implement resizable markdown editor
  src/main/webapp/app/entities/programming-exercise/programming-exercise-dialog.component.html
  src/main/webapp/app/entities/programming-exercise/programming-exercise-update.component.html
  src/main/webapp/app/markdown-editor/markdown-editor.component.html
  src/main/webapp/app/markdown-editor/markdown-editor.component.scss
  src/main/webapp/app/markdown-editor/markdown-editor.component.ts
Labels: enhancement, ready for review

#390 Bugfix/autofill login
  src/main/webapp/app/home/home.component.html
  src/main/webapp/app/home/home.component.ts
Labels: ready for review

#392 Make Spotless work on Windows
  linting.sh
  package.json
Labels: enhancement

#393 Re-enable automatic submission service for modeling and text submissions
  src/main/java/de/tum/in/www1/artemis/repository/SubmissionRepository.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/AutomaticSubmissionService.java
Labels: feature

#379 Feature/presentation score
  src/main/webapp/app/course-list/course-score-calculation.service.ts
  src/main/webapp/app/entities/participation/participation.component.html
  src/main/webapp/app/entities/participation/participation.component.ts
  src/main/webapp/app/overview/course-statistics/course-statistics.component.html
  src/main/webapp/app/overview/course-statistics/course-statistics.component.ts
  src/main/webapp/app/vendor.ts
  src/main/webapp/i18n/de/participation.json
  src/main/webapp/i18n/de/student-dashboard.json
  src/main/webapp/i18n/en/participation.json
  src/main/webapp/i18n/en/student-dashboard.json
Labels: feature, ready for review

#317 Feature/course detail image cropper
  package.json
  src/main/webapp/app/entities/course/course-detail.component.html
  src/main/webapp/app/entities/course/course-detail.component.scss
  src/main/webapp/app/entities/course/course-detail.component.ts
  src/main/webapp/app/entities/course/course-update.component.html
  src/main/webapp/app/entities/course/course-update.component.scss
  src/main/webapp/app/entities/course/course-update.component.ts
  src/main/webapp/app/entities/course/course.module.ts
  src/main/webapp/app/overview/course-overview.scss
  src/main/webapp/content/images/image-placeholder.png
  src/test/javascript/e2e/entities/course.spec.ts
  src/test/javascript/e2e/page-objects/entities/course-page-object.ts
  src/test/javascript/e2e/page-objects/entities/tum-logo.png
Labels: good first issue, ready for review

#388 Bugfix/no connection notification on logout->login
  src/main/webapp/app/layouts/connection-notification/connection-notification.component.ts
Labels: bug, work in progress

#395 Extension feature/presentation score
  src/main/java/de/tum/in/www1/artemis/web/rest/ParticipationResource.java
Labels: enhancement, feature, ready for review

#389 reloading questions when switching the page by notifications
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.ts
  src/main/webapp/app/student-questions/student-questions.component.ts
Labels: ready for review

#397 fixed an issue that the lecture was not changed when clicking on a notification
  src/main/webapp/app/overview/course-lectures/course-lecture-details.component.ts
Labels: ready for review

#361 Feature/file browser enhancements
  src/main/java/de/tum/in/www1/artemis/domain/FileType.java
  src/main/java/de/tum/in/www1/artemis/domain/Repository.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/GitService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/FileMove.java
  src/main/java/de/tum/in/www1/artemis/web/rest/RepositoryResource.java
  src/main/webapp/app/code-editor/ace/code-editor-ace.component.html
  src/main/webapp/app/code-editor/ace/code-editor-ace.component.ts
  src/main/webapp/app/code-editor/actions/code-editor-actions.component.html
  src/main/webapp/app/code-editor/code-editor.component.html
  src/main/webapp/app/code-editor/code-editor.component.ts
  src/main/webapp/app/code-editor/code-editor.module.ts
  src/main/webapp/app/code-editor/file-browser/code-editor-file-browser-create.html
  src/main/webapp/app/code-editor/file-browser/code-editor-file-browser-create.ts
  src/main/webapp/app/code-editor/file-browser/code-editor-file-browser-delete.html
  src/main/webapp/app/code-editor/file-browser/code-editor-file-browser-delete.ts
  src/main/webapp/app/code-editor/file-browser/code-editor-file-browser.component.html
  src/main/webapp/app/code-editor/file-browser/code-editor-file-browser.component.ts
  src/main/webapp/app/code-editor/index.ts
  src/main/webapp/app/entities/ace-editor/editor-file-session.model.ts
  src/main/webapp/app/entities/ace-editor/file-change.model.ts
  src/main/webapp/app/entities/ace-editor/index.ts
  src/main/webapp/app/entities/repository/repository.service.ts
  src/main/webapp/app/vendor.ts
  src/main/webapp/content/scss/editor.scss
  src/main/webapp/i18n/de/editor.json
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/editor.json
  src/main/webapp/i18n/en/programmingExercise.json
Labels: enhancement, feature, ready for review

#398 Bugfix/Check filename in repository file endpoints
  src/main/java/de/tum/in/www1/artemis/web/rest/RepositoryResource.java
Labels: ready for review

#405 Cover 2 edge cases during repo download
  src/main/java/de/tum/in/www1/artemis/service/connectors/GitService.java
Labels: bug

#400 Complaints for modeling and text exercises
  src/main/java/de/tum/in/www1/artemis/config/Constants.java
  src/main/java/de/tum/in/www1/artemis/domain/AssessmentUpdate.java
  src/main/java/de/tum/in/www1/artemis/domain/Result.java
  src/main/java/de/tum/in/www1/artemis/repository/ComplaintRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ComplaintResponseRepository.java
  src/main/java/de/tum/in/www1/artemis/service/AssessmentService.java
  src/main/java/de/tum/in/www1/artemis/service/ComplaintResponseService.java
  src/main/java/de/tum/in/www1/artemis/service/ModelingAssessmentService.java
  src/main/java/de/tum/in/www1/artemis/service/ModelingExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/ParticipationService.java
  src/main/java/de/tum/in/www1/artemis/service/ResultService.java
  src/main/java/de/tum/in/www1/artemis/service/TextAssessmentService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ComplaintResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ComplaintResponseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingAssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextAssessmentResource.java
  src/main/webapp/app/complaints-for-tutor/complaints-for-tutor.component.html
  src/main/webapp/app/complaints-for-tutor/complaints-for-tutor.component.ts
  src/main/webapp/app/complaints/complaints.component.html
  src/main/webapp/app/complaints/complaints.component.ts
  src/main/webapp/app/entities/complaint-response/complaint-response.model.ts
  src/main/webapp/app/entities/complaint/complaint.service.ts
  src/main/webapp/app/entities/text-assessments/text-assessments.service.ts
  src/main/webapp/app/modeling-assessment-editor/modeling-assessment-editor.component.html
  src/main/webapp/app/modeling-assessment-editor/modeling-assessment-editor.component.scss
  src/main/webapp/app/modeling-assessment-editor/modeling-assessment-editor.component.ts
  src/main/webapp/app/modeling-assessment-editor/modeling-assessment-editor.module.ts
  src/main/webapp/app/modeling-assessment-editor/modeling-assessment.service.ts
  src/main/webapp/app/modeling-submission/modeling-submission.component.html
  src/main/webapp/app/modeling-submission/modeling-submission.component.ts
  src/main/webapp/app/modeling-submission/modeling-submission.module.ts
  src/main/webapp/app/text-assessment/text-assessment.component.html
  src/main/webapp/app/text-assessment/text-assessment.component.ts
  src/main/webapp/app/text-editor/text-editor.component.html
  src/main/webapp/app/text-editor/text-editor.component.ts
  src/main/webapp/app/tutor-exercise-dashboard/tutor-exercise-dashboard.component.html
  src/main/webapp/app/tutor-exercise-dashboard/tutor-exercise-dashboard.component.ts
  src/main/webapp/content/scss/global.scss
  src/main/webapp/i18n/de/complaint.json
  src/main/webapp/i18n/de/complaintResponse.json
  src/main/webapp/i18n/de/instructorCourseDashboard.json
  src/main/webapp/i18n/de/modelingAssessmentEditor.json
  src/main/webapp/i18n/de/textAssessment.json
  src/main/webapp/i18n/de/tutorExerciseDashboard.json
  src/main/webapp/i18n/en/complaint.json
  src/main/webapp/i18n/en/complaintResponse.json
  src/main/webapp/i18n/en/modelingAssessmentEditor.json
  src/main/webapp/i18n/en/textAssessment.json
  src/main/webapp/i18n/en/tutorExerciseDashboard.json
Labels: feature

#406 Cancel button for modeling and test assessments
  src/main/java/de/tum/in/www1/artemis/repository/TextSubmissionRepository.java
  src/main/java/de/tum/in/www1/artemis/service/AssessmentService.java
  src/main/java/de/tum/in/www1/artemis/service/ModelingAssessmentService.java
  src/main/java/de/tum/in/www1/artemis/service/ModelingSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/TextAssessmentService.java
  src/main/java/de/tum/in/www1/artemis/service/TextSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/compass/CalculationEngine.java
  src/main/java/de/tum/in/www1/artemis/service/compass/CompassCalculationEngine.java
  src/main/java/de/tum/in/www1/artemis/service/compass/CompassService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingAssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextAssessmentResource.java
  src/main/webapp/app/entities/text-assessments/text-assessments.service.ts
  src/main/webapp/app/modeling-assessment-editor/modeling-assessment-editor.component.html
  src/main/webapp/app/modeling-assessment-editor/modeling-assessment-editor.component.ts
  src/main/webapp/app/modeling-assessment-editor/modeling-assessment.service.ts
  src/main/webapp/app/text-assessment/text-assessment.component.html
  src/main/webapp/app/text-assessment/text-assessment.component.ts
  src/main/webapp/i18n/de/modelingAssessmentEditor.json
  src/main/webapp/i18n/de/textAssessment.json
  src/main/webapp/i18n/en/modelingAssessmentEditor.json
  src/main/webapp/i18n/en/textAssessment.json
Labels: feature

#433 Extension Feature/presentation score (remove presentation)
  src/main/java/de/tum/in/www1/artemis/web/rest/ParticipationResource.java
  src/main/webapp/app/entities/participation/participation.component.html
  src/main/webapp/app/entities/participation/participation.component.ts
  src/main/webapp/i18n/de/participation.json
  src/main/webapp/i18n/en/participation.json
Labels: enhancement, ready for review

#418 Feature/programming exercise instructor status
  src/main/java/de/tum/in/www1/artemis/repository/ProgrammingExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseResource.java
  src/main/webapp/app/entities/programming-exercise/index.ts
  src/main/webapp/app/entities/programming-exercise/programming-exercise-detail.component.html
  src/main/webapp/app/entities/programming-exercise/programming-exercise-detail.component.scss
  src/main/webapp/app/entities/programming-exercise/programming-exercise-detail.component.ts
  src/main/webapp/app/entities/programming-exercise/programming-exercise-participation.model.ts
  src/main/webapp/app/entities/programming-exercise/programming-exercise.component.html
  src/main/webapp/app/entities/programming-exercise/programming-exercise.module.ts
  src/main/webapp/app/entities/programming-exercise/status/programming-exercise-instructor-status.component.html
  src/main/webapp/app/entities/programming-exercise/status/programming-exercise-instructor-status.component.ts
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/programmingExercise.json
  src/test/javascript/spec/component/programming-exercise/programming-exercise-instructor-status.spec.ts
Labels: feature, ready for review

#371 Programming Exercise Domain Commands
  src/main/webapp/app/entities/programming-exercise/index.ts
  src/main/webapp/app/entities/programming-exercise/instructions/programming-exercise-editable-instruction.component.html
  src/main/webapp/app/entities/programming-exercise/instructions/programming-exercise-editable-instruction.component.ts
  src/main/webapp/app/entities/programming-exercise/instructions/programming-exercise-instruction.component.html
  src/main/webapp/app/entities/programming-exercise/instructions/programming-exercise-instruction.component.ts
  src/main/webapp/app/entities/programming-exercise/programming-exercise-detail.component.html
  src/main/webapp/app/entities/programming-exercise/programming-exercise-dialog.component.html
  src/main/webapp/app/entities/programming-exercise/programming-exercise-update.component.html
  src/main/webapp/app/entities/programming-exercise/programming-exercise.module.ts
  src/main/webapp/app/markdown-editor/domainCommands/correctOptionCommand.ts
  src/main/webapp/app/markdown-editor/domainCommands/domainMultiOptionCommand.ts
  src/main/webapp/app/markdown-editor/domainCommands/domainTag.command.ts
  src/main/webapp/app/markdown-editor/domainCommands/explanation.command.ts
  src/main/webapp/app/markdown-editor/domainCommands/hint.command.ts
  src/main/webapp/app/markdown-editor/domainCommands/incorrectOptionCommand.ts
  src/main/webapp/app/markdown-editor/domainCommands/index.ts
  src/main/webapp/app/markdown-editor/domainCommands/programming-exercise/task.command.ts
  src/main/webapp/app/markdown-editor/domainCommands/programming-exercise/testCase.command.ts
  src/main/webapp/app/markdown-editor/markdown-editor.component.html
  src/main/webapp/app/markdown-editor/markdown-editor.component.ts
  src/main/webapp/app/shared/index.ts
  src/main/webapp/app/shared/pipes/type-check.pipe.ts
  src/main/webapp/app/shared/shared.module.ts
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/global.json
  src/main/webapp/i18n/en/programmingExercise.json
Labels: feature, work in progress

#432 General feedback in modeling and text exercises
  src/main/java/de/tum/in/www1/artemis/domain/Feedback.java
  src/main/java/de/tum/in/www1/artemis/service/AssessmentService.java
  src/main/java/de/tum/in/www1/artemis/service/ModelingAssessmentService.java
  src/main/java/de/tum/in/www1/artemis/service/TextAssessmentService.java
  src/main/java/de/tum/in/www1/artemis/service/TextBlockService.java
  src/main/webapp/app/complaints-for-tutor/complaints-for-tutor.component.html
  src/main/webapp/app/entities/feedback/feedback.model.ts
  src/main/webapp/app/example-text-submission/example-text-submission.component.ts
  src/main/webapp/app/modeling-assessment-editor/modeling-assessment-editor.component.html
  src/main/webapp/app/modeling-assessment-editor/modeling-assessment-editor.component.ts
  src/main/webapp/app/modeling-assessment-editor/modeling-assessment.service.ts
  src/main/webapp/app/modeling-assessment/modeling-assessment.component.ts
  src/main/webapp/app/modeling-submission/modeling-submission.component.html
  src/main/webapp/app/modeling-submission/modeling-submission.component.ts
  src/main/webapp/app/text-assessment/text-assessment.component.html
  src/main/webapp/app/text-assessment/text-assessment.component.ts
  src/main/webapp/app/text-editor/text-editor.component.html
  src/main/webapp/app/text-editor/text-editor.component.ts
  src/main/webapp/app/text-editor/text-result/text-result.component.ts
  src/main/webapp/app/vendor.ts
  src/main/webapp/i18n/de/assessment.json
  src/main/webapp/i18n/de/textAssessment.json
  src/main/webapp/i18n/en/assessment.json
  src/main/webapp/i18n/en/textAssessment.json
  src/test/javascript/spec/app/entities/feedback/feedback-dialog.component.spec.ts
Labels: feature

#281 feature/participation-websocket-service
  src/main/java/de/tum/in/www1/artemis/service/ParticipationService.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/QuizScheduleService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingAssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/QuizSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextAssessmentResource.java
  src/main/webapp/app/code-editor/build-output/code-editor-build-output.component.ts
  src/main/webapp/app/code-editor/code-editor.component.html
  src/main/webapp/app/course-list/exercise-list/exercise-list.component.html
  src/main/webapp/app/dashboard/exercise-dashboard.component.html
  src/main/webapp/app/entities/participation/index.ts
  src/main/webapp/app/entities/participation/participation-websocket.service.ts
  src/main/webapp/app/entities/participation/participation.module.ts
  src/main/webapp/app/entities/participation/participation.service.ts
  src/main/webapp/app/entities/programming-exercise/instructions/programming-exercise-instruction.component.ts
  src/main/webapp/app/entities/programming-exercise/programming-exercise-detail.component.html
  src/main/webapp/app/entities/result/index.ts
  src/main/webapp/app/entities/result/result-websocket.service.ts
  src/main/webapp/app/entities/result/result.component.html
  src/main/webapp/app/entities/result/result.component.ts
  src/main/webapp/app/entities/result/result.module.ts
  src/main/webapp/app/entities/result/updating-result.component.html
  src/main/webapp/app/entities/result/updating-result.component.ts
  src/main/webapp/app/modeling-assessment-editor/modeling-assessment-dashboard.component.html
  src/main/webapp/app/modeling-submission/modeling-submission.component.html
  src/main/webapp/app/overview/course-exercises/course-exercise-row.component.html
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.html
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.ts
  src/main/webapp/app/quiz/participate/quiz.component.ts
  src/main/webapp/app/text-assessment/text-assessment-dashboard/text-assessment-dashboard.component.html
  src/main/webapp/app/text-assessment/text-assessment.component.html
  src/main/webapp/app/text-editor/text-editor.component.html
  src/main/webapp/i18n/de/result.json
  src/main/webapp/i18n/en/result.json
  src/test/gatling/simulations/QuizParticipationSimulation.scala
Labels: enhancement, ready for review

#456 Hotfix/hints and explanations not showing up after saving
  src/main/webapp/app/components/util/markdown.service.ts
  src/main/webapp/app/quiz/edit/multiple-choice-question/edit-multiple-choice-question.component.ts
Labels: bug, ready for review

#457 Bugfix/show problemStatement on exercise-detail page
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.html
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.ts
  src/main/webapp/app/shared/index.ts
  src/main/webapp/app/shared/pipes/html-for-markdown.pipe.ts
  src/main/webapp/app/shared/shared.module.ts
Labels: bug, ready for review

#458 Bugfix/sa question create 1
  src/main/webapp/app/components/util/short-answer-question-util.service.ts
  src/main/webapp/app/entities/quiz-exercise/quiz-exercise-detail.component.ts
  src/main/webapp/app/quiz/edit/short-answer-question/edit-short-answer-question.component.html
  src/main/webapp/app/quiz/edit/short-answer-question/edit-short-answer-question.component.ts
  src/main/webapp/content/scss/quiz.scss
Labels: bug, ready for review

#447 Bugfix/mobile statistics
  src/main/webapp/app/quiz-statistics/drag-and-drop-question-statistic/drag-and-drop-question-statistic.component.html
  src/main/webapp/app/quiz-statistics/multiple-choice-question-statistic/multiple-choice-question-statistic.component.html
  src/main/webapp/app/quiz-statistics/quiz-point-statistic/quiz-point-statistic.component.html
  src/main/webapp/app/quiz-statistics/quiz-statistic/quiz-statistic.component.html
  src/main/webapp/app/quiz-statistics/short-answer-question-statistic/short-answer-question-statistic.component.html
  src/main/webapp/content/scss/global.scss
  src/main/webapp/content/scss/quiz.scss
Labels: bug, ready for review

#463 fixed z-index of statistics chart
  src/main/webapp/app/overview/course-overview.scss
  src/main/webapp/app/overview/course-statistics/course-statistics.component.html
Labels: ready for review

#462 fixed issue that questions could not be created for exercises
  src/main/webapp/app/entities/exercise/exercise.service.ts
  src/main/webapp/app/student-questions/student-questions.component.ts
Labels: ready for review

#446 Bugfix/due date modeling exercise
  src/main/webapp/app/entities/modeling-exercise/modeling-exercise-dialog.component.html
  src/main/webapp/app/entities/modeling-exercise/modeling-exercise-dialog.component.ts
  src/main/webapp/app/shared/date-time-picker/date-time-picker.component.ts
  src/main/webapp/i18n/de/exercise.json
  src/main/webapp/i18n/en/exercise.json
Labels: bug, ready for review

#474 Fix modeling assessment layout issue on small window
  src/main/webapp/app/modeling-assessment-editor/modeling-assessment-editor.component.html
  src/main/webapp/app/modeling-assessment-editor/modeling-assessment-editor.component.scss
Labels: bug

#448 Participation websocket service - follow up
  src/main/java/de/tum/in/www1/artemis/service/ParticipationService.java
  src/main/webapp/app/entities/exercise/exercise.service.ts
  src/main/webapp/app/entities/participation/participation-websocket.service.ts
  src/main/webapp/app/entities/result/result.component.html
  src/main/webapp/app/entities/result/result.component.ts
  src/main/webapp/app/entities/result/updating-result.component.ts
  src/main/webapp/app/layouts/navbar/navbar.component.ts
  src/main/webapp/app/modeling-submission/modeling-submission.component.ts
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.ts
  src/main/webapp/app/quiz/participate/quiz.component.ts
  src/main/webapp/i18n/de/modelingEditor.json
  src/main/webapp/i18n/en/modelingEditor.json
Labels: enhancement

#468 Allow tutors to adapt their assessments
  src/main/java/de/tum/in/www1/artemis/domain/Exercise.java
  src/main/java/de/tum/in/www1/artemis/service/AssessmentService.java
  src/main/java/de/tum/in/www1/artemis/service/ModelingAssessmentService.java
  src/main/java/de/tum/in/www1/artemis/service/TextAssessmentService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingAssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextAssessmentResource.java
  src/main/webapp/app/modeling-assessment-editor/modeling-assessment-editor.component.html
  src/main/webapp/app/modeling-assessment-editor/modeling-assessment-editor.component.ts
  src/main/webapp/app/modeling-submission/modeling-submission.component.html
  src/main/webapp/app/modeling-submission/modeling-submission.component.ts
  src/main/webapp/app/overview/course-exercises/course-exercise-row.component.html
  src/main/webapp/app/overview/course-exercises/course-exercise-row.component.ts
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.html
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.ts
  src/main/webapp/app/text-assessment/text-assessment.component.html
  src/main/webapp/app/text-assessment/text-assessment.component.ts
  src/main/webapp/app/text-editor/text-editor.component.html
  src/main/webapp/app/text-editor/text-editor.component.ts
  src/main/webapp/i18n/de/assessment.json
  src/main/webapp/i18n/en/assessment.json
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
Labels: feature

#469 Comment field for example assessments
  src/main/java/de/tum/in/www1/artemis/domain/ExampleSubmission.java
  src/main/resources/config/liquibase/changelog/20190520032531_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/entities/example-submission/example-submission.model.ts
  src/main/webapp/app/example-modeling-submission/example-modeling-submission.component.html
  src/main/webapp/app/example-modeling-submission/example-modeling-submission.component.scss
  src/main/webapp/app/example-modeling-submission/example-modeling-submission.component.ts
  src/main/webapp/i18n/de/exampleSubmission.json
  src/main/webapp/i18n/en/exampleSubmission.json
Labels: feature

#464 Enable sourceMap in angular.json as well
  angular.json
Labels: ready for review

#494 Remove unused dependencies
  package.json
  yarn.lock
Labels: ready for review

#500 Bugfix/Fix console errors in code-editor caused by markdown rendering
  src/main/webapp/app/code-editor/build-output/code-editor-build-output.component.ts
  src/main/webapp/app/entities/programming-exercise/instructions/programming-exercise-instruction.component.ts
Labels: bug, ready for review

#460 Bugfix/resume participation nullpointer
  src/main/java/de/tum/in/www1/artemis/web/rest/ParticipationResource.java
  src/main/webapp/app/overview/exercise-details/exercise-details-student-actions.component.html
  src/main/webapp/app/overview/exercise-details/exercise-details-student-actions.component.ts
  src/main/webapp/i18n/de/exercise.json
  src/main/webapp/i18n/en/exercise.json
Labels: ready for review

#491 Feature/ rename project name
  src/main/java/de/tum/in/www1/artemis/service/ExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/GitService.java
Labels: bug, feature

#473 New complaint list page
  src/main/java/de/tum/in/www1/artemis/repository/ComplaintRepository.java
  src/main/java/de/tum/in/www1/artemis/service/AssessmentService.java
  src/main/java/de/tum/in/www1/artemis/service/ComplaintResponseService.java
  src/main/java/de/tum/in/www1/artemis/service/ComplaintService.java
  src/main/java/de/tum/in/www1/artemis/service/UserService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ComplaintResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/StatsTutorLeaderboardDTO.java
  src/main/webapp/app/app.module.ts
  src/main/webapp/app/entities/complaint/complaint.service.ts
  src/main/webapp/app/instructor-course-dashboard/instructor-course-dashboard.component.html
  src/main/webapp/app/instructor-course-dashboard/tutor-leaderboard/tutor-leaderboard.component.html
  src/main/webapp/app/instructor-course-dashboard/tutor-leaderboard/tutor-leaderboard.component.ts
  src/main/webapp/app/instructor-exercise-dashboard/instructor-exercise-dashboard.component.html
  src/main/webapp/app/list-of-complaints/index.ts
  src/main/webapp/app/list-of-complaints/list-of-complaints.component.html
  src/main/webapp/app/list-of-complaints/list-of-complaints.component.ts
  src/main/webapp/app/list-of-complaints/list-of-complaints.module.ts
  src/main/webapp/app/list-of-complaints/list-of-complaints.route.ts
  src/main/webapp/app/tutor-course-dashboard/tutor-course-dashboard.component.html
  src/main/webapp/app/tutor-course-dashboard/tutor-course-dashboard.component.ts
  src/main/webapp/app/tutor-exercise-dashboard/tutor-exercise-dashboard.component.html
  src/main/webapp/app/tutor-exercise-dashboard/tutor-exercise-dashboard.component.ts
  src/main/webapp/i18n/de/complaint.json
  src/main/webapp/i18n/en/complaint.json
Labels: ready for review

#450 Docker setup for development environment
  README.md
  docker-compose.yml
  docker/app/Dockerfile
Labels: enhancement, ready for review
