Repository ls1intum/Artemis, pull requests merged in 2019-04, with the labels that each got.

#223 Feature/sa improvements1
  src/main/java/de/tum/in/www1/artemis/domain/ShortAnswerSubmittedText.java
  src/main/webapp/app/components/util/markdown.service.ts
  src/main/webapp/app/components/util/short-answer-question-util.service.ts
  src/main/webapp/app/quiz-statistics/short-answer-question-statistic/short-answer-question-statistic.component.html
  src/main/webapp/app/quiz-statistics/short-answer-question-statistic/short-answer-question-statistic.component.ts
  src/main/webapp/app/quiz/edit/short-answer-question/edit-short-answer-question.component.html
  src/main/webapp/app/quiz/edit/short-answer-question/edit-short-answer-question.component.ts
  src/main/webapp/app/quiz/participate/short-answer-question/short-answer-question.component.html
  src/main/webapp/app/quiz/participate/short-answer-question/short-answer-question.component.ts
  src/main/webapp/content/scss/quiz.scss
Labels: enhancement

#239 🐛 Remove RegExp Look Behind from Short Answer Question
  src/main/webapp/app/components/util/short-answer-question-util.service.ts
Labels: bug

#229 [IN REVIEW] Add problem statement to forms and code editor instructions
  src/main/java/de/tum/in/www1/artemis/service/AuthorizationCheckService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/FileResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseResource.java
  src/main/resources/templates/readme
  src/main/webapp/app/code-editor/code-editor.component.html
  src/main/webapp/app/code-editor/code-editor.component.ts
  src/main/webapp/app/code-editor/code-editor.module.ts
  src/main/webapp/app/code-editor/instructions/code-editor-instructions.component.html
  src/main/webapp/app/code-editor/instructions/code-editor-instructions.component.ts
  src/main/webapp/app/entities/exercise/exercise.model.ts
  src/main/webapp/app/entities/programming-exercise/index.ts
  src/main/webapp/app/entities/programming-exercise/programming-exercise-detail.component.html
  src/main/webapp/app/entities/programming-exercise/programming-exercise-dialog.component.html
  src/main/webapp/app/entities/programming-exercise/programming-exercise-dialog.component.ts
  src/main/webapp/app/entities/programming-exercise/programming-exercise-instruction.component.html
  src/main/webapp/app/entities/programming-exercise/programming-exercise-instruction.component.ts
  src/main/webapp/app/entities/programming-exercise/programming-exercise-update.component.html
  src/main/webapp/app/entities/programming-exercise/programming-exercise-update.component.ts
  src/main/webapp/app/entities/programming-exercise/programming-exercise.model.ts
  src/main/webapp/app/entities/programming-exercise/programming-exercise.module.ts
  src/main/webapp/app/markdown-editor/markdown-editor.component.html
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.html
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.ts
  src/main/webapp/app/overview/overview.module.ts
  src/main/webapp/app/shared/http/file.service.ts
  src/main/webapp/app/shared/shared.module.ts
  src/main/webapp/content/scss/editor.scss
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/programmingExercise.json
Labels: feature

#256 [In Review] Bugfixes/programming exercise file browser
  src/main/webapp/app/code-editor/ace/code-editor-ace.component.ts
  src/main/webapp/app/code-editor/code-editor.component.ts
  src/main/webapp/app/code-editor/file-browser/code-editor-file-browser.component.html
  src/main/webapp/app/code-editor/file-browser/code-editor-file-browser.component.ts
  src/main/webapp/app/code-editor/text-files.json
  tsconfig-aot.json
  tsconfig-e2e.json
  tsconfig.json
Labels: bug

#258 [In Review] Fix for domain command name exercisePart
  src/main/resources/templates/readme
  src/main/webapp/app/entities/programming-exercise/programming-exercise-instruction.component.ts
Labels: enhancement

#252 Feature/example modeling submissions and assessments
  src/main/java/de/tum/in/www1/artemis/repository/ExampleSubmissionRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ModelingExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ModelingSubmissionRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ExampleSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/ModelingAssessmentService.java
  src/main/java/de/tum/in/www1/artemis/service/ModelingExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/ParticipationService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/AssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExampleSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingAssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TutorParticipationResource.java
  src/main/webapp/app/app.module.ts
  src/main/webapp/app/entities/modeling-exercise/modeling-exercise-detail.component.html
  src/main/webapp/app/entities/modeling-exercise/modeling-exercise-detail.component.ts
  src/main/webapp/app/entities/modeling-exercise/modeling-exercise-dialog.component.html
  src/main/webapp/app/entities/modeling-exercise/modeling-exercise-dialog.component.ts
  src/main/webapp/app/entities/modeling-exercise/modeling-exercise-popup.service.ts
  src/main/webapp/app/example-modeling-submission/example-modeling-submission.component.html
  src/main/webapp/app/example-modeling-submission/example-modeling-submission.component.scss
  src/main/webapp/app/example-modeling-submission/example-modeling-submission.component.ts
  src/main/webapp/app/example-modeling-submission/example-modeling-submission.module.ts
  src/main/webapp/app/example-modeling-submission/example-modeling-submission.route.ts
  src/main/webapp/app/example-modeling-submission/index.ts
  src/main/webapp/app/example-text-submission/example-text-submission.module.ts
  src/main/webapp/app/modeling-assessment-editor/modeling-assessment.service.ts
  src/main/webapp/app/modeling-assessment/modeling-assessment.component.ts
  src/main/webapp/app/modeling-editor/modeling-editor.component.ts
Labels: feature

#268 Fix fa-icons in programming-exercise-instructions & issue with multiple subscriptions in results component
  src/main/webapp/app/entities/programming-exercise/programming-exercise-instruction.component.ts
  src/main/webapp/app/entities/programming-exercise/programming-exercise.module.ts
  src/main/webapp/app/entities/result/result.component.ts
Labels: bug, work in progress

#267 Extend tutor dashboard with modeling exercises and add example solution
  src/main/java/de/tum/in/www1/artemis/domain/ExampleSubmission.java
  src/main/java/de/tum/in/www1/artemis/repository/ExampleSubmissionRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ExampleSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/ModelingAssessmentService.java
  src/main/java/de/tum/in/www1/artemis/service/ModelingSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/TutorParticipationService.java
  src/main/java/de/tum/in/www1/artemis/service/compass/CompassCalculationEngine.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingAssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TutorParticipationResource.java
  src/main/webapp/app/app.module.ts
  src/main/webapp/app/assessment-instructions/expandable-sample-solution/expandable-sample-solution.component.html
  src/main/webapp/app/assessment-instructions/expandable-sample-solution/expandable-sample-solution.component.ts
  src/main/webapp/app/entities/modeling-exercise/modeling-exercise-dialog.component.html
  src/main/webapp/app/entities/modeling-submission/modeling-submission.service.ts
  src/main/webapp/app/example-modeling-solution/example-modeling-solution.component.html
  src/main/webapp/app/example-modeling-solution/example-modeling-solution.component.scss
  src/main/webapp/app/example-modeling-solution/example-modeling-solution.component.ts
  src/main/webapp/app/example-modeling-solution/example-modeling-solution.module.ts
  src/main/webapp/app/example-modeling-solution/example-modeling-solution.route.ts
  src/main/webapp/app/example-modeling-solution/index.ts
  src/main/webapp/app/example-modeling-submission/example-modeling-submission.component.html
  src/main/webapp/app/example-modeling-submission/example-modeling-submission.component.scss
  src/main/webapp/app/example-modeling-submission/example-modeling-submission.component.ts
  src/main/webapp/app/example-modeling-submission/example-modeling-submission.module.ts
  src/main/webapp/app/modeling-assessment-editor/modeling-assessment-editor.component.html
  src/main/webapp/app/modeling-assessment-editor/modeling-assessment-editor.component.scss
  src/main/webapp/app/modeling-assessment-editor/modeling-assessment-editor.component.ts
  src/main/webapp/app/modeling-assessment/modeling-assessment.component.ts
  src/main/webapp/app/modeling-editor/modeling-editor.component.html
  src/main/webapp/app/modeling-editor/modeling-editor.component.scss
  src/main/webapp/app/modeling-submission/modeling-submission.component.html
  src/main/webapp/app/modeling-submission/modeling-submission.component.scss
  src/main/webapp/app/tutor-exercise-dashboard/tutor-exercise-dashboard.component.html
  src/main/webapp/app/tutor-exercise-dashboard/tutor-exercise-dashboard.component.ts
  src/main/webapp/i18n/de/exampleSubmission.json
  src/main/webapp/i18n/de/exercise.json
  src/main/webapp/i18n/de/modelingExercise.json
  src/main/webapp/i18n/de/textAssessment.json
  src/main/webapp/i18n/de/tutorCourseDashboard.json
  src/main/webapp/i18n/de/tutorExerciseDashboard.json
  src/main/webapp/i18n/en/modelingExercise.json
Labels: feature

#279 Feature/improve modeling exercises in tutor dashboard
  src/main/java/de/tum/in/www1/artemis/repository/ExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ModelingSubmissionRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/SubmissionRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/TextSubmissionRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/ModelingSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/ParticipationService.java
  src/main/java/de/tum/in/www1/artemis/service/TextSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/compass/CompassCalculationEngine.java
  src/main/java/de/tum/in/www1/artemis/service/compass/CompassService.java
  src/main/java/de/tum/in/www1/artemis/service/compass/controller/AutomaticAssessmentController.java
  src/main/java/de/tum/in/www1/artemis/service/compass/controller/JSONParser.java
  src/main/java/de/tum/in/www1/artemis/service/compass/controller/ModelIndex.java
  src/main/java/de/tum/in/www1/artemis/service/compass/controller/ModelSelector.java
  src/main/java/de/tum/in/www1/artemis/service/compass/controller/SimilarityDetector.java
  src/main/java/de/tum/in/www1/artemis/service/compass/strategy/ClassContext.java
  src/main/java/de/tum/in/www1/artemis/service/compass/umlmodel/UMLDiagram.java
  src/main/java/de/tum/in/www1/artemis/service/compass/umlmodel/activitydiagram/UMLActivityDiagram.java
  src/main/java/de/tum/in/www1/artemis/service/compass/umlmodel/classdiagram/UMLClassDiagram.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingAssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ParticipationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ResultResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/errors/EntityNotFoundException.java
  src/main/webapp/app/entities/exercise/exercise.model.ts
  src/main/webapp/app/modeling-assessment/modeling-assessment.component.ts
  src/main/webapp/app/tutor-course-dashboard/tutor-course-dashboard.component.html
  src/main/webapp/app/tutor-course-dashboard/tutor-course-dashboard.component.ts
  src/main/webapp/i18n/de/assessmentInstructions.json
  src/main/webapp/i18n/de/exampleSubmission.json
  src/main/webapp/i18n/de/exercise.json
  src/main/webapp/i18n/de/textExercise.json
  src/main/webapp/i18n/de/tutorCourseDashboard.json
  src/main/webapp/i18n/en/assessmentInstructions.json
  src/main/webapp/i18n/en/exampleSubmission.json
  src/main/webapp/i18n/en/exercise.json
  src/main/webapp/i18n/en/textExercise.json
  src/main/webapp/i18n/en/tutorCourseDashboard.json
Labels: enhancement

#291 Improvements for tutor dashboard
  src/main/java/de/tum/in/www1/artemis/domain/ExampleSubmission.java
  src/main/java/de/tum/in/www1/artemis/domain/Participation.java
  src/main/java/de/tum/in/www1/artemis/repository/ParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ModelingSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/ParticipationService.java
  src/main/java/de/tum/in/www1/artemis/service/TextSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/compass/CompassService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingAssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ParticipationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextSubmissionResource.java
  src/main/webapp/app/course-list/exercise-list/exercise-list.component.html
  src/main/webapp/app/entities/modeling-exercise/modeling-exercise.model.ts
  src/main/webapp/app/entities/modeling-submission/modeling-submission.service.ts
  src/main/webapp/app/modeling-assessment-editor/modeling-assessment-dashboard.component.html
  src/main/webapp/app/modeling-assessment-editor/modeling-assessment-editor.component.html
  src/main/webapp/app/modeling-assessment-editor/modeling-assessment-editor.component.ts
  src/main/webapp/app/modeling-submission/modeling-submission.component.html
  src/main/webapp/app/modeling-submission/modeling-submission.component.ts
  src/main/webapp/app/tutor-exercise-dashboard/tutor-exercise-dashboard.component.html
  src/main/webapp/app/tutor-exercise-dashboard/tutor-exercise-dashboard.component.ts
Labels: enhancement

#303 Make text assessment components more resilient
  src/main/webapp/app/text-assessment/text-assessment.component.html
  src/main/webapp/app/text-assessment/text-assessment.component.ts
  src/main/webapp/i18n/de/textAssessment.json
  src/main/webapp/i18n/en/textAssessment.json
Labels: bug

#311 Small improvements of modeling exercises
  src/main/java/de/tum/in/www1/artemis/repository/ParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ModelingSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/ParticipationService.java
  src/main/webapp/app/example-modeling-submission/example-modeling-submission.component.html
  src/main/webapp/app/example-modeling-submission/example-modeling-submission.component.ts
  src/main/webapp/app/modeling-assessment-editor/modeling-assessment-editor.component.html
  src/main/webapp/app/modeling-submission/modeling-submission.component.ts
  src/main/webapp/i18n/de/exampleSubmission.json
  src/main/webapp/i18n/de/modelingAssessmentEditor.json
  src/main/webapp/i18n/en/exampleSubmission.json
  src/main/webapp/i18n/en/modelingAssessmentEditor.json
Labels: enhancement

#275 Code-editor bug fixing and enhancements
  src/main/java/de/tum/in/www1/artemis/service/FeedbackService.java
  src/main/java/de/tum/in/www1/artemis/service/ResultService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/BambooService.java
  src/main/java/de/tum/in/www1/artemis/web/websocket/repository/FileSubmissionError.java
  src/main/java/de/tum/in/www1/artemis/web/websocket/repository/RepositoryWebsocketService.java
  src/main/webapp/app/code-editor/ace/code-editor-ace.component.html
  src/main/webapp/app/code-editor/ace/code-editor-ace.component.ts
  src/main/webapp/app/code-editor/actions/code-editor-actions.component.html
  src/main/webapp/app/code-editor/actions/code-editor-actions.component.ts
  src/main/webapp/app/code-editor/build-output/code-editor-build-output.component.ts
  src/main/webapp/app/code-editor/code-editor.component.html
  src/main/webapp/app/code-editor/code-editor.component.ts
  src/main/webapp/app/code-editor/code-editor.module.ts
  src/main/webapp/app/code-editor/code-editor.route.ts
  src/main/webapp/app/code-editor/file-browser/code-editor-file-browser-delete.ts
  src/main/webapp/app/code-editor/file-browser/code-editor-file-browser.component.html
  src/main/webapp/app/code-editor/file-browser/code-editor-file-browser.component.ts
  src/main/webapp/app/code-editor/index.ts
  src/main/webapp/app/code-editor/instructions/code-editor-instructions.component.html
  src/main/webapp/app/code-editor/instructions/code-editor-instructions.component.ts
  src/main/webapp/app/code-editor/status/code-editor-status.component.html
  src/main/webapp/app/code-editor/status/code-editor-status.component.ts
  src/main/webapp/app/course-list/exercise-list/exercise-list.component.html
  src/main/webapp/app/course-list/exercise-list/exercise-list.component.ts
  src/main/webapp/app/dashboard/exercise-dashboard.component.html
  src/main/webapp/app/entities/ace-editor/commit-state.model.ts
  src/main/webapp/app/entities/ace-editor/editor-file-session.model.ts
  src/main/webapp/app/entities/ace-editor/editor-state.model.ts
  src/main/webapp/app/entities/ace-editor/index.ts
  src/main/webapp/app/entities/ace-editor/save-status-change.model.ts
  src/main/webapp/app/entities/exercise/exercise-utils.ts
  src/main/webapp/app/entities/exercise/index.ts
  src/main/webapp/app/entities/participation/index.ts
  src/main/webapp/app/entities/participation/participation-utils.ts
  src/main/webapp/app/entities/programming-exercise/programming-exercise-instruction.component.html
  src/main/webapp/app/entities/programming-exercise/programming-exercise-instruction.component.ts
  src/main/webapp/app/entities/result/index.ts
  src/main/webapp/app/entities/result/result-detail.component.ts
  src/main/webapp/app/entities/result/result-websocket.service.ts
  src/main/webapp/app/entities/result/result.component.ts
  src/main/webapp/app/entities/result/result.module.ts
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.html
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.ts
  src/main/webapp/app/overview/exercise-details/exercise-details-student-actions.component.html
  src/main/webapp/app/shared/index.ts
  src/main/webapp/app/shared/pipes/keys.pipe.ts
  src/main/webapp/app/shared/shared.module.ts
  src/main/webapp/app/vendor.ts
  src/main/webapp/content/scss/editor.scss
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/programmingExercise.json
Labels: bug, enhancement

#337 Fix bug where editor preview was not updated on edited problemStatement
  src/main/webapp/app/entities/exercise/exercise-utils.ts
  src/main/webapp/app/entities/programming-exercise/programming-exercise-instruction.component.ts
Labels: bug

#344 Bugfix/code editor instructions can't be scrolled
  src/main/webapp/app/code-editor/instructions/code-editor-instructions.component.html
  src/main/webapp/app/entities/programming-exercise/programming-exercise-instruction.component.html
  src/main/webapp/app/entities/programming-exercise/programming-exercise-instruction.component.ts
  src/main/webapp/content/scss/editor.scss
Labels: bug

#282 Fixing broken e2e tests
  package.json
  src/main/java/de/tum/in/www1/artemis/config/SecurityConfiguration.java
  src/main/java/de/tum/in/www1/artemis/web/rest/FileResource.java
  src/main/webapp/app/entities/course/course.component.html
  src/main/webapp/app/entities/quiz-exercise/quiz-exercise-delete-dialog.component.html
  src/main/webapp/app/entities/quiz-exercise/quiz-exercise.component.html
  src/main/webapp/app/layouts/navbar/navbar.component.html
  src/main/webapp/app/overview/exercise-details/exercise-details-student-actions.component.html
  src/main/webapp/app/quiz/participate/multiple-choice-question/multiple-choice-question.component.html
  src/main/webapp/app/text-assessment/text-assessment.component.ts
  src/test/javascript/e2e/account/account.spec.ts
  src/test/javascript/e2e/admin/administration.spec.ts
  src/test/javascript/e2e/entities/course.spec.ts
  src/test/javascript/e2e/page-objects/entities/course-page-object.ts
  src/test/javascript/e2e/page-objects/jhi-page-objects.ts
  src/test/javascript/e2e/quiz-exercise/quiz-exericse.spec.ts
  yarn.lock
Labels: help wanted, tests

#359 Bugfix: Add keepFileName param when importing existing dnd questions
  src/main/webapp/app/shared/http/file-uploader.service.ts
Labels: bug, ready for review

#347 Ensure double-blind assessments
  src/main/java/de/tum/in/www1/artemis/service/ModelingAssessmentService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingAssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingSubmissionResource.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
Labels: enhancement

#340 Setup for component/integration tests + some component tests for code-editor
  package.json
  src/main/webapp/app/code-editor/actions/code-editor-actions.component.html
  src/main/webapp/app/code-editor/status/code-editor-status.component.html
  src/main/webapp/app/entities/ace-editor/index.ts
  src/test/javascript/InlineHtmlStripStylesTransformer.js
  src/test/javascript/jest-global-mocks.ts
  src/test/javascript/jest.conf.js
  src/test/javascript/jest.config.js
  src/test/javascript/jest.ts
  src/test/javascript/spec/component/code-editor/code-editor-actions.spec.ts
  src/test/javascript/spec/component/code-editor/code-editor-status.spec.ts
  src/test/javascript/spec/helpers/spyobject.ts
  src/test/javascript/spec/test.module.ts
  tsconfig.spec.json
  yarn.lock
Labels: ready for review, tests
