Repository ls1intum/Artemis, pull requests merged in 2019-11, with the labels that each got.

#998 Fixed navigation from tutor course dashboard
  src/main/webapp/app/tutor-course-dashboard/tutor-course-dashboard.component.ts
Labels: bug, client, ready for review, release-target:patch

#1004 Bugfix/Don't insert build output as html
  src/main/webapp/app/code-editor/build-output/code-editor-build-output.component.html
  src/main/webapp/app/entities/result/result-detail.component.html
  src/test/javascript/spec/component/code-editor/code-editor-build-output.spec.ts
Labels: bug, client, component:Programming, ready for review, release-target:patch

#883 Consider element context when analyzing similarity of model elements
  .gitignore
  src/main/java/de/tum/in/www1/artemis/service/compass/CompassCalculationEngine.java
  src/main/java/de/tum/in/www1/artemis/service/compass/assessment/Assessment.java
  src/main/java/de/tum/in/www1/artemis/service/compass/assessment/SimilaritySetAssessment.java
  src/main/java/de/tum/in/www1/artemis/service/compass/controller/AssessmentIndex.java
  src/main/java/de/tum/in/www1/artemis/service/compass/controller/AutomaticAssessmentController.java
  src/main/java/de/tum/in/www1/artemis/service/compass/umlmodel/UMLElement.java
  src/main/java/de/tum/in/www1/artemis/service/compass/umlmodel/classdiagram/UMLAttribute.java
  src/main/java/de/tum/in/www1/artemis/service/compass/umlmodel/classdiagram/UMLMethod.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/VersionControlService.java
  src/test/java/de/tum/in/www1/artemis/service/compass/assessment/SimilaritySetAssessmentTest.java
  src/test/java/de/tum/in/www1/artemis/service/compass/controller/AutomaticAssessmentControllerTest.java
  src/test/java/de/tum/in/www1/artemis/service/compass/umlmodel/classdiagram/UMLAttributeTest.java
  src/test/java/de/tum/in/www1/artemis/service/compass/umlmodel/classdiagram/UMLMethodTest.java
Labels: component:Modeling, enhancement, ready for review, server

#987 Enhancement/updated c template
  src/main/resources/templates/c/exercise/Makefile.file
  src/main/resources/templates/c/exercise/git.attributes.file
  src/main/resources/templates/c/exercise/git.ignore.file
  src/main/resources/templates/c/exercise/main.c
  src/main/resources/templates/c/readme
  src/main/resources/templates/c/solution/Makefile.file
  src/main/resources/templates/c/solution/git.attributes.file
  src/main/resources/templates/c/solution/git.ignore.file
  src/main/resources/templates/c/test/behavioral/Tests.py
  src/main/resources/templates/c/test/behavioral/tests/TestInput.py
  src/main/resources/templates/c/test/structural/Tests.py
  src/main/resources/templates/c/test/structural/tests/EmptyTest.py
  src/main/resources/templates/c/test/structural/tests/TestCompile.py
  src/main/resources/templates/c/test/testUtils/AbstractTest.py
  src/main/resources/templates/c/test/testUtils/Tester.py
  src/main/resources/templates/c/test/testUtils/Utils.py
  src/main/resources/templates/c/test/testUtils/junit/TestCase.py
Labels: component:Programming, enhancement, ready for review, server

#996 Enhancement/Programming Exercise/Improve failed submission handling
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/ResultService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/BambooService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/ContinuousIntegrationService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseParticipationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingSubmissionResource.java
  src/main/webapp/app/entities/programming-exercise/actions/programming-exercise-instructor-trigger-build-button.component.ts
  src/main/webapp/app/entities/programming-exercise/actions/programming-exercise-student-trigger-build-button.component.ts
  src/main/webapp/app/entities/programming-exercise/actions/programming-exercise-trigger-build-button.component.html
  src/main/webapp/app/entities/programming-exercise/actions/programming-exercise-trigger-build-button.component.ts
  src/main/webapp/app/entities/result/updating-result.component.ts
  src/main/webapp/app/entities/submission/submission.model.ts
  src/main/webapp/app/programming-submission/programming-submission.service.ts
  src/test/java/de/tum/in/www1/artemis/ProgrammingSubmissionAndResultIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ProgrammingSubmissionIntegrationTest.java
  src/test/javascript/spec/component/programming-exercise/programming-exercise-trigger-build-button.spec.ts
Labels: client, component:Programming, ready for review, server

#1011 Improve exercise scores: performance, paging, searching, filtering
  package.json
  src/main/webapp/app/scores/exercise-scores.component.html
  src/main/webapp/app/scores/exercise-scores.component.scss
  src/main/webapp/app/scores/exercise-scores.component.ts
  src/main/webapp/app/scores/exercise-scores.module.ts
  src/main/webapp/content/css/icons.css
  src/main/webapp/content/fonts/data-table.eot
  src/main/webapp/content/fonts/data-table.svg
  src/main/webapp/content/fonts/data-table.ttf
  src/main/webapp/content/fonts/data-table.woff
  src/main/webapp/i18n/de/exercise.json
  src/main/webapp/i18n/de/instructorDashboard.json
  src/main/webapp/i18n/en/exercise.json
  src/main/webapp/i18n/en/instructorDashboard.json
  src/main/webapp/index.html
  webpack/webpack.common.js
  yarn.lock
Labels: client, component:Programming, enhancement, help wanted, tests needed, work in progress

#965 Feature/Programming Exercise/Enable manual result update + manual result handling logic fixes
  src/main/java/de/tum/in/www1/artemis/repository/ProgrammingExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ProgrammingExerciseStudentParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/StudentParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/service/FeedbackService.java
  src/main/java/de/tum/in/www1/artemis/service/ResultService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ResultResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/repository/RepositoryProgrammingExerciseParticipationResource.java
  src/main/webapp/app/entities/participation/participation-websocket.service.ts
  src/main/webapp/app/entities/result/result.service.ts
  src/main/webapp/app/programming-assessment/manual-result/programming-assessment-manual-result-button.component.ts
  src/main/webapp/app/programming-assessment/manual-result/programming-assessment-manual-result-dialog.component.ts
  src/main/webapp/app/programming-assessment/manual-result/programming-assessment-manual-result.service.ts
  src/main/webapp/app/scores/exercise-scores.component.html
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/en/global.json
  src/test/java/de/tum/in/www1/artemis/ResultServiceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/ModelFactory.java
Labels: client, component:Programming, ready for review, server

#971 Implement warning when leaving the page and auto-saving when returning
  src/main/webapp/app/text-editor/text-editor.component.ts
Labels: client, component:Text, ready for review

#896 Improve similarity set/ID assignment of model elements
  src/main/java/de/tum/in/www1/artemis/service/compass/controller/ModelIndex.java
  src/test/java/de/tum/in/www1/artemis/service/compass/controller/ModelIndexTest.java
Labels: component:Modeling, enhancement, ready for review, server

#964 Bugfix: Optimize quiz footer
  src/main/webapp/app/quiz/participate/quiz.component.html
  src/main/webapp/app/quiz/participate/quiz.component.scss
  src/main/webapp/app/quiz/participate/quiz.component.ts
  src/main/webapp/app/quiz/participate/quiz.module.ts
  src/main/webapp/i18n/de/quizExercise.json
  src/main/webapp/i18n/en/quizExercise.json
Labels: bug, client, component:Quiz, ready for review

#1021 Update #976
  src/main/webapp/app/text-editor/text-editor.component.ts
Labels: client, component:Text

#956 Feature/Programming Exercise/Activate tutor dashboards
  src/main/java/de/tum/in/www1/artemis/domain/ProgrammingExercise.java
  src/main/java/de/tum/in/www1/artemis/repository/ProgrammingExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/StudentParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/service/FileUploadSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/ModelingSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/ParticipationService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/SubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/TextSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ResultResource.java
  src/main/resources/config/liquibase/changelog/20191028100235_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/entities/programming-exercise/services/programming-exercise.service.ts
  src/main/webapp/app/programming-assessment/manual-result/programming-assessment-manual-result-button.component.ts
  src/main/webapp/app/programming-assessment/manual-result/programming-assessment-manual-result.service.ts
  src/main/webapp/app/programming-assessment/repo-export/programming-assessment-repo-export-button.component.ts
  src/main/webapp/app/programming-assessment/repo-export/programming-assessment-repo-export-dialog.component.html
  src/main/webapp/app/programming-assessment/repo-export/programming-assessment-repo-export-dialog.component.ts
  src/main/webapp/app/programming-assessment/repo-export/programming-assessment-repo-export.service.ts
  src/main/webapp/app/programming-submission/programming-submission.service.ts
  src/main/webapp/app/scores/exercise-scores.component.html
  src/main/webapp/app/shared/http/secure-link.directive.ts
  src/main/webapp/app/shared/shared.module.ts
  src/main/webapp/app/tutor-course-dashboard/tutor-course-dashboard.component.html
  src/main/webapp/app/tutor-course-dashboard/tutor-course-dashboard.component.ts
  src/main/webapp/app/tutor-course-dashboard/tutor-participation-graph/tutor-participation-graph.component.html
  src/main/webapp/app/tutor-course-dashboard/tutor-participation-graph/tutor-participation-graph.component.ts
  src/main/webapp/app/tutor-exercise-dashboard/tutor-exercise-dashboard.component.html
  src/main/webapp/app/tutor-exercise-dashboard/tutor-exercise-dashboard.component.ts
  src/main/webapp/app/tutor-exercise-dashboard/tutor-exercise-dashboard.module.ts
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/de/tutorExerciseDashboard.json
  src/main/webapp/i18n/en/programmingExercise.json
  src/main/webapp/i18n/en/tutorExerciseDashboard.json
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/javascript/spec/component/tutor-dashboard/tutor-exercise-dashboard.spec.ts
Labels: client, component:Programming, feature, ready for review, server

#1023 Feature/programming exercise/complaints
  src/main/java/de/tum/in/www1/artemis/config/Constants.java
  src/main/java/de/tum/in/www1/artemis/service/ComplaintService.java
  src/main/java/de/tum/in/www1/artemis/service/ParticipationService.java
  src/main/webapp/app/complaints/complaint-interactions.component.html
  src/main/webapp/app/complaints/complaint-interactions.component.ts
  src/main/webapp/app/complaints/complaint.constants.ts
  src/main/webapp/app/complaints/complaints.module.ts
  src/main/webapp/app/entities/programming-exercise/programming-exercise-detail.component.ts
  src/main/webapp/app/entities/programming-exercise/programming-exercise.module.ts
  src/main/webapp/app/entities/result/result.service.ts
  src/main/webapp/app/file-upload-submission/file-upload-submission.component.html
  src/main/webapp/app/file-upload-submission/file-upload-submission.component.ts
  src/main/webapp/app/modeling-submission/modeling-submission.component.html
  src/main/webapp/app/modeling-submission/modeling-submission.component.ts
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.html
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.ts
  src/main/webapp/app/overview/overview.module.ts
  src/main/webapp/app/text-editor/text-editor.component.html
  src/main/webapp/app/text-editor/text-editor.component.ts
  src/test/java/de/tum/in/www1/artemis/AssessmentComplaintIntegrationTest.java
Labels: client, component:Programming, feature, ready for review, server

#1018 Fix programming exercise result calculation for skipped tests
  src/main/java/de/tum/in/www1/artemis/service/connectors/BambooService.java
Labels: bug, component:Programming, ready for review, server

#994 Enhancement: LTI resource tests
  src/test/java/de/tum/in/www1/artemis/LtiResourceTest.java
  src/test/java/de/tum/in/www1/artemis/util/RequestUtilService.java
  src/test/javascript/spec/helpers/mock-activated-route-snapshot.ts
  src/test/javascript/spec/helpers/mock-state-storage.service.ts
  src/test/javascript/spec/mocks/mock-sync.storage.ts
  src/test/javascript/spec/service/user-route-access-service.spec.ts
Labels: client, server, tests

#1022 Multiple improvements for programming exercises
  doc/exerciseTypes/programmingExercise/PROGRAMMING_EXERCISE.md
  src/main/java/de/tum/in/www1/artemis/config/Constants.java
  src/main/java/de/tum/in/www1/artemis/domain/Commit.java
  src/main/java/de/tum/in/www1/artemis/domain/ParticipationInterface.java
  src/main/java/de/tum/in/www1/artemis/domain/ProgrammingExerciseParticipation.java
  src/main/java/de/tum/in/www1/artemis/domain/ProgrammingExerciseStudentParticipation.java
  src/main/java/de/tum/in/www1/artemis/domain/SolutionProgrammingExerciseParticipation.java
  src/main/java/de/tum/in/www1/artemis/domain/TemplateProgrammingExerciseParticipation.java
  src/main/java/de/tum/in/www1/artemis/repository/ParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ProgrammingExerciseStudentParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/SolutionProgrammingExerciseParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/TemplateProgrammingExerciseParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/service/FeedbackService.java
  src/main/java/de/tum/in/www1/artemis/service/ParticipationService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseTestCaseService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/RepositoryService.java
  src/main/java/de/tum/in/www1/artemis/service/ResultService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/BambooService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/BitbucketService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/ContinuousIntegrationService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/GitService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/VersionControlService.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/AutomaticBuildPlanCleanupService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ParticipationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ResultResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/repository/RepositoryResource.java
  src/main/webapp/app/components/util/sourceTree.service.ts
  src/main/webapp/app/entities/participation/participation.service.ts
  src/main/webapp/app/layouts/profiles/profile.service.ts
  src/main/webapp/app/scores/exercise-scores.component.ts
  src/test/java/de/tum/in/www1/artemis/ProgrammingSubmissionAndResultIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ProgrammingSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
Labels: bug, client, component:Programming, ready for review, server

#1033 Bugfix/Programming Exercise/Fix resume in course-exercise-row
  src/main/webapp/app/overview/exercise-details/exercise-details-student-actions.component.ts
Labels: client, component:Programming

#1032 Bugfix/Programming Exercise/Allow build log retrieval for template/solution participation
  src/main/java/de/tum/in/www1/artemis/domain/ProgrammingExerciseParticipation.java
  src/main/java/de/tum/in/www1/artemis/repository/ParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseParticipationService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/repository/RepositoryProgrammingExerciseParticipationResource.java
Labels: bug, component:Programming, server

#976 Allow multiple submissions in text exercises
  src/main/java/de/tum/in/www1/artemis/service/TextSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextSubmissionResource.java
  src/main/webapp/app/text-editor/text-editor.component.html
  src/main/webapp/app/text-editor/text-editor.component.ts
  src/main/webapp/app/text-editor/text-editor.module.ts
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/de/textExercise.json
  src/main/webapp/i18n/en/global.json
  src/main/webapp/i18n/en/textExercise.json
  src/test/java/de/tum/in/www1/artemis/TextSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/javascript/spec/component/text-editor/text-editor.spec.ts
  src/test/javascript/spec/mocks/mock-text-editor.service.ts
Labels: client, component:Text, feature, ready for review, server

#977 Allow multiple submissions in modeling exercises
  src/main/java/de/tum/in/www1/artemis/service/ModelingSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingSubmissionResource.java
  src/main/webapp/app/modeling-submission/modeling-submission.component.html
  src/main/webapp/app/modeling-submission/modeling-submission.component.ts
  src/main/webapp/app/modeling-submission/modeling-submission.module.ts
  src/main/webapp/i18n/de/modelingEditor.json
  src/main/webapp/i18n/en/modelingEditor.json
  src/test/java/de/tum/in/www1/artemis/ModelingAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ModelingSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/javascript/spec/app/entities/modeling-submission/modeling-submission.component.spec.ts
  src/test/javascript/spec/component/modeling-submission/modeling-submission.component.spec.ts
Labels: client, component:Modeling, ready for review, server

#1017 Allow multiple submissions in file upload exercises
  src/main/java/de/tum/in/www1/artemis/service/FileUploadSubmissionService.java
  src/main/webapp/app/file-upload-submission/file-upload-submission.component.html
  src/main/webapp/app/file-upload-submission/file-upload-submission.component.ts
  src/main/webapp/app/file-upload-submission/file-upload-submission.module.ts
  src/main/webapp/i18n/de/fileUploadExercise.json
  src/main/webapp/i18n/en/fileUploadExercise.json
  src/test/java/de/tum/in/www1/artemis/FileUploadAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/FileUploadExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/FileUploadSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/javascript/spec/component/file-upload-submission/file-upload-submission.spec.ts
Labels: client, component:FileUpload, ready for review, server

#1046 Link student's name on exercise scores page to submissions
  src/main/webapp/app/scores/exercise-scores.component.html
Labels: client, enhancement, ready for review

#1049 Bugfix/small bugfixes
  src/main/webapp/app/assessment-shared/assessment-detail/assessment-detail.component.ts
  src/main/webapp/app/components/category-selector/category-selector.component.ts
  src/main/webapp/app/components/category-selector/category-selector.scss
Labels: client

#1048 Fixed: The default course color was not shown in the Course Administration page
  src/main/webapp/app/entities/course/course.component.html
  src/main/webapp/app/entities/course/course.component.ts
Labels: bug, client, ready for review

#1031 Enhancement/Programming Exercise/Enable Trigger All Button when build was triggered
  src/main/java/de/tum/in/www1/artemis/config/Constants.java
  src/main/java/de/tum/in/www1/artemis/domain/BuildRunState.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingSubmissionService.java
  src/main/webapp/app/entities/programming-exercise/actions/programming-exercise-trigger-all-button.component.ts
  src/main/webapp/app/entities/programming-exercise/actions/programmming-exercise-instructor-submission-state.component.ts
  src/main/webapp/app/programming-submission/programming-build-run.service.ts
  src/main/webapp/app/programming-submission/programming-submission.module.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-instructor-submission-state.spec.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-manage-test-cases.spec.ts
  src/test/javascript/spec/mocks/mock-programming-build-run.service.ts
Labels: client, component:Programming, enhancement, server

#1060 Reset feedback items on next submission for file uploads
  src/main/webapp/app/file-upload-assessment/file-upload-assessment.component.ts
Labels: bug, client, component:FileUpload, ready for review

#885 Feature/orion/show test output
  src/main/webapp/app/code-editor/service/code-editor-repository.service.ts
  src/main/webapp/app/entities/participation/participation-websocket.service.ts
  src/main/webapp/app/intellij/ide-build-and-test.service.ts
  src/main/webapp/app/intellij/intellij-button/intellij-button.component.html
  src/main/webapp/app/intellij/intellij-button/intellij-button.component.ts
  src/main/webapp/app/intellij/intellij.module.ts
  src/main/webapp/app/intellij/intellij.ts
  src/main/webapp/app/intellij/java-bridge.service.ts
  src/main/webapp/app/overview/course-exercises/course-exercise-row.component.html
  src/main/webapp/app/overview/course-exercises/course-exercises.component.ts
  src/main/webapp/app/overview/course-overview.component.html
  src/main/webapp/app/overview/course-overview.component.ts
  src/main/webapp/app/overview/exercise-details/programming-exercise-student-ide-actions.component.html
  src/main/webapp/app/overview/exercise-details/programming-exercise-student-ide-actions.component.ts
  src/main/webapp/app/programming-assessment/build-logs/build-log.service.ts
  src/main/webapp/app/programming-assessment/programming-assessment.module.ts
  src/main/webapp/content/scss/global.scss
  src/test/javascript/spec/component/overview/exercise-details/programming-exercise-student-ide-actions.spec.ts
  src/test/javascript/spec/mocks/mock-code-editor-build-log.service.ts
  src/test/javascript/spec/mocks/mock-ide-build-and-test.service.ts
  src/test/javascript/spec/mocks/mock-java-bridge.service.ts
  src/test/javascript/spec/service/ide-build-and-test-service.spec.ts
Labels: client, component:Orion, feature, ready for review

#888 Feature Guided Tour: Modeling exercise tour
  src/main/webapp/app/guided-tour/guided-tour-step.model.ts
  src/main/webapp/app/guided-tour/guided-tour-task.model.ts
  src/main/webapp/app/guided-tour/guided-tour.component.html
  src/main/webapp/app/guided-tour/guided-tour.component.scss
  src/main/webapp/app/guided-tour/guided-tour.component.ts
  src/main/webapp/app/guided-tour/guided-tour.constants.ts
  src/main/webapp/app/guided-tour/guided-tour.model.ts
  src/main/webapp/app/guided-tour/guided-tour.service.ts
  src/main/webapp/app/guided-tour/guided-tour.utils.ts
  src/main/webapp/app/guided-tour/tours/code-editor-tour.ts
  src/main/webapp/app/guided-tour/tours/course-exercise-detail-tour.ts
  src/main/webapp/app/guided-tour/tours/course-overview-tour.ts
  src/main/webapp/app/guided-tour/tours/modeling-tour.ts
  src/main/webapp/app/modeling-editor/modeling-editor.component.ts
  src/main/webapp/app/modeling-submission/modeling-submission.component.html
  src/main/webapp/app/modeling-submission/modeling-submission.component.ts
  src/main/webapp/app/shared/icons/icons.module.ts
  src/main/webapp/content/images/guided-tour-images/apollon-add-association.gif
  src/main/webapp/content/images/guided-tour-images/apollon-add-edit-element.gif
  src/main/webapp/i18n/de/guidedTour.json
  src/main/webapp/i18n/de/guidedTourModelingEditor.json
  src/main/webapp/i18n/en/guidedTour.json
  src/main/webapp/i18n/en/guidedTourModelingEditor.json
  src/main/webapp/i18n/en/modelingEditor.json
  src/test/javascript/spec/app/entities/modeling-submission/modeling-submission.component.spec.ts
  src/test/javascript/spec/component/modeling-submission/modeling-submission.component.spec.ts
  src/test/javascript/spec/service/guided-tour.service.spec.ts
Labels: client, component:GuidedTour, feature, ready for review

#979 Added markdown for the lectures' description
  src/main/webapp/app/entities/lecture/lecture-attachments.component.html
  src/main/webapp/app/entities/lecture/lecture-detail.component.html
  src/main/webapp/app/entities/lecture/lecture-detail.component.ts
  src/main/webapp/app/entities/lecture/lecture-update.component.html
  src/main/webapp/app/entities/lecture/lecture-update.component.scss
  src/main/webapp/app/entities/lecture/lecture-update.component.ts
  src/main/webapp/app/entities/lecture/lecture.component.html
  src/main/webapp/app/entities/lecture/lecture.module.ts
  src/main/webapp/app/overview/course-lectures/course-lecture-details.component.html
Labels: client, feature, ready for review

#1045 Feature/Programming Exercise/Allow build for inactivate participations
  src/main/webapp/app/entities/programming-exercise/actions/programming-exercise-trigger-build-button.component.html
  src/main/webapp/app/entities/programming-exercise/actions/programming-exercise-trigger-build-button.component.ts
Labels: client, component:Programming, feature

#1065 Bugfix: Tutor Participation Graph
  src/main/webapp/app/tutor-course-dashboard/tutor-course-dashboard.component.html
  src/main/webapp/app/tutor-course-dashboard/tutor-participation-graph/tutor-participation-graph.component.html
  src/main/webapp/app/tutor-course-dashboard/tutor-participation-graph/tutor-participation-graph.component.scss
  src/main/webapp/app/tutor-course-dashboard/tutor-participation-graph/tutor-participation-graph.component.ts
  src/main/webapp/app/tutor-exercise-dashboard/tutor-exercise-dashboard.component.html
  src/test/javascript/spec/component/tutor-dashboard/tutor-participation-graph.component.spec.ts
Labels: bug, client

#1069 Add basic health check for Bamboo and Bitbucket
  src/main/java/de/tum/in/www1/artemis/service/connectors/BambooService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/BitbucketService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/ConnectorHealth.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/ContinuousIntegrationServerHealthIndicator.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/ContinuousIntegrationService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/VersionControlServerHealthIndicator.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/VersionControlService.java
  src/main/webapp/app/admin/health/health.component.html
  src/main/webapp/i18n/de/health.json
  src/main/webapp/i18n/en/health.json
Labels: client, component:Shared, feature, ready for review, server

#1044 Feature/Programming Exercise/Trigger buttons should detect manual results and passed due dates
  src/main/java/de/tum/in/www1/artemis/repository/StudentParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ParticipationService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ParticipationResource.java
  src/main/webapp/app/entities/participation/participation.component.html
  src/main/webapp/app/entities/participation/participation.component.ts
  src/main/webapp/app/entities/participation/participation.service.ts
  src/main/webapp/app/entities/programming-exercise/actions/programming-exercise-actions.module.ts
  src/main/webapp/app/entities/programming-exercise/actions/programming-exercise-instructor-submission-state.component.html
  src/main/webapp/app/entities/programming-exercise/actions/programming-exercise-instructor-submission-state.component.ts
  src/main/webapp/app/entities/programming-exercise/actions/programming-exercise-instructor-trigger-build-button.component.ts
  src/main/webapp/app/entities/programming-exercise/actions/programming-exercise-student-trigger-build-button.component.ts
  src/main/webapp/app/entities/programming-exercise/actions/programming-exercise-trigger-all-button.component.ts
  src/main/webapp/app/entities/programming-exercise/actions/programming-exercise-trigger-build-button.component.ts
  src/main/webapp/app/entities/programming-exercise/test-cases/programming-exercise-manage-test-cases-actions.component.ts
  src/main/webapp/app/entities/programming-exercise/test-cases/programming-exercise-manage-test-cases.component.html
  src/main/webapp/app/entities/programming-exercise/test-cases/programming-exercise-manage-test-cases.component.ts
  src/main/webapp/app/entities/programming-exercise/utils/programming-exercise.utils.ts
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/programmingExercise.json
  src/test/javascript/spec/component/programming-exercise/programming-exercise-instructor-submission-state.spec.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-manage-test-cases.spec.ts
Labels: client, component:Programming, feature, ready for review, server

#1076 artemis-server-cli script
  artemis-server-cli
Labels: chore, ready for review

#959 Enhancement/programming exercise/import remove test trigger
  src/main/java/de/tum/in/www1/artemis/repository/ProgrammingExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/BambooService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/BambooUpdateService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/CIPermission.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/ContinuousIntegrationService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/ContinuousIntegrationUpdateService.java
  src/main/webapp/app/entities/programming-exercise/programming-exercise.component.html
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
Labels: client, enhancement, ready for review, server

#1073 Programming Exercise/Decrease number of REST calls on course-exercises for pending submissions + optimize logic for trigger-failed
  src/main/java/de/tum/in/www1/artemis/domain/Exercise.java
  src/main/java/de/tum/in/www1/artemis/domain/ProgrammingExercise.java
  src/main/java/de/tum/in/www1/artemis/repository/ProgrammingSubmissionRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseParticipationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingSubmissionResource.java
  src/main/webapp/app/code-editor/service/code-editor-submission.service.ts
  src/main/webapp/app/entities/programming-exercise/actions/programming-exercise-instructor-trigger-build-button.component.ts
  src/main/webapp/app/entities/programming-exercise/actions/programming-exercise-student-trigger-build-button.component.ts
  src/main/webapp/app/entities/programming-exercise/actions/programming-exercise-trigger-build-button.component.ts
  src/main/webapp/app/entities/result/updating-result.component.ts
  src/main/webapp/app/entities/submission/submission.model.ts
  src/main/webapp/app/overview/course-exercises/course-exercise-row.component.html
  src/main/webapp/app/overview/course-exercises/course-exercises.component.ts
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.html
  src/main/webapp/app/programming-submission/programming-submission.service.ts
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/programmingExercise.json
Labels: client, component:Programming, server, work in progress

#1067 Enhancement Guided Tour: Completed tour step
  src/main/webapp/app/app.module.ts
  src/main/webapp/app/guided-tour/guided-tour.component.html
  src/main/webapp/app/guided-tour/guided-tour.component.scss
  src/main/webapp/app/guided-tour/guided-tour.component.ts
  src/main/webapp/app/guided-tour/guided-tour.module.ts
  src/main/webapp/app/guided-tour/guided-tour.service.ts
  src/main/webapp/app/guided-tour/tours/course-overview-tour.ts
  src/main/webapp/app/guided-tour/tours/general-tour.ts
  src/main/webapp/app/guided-tour/tours/modeling-tour.ts
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/de/guidedTour.json
  src/main/webapp/i18n/de/guidedTourCourseOverview.json
  src/main/webapp/i18n/de/guidedTourModelingEditor.json
  src/main/webapp/i18n/en/global.json
  src/main/webapp/i18n/en/guidedTour.json
  src/main/webapp/i18n/en/guidedTourCourseOverview.json
  src/main/webapp/i18n/en/guidedTourModelingEditor.json
  src/test/javascript/spec/component/guided-tour/guided-tour.component.spec.ts
  src/test/javascript/spec/service/guided-tour.service.spec.ts
Labels: client, component:GuidedTour, enhancement, ready for review

#1082 Improved exercise scores loading behavior and table display
  src/main/webapp/app/scores/exercise-scores.component.html
  src/main/webapp/app/scores/exercise-scores.component.scss
  src/main/webapp/app/scores/exercise-scores.component.ts
Labels: client, enhancement, ready for review

#1083 Bugfix: Deletion of example submissions for modeling exercises
  src/main/java/de/tum/in/www1/artemis/domain/Submission.java
  src/main/java/de/tum/in/www1/artemis/service/ExampleSubmissionService.java
  src/test/java/de/tum/in/www1/artemis/ExampleSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ParticipationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
Labels: bug, ready for review, server, tests

#1074 Check if student on complaint is not null
  src/main/java/de/tum/in/www1/artemis/web/rest/ComplaintResponseResource.java
Labels: bug, ready for review, server

#1092 Bugfix: Minor fixes for category selector and color selector
  src/main/webapp/app/components/category-selector/category-selector.component.ts
  src/main/webapp/app/components/category-selector/category-selector.scss
  src/main/webapp/app/components/color-selector/color-selector.component.ts
Labels: bug, client

#1085 assessment due date and no misleading alert message for file upload exercises
  src/main/webapp/app/entities/exercise/exercise.model.ts
  src/main/webapp/app/entities/exercise/exercise.service.ts
  src/main/webapp/app/entities/file-upload-exercise/file-upload-exercise-update.component.html
  src/main/webapp/app/entities/file-upload-exercise/file-upload-exercise-update.component.ts
  src/main/webapp/app/entities/modeling-exercise/modeling-exercise-update.component.html
  src/main/webapp/app/entities/modeling-exercise/modeling-exercise-update.component.ts
  src/main/webapp/app/entities/modeling-exercise/modeling-exercise-update.scss
  src/main/webapp/app/entities/text-exercise/text-exercise-update.component.html
  src/main/webapp/app/entities/text-exercise/text-exercise-update.component.ts
  src/main/webapp/app/file-upload-assessment/file-upload-assessment.component.ts
  src/main/webapp/content/scss/global.scss
  src/main/webapp/i18n/de/fileUploadAssessment.json
  src/main/webapp/i18n/en/fileUploadAssessment.json
Labels: client, component:FileUpload, ready for review

#967 Feature Guided Tour: add configuration in application.yml
  src/main/resources/config/application-dev.yml
  src/main/resources/config/application-prod.yml
  src/main/webapp/app/guided-tour/guided-tour-setting.model.ts
  src/main/webapp/app/guided-tour/guided-tour.component.html
  src/main/webapp/app/guided-tour/guided-tour.component.scss
  src/main/webapp/app/guided-tour/guided-tour.model.ts
  src/main/webapp/app/guided-tour/guided-tour.module.ts
  src/main/webapp/app/guided-tour/guided-tour.service.ts
  src/main/webapp/app/guided-tour/guided-tour.utils.ts
  src/main/webapp/app/guided-tour/tours/code-editor-tour.ts
  src/main/webapp/app/guided-tour/tours/course-exercise-detail-tour.ts
  src/main/webapp/app/guided-tour/tours/course-exercise-overview-tour.ts
  src/main/webapp/app/guided-tour/tours/course-overview-tour.ts
  src/main/webapp/app/guided-tour/tours/general-tour.ts
  src/main/webapp/app/guided-tour/tours/modeling-tour.ts
  src/main/webapp/app/layouts/profiles/profile-info.model.ts
  src/main/webapp/app/layouts/profiles/profile.service.ts
  src/main/webapp/app/overview/course-exercises/course-exercises.component.html
  src/main/webapp/app/overview/course-exercises/course-exercises.component.ts
  src/main/webapp/app/overview/overview.component.html
  src/main/webapp/app/overview/overview.component.ts
  src/test/javascript/spec/integration/code-editor/code-editor-student.spec.ts
  src/test/javascript/spec/service/guided-tour.service.spec.ts
Labels: client, component:GuidedTour, feature, ready for review

#1096 Feature/k6 api tests/websocket stresstest
  src/test/k6/ProgrammingExerciseAPIs.js
  src/test/k6/Websocket.js
  src/test/k6/requests/endpoints.js
  src/test/k6/requests/programmingExercise.js
  src/test/k6/requests/quiz.js
  src/test/k6/util/utils.js
Labels: component:Shared, feature, tests

#1102 Fix text overflow of instructions in code editor sidebar
  src/main/webapp/app/code-editor/layout/code-editor-grid.scss
  src/main/webapp/app/entities/programming-exercise/instructions/instructions-editor/programming-exercise-editable-instruction.scss
  src/main/webapp/app/markdown-editor/markdown-editor.component.scss
Labels: bug, client, component:Programming, ready for review

#901 Add TextSegmentationService. Integrate into TextClusteringService
  src/main/java/de/tum/in/www1/artemis/domain/TextSubmission.java
  src/main/java/de/tum/in/www1/artemis/service/TextClusteringService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/TextSegmentationService.java
  src/main/resources/config/application-artemis.yml
  src/test/java/de/tum/in/www1/artemis/service/connectors/TextSegmentationServiceTest.java
Labels: component:Text, ready for review, server

#1104 Fix collapsed appearance of instructions panel for text assessment editor
  src/main/webapp/app/text-assessment/text-assessment.component.scss
  src/main/webapp/app/text-assessment/text-assessment.component.ts
Labels: bug, client, ready for review

#1106 Bugfix/guided tour/overlay
  src/main/webapp/app/guided-tour/guided-tour.component.html
  src/main/webapp/app/guided-tour/guided-tour.component.ts
  src/main/webapp/app/guided-tour/guided-tour.service.ts
  src/main/webapp/app/guided-tour/tours/course-exercise-detail-tour.ts
  src/test/javascript/spec/component/guided-tour/guided-tour.component.spec.ts
Labels: bug, client, component:GuidedTour

#1068 Enhance File Upload Assessment Dashboard
  src/main/java/de/tum/in/www1/artemis/service/FileUploadSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/ModelingSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/SubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/TextSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/FileUploadSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextSubmissionResource.java
  src/main/webapp/app/entities/participation/participation.model.ts
  src/main/webapp/app/entities/participation/participation.route.ts
  src/main/webapp/app/file-upload-assessment/file-upload-assessment-dashboard/file-upload-assessment-dashboard.component.html
  src/main/webapp/app/file-upload-assessment/file-upload-assessment-dashboard/file-upload-assessment-dashboard.component.ts
  src/main/webapp/i18n/de/assessment.json
  src/main/webapp/i18n/en/assessment.json
  src/test/java/de/tum/in/www1/artemis/FileUploadSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/TextSubmissionIntegrationTest.java
Labels: bug, client, component:FileUpload, enhancement, ready for review, server
