Repository ls1intum/Artemis, pull requests merged in 2019-07, with the labels that each got.

#615 Fix docker setup / use nodejs current to avoid yarn install issue
  docker/app/Dockerfile
Labels: ready for review

#616 Update contributing guide with info about css
  doc/contribute/CONTRIBUTE.md
Labels: ready for review

#620 Formatting of Java test files
  package.json
Labels: enhancement

#612 Bugfix/fix dnd quiz statistics
  src/main/webapp/app/quiz-statistics/drag-and-drop-question-statistic/drag-and-drop-question-statistic.component.html
  src/main/webapp/app/quiz-statistics/drag-and-drop-question-statistic/drag-and-drop-question-statistic.component.ts
  src/main/webapp/app/quiz-statistics/multiple-choice-question-statistic/multiple-choice-question-statistic.component.html
  src/main/webapp/app/quiz-statistics/multiple-choice-question-statistic/multiple-choice-question-statistic.component.ts
  src/main/webapp/app/quiz-statistics/quiz-point-statistic/quiz-point-statistic.component.html
  src/main/webapp/app/quiz-statistics/quiz-point-statistic/quiz-point-statistic.component.ts
  src/main/webapp/app/quiz-statistics/quiz-statistic.module.ts
  src/main/webapp/app/quiz-statistics/quiz-statistic/quiz-statistic.component.html
  src/main/webapp/app/quiz-statistics/quiz-statistic/quiz-statistic.component.ts
  src/main/webapp/app/quiz-statistics/quiz-statistics-footer/quiz-statistics-footer.component.html
  src/main/webapp/app/quiz-statistics/quiz-statistics-footer/quiz-statistics-footer.component.ts
  src/main/webapp/app/quiz-statistics/short-answer-question-statistic/short-answer-question-statistic.component.html
  src/main/webapp/app/quiz-statistics/short-answer-question-statistic/short-answer-question-statistic.component.ts
  src/main/webapp/app/quiz/participate/quiz.module.ts
  src/main/webapp/app/shared/index.ts
  src/main/webapp/app/shared/pipes/truncate.pipe.ts
  src/main/webapp/app/shared/shared.module.ts
  src/main/webapp/content/scss/quiz.scss
  src/main/webapp/i18n/de/showStatistic.json
  src/main/webapp/i18n/en/showStatistic.json
Labels: bug

#624 Fix defective modeling submission test
  src/test/java/de/tum/in/www1/artemis/ModelingSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/RequestUtilService.java
Labels: tests

#546 Next assessment text exercise
  src/main/webapp/app/text-assessment/text-assessment.component.html
  src/main/webapp/app/text-assessment/text-assessment.component.ts
  src/main/webapp/i18n/de/tutorExerciseDashboard.json
  src/main/webapp/i18n/en/tutorExerciseDashboard.json
  src/test/javascript/spec/component/text-exercise-assessment/text-exercise-assessment.spec.ts
Labels: enhancement, good first issue

#629 Tests/Add linting rule for jest test files
  package.json
Labels: ready for review, tests

#621 Schedule Event-lifecycle Tasks
  src/main/java/de/tum/in/www1/artemis/config/TaskSchedulingConfiguration.java
  src/main/java/de/tum/in/www1/artemis/domain/enumeration/ExerciseLifecycle.java
  src/main/java/de/tum/in/www1/artemis/service/ExerciseLifecycleService.java
  src/test/java/de/tum/in/www1/artemis/service/ExerciseLifecycleServiceTest.java
Labels: java, ready for review

#632 Fix failing git service tests on Windows
  src/test/java/de/tum/in/www1/artemis/util/GitUtilService.java
Labels: tests

#634 Add example modeling submission tests
  src/main/java/de/tum/in/www1/artemis/service/ModelingSubmissionService.java
  src/test/java/de/tum/in/www1/artemis/AssessmentComplaintIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ExampleSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ModelingAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ModelingSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ParticipationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/java/de/tum/in/www1/artemis/util/ModelFactory.java
Labels: tests

#633 Bugfix/programming exercise/add fallback for test case retrieval
  src/main/webapp/app/entities/programming-exercise/instructions/programming-exercise-editable-instruction.component.ts
  src/main/webapp/app/entities/programming-exercise/instructions/programming-exercise-instruction.component.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-editable-instruction.spec.ts
Labels: bug, ready for review

#635 Duplicate modeling and text submission creation
  src/main/java/de/tum/in/www1/artemis/repository/ParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/SubmissionRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ModelingSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/ParticipationService.java
  src/main/java/de/tum/in/www1/artemis/service/TextSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextAssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextExerciseResource.java
  src/test/java/de/tum/in/www1/artemis/ModelingSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ParticipationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
Labels: ready for review

#638 Bugfix/ fix doubled preview for programming exercises problem statement editor
  src/main/webapp/app/entities/programming-exercise/instructions/programming-exercise-editable-instruction.component.html
Labels: bug, ready for review

#644 Readme: Update css contributing section
  doc/contribute/CONTRIBUTE.md
Labels: documentation, ready for review

#555 Detect Text Submission Language and display it to tutors
  package.json
  src/main/java/de/tum/in/www1/artemis/domain/Submission.java
  src/main/java/de/tum/in/www1/artemis/domain/TextSubmission.java
  src/main/java/de/tum/in/www1/artemis/service/TextSubmissionService.java
  src/main/resources/config/liquibase/changelog/20190514170000_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/entities/submission/submission.model.ts
  src/main/webapp/app/text-assessment/text-assessment-dashboard/text-assessment-dashboard.component.html
  src/main/webapp/app/text-editor/franc.ts
  src/main/webapp/app/text-editor/text-editor.component.ts
  src/main/webapp/app/text-editor/text-editor.service.ts
  src/main/webapp/app/tutor-exercise-dashboard/tutor-exercise-dashboard.component.html
  src/main/webapp/app/tutor-exercise-dashboard/tutor-exercise-dashboard.component.ts
  src/main/webapp/i18n/de/tutorExerciseDashboard.json
  src/main/webapp/i18n/en/tutorExerciseDashboard.json
  src/test/java/de/tum/in/www1/artemis/TextExerciseTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/java/de/tum/in/www1/artemis/util/ModelFactory.java
  src/test/javascript/spec/service/text-editor-service.spec.ts
  yarn.lock
Labels: feature, ready for review

#628 Tests/Fix or remove faulty tests for next assessment
  src/main/webapp/app/text-assessment/text-assessment.component.html
  src/main/webapp/app/text-assessment/text-assessment.component.ts
  src/test/javascript/spec/component/text-exercise-assessment/text-exercise-assessement.spec.ts
  src/test/javascript/spec/component/text-exercise-assessment/text-exercise-assessment.spec.ts
  src/test/javascript/spec/mocks/mock-account.service.ts
Labels: ready for review, tests

#643 Result: Also assign null result if component is reused
  src/main/webapp/app/entities/result/updating-result.component.ts
Labels: bug, ready for review

#653 Automatic submission service authentication error
  src/main/java/de/tum/in/www1/artemis/service/scheduled/AutomaticSubmissionService.java
  src/test/java/de/tum/in/www1/artemis/AutomaticSubmissionServiceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
Labels: bug, java, ready for review, tests

#627 Feature/Programming-Exercises/Manage Test Cases
  package.json
  src/main/java/de/tum/in/www1/artemis/repository/ProgrammingExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseTestCaseService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseTestCaseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/WeightUpdate.java
  src/main/webapp/app/entities/programming-exercise/index.ts
  src/main/webapp/app/entities/programming-exercise/programming-exercise.component.html
  src/main/webapp/app/entities/programming-exercise/programming-exercise.module.ts
  src/main/webapp/app/entities/programming-exercise/programming-exercise.route.ts
  src/main/webapp/app/entities/programming-exercise/services/programming-exercise-test-case.service.ts
  src/main/webapp/app/entities/programming-exercise/test-cases/index.ts
  src/main/webapp/app/entities/programming-exercise/test-cases/programming-exercise-manage-test-cases.component.html
  src/main/webapp/app/entities/programming-exercise/test-cases/programming-exercise-manage-test-cases.component.ts
  src/main/webapp/app/entities/programming-exercise/test-cases/programming-exercise-manage-test-cases.scss
  src/main/webapp/content/scss/global.scss
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/programmingExercise.json
  src/test/java/de/tum/in/www1/artemis/ProgrammingExerciseTestCaseServiceTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/javascript/spec/component/programming-exercise/programming-exercise-manage-test-cases.spec.ts
  src/test/javascript/spec/mocks/mock-programming-exercise-test-case.service.ts
  src/test/javascript/spec/service/programming-exercise-test-case-service.spec.ts
  yarn.lock
Labels: feature, ready for review

#622 Feature/markdown editor/katex support
  package.json
  src/main/webapp/app/assessment-instructions/assessment-instructions.component.html
  src/main/webapp/app/assessment-instructions/assessment-instructions.component.ts
  src/main/webapp/app/assessment-instructions/expandable-paragraph/expandable-paragraph.component.ts
  src/main/webapp/app/assessment-instructions/expandable-sample-solution/expandable-sample-solution.component.ts
  src/main/webapp/app/components/util/markdown.service.ts
  src/main/webapp/app/components/util/short-answer-question-util.service.ts
  src/main/webapp/app/entities/modeling-exercise/modeling-exercise-detail.component.ts
  src/main/webapp/app/entities/modeling-exercise/modeling-exercise-dialog.component.html
  src/main/webapp/app/entities/modeling-exercise/modeling-exercise-dialog.component.ts
  src/main/webapp/app/entities/text-exercise/text-exercise-detail.component.ts
  src/main/webapp/app/entities/text-exercise/text-exercise-dialog.component.html
  src/main/webapp/app/entities/text-exercise/text-exercise-dialog.component.ts
  src/main/webapp/app/entities/text-exercise/text-exercise.component.html
  src/main/webapp/app/entities/text-exercise/text-exercise.component.ts
  src/main/webapp/app/example-modeling-solution/example-modeling-solution.component.ts
  src/main/webapp/app/example-text-submission/example-text-submission.component.ts
  src/main/webapp/app/index.d.ts
  src/main/webapp/app/markdown-editor/commands/index.ts
  src/main/webapp/app/markdown-editor/commands/katex.command.ts
  src/main/webapp/app/markdown-editor/markdown-editor.component.ts
  src/main/webapp/app/modeling-submission/modeling-submission.component.html
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.html
  src/main/webapp/app/quiz-statistics/drag-and-drop-question-statistic/drag-and-drop-question-statistic.component.ts
  src/main/webapp/app/quiz-statistics/multiple-choice-question-statistic/multiple-choice-question-statistic.component.ts
  src/main/webapp/app/quiz-statistics/short-answer-question-statistic/short-answer-question-statistic.component.ts
  src/main/webapp/app/quiz/participate/drag-and-drop-question/drag-and-drop-question.component.ts
  src/main/webapp/app/quiz/participate/multiple-choice-question/multiple-choice-question.component.ts
  src/main/webapp/app/quiz/participate/short-answer-question/short-answer-question.component.ts
  src/main/webapp/app/shared/pipes/html-for-markdown.pipe.ts
  src/main/webapp/app/shared/pipes/sanitize-html.pipe.ts
  src/main/webapp/app/shared/shared.module.ts
  src/main/webapp/app/text-assessment/text-assessment.component.ts
  src/main/webapp/app/text-editor/text-editor.component.html
  src/main/webapp/app/tutor-exercise-dashboard/tutor-exercise-dashboard.component.html
  src/main/webapp/app/tutor-exercise-dashboard/tutor-exercise-dashboard.component.ts
  src/main/webapp/app/vendor.ts
  src/main/webapp/content/scss/global.scss
  src/main/webapp/i18n/de/markdownEditor.json
  src/main/webapp/i18n/en/markdownEditor.json
  src/test/javascript/spec/component/markdown-editor/katex-command.spec.ts
  yarn.lock
Labels: feature, ready for review

#655 Increase memory limit for node to avoid build crashes
  .travis.yml
Labels: ready for review

#652 Fix "TypeError: Cannot read property 'style' of null"
  src/main/webapp/app/quiz-statistics/drag-and-drop-question-statistic/drag-and-drop-question-statistic.component.html
  src/main/webapp/app/quiz-statistics/drag-and-drop-question-statistic/drag-and-drop-question-statistic.component.ts
  src/main/webapp/app/quiz/edit/drag-and-drop-question/edit-drag-and-drop-question.component.html
  src/main/webapp/app/quiz/edit/drag-and-drop-question/edit-drag-and-drop-question.component.ts
  src/main/webapp/app/quiz/participate/drag-and-drop-question/drag-and-drop-question.component.ts
  src/main/webapp/app/utils/drag-and-drop.utils.ts
Labels: bug

#648 Programming-Exercise: Don't query test cases for student
  .travis.yml
  src/main/webapp/app/entities/programming-exercise/instructions/programming-exercise-editable-instruction.component.html
  src/main/webapp/app/entities/programming-exercise/instructions/programming-exercise-editable-instruction.component.ts
  src/main/webapp/app/entities/programming-exercise/instructions/programming-exercise-instruction.component.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-editable-instruction.spec.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-instruction.spec.ts
Labels: bug, ready for review

#659 Solving the travis build issues for our js bundle (heap out of memory)
  .travis.yml
  package.json
  src/main/webapp/app/entities/programming-exercise/test-cases/programming-exercise-manage-test-cases.component.html
  src/main/webapp/app/entities/programming-exercise/test-cases/programming-exercise-manage-test-cases.scss
  webpack/webpack.prod.js
  yarn.lock
Labels: ready for review

#654 Add autoincrement property to migration file (programming exercise test cases)
  src/main/resources/config/liquibase/changelog/20190603142500_changelog.xml
Labels: bug, ready for review

#662 Bugfix/programming exercise/fix bad request errors on create
  src/main/webapp/app/entities/programming-exercise/instructions/programming-exercise-editable-instruction.component.html
  src/main/webapp/app/entities/programming-exercise/instructions/programming-exercise-editable-instruction.component.ts
  src/main/webapp/app/entities/programming-exercise/programming-exercise-dialog.component.html
  src/main/webapp/app/entities/programming-exercise/programming-exercise-update.component.html
  src/test/javascript/spec/component/programming-exercise/programming-exercise-editable-instruction.spec.ts
Labels: bug, ready for review

#641 Improve performance of semi-automatic modeling assessments
  src/main/java/de/tum/in/www1/artemis/repository/ModelingSubmissionRepository.java
  src/main/java/de/tum/in/www1/artemis/service/AuthorizationCheckService.java
  src/main/java/de/tum/in/www1/artemis/service/ModelingSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/compass/CalculationEngine.java
  src/main/java/de/tum/in/www1/artemis/service/compass/CompassCalculationEngine.java
  src/main/java/de/tum/in/www1/artemis/service/compass/CompassService.java
  src/main/java/de/tum/in/www1/artemis/service/compass/controller/ModelSelector.java
  src/main/java/de/tum/in/www1/artemis/service/compass/utils/CompassConfiguration.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingAssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingSubmissionResource.java
  src/test/java/de/tum/in/www1/artemis/AssessmentComplaintIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ModelingAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ModelingSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
Labels: enhancement, java, ready for review

#613 Code-Editor/Conflict resolution
  src/main/java/de/tum/in/www1/artemis/domain/ProgrammingExercise.java
  src/main/java/de/tum/in/www1/artemis/service/ExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/RepositoryService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/BambooService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/GitService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/RepositoryStatusDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/RepositoryStatusDTOType.java
  src/main/java/de/tum/in/www1/artemis/web/rest/repository/RepositoryParticipationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/repository/RepositoryResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/repository/TestRepositoryResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/repository/util/RepositoryExecutor.java
  src/main/java/de/tum/in/www1/artemis/web/websocket/repository/RepositoryWebsocketResource.java
  src/main/webapp/app/code-editor/actions/code-editor-actions.component.html
  src/main/webapp/app/code-editor/actions/code-editor-actions.component.ts
  src/main/webapp/app/code-editor/actions/code-editor-resolve-conflict-modal.component.html
  src/main/webapp/app/code-editor/actions/code-editor-resolve-conflict-modal.component.ts
  src/main/webapp/app/code-editor/actions/code-editor-resolve-conflict-modal.scss
  src/main/webapp/app/code-editor/actions/index.ts
  src/main/webapp/app/code-editor/code-editor.module.ts
  src/main/webapp/app/code-editor/file-browser/code-editor-file-browser-file.component.html
  src/main/webapp/app/code-editor/file-browser/code-editor-file-browser-file.component.ts
  src/main/webapp/app/code-editor/file-browser/code-editor-file-browser-folder.component.html
  src/main/webapp/app/code-editor/file-browser/code-editor-file-browser-folder.component.ts
  src/main/webapp/app/code-editor/file-browser/code-editor-file-browser.component.html
  src/main/webapp/app/code-editor/file-browser/code-editor-file-browser.component.ts
  src/main/webapp/app/code-editor/model/commit-state.model.ts
  src/main/webapp/app/code-editor/service/code-editor-conflict-state.service.ts
  src/main/webapp/app/code-editor/service/code-editor-repository.service.ts
  src/main/webapp/app/code-editor/service/index.ts
  src/main/webapp/app/code-editor/status/code-editor-status.component.html
  src/main/webapp/app/code-editor/status/code-editor-status.component.ts
  src/main/webapp/app/shared/alert/alert-error.component.ts
  src/main/webapp/i18n/de/editor.json
  src/main/webapp/i18n/en/editor.json
  src/test/java/de/tum/in/www1/artemis/GitServiceTest.java
  src/test/java/de/tum/in/www1/artemis/util/GitUtilService.java
  src/test/javascript/spec/component/code-editor/code-editor-actions.spec.ts
  src/test/javascript/spec/component/code-editor/code-editor-file-browser.spec.ts
  src/test/javascript/spec/integration/code-editor/code-editor-instructor.spec.ts
  src/test/javascript/spec/integration/code-editor/code-editor-student.spec.ts
  src/test/javascript/spec/mocks/index.ts
  src/test/javascript/spec/mocks/mock-code-editor-conflict-state.service.ts
  src/test/javascript/spec/mocks/mock-code-editor-repository.service.ts
Labels: feature, ready for review

#666 Bugfix/fix markdown editor in edit drag and drop
  src/main/webapp/app/markdown-editor/markdown-editor.component.ts
  src/main/webapp/app/quiz/edit/drag-and-drop-question/edit-drag-and-drop-question.component.ts
  src/main/webapp/app/utils/drag-and-drop.utils.ts
Labels: ready for review

#663 Programming-Exercise: First checkout test then assignment repository
  src/main/java/de/tum/in/www1/artemis/service/connectors/BambooBuildPlanService.java
Labels: bug, ready for review

#668 Bugfix/bamboo special char replacement
  src/main/java/de/tum/in/www1/artemis/config/Constants.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseResource.java
  src/main/webapp/app/entities/programming-exercise/programming-exercise-update.component.html
  src/main/webapp/app/entities/programming-exercise/programming-exercise-update.component.ts
  src/main/webapp/i18n/de/exercise.json
  src/main/webapp/i18n/en/exercise.json
Labels: bug, ready for review

#671 Check JavaDoc Style with Checkstyle
  .travis.yml
  build.gradle
  checkstyle/rules.xml
Labels: documentation, ready for review

#656 Ensure double-blindness for modeling and text assessments.
  src/main/java/de/tum/in/www1/artemis/domain/Complaint.java
  src/main/java/de/tum/in/www1/artemis/domain/Exercise.java
  src/main/java/de/tum/in/www1/artemis/domain/Participation.java
  src/main/java/de/tum/in/www1/artemis/domain/Result.java
  src/main/java/de/tum/in/www1/artemis/repository/ResultRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/ResultService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ComplaintResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ComplaintResponseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingAssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ParticipationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextAssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextSubmissionResource.java
  src/main/webapp/app/entities/course/course.service.ts
  src/main/webapp/app/entities/exercise/exercise.service.ts
  src/main/webapp/app/entities/lecture/lecture.service.ts
  src/main/webapp/app/entities/modeling-exercise/modeling-exercise.service.ts
  src/main/webapp/app/entities/participation/participation.service.ts
  src/main/webapp/app/entities/programming-exercise/services/programming-exercise.service.ts
  src/main/webapp/app/entities/quiz-exercise/quiz-exercise.service.ts
  src/main/webapp/app/entities/result/result.service.ts
  src/main/webapp/app/entities/student-question/student-question.service.ts
  src/main/webapp/app/overview/course-grade-book/course-grade-book.component.html
  src/main/webapp/app/overview/course-grade-book/course-grade-book.component.ts
  src/main/webapp/app/overview/course-grade-book/course-grade-book.scss
  src/main/webapp/app/overview/course-overview.component.html
  src/main/webapp/app/overview/index.ts
  src/main/webapp/app/overview/overview.module.ts
  src/main/webapp/app/overview/overview.route.ts
  src/test/java/de/tum/in/www1/artemis/AssessmentComplaintIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ModelingSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/TextAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/TextSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
Labels: ready for review, tests

#677 Hotfix/Add null check for result iteration to avoid null pointer
  src/main/java/de/tum/in/www1/artemis/web/rest/ExerciseResource.java
Labels: bug, work in progress

#679 doc/Added gradle command to clear checksums into setup doc
  doc/setup/SETUP.md
Labels: documentation, ready for review

#607 Quiz Reset button
  src/main/java/de/tum/in/www1/artemis/domain/SubmittedAnswer.java
  src/main/java/de/tum/in/www1/artemis/service/ExerciseService.java
Labels: ready for review

#680 Prevent compass exceptions when a package is source or target of an association
  src/main/java/de/tum/in/www1/artemis/service/compass/CompassCalculationEngine.java
  src/main/java/de/tum/in/www1/artemis/service/compass/CompassService.java
  src/main/java/de/tum/in/www1/artemis/service/compass/controller/AutomaticAssessmentController.java
  src/main/java/de/tum/in/www1/artemis/service/compass/controller/JSONParser.java
Labels: bug, ready for review

#684 Bugfix/Safe html in modeling exercise example submission
  src/main/webapp/app/example-modeling-solution/example-modeling-solution.component.html
  src/main/webapp/i18n/de/modelingExercise.json
  src/main/webapp/i18n/en/modelingExercise.json
Labels: bug, ready for review

#685 Bugfix/Account service: Check if userIdentity is null to avoid null pointer
  src/main/webapp/app/core/auth/account.service.ts
  src/main/webapp/app/layouts/navbar/navbar.component.ts
Labels: bug, ready for review

#691 Bugfix/Lecture/Avoid undefined issue in calculation of attachment number
  src/main/webapp/app/overview/course-lectures/course-lectures.component.html
  src/main/webapp/app/overview/course-lectures/course-lectures.component.ts
Labels: bug, ready for review

#687 Bugfix/Disable login button after first click
  src/main/webapp/app/home/home.component.html
  src/main/webapp/app/home/home.component.ts
Labels: bug, ready for review

#689 Bugfix/Markdown-Editor/Don't parse domain commands if the markdown is null/undefined
  src/main/webapp/app/markdown-editor/markdown-editor.component.ts
Labels: bug, ready for review

#697 Tests/Update to Junit5
  build.gradle
  src/test/java/de/tum/in/www1/artemis/AssessmentComplaintIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/AutomaticSubmissionServiceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/CourseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ExampleSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/GitServiceTest.java
  src/test/java/de/tum/in/www1/artemis/ModelingAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ModelingSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ParticipationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ProgrammingExerciseParticipationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ProgrammingExerciseTestCaseServiceTest.java
  src/test/java/de/tum/in/www1/artemis/ResultServiceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/TextAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/TextExerciseTest.java
  src/test/java/de/tum/in/www1/artemis/TextSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/domain/ResultTest.java
  src/test/java/de/tum/in/www1/artemis/service/ExerciseLifecycleServiceTest.java
Labels: ready for review, tests

#698 Bugfix/text editor cannot unproxy result and submissions
  src/main/java/de/tum/in/www1/artemis/domain/Participation.java
  src/main/java/de/tum/in/www1/artemis/domain/StudentParticipation.java
  src/main/java/de/tum/in/www1/artemis/repository/StudentParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ModelingSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/ParticipationService.java
  src/main/java/de/tum/in/www1/artemis/service/TextSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextExerciseResource.java
  src/test/java/de/tum/in/www1/artemis/TextSubmissionIntegrationTest.java
Labels: bug, java, tests needed

#694 Bugfix/Account/properly log out user when token is invalid
  src/main/webapp/app/core/auth/account.service.ts
  src/main/webapp/app/core/auth/auth-jwt.service.ts
  src/main/webapp/app/core/login/login.service.ts
  src/main/webapp/app/layouts/navbar/navbar.component.html
  src/main/webapp/app/layouts/navbar/navbar.component.ts
  src/main/webapp/app/overview/overview.component.ts
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/de/login.json
  src/main/webapp/i18n/en/global.json
  src/main/webapp/i18n/en/login.json
  src/test/javascript/spec/mocks/mock-account.service.ts
  src/test/javascript/spec/mocks/mock-alert.service.ts
  src/test/javascript/spec/mocks/mock-auth-server-provider.service.ts
  src/test/javascript/spec/mocks/mock-router.service.ts
  src/test/javascript/spec/service/login-service.spec.ts
Labels: bug, ready for review

#642 Refactor global quiz scss
  src/main/webapp/app/entities/course/course-exercise-card.component.scss
  src/main/webapp/app/entities/course/course-exercise-card.component.ts
  src/main/webapp/app/entities/lecture/lecture-attachments.component.html
  src/main/webapp/app/entities/programming-exercise/instructions/programming-exercise-instruction.scss
  src/main/webapp/app/entities/programming-exercise/programming-exercise.component.html
  src/main/webapp/app/entities/quiz-exercise/quiz-exercise-detail.component.html
  src/main/webapp/app/entities/quiz-exercise/quiz-exercise-detail.component.scss
  src/main/webapp/app/entities/quiz-exercise/quiz-exercise-detail.component.ts
  src/main/webapp/app/entities/quiz-exercise/quiz-exercise-export.component.scss
  src/main/webapp/app/entities/quiz-exercise/quiz-exercise-export.component.ts
  src/main/webapp/app/entities/quiz-exercise/quiz-exercise.component.html
  src/main/webapp/app/markdown-editor/markdown-editor.component.scss
  src/main/webapp/app/markdown-editor/markdown-editor.component.ts
  src/main/webapp/app/quiz-statistics/drag-and-drop-question-statistic/drag-and-drop-question-statistic.component.scss
  src/main/webapp/app/quiz-statistics/drag-and-drop-question-statistic/drag-and-drop-question-statistic.component.ts
  src/main/webapp/app/quiz-statistics/quiz-statistics-footer/quiz-statistics-footer.component.html
  src/main/webapp/app/quiz-statistics/quiz-statistics-footer/quiz-statistics-footer.component.scss
  src/main/webapp/app/quiz-statistics/quiz-statistics-footer/quiz-statistics-footer.component.ts
  src/main/webapp/app/quiz-statistics/short-answer-question-statistic/short-answer-question-statistic.component.html
  src/main/webapp/app/quiz-statistics/short-answer-question-statistic/short-answer-question-statistic.component.scss
  src/main/webapp/app/quiz-statistics/short-answer-question-statistic/short-answer-question-statistic.component.ts
  src/main/webapp/app/quiz.scss
  src/main/webapp/app/quiz/edit/drag-and-drop-question/edit-drag-and-drop-question.component.html
  src/main/webapp/app/quiz/edit/drag-and-drop-question/edit-drag-and-drop-question.component.scss
  src/main/webapp/app/quiz/edit/drag-and-drop-question/edit-drag-and-drop-question.component.ts
  src/main/webapp/app/quiz/edit/edit-quiz-question.scss
  src/main/webapp/app/quiz/edit/multiple-choice-question/edit-multiple-choice-question.component.ts
  src/main/webapp/app/quiz/edit/short-answer-question/edit-short-answer-question.component.html
  src/main/webapp/app/quiz/edit/short-answer-question/edit-short-answer-question.component.scss
  src/main/webapp/app/quiz/edit/short-answer-question/edit-short-answer-question.component.ts
  src/main/webapp/app/quiz/participate/drag-and-drop-question/drag-and-drop-question.component.html
  src/main/webapp/app/quiz/participate/drag-and-drop-question/drag-and-drop-question.component.scss
  src/main/webapp/app/quiz/participate/drag-and-drop-question/drag-and-drop-question.component.ts
  src/main/webapp/app/quiz/participate/drag-and-drop-question/drag-item.component.scss
  src/main/webapp/app/quiz/participate/drag-and-drop-question/drag-item.component.ts
  src/main/webapp/app/quiz/participate/multiple-choice-question/multiple-choice-question.component.scss
  src/main/webapp/app/quiz/participate/multiple-choice-question/multiple-choice-question.component.ts
  src/main/webapp/app/quiz/participate/quiz-question.scss
  src/main/webapp/app/quiz/participate/quiz-scoring-infostudent-modal/quiz-scoring-info-student-modal.component.html
  src/main/webapp/app/quiz/participate/quiz-scoring-infostudent-modal/quiz-scoring-info-student-modal.component.scss
  src/main/webapp/app/quiz/participate/quiz-scoring-infostudent-modal/quiz-scoring-info-student-modal.component.ts
  src/main/webapp/app/quiz/participate/quiz.component.html
  src/main/webapp/app/quiz/participate/quiz.component.scss
  src/main/webapp/app/quiz/participate/quiz.component.ts
  src/main/webapp/app/quiz/participate/short-answer-question/short-answer-question.component.html
  src/main/webapp/app/quiz/participate/short-answer-question/short-answer-question.component.scss
  src/main/webapp/app/quiz/participate/short-answer-question/short-answer-question.component.ts
  src/main/webapp/app/quiz/re-evaluate/multiple-choice-question/re-evaluate-multiple-choice-question.component.scss
  src/main/webapp/app/quiz/re-evaluate/multiple-choice-question/re-evaluate-multiple-choice-question.component.ts
  src/main/webapp/app/quiz/re-evaluate/quiz-re-evaluate-warning.component.ts
  src/main/webapp/app/quiz/re-evaluate/quiz-re-evaluate.component.scss
  src/main/webapp/app/quiz/re-evaluate/quiz-re-evaluate.component.ts
  src/main/webapp/app/utils/drag-and-drop.utils.ts
  src/main/webapp/content/scss/_artemis-mixins.scss
  src/main/webapp/content/scss/global.scss
  src/main/webapp/content/scss/quiz.scss
  src/main/webapp/content/scss/vendor.scss
Labels: ready for review

#676 Feature/global/cacheable images
  src/main/webapp/app/components/util/secured-image.component.ts
  src/main/webapp/app/entities/course/course-detail.component.html
  src/main/webapp/app/entities/course/course-detail.component.ts
  src/main/webapp/app/entities/course/course-update.component.html
  src/main/webapp/app/entities/course/course-update.component.ts
  src/main/webapp/app/overview/course-overview.component.html
  src/main/webapp/app/overview/course-overview.component.ts
  src/main/webapp/app/quiz/participate/drag-and-drop-question/drag-and-drop-question.component.ts
  src/main/webapp/app/quiz/participate/index.ts
  src/main/webapp/app/shared/image/SessionStorageStrategy.ts
  src/main/webapp/app/shared/image/cacheable-image.service.ts
  src/main/webapp/app/shared/image/secured-image.component.ts
  src/main/webapp/app/shared/index.ts
  src/main/webapp/app/shared/shared.module.ts
  src/test/javascript/spec/component/shared/secured-image.spec.ts
  src/test/javascript/spec/mocks/mock-cacheable-image.service.ts
Labels: feature, ready for review

#672 Feature/programming exercises/migrate remarkable to showdown
  package.json
  src/main/webapp/app/code-editor/code-editor.module.ts
  src/main/webapp/app/code-editor/instructions/index.ts
  src/main/webapp/app/code-editor/service/index.ts
  src/main/webapp/app/components/util/markdown.service.ts
  src/main/webapp/app/entities/programming-exercise/index.ts
  src/main/webapp/app/entities/programming-exercise/instructions/extensions/programming-exercise-plant-uml.extension.ts
  src/main/webapp/app/entities/programming-exercise/instructions/extensions/programming-exercise-task.extension.ts
  src/main/webapp/app/entities/programming-exercise/instructions/programming-exercise-editable-instruction.component.html
  src/main/webapp/app/entities/programming-exercise/instructions/programming-exercise-editable-instruction.component.ts
  src/main/webapp/app/entities/programming-exercise/instructions/programming-exercise-instruction-step-wizard.component.html
  src/main/webapp/app/entities/programming-exercise/instructions/programming-exercise-instruction-step-wizard.component.ts
  src/main/webapp/app/entities/programming-exercise/instructions/programming-exercise-instruction-step-wizard.scss
  src/main/webapp/app/entities/programming-exercise/instructions/programming-exercise-instruction-task-status.component.html
  src/main/webapp/app/entities/programming-exercise/instructions/programming-exercise-instruction-task-status.component.ts
  src/main/webapp/app/entities/programming-exercise/instructions/programming-exercise-instruction-task-status.scss
  src/main/webapp/app/entities/programming-exercise/instructions/programming-exercise-instruction.component.html
  src/main/webapp/app/entities/programming-exercise/instructions/programming-exercise-instruction.component.ts
  src/main/webapp/app/entities/programming-exercise/instructions/programming-exercise-instruction.scss
  src/main/webapp/app/entities/programming-exercise/instructions/programming-exercise-instruction.service.ts
  src/main/webapp/app/entities/programming-exercise/instructions/programming-exercise-instructions-result-detail.component.ts
  src/main/webapp/app/entities/programming-exercise/instructions/programming-exercise-plant-uml.service.ts
  src/main/webapp/app/entities/programming-exercise/instructions/programming-exercise-task.model.ts
  src/main/webapp/app/entities/programming-exercise/programming-exercise.module.ts
  src/main/webapp/app/markdown-editor/extensions/artemis-showdown-extension-wrapper.ts
  src/main/webapp/app/markdown-editor/markdown-editor.component.ts
  src/main/webapp/app/shared/pipes/html-for-markdown.pipe.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-editable-instruction.spec.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-instruction-step-wizard.spec.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-instruction.spec.ts
  src/test/javascript/spec/integration/code-editor/code-editor-student.spec.ts
  src/test/javascript/spec/sample/problemStatement.json
  src/test/javascript/spec/service/programming-exercise-instruction-service.spec.ts
  yarn.lock
Labels: feature, ready for review

#700 Bugfix/fix renamed scss class in programming exercise instructions
  src/main/webapp/app/entities/programming-exercise/instructions/programming-exercise-instruction.scss
Labels: bug, ready for review

#701 Bugfix/programming exercise/instruction loading when there is no participation
  src/main/webapp/app/entities/programming-exercise/instructions/programming-exercise-instruction.component.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-instruction.spec.ts
Labels: bug, ready for review
