Repository ls1intum/Artemis, pull requests merged in 2020-05, with the labels that each got.

#1368 Remove unnecessary restcall which caused problems
  src/main/java/de/tum/in/www1/artemis/domain/ProgrammingExercise.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExerciseResource.java
  src/main/webapp/app/course/manage/course-exercise-submission-result-simulation.service.ts
  src/main/webapp/app/entities/programming-exercise.model.ts
  src/main/webapp/app/exercises/programming/shared/utils/programming-exercise-simulation-utils.ts
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.ts
  src/test/java/de/tum/in/www1/artemis/util/ModelFactory.java
Labels: bug, client, server

#1367 Bugfix/create course/fix save button lock issue1334
  src/main/webapp/app/course/manage/course-exercise-submission-result-simulation.service.ts
  src/main/webapp/app/course/manage/course-update.component.ts
  src/main/webapp/app/exercises/programming/shared/utils/programming-exercise-simulation-utils.ts
Labels: client

#1373 Hotfix: update total score on drop of SGI
  src/main/webapp/app/assessment/assessment-detail/assessment-detail.component.html
  src/main/webapp/app/assessment/assessment-detail/assessment-detail.component.ts
  src/main/webapp/app/exercises/text/assess-new/textblock-assessment-card/textblock-assessment-card.component.ts
  src/main/webapp/app/exercises/text/assess-new/textblock-feedback-editor/textblock-feedback-editor.component.html
Labels: client, ready for review

#1309 Text Assessment: Add "Automatic" Badge
  src/main/webapp/app/entities/feedback.model.ts
  src/main/webapp/app/exercises/text/assess-new/textblock-feedback-editor/textblock-feedback-editor.component.html
  src/main/webapp/app/exercises/text/assess-new/textblock-feedback-editor/textblock-feedback-editor.component.scss
  src/main/webapp/app/exercises/text/assess-new/textblock-feedback-editor/textblock-feedback-editor.component.ts
Labels: client, component:Text, enhancement, ready for review

#1385 Fix false positive issue in database hook for team conflict detection
  src/main/resources/config/liquibase/changelog/20200504120935_changelog.xml
  src/main/resources/config/liquibase/master.xml
Labels: bug, component:Team, server

#1354 Show exercise participations for course on Team page
  src/main/java/de/tum/in/www1/artemis/repository/ExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/StudentParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/TeamRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/UserRepository.java
  src/main/java/de/tum/in/www1/artemis/service/AuthorizationCheckService.java
  src/main/java/de/tum/in/www1/artemis/service/ExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/ParticipationService.java
  src/main/java/de/tum/in/www1/artemis/service/UserService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TeamResource.java
  src/main/webapp/app/entities/exercise.model.ts
  src/main/webapp/app/exercises/shared/team/team-participation-table/team-participation-table.component.html
  src/main/webapp/app/exercises/shared/team/team-participation-table/team-participation-table.component.scss
  src/main/webapp/app/exercises/shared/team/team-participation-table/team-participation-table.component.ts
  src/main/webapp/app/exercises/shared/team/team-update-dialog/team-update-dialog.component.ts
  src/main/webapp/app/exercises/shared/team/team.component.html
  src/main/webapp/app/exercises/shared/team/team.component.scss
  src/main/webapp/app/exercises/shared/team/team.component.ts
  src/main/webapp/app/exercises/shared/team/team.module.ts
  src/main/webapp/app/exercises/shared/team/team.service.ts
  src/main/webapp/i18n/de/exercise.json
  src/main/webapp/i18n/de/team.json
  src/main/webapp/i18n/en/exercise.json
  src/main/webapp/i18n/en/team.json
  src/test/java/de/tum/in/www1/artemis/TeamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/javascript/spec/helpers/mocks/service/mock-team.service.ts
Labels: client, component:Team, feature, ready for review, server

#1387 Fixed Logical Error
  src/main/webapp/app/entities/feedback.model.ts
Labels: client

#1353 Integration test/test repository resource
  src/test/java/de/tum/in/www1/artemis/TestRepositoryResourceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseBitbucketBambooIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/LocalRepository.java
  src/test/java/de/tum/in/www1/artemis/util/RequestUtilService.java
Labels: ready for review, tests

#1384 Text Assessment fixes for #1377, #1378, and #1379
  src/main/java/de/tum/in/www1/artemis/domain/TextSubmission.java
  src/main/java/de/tum/in/www1/artemis/service/TextSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/TextClusteringScheduleService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextSubmissionResource.java
  src/main/webapp/app/app-routing.module.ts
  src/main/webapp/app/assessment/assessment-header/assessment-header.component.html
  src/main/webapp/app/assessment/assessment-header/assessment-header.component.ts
  src/main/webapp/app/assessment/assessment-layout/assessment-layout.component.html
  src/main/webapp/app/assessment/assessment-layout/assessment-layout.component.ts
  src/main/webapp/app/entities/feedback.model.ts
  src/main/webapp/app/entities/text-block.model.ts
  src/main/webapp/app/entities/text-submission.model.ts
  src/main/webapp/app/exercises/file-upload/assess/file-upload-assessment.component.html
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment-editor/modeling-assessment-editor.component.html
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment-editor/modeling-assessment-editor.component.ts
  src/main/webapp/app/exercises/shared/dashboards/tutor/tutor-exercise-dashboard.component.html
  src/main/webapp/app/exercises/shared/dashboards/tutor/tutor-exercise-dashboard.component.ts
  src/main/webapp/app/exercises/text/assess-new/text-submission-assessment.component.html
  src/main/webapp/app/exercises/text/assess-new/text-submission-assessment.component.ts
  src/main/webapp/app/exercises/text/assess-new/text-submission-assessment.route.ts
  src/main/webapp/app/exercises/text/assess-new/textblock-assessment-card/textblock-assessment-card.component.ts
  src/main/webapp/app/exercises/text/participate/text-result/text-result.component.ts
  src/main/webapp/app/exercises/text/participate/text-submission.service.ts
  src/main/webapp/i18n/de/textAssessment.json
  src/main/webapp/i18n/en/textAssessment.json
  src/test/javascript/spec/component/assessment-shared/assessment-header.component.spec.ts
  src/test/javascript/spec/component/text-submission-assessment/text-submission-assessment.component.spec.ts
Labels: client, component:Text, ready for review, server

#1398 update apollon version
  package.json
  yarn.lock
Labels: ready for review

#1401 Bugfix: resizing the questions and answers component
  src/main/webapp/app/overview/course-lectures/course-lecture-details.component.html
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.html
Labels: bug, client, component:Q&A, ready for review

#1403 Bug Fixes for Modeling Assessment View
  src/main/webapp/app/assessment/assessment-instructions/assessment-instructions/assessment-instructions.component.html
  src/main/webapp/app/assessment/assessment-instructions/assessment-instructions/assessment-instructions.component.ts
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment-editor/modeling-assessment-editor.component.scss
Labels: bug, client, ready for review

#1410 Allow instructors to set the tutor for a team on creation
  src/main/java/de/tum/in/www1/artemis/web/rest/TeamResource.java
Labels: component:Team, enhancement, ready for review, server

#1423 Fix caching issue when persisting team students
  src/main/java/de/tum/in/www1/artemis/domain/Team.java
Labels: bug, component:Team, ready for review, server

#1420 Bugfix/added the page titles for edit and create new user
  src/main/webapp/app/admin/user-management/user-management.route.ts
Labels: client, ready for review

#1427 Bugfix: Overflow in mc-question preview
  src/main/webapp/app/exercises/quiz/manage/multiple-choice-question/multiple-choice-question-edit.component.html
Labels: bug, client, component:Quiz, ready for review

#1428 update apollon_version for bugfix
  package.json
  yarn.lock
Labels: ready for review

#1425 Integration Tests for the RepositoryProgrammingExerciseParticipationResource
  src/test/java/de/tum/in/www1/artemis/RepositoryProgrammingExerciseParticipationResourceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/TestRepositoryResourceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
Labels: ready for review, tests

#1426 Indentation of switch statements
  artemis-spotless-style.xml
  src/main/java/de/tum/in/www1/artemis/config/SentryConfiguration.java
  src/main/java/de/tum/in/www1/artemis/service/ModelAssessmentConflictService.java
  src/main/java/de/tum/in/www1/artemis/service/TeamService.java
  src/main/java/de/tum/in/www1/artemis/service/compass/umlmodel/classdiagram/UMLRelationship.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/BambooBuildPlanService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/ContinuousIntegrationService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsBuildPlanCreatorProvider.java
  src/main/java/de/tum/in/www1/artemis/web/rest/QuizExerciseResource.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingSubmissionAndResultIntegrationTest.java
Labels: server

#1375 Broadcast team assignment updates via websockets
  src/main/java/de/tum/in/www1/artemis/domain/Exercise.java
  src/main/java/de/tum/in/www1/artemis/domain/Team.java
  src/main/java/de/tum/in/www1/artemis/service/ExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/ParticipationService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TeamResource.java
  src/main/java/de/tum/in/www1/artemis/web/websocket/dto/TeamAssignmentPayload.java
  src/main/java/de/tum/in/www1/artemis/web/websocket/team/TeamWebsocketService.java
  src/main/webapp/app/entities/exercise.model.ts
  src/main/webapp/app/entities/team.model.ts
  src/main/webapp/app/exercises/shared/exercise/exercise-utils.ts
  src/main/webapp/app/exercises/shared/team/team.service.ts
  src/main/webapp/app/overview/course-overview.component.ts
  src/main/webapp/app/overview/courses.component.ts
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.ts
  src/test/java/de/tum/in/www1/artemis/TeamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/TeamWebsocketServiceTest.java
  src/test/javascript/spec/component/overview/exercise-details/exercise-details-student-actions.component.spec.ts
Labels: client, component:Team, enhancement, ready for review, server

#1431 Remove unused rest call
  src/main/webapp/app/exercises/programming/shared/code-editor/build-output/code-editor-build-output.component.ts
  src/main/webapp/app/exercises/programming/shared/code-editor/service/code-editor-repository.service.ts
  src/main/webapp/app/exercises/programming/shared/service/build-log.service.ts
Labels: client, ready for review

#1360 Refactorings notifications
  src/main/java/de/tum/in/www1/artemis/config/CacheConfiguration.java
  src/main/java/de/tum/in/www1/artemis/domain/enumeration/NotificationPriority.java
  src/main/java/de/tum/in/www1/artemis/domain/enumeration/NotificationType.java
  src/main/java/de/tum/in/www1/artemis/domain/notification/GroupNotification.java
  src/main/java/de/tum/in/www1/artemis/domain/notification/GroupNotificationFactory.java
  src/main/java/de/tum/in/www1/artemis/domain/notification/Notification.java
  src/main/java/de/tum/in/www1/artemis/domain/notification/SingleUserNotification.java
  src/main/java/de/tum/in/www1/artemis/domain/notification/SingleUserNotificationFactory.java
  src/main/java/de/tum/in/www1/artemis/domain/notification/SystemNotification.java
  src/main/java/de/tum/in/www1/artemis/repository/GroupNotificationRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/NotificationRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/SingleUserNotificationRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/SystemNotificationRepository.java
  src/main/java/de/tum/in/www1/artemis/service/GroupNotificationService.java
  src/main/java/de/tum/in/www1/artemis/service/NotificationService.java
  src/main/java/de/tum/in/www1/artemis/service/SingleUserNotificationService.java
  src/main/java/de/tum/in/www1/artemis/service/SystemNotificationService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/NotificationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/SystemNotificationResource.java
  src/main/resources/config/liquibase/changelog/20200426110000_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/admin/admin.module.ts
  src/main/webapp/app/admin/admin.route.ts
  src/main/webapp/app/admin/notification-management/notification-management-detail.component.html
  src/main/webapp/app/admin/notification-management/notification-management.route.ts
  src/main/webapp/app/admin/system-notification-management/system-notification-management-detail.component.html
  src/main/webapp/app/admin/system-notification-management/system-notification-management-detail.component.ts
  src/main/webapp/app/admin/system-notification-management/system-notification-management-update.component.html
  src/main/webapp/app/admin/system-notification-management/system-notification-management-update.component.ts
  src/main/webapp/app/admin/system-notification-management/system-notification-management.component.html
  src/main/webapp/app/admin/system-notification-management/system-notification-management.component.ts
  src/main/webapp/app/admin/system-notification-management/system-notification-management.route.ts
  src/main/webapp/app/overview/notification/notification.component.html
  src/main/webapp/app/overview/notification/notification.route.ts
  src/main/webapp/app/shared/layouts/navbar/navbar.component.html
  src/main/webapp/app/shared/layouts/notification-sidebar/notification-sidebar.component.html
  src/main/webapp/app/shared/layouts/system-notification/system-notification.component.html
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/de/notification-management.json
  src/main/webapp/i18n/de/notification.json
  src/main/webapp/i18n/en/global.json
  src/main/webapp/i18n/en/notification-management.json
  src/main/webapp/i18n/en/notification.json
  src/test/java/de/tum/in/www1/artemis/NotificationResourceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/SystemNotificationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/ModelFactory.java
Labels: client, component:Notification, ready for review, server

#1380 show number of active users
  src/main/java/de/tum/in/www1/artemis/config/CustomMetricsExtensionConfiguration.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CustomMetricsExtension.java
  src/main/webapp/app/admin/metrics/metrics.component.html
  src/main/webapp/i18n/de/metrics.json
  src/main/webapp/i18n/en/metrics.json
  src/test/resources/config/application.yml
Labels: client, feature, ready for review, server

#1441 Bugfix/#1439
  build.gradle
  package.json
  src/main/java/de/tum/in/www1/artemis/web/rest/TextAssessmentResource.java
  src/test/java/de/tum/in/www1/artemis/TextAssessmentIntegrationTest.java
Labels: bug, component:Text, server

#1440 Enhancement of the simplification of the local setup/ Fails If In Production functionality
  src/main/webapp/app/exercises/programming/manage/services/programming-exercise-simulation.service.ts
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.ts
Labels: client, enhancement, ready for review

#1445 Bugfix: delete unused file
  src/main/webapp/app/overview/student-questions/student-question-row.component.ts
Labels: bug, client, component:Q&A, ready for review

#1381 Refactoring of the Markdown Editor and Bugfixes
  src/main/webapp/app/shared/markdown-editor/markdown-editor.component.html
  src/main/webapp/app/shared/markdown-editor/markdown-editor.component.scss
Labels: bug, client, component:MarkdownEditor, component:Shared, enhancement, feature, ready for review

#1452 Use type operator instead of notification.class
  src/main/java/de/tum/in/www1/artemis/repository/NotificationRepository.java
Labels: ready for review, server

#1455 Bugfix/markdown editor/horizontal scrolling
  src/main/webapp/app/shared/markdown-editor/markdown-editor.component.ts
Labels: bug, client, component:MarkdownEditor, component:Shared, enhancement, ready for review

#1443 Show result badge on manual result trigger
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.ts
Labels: client, enhancement, ready for review

#1409 Adjust contribution guidelines and github actions to draft pull requests workflow
  .github/workflows/issue-opened.yml
  .github/workflows/pullrequest-opened.yml
  .github/workflows/pullrequest-readyforreview.yml
  .github/workflows/pullrequest-reopened.yml
  CONTRIBUTING.md
  README.md
Labels: documentation, work in progress

#1422 Bugfix/added a scroll bar to feedback editor
  src/main/webapp/app/exercises/text/assess-new/textblock-feedback-editor/textblock-feedback-editor.component.ts
Labels: client, ready for review

#1442 Improve BehaviourTest in java template
  src/main/resources/templates/java/test/testFiles/behavior/BehaviorTest.java
Labels: component:Programming, ready for review

#1459 Move {updating-}result.component.ts from shared to exercise/shared
  src/main/webapp/app/core/core.module.ts
  src/main/webapp/app/exercises/programming/manage/code-editor/code-editor-instructor-container.component.ts
  src/main/webapp/app/exercises/programming/shared/code-editor/ace/code-editor-ace.component.ts
  src/main/webapp/app/exercises/programming/shared/instructions-render/programming-exercise-instruction.component.ts
  src/main/webapp/app/exercises/programming/shared/instructions-render/step-wizard/programming-exercise-instruction-step-wizard.component.ts
  src/main/webapp/app/exercises/programming/shared/instructions-render/task/programming-exercise-instruction-task-status.component.ts
  src/main/webapp/app/exercises/shared/result/repository.service.ts
  src/main/webapp/app/exercises/shared/result/result-detail.component.html
  src/main/webapp/app/exercises/shared/result/result-detail.component.ts
  src/main/webapp/app/exercises/shared/result/result.component.html
  src/main/webapp/app/exercises/shared/result/result.component.ts
  src/main/webapp/app/exercises/shared/result/result.module.ts
  src/main/webapp/app/exercises/shared/result/updating-result.component.html
  src/main/webapp/app/exercises/shared/result/updating-result.component.ts
  src/test/javascript/spec/component/file-upload-assessment/file-upload-assessment.component.spec.ts
  src/test/javascript/spec/component/participation-submission/participation-submission.component.spec.ts
  src/test/javascript/spec/component/programming-assessment/programming-assessment-manual-result-dialog.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-instruction.component.spec.ts
  src/test/javascript/spec/component/shared/result-detail.component.spec.ts
  src/test/javascript/spec/component/shared/secured-image.component.spec.ts
  src/test/javascript/spec/component/shared/updating-result.component.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-repository-file.service.ts
Labels: chore, client

#1473 Bugfix: Resize editor for quizzes
  src/main/webapp/app/exercises/quiz/manage/drag-and-drop-question/drag-and-drop-question-edit.component.html
  src/main/webapp/app/exercises/quiz/manage/multiple-choice-question/multiple-choice-question-edit.component.html
  src/main/webapp/app/shared/markdown-editor/markdown-editor.component.scss
Labels: bug, client, component:Quiz, enhancement, ready for review

#1474 Bugfix: remaining smaller bugs after re-evaluate hotfix
  src/main/webapp/app/exercises/quiz/manage/re-evaluate/multiple-choice-question/re-evaluate-multiple-choice-question.component.html
  src/main/webapp/app/exercises/quiz/manage/re-evaluate/multiple-choice-question/re-evaluate-multiple-choice-question.component.ts
Labels: bug, client, component:Quiz, ready for review

#1486 Show non-released exercises on team page for tutors and above
  src/main/java/de/tum/in/www1/artemis/web/rest/TeamResource.java
Labels: bug, component:Team, ready for review, server

#1454 Assessment of team submissions by team owner tutor
  src/main/java/de/tum/in/www1/artemis/repository/StudentParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/TeamRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ParticipationService.java
  src/main/java/de/tum/in/www1/artemis/service/SubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/TeamService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TeamResource.java
  src/main/webapp/app/course/dashboards/tutor-course-dashboard/tutor-course-dashboard.component.html
  src/main/webapp/app/course/dashboards/tutor-course-dashboard/tutor-course-dashboard.component.ts
  src/main/webapp/app/exercises/shared/team/team-participation-table/team-participation-table.component.html
  src/main/webapp/app/exercises/shared/team/team-participation-table/team-participation-table.component.scss
  src/main/webapp/app/exercises/shared/team/team-participation-table/team-participation-table.component.ts
  src/main/webapp/app/exercises/shared/team/team-update-dialog/team-update-dialog.component.html
  src/main/webapp/app/exercises/shared/team/team-update-dialog/team-update-dialog.component.scss
  src/main/webapp/app/exercises/shared/team/team.component.html
  src/main/webapp/app/exercises/shared/team/team.component.ts
  src/main/webapp/app/exercises/shared/team/team.module.ts
  src/main/webapp/app/exercises/shared/team/team.service.ts
  src/main/webapp/app/exercises/shared/team/teams.component.html
  src/main/webapp/app/exercises/shared/team/teams.component.ts
  src/main/webapp/i18n/de/team.json
  src/main/webapp/i18n/de/tutorCourseDashboard.json
  src/main/webapp/i18n/en/team.json
  src/main/webapp/i18n/en/tutorCourseDashboard.json
  src/test/java/de/tum/in/www1/artemis/TeamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/javascript/spec/component/team/teams.component.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-team.service.ts
Labels: client, component:Team, ready for review, server

#1424 Chore/test improvements/quiz resources
  src/main/java/de/tum/in/www1/artemis/domain/quiz/AnswerCounter.java
  src/main/java/de/tum/in/www1/artemis/domain/quiz/MultipleChoiceQuestion.java
  src/main/java/de/tum/in/www1/artemis/domain/quiz/PointCounter.java
  src/main/java/de/tum/in/www1/artemis/domain/quiz/QuizExercise.java
  src/main/java/de/tum/in/www1/artemis/domain/quiz/QuizPointStatistic.java
  src/main/java/de/tum/in/www1/artemis/domain/quiz/QuizQuestionStatistic.java
  src/main/java/de/tum/in/www1/artemis/service/ExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/QuizExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/QuizStatisticService.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/QuizScheduleService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ComplaintResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/QuizExerciseResource.java
  src/test/java/de/tum/in/www1/artemis/ExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/QuizExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/QuizSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/java/de/tum/in/www1/artemis/util/ModelFactory.java
Labels: chore, ready for review, server, tests

#1475 Bugfix/removed trim from general feedback text (#1465)
  src/main/webapp/app/assessment/assessment-general-feedback/assessment-general-feedback.component.ts
Labels: client

#1492 change the style of the lock information in the complaints view to av…
  src/main/webapp/app/assessment/assessment-header/assessment-header.component.html
  src/main/webapp/app/assessment/assessment-header/assessment-header.component.ts
  src/main/webapp/app/assessment/assessment-layout/assessment-layout.component.html
  src/main/webapp/i18n/de/assessment.json
  src/main/webapp/i18n/en/assessment.json
Labels: client, ready for review

#1320 Store Apollon Diagrams per course
  src/main/java/de/tum/in/www1/artemis/domain/modeling/ApollonDiagram.java
  src/main/java/de/tum/in/www1/artemis/repository/ApollonDiagramRepository.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ApollonDiagramResource.java
  src/main/resources/config/liquibase/changelog/20200422140920_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/entities/apollon-diagram.model.ts
  src/main/webapp/app/exercises/quiz/manage/apollon-diagrams/apollon-diagram-create-form.component.ts
  src/main/webapp/app/exercises/quiz/manage/apollon-diagrams/apollon-diagram-detail.component.ts
  src/main/webapp/app/exercises/quiz/manage/apollon-diagrams/apollon-diagram-list.component.html
  src/main/webapp/app/exercises/quiz/manage/apollon-diagrams/apollon-diagram-list.component.ts
  src/main/webapp/app/exercises/quiz/manage/apollon-diagrams/apollon-diagram.route.ts
  src/main/webapp/app/exercises/quiz/manage/apollon-diagrams/apollon-diagram.service.ts
  src/main/webapp/app/exercises/quiz/manage/apollon-diagrams/exercise-generation/apollon-quiz-exercise-generation.component.html
  src/main/webapp/app/exercises/quiz/manage/apollon-diagrams/exercise-generation/apollon-quiz-exercise-generation.component.ts
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise.component.html
  src/main/webapp/i18n/de/apollonDiagram.json
  src/main/webapp/i18n/en/apollonDiagram.json
  src/test/java/de/tum/in/www1/artemis/ApollonDiagramResourceIntegrationTest.java
Labels: client, ready for review, server

#1468 Add hints on Exercise Tutor Dashboard
  src/main/webapp/app/exercises/shared/dashboards/tutor/tutor-exercise-dashboard.component.html
  src/main/webapp/i18n/de/tutorExerciseDashboard.json
  src/main/webapp/i18n/en/tutorExerciseDashboard.json
Labels: client

#1491 Add course reload button and automatic quiz display (visible)
  src/main/java/de/tum/in/www1/artemis/service/CourseService.java
  src/main/java/de/tum/in/www1/artemis/service/QuizExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/QuizScheduleService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/QuizExerciseResource.java
  src/main/webapp/app/course/manage/course-management.service.ts
  src/main/webapp/app/entities/quiz/quiz-exercise.model.ts
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise-detail.component.html
  src/main/webapp/app/exercises/shared/exercise/exercise.service.ts
  src/main/webapp/app/overview/course-exercises/course-exercise-row.component.ts
  src/main/webapp/app/overview/course-exercises/course-exercises.component.html
  src/main/webapp/app/overview/course-exercises/course-exercises.component.ts
  src/main/webapp/app/overview/course-lectures/course-lectures.component.ts
  src/main/webapp/app/overview/course-overview.component.html
  src/main/webapp/app/overview/course-overview.component.ts
  src/main/webapp/app/overview/course-overview.scss
  src/main/webapp/app/overview/course-score-calculation.service.ts
  src/main/webapp/app/overview/course-statistics/course-statistics.component.ts
  src/main/webapp/app/overview/courses.component.html
  src/main/webapp/app/overview/courses.component.ts
  src/main/webapp/app/utils/rxjs.utils.ts
  src/main/webapp/i18n/de/student-dashboard.json
  src/main/webapp/i18n/en/student-dashboard.json
  src/test/javascript/spec/service/course.service.spec.ts
Labels: client, enhancement, ready for review, server

#1453 Integrate notification list component into notification sidebar
  src/main/java/de/tum/in/www1/artemis/repository/NotificationRepository.java
  src/main/java/de/tum/in/www1/artemis/service/NotificationService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/NotificationResource.java
  src/main/webapp/app/admin/system-notification-management/system-notification-management-detail.component.ts
  src/main/webapp/app/admin/system-notification-management/system-notification-management-update.component.ts
  src/main/webapp/app/admin/system-notification-management/system-notification-management.component.ts
  src/main/webapp/app/admin/system-notification-management/system-notification-management.route.ts
  src/main/webapp/app/app.module.ts
  src/main/webapp/app/core/login/login.service.ts
  src/main/webapp/app/core/user/user.service.ts
  src/main/webapp/app/course/manage/course-management.service.ts
  src/main/webapp/app/overview/notification/notification.component.html
  src/main/webapp/app/overview/notification/notification.component.ts
  src/main/webapp/app/overview/notification/notification.module.ts
  src/main/webapp/app/overview/notification/notification.route.ts
  src/main/webapp/app/shared/layouts/notification-container/notification-container.component.html
  src/main/webapp/app/shared/layouts/notification-sidebar/notification-sidebar.component.html
  src/main/webapp/app/shared/layouts/notification-sidebar/notification-sidebar.component.ts
  src/main/webapp/app/shared/layouts/notification-sidebar/notification-sidebar.scss
  src/main/webapp/app/shared/notification/notification-sidebar/notification-sidebar.component.html
  src/main/webapp/app/shared/notification/notification-sidebar/notification-sidebar.component.ts
  src/main/webapp/app/shared/notification/notification-sidebar/notification-sidebar.scss
  src/main/webapp/app/shared/notification/notification.service.ts
  src/main/webapp/app/shared/notification/system-notification/system-notification.component.html
  src/main/webapp/app/shared/notification/system-notification/system-notification.component.ts
  src/main/webapp/app/shared/notification/system-notification/system-notification.module.ts
  src/main/webapp/app/shared/notification/system-notification/system-notification.service.ts
  src/main/webapp/i18n/de/notification.json
  src/main/webapp/i18n/en/notification.json
  src/test/java/de/tum/in/www1/artemis/NotificationResourceIntegrationTest.java
  src/test/javascript/spec/component/overview/overview.component.spec.ts
  src/test/javascript/spec/component/shared/notification/notification-sidebar.component.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-notification.service.ts
  src/test/javascript/spec/helpers/mocks/service/mock-translate.service.ts
  src/test/javascript/spec/helpers/mocks/service/mock-user.service.ts
Labels: client, component:Notification, ready for review, server

#1495 Store versions of submissions in database
  src/main/java/de/tum/in/www1/artemis/config/CacheConfiguration.java
  src/main/java/de/tum/in/www1/artemis/domain/Submission.java
  src/main/java/de/tum/in/www1/artemis/domain/SubmissionVersion.java
  src/main/java/de/tum/in/www1/artemis/repository/SubmissionVersionRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ModelingSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/SubmissionVersionService.java
  src/main/java/de/tum/in/www1/artemis/service/TextSubmissionService.java
  src/main/resources/config/liquibase/changelog/20200518205212_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/test/java/de/tum/in/www1/artemis/ModelingSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/TextSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
Labels: component:Modeling, component:Team, component:Text, feature, ready for review, server

#1504 Enhancement/programming exercise/file service test improvements
  src/test/java/de/tum/in/www1/artemis/service/FileServiceTest.java
  src/test/resources/test-data/repository-export/LineEndingsUnix.java
Labels: component:Programming, enhancement, ready for review, tests

#1503 Don't log the default charset twice
  src/main/java/de/tum/in/www1/artemis/service/connectors/GitService.java
Labels: bug, priority:low, ready for review, server

#1497 Fix programming exercise template setup on Windows machines
  src/main/java/de/tum/in/www1/artemis/domain/File.java
  src/main/java/de/tum/in/www1/artemis/service/FileService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/RepositoryService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/GitService.java
  src/main/java/de/tum/in/www1/artemis/web/websocket/repository/RepositoryWebsocketResource.java
Labels: bug, component:Programming, server

#1502 Add two missing resetLocalRepo calls
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseBitbucketBambooIntegrationTest.java
Labels: bug, component:Programming, ready for review, tests

#1509 Changing rounding method for assessment progress
  src/main/webapp/app/course/dashboards/instructor-course-dashboard/instructor-course-dashboard.component.ts
  src/main/webapp/app/course/dashboards/tutor-course-dashboard/tutor-course-dashboard.component.ts
  src/main/webapp/app/exercises/shared/dashboards/instructor/instructor-exercise-dashboard.component.ts
  src/main/webapp/app/exercises/shared/dashboards/tutor/tutor-exercise-dashboard.component.ts
  src/main/webapp/app/shared/dashboards/tutor-participation-graph/tutor-participation-graph.component.ts
  src/test/javascript/spec/component/instructor-dashboard/instructor-exercise-dashboard.component.spec.ts
Labels: client, enhancement

#1500 Jenkins Buildlogs not being shown
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsService.java
Labels: ready for review, server

#1482 Feature/update embedding requests
  src/main/java/de/tum/in/www1/artemis/service/TextClusteringService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/TextEmbeddingService.java
  src/main/resources/config/application-artemis.yml
  src/test/java/de/tum/in/www1/artemis/service/connectors/TextSimilarityClusteringServiceTest.java
Labels: component:Text, server

#1449 Prevent creation of empty textblocks
  src/main/java/de/tum/in/www1/artemis/service/TextBlockService.java
  src/main/webapp/app/exercises/text/assess-new/text-submission-assessment.component.ts
Labels: bug, client, component:Text, ready for review, server

#1519 Text Assessments: Same logic to retrieve new Text Submission and specific submission by id
  src/main/java/de/tum/in/www1/artemis/repository/SubmissionRepository.java
  src/main/java/de/tum/in/www1/artemis/service/AssessmentService.java
  src/main/java/de/tum/in/www1/artemis/service/TextAssessmentService.java
  src/main/java/de/tum/in/www1/artemis/service/TextBlockService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextAssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextSubmissionResource.java
  src/test/java/de/tum/in/www1/artemis/TextAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/TextSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/TextBlockServiceTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
Labels: bug, chore, component:Text, server

#1507 Set title as required via html5 validation
  src/main/webapp/app/lecture/lecture-update.component.html
Labels: client

#1447 Feature/assessment/feedback for missing element
  src/main/java/de/tum/in/www1/artemis/domain/enumeration/FeedbackType.java
  src/main/java/de/tum/in/www1/artemis/service/AssessmentService.java
  src/main/java/de/tum/in/www1/artemis/service/ModelingAssessmentService.java
  src/main/java/de/tum/in/www1/artemis/service/TextAssessmentService.java
  src/main/webapp/app/assessment/assessment-shared.module.ts
  src/main/webapp/app/entities/feedback.model.ts
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment-editor/modeling-assessment-editor.component.html
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment-editor/modeling-assessment-editor.component.ts
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment.component.ts
  src/main/webapp/app/exercises/modeling/participate/modeling-submission.component.html
  src/main/webapp/app/exercises/modeling/participate/modeling-submission.component.ts
  src/main/webapp/app/exercises/shared/unreferenced-feedback/unreferenced-feedback.component.html
  src/main/webapp/app/exercises/shared/unreferenced-feedback/unreferenced-feedback.component.ts
  src/main/webapp/app/exercises/text/assess-new/text-submission-assessment.component.html
  src/main/webapp/app/exercises/text/assess-new/text-submission-assessment.component.ts
  src/main/webapp/app/exercises/text/participate/text-editor.component.html
  src/main/webapp/app/exercises/text/participate/text-editor.component.ts
  src/main/webapp/i18n/de/assessment.json
  src/main/webapp/i18n/en/assessment.json
  src/test/java/de/tum/in/www1/artemis/ModelingAssessmentIntegrationTest.java
Labels: client, ready for review, server

#1477 Quiz Performance and Usability Improvements
  src/main/java/de/tum/in/www1/artemis/config/Constants.java
  src/main/java/de/tum/in/www1/artemis/config/SecurityConfiguration.java
  src/main/java/de/tum/in/www1/artemis/config/websocket/WebsocketConfiguration.java
  src/main/java/de/tum/in/www1/artemis/domain/quiz/MultipleChoiceQuestionStatistic.java
  src/main/java/de/tum/in/www1/artemis/domain/quiz/QuizExercise.java
  src/main/java/de/tum/in/www1/artemis/domain/quiz/QuizPointStatistic.java
  src/main/java/de/tum/in/www1/artemis/domain/quiz/ShortAnswerQuestionStatistic.java
  src/main/java/de/tum/in/www1/artemis/exception/QuizSubmissionException.java
  src/main/java/de/tum/in/www1/artemis/repository/QuizExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ResultRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ParticipationService.java
  src/main/java/de/tum/in/www1/artemis/service/QuizExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/QuizStatisticService.java
  src/main/java/de/tum/in/www1/artemis/service/QuizSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/QuizScheduleService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/QuizExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/QuizSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ResultResource.java
  src/main/java/de/tum/in/www1/artemis/web/websocket/QuizSubmissionWebsocketService.java
  src/main/java/de/tum/in/www1/artemis/web/websocket/WebsocketError.java
  src/main/java/de/tum/in/www1/artemis/web/websocket/repository/FileSubmissionError.java
  src/main/webapp/app/course/manage/course-management.service.ts
  src/main/webapp/app/exercises/quiz/manage/re-evaluate/quiz-re-evaluate.service.ts
  src/main/webapp/app/exercises/quiz/manage/statistics/quiz-point-statistic/quiz-point-statistic.component.ts
  src/main/webapp/app/exercises/quiz/participate/quiz-participation.component.html
  src/main/webapp/app/exercises/quiz/participate/quiz-participation.component.scss
  src/main/webapp/app/exercises/quiz/participate/quiz-participation.component.ts
  src/main/webapp/app/exercises/quiz/participate/quiz-participation.service.ts
  src/main/webapp/app/overview/course-exercises/course-exercise-row.component.ts
  src/main/webapp/app/overview/course-overview.component.ts
  src/main/webapp/app/overview/courses.component.html
  src/main/webapp/app/overview/courses.component.ts
  src/main/webapp/app/shared/connection-status/connection-status.component.scss
  src/main/webapp/i18n/de/error.json
  src/main/webapp/i18n/de/quizExercise.json
  src/main/webapp/i18n/en/error.json
  src/main/webapp/i18n/en/quizExercise.json
  src/test/java/de/tum/in/www1/artemis/QuizExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/QuizSubmissionIntegrationTest.java
  src/test/k6/ProgrammingExerciseAPIs.js
  src/test/k6/QuizExerciseAPIs.js
  src/test/k6/api_tests.sh
  src/test/k6/requests/endpoints.js
  src/test/k6/requests/quiz.js
  src/test/k6/requests/user.js
Labels: client, component:Quiz, priority:critical, ready for review, server
