Repository ls1intum/Artemis, pull requests merged in 2020-10, with the labels that each got.

#2086 [Feature] Store static code analysis configuration
  src/main/java/de/tum/in/www1/artemis/config/StaticCodeAnalysisConfigurer.java
  src/main/java/de/tum/in/www1/artemis/domain/ProgrammingExercise.java
  src/main/java/de/tum/in/www1/artemis/domain/StaticCodeAnalysisCategory.java
  src/main/java/de/tum/in/www1/artemis/domain/StaticCodeAnalysisDefaultCategory.java
  src/main/java/de/tum/in/www1/artemis/domain/enumeration/CategoryState.java
  src/main/java/de/tum/in/www1/artemis/repository/ProgrammingExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/StaticCodeAnalysisCategoryRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseImportService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/StaticCodeAnalysisService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/StaticCodeAnalysisResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/ProgrammingExerciseTestCaseDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/util/ResponseUtil.java
  src/main/resources/config/liquibase/changelog/20200901185005_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/entities/programming-exercise.model.ts
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.html
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.html
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.ts
  src/main/webapp/i18n/de/exercise.json
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/exercise.json
  src/main/webapp/i18n/en/programmingExercise.json
  src/test/java/de/tum/in/www1/artemis/AbstractSpringIntegrationBambooBitbucketJiraTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseBitbucketBambooIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseServiceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/StaticCodeAnalysisIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/repository/ProgrammingExerciseTestRepository.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/java/de/tum/in/www1/artemis/util/ModelFactory.java
  src/test/java/de/tum/in/www1/artemis/util/RequestUtilService.java
Labels: client, component:Programming, database, ready for review, server

#2145 Prevent enter from submitting programming exercises creation form
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.html
Labels: client, ready for review

#2147 [Bugfix] Course exercise dashboard crashes when programming exercise has no result
  src/main/webapp/app/shared/util/utils.ts
Labels: client, priority:critical

#2105 [Enhancement] Improve feedback and grading generation
  src/main/java/de/tum/in/www1/artemis/exception/BambooException.java
  src/main/java/de/tum/in/www1/artemis/exception/ContinousIntegrationException.java
  src/main/java/de/tum/in/www1/artemis/service/FeedbackService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseGradingService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseTestCaseService.java
  src/main/java/de/tum/in/www1/artemis/service/ResultService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/ContinuousIntegrationService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/BambooService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseGradingResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseTestCaseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ResultResource.java
  src/main/webapp/app/exercises/programming/manage/services/programming-exercise-test-case.service.ts
  src/test/java/de/tum/in/www1/artemis/ManagementResourceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ResultServiceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseTestCaseServiceTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingSubmissionIntegrationTest.java
Labels: client, component:Programming, enhancement, ready for review, server

#2153 Fix split.js linting issue
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-split-view/plagiarism-split-view.component.ts
Labels: client

#2149 Trim solutions and answers when correcting a Short Answer Quiz
  src/main/java/de/tum/in/www1/artemis/domain/quiz/ShortAnswerSubmittedText.java
  src/main/webapp/app/exercises/quiz/shared/questions/short-answer-question/short-answer-question.component.ts
  src/test/java/de/tum/in/www1/artemis/domain/ShortAnswerQuestionTest.java
  src/test/javascript/spec/component/short-answer-quiz/short-answer-question.component.spec.ts
Labels: client, server

#2161 Replace Adding Empty Strings by String.valueOf
  src/main/java/de/tum/in/www1/artemis/service/compass/CompassCalculationEngine.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseBitbucketBambooIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseGitIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/simulation/ProgrammingExerciseSubmissionAndResultSimulationIntegrationTest.java
Labels: chore, ready for review, server

#2151 bugfixes modeling editor + quiz exercises
  src/main/webapp/app/exercises/modeling/participate/modeling-submission.component.ts
  src/main/webapp/app/exercises/quiz/manage/drag-and-drop-question/drag-and-drop-question-edit.component.ts
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise-detail.component.ts
  src/main/webapp/app/exercises/quiz/manage/short-answer-question/short-answer-question-edit.component.ts
  src/main/webapp/app/shared/fullscreen/fullscreen.scss
  src/test/javascript/spec/component/quiz-exercise/quiz-exercise-detail.component.spec.ts
Labels: client, ready for review

#2144 Change Instruction Component for File Upload Exercises
  src/main/webapp/app/exercises/file-upload/assess/file-upload-assessment.component.html
  src/main/webapp/app/exercises/file-upload/assess/file-upload-assessment.component.ts
  src/main/webapp/app/exercises/file-upload/assess/file-upload-assessment.module.ts
  src/test/javascript/spec/component/file-upload-assessment/file-upload-assessment.component.spec.ts
Labels: client, ready for review

#2155 Add Dynamic Tests for the Artemis Domain Classes
  src/main/java/de/tum/in/www1/artemis/domain/TextEmbedding.java
  src/main/java/de/tum/in/www1/artemis/domain/quiz/QuizExercise.java
  src/test/java/de/tum/in/www1/artemis/ModelingExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/QuizExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/RatingResourceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/RepositoryProgrammingExerciseParticipationResourceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/domain/ObjectMethodTest.java
  src/test/java/de/tum/in/www1/artemis/domain/ObjectMethodTestExclusions.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/StaticCodeAnalysisIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/TextAssessmentQueueServiceTest.java
  src/test/java/de/tum/in/www1/artemis/util/classpath/ClassNode.java
  src/test/java/de/tum/in/www1/artemis/util/classpath/ClassPathNode.java
  src/test/java/de/tum/in/www1/artemis/util/classpath/ClassPathUtil.java
  src/test/java/de/tum/in/www1/artemis/util/classpath/PackageNode.java
  src/test/java/de/tum/in/www1/artemis/util/classpath/RootNode.java
Labels: enhancement, ready for review, server, tests

#2066 [Feature] Instructor rating dashboard
  src/main/java/de/tum/in/www1/artemis/repository/RatingRepository.java
  src/main/java/de/tum/in/www1/artemis/service/RatingService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/RatingResource.java
  src/main/webapp/app/core/alert/alert.service.ts
  src/main/webapp/app/course/dashboards/instructor-course-dashboard/instructor-course-dashboard.component.html
  src/main/webapp/app/course/manage/course-management.route.ts
  src/main/webapp/app/exercises/shared/rating/rating-list/rating-list.component.html
  src/main/webapp/app/exercises/shared/rating/rating-list/rating-list.component.ts
  src/main/webapp/app/exercises/shared/rating/rating.module.ts
  src/main/webapp/app/exercises/shared/rating/rating.service.ts
  src/main/webapp/app/exercises/text/participate/text-editor.component.html
  src/main/webapp/app/exercises/text/participate/text-editor.component.ts
  src/main/webapp/i18n/de/instructorCourseDashboard.json
  src/main/webapp/i18n/de/rating.json
  src/main/webapp/i18n/de/textExercise.json
  src/main/webapp/i18n/en/instructorCourseDashboard.json
  src/main/webapp/i18n/en/rating.json
  src/main/webapp/i18n/en/textExercise.json
  src/test/java/de/tum/in/www1/artemis/RatingResourceIntegrationTest.java
  src/test/javascript/spec/component/rating/rating-list.component.spec.ts
  src/test/javascript/spec/component/text-editor/text-editor.component.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-text-editor.service.ts
  src/test/javascript/spec/helpers/mocks/service/mock-text-submission.service.ts
  src/test/javascript/spec/service/rating.service.spec.ts
Labels: client, feature, ready for review, server

#2159 [Feature] Use JPlag for text exercises plagiarism detection
  src/main/java/de/tum/in/www1/artemis/service/TextSubmissionExportService.java
  src/main/java/de/tum/in/www1/artemis/service/plagiarism/text/TextPlagiarismDetectionService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextExerciseResource.java
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise-detail.component.html
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise-detail.component.ts
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise.service.ts
Labels: client, plagiarism detection, ready for review, server

#2069 [Feature] Allow the instructors to set bonus points for exercises
  src/main/webapp/app/exercises/file-upload/manage/file-upload-exercise-update.component.html
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise-update.component.html
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.html
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise-update.component.html
  src/main/webapp/i18n/de/exercise.json
  src/main/webapp/i18n/en/exercise.json
Labels: client

#2109 Sync feature toggle using Hazelcast map.
  src/main/java/de/tum/in/www1/artemis/service/feature/Feature.java
  src/main/java/de/tum/in/www1/artemis/service/feature/FeatureToggleAspect.java
  src/main/java/de/tum/in/www1/artemis/service/feature/FeatureToggleInfoContributor.java
  src/main/java/de/tum/in/www1/artemis/service/feature/FeatureToggleService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ManagementResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ParticipationResource.java
  src/test/java/de/tum/in/www1/artemis/ManagementResourceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ParticipationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/FeatureToggleServiceTest.java
Labels: enhancement, ready for review, server

#2166 [Bugfix] Fix flaky test DeleteTestRunAsTutor
  src/test/java/de/tum/in/www1/artemis/ExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/StudentExamIntegrationTest.java
Labels: ready for review

#2107 [Feature] Grading with Static Code Analysis
  src/main/java/de/tum/in/www1/artemis/config/StaticCodeAnalysisConfigurer.java
  src/main/java/de/tum/in/www1/artemis/domain/enumeration/CategoryState.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseGradingService.java
  src/main/java/de/tum/in/www1/artemis/service/StaticCodeAnalysisService.java
  src/main/webapp/app/entities/static-code-analysis-category.model.ts
  src/main/webapp/app/exercises/programming/manage/grading/codeAnalysisMapping.ts
  src/main/webapp/app/exercises/programming/manage/grading/programming-exercise-configure-grading-actions.component.ts
  src/main/webapp/app/exercises/programming/manage/grading/programming-exercise-configure-grading-status.component.ts
  src/main/webapp/app/exercises/programming/manage/grading/programming-exercise-configure-grading.component.html
  src/main/webapp/app/exercises/programming/manage/grading/programming-exercise-configure-grading.component.ts
  src/main/webapp/app/exercises/programming/manage/grading/programming-exercise-grading-dirty-warning.component.ts
  src/main/webapp/app/exercises/programming/manage/grading/programming-exercise-grading-table-actions.component.ts
  src/main/webapp/app/exercises/programming/manage/grading/programming-exercise-grading.module.ts
  src/main/webapp/app/exercises/programming/manage/instructions-editor/programming-exercise-editable-instruction.component.ts
  src/main/webapp/app/exercises/programming/manage/programming-exercise.component.html
  src/main/webapp/app/exercises/programming/manage/services/programming-exercise-grading.service.ts
  src/main/webapp/app/exercises/programming/shared/actions/programming-exercise-re-evaluate-button.component.ts
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/programmingExercise.json
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseGradingServiceTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseTestCaseServiceTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/StaticCodeAnalysisIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/java/de/tum/in/www1/artemis/util/ModelFactory.java
  src/test/javascript/spec/component/programming-exercise/programming-exercise-configure-grading.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-editable-instruction.component.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-programming-exercise-grading.service.ts
  src/test/javascript/spec/service/programming-exercise-grading.service.spec.ts
Labels: client, component:Programming, database, feature, ready for review, server

#2137 [Enhancement] AssessmentDueDate for programming exercises
  src/main/java/de/tum/in/www1/artemis/domain/Exercise.java
  src/main/java/de/tum/in/www1/artemis/domain/ProgrammingExercise.java
  src/main/java/de/tum/in/www1/artemis/repository/ProgrammingExerciseStudentParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseParticipationService.java
  src/main/webapp/app/assessment/assessment-header/assessment-header.component.html
  src/main/webapp/app/assessment/assessment-header/assessment-header.component.ts
  src/main/webapp/app/assessment/assessment-layout/assessment-layout.component.html
  src/main/webapp/app/assessment/assessment-layout/assessment-layout.component.ts
  src/main/webapp/app/exercises/file-upload/assess/file-upload-assessment.component.html
  src/main/webapp/app/exercises/file-upload/assess/file-upload-assessment.component.ts
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment-editor/modeling-assessment-editor.component.html
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment-editor/modeling-assessment-editor.component.ts
  src/main/webapp/app/exercises/programming/assess/code-editor-tutor-assessment-container.component.html
  src/main/webapp/app/exercises/programming/assess/code-editor-tutor-assessment-container.component.ts
  src/main/webapp/app/exercises/shared/exercise/exercise-utils.ts
  src/main/webapp/app/exercises/text/assess-new/text-submission-assessment.component.html
  src/main/webapp/app/exercises/text/assess-new/text-submission-assessment.component.ts
  src/main/webapp/app/shared/util/utils.ts
  src/main/webapp/i18n/de/assessment.json
  src/main/webapp/i18n/en/assessment.json
  src/test/java/de/tum/in/www1/artemis/ExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ParticipationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ResultServiceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseParticipationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/java/de/tum/in/www1/artemis/util/ModelFactory.java
  src/test/javascript/spec/component/assessment-shared/assessment-header.component.spec.ts
Labels: client, component:FileUpload, component:Modeling, component:Programming, component:Text, ready for review, server

#2154 Update jenkins-gitlab.rst
  docs/dev/setup/jenkins-gitlab.rst
Labels: documentation

#2115 Add documentation for multiple instances.
  docs/dev/setup.rst
  docs/dev/setup/distributed.rst
  docs/dev/setup/distributed/deployment_after_simple.drawio.png
  docs/dev/setup/distributed/deployment_before.drawio.png
  docs/dev/setup/distributed/deployment_broker.drawio.png
  docs/dev/setup/distributed/deployment_hazelcast.drawio.png
  docs/dev/setup/distributed/registry.png
  docs/dev/setup/distributed/thesis_securing_scaling_artemis.pdf
Labels: documentation

#2175 Enhancement/exam mode/client/improve test coverage exam participation
  src/test/javascript/spec/service/exam-participation.service.spec.ts
Labels: chore, client, tests

#2173 [Bugfix] Another flaky test fix
  src/test/java/de/tum/in/www1/artemis/StudentExamIntegrationTest.java
Labels: ready for review

#2181 Critical fix for enter not creating linebreaks in programming exercise creation
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.html
Labels: bug, client, component:Programming, priority:critical, ready for review

#2187 [Chore] Improve test coverage BambooService
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/BambooService.java
  src/test/java/de/tum/in/www1/artemis/connector/bamboo/BambooRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseBitbucketBambooIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/BambooServiceTest.java
Labels: chore, server, tests

#2081 [Chore] Improve Test Coverage
  CONTRIBUTING.md
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise-detail.component.ts
  src/main/webapp/app/exercises/quiz/manage/statistics/short-answer-question-statistic/short-answer-question-statistic.component.ts
  src/main/webapp/app/exercises/quiz/shared/questions/short-answer-question/short-answer-question.component.ts
  src/main/webapp/app/exercises/quiz/shared/short-answer-question-util.service.ts
  src/test/javascript/spec/component/shared/grading-instructions-details.component.spec.ts
  src/test/javascript/spec/component/team/team-exercise-search.component.spec.ts
  src/test/javascript/spec/component/text-submission-assessment/manual-textblock-selection.component.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-course-management.service.ts
  src/test/javascript/spec/service/exam-participation.service.spec.ts
  src/test/javascript/spec/service/short-answer-question-util.service.spec.ts
  src/test/javascript/spec/service/sort.service.spec.ts
Labels: chore, client, ready for review, tests

#2182 [Doc] Document Bamboo token usage
  docs/dev/setup.rst
  docs/dev/setup/bamboo-bitbucket-jira.rst
  docs/dev/setup/bamboo-bitbucket-jira/bamboo-create-token.png
  src/main/resources/config/application-artemis.yml
Labels: documentation, ready for review

#2186 [Feature] Add rating to file upload exercise
  src/main/webapp/app/exercises/file-upload/participate/file-upload-participation.module.ts
  src/main/webapp/app/exercises/file-upload/participate/file-upload-submission.component.html
  src/main/webapp/app/exercises/file-upload/participate/file-upload-submission.component.ts
  src/test/javascript/spec/component/file-upload-submission/file-upload-submission.component.spec.ts
Labels: client, ready for review

#2122 Use Text Blocks
  src/test/java/de/tum/in/www1/artemis/LtiIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/constants/ProgrammingSubmissionConstants.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingSubmissionAndResultIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingSubmissionConstants.java
  src/test/java/de/tum/in/www1/artemis/service/FileServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/compass/umlmodel/activity/UMLActivityDiagramTest.java
  src/test/java/de/tum/in/www1/artemis/service/compass/umlmodel/activity/UMLActivityDiagrams.java
  src/test/java/de/tum/in/www1/artemis/service/compass/umlmodel/classdiagram/UMLClassDiagramTest.java
  src/test/java/de/tum/in/www1/artemis/service/compass/umlmodel/classdiagram/UMLClassDiagrams.java
  src/test/java/de/tum/in/www1/artemis/service/compass/umlmodel/communication/UMLCommunicationDiagramTest.java
  src/test/java/de/tum/in/www1/artemis/service/compass/umlmodel/communication/UMLCommunicationDiagrams.java
  src/test/java/de/tum/in/www1/artemis/service/compass/umlmodel/component/UMLComponentDiagramTest.java
  src/test/java/de/tum/in/www1/artemis/service/compass/umlmodel/component/UMLComponentDiagrams.java
  src/test/java/de/tum/in/www1/artemis/service/compass/umlmodel/deployment/UMLDeploymentDiagramTest.java
  src/test/java/de/tum/in/www1/artemis/service/compass/umlmodel/deployment/UMLDeploymentDiagrams.java
  src/test/java/de/tum/in/www1/artemis/service/compass/umlmodel/object/UMLObjectDiagramTest.java
  src/test/java/de/tum/in/www1/artemis/service/compass/umlmodel/object/UMLObjectDiagrams.java
  src/test/java/de/tum/in/www1/artemis/service/compass/umlmodel/usecase/UMLUseCaseDiagramTest.java
  src/test/java/de/tum/in/www1/artemis/service/compass/umlmodel/usecase/UMLUseCaseDiagrams.java
  src/test/java/de/tum/in/www1/artemis/service/connectors/TestSubmissionConstants.java
  src/test/java/de/tum/in/www1/artemis/service/connectors/TextSegmentationServiceTest.java
  src/test/resources/de/tum/in/www1/artemis/programmingexercise/bambooRequest.json
  src/test/resources/de/tum/in/www1/artemis/programmingexercise/bitbucketRequest.json
  src/test/resources/de/tum/in/www1/artemis/service/compass/umlmodel/activity/activityModel1.json
  src/test/resources/de/tum/in/www1/artemis/service/compass/umlmodel/activity/activityModel2.json
  src/test/resources/de/tum/in/www1/artemis/service/compass/umlmodel/classdiagram/classModel1.json
  src/test/resources/de/tum/in/www1/artemis/service/compass/umlmodel/classdiagram/classModel2.json
  src/test/resources/de/tum/in/www1/artemis/service/compass/umlmodel/communication/communicationModel1.json
  src/test/resources/de/tum/in/www1/artemis/service/compass/umlmodel/communication/communicationModel2.json
  src/test/resources/de/tum/in/www1/artemis/service/compass/umlmodel/component/componentModel1.json
  src/test/resources/de/tum/in/www1/artemis/service/compass/umlmodel/component/componentModel2.json
  src/test/resources/de/tum/in/www1/artemis/service/compass/umlmodel/component/componentModel3.json
  src/test/resources/de/tum/in/www1/artemis/service/compass/umlmodel/deployment/deploymentModel1.json
  src/test/resources/de/tum/in/www1/artemis/service/compass/umlmodel/deployment/deploymentModel2.json
  src/test/resources/de/tum/in/www1/artemis/service/compass/umlmodel/deployment/deploymentModel3.json
  src/test/resources/de/tum/in/www1/artemis/service/compass/umlmodel/object/objectModel1.json
  src/test/resources/de/tum/in/www1/artemis/service/compass/umlmodel/object/objectModel2.json
  src/test/resources/de/tum/in/www1/artemis/service/compass/umlmodel/usecase/useCaseModel1.json
  src/test/resources/de/tum/in/www1/artemis/service/compass/umlmodel/usecase/useCaseModel2.json
Labels: chore, ready for review, server, tests

#1878 add achievement storage
  src/main/java/de/tum/in/www1/artemis/domain/Achievement.java
  src/main/java/de/tum/in/www1/artemis/domain/Course.java
  src/main/java/de/tum/in/www1/artemis/domain/User.java
  src/main/java/de/tum/in/www1/artemis/domain/enumeration/AchievementRank.java
  src/main/java/de/tum/in/www1/artemis/domain/enumeration/AchievementType.java
  src/main/java/de/tum/in/www1/artemis/repository/AchievementRepository.java
  src/main/java/de/tum/in/www1/artemis/service/AchievementService.java
  src/main/java/de/tum/in/www1/artemis/service/CourseService.java
  src/main/java/de/tum/in/www1/artemis/service/ExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/PointBasedAchievementService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgressBasedAchievementService.java
  src/main/java/de/tum/in/www1/artemis/service/TimeBasedAchievementService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/AchievementResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/FileUploadExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/QuizExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextExerciseResource.java
  src/main/resources/config/liquibase/changelog/20201005233945_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/test/java/de/tum/in/www1/artemis/AchievementIntegrationTest.java
Labels: client, database, ready for review, server

#2168 Update apollon version to version 2.2.5
  package.json
  yarn.lock
Labels: ready for review

#2190 Bump static code analysis tool versions
  src/main/resources/templates/java/test/projectTemplate/pom.xml
Labels: component:Programming

#2184 [Bugfix] Truncate build logs
  src/main/java/de/tum/in/www1/artemis/domain/BuildLogEntry.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/BambooService.java
  src/test/java/de/tum/in/www1/artemis/RepositoryProgrammingExerciseParticipationResourceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ResultServiceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/ModelFactory.java
Labels: component:Programming, ready for review, server

#2194 Fix end of line warnings of prettier during client building
  .prettierrc
Labels: ready for review

#2179 Support Petri Nets and Syntax Trees
  src/main/java/de/tum/in/www1/artemis/domain/enumeration/DiagramType.java
  src/main/java/de/tum/in/www1/artemis/service/compass/controller/UMLModelParser.java
  src/main/java/de/tum/in/www1/artemis/service/compass/umlmodel/petrinet/PetriNet.java
  src/main/java/de/tum/in/www1/artemis/service/compass/umlmodel/petrinet/PetriNetArc.java
  src/main/java/de/tum/in/www1/artemis/service/compass/umlmodel/petrinet/PetriNetPlace.java
  src/main/java/de/tum/in/www1/artemis/service/compass/umlmodel/petrinet/PetriNetTransition.java
  src/main/java/de/tum/in/www1/artemis/service/compass/umlmodel/syntaxtree/SyntaxTree.java
  src/main/java/de/tum/in/www1/artemis/service/compass/umlmodel/syntaxtree/SyntaxTreeLink.java
  src/main/java/de/tum/in/www1/artemis/service/compass/umlmodel/syntaxtree/SyntaxTreeNonterminal.java
  src/main/java/de/tum/in/www1/artemis/service/compass/umlmodel/syntaxtree/SyntaxTreeTerminal.java
  src/main/webapp/app/entities/modeling-exercise.model.ts
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise-update.component.html
  src/main/webapp/app/exercises/quiz/manage/apollon-diagrams/apollon-diagram-create-form.component.html
  src/main/webapp/i18n/de/diagramType.json
  src/main/webapp/i18n/en/diagramType.json
  src/test/java/de/tum/in/www1/artemis/service/compass/umlmodel/petrinet/PetriNetTest.java
  src/test/java/de/tum/in/www1/artemis/service/compass/umlmodel/petrinet/PetriNets.java
  src/test/java/de/tum/in/www1/artemis/service/compass/umlmodel/syntaxtree/SyntaxTreeTest.java
  src/test/java/de/tum/in/www1/artemis/service/compass/umlmodel/syntaxtree/SyntaxTrees.java
  src/test/resources/de/tum/in/www1/artemis/service/compass/umlmodel/petrinet/petriNetModel1a.json
  src/test/resources/de/tum/in/www1/artemis/service/compass/umlmodel/petrinet/petriNetModel1b.json
  src/test/resources/de/tum/in/www1/artemis/service/compass/umlmodel/petrinet/petriNetModel2.json
  src/test/resources/de/tum/in/www1/artemis/service/compass/umlmodel/syntaxtree/syntaxTreeModel1a.json
  src/test/resources/de/tum/in/www1/artemis/service/compass/umlmodel/syntaxtree/syntaxTreeModel1b.json
  src/test/resources/de/tum/in/www1/artemis/service/compass/umlmodel/syntaxtree/syntaxTreeModel2.json
Labels: client, component:Modeling, feature, ready for review, server, tests

#2185 Add Edit, Participations and Configure Grading Buttons
  src/main/webapp/app/exercises/programming/manage/programming-exercise.component.html
  src/main/webapp/app/exercises/shared/exam-exercise-row-buttons/exam-exercise-row-buttons.component.html
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.html
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.ts
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/programmingExercise.json
Labels: client, component:Programming, component:Shared, enhancement, ready for review

#2127 [Feature] Overview for students' questions
  src/main/java/de/tum/in/www1/artemis/repository/StudentQuestionRepository.java
  src/main/java/de/tum/in/www1/artemis/service/StudentQuestionService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/StudentQuestionResource.java
  src/main/webapp/app/course/course-questions/course-questions-routing.module.ts
  src/main/webapp/app/course/course-questions/course-questions.component.html
  src/main/webapp/app/course/course-questions/course-questions.component.ts
  src/main/webapp/app/course/course-questions/course-questions.module.ts
  src/main/webapp/app/course/dashboards/instructor-course-dashboard/instructor-course-dashboard.component.html
  src/main/webapp/app/course/dashboards/tutor-course-dashboard/tutor-course-dashboard.component.html
  src/main/webapp/app/course/manage/course-detail.component.html
  src/main/webapp/app/course/manage/course-management.module.ts
  src/main/webapp/app/overview/student-questions/student-question/student-question.service.ts
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/de/instructorCourseDashboard.json
  src/main/webapp/i18n/de/student-question.json
  src/main/webapp/i18n/en/global.json
  src/main/webapp/i18n/en/instructorCourseDashboard.json
  src/main/webapp/i18n/en/student-question.json
  src/test/java/de/tum/in/www1/artemis/StudentQuestionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/javascript/spec/component/overview/course-questions/course-questions.component.spec.ts
  src/test/javascript/spec/service/student-question.service.spec.ts
Labels: client, feature, ready for review, server

#2174 Improve registration: add more customization options
  build.gradle
  gradle.properties
  gradle/liquibase.gradle
  package.json
  src/main/java/de/tum/in/www1/artemis/config/Constants.java
  src/main/java/de/tum/in/www1/artemis/domain/Course.java
  src/main/java/de/tum/in/www1/artemis/repository/CourseRepository.java
  src/main/java/de/tum/in/www1/artemis/service/CourseService.java
  src/main/java/de/tum/in/www1/artemis/service/UserManagementInfoContributor.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jira/JiraAuthenticationProvider.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/resources/config/application-artemis.yml
  src/main/resources/config/liquibase/changelog/20201007105032_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/app.constants.ts
  src/main/webapp/app/course/manage/course-update.component.html
  src/main/webapp/app/course/manage/course-update.component.ts
  src/main/webapp/app/entities/course.model.ts
  src/main/webapp/app/home/home.component.html
  src/main/webapp/app/home/home.component.ts
  src/main/webapp/app/overview/course-registration-selector/course-registration-selector.component.html
  src/main/webapp/app/overview/course-registration-selector/course-registration-selector.component.ts
  src/main/webapp/app/shared/components/confirm-autofocus-button.component.ts
  src/main/webapp/app/shared/layouts/profiles/profile-info.model.ts
  src/main/webapp/app/shared/layouts/profiles/profile.service.ts
  src/main/webapp/app/utils/regex.util.ts
  src/main/webapp/i18n/de/course.json
  src/main/webapp/i18n/de/home.json
  src/main/webapp/i18n/de/student-dashboard.json
  src/main/webapp/i18n/en/course.json
  src/main/webapp/i18n/en/home.json
  src/main/webapp/i18n/en/student-dashboard.json
  src/test/java/de/tum/in/www1/artemis/CourseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/authentication/InternalAuthenticationIntegrationTest.java
  yarn.lock
Labels: client, config-change, database, ready for review, server

#2204 Update docker image for Java exercises
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/BambooBuildPlanService.java
Labels: component:Programming, ready for review, server

#2209 Add documentation for disabling the external user management
  docs/dev/use-local-user-management.rst
  docs/dev/use-local-user-management/RemoveJira.png
  docs/index.rst
Labels: ready for review

#2210 Fix the online courses column name
  src/main/webapp/app/course/manage/course-management.component.html
Labels: client, ready for review

#2212 Improve Quiz Scheduling Robustness
  src/main/java/de/tum/in/www1/artemis/service/scheduled/quiz/QuizExerciseDistributedCache.java
  src/test/java/de/tum/in/www1/artemis/QuizSubmissionIntegrationTest.java
Labels: bug, component:Quiz, config-change, ready for review, server, tests

#2156 [Enhancement] Security & Auto-approve answers by instructors
  src/main/java/de/tum/in/www1/artemis/web/rest/StudentQuestionAnswerResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/StudentQuestionResource.java
  src/main/webapp/app/overview/student-questions/student-question-answer/student-question-answer.component.ts
  src/main/webapp/app/overview/student-questions/student-question-answer/student-question-answer.service.ts
  src/main/webapp/app/overview/student-questions/student-question-row/student-question-row.component.ts
  src/main/webapp/app/overview/student-questions/student-question/student-question.component.ts
  src/main/webapp/app/overview/student-questions/student-question/student-question.service.ts
  src/main/webapp/app/overview/student-questions/student-questions.component.ts
  src/test/java/de/tum/in/www1/artemis/StudentQuestionAnswerIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/StudentQuestionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/javascript/spec/component/student-questions/student-question-answer.component.spec.ts
  src/test/javascript/spec/component/student-questions/student-question-row.component.spec.ts
  src/test/javascript/spec/component/student-questions/student-questions.component.spec.ts
  src/test/javascript/spec/service/student-question-answer.service.spec.ts
  src/test/javascript/spec/service/student-question.service.spec.ts
Labels: client, component:Q&A, enhancement, ready for review, server

#2167 [Feature] Feature Overview for Exam Mode
  src/main/webapp/app/app-routing.module.ts
  src/main/webapp/app/exam/participate/exam-cover/exam-participation-cover.component.html
  src/main/webapp/app/exam/participate/exam-navigation-bar/exam-navigation-bar.component.scss
  src/main/webapp/app/feature-overview/feature-overview.component.html
  src/main/webapp/app/feature-overview/feature-overview.component.ts
  src/main/webapp/app/feature-overview/feature-overview.module.ts
  src/main/webapp/app/feature-overview/feature-overview.route.ts
  src/main/webapp/app/feature-overview/feature-overview.scss
  src/main/webapp/content/images/feature-overview/instructors/anonymous_assessment.png
  src/main/webapp/content/images/feature-overview/instructors/complaint_response.png
  src/main/webapp/content/images/feature-overview/instructors/create_conduct_assess.png
  src/main/webapp/content/images/feature-overview/instructors/exam_statistics.png
  src/main/webapp/content/images/feature-overview/instructors/exercise_variants.png
  src/main/webapp/content/images/feature-overview/instructors/fully_configurable.png
  src/main/webapp/content/images/feature-overview/instructors/import_students.png
  src/main/webapp/content/images/feature-overview/instructors/multiple_exercises.png
  src/main/webapp/content/images/feature-overview/instructors/plagiarism.png
  src/main/webapp/content/images/feature-overview/instructors/progress_monitoring.png
  src/main/webapp/content/images/feature-overview/instructors/student_exams.png
  src/main/webapp/content/images/feature-overview/students/clone_repository.png
  src/main/webapp/content/images/feature-overview/students/code_editor.png
  src/main/webapp/content/images/feature-overview/students/complaint.png
  src/main/webapp/content/images/feature-overview/students/login.png
  src/main/webapp/content/images/feature-overview/students/modeling_editor.png
  src/main/webapp/content/images/feature-overview/students/online_exams.png
  src/main/webapp/content/images/feature-overview/students/quiz_exercises.png
  src/main/webapp/content/images/feature-overview/students/summary.png
  src/main/webapp/content/images/feature-overview/students/text_editor.png
  src/main/webapp/content/images/feature-overview/students/user_interface.png
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/de/featureOverview.json
  src/main/webapp/i18n/en/exam.json
  src/main/webapp/i18n/en/featureOverview.json
  src/test/javascript/spec/component/feature-overview/feature-overview.component.spec.ts
Labels: client, ready for review

#2189 Add missing plagiarism tests
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise-detail.component.ts
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise.service.ts
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-header/plagiarism-header.component.html
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-header/plagiarism-header.component.ts
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-inspector/plagiarism-inspector.component.html
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-inspector/plagiarism-inspector.component.ts
  src/test/javascript/spec/component/plagiarism/plagiarism-header.component.spec.ts
  src/test/javascript/spec/component/plagiarism/plagiarism-inspector.component.spec.ts
Labels: client, ready for review, tests

#2214 [Doc] GitLab/Jenkins setup on Windows
  docs/dev/setup/jenkins-gitlab.rst
Labels: documentation

#2220 Fix rst compilation errors and warnings
  docs/dev/setup/jenkins-gitlab.rst
Labels: documentation, ready for review

#2232 Fix Partial Programming Exercise Deletion
  src/main/java/de/tum/in/www1/artemis/service/ParticipationService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseService.java
Labels: bug, component:Programming, ready for review, server

#2216 Add option to checkout solution repository for Haskell exercises.
  src/main/java/de/tum/in/www1/artemis/config/Constants.java
  src/main/java/de/tum/in/www1/artemis/domain/ProgrammingExercise.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/ContinuousIntegrationService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/BambooBuildPlanService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/BambooService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseResource.java
  src/main/webapp/app/entities/programming-exercise.model.ts
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.html
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/programmingExercise.json
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseIntegrationTest.java
Labels: client, server

#2226 [Feature] Enable static code analysis for GitLab + Jenkins
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/AbstractJenkinsBuildPlanCreator.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/CJenkinsBuildPlanCreator.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/HaskellJenkinsBuildPlanCreator.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JavaJenkinsBuildPlanCreator.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsXmlConfigBuilder.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/PythonJenkinsBuildPlanCreator.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/dto/TestResultsDTO.java
  src/main/resources/templates/jenkins/java/configWithStaticCodeAnalysis.xml
  src/test/java/de/tum/in/www1/artemis/ResultServiceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseGitlabJenkinsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/ModelFactory.java
Labels: component:Programming, ready for review, server

#2236 Quickfix: Fix Exercise Score Completion Date Sort
  src/main/webapp/app/exercises/shared/exercise-scores/exercise-scores.component.html
  src/main/webapp/app/exercises/shared/participation/participation.component.html
Labels: bug, client, ready for review

#2228 [Bugfix] Maintain CommitState Consistency
  src/main/webapp/app/exercises/programming/shared/code-editor/actions/code-editor-actions.component.ts
  src/main/webapp/app/exercises/programming/shared/code-editor/container/code-editor-container.component.ts
  src/main/webapp/app/exercises/programming/shared/code-editor/service/code-editor-repository.service.ts
  src/test/javascript/spec/component/code-editor/code-editor-actions.component.spec.ts
Labels: client, ready for review

#2229 [Chore] Rename Tutor Dashboard to Assessment Dashboard
  src/main/java/de/tum/in/www1/artemis/service/AssessmentDashboardService.java
  src/main/java/de/tum/in/www1/artemis/service/ExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/ParticipationService.java
  src/main/java/de/tum/in/www1/artemis/service/TutorParticipationService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ComplaintResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExamResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingAssessmentResource.java
  src/main/webapp/app/assessment/assessment-header/assessment-header.component.html
  src/main/webapp/app/complaints/list-of-complaints/list-of-complaints.component.html
  src/main/webapp/app/course/course-questions/course-questions-routing.module.ts
  src/main/webapp/app/course/dashboards/assessment-dashboard/assessment-dashboard.component.html
  src/main/webapp/app/course/dashboards/assessment-dashboard/assessment-dashboard.component.ts
  src/main/webapp/app/course/dashboards/assessment-dashboard/assessment-dashboard.module.ts
  src/main/webapp/app/course/dashboards/assessment-dashboard/assessment-dashboard.route.ts
  src/main/webapp/app/course/manage/course-management.component.html
  src/main/webapp/app/course/manage/course-management.service.ts
  src/main/webapp/app/exam/manage/exam-management.component.html
  src/main/webapp/app/exam/manage/exam-management.route.ts
  src/main/webapp/app/exam/manage/exam-management.service.ts
  src/main/webapp/app/exercises/file-upload/assess/file-upload-assessment.component.ts
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment-editor/modeling-assessment-editor.component.ts
  src/main/webapp/app/exercises/modeling/manage/example-modeling/example-modeling-submission.component.html
  src/main/webapp/app/exercises/modeling/manage/example-modeling/example-modeling-submission.component.ts
  src/main/webapp/app/exercises/programming/assess/code-editor-tutor-assessment-container.component.html
  src/main/webapp/app/exercises/programming/assess/code-editor-tutor-assessment-container.component.ts
  src/main/webapp/app/exercises/shared/dashboards/instructor/instructor-exercise-dashboard.component.html
  src/main/webapp/app/exercises/shared/dashboards/tutor/exercise-assessment-dashboard.component.html
  src/main/webapp/app/exercises/shared/dashboards/tutor/exercise-assessment-dashboard.component.ts
  src/main/webapp/app/exercises/shared/dashboards/tutor/exercise-assessment-dashboard.module.ts
  src/main/webapp/app/exercises/shared/dashboards/tutor/exercise-assessment-dashboard.route.ts
  src/main/webapp/app/exercises/shared/navigate-back.util.ts
  src/main/webapp/app/exercises/shared/team/team-participation-table/team-participation-table.component.html
  src/main/webapp/app/exercises/text/assess/text-assessment-dashboard/text-assessment-dashboard.component.html
  src/main/webapp/app/exercises/text/manage/example-text-submission/example-text-submission.component.ts
  src/main/webapp/app/guided-tour/tours/tutor-assessment-tour.ts
  src/main/webapp/app/shared/dashboards/dashboards.module.ts
  src/main/webapp/app/shared/dashboards/tutor-participation-graph/tutor-participation-graph.component.html
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/de/guidedTourTutorAssessment.json
  src/main/webapp/i18n/de/tutorCourseDashboard.json
  src/main/webapp/i18n/de/tutorExerciseDashboard.json
  src/main/webapp/i18n/en/exam.json
  src/main/webapp/i18n/en/global.json
  src/main/webapp/i18n/en/guidedTourTutorAssessment.json
  src/main/webapp/i18n/en/tutorCourseDashboard.json
  src/main/webapp/i18n/en/tutorExerciseDashboard.json
  src/test/java/de/tum/in/www1/artemis/AssessmentComplaintIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/CourseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ExerciseIntegrationTest.java
  src/test/javascript/spec/component/tutor-dashboard/tutor-exercise-dashboard.component.spec.ts
Labels: client, ready for review, server

#2237 Improve server side git url handling and server test improvements
  build.gradle
  src/main/java/de/tum/in/www1/artemis/service/ParticipationService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseExportService.java
  src/main/java/de/tum/in/www1/artemis/service/UrlService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/VersionControlService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/BambooService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bitbucket/BitbucketService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/gitlab/GitLabService.java
  src/main/resources/templates/kotlin/test/projectTemplate/pom.xml
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.html
  src/test/java/de/tum/in/www1/artemis/AbstractSpringIntegrationBambooBitbucketJiraTest.java
  src/test/java/de/tum/in/www1/artemis/AbstractSpringIntegrationJenkinsGitlabTest.java
  src/test/java/de/tum/in/www1/artemis/RepositoryProgrammingExerciseParticipationResourceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ResultServiceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/StudentExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/TestRepositoryResourceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/connector/bitbucket/BitbucketRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/connector/jenkins/JenkinsRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/MockDelegate.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseBitbucketBambooIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseGitlabJenkinsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseResultBambooIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseResultJenkinsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseTemplateIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/AbstractArtemisIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/ProgrammingExerciseResultTestService.java
  src/test/java/de/tum/in/www1/artemis/util/ProgrammingExerciseTestService.java
Labels: chore, client, code quality, server

#2241 [Chore] Update docs for programming exercise setup
  .github/workflows/codeql-analysis.yml.off
  docs/dev/setup/bamboo-bitbucket-jira.rst
Labels: config-change, documentation, ready for review

#2222 [Feature] Structured Grading Instructions for Programming Exercises
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseParticipationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseResource.java
  src/main/webapp/app/assessment/assessment-instructions/assessment-instructions.module.ts
  src/main/webapp/app/assessment/assessment-instructions/assessment-instructions/assessment-instructions.component.html
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment-editor/modeling-assessment-editor.component.ts
  src/main/webapp/app/exercises/programming/assess/code-editor-tutor-assessment-container.component.html
  src/main/webapp/app/exercises/programming/assess/code-editor-tutor-assessment-container.component.ts
  src/main/webapp/app/exercises/programming/assess/code-editor-tutor-assessment-inline-feedback.component.html
  src/main/webapp/app/exercises/programming/assess/code-editor-tutor-assessment-inline-feedback.component.ts
  src/main/webapp/app/exercises/programming/assess/programming-assessment.module.ts
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.html
  src/main/webapp/app/exercises/programming/manage/programming-exercise-management.module.ts
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.html
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.ts
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.module.ts
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseParticipationIntegrationTest.java
  src/test/javascript/spec/component/programming-assessment/programming-assessment-inline-feedback.component.spec.ts
Labels: client, component:Programming, feature, ready for review, server

#2246 Hotfix client test issues
  src/main/webapp/app/exercises/programming/shared/code-editor/actions/code-editor-actions.component.ts
  src/test/javascript/spec/component/code-editor/code-editor-actions.component.spec.ts
  src/test/javascript/spec/integration/code-editor/code-editor-container.integration.spec.ts
Labels: bug, client, ready for review, tests

#2132 [Feature] automatic text/feedback consistency ui
  src/main/java/de/tum/in/www1/artemis/domain/FeedbackConflict.java
  src/main/java/de/tum/in/www1/artemis/repository/FeedbackConflictRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/TextBlockRepository.java
  src/main/java/de/tum/in/www1/artemis/service/AutomaticTextAssessmentConflictService.java
  src/main/java/de/tum/in/www1/artemis/service/TextAssessmentService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextAssessmentResource.java
  src/main/resources/config/liquibase/changelog/20200926154829_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/entities/feedback-conflict.ts
  src/main/webapp/app/entities/feedback.model.ts
  src/main/webapp/app/exercises/text/assess-new/conflicts/conflicts-header/text-feedback-conflicts-header.component.html
  src/main/webapp/app/exercises/text/assess-new/conflicts/conflicts-header/text-feedback-conflicts-header.component.scss
  src/main/webapp/app/exercises/text/assess-new/conflicts/conflicts-header/text-feedback-conflicts-header.component.ts
  src/main/webapp/app/exercises/text/assess-new/conflicts/text-feedback-conflicts.component.html
  src/main/webapp/app/exercises/text/assess-new/conflicts/text-feedback-conflicts.component.scss
  src/main/webapp/app/exercises/text/assess-new/conflicts/text-feedback-conflicts.component.ts
  src/main/webapp/app/exercises/text/assess-new/text-assessment-area/text-assessment-area.component.html
  src/main/webapp/app/exercises/text/assess-new/text-assessment-area/text-assessment-area.component.ts
  src/main/webapp/app/exercises/text/assess-new/text-assessment-base.component.ts
  src/main/webapp/app/exercises/text/assess-new/text-submission-assessment.component.html
  src/main/webapp/app/exercises/text/assess-new/text-submission-assessment.component.ts
  src/main/webapp/app/exercises/text/assess-new/text-submission-assessment.module.ts
  src/main/webapp/app/exercises/text/assess-new/text-submission-assessment.route.ts
  src/main/webapp/app/exercises/text/assess-new/textblock-assessment-card/textblock-assessment-card.component.html
  src/main/webapp/app/exercises/text/assess-new/textblock-assessment-card/textblock-assessment-card.component.scss
  src/main/webapp/app/exercises/text/assess-new/textblock-assessment-card/textblock-assessment-card.component.ts
  src/main/webapp/app/exercises/text/assess-new/textblock-feedback-editor/textblock-feedback-editor.component.html
  src/main/webapp/app/exercises/text/assess-new/textblock-feedback-editor/textblock-feedback-editor.component.scss
  src/main/webapp/app/exercises/text/assess-new/textblock-feedback-editor/textblock-feedback-editor.component.ts
  src/main/webapp/app/exercises/text/assess/text-assessments.service.ts
  src/main/webapp/i18n/de/textAssessment.json
  src/main/webapp/i18n/en/textAssessment.json
  src/test/java/de/tum/in/www1/artemis/TextAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/AutomaticFeedbackConflictServiceTest.java
  src/test/java/de/tum/in/www1/artemis/util/ModelFactory.java
  src/test/javascript/spec/component/text-submission-assessment/text-feedback-conflicts.component.spec.ts
  src/test/javascript/spec/component/text-submission-assessment/text-submission-assessment.component.spec.ts
  src/test/javascript/spec/component/text-submission-assessment/textblock-assessment-card.component.spec.ts
  src/test/javascript/spec/component/text-submission-assessment/textblock-feedback-editor.component.spec.ts
  src/test/javascript/spec/service/text-assessments.service.spec.ts
Labels: client, component:Text, database, feature, ready for review, server

#2255 bug fix/text assessment/result date not updating after submit
  src/main/webapp/app/exercises/text/assess-new/text-submission-assessment.component.ts
Labels: bug, client, component:Text, ready for review

#2250 [Docu] Chore/documentation/bitbucket token
  docs/dev/setup/bamboo-bitbucket-jira.rst
  docs/dev/setup/bamboo-bitbucket-jira/bitbucket-create-token.png
  src/test/javascript/spec/component/programming-assessment/programming-assessment-inline-feedback.component.spec.ts
Labels: chore, documentation, ready for review

#2164 add tests to apollon-diagrams-service.ts
  src/main/webapp/app/exercises/quiz/manage/apollon-diagrams/apollon-diagram.service.ts
  src/test/javascript/spec/service/apollon-diagram.service.spec.ts
Labels: client, ready for review

#2225 [Doc] Programming Exericse Setup
  docs/user/exercises/programming-exercise-setup.rst
  docs/user/exercises/programming.rst
  docs/user/exercises/programming/Artemis Tutorial Setup Programming Exercises.pdf
  docs/user/exercises/programming/VersionControlAdapter.png
  docs/user/exercises/programming/configure-grading.png
  docs/user/exercises/programming/course-dashboard-exercise-programming.png
  docs/user/exercises/programming/course-dashboard-programming-edit.png
  docs/user/exercises/programming/course-management-course-dashboard.png
  docs/user/exercises/programming/course-management-exercise-dashboard.png
  docs/user/exercises/programming/course-management.png
  docs/user/exercises/programming/create-programming-1.png
  docs/user/exercises/programming/create-programming-2.png
  docs/user/exercises/programming/edit-in-editor.png
  docs/user/exercises/programming/edit.png
  docs/user/exercises/programming/generate-button.png
  docs/user/exercises/programming/instructor-editor.png
  docs/user/exercises/programming/programming-edit-status.png
  docs/user/exercises/programming/programming-view-1.png
  docs/user/exercises/programming/programming-view-2.png
  docs/user/exercises/programming/programming-view-3.png
  docs/user/exercises/programming/solution-template-result.png
  docs/user/exercises/programming/submit.png
  docs/user/exercises/programming/view.png
Labels: chore, client, component:Programming, documentation, ready for review

#2260 [Bugfix] Fix for Missing Axes Labels in Exam-Scores
  src/main/webapp/app/exam/exam-scores/exam-scores.component.ts
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise-detail.component.ts
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/en/exam.json
Labels: bug, client, ready for review

#2261 [Bugfix] Only fetch categories if static code analysis is enabled
  src/main/webapp/app/exercises/programming/manage/grading/programming-exercise-configure-grading.component.ts
Labels: client, component:Programming, ready for review

#2252 [Enhancement]Student Questions & Answers: Security Improvements
  src/main/java/de/tum/in/www1/artemis/web/rest/StudentQuestionAnswerResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/StudentQuestionResource.java
  src/main/webapp/app/overview/student-questions/student-question/student-question.service.ts
  src/test/java/de/tum/in/www1/artemis/StudentQuestionIntegrationTest.java
Labels: component:Q&A, enhancement, java, ready for review, security, server

#2253 [Bug] SCA categorization when build fails
  src/main/java/de/tum/in/www1/artemis/config/StaticCodeAnalysisConfigurer.java
  src/main/java/de/tum/in/www1/artemis/domain/Feedback.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseGradingService.java
  src/main/java/de/tum/in/www1/artemis/service/StaticCodeAnalysisService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsService.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseGradingServiceTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseResultBambooIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseResultJenkinsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/StaticCodeAnalysisIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/ModelFactory.java
  src/test/java/de/tum/in/www1/artemis/util/ProgrammingExerciseResultTestService.java
Labels: component:Programming, ready for review, server

#2248 Do not update password on group change
  src/main/java/de/tum/in/www1/artemis/service/UserService.java
Labels: component:Programming, jenkins/gitlab, server

#2202 Only log warning when user is missing in VCS
  src/main/java/de/tum/in/www1/artemis/service/connectors/gitlab/GitLabUserDoesNotExistException.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/gitlab/GitLabUserManagementService.java
  src/test/java/de/tum/in/www1/artemis/AccountResourceWithGitLabIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/connector/gitlab/GitlabRequestMockProvider.java
Labels: jenkins/gitlab, ready for review, server

#2262 Use application link name instead of URL in map.
  src/main/java/de/tum/in/www1/artemis/service/connectors/BitbucketBambooUpdateService.java
  src/test/java/de/tum/in/www1/artemis/connector/bamboo/BambooRequestMockProvider.java
Labels: bamboo/bitbucket, component:Programming, server

#2242 Replace template placeholders during import of Programming Exercise.
  src/main/java/de/tum/in/www1/artemis/service/FileService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseImportService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseService.java
  src/test/java/de/tum/in/www1/artemis/service/FileServiceTest.java
  src/test/resources/test-data/repository-export/pom.xml
Labels: component:Programming, ready for review, server

#2172 [Feature] Grading statistics
  src/main/java/de/tum/in/www1/artemis/repository/ResultRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseGradingService.java
  src/main/java/de/tum/in/www1/artemis/service/ResultService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseGradingResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/ProgrammingExerciseGradingStatisticsDTO.java
  src/main/webapp/app/entities/programming-exercise-test-case-statistics.model.ts
  src/main/webapp/app/exercises/programming/manage/grading/charts/category-issues-chart.component.ts
  src/main/webapp/app/exercises/programming/manage/grading/charts/sca-category-distribution-chart.component.ts
  src/main/webapp/app/exercises/programming/manage/grading/charts/test-case-distribution-chart.component.ts
  src/main/webapp/app/exercises/programming/manage/grading/charts/test-case-passed-builds-chart.component.ts
  src/main/webapp/app/exercises/programming/manage/grading/programming-exercise-configure-grading-actions.component.ts
  src/main/webapp/app/exercises/programming/manage/grading/programming-exercise-configure-grading.component.html
  src/main/webapp/app/exercises/programming/manage/grading/programming-exercise-configure-grading.component.ts
  src/main/webapp/app/exercises/programming/manage/grading/programming-exercise-configure-grading.scss
  src/main/webapp/app/exercises/programming/manage/grading/programming-exercise-grading-table-actions.component.ts
  src/main/webapp/app/exercises/programming/manage/grading/programming-exercise-grading.module.ts
  src/main/webapp/app/exercises/programming/manage/services/programming-exercise-grading.service.ts
  src/main/webapp/app/shared/chart/chart.component.ts
  src/main/webapp/app/shared/chart/presets/horizontalStackedBarChartPreset.ts
  src/main/webapp/app/shared/shared-libs.module.ts
  src/main/webapp/app/shared/shared.module.ts
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/programmingExercise.json
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseGradingServiceTest.java
  src/test/javascript/spec/component/programming-exercise/programming-exercise-configure-grading.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-editable-instruction.component.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-programming-exercise-grading.service.ts
Labels: client, component:Programming, feature, ready for review, server

#2267 Fix jasmin test error
  src/test/javascript/spec/helpers/jasmine.jest.fix.ts
  src/test/javascript/spec/helpers/jest.fix.ts
  src/test/javascript/spec/service/course.service.spec.ts
  src/test/javascript/spec/service/exam-participation.service.spec.ts
  src/test/javascript/spec/service/file-upload-exercise.service.spec.ts
  src/test/javascript/spec/service/file-upload-submission.service.spec.ts
  src/test/javascript/spec/service/modeling-exercise.service.spec.ts
  src/test/javascript/spec/service/modeling-submission.service.spec.ts
  src/test/javascript/spec/service/participation.service.spec.ts
  src/test/javascript/spec/service/programming-exercise.service.spec.ts
  src/test/javascript/spec/service/quiz-exercise.service.spec.ts
  src/test/javascript/spec/service/rating.service.spec.ts
  src/test/javascript/spec/service/text-assessments.service.spec.ts
  src/test/javascript/spec/service/text-exercise.service.spec.ts
  src/test/javascript/spec/service/text-submission.service.spec.ts
Labels: chore, client, ready for review, tests

#2223 [Enhancement] Manual Result based on Automatic Result + Enable Result score > 100% for all Exercises types
  src/main/java/de/tum/in/www1/artemis/domain/ProgrammingExercise.java
  src/main/java/de/tum/in/www1/artemis/domain/Result.java
  src/main/java/de/tum/in/www1/artemis/repository/StudentParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/service/AssessmentService.java
  src/main/java/de/tum/in/www1/artemis/service/FileUploadAssessmentService.java
  src/main/java/de/tum/in/www1/artemis/service/GradingCriterionService.java
  src/main/java/de/tum/in/www1/artemis/service/ModelingAssessmentService.java
  src/main/java/de/tum/in/www1/artemis/service/ParticipationService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingAssessmentService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseGradingService.java
  src/main/java/de/tum/in/www1/artemis/service/TextAssessmentService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingAssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/repository/RepositoryProgrammingExerciseParticipationResource.java
  src/main/webapp/app/entities/result.model.ts
  src/main/webapp/app/exercises/file-upload/assess/file-upload-assessment.component.ts
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment-editor/modeling-assessment-editor.component.ts
  src/main/webapp/app/exercises/programming/assess/code-editor-tutor-assessment-container.component.html
  src/main/webapp/app/exercises/programming/assess/code-editor-tutor-assessment-container.component.ts
  src/main/webapp/app/exercises/programming/assess/code-editor-tutor-assessment-inline-feedback.component.ts
  src/main/webapp/app/exercises/programming/assess/manual-result/programming-assessment-manual-result-button.component.ts
  src/main/webapp/app/exercises/programming/participate/code-editor-student-container.component.ts
  src/main/webapp/app/exercises/programming/shared/actions/programming-exercise-trigger-build-button.component.ts
  src/main/webapp/app/exercises/shared/exercise-scores/exercise-scores.component.ts
  src/main/webapp/app/exercises/shared/structured-grading-criterion/structured-grading-criterion.service.ts
  src/main/webapp/app/exercises/text/assess-new/text-assessment-base.component.ts
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.html
  src/test/java/de/tum/in/www1/artemis/ExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/FileUploadAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ModelingAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/RepositoryProgrammingExerciseParticipationResourceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/TextAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseGradingServiceTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseParticipationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/AssessmentServiceTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/java/de/tum/in/www1/artemis/util/ModelFactory.java
  src/test/javascript/spec/component/programming-assessment/programming-assessment-manual-result.component.spec.ts
Labels: client, component:FileUpload, component:Modeling, component:Programming, component:Text, enhancement, ready for review, server

#2276 [Bugfix] Fix possible NPE in dashboard call
  src/main/java/de/tum/in/www1/artemis/domain/ProgrammingExercise.java
Labels: bug, server

#2249 Fix: Text JPlag Export has "null" in Zipname
  src/main/java/de/tum/in/www1/artemis/service/plagiarism/text/TextPlagiarismDetectionService.java
Labels: bug, component:Text, ready for review, server

#2279 [Bugfix]: Course not included on question answer creation
  src/main/java/de/tum/in/www1/artemis/web/rest/StudentQuestionAnswerResource.java
Labels: bug, component:Q&A, java, ready for review, server

#2215 Add new attributes to the courses management dashboard
  src/main/java/de/tum/in/www1/artemis/domain/Course.java
  src/main/resources/config/liquibase/changelog/20201015224743_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/course/manage/course-management.component.html
  src/main/webapp/app/course/manage/course-management.service.ts
  src/main/webapp/app/course/manage/course-update.component.html
  src/main/webapp/app/course/manage/course-update.component.ts
  src/main/webapp/app/entities/course.model.ts
  src/main/webapp/i18n/de/course.json
  src/main/webapp/i18n/en/course.json
  src/test/javascript/spec/service/course.service.spec.ts
Labels: client, database, ready for review, server

#2269 [Enhancement] Number of SCA issues in result string
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseGradingService.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseGradingServiceTest.java
Labels: component:Programming, ready for review, server

#2177 [Enhancement] Result view
  src/main/webapp/app/entities/static-code-analysis-issue.model.ts
  src/main/webapp/app/exercises/programming/assess/code-editor-tutor-assessment-container.component.html
  src/main/webapp/app/exercises/shared/exercise-scores/exercise-scores.component.html
  src/main/webapp/app/exercises/shared/result/result-detail.component.html
  src/main/webapp/app/exercises/shared/result/result-detail.component.ts
  src/main/webapp/app/exercises/shared/result/result-detail.scss
  src/main/webapp/app/exercises/shared/result/result.component.html
  src/main/webapp/app/exercises/shared/result/result.component.ts
  src/main/webapp/app/exercises/shared/result/result.module.ts
  src/main/webapp/app/exercises/shared/result/updating-result.component.html
  src/main/webapp/app/shared/chart/chart.component.ts
  src/main/webapp/app/shared/chart/presets/scoreChartPreset.ts
  src/main/webapp/app/shared/pipes/remove-positive-automatic-feedback.pipe.ts
  src/main/webapp/app/shared/pipes/shared-pipes.module.ts
  src/main/webapp/app/shared/pipes/static-code-analysis-location-text.pipe.ts
  src/main/webapp/i18n/de/result.json
  src/main/webapp/i18n/en/result.json
  src/test/javascript/spec/component/shared/result-detail.component.spec.ts
  src/test/javascript/spec/pipe/static-code-analysis-location-text.pipe.spec.ts
Labels: client, enhancement, ready for review

#2268 Change team mode on exercise import.
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise-update.component.html
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.html
  src/main/webapp/app/exercises/shared/team-config-form-group/team-config-form-group.component.ts
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise-update.component.html
  src/test/java/de/tum/in/www1/artemis/ModelingExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/TextExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseBitbucketBambooIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/ProgrammingExerciseTestService.java
Labels: client, component:Team, ready for review

#2272 update apollon version to 2.2.9
  package.json
  yarn.lock
Labels: ready for review

#2270 [Chore / Fix] Lazy load brace module
  src/main/webapp/app/exercises/programming/assess/programming-assessment.module.ts
  src/main/webapp/app/exercises/shared/result/programming-assessment-manual-result-button.component.ts
  src/main/webapp/app/exercises/shared/result/result.module.ts
  src/main/webapp/app/exercises/shared/team/team.module.ts
  src/main/webapp/app/overview/course-lectures/course-lecture-details.component.html
  src/main/webapp/app/overview/course-lectures/course-lecture-details.component.ts
  src/main/webapp/app/overview/courses-routing.module.ts
  src/main/webapp/app/overview/courses.module.ts
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.html
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.ts
  src/main/webapp/app/overview/student-questions/student-questions.component.ts
  src/main/webapp/app/overview/student-questions/student-questions.module.ts
Labels: chore, client, ready for review

#2284 Fix Score Calculation for Zero Point Programming Exercises
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseGradingService.java
  src/main/webapp/app/exercises/programming/manage/grading/charts/test-case-distribution-chart.component.ts
  src/main/webapp/app/exercises/shared/result/result-detail.component.ts
  src/main/webapp/app/shared/chart/presets/scoreChartPreset.ts
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseGradingServiceTest.java
Labels: bug, client, component:Programming, server

#2157 athene load balancer
  docs/dev/setup.rst
  src/main/java/de/tum/in/www1/artemis/config/Constants.java
  src/main/java/de/tum/in/www1/artemis/config/SecurityConfiguration.java
  src/main/java/de/tum/in/www1/artemis/repository/TextSubmissionRepository.java
  src/main/java/de/tum/in/www1/artemis/service/AutomaticTextAssessmentConflictService.java
  src/main/java/de/tum/in/www1/artemis/service/AutomaticTextFeedbackService.java
  src/main/java/de/tum/in/www1/artemis/service/TextAssessmentQueueService.java
  src/main/java/de/tum/in/www1/artemis/service/TextClusteringService.java
  src/main/java/de/tum/in/www1/artemis/service/TextSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/AtheneService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/RemoteArtemisServiceConnector.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/TextAssessmentConflictService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/TextEmbeddingService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/TextSegmentationService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/TextSimilarityClusteringService.java
  src/main/java/de/tum/in/www1/artemis/service/messaging/InstanceMessageReceiveService.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/AtheneScheduleService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/AtheneResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/AtheneDTO.java
  src/main/resources/config/application-artemis.yml
  src/test/java/de/tum/in/www1/artemis/AbstractSpringIntegrationBambooBitbucketJiraTest.java
  src/test/java/de/tum/in/www1/artemis/AbstractSpringIntegrationJenkinsGitlabTest.java
  src/test/java/de/tum/in/www1/artemis/AtheneIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/connector/athene/AtheneRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/service/AutomaticFeedbackConflictServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/connectors/AtheneServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/connectors/FeedbackConflictServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/connectors/TextSegmentationServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/connectors/TextSimilarityClusteringServiceTest.java
  src/test/java/de/tum/in/www1/artemis/util/AbstractArtemisIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/ModelFactory.java
  src/test/resources/config/application-artemis.yml
Labels: ready for review, server

#2278 Feature: Provide multiple templates for a programming language
  src/main/java/de/tum/in/www1/artemis/domain/ProgrammingExercise.java
  src/main/java/de/tum/in/www1/artemis/domain/enumeration/ProjectType.java
  src/main/java/de/tum/in/www1/artemis/service/FileService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/BambooProgrammingLanguageFeatureService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsProgrammingLanguageFeatureService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/DevProgrammingLanguageFeatureService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingLanguageFeature.java
  src/main/java/de/tum/in/www1/artemis/web/rest/FileResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseResource.java
  src/main/resources/config/liquibase/changelog/20201026115657_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/resources/templates/java/eclipse/exercise/classpath.file
  src/main/resources/templates/java/eclipse/exercise/project.file
  src/main/resources/templates/java/eclipse/exercise/src/${packageNameFolder}/Client.java
  src/main/resources/templates/java/eclipse/readme
  src/main/resources/templates/java/eclipse/solution/classpath.file
  src/main/resources/templates/java/eclipse/solution/project.file
  src/main/resources/templates/java/eclipse/solution/src/${packageNameFolder}/Client.java
  src/main/resources/templates/java/exercise/src/${packageNameFolder}/BubbleSort.java
  src/main/resources/templates/java/exercise/src/${packageNameFolder}/MergeSort.java
  src/main/resources/templates/java/maven/exercise/pom.xml
  src/main/resources/templates/java/maven/exercise/src/${packageNameFolder}/Client.java
  src/main/resources/templates/java/maven/readme
  src/main/resources/templates/java/maven/solution/pom.xml
  src/main/resources/templates/java/maven/solution/src/${packageNameFolder}/Client.java
  src/main/resources/templates/java/maven/test/projectTemplate/pom.xml
  src/main/webapp/app/entities/programming-exercise.model.ts
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.html
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.ts
  src/main/webapp/app/exercises/programming/shared/service/programming-language-feature/programming-language-feature.service.ts
  src/main/webapp/app/shared/http/file.service.ts
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/programmingExercise.json
  src/test/java/de/tum/in/www1/artemis/FileIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseBitbucketBambooIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseGitlabJenkinsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseTemplateIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/ModelFactory.java
  src/test/java/de/tum/in/www1/artemis/util/ProgrammingExerciseTestService.java
  src/test/javascript/spec/component/programming-exercise/programming-exercise-update.component.spec.ts
Labels: client, component:Programming, database, ready for review, server

#2224 Improve processing of multi-line result error messages
  src/main/java/de/tum/in/www1/artemis/service/FeedbackService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/BambooService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsService.java
Labels: component:Programming, enhancement, ready for review, server

#2294 [Bugfix] Fix assessment after complaint for programming exercises
  src/main/java/de/tum/in/www1/artemis/domain/Result.java
  src/main/java/de/tum/in/www1/artemis/service/AssessmentService.java
  src/main/java/de/tum/in/www1/artemis/service/FileUploadAssessmentService.java
  src/main/java/de/tum/in/www1/artemis/service/ModelingAssessmentService.java
  src/main/webapp/app/exercises/shared/result/result-detail.scss
Labels: client, ready for review, server

#2264 add build script in test repository, update setup script
  docs/user/exercises/programming-exercise-setup.rst
  src/main/resources/templates/bamboo/haskell/regularRuns/1_build_and_test_the_code.sh
  src/main/resources/templates/bamboo/haskell/sequentialRuns/1_run_structural_tests.sh
  src/main/resources/templates/bamboo/haskell/sequentialRuns/2_run_behavior_tests.sh
  src/main/resources/templates/haskell/setup_exercise.sh
  src/main/resources/templates/haskell/test/readme.md
  src/main/resources/templates/haskell/test/run.sh
  src/main/resources/templates/jenkins/haskell/config.xml
Labels: component:Programming, enhancement, ready for review, server, template

#2295 Fix missing/wrong info in the course information view
  src/main/webapp/app/course/manage/course-detail.component.html
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/en/global.json
Labels: client, ready for review

#2297 [BugFix] C template random test fix and updated the C-tester to 1.27
  src/main/resources/templates/c/solution/rotX.c
  src/main/resources/templates/c/test/testUtils/AbstractProgramTest.py
  src/main/resources/templates/c/test/testUtils/Tester.py
  src/main/resources/templates/c/test/testUtils/Utils.py
  src/main/resources/templates/c/test/testUtils/junit/Junit.py
Labels: component:Programming, template

#2239 Feature/achievements/storage updated
  src/main/java/de/tum/in/www1/artemis/domain/Achievement.java
  src/main/java/de/tum/in/www1/artemis/domain/Course.java
  src/main/java/de/tum/in/www1/artemis/repository/AchievementRepository.java
  src/main/java/de/tum/in/www1/artemis/service/AchievementService.java
  src/main/java/de/tum/in/www1/artemis/service/ExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/PointBasedAchievementService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgressBasedAchievementService.java
  src/main/java/de/tum/in/www1/artemis/service/TimeBasedAchievementService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/FileUploadExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/QuizExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextExerciseResource.java
  src/main/resources/config/liquibase/changelog/20201024210719_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/test/java/de/tum/in/www1/artemis/AchievementIntegrationTest.java
Labels: database, ready for review, server

#2288 Maintain Feature Overview Text
  src/main/webapp/i18n/de/featureOverview.json
  src/main/webapp/i18n/en/featureOverview.json
Labels: client, ready for review

#2234 Added Tests for QuizExercise Statistics
  src/test/javascript/spec/component/quiz-statistic/quiz-point-statistic.component.spec.ts
  src/test/javascript/spec/component/quiz-statistic/quiz-statistic.component.spec.ts
  src/test/javascript/spec/component/quiz-statistic/quiz-statistics-footer.component.spec.ts
  src/test/javascript/spec/helpers/mocks/mock-router.ts
Labels: chore, client, tests

#2247 Consistent use of DTOs in Jira/Bitbucket/BambooService and improved test coverage in BitbucketService
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/BambooService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/dto/BambooBuildResultNotificationDTO.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bitbucket/BitbucketService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bitbucket/dto/BitbucketBranchProtectionDTO.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bitbucket/dto/BitbucketCloneDTO.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bitbucket/dto/BitbucketProjectDTO.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bitbucket/dto/BitbucketRepositoryDTO.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bitbucket/dto/BitbucketUserDTO.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bitbucket/dto/BitbucketWebHookDTO.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jira/JiraAuthenticationProvider.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jira/dto/JiraUserDTO.java
  src/test/java/de/tum/in/www1/artemis/AbstractSpringIntegrationBambooBitbucketJiraTest.java
  src/test/java/de/tum/in/www1/artemis/AbstractSpringIntegrationJenkinsGitlabTest.java
  src/test/java/de/tum/in/www1/artemis/StudentExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/connector/bitbucket/BitbucketRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/connector/jira/JiraRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/MockDelegate.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseBitbucketBambooIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingSubmissionAndResultIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/ModelFactory.java
  src/test/java/de/tum/in/www1/artemis/util/ProgrammingExerciseTestService.java
Labels: bamboo/bitbucket, chore, component:Programming, ready for review, server, tests

#2277 [Enhancement] Reduce code duplication in for-dashboard call
  src/main/java/de/tum/in/www1/artemis/domain/Exercise.java
  src/main/java/de/tum/in/www1/artemis/domain/ProgrammingExercise.java
Labels: ready for review, server

#2293 [Bugfix] Small fixes for inline feedback component
  src/main/webapp/app/assessment/assessment-detail/assessment-detail.component.ts
  src/main/webapp/app/exercises/programming/assess/code-editor-tutor-assessment-inline-feedback.component.html
  src/main/webapp/app/exercises/programming/assess/code-editor-tutor-assessment-inline-feedback.component.ts
Labels: bug, client, component:Programming, ready for review

#2263 Adjust C tests used in K6 to new C template.
  src/test/k6/ProgrammingExerciseAPIs.js
  src/test/k6/requests/programmingExercise.js
  src/test/k6/resource/constants_c.js
Labels: tests

#2281 Use JUnit 5 for the JVM Tests
  src/main/java/de/tum/in/www1/artemis/service/FeedbackService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/BambooService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/dto/ErrorDTO.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/dto/ErrorOrFailureDTO.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/dto/FailureDTO.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/dto/TestCaseDTO.java
  src/main/resources/templates/java/maven/test/projectTemplate/pom.xml
  src/main/resources/templates/java/test/projectTemplate/pom.xml
  src/main/resources/templates/java/test/testFiles/behavior/BehaviorTest.java
  src/main/resources/templates/java/test/testFiles/behavior/SortingExampleBehaviorTest.java
  src/main/resources/templates/java/test/testFiles/structural/AttributeTest.java
  src/main/resources/templates/java/test/testFiles/structural/ClassTest.java
  src/main/resources/templates/java/test/testFiles/structural/ConstructorTest.java
  src/main/resources/templates/java/test/testFiles/structural/MethodTest.java
  src/main/resources/templates/java/test/testFiles/structural/StructuralTest.java
  src/main/resources/templates/java/test/testutils/ClassNameScanner.java
  src/main/resources/templates/kotlin/test/projectTemplate/pom.xml
  src/main/resources/templates/kotlin/test/testFiles/behavior/BehaviorTest.java
  src/main/resources/templates/kotlin/test/testFiles/behavior/FunctionalTest.java
  src/main/resources/templates/kotlin/test/testFiles/structural/AttributeTest.java
  src/main/resources/templates/kotlin/test/testFiles/structural/ClassTest.java
  src/main/resources/templates/kotlin/test/testFiles/structural/ConstructorTest.java
  src/main/resources/templates/kotlin/test/testFiles/structural/MethodTest.java
  src/main/resources/templates/kotlin/test/testFiles/structural/StructuralTest.java
  src/main/resources/templates/kotlin/test/testutils/ClassNameScanner.java
  src/main/webapp/app/exercises/shared/result/result-detail.component.ts
  src/test/java/de/tum/in/www1/artemis/FeedbackServiceTest.java
  src/test/java/de/tum/in/www1/artemis/util/ModelFactory.java
  src/test/javascript/spec/component/shared/result-detail.component.spec.ts
Labels: client, component:Programming, enhancement, ready for review, server

#2290 [Enhancement] Improve user interface for Manual Assessment of Programming Exercises
  src/main/java/de/tum/in/www1/artemis/domain/Result.java
  src/main/java/de/tum/in/www1/artemis/service/AssessmentService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingAssessmentService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseGradingService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingAssessmentResource.java
  src/main/webapp/app/exercises/programming/assess/code-editor-tutor-assessment-container.component.html
  src/main/webapp/app/exercises/programming/assess/code-editor-tutor-assessment-container.component.ts
  src/main/webapp/app/exercises/programming/assess/repo-export/programming-assessment-repo-export-button.component.ts
  src/main/webapp/i18n/de/error.json
  src/main/webapp/i18n/de/instructorDashboard.json
  src/main/webapp/i18n/en/error.json
  src/main/webapp/i18n/en/instructorDashboard.json
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseGradingServiceTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/javascript/spec/component/programming-assessment/programming-assessment-manual-result.component.spec.ts
Labels: client, component:Programming, enhancement, ready for review, server

#2301 [Bugifx] Properly round the score for programming exercises
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseGradingService.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseGradingServiceTest.java
Labels: bug, component:Programming, priority:critical, ready for review, server
