Repository ls1intum/Artemis, pull requests merged in 2020-06, with the labels that each got.

#1535 Fix assement due date display in Course Tab
  src/main/webapp/app/course/manage/course-management.service.ts
  src/main/webapp/app/shared/pipes/artemis-date.pipe.ts
Labels: client, ready for review

#1532 Created a Word / String Count Service for German/English
  src/main/webapp/app/exercises/text/assess-new/text-assessment-area/text-assessment-area.component.ts
  src/main/webapp/app/exercises/text/participate/string-count.service.ts
  src/main/webapp/app/exercises/text/participate/text-editor.component.html
  src/main/webapp/app/exercises/text/participate/text-editor.component.ts
  src/main/webapp/i18n/de/textExercise.json
  src/main/webapp/i18n/en/textExercise.json
  src/test/javascript/spec/component/text-submission-assessment/text-assessment-area.component.spec.ts
  src/test/javascript/spec/service/string-count.service.spec.ts
Labels: client, component:Text, feature, ready for review

#1505 Bugfix/quiz/negative question score
  src/main/java/de/tum/in/www1/artemis/domain/quiz/QuizQuestion.java
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise-detail.component.ts
  src/main/webapp/i18n/de/quizExercise.json
  src/main/webapp/i18n/en/quizExercise.json
Labels: client, ready for review, server

#1541 Added back arrow as in other exercises
  src/main/webapp/app/exercises/text/assess-new/text-submission-assessment.component.html
  src/main/webapp/app/exercises/text/assess-new/text-submission-assessment.component.ts
Labels: client

#1515 Bugfixes & Refactoring: re-evaluate mc-quiz-questions
  src/main/webapp/app/exercises/quiz/manage/re-evaluate/multiple-choice-question/re-evaluate-multiple-choice-question.component.html
  src/main/webapp/app/exercises/quiz/manage/re-evaluate/multiple-choice-question/re-evaluate-multiple-choice-question.component.ts
  src/main/webapp/app/exercises/quiz/manage/re-evaluate/quiz-re-evaluate.component.html
  src/main/webapp/app/exercises/quiz/manage/re-evaluate/quiz-re-evaluate.component.ts
  src/main/webapp/app/shared/markdown-editor/markdown-editor.component.html
  src/main/webapp/app/shared/markdown-editor/markdown-editor.component.ts
Labels: bug, client, component:MarkdownEditor, component:Quiz, enhancement, ready for review

#1542 Bugfix: update pop-up on Submit
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment-editor/modeling-assessment-editor.component.ts
Labels: client

#1546 Made prepareSubmissionForAssignment dependend on lockSubmission
  src/main/java/de/tum/in/www1/artemis/web/rest/TextSubmissionResource.java
  src/test/java/de/tum/in/www1/artemis/TextAssessmentIntegrationTest.java
Labels: server

#1540 change text exercises student result ui style for unreferenced feedback
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseTestCaseService.java
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment-editor/modeling-assessment-editor.component.ts
  src/main/webapp/app/exercises/modeling/manage/example-modeling/example-modeling-submission.component.html
  src/main/webapp/app/exercises/text/participate/text-editor.component.html
  src/main/webapp/app/exercises/text/participate/text-editor.component.scss
  src/test/java/de/tum/in/www1/artemis/ModelingAssessmentIntegrationTest.java
Labels: client, ready for review, server

#1527 Complaints for Team Exercises
  src/main/java/de/tum/in/www1/artemis/domain/Complaint.java
  src/main/java/de/tum/in/www1/artemis/domain/Course.java
  src/main/java/de/tum/in/www1/artemis/domain/participation/Participant.java
  src/main/java/de/tum/in/www1/artemis/repository/ComplaintRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/TeamRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ComplaintResponseService.java
  src/main/java/de/tum/in/www1/artemis/service/ComplaintService.java
  src/main/java/de/tum/in/www1/artemis/service/TeamService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ComplaintResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ComplaintResponseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/resources/config/liquibase/changelog/20200526172043_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/assessment/assessment-layout/assessment-layout.component.html
  src/main/webapp/app/assessment/assessment-layout/assessment-layout.component.ts
  src/main/webapp/app/complaints/complaint-interactions.component.html
  src/main/webapp/app/complaints/complaint-interactions.component.ts
  src/main/webapp/app/complaints/complaint.service.ts
  src/main/webapp/app/complaints/complaints-for-tutor/complaints-for-tutor.component.ts
  src/main/webapp/app/complaints/complaints.component.html
  src/main/webapp/app/complaints/complaints.component.ts
  src/main/webapp/app/course/manage/course-update.component.html
  src/main/webapp/app/course/manage/course-update.component.ts
  src/main/webapp/app/entities/complaint.model.ts
  src/main/webapp/app/entities/course.model.ts
  src/main/webapp/i18n/de/complaint.json
  src/main/webapp/i18n/de/course.json
  src/main/webapp/i18n/en/complaint.json
  src/main/webapp/i18n/en/course.json
  src/test/java/de/tum/in/www1/artemis/AssessmentComplaintIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/AssessmentTeamComplaintIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/CourseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/java/de/tum/in/www1/artemis/util/ModelFactory.java
  src/test/javascript/spec/component/complaints/complaints.component.spec.ts
  src/test/javascript/spec/component/course/course-update.component.spec.ts
Labels: client, component:Team, feature, ready for review, server

#1433 Feature/tutor course dashboard/show locks
  src/main/java/de/tum/in/www1/artemis/repository/SubmissionRepository.java
  src/main/java/de/tum/in/www1/artemis/service/SubmissionService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/StatsForInstructorDashboardDTO.java
  src/main/webapp/app/assessment/assessment-locks/assessment-locks.component.html
  src/main/webapp/app/assessment/assessment-locks/assessment-locks.component.ts
  src/main/webapp/app/assessment/assessment-locks/assessment-locks.route.ts
  src/main/webapp/app/assessment/assessment-shared.module.ts
  src/main/webapp/app/course/dashboards/instructor-course-dashboard/instructor-course-dashboard.component.html
  src/main/webapp/app/course/dashboards/instructor-course-dashboard/instructor-course-dashboard.component.ts
  src/main/webapp/app/course/dashboards/instructor-course-dashboard/stats-for-dashboard.model.ts
  src/main/webapp/app/course/dashboards/tutor-course-dashboard/tutor-course-dashboard.component.html
  src/main/webapp/app/course/dashboards/tutor-course-dashboard/tutor-course-dashboard.component.ts
  src/main/webapp/app/course/manage/course-management.module.ts
  src/main/webapp/app/course/manage/course-management.service.ts
  src/main/webapp/i18n/de/assessment.json
  src/main/webapp/i18n/de/instructorCourseDashboard.json
  src/main/webapp/i18n/de/tutorCourseDashboard.json
  src/main/webapp/i18n/en/assessment.json
  src/main/webapp/i18n/en/instructorCourseDashboard.json
  src/main/webapp/i18n/en/tutorCourseDashboard.json
  src/test/java/de/tum/in/www1/artemis/CourseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ExerciseIntegrationTest.java
  src/test/javascript/spec/component/assessment-shared/assessment-locks.component.spec.ts
Labels: client, feature, ready for review, server

#1478 Upvote / Downvote questions
  src/main/java/de/tum/in/www1/artemis/domain/StudentQuestion.java
  src/main/java/de/tum/in/www1/artemis/web/rest/StudentQuestionResource.java
  src/main/resources/config/liquibase/changelog/20200517200811_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/entities/student-question.model.ts
  src/main/webapp/app/overview/student-questions/student-question-row/student-question-row.component.ts
  src/main/webapp/app/overview/student-questions/student-question/student-question.component.html
  src/main/webapp/app/overview/student-questions/student-question/student-question.component.ts
  src/main/webapp/app/overview/student-questions/student-question/student-question.service.ts
  src/main/webapp/app/overview/student-questions/student-questions.component.ts
  src/main/webapp/app/overview/student-questions/student-questions.module.ts
  src/main/webapp/app/overview/student-questions/student-questions.scss
  src/main/webapp/app/overview/student-questions/student-votes/student-votes.component.html
  src/main/webapp/app/overview/student-questions/student-votes/student-votes.component.ts
  src/test/java/de/tum/in/www1/artemis/StudentQuestionIntegrationTest.java
  src/test/javascript/spec/component/student-questions/student-question-row.component.spec.ts
  src/test/javascript/spec/component/student-questions/student-votes.component.spec.ts
  src/test/javascript/spec/service/student-question.service.spec.ts
Labels: client, component:Q&A, feature, ready for review, server

#1485 Enhancement/tutor dashboard/support late submissions
  src/main/java/de/tum/in/www1/artemis/domain/Exercise.java
  src/main/java/de/tum/in/www1/artemis/repository/ResultRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/SubmissionRepository.java
  src/main/java/de/tum/in/www1/artemis/service/FileUploadSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/ModelingSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/ResultService.java
  src/main/java/de/tum/in/www1/artemis/service/SubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/TextSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/DueDateStat.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/StatsForInstructorDashboardDTO.java
  src/main/webapp/app/course/dashboards/instructor-course-dashboard/due-date-stat.model.ts
  src/main/webapp/app/course/dashboards/instructor-course-dashboard/instructor-course-dashboard.component.html
  src/main/webapp/app/course/dashboards/instructor-course-dashboard/instructor-course-dashboard.component.ts
  src/main/webapp/app/course/dashboards/instructor-course-dashboard/stats-for-dashboard.model.ts
  src/main/webapp/app/course/dashboards/tutor-course-dashboard/tutor-course-dashboard.component.html
  src/main/webapp/app/course/dashboards/tutor-course-dashboard/tutor-course-dashboard.component.ts
  src/main/webapp/app/entities/course.model.ts
  src/main/webapp/app/entities/exercise.model.ts
  src/main/webapp/app/exercises/shared/dashboards/instructor/instructor-exercise-dashboard.component.html
  src/main/webapp/app/exercises/shared/dashboards/instructor/instructor-exercise-dashboard.component.ts
  src/main/webapp/app/exercises/shared/dashboards/tutor/tutor-exercise-dashboard.component.html
  src/main/webapp/app/exercises/shared/dashboards/tutor/tutor-exercise-dashboard.component.ts
  src/main/webapp/app/shared/dashboards/tutor-participation-graph/tutor-participation-graph.component.html
  src/main/webapp/app/shared/dashboards/tutor-participation-graph/tutor-participation-graph.component.scss
  src/main/webapp/app/shared/dashboards/tutor-participation-graph/tutor-participation-graph.component.ts
  src/main/webapp/i18n/de/tutorCourseDashboard.json
  src/main/webapp/i18n/de/tutorExerciseDashboard.json
  src/main/webapp/i18n/en/tutorCourseDashboard.json
  src/main/webapp/i18n/en/tutorExerciseDashboard.json
  src/test/java/de/tum/in/www1/artemis/AssessmentComplaintIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/CourseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/FileUploadSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/TextSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseServiceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/java/de/tum/in/www1/artemis/util/ModelFactory.java
  src/test/javascript/spec/component/instructor-dashboard/instructor-exercise-dashboard.component.spec.ts
  src/test/javascript/spec/component/overview/course-statistics/course-statistics.component.spec.ts
  src/test/javascript/spec/component/tutor-dashboard/tutor-exercise-dashboard.component.spec.ts
Labels: client, server

#1537 Prevent other tutors from assessing submissions of a tutor's teams
  src/main/java/de/tum/in/www1/artemis/domain/Team.java
  src/main/java/de/tum/in/www1/artemis/service/AssessmentService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TeamResource.java
  src/main/webapp/app/assessment/assessment-header/assessment-header.component.html
  src/main/webapp/app/assessment/assessment-header/assessment-header.component.ts
  src/main/webapp/app/assessment/assessment-layout/assessment-layout.component.html
  src/main/webapp/app/assessment/assessment-layout/assessment-layout.component.ts
  src/main/webapp/app/exercises/file-upload/assess/file-upload-assessment.component.html
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment-editor/modeling-assessment-editor.component.html
  src/main/webapp/app/exercises/text/assess-new/text-submission-assessment.component.html
Labels: bug, client, component:Team, ready for review, server

#1530 Bugfix/quiz/duration selector
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise-detail.component.html
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise-detail.component.ts
  src/test/javascript/spec/component/quiz-exercise/quiz-exercise-detail.component.spec.ts
Labels: client, component:Quiz, ready for review

#1547 update jenkins dockerfile
  README.md
  docs/dev/setup/jenkins-gitlab.rst
  src/main/docker/jenkins/Dockerfile
Labels: ready for review

#1551 Bugfixes: re-evaluate mc-quiz 2
  src/main/webapp/app/exercises/quiz/manage/re-evaluate/multiple-choice-question/re-evaluate-multiple-choice-question.component.ts
  src/main/webapp/app/exercises/quiz/manage/re-evaluate/quiz-re-evaluate.component.ts
  src/main/webapp/app/exercises/quiz/manage/re-evaluate/short-answer-question/re-evaluate-short-answer-question.component.html
Labels: bug, client, component:Quiz, ready for review

#1430 Bugfix/categories/adding category
  src/main/webapp/app/shared/category-selector/category-selector.component.html
  src/main/webapp/app/shared/category-selector/category-selector.component.ts
  src/main/webapp/app/shared/category-selector/category-selector.module.ts
  src/main/webapp/app/shared/category-selector/category-selector.scss
  src/main/webapp/i18n/de/exercise.json
  src/main/webapp/i18n/en/exercise.json
Labels: client, ready for review, work in progress

#1550 Enhancements of artemis date pipe
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-test-schedule-date-picker.component.html
  src/main/webapp/app/overview/course-exercises/course-exercise-row.component.html
  src/main/webapp/app/overview/course-exercises/course-exercises.component.html
  src/main/webapp/app/overview/course-lectures/course-lecture-details.component.html
  src/main/webapp/app/overview/course-lectures/course-lecture-row.component.html
  src/main/webapp/app/overview/course-lectures/course-lectures.component.html
  src/main/webapp/app/shared/pipes/artemis-date.pipe.ts
  src/test/javascript/spec/pipe/artemis-date.pipe.spec.ts
Labels: client, enhancement

#1510 Integration Test for the Java Programming Exercise Template
  build.gradle
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseTemplateIntegrationTest.java
Labels: component:Programming, enhancement, ready for review, server, tests

#1533 Feature/update apollon
  package.json
  yarn.lock
Labels: client, component:Modeling, ready for review

#1451 Feature/#1369 add rating to text exercise
  package.json
  src/main/java/de/tum/in/www1/artemis/domain/Rating.java
  src/main/java/de/tum/in/www1/artemis/repository/RatingRepository.java
  src/main/java/de/tum/in/www1/artemis/service/RatingService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/RatingResource.java
  src/main/resources/config/liquibase/changelog/20200601234000_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/core/auth/account.service.ts
  src/main/webapp/app/entities/rating.model.ts
  src/main/webapp/app/exercises/shared/rating/rating.component.html
  src/main/webapp/app/exercises/shared/rating/rating.component.scss
  src/main/webapp/app/exercises/shared/rating/rating.component.ts
  src/main/webapp/app/exercises/shared/rating/rating.module.ts
  src/main/webapp/app/exercises/shared/rating/rating.service.ts
  src/main/webapp/app/exercises/text/participate/text-editor.component.html
  src/main/webapp/app/exercises/text/participate/text-editor.component.ts
  src/main/webapp/app/exercises/text/participate/text-participation.module.ts
  src/main/webapp/i18n/de/rating.json
  src/main/webapp/i18n/en/rating.json
  src/test/java/de/tum/in/www1/artemis/RatingResourceIntegrationTest.java
  src/test/javascript/spec/component/rating/rating.component.spec.ts
  src/test/javascript/spec/component/text-editor/text-editor.component.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-account.service.ts
  src/test/javascript/spec/helpers/mocks/service/mock-rating.service.ts
  yarn.lock
Labels: client, component:Text, feature, ready for review, server

#1557 hotfix - Relationships are drawn below containers
  package.json
  yarn.lock
Labels: bug, client, component:Modeling, ready for review

#1560 Run / Debug configurations and separated server for development
  .idea/runConfigurations/Artemis_JavaScript_Debug.xml
  .idea/runConfigurations/Artemis__Client_.xml
  .idea/runConfigurations/Artemis__Server_.xml
  .idea/runConfigurations/Artemis__Server__Jenkins___Gitlab_.xml
  .idea/runConfigurations/Artemis__Server__Text_Clustering_.xml
  .idea/runConfigurations/Artemis__Server___Client_.xml
  docs/dev/setup.rst
  gradle/profile_dev.gradle
Labels: enhancement

#1571 Bamboo: Set Build Plan Premission after copy
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseImportService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/BambooBuildPlanService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/BambooService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/ContinuousIntegrationService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsService.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseServiceIntegrationTest.java
Labels: bug, component:Programming, server

#1574 Enhancement/integration tests/gitlab jenkins
  src/main/java/de/tum/in/www1/artemis/config/connector/GitLabApiConfiguration.java
  src/main/java/de/tum/in/www1/artemis/config/connector/JenkinsServerConfiguration.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/gitlab/GitLabService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/gitlab/GitLabUserManagementService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsService.java
  src/test/java/de/tum/in/www1/artemis/AbstractSpringIntegrationJenkinsGitlabTest.java
  src/test/java/de/tum/in/www1/artemis/authentication/InternalAuthenticationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/connector/gitlab/GitlabRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/connector/jenkins/JenkinsRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseGitlabJenkinsIntegrationTest.java
  src/test/resources/config/application-artemis.yml
Labels: ready for review, server

#1599 Duplicate active notification request and deletion of system notifications
  src/main/webapp/app/core/websocket/websocket.service.ts
  src/main/webapp/app/shared/notification/system-notification/system-notification.component.ts
  src/test/javascript/spec/component/shared/notification/system-notification.component.spec.ts
Labels: bug, client

#1489 enabled backspace functionality in text-assessments
  src/main/java/de/tum/in/www1/artemis/service/TextAssessmentService.java
  src/main/webapp/app/exercises/text/assess-new/textblock-feedback-editor/textblock-feedback-editor.component.html
Labels: client, server

#1562 Adjust date assignment logic
  src/main/webapp/app/complaints/complaint.service.ts
  src/main/webapp/app/course/manage/course-management.service.ts
  src/main/webapp/app/exercises/programming/manage/services/programming-exercise.service.ts
  src/main/webapp/app/exercises/shared/exercise/exercise.service.ts
  src/main/webapp/app/exercises/shared/participation/participation.service.ts
  src/main/webapp/app/exercises/shared/result/result.service.ts
  src/main/webapp/app/exercises/shared/result/updating-result.component.ts
  src/main/webapp/app/exercises/shared/submission/submission.service.ts
  src/main/webapp/app/exercises/shared/team/team.service.ts
  src/main/webapp/app/lecture/attachment.service.ts
  src/main/webapp/app/lecture/lecture.service.ts
  src/main/webapp/app/overview/course-score-calculation.service.ts
  src/main/webapp/app/shared/notification/notification.service.ts
  src/main/webapp/app/shared/notification/system-notification/system-notification.service.ts
Labels: client, enhancement, ready for review

#1581 [Exam] Variants: Data model
  src/main/java/de/tum/in/www1/artemis/config/CacheConfiguration.java
  src/main/java/de/tum/in/www1/artemis/domain/Course.java
  src/main/java/de/tum/in/www1/artemis/domain/Exercise.java
  src/main/java/de/tum/in/www1/artemis/domain/User.java
  src/main/java/de/tum/in/www1/artemis/domain/exam/Exam.java
  src/main/java/de/tum/in/www1/artemis/domain/exam/ExerciseGroup.java
  src/main/java/de/tum/in/www1/artemis/domain/exam/StudentExam.java
  src/main/java/de/tum/in/www1/artemis/repository/CourseRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ExamRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ExerciseGroupRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/StudentExamRepository.java
  src/main/java/de/tum/in/www1/artemis/service/CourseService.java
  src/main/java/de/tum/in/www1/artemis/service/ExamService.java
  src/main/java/de/tum/in/www1/artemis/service/ExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/LectureService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExamResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/ExamDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/ExamInstructorDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/ExerciseGroupDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/StudentExamDTO.java
  src/main/resources/config/liquibase/changelog/20200608203410_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/entities/course.model.ts
  src/main/webapp/app/entities/exam.model.ts
  src/main/webapp/app/entities/exercise-group.model.ts
  src/main/webapp/app/entities/student-exam.model.ts
  src/test/java/de/tum/in/www1/artemis/ExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
Labels: client, exam mode, exam mode: exam management, server

#1590 [Exam] Client: Main Component
  src/main/webapp/app/app-routing.module.ts
  src/main/webapp/app/course/manage/course-management.component.html
  src/main/webapp/app/course/manage/course-management.route.ts
  src/main/webapp/app/exam/manage/exam-management.component.html
  src/main/webapp/app/exam/manage/exam-management.component.ts
  src/main/webapp/app/exam/manage/exam-management.module.ts
  src/main/webapp/app/exam/manage/exam-management.route.ts
  src/main/webapp/app/exam/manage/exam-management.scss
  src/main/webapp/app/exam/manage/exam-management.service.ts
  src/main/webapp/app/exam/participate/exam-participation.component.html
  src/main/webapp/app/exam/participate/exam-participation.component.ts
  src/main/webapp/app/exam/participate/exam-participation.module.ts
  src/main/webapp/app/exam/participate/exam-participation.route.ts
  src/main/webapp/app/exam/participate/exam-participation.scss
  src/main/webapp/app/exam/participate/exam-participation.service.ts
  src/main/webapp/app/overview/course-exams/course-exams.component.html
  src/main/webapp/app/overview/course-exams/course-exams.component.ts
  src/main/webapp/app/overview/course-exams/course-exams.scss
  src/main/webapp/app/overview/course-overview.component.html
  src/main/webapp/app/overview/courses-routing.module.ts
  src/main/webapp/app/overview/courses.module.ts
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/de/student-dashboard.json
  src/main/webapp/i18n/en/exam.json
  src/main/webapp/i18n/en/global.json
  src/main/webapp/i18n/en/student-dashboard.json
Labels: client, exam mode, exam mode: client, feature, ready for review

#1585 resize images in markdown preview -> make them responsive
  src/main/webapp/content/scss/global.scss
Labels: client

#1598 bugfix/fix assessment count
  src/main/java/de/tum/in/www1/artemis/repository/ProgrammingExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExerciseResource.java
  src/main/webapp/app/course/dashboards/tutor-course-dashboard/tutor-course-dashboard.component.ts
Labels: client, server

#1606 Fix Java programming exercise package name pattern
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseResource.java
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.ts
  src/main/webapp/i18n/de/exercise.json
  src/main/webapp/i18n/en/exercise.json
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseIntegrationTest.java
Labels: bug, client, component:Programming, ready for review, server

#1531 Feature/reduce websocket subscriptions
  src/main/java/de/tum/in/www1/artemis/config/Constants.java
  src/main/java/de/tum/in/www1/artemis/config/websocket/WebsocketConfiguration.java
  src/main/java/de/tum/in/www1/artemis/domain/participation/StudentParticipation.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/ResultService.java
  src/main/java/de/tum/in/www1/artemis/service/WebsocketMessagingService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingSubmissionResource.java
  src/main/webapp/app/assessment/assessment-instructions/assessment-instructions/assessment-instructions.component.html
  src/main/webapp/app/exercises/modeling/participate/modeling-submission.component.ts
  src/main/webapp/app/exercises/programming/assess/manual-result/programming-assessment-manual-result-button.component.ts
  src/main/webapp/app/exercises/programming/manage/code-editor/code-editor-instructor-container.component.html
  src/main/webapp/app/exercises/programming/manage/code-editor/code-editor-instructor-orion-container.component.html
  src/main/webapp/app/exercises/programming/manage/instructions-editor/programming-exercise-editable-instruction.component.html
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.html
  src/main/webapp/app/exercises/programming/manage/status/programming-exercise-instructor-exercise-status.component.ts
  src/main/webapp/app/exercises/programming/manage/status/programming-exercise-instructor-status.component.ts
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.html
  src/main/webapp/app/exercises/programming/participate/code-editor-student-container.component.html
  src/main/webapp/app/exercises/programming/participate/programming-submission.service.ts
  src/main/webapp/app/exercises/programming/shared/actions/programming-exercise-instructor-trigger-build-button.component.ts
  src/main/webapp/app/exercises/programming/shared/actions/programming-exercise-student-trigger-build-button.component.ts
  src/main/webapp/app/exercises/programming/shared/actions/programming-exercise-trigger-build-button.component.ts
  src/main/webapp/app/exercises/programming/shared/code-editor/build-output/code-editor-build-output.component.ts
  src/main/webapp/app/exercises/programming/shared/code-editor/instructions/code-editor-instructions.component.html
  src/main/webapp/app/exercises/programming/shared/code-editor/service/code-editor-submission.service.ts
  src/main/webapp/app/exercises/programming/shared/instructions-render/programming-exercise-instruction.component.ts
  src/main/webapp/app/exercises/shared/dashboards/tutor/tutor-exercise-dashboard.component.html
  src/main/webapp/app/exercises/shared/result/updating-result.component.ts
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.html
  src/main/webapp/app/overview/participation-websocket.service.ts
  src/main/webapp/app/overview/submission-result-status.component.html
  src/main/webapp/app/shared/orion/orion-build-and-test.service.ts
  src/test/javascript/spec/component/code-editor/code-editor-build-output.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-instruction.component.spec.ts
  src/test/javascript/spec/component/shared/updating-result.component.spec.ts
  src/test/javascript/spec/service/ide-build-and-test.service.spec.ts
  src/test/javascript/spec/service/participation-websocket.service.spec.ts
  src/test/javascript/spec/service/programming-submission.service.spec.ts
  src/test/k6/requests/programmingExercise.js
Labels: client, enhancement, ready for review, server

#1611 Hide "Start new assessment" button in Tutor Exercise Dashboard
  src/main/java/de/tum/in/www1/artemis/web/rest/AssessmentResource.java
  src/main/webapp/app/exercises/file-upload/assess/file-upload-assessment.component.html
  src/main/webapp/app/exercises/file-upload/assess/file-upload-assessment.component.ts
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment-editor/modeling-assessment-editor.component.html
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment-editor/modeling-assessment-editor.component.ts
  src/main/webapp/app/exercises/shared/dashboards/tutor/tutor-exercise-dashboard.component.html
  src/main/webapp/app/exercises/shared/dashboards/tutor/tutor-exercise-dashboard.component.ts
  src/main/webapp/app/exercises/shared/team/team-participation-table/team-participation-table.component.ts
  src/main/webapp/app/exercises/text/assess-new/text-submission-assessment.component.html
  src/main/webapp/app/exercises/text/assess-new/text-submission-assessment.component.ts
  src/main/webapp/i18n/de/tutorExerciseDashboard.json
  src/main/webapp/i18n/en/tutorExerciseDashboard.json
Labels: bug, client, component:Team, server

#1641 [Exam] Exam management: Server routes with unified access check
  src/main/java/de/tum/in/www1/artemis/config/Constants.java
  src/main/java/de/tum/in/www1/artemis/repository/ExamRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ExerciseGroupRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/StudentExamRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ExamAccessService.java
  src/main/java/de/tum/in/www1/artemis/service/ExamService.java
  src/main/java/de/tum/in/www1/artemis/service/ExerciseGroupService.java
  src/main/java/de/tum/in/www1/artemis/service/StudentExamService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExamResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExerciseGroupResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/StudentExamResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/util/ResponseUtil.java
  src/test/java/de/tum/in/www1/artemis/ExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ExerciseGroupIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/StudentExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/ExamAccessServiceTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/java/de/tum/in/www1/artemis/util/ModelFactory.java
Labels: exam mode, exam mode: exam management, server

#1650 Add Hazelcast indicator translation.
  src/main/webapp/i18n/de/health.json
  src/main/webapp/i18n/en/health.json
Labels: client

#1640 [Exam] Implemented Creating and Updating Functionality
  src/main/webapp/app/entities/exam.model.ts
  src/main/webapp/app/exam/manage/exam-management.module.ts
  src/main/webapp/app/exam/manage/exam-management.route.ts
  src/main/webapp/app/exam/manage/exams/exam-update.component.html
  src/main/webapp/app/exam/manage/exams/exam-update.component.ts
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/en/exam.json
  src/test/javascript/spec/component/exam/exam-update.component.spec.ts
Labels: client, exam mode, exam mode: exam management, ready for review, server

#1648 Fix #1637: Complaints for Text Exercises with new Text Blocks cannot be accepted
  src/main/java/de/tum/in/www1/artemis/repository/TextSubmissionRepository.java
  src/main/java/de/tum/in/www1/artemis/service/TextSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextAssessmentResource.java
  src/test/java/de/tum/in/www1/artemis/TextAssessmentIntegrationTest.java
Labels: bug, component:Text, server

#1655 Adjust Athene ports in setup documentation
  docs/dev/setup.rst
Labels: documentation, ready for review

#1642 Feature/exam mode/exam management
  src/main/java/de/tum/in/www1/artemis/config/Constants.java
  src/main/java/de/tum/in/www1/artemis/service/ExamService.java
  src/main/webapp/app/course/manage/course-management.component.ts
  src/main/webapp/app/exam/manage/exam-management.component.html
  src/main/webapp/app/exam/manage/exam-management.component.ts
  src/main/webapp/app/exam/manage/exam-management.module.ts
  src/main/webapp/app/exam/manage/exam-management.service.ts
  src/main/webapp/app/shared/pipes/artemis-duration.pipe.ts
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/en/exam.json
  src/test/java/de/tum/in/www1/artemis/ExamIntegrationTest.java
  src/test/javascript/spec/component/exam/manage/exam-management.component.spec.ts
Labels: client, exam mode: exam management, ready for review, server

#1633 TextExercise creation/update for exam-mode
  src/main/java/de/tum/in/www1/artemis/domain/Exercise.java
  src/main/java/de/tum/in/www1/artemis/service/CourseService.java
  src/main/java/de/tum/in/www1/artemis/service/ExerciseGroupService.java
  src/main/java/de/tum/in/www1/artemis/service/ExerciseService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextExerciseResource.java
  src/main/webapp/app/entities/exercise.model.ts
  src/main/webapp/app/entities/text-exercise.model.ts
  src/main/webapp/app/exam/manage/exam-management.module.ts
  src/main/webapp/app/exam/manage/exam-management.route.ts
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise-update.component.html
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise-update.component.ts
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise.route.ts
  src/test/java/de/tum/in/www1/artemis/ExerciseGroupIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/TextExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/ExamAccessServiceTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/java/de/tum/in/www1/artemis/util/ModelFactory.java
  src/test/javascript/spec/component/text-exercise/text-exercise-update.component.spec.ts
Labels: client, component:Text, exam mode, exam mode: exam management, server

#1652 Server side implementation to register students in exams
  src/main/java/de/tum/in/www1/artemis/config/Constants.java
  src/main/java/de/tum/in/www1/artemis/repository/ExamRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/UserRepository.java
  src/main/java/de/tum/in/www1/artemis/security/ArtemisAuthenticationProvider.java
  src/main/java/de/tum/in/www1/artemis/security/ArtemisAuthenticationProviderImpl.java
  src/main/java/de/tum/in/www1/artemis/security/ArtemisInternalAuthenticationProvider.java
  src/main/java/de/tum/in/www1/artemis/service/ExamService.java
  src/main/java/de/tum/in/www1/artemis/service/UserService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/LtiService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jira/JiraAuthenticationProvider.java
  src/main/java/de/tum/in/www1/artemis/service/dto/StudentDTO.java
  src/main/java/de/tum/in/www1/artemis/service/ldap/LdapUserDto.java
  src/main/java/de/tum/in/www1/artemis/service/ldap/LdapUserService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExamResource.java
  src/test/java/de/tum/in/www1/artemis/AbstractSpringIntegrationBambooBitbucketJiraTest.java
  src/test/java/de/tum/in/www1/artemis/CourseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/authentication/JiraAuthenticationIntegationTest.java
  src/test/java/de/tum/in/www1/artemis/authentication/UserIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/connector/jira/JiraRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/util/RequestUtilService.java
Labels: exam mode, exam mode: exam management, ready for review, server

#1643 [Exam] Exam management: Exercise groups
  src/main/java/de/tum/in/www1/artemis/domain/Exercise.java
  src/main/java/de/tum/in/www1/artemis/repository/ExerciseGroupRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ExerciseGroupService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExerciseGroupResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextExerciseResource.java
  src/main/webapp/app/entities/exercise-group.model.ts
  src/main/webapp/app/exam/manage/exam-management.component.html
  src/main/webapp/app/exam/manage/exam-management.module.ts
  src/main/webapp/app/exam/manage/exam-management.route.ts
  src/main/webapp/app/exam/manage/exercise-groups/exercise-group-update.component.html
  src/main/webapp/app/exam/manage/exercise-groups/exercise-group-update.component.ts
  src/main/webapp/app/exam/manage/exercise-groups/exercise-groups.component.html
  src/main/webapp/app/exam/manage/exercise-groups/exercise-groups.component.ts
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise-row-buttons.component.html
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise-row-buttons.component.ts
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise.component.html
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise.component.ts
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise.module.ts
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/en/exam.json
  src/test/java/de/tum/in/www1/artemis/ExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ExerciseGroupIntegrationTest.java
Labels: client, exam mode, exam mode: exam management, server

#1639 [Exam] Student exam overview
  src/main/java/de/tum/in/www1/artemis/web/rest/ExamResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExerciseGroupResource.java
  src/main/webapp/app/exam/manage/exam-management.component.html
  src/main/webapp/app/exam/manage/exam-management.module.ts
  src/main/webapp/app/exam/manage/exam-management.route.ts
  src/main/webapp/app/exam/manage/student-exams/student-exams.component.html
  src/main/webapp/app/exam/manage/student-exams/student-exams.component.ts
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/en/exam.json
Labels: client, exam mode, exam mode: exam management, ready for review, server

#1659 Fix Referential Equality Comparison (of Boolean)
  src/main/java/de/tum/in/www1/artemis/domain/Exercise.java
  src/main/java/de/tum/in/www1/artemis/domain/quiz/QuizExercise.java
  src/main/java/de/tum/in/www1/artemis/domain/quiz/QuizPointStatistic.java
  src/main/java/de/tum/in/www1/artemis/domain/quiz/ShortAnswerQuestionStatistic.java
  src/main/java/de/tum/in/www1/artemis/domain/quiz/scoring/ScoringStrategyShortAnswerUtil.java
  src/main/java/de/tum/in/www1/artemis/service/ExampleSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/ParticipationService.java
  src/main/java/de/tum/in/www1/artemis/service/QuizStatisticService.java
  src/main/java/de/tum/in/www1/artemis/service/ResultService.java
  src/main/java/de/tum/in/www1/artemis/service/TextSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/TutorParticipationService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/BambooService.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/AutomaticBuildPlanCleanupService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
Labels: bug, exam mode, ready for review, server

#1628 Exam mode/client/student overview
  src/main/webapp/app/app-routing.module.ts
  src/main/webapp/app/exam/participate/end/exam-participation-end.component.html
  src/main/webapp/app/exam/participate/end/exam-participation-end.component.ts
  src/main/webapp/app/exam/participate/exam-participation.component.html
  src/main/webapp/app/exam/participate/exam-participation.component.ts
  src/main/webapp/app/exam/participate/exam-participation.module.ts
  src/main/webapp/app/exam/participate/exam-participation.service.ts
  src/main/webapp/app/exam/participate/start/exam-participation-start.component.html
  src/main/webapp/app/exam/participate/start/exam-participation-start.component.ts
  src/main/webapp/app/exam/participate/summary/exam-participation-summary.component.html
  src/main/webapp/app/exam/participate/summary/exam-participation-summary.component.ts
  src/main/webapp/app/overview/course-exams/course-exam-detail/course-exam-detail.component.html
  src/main/webapp/app/overview/course-exams/course-exam-detail/course-exam-detail.component.ts
  src/main/webapp/app/overview/course-exams/course-exams.component.html
  src/main/webapp/app/overview/course-exams/course-exams.component.ts
  src/main/webapp/app/overview/course-overview.component.html
  src/main/webapp/app/overview/course-overview.component.ts
  src/main/webapp/app/overview/courses.module.ts
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/en/exam.json
  src/test/javascript/spec/component/overview/course-exams/course-exam-detail.component.spec.ts
  src/test/javascript/spec/component/overview/course-exams/course-exams.component.spec.ts
Labels: client, exam mode, exam mode: client, ready for review

#1612 Hide Help Button in Fullscreen Mode
  src/main/webapp/app/exercises/modeling/participate/modeling-submission.component.html
  src/main/webapp/app/exercises/modeling/shared/modeling-editor.component.html
  src/main/webapp/app/exercises/modeling/shared/modeling-editor.component.ts
Labels: client, component:Modeling

#1651 [Exam] Start and Final Page Component
  src/main/webapp/app/exam/participate/end/exam-participation-end.component.html
  src/main/webapp/app/exam/participate/end/exam-participation-end.component.ts
  src/main/webapp/app/exam/participate/exam-cover/exam-participation-cover.component.html
  src/main/webapp/app/exam/participate/exam-cover/exam-participation-cover.component.ts
  src/main/webapp/app/exam/participate/exam-participation.component.html
  src/main/webapp/app/exam/participate/exam-participation.module.ts
  src/main/webapp/app/exam/participate/start/exam-participation-start.component.html
  src/main/webapp/app/exam/participate/start/exam-participation-start.component.ts
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/en/exam.json
Labels: client, exam mode, exam mode: client, ready for review

#1603 Feature/update apollon
  package.json
  yarn.lock
Labels: component:Modeling

#1656 [Exam] add connection status footer to participation view
  src/main/webapp/app/exam/participate/exam-participation.component.html
  src/main/webapp/app/exam/participate/exam-participation.component.ts
  src/main/webapp/app/exam/participate/exam-participation.module.ts
  src/main/webapp/app/exam/participate/exam-participation.scss
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/en/exam.json
Labels: client, exam mode, exam mode: client, ready for review

#1664 [Exam] Management: Follow-up fixes
  src/main/java/de/tum/in/www1/artemis/domain/exam/Exam.java
  src/main/java/de/tum/in/www1/artemis/repository/ExamRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ExamService.java
  src/main/java/de/tum/in/www1/artemis/service/StudentExamService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExamResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExerciseGroupResource.java
  src/main/webapp/app/exam/manage/exam-management.component.html
  src/main/webapp/i18n/de/course.json
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/en/course.json
  src/main/webapp/i18n/en/exam.json
  src/test/java/de/tum/in/www1/artemis/ExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ExerciseGroupIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/ExamAccessServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/ExamServiceTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/java/de/tum/in/www1/artemis/util/ModelFactory.java
Labels: client, exam mode, exam mode: exam management, ready for review, server

#1549 Feature/overview/loading icon for views
  src/main/webapp/app/app.module.ts
  src/main/webapp/app/complaints/complaints-for-tutor/complaints-for-tutor.component.html
  src/main/webapp/app/complaints/complaints.component.html
  src/main/webapp/app/core/core.module.ts
  src/main/webapp/app/course/dashboards/instructor-course-dashboard/instructor-course-dashboard.component.html
  src/main/webapp/app/course/manage/course-management-exercises.component.html
  src/main/webapp/app/course/manage/course-management.component.html
  src/main/webapp/app/exercises/file-upload/assess/file-upload-assessment-dashboard.component.html
  src/main/webapp/app/exercises/text/assess/text-assessment-dashboard/text-assessment-dashboard.component.html
  src/main/webapp/app/overview/course-registration-selector/course-registration-selector.component.html
  src/main/webapp/app/shared/layouts/navbar/navbar.component.html
  src/main/webapp/app/shared/layouts/notification-sidebar/notification-sidebar.component.html
  src/main/webapp/app/shared/notification/connection-notification/connection-notification.component.html
  src/main/webapp/app/shared/notification/connection-notification/connection-notification.component.ts
  src/main/webapp/app/shared/notification/connection-notification/connection-notification.model.ts
  src/main/webapp/app/shared/notification/connection-notification/connection-notification.module.ts
  src/main/webapp/app/shared/notification/loading-notification/loading-notification.component.ts
  src/main/webapp/app/shared/notification/loading-notification/loading-notification.interceptor.ts
  src/main/webapp/app/shared/notification/loading-notification/loading-notification.service.ts
  src/test/javascript/spec/component/overview/overview.component.spec.ts
Labels: client, ready for review

#1593 feature/SSH clone
  src/main/java/de/tum/in/www1/artemis/config/Constants.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bitbucket/BitbucketSshCloneLinkInfoContributor.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/gitlab/GitlabSshCloneLinkInfoContributor.java
  src/main/resources/config/application-artemis.yml
  src/main/webapp/app/overview/exercise-details/exercise-details-student-actions.component.html
  src/main/webapp/app/overview/exercise-details/exercise-details-student-actions.component.ts
  src/main/webapp/app/shared/layouts/profiles/profile-info.model.ts
  src/main/webapp/app/shared/layouts/profiles/profile.service.ts
  src/main/webapp/i18n/de/exercise-actions.json
  src/main/webapp/i18n/en/exercise-actions.json
  src/test/javascript/spec/component/overview/exercise-details/exercise-details-student-actions.component.spec.ts
Labels: client, component:Programming, server

#1667 [Exam] Exam Management: Students
  package.json
  src/main/java/de/tum/in/www1/artemis/web/rest/ExamResource.java
  src/main/webapp/app/entities/student-dto.model.ts
  src/main/webapp/app/exam/manage/exam-management.module.ts
  src/main/webapp/app/exam/manage/exam-management.route.ts
  src/main/webapp/app/exam/manage/exam-management.service.ts
  src/main/webapp/app/exam/manage/students/exam-students.component.html
  src/main/webapp/app/exam/manage/students/exam-students.component.scss
  src/main/webapp/app/exam/manage/students/exam-students.component.ts
  src/main/webapp/app/exam/manage/students/students-exam-import-dialog/students-exam-import-button.component.ts
  src/main/webapp/app/exam/manage/students/students-exam-import-dialog/students-exam-import-dialog.component.html
  src/main/webapp/app/exam/manage/students/students-exam-import-dialog/students-exam-import-dialog.component.scss
  src/main/webapp/app/exam/manage/students/students-exam-import-dialog/students-exam-import-dialog.component.ts
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/en/exam.json
  src/main/webapp/i18n/en/global.json
Labels: client, exam mode, exam mode: exam management, ready for review, server

#1669 [Exam] Server route for getting a student exam and StudentExamAccessService
  src/main/java/de/tum/in/www1/artemis/repository/ExamRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/StudentExamRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ExamAccessService.java
  src/main/java/de/tum/in/www1/artemis/service/StudentExamAccessService.java
  src/main/java/de/tum/in/www1/artemis/service/StudentExamService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/StudentExamResource.java
  src/test/java/de/tum/in/www1/artemis/StudentExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/StudentExamAccessServiceTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
Labels: exam mode, exam mode: client, server

#1658 [Exam] File upload exercises for exam mode
  src/main/java/de/tum/in/www1/artemis/service/CourseService.java
  src/main/java/de/tum/in/www1/artemis/service/ExerciseGroupService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/FileUploadExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextExerciseResource.java
  src/main/webapp/app/course/manage/course-management.component.ts
  src/main/webapp/app/entities/file-upload-exercise.model.ts
  src/main/webapp/app/exam/manage/exam-management.module.ts
  src/main/webapp/app/exam/manage/exam-management.route.ts
  src/main/webapp/app/exam/manage/exercise-groups/exercise-groups.component.html
  src/main/webapp/app/exercises/file-upload/manage/file-upload-exercise-detail.component.html
  src/main/webapp/app/exercises/file-upload/manage/file-upload-exercise-detail.component.ts
  src/main/webapp/app/exercises/file-upload/manage/file-upload-exercise-management.route.ts
  src/main/webapp/app/exercises/file-upload/manage/file-upload-exercise-update.component.html
  src/main/webapp/app/exercises/file-upload/manage/file-upload-exercise-update.component.ts
  src/main/webapp/app/exercises/shared/exercise-row-buttons/exercise-row-buttons.component.html
  src/main/webapp/app/exercises/shared/exercise-row-buttons/exercise-row-buttons.component.ts
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise-detail.component.html
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise-detail.component.ts
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise-row-buttons.component.ts
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise.component.html
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise.module.ts
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/en/exam.json
  src/test/java/de/tum/in/www1/artemis/FileUploadExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/TextExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/java/de/tum/in/www1/artemis/util/ModelFactory.java
  src/test/javascript/spec/component/file-upload-exercise/file-upload-exercise-detail.component.spec.ts
  src/test/javascript/spec/component/file-upload-exercise/file-upload-exercise-update.component.spec.ts
  src/test/javascript/spec/component/text-exercise/text-exercise-detail.component.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-file-upload-exercise.service.ts
Labels: client, component:FileUpload, exam mode, exam mode: exam management, ready for review, server

#1638 Feature: Add broker for websocket messages
  build.gradle
  gradle.properties
  src/main/docker/activemq.yml
  src/main/java/de/tum/in/www1/artemis/config/websocket/WebsocketConfiguration.java
  src/main/java/de/tum/in/www1/artemis/validation/InetSocketAddressValidator.java
  src/main/java/de/tum/in/www1/artemis/web/websocket/team/ParticipationTeamWebsocketService.java
  src/main/resources/config/application.yml
  src/main/webapp/app/core/websocket/websocket.service.ts
  src/main/webapp/app/exercises/programming/shared/code-editor/service/code-editor-submission.service.ts
  src/test/java/de/tum/in/www1/artemis/InetSocketAddressValidatorTest.java
  src/test/k6/requests/programmingExercise.js
  src/test/k6/requests/quiz.js
  src/test/k6/util/utils.js
  src/test/resources/config/application.yml
Labels: client, ready for review, server

#1678 [Exam] Generate student exams
  src/main/java/de/tum/in/www1/artemis/repository/ExamRepository.java
  src/main/java/de/tum/in/www1/artemis/service/CourseService.java
  src/main/java/de/tum/in/www1/artemis/service/ExamService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExamResource.java
  src/main/webapp/app/exam/manage/exam-management.service.ts
  src/main/webapp/app/exam/manage/student-exams/student-exams.component.ts
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/en/exam.json
  src/test/java/de/tum/in/www1/artemis/ExamIntegrationTest.java
Labels: client, exam mode, exam mode: exam management, ready for review, server

#1683 [Exam] Get studentExam for exam conduction follow-up
  src/main/java/de/tum/in/www1/artemis/repository/StudentExamRepository.java
  src/main/java/de/tum/in/www1/artemis/service/StudentExamAccessService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/StudentExamResource.java
  src/test/java/de/tum/in/www1/artemis/StudentExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/StudentExamAccessServiceTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
Labels: exam mode, exam mode: client, ready for review, server

#1665 [Exam] Quiz component for exams
  src/main/webapp/app/exam/participate/exam-participation.module.ts
  src/main/webapp/app/exam/participate/exercises/quiz/quiz-exam-participation.component.html
  src/main/webapp/app/exam/participate/exercises/quiz/quiz-exam-participation.component.scss
  src/main/webapp/app/exam/participate/exercises/quiz/quiz-exam-participation.component.ts
Labels: client, component:Quiz, exam mode, exam mode: client, ready for review

#1677 [Exam] student exam detail
  src/main/java/de/tum/in/www1/artemis/repository/StudentExamRepository.java
  src/main/java/de/tum/in/www1/artemis/service/StudentExamService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/StudentExamResource.java
  src/main/webapp/app/entities/student-exam.model.ts
  src/main/webapp/app/exam/manage/student-exams/student-exam-detail.component.html
  src/main/webapp/app/exam/manage/student-exams/student-exam-detail.component.ts
  src/main/webapp/app/exam/manage/student-exams/student-exams.component.ts
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/en/exam.json
Labels: client, exam mode, exam mode: exam management, ready for review, server

#1690 Fix import of team programming exercises
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseImportService.java
Labels: component:Programming, component:Team, ready for review, server

#1604 Chore/content version header
  src/main/java/de/tum/in/www1/artemis/config/ApiVersionFilter.java
  src/main/webapp/app/app.constants.ts
  src/main/webapp/app/core/core.module.ts
  src/main/webapp/app/core/interceptor/artemis-version.interceptor.ts
  src/main/webapp/i18n/de/alert.json
  src/main/webapp/i18n/en/alert.json
  src/test/java/de/tum/in/www1/artemis/ContentVersionIntegrationTest.java
  src/test/resources/config/application.yml
Labels: chore, client, server

#1684 Generate participations for all exercises in student exams
  src/main/java/de/tum/in/www1/artemis/service/ExamService.java
  src/main/java/de/tum/in/www1/artemis/service/StudentExamService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExamResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/StudentExamResource.java
  src/main/webapp/app/exam/manage/exam-management.service.ts
  src/main/webapp/app/exam/manage/student-exams/student-exams.component.html
  src/main/webapp/app/exam/manage/student-exams/student-exams.component.ts
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/en/exam.json
  src/test/java/de/tum/in/www1/artemis/ExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/ModelFactory.java
Labels: client, exam mode, exam mode: exam management, ready for review, server

#1673 Exam exercise submission exam components (text & modeling)
  src/main/webapp/app/exam/participate/exam-participation.module.ts
  src/main/webapp/app/exam/participate/exercises/modeling/modeling-submission-exam.component.html
  src/main/webapp/app/exam/participate/exercises/modeling/modeling-submission-exam.component.scss
  src/main/webapp/app/exam/participate/exercises/modeling/modeling-submission-exam.component.ts
  src/main/webapp/app/exam/participate/exercises/text/text-editor-exam.component.html
  src/main/webapp/app/exam/participate/exercises/text/text-editor-exam.component.scss
  src/main/webapp/app/exam/participate/exercises/text/text-editor-exam.component.ts
Labels: client, exam mode, exam mode: client, ready for review

#1679 [Exam] Programming exercise management
  src/main/java/de/tum/in/www1/artemis/config/websocket/WebsocketConfiguration.java
  src/main/java/de/tum/in/www1/artemis/domain/Exercise.java
  src/main/java/de/tum/in/www1/artemis/domain/ProgrammingExercise.java
  src/main/java/de/tum/in/www1/artemis/domain/exam/ExerciseGroup.java
  src/main/java/de/tum/in/www1/artemis/repository/ProgrammingExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseImportService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseParticipationService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/BambooBuildPlanService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/BitbucketService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExerciseHintResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseTestCaseResource.java
  src/main/webapp/app/exam/manage/exam-management.module.ts
  src/main/webapp/app/exam/manage/exam-management.route.ts
  src/main/webapp/app/exam/manage/exercise-groups/exercise-groups.component.html
  src/main/webapp/app/exam/manage/exercise-groups/exercise-groups.component.ts
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.html
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.ts
  src/main/webapp/app/exercises/programming/manage/programming-exercise-import.component.html
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-plans-and-repositories-preview.component.html
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-plans-and-repositories-preview.component.ts
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.html
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.ts
  src/main/webapp/app/exercises/shared/exercise-row-buttons/exercise-row-buttons.component.html
  src/main/webapp/app/exercises/shared/exercise-row-buttons/exercise-row-buttons.component.ts
  src/main/webapp/app/shared/pipes/exercise-course-title.pipe.ts
  src/main/webapp/app/shared/pipes/shared-pipes.module.ts
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/de/exercise.json
  src/main/webapp/i18n/en/exam.json
  src/main/webapp/i18n/en/exercise.json
  src/test/java/de/tum/in/www1/artemis/connector/bamboo/BambooRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/connector/bitbucket/BitbucketRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseBitbucketBambooIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/java/de/tum/in/www1/artemis/util/ModelFactory.java
  src/test/javascript/spec/component/programming-exercise/programming-exercise-detail.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-import.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-update.component.spec.ts
Labels: client, component:Programming, exam mode, exam mode: exam management, server

#1680 Allow instructors to enable / disable the offline IDE usage in programming exercises
  src/main/java/de/tum/in/www1/artemis/domain/ProgrammingExercise.java
  src/main/java/de/tum/in/www1/artemis/service/ParticipationService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/BitbucketService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/VersionControlService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/gitlab/GitLabService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseResource.java
  src/main/resources/config/liquibase/changelog/20200618141500_changelog.xml
  src/main/resources/config/liquibase/changelog/20200621141500_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/entities/programming-exercise.model.ts
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.html
  src/main/webapp/app/exercises/programming/manage/programming-exercise.component.html
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.html
  src/main/webapp/app/overview/exercise-details/exercise-details-student-actions.component.html
  src/main/webapp/app/overview/exercise-details/exercise-details-student-actions.component.ts
  src/main/webapp/app/overview/exercise-details/programming-exercise-student-ide-actions.component.html
  src/main/webapp/app/overview/exercise-details/programming-exercise-student-ide-actions.component.ts
  src/main/webapp/i18n/de/exercise-actions.json
  src/main/webapp/i18n/de/exercise.json
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/exercise.json
  src/main/webapp/i18n/en/programmingExercise.json
  src/test/java/de/tum/in/www1/artemis/util/ModelFactory.java
  src/test/javascript/spec/component/overview/exercise-details/exercise-details-student-actions.component.spec.ts
Labels: client, component:Programming, ready for review, server

#1685 Allow instructors to enable / disable automatic assessment proposals
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseExportService.java
  src/main/webapp/app/entities/modeling-exercise.model.ts
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment-editor/modeling-assessment-dashboard.component.html
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment-editor/modeling-assessment-dashboard.component.ts
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise-update.component.html
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise-update.component.ts
  src/main/webapp/app/exercises/modeling/manage/modeling-statistics/modeling-statistics.component.ts
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise-update.component.html
  src/main/webapp/i18n/de/textExercise.json
  src/main/webapp/i18n/en/textExercise.json
  src/test/gatling/user-files/simulations/ConflictSimulation.scala
Labels: client, component:Modeling, ready for review, server

#1686 [EXAM] Quiz exercise management
  src/main/java/de/tum/in/www1/artemis/domain/Exercise.java
  src/main/java/de/tum/in/www1/artemis/service/QuizExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/QuizScheduleService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/QuizExerciseResource.java
  src/main/webapp/app/entities/quiz/quiz-exercise.model.ts
  src/main/webapp/app/exam/manage/exam-management.module.ts
  src/main/webapp/app/exam/manage/exam-management.route.ts
  src/main/webapp/app/exam/manage/exercise-groups/exercise-groups.component.html
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise-detail.component.html
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise-detail.component.ts
  src/main/webapp/app/exercises/quiz/participate/quiz-participation.component.html
  src/main/webapp/app/exercises/shared/exercise-row-buttons/exercise-row-buttons.component.html
  src/main/webapp/app/exercises/shared/exercise-row-buttons/exercise-row-buttons.component.ts
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/en/exam.json
  src/test/java/de/tum/in/www1/artemis/FileUploadExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/QuizExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/TextExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/java/de/tum/in/www1/artemis/util/ModelFactory.java
Labels: client, component:Quiz, exam mode, exam mode: exam management, ready for review, server

#1653 [Exam] Enhancement/exam/exercise layout
  src/main/webapp/app/exercises/file-upload/participate/file-upload-submission.component.html
  src/main/webapp/app/exercises/modeling/participate/modeling-submission.component.html
  src/main/webapp/app/exercises/text/participate/text-editor.component.html
  src/main/webapp/app/exercises/text/participate/text-editor.component.scss
  src/main/webapp/app/shared/resizeable-container/resizeable-container.component.html
  src/main/webapp/app/shared/resizeable-container/resizeable-container.component.scss
  src/main/webapp/app/shared/resizeable-container/resizeable-container.component.ts
Labels: client, exam mode, exam mode: client, ready for review

#1688 [Exam] Client: Fingerprint & Instance ID
  package.json
  src/main/webapp/app/core/core.module.ts
  src/main/webapp/app/core/interceptor/auth.interceptor.ts
  src/main/webapp/app/core/interceptor/browser-fingerprint.interceptor.service.ts
  src/main/webapp/app/core/interceptor/interceptor.util.ts
  src/main/webapp/app/shared/fingerprint/browser-fingerprint.service.ts
  src/main/webapp/app/shared/fingerprint/fingerprint2.ts
  yarn.lock
Labels: client, exam mode

#1595 Feature/grading instructions/sgi feedback reference
  src/main/java/de/tum/in/www1/artemis/domain/Feedback.java
  src/main/java/de/tum/in/www1/artemis/domain/GradingCriterion.java
  src/main/java/de/tum/in/www1/artemis/domain/GradingInstruction.java
  src/main/java/de/tum/in/www1/artemis/domain/Result.java
  src/main/java/de/tum/in/www1/artemis/service/AssessmentService.java
  src/main/java/de/tum/in/www1/artemis/service/FileUploadAssessmentService.java
  src/main/java/de/tum/in/www1/artemis/service/ModelingAssessmentService.java
  src/main/resources/config/liquibase/changelog/20200526120801_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/assessment/assessment-detail/assessment-detail.component.html
  src/main/webapp/app/assessment/assessment-detail/assessment-detail.component.ts
  src/main/webapp/app/entities/feedback.model.ts
  src/main/webapp/app/exercises/file-upload/assess/file-upload-assessment.component.ts
  src/main/webapp/app/exercises/shared/structured-grading-criterion/structured-grading-criterion.service.ts
  src/main/webapp/app/exercises/text/assess-new/text-submission-assessment.component.ts
  src/main/webapp/app/exercises/text/assess-new/textblock-assessment-card/textblock-assessment-card.component.html
  src/main/webapp/app/exercises/text/assess-new/textblock-assessment-card/textblock-assessment-card.component.ts
  src/main/webapp/app/exercises/text/assess-new/textblock-feedback-editor/textblock-feedback-editor.component.html
  src/main/webapp/app/exercises/text/assess-new/textblock-feedback-editor/textblock-feedback-editor.component.ts
  src/test/java/de/tum/in/www1/artemis/AssessmentComplaintIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/AssessmentTeamComplaintIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ExampleSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/FileUploadAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ModelingAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/domain/ResultTest.java
  src/test/java/de/tum/in/www1/artemis/service/AssessmentServiceTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/java/de/tum/in/www1/artemis/util/ModelFactory.java
  src/test/javascript/spec/component/text-submission-assessment/textblock-assessment-card.component.spec.ts
  src/test/javascript/spec/component/text-submission-assessment/textblock-feedback-editor.component.spec.ts
  src/test/javascript/spec/service/structured-grading-criterion.service.spec.ts
Labels: client, ready for review, server

#1701 Show number of registered users per exam
  src/main/java/de/tum/in/www1/artemis/domain/exam/Exam.java
  src/main/java/de/tum/in/www1/artemis/repository/ExamRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ExamService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExamResource.java
  src/main/webapp/app/entities/exam.model.ts
  src/main/webapp/app/exam/manage/exam-management.component.html
Labels: client, enhancement, exam mode: exam management, ready for review, server

#1700 [Exam] view for exam exercises
  src/main/webapp/app/exercises/shared/exercise-row-buttons/exercise-row-buttons.component.html
  src/main/webapp/app/exercises/shared/exercise/exercise-details/exercise-details.component.html
  src/main/webapp/i18n/de/exercise.json
  src/main/webapp/i18n/en/exercise.json
  src/test/javascript/spec/component/file-upload-exercise/file-upload-exercise-detail.component.spec.ts
Labels: client, exam mode, exam mode: exam management, ready for review

#1704 Programming exercises template for Haskell
  src/main/java/de/tum/in/www1/artemis/domain/enumeration/ProgrammingLanguage.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/BambooBuildPlanService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/ContinuousIntegrationService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/HaskellJenkinsBuildPlanCreator.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsBuildPlanCreatorProvider.java
  src/main/resources/templates/bamboo/haskell/regularRuns/1_build_and_test_the_code.sh
  src/main/resources/templates/bamboo/haskell/sequentialRuns/1_run_structural_tests.sh
  src/main/resources/templates/bamboo/haskell/sequentialRuns/2_run_behavior_tests.sh
  src/main/resources/templates/haskell/exercise/git.attributes.file
  src/main/resources/templates/haskell/exercise/git.ignore.file
  src/main/resources/templates/haskell/exercise/src/Exercise.hs
  src/main/resources/templates/haskell/readme
  src/main/resources/templates/haskell/solution/git.attributes.file
  src/main/resources/templates/haskell/solution/git.ignore.file
  src/main/resources/templates/haskell/solution/src/Solution.hs
  src/main/resources/templates/haskell/test/behavior/stack.yaml
  src/main/resources/templates/haskell/test/behavior/stack.yaml.lock
  src/main/resources/templates/haskell/test/behavior/test.cabal
  src/main/resources/templates/haskell/test/behavior/test/Interface.hs
  src/main/resources/templates/haskell/test/behavior/test/Test.hs
  src/main/resources/templates/haskell/test/readme.md
  src/main/resources/templates/haskell/test/structural/stack.yaml
  src/main/resources/templates/haskell/test/structural/stack.yaml.lock
  src/main/resources/templates/haskell/test/structural/test.cabal
  src/main/resources/templates/haskell/test/structural/test/Interface.hs
  src/main/resources/templates/haskell/test/structural/test/Test.hs
  src/main/resources/templates/jenkins/haskell/config.xml
  src/main/webapp/app/entities/programming-exercise.model.ts
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.html
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.ts
  src/main/webapp/i18n/de/programmingLanguage.json
  src/main/webapp/i18n/en/programmingLanguage.json
Labels: client, component:Programming, ready for review, server

#1698 [Exam] Enable ordering of exercise groups
  src/main/java/de/tum/in/www1/artemis/repository/ExamRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ExamService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExamResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExerciseGroupResource.java
  src/main/webapp/app/exam/manage/exam-management.service.ts
  src/main/webapp/app/exam/manage/exercise-groups/exercise-groups.component.html
  src/main/webapp/app/exam/manage/exercise-groups/exercise-groups.component.ts
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/en/exam.json
  src/test/java/de/tum/in/www1/artemis/ExamIntegrationTest.java
Labels: client, exam mode, exam mode: exam management, server

#1703 Enhancements for Exam Student Import
  src/main/java/de/tum/in/www1/artemis/service/UserService.java
  src/main/java/de/tum/in/www1/artemis/service/dto/UserDTO.java
  src/main/webapp/app/exam/manage/students/students-exam-import-dialog/students-exam-import-dialog.component.html
  src/main/webapp/app/exam/manage/students/students-exam-import-dialog/students-exam-import-dialog.component.ts
Labels: client, enhancement, exam mode, exam mode: exam management, ready for review, server

#1644 Distributed Quiz Scheduling
  src/main/java/de/tum/in/www1/artemis/config/CacheConfiguration.java
  src/main/java/de/tum/in/www1/artemis/config/Constants.java
  src/main/java/de/tum/in/www1/artemis/domain/Attachment.java
  src/main/java/de/tum/in/www1/artemis/domain/Course.java
  src/main/java/de/tum/in/www1/artemis/domain/Exercise.java
  src/main/java/de/tum/in/www1/artemis/domain/FileUploadSubmission.java
  src/main/java/de/tum/in/www1/artemis/domain/ProgrammingExercise.java
  src/main/java/de/tum/in/www1/artemis/domain/quiz/DragAndDropQuestion.java
  src/main/java/de/tum/in/www1/artemis/domain/quiz/DragItem.java
  src/main/java/de/tum/in/www1/artemis/service/ExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/ParticipationService.java
  src/main/java/de/tum/in/www1/artemis/service/QuizExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/QuizSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/QuizScheduleService.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/quiz/EmptyQuizExerciseCache.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/quiz/QuizExerciseCache.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/quiz/QuizExerciseDistributedCache.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/quiz/QuizProcessCacheTask.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/quiz/QuizScheduleService.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/quiz/QuizStartTask.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/QuizExerciseResource.java
  src/test/java/de/tum/in/www1/artemis/QuizExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/QuizSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/domain/ExerciseTest.java
Labels: component:Quiz, enhancement, ready for review, server

#1681 Add hazelcast configuration options.
  src/main/java/de/tum/in/www1/artemis/config/CacheConfiguration.java
  src/main/resources/config/application-dev.yml
  src/main/resources/config/application.yml
Labels: ready for review, server

#1710 [Exam] Fix missing exercises for exercise groups
  src/main/java/de/tum/in/www1/artemis/domain/exam/ExerciseGroup.java
  src/main/java/de/tum/in/www1/artemis/repository/ExamRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ExamService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExamResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextExerciseImportService.java
  src/main/webapp/app/exam/manage/exercise-groups/exercise-groups.component.ts
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise-update.component.ts
Labels: client, exam mode, exam mode: exam management, server

#1691 Enhancement/scheduling profile
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseSimulationService.java
  src/main/java/de/tum/in/www1/artemis/service/messaging/DistributedInstanceMessageSendService.java
  src/main/java/de/tum/in/www1/artemis/service/messaging/InstanceMessageReceiveService.java
  src/main/java/de/tum/in/www1/artemis/service/messaging/InstanceMessageSendService.java
  src/main/java/de/tum/in/www1/artemis/service/messaging/MainInstanceMessageSendService.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/AutomaticBuildPlanCleanupService.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/ProgrammingExerciseScheduleService.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/TextClusteringScheduleService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextExerciseResource.java
  src/test/java/de/tum/in/www1/artemis/AbstractSpringDevelopmentTest.java
  src/test/java/de/tum/in/www1/artemis/AbstractSpringIntegrationBambooBitbucketJiraTest.java
  src/test/java/de/tum/in/www1/artemis/service/ProgrammingExerciseScheduleServiceTest.java
Labels: server

#1705 Allow to define Manual Text Blocks during Text Assessment
  src/main/java/de/tum/in/www1/artemis/service/TextBlockService.java
  src/main/webapp/app/entities/text-block-ref.model.ts
  src/main/webapp/app/entities/text-block.model.ts
  src/main/webapp/app/exercises/text/assess-new/manual-textblock-selection/manual-textblock-selection.component.html
  src/main/webapp/app/exercises/text/assess-new/manual-textblock-selection/manual-textblock-selection.component.ts
  src/main/webapp/app/exercises/text/assess-new/text-assessment-area/text-assessment-area.component.html
  src/main/webapp/app/exercises/text/assess-new/text-assessment-area/text-assessment-area.component.ts
  src/main/webapp/app/exercises/text/assess-new/text-submission-assessment.component.html
  src/main/webapp/app/exercises/text/assess-new/text-submission-assessment.component.scss
  src/main/webapp/app/exercises/text/assess-new/text-submission-assessment.component.ts
  src/main/webapp/app/exercises/text/assess-new/text-submission-assessment.module.ts
  src/main/webapp/app/exercises/text/assess-new/textblock-assessment-card/textblock-assessment-card.component.html
  src/main/webapp/app/exercises/text/assess-new/textblock-assessment-card/textblock-assessment-card.component.ts
  src/main/webapp/app/exercises/text/assess/text-assessment-editor/text-assessment-editor.component.html
  src/main/webapp/app/exercises/text/assess/text-assessment-editor/text-assessment-editor.component.scss
  src/main/webapp/app/exercises/text/assess/text-assessment-editor/text-assessment-editor.component.ts
  src/main/webapp/app/exercises/text/assess/text-assessment.module.ts
  src/main/webapp/app/exercises/text/shared/manual-text-selection/manual-text-selection.component.html
  src/main/webapp/app/exercises/text/shared/manual-text-selection/manual-text-selection.component.scss
  src/main/webapp/app/exercises/text/shared/manual-text-selection/manual-text-selection.component.ts
  src/main/webapp/app/exercises/text/shared/text-select.directive.ts
  src/main/webapp/app/exercises/text/shared/text-shared.module.ts
  src/main/webapp/i18n/de/textAssessment.json
  src/main/webapp/i18n/en/textAssessment.json
  src/test/javascript/spec/component/text-submission-assessment/text-assessment-area.component.spec.ts
  src/test/javascript/spec/component/text-submission-assessment/text-submission-assessment.component.spec.ts
Labels: client, component:Text, feature, server

#1716 [Exam] Add working time
  src/main/java/de/tum/in/www1/artemis/domain/exam/StudentExam.java
  src/main/java/de/tum/in/www1/artemis/service/ExamService.java
  src/main/resources/config/liquibase/changelog/20200626022200_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/entities/student-exam.model.ts
  src/main/webapp/app/exam/manage/student-exams/student-exam-detail.component.html
  src/main/webapp/app/exam/manage/student-exams/student-exam-detail.component.ts
  src/main/webapp/app/exam/manage/student-exams/student-exams.component.html
  src/main/webapp/app/shared/pipes/artemis-duration-from-seconds.pipe.ts
  src/main/webapp/app/shared/shared.module.ts
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/en/exam.json
  src/test/java/de/tum/in/www1/artemis/ExamIntegrationTest.java
Labels: client, exam mode, exam mode: exam management, server

#1713 Score, Participation and Submission pages for exam exercises
  src/main/webapp/app/exercises/file-upload/assess/file-upload-assessment-dashboard.component.html
  src/main/webapp/app/exercises/file-upload/assess/file-upload-assessment-dashboard.component.ts
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment-editor/modeling-assessment-dashboard.component.html
  src/main/webapp/app/exercises/shared/exercise-row-buttons/exercise-row-buttons.component.html
  src/main/webapp/app/exercises/shared/exercise-scores/exercise-scores.component.html
  src/main/webapp/app/exercises/text/assess/text-assessment-dashboard/text-assessment-dashboard.component.html
Labels: client, exam mode, exam mode: exam management

#1699 [Exam] Improve Generate Participation
  src/main/java/de/tum/in/www1/artemis/repository/ExamRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ExamService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExamResource.java
  src/main/webapp/app/exam/manage/exam-management.service.ts
  src/main/webapp/app/exam/manage/student-exams/student-exams.component.html
  src/main/webapp/app/exam/manage/student-exams/student-exams.component.ts
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/en/exam.json
  src/test/java/de/tum/in/www1/artemis/ExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/StudentExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/repository/ParticipationTestRepository.java
Labels: client, exam mode, ready for review, server

#1731 Make uploads directory configurable.
  src/main/java/de/tum/in/www1/artemis/config/Constants.java
  src/main/java/de/tum/in/www1/artemis/domain/Attachment.java
  src/main/java/de/tum/in/www1/artemis/domain/Course.java
  src/main/java/de/tum/in/www1/artemis/domain/FileUploadSubmission.java
  src/main/java/de/tum/in/www1/artemis/domain/quiz/DragAndDropQuestion.java
  src/main/java/de/tum/in/www1/artemis/domain/quiz/DragItem.java
  src/main/java/de/tum/in/www1/artemis/service/FilePathService.java
  src/main/java/de/tum/in/www1/artemis/service/FileService.java
  src/main/java/de/tum/in/www1/artemis/service/SubmissionService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/FileResource.java
  src/main/resources/config/application.yml
  src/test/java/de/tum/in/www1/artemis/FileIntegrationTest.java
  src/test/resources/config/application.yml
Labels: server

#1724 Expression has changed after it was checked, exam navigation bar timer
  src/main/webapp/app/exam/participate/exam-navigation-bar/exam-navigation-bar.component.html
  src/main/webapp/app/exam/participate/exam-navigation-bar/exam-navigation-bar.component.ts
Labels: client, exam mode, ready for review

#1732 show username in start view
  src/main/webapp/app/exam/participate/exam-cover/exam-participation-cover.component.html
  src/main/webapp/app/exam/participate/exam-cover/exam-participation-cover.component.ts
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/en/exam.json
Labels: client, exam mode, exam mode: client

#1729 Fix synchronization after being offline
  src/main/webapp/app/exam/participate/exam-participation.component.ts
Labels: client

#1733 Fix display duration over 59minutes
  src/main/webapp/app/exam/participate/exam-navigation-bar/exam-navigation-bar.component.ts
Labels: client, exam mode

#1730 [Exam] Schedule Programming Exercise Repository Access
  src/main/java/de/tum/in/www1/artemis/repository/ProgrammingExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/StudentExamRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ExamService.java
  src/main/java/de/tum/in/www1/artemis/service/ExerciseLifecycleService.java
  src/main/java/de/tum/in/www1/artemis/service/ParticipationService.java
  src/main/java/de/tum/in/www1/artemis/service/StudentExamService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/BitbucketService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/VersionControlService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/gitlab/GitLabService.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/ProgrammingExerciseScheduleService.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/ScheduleService.java
  src/main/java/de/tum/in/www1/artemis/service/util/Tuple.java
Labels: component:Programming, exam mode, exam mode: exam management, ready for review, server

#1728 [Exam] Client: Summary
  src/main/webapp/app/exam/participate/exam-participation.component.html
  src/main/webapp/app/exam/participate/exam-participation.module.ts
  src/main/webapp/app/exam/participate/summary/exam-participation-summary.component.html
  src/main/webapp/app/exam/participate/summary/exam-participation-summary.component.ts
  src/main/webapp/app/exam/participate/summary/exercises/file-upload-exam-summary/file-upload-exam-summary.component.html
  src/main/webapp/app/exam/participate/summary/exercises/file-upload-exam-summary/file-upload-exam-summary.component.ts
  src/main/webapp/app/exam/participate/summary/exercises/modeling-exam-summary/modeling-exam-summary.component.html
  src/main/webapp/app/exam/participate/summary/exercises/modeling-exam-summary/modeling-exam-summary.component.ts
  src/main/webapp/app/exam/participate/summary/exercises/programming-exam-summary/programming-exam-summary.component.html
  src/main/webapp/app/exam/participate/summary/exercises/programming-exam-summary/programming-exam-summary.component.ts
  src/main/webapp/app/exam/participate/summary/exercises/quiz-exam-summary/quiz-exam-summary.component.html
  src/main/webapp/app/exam/participate/summary/exercises/quiz-exam-summary/quiz-exam-summary.component.ts
  src/main/webapp/app/exam/participate/summary/exercises/text-exam-summary/text-exam-summary.component.html
  src/main/webapp/app/exam/participate/summary/exercises/text-exam-summary/text-exam-summary.component.ts
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/en/exam.json
Labels: client, exam mode, exam mode: client, ready for review

#1714 add further navigation bar improvement suggestions
  src/main/webapp/app/exam/participate/exam-navigation-bar/exam-navigation-bar.component.html
  src/main/webapp/app/exam/participate/exam-navigation-bar/exam-navigation-bar.component.scss
  src/main/webapp/app/exam/participate/exam-navigation-bar/exam-navigation-bar.component.ts
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/en/exam.json
Labels: client, exam mode: client, ready for review

#1726 Fix quiz-synchonization
  src/main/webapp/app/entities/quiz/submitted-answer.model.ts
  src/main/webapp/app/exam/participate/exercises/quiz/quiz-exam-submission.component.ts
Labels: client, exam mode, ready for review

#1722 Sync sever and client time
  src/main/java/de/tum/in/www1/artemis/config/ApiVersionFilter.java
  src/main/webapp/app/app.constants.ts
  src/main/webapp/app/core/interceptor/artemis-version.interceptor.ts
  src/main/webapp/app/exam/participate/exam-cover/exam-participation-cover.component.ts
  src/main/webapp/app/exam/participate/exam-navigation-bar/exam-navigation-bar.component.ts
  src/main/webapp/app/exam/participate/exam-participation.component.ts
  src/main/webapp/app/shared/server-date.service.ts
Labels: client, component:Shared, exam mode, exam mode: client, ready for review, server

#1718 [Exam] Enable code editor offline mode
  src/main/java/de/tum/in/www1/artemis/domain/participation/ProgrammingExerciseStudentParticipation.java
  src/main/java/de/tum/in/www1/artemis/web/rest/StudentExamResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/repository/RepositoryResource.java
  src/main/webapp/app/admin/user-management/user-management.component.ts
  src/main/webapp/app/entities/participation/ProgrammingExerciseRepositoryFile.model.ts
  src/main/webapp/app/entities/participation/programming-exercise-student-participation.model.ts
  src/main/webapp/app/exam/manage/student-exams/student-exams.component.ts
  src/main/webapp/app/exam/participate/exam-cover/exam-participation-cover.component.ts
  src/main/webapp/app/exam/participate/exam-participation.component.html
  src/main/webapp/app/exam/participate/exam-participation.component.ts
  src/main/webapp/app/exam/participate/exercises/exam-submission.component.ts
  src/main/webapp/app/exam/participate/exercises/programming/code-editor/exam-code-editor-student-container.component.html
  src/main/webapp/app/exam/participate/exercises/programming/code-editor/exam-code-editor-student-container.component.ts
  src/main/webapp/app/exam/participate/exercises/programming/programming-exam-submission.component.html
  src/main/webapp/app/exam/participate/exercises/programming/programming-exam-submission.component.ts
  src/main/webapp/app/exam/participate/summary/exercises/modeling-exam-summary/modeling-exam-summary.component.ts
  src/main/webapp/app/exam/participate/summary/exercises/text-exam-summary/text-exam-summary.component.ts
  src/main/webapp/app/exercises/programming/shared/code-editor/code-editor-mode-container.component.ts
  src/main/webapp/app/exercises/programming/shared/code-editor/file-browser/code-editor-file-browser.component.ts
  src/main/webapp/app/exercises/programming/shared/code-editor/service/code-editor-domain-dependent-endpoint.service.ts
  src/main/webapp/app/exercises/programming/shared/code-editor/service/code-editor-repository.service.ts
  src/test/javascript/spec/component/admin/audits.component.spec.ts
  src/test/javascript/spec/component/admin/user-management.component.spec.ts
Labels: client, component:Programming, exam mode, exam mode: client, ready for review, server

#1723 [Exam] Check that submissions are made in time and the user is allowed to submit
  src/main/java/de/tum/in/www1/artemis/repository/StudentParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ExamSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/FileUploadSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/ModelingSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/ParticipationService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/StudentExamService.java
  src/main/java/de/tum/in/www1/artemis/service/SubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/TextSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/FileUploadSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/QuizSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextSubmissionResource.java
  src/test/java/de/tum/in/www1/artemis/TextSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/ExamSubmissionServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/SubmissionServiceTest.java
Labels: exam mode, exam mode: exam management, server

#1745 [Exam] Rename continue button for last exercise
  src/main/webapp/app/exam/participate/exam-navigation-bar/exam-navigation-bar.component.html
  src/main/webapp/app/exam/participate/exam-navigation-bar/exam-navigation-bar.component.scss
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/en/exam.json
Labels: client, exam mode: client

#1748 Show summary after exam has ended
  src/main/java/de/tum/in/www1/artemis/service/StudentExamAccessService.java
  src/main/webapp/app/exam/participate/exam-participation.component.ts
  src/test/java/de/tum/in/www1/artemis/service/StudentExamAccessServiceTest.java
Labels: client, server

#1751 [Exam] Client: Adjust summary exercise card of programming exercises
  src/main/webapp/app/exam/participate/summary/exam-participation-summary.component.html
  src/main/webapp/app/exam/participate/summary/exam-participation-summary.component.ts
  src/main/webapp/app/exam/participate/summary/exercises/programming-exam-summary/programming-exam-summary.component.html
Labels: client, exam mode, exam mode: client, ready for review

#1752 Provide methods for retrieving student working times and individual exam end dates
  src/main/java/de/tum/in/www1/artemis/repository/StudentExamRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ExamService.java
  src/main/java/de/tum/in/www1/artemis/service/StudentExamService.java
  src/test/java/de/tum/in/www1/artemis/StudentExamIntegrationTest.java
Labels: enhancement, exam mode, exam mode: exam management, ready for review, server

#1742 Check submission & resultTimer subjects before calling next().
  src/main/webapp/app/exercises/programming/participate/programming-submission.service.ts
Labels: client

#1743 Catch EntityNotFoundException for websocket subscribe.
  src/main/java/de/tum/in/www1/artemis/config/websocket/WebsocketConfiguration.java
Labels: server

#1740 [Exam] Bugfix: exam visibility and disabled input in start page
  src/main/webapp/app/exam/participate/exam-cover/exam-participation-cover.component.html
  src/main/webapp/app/exam/participate/exam-navigation-bar/exam-navigation-bar.component.html
  src/main/webapp/app/exam/participate/exam-navigation-bar/exam-navigation-bar.component.scss
  src/main/webapp/app/overview/course-overview.component.html
  src/main/webapp/app/overview/course-overview.component.ts
Labels: bug, client, exam mode, exam mode: client, server

#1744 Whitespace in Text Assessments
  src/main/webapp/app/exercises/text/assess-new/manual-textblock-selection/manual-textblock-selection.component.html
  src/main/webapp/app/exercises/text/assess-new/manual-textblock-selection/manual-textblock-selection.component.ts
  src/main/webapp/app/exercises/text/assess-new/textblock-assessment-card/textblock-assessment-card.component.scss
  src/main/webapp/app/exercises/text/assess/text-assessment-editor/text-assessment-editor.component.html
  src/main/webapp/app/exercises/text/shared/manual-text-selection/manual-text-selection.component.html
  src/main/webapp/app/exercises/text/shared/manual-text-selection/manual-text-selection.component.scss
  src/main/webapp/app/exercises/text/shared/manual-text-selection/manual-text-selection.component.ts
Labels: client

#1749 [Exam] Client enhancements for programming exercises
  src/main/webapp/app/course/manage/course-management.service.ts
  src/main/webapp/app/exam/participate/exam-navigation-bar/exam-navigation-bar.component.html
  src/main/webapp/app/exam/participate/exam-navigation-bar/exam-navigation-bar.component.ts
  src/main/webapp/app/exam/participate/exam-participation.component.html
  src/main/webapp/app/exam/participate/exam-participation.component.ts
  src/main/webapp/app/exam/participate/exercises/programming/code-editor/exam-code-editor-student-container.component.html
  src/main/webapp/app/exam/participate/exercises/programming/programming-exam-submission.component.ts
  src/main/webapp/app/exercises/programming/shared/code-editor/service/code-editor-repository.service.ts
  src/main/webapp/app/exercises/programming/shared/instructions-render/programming-exercise-instruction.component.ts
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/en/exam.json
Labels: client, component:Programming, exam mode, exam mode: client, ready for review

#1763 [Exam] Delete participations
  src/main/webapp/app/exercises/shared/participation/participation.component.ts
Labels: client, exam mode, exam mode: exam management

#1754 [Exam] Due date instead of duration for quiz detail and small UI adjustments
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise-detail.component.html
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise-detail.component.ts
Labels: client, component:Quiz, exam mode, exam mode: client, exam mode: exam management, ready for review

#1767 [Exam] Bugfixes: Exam and Quiz navigation
  src/main/webapp/app/exam/participate/exam-navigation-bar/exam-navigation-bar.component.html
  src/main/webapp/app/exam/participate/exam-navigation-bar/exam-navigation-bar.component.scss
  src/main/webapp/app/exam/participate/exam-navigation-bar/exam-navigation-bar.component.ts
  src/main/webapp/app/exam/participate/exercises/quiz/quiz-exam-submission.component.html
  src/main/webapp/app/exam/participate/exercises/quiz/quiz-exam-submission.component.scss
Labels: bug, client, enhancement, exam mode, exam mode: client, ready for review

#1773 [Exam] Disable hints for exam
  src/main/java/de/tum/in/www1/artemis/web/rest/ExerciseHintResource.java
  src/main/webapp/app/exam/participate/exam-participation.component.ts
  src/main/webapp/app/exam/participate/exercises/programming/code-editor/exam-code-editor-student-container.component.html
  src/main/webapp/app/exam/participate/exercises/programming/code-editor/exam-code-editor-student-container.component.ts
  src/main/webapp/app/exam/participate/exercises/programming/programming-exam-submission.component.html
  src/main/webapp/app/exercises/programming/manage/code-editor/code-editor-instructor-base-container.component.ts
  src/main/webapp/app/exercises/programming/manage/code-editor/code-editor-instructor-container.component.html
  src/main/webapp/app/exercises/programming/manage/code-editor/code-editor-instructor-container.component.ts
  src/main/webapp/app/exercises/programming/manage/code-editor/code-editor-instructor-orion-container.component.ts
  src/main/webapp/app/exercises/programming/manage/instructions-editor/programming-exercise-editable-instruction.component.ts
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.html
  src/main/webapp/app/exercises/programming/participate/code-editor-student-container.component.html
  src/main/webapp/app/exercises/programming/participate/code-editor-student-container.component.ts
  src/main/webapp/app/exercises/programming/shared/code-editor/instructions/code-editor-instructions.component.html
  src/main/webapp/app/exercises/shared/exercise-hint/participate/exercise-hint-student-dialog.component.ts
Labels: client, component:Programming, exam mode, exam mode: client, ready for review, server

#1771 exchange drawing mechanism
  src/main/webapp/app/exam/participate/exam-participation.component.html
  src/main/webapp/app/exam/participate/exam-participation.component.ts
  src/main/webapp/app/exam/participate/exercises/exam-submission.component.ts
  src/main/webapp/app/exam/participate/exercises/modeling/modeling-exam-submission.component.ts
  src/main/webapp/app/exam/participate/exercises/programming/programming-exam-submission.component.ts
  src/main/webapp/app/exam/participate/exercises/quiz/quiz-exam-submission.component.ts
  src/main/webapp/app/exam/participate/exercises/text/text-exam-submission.component.ts
Labels: client, exam mode

#1768 [Exam Mode] Trim String in Username Input for Exam Confirmation
  src/main/webapp/app/exam/participate/exam-cover/exam-participation-cover.component.ts
Labels: exam mode: client, ready for review

#1764 [Exam] Date validation for create & update
  src/main/java/de/tum/in/www1/artemis/web/rest/ExamResource.java
  src/main/webapp/app/exam/manage/exams/exam-update.component.html
  src/main/webapp/app/exam/manage/exams/exam-update.component.ts
  src/test/java/de/tum/in/www1/artemis/util/ModelFactory.java
Labels: client, enhancement, exam mode, exam mode: exam management, ready for review, server

#1777 [Exam] Test case management for programming exercises
  src/main/webapp/app/exercises/shared/exercise-row-buttons/exercise-row-buttons.component.html
Labels: client, component:Programming, exam mode, exam mode: exam management, ready for review

#1765 Fix edge cases in programming exercise scheduling
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/ProgrammingExerciseScheduleService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExamResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseResource.java
Labels: bug, exam mode, ready for review, server

#1772 Bugfix: Exercise Layout Problem Statement
  src/main/webapp/app/shared/resizeable-container/resizeable-container.component.scss
Labels: bug, client, exam mode, exam mode: client, ready for review

#1769 [Exam] Show points next to exercise and show exam title in summary
  src/main/webapp/app/exam/participate/exercises/modeling/modeling-exam-submission.component.html
  src/main/webapp/app/exam/participate/exercises/programming/code-editor/exam-code-editor-student-container.component.html
  src/main/webapp/app/exam/participate/exercises/programming/programming-exam-submission.component.html
  src/main/webapp/app/exam/participate/exercises/quiz/quiz-exam-submission.component.html
  src/main/webapp/app/exam/participate/exercises/text/text-exam-submission.component.html
  src/main/webapp/app/exam/participate/summary/exam-participation-summary.component.html
  src/main/webapp/app/exercises/programming/shared/code-editor/layout/code-editor-grid.component.html
  src/main/webapp/app/exercises/programming/shared/code-editor/layout/code-editor-grid.component.ts
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/en/exam.json
Labels: client, exam mode, exam mode: client

#1758 [Exam] Submission allowance checks for programming exercises
  src/main/java/de/tum/in/www1/artemis/service/ExamSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/repository/RepositoryProgrammingExerciseParticipationResource.java
  src/main/java/de/tum/in/www1/artemis/web/websocket/repository/RepositoryWebsocketResource.java
  src/main/webapp/i18n/de/editor.json
  src/main/webapp/i18n/en/editor.json
  src/test/java/de/tum/in/www1/artemis/service/ExamSubmissionServiceTest.java
Labels: client, exam mode, server
