Repository ls1intum/Artemis, pull requests merged in 2020-12, with the labels that each got.

#2480 [Bugfix] Import a prog. exercise by cloning instead of forking
  src/main/java/de/tum/in/www1/artemis/service/ParticipationService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/GitService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/VersionControlService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bitbucket/BitbucketService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/gitlab/GitLabService.java
  src/test/java/de/tum/in/www1/artemis/AbstractSpringIntegrationBambooBitbucketJiraTest.java
  src/test/java/de/tum/in/www1/artemis/AbstractSpringIntegrationJenkinsGitlabTest.java
  src/test/java/de/tum/in/www1/artemis/StudentExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/connector/bitbucket/BitbucketRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/MockDelegate.java
  src/test/java/de/tum/in/www1/artemis/util/ProgrammingExerciseTestService.java
Labels: bamboo/bitbucket, component:Programming, ready for review, server

#2483 [Feature] Add rating to programming exercises
  src/main/webapp/app/exercises/shared/rating/rating-list/rating-list.component.html
  src/main/webapp/app/exercises/shared/rating/rating-list/rating-list.component.ts
  src/main/webapp/app/exercises/shared/rating/rating.component.ts
  src/main/webapp/app/overview/courses.module.ts
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.html
Labels: client, component:Programming, feature, ready for review

#2463 [Feature] Highlight Changed Files for the Assessment of Programming Exercises
  src/main/java/de/tum/in/www1/artemis/domain/ProgrammingExercise.java
  src/main/java/de/tum/in/www1/artemis/service/RepositoryService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/repository/RepositoryProgrammingExerciseParticipationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/repository/RepositoryResource.java
  src/main/webapp/app/exercises/programming/shared/code-editor/container/code-editor-container.component.html
  src/main/webapp/app/exercises/programming/shared/code-editor/file-browser/code-editor-file-browser-file.component.html
  src/main/webapp/app/exercises/programming/shared/code-editor/file-browser/code-editor-file-browser-file.component.ts
  src/main/webapp/app/exercises/programming/shared/code-editor/file-browser/code-editor-file-browser.component.html
  src/main/webapp/app/exercises/programming/shared/code-editor/file-browser/code-editor-file-browser.component.ts
  src/main/webapp/app/exercises/programming/shared/code-editor/service/code-editor-repository.service.ts
  src/test/java/de/tum/in/www1/artemis/RepositoryProgrammingExerciseParticipationResourceIntegrationTest.java
Labels: client, component:Programming, feature, ready for review, server

#2478 Add buttons to Programming Exercises Details Page
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.html
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.scss
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.ts
  src/main/webapp/app/exercises/programming/manage/programming-exercise-management.module.ts
Labels: client, enhancement, ready for review

#2490 [Enhancement] Add audit event logs for grading actions
  src/main/java/de/tum/in/www1/artemis/config/Constants.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseGradingService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseGradingResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingSubmissionResource.java
Labels: component:Programming, enhancement, ready for review, server

#2467 Remove back buttons in administrations/management views
  src/main/webapp/app/admin/system-notification-management/system-notification-management-detail.component.html
  src/main/webapp/app/assessment/assessment-header/assessment-header.component.html
  src/main/webapp/app/assessment/assessment-header/assessment-header.component.ts
  src/main/webapp/app/assessment/assessment-layout/assessment-layout.component.html
  src/main/webapp/app/assessment/assessment-layout/assessment-layout.component.ts
  src/main/webapp/app/course/manage/course-detail.component.html
  src/main/webapp/app/course/manage/course-detail.component.ts
  src/main/webapp/app/exam/manage/exams/exam-detail.component.html
  src/main/webapp/app/exam/manage/exams/exam-detail.component.ts
  src/main/webapp/app/exercises/file-upload/manage/file-upload-exercise-detail.component.html
  src/main/webapp/app/exercises/file-upload/manage/file-upload-exercise-detail.component.ts
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment-editor/modeling-assessment-editor.component.html
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise-detail.component.html
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise-detail.component.ts
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.ts
  src/main/webapp/app/exercises/quiz/manage/apollon-diagrams/apollon-diagram-detail.component.html
  src/main/webapp/app/exercises/quiz/manage/apollon-diagrams/apollon-diagram-detail.component.ts
  src/main/webapp/app/exercises/quiz/manage/apollon-diagrams/apollon-diagram-list.component.html
  src/main/webapp/app/exercises/quiz/manage/apollon-diagrams/apollon-diagram-list.component.ts
  src/main/webapp/app/exercises/shared/exercise-hint/manage/exercise-hint-detail.component.html
  src/main/webapp/app/exercises/shared/exercise-hint/manage/exercise-hint-detail.component.ts
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise-detail.component.html
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise-detail.component.ts
  src/main/webapp/app/lecture/lecture-attachments.component.html
  src/main/webapp/app/lecture/lecture-attachments.component.ts
  src/main/webapp/app/lecture/lecture-detail.component.ts
  src/test/javascript/spec/component/assessment-shared/assessment-header.component.spec.ts
  src/test/javascript/spec/component/assessment-shared/assessment-layout.component.spec.ts
  src/test/javascript/spec/component/modeling-assessment-editor/modeling-assessment-editor.component.spec.ts
Labels: client, ready for review

#2497 [Bugfix] Lazy Loading Exception
  src/main/java/de/tum/in/www1/artemis/service/TutorParticipationService.java
Labels: ready for review, server

#2471 Feature/user statistics
  src/main/java/de/tum/in/www1/artemis/domain/enumeration/SpanType.java
  src/main/java/de/tum/in/www1/artemis/repository/StatisticsRepository.java
  src/main/java/de/tum/in/www1/artemis/service/StatisticsService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/StatisticsResource.java
  src/main/webapp/app/admin/admin.module.ts
  src/main/webapp/app/admin/admin.route.ts
  src/main/webapp/app/admin/statistics/statistics.component.html
  src/main/webapp/app/admin/statistics/statistics.component.ts
  src/main/webapp/app/admin/statistics/statistics.route.ts
  src/main/webapp/app/admin/statistics/statistics.service.ts
  src/main/webapp/app/admin/tracker/tracker.component.html
  src/main/webapp/app/admin/tracker/tracker.component.ts
  src/main/webapp/app/admin/tracker/tracker.route.ts
  src/main/webapp/app/entities/statistics.model.ts
  src/main/webapp/app/shared/layouts/navbar/navbar.component.html
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/de/statistics.json
  src/main/webapp/i18n/de/tracker.json
  src/main/webapp/i18n/en/global.json
  src/main/webapp/i18n/en/statistics.json
  src/main/webapp/i18n/en/tracker.json
Labels: client, feature, ready for review, server

#2498 [Bugfix] File browser compress tree
  src/main/webapp/app/exercises/programming/shared/code-editor/file-browser/code-editor-file-browser.component.ts
Labels: bug, client, component:Programming, ready for review

#2457 Feature/programming exercises management/update selected exercises
  src/main/webapp/app/exercises/programming/assess/repo-export/programming-assessment-repo-export-dialog.component.html
  src/main/webapp/app/exercises/programming/assess/repo-export/programming-assessment-repo-export-dialog.component.ts
  src/main/webapp/app/exercises/programming/manage/programming-exercise-edit-selected.component.html
  src/main/webapp/app/exercises/programming/manage/programming-exercise-edit-selected.component.ts
  src/main/webapp/app/exercises/programming/manage/programming-exercise-management.module.ts
  src/main/webapp/app/exercises/programming/manage/programming-exercise.component.html
  src/main/webapp/app/exercises/programming/manage/programming-exercise.component.ts
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.module.ts
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/de/instructorDashboard.json
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/global.json
  src/main/webapp/i18n/en/instructorDashboard.json
  src/main/webapp/i18n/en/programmingExercise.json
  src/test/javascript/spec/component/programming-exercise/programming-exercise-edit-selected.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise.component.spec.ts
Labels: client, ready for review

#2501 Reduce space taken by navbar and notification panels
  src/main/webapp/app/shared/layouts/navbar/navbar.component.html
  src/main/webapp/app/shared/notification/connection-notification/connection-notification.component.html
  src/main/webapp/app/shared/notification/connection-notification/connection-notification.component.ts
  src/main/webapp/app/shared/notification/connection-notification/connection-notification.scss
  src/main/webapp/app/shared/notification/system-notification/system-notification.component.html
  src/main/webapp/app/shared/notification/system-notification/system-notification.component.ts
  src/main/webapp/app/shared/notification/system-notification/system-notification.scss
Labels: client, ready for review

#2476 Add importing and exporting teams from JSON
  src/main/java/de/tum/in/www1/artemis/repository/UserRepository.java
  src/main/java/de/tum/in/www1/artemis/service/TeamService.java
  src/main/java/de/tum/in/www1/artemis/service/team/TeamImportStrategy.java
  src/main/java/de/tum/in/www1/artemis/service/team/strategies/CreateOnlyStrategy.java
  src/main/java/de/tum/in/www1/artemis/service/team/strategies/PurgeExistingStrategy.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TeamResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/errors/ErrorConstants.java
  src/main/java/de/tum/in/www1/artemis/web/rest/errors/StudentsAppearMultipleTimesException.java
  src/main/java/de/tum/in/www1/artemis/web/rest/errors/StudentsNotFoundException.java
  src/main/webapp/app/entities/team.model.ts
  src/main/webapp/app/exercises/shared/team/team-students-list/team-students-list.component.html
  src/main/webapp/app/exercises/shared/team/team-students-list/team-students-list.component.ts
  src/main/webapp/app/exercises/shared/team/team.module.ts
  src/main/webapp/app/exercises/shared/team/team.service.ts
  src/main/webapp/app/exercises/shared/team/teams-import-dialog/teams-export-button.component.ts
  src/main/webapp/app/exercises/shared/team/teams-import-dialog/teams-import-dialog.component.html
  src/main/webapp/app/exercises/shared/team/teams-import-dialog/teams-import-dialog.component.ts
  src/main/webapp/app/exercises/shared/team/teams-import-dialog/teams-import-from-file-form.component.html
  src/main/webapp/app/exercises/shared/team/teams-import-dialog/teams-import-from-file-form.component.scss
  src/main/webapp/app/exercises/shared/team/teams-import-dialog/teams-import-from-file-form.component.ts
  src/main/webapp/app/exercises/shared/team/teams.component.html
  src/main/webapp/i18n/de/team.json
  src/main/webapp/i18n/en/team.json
  src/test/java/de/tum/in/www1/artemis/TeamImportIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/java/de/tum/in/www1/artemis/util/ModelFactory.java
  src/test/javascript/spec/component/team/teams-export-button.component.spec.ts
  src/test/javascript/spec/component/team/teams-import-button.component.spec.ts
  src/test/javascript/spec/component/team/teams-import-dialog.component.spec.ts
  src/test/javascript/spec/component/team/teams-import-from-file-form.component.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-team.service.ts
Labels: client, ready for review, server

#2513 [Test] Created test for course-lectures.component
  src/main/webapp/app/overview/course-lectures/course-lectures.component.ts
  src/test/javascript/spec/component/overview/course-lectures/course-lectures.component.spec.ts
Labels: client, ready for review, tests

#2516 Set default value such that seconds and milliseconds are 0
  src/main/webapp/app/shared/date-time-picker/date-time-picker.component.ts
Labels: client, feature, ready for review

#2519 [Tests] course registration selector tests
  src/test/javascript/spec/component/course-registration-selector/course-registration-selector.component.spec.ts
Labels: client, ready for review, tests

#2515 [Hotfix] Display View Assessment button also after the assessment due date
  src/main/webapp/app/exercises/shared/exercise/exercise-utils.ts
Labels: bug, client, component:Programming, ready for review

#2518 [Test] Wrote test for course-lecture-row
  src/main/webapp/app/overview/course-lectures/course-lecture-row.component.html
  src/main/webapp/app/overview/course-lectures/course-lecture-row.component.ts
  src/test/javascript/spec/component/overview/course-lectures/course-lecture-row.component.spec.ts
Labels: client, ready for review, tests

#2525 Fix errors when creating a new course
  src/main/webapp/app/course/manage/course-management.route.ts
  src/main/webapp/app/course/manage/course-update.component.ts
Labels: client, ready for review

#2521 Fix the login screen shortly displaying even when logged in
  src/main/webapp/app/home/home.component.html
  src/main/webapp/app/home/home.component.ts
Labels: client, ready for review

#2520 [Bugfix] Grading Configuration sum of test case weights 0
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseTestCaseService.java
  src/main/webapp/app/exercises/programming/manage/grading/programming-exercise-configure-grading.component.ts
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/programmingExercise.json
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseIntegrationTest.java
  src/test/javascript/spec/component/programming-exercise/programming-exercise-configure-grading.component.spec.ts
Labels: bug, client, component:Programming, ready for review, server

#2528 [Bugfix] Various Bugs
  src/main/java/de/tum/in/www1/artemis/web/rest/TextSubmissionResource.java
  src/main/webapp/app/course/dashboards/assessment-dashboard/assessment-dashboard.component.html
  src/main/webapp/app/exam/manage/exam-management.route.ts
  src/main/webapp/app/exam/manage/student-exams/student-exam-detail.component.html
  src/main/webapp/app/exercises/quiz/shared/questions/short-answer-question/short-answer-question.component.html
Labels: bug, client, ready for review, server

#2529 [Bugfix] Fix issue when submitting modeling example assessment with feedback credits of 0
  src/main/webapp/app/exercises/modeling/manage/example-modeling/example-modeling-submission.component.ts
Labels: bug, client, component:Modeling, ready for review

#2530 [Bugfix] Fix issue with saving example text assessments
  src/main/java/de/tum/in/www1/artemis/web/rest/AssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/FileUploadAssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingAssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingAssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextAssessmentResource.java
  src/main/webapp/app/exercises/text/assess/text-assessments.service.ts
  src/main/webapp/app/exercises/text/manage/example-text-submission/example-text-submission.component.ts
  src/test/java/de/tum/in/www1/artemis/ExampleSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
Labels: bug, client, component:Text, ready for review, server

#2533 Make sure the breadcrumbs container leaves a margin even when invisible
  src/main/webapp/app/shared/layouts/navbar/navbar.component.html
  src/main/webapp/app/shared/layouts/navbar/navbar.scss
Labels: client, ready for review

#2534 Fix crashes when short answer question answers are undefined
  src/main/webapp/app/exercises/quiz/shared/questions/short-answer-question/short-answer-question.component.html
  src/main/webapp/app/exercises/quiz/shared/questions/short-answer-question/short-answer-question.component.ts
Labels: client, ready for review

#2499 Fix combining template commits in Gitlab
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseImportService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/VersionControlService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bitbucket/BitbucketService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/gitlab/GitLabService.java
Labels: ready for review, server

#2536 Add a missing translation for invalid modeling assessments
  src/main/webapp/app/exercises/modeling/manage/example-modeling/example-modeling-submission.component.ts
  src/main/webapp/i18n/de/modelingAssessment.json
  src/main/webapp/i18n/en/modelingAssessment.json
Labels: client, ready for review

#2537 Add missing modal text translations
  src/main/webapp/app/exam/manage/student-exams/student-exams.component.ts
Labels: client, ready for review

#2506 update gitlab/jenkins docs to include how to manally create admin user
  docs/dev/setup/jenkins-gitlab.rst
  docs/dev/setup/jenkins-gitlab/gitlab_admin_user.png
Labels: documentation, jenkins/gitlab

#2548 Remove unique constraint between submission and result
  src/main/java/de/tum/in/www1/artemis/domain/FileUploadSubmission.java
  src/main/java/de/tum/in/www1/artemis/domain/ProgrammingSubmission.java
  src/main/java/de/tum/in/www1/artemis/domain/Submission.java
  src/main/java/de/tum/in/www1/artemis/domain/TextSubmission.java
  src/main/java/de/tum/in/www1/artemis/domain/quiz/QuizSubmission.java
  src/main/resources/config/liquibase/changelog/20201214214200_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/test/java/de/tum/in/www1/artemis/SubmissionIntegrationTest.java
Labels: database, ready for review, server

#2485 Feature/achievements/client
  src/main/java/de/tum/in/www1/artemis/web/rest/AchievementResource.java
  src/main/webapp/app/achievements/achievements.component.html
  src/main/webapp/app/achievements/achievements.component.ts
  src/main/webapp/app/achievements/achievements.scss
  src/main/webapp/app/course/manage/course-update.component.html
  src/main/webapp/app/course/manage/course-update.component.ts
  src/main/webapp/app/entities/achievement.model.ts
  src/main/webapp/app/entities/course.model.ts
  src/main/webapp/app/overview/course-statistics/course-statistics.component.html
  src/main/webapp/app/overview/courses.module.ts
  src/main/webapp/i18n/de/achievements.json
  src/main/webapp/i18n/de/course.json
  src/main/webapp/i18n/en/achievements.json
  src/main/webapp/i18n/en/course.json
  src/test/java/de/tum/in/www1/artemis/AchievementIntegrationTest.java
  src/test/javascript/spec/component/achievement/achievements.component.spec.ts
  src/test/javascript/spec/component/course/course-update.component.spec.ts
  src/test/javascript/spec/component/overview/course-statistics/course-statistics.component.spec.ts
Labels: client, ready for review

#2547 Add tests for system-notification-management
  src/main/webapp/app/admin/system-notification-management/system-notification-management.component.html
  src/test/javascript/spec/component/admin/system-notification-management/system-notification-management.component.spec.ts
Labels: client, ready for review

#2540 Enhancement/test ltiservice
  src/test/java/de/tum/in/www1/artemis/service/connectors/LtiServiceTest.java
Labels: ready for review, tests

#2549 [Chore] Improve test coverage (Programming Assessment)
  src/main/webapp/app/exercises/programming/assess/repo-export/programming-assessment-repo-export-dialog.component.ts
  src/test/javascript/spec/component/programming-assessment/programming-assessment-repo-export-dialog.component.spec.ts
Labels: chore, client, ready for review, tests

#2511 Feature/user statistics periods
  src/main/java/de/tum/in/www1/artemis/domain/enumeration/GraphType.java
  src/main/java/de/tum/in/www1/artemis/repository/StatisticsRepository.java
  src/main/java/de/tum/in/www1/artemis/service/StatisticsService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/StatisticsResource.java
  src/main/webapp/app/admin/admin.module.ts
  src/main/webapp/app/admin/statistics/statistics-graph.component.html
  src/main/webapp/app/admin/statistics/statistics-graph.component.ts
  src/main/webapp/app/admin/statistics/statistics.component.html
  src/main/webapp/app/admin/statistics/statistics.component.ts
  src/main/webapp/app/admin/statistics/statistics.service.ts
  src/main/webapp/app/entities/statistics.model.ts
  src/main/webapp/i18n/de/statistics.json
  src/main/webapp/i18n/en/statistics.json
Labels: client, feature, lock:artemistest5, ready for review, server

#2550 [Enhancement] Make download repos for programming exercises more robust
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseExportService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseImportService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/GitService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/VersionControlService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bitbucket/BitbucketService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/gitlab/GitLabService.java
Labels: ready for review, server

#2554 [Chore] Remove legacy test in ProgrammingAssessmentIntegrationTest
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingAssessmentIntegrationTest.java
Labels: chore, ready for review, tests

#2541 Chore/test/add gitlab jenkins mocks
  src/main/java/de/tum/in/www1/artemis/service/connectors/gitlab/GitLabService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsService.java
  src/test/java/de/tum/in/www1/artemis/AbstractSpringIntegrationBambooBitbucketJiraTest.java
  src/test/java/de/tum/in/www1/artemis/AbstractSpringIntegrationJenkinsGitlabTest.java
  src/test/java/de/tum/in/www1/artemis/GitlabServiceTest.java
  src/test/java/de/tum/in/www1/artemis/connector/gitlab/GitlabRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/connector/jenkins/JenkinsRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/MockDelegate.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseGitlabJenkinsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/ProgrammingExerciseTestService.java
Labels: ready for review, server

#2556 Re-enable CodeQL
  .github/workflows/codeql-analysis.yml
  .github/workflows/codeql-analysis.yml.off
Labels: chore, code quality, ready for review

#2527 [Feature] [Exam-Mode] Automatically assess text and modeling exercises for unsubmitted student exams
  src/main/java/de/tum/in/www1/artemis/repository/ResultRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/StudentExamRepository.java
  src/main/java/de/tum/in/www1/artemis/service/AssessmentService.java
  src/main/java/de/tum/in/www1/artemis/service/ExamAccessService.java
  src/main/java/de/tum/in/www1/artemis/service/ExamService.java
  src/main/java/de/tum/in/www1/artemis/service/FileUploadSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/ModelingSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/StudentExamService.java
  src/main/java/de/tum/in/www1/artemis/service/SubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/TextSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingAssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/StudentExamResource.java
  src/main/webapp/app/exam/manage/exam-management.service.ts
  src/main/webapp/app/exam/manage/student-exams/student-exams.component.html
  src/main/webapp/app/exam/manage/student-exams/student-exams.component.ts
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/en/exam.json
  src/test/java/de/tum/in/www1/artemis/StudentExamIntegrationTest.java
  src/test/javascript/spec/component/exam/manage/student-exams/student-exams.component.spec.ts
Labels: client, exam mode, ready for review, server

#2558 Add tests for system notification management update and detail components
  src/main/webapp/app/admin/system-notification-management/system-notification-management-detail.component.html
  src/main/webapp/app/admin/system-notification-management/system-notification-management-update.component.html
  src/test/javascript/spec/component/admin/system-notification-management/system-notification-detail.component.spec.ts
  src/test/javascript/spec/component/admin/system-notification-management/system-notification-update.component.spec.ts
Labels: client, ready for review

#2560 [Test] Tests for Heading Command of Markdown Editor
  src/main/webapp/app/shared/markdown-editor/commands/headingOne.command.ts
  src/main/webapp/app/shared/markdown-editor/commands/headingThree.command.ts
  src/main/webapp/app/shared/markdown-editor/commands/headingTwo.command.ts
  src/main/webapp/app/shared/markdown-editor/commands/underline.command.ts
  src/test/javascript/spec/component/markdown-editor/headingCommands.spec.ts
  src/test/javascript/spec/component/markdown-editor/reference-command.spec.ts
  src/test/javascript/spec/component/markdown-editor/underline-command.spec.ts
Labels: client, ready for review, tests

#2544 [DOCS] Client Testing Guidelines
  docs/dev/guidelines/client.rst
Labels: documentation, ready for review

#2561 [Tests] Course management tests
  src/test/javascript/spec/component/course/course-management.component.spec.ts
Labels: ready for review

#2564 Exclude exercises with more than 100% when excluding all full point exercises
  src/main/webapp/app/overview/course-exercises/course-exercises.component.ts
Labels: client

#2562 [Tests] Team test
  src/main/webapp/app/exercises/shared/team/team.service.ts
  src/test/javascript/spec/component/team/team.component.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-team.service.ts
Labels: client, ready for review

#2524 [Feature] Highlight code line changes
  package.json
  src/main/java/de/tum/in/www1/artemis/service/RepositoryService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/repository/RepositoryProgrammingExerciseParticipationResource.java
  src/main/webapp/app/exercises/programming/assess/code-editor-tutor-assessment-container.component.html
  src/main/webapp/app/exercises/programming/assess/code-editor-tutor-assessment-container.component.ts
  src/main/webapp/app/exercises/programming/shared/code-editor/ace/code-editor-ace.component.ts
  src/main/webapp/app/exercises/programming/shared/code-editor/ace/code-editor-ace.scss
  src/main/webapp/app/exercises/programming/shared/code-editor/container/code-editor-container.component.html
  src/main/webapp/app/exercises/programming/shared/code-editor/container/code-editor-container.component.ts
  src/main/webapp/app/exercises/programming/shared/code-editor/service/code-editor-repository.service.ts
  src/test/java/de/tum/in/www1/artemis/RepositoryProgrammingExerciseParticipationResourceIntegrationTest.java
  src/test/javascript/spec/component/programming-assessment/programming-assessment-manual-result.component.spec.ts
  yarn.lock
Labels: client, component:Programming, feature, ready for review, server

#2557 [Tests] Fixing leaky tests
  package.json
  src/test/javascript/jest.config.js
Labels: bug, tests

#2565 Fixed checkout path replacement placeholder
  src/main/resources/templates/jenkins/c/Jenkinsfile
Labels: ready for review

#2567 [Chore] Increase test coverage for tutor complaints component
  src/test/javascript/spec/component/complaints-for-tutor/complaints-for-tutor.component.spec.ts
  src/test/javascript/spec/component/programming-assessment/programming-assessment-repo-export-dialog.component.spec.ts
Labels: client, ready for review, tests

#2568 New User statistics charts
  src/main/java/de/tum/in/www1/artemis/domain/enumeration/GraphType.java
  src/main/java/de/tum/in/www1/artemis/repository/StatisticsRepository.java
  src/main/java/de/tum/in/www1/artemis/service/StatisticsService.java
  src/main/webapp/app/admin/statistics/statistics-graph.component.ts
  src/main/webapp/app/admin/statistics/statistics.component.ts
  src/main/webapp/app/entities/statistics.model.ts
  src/main/webapp/i18n/de/statistics.json
  src/main/webapp/i18n/en/statistics.json
Labels: client, feature, ready for review, server

#2539 [Bugfix] Fix issue with zero point exercises with bonus points
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseGradingService.java
  src/main/webapp/app/course/course-scores/course-scores.component.ts
  src/main/webapp/app/exercises/shared/result/result-detail.component.ts
  src/main/webapp/app/overview/course-score-calculation.service.ts
  src/main/webapp/app/shared/chart/presets/scoreChartPreset.ts
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseGradingServiceTest.java
  src/test/javascript/spec/component/shared/result-detail.component.spec.ts
Labels: bug, client, component:Programming, ready for review, server

#2531 Improve Jenkins setup docu
  docs/dev/setup/jenkins-gitlab.rst
  docs/dev/setup/jenkins-gitlab/jenkins_local_node.png
  docs/dev/setup/programming-exercises.rst
Labels: ready for review

#2573 Added exam translation in Course Overview
  src/main/webapp/app/course/manage/course-management.component.html
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/en/global.json
Labels: client, enhancement, ready for review

#2577 test class for ResultHistoryComponent
  src/test/javascript/spec/component/overview/result-history/result-history.component-spec.ts
Labels: ready for review

#2559 remove buildUrlWithParams from globa-utils
  src/main/webapp/app/exercises/file-upload/assess/file-upload-assessment.component.ts
  src/main/webapp/app/exercises/file-upload/assess/file-upload-assessment.service.ts
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment.service.ts
  src/main/webapp/app/exercises/programming/assess/code-editor-tutor-assessment-container.component.ts
  src/main/webapp/app/exercises/programming/assess/manual-result/programming-assessment-manual-result.service.ts
  src/main/webapp/app/shared/util/global.utils.ts
  src/test/javascript/spec/util/shared/utils.spec.ts
Labels: client, ready for review

#2551 Feature/exam multi correction/client refactoring
  src/main/webapp/app/assessment/assessment-locks/assessment-locks.component.html
  src/main/webapp/app/assessment/assessment-locks/assessment-locks.component.ts
  src/main/webapp/app/entities/submission.model.ts
  src/main/webapp/app/exercises/file-upload/assess/file-upload-assessment-dashboard.component.html
  src/main/webapp/app/exercises/file-upload/assess/file-upload-assessment-dashboard.component.ts
  src/main/webapp/app/exercises/file-upload/participate/file-upload-submission.service.ts
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment-editor/modeling-assessment-dashboard.component.html
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment-editor/modeling-assessment-dashboard.component.ts
  src/main/webapp/app/exercises/modeling/participate/modeling-submission.service.ts
  src/main/webapp/app/exercises/shared/dashboards/tutor/exercise-assessment-dashboard.component.html
  src/main/webapp/app/exercises/shared/dashboards/tutor/exercise-assessment-dashboard.component.ts
  src/main/webapp/app/exercises/text/assess-new/conflicts/text-feedback-conflicts.component.html
  src/main/webapp/app/exercises/text/assess-new/conflicts/text-feedback-conflicts.component.ts
  src/main/webapp/app/exercises/text/assess/text-assessment-dashboard/text-assessment-dashboard.component.html
  src/main/webapp/app/exercises/text/assess/text-assessment-dashboard/text-assessment-dashboard.component.ts
  src/main/webapp/app/exercises/text/participate/text-submission.service.ts
  src/test/javascript/spec/component/text-submission-assessment/text-feedback-conflicts.component.spec.ts
  src/test/javascript/spec/service/text-submission.service.spec.ts
Labels: client, exam mode, ready for review, server

#2581 Improve deletion process of temporary git repositories after plagiarism checks
  src/main/java/de/tum/in/www1/artemis/domain/Repository.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseExportService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/GitService.java
Labels: component:Programming, plagiarism detection, ready for review, server

#2584 Update JPlag version
  libs/jplag-3.0.0.jar
Labels: plagiarism detection

#2576 [Fix] Fix results not showing in participation-submission component
  src/main/java/de/tum/in/www1/artemis/repository/SubmissionRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ParticipationService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ParticipationResource.java
  src/main/webapp/app/exercises/shared/participation-submission/participation-submission.component.html
  src/main/webapp/app/exercises/shared/submission/submission.service.ts
Labels: client, ready for review, server

#2592 [Bugfix] Fix issue with labels for zero point exercises with bonus
  src/main/webapp/app/exam/participate/summary/points-summary/exam-points-summary.component.html
  src/main/webapp/app/exercises/shared/exercise-headers/header-exercise-page-with-details.component.html
  src/main/webapp/app/exercises/shared/exercise-headers/header-participation-page.component.html
Labels: bug, client, component:Shared, ready for review

#2593 Restrict the html students can use when asking questions
  src/main/webapp/app/overview/student-questions/student-question-answer/student-question-answer.component.html
  src/main/webapp/app/overview/student-questions/student-question-answer/student-question-answer.component.ts
  src/main/webapp/app/overview/student-questions/student-question/student-question.component.html
  src/main/webapp/app/overview/student-questions/student-question/student-question.component.ts
  src/main/webapp/app/overview/student-questions/student-question/student-question.service.ts
  src/main/webapp/app/shared/markdown.service.ts
  src/main/webapp/app/shared/pipes/html-for-markdown.pipe.ts
  src/test/javascript/spec/service/markdown.service.spec.ts
Labels: client, ready for review

#2587 Add paging to plagiarism results
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-sidebar/plagiarism-sidebar.component.html
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-sidebar/plagiarism-sidebar.component.scss
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-sidebar/plagiarism-sidebar.component.ts
Labels: client, plagiarism detection, ready for review

#2482 [Enhancement] Handle manual results on trigger-all
  src/main/java/de/tum/in/www1/artemis/domain/Feedback.java
  src/main/java/de/tum/in/www1/artemis/repository/ProgrammingExerciseStudentParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseGradingService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseParticipationService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingAssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseParticipationResource.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseResultBambooIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseResultJenkinsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/ModelFactory.java
  src/test/java/de/tum/in/www1/artemis/util/ProgrammingExerciseResultTestService.java
Labels: component:Programming, enhancement, ready for review, server

#2602 Update and improve the StudentQuestionComponent tests
  src/main/webapp/app/overview/student-questions/student-question/student-question.component.html
  src/test/javascript/spec/component/student-questions/student-question.component.spec.ts
Labels: client, ready for review

#2603 Add tests for CourseScoresComponent
  src/test/javascript/spec/component/course/course-scores/course-scores.component.spec.ts
Labels: ready for review

#2606 Bugfix: Fix 'Assessments locked by you' - Views
  src/main/webapp/app/course/manage/course-management.service.ts
Labels: client, ready for review

#2607 Workaround for null pointer exception in resume exercise on Jenkins setup
  src/main/java/de/tum/in/www1/artemis/domain/Team.java
  src/main/java/de/tum/in/www1/artemis/domain/User.java
  src/main/java/de/tum/in/www1/artemis/domain/participation/Participant.java
  src/main/java/de/tum/in/www1/artemis/repository/ProgrammingExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/service/LectureService.java
  src/main/java/de/tum/in/www1/artemis/service/ParticipationService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseExportService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseParticipationService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/BitbucketBambooUpdateService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/ContinuousIntegrationService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/ContinuousIntegrationUpdateService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/BambooService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/gitlab/GitLabService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsService.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/ProgrammingExerciseScheduleService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ParticipationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingSubmissionResource.java
  src/test/java/de/tum/in/www1/artemis/AbstractSpringIntegrationBambooBitbucketJiraTest.java
  src/test/java/de/tum/in/www1/artemis/AbstractSpringIntegrationJenkinsGitlabTest.java
  src/test/java/de/tum/in/www1/artemis/ParticipationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/StudentExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/connector/bitbucket/BitbucketRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/MockDelegate.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseBitbucketBambooIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseGitlabJenkinsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseTestCaseServiceTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingSubmissionAndResultIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/StaticCodeAnalysisIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseCleanupService.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/java/de/tum/in/www1/artemis/util/ProgrammingExerciseTestService.java
Labels: component:Programming, jenkins/gitlab, ready for review, server

#2589 Do not allow instructors to deselect both modes (online code editor and offline IDE) in programming exercises
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.html
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.html
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.ts
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/programmingExercise.json
Labels: client, ready for review

#2605 Chore/remove transactional
  src/main/java/de/tum/in/www1/artemis/repository/CustomAuditEventRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/UserRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ComplaintService.java
  src/main/java/de/tum/in/www1/artemis/service/LectureService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseImportService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseSimulationService.java
  src/main/java/de/tum/in/www1/artemis/service/UserService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/LtiService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jira/JiraAuthenticationProvider.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExampleSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExerciseImportService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/UserResource.java
  src/main/webapp/app/core/user/user.service.ts
  src/test/java/de/tum/in/www1/artemis/authentication/UserIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/connectors/LtiServiceTest.java
Labels: chore, client, ready for review, server

#2586 Enhancements/user statistics
  src/main/java/de/tum/in/www1/artemis/domain/enumeration/SpanType.java
  src/main/java/de/tum/in/www1/artemis/repository/StatisticsRepository.java
  src/main/java/de/tum/in/www1/artemis/service/StatisticsService.java
  src/main/webapp/app/admin/statistics/statistics-graph.component.ts
  src/main/webapp/app/admin/statistics/statistics.component.html
  src/main/webapp/app/entities/statistics.model.ts
  src/main/webapp/i18n/de/statistics.json
  src/main/webapp/i18n/en/statistics.json
  src/test/java/de/tum/in/www1/artemis/UserStatisticsIntegrationTest.java
Labels: client, feature, ready for review, server

#2546 Add explanation to modelling exercise
  src/main/webapp/app/exam/participate/exercises/modeling/modeling-exam-submission.component.html
  src/main/webapp/app/exam/participate/exercises/modeling/modeling-exam-submission.component.ts
  src/main/webapp/app/exam/participate/summary/exercises/modeling-exam-summary/modeling-exam-summary.component.html
  src/main/webapp/app/exam/participate/summary/exercises/modeling-exam-summary/modeling-exam-summary.component.ts
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment-editor/modeling-assessment-editor.component.html
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment-editor/modeling-assessment-editor.component.scss
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment.component.html
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment.component.ts
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment.module.ts
  src/main/webapp/app/exercises/modeling/manage/example-modeling/example-modeling-submission.component.html
  src/main/webapp/app/exercises/modeling/manage/example-modeling/example-modeling-submission.component.ts
  src/main/webapp/app/exercises/modeling/participate/modeling-submission.component.html
  src/main/webapp/app/exercises/modeling/participate/modeling-submission.component.ts
  src/main/webapp/app/exercises/modeling/shared/modeling-editor.component.html
  src/main/webapp/app/exercises/modeling/shared/modeling-editor.component.ts
  src/main/webapp/app/exercises/modeling/shared/modeling-editor.module.ts
  src/main/webapp/app/exercises/modeling/shared/modeling-explanation-editor.component.html
  src/main/webapp/app/exercises/modeling/shared/modeling-explanation-editor.component.scss
  src/main/webapp/app/exercises/modeling/shared/modeling-explanation-editor.component.ts
  src/main/webapp/i18n/de/modelingSubmission.json
  src/main/webapp/i18n/en/modelingSubmission.json
  src/test/javascript/spec/component/exam/participate/exercises/modeling-exam-submission.component.spec.ts
  src/test/javascript/spec/component/exam/participate/summary/modeling-exam-summary.component.spec.ts
  src/test/javascript/spec/component/modeling-assessment/modeling-assessment.component.spec.ts
  src/test/javascript/spec/component/modeling-explanation-editor/modeling-explanation-editor.component.spec.ts
Labels: client, ready for review

#2604 Update server dependencies and add open api specification
  build.gradle
  gradle.properties
  gradle/war.gradle
  gradle/zipkin.gradle
  package.json
  src/main/docker/app.yml
  src/main/docker/jhipster-registry.yml
  src/main/docker/swagger-editor.yml
  src/main/java/de/tum/in/www1/artemis/ArtemisApp.java
  src/main/java/de/tum/in/www1/artemis/config/LiquibaseConfiguration.java
  src/main/java/de/tum/in/www1/artemis/config/MetricsBean.java
  src/main/java/de/tum/in/www1/artemis/config/SecurityConfiguration.java
  src/main/java/de/tum/in/www1/artemis/config/websocket/WebsocketConfiguration.java
  src/main/java/de/tum/in/www1/artemis/domain/Feedback.java
  src/main/java/de/tum/in/www1/artemis/domain/TeamAssignmentConfig.java
  src/main/resources/config/application-dev.yml
  src/main/resources/config/application.yml
  src/main/resources/config/bootstrap-prod.yml
  src/main/resources/config/bootstrap.yml
  src/main/resources/swagger/api.yml
  src/main/webapp/WEB-INF/web.xml
  src/main/webapp/app/admin/admin.module.ts
  src/main/webapp/app/admin/admin.route.ts
  src/main/webapp/app/admin/docs/docs.component.html
  src/main/webapp/app/admin/docs/docs.component.ts
  src/main/webapp/app/admin/docs/docs.scss
  src/main/webapp/app/shared/layouts/navbar/navbar.component.html
  src/main/webapp/app/shared/layouts/navbar/navbar.component.ts
  src/main/webapp/app/shared/layouts/profiles/profile-info.model.ts
  src/main/webapp/app/shared/layouts/profiles/profile.service.ts
  src/main/webapp/i18n/de/health.json
  src/main/webapp/i18n/en/health.json
  src/test/java/de/tum/in/www1/artemis/service/ExamServiceTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseCleanupService.java
  src/test/resources/config/application.yml
  src/test/resources/config/bootstrap.yml
  src/test/resources/logback.xml
  webpack/webpack.dev.js
  yarn.lock
Labels: chore, client, dependencies, ready for review, server

#2617 Fixed Flaky Test
  src/test/java/de/tum/in/www1/artemis/LearningGoalIntegrationTest.java
Labels: bug, tests

#2594 Feature/exam multi correction/exam db and view changes
  src/main/java/de/tum/in/www1/artemis/domain/Exercise.java
  src/main/java/de/tum/in/www1/artemis/domain/exam/Exam.java
  src/main/java/de/tum/in/www1/artemis/domain/participation/Participation.java
  src/main/java/de/tum/in/www1/artemis/repository/ProgrammingExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ResultRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/SubmissionRepository.java
  src/main/java/de/tum/in/www1/artemis/service/AssessmentDashboardService.java
  src/main/java/de/tum/in/www1/artemis/service/ExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/ParticipationService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseImportService.java
  src/main/java/de/tum/in/www1/artemis/service/ResultService.java
  src/main/java/de/tum/in/www1/artemis/service/SubmissionService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/FileUploadSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/SubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/StatsForInstructorDashboardDTO.java
  src/main/resources/config/liquibase/changelog/20201222203018_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/course/dashboards/assessment-dashboard/assessment-dashboard.component.html
  src/main/webapp/app/course/dashboards/assessment-dashboard/assessment-dashboard.component.ts
  src/main/webapp/app/course/dashboards/instructor-course-dashboard/instructor-course-dashboard.component.html
  src/main/webapp/app/course/dashboards/instructor-course-dashboard/instructor-course-dashboard.component.ts
  src/main/webapp/app/course/dashboards/instructor-course-dashboard/stats-for-dashboard.model.ts
  src/main/webapp/app/course/manage/course-management.service.ts
  src/main/webapp/app/entities/course.model.ts
  src/main/webapp/app/entities/exam.model.ts
  src/main/webapp/app/entities/exercise.model.ts
  src/main/webapp/app/exam/manage/exams/exam-detail.component.html
  src/main/webapp/app/exam/manage/exams/exam-update.component.html
  src/main/webapp/app/exam/manage/exams/exam-update.component.ts
  src/main/webapp/app/exam/participate/information/exam-information.component.html
  src/main/webapp/app/exercises/file-upload/participate/file-upload-submission.service.ts
  src/main/webapp/app/exercises/modeling/participate/modeling-submission.service.ts
  src/main/webapp/app/exercises/programming/participate/programming-submission.service.ts
  src/main/webapp/app/exercises/shared/dashboards/instructor/instructor-exercise-dashboard.component.html
  src/main/webapp/app/exercises/shared/dashboards/instructor/instructor-exercise-dashboard.component.ts
  src/main/webapp/app/exercises/shared/dashboards/tutor/exercise-assessment-dashboard.component.html
  src/main/webapp/app/exercises/shared/dashboards/tutor/exercise-assessment-dashboard.component.ts
  src/main/webapp/app/exercises/text/assess-new/conflicts/text-feedback-conflicts.component.ts
  src/main/webapp/app/exercises/text/participate/text-submission.service.ts
  src/main/webapp/app/shared/dashboards/tutor-participation-graph/tutor-participation-graph.component.html
  src/main/webapp/app/shared/dashboards/tutor-participation-graph/tutor-participation-graph.component.ts
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/en/exam.json
  src/test/java/de/tum/in/www1/artemis/AssessmentComplaintIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/CourseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ResultServiceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/SubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseServiceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/java/de/tum/in/www1/artemis/util/ModelFactory.java
  src/test/javascript/spec/component/file-upload-assessment/file-upload-assessment.component.spec.ts
  src/test/javascript/spec/component/instructor-dashboard/instructor-exercise-dashboard.component.spec.ts
  src/test/javascript/spec/component/modeling-assessment-dashboard/modeling-assessment-dashboard.component.spec.ts
  src/test/javascript/spec/component/overview/course-statistics/course-statistics.component.spec.ts
  src/test/javascript/spec/component/text-submission-assessment/text-feedback-conflicts.component.spec.ts
  src/test/javascript/spec/component/tutor-dashboard/exercise-assessment-dashboard.component.spec.ts
  src/test/javascript/spec/component/tutor-dashboard/tutor-participation-graph.component.spec.ts
Labels: client, database, exam mode, exam mode: client, exam mode: server, ready for review, server
