Repository ls1intum/Artemis, pull requests merged in 2020-04, with the labels that each got.

#1294 Fix drop location issue for quiz exercises
  src/main/webapp/app/exercises/quiz/manage/drag-and-drop-question/drag-and-drop-question-edit.component.ts
Labels: bug, client, component:Quiz

#1298 Update docker image for c & python to ls1tum.
  src/main/java/de/tum/in/www1/artemis/service/connectors/BambooBuildPlanService.java
Labels: server

#1285 Feature/questions answers/tutor approval
  .jhipster/StudentQuestionAnswer.json
  src/main/java/de/tum/in/www1/artemis/domain/StudentQuestionAnswer.java
  src/main/java/de/tum/in/www1/artemis/web/rest/StudentQuestionAnswerResource.java
  src/main/resources/config/liquibase/changelog/20200330154601_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/entities/student-question-answer.model.ts
  src/main/webapp/app/overview/student-questions/student-question-row.component.html
  src/main/webapp/app/overview/student-questions/student-question-row.component.ts
  src/main/webapp/app/overview/student-questions/student-questions.scss
  src/main/webapp/i18n/de/student-dashboard.json
  src/main/webapp/i18n/en/student-dashboard.json
  src/test/java/de/tum/in/www1/artemis/StudentQuestionAnswerIntegrationTest.java
  src/test/javascript/spec/component/student-questions/student-question-answer.service.spec.ts
  src/test/javascript/spec/component/student-questions/student-question-row.component.spec.ts
  src/test/javascript/spec/component/student-questions/student-question.service.spec.ts
  src/test/javascript/spec/component/student-questions/student-questions.component.spec.ts
Labels: client, ready for review, server

#1301 Bugfix/questions answers/edit answers
  src/main/webapp/app/overview/student-questions/student-question-answer.service.ts
  src/main/webapp/app/overview/student-questions/student-question-row.component.html
  src/main/webapp/app/overview/student-questions/student-question-row.component.ts
  src/main/webapp/app/overview/student-questions/student-question.service.ts
  src/test/javascript/spec/component/student-questions/student-question-row.component.spec.ts
Labels: bug, client, ready for review

#1300 easier course creation on dev environment
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/errors/BadRequestAlertException.java
  src/main/java/de/tum/in/www1/artemis/web/rest/errors/EmailAlreadyUsedException.java
  src/main/java/de/tum/in/www1/artemis/web/rest/errors/LoginAlreadyUsedException.java
  src/main/webapp/app/core/websocket/websocket.service.ts
  src/main/webapp/app/course/manage/course-management.component.html
  src/main/webapp/app/course/manage/course-management.component.ts
  src/main/webapp/app/course/manage/course-management.service.ts
  src/main/webapp/app/course/manage/course-update.component.html
  src/main/webapp/app/course/manage/course-update.component.ts
  src/main/webapp/app/exercises/quiz/manage/apollon-diagrams/exercise-generation/apollon-quiz-exercise-generation.component.ts
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise-detail.component.ts
  src/main/webapp/app/shared/alert/alert-error.component.ts
  src/main/webapp/i18n/de/course.json
  src/main/webapp/i18n/en/course.json
Labels: client, server

#1296 Update quiz simulation.
  src/main/java/de/tum/in/www1/artemis/service/connectors/BambooService.java
  src/test/java/de/tum/in/www1/artemis/connector/bamboo/BambooRequestMockProvider.java
  src/test/javascript/spec/component/overview/course-statistics/course-statistics.spec.ts
  src/test/k6/ProgrammingExerciseAPIs.js
  src/test/k6/QuizExerciseAPIs.js
  src/test/k6/Websocket.js
  src/test/k6/api_tests.sh
  src/test/k6/requests/endpoints.js
  src/test/k6/requests/programmingExercise.js
  src/test/k6/requests/quiz.js
  src/test/k6/requests/requests.js
  src/test/k6/requests/user.js
  src/test/k6/resource/constants_c.js
  src/test/k6/resource/constants_java.js
  src/test/k6/resource/constants_python.js
Labels: server

#1286 Text Assessment V2
  src/main/java/de/tum/in/www1/artemis/domain/Result.java
  src/main/java/de/tum/in/www1/artemis/domain/TextBlock.java
  src/main/java/de/tum/in/www1/artemis/domain/TextBlockType.java
  src/main/java/de/tum/in/www1/artemis/domain/TextSubmission.java
  src/main/java/de/tum/in/www1/artemis/repository/TextSubmissionRepository.java
  src/main/java/de/tum/in/www1/artemis/service/TextBlockService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/TextSegmentationService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextAssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/TextAssessmentDTO.java
  src/main/resources/config/liquibase/changelog/20200318144757_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/app-routing.module.ts
  src/main/webapp/app/assessment/assessment-header/assessment-header.component.html
  src/main/webapp/app/assessment/assessment-instructions/assessment-instructions.module.ts
  src/main/webapp/app/entities/feedback.model.ts
  src/main/webapp/app/entities/text-block-ref.model.ts
  src/main/webapp/app/entities/text-block.model.ts
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment.component.ts
  src/main/webapp/app/exercises/text/assess-new/text-assessment-area/text-assessment-area.component.ts
  src/main/webapp/app/exercises/text/assess-new/text-submission-assessment.component.html
  src/main/webapp/app/exercises/text/assess-new/text-submission-assessment.component.scss
  src/main/webapp/app/exercises/text/assess-new/text-submission-assessment.component.ts
  src/main/webapp/app/exercises/text/assess-new/text-submission-assessment.module.ts
  src/main/webapp/app/exercises/text/assess-new/text-submission-assessment.route.ts
  src/main/webapp/app/exercises/text/assess-new/textblock-assessment-card/textblock-assessment-card.component.html
  src/main/webapp/app/exercises/text/assess-new/textblock-assessment-card/textblock-assessment-card.component.scss
  src/main/webapp/app/exercises/text/assess-new/textblock-assessment-card/textblock-assessment-card.component.ts
  src/main/webapp/app/exercises/text/assess-new/textblock-feedback-editor/textblock-feedback-editor.component.html
  src/main/webapp/app/exercises/text/assess-new/textblock-feedback-editor/textblock-feedback-editor.component.scss
  src/main/webapp/app/exercises/text/assess-new/textblock-feedback-editor/textblock-feedback-editor.component.ts
  src/main/webapp/app/exercises/text/assess/text-assessment.component.ts
  src/main/webapp/app/exercises/text/assess/text-assessments.service.ts
  src/main/webapp/app/exercises/text/manage/example-text-submission/example-text-submission.component.ts
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise.route.ts
  src/main/webapp/app/exercises/text/participate/text-submission.service.ts
  src/main/webapp/app/shared/confirm-icon/confirm-icon.component.html
  src/main/webapp/app/shared/confirm-icon/confirm-icon.component.ts
  src/main/webapp/app/shared/resizeable-container/resizeable-container.component.scss
  src/main/webapp/app/shared/util/global.utils.ts
  src/main/webapp/i18n/de/assessmentType.json
  src/main/webapp/i18n/de/textAssessment.json
  src/main/webapp/i18n/en/assessmentType.json
  src/main/webapp/i18n/en/textAssessment.json
  src/test/java/de/tum/in/www1/artemis/TextAssessmentIntegrationTest.java
  src/test/javascript/spec/app/entities/feedback/feedback-delete-dialog.component.spec.ts
  src/test/javascript/spec/app/entities/feedback/feedback-detail.component.spec.ts
  src/test/javascript/spec/app/entities/feedback/feedback-dialog.component.spec.ts
  src/test/javascript/spec/app/entities/feedback/feedback-update.component.spec.ts
  src/test/javascript/spec/app/entities/feedback/feedback.component.spec.ts
  src/test/javascript/spec/app/entities/feedback/feedback.service.spec.ts
  src/test/javascript/spec/component/file-upload-submission/file-upload-result.spec.ts
  src/test/javascript/spec/component/text-submission-assessment/text-assessment-area.spec.ts
  src/test/javascript/spec/component/text-submission-assessment/text-submission-assessment.spec.ts
  src/test/javascript/spec/component/text-submission-assessment/textblock-assessment-card.spec.ts
  src/test/javascript/spec/component/text-submission-assessment/textblock-feedback-editor.spec.ts
Labels: client, component:Text, ready for review, server

#1311 Bugfix/questions answers/id of undefined
  src/main/webapp/app/overview/student-questions/student-question-row.component.html
  src/main/webapp/app/overview/student-questions/student-question-row.component.ts
  src/test/javascript/spec/component/student-questions/student-question-row.component.spec.ts
Labels: bug, client, component:Q&A, ready for review

#1306 Bugfix/drag and drop quiz drop zones
  .jhipster/DropLocation.json
  src/main/java/de/tum/in/www1/artemis/domain/quiz/DropLocation.java
  src/main/resources/config/liquibase/changelog/20200412173108_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/exercises/quiz/manage/apollon-diagrams/exercise-generation/quiz-exercise-generator.ts
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
Labels: client, server

#1291 Show online status of team members in text and modeling editor
  package.json
  src/main/java/de/tum/in/www1/artemis/config/websocket/WebsocketConfiguration.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/websocket/team/ParticipationTeamWebsocketService.java
  src/main/webapp/app/exercises/modeling/participate/modeling-participation.module.ts
  src/main/webapp/app/exercises/modeling/participate/modeling-submission.component.html
  src/main/webapp/app/exercises/shared/participation-submission/participation-submission.component.html
  src/main/webapp/app/exercises/shared/team/team-participate-info-box/team-participate-info-box.component.html
  src/main/webapp/app/exercises/shared/team/team-participate-info-box/team-participate-info-box.component.scss
  src/main/webapp/app/exercises/shared/team/team-participate-info-box/team-participate-info-box.component.ts
  src/main/webapp/app/exercises/shared/team/team-students-online-list/team-students-online-list.component.html
  src/main/webapp/app/exercises/shared/team/team-students-online-list/team-students-online-list.component.scss
  src/main/webapp/app/exercises/shared/team/team-students-online-list/team-students-online-list.component.ts
  src/main/webapp/app/exercises/shared/team/team.module.ts
  src/main/webapp/app/exercises/text/participate/text-editor.component.html
  src/main/webapp/app/exercises/text/participate/text-participation.module.ts
  src/test/java/de/tum/in/www1/artemis/service/ParticipationTeamWebsocketServiceTest.java
  src/test/javascript/spec/component/modeling-submission/modeling-submission.component.spec.ts
  src/test/javascript/spec/component/text-editor/text-editor.spec.ts
  yarn.lock
Labels: client, component:Modeling, component:Team, component:Text, feature, ready for review, server

#1302 Import teams from source exercise
  src/main/java/de/tum/in/www1/artemis/config/Constants.java
  src/main/java/de/tum/in/www1/artemis/domain/Team.java
  src/main/java/de/tum/in/www1/artemis/domain/enumeration/TeamImportStrategyType.java
  src/main/java/de/tum/in/www1/artemis/repository/TeamRepository.java
  src/main/java/de/tum/in/www1/artemis/service/TeamService.java
  src/main/java/de/tum/in/www1/artemis/service/team/TeamImportStrategy.java
  src/main/java/de/tum/in/www1/artemis/service/team/strategies/CreateOnlyStrategy.java
  src/main/java/de/tum/in/www1/artemis/service/team/strategies/PurgeExistingStrategy.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TeamResource.java
  src/main/resources/config/liquibase/changelog/20200407150053_changelog.xml
  src/main/resources/config/liquibase/changelog/20200408200283_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/course/manage/course-management.component.html
  src/main/webapp/app/entities/team.model.ts
  src/main/webapp/app/exercises/shared/team/team-exercise-search/team-exercise-search.component.html
  src/main/webapp/app/exercises/shared/team/team-exercise-search/team-exercise-search.component.ts
  src/main/webapp/app/exercises/shared/team/team-students-list/team-students-list.component.html
  src/main/webapp/app/exercises/shared/team/team-students-list/team-students-list.component.scss
  src/main/webapp/app/exercises/shared/team/team-students-list/team-students-list.component.ts
  src/main/webapp/app/exercises/shared/team/team-update-dialog/team-update-dialog.component.ts
  src/main/webapp/app/exercises/shared/team/team.module.ts
  src/main/webapp/app/exercises/shared/team/team.service.ts
  src/main/webapp/app/exercises/shared/team/teams-import-dialog/teams-import-button.component.ts
  src/main/webapp/app/exercises/shared/team/teams-import-dialog/teams-import-dialog.component.html
  src/main/webapp/app/exercises/shared/team/teams-import-dialog/teams-import-dialog.component.scss
  src/main/webapp/app/exercises/shared/team/teams-import-dialog/teams-import-dialog.component.ts
  src/main/webapp/app/exercises/shared/team/teams.component.html
  src/main/webapp/app/exercises/shared/team/teams.component.ts
  src/main/webapp/app/shared/delete-dialog/delete-button.directive.ts
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/de/team.json
  src/main/webapp/i18n/en/global.json
  src/main/webapp/i18n/en/team.json
  src/test/java/de/tum/in/www1/artemis/TeamImportIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/TeamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/java/de/tum/in/www1/artemis/util/ModelFactory.java
  src/test/javascript/spec/mocks/mock-team.service.ts
Labels: client, component:Team, feature, ready for review, server

#1313 Bugfix/text/text editor fetch textblocks
  src/main/java/de/tum/in/www1/artemis/web/rest/TextExerciseResource.java
  src/test/java/de/tum/in/www1/artemis/TextAssessmentIntegrationTest.java
Labels: bug, component:Text, server

#1315 Publish beta of team-based exercises
  src/main/webapp/app/exercises/shared/mode-picker/mode-picker.component.html
  src/main/webapp/app/exercises/shared/team-config-form-group/team-config-form-group.component.html
  src/main/webapp/i18n/de/exercise.json
  src/main/webapp/i18n/en/exercise.json
Labels: client, component:Team, feature, ready for review

#1317 Load categories eagerly for exercises. Fixes #1316.
  src/main/java/de/tum/in/www1/artemis/domain/Exercise.java
Labels: bug, server

#1322 create folder before jobs to fix error
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseImportService.java
Labels: server

#1314 close color selector on clickOutside
  src/main/webapp/app/shared/color-selector/color-selector.component.html
  src/main/webapp/app/shared/color-selector/color-selector.component.ts
  src/main/webapp/app/shared/color-selector/color-selector.scss
  src/main/webapp/app/shared/markdown-editor/markdown-editor.component.html
  src/main/webapp/app/shared/markdown-editor/markdown-editor.component.ts
Labels: client

#1292 Feature/programming exercise/simplify submission and result generation in the local setup
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseSimulationService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingSubmissionResultSimulationService.java
  src/main/java/de/tum/in/www1/artemis/service/util/VCSSimulationUtils.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseSimulationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingSubmissionResultSimulationResource.java
  src/main/webapp/app/course/manage/course-exercise-submission-result-simulation.service.ts
  src/main/webapp/app/entities/programming-exercise.model.ts
  src/main/webapp/app/exercises/programming/manage/services/programming-exercise-simulation.service.ts
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.html
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.ts
  src/main/webapp/app/exercises/programming/shared/programming-exercise.component.html
  src/main/webapp/app/exercises/programming/shared/programming-exercise.component.ts
  src/main/webapp/app/exercises/programming/shared/utils/programming-exercise-simulation-utils.ts
  src/main/webapp/app/overview/course-overview.scss
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.html
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.ts
  src/main/webapp/app/shared/layouts/profiles/profile.service.ts
  src/main/webapp/i18n/de/exercise.json
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/exercise.json
  src/main/webapp/i18n/en/programmingExercise.json
  src/test/java/de/tum/in/www1/artemis/AbstractSpringDevelopmentTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingSubmissionAndResultIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/simulation/ProgrammingExerciseSimulationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/simulation/ProgrammingExerciseSubmissionAndResultSimulationIntegrationTest.java
  src/test/javascript/spec/component/overview/course-exercises/course-exercise-row.spec.ts
  src/test/javascript/spec/component/overview/exercise-details/exercise-details-student-actions.spec.ts
  src/test/resources/config/application-dev.yml
Labels: client, ready for review, server

#1318 Enhancement/doc/setup guide: Improve documentation
  doc/setup/SETUP.md
Labels: documentation

#1307 Text Assessment V2: Complaints
  src/main/java/de/tum/in/www1/artemis/web/rest/TextAssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/TextAssessmentUpdateDTO.java
  src/main/webapp/app/assessment/assessment-layout/assessment-layout.component.html
  src/main/webapp/app/assessment/assessment-layout/assessment-layout.component.ts
  src/main/webapp/app/complaints/complaints-for-tutor/complaints-for-tutor.component.html
  src/main/webapp/app/complaints/complaints-for-tutor/complaints-for-tutor.component.ts
  src/main/webapp/app/exercises/text/assess-new/text-submission-assessment.component.html
  src/main/webapp/app/exercises/text/assess-new/text-submission-assessment.component.ts
  src/main/webapp/app/exercises/text/assess/text-assessment.component.ts
  src/main/webapp/app/exercises/text/assess/text-assessments.service.ts
Labels: client, component:Text, enhancement, ready for review, server

#1326 Show success message after team import
  src/main/webapp/app/exercises/shared/team/teams-import-dialog/teams-import-dialog.component.ts
  src/main/webapp/i18n/de/team.json
  src/main/webapp/i18n/en/team.json
Labels: client, component:Team, enhancement, ready for review

#1324 Fix for Exercise Participation Usability Issues (Modeling, Text, File Upload)
  src/main/java/de/tum/in/www1/artemis/service/SubmissionService.java
  src/main/webapp/app/admin/user-management/user-management-detail.component.html
  src/main/webapp/app/admin/user-management/user-management.component.html
  src/main/webapp/app/complaints/complaints.component.html
  src/main/webapp/app/exercises/file-upload/participate/file-upload-participation.module.ts
  src/main/webapp/app/exercises/file-upload/participate/file-upload-submission.component.html
  src/main/webapp/app/exercises/file-upload/participate/file-upload-submission.component.ts
  src/main/webapp/app/exercises/modeling/participate/modeling-participation.module.ts
  src/main/webapp/app/exercises/modeling/participate/modeling-submission.component.html
  src/main/webapp/app/exercises/modeling/participate/modeling-submission.component.ts
  src/main/webapp/app/exercises/shared/exercise-headers/exercise-headers.module.ts
  src/main/webapp/app/exercises/shared/exercise-headers/header-exercise-page-with-details.component.html
  src/main/webapp/app/exercises/shared/exercise-headers/header-participation-page.component.html
  src/main/webapp/app/exercises/shared/exercise-headers/header-participation-page.component.scss
  src/main/webapp/app/exercises/shared/exercise-headers/header-participation-page.component.ts
  src/main/webapp/app/exercises/text/participate/text-editor.component.html
  src/main/webapp/app/exercises/text/participate/text-editor.component.scss
  src/main/webapp/app/exercises/text/participate/text-editor.component.ts
  src/main/webapp/app/exercises/text/participate/text-participation.module.ts
  src/main/webapp/app/overview/course-card.component.html
  src/main/webapp/app/overview/course-exercises/course-exercises.component.html
  src/main/webapp/app/overview/courses.component.html
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.html
  src/main/webapp/app/overview/result-history/result-history.component.html
  src/main/webapp/app/shared/layouts/notification-container/notification-container.component.html
  src/main/webapp/app/shared/result/result.component.html
  src/main/webapp/app/shared/result/result.component.ts
  src/main/webapp/app/shared/util/utils.ts
  src/main/webapp/i18n/de/student-dashboard.json
  src/main/webapp/i18n/de/textSubmission.json
  src/main/webapp/i18n/en/global.json
  src/main/webapp/i18n/en/student-dashboard.json
  src/main/webapp/i18n/en/textSubmission.json
  src/test/java/de/tum/in/www1/artemis/ModelingSubmissionIntegrationTest.java
  src/test/javascript/spec/component/file-upload-submission/file-upload-submission.spec.ts
  src/test/javascript/spec/component/instructor-dashboard/instructor-exercise-dashboard.spec.ts
  src/test/javascript/spec/component/modeling-submission/modeling-submission.component.spec.ts
  src/test/javascript/spec/component/text-editor/text-editor.spec.ts
  src/test/javascript/spec/component/tutor-dashboard/tutor-exercise-dashboard.spec.ts
  yarn.lock
Labels: bug, client, component:FileUpload, component:Modeling, component:Text, enhancement, ready for review, server

#1325 Feature/questions answers/markdown
  src/main/webapp/app/overview/student-questions/student-question-row.component.html
  src/main/webapp/app/overview/student-questions/student-question-row.component.ts
  src/main/webapp/app/overview/student-questions/student-questions.component.html
  src/main/webapp/app/overview/student-questions/student-questions.component.ts
  src/main/webapp/app/overview/student-questions/student-questions.module.ts
  src/main/webapp/app/shared/markdown-editor/markdown-editor.component.html
  src/main/webapp/app/shared/markdown-editor/markdown-editor.component.scss
  src/main/webapp/app/shared/markdown-editor/markdown-editor.component.ts
Labels: client, component:MarkdownEditor, component:Q&A, feature, ready for review

#1327 Bug Fix: show SGI
  src/main/webapp/app/exercises/text/assess/resizable-instructions/resizable-instructions.component.html
Labels: client, ready for review

#1323 Ensure that users only receive notifications for their courses
  src/main/java/de/tum/in/www1/artemis/repository/GroupNotificationRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/NotificationRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/SingleUserNotificationRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/UserRepository.java
  src/main/java/de/tum/in/www1/artemis/service/GroupNotificationService.java
  src/main/java/de/tum/in/www1/artemis/service/NotificationService.java
  src/main/java/de/tum/in/www1/artemis/service/SingleUserNotificationService.java
  src/main/java/de/tum/in/www1/artemis/service/UserService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/NotificationResource.java
  src/main/webapp/app/core/login/login.service.ts
  src/main/webapp/app/overview/notification/notification.service.ts
  src/test/java/de/tum/in/www1/artemis/NotificationResourceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/SystemNotificationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/ModelFactory.java
  src/test/javascript/spec/mocks/mock-notification.service.ts
  src/test/javascript/spec/service/login-service.spec.ts
Labels: client, component:Notification, ready for review, server

#1335 Fix changed Athene-ports
  src/main/resources/config/application-artemis.yml
Labels: bug, component:Text, enhancement, ready for review

#1332 Remove duplicate keys from English localization json
  src/main/webapp/i18n/en/global.json
Labels: client

#1343 Fix #1341: Course header too small for title
  src/main/webapp/app/overview/course-card.scss
  src/main/webapp/app/overview/courses.component.html
Labels: bug, client

#1340 Performance improvement for courses on dashboard
  src/main/java/de/tum/in/www1/artemis/domain/Exercise.java
  src/main/java/de/tum/in/www1/artemis/repository/CourseRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/FileUploadExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ModelingExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ProgrammingExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/StudentParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/TextExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/ParticipationService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/FileUploadExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextExerciseResource.java
Labels: ready for review, server

#1304 Notification Sidebar
  src/main/webapp/app/admin/notification-management/notification-management.route.ts
  src/main/webapp/app/app.module.ts
  src/main/webapp/app/shared/layouts/navbar/navbar.component.html
  src/main/webapp/app/shared/layouts/notification-container/notification-container.component.html
  src/main/webapp/app/shared/layouts/notification-container/notification-container.scss
  src/main/webapp/app/shared/layouts/notification-sidebar/notification-sidebar.component.html
  src/main/webapp/app/shared/layouts/notification-sidebar/notification-sidebar.component.ts
  src/main/webapp/app/shared/layouts/notification-sidebar/notification-sidebar.scss
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/en/global.json
  src/test/javascript/spec/component/overview/overview.component.spec.ts
Labels: client, component:Notification, ready for review

#1319 Sync for team-based Text and Modeling Exercises
  package.json
  src/main/java/de/tum/in/www1/artemis/security/SecurityUtils.java
  src/main/java/de/tum/in/www1/artemis/web/websocket/dto/OnlineTeamStudentDTO.java
  src/main/java/de/tum/in/www1/artemis/web/websocket/dto/SubmissionSyncPayload.java
  src/main/java/de/tum/in/www1/artemis/web/websocket/team/ParticipationTeamWebsocketService.java
  src/main/webapp/app/entities/submission-sync-payload.model.ts
  src/main/webapp/app/entities/team.model.ts
  src/main/webapp/app/exercises/modeling/participate/modeling-participation.module.ts
  src/main/webapp/app/exercises/modeling/participate/modeling-submission.component.html
  src/main/webapp/app/exercises/modeling/participate/modeling-submission.component.ts
  src/main/webapp/app/exercises/modeling/shared/modeling-editor.component.ts
  src/main/webapp/app/exercises/shared/exercise-headers/header-participation-page.component.html
  src/main/webapp/app/exercises/shared/team-submission-sync/team-submission-sync.component.ts
  src/main/webapp/app/exercises/shared/team-submission-sync/team-submission-sync.module.ts
  src/main/webapp/app/exercises/shared/team/team-participate-info-box/team-participate-info-box.component.html
  src/main/webapp/app/exercises/shared/team/team-participate-info-box/team-participate-info-box.component.scss
  src/main/webapp/app/exercises/shared/team/team-participate-info-box/team-participate-info-box.component.ts
  src/main/webapp/app/exercises/shared/team/team-students-online-list/team-students-online-list.component.html
  src/main/webapp/app/exercises/shared/team/team-students-online-list/team-students-online-list.component.scss
  src/main/webapp/app/exercises/shared/team/team-students-online-list/team-students-online-list.component.ts
  src/main/webapp/app/exercises/shared/team/team-update-dialog/team-update-dialog.component.scss
  src/main/webapp/app/exercises/shared/team/team.module.ts
  src/main/webapp/app/exercises/text/participate/text-editor.component.html
  src/main/webapp/app/exercises/text/participate/text-editor.component.scss
  src/main/webapp/app/exercises/text/participate/text-editor.component.ts
  src/main/webapp/app/exercises/text/participate/text-participation.module.ts
  src/main/webapp/app/shared/result/result.component.ts
  src/main/webapp/content/scss/global.scss
  src/test/java/de/tum/in/www1/artemis/service/ParticipationTeamWebsocketServiceTest.java
  src/test/javascript/spec/component/modeling-submission/modeling-submission.component.spec.ts
  src/test/javascript/spec/component/text-editor/text-editor.spec.ts
Labels: client, component:Modeling, component:Team, component:Text, feature, ready for review, server

#1350 Disable SGI drag and drop in readOnly mode
  package.json
  src/main/java/de/tum/in/www1/artemis/repository/ExampleSubmissionRepository.java
  src/main/webapp/app/assessment/assessment-detail/assessment-detail.component.ts
  src/main/webapp/app/assessment/assessment-instructions/assessment-instructions/assessment-instructions.component.html
  src/main/webapp/app/assessment/assessment-instructions/assessment-instructions/assessment-instructions.component.ts
  src/main/webapp/app/assessment/assessment-instructions/collapsable-assessment-instructions/collapsable-assessment-instructions.component.html
  src/main/webapp/app/assessment/assessment-instructions/collapsable-assessment-instructions/collapsable-assessment-instructions.component.ts
  src/main/webapp/app/assessment/structured-grading-instructions-assessment-layout/structured-grading-instructions-assessment-layout.component.html
  src/main/webapp/app/assessment/structured-grading-instructions-assessment-layout/structured-grading-instructions-assessment-layout.component.ts
  src/main/webapp/app/exercises/file-upload/manage/file-upload-exercise-detail.component.html
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment-editor/modeling-assessment-editor.component.html
  src/main/webapp/app/exercises/modeling/manage/example-modeling/example-modeling-submission.component.html
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise-detail.component.html
  src/main/webapp/app/exercises/shared/dashboards/tutor/tutor-exercise-dashboard.component.html
  src/main/webapp/app/exercises/text/assess/resizable-instructions/resizable-instructions.component.html
  src/main/webapp/app/exercises/text/assess/resizable-instructions/resizable-instructions.component.ts
  src/main/webapp/app/exercises/text/manage/example-text-submission/example-text-submission.component.html
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise-detail.component.html
  yarn.lock
Labels: client, ready for review, server

#1290 Feature/docker files
  .env
  doc/bamboo-bitbucket-jira/BAMBOO_BITBUCKET_JIRA_SETUP.md
  doc/bamboo-bitbucket-jira/bamboo_bitbucket_applicationLink.png
  doc/bamboo-bitbucket-jira/bamboo_jira_applicationLink.png
  doc/bamboo-bitbucket-jira/bitbucket_bamboo_applicationLink.png
  doc/bamboo-bitbucket-jira/bitbucket_jira_applicationLink.png
  doc/bamboo-bitbucket-jira/jira_add_application.png
  doc/bamboo-bitbucket-jira/jira_bamboo_applicationLink.png
  doc/bamboo-bitbucket-jira/jira_bitbucket_applicationLink.png
  doc/bamboo-bitbucket-jira/user_directories.png
  src/main/docker/atlassian-setup.sh
  src/main/docker/atlassian.yml
  src/main/docker/bamboo/Dockerfile
  src/main/docker/gitlab-jenkins.yml
  src/main/docker/gitlab/gitlab-setup.sh
  src/main/docker/jenkins/Dockerfile
  src/main/java/de/tum/in/www1/artemis/service/connectors/BambooBuildPlanService.java
Labels: component:Programming, documentation, ready for review, server

#1338 Fullscreen mode on modelling-submission.component
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment-editor/modeling-assessment-editor.module.ts
  src/main/webapp/app/exercises/modeling/participate/modeling-participation.module.ts
  src/main/webapp/app/exercises/modeling/participate/modeling-submission.component.html
  src/main/webapp/app/shared/fullscreen/fullscreen.component.html
  src/main/webapp/app/shared/fullscreen/fullscreen.component.ts
  src/main/webapp/app/shared/fullscreen/fullscreen.module.ts
  src/main/webapp/app/shared/fullscreen/fullscreen.scss
  src/main/webapp/i18n/de/modelingEditor.json
  src/main/webapp/i18n/en/modelingEditor.json
  src/test/javascript/spec/component/modeling-submission/modeling-submission.component.spec.ts
Labels: client, ready for review

#1364 added pipe to dates in order to show them in a readable format
  src/main/webapp/app/lecture/lecture-detail.component.html
Labels: bug, client, ready for review

#1361 Feature/text/enable text assessmnet v2
  src/main/webapp/app/app-routing.module.ts
  src/main/webapp/app/exercises/text/assess-new/text-submission-assessment.component.html
  src/main/webapp/app/exercises/text/assess-new/text-submission-assessment.component.ts
  src/main/webapp/app/exercises/text/assess/text-assessment.component.html
  src/main/webapp/app/exercises/text/assess/text-assessment.component.scss
  src/main/webapp/app/exercises/text/assess/text-assessment.component.ts
  src/main/webapp/app/exercises/text/assess/text-assessment.module.ts
  src/main/webapp/app/exercises/text/assess/text-assessment.route.ts
  src/main/webapp/i18n/de/textAssessment.json
  src/main/webapp/i18n/en/textAssessment.json
  src/test/javascript/spec/component/text-exercise-assessment/text-exercise-assessement.spec.ts
Labels: client, component:Text, feature, ready for review

#1356 adapt the new text assessment version to the SGI feature
  src/main/webapp/app/assessment/assessment-detail/assessment-detail.component.html
  src/main/webapp/app/assessment/assessment-detail/assessment-detail.component.ts
  src/main/webapp/app/exercises/shared/structured-grading-criterion/structured-grading-criterion.service.ts
  src/main/webapp/app/exercises/text/assess-new/textblock-assessment-card/textblock-assessment-card.component.html
  src/main/webapp/app/exercises/text/assess-new/textblock-assessment-card/textblock-assessment-card.component.ts
  src/main/webapp/app/exercises/text/assess-new/textblock-feedback-editor/textblock-feedback-editor.component.html
  src/main/webapp/app/exercises/text/assess-new/textblock-feedback-editor/textblock-feedback-editor.component.ts
Labels: client, ready for review

#1363 Accurate timezone evaluation
  src/main/java/de/tum/in/www1/artemis/repository/CourseRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/SystemNotificationRepository.java
  src/main/java/de/tum/in/www1/artemis/service/SystemNotificationService.java
  src/test/java/de/tum/in/www1/artemis/CourseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/FileUploadExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/SystemNotificationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
Labels: server

#1366 Log execution times for team websocket submission update endpoints
  src/main/java/de/tum/in/www1/artemis/web/websocket/team/ParticipationTeamWebsocketService.java
Labels: chore, component:Modeling, component:Team, component:Text, ready for review, server
