Repository ls1intum/Artemis, pull requests merged in 2020-02, with the labels that each got.

#1199 Increase test coverage for text-related resources
  src/main/java/de/tum/in/www1/artemis/web/rest/TextExerciseResource.java
  src/test/java/de/tum/in/www1/artemis/TextAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/TextExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/TextSubmissionIntegrationTest.java
Labels: chore, ready for review, server, tests

#1219 Chore/test coverage/programming exercise resource
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/BambooService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/BitbucketService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/dto/BambooProjectDTO.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/dto/BambooProjectSearchDTO.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bitbucket/dto/BitbucketSearchDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseResource.java
  src/test/java/de/tum/in/www1/artemis/connector/bamboo/BambooRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/connector/bitbucket/BitbucketRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseBitbucketBambooIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/java/de/tum/in/www1/artemis/util/RequestUtilService.java
Labels: chore, component:Programming, ready for review, server, tests

#1222 Hide build plan link button if plan does not exist
  src/main/webapp/app/entities/programming-exercise/utils/build-plan-button.directive.ts
Labels: client, component:Programming, enhancement, ready for review

#1210 Github Doc / User Manual for guided tutorials
  doc/guided-tour/GUIDED_TOUR_SETUP.md
  doc/guided-tour/image-tour-step.png
  doc/guided-tour/modeling-task-tour-step.png
  doc/guided-tour/text-tour-step-2.png
  doc/guided-tour/text-tour-step.png
  doc/guided-tour/video-tour-step.png
  src/main/webapp/app/guided-tour/guided-tour.constants.ts
Labels: client, component:GuidedTour, documentation

#1224 Chore/test coverage/complaint resource lecture resource
  src/test/java/de/tum/in/www1/artemis/AssessmentComplaintIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/LectureIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
Labels: chore, work in progress

#1229 Chore/test coverage/notification resource
  src/test/java/de/tum/in/www1/artemis/NotificationResourceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/SystemNotificationIntegrationTest.java
  src/test/resources/h2/custom-functions.sql
Labels: tests

#1231 Chore/test coverage logs resource
  src/test/java/de/tum/in/www1/artemis/LogsResourceIntegrationTest.java
Labels: tests

#1230 Chore/test coverage/system notification resource
  src/test/java/de/tum/in/www1/artemis/SystemNotificationIntegrationTest.java
Labels: tests

#1232 test(apollonDiagram): add test cases
  src/main/java/de/tum/in/www1/artemis/web/rest/ApollonDiagramResource.java
  src/test/java/de/tum/in/www1/artemis/ApollonDiagramResourceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/ModelFactory.java
Labels: server, tests

#1233 Chore/test coverage/modeling assessment conflict resource
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingAssessmentConflictRessource.java
  src/test/java/de/tum/in/www1/artemis/ModelingAssessmentConflictResourceIntegrationTest.java
Labels: server, tests

#1218 Enhancement: Refactoring and preparation for tutor assessment tutorial
  src/main/webapp/app/entities/example-submission/index.ts
  src/main/webapp/app/entities/exercise/exercise.model.ts
  src/main/webapp/app/entities/tutor-participation/tutor-participation.model.ts
  src/main/webapp/app/example-modeling-submission/example-modeling-submission.component.ts
  src/main/webapp/app/example-text-submission/example-text-submission.component.ts
  src/main/webapp/app/guided-tour/guided-tour-step.model.ts
  src/main/webapp/app/guided-tour/guided-tour.component.ts
  src/main/webapp/app/guided-tour/guided-tour.service.ts
  src/main/webapp/app/guided-tour/tours/code-editor-tour.ts
  src/main/webapp/app/guided-tour/tours/course-exercise-detail-tour.ts
  src/main/webapp/app/guided-tour/tours/course-exercise-overview-tour.ts
  src/main/webapp/app/guided-tour/tours/course-overview-tour.ts
  src/main/webapp/app/guided-tour/tours/modeling-tour.ts
  src/main/webapp/app/tutor-exercise-dashboard/tutor-participation.service.ts
  src/test/javascript/spec/service/guided-tour.service.spec.ts
Labels: client, component:GuidedTour, enhancement, ready for review

#1238 Test coverage for TutorParticipationResource
  src/test/java/de/tum/in/www1/artemis/TutorParticipationIntegrationTest.java
Labels: chore, ready for review, server, tests

#1228 Filter participations without submissions + add submission count to participations
  src/main/java/de/tum/in/www1/artemis/domain/Result.java
  src/main/java/de/tum/in/www1/artemis/domain/participation/Participation.java
  src/main/java/de/tum/in/www1/artemis/repository/StudentParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ParticipationService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ParticipationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ResultResource.java
  src/main/webapp/app/entities/participation/participation.component.html
  src/main/webapp/app/entities/participation/participation.component.ts
  src/main/webapp/app/entities/participation/participation.model.ts
  src/main/webapp/app/scores/exercise-scores.component.html
  src/main/webapp/i18n/de/exercise.json
  src/main/webapp/i18n/en/exercise.json
Labels: client, feature, ready for review, server

#1235 Chore: Add tests for Submission Resource
  src/main/java/de/tum/in/www1/artemis/web/rest/SubmissionResource.java
  src/test/java/de/tum/in/www1/artemis/ParticipationSubmissionIntegrationTest.java
Labels: chore, ready for review, server, tests

#1237 Test coverage for UserJWTController
  src/main/java/de/tum/in/www1/artemis/web/rest/UserJWTController.java
  src/test/java/de/tum/in/www1/artemis/authentication/InternalAuthenticationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/ModelFactory.java
  src/test/java/de/tum/in/www1/artemis/util/RequestUtilService.java
Labels: chore, ready for review, server, tests

#1227 Bugfix/submission overview reconnect results
  src/main/webapp/app/entities/participation-submission/participation-submission.component.html
  src/main/webapp/app/entities/submission/submission.service.ts
Labels: bug, client, component:Programming, ready for review

#1223 Use DTOs for Bamboo result notifications
  src/main/java/de/tum/in/www1/artemis/service/connectors/BambooService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/dto/BambooBuildResultNotificationDTO.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/dto/QueriedBambooBuildResultDTO.java
  src/test/java/de/tum/in/www1/artemis/connector/bamboo/BambooRequestMockProvider.java
Labels: component:Programming, enhancement, ready for review, server

#1155 Orion: Client Changes in preparation for 1.0.0
  package.json
  src/main/webapp/app/app.module.ts
  src/main/webapp/app/code-editor/code-editor.module.ts
  src/main/webapp/app/code-editor/code-editor.route.ts
  src/main/webapp/app/code-editor/instructor/code-editor-instructor-orion-container.component.html
  src/main/webapp/app/code-editor/instructor/code-editor-instructor-orion-container.component.ts
  src/main/webapp/app/core/auth/user-route-access-service.ts
  src/main/webapp/app/entities/course/course-exercises-overview.component.html
  src/main/webapp/app/entities/course/course.component.html
  src/main/webapp/app/entities/course/course.module.ts
  src/main/webapp/app/entities/programming-exercise/programming-exercise.component.html
  src/main/webapp/app/entities/programming-exercise/programming-exercise.component.ts
  src/main/webapp/app/entities/programming-exercise/programming-exercise.module.ts
  src/main/webapp/app/home/home.component.ts
  src/main/webapp/app/intellij/ide-filter.directive.ts
  src/main/webapp/app/intellij/intellij.module.ts
  src/main/webapp/app/intellij/intellij.ts
  src/main/webapp/app/layouts/error/error.route.ts
  src/main/webapp/app/layouts/profiles/profile-info.model.ts
  src/main/webapp/app/layouts/profiles/profile.service.ts
  src/main/webapp/app/orion/modal-confirm-autofocus/modal-confirm-autofocus.component.html
  src/main/webapp/app/orion/modal-confirm-autofocus/modal-confirm-autofocus.component.ts
  src/main/webapp/app/orion/orion-build-and-test.service.ts
  src/main/webapp/app/orion/orion-button/orion-button.component.html
  src/main/webapp/app/orion/orion-button/orion-button.component.scss
  src/main/webapp/app/orion/orion-button/orion-button.component.ts
  src/main/webapp/app/orion/orion-connector.service.ts
  src/main/webapp/app/orion/orion-filter.directive.ts
  src/main/webapp/app/orion/orion.module.ts
  src/main/webapp/app/orion/orion.ts
  src/main/webapp/app/orion/outdated-plugin-warning/orion-outdated.component.ts
  src/main/webapp/app/orion/outdated-plugin-warning/orion-version-validator.service.ts
  src/main/webapp/app/overview/course-exercises/course-exercise-row.component.html
  src/main/webapp/app/overview/course-exercises/course-exercises.component.ts
  src/main/webapp/app/overview/course-overview.component.html
  src/main/webapp/app/overview/course-overview.component.ts
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.html
  src/main/webapp/app/overview/exercise-details/programming-exercise-student-ide-actions.component.html
  src/main/webapp/app/overview/exercise-details/programming-exercise-student-ide-actions.component.ts
  src/main/webapp/app/overview/overview.module.ts
  src/main/webapp/i18n/de/exercise-actions.json
  src/main/webapp/i18n/de/orion.json
  src/main/webapp/i18n/en/exercise-actions.json
  src/main/webapp/i18n/en/orion.json
  src/test/javascript/spec/component/orion/orion-version-validator.service.spec.ts
  src/test/javascript/spec/component/overview/course-exercises/course-exercise-row.spec.ts
  src/test/javascript/spec/component/overview/exercise-details/programming-exercise-student-ide-actions.spec.ts
  src/test/javascript/spec/mocks/mock-java-bridge.service.ts
  src/test/javascript/spec/mocks/mock-orion-connector.service.ts
  src/test/javascript/spec/mocks/mock-window.service.ts
  src/test/javascript/spec/service/ide-build-and-test-service.spec.ts
Labels: client, component:Orion, feature, ready for review, work in progress

#1146 Feature/grading instructions/modify data model for SGI
  src/main/java/de/tum/in/www1/artemis/domain/Exercise.java
  src/main/java/de/tum/in/www1/artemis/domain/GradingCriterion.java
  src/main/java/de/tum/in/www1/artemis/domain/GradingInstruction.java
  src/main/java/de/tum/in/www1/artemis/repository/ExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/GradingCriterionRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/GradingInstructionRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/GradingCriterionService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextExerciseResource.java
  src/main/resources/config/liquibase/changelog/20191210131150_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/test/java/de/tum/in/www1/artemis/FileUploadExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ModelingExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/java/de/tum/in/www1/artemis/util/ModelFactory.java
Labels: ready for review, server

#1245 Chore/test coverage/attachment resource
  src/test/java/de/tum/in/www1/artemis/AttachmentResourceIntegrationTest.java
Labels: chore, tests

#1234 Chore: Add tests for ResultResource
  src/test/java/de/tum/in/www1/artemis/ResultServiceIntegrationTest.java
Labels: chore, ready for review, server, tests

#1225 Feature Guided Tour: Tutor assessment tutorial
  src/main/java/de/tum/in/www1/artemis/config/GuidedTourConfiguration.java
  src/main/java/de/tum/in/www1/artemis/repository/TutorParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/service/TutorParticipationService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TutorParticipationResource.java
  src/main/resources/config/application-dev.yml
  src/main/resources/config/application-prod.yml
  src/main/webapp/app/code-editor/code-editor-student-container.component.ts
  src/main/webapp/app/components/util/markdown.service.ts
  src/main/webapp/app/core/icons/font-awesome-icons.ts
  src/main/webapp/app/entities/course/course.component.html
  src/main/webapp/app/entities/course/course.component.ts
  src/main/webapp/app/example-text-submission/example-text-submission.component.html
  src/main/webapp/app/example-text-submission/example-text-submission.component.ts
  src/main/webapp/app/guided-tour/guided-tour-step.model.ts
  src/main/webapp/app/guided-tour/guided-tour-task.model.ts
  src/main/webapp/app/guided-tour/guided-tour.component.html
  src/main/webapp/app/guided-tour/guided-tour.component.ts
  src/main/webapp/app/guided-tour/guided-tour.constants.ts
  src/main/webapp/app/guided-tour/guided-tour.model.ts
  src/main/webapp/app/guided-tour/guided-tour.service.ts
  src/main/webapp/app/guided-tour/guided-tour.utils.ts
  src/main/webapp/app/guided-tour/tours/code-editor-tour.ts
  src/main/webapp/app/guided-tour/tours/course-exercise-detail-tour.ts
  src/main/webapp/app/guided-tour/tours/course-exercise-overview-tour.ts
  src/main/webapp/app/guided-tour/tours/course-overview-tour.ts
  src/main/webapp/app/guided-tour/tours/general-tour.ts
  src/main/webapp/app/guided-tour/tours/modeling-tour.ts
  src/main/webapp/app/guided-tour/tours/tutor-assessment-tour.ts
  src/main/webapp/app/layouts/navbar/navbar.component.ts
  src/main/webapp/app/modeling-submission/modeling-submission.component.ts
  src/main/webapp/app/overview/course-exercises/course-exercises.component.ts
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.ts
  src/main/webapp/app/overview/overview.component.ts
  src/main/webapp/app/tutor-course-dashboard/tutor-course-dashboard.component.html
  src/main/webapp/app/tutor-course-dashboard/tutor-course-dashboard.component.ts
  src/main/webapp/app/tutor-exercise-dashboard/tutor-exercise-dashboard.component.html
  src/main/webapp/app/tutor-exercise-dashboard/tutor-exercise-dashboard.component.ts
  src/main/webapp/app/tutor-exercise-dashboard/tutor-participation.service.ts
  src/main/webapp/i18n/de/exampleSubmission.json
  src/main/webapp/i18n/de/guidedTourTutorAssessment.json
  src/main/webapp/i18n/de/tutorCourseDashboard.json
  src/main/webapp/i18n/en/exampleSubmission.json
  src/main/webapp/i18n/en/guidedTourTutorAssessment.json
  src/test/java/de/tum/in/www1/artemis/TutorParticipationResourceIntegrationTest.java
  src/test/javascript/spec/component/tutor-dashboard/tutor-exercise-dashboard.spec.ts
  src/test/javascript/spec/service/guided-tour.service.spec.ts
  src/test/resources/config/application.yml
Labels: client, component:GuidedTour, feature, ready for review, server

#1247 Add missing caches
  src/main/java/de/tum/in/www1/artemis/config/CacheConfiguration.java
Labels: chore, ready for review, server

#1255 Refactor lecture routes
  src/main/webapp/app/course/manage/course-management.component.html
  src/main/webapp/app/lecture/lecture-detail.component.html
  src/main/webapp/app/lecture/lecture.route.ts
  src/main/webapp/i18n/en/lecture.json
Labels: chore, client, ready for review

#1254 Fix quiz route exercise ID params
  src/main/webapp/app/exercises/quiz/manage/quiz-management.route.ts
  src/main/webapp/app/exercises/quiz/manage/re-evaluate/quiz-re-evaluate.component.ts
  src/main/webapp/app/exercises/quiz/participate/quiz-participation.component.ts
Labels: bug, client, component:Quiz, ready for review

#1258 Chore/test coverage/file upload
  src/test/java/de/tum/in/www1/artemis/FileUploadAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/FileUploadExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/FileUploadSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
Labels: ready for review, server, tests

#1260 Chore/test coverage/quiz resources
  src/main/java/de/tum/in/www1/artemis/service/QuizStatisticService.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/QuizScheduleService.java
  src/test/java/de/tum/in/www1/artemis/QuizExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/QuizSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
Labels: chore, ready for review, server, tests

#1261 Feature/programming exercises/jenkins gitlab documentation
  README.md
  doc/jenkins-gitlab/JENKINS_AND_GITLAB_SETUP.md
  doc/jenkins-gitlab/artemis_gitlab_access_token.png
  doc/jenkins-gitlab/gitlab_access_tokens_button.png
  doc/jenkins-gitlab/gitlab_jenkins_token_rights.png
  doc/jenkins-gitlab/gitlab_setting_button.png
  doc/jenkins-gitlab/jeknins_credentials_overview.png
  doc/jenkins-gitlab/jenkins_credential_details.png
  doc/jenkins-gitlab/jenkins_credential_single_select.png
  doc/jenkins-gitlab/jenkins_custom_plugin.png
  doc/jenkins-gitlab/jenkins_gitlab_configuration.png
  doc/jenkins-gitlab/jenkins_project_config_xml.png
  doc/jenkins-gitlab/jenkins_test_project.png
  doc/jenkins-gitlab/timestamper_config.png
Labels: component:Programming, documentation, feature, ready for review

#1239 Chore/test coverage/management resource
  src/main/java/de/tum/in/www1/artemis/repository/PersistenceAuditEventRepository.java
  src/test/java/de/tum/in/www1/artemis/ManagementResourceIntegrationTest.java
Labels: chore, ready for review, server, tests

#1246 Chore/test coverage/participation resource
  src/main/java/de/tum/in/www1/artemis/web/rest/ParticipationResource.java
  src/test/java/de/tum/in/www1/artemis/ParticipationIntegrationTest.java
Labels: chore, ready for review, server, tests
