Repository ls1intum/Artemis, pull requests merged in 2020-11, with the labels that each got.

#2305 bugfix for wrong amount of complaints shown
  src/main/java/de/tum/in/www1/artemis/web/rest/ExerciseResource.java
Labels: ready for review, server

#2313 Programming Template UML Visibilities
  src/main/resources/templates/java/eclipse/readme
  src/main/resources/templates/python/readme
Labels: ready for review

#2245 Feature/guided tour/automatic assignment of tutorial groups
  docs/dev/guided-tour.rst
  src/main/java/de/tum/in/www1/artemis/repository/CourseRepository.java
  src/main/java/de/tum/in/www1/artemis/service/UserService.java
  src/main/resources/config/application-dev.yml
  src/main/resources/config/application-prod.yml
  src/test/java/de/tum/in/www1/artemis/AbstractSpringIntegrationJenkinsGitlabTest.java
  src/test/java/de/tum/in/www1/artemis/authentication/InternalAuthenticationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/connector/gitlab/GitlabRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
Labels: ready for review, server

#2302 Various Bugfixes in the Lecture Unit Feature
  src/main/java/de/tum/in/www1/artemis/config/Constants.java
  src/main/java/de/tum/in/www1/artemis/domain/Attachment.java
  src/main/java/de/tum/in/www1/artemis/domain/Course.java
  src/main/java/de/tum/in/www1/artemis/domain/LearningGoal.java
  src/main/java/de/tum/in/www1/artemis/domain/Lecture.java
  src/main/java/de/tum/in/www1/artemis/domain/lecture/AttachmentUnit.java
  src/main/java/de/tum/in/www1/artemis/domain/lecture/ExerciseUnit.java
  src/main/java/de/tum/in/www1/artemis/domain/lecture/LectureUnit.java
  src/main/java/de/tum/in/www1/artemis/domain/lecture/TextUnit.java
  src/main/java/de/tum/in/www1/artemis/domain/lecture/VideoUnit.java
  src/main/java/de/tum/in/www1/artemis/domain/quiz/DragAndDropQuestion.java
  src/main/java/de/tum/in/www1/artemis/domain/quiz/DragItem.java
  src/main/java/de/tum/in/www1/artemis/repository/AttachmentUnitRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ExerciseUnitRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/LectureUnitRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/TextUnitRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/VideoUnitRepository.java
  src/main/java/de/tum/in/www1/artemis/service/AuthorizationCheckService.java
  src/main/java/de/tum/in/www1/artemis/service/ExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/FileService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/FileResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/LectureResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/lecture/AttachmentUnitResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/lecture/ExerciseUnitResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/lecture/LectureUnitResource.java
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/lecture-unit-management.component.html
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/lecture-unit-management.component.ts
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/lectureUnit.service.ts
  src/main/webapp/app/overview/course-lectures/course-lecture-details.component.html
  src/main/webapp/app/overview/course-lectures/exercise-unit/exercise-unit.component.html
  src/main/webapp/app/overview/course-lectures/exercise-unit/exercise-unit.component.ts
  src/test/java/de/tum/in/www1/artemis/AttachmentUnitIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ExerciseUnitIntegrationTest.java
Labels: bug, client, ready for review, server

#2304 [Enhancement] Add bonus to views and some renamings
  src/main/webapp/app/exam/manage/exercise-groups/exercise-groups.component.html
  src/main/webapp/app/exam/manage/student-exams/student-exam-detail.component.html
  src/main/webapp/app/exam/participate/exercises/modeling/modeling-exam-submission.component.html
  src/main/webapp/app/exam/participate/exercises/programming/programming-exam-submission.component.html
  src/main/webapp/app/exam/participate/exercises/text/text-exam-submission.component.html
  src/main/webapp/app/exam/participate/summary/exam-participation-summary.component.html
  src/main/webapp/app/exam/participate/summary/points-summary/exam-points-summary.component.html
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.html
  src/main/webapp/app/exercises/shared/exercise-headers/header-exercise-page-with-details.component.html
  src/main/webapp/app/exercises/shared/exercise-headers/header-participation-page.component.html
  src/main/webapp/app/exercises/shared/exercise/exercise-details/exercise-details.component.html
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/de/student-dashboard.json
  src/main/webapp/i18n/en/exam.json
  src/main/webapp/i18n/en/exercise.json
  src/main/webapp/i18n/en/student-dashboard.json
Labels: client, enhancement, exam mode: client, ready for review

#2311 Increase Course Registration Message Max Length from 255 to 2000
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/resources/config/liquibase/changelog/20201102143912_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/course/manage/course-update.component.ts
Labels: bug, client, config-change, database, server

#2327 Make "Apollon already destroyed" error more visible in browser console
  package.json
  yarn.lock
Labels: client, ready for review

#2319 Course-score-calculation Sentry error
  src/main/webapp/app/overview/course-score-calculation.service.ts
Labels: client, ready for review

#2322 [Bugfix] Questions & Answers: Load courseId via route instead of question to prevent undefined error
  src/main/webapp/app/overview/student-questions/student-question/student-question.component.ts
  src/test/javascript/spec/component/student-questions/student-question.component.spec.ts
  src/test/javascript/spec/component/student-questions/student-votes.component.spec.ts
Labels: bug, client, component:Q&A, ready for review

#2332 Removed Error when value is undefined
  src/main/webapp/app/exercises/shared/exercise-scores/exercise-scores.component.html
  src/main/webapp/app/exercises/shared/exercise-scores/exercise-scores.component.ts
  src/main/webapp/app/exercises/shared/participation/participation.component.html
  src/main/webapp/app/exercises/shared/participation/participation.component.ts
Labels: bug, client, priority:low

#2331 [Bugfix] Fix graphs on course statistics by taking bonus points into account
  src/main/webapp/app/overview/course-statistics/course-statistics.component.ts
Labels: bug, client, component:Shared, ready for review

#2240 Server coding and design guidelines
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
  docs/README.md
  docs/dev/guidelines.rst
  docs/dev/guidelines/client.rst
  docs/dev/guidelines/server.rst
  docs/index.rst
  docs/user/introduction.rst
Labels: chore, documentation, ready for review, server

#2321 [Bugfix] Fix NPE of Exercises Scores page
  src/main/webapp/app/exercises/shared/exercise-scores/exercise-scores.component.ts
Labels: bug, client, ready for review

#2335 [Bugfix] Fix NPE for automatic feedback as the build can fail
  src/main/webapp/app/exercises/programming/assess/code-editor-tutor-assessment-container.component.ts
Labels: client

#2325 [Bugfix] Text result icon
  src/main/webapp/app/exercises/text/participate/text-result/text-result-block.ts
  src/main/webapp/app/exercises/text/participate/text-result/text-result.component.html
Labels: client, component:Text

#2323 Show failing Tests as GitHub Annotations
  .github/workflows/build.yml
Labels: ready for review

#2339 Added fixture.detectChanges() to lecture-unit-mangement.component.spec.ts
  src/test/javascript/spec/component/lecture-unit/lecture-unit-management.component.spec.ts
Labels: bug, client, ready for review

#2315 [Enhancement] Fetch latest submission for instructor code editor
  src/main/java/de/tum/in/www1/artemis/repository/ProgrammingExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/StudentParticipationRepository.java
Labels: component:Programming, ready for review, server

#2283 Add breadcrumb navigation
  src/main/webapp/app/shared/layouts/navbar/navbar.component.html
  src/main/webapp/app/shared/layouts/navbar/navbar.component.ts
  src/main/webapp/app/shared/layouts/navbar/navbar.scss
Labels: client, ready for review

#2292 [Feature] Support for PMD Copy/Paste Detection
  src/main/java/de/tum/in/www1/artemis/config/StaticCodeAnalysisConfigurer.java
  src/main/java/de/tum/in/www1/artemis/domain/enumeration/StaticCodeAnalysisTool.java
  src/main/resources/templates/java/maven/test/projectTemplate/pom.xml
  src/main/resources/templates/java/test/projectTemplate/pom.xml
  src/test/java/de/tum/in/www1/artemis/util/ModelFactory.java
  src/test/java/de/tum/in/www1/artemis/util/ProgrammingExerciseResultTestService.java
Labels: component:Programming, ready for review, server

#2309 Remove 'view' routes
  src/main/webapp/app/admin/system-notification-management/system-notification-management.component.html
  src/main/webapp/app/admin/system-notification-management/system-notification-management.route.ts
  src/main/webapp/app/admin/user-management/user-management.component.html
  src/main/webapp/app/admin/user-management/user-management.route.ts
  src/main/webapp/app/course/manage/course-group.component.html
  src/main/webapp/app/course/manage/course-management.component.html
  src/main/webapp/app/course/manage/course-management.route.ts
  src/main/webapp/app/exam/manage/exam-management.component.html
  src/main/webapp/app/exam/manage/exam-management.route.ts
  src/main/webapp/app/exam/manage/exams/exam-detail.component.html
  src/main/webapp/app/exam/manage/student-exams/student-exams.component.html
  src/main/webapp/app/exam/manage/students/exam-students.component.html
  src/main/webapp/app/exam/manage/test-runs/test-run-management.component.html
  src/main/webapp/app/exercises/shared/exercise-hint/manage/exercise-hint.component.html
  src/main/webapp/app/exercises/shared/exercise-hint/manage/exercise-hint.route.ts
  src/main/webapp/app/exercises/shared/exercise-scores/exercise-scores.component.html
  src/main/webapp/app/exercises/shared/exercise/exercise-details/exercise-details.component.html
  src/main/webapp/app/exercises/shared/participation/participation.component.html
  src/main/webapp/app/exercises/shared/team/team-students-list/team-students-list.component.html
  src/main/webapp/app/exercises/shared/team/team.component.html
  src/main/webapp/app/exercises/shared/team/teams.component.html
  src/main/webapp/app/lecture/lecture-detail.component.html
  src/main/webapp/app/lecture/lecture.component.html
  src/main/webapp/app/lecture/lecture.route.ts
Labels: client, ready for review

#2314 [Feature] Stash unsubmitted changes after due date has passed
  src/main/java/de/tum/in/www1/artemis/config/Constants.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseParticipationService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/GitService.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/ProgrammingExerciseScheduleService.java
  src/test/java/de/tum/in/www1/artemis/RepositoryProgrammingExerciseParticipationResourceIntegrationTest.java
Labels: component:Programming, feature, ready for review, server

#2350 Log swallowed Exception
  src/main/java/de/tum/in/www1/artemis/service/connectors/gitlab/GitLabService.java
Labels: server

#2312 [Bugfix] Fix parsing of test-case names in markdown
  src/main/webapp/app/exercises/programming/manage/instructions-editor/analysis/programming-exercise-instruction-analysis.service.ts
  src/main/webapp/app/exercises/programming/shared/instructions-render/extensions/programming-exercise-plant-uml.extension.ts
  src/main/webapp/app/exercises/programming/shared/instructions-render/extensions/programming-exercise-task.extension.ts
  src/main/webapp/app/exercises/shared/result/result-detail.component.ts
Labels: bug, client, component:MarkdownEditor, component:Programming, ready for review

#2348 [Bugfix] Fix wrong translation and add margin for example solution repo label
  src/main/webapp/app/assessment/assessment-instructions/assessment-instructions/assessment-instructions.component.html
Labels: bug, client, component:Programming, ready for review

#2280 [Enhancement] Java template and SCA configuration
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseService.java
  src/main/resources/templates/java/eclipse/exercise/src/${packageNameFolder}/Client.java
  src/main/resources/templates/java/eclipse/solution/src/${packageNameFolder}/Client.java
  src/main/resources/templates/java/exercise/src/${packageNameFolder}/BubbleSort.java
  src/main/resources/templates/java/exercise/src/${packageNameFolder}/MergeSort.java
  src/main/resources/templates/java/maven/exercise/src/${packageNameFolder}/Client.java
  src/main/resources/templates/java/maven/solution/src/${packageNameFolder}/Client.java
  src/main/resources/templates/java/maven/test/projectTemplate/pom.xml
  src/main/resources/templates/java/solution/src/${packageNameFolder}/BubbleSort.java
  src/main/resources/templates/java/solution/src/${packageNameFolder}/Context.java
  src/main/resources/templates/java/solution/src/${packageNameFolder}/MergeSort.java
  src/main/resources/templates/java/solution/src/${packageNameFolder}/Policy.java
  src/main/resources/templates/java/solution/src/${packageNameFolder}/SortStrategy.java
  src/main/resources/templates/java/test/projectTemplate/pom.xml
  src/main/resources/templates/java/test/staticCodeAnalysisConfig/checkstyle-configuration.xml
  src/main/resources/templates/java/test/staticCodeAnalysisConfig/pmd-configuration.xml
  src/main/resources/templates/java/test/staticCodeAnalysisConfig/spotbugs-exclusions.xml
Labels: component:Programming, ready for review, server

#2352 Fix a route mismatch when trying to create lectures
  src/main/webapp/app/admin/system-notification-management/system-notification-management.route.ts
  src/main/webapp/app/admin/user-management/user-management.route.ts
  src/main/webapp/app/exercises/shared/exercise-hint/manage/exercise-hint.route.ts
  src/main/webapp/app/lecture/lecture.route.ts
Labels: bug, client, priority:critical, ready for review

#2358 Chore/tests submission services
  src/main/webapp/app/exercises/shared/submission/submission.service.ts
  src/test/javascript/spec/service/submission.service.spec.ts
Labels: client, ready for review, tests

#2365 Enhancement/client tests example submission
  src/test/javascript/spec/service/example-submission.service.spec.ts
Labels: client, ready for review, tests

#2374 [Enhancement] Change misleading participation component label
  src/main/webapp/i18n/de/exercise.json
  src/main/webapp/i18n/en/exercise.json
Labels: client

#2326 Add new programming exercise for Swift
  docs/user/exercises/programming-exercise-setup.rst
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/BambooBuildPlanService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/BambooProgrammingLanguageFeatureService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsProgrammingLanguageFeatureService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseResource.java
  src/main/resources/templates/bamboo/swift/regularRuns/1_build_and_test_the_code.sh
  src/main/resources/templates/bamboo/swift/sequentialRuns/1_build_and_test_the_code.sh
  src/main/resources/templates/java/maven/readme
  src/main/resources/templates/swift/Swift-Server-Setup.md
  src/main/resources/templates/swift/Swift-Setup.md
  src/main/resources/templates/swift/exercise/Package.swift
  src/main/resources/templates/swift/exercise/Sources/${packageNameFolder}App/main.swift
  src/main/resources/templates/swift/exercise/Sources/${packageNameFolder}Lib/BubbleSort.swift
  src/main/resources/templates/swift/exercise/Sources/${packageNameFolder}Lib/Client.swift
  src/main/resources/templates/swift/exercise/Sources/${packageNameFolder}Lib/MergeSort.swift
  src/main/resources/templates/swift/exercise/git.attributes.file
  src/main/resources/templates/swift/exercise/git.ignore.file
  src/main/resources/templates/swift/readme
  src/main/resources/templates/swift/solution/Package.swift
  src/main/resources/templates/swift/solution/Sources/${packageNameFolder}App/main.swift
  src/main/resources/templates/swift/solution/Sources/${packageNameFolder}Lib/BubbleSort.swift
  src/main/resources/templates/swift/solution/Sources/${packageNameFolder}Lib/Client.swift
  src/main/resources/templates/swift/solution/Sources/${packageNameFolder}Lib/Context.swift
  src/main/resources/templates/swift/solution/Sources/${packageNameFolder}Lib/MergeSort.swift
  src/main/resources/templates/swift/solution/Sources/${packageNameFolder}Lib/Policy.swift
  src/main/resources/templates/swift/solution/Sources/${packageNameFolder}Lib/SortStrategy.swift
  src/main/resources/templates/swift/solution/git.attributes.file
  src/main/resources/templates/swift/solution/git.ignore.file
  src/main/resources/templates/swift/test/Package.swift
  src/main/resources/templates/swift/test/Tests/${packageNameFolder}Tests/SortTests.swift
  src/main/resources/templates/swift/test/Tests/${packageNameFolder}Tests/XCTestManifests.swift
  src/main/resources/templates/swift/test/Tests/LinuxMain.swift
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.html
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.ts
  src/main/webapp/app/exercises/programming/shared/code-editor/ace/code-editor-ace.component.ts
  src/main/webapp/app/exercises/programming/shared/code-editor/file-browser/text-files.json
  src/main/webapp/i18n/de/exercise.json
  src/main/webapp/i18n/en/exercise.json
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseBitbucketBambooIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/java/de/tum/in/www1/artemis/util/ProgrammingExerciseTestService.java
Labels: client, component:Programming, ready for review, server

#2351 [Bugfix] Questions & Answers: user check and null error on PUT
  src/main/java/de/tum/in/www1/artemis/web/rest/StudentQuestionResource.java
  src/main/webapp/app/overview/student-questions/student-question/student-question.component.html
  src/main/webapp/app/overview/student-questions/student-question/student-question.component.ts
Labels: bug, client, component:Q&A, java, ready for review, server

#2368 [Enhancement] Add tooltip for folder rename action
  src/main/webapp/app/exercises/programming/shared/code-editor/code-editor.module.ts
  src/main/webapp/app/exercises/programming/shared/code-editor/file-browser/code-editor-file-browser-folder.component.html
  src/main/webapp/i18n/de/editor.json
  src/main/webapp/i18n/en/editor.json
  src/test/javascript/spec/component/code-editor/code-editor-file-browser.component.spec.ts
Labels: client, component:Programming, enhancement, ready for review

#2275 Fix incorrect repository link
  src/main/webapp/app/exercises/programming/assess/code-editor-tutor-assessment-container.component.html
  src/main/webapp/app/exercises/programming/assess/code-editor-tutor-assessment-container.component.ts
Labels: client, component:Programming

#2355 Display an error when a user is not allowed to view a course
  src/main/webapp/app/overview/course-overview.component.html
  src/main/webapp/app/overview/course-overview.component.ts
Labels: client

#2306 Move Jenkins build process to Pipelines & make templates configurable.
  .gitignore
  docs/dev/setup.rst
  docs/dev/setup/jenkins-gitlab.rst
  docs/dev/setup/jenkins-gitlab/jenkins_master_node.png
  docs/dev/setup/jenkins-gitlab/jenkins_node.png
  docs/dev/setup/jenkins-gitlab/jenkins_ssh_credentials.png
  docs/dev/setup/programming-exercises.rst
  src/main/docker/gitlab-jenkins.yml
  src/main/java/de/tum/in/www1/artemis/ResourceLoaderService.java
  src/main/java/de/tum/in/www1/artemis/service/ParticipationService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseImportService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/ContinuousIntegrationService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/BambooBuildPlanService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/BambooService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/AbstractJenkinsBuildPlanCreator.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/CJenkinsBuildPlanCreator.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/DefaultJenkinsBuildPlanCreator.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/HaskellJenkinsBuildPlanCreator.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JavaJenkinsBuildPlanCreator.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsBuildPlanCreatorProvider.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsXmlConfigBuilder.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/PythonJenkinsBuildPlanCreator.java
  src/main/java/de/tum/in/www1/artemis/web/rest/FileResource.java
  src/main/resources/templates/jenkins/c/Jenkinsfile
  src/main/resources/templates/jenkins/config.xml
  src/main/resources/templates/jenkins/java/Jenkinsfile
  src/main/resources/templates/jenkins/java/Jenkinsfile-staticCodeAnalysis
  src/main/resources/templates/jenkins/java/config.xml
  src/main/resources/templates/jenkins/java/configWithStaticCodeAnalysis.xml
  src/main/resources/templates/jenkins/python/Jenkinsfile
  src/main/resources/templates/jenkins/python/config.xml
  src/test/java/de/tum/in/www1/artemis/service/ResourceLoaderServiceTest.java
  src/test/resources/templates/java/java.txt
  src/test/resources/templates/jenkins/jenkins.txt
Labels: component:Programming, documentation, jenkins/gitlab, ready for review, server

#2361 Expose the missing programming exercise overview as route
  src/main/webapp/app/exercises/programming/manage/programming-exercise-management-routing.module.ts
Labels: client, ready for review

#2330 [Feature] Option to recreate build plans on import
  src/main/java/de/tum/in/www1/artemis/domain/ProgrammingExercise.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseImportService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseParticipationService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseSimulationService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseResource.java
  src/main/webapp/app/exercises/programming/manage/services/programming-exercise.service.ts
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.html
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.ts
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/programmingExercise.json
  src/test/java/de/tum/in/www1/artemis/AbstractSpringIntegrationBambooBitbucketJiraTest.java
  src/test/java/de/tum/in/www1/artemis/AbstractSpringIntegrationJenkinsGitlabTest.java
  src/test/java/de/tum/in/www1/artemis/CourseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/StudentExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/connector/bitbucket/BitbucketRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/MockDelegate.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseBitbucketBambooIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/java/de/tum/in/www1/artemis/util/ModelFactory.java
  src/test/java/de/tum/in/www1/artemis/util/ProgrammingExerciseTestService.java
  src/test/java/de/tum/in/www1/artemis/util/RequestUtilService.java
Labels: client, component:Programming, ready for review, server

#2362 [Bugfix] Trigger failed build
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/BambooService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/dto/BambooBuildPlanDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingSubmissionResource.java
Labels: bamboo/bitbucket, bug, component:Programming, ready for review, server

#2376 [Bugfix] Fix incorrect repository link
  src/main/webapp/app/exercises/programming/assess/code-editor-tutor-assessment-container.component.html
  src/main/webapp/app/exercises/programming/assess/code-editor-tutor-assessment-container.component.ts
  src/test/javascript/spec/component/programming-assessment/programming-assessment-manual-result.component.spec.ts
Labels: bug, client, component:Programming, ready for review

#2386 Fix client design guidelines for single arrow function parameters
  docs/dev/guidelines/client.rst
Labels: documentation, ready for review

#2366 [Enhancement] Validation for Unreferenced Feedback of Programming Exercises
  src/main/webapp/app/assessment/assessment-detail/assessment-detail.component.html
  src/main/webapp/app/entities/feedback.model.ts
  src/main/webapp/app/exercises/programming/assess/code-editor-tutor-assessment-container.component.ts
  src/main/webapp/app/exercises/text/assess-new/text-submission-assessment.component.ts
  src/main/webapp/app/exercises/text/participate/text-result/text-result-block.ts
Labels: client, component:Programming, enhancement, ready for review

#2396 Fix issue with BuildLogType detection for empty log entry.
  src/main/webapp/app/entities/build-log.model.ts
Labels: bug, client, component:Programming

#2299 Use Set instead of List for TextSubmission.textBlocks
  src/main/java/de/tum/in/www1/artemis/domain/TextSubmission.java
  src/main/java/de/tum/in/www1/artemis/repository/TextBlockRepository.java
  src/main/java/de/tum/in/www1/artemis/service/AutomaticTextAssessmentConflictService.java
  src/main/java/de/tum/in/www1/artemis/service/AutomaticTextFeedbackService.java
  src/main/java/de/tum/in/www1/artemis/service/TextAssessmentQueueService.java
  src/main/java/de/tum/in/www1/artemis/service/TextAssessmentService.java
  src/main/java/de/tum/in/www1/artemis/service/TextBlockService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextAssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextExerciseImportService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/TextAssessmentDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/TextAssessmentUpdateDTO.java
  src/test/java/de/tum/in/www1/artemis/TextAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/TextExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/TextSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/AutomaticFeedbackConflictServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/TextAssessmentQueueServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/TextBlockServiceTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/java/de/tum/in/www1/artemis/util/TextExerciseUtilService.java
Labels: ready for review, server

#2316 Feature/achievements/checks
  src/main/java/de/tum/in/www1/artemis/domain/Course.java
  src/main/java/de/tum/in/www1/artemis/domain/Result.java
  src/main/java/de/tum/in/www1/artemis/repository/AchievementRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/StudentParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/service/AchievementService.java
  src/main/java/de/tum/in/www1/artemis/service/PointBasedAchievementService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgressBasedAchievementService.java
  src/main/java/de/tum/in/www1/artemis/service/TimeBasedAchievementService.java
  src/main/java/de/tum/in/www1/artemis/service/listeners/ResultListener.java
  src/test/java/de/tum/in/www1/artemis/AchievementIntegrationTest.java
Labels: ready for review, server

#2399 Fix the link to the client guidelines in the Pull Request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: ready for review

#2341 [Feature] Text Units
  src/main/java/de/tum/in/www1/artemis/web/rest/lecture/AttachmentUnitResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/lecture/LectureUnitResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/lecture/TextUnitResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/lecture/VideoUnitResource.java
  src/main/resources/public/content/github-markdown.css
  src/main/webapp/app/entities/lecture-unit/textUnit.model.ts
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/attachment-unit-form/attachment-unit-form.component.ts
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/create-attachment-unit/create-attachment-unit.component.html
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/create-text-unit/create-text-unit.component.html
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/create-text-unit/create-text-unit.component.ts
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/create-video-unit/create-video-unit.component.html
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/edit-attachment-unit/edit-attachment-unit.component.html
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/edit-text-unit/edit-text-unit.component.html
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/edit-text-unit/edit-text-unit.component.ts
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/edit-video-unit/edit-video-unit.component.html
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/lecture-unit-layout/lecture-unit-layout.component.html
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/lecture-unit-layout/lecture-unit-layout.component.ts
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/lecture-unit-management.component.html
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/lecture-unit-management.component.ts
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/lecture-unit-management.module.ts
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/lecture-unit-management.route.ts
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/text-unit-form/text-unit-form.component.html
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/text-unit-form/text-unit-form.component.ts
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/textUnit.service.ts
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/unit-creation-card/unit-creation-card.component.html
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/video-unit-form/video-unit-form.component.ts
  src/main/webapp/app/overview/course-lectures/course-lecture-details.component.html
  src/main/webapp/app/overview/course-lectures/text-unit/text-unit.component.html
  src/main/webapp/app/overview/course-lectures/text-unit/text-unit.component.scss
  src/main/webapp/app/overview/course-lectures/text-unit/text-unit.component.ts
  src/main/webapp/app/overview/course-lectures/video-unit/video-unit.component.html
  src/main/webapp/app/overview/courses.module.ts
  src/main/webapp/app/shared/markdown.service.ts
  src/main/webapp/i18n/de/lectureUnit.json
  src/main/webapp/i18n/en/lectureUnit.json
  src/test/java/de/tum/in/www1/artemis/TextUnitIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/VideoUnitIntegrationTest.java
  src/test/javascript/spec/component/lecture-unit/text-unit/create-text-unit.component.spec.ts
  src/test/javascript/spec/component/lecture-unit/text-unit/edit-text-unit.component.spec.ts
  src/test/javascript/spec/component/lecture-unit/text-unit/text-unit-form.component.spec.ts
  src/test/javascript/spec/component/lecture-unit/text-unit/text-unit.component.spec.ts
  src/test/javascript/spec/component/lecture-unit/text-unit/text-unit.service.spec.ts
Labels: client, feature, ready for review, server

#2398 Move breadcrumbs below the navbar
  src/main/webapp/app/shared/layouts/main/main.component.html
  src/main/webapp/app/shared/layouts/navbar/navbar.component.html
  src/main/webapp/app/shared/layouts/navbar/navbar.component.ts
  src/main/webapp/app/shared/layouts/navbar/navbar.scss
  src/main/webapp/content/scss/global.scss
Labels: client, ready for review

#2397 Enhancement/tests modeling assessment editor
  src/test/javascript/spec/component/modeling-assessment-editor/modeling-assessment-editor.component.spec.ts
  src/test/javascript/spec/service/modeling-assessment.service.spec.ts
Labels: ready for review, tests

#2412 Fix an issue with bitbucket authentication
  src/main/java/de/tum/in/www1/artemis/service/connectors/bitbucket/BitbucketAuthorizationInterceptor.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bitbucket/BitbucketService.java
Labels: bamboo/bitbucket, bug, component:Programming, lti, ready for review, server

#2310 Group courses by semesters in the managament overview
  src/main/webapp/app/course/manage/course-management.component.html
  src/main/webapp/app/course/manage/course-management.component.scss
  src/main/webapp/app/course/manage/course-management.component.ts
  src/main/webapp/i18n/de/course.json
  src/main/webapp/i18n/en/course.json
Labels: client, ready for review

#2367 Notification popup
  src/main/java/de/tum/in/www1/artemis/domain/enumeration/NotificationType.java
  src/main/java/de/tum/in/www1/artemis/domain/notification/GroupNotificationFactory.java
  src/main/java/de/tum/in/www1/artemis/repository/CourseRepository.java
  src/main/java/de/tum/in/www1/artemis/service/CourseService.java
  src/main/java/de/tum/in/www1/artemis/service/GroupNotificationService.java
  src/main/java/de/tum/in/www1/artemis/service/QuizExerciseService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/QuizExerciseResource.java
  src/main/webapp/app/app.module.ts
  src/main/webapp/app/course/manage/course-management.service.ts
  src/main/webapp/app/shared/layouts/main/main.component.html
  src/main/webapp/app/shared/notification/notification-popup/notification-popup.component.html
  src/main/webapp/app/shared/notification/notification-popup/notification-popup.component.ts
  src/main/webapp/app/shared/notification/notification-popup/notification-popup.scss
  src/main/webapp/app/shared/notification/notification-sidebar/notification-sidebar.component.ts
  src/main/webapp/app/shared/notification/notification.service.ts
  src/test/java/de/tum/in/www1/artemis/CourseIntegrationTest.java
  src/test/javascript/spec/component/shared/notification/notification-popup.component.spec.ts
  src/test/javascript/spec/component/shared/notification/notification-sidebar.component.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-notification.service.ts
Labels: client, component:Notification, server

#2381 [Enhancement] Show test names to students
  src/main/java/de/tum/in/www1/artemis/domain/ProgrammingExercise.java
  src/main/resources/config/liquibase/changelog/20201111141743_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/entities/programming-exercise.model.ts
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.html
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.html
  src/main/webapp/app/exercises/programming/shared/instructions-render/extensions/programming-exercise-task.extension.ts
  src/main/webapp/app/exercises/programming/shared/instructions-render/programming-exercise-instruction.component.html
  src/main/webapp/app/exercises/programming/shared/instructions-render/step-wizard/programming-exercise-instruction-step-wizard.component.ts
  src/main/webapp/app/exercises/programming/shared/instructions-render/task/programming-exercise-instruction-task-status.component.ts
  src/main/webapp/app/exercises/shared/result/result.component.ts
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/programmingExercise.json
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/javascript/spec/component/programming-exercise/programming-exercise-instruction.component.spec.ts
Labels: client, component:Programming, database, enhancement, ready for review, server

#2308 Improve quiz exercise creation page
  src/main/webapp/app/exercises/quiz/manage/drag-and-drop-question/drag-and-drop-question-edit.component.html
  src/main/webapp/app/exercises/quiz/manage/multiple-choice-question/multiple-choice-question-edit.component.html
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise-detail.component.html
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise-detail.component.scss
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise-detail.component.ts
  src/main/webapp/app/exercises/quiz/manage/re-evaluate/quiz-re-evaluate.component.html
  src/main/webapp/app/exercises/quiz/manage/re-evaluate/quiz-re-evaluate.component.scss
  src/main/webapp/app/exercises/quiz/manage/short-answer-question/short-answer-question-edit.component.html
  src/main/webapp/app/shared/category-selector/category-selector.scss
  src/main/webapp/app/shared/markdown-editor/markdown-editor.component.html
  src/main/webapp/i18n/de/markdownEditor.json
  src/main/webapp/i18n/de/quizExercise.json
  src/main/webapp/i18n/de/shortAnswerQuestion.json
  src/main/webapp/i18n/en/markdownEditor.json
  src/main/webapp/i18n/en/quizExercise.json
  src/test/javascript/spec/component/quiz-exercise/quiz-exercise-detail.component.spec.ts
Labels: client, component:Quiz, ready for review

#2369 [Enhancement] Hide the name of the student when downloading repos for Programming Assessment
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseExportService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/GitService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/RepositoryExportOptionsDTO.java
  src/main/webapp/app/exercises/programming/assess/repo-export/programming-assessment-repo-export-dialog.component.ts
  src/main/webapp/app/exercises/programming/assess/repo-export/programming-assessment-repo-export.service.ts
Labels: client, component:Programming, enhancement, ready for review, server

#2425 [Bugfix] Fix issue with not being able to submit referenced feedback with 0 credits
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment-editor/modeling-assessment-editor.component.ts
Labels: bug, client, component:Modeling, ready for review

#2419 [Bugfix] SCA and Sequential Test Runs active at the same time
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseResource.java
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.html
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/programmingExercise.json
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
Labels: client, component:Programming, server

#2405 Fix missing time comparison for build after due in scheduling
  src/main/java/de/tum/in/www1/artemis/service/scheduled/ProgrammingExerciseScheduleService.java
Labels: bug, component:Programming, priority:critical, ready for review, server

#2379 Improve user service
  src/main/java/de/tum/in/www1/artemis/config/RestTemplateConfiguration.java
  src/main/java/de/tum/in/www1/artemis/config/auth/JiraAuthorizationInterceptor.java
  src/main/java/de/tum/in/www1/artemis/security/ArtemisAuthenticationProvider.java
  src/main/java/de/tum/in/www1/artemis/security/ArtemisAuthenticationProviderImpl.java
  src/main/java/de/tum/in/www1/artemis/security/ArtemisInternalAuthenticationProvider.java
  src/main/java/de/tum/in/www1/artemis/service/CourseService.java
  src/main/java/de/tum/in/www1/artemis/service/UserService.java
  src/main/java/de/tum/in/www1/artemis/service/compass/controller/UMLModelParser.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/LtiService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/BambooAuthorizationInterceptor.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bitbucket/BitbucketAuthorizationInterceptor.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/gitlab/GitLabAuthorizationInterceptor.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsAuthorizationInterceptor.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jira/JiraAuthenticationProvider.java
  src/main/java/de/tum/in/www1/artemis/service/plagiarism/text/TextComparisonStrategy.java
  src/main/java/de/tum/in/www1/artemis/service/util/HttpRequestUtils.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/FileResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextExerciseImportService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/ModelingSubmissionComparisonDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/SubmissionComparisonDTO.java
  src/test/java/de/tum/in/www1/artemis/TextAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/authentication/InternalAuthenticationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/connector/bamboo/BambooRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/connector/gitlab/GitlabRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/java/de/tum/in/www1/artemis/util/classpath/PackageNode.java
Labels: ready for review, server

#2418 Documentation: Testservers
  .github/labeler.yml
  docs/dev/testservers.rst
  docs/index.rst
Labels: documentation, ready for review

#2382 Simplify Java programming exercise templates based on new artemis-java-test-sandbox version
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseService.java
  src/main/resources/templates/java/maven/exercise/pom.xml
  src/main/resources/templates/java/maven/solution/pom.xml
  src/main/resources/templates/java/maven/test/projectTemplate/pom.xml
  src/main/resources/templates/java/test/projectTemplate/pom.xml
  src/main/resources/templates/java/test/testFiles/behavior/BehaviorTest.java
  src/main/resources/templates/java/test/testFiles/behavior/SortingExampleBehaviorTest.java
  src/main/resources/templates/java/test/testFiles/structural/AttributeTest.java
  src/main/resources/templates/java/test/testFiles/structural/ClassTest.java
  src/main/resources/templates/java/test/testFiles/structural/ConstructorTest.java
  src/main/resources/templates/java/test/testFiles/structural/MethodTest.java
  src/main/resources/templates/java/test/testFiles/structural/StructuralTest.java
  src/main/resources/templates/java/test/testutils/ClassNameScanner.java
  src/main/resources/templates/java/test/testutils/ScanResult.java
  src/main/resources/templates/java/test/testutils/ScanResultType.java
  src/main/resources/templates/kotlin/solution/src/${packageNameFolder}/Client.kt
  src/main/resources/templates/kotlin/solution/src/${packageNameFolder}/Context.kt
  src/main/resources/templates/kotlin/solution/src/${packageNameFolder}/Main.kt
  src/main/resources/templates/kotlin/solution/src/${packageNameFolder}/MergeSort.kt
  src/main/resources/templates/kotlin/solution/src/${packageNameFolder}/Policy.kt
  src/main/resources/templates/kotlin/solution/src/${packageNameFolder}/QuickSort.kt
  src/main/resources/templates/kotlin/solution/src/${packageNameFolder}/SortStrategy.kt
  src/main/resources/templates/kotlin/test/projectTemplate/pom.xml
  src/main/resources/templates/kotlin/test/testFiles/behavior/BehaviorTest.java
  src/main/resources/templates/kotlin/test/testFiles/behavior/SortingExampleBehaviorTest.java
  src/main/resources/templates/kotlin/test/testFiles/structural/AttributeTest.java
  src/main/resources/templates/kotlin/test/testFiles/structural/ClassTest.java
  src/main/resources/templates/kotlin/test/testFiles/structural/ConstructorTest.java
  src/main/resources/templates/kotlin/test/testFiles/structural/MethodTest.java
  src/main/resources/templates/kotlin/test/testFiles/structural/StructuralTest.java
  src/main/resources/templates/kotlin/test/testFiles/structural/test.json
  src/main/resources/templates/kotlin/test/testutils/ClassNameScanner.java
  src/main/resources/templates/kotlin/test/testutils/ScanResult.java
  src/main/resources/templates/kotlin/test/testutils/ScanResultType.java
Labels: component:Programming, ready for review, server

#2420 Bugfix: Reference error, ace is not defined
  src/main/webapp/app/exam/participate/exam-participation.component.ts
  src/main/webapp/app/exercises/programming/shared/code-editor/ace/code-editor-ace.component.ts
Labels: client, exam mode: client, ready for review

#2426 Upgrade to Angular 11
  package.json
  src/main/webapp/app/shared/orion/orion-connector.service.ts
  yarn.lock
Labels: chore, client, dependencies, ready for review

#2415 [Enhancement] Align buttons in some Views and add lock mechanism for Programming Assessment and some refactoring
  src/main/java/de/tum/in/www1/artemis/domain/Feedback.java
  src/main/java/de/tum/in/www1/artemis/repository/ProgrammingExerciseStudentParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/StudentParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/service/AssessmentService.java
  src/main/java/de/tum/in/www1/artemis/service/FileUploadSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/ModelingSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingAssessmentService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseParticipationService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/SubmissionService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/FileUploadSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingAssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseParticipationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingSubmissionResource.java
  src/main/webapp/app/exercises/programming/assess/code-editor-tutor-assessment-container.component.html
  src/main/webapp/app/exercises/programming/assess/code-editor-tutor-assessment-container.component.ts
  src/main/webapp/app/exercises/programming/assess/programming-assessment.route.ts
  src/main/webapp/app/exercises/programming/manage/services/programming-exercise-participation.service.ts
  src/main/webapp/app/exercises/programming/participate/programming-submission.service.ts
  src/main/webapp/app/exercises/shared/dashboards/tutor/exercise-assessment-dashboard.component.html
  src/main/webapp/app/exercises/shared/dashboards/tutor/exercise-assessment-dashboard.component.ts
  src/main/webapp/app/exercises/shared/exercise-scores/exercise-scores.component.html
  src/main/webapp/app/exercises/shared/exercise-scores/exercise-scores.component.ts
  src/main/webapp/app/exercises/shared/result/programming-assessment-manual-result-button.component.ts
  src/main/webapp/app/exercises/shared/result/result.module.ts
  src/main/webapp/app/exercises/shared/team/team-participation-table/team-participation-table.component.html
  src/main/webapp/app/exercises/shared/team/team-participation-table/team-participation-table.component.ts
  src/main/webapp/i18n/de/fileUploadSubmission.json
  src/main/webapp/i18n/de/modelingSubmission.json
  src/main/webapp/i18n/de/programmingSubmission.json
  src/main/webapp/i18n/de/textSubmission.json
  src/main/webapp/i18n/en/fileUploadSubmission.json
  src/main/webapp/i18n/en/modelingSubmission.json
  src/main/webapp/i18n/en/programmingSubmission.json
  src/main/webapp/i18n/en/textSubmission.json
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseParticipationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/javascript/spec/component/programming-assessment/programming-assessment-manual-result.component.spec.ts
  src/test/javascript/spec/component/tutor-dashboard/exercise-assessment-dashboard.component.spec.ts
Labels: client, component:Programming, enhancement, ready for review, server

#2429 Disable Hazelcast Multicast join.
  src/main/java/de/tum/in/www1/artemis/config/CacheConfiguration.java
Labels: bug, server

#2406 Improve the testcoverage of DragAndDropStatisticComponent
  src/test/javascript/spec/component/quiz-statistic/drag-and-drop-statistic.component.spec.ts
Labels: ready for review

#2427 [Bugfix] Fix grading related sentry issues
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseGradingService.java
  src/main/webapp/app/exercises/programming/manage/grading/programming-exercise-configure-grading.component.html
  src/main/webapp/app/exercises/programming/manage/grading/programming-exercise-configure-grading.component.ts
  src/main/webapp/app/shared/alert/alert-error.component.ts
  src/main/webapp/app/shared/table/table-editable-field.component.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-configure-grading.component.spec.ts
  src/test/javascript/spec/component/table/table-editable-field.component.spec.ts
Labels: bug, client, component:Programming, ready for review, server

#2423 [Bugfix] Shorten paths in build logs
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/BambooService.java
Labels: component:Programming, ready for review, server

#2402 Chore: increase lecture unit test coverage
  src/main/webapp/app/lecture/lecture-detail.component.html
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/attachment-unit-form/attachment-unit-form.component.html
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/attachment-unit-form/attachment-unit-form.component.ts
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/create-exercise-unit/create-exercise-unit.component.html
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/create-exercise-unit/create-exercise-unit.component.ts
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/lecture-unit-management.component.html
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/unit-creation-card/unit-creation-card.component.html
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/video-unit-form/video-unit-form.component.html
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/video-unit-form/video-unit-form.component.ts
  src/main/webapp/app/lecture/lecture.component.html
  src/main/webapp/app/overview/course-lectures/video-unit/video-unit.component.html
  src/main/webapp/app/overview/course-lectures/video-unit/video-unit.component.ts
  src/test/java/de/tum/in/www1/artemis/AttachmentUnitIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/LectureUnitIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/TextUnitIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/VideoUnitIntegrationTest.java
  src/test/javascript/spec/component/lecture-unit/attachment-unit/attachment-unit-form.component.spec.ts
  src/test/javascript/spec/component/lecture-unit/attachment-unit/attachment-unit.component.spec.ts
  src/test/javascript/spec/component/lecture-unit/attachment-unit/attachment-unit.service.spec.ts
  src/test/javascript/spec/component/lecture-unit/attachment-unit/create-attachment-unit.component.spec.ts
  src/test/javascript/spec/component/lecture-unit/attachment-unit/edit-attachment-unit.component.spec.ts
  src/test/javascript/spec/component/lecture-unit/exercise-unit/create-exercise-unit.component.spec.ts
  src/test/javascript/spec/component/lecture-unit/exercise-unit/exercise-unit.component.spec.ts
  src/test/javascript/spec/component/lecture-unit/exercise-unit/exercise-unit.service.spec.ts
  src/test/javascript/spec/component/lecture-unit/lecture-unit-management.component.spec.ts
  src/test/javascript/spec/component/lecture-unit/text-unit/text-unit-form.component.spec.ts
  src/test/javascript/spec/component/lecture-unit/unit-creation-card.component.spec.ts
  src/test/javascript/spec/component/lecture-unit/video-unit/create-video-unit.component.spec.ts
  src/test/javascript/spec/component/lecture-unit/video-unit/edit-video-unit.component.spec.ts
  src/test/javascript/spec/component/lecture-unit/video-unit/video-unit-form.component.spec.ts
  src/test/javascript/spec/component/lecture-unit/video-unit/video-unit.component.spec.ts
  src/test/javascript/spec/component/lecture-unit/video-unit/video-unit.service.spec.ts
  src/test/javascript/spec/helpers/mocks/mock-router.ts
Labels: chore, client, code quality, ready for review, tests

#2435 [Hotfix] Fix Assessment Lock View and Null Index Column when locking Submission
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingSubmissionService.java
  src/main/webapp/app/assessment/assessment-locks/assessment-locks.component.html
  src/main/webapp/app/assessment/assessment-locks/assessment-locks.component.ts
  src/main/webapp/app/exercises/programming/assess/code-editor-tutor-assessment-container.component.ts
  src/main/webapp/app/exercises/shared/dashboards/tutor/exercise-assessment-dashboard.component.ts
  src/test/javascript/spec/component/programming-assessment/programming-assessment-manual-result.component.spec.ts
Labels: bug, client, priority:critical, ready for review, server

#2417 [Enhancement] Jenkins: improve detection of new pipeline scripts
  docs/dev/setup/programming-exercises.rst
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsService.java
  src/main/resources/templates/jenkins/c/Jenkinsfile
  src/main/resources/templates/jenkins/java/Jenkinsfile
  src/main/resources/templates/jenkins/java/Jenkinsfile-staticCodeAnalysis
  src/main/resources/templates/jenkins/python/Jenkinsfile
Labels: server

#2432 Add Option to Disable More Feedback Requests
  src/main/java/de/tum/in/www1/artemis/domain/Course.java
  src/main/java/de/tum/in/www1/artemis/service/ComplaintService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/resources/config/liquibase/changelog/20201119174900_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/complaints/complaint-interactions.component.html
  src/main/webapp/app/complaints/complaint-interactions.component.ts
  src/main/webapp/app/course/manage/course-update.component.html
  src/main/webapp/app/course/manage/course-update.component.ts
  src/main/webapp/app/entities/course.model.ts
  src/main/webapp/i18n/de/course.json
  src/main/webapp/i18n/en/course.json
  src/test/java/de/tum/in/www1/artemis/CourseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/ModelFactory.java
  src/test/javascript/spec/component/course/course-update.component.spec.ts
Labels: client, component:Shared, database, feature, priority:high, ready for review, server

#2445 [Hotfix] Fix that participationId is undefined when evaluating Complaints for Programming Exercises
  src/main/webapp/app/exercises/shared/dashboards/tutor/exercise-assessment-dashboard.component.ts
Labels: bug, client, component:Programming, ready for review

#2439 Enhancement/tests modeling assessment dashboard
  src/test/javascript/spec/component/modeling-assessment-dashboard/modeling-assessment-dashboard.component.spec.ts
Labels: client, ready for review

#2414 [Feature] Update Template on Import
  build.gradle
  src/main/java/de/tum/in/www1/artemis/domain/ProgrammingExercise.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/GitService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/DefaultTemplateUpgradeService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/JavaTemplateUpgradeService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/TemplateUpgradePolicy.java
  src/main/java/de/tum/in/www1/artemis/service/programming/TemplateUpgradeService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseResource.java
  src/main/resources/templates/java/maven/test/projectTemplate/pom.xml
  src/main/resources/templates/java/test/projectTemplate/pom.xml
  src/main/webapp/app/exercises/programming/manage/services/programming-exercise.service.ts
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.html
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.ts
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/programmingExercise.json
Labels: client, component:Programming, ready for review, server

#2441 Bugfix/administration/upcoming exercises exams
  src/main/java/de/tum/in/www1/artemis/repository/ExamRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ExamService.java
  src/main/java/de/tum/in/www1/artemis/service/ExerciseService.java
  src/main/webapp/app/admin/upcoming-exams-and-exercises/upcoming-exams-and-exercises.component.html
Labels: client, ready for review, server

#2438 Remove duplicated code in assessment service
  src/main/java/de/tum/in/www1/artemis/domain/Result.java
  src/main/java/de/tum/in/www1/artemis/domain/participation/Participation.java
  src/main/java/de/tum/in/www1/artemis/repository/ResultRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/StudentParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/SubmissionRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/TextSubmissionRepository.java
  src/main/java/de/tum/in/www1/artemis/service/AssessmentService.java
  src/main/java/de/tum/in/www1/artemis/service/ComplaintService.java
  src/main/java/de/tum/in/www1/artemis/service/ExampleSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/ExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/FileUploadAssessmentService.java
  src/main/java/de/tum/in/www1/artemis/service/FileUploadSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/ModelingAssessmentService.java
  src/main/java/de/tum/in/www1/artemis/service/ModelingSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/ParticipationService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingAssessmentService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/SubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/TextAssessmentService.java
  src/main/java/de/tum/in/www1/artemis/service/TextSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/AbstractSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/AssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/FileUploadAssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/FileUploadSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingAssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ParticipationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingAssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/SubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextAssessmentResource.java
  src/test/java/de/tum/in/www1/artemis/FileUploadSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ModelingAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ModelingSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/StudentExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseCleanupService.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
Labels: chore, client, component:Modeling, component:Programming, component:Text, ready for review, server

#2453 lecture-attachments-tests
  src/main/webapp/app/lecture/lecture-attachments.component.ts
  src/test/javascript/spec/component/lecture/lecture-attachments.component.spec.ts
  src/test/javascript/spec/service/attachment.service.spec.ts
  src/test/javascript/spec/service/lecture.service.spec.ts
Labels: client, ready for review, tests

#2430 [Docs] Database Documentation and Best Practices
  docs/dev/guidelines.rst
  docs/dev/guidelines/database.rst
Labels: documentation, ready for review

#2456 [Bugfix] Category states cannot be changed
  src/main/webapp/app/exercises/programming/manage/grading/programming-exercise-configure-grading.component.html
  src/main/webapp/app/exercises/programming/manage/grading/programming-exercise-configure-grading.component.ts
  src/main/webapp/app/exercises/programming/manage/grading/programming-exercise-grading-table-actions.component.ts
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.html
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.html
Labels: client, component:Programming, ready for review

#2460 Bugfix: _meta undefined in result-details-chart when legend clicked
  src/main/webapp/app/shared/chart/presets/scoreChartPreset.ts
Labels: bug, client, ready for review

#2458 Add tests for short answer question statistic components
  src/test/javascript/spec/component/quiz-statistic/short-answer-question-statistic.component.spec.ts
Labels: ready for review

#2440 Allow to set timeout for jenkins pipelines
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/BaseJenkinsBuildPlanCreator.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/DefaultJenkinsBuildPlanCreator.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JavaJenkinsBuildPlanCreator.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsBuildPlanCreatorProvider.java
  src/main/resources/config/application-artemis.yml
  src/main/resources/templates/jenkins/c/Jenkinsfile
  src/main/resources/templates/jenkins/java/Jenkinsfile
  src/main/resources/templates/jenkins/java/Jenkinsfile-staticCodeAnalysis
  src/main/resources/templates/jenkins/python/Jenkinsfile
Labels: component:Programming, ready for review, server

#2459 Fix/lecture units improvements
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/attachment-unit-form/attachment-unit-form.component.ts
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/lecture-unit-management.component.html
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/unit-creation-card/unit-creation-card.component.html
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/unit-creation-card/unit-creation-card.component.scss
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/video-unit-form/video-unit-form.component.ts
  src/main/webapp/app/overview/course-exercises/course-exercise-row.component.html
  src/main/webapp/app/overview/course-lectures/attachment-unit/attachment-unit.component.html
  src/main/webapp/app/overview/course-lectures/attachment-unit/attachment-unit.component.ts
  src/main/webapp/app/overview/course-lectures/exercise-unit/exercise-unit.component.html
  src/main/webapp/app/overview/course-lectures/exercise-unit/exercise-unit.component.scss
  src/main/webapp/app/overview/course-lectures/exercise-unit/exercise-unit.component.ts
  src/main/webapp/app/overview/course-lectures/lecture-unit.component.scss
  src/main/webapp/app/overview/course-lectures/text-unit/text-unit.component.html
  src/main/webapp/app/overview/course-lectures/text-unit/text-unit.component.scss
  src/main/webapp/app/overview/course-lectures/text-unit/text-unit.component.ts
  src/main/webapp/app/overview/course-lectures/video-unit/video-unit.component.html
  src/main/webapp/app/overview/course-lectures/video-unit/video-unit.component.ts
  src/main/webapp/app/shared/directives/DebounceClickDirective.ts
  src/main/webapp/app/shared/shared.module.ts
  src/main/webapp/i18n/de/lectureUnit.json
  src/main/webapp/i18n/en/lectureUnit.json
  src/test/javascript/spec/component/lecture-unit/attachment-unit/attachment-unit.component.spec.ts
  src/test/javascript/spec/component/lecture-unit/text-unit/text-unit.component.spec.ts
  src/test/javascript/spec/component/lecture-unit/unit-creation-card.component.spec.ts
  src/test/javascript/spec/component/lecture-unit/video-unit/video-unit.component.spec.ts
Labels: client, ready for review

#2461 [Bugfix] Start Assessment from Exercise Scores View
  src/main/java/de/tum/in/www1/artemis/service/FileUploadSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/FileUploadSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingAssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingSubmissionResource.java
  src/main/webapp/app/exercises/programming/assess/programming-assessment.route.ts
  src/main/webapp/app/exercises/programming/participate/programming-submission.service.ts
  src/main/webapp/app/exercises/shared/exercise-scores/exercise-scores.component.html
  src/main/webapp/app/exercises/shared/exercise-scores/exercise-scores.component.ts
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingSubmissionIntegrationTest.java
Labels: client, component:Programming, ready for review, server

#2407 [Enhancement] Show capped penalty in feedback view
  src/main/java/de/tum/in/www1/artemis/service/StaticCodeAnalysisService.java
  src/main/java/de/tum/in/www1/artemis/service/dto/StaticCodeAnalysisReportDTO.java
  src/main/webapp/app/entities/static-code-analysis-issue.model.ts
  src/main/webapp/app/exercises/shared/result/result-detail.component.html
  src/main/webapp/app/exercises/shared/result/result-detail.component.ts
  src/main/webapp/app/shared/chart/presets/scoreChartPreset.ts
  src/main/webapp/i18n/de/result.json
  src/main/webapp/i18n/en/result.json
  src/test/java/de/tum/in/www1/artemis/programmingexercise/StaticCodeAnalysisIntegrationTest.java
  src/test/javascript/spec/component/shared/result-detail.component.spec.ts
Labels: client, component:Programming, ready for review, server

#2446 Remove back arrow from course management
  src/main/webapp/app/assessment/assessment-locks/assessment-locks.component.html
  src/main/webapp/app/assessment/assessment-locks/assessment-locks.component.ts
  src/main/webapp/app/complaints/list-of-complaints/list-of-complaints.component.html
  src/main/webapp/app/complaints/list-of-complaints/list-of-complaints.component.ts
  src/main/webapp/app/course/dashboards/assessment-dashboard/assessment-dashboard.component.html
  src/main/webapp/app/course/dashboards/assessment-dashboard/assessment-dashboard.component.ts
  src/test/javascript/spec/component/quiz-exercise/quiz-exercise-detail.component.spec.ts
Labels: client, ready for review

#2462 README: Dependency badge
  README.md
Labels: ready for review

#2454 Enable HTML5 push state routes
  README.md
  src/main/java/de/tum/in/www1/artemis/web/rest/ClientForwardResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/LtiResource.java
  src/main/resources/templates/mail/activationEmail.html
  src/main/resources/templates/mail/creationEmail.html
  src/main/resources/templates/mail/passwordResetEmail.html
  src/main/webapp/app/app-routing.module.ts
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-inspector/plagiarism-inspector.component.ts
  src/main/webapp/app/home/home.component.ts
  src/test/java/de/tum/in/www1/artemis/ClientForwardTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingSubmissionIntegrationTest.java
  src/test/k6/ArtemisLogin.js
  src/test/k6/ArtemisLoginNoJS.js
Labels: client, ready for review, server

#2464 Updated ngx-device-detector to 2.0.1
  package.json
  src/test/javascript/jest-global-mocks.ts
  yarn.lock
Labels: chore, client, dependencies, ready for review

#2428 isolated modules should reduce testing time of client tests
  .github/workflows/test.yml
  package.json
  src/test/javascript/jest.config.ci.js
  src/test/javascript/jest.config.js
  src/test/javascript/spec/component/admin/audits.component.spec.ts
  src/test/javascript/spec/component/admin/logs.component.spec.ts
  src/test/javascript/spec/component/admin/user-management-detail.component.spec.ts
  src/test/javascript/spec/component/admin/user-management.component.spec.ts
  src/test/javascript/spec/component/course/course-detail.component.spec.ts
  src/test/javascript/spec/component/exercise-hint/exercise-hint-detail.component.spec.ts
  src/test/javascript/spec/component/exercise-hint/exercise-hint.component.spec.ts
  src/test/javascript/spec/component/participation/participation.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise.component.spec.ts
  src/test/javascript/spec/component/quiz-statistic/quiz-point-statistic.component.spec.ts
  src/test/javascript/spec/component/quiz-statistic/quiz-statistic.component.spec.ts
  src/test/javascript/spec/component/quiz-statistic/quiz-statistics-footer.component.spec.ts
  src/test/javascript/spec/component/shared/delete-dialog.component.spec.ts
  src/test/javascript/spec/component/team/team-update-dialog.component.spec.ts
  src/test/javascript/spec/entry.ts
  src/test/javascript/spec/helpers/jest.fix.ts
  src/test/javascript/spec/helpers/mocks/service/mock-active-modal.service.ts
  src/test/javascript/spec/helpers/mocks/service/mock-event-manager.service.ts
  src/test/javascript/spec/helpers/mocks/service/mock-language.service.ts
  src/test/javascript/spec/helpers/mocks/service/mock-login.service.ts
  src/test/javascript/spec/helpers/mocks/service/mock-route.service.ts
  src/test/javascript/spec/helpers/mocks/service/mock-state-storage.service.ts
  src/test/javascript/spec/helpers/spyobject.ts
  src/test/javascript/spec/service/course.service.spec.ts
  src/test/javascript/spec/service/exam-participation.service.spec.ts
  src/test/javascript/spec/service/file-upload-exercise.service.spec.ts
  src/test/javascript/spec/service/file-upload-submission.service.spec.ts
  src/test/javascript/spec/service/modeling-exercise.service.spec.ts
  src/test/javascript/spec/service/modeling-submission.service.spec.ts
  src/test/javascript/spec/service/participation.service.spec.ts
  src/test/javascript/spec/service/programming-exercise.service.spec.ts
  src/test/javascript/spec/service/quiz-exercise.service.spec.ts
  src/test/javascript/spec/service/rating.service.spec.ts
  src/test/javascript/spec/service/text-assessments.service.spec.ts
  src/test/javascript/spec/service/text-exercise.service.spec.ts
  src/test/javascript/spec/service/text-submission.service.spec.ts
  yarn.lock
Labels: ready for review

#2473 Fix an issue with multiple file upload submissions with the same file names
  src/main/java/de/tum/in/www1/artemis/domain/Attachment.java
  src/main/java/de/tum/in/www1/artemis/service/FileService.java
  src/main/java/de/tum/in/www1/artemis/service/FileUploadSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/FileResource.java
  src/test/java/de/tum/in/www1/artemis/FileIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/FileUploadSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/GitUtilService.java
Labels: bug, component:FileUpload, server

#2466 Enable LTI for modeling, text and file upload exercises
  src/main/java/de/tum/in/www1/artemis/service/AssessmentService.java
  src/main/java/de/tum/in/www1/artemis/service/ParticipationService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingAssessmentService.java
  src/main/java/de/tum/in/www1/artemis/service/ResultService.java
  src/main/java/de/tum/in/www1/artemis/service/TextAssessmentService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/GitService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/LtiService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingAssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ResultResource.java
  src/main/webapp/app/core/auth/account.service.ts
  src/main/webapp/app/exercises/file-upload/manage/file-upload-exercise-detail.component.html
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise-detail.component.html
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.html
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.ts
  src/main/webapp/app/exercises/shared/exercise/exercise-details/exercise-details.component.html
  src/main/webapp/app/exercises/shared/exercise/exercise-details/exercise-details.component.ts
  src/main/webapp/app/exercises/shared/exercise/exercise-details/exercise-details.module.ts
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise-detail.component.html
  src/test/javascript/spec/helpers/mocks/service/mock-account.service.ts
Labels: client, component:FileUpload, component:Modeling, component:Programming, component:Text, enhancement, lti, ready for review, server

#2442 [Bugfix] Fix NPE in getRepository of RepositoryProgrammingExerciseParticipationResource
  src/main/java/de/tum/in/www1/artemis/web/rest/repository/RepositoryProgrammingExerciseParticipationResource.java
  src/test/java/de/tum/in/www1/artemis/RepositoryProgrammingExerciseParticipationResourceIntegrationTest.java
Labels: bug, component:Programming, help wanted, ready for review, server

#2479 Fix Websocket connection with HTML5 style URLs
  src/main/java/de/tum/in/www1/artemis/web/rest/ClientForwardResource.java
  src/main/webapp/app/core/websocket/websocket.service.ts
Labels: client, ready for review, server

#2477 update apollon version
  package.json
  yarn.lock
Labels: ready for review
