Repository ls1intum/Artemis, pull requests merged in 2020-01, with the labels that each got.

#1110 Integration of Jenkins and GitLab
  build.gradle
  src/main/java/de/tum/in/www1/artemis/config/RestTemplateConfiguration.java
  src/main/java/de/tum/in/www1/artemis/service/ParticipationService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/UserService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/AbstractVersionControlService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/BambooBuildPlanService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/BambooService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/BambooUpdateService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/BitbucketService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/ContinuousIntegrationService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/GitService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/VcsUtil.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/VersionControlService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/gitlab/GitLabException.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/gitlab/GitLabHeaderAuthorizationInterceptor.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/gitlab/GitLabService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/gitlab/dto/GitLabCommitDTO.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/gitlab/dto/GitLabProjectDTO.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/gitlab/dto/GitLabPushNotificationDTO.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/gitlab/dto/GitLabRepositoryDTO.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JavaJenkinsBuildPlanCreator.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsAuthorizationInterceptor.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsBuildPlanCreatorProvider.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsException.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsXmlConfigBuilder.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/dto/CommitDTO.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/dto/ErrorDTO.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/dto/FailureDTO.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/dto/TestCaseDTO.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/dto/TestResultsDTO.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/dto/TestsuiteDTO.java
  src/main/java/de/tum/in/www1/artemis/service/util/UrlUtils.java
  src/main/java/de/tum/in/www1/artemis/service/util/XmlFileUtils.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ResultResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/errors/ExceptionTranslator.java
  src/main/java/de/tum/in/www1/artemis/web/rest/repository/RepositoryProgrammingExerciseParticipationResource.java
  src/main/resources/config/application-artemis.yml
  src/main/resources/templates/bamboo/c/regularRuns/1_setup_the_build_environment.sh
  src/main/resources/templates/bamboo/c/regularRuns/2_setup_makefile.sh
  src/main/resources/templates/bamboo/c/regularRuns/3_build_and_run_all_tests.sh
  src/main/resources/templates/bamboo/c/sequentialRuns/1_setup_the_build_environment.sh
  src/main/resources/templates/bamboo/c/sequentialRuns/2_setup_makefile.sh
  src/main/resources/templates/bamboo/c/sequentialRuns/3_build_and_run_structural_tests.sh
  src/main/resources/templates/bamboo/c/sequentialRuns/4_build_and_run_behavior_tests.sh
  src/main/resources/templates/bamboo/python/regularRuns/1_build_and_test_the_code.sh
  src/main/resources/templates/bamboo/python/sequentialRuns/1_run_structural_tests.sh
  src/main/resources/templates/bamboo/python/sequentialRuns/2_run_behavior_tests.sh
  src/main/resources/templates/jenkins/java/config.xml
  src/test/java/de/tum/in/www1/artemis/ProgrammingExerciseServiceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ProgrammingExerciseTest.java
  src/test/java/de/tum/in/www1/artemis/ProgrammingSubmissionAndResultIntegrationTest.java
Labels: component:Programming, feature, server, work in progress

#1165 Move too specific code from AbstractVersionControlService to GitLab service
  doc/setup/SETUP.md
  src/main/java/de/tum/in/www1/artemis/service/connectors/AbstractVersionControlService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/gitlab/GitLabService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JavaJenkinsBuildPlanCreator.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ResultResource.java
  src/main/resources/config/application-artemis.yml
  src/test/java/de/tum/in/www1/artemis/ProgrammingSubmissionAndResultIntegrationTest.java
  src/test/resources/config/application.yml
Labels: component:Programming, enhancement, ready for review, server

#1161 Bugfix: Correct highlighting of selected tour element
  src/main/webapp/app/guided-tour/guided-tour.component.ts
  src/main/webapp/app/guided-tour/guided-tour.service.ts
  src/main/webapp/app/guided-tour/tours/code-editor-tour.ts
  src/main/webapp/app/guided-tour/tours/course-exercise-detail-tour.ts
  src/main/webapp/app/guided-tour/tours/course-overview-tour.ts
  src/main/webapp/app/guided-tour/tours/modeling-tour.ts
Labels: bug, client, component:GuidedTour

#1166 Bugfix/delete course and exercise without transaction
  src/main/java/de/tum/in/www1/artemis/repository/CourseRepository.java
  src/main/java/de/tum/in/www1/artemis/service/CourseService.java
  src/main/java/de/tum/in/www1/artemis/service/ExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/util/HibernateUtils.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseResource.java
Labels: bug, component:Programming, component:Shared, ready for review, server

#1175 Hotfix: Add missing null check
  src/main/webapp/app/guided-tour/guided-tour.component.ts
  src/main/webapp/app/guided-tour/guided-tour.service.ts
Labels: bug, client, component:GuidedTour

#1169 Extract Spring Beans for Programming Exercise Connectors
  src/main/java/de/tum/in/www1/artemis/config/RestTemplateConfiguration.java
  src/main/java/de/tum/in/www1/artemis/config/connector/BambooServerConfiguration.java
  src/main/java/de/tum/in/www1/artemis/exception/ContinousIntegrationBuildPlanException.java
  src/main/java/de/tum/in/www1/artemis/exception/ContinuousIntegrationBuildPlanException.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/BambooBuildPlanService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/BambooService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/BambooUpdateService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/BitbucketBambooUpdateService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/BitbucketService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/ContinuousIntegrationUpdateService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/BambooBuildPlanUpdateProvider.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/dto/BambooProjectDTO.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/dto/BambooProjectSearchDTO.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bitbucket/dto/BitbucketBranchProtectionDTO.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bitbucket/dto/BitbucketCloneDTO.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bitbucket/dto/BitbucketProjectDTO.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bitbucket/dto/BitbucketSearchDTO.java
Labels: component:Programming, enhancement, ready for review, server

#1168 Feature/programming exercise/mock connector requests for tests
  build.gradle
  src/main/java/de/tum/in/www1/artemis/repository/ProgrammingExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ParticipationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProblemStatementUpdate.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseResource.java
  src/main/webapp/app/entities/programming-exercise/services/programming-exercise.service.ts
  src/test/java/de/tum/in/www1/artemis/AbstractSpringIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/connector/bamboo/BambooRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/connector/bitbucket/BitbucketRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseBitbucketBambooIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseParticipationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseServiceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseTestCaseServiceTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingSubmissionAndResultIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/ProgrammingExerciseScheduleServiceTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/java/de/tum/in/www1/artemis/util/ModelFactory.java
  src/test/java/de/tum/in/www1/artemis/util/RequestUtilService.java
  src/test/java/de/tum/in/www1/artemis/util/TestConstants.java
  src/test/java/de/tum/in/www1/artemis/util/Verifiable.java
Labels: client, component:Programming, feature, ready for review, server, tests, tests needed

#1176 Allow instructors to cancel assessments
  src/main/java/de/tum/in/www1/artemis/repository/FeedbackRepository.java
  src/main/java/de/tum/in/www1/artemis/service/AssessmentService.java
  src/main/java/de/tum/in/www1/artemis/service/FileUploadAssessmentService.java
  src/main/java/de/tum/in/www1/artemis/service/ModelingAssessmentService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingAssessmentService.java
  src/main/java/de/tum/in/www1/artemis/service/TextAssessmentService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/FileUploadAssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingAssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextAssessmentResource.java
  src/main/webapp/app/assessment-shared/assessment-header/assessment-header.component.html
  src/main/webapp/app/file-upload-assessment/file-upload-assessment-dashboard/file-upload-assessment-dashboard.component.html
  src/main/webapp/app/file-upload-assessment/file-upload-assessment-dashboard/file-upload-assessment-dashboard.component.ts
  src/main/webapp/app/modeling-assessment-editor/modeling-assessment-dashboard/modeling-assessment-dashboard.component.html
  src/main/webapp/app/modeling-assessment-editor/modeling-assessment-dashboard/modeling-assessment-dashboard.component.ts
  src/main/webapp/app/text-assessment/text-assessment-dashboard/text-assessment-dashboard.component.html
  src/main/webapp/app/text-assessment/text-assessment-dashboard/text-assessment-dashboard.component.ts
  src/main/webapp/app/text-assessment/text-assessment.component.html
  src/main/webapp/i18n/de/assessment.json
  src/main/webapp/i18n/en/assessment.json
  src/test/java/de/tum/in/www1/artemis/FileUploadAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ModelingAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/TextAssessmentIntegrationTest.java
Labels: client, component:FileUpload, component:Modeling, component:Text, ready for review, server

#1180 Chore: Add tests for ModelingExerciseResource
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingExerciseResource.java
  src/test/java/de/tum/in/www1/artemis/ModelingExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/ModelingExerciseUtilService.java
Labels: chore, server, tests

#1174 Fix display issues on exercise overview and detail pages
  src/main/webapp/app/entities/result/result-history.scss
  src/main/webapp/app/overview/course-exercises/course-exercises.component.html
  src/main/webapp/app/overview/course-overview.component.html
  src/main/webapp/app/overview/course-overview.scss
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.html
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.ts
  src/main/webapp/app/overview/exercise-details/exercise-details-student-actions.component.html
  src/main/webapp/app/overview/exercise-details/exercise-details-student-actions.component.ts
Labels: bug, client, enhancement, ready for review

#1183 Filter submissions by locked assessments
  src/main/webapp/app/assessment-shared/assessment-filters/assessment-filters.component.html
  src/main/webapp/app/assessment-shared/assessment-filters/assessment-filters.component.ts
  src/main/webapp/app/assessment-shared/assessment-shared.module.ts
  src/main/webapp/app/file-upload-assessment/file-upload-assessment-dashboard/file-upload-assessment-dashboard.component.html
  src/main/webapp/app/file-upload-assessment/file-upload-assessment-dashboard/file-upload-assessment-dashboard.component.ts
  src/main/webapp/app/modeling-assessment-editor/modeling-assessment-dashboard/modeling-assessment-dashboard.component.html
  src/main/webapp/app/modeling-assessment-editor/modeling-assessment-dashboard/modeling-assessment-dashboard.component.ts
  src/main/webapp/app/text-assessment/text-assessment-dashboard/text-assessment-dashboard.component.html
  src/main/webapp/app/text-assessment/text-assessment-dashboard/text-assessment-dashboard.component.ts
  src/main/webapp/i18n/de/assessment.json
  src/main/webapp/i18n/en/assessment.json
Labels: client, component:FileUpload, component:Modeling, component:Shared, component:Text, feature, ready for review

#1185 Fix wrong URL (causes 404 error when assessing complaints)
  src/main/java/de/tum/in/www1/artemis/web/rest/TextAssessmentResource.java
  src/test/java/de/tum/in/www1/artemis/TextAssessmentIntegrationTest.java
Labels: bug, server

#1186 Subsequent submissions on same page failing for Text / Modeling / File Upload
  src/main/webapp/app/entities/file-upload-submission/file-upload-submission.service.ts
  src/main/webapp/app/entities/modeling-submission/modeling-submission.service.ts
  src/main/webapp/app/entities/text-submission/text-submission.service.ts
  src/main/webapp/app/shared/util/utils.ts
Labels: bug, client, component:FileUpload, component:Modeling, component:Text, ready for review

#1187 Use safeHtmlForMarkdown to display Katex command correctly
  src/main/webapp/app/assessment-instructions/assessment-instructions/assessment-instructions.component.ts
Labels: bug, client

#1188 Bugfix/text exercise/working example submissions
  src/main/java/de/tum/in/www1/artemis/repository/SubmissionRepository.java
  src/main/java/de/tum/in/www1/artemis/service/AssessmentService.java
  src/main/java/de/tum/in/www1/artemis/service/FileUploadAssessmentService.java
  src/main/java/de/tum/in/www1/artemis/service/ModelingAssessmentService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingAssessmentService.java
  src/main/java/de/tum/in/www1/artemis/service/ResultService.java
  src/main/java/de/tum/in/www1/artemis/service/TextAssessmentService.java
  src/main/java/de/tum/in/www1/artemis/service/TextSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ResultResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextAssessmentResource.java
  src/main/webapp/app/entities/result/result.model.ts
  src/main/webapp/app/entities/result/result.service.ts
  src/main/webapp/app/entities/text-assessments/text-assessments.service.ts
  src/main/webapp/app/example-text-submission/example-text-submission.component.html
  src/main/webapp/app/example-text-submission/example-text-submission.component.ts
Labels: bug, client, component:Text, ready for review, server

#1189 Fix programming exercises without tutors for Bitbucket
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/BambooBuildPlanService.java
  src/test/java/de/tum/in/www1/artemis/connector/bamboo/BambooRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/connector/bitbucket/BitbucketRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseBitbucketBambooIntegrationTest.java
Labels: bug, component:Programming, server, work in progress

#1193 Fix Deletion of Text{Submission, Exercise} with Text Blocks
  src/main/java/de/tum/in/www1/artemis/domain/TextSubmission.java
  src/test/java/de/tum/in/www1/artemis/TextExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/TextSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/java/de/tum/in/www1/artemis/util/ModelFactory.java
Labels: bug, component:Text, ready for review, server, tests

#1191 Enhancement/programming exercise/dynamically build build plan links
  src/main/java/de/tum/in/www1/artemis/config/Constants.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/BambooBuildPlanLinkInfoContributor.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsBuildPlanLinkInfoContributor.java
  src/main/webapp/app/entities/participation/participation.component.html
  src/main/webapp/app/entities/participation/participation.module.ts
  src/main/webapp/app/entities/programming-exercise/programming-exercise-detail.component.html
  src/main/webapp/app/entities/programming-exercise/programming-exercise.component.html
  src/main/webapp/app/entities/programming-exercise/programming-exercise.module.ts
  src/main/webapp/app/entities/programming-exercise/utils/build-plan-button.directive.ts
  src/main/webapp/app/entities/programming-exercise/utils/build-plan-link.directive.ts
  src/main/webapp/app/entities/programming-exercise/utils/programming-exercise-utils.module.ts
  src/main/webapp/app/layouts/profiles/profile-info.model.ts
  src/main/webapp/app/layouts/profiles/profile.service.ts
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.html
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.ts
  src/main/webapp/app/overview/overview.module.ts
  src/main/webapp/app/scores/exercise-scores.component.html
  src/main/webapp/app/scores/exercise-scores.component.ts
  src/main/webapp/app/scores/exercise-scores.module.ts
  src/test/javascript/spec/component/programming-exercise/build-plan-link.directive.spec.ts
  src/test/javascript/spec/mocks/mock-profile.service.ts
Labels: client, component:Programming, enhancement, ready for review, server

#1196 Throw exception if max retries for forking repo reached
  src/main/java/de/tum/in/www1/artemis/service/connectors/BitbucketService.java
Labels: bug, component:Programming, server

#1190 Chore/test coverage/modeling submission resource
  src/main/java/de/tum/in/www1/artemis/service/compass/CompassService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingSubmissionResource.java
  src/test/java/de/tum/in/www1/artemis/ModelingSubmissionIntegrationTest.java
Labels: chore, component:Modeling, ready for review, server, tests

#1181 New component submission result status
  src/main/webapp/app/entities/exercise/exercise-utils.ts
  src/main/webapp/app/entities/result/index.ts
  src/main/webapp/app/entities/result/result.module.ts
  src/main/webapp/app/entities/result/submission-result-status.component.html
  src/main/webapp/app/entities/result/submission-result-status.component.ts
  src/main/webapp/app/file-upload-submission/file-upload-submission.component.html
  src/main/webapp/app/file-upload-submission/file-upload-submission.component.ts
  src/main/webapp/app/modeling-submission/modeling-submission.component.html
  src/main/webapp/app/modeling-submission/modeling-submission.component.ts
  src/main/webapp/app/overview/course-exercises/course-exercise-row.component.html
  src/main/webapp/app/overview/course-overview.scss
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.html
  src/main/webapp/app/text-editor/text-editor.component.html
  src/main/webapp/app/text-editor/text-editor.component.ts
  src/main/webapp/i18n/de/student-dashboard.json
  src/main/webapp/i18n/en/student-dashboard.json
  src/test/javascript/spec/component/text-editor/text-editor.spec.ts
Labels: chore, client, ready for review

#1192 Enhancement/programming exercise/build failed property
  src/main/java/de/tum/in/www1/artemis/domain/ProgrammingSubmission.java
  src/main/java/de/tum/in/www1/artemis/domain/Submission.java
  src/main/java/de/tum/in/www1/artemis/repository/ProgrammingExerciseStudentParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseParticipationService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/BambooService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseParticipationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ResultResource.java
  src/main/resources/config/liquibase/changelog/20200117211342_changelog.xml
  src/main/resources/config/liquibase/changelog/20200117213324_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/entities/programming-submission/programming-submission.model.ts
  src/main/webapp/app/entities/result/result.component.html
  src/main/webapp/app/entities/result/result.component.ts
  src/main/webapp/app/entities/result/result.model.ts
  src/main/webapp/app/overview/course-statistics/course-statistics.component.ts
  src/main/webapp/app/scores/exercise-scores.component.ts
  src/test/javascript/spec/component/overview/course-statistics/course-statistics.spec.ts
Labels: client, component:Programming, enhancement, ready for review, server

#1164 User Management for GitLab via Artemis
  src/main/java/de/tum/in/www1/artemis/config/RestTemplateConfiguration.java
  src/main/java/de/tum/in/www1/artemis/config/auth/JiraAuthorizationInterceptor.java
  src/main/java/de/tum/in/www1/artemis/repository/ProgrammingExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/UserRepository.java
  src/main/java/de/tum/in/www1/artemis/security/ArtemisAuthenticationProvider.java
  src/main/java/de/tum/in/www1/artemis/security/ArtemisInternalAuthenticationProvider.java
  src/main/java/de/tum/in/www1/artemis/security/DomainUserDetailsService.java
  src/main/java/de/tum/in/www1/artemis/security/JiraAuthenticationProvider.java
  src/main/java/de/tum/in/www1/artemis/service/MailService.java
  src/main/java/de/tum/in/www1/artemis/service/TextAssessmentQueueService.java
  src/main/java/de/tum/in/www1/artemis/service/UserService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/BambooBuildPlanService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/BitbucketService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/LtiService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/VcsUserManagementService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/gitlab/GitLabService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/gitlab/GitLabUserManagementService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JavaJenkinsBuildPlanCreator.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsXmlConfigBuilder.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jira/dto/JiraUserDTO.java
  src/main/java/de/tum/in/www1/artemis/service/ldap/LdapConfig.java
  src/main/java/de/tum/in/www1/artemis/service/ldap/LdapUserService.java
  src/main/java/de/tum/in/www1/artemis/service/util/XmlFileUtils.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/LtiResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/UserResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/vm/ManagedUserVM.java
  src/main/resources/config/application-artemis.yml
  src/main/resources/logback-spring.xml
  src/main/webapp/app/admin/admin.module.ts
  src/main/webapp/app/admin/user-management/user-management-update.component.html
  src/main/webapp/app/admin/user-management/user-management-update.component.ts
  src/main/webapp/app/admin/user-management/user-management.component.html
  src/main/webapp/i18n/de/user-management.json
  src/main/webapp/i18n/en/user-management.json
  src/test/java/de/tum/in/www1/artemis/CourseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/LtiResourceTest.java
  src/test/java/de/tum/in/www1/artemis/authentication/AuthenticationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/authentication/InternalAuthenticationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/authentication/JiraAuthenticationIntegationTest.java
  src/test/java/de/tum/in/www1/artemis/authentication/UserIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/connector/bitbucket/BitbucketRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/connector/jira/JiraRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/service/ProgrammingExerciseScheduleServiceTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/java/de/tum/in/www1/artemis/util/RequestUtilService.java
  src/test/resources/config/application-internalAuth.yml
  src/test/resources/config/application.yml
Labels: client, component:Programming, feature, ready for review, server

#1201 Chore/test coverage/example submission resource and exercise hint resource
  src/test/java/de/tum/in/www1/artemis/ExampleSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ExerciseHintIntegrationTest.java
Labels: tests, work in progress

#1171 show number of open Complaints for Exercises in Tutor dashboard
  src/main/java/de/tum/in/www1/artemis/domain/Exercise.java
  src/main/java/de/tum/in/www1/artemis/repository/ComplaintResponseRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ComplaintService.java
  src/main/java/de/tum/in/www1/artemis/service/ExerciseService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExerciseResource.java
  src/main/webapp/app/entities/exercise/exercise.model.ts
  src/main/webapp/app/tutor-course-dashboard/tutor-course-dashboard.component.html
  src/main/webapp/app/tutor-course-dashboard/tutor-course-dashboard.component.ts
  src/main/webapp/app/tutor-course-dashboard/tutor-course-dashboard.module.ts
  src/main/webapp/app/tutor-course-dashboard/tutor-participation-graph/progress-bar/progress-bar.component.html
  src/main/webapp/app/tutor-course-dashboard/tutor-participation-graph/progress-bar/progress-bar.component.ts
  src/main/webapp/app/tutor-course-dashboard/tutor-participation-graph/tutor-participation-graph.component.html
  src/main/webapp/app/tutor-course-dashboard/tutor-participation-graph/tutor-participation-graph.component.ts
  src/main/webapp/app/tutor-exercise-dashboard/tutor-exercise-dashboard.component.html
  src/main/webapp/app/tutor-exercise-dashboard/tutor-exercise-dashboard.component.ts
  src/main/webapp/i18n/de/tutorCourseDashboard.json
  src/main/webapp/i18n/de/tutorExerciseDashboard.json
  src/main/webapp/i18n/en/tutorCourseDashboard.json
  src/main/webapp/i18n/en/tutorExerciseDashboard.json
  src/test/java/de/tum/in/www1/artemis/ExerciseIntegrationTest.java
  src/test/javascript/spec/component/tutor-dashboard/tutor-participation-graph.component.spec.ts
Labels: client, ready for review, server

#1202 Chore/test coverage/LtiIntegrationTest
  src/test/java/de/tum/in/www1/artemis/LtiIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/LtiResourceTest.java
Labels: chore, ready for review, server, tests

#1205 Fix Mocked Jira Requests and Test Application Properties
  src/main/java/de/tum/in/www1/artemis/ArtemisApp.java
  src/main/java/de/tum/in/www1/artemis/config/ApplicationProperties.java
  src/test/java/de/tum/in/www1/artemis/authentication/InternalAuthenticationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/authentication/JiraAuthenticationIntegationTest.java
  src/test/java/de/tum/in/www1/artemis/connector/jira/JiraRequestMockProvider.java
  src/test/resources/config/application-artemis.yml
  src/test/resources/config/application-internalAuth.yml
  src/test/resources/config/application.yml
Labels: bug, component:Shared, ready for review, server, tests

#1204 Split ProgrammingExerciseService into multiple services
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseExportService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseImportService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/GitService.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/ProgrammingExerciseScheduleService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExerciseHintResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseParticipationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseTestCaseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingSubmissionResource.java
  src/main/webapp/app/entities/programming-exercise/programming-exercise-dialog.component.html
  src/main/webapp/app/entities/programming-exercise/programming-exercise-dialog.component.ts
  src/main/webapp/app/entities/programming-exercise/programming-exercise.module.ts
  src/main/webapp/app/entities/programming-exercise/programming-exercise.route.ts
  src/main/webapp/app/entities/programming-exercise/services/programming-exercise.service.ts
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseServiceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/RequestUtilService.java
  src/test/javascript/spec/app/entities/programming-exercise/programming-exercise-dialog.component.spec.ts
Labels: chore, client, component:Programming, ready for review, server, tests

#1132 Display active system notifications for unauthenticated users
  src/main/java/de/tum/in/www1/artemis/config/Constants.java
  src/main/java/de/tum/in/www1/artemis/config/SecurityConfiguration.java
  src/main/java/de/tum/in/www1/artemis/repository/SystemNotificationRepository.java
  src/main/java/de/tum/in/www1/artemis/web/rest/SystemNotificationResource.java
  src/main/webapp/app/admin/notification-management/notification-management-detail.component.html
  src/main/webapp/app/entities/system-notification/system-notification.service.ts
  src/main/webapp/app/layouts/system-notification/system-notification.component.ts
  src/test/java/de/tum/in/www1/artemis/SystemNotificationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/h2/DateTimeFunctions.java
  src/test/java/de/tum/in/www1/artemis/util/ModelFactory.java
  src/test/resources/h2/custom-functions.sql
Labels: client, enhancement, ready for review, server

#1133 Fix testutils on windows
  src/main/resources/templates/java/test/testutils/ClassNameScanner.java
Labels: component:Programming

#1203 Chore: Increased test coverage for programming exercises (participations and submissions)
  src/main/java/de/tum/in/www1/artemis/service/PlantUmlService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/BambooService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/dto/BambooArtifactsDTO.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/dto/BambooBuildResultDTO.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/dto/BambooChangesDTO.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/dto/BambooTestResultDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/PlantUmlResource.java
  src/test/java/de/tum/in/www1/artemis/AbstractSpringIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/PlantUmlIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/connector/bamboo/BambooRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseParticipationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/RequestUtilService.java
  src/test/java/de/tum/in/www1/artemis/util/TestConstants.java
Labels: chore, component:Programming, ready for review, server, tests

#1206 Allow instructors to add results for external submissions
  src/main/java/de/tum/in/www1/artemis/domain/enumeration/SubmissionType.java
  src/main/java/de/tum/in/www1/artemis/service/ParticipationService.java
  src/main/java/de/tum/in/www1/artemis/service/ResultService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ParticipationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ResultResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextAssessmentResource.java
  src/main/webapp/app/assessment-shared/assessment-shared.module.ts
  src/main/webapp/app/assessment-shared/external-submission/external-submission-button.component.ts
  src/main/webapp/app/assessment-shared/external-submission/external-submission-dialog.component.html
  src/main/webapp/app/assessment-shared/external-submission/external-submission-dialog.component.ts
  src/main/webapp/app/assessment-shared/external-submission/external-submission.service.ts
  src/main/webapp/app/entities/file-upload-exercise/file-upload-exercise-detail.component.html
  src/main/webapp/app/entities/file-upload-exercise/file-upload-exercise.module.ts
  src/main/webapp/app/entities/modeling-exercise/modeling-exercise-detail.component.html
  src/main/webapp/app/entities/modeling-exercise/modeling-exercise.module.ts
  src/main/webapp/app/entities/programming-exercise/programming-exercise-detail.component.html
  src/main/webapp/app/entities/programming-exercise/programming-exercise.module.ts
  src/main/webapp/app/entities/submission/submission.model.ts
  src/main/webapp/app/entities/text-exercise/text-exercise-detail.component.html
  src/main/webapp/app/entities/text-exercise/text-exercise.module.ts
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/de/result.json
  src/main/webapp/i18n/de/submission.json
  src/main/webapp/i18n/en/global.json
  src/main/webapp/i18n/en/result.json
  src/main/webapp/i18n/en/submission.json
  src/test/javascript/spec/component/file-upload-exercise/file-upload-exercise-detail.component.spec.ts
Labels: client, feature, ready for review, server

#1177 Enhancement: Guided Tour update orientation
  src/main/webapp/app/guided-tour/guided-tour.component.html
  src/main/webapp/app/guided-tour/guided-tour.component.ts
  src/main/webapp/app/guided-tour/guided-tour.constants.ts
  src/main/webapp/app/guided-tour/guided-tour.service.ts
  src/main/webapp/app/guided-tour/guided-tour.utils.ts
  src/test/javascript/spec/component/guided-tour/guided-tour.component.spec.ts
Labels: bug, client, component:GuidedTour, enhancement, ready for review

#1198 Feature/submissions and assessments/assessing before due date warning
  src/main/webapp/app/assessment-shared/assessment-shared.module.ts
  src/main/webapp/app/assessment-shared/assessment-warning/assessment-warning.component.ts
  src/main/webapp/app/file-upload-assessment/file-upload-assessment-dashboard/file-upload-assessment-dashboard.component.html
  src/main/webapp/app/modeling-assessment-editor/modeling-assessment-dashboard/modeling-assessment-dashboard.component.html
  src/main/webapp/app/text-assessment/text-assessment-dashboard/text-assessment-dashboard.component.html
  src/main/webapp/app/tutor-exercise-dashboard/tutor-exercise-dashboard.component.html
  src/main/webapp/app/tutor-exercise-dashboard/tutor-exercise-dashboard.module.ts
  src/main/webapp/i18n/de/assessment.json
  src/main/webapp/i18n/en/assessment.json
  src/test/javascript/spec/component/tutor-dashboard/tutor-exercise-dashboard.spec.ts
Labels: client, ready for review

#1200 Feature/programming exercises/override results
  src/main/java/de/tum/in/www1/artemis/repository/StudentParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/SubmissionRepository.java
  src/main/java/de/tum/in/www1/artemis/service/AssessmentService.java
  src/main/java/de/tum/in/www1/artemis/service/FileUploadAssessmentService.java
  src/main/java/de/tum/in/www1/artemis/service/ModelingAssessmentService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingAssessmentService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/ResultService.java
  src/main/java/de/tum/in/www1/artemis/service/SubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/TextAssessmentService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/AssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/FileUploadAssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingAssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingAssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ResultResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextAssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/util/ResponseUtil.java
  src/main/webapp/app/programming-assessment/manual-result/programming-assessment-manual-result-button.component.ts
  src/main/webapp/app/programming-assessment/manual-result/programming-assessment-manual-result-dialog.component.html
  src/main/webapp/app/programming-assessment/manual-result/programming-assessment-manual-result-dialog.component.ts
  src/main/webapp/app/programming-assessment/manual-result/programming-assessment-manual-result.service.ts
  src/main/webapp/app/scores/exercise-scores.component.ts
  src/test/java/de/tum/in/www1/artemis/FileUploadAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ModelingAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/TextAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
Labels: client, component:Programming, ready for review, server

#1172 Feature: Clean up participation and restart tour
  src/main/java/de/tum/in/www1/artemis/config/GuidedTourConfiguration.java
  src/main/java/de/tum/in/www1/artemis/domain/GuidedTourSetting.java
  src/main/java/de/tum/in/www1/artemis/service/UserService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/GuidedTourSettingsResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ParticipationResource.java
  src/main/webapp/app/entities/participation/participation.service.ts
  src/main/webapp/app/guided-tour/guided-tour.component.html
  src/main/webapp/app/guided-tour/guided-tour.model.ts
  src/main/webapp/app/guided-tour/guided-tour.service.ts
  src/main/webapp/app/guided-tour/tours/modeling-tour.ts
  src/main/webapp/app/layouts/navbar/navbar.component.html
  src/main/webapp/app/layouts/navbar/navbar.component.ts
  src/main/webapp/app/modeling-editor/modeling-editor.component.ts
  src/main/webapp/i18n/de/guidedTour.json
  src/main/webapp/i18n/en/guidedTour.json
  src/test/java/de/tum/in/www1/artemis/GuidedTourSettingResourceTest.java
  src/test/java/de/tum/in/www1/artemis/ParticipationIntegrationTest.java
  src/test/javascript/spec/component/guided-tour/guided-tour.component.spec.ts
  src/test/javascript/spec/integration/code-editor/code-editor-student.spec.ts
  src/test/javascript/spec/service/guided-tour.service.spec.ts
  src/test/resources/config/application.yml
Labels: client, component:GuidedTour, feature, ready for review, server

#1212 Display images on modeling submission help modal
  angular.json
  src/main/webapp/app/modeling-editor/modeling-editor.component.html
Labels: bug, client, component:Modeling, component:Shared

#1211 Update SETUP.md
  doc/setup/SETUP.md
Labels: documentation, enhancement, ready for review

#1214 Fix due date condition and repository setup for external submissions
  src/main/java/de/tum/in/www1/artemis/service/ParticipationService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ResultResource.java
  src/main/webapp/i18n/de/error.json
  src/main/webapp/i18n/en/error.json
Labels: bug, client, enhancement, ready for review, server

#1216 Hotfix/build plan links in lists
  src/main/webapp/app/entities/programming-exercise/utils/build-plan-button.directive.ts
  src/main/webapp/app/entities/programming-exercise/utils/build-plan-link.directive.ts
  src/test/javascript/spec/component/programming-exercise/build-plan-link.directive.spec.ts
Labels: bug, client, component:Programming, ready for review

#1213 Remove deprecated build artifact column from Result
  src/main/java/de/tum/in/www1/artemis/domain/Result.java
  src/main/resources/config/liquibase/changelog/20200128141242_changelog.xml
  src/main/resources/config/liquibase/master.xml
Labels: component:Programming, enhancement, ready for review, server

#1217 Chore: Add tests for ModelingAssessmentResource
  src/main/java/de/tum/in/www1/artemis/service/compass/CompassService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingAssessmentResource.java
  src/main/webapp/app/entities/modeling-assessment/modeling-assessment.service.ts
  src/test/java/de/tum/in/www1/artemis/ModelingAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
Labels: chore, client, component:Modeling, server, tests
