Repository ls1intum/Artemis, pull requests merged in 2021-04, with the labels that each got.

#3002 [Feature] Registration/Login via Shibboleth/SAML
  build.gradle
  src/main/java/de/tum/in/www1/artemis/config/SAML2Configuration.java
  src/main/java/de/tum/in/www1/artemis/config/SAML2Properties.java
  src/main/java/de/tum/in/www1/artemis/security/LtiAuthenticationSuccessListener.java
  src/main/java/de/tum/in/www1/artemis/service/MailService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/SAML2Service.java
  src/main/java/de/tum/in/www1/artemis/service/user/UserCreationService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/AccountResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/UserJWTController.java
  src/main/resources/config/application-saml2.yml
  src/main/resources/i18n/messages.properties
  src/main/resources/i18n/messages_de.properties
  src/main/resources/i18n/messages_en.properties
  src/main/resources/templates/mail/samlSetPasswordEmail.html
  src/main/webapp/app/account/password-reset/finish/password-reset-finish.component.html
  src/main/webapp/app/account/password-reset/finish/password-reset-finish.component.ts
  src/main/webapp/app/account/password-reset/init/password-reset-init.component.html
  src/main/webapp/app/account/password-reset/init/password-reset-init.component.ts
  src/main/webapp/app/account/password/password.component.html
  src/main/webapp/app/account/password/password.component.ts
  src/main/webapp/app/core/auth/auth-jwt.service.ts
  src/main/webapp/app/core/login/login.service.ts
  src/main/webapp/app/home/home.component.html
  src/main/webapp/app/home/home.component.ts
  src/main/webapp/app/home/home.module.ts
  src/main/webapp/app/home/home.scss
  src/main/webapp/app/home/saml2-login/saml2-login.component.html
  src/main/webapp/app/home/saml2-login/saml2-login.component.ts
  src/main/webapp/app/home/saml2-login/saml2.config.ts
  src/main/webapp/app/shared/layouts/navbar/navbar.component.html
  src/main/webapp/app/shared/layouts/navbar/navbar.component.ts
  src/main/webapp/app/shared/layouts/profiles/profile-info.model.ts
  src/main/webapp/app/shared/layouts/profiles/profile.service.ts
  src/test/java/de/tum/in/www1/artemis/AbstractSpringIntegrationSaml2Test.java
  src/test/java/de/tum/in/www1/artemis/authentication/UserSaml2IntegrationTest.java
  src/test/javascript/spec/component/account/password-reset-finish.component.spec.ts
  src/test/javascript/spec/component/account/password-reset-init.component.spec.ts
  src/test/javascript/spec/component/account/password.component.spec.ts
  src/test/resources/config/application-saml2.yml
Labels: client, priority:high, ready for review, server

#3124 [Bugfix] Fix Table Headers for Tutors in the programming exerciese list view
  src/main/webapp/app/exercises/programming/manage/programming-exercise.component.html
Labels: client

#3129 Angular Strict Template for /app/shared/notification/notification-sidebar/
  src/main/webapp/app/shared/notification/notification-sidebar/notification-sidebar.component.html
Labels: STRICT-TEMPLATES, client, ready for review

#3125 Angular Strict Template for app/exam/manage
  src/main/webapp/app/course/manage/overview/course-management-exercise-row.component.ts
  src/main/webapp/app/entities/exercise.model.ts
  src/main/webapp/app/exam/manage/exams/exam-detail.component.html
  src/main/webapp/app/exam/manage/student-exams/student-exam-detail-table-row/student-exam-detail-table-row.component.html
  src/main/webapp/app/exercises/shared/exercise-headers/header-exercise-page-with-details.component.ts
  src/main/webapp/app/overview/course-exercises/course-exercise-row.component.html
  src/test/javascript/spec/component/exam/manage/student-exams/student-exam-detail-table-row.component.spec.ts
Labels: STRICT-TEMPLATES, client, ready for review

#3115 Several enhancements/adjustments to buttons
  src/main/webapp/app/admin/organization-management/organization-management.component.html
  src/main/webapp/app/admin/system-notification-management/system-notification-management.component.html
  src/main/webapp/app/admin/user-management/user-management.component.html
  src/main/webapp/app/exam/manage/exam-management.component.html
  src/main/webapp/app/exam/manage/exams/exam-checklist-component/exam-checklist.component.html
  src/main/webapp/app/exam/manage/exams/exam-detail.component.html
  src/main/webapp/app/exam/manage/exercise-groups/exercise-groups.component.html
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise-detail.component.html
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.ts
  src/main/webapp/app/exercises/programming/manage/programming-exercise.component.html
  src/main/webapp/app/exercises/shared/exercise-detail-common-actions/non-programming-exercise-detail-common-actions.component.ts
  src/main/webapp/app/exercises/shared/exercise-hint/manage/exercise-hint-detail.component.html
  src/main/webapp/app/exercises/shared/exercise-hint/manage/exercise-hint.component.html
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise-detail.component.html
  src/test/javascript/spec/component/non-programming-exercise-detail-common-actions.component.spec.ts
Labels: client, ready for review

#3132 Angular Strict Template for app/exercises/file-upload/manage
  src/main/webapp/app/exercises/file-upload/manage/file-upload-exercise-update.component.html
  src/main/webapp/app/exercises/file-upload/manage/file-upload-exercise.component.html
Labels: STRICT-TEMPLATES, client, ready for review

#3090 [Bugfix] Edit exam quiz when test run exists
  src/main/java/de/tum/in/www1/artemis/domain/Exercise.java
  src/main/java/de/tum/in/www1/artemis/repository/StudentParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/exam/ExamService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExamResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/QuizExerciseResource.java
  src/main/webapp/app/entities/exercise.model.ts
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise-detail.component.ts
  src/main/webapp/app/exercises/shared/exam-exercise-row-buttons/exam-exercise-row-buttons.component.html
  src/main/webapp/i18n/de/quizExercise.json
  src/main/webapp/i18n/en/quizExercise.json
  src/test/java/de/tum/in/www1/artemis/ExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/ExamServiceTest.java
  src/test/javascript/spec/component/exam/manage/exam-exercise-row-buttons.component.spec.ts
  src/test/javascript/spec/component/quiz-exercise/quiz-exercise-detail.component.spec.ts
  src/test/javascript/spec/service/activate.service.spec.ts
  src/test/javascript/spec/service/password.service.spec.ts
Labels: bug, bugfix, client, exam mode, ready for review, server

#3146 [Tests] Increase ModelingExerciseImportService coverage
  src/main/java/de/tum/in/www1/artemis/service/ModelingExerciseImportService.java
  src/test/java/de/tum/in/www1/artemis/ModelingExerciseIntegrationTest.java
Labels: ready for review, server

#3140 Update the server dev guidelines for the new authorisation checks
  docs/dev/guidelines/server.rst
Labels: ready for review

#3155 Update OCaml template.
  src/main/resources/templates/ocaml/readme
  src/main/resources/templates/ocaml/test/run.sh
  src/main/resources/templates/ocaml/test/test/test.ml
Labels: ready for review, template

#3133 [Chore] - Strict Template and client tests
  src/main/webapp/app/admin/health/health-modal.component.ts
  src/main/webapp/app/admin/health/health.component.html
  src/main/webapp/app/admin/health/health.component.ts
  src/main/webapp/app/exercises/text/shared/manual-text-selection/manual-text-selection.component.ts
  src/test/javascript/spec/component/text/manual-text-selection.component.spec.ts
Labels: STRICT-TEMPLATES, client, ready for review

#3151 Angular Strict Template fixes for lecture* and quiz-participation
  src/main/webapp/app/assessment/assessment-instructions/assessment-instructions/assessment-instructions.component.html
  src/main/webapp/app/exercises/quiz/participate/quiz-participation.component.html
  src/main/webapp/app/lecture/lecture-attachments.component.html
  src/main/webapp/app/lecture/lecture.component.html
Labels: STRICT-TEMPLATES, client, ready for review

#3134 [ GitLab ] - Internal Server Error when creating repo for user with dots in the login
  src/main/java/de/tum/in/www1/artemis/service/connectors/gitlab/GitLabService.java
Labels: ready for review, server

#3102 Follow-up refactoring - adapt structure for multi organizations
  src/main/java/de/tum/in/www1/artemis/service/OrganizationService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/OrganizationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/OrganizationCountDTO.java
  src/main/webapp/app/admin/organization-management/organization-count-dto.model.ts
  src/main/webapp/app/admin/organization-management/organization-management.component.ts
  src/main/webapp/app/admin/organization-management/organization-management.service.ts
  src/test/java/de/tum/in/www1/artemis/OrganizationIntegrationTest.java
  src/test/javascript/spec/component/organization/organization-management.component.spec.ts
Labels: client, ready for review, server

#3145 Compare Feedback name with TestCase name ignoring case
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseGradingService.java
Labels: bugfix, ready for review, server

#3158 Fix unordered exercise groups bug within exam checklist
  src/main/webapp/app/exam/manage/exam-management.route.ts
  src/main/webapp/app/exam/manage/exams/exam-checklist-component/exam-checklist.component.ts
  src/test/javascript/spec/component/exam/manage/exams/exam-detail.component.spec.ts
Labels: bugfix, client, ready for review

#3154 Fix assessment dashboard strict template errors
  src/main/webapp/app/course/dashboards/assessment-dashboard/assessment-dashboard.component.html
  src/main/webapp/app/course/dashboards/assessment-dashboard/assessment-dashboard.component.ts
  src/main/webapp/app/entities/exercise.model.ts
  src/main/webapp/app/shared/dashboards/tutor-participation-graph/tutor-participation-graph.component.html
  src/main/webapp/app/shared/dashboards/tutor-participation-graph/tutor-participation-graph.component.ts
Labels: STRICT-TEMPLATES, client, ready for review

#2995 [Doc] List best practices for writing test cases
  docs/user/exercises/programming.rst
  docs/user/exercises/test-case-best-practices.inc
Labels: documentation

#3149 Fix strict template errors for course exercise row
  src/main/webapp/app/exercises/shared/exercise-headers/difficulty-badge.component.ts
  src/main/webapp/app/overview/course-exercises/course-exercise-row.component.html
Labels: STRICT-TEMPLATES, client, ready for review

#3118 [ Strict Template ] - /exam/participate/exercises/text
  src/main/webapp/app/exam/participate/exercises/modeling/modeling-exam-submission.component.html
  src/main/webapp/app/exam/participate/exercises/text/text-exam-submission.component.ts
Labels: STRICT-TEMPLATES, client, ready for review

#3161 added bugfix
  src/main/webapp/app/exercises/shared/team/team-student-search/team-student-search.component.ts
Labels: bugfix, client, ready for review

#3162 [Bugfix] student exams : 0 scores not showing
  src/main/webapp/app/exam/exam-scores/exam-scores.component.html
  src/main/webapp/app/exam/exam-scores/exam-scores.component.ts
  src/main/webapp/app/exam/manage/student-exams/student-exam-detail-table-row/student-exam-detail-table-row.component.html
Labels: bugfix, client, ready for review

#3165 Strict Template fixes
  src/main/webapp/app/complaints/complaint-interactions.component.html
  src/main/webapp/app/complaints/complaint-interactions.component.ts
  src/main/webapp/app/exercises/programming/participate/code-editor-student-container.component.html
  src/main/webapp/app/exercises/programming/participate/code-editor-student-container.component.ts
  src/main/webapp/app/exercises/shared/rating/rating.component.html
Labels: STRICT-TEMPLATES, client, ready for review

#3166 [bugfix] Show result in score -> submission page
  src/main/java/de/tum/in/www1/artemis/service/exam/StudentExamService.java
  src/main/webapp/app/exercises/shared/exercise-scores/exercise-scores.component.html
  src/main/webapp/app/overview/participation-utils.ts
Labels: bugfix, client, ready for review, server

#3167 Angular Strict Template for /app/overview/exercise-details/programming-exercise-student-ide-actions.component.html
  src/main/webapp/app/overview/exercise-details/programming-exercise-student-ide-actions.component.html
  src/main/webapp/app/shared/orion/orion-button/orion-button.component.html
  src/main/webapp/app/shared/orion/orion-button/orion-button.component.ts
Labels: STRICT-TEMPLATES, client

#3156 Fix Submissions-Button beeing visible for tutors.
  src/main/webapp/app/course/dashboards/assessment-dashboard/assessment-dashboard.component.html
  src/main/webapp/app/exercises/programming/manage/programming-exercise.component.html
Labels: client

#3164 Angular Strict Template for /app/overview/exercise-details/exercise-details-student-actions.component.html
  src/main/webapp/app/overview/exercise-details/exercise-details-student-actions.component.html
Labels: STRICT-TEMPLATES, client

#3150 Fix strict templates in several components
  src/main/webapp/app/admin/organization-management/organization-management-detail.component.html
  src/main/webapp/app/admin/organization-management/organization-management.component.html
  src/main/webapp/app/course/learning-goals/learning-goal-course-detail-modal/learning-goal-course-detail-modal.component.html
  src/main/webapp/app/course/learning-goals/learning-goal-detail-modal/learning-goal-detail-modal.component.html
  src/main/webapp/app/exercises/modeling/shared/modeling-explanation-editor.component.ts
  src/main/webapp/app/exercises/shared/structured-grading-criterion/grading-instructions-details/grading-instructions-details.component.ts
  src/main/webapp/app/shared/alert/alert-error.component.ts
  src/main/webapp/app/shared/alert/alert.component.ts
  src/main/webapp/app/shared/category-selector/category-selector.component.ts
Labels: STRICT-TEMPLATES, client, ready for review

#3127 [Tests] Improve download archive tests
  src/test/java/de/tum/in/www1/artemis/ExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseBitbucketBambooIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseGitlabJenkinsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/CourseTestService.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/java/de/tum/in/www1/artemis/util/ProgrammingExerciseTestService.java
  src/test/java/de/tum/in/www1/artemis/util/RequestUtilService.java
  src/test/java/de/tum/in/www1/artemis/util/ZipFileTestUtilService.java
Labels: ready for review, server, tests

#3169 [Tests bugfix]
  src/main/java/de/tum/in/www1/artemis/service/exam/StudentExamService.java
Labels: server

#3168 Fix Strict Template Issues
  src/main/webapp/app/course/dashboards/instructor-course-dashboard/instructor-course-dashboard.component.html
  src/main/webapp/app/exercises/text/assess/textblock-assessment-card/textblock-assessment-card.component.ts
  src/main/webapp/app/exercises/text/manage/example-text-submission/example-text-submission.component.html
  src/main/webapp/app/exercises/text/shared/manual-text-selection/manual-text-selection.component.html
Labels: STRICT-TEMPLATES, client, ready for review

#3153 Disable the cancel button while deleting
  src/main/webapp/app/shared/delete-dialog/delete-dialog.component.html
Labels: client, ready for review

#3138 Tests/coverage improvements client
  src/main/webapp/app/guided-tour/guided-tour.component.ts
  src/test/java/de/tum/in/www1/artemis/AssessmentComplaintIntegrationTest.java
  src/test/javascript/spec/component/exam-exercise-row-buttons/exam-exercise-row-buttons.component.spec.ts
  src/test/javascript/spec/component/guided-tour/guided-tour.component.spec.ts
  src/test/javascript/spec/component/utils/guided-tour.utils.spec.ts
  src/test/javascript/spec/service/guided-tour.service.spec.ts
Labels: client, ready for review, tests

#3141 [Bugfix] use artemisTimeAgo pipe for exam release date badge
  src/main/webapp/app/exercises/shared/exercise-headers/header-exercise-page-with-details.component.html
Labels: client, ready for review

#3080 [Feature] Jenkins configuration-as-code
  docs/dev/setup/jenkins-gitlab.rst
  src/main/docker/gitlab-jenkins-mysql.yml
  src/main/docker/jenkins/Dockerfile
  src/main/docker/jenkins/jenkins-casc-config.yml
  src/main/docker/jenkins/plugins.yml
  src/main/docker/jenkins/swift/Dockerfile
Labels: jenkins/gitlab, ready for review

#3117 [ Strict Template ] - /exam/participate/exercises/quiz
  src/main/webapp/app/exam/participate/exercises/quiz/quiz-exam-submission.component.html
Labels: STRICT-TEMPLATES, client

#3119 [ Strict Template ] - /exam/participate/exam-participation.component.html
  src/main/webapp/app/exam/participate/exam-cover/exam-participation-cover.component.ts
  src/main/webapp/app/exam/participate/exam-participation.component.html
  src/test/javascript/spec/component/exam/participate/exam-participation-cover.component.spec.ts
Labels: STRICT-TEMPLATES, client, ready for review

#3177 Revert changes causing errors when creating a file-upload-exercise
  src/main/webapp/app/exercises/file-upload/manage/file-upload-exercise-update.component.html
Labels: client, ready for review

#3182 Fix strict templates for multiple components
  src/main/webapp/app/exercises/modeling/manage/example-modeling/example-modeling-solution.component.html
  src/main/webapp/app/exercises/modeling/manage/example-modeling/example-modeling-submission.component.html
  src/main/webapp/app/exercises/shared/rating/rating-list/rating-list.component.html
  src/main/webapp/app/exercises/text/assess/conflicts/text-feedback-conflicts.component.html
  src/main/webapp/app/exercises/text/assess/textblock-feedback-editor/textblock-feedback-editor.component.html
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/lecture-unit-management.component.html
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/lecture-unit-management.component.ts
  src/main/webapp/app/overview/course-lectures/exercise-unit/exercise-unit.component.ts
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.html
Labels: STRICT-TEMPLATES, client, ready for review

#3170 Fix strict template issues
  src/main/webapp/app/assessment/assessment-locks/assessment-locks.component.html
  src/main/webapp/app/exercises/programming/assess/programming-assessment-dashboard/programming-assessment-dashboard.component.html
  src/main/webapp/app/exercises/quiz/shared/questions/drag-and-drop-question/drag-and-drop-question.component.html
  src/main/webapp/app/exercises/quiz/shared/questions/drag-and-drop-question/drag-and-drop-question.component.ts
  src/main/webapp/app/exercises/quiz/shared/questions/drag-and-drop-question/drag-item.component.html
  src/main/webapp/app/exercises/quiz/shared/questions/short-answer-question/short-answer-question.component.ts
  src/test/javascript/spec/component/drag-and-drop-question/drag-and-drop-question.component.spec.ts
Labels: STRICT-TEMPLATES, client, ready for review

#3178 fixed wrong error message in password component
  src/main/webapp/app/account/password/password.component.html
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/en/global.json
Labels: client

#3142 [Refactor] StudentQuestionResource and StudentQuestionAnswerResource use ...ElseThrow alternatives
  src/main/java/de/tum/in/www1/artemis/repository/LectureRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/StudentQuestionAnswerRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/StudentQuestionRepository.java
  src/main/java/de/tum/in/www1/artemis/web/rest/StudentQuestionAnswerResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/StudentQuestionResource.java
  src/test/java/de/tum/in/www1/artemis/StudentQuestionAnswerIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/StudentQuestionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
Labels: code quality, ready for review, refactoring, server

#3193 Fix typo in creation email
  src/main/resources/i18n/messages_de.properties
Labels: ready for review

#3143 SAML2: Fix disabled accounts
  src/main/java/de/tum/in/www1/artemis/service/connectors/SAML2Service.java
  src/main/java/de/tum/in/www1/artemis/web/rest/UserJWTController.java
  src/main/webapp/app/home/saml2-login/saml2-login.component.ts
Labels: client, ready for review, server

#3175 Improve REST API and improve code quality
  build.gradle
  src/main/java/de/tum/in/www1/artemis/domain/ExampleSubmission.java
  src/main/java/de/tum/in/www1/artemis/domain/quiz/QuizExercise.java
  src/main/java/de/tum/in/www1/artemis/repository/ModelingExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ParticipantScoreRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ProgrammingExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ProgrammingSubmissionRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ResultRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/StudentParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/TextSubmissionRepository.java
  src/main/java/de/tum/in/www1/artemis/service/AssessmentService.java
  src/main/java/de/tum/in/www1/artemis/service/ExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/QuizStatisticService.java
  src/main/java/de/tum/in/www1/artemis/service/ResultService.java
  src/main/java/de/tum/in/www1/artemis/service/SubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/TextAssessmentService.java
  src/main/java/de/tum/in/www1/artemis/service/TextSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/TutorParticipationService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingAssessmentService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/AssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExamResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/FileUploadExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingAssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseParticipationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/QuizExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/RatingResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextAssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TutorParticipationResource.java
  src/main/webapp/app/exercises/shared/dashboards/tutor/tutor-participation.service.ts
  src/test/java/de/tum/in/www1/artemis/ApollonDiagramResourceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ExampleSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ExerciseHintIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/LectureIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/TextAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/TutorParticipationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/TutorParticipationResourceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/CourseTestService.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/java/de/tum/in/www1/artemis/util/ModelFactory.java
  src/test/java/de/tum/in/www1/artemis/util/ProgrammingExerciseResultTestService.java
Labels: chore, client, code quality, ready for review, server, tests

#3202 [Bugfix] Illegal submissions grace period
  src/main/java/de/tum/in/www1/artemis/repository/ProgrammingExerciseStudentParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/StudentParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/service/LearningGoalService.java
  src/main/java/de/tum/in/www1/artemis/service/SubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/TextSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bitbucket/BitbucketService.java
  src/main/java/de/tum/in/www1/artemis/service/exam/ExamRegistrationService.java
  src/main/java/de/tum/in/www1/artemis/service/exam/ExamSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/exam/StudentExamService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ParticipationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseParticipationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ResultResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/StudentExamResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/SubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/repository/RepositoryProgrammingExerciseParticipationResource.java
  src/main/resources/config/liquibase/changelog/20210413105400_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/exam/exam-scores/exam-scores.component.ts
  src/main/webapp/app/exam/participate/summary/exam-participation-summary.component.html
  src/main/webapp/app/exam/participate/summary/exam-participation-summary.component.ts
  src/main/webapp/app/exercises/programming/participate/code-editor-student-container.component.html
  src/main/webapp/app/exercises/programming/participate/code-editor-student-container.component.ts
  src/test/java/de/tum/in/www1/artemis/ExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/FileUploadAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ModelingAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/StudentExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/TextAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingSubmissionAndResultBitbucketBambooIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/ExamSubmissionServiceTest.java
Labels: bugfix, client, database, ready for review, server

#3201 Fixing strict template issues in student-question components
  src/main/webapp/app/overview/student-questions/student-question/student-question.component.html
  src/main/webapp/app/overview/student-questions/student-questions.component.html
Labels: STRICT-TEMPLATES, client

#3196 Fix strict template errors in text-exercise
  src/main/webapp/app/exercises/text/manage/text-exercise-import.component.html
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise-row-buttons.component.html
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise-update.component.html
Labels: STRICT-TEMPLATES, client, ready for review

#3200 Add tests for course update component
  src/test/javascript/spec/component/course/course-update.component.spec.ts
Labels: ready for review

#3191 Fix Checklist transient problems
  src/main/java/de/tum/in/www1/artemis/repository/StudentParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/exam/ExamService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExamResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExerciseGroupResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExerciseResource.java
  src/main/webapp/app/exam/manage/exam-management.route.ts
  src/main/webapp/app/exam/manage/exams/exam-checklist-component/exam-checklist.component.html
  src/main/webapp/app/exam/manage/exams/exam-checklist-component/exam-checklist.component.ts
  src/main/webapp/app/exam/manage/exams/exam-detail.component.html
  src/main/webapp/i18n/de/textAssessment.json
  src/main/webapp/i18n/en/textAssessment.json
  src/test/java/de/tum/in/www1/artemis/ExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/TextAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/ExamServiceTest.java
Labels: bugfix, client, ready for review, server

#3205 Fix Documentation for Gitlab/Jenkins Local Docker Setup
  docs/dev/setup/jenkins-gitlab.rst
Labels: documentation, ready for review

#3199 [Bugfix] tutor assessment - guided tour
  src/main/webapp/app/course/manage/overview/course-management-card.component.html
  src/main/webapp/app/exercises/shared/dashboards/tutor/exercise-assessment-dashboard.component.html
  src/main/webapp/app/exercises/shared/dashboards/tutor/exercise-assessment-dashboard.component.ts
  src/main/webapp/app/exercises/text/assess/textblock-assessment-card/textblock-assessment-card.component.html
  src/main/webapp/app/exercises/text/manage/example-text-submission/example-text-submission.component.html
  src/main/webapp/app/guided-tour/guided-tour.service.ts
  src/main/webapp/app/guided-tour/tours/tutor-assessment-tour.ts
  src/main/webapp/i18n/de/guidedTourTutorAssessment.json
  src/main/webapp/i18n/en/guidedTourTutorAssessment.json
  src/test/javascript/spec/component/assessment-dashboard/exercise-assessment-dashboard.component.spec.ts
Labels: bugfix, client, component:GuidedTour, ready for review

#3211 [Docu] Missing export statement in JVM args
  docs/dev/setup.rst
Labels: documentation

#3209 Fix drag drog quizzes
  src/main/webapp/app/exercises/quiz/shared/questions/drag-and-drop-question/drag-item.component.html
Labels: bugfix, priority:high

#3218 Remove overflow from modeling assessment components
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment-editor/modeling-assessment-editor.component.scss
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment.component.scss
Labels: client, ready for review

#3206 Fix two editor in modeling submissions
  src/main/webapp/app/exercises/modeling/participate/modeling-submission.component.html
  src/main/webapp/app/exercises/modeling/participate/modeling-submission.component.ts
  src/test/javascript/spec/component/modeling-submission/modeling-submission.component.spec.ts
Labels: client, ready for review

#3215 [Bugfix] Fix wrong translation in programming assessment and issue with complaints
  src/main/webapp/app/complaints/complaint-interactions.component.html
  src/main/webapp/app/complaints/complaint.service.ts
  src/main/webapp/app/complaints/complaints.component.ts
  src/main/webapp/app/exercises/programming/assess/code-editor-tutor-assessment-container.component.html
  src/main/webapp/i18n/de/programmingAssessment.json
  src/main/webapp/i18n/en/programmingAssessment.json
Labels: bugfix, client, component:Programming, ready for review

#3210 [Bugfix] Fix re-evaluate bug for programming exercises
  src/main/java/de/tum/in/www1/artemis/repository/SolutionProgrammingExerciseParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/TemplateProgrammingExerciseParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseGradingService.java
Labels: bugfix, jenkins/gitlab, ready for review, server

#3197 Fix teams import dialog strict template errors
  src/main/webapp/app/exercises/shared/team/teams-import-dialog/teams-import-dialog.component.html
  src/main/webapp/app/exercises/shared/team/teams-import-dialog/teams-import-dialog.component.ts
Labels: STRICT-TEMPLATES, client, ready for review

#3195 Fix quiz exercise strict template errors
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise.component.html
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise.component.ts
Labels: STRICT-TEMPLATES, client, ready for review

#3188 Angular Strict Template for app/exercises/shared/exercise-hint/manage
  src/main/webapp/app/exercises/shared/exercise-hint/manage/exercise-hint-update.component.html
  src/main/webapp/app/exercises/shared/exercise-hint/manage/exercise-hint.component.html
Labels: STRICT-TEMPLATES, client, ready for review

#3187 Angular Strict Template for app/exercises/programming/manage/programming-exercise-import.component.html
  src/main/webapp/app/exercises/programming/manage/programming-exercise-import.component.html
Labels: STRICT-TEMPLATES, client, ready for review

#3186 Angular Strict Template for app/exercises/programming/manage/grading
  src/main/webapp/app/exercises/programming/manage/grading/charts/test-case-passed-builds-chart.component.ts
  src/main/webapp/app/exercises/programming/manage/grading/programming-exercise-configure-grading.component.html
  src/main/webapp/app/exercises/programming/manage/grading/programming-exercise-configure-grading.component.ts
Labels: STRICT-TEMPLATES, client, ready for review

#3185 [strict templates] programming-exercise.component
  src/main/webapp/app/exercises/programming/manage/programming-exercise.component.html
  src/main/webapp/app/exercises/programming/manage/programming-exercise.component.ts
  src/main/webapp/app/exercises/programming/manage/status/programming-exercise-instructor-status.component.ts
Labels: STRICT-TEMPLATES, client, ready for review

#3171 Fix strict template issues for code editor
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.html
  src/main/webapp/app/exercises/programming/shared/code-editor/ace/code-editor-ace.component.html
  src/main/webapp/app/exercises/programming/shared/code-editor/ace/code-editor-ace.component.ts
  src/main/webapp/app/exercises/programming/shared/code-editor/actions/code-editor-actions.component.ts
  src/main/webapp/app/exercises/programming/shared/code-editor/container/code-editor-container.component.html
  src/main/webapp/app/exercises/programming/shared/code-editor/container/code-editor-container.component.ts
  src/main/webapp/app/exercises/programming/shared/code-editor/file-browser/code-editor-file-browser-create-node.component.ts
  src/main/webapp/app/exercises/programming/shared/code-editor/file-browser/code-editor-file-browser.component.html
  src/main/webapp/app/exercises/programming/shared/code-editor/file-browser/code-editor-file-browser.component.ts
  src/main/webapp/app/exercises/programming/shared/code-editor/model/code-editor.model.ts
  src/test/javascript/spec/helpers/mocks/service/mock-code-editor-repository-file.service.ts
Labels: STRICT-TEMPLATES, client, ready for review

#3172 Improve the student course overview cards
  src/main/webapp/app/exercises/shared/exercise/exercise.service.ts
  src/main/webapp/app/overview/course-card.component.html
  src/main/webapp/app/overview/course-card.component.ts
  src/main/webapp/app/overview/course-card.scss
  src/main/webapp/app/overview/courses.component.html
  src/main/webapp/app/overview/courses.component.scss
  src/test/javascript/spec/component/overview/course-card.component.spec.ts
  src/test/javascript/spec/component/overview/overview.component.spec.ts
Labels: client, ready for review

#3212 [Bugfix] guided tour improvements
  src/main/webapp/app/course/dashboards/assessment-dashboard/assessment-dashboard.component.ts
  src/main/webapp/app/exercises/shared/dashboards/tutor/exercise-assessment-dashboard.component.ts
  src/main/webapp/app/exercises/text/manage/example-text-submission/example-text-submission.component.ts
  src/main/webapp/app/guided-tour/guided-tour.component.ts
Labels: client, component:GuidedTour, ready for review

#3061 [Feature] Grading System Server Side
  src/main/java/de/tum/in/www1/artemis/domain/Course.java
  src/main/java/de/tum/in/www1/artemis/domain/GradeStep.java
  src/main/java/de/tum/in/www1/artemis/domain/GradeType.java
  src/main/java/de/tum/in/www1/artemis/domain/GradingScale.java
  src/main/java/de/tum/in/www1/artemis/domain/exam/Exam.java
  src/main/java/de/tum/in/www1/artemis/repository/GradeStepRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/GradingScaleRepository.java
  src/main/java/de/tum/in/www1/artemis/service/GradingScaleService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/GradeStepResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/GradingScaleResource.java
  src/main/resources/config/liquibase/changelog/20210319163148_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/test/java/de/tum/in/www1/artemis/GradeStepIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/GradingScaleIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/GradingScaleServiceTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
Labels: database, ready for review, server

#3223 Strict template fixes
  src/main/webapp/app/course/learning-goals/learning-goal-management/learning-goal-management.component.html
Labels: STRICT-TEMPLATES, client, ready for review

#3221 fix strict template issues
  src/main/webapp/app/exercises/programming/assess/repo-export/programming-assessment-repo-export-dialog.component.html
  src/main/webapp/app/exercises/programming/manage/instructions-editor/programming-exercise-editable-instruction.component.html
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-inspector/plagiarism-inspector.component.html
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-split-view/modeling-submission-viewer/modeling-submission-viewer.component.html
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-split-view/modeling-submission-viewer/modeling-submission-viewer.component.ts
  src/main/webapp/app/exercises/shared/submission-export/submission-export-dialog.component.html
Labels: STRICT-TEMPLATES, client, ready for review

#3207 Update server and client dependencies
  build.gradle
  gradle.properties
  gradle/liquibase.gradle
  gradle/wrapper/gradle-wrapper.properties
  package.json
  src/main/webapp/app/index.d.ts
  src/main/webapp/app/shared/markdown.service.ts
  yarn.lock
Labels: chore, client, dependencies, ready for review, server

#3208 Send less data for certain user calls to improve data privacy
  src/main/java/de/tum/in/www1/artemis/repository/UserRepository.java
  src/main/java/de/tum/in/www1/artemis/service/dto/StudentDTO.java
  src/main/java/de/tum/in/www1/artemis/service/dto/UserDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExamResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/UserResource.java
  src/main/webapp/app/exam/manage/exam-management.service.ts
  src/main/webapp/app/exam/manage/students/exam-students.component.ts
  src/main/webapp/app/shared/data-table/data-table.component.ts
  src/test/javascript/spec/component/exam/manage/exam-students.component.spec.ts
Labels: chore, client, ready for review, server

#3180 Fix strict template for manage code editor
  src/main/webapp/app/exercises/programming/manage/code-editor/code-editor-instructor-container.component.html
  src/main/webapp/app/exercises/programming/manage/code-editor/code-editor-instructor-orion-container.component.html
  src/main/webapp/app/exercises/shared/exercise-hint/participate/exercise-hint-student-dialog.component.ts
Labels: STRICT-TEMPLATES, client, ready for review

#3225 Fix strict template for modeling-exercise-detail.component.html
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise-detail.component.html
Labels: STRICT-TEMPLATES, client, ready for review

#3088 [Bugfix] Fix Jenkins fix localhost in pipeline
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsInternalUrlService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsService.java
  src/main/resources/config/application-jenkins.yml
  src/test/java/de/tum/in/www1/artemis/service/JenkinsInternalUrlServiceTest.java
Labels: jenkins/gitlab, ready for review, server

#3179 Fix strict template errors for modeling submission
  src/main/webapp/app/exercises/modeling/participate/modeling-submission.component.html
Labels: STRICT-TEMPLATES, client, ready for review

#3231 Fix strict template errors for course-lecture components
  src/main/webapp/app/exercises/shared/team/team.component.html
  src/main/webapp/app/overview/course-lectures/course-lecture-details.component.html
  src/main/webapp/app/overview/course-lectures/course-lecture-details.component.ts
  src/main/webapp/app/overview/course-lectures/course-lecture-row.component.ts
  src/main/webapp/app/overview/course-lectures/course-lectures.component.html
Labels: STRICT-TEMPLATES, client, ready for review

#3232 Fix strict template errors for team update dialog
  src/main/webapp/app/exercises/shared/team/team-owner-search/team-owner-search.component.ts
  src/main/webapp/app/exercises/shared/team/team-student-search/team-student-search.component.ts
  src/main/webapp/app/exercises/shared/team/team-update-dialog/team-delete-button.component.ts
  src/main/webapp/app/exercises/shared/team/team-update-dialog/team-update-dialog.component.html
Labels: STRICT-TEMPLATES, client, ready for review

#3230 [Bugfix] Course deletion - The user remains on the course detail page after the course has been deleted
  src/main/webapp/app/course/manage/course-detail.component.ts
Labels: bugfix, client, ready for review, small

#3183 [strict templates] fixes all app/shared components
  src/main/webapp/app/shared/additional-feedback/additional-feedback.component.html
  src/main/webapp/app/shared/components/button.component.html
  src/main/webapp/app/shared/components/button.component.ts
  src/main/webapp/app/shared/components/confirm-autofocus-button.component.ts
  src/main/webapp/app/shared/components/confirm-autofocus-modal.component.html
  src/main/webapp/app/shared/components/course-exam-archive-button/course-exam-archive-button.component.html
  src/main/webapp/app/shared/components/course-exam-archive-button/course-exam-archive-button.component.ts
  src/main/webapp/app/shared/components/exercise-action-button.component.ts
  src/main/webapp/app/shared/data-table/data-table.component.html
  src/main/webapp/app/shared/data-table/data-table.component.ts
  src/main/webapp/app/shared/fullscreen/fullscreen.component.html
  src/main/webapp/app/shared/fullscreen/fullscreen.component.ts
  src/main/webapp/app/shared/markdown-editor/commands/attachmentCommand.ts
  src/main/webapp/app/shared/markdown-editor/commands/bold.command.ts
  src/main/webapp/app/shared/markdown-editor/commands/code.command.ts
  src/main/webapp/app/shared/markdown-editor/commands/codeblock.command.ts
  src/main/webapp/app/shared/markdown-editor/commands/colorPicker.command.ts
  src/main/webapp/app/shared/markdown-editor/commands/command.ts
  src/main/webapp/app/shared/markdown-editor/commands/fullscreen.command.ts
  src/main/webapp/app/shared/markdown-editor/commands/headingOne.command.ts
  src/main/webapp/app/shared/markdown-editor/commands/headingThree.command.ts
  src/main/webapp/app/shared/markdown-editor/commands/headingTwo.command.ts
  src/main/webapp/app/shared/markdown-editor/commands/italic.command.ts
  src/main/webapp/app/shared/markdown-editor/commands/katex.command.ts
  src/main/webapp/app/shared/markdown-editor/commands/link.command.ts
  src/main/webapp/app/shared/markdown-editor/commands/orderedListCommand.ts
  src/main/webapp/app/shared/markdown-editor/commands/reference.command.ts
  src/main/webapp/app/shared/markdown-editor/commands/underline.command.ts
  src/main/webapp/app/shared/markdown-editor/commands/unorderedListCommand.ts
  src/main/webapp/app/shared/markdown-editor/markdown-editor.component.html
  src/main/webapp/app/shared/markdown-editor/markdown-editor.component.ts
  src/main/webapp/app/shared/participant-scores/participant-scores-average-table/participant-scores-average-table.component.html
  src/main/webapp/app/shared/participant-scores/participant-scores-average-table/participant-scores-average-table.component.ts
  src/main/webapp/app/shared/table/table-editable-field.component.html
  src/main/webapp/app/shared/table/table-editable-field.component.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-import.component.spec.ts
  src/test/javascript/spec/component/shared/participant-scores-average-table.component.spec.ts
Labels: STRICT-TEMPLATES, client, ready for review

#3181 Fix strict template for multiple-choice-question and drag-and-drop-question
  src/main/webapp/app/exercises/quiz/manage/drag-and-drop-question/drag-and-drop-question-edit.component.html
  src/main/webapp/app/exercises/quiz/manage/drag-and-drop-question/drag-and-drop-question-edit.component.ts
  src/main/webapp/app/exercises/quiz/manage/multiple-choice-question/multiple-choice-question-edit.component.ts
Labels: STRICT-TEMPLATES, client

#3135 Angular Strict Template for /app/exam/participate/summary/
  src/main/webapp/app/exam/participate/summary/exam-participation-summary.component.html
  src/main/webapp/app/exam/participate/summary/exam-participation-summary.component.ts
Labels: STRICT-TEMPLATES, client, ready for review

#3176 Fix strict template issues on short answer question
  src/main/webapp/app/exercises/quiz/manage/short-answer-question/short-answer-question-edit.component.html
  src/main/webapp/app/exercises/quiz/manage/short-answer-question/short-answer-question-edit.component.ts
Labels: STRICT-TEMPLATES, client, ready for review

#3174 Fix strict template errors in modeling assessment
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment-editor/modeling-assessment-dashboard.component.html
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment-editor/modeling-assessment-editor.component.html
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment.component.ts
Labels: STRICT-TEMPLATES, client, ready for review

#3163 Angular Strict Template for app/exercises/programming/manage/update
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-test-schedule-date-picker.component.ts
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.html
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.ts
Labels: STRICT-TEMPLATES, client, ready for review

#3173 Fix strict template errors in tutor dashboard
  src/main/webapp/app/exercises/modeling/shared/modeling-editor.component.ts
  src/main/webapp/app/exercises/shared/dashboards/tutor/exercise-assessment-dashboard.component.html
  src/main/webapp/app/exercises/shared/dashboards/tutor/exercise-assessment-dashboard.module.ts
  src/main/webapp/app/exercises/shared/dashboards/tutor/language-table-cell/language-table-cell.component.html
  src/main/webapp/app/exercises/shared/dashboards/tutor/language-table-cell/language-table-cell.component.ts
  src/test/javascript/spec/component/assessment-dashboard/exercise-assessment-dashboard.component.spec.ts
Labels: STRICT-TEMPLATES, client, ready for review

#3233 Fix strict template errors for text and quiz components
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise-import.component.html
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise-export.component.html
  src/main/webapp/app/exercises/quiz/manage/re-evaluate/multiple-choice-question/re-evaluate-multiple-choice-question.component.html
  src/main/webapp/app/exercises/quiz/manage/re-evaluate/multiple-choice-question/re-evaluate-multiple-choice-question.component.ts
  src/main/webapp/app/exercises/quiz/manage/re-evaluate/short-answer-question/re-evaluate-short-answer-question.component.ts
  src/main/webapp/app/exercises/shared/participation-submission/participation-submission.component.html
  src/main/webapp/app/exercises/shared/participation/participation.component.html
  src/main/webapp/app/exercises/shared/participation/participation.component.ts
  src/main/webapp/app/exercises/text/assess/text-assessment-area/text-assessment-area.component.html
  src/main/webapp/app/exercises/text/assess/text-assessment-area/text-assessment-area.component.ts
  src/main/webapp/app/exercises/text/participate/text-editor.component.html
  src/main/webapp/app/exercises/text/participate/text-editor.component.ts
  src/main/webapp/app/exercises/text/participate/text-result/text-result-block.ts
  src/main/webapp/app/exercises/text/participate/text-result/text-result.component.html
  src/main/webapp/app/overview/course-lectures/attachment-unit/attachment-unit.component.ts
  src/test/javascript/spec/component/participation/participation.component.spec.ts
  src/test/javascript/spec/component/text-result/text-result.component.spec.ts
Labels: STRICT-TEMPLATES, client, ready for review

#3229 [Performance] Grading system
  src/main/java/de/tum/in/www1/artemis/domain/Course.java
  src/main/java/de/tum/in/www1/artemis/domain/GradeStep.java
  src/main/java/de/tum/in/www1/artemis/domain/GradingCriterion.java
  src/main/java/de/tum/in/www1/artemis/domain/GradingInstruction.java
  src/main/java/de/tum/in/www1/artemis/domain/GradingScale.java
  src/main/java/de/tum/in/www1/artemis/domain/exam/Exam.java
  src/main/java/de/tum/in/www1/artemis/service/CourseService.java
  src/main/java/de/tum/in/www1/artemis/service/GradingScaleService.java
  src/main/java/de/tum/in/www1/artemis/service/exam/ExamService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/GradingScaleResource.java
  src/test/java/de/tum/in/www1/artemis/GradeStepIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/GradingScaleIntegrationTest.java
Labels: ready for review, refactoring, server, small

#3190 Strict Template Migrations
  src/main/webapp/app/course/manage/course-management.service.ts
  src/main/webapp/app/course/manage/overview/course-management-exercise-row.component.html
  src/main/webapp/app/entities/exercise-category.model.ts
  src/main/webapp/app/entities/exercise.model.ts
  src/main/webapp/app/exercises/file-upload/manage/file-upload-exercise-detail.component.ts
  src/main/webapp/app/exercises/file-upload/manage/file-upload-exercise-update.component.ts
  src/main/webapp/app/exercises/file-upload/manage/file-upload-exercise.service.ts
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise-detail.component.ts
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise-update.component.html
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise-update.component.ts
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise.service.ts
  src/main/webapp/app/exercises/programming/assess/code-editor-tutor-assessment-container.component.html
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.ts
  src/main/webapp/app/exercises/programming/manage/services/programming-exercise.service.ts
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.ts
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise-detail.component.html
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise-detail.component.ts
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise.service.ts
  src/main/webapp/app/exercises/quiz/manage/short-answer-question/short-answer-question-edit.component.html
  src/main/webapp/app/exercises/quiz/manage/short-answer-question/short-answer-question-edit.component.ts
  src/main/webapp/app/exercises/shared/exercise-detail-common-actions/non-programming-exercise-detail-common-actions.component.html
  src/main/webapp/app/exercises/shared/exercise-headers/header-exercise-page-with-details.component.ts
  src/main/webapp/app/exercises/shared/exercise-headers/header-participation-page.component.ts
  src/main/webapp/app/exercises/shared/exercise/exercise-details/exercise-details.component.html
  src/main/webapp/app/exercises/shared/exercise/exercise.service.ts
  src/main/webapp/app/exercises/text/assess/text-submission-assessment.component.html
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise-detail.component.ts
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise-update.component.ts
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise.service.ts
  src/main/webapp/app/overview/course-exercises/course-exercise-row.component.ts
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.ts
  src/main/webapp/app/shared/category-selector/category-selector.component.ts
  src/test/javascript/spec/component/quiz-exercise/quiz-exercise-detail.component.spec.ts
  src/test/javascript/spec/component/short-answer-question/short-answer-question-edit.component.spec.ts
Labels: STRICT-TEMPLATES, client, ready for review

#3194 Fix exercise-scores strict template errors
  src/main/webapp/app/exercises/shared/exercise-scores/exercise-scores.component.html
  src/main/webapp/app/exercises/shared/exercise-scores/exercise-scores.component.ts
Labels: STRICT-TEMPLATES, client, ready for review

#3220 Strict Template Migrations
  src/main/webapp/app/admin/audits/audit-data.model.ts
  src/main/webapp/app/exercises/shared/result/result-detail.component.html
  src/main/webapp/app/exercises/shared/result/result.component.ts
  src/main/webapp/app/overview/course-exams/course-exams.component.html
  src/main/webapp/app/overview/course-exercises/course-exercises.component.html
  src/main/webapp/app/overview/courses.component.html
  src/main/webapp/app/overview/submission-result-status.component.html
Labels: STRICT-TEMPLATES, client, ready for review

#3224 [refactor] removed get call, renamed id in StudentQuestionAnswerResource to answerId
  src/main/java/de/tum/in/www1/artemis/repository/StudentQuestionAnswerRepository.java
  src/main/java/de/tum/in/www1/artemis/web/rest/StudentQuestionAnswerResource.java
  src/main/webapp/app/overview/student-questions/student-question-answer/student-question-answer.service.ts
  src/test/java/de/tum/in/www1/artemis/StudentQuestionAnswerIntegrationTest.java
  src/test/javascript/spec/service/student-question-answer.service.spec.ts
Labels: client, ready for review, refactoring, server

#3235 Enable Strict Template
  src/main/webapp/app/account/settings/settings.component.html
  src/main/webapp/app/assessment/assessment-complaint-alert/assessment-complaint-alert.component.html
  src/main/webapp/app/assessment/assessment-complaint-alert/assessment-complaint-alert.component.ts
  src/main/webapp/app/assessment/assessment-header/assessment-header.component.ts
  src/main/webapp/app/assessment/assessment-layout/assessment-layout.component.html
  src/main/webapp/app/exam/participate/exam-navigation-bar/exam-navigation-bar.component.ts
  src/main/webapp/app/exam/participate/exercises/programming/programming-exam-submission.component.html
  src/main/webapp/app/exam/participate/summary/exercises/modeling-exam-summary/modeling-exam-summary.component.html
  src/main/webapp/app/exam/participate/summary/exercises/quiz-exam-summary/quiz-exam-summary.component.html
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise.component.html
  src/main/webapp/app/exercises/modeling/participate/modeling-submission.component.html
  src/main/webapp/app/exercises/programming/shared/code-editor/container/code-editor-container.component.html
  src/main/webapp/app/exercises/quiz/shared/questions/drag-and-drop-question/drag-item.component.html
  src/main/webapp/app/exercises/shared/dashboards/tutor/exercise-assessment-dashboard.component.html
  src/main/webapp/app/exercises/shared/exercise-headers/header-exercise-page-with-details.component.ts
  src/main/webapp/app/exercises/text/assess/textblock-assessment-card/textblock-assessment-card.component.html
  src/main/webapp/app/overview/course-card.component.ts
  src/main/webapp/app/overview/course-lectures/exercise-unit/exercise-unit.component.html
  src/main/webapp/app/overview/course-statistics/course-statistics.component.ts
  src/main/webapp/app/shared/markdown-editor/markdown-editor.component.html
  src/main/webapp/app/shared/markdown-editor/markdown-editor.component.ts
  src/main/webapp/app/shared/participant-scores/participant-scores.service.ts
  src/test/javascript/spec/component/exam/participate/summary/exercises/modeling-exam-summary.component.spec.ts
  tsconfig.json
Labels: STRICT-TEMPLATES, client, ready for review

#3228 Update versions of SCA in pom.xml templates
  src/main/java/de/tum/in/www1/artemis/service/connectors/ContinuousIntegrationService.java
  src/main/resources/templates/java/maven/test/projectTemplate/pom.xml
  src/main/resources/templates/java/test/projectTemplate/pom.xml
Labels: bugfix, chore, ready for review, server, small

#3234 Performance/limit plagiarism comparisons
  src/main/java/de/tum/in/www1/artemis/domain/TextSubmission.java
  src/main/java/de/tum/in/www1/artemis/domain/plagiarism/PlagiarismComparison.java
  src/main/java/de/tum/in/www1/artemis/domain/plagiarism/PlagiarismResult.java
  src/main/java/de/tum/in/www1/artemis/repository/PlagiarismComparisonRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/PlagiarismResultRepository.java
  src/main/java/de/tum/in/www1/artemis/service/plagiarism/PlagiarismService.java
  src/main/java/de/tum/in/www1/artemis/service/plagiarism/TextPlagiarismDetectionService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/PlagiarismResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextExerciseResource.java
  src/main/webapp/i18n/en/plagiarism.json
  src/test/java/de/tum/in/www1/artemis/ModelingExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/TextExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/ProgrammingExerciseIntegrationServiceTest.java
Labels: client, plagiarism detection, ready for review, server

#3006 [Feature] Exercise Performance Visualisation
  src/main/java/de/tum/in/www1/artemis/domain/FileUploadExercise.java
  src/main/java/de/tum/in/www1/artemis/domain/ProgrammingExercise.java
  src/main/java/de/tum/in/www1/artemis/repository/ParticipantScoreRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/StudentScoreRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/TeamScoreRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ExerciseScoresChartService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExerciseScoresChartResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/ExerciseScoresAggregatedInformation.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/ExerciseScoresDTO.java
  src/main/webapp/app/course/learning-goals/learning-goal-course-detail-modal/learning-goal-course-detail-modal.component.html
  src/main/webapp/app/course/learning-goals/learning-goal-course-detail-modal/learning-goal-course-detail-modal.component.ts
  src/main/webapp/app/overview/course-statistics/course-statistics.component.html
  src/main/webapp/app/overview/courses.module.ts
  src/main/webapp/app/overview/visualizations/exercise-scores-chart.module.ts
  src/main/webapp/app/overview/visualizations/exercise-scores-chart.service.ts
  src/main/webapp/app/overview/visualizations/exercise-scores-chart/exercise-scores-chart.component.html
  src/main/webapp/app/overview/visualizations/exercise-scores-chart/exercise-scores-chart.component.scss
  src/main/webapp/app/overview/visualizations/exercise-scores-chart/exercise-scores-chart.component.ts
  src/main/webapp/app/shared/util/utils.ts
  src/main/webapp/i18n/de/visualizations.json
  src/main/webapp/i18n/en/visualizations.json
  src/test/java/de/tum/in/www1/artemis/ExerciseScoresChartIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ParticipantScoreIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/entitylistener/ResultListenerIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/CourseTestService.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/javascript/spec/component/overview/course-statistics/course-statistics.component.spec.ts
  src/test/javascript/spec/component/overview/course-statistics/visualizations/exercise-scores-chart.component.spec.ts
  src/test/javascript/spec/service/exercise-scores-chart.service.spec.ts
Labels: client, feature, ready for review, server

#3136 [Enhancement] Programming Assessment refactoring routes to use submissionId
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseParticipationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingSubmissionResource.java
  src/main/webapp/app/assessment/assessment-locks/assessment-locks.component.html
  src/main/webapp/app/exam/manage/exam-management.route.ts
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment-editor/modeling-assessment-editor.component.ts
  src/main/webapp/app/exercises/programming/assess/code-editor-tutor-assessment-container.component.ts
  src/main/webapp/app/exercises/programming/assess/programming-assessment-dashboard/programming-assessment-dashboard.component.html
  src/main/webapp/app/exercises/programming/assess/programming-assessment-dashboard/programming-assessment-dashboard.component.ts
  src/main/webapp/app/exercises/programming/assess/programming-assessment.route.ts
  src/main/webapp/app/exercises/programming/manage/services/programming-exercise-participation.service.ts
  src/main/webapp/app/exercises/programming/participate/programming-submission.service.ts
  src/main/webapp/app/exercises/shared/dashboards/tutor/exercise-assessment-dashboard.component.ts
  src/main/webapp/app/exercises/shared/exercise-scores/exercise-scores.component.html
  src/main/webapp/app/utils/navigation.utils.ts
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseParticipationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingSubmissionIntegrationTest.java
  src/test/javascript/spec/component/assessment-dashboard/exercise-assessment-dashboard.component.spec.ts
  src/test/javascript/spec/component/programming-assessment-dashboard/programming-assessment-dashboard.component.spec.ts
  src/test/javascript/spec/component/programming-assessment/programming-assessment-manual-result.component.spec.ts
Labels: client, component:Programming, ready for review, server

#3240 Fix example submission update bug
  src/main/webapp/app/exercises/modeling/manage/example-modeling/example-modeling-submission.component.ts
Labels: bugfix, client, ready for review

#3100 [Feature] Gitlab automated setup
  docs/dev/setup/jenkins-gitlab.rst
  src/main/docker/gitlab-jenkins-mysql.yml
  src/main/docker/gitlab/Dockerfile
  src/main/docker/gitlab/gitlab-local-setup.sh
Labels: feature, jenkins/gitlab, ready for review

#3238 removed more unused attributes of students and users
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/UserResource.java
Labels: ready for review, server

#3121 [Documentation] SAML2 / Shibboleth Docu
  docs/dev/saml2-shibboleth.rst
  docs/dev/saml2-shibboleth/SAML2-Filterchain.png
  docs/dev/saml2-shibboleth/SAML2-Login.png
  docs/dev/saml2-shibboleth/SAML2-Workflow.png
  docs/index.rst
Labels: documentation, ready for review

#3189 Add Kotlin pipeline to Jenkins & Sequential Test Run support
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsBuildPlanCreator.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsBuildPlanService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsProgrammingLanguageFeatureService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsXmlConfigBuilder.java
  src/main/resources/templates/jenkins/c/regularRuns/Jenkinsfile
  src/main/resources/templates/jenkins/haskell/regularRuns/config.xml
  src/main/resources/templates/jenkins/java/regularRuns/Jenkinsfile
  src/main/resources/templates/jenkins/java/regularRuns/Jenkinsfile-staticCodeAnalysis
  src/main/resources/templates/jenkins/java/sequentialRuns/Jenkinsfile
  src/main/resources/templates/jenkins/kotlin/regularRuns/Jenkinsfile
  src/main/resources/templates/jenkins/kotlin/sequentialRuns/Jenkinsfile
  src/main/resources/templates/jenkins/python/regularRuns/Jenkinsfile
  src/main/resources/templates/jenkins/swift/regularRuns/Jenkinsfile
  src/main/resources/templates/jenkins/swift/regularRuns/Jenkinsfile-staticCodeAnalysis
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseBitbucketBambooIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseGitlabJenkinsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/ProgrammingExerciseTestService.java
Labels: feature, jenkins/gitlab, ready for review, server

#3213 Github Improvement: add Confluence Code-Review Guideline Page
  README.md
  docs/dev/guidelines.rst
  docs/dev/guidelines/code-review.rst
Labels: ready for review

#3246 fixed strict template changes for markdown-editor.component
  src/main/webapp/app/shared/markdown-editor/markdown-editor.component.ts
Labels: bugfix, client, ready for review

#3241 Further improvements to the student course overview
  src/main/webapp/app/course/manage/course-management.component.ts
  src/main/webapp/app/overview/course-card.component.html
  src/main/webapp/app/overview/course-card.component.ts
  src/main/webapp/app/overview/course-card.scss
  src/main/webapp/app/overview/course-statistics/course-statistics.component.ts
  src/main/webapp/i18n/de/student-dashboard.json
  src/main/webapp/i18n/en/student-dashboard.json
  src/test/javascript/spec/component/course/course-update.component.spec.ts
  src/test/javascript/spec/component/quiz-exercise/quiz-exercise-detail.component.spec.ts
Labels: client, ready for review

#3244 Hotfix: Add call to set missing totalScore property
  src/main/webapp/app/exercises/modeling/manage/example-modeling/example-modeling-submission.component.ts
Labels: bugfix, client, ready for review

#3184 Assessment Toggle View to check Feedback
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingSubmissionResource.java
  src/main/webapp/app/assessment/assessment-detail/assessment-correction-round-badge/assessment-correction-round-badge.component.html
  src/main/webapp/app/assessment/assessment-detail/assessment-correction-round-badge/assessment-correction-round-badge.component.scss
  src/main/webapp/app/assessment/assessment-detail/assessment-correction-round-badge/assessment-correction-round-badge.component.ts
  src/main/webapp/app/assessment/assessment-detail/assessment-detail.component.html
  src/main/webapp/app/assessment/assessment-detail/assessment-detail.component.scss
  src/main/webapp/app/assessment/assessment-detail/assessment-detail.component.ts
  src/main/webapp/app/assessment/assessment-header/assessment-header.component.html
  src/main/webapp/app/assessment/assessment-header/assessment-header.component.ts
  src/main/webapp/app/assessment/assessment-layout/assessment-layout.component.html
  src/main/webapp/app/assessment/assessment-layout/assessment-layout.component.ts
  src/main/webapp/app/assessment/assessment-shared.module.ts
  src/main/webapp/app/entities/feedback.model.ts
  src/main/webapp/app/exercises/file-upload/assess/file-upload-assessment.component.html
  src/main/webapp/app/exercises/file-upload/assess/file-upload-assessment.component.ts
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment-editor/modeling-assessment-editor.component.html
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment-editor/modeling-assessment-editor.component.ts
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment.component.ts
  src/main/webapp/app/exercises/programming/assess/code-editor-tutor-assessment-container.component.html
  src/main/webapp/app/exercises/programming/assess/code-editor-tutor-assessment-container.component.ts
  src/main/webapp/app/exercises/programming/assess/code-editor-tutor-assessment-inline-feedback.component.html
  src/main/webapp/app/exercises/programming/assess/code-editor-tutor-assessment-inline-feedback.component.ts
  src/main/webapp/app/exercises/programming/assess/programming-manual-assessment.module.ts
  src/main/webapp/app/exercises/programming/shared/code-editor/ace/code-editor-ace.component.html
  src/main/webapp/app/exercises/programming/shared/code-editor/ace/code-editor-ace.component.ts
  src/main/webapp/app/exercises/programming/shared/code-editor/container/code-editor-container.component.html
  src/main/webapp/app/exercises/programming/shared/code-editor/container/code-editor-container.component.ts
  src/main/webapp/app/exercises/shared/submission/submission.service.ts
  src/main/webapp/app/exercises/shared/unreferenced-feedback/unreferenced-feedback.component.html
  src/main/webapp/app/exercises/shared/unreferenced-feedback/unreferenced-feedback.component.ts
  src/main/webapp/app/exercises/text/assess/text-assessment-area/text-assessment-area.component.html
  src/main/webapp/app/exercises/text/assess/text-assessment-area/text-assessment-area.component.ts
  src/main/webapp/app/exercises/text/assess/text-submission-assessment.component.html
  src/main/webapp/app/exercises/text/assess/text-submission-assessment.component.ts
  src/main/webapp/app/exercises/text/assess/textblock-assessment-card/textblock-assessment-card.component.html
  src/main/webapp/app/exercises/text/assess/textblock-assessment-card/textblock-assessment-card.component.ts
  src/main/webapp/app/exercises/text/assess/textblock-feedback-editor/textblock-feedback-editor.component.html
  src/main/webapp/app/exercises/text/assess/textblock-feedback-editor/textblock-feedback-editor.component.ts
  src/main/webapp/i18n/de/assessment.json
  src/main/webapp/i18n/en/assessment.json
  src/test/java/de/tum/in/www1/artemis/TextAssessmentIntegrationTest.java
  src/test/javascript/spec/component/assessment-shared/assessment-header.component.spec.ts
  src/test/javascript/spec/component/file-upload-assessment/file-upload-assessment.component.spec.ts
  src/test/javascript/spec/component/modeling-assessment-editor/modeling-assessment-editor.component.spec.ts
  src/test/javascript/spec/component/text-submission-assessment/manual-textblock-selection.component.spec.ts
  src/test/javascript/spec/component/text-submission-assessment/text-assessment-area.component.spec.ts
  src/test/javascript/spec/component/text-submission-assessment/text-submission-assessment.component.spec.ts
  src/test/javascript/spec/component/text-submission-assessment/textblock-assessment-card.component.spec.ts
  src/test/javascript/spec/component/text-submission-assessment/textblock-feedback-editor.component.spec.ts
Labels: client, database, exam mode, feature, ready for review, server

#3251 Fix sorting of tutor leaderboard on instructor exercise dashboard
  src/main/webapp/app/exercises/shared/dashboards/instructor/instructor-exercise-dashboard.component.ts
Labels: client, ready for review

#3249 [Tests] fix flaky modeling assessment test
  src/test/java/de/tum/in/www1/artemis/ModelingAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
Labels: FlakyTestFix, ready for review, tests

#3252 Performance improvements for assessment dashboards
  src/main/java/de/tum/in/www1/artemis/domain/assessment/dashboard/ResultCount.java
  src/main/java/de/tum/in/www1/artemis/repository/ComplaintRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ResultRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/SubmissionRepository.java
  src/main/java/de/tum/in/www1/artemis/service/TutorLeaderboardService.java
  src/main/java/de/tum/in/www1/artemis/service/exam/ExamService.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/quiz/QuizScheduleService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/DueDateStat.java
  src/test/java/de/tum/in/www1/artemis/ExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/FileUploadAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ModelingAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ResultServiceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/TextAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/CourseTestService.java
Labels: performance, ready for review, server

#3123 Change exercise management routes to depend on the type
  src/main/webapp/app/admin/upcoming-exams-and-exercises/upcoming-exams-and-exercises.component.html
  src/main/webapp/app/complaints/list-of-complaints/list-of-complaints.route.ts
  src/main/webapp/app/course/dashboards/assessment-dashboard/assessment-dashboard.component.html
  src/main/webapp/app/course/manage/overview/course-management-exercise-row.component.html
  src/main/webapp/app/entities/exercise.model.ts
  src/main/webapp/app/exam/manage/exam-management.route.ts
  src/main/webapp/app/exam/manage/exercise-groups/exercise-groups.component.html
  src/main/webapp/app/exercises/file-upload/assess/file-upload-assessment-dashboard.component.html
  src/main/webapp/app/exercises/file-upload/manage/file-upload-exercise-management.route.ts
  src/main/webapp/app/exercises/file-upload/manage/file-upload-exercise.component.html
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment-editor/modeling-assessment-dashboard.component.html
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise-update.component.ts
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise.component.html
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise.route.ts
  src/main/webapp/app/exercises/programming/assess/programming-assessment-dashboard/programming-assessment-dashboard.component.html
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.html
  src/main/webapp/app/exercises/programming/manage/programming-exercise-management-routing.module.ts
  src/main/webapp/app/exercises/programming/manage/programming-exercise.component.html
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.ts
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise-detail.component.ts
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise.component.html
  src/main/webapp/app/exercises/shared/dashboards/instructor/instructor-exercise-dashboard.component.html
  src/main/webapp/app/exercises/shared/dashboards/tutor/exercise-assessment-dashboard.component.html
  src/main/webapp/app/exercises/shared/exam-exercise-row-buttons/exam-exercise-row-buttons.component.html
  src/main/webapp/app/exercises/shared/exercise-detail-common-actions/non-programming-exercise-detail-common-actions.component.html
  src/main/webapp/app/exercises/shared/exercise-hint/manage/exercise-hint-update.component.ts
  src/main/webapp/app/exercises/shared/exercise-hint/manage/exercise-hint.route.ts
  src/main/webapp/app/exercises/shared/exercise-scores/exercise-scores-routing.module.ts
  src/main/webapp/app/exercises/shared/exercise-scores/exercise-scores.component.html
  src/main/webapp/app/exercises/shared/exercise-scores/exercise-scores.component.ts
  src/main/webapp/app/exercises/shared/exercise/exercise-details/exercise-details.component.html
  src/main/webapp/app/exercises/shared/exercise/exercise.route.ts
  src/main/webapp/app/exercises/shared/participation-submission/participation-submission-routing.module.ts
  src/main/webapp/app/exercises/shared/participation/participation-routing.module.ts
  src/main/webapp/app/exercises/shared/participation/participation.component.html
  src/main/webapp/app/exercises/shared/team/team-participation-table/team-participation-table.component.html
  src/main/webapp/app/exercises/shared/team/team.component.ts
  src/main/webapp/app/exercises/shared/team/team.route.ts
  src/main/webapp/app/exercises/shared/team/teams.component.html
  src/main/webapp/app/exercises/text/assess/text-assessment-dashboard/text-assessment-dashboard.component.html
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise-row-buttons.component.html
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise-update.component.ts
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise.route.ts
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.html
  src/main/webapp/app/shared/dashboards/tutor-leaderboard/tutor-leaderboard.component.html
  src/main/webapp/app/shared/layouts/navbar/navbar.component.ts
  src/test/javascript/spec/component/exam/manage/exam-management.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-update.component.spec.ts
  src/test/javascript/spec/component/quiz-exercise/quiz-exercise-detail.component.spec.ts
  src/test/javascript/spec/component/shared/navbar.component.spec.ts
  src/test/javascript/spec/component/team/team.component.spec.ts
Labels: client, ready for review

#3255 [Tests] Increased coverage of FileUploadExerciseResource to around 100%
  src/main/java/de/tum/in/www1/artemis/web/rest/FileUploadExerciseResource.java
  src/test/java/de/tum/in/www1/artemis/FileUploadExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/SubmissionExportIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
Labels: ready for review, server, tests

#3262 Fix an error when importing text exercises with categories
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise-update.component.html
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise.service.ts
Labels: client, ready for review

#3253 Update Privacy Statement and Imprint
  docs/dev/setup.rst
  src/main/java/de/tum/in/www1/artemis/config/Constants.java
  src/main/java/de/tum/in/www1/artemis/service/user/UserManagementInfoContributor.java
  src/main/resources/config/application-artemis.yml
  src/main/resources/config/application-dev.yml
  src/main/resources/config/application-prod.yml
  src/main/resources/public/content/imprint.html
  src/main/resources/public/content/privacy_statement.html
  src/main/webapp/app/core/legal/imprint.component.ts
  src/main/webapp/app/core/legal/legal-routing.module.ts
  src/main/webapp/app/core/legal/legal.module.ts
  src/main/webapp/app/core/legal/privacy.component.ts
  src/main/webapp/app/home/home.component.html
  src/main/webapp/app/home/home.component.ts
  src/main/webapp/app/shared/layouts/footer/footer.component.html
  src/main/webapp/app/shared/layouts/footer/footer.component.ts
  src/main/webapp/app/shared/layouts/profiles/profile-info.model.ts
  src/main/webapp/app/shared/layouts/profiles/profile.service.ts
  src/test/javascript/spec/component/shared/clone-repo-button.component.spec.ts
Labels: chore, client, ready for review, server

#3242 Enhance programming exercise details page with lifecycle timeline (readonly) and repo + build plans
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.html
  src/main/webapp/app/exercises/programming/manage/programming-exercise-management.module.ts
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-plans-and-repositories-preview.component.html
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.html
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.module.ts
  src/main/webapp/app/exercises/programming/shared/lifecycle/programming-exercise-lifecycle.component.html
  src/main/webapp/app/exercises/programming/shared/lifecycle/programming-exercise-lifecycle.component.ts
  src/main/webapp/app/exercises/programming/shared/lifecycle/programming-exercise-lifecycle.module.ts
  src/main/webapp/app/exercises/programming/shared/lifecycle/programming-exercise-test-schedule-date-picker.component.html
  src/main/webapp/app/exercises/programming/shared/lifecycle/programming-exercise-test-schedule-date-picker.component.ts
  src/main/webapp/app/exercises/programming/shared/lifecycle/programming-exercise-test-schedule-picker.scss
  src/main/webapp/app/exercises/shared/exercise/exercise-details/exercise-details.component.html
  src/main/webapp/app/exercises/shared/exercise/exercise-details/exercise-details.module.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-test-schedule-picker.component.spec.ts
Labels: client, component:Programming, ready for review

#3265 Fix the "included in overall score" picker not working
  src/main/webapp/app/exercises/file-upload/manage/file-upload-exercise-update.component.html
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise-update.component.html
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.html
  src/main/webapp/app/exercises/shared/included-in-overall-score-picker/included-in-overall-score-picker.component.ts
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise-update.component.html
Labels: client, ready for review

#3268 [Bugfix] Fix Total Number of Complaints on Course Assessment Dashboard
  src/main/webapp/app/course/dashboards/assessment-dashboard/assessment-dashboard-information.component.html
Labels: client, ready for review

#3276 Fix modeling exercises not displaying categories in details or edit pages
  src/main/java/de/tum/in/www1/artemis/repository/ModelingExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingExerciseResource.java
Labels: ready for review, server

#3270 improve test coverage in TextAssessmentResource
  src/main/java/de/tum/in/www1/artemis/web/rest/TextAssessmentResource.java
  src/test/java/de/tum/in/www1/artemis/TextAssessmentIntegrationTest.java
Labels: ready for review, server

#3269 Fix an issue related to categories in exercise units
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise.service.ts
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/exerciseUnit.service.ts
  src/test/javascript/spec/component/lecture-unit/exercise-unit/exercise-unit.service.spec.ts
Labels: client, ready for review

#3277 Fix the coloring of quiz statistics
  src/main/webapp/app/exercises/quiz/manage/statistics/question-statistic.component.ts
Labels: client, ready for review

#3272 Bugfix/programming exercise update/checkout repository of sample solution
  src/main/webapp/app/entities/programming-exercise.model.ts
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.html
Labels: bugfix, client, ready for review

#3257 [Bugfix] Course/Exam Archiving should not fail when zipping non-existent files
  src/main/java/de/tum/in/www1/artemis/domain/CourseExamExportState.java
  src/main/java/de/tum/in/www1/artemis/service/CourseExamExportService.java
  src/main/java/de/tum/in/www1/artemis/service/ZipFileService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/GitService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseExportService.java
  src/main/webapp/app/shared/components/course-exam-archive-button/course-exam-archive-button.component.html
  src/main/webapp/app/shared/components/course-exam-archive-button/course-exam-archive-button.component.ts
  src/main/webapp/i18n/de/courseExamArchive.json
  src/main/webapp/i18n/en/courseExamArchive.json
  src/test/javascript/spec/component/shared/course-exam-archive-button.component.spec.ts
Labels: bugfix, client, ready for review, server

#3264 [Feature] Collapsable list item for Feedback
  src/main/webapp/app/exercises/shared/result/feedback-collapse.component.html
  src/main/webapp/app/exercises/shared/result/feedback-collapse.component.ts
  src/main/webapp/app/exercises/shared/result/result-detail.component.html
  src/main/webapp/app/exercises/shared/result/result-detail.scss
  src/main/webapp/app/exercises/shared/result/result.module.ts
Labels: client, ready for review

#3279 Disallow the creation of exercises with negative maxPoints / bonusPoints
  src/main/java/de/tum/in/www1/artemis/domain/enumeration/IncludedInOverallScore.java
  src/main/java/de/tum/in/www1/artemis/service/ExerciseService.java
Labels: ready for review, server

#3281 Fix Bug messing up changes in the MC-Quiz-Questions Markdown Editor
  src/main/webapp/app/exercises/quiz/manage/multiple-choice-question/multiple-choice-question-edit.component.html
  src/main/webapp/app/exercises/quiz/manage/multiple-choice-question/multiple-choice-question-edit.component.ts
  src/test/javascript/spec/component/multiple-choice-question/multiple-choice-question-edit.component.spec.ts
Labels: bugfix, client, component:Quiz, ready for review

#3274 Fix some additional Instructor buttons being visible for Tutors
  src/main/webapp/app/exam/manage/exam-management.component.html
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment-editor/modeling-assessment-dashboard.component.html
  src/main/webapp/app/exercises/programming/assess/repo-export/programming-assessment-repo-export-dialog.component.html
  src/main/webapp/app/exercises/programming/assess/repo-export/programming-assessment-repo-export-dialog.component.ts
  src/main/webapp/app/exercises/quiz/manage/apollon-diagrams/apollon-diagram-list.component.html
  src/main/webapp/app/exercises/quiz/manage/apollon-diagrams/apollon-diagram-list.component.ts
  src/main/webapp/app/exercises/shared/submission-export/submission-export-dialog.component.html
  src/test/javascript/spec/component/apollon-diagrams/apollon-diagram-list.component.spec.ts
Labels: client, ready for review, small

#3289 Bugfix/programming exercise update/fix for checkout repository of sample solution
  src/main/webapp/app/entities/programming-exercise.model.ts
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.html
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.ts
Labels: bugfix, client

#3237 [Feature] Show Lecture Unit Release Date and Version to Instructor
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/lecture-unit-management.component.html
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/lecture-unit-management.component.ts
  src/main/webapp/app/overview/course-lectures/attachment-unit/attachment-unit.component.html
  src/main/webapp/i18n/de/lectureUnit.json
  src/main/webapp/i18n/en/lectureUnit.json
  src/test/javascript/spec/component/lecture-unit/lecture-unit-management.component.spec.ts
Labels: client, ready for review

#3285 Show User Management Links only for Admins
  src/main/webapp/app/course/manage/course-group.component.html
  src/main/webapp/app/course/manage/course-group.component.ts
  src/main/webapp/app/exam/manage/student-exams/student-exams.component.html
  src/main/webapp/app/exam/manage/student-exams/student-exams.component.ts
  src/main/webapp/app/exam/manage/students/exam-students.component.html
  src/main/webapp/app/exam/manage/students/exam-students.component.ts
  src/main/webapp/app/exercises/shared/exercise-scores/exercise-scores.component.html
  src/main/webapp/app/exercises/shared/exercise-scores/exercise-scores.component.ts
  src/main/webapp/app/exercises/shared/participation/participation.component.html
  src/main/webapp/app/exercises/shared/participation/participation.component.ts
  src/test/javascript/spec/component/exam/manage/student-exams/student-exams.component.spec.ts
Labels: client, ready for review

#3283 [Tests] Improve ComplaintResource test coverage
  src/main/java/de/tum/in/www1/artemis/web/rest/ComplaintResource.java
  src/test/java/de/tum/in/www1/artemis/AssessmentComplaintIntegrationTest.java
Labels: chore, ready for review, server, tests

#3287 Allow markdown in course registration confirmation message
  src/main/webapp/app/course/manage/course-update.component.html
  src/main/webapp/app/course/manage/course-update.component.ts
  src/main/webapp/app/overview/course-registration-selector/course-registration-selector.component.html
  src/main/webapp/app/shared/components/confirm-autofocus-button.component.ts
  src/main/webapp/app/shared/components/confirm-autofocus-modal.component.html
  src/main/webapp/app/shared/components/shared-component.module.ts
  src/test/javascript/spec/component/course/course-update.component.spec.ts
Labels: client, component:MarkdownEditor, enhancement, ready for review

#3299 Increase JenkinsService Coverage
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsInternalUrlService.java
  src/test/java/de/tum/in/www1/artemis/ContinuousIntegrationTestService.java
  src/test/java/de/tum/in/www1/artemis/RepositoryProgrammingExerciseParticipationJenkinsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/connector/JenkinsRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseIntegrationJenkinsGitlabTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseIntegrationServiceTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingSubmissionAndResultGitlabJenkinsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/JenkinsInternalUrlServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/JenkinsServiceTest.java
  src/test/resources/test-data/jenkins-response/legacy-failed-build-log.html
Labels: ready for review, server, tests

#3303 Feature/markdown pdf support
  src/main/java/de/tum/in/www1/artemis/web/rest/FileResource.java
  src/main/webapp/app/shared/markdown-editor/markdown-editor.component.ts
Labels: client, ready for review, server

#3298 Add server integration tests for AutomaticProgrammingExerciseCleanupService
  build.gradle
  src/main/java/de/tum/in/www1/artemis/config/Constants.java
  src/main/java/de/tum/in/www1/artemis/repository/ProgrammingExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/AtheneScheduleService.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/AutomaticProgrammingExerciseCleanupService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingSubmissionResource.java
  src/main/resources/config/application.yml
  src/test/java/de/tum/in/www1/artemis/AbstractSpringIntegrationBambooBitbucketJiraTest.java
  src/test/java/de/tum/in/www1/artemis/AbstractSpringIntegrationJenkinsGitlabTest.java
  src/test/java/de/tum/in/www1/artemis/connector/BambooRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/connector/JenkinsRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseBitbucketBambooIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseGitlabJenkinsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseTestService.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/RepositoryProgrammingExerciseParticipationJenkinsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/java/de/tum/in/www1/artemis/util/ModelFactory.java
  src/test/resources/config/application.yml
Labels: component:Programming, ready for review, server, tests

#3306 Improve code coverage of JenkinsAuthorizationInterceptor
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsAuthorizationInterceptor.java
  src/test/java/de/tum/in/www1/artemis/service/JenkinsAuthorizationInterceptorTest.java
Labels: ready for review, tests

#3307 Fix the solution labels of dnd and sa quiz questions being undefined
  src/main/webapp/app/exercises/quiz/manage/statistics/drag-and-drop-question-statistic/drag-and-drop-question-statistic.component.ts
  src/main/webapp/app/exercises/quiz/manage/statistics/short-answer-question-statistic/short-answer-question-statistic.component.ts
Labels: client, ready for review

#3286 [Test] Increase test coverage for TextExerciseResource
  src/test/java/de/tum/in/www1/artemis/SubmissionExportIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/TextAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/TextExerciseIntegrationTest.java
Labels: chore, ready for review, server, tests

#3309 Fix issues with example submissions for exercises with categories
  src/main/webapp/app/exercises/shared/example-submission/example-submission.service.ts
Labels: client, ready for review

#3310 Display repository and build plan urls only if they exist
  src/main/webapp/app/exercises/shared/exercise-scores/exercise-scores.component.html
  src/main/webapp/app/exercises/shared/participation-submission/participation-submission.component.html
  src/main/webapp/app/exercises/shared/participation-submission/participation-submission.component.ts
  src/main/webapp/app/exercises/shared/participation/participation.component.html
  src/test/javascript/spec/component/participation-submission/participation-submission.component.spec.ts
Labels: client, enhancement, ready for review, small

#3016 Update docs and advise user to use higher nginx timeout
  docs/dev/setup/jenkins-gitlab.rst
Labels: jenkins/gitlab, ready for review

#3312 Improve the test coverage of the ParticipationService
  src/main/java/de/tum/in/www1/artemis/web/rest/ParticipationResource.java
  src/test/java/de/tum/in/www1/artemis/ParticipationIntegrationTest.java
Labels: ready for review, server

#3305 Change client service test documentation
  docs/dev/guidelines/client.rst
Labels: documentation, ready for review

#3295 Add more tests to ResultResource
  src/test/java/de/tum/in/www1/artemis/ResultServiceIntegrationTest.java
Labels: ready for review, server, tests

#3301 Improve test coverage for AccountResource
  src/test/java/de/tum/in/www1/artemis/AccountResourceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingAssessmentIntegrationTest.java
Labels: chore, ready for review, server, tests

#3314 Fix errors when the exercise of the participation header is undefined
  src/main/webapp/app/exercises/shared/exercise-headers/header-participation-page.component.ts
Labels: client, ready for review

#3319 Fix issues in plagiarism checks
  src/main/java/de/tum/in/www1/artemis/domain/plagiarism/PlagiarismComparison.java
  src/main/java/de/tum/in/www1/artemis/domain/plagiarism/PlagiarismSubmission.java
  src/main/java/de/tum/in/www1/artemis/domain/plagiarism/text/TextPlagiarismResult.java
  src/main/java/de/tum/in/www1/artemis/service/plagiarism/ModelingPlagiarismDetectionService.java
  src/main/java/de/tum/in/www1/artemis/service/plagiarism/TextPlagiarismDetectionService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseExportService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseResource.java
  src/test/java/de/tum/in/www1/artemis/TextAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/TextExerciseIntegrationTest.java
Labels: plagiarism detection, ready for review, server

#3247 [Bugfix] Fix flaky test by storing feedbacks in the correct way
  src/main/java/de/tum/in/www1/artemis/service/ResultService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseGradingService.java
Labels: ready for review, server

#3302 [Test] increase test coverage in exam-management-component.
  src/main/webapp/app/exam/manage/exam-management.component.ts
  src/test/javascript/spec/component/exam/manage/exam-management.component.spec.ts
Labels: client, ready for review, tests

#3293 Show Build success if no tests are executed
  src/main/webapp/app/exercises/shared/result/result.component.html
  src/main/webapp/app/exercises/shared/result/result.component.ts
  src/main/webapp/i18n/de/editor.json
  src/main/webapp/i18n/en/editor.json
Labels: client, feature, ready for review, small
