Repository ls1intum/Artemis, pull requests merged in 2021-01, with the labels that each got.

#2614 Add resume programming exercise integration tests
  build.gradle
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/BambooService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingSubmissionResource.java
  src/test/java/de/tum/in/www1/artemis/AbstractSpringIntegrationBambooBitbucketJiraTest.java
  src/test/java/de/tum/in/www1/artemis/AbstractSpringIntegrationJenkinsGitlabTest.java
  src/test/java/de/tum/in/www1/artemis/ManagementResourceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/connector/bamboo/BambooRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/connector/bitbucket/BitbucketRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/connector/jenkins/JenkinsRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/MockDelegate.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseBitbucketBambooIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseGitlabJenkinsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingSubmissionConstants.java
  src/test/java/de/tum/in/www1/artemis/util/ProgrammingExerciseTestService.java
  src/test/resources/de/tum/in/www1/artemis/programmingexercise/gitlabRequest.json
Labels: ready for review, server

#2512 [Feature] Add SCA to Swift programming exercises
  docs/user/exercises/programming.rst
  src/main/docker/bamboo/Dockerfile
  src/main/docker/bamboo/swift/Dockerfile
  src/main/java/de/tum/in/www1/artemis/config/StaticCodeAnalysisConfigurer.java
  src/main/java/de/tum/in/www1/artemis/domain/enumeration/StaticCodeAnalysisTool.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/ContinuousIntegrationService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/GitService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/BambooBuildPlanService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/BambooProgrammingLanguageFeatureService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/BambooService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseResource.java
  src/main/resources/templates/bamboo/swift/regularRuns/1_build_and_test_the_code.sh
  src/main/resources/templates/bamboo/swift/sequentialRuns/1_build_and_test_the_code.sh
  src/main/resources/templates/bamboo/swift/staticCodeAnalysisRuns/1_run_static_code_analysis.sh
  src/main/resources/templates/java/exercise/src/${packageNameFolder}/BubbleSort.java
  src/main/resources/templates/java/exercise/src/${packageNameFolder}/MergeSort.java
  src/main/resources/templates/java/solution/src/${packageNameFolder}/BubbleSort.java
  src/main/resources/templates/swift/exercise/Sources/${packageNameFolder}App/main.swift
  src/main/resources/templates/swift/exercise/Sources/${packageNameFolder}Lib/BubbleSort.swift
  src/main/resources/templates/swift/exercise/Sources/${packageNameFolder}Lib/Client.swift
  src/main/resources/templates/swift/exercise/Sources/${packageNameFolder}Lib/MergeSort.swift
  src/main/resources/templates/swift/exercise/git.ignore.file
  src/main/resources/templates/swift/solution/Sources/${packageNameFolder}App/main.swift
  src/main/resources/templates/swift/solution/Sources/${packageNameFolder}Lib/BubbleSort.swift
  src/main/resources/templates/swift/solution/Sources/${packageNameFolder}Lib/Client.swift
  src/main/resources/templates/swift/solution/Sources/${packageNameFolder}Lib/Context.swift
  src/main/resources/templates/swift/solution/Sources/${packageNameFolder}Lib/MergeSort.swift
  src/main/resources/templates/swift/solution/Sources/${packageNameFolder}Lib/Policy.swift
  src/main/resources/templates/swift/solution/Sources/${packageNameFolder}Lib/SortStrategy.swift
  src/main/resources/templates/swift/solution/git.ignore.file
  src/main/resources/templates/swift/test/.swiftlint.yml
  src/main/resources/templates/swift/test/Tests/${packageNameFolder}Tests/SortTests.swift
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.html
  src/main/webapp/app/exercises/programming/shared/code-editor/ace/code-editor-ace.component.ts
  src/test/java/de/tum/in/www1/artemis/ResultServiceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseBitbucketBambooIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseGitlabJenkinsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseResultBambooIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseResultJenkinsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/StaticCodeAnalysisIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/java/de/tum/in/www1/artemis/util/ModelFactory.java
  src/test/java/de/tum/in/www1/artemis/util/ProgrammingExerciseResultTestService.java
  src/test/java/de/tum/in/www1/artemis/util/ProgrammingExerciseTestService.java
  src/test/javascript/spec/component/programming-exercise/programming-exercise-update.component.spec.ts
Labels: bamboo/bitbucket, client, code quality, component:Programming, enhancement, feature, ready for review, server

#2623 Add a test for the Student Exam Summary component
  src/test/javascript/spec/component/exam/manage/student-exams/student-exam-summary.component.spec.ts
Labels: ready for review

#2625 Try to resolve flaky-ness in the CourseScoresComponent test
  src/test/javascript/spec/component/course/course-scores/course-scores.component.spec.ts
Labels: ready for review

#2626 Add websocket broker health indicator
  src/main/java/de/tum/in/www1/artemis/config/websocket/WebsocketBrokerHealthIndicator.java
  src/main/webapp/app/admin/health/health.component.html
  src/main/webapp/i18n/de/health.json
  src/main/webapp/i18n/en/health.json
Labels: client, ready for review, server

#2622 User-Statistics/tests
  src/main/java/de/tum/in/www1/artemis/service/StatisticsService.java
  src/main/webapp/app/admin/statistics/statistics-graph.component.ts
  src/test/java/de/tum/in/www1/artemis/UserStatisticsIntegrationTest.java
  src/test/javascript/spec/component/exam/manage/exercise-group-update.component.spec.ts
  src/test/javascript/spec/component/modeling-assessment-editor/modeling-assessment-editor.component.spec.ts
  src/test/javascript/spec/component/statistics/statistics-graph.component.spec.ts
  src/test/javascript/spec/component/statistics/statistics.component.spec.ts
Labels: client, enhancement, ready for review, server, tests

#2612 Highlight plagiarism matches
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-details/plagiarism-details.component.scss
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-inspector/plagiarism-inspector.component.scss
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-inspector/plagiarism-inspector.component.ts
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-split-view/plagiarism-split-view.component.html
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-split-view/plagiarism-split-view.component.scss
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-split-view/plagiarism-split-view.component.ts
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-split-view/programming-submission-viewer/programming-submission-viewer.component.html
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-split-view/programming-submission-viewer/programming-submission-viewer.component.scss
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-split-view/programming-submission-viewer/programming-submission-viewer.component.ts
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-split-view/text-submission-viewer/text-submission-viewer.component.html
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-split-view/text-submission-viewer/text-submission-viewer.component.scss
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-split-view/text-submission-viewer/text-submission-viewer.component.ts
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism.module.ts
  src/test/javascript/spec/component/plagiarism/plagiarism-sidebar.component.spec.ts
  src/test/javascript/spec/component/plagiarism/plagiarism-split-view.component.spec.ts
  src/test/javascript/spec/component/plagiarism/split-pane-header.component.spec.ts
  src/test/javascript/spec/component/plagiarism/text-submission-viewer.component.spec.ts
Labels: client, feature, plagiarism detection, ready for review

#2611 Add tests for exams-management.component.ts
  src/main/webapp/app/exam/manage/exam-management.service.ts
  src/test/javascript/spec/component/exam/manage/exam-management.component.spec.ts
  src/test/javascript/spec/component/exam/manage/exam-management.service.spec.ts
Labels: client, ready for review

#2591 [Enhancement] Improve grading page
  src/main/webapp/app/exercises/programming/manage/grading/charts/sca-category-distribution-chart.component.ts
  src/main/webapp/app/exercises/programming/manage/grading/charts/test-case-distribution-chart.component.ts
  src/main/webapp/app/exercises/programming/manage/grading/programming-exercise-configure-grading.component.html
  src/main/webapp/app/exercises/programming/manage/grading/programming-exercise-configure-grading.component.ts
  src/main/webapp/app/exercises/programming/manage/grading/programming-exercise-configure-grading.scss
  src/main/webapp/app/shared/table/table-editable-field.component.ts
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/programmingExercise.json
  src/test/javascript/spec/component/programming-exercise/programming-exercise-configure-grading.component.spec.ts
Labels: client, component:Programming, enhancement, ready for review

#2636 Add client test for grading statistics
  src/main/webapp/app/exercises/programming/manage/grading/charts/category-issues-chart.component.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-configure-grading.component.spec.ts
Labels: client, component:Programming, ready for review, tests

#2629 Bugfix: Bind Hazelcast to 127.0.0.1 if registry is not available.
  src/main/java/de/tum/in/www1/artemis/config/CacheConfiguration.java
Labels: server

#2613 [Chore] Client & Server Tests
  src/main/java/de/tum/in/www1/artemis/service/AssessmentService.java
  src/main/java/de/tum/in/www1/artemis/service/ExamService.java
  src/main/java/de/tum/in/www1/artemis/service/SubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/ProgrammingExerciseScheduleService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExamResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/QuizExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ResultResource.java
  src/main/webapp/app/exam/manage/student-exams/student-exams.component.html
  src/test/java/de/tum/in/www1/artemis/ExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/StudentExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/ExamQuizServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/ExamSubmissionServiceTest.java
  src/test/javascript/spec/component/exam/manage/student-exams/student-exams.component.spec.ts
Labels: client, ready for review, server, tests

#2609 Chore/apollon diagram tests
  src/main/webapp/app/exercises/modeling/shared/modeling-editor.component.ts
  src/main/webapp/app/shared/fullscreen/fullscreen.component.ts
  src/main/webapp/app/shared/markdown-editor/commands/fullscreen.command.ts
  src/main/webapp/app/shared/util/fullscreen.util.ts
  src/test/javascript/spec/component/apollon-diagrams/apollon-diagram-create-form.component.spec.ts
  src/test/javascript/spec/component/apollon-diagrams/apollon-diagram-detail.component.spec.ts
  src/test/javascript/spec/component/apollon-diagrams/apollon-diagram-list.component.spec.ts
  src/test/javascript/spec/component/apollon-diagrams/exercise-generation/apollon-quiz-exercise-generation.component.spec.ts
  src/test/javascript/spec/component/apollon-diagrams/exercise-generation/quiz-exercise-generator.spec.ts
  src/test/javascript/spec/component/modeling-editor/modeling-editor.component.spec.ts
  src/test/javascript/spec/util/modeling/test-models/class-diagram.json
Labels: client, ready for review

#2599 [Feature] Activate/Deactivate SCA on import
  src/main/java/de/tum/in/www1/artemis/domain/StaticCodeAnalysisDefaultCategory.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseImportService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/JavaTemplateUpgradeService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseResource.java
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.html
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.ts
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/programmingExercise.json
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseBitbucketBambooIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseGitlabJenkinsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/ProgrammingExerciseTestService.java
  src/test/javascript/spec/component/programming-exercise/programming-exercise-update.component.spec.ts
Labels: client, component:Programming, ready for review, server

#2640 Fixed sort programming exercise by programming language
  src/main/java/de/tum/in/www1/artemis/domain/Exercise.java
Labels: ready for review, server

#2638 update apollon version to 2.3.2
  package.json
  yarn.lock
Labels: ready for review

#2634 User-statistics-fix
  src/main/webapp/app/admin/statistics/statistics-graph.component.ts
Labels: client, enhancement, ready for review

#2641 Add client test for student-exam-details
  src/test/javascript/spec/component/exam/manage/student-exams/student-exam-detail.component.spec.ts
Labels: ready for review

#2646 [Bugfix] Build artifact download
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/BambooAuthorizationInterceptor.java
  src/main/webapp/app/exercises/shared/participation/participation.service.ts
  src/main/webapp/app/exercises/shared/result/result.component.ts
  src/test/javascript/spec/service/participation.service.spec.ts
Labels: client, ready for review, server

#2610 Feature/exam multi correction/exam multi correction
  src/main/java/de/tum/in/www1/artemis/repository/ProgrammingExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/StudentParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/service/FileUploadSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/ModelingSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/ParticipationService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/ResultService.java
  src/main/java/de/tum/in/www1/artemis/service/SubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/TextSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/AbstractSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/FileUploadSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextSubmissionResource.java
  src/main/webapp/app/course/dashboards/assessment-dashboard/assessment-dashboard.component.ts
  src/main/webapp/app/exam/manage/exams/exam-update.component.html
  src/main/webapp/app/exam/manage/exams/exam-update.component.ts
  src/main/webapp/app/exercises/file-upload/assess/file-upload-assessment-dashboard.component.ts
  src/main/webapp/app/exercises/file-upload/assess/file-upload-assessment.component.ts
  src/main/webapp/app/exercises/file-upload/participate/file-upload-submission.service.ts
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment-editor/modeling-assessment-dashboard.component.ts
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment-editor/modeling-assessment-editor.component.ts
  src/main/webapp/app/exercises/modeling/participate/modeling-submission.service.ts
  src/main/webapp/app/exercises/programming/assess/code-editor-tutor-assessment-container.component.ts
  src/main/webapp/app/exercises/programming/assess/programming-assessment.route.ts
  src/main/webapp/app/exercises/programming/participate/programming-submission.service.ts
  src/main/webapp/app/exercises/shared/dashboards/tutor/exercise-assessment-dashboard.component.html
  src/main/webapp/app/exercises/shared/dashboards/tutor/exercise-assessment-dashboard.component.ts
  src/main/webapp/app/exercises/text/assess-new/text-submission-assessment.route.ts
  src/main/webapp/app/exercises/text/assess/text-assessment-dashboard/text-assessment-dashboard.component.ts
  src/main/webapp/app/exercises/text/participate/text-submission.service.ts
  src/main/webapp/app/shared/dashboards/tutor-participation-graph/tutor-participation-graph.component.html
  src/main/webapp/app/shared/dashboards/tutor-participation-graph/tutor-participation-graph.component.ts
  src/test/java/de/tum/in/www1/artemis/ResultServiceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/SubmissionServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/TextAssessmentQueueServiceTest.java
  src/test/javascript/spec/component/file-upload-assessment/file-upload-assessment.component.spec.ts
  src/test/javascript/spec/component/modeling-assessment-dashboard/modeling-assessment-dashboard.component.spec.ts
  src/test/javascript/spec/component/programming-assessment/programming-assessment-manual-result.component.spec.ts
  src/test/javascript/spec/component/tutor-dashboard/exercise-assessment-dashboard.component.spec.ts
  src/test/javascript/spec/component/tutor-dashboard/tutor-participation-graph.component.spec.ts
  src/test/javascript/spec/service/file-upload-submission.service.spec.ts
  src/test/javascript/spec/service/text-submission.service.spec.ts
Labels: client, database, ready for review, server

#2637 Bugfix/quiz exercises/space at start of lines
  src/main/webapp/app/exercises/quiz/manage/short-answer-question/short-answer-question-edit.component.ts
  src/main/webapp/app/exercises/quiz/shared/short-answer-question-util.service.ts
  src/test/javascript/spec/component/short-answer-quiz/short-answer-question-util.service.spec.ts
Labels: bug, client, component:Quiz, ready for review

#2645 [Bugfix] Resolve missing key in translation in Tutor Assessment
  src/main/webapp/app/exercises/programming/assess/code-editor-tutor-assessment-container.component.ts
  src/main/webapp/app/shared/alert/alert-error.component.ts
  src/main/webapp/app/shared/alert/alert.component.ts
Labels: bug, client, component:Notification, ready for review

#2649 [Bugfix] Resolve missing key in translations of alerts
  src/main/webapp/app/shared/alert/alert-error.component.ts
  src/main/webapp/app/shared/alert/alert.component.ts
  src/main/webapp/app/shared/util/utils.ts
Labels: bug, client, component:Notification, ready for review

#2632 Display plagiarism run details
  src/main/java/de/tum/in/www1/artemis/service/plagiarism/ModelingPlagiarismDetectionService.java
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-inspector/plagiarism-inspector.component.html
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-inspector/plagiarism-inspector.component.scss
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-inspector/plagiarism-inspector.component.ts
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-run-details/plagiarism-run-details.component.html
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-run-details/plagiarism-run-details.component.scss
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-run-details/plagiarism-run-details.component.ts
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-sidebar/plagiarism-sidebar.component.html
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-sidebar/plagiarism-sidebar.component.scss
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-sidebar/plagiarism-sidebar.component.ts
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism.module.ts
  src/main/webapp/i18n/de/plagiarism.json
  src/main/webapp/i18n/en/plagiarism.json
  src/test/javascript/spec/component/plagiarism/plagiarism-run-details.component.spec.ts
Labels: client, feature, plagiarism detection, ready for review, server

#2635 [Feature] Enable Swift (with SCA) exercises for Jenkins
  docs/dev/setup/bamboo-bitbucket-jira.rst
  docs/dev/setup/jenkins-gitlab.rst
  src/main/docker/bamboo/swift/Dockerfile
  src/main/docker/jenkins/Dockerfile
  src/main/docker/jenkins/swift/Dockerfile
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/BambooBuildPlanService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsBuildPlanCreator.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsProgrammingLanguageFeatureService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsService.java
  src/main/resources/templates/bamboo/swift/regularRuns/1_build_and_test_the_code.sh
  src/main/resources/templates/bamboo/swift/sequentialRuns/1_build_and_test_the_code.sh
  src/main/resources/templates/jenkins/swift/Jenkinsfile
  src/main/resources/templates/jenkins/swift/Jenkinsfile-staticCodeAnalysis
  src/main/resources/templates/swift/test/.swiftlint.yml
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseGitlabJenkinsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseResultJenkinsIntegrationTest.java
Labels: component:Programming, jenkins/gitlab, ready for review, server

#2644 Fix build log bug for participations with failed builds
  src/main/java/de/tum/in/www1/artemis/domain/Submission.java
  src/main/java/de/tum/in/www1/artemis/repository/BuildLogEntryRepository.java
  src/main/java/de/tum/in/www1/artemis/service/BuildLogEntryService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/BambooService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/repository/RepositoryProgrammingExerciseParticipationResource.java
  src/main/resources/templates/jenkins/java/Jenkinsfile
  src/main/resources/templates/jenkins/java/Jenkinsfile-staticCodeAnalysis
  src/test/java/de/tum/in/www1/artemis/connector/jenkins/JenkinsRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseResultBambooIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseResultJenkinsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingSubmissionAndResultGitlabJenkinsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingSubmissionAndResultIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/ModelFactory.java
  src/test/java/de/tum/in/www1/artemis/util/ProgrammingExerciseResultTestService.java
  src/test/resources/test-data/jenkins-response/failed-build-log.html
Labels: bamboo/bitbucket, bug, component:Programming, jenkins/gitlab, priority:critical, ready for review, server

#2653 Chore - exam participation cover tests
  src/main/webapp/app/exam/participate/exam-cover/exam-participation-cover.component.ts
  src/test/javascript/spec/component/exam/participate/exam-participation-cover.component.spec.ts
Labels: client, ready for review, tests

#2654 Enable TCPIPConfig, disable autodetectionconfig.
  src/main/java/de/tum/in/www1/artemis/config/CacheConfiguration.java
Labels: ready for review, server

#2658 [Bugfix] Missing Unsubscribe from Route Event Subscriptions
  src/main/webapp/app/admin/system-notification-management/system-notification-management.component.ts
  src/main/webapp/app/admin/user-management/user-management.component.ts
  src/main/webapp/app/lecture/lecture.component.ts
Labels: bug, client, ready for review

#2661 [Bugfix] multiple user statistics REST call
  src/main/webapp/app/admin/statistics/statistics-graph.component.ts
  src/test/javascript/spec/component/statistics/statistics-graph.component.spec.ts
Labels: bug, client, ready for review

#2633 Refactor lecture routes to use child routes
  src/main/webapp/app/lecture/lecture-attachments.component.ts
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/create-attachment-unit/create-attachment-unit.component.ts
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/create-exercise-unit/create-exercise-unit.component.ts
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/create-text-unit/create-text-unit.component.ts
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/create-video-unit/create-video-unit.component.ts
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/edit-attachment-unit/edit-attachment-unit.component.ts
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/edit-text-unit/edit-text-unit.component.ts
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/edit-video-unit/edit-video-unit.component.ts
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/lecture-unit-management.component.ts
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/lecture-unit-management.module.ts
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/lecture-unit-management.route.ts
  src/main/webapp/app/lecture/lecture-update.component.ts
  src/main/webapp/app/lecture/lecture.route.ts
  src/test/javascript/spec/component/lecture-unit/attachment-unit/create-attachment-unit.component.spec.ts
  src/test/javascript/spec/component/lecture-unit/attachment-unit/edit-attachment-unit.component.spec.ts
  src/test/javascript/spec/component/lecture-unit/exercise-unit/create-exercise-unit.component.spec.ts
  src/test/javascript/spec/component/lecture-unit/lecture-unit-management.component.spec.ts
  src/test/javascript/spec/component/lecture-unit/text-unit/create-text-unit.component.spec.ts
  src/test/javascript/spec/component/lecture-unit/text-unit/edit-text-unit.component.spec.ts
  src/test/javascript/spec/component/lecture-unit/video-unit/create-video-unit.component.spec.ts
  src/test/javascript/spec/component/lecture-unit/video-unit/edit-video-unit.component.spec.ts
  src/test/javascript/spec/component/lecture/lecture-attachments.component.spec.ts
Labels: client, ready for review

#2660 Remove router-outlet and isVisible definitions
  src/main/webapp/app/admin/admin.route.ts
  src/main/webapp/app/admin/system-notification-management/system-notification-management.component.html
  src/main/webapp/app/admin/system-notification-management/system-notification-management.component.ts
  src/main/webapp/app/admin/system-notification-management/system-notification-management.route.ts
  src/main/webapp/app/admin/user-management/user-management.component.html
  src/main/webapp/app/admin/user-management/user-management.component.ts
  src/main/webapp/app/admin/user-management/user-management.route.ts
  src/main/webapp/app/lecture/lecture.component.html
  src/main/webapp/app/lecture/lecture.component.ts
  src/main/webapp/app/lecture/lecture.route.ts
Labels: client, ready for review

#2670 Redirect specific exercises routes to the shared overview
  src/main/webapp/app/exercises/file-upload/manage/file-upload-exercise-management.route.ts
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise.route.ts
  src/main/webapp/app/exercises/programming/manage/programming-exercise-management-routing.module.ts
  src/main/webapp/app/exercises/quiz/manage/quiz-management.route.ts
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise.route.ts
Labels: client, ready for review

#2672 Fix the Edit button in the Detail view of exercise hints
  src/main/webapp/app/exercises/shared/exercise-hint/manage/exercise-hint-detail.component.html
Labels: client, lock:artemistest5, ready for review

#2655 Exam Mode User Documentation Improvements
  docs/user/exams/instructors_guide.rst
  docs/user/exams/students_guide.rst
Labels: documentation, exam mode, ready for review

#2665 Chore/test/student exam import dialog
  src/test/javascript/spec/component/exam/manage/student-exams/student-exam-import-dialog.component.spec.ts
Labels: ready for review, tests

#2673 Add tests for the ExamStudentsComponent
  src/main/webapp/app/exam/manage/students/exam-students.component.html
  src/main/webapp/app/exam/manage/students/exam-students.component.ts
  src/test/javascript/spec/component/exam/manage/exam-students.component.spec.ts
Labels: client, ready for review, tests

#2675 [Enhancement] Remove/Update legacy template test files and fix local repo deletion
  src/main/java/de/tum/in/www1/artemis/service/ParticipationService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseImportService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/GitService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/JavaTemplateUpgradeService.java
Labels: component:Programming, ready for review, server

#2676 [Test Coverage] Exercise Groups Component
  src/test/javascript/spec/component/exam/manage/exercise-groups.component.spec.ts
Labels: chore, client, ready for review, tests

#2678 Add tests for the TextExamSummaryComponent
  src/test/javascript/spec/component/exam/participate/summary/text-exam-summary.component.spec.ts
Labels: ready for review, tests

#2679 [Test Coverage] Exam Navigation Bar
  src/main/webapp/app/exam/participate/exam-navigation-bar/exam-navigation-bar.component.ts
  src/test/javascript/spec/component/exam/participate/exam-navigation-bar.component.spec.ts
Labels: chore, client, ready for review, tests

#2680 Test exam submission component
  src/test/javascript/spec/component/exam/participate/exercises/programming-exam-submission.component.spec.ts
  src/test/javascript/spec/component/exam/participate/exercises/quiz-exam-submission.component.spec.ts
  src/test/javascript/spec/component/exam/participate/exercises/text-exam-submission.component.spec.ts
Labels: ready for review, tests

#2639 Added documentation for alternative docker build agent setup
  docs/dev/setup/jenkins-gitlab.rst
  docs/dev/setup/jenkins-gitlab/alternative_jenkins_node.png
  docs/dev/setup/jenkins-gitlab/alternative_jenkins_node_credentials.png
  docs/dev/setup/jenkins-gitlab/alternative_jenkins_node_setup.png
Labels: ready for review

#2674 feat(haskell) disable unsafe features in student submissions
  src/main/resources/templates/haskell/test/run.sh
  src/main/resources/templates/haskell/test/test.cabal
  src/main/resources/templates/haskell/test/test/Test.hs
Labels: ready for review

#2677 [Chore] exam-detail client test coverage
  src/main/webapp/app/exam/manage/exams/exam-detail.component.html
  src/test/javascript/spec/component/exam/manage/exams/exam-detail.component.spec.ts
Labels: chore, client, ready for review, tests

#2668 [Enhancement] - Renaming of course statistics
  src/main/webapp/app/overview/course-card.component.html
  src/main/webapp/app/overview/course-card.component.ts
  src/main/webapp/app/overview/course-statistics/course-statistics.component.html
  src/main/webapp/i18n/de/student-dashboard.json
  src/main/webapp/i18n/en/student-dashboard.json
  src/test/javascript/spec/component/overview/course-statistics/course-statistics.component.spec.ts
Labels: client, ready for review, tests

#2681 Exam Mode Student Documentation Improvements
  docs/user/exams/student/buttons/export_pdf.png
  docs/user/exams/students_guide.rst
Labels: documentation, exam mode, ready for review

#2657 [Chore] Increase Exam Client Components Coverage
  src/main/webapp/app/exam/manage/test-runs/test-run-management.component.html
  src/main/webapp/app/exam/participate/summary/exam-participation-summary.component.html
  src/test/javascript/spec/component/exam/exam-update.component.spec.ts
  src/test/javascript/spec/component/exam/participate/information/exam-information.component.spec.ts
  src/test/javascript/spec/component/exam/participate/summary/exam-participation-summary.component.spec.ts
  src/test/javascript/spec/component/exam/participate/summary/exercises/modeling-exam-summary.component.spec.ts
  src/test/javascript/spec/component/exam/participate/summary/exercises/text-exam-summary.component.spec.ts
  src/test/javascript/spec/component/exam/participate/summary/points-summary/exam-points-summary.component.spec.ts
  src/test/javascript/spec/component/exam/test-run/test-run-management.component.spec.ts
Labels: client, ready for review, tests

#2624 Bugfix/programming exercise/c docker image as user
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/BambooBuildPlanService.java
  src/main/resources/templates/bamboo/c/regularRuns/1_setup_the_build_environment.sh
  src/main/resources/templates/bamboo/c/regularRuns/2_setup_makefile.sh
  src/main/resources/templates/c/exercise/Makefile.file
  src/main/resources/templates/c/exercise/helloWorld.c
  src/main/resources/templates/c/exercise/rotX.c
  src/main/resources/templates/c/readme
  src/main/resources/templates/c/solution/Makefile.file
  src/main/resources/templates/c/solution/helloWorld.c
  src/main/resources/templates/c/solution/rotX.c
  src/main/resources/templates/c/test/Makefile.file
  src/main/resources/templates/c/test/Tests.py
  src/main/resources/templates/c/test/testUtils/AbstractTest.py
  src/main/resources/templates/c/test/testUtils/Tester.py
  src/main/resources/templates/c/test/testUtils/Utils.py
  src/main/resources/templates/c/test/testUtils/c/shadow_exec.c
  src/main/resources/templates/c/test/testUtils/junit/Junit.py
  src/main/resources/templates/c/test/tests/TestASan.py
  src/main/resources/templates/c/test/tests/TestCompile.py
  src/main/resources/templates/c/test/tests/TestGccStaticAnalysis.py
  src/main/resources/templates/c/test/tests/TestLSan.py
  src/main/resources/templates/c/test/tests/TestOutput.py
  src/main/resources/templates/c/test/tests/TestUBSan.py
  src/main/resources/templates/jenkins/c/Jenkinsfile
  src/test/k6/resource/constants_c.js
Labels: component:Programming, ready for review, server

#2684 Bugfix/type error short answer question edit component
  src/main/webapp/app/exercises/quiz/shared/short-answer-question-util.service.ts
  src/test/javascript/spec/component/short-answer-quiz/short-answer-question-util.service.spec.ts
Labels: bug, client, component:Quiz, ready for review

#2619 [Feature] Time Locking of Complaints / More Feedback Requests
  src/main/java/de/tum/in/www1/artemis/config/Constants.java
  src/main/java/de/tum/in/www1/artemis/domain/Complaint.java
  src/main/java/de/tum/in/www1/artemis/domain/ComplaintResponse.java
  src/main/java/de/tum/in/www1/artemis/repository/ComplaintResponseRepository.java
  src/main/java/de/tum/in/www1/artemis/service/AssessmentService.java
  src/main/java/de/tum/in/www1/artemis/service/ComplaintResponseService.java
  src/main/java/de/tum/in/www1/artemis/service/ExerciseService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ComplaintResponseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/errors/ComplaintResponseLockedException.java
  src/main/java/de/tum/in/www1/artemis/web/rest/errors/ErrorConstants.java
  src/main/resources/config/liquibase/changelog/20210104190000_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/assessment/assessment-layout/assessment-layout.component.html
  src/main/webapp/app/assessment/assessment-layout/assessment-layout.component.ts
  src/main/webapp/app/complaints/complaint-response.service.ts
  src/main/webapp/app/complaints/complaint.service.ts
  src/main/webapp/app/complaints/complaints-for-tutor/complaints-for-tutor.component.html
  src/main/webapp/app/complaints/complaints-for-tutor/complaints-for-tutor.component.ts
  src/main/webapp/app/complaints/list-of-complaints/list-of-complaints.component.html
  src/main/webapp/app/complaints/list-of-complaints/list-of-complaints.component.ts
  src/main/webapp/app/entities/complaint-response.model.ts
  src/main/webapp/app/entities/complaint.model.ts
  src/main/webapp/app/exercises/file-upload/assess/file-upload-assessment.component.html
  src/main/webapp/app/exercises/file-upload/assess/file-upload-assessment.component.ts
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment-editor/modeling-assessment-editor.component.html
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment-editor/modeling-assessment-editor.component.ts
  src/main/webapp/app/exercises/programming/assess/code-editor-tutor-assessment-container.component.html
  src/main/webapp/app/exercises/programming/assess/code-editor-tutor-assessment-container.component.ts
  src/main/webapp/app/exercises/shared/dashboards/tutor/exercise-assessment-dashboard.component.html
  src/main/webapp/app/exercises/shared/dashboards/tutor/exercise-assessment-dashboard.component.ts
  src/main/webapp/app/exercises/shared/dashboards/tutor/exercise-assessment-dashboard.module.ts
  src/main/webapp/app/exercises/text/assess-new/text-submission-assessment.component.html
  src/main/webapp/app/exercises/text/assess-new/text-submission-assessment.component.ts
  src/main/webapp/app/shared/shared.module.ts
  src/main/webapp/i18n/de/complaint.json
  src/main/webapp/i18n/de/complaintResponse.json
  src/main/webapp/i18n/en/complaint.json
  src/main/webapp/i18n/en/complaintResponse.json
  src/test/java/de/tum/in/www1/artemis/AssessmentComplaintIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/AssessmentTeamComplaintIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ComplaintResponseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/FileUploadAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/TextAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/javascript/spec/component/assessment-shared/assessment-layout.component.spec.ts
  src/test/javascript/spec/component/complaints-for-tutor/complaints-for-tutor.component.spec.ts
  src/test/javascript/spec/component/complaints/complaint-response.service.ts
  src/test/javascript/spec/component/tutor-dashboard/exercise-assessment-dashboard.component.spec.ts
Labels: client, database, feature, ready for review, server

#2666 [Bugfix] Fix showing buildlogs for Swift and Python on Bamboo and Jenkins
  src/main/java/de/tum/in/www1/artemis/service/BuildLogEntryService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/ContinuousIntegrationService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/BambooService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsService.java
  src/main/resources/templates/bamboo/python/regularRuns/1_build_and_test_the_code.sh
  src/main/resources/templates/bamboo/python/sequentialRuns/1_compile_the_code.sh
  src/main/resources/templates/bamboo/python/sequentialRuns/2_run_structural_tests.sh
  src/main/resources/templates/bamboo/python/sequentialRuns/3_run_behavior_tests.sh
  src/main/resources/templates/bamboo/swift/sequentialRuns/1_build_and_test_the_code.sh
  src/main/resources/templates/jenkins/python/Jenkinsfile
  src/main/resources/templates/jenkins/swift/Jenkinsfile
  src/main/resources/templates/jenkins/swift/Jenkinsfile-staticCodeAnalysis
Labels: bamboo/bitbucket, bug, component:Programming, jenkins/gitlab, ready for review, server

#2683 [Exam] Block Instructors from registering as students to exam
  src/main/java/de/tum/in/www1/artemis/service/ExamService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExamResource.java
  src/main/webapp/app/exam/manage/students/exam-students.component.ts
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/en/exam.json
  src/test/java/de/tum/in/www1/artemis/ExamIntegrationTest.java
Labels: client, exam mode, feature, server

#2664 Plagiarism detection configuration
  docs/user/exams/students_guide.rst
  src/main/java/de/tum/in/www1/artemis/domain/plagiarism/text/TextPlagiarismResult.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseExportService.java
  src/main/java/de/tum/in/www1/artemis/service/plagiarism/ModelingPlagiarismDetectionService.java
  src/main/java/de/tum/in/www1/artemis/service/plagiarism/text/TextPlagiarismDetectionService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextExerciseResource.java
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise.service.ts
  src/main/webapp/app/exercises/programming/manage/services/programming-exercise.service.ts
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-inspector/plagiarism-inspector.component.html
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-inspector/plagiarism-inspector.component.scss
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-inspector/plagiarism-inspector.component.ts
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-sidebar/plagiarism-sidebar.component.html
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-sidebar/plagiarism-sidebar.component.scss
  src/main/webapp/app/exercises/shared/plagiarism/types/PlagiarismOptions.ts
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise.service.ts
  src/main/webapp/i18n/de/plagiarism.json
  src/main/webapp/i18n/en/plagiarism.json
  src/test/javascript/spec/component/exam/participate/summary/text-exam-summary.component.spec.ts
  src/test/javascript/spec/component/plagiarism/plagiarism-inspector.component.spec.ts
Labels: client, feature, plagiarism detection, ready for review, server

#2687 Add support for importing students to an exam via login
  src/main/java/de/tum/in/www1/artemis/service/ExamService.java
  src/main/java/de/tum/in/www1/artemis/service/UserService.java
  src/main/java/de/tum/in/www1/artemis/service/dto/StudentDTO.java
  src/main/webapp/app/entities/student-dto.model.ts
  src/main/webapp/app/exam/manage/students/students-exam-import-dialog/students-exam-import-dialog.component.html
  src/main/webapp/app/exam/manage/students/students-exam-import-dialog/students-exam-import-dialog.component.ts
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/en/exam.json
  src/test/java/de/tum/in/www1/artemis/ExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/connector/jira/JiraRequestMockProvider.java
  src/test/javascript/spec/component/exam/manage/exam-management.service.spec.ts
  src/test/javascript/spec/component/exam/manage/student-exams/student-exam-import-dialog.component.spec.ts
Labels: client, ready for review, server

#2689 Disable csrf as it is not needed any more
  src/main/java/de/tum/in/www1/artemis/config/SecurityConfiguration.java
  src/main/resources/public/content/privacy_statement.html
  src/main/webapp/app/core/auth/csrf.service.ts
  src/main/webapp/app/core/websocket/websocket.service.ts
  src/test/gatling/simulations/LtiOutcomeUrlGatlingTest.scala
  src/test/java/de/tum/in/www1/artemis/ContentVersionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/RequestUtilService.java
Labels: client, lock:artemistest5, priority:critical, ready for review, server

#2685 Allow Locking and Unlocking Programming Exercises
  src/main/java/de/tum/in/www1/artemis/config/Constants.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/ProgrammingExerciseScheduleService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/NotificationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/SystemNotificationResource.java
  src/main/webapp/app/exam/manage/student-exams/student-exams.component.ts
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.html
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.ts
  src/main/webapp/app/exercises/programming/manage/services/programming-exercise.service.ts
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/programmingExercise.json
  src/test/java/de/tum/in/www1/artemis/SystemNotificationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/connector/bitbucket/BitbucketRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseIntegrationTest.java
  src/test/javascript/spec/component/programming-exercise/programming-exercise-detail.component.spec.ts
Labels: client, code quality, component:Notification, component:Programming, enhancement, ready for review, security, server

#2682 [Chore] - Exam timer tests
  src/main/webapp/app/exam/participate/timer/exam-timer.component.html
  src/main/webapp/app/exam/participate/timer/exam-timer.component.ts
  src/test/javascript/spec/component/exam/exam-timer.component.spec.ts
Labels: chore, client, ready for review, tests

#2703 Add View Button to the Instructor Actions of the Course Exercise Details
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.html
Labels: client, component:Shared, enhancement, priority:low, ready for review

#2700 added new test to improve coverage
  src/main/webapp/app/exam/participate/exercises/text/text-exam-submission.component.html
  src/test/javascript/spec/component/exam/participate/exercises/text-exam-submission.component.spec.ts
Labels: client, ready for review

#2709 [Chore] Expendad test coverage of create-test-run-modal
  src/main/webapp/app/exam/manage/test-runs/create-test-run-modal.component.html
  src/test/javascript/spec/component/exam/test-run/create-test-run-modal.component.spec.ts
Labels: client, exam mode: client, ready for review, tests

#2708 [Chore] Increase coverage of exam client components
  src/main/webapp/app/exam/participate/summary/exercises/file-upload-exam-summary/file-upload-exam-summary.component.html
  src/test/javascript/spec/component/exam/participate/summary/exercises/file-upload-summary.component.spec.ts
  src/test/javascript/spec/component/exam/participate/summary/exercises/quiz-exam-summary.component.spec.ts
  src/test/javascript/spec/component/exam/participate/summary/text-exam-summary.component.spec.ts
Labels: client, ready for review, tests

#2580 Allow sorting exercises by start date
  src/main/webapp/app/overview/course-exercises/course-exercises.component.html
  src/main/webapp/app/overview/course-exercises/course-exercises.component.ts
  src/main/webapp/i18n/de/student-dashboard.json
  src/main/webapp/i18n/en/student-dashboard.json
  src/test/javascript/spec/component/course/course-exercises.component.spec.ts
Labels: client, ready for review, tests

#2711 Remove old REST endpoint to check plagiarism for text exercises
  build.gradle
  src/main/java/de/tum/in/www1/artemis/service/plagiarism/TextPlagiarismDetectionService.java
  src/main/java/de/tum/in/www1/artemis/service/plagiarism/text/TextComparisonStrategy.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/SubmissionComparisonDTO.java
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-inspector/plagiarism-inspector.component.ts
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise.service.ts
  src/test/java/de/tum/in/www1/artemis/TextSubmissionIntegrationTest.java
  src/test/javascript/spec/component/plagiarism/plagiarism-inspector.component.spec.ts
Labels: client, enhancement, plagiarism detection, ready for review, server

#2712 Add test for exam participation
  src/test/javascript/spec/component/exam/participate/exam-participation.component.spec.ts
Labels: client, tests

#2715 Fix a bug in the lecture routes
  src/main/webapp/app/lecture/lecture.route.ts
Labels: client, ready for review

#2719 Disable false-positive eslint warnings
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise-detail.component.ts
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-details/plagiarism-details.component.ts
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-header/plagiarism-header.component.ts
Labels: client, ready for review

#2697 Feature/programming exercises/enable c jenkins
  src/main/java/de/tum/in/www1/artemis/service/BuildLogEntryService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/ContinuousIntegrationService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/BambooService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsProgrammingLanguageFeatureService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsService.java
  src/main/resources/templates/bamboo/c/regularRuns/1_setup_the_build_environment.sh
  src/main/resources/templates/bamboo/c/regularRuns/2_setup_makefile.sh
  src/main/resources/templates/bamboo/c/regularRuns/3_build_and_run_all_tests.sh
  src/main/resources/templates/jenkins/c/Jenkinsfile
  src/main/resources/templates/jenkins/c/config.xml
Labels: component:Programming, ready for review, server

#2713 Bugfix/programming exercise dashboard submissions bug
  src/main/java/de/tum/in/www1/artemis/domain/Submission.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingAssessmentIntegrationTest.java
Labels: ready for review, server

#2720 [Bugfix] Fix issue with downloading repos for programming assessments
  src/main/webapp/app/exercises/programming/assess/code-editor-tutor-assessment-container.component.html
Labels: client, component:Programming, ready for review

#2721 Update artemis-java-test-sandbox to Version 1.4.6
  src/main/resources/templates/java/maven/test/projectTemplate/pom.xml
  src/main/resources/templates/java/test/projectTemplate/pom.xml
  src/main/resources/templates/kotlin/test/projectTemplate/pom.xml
Labels: component:Programming, dependencies, enhancement, ready for review

#2724 Attempt to fix breadcrumb width on Safari
  src/main/webapp/app/shared/layouts/navbar/navbar.scss
Labels: client, ready for review

#2723 Feature/markdown editor codeblock syntax highlighting
  package.json
  src/main/webapp/app/index.d.ts
  src/main/webapp/app/shared/markdown-editor/commands/codeblock.command.ts
  src/main/webapp/app/shared/markdown-editor/commands/orderedListCommand.ts
  src/main/webapp/app/shared/markdown-editor/markdown-editor.component.html
  src/main/webapp/app/shared/markdown-editor/markdown-editor.component.ts
  src/main/webapp/app/shared/markdown.service.ts
  src/main/webapp/content/scss/global.scss
  src/main/webapp/i18n/de/markdownEditor.json
  src/main/webapp/i18n/de/multipleChoiceQuestion.json
  src/main/webapp/i18n/en/markdownEditor.json
  src/main/webapp/i18n/en/multipleChoiceQuestion.json
  yarn.lock
Labels: client, component:MarkdownEditor, ready for review

#2726 [Bugfix] Fixes code line highlighting for tutors and wrongly invoked method for students
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseResource.java
  src/main/webapp/app/exercises/programming/assess/code-editor-tutor-assessment-container.component.html
  src/main/webapp/app/exercises/programming/manage/code-editor/code-editor-instructor-base-container.component.ts
  src/main/webapp/app/exercises/programming/manage/services/programming-exercise.service.ts
  src/main/webapp/app/exercises/programming/shared/code-editor/container/code-editor-container.component.html
  src/main/webapp/app/exercises/programming/shared/code-editor/container/code-editor-container.component.ts
  src/main/webapp/app/exercises/programming/shared/code-editor/file-browser/code-editor-file-browser.component.ts
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseIntegrationTest.java
  src/test/javascript/spec/helpers/mocks/service/mock-programming-exercise.service.ts
  src/test/javascript/spec/integration/code-editor/code-editor-instructor.integration.spec.ts
Labels: client, component:Programming, ready for review, server

#2731 [Chore] Add tests for Text/Modeling/FileUpload second correction during exam
  src/main/java/de/tum/in/www1/artemis/web/rest/FileUploadAssessmentResource.java
  src/test/java/de/tum/in/www1/artemis/FileUploadAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ModelingAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/TextAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingAssessmentIntegrationTest.java
Labels: ready for review, server, tests

#2725 Fixed two modeling assessment bugs
  src/main/java/de/tum/in/www1/artemis/domain/Submission.java
  src/main/java/de/tum/in/www1/artemis/repository/ModelingSubmissionRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ModelingSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/compass/CompassService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingAssessmentResource.java
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment-editor/modeling-assessment-editor.component.ts
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment.service.ts
  src/test/java/de/tum/in/www1/artemis/ModelingAssessmentIntegrationTest.java
  src/test/javascript/spec/component/modeling-assessment-editor/modeling-assessment-editor.component.spec.ts
  src/test/javascript/spec/service/modeling-assessment.service.spec.ts
Labels: client, ready for review, server

#2704 Feature/quiz exercise/allow different matching percentages for short answer question submissions (#2570)
  .jhipster/QuizQuestion.json
  src/main/java/de/tum/in/www1/artemis/domain/quiz/ShortAnswerQuestion.java
  src/main/java/de/tum/in/www1/artemis/domain/quiz/ShortAnswerQuestionStatistic.java
  src/main/java/de/tum/in/www1/artemis/domain/quiz/ShortAnswerSubmittedAnswer.java
  src/main/java/de/tum/in/www1/artemis/domain/quiz/ShortAnswerSubmittedText.java
  src/main/java/de/tum/in/www1/artemis/domain/quiz/scoring/ScoringStrategyShortAnswerUtil.java
  src/main/resources/config/liquibase/changelog/20210117093301_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/entities/quiz/short-answer-question.model.ts
  src/main/webapp/app/exercises/quiz/manage/match-percentage-info-modal/match-percentage-info-modal.component.html
  src/main/webapp/app/exercises/quiz/manage/match-percentage-info-modal/match-percentage-info-modal.component.ts
  src/main/webapp/app/exercises/quiz/manage/quiz-management.module.ts
  src/main/webapp/app/exercises/quiz/manage/short-answer-question/short-answer-question-edit.component.html
  src/main/webapp/app/exercises/quiz/manage/short-answer-question/short-answer-question-edit.component.scss
  src/main/webapp/app/exercises/quiz/manage/short-answer-question/short-answer-question-edit.component.ts
  src/main/webapp/app/exercises/quiz/shared/quiz.scss
  src/main/webapp/i18n/de/quizExercise.json
  src/main/webapp/i18n/en/quizExercise.json
  src/test/java/de/tum/in/www1/artemis/QuizSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/domain/ShortAnswerQuestionTest.java
  src/test/java/de/tum/in/www1/artemis/domain/ShortAnswerSubmittedTextTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/javascript/spec/component/quiz-statistic/short-answer-question-statistic.component.spec.ts
Labels: client, component:Quiz, database, ready for review, server

#2734 fixed diyplaying bug
  src/main/java/de/tum/in/www1/artemis/domain/Submission.java
  src/main/java/de/tum/in/www1/artemis/repository/SubmissionRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingSubmissionService.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingSubmissionIntegrationTest.java
Labels: server

#2696 Feature/avoid duplicating programming submissions
  src/main/java/de/tum/in/www1/artemis/exception/BambooException.java
  src/main/java/de/tum/in/www1/artemis/exception/ContinousIntegrationException.java
  src/main/java/de/tum/in/www1/artemis/exception/ContinuousIntegrationException.java
  src/main/java/de/tum/in/www1/artemis/repository/ProgrammingExerciseStudentParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ProgrammingSubmissionRepository.java
  src/main/java/de/tum/in/www1/artemis/service/BuildLogEntryService.java
  src/main/java/de/tum/in/www1/artemis/service/ParticipationService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseGradingService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseParticipationService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseSimulationService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseTestCaseService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/AbstractContinuousIntegrationService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/ContinuousIntegrationService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/BambooService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/dto/BambooBuildResultNotificationDTO.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/dto/TestResultsDTO.java
  src/main/java/de/tum/in/www1/artemis/service/dto/AbstractBuildResultNotificationDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseParticipationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingSubmissionResource.java
  src/main/webapp/app/exercises/shared/exercise-scores/exercise-scores.component.html
  src/main/webapp/app/exercises/shared/participation-submission/participation-submission.component.html
  src/main/webapp/i18n/de/exercise.json
  src/main/webapp/i18n/de/participation.json
  src/main/webapp/i18n/en/exercise.json
  src/main/webapp/i18n/en/participation.json
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseGradingServiceTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseResultBambooIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseResultJenkinsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseTestCaseServiceTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingSubmissionAndResultBitbucketBambooIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingSubmissionAndResultGitlabJenkinsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/java/de/tum/in/www1/artemis/util/ModelFactory.java
  src/test/java/de/tum/in/www1/artemis/util/ProgrammingExerciseResultTestService.java
  src/test/java/de/tum/in/www1/artemis/util/ProgrammingExerciseTestService.java
Labels: client, component:Programming, ready for review, server

#2716 K6 tests for static code analysis
  src/test/k6/ExamAPIs.js
  src/test/k6/ProgrammingExerciseAPIs.js
  src/test/k6/api_tests.sh
  src/test/k6/requests/endpoints.js
  src/test/k6/requests/programmingExercise.js
  src/test/k6/requests/requests.js
  src/test/k6/resource/constants_java.js
Labels: ready for review, tests

#2722 [Enhancement] Replace fork repositories with copy
  src/main/java/de/tum/in/www1/artemis/service/ParticipationService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseImportService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/AbstractVersionControlService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/GitService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/VersionControlService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bitbucket/BitbucketService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/gitlab/GitLabService.java
  src/test/java/de/tum/in/www1/artemis/AbstractSpringIntegrationBambooBitbucketJiraTest.java
  src/test/java/de/tum/in/www1/artemis/AbstractSpringIntegrationJenkinsGitlabTest.java
  src/test/java/de/tum/in/www1/artemis/connector/bitbucket/BitbucketRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/connector/gitlab/GitlabRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/MockDelegate.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseBitbucketBambooIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseGitlabJenkinsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/ProgrammingExerciseTestService.java
Labels: bamboo/bitbucket, feature, jenkins/gitlab, ready for review, server

#2742 [Bugfix] [Exam] Assess empty submissions and unsubmitted exams for multiple correction rounds
  src/main/java/de/tum/in/www1/artemis/domain/exam/Exam.java
  src/main/java/de/tum/in/www1/artemis/service/StudentExamService.java
  src/main/java/de/tum/in/www1/artemis/service/SubmissionService.java
  src/test/java/de/tum/in/www1/artemis/StudentExamIntegrationTest.java
Labels: exam mode, ready for review, server

#2737 Chore/test/course component
  src/test/javascript/spec/component/course/course-overview.component.spec.ts
  src/test/javascript/spec/component/course/course.component.spec.ts
Labels: client, ready for review, tests

#2743 [Refactor] Make Loading of Unit Modules for Students Lazy
  src/main/webapp/app/app-routing.module.ts
  src/main/webapp/app/course/learning-goals/learning-goal.module.ts
  src/main/webapp/app/exam/participate/exam-participation.module.ts
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/lecture-unit-management.module.ts
  src/main/webapp/app/overview/course-exercises/course-exercise-row.module.ts
  src/main/webapp/app/overview/course-lectures/course-lecture-details.module.ts
  src/main/webapp/app/overview/course-lectures/lecture-units.module.ts
  src/main/webapp/app/overview/courses-routing.module.ts
  src/main/webapp/app/overview/courses.module.ts
  src/main/webapp/app/overview/exercise-details/exercise-buttons.module.ts
  src/main/webapp/app/overview/student-questions/student-questions.component.ts
  src/test/javascript/spec/component/exam/participate/exercises/programming-exam-submission.component.spec.ts
Labels: chore, client, ready for review

#2746 [Bugfix] K6 wrong compare operator
  src/test/k6/requests/programmingExercise.js
Labels: ready for review, tests

#2744 Store "use ssh" setting in local storage
  src/main/webapp/app/overview/exercise-details/exercise-details-student-actions.component.html
  src/main/webapp/app/overview/exercise-details/exercise-details-student-actions.component.ts
  src/test/javascript/spec/component/overview/exercise-details/exercise-details-student-actions.component.spec.ts
Labels: client, ready for review

#2739 Chore/test/exercise shared participation
  src/test/javascript/spec/component/participation/participation.component.spec.ts
  src/test/javascript/spec/service/participation.service.spec.ts
Labels: ready for review

#2738 Fix issues in the exam mode test runs
  src/main/java/de/tum/in/www1/artemis/domain/Result.java
  src/main/java/de/tum/in/www1/artemis/domain/Submission.java
  src/main/java/de/tum/in/www1/artemis/domain/exam/StudentExam.java
  src/main/java/de/tum/in/www1/artemis/domain/participation/StudentParticipation.java
  src/main/java/de/tum/in/www1/artemis/repository/ProgrammingExerciseStudentParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/StudentExamRepository.java
  src/main/java/de/tum/in/www1/artemis/service/AssessmentService.java
  src/main/java/de/tum/in/www1/artemis/service/ExamService.java
  src/main/java/de/tum/in/www1/artemis/service/ExamSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/FileUploadSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/ModelingSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/ParticipationService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/QuizSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/StudentExamService.java
  src/main/java/de/tum/in/www1/artemis/service/SubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/TextSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ParticipationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/StudentExamResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/SubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextAssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/repository/RepositoryProgrammingExerciseParticipationResource.java
  src/main/resources/config/liquibase/changelog/20210124211500_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/entities/participation/student-participation.model.ts
  src/main/webapp/app/exam/manage/test-runs/test-run-management.component.html
  src/main/webapp/app/exam/participate/exam-participation.component.ts
  src/main/webapp/app/exam/participate/exam-participation.service.ts
  src/main/webapp/app/exercises/file-upload/participate/file-upload-submission.component.ts
  src/main/webapp/app/exercises/modeling/participate/modeling-submission.component.ts
  src/main/webapp/app/exercises/shared/dashboards/tutor/exercise-assessment-dashboard.component.html
  src/main/webapp/app/exercises/text/participate/text-editor.component.ts
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/en/exam.json
  src/test/java/de/tum/in/www1/artemis/StudentExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/ExamSubmissionServiceTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/java/de/tum/in/www1/artemis/util/ModelFactory.java
Labels: bug, client, database, exam mode, priority:critical, ready for review, server

#2750 Documentation for "Assess Unsubmitted Student Exams"
  docs/user/exams/instructor/buttons/assess_unsubmitted_student_exams.png
  docs/user/exams/instructor/student_exams.png
  docs/user/exams/instructors_guide.rst
Labels: documentation, exam mode, ready for review

#2755 DragAndDropQuestionEdit Client tests
  src/main/webapp/app/exercises/quiz/manage/drag-and-drop-question/drag-and-drop-question-edit.component.ts
  src/test/javascript/spec/component/drag-and-drop-question/drag-and-drop-question-edit.component.spec.ts
Labels: client, ready for review, tests

#2766 [Bugfix] Several fixes for Programming Exercises
  src/main/java/de/tum/in/www1/artemis/repository/ResultRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/SubmissionRepository.java
  src/main/java/de/tum/in/www1/artemis/service/AssessmentService.java
  src/main/webapp/app/assessment/assessment-header/assessment-header.component.html
  src/main/webapp/app/assessment/assessment-header/assessment-header.component.ts
  src/main/webapp/app/assessment/assessment-layout/assessment-layout.component.html
  src/main/webapp/app/assessment/assessment-layout/assessment-layout.component.ts
  src/main/webapp/app/course/manage/course-detail.component.html
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.html
  src/main/webapp/app/exercises/shared/result/result.component.ts
  src/main/webapp/i18n/de/assessment.json
  src/main/webapp/i18n/en/assessment.json
Labels: client, component:Programming, ready for review, server

#2751 [Testcase] Improve Coverage of course exercise details
  src/test/javascript/spec/component/overview/exercise-details/course-exercise-details.component.spec.ts
Labels: chore, ready for review, tests

#2757 [Bugfix] Fix the error handling for assessments of prog. ex. before a due date
  src/main/java/de/tum/in/www1/artemis/service/SubmissionService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/FileUploadSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextSubmissionResource.java
  src/main/webapp/app/exercises/shared/dashboards/tutor/exercise-assessment-dashboard.component.ts
  src/main/webapp/app/shared/alert/alert-error.component.ts
  src/main/webapp/app/shared/alert/alert.component.ts
Labels: client, ready for review, server

#2769 [Fix] Add result details in submission page
  src/main/webapp/app/exercises/shared/participation-submission/participation-submission.component.html
  src/main/webapp/i18n/de/participation.json
  src/main/webapp/i18n/en/participation.json
Labels: client, ready for review

#2729 [Feature] add clone & download repo button in programming details view
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseExportService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/GitService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseResource.java
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.html
  src/main/webapp/app/exercises/programming/manage/programming-exercise-management.module.ts
  src/main/webapp/app/exercises/programming/manage/services/programming-exercise.service.ts
  src/main/webapp/app/exercises/programming/shared/actions/programming-exercise-instructor-repo-download.component.ts
  src/main/webapp/app/overview/exercise-details/exercise-buttons.module.ts
  src/main/webapp/app/overview/exercise-details/exercise-details-student-actions.component.html
  src/main/webapp/app/overview/exercise-details/exercise-details-student-actions.component.ts
  src/main/webapp/app/shared/components/clone-repo-button/clone-repo-button.component.html
  src/main/webapp/app/shared/components/clone-repo-button/clone-repo-button.component.ts
  src/main/webapp/app/shared/components/exercise-action-button.component.html
  src/main/webapp/app/shared/components/exercise-action-button.component.ts
  src/main/webapp/app/shared/components/shared-component.module.ts
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/programmingExercise.json
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseBitbucketBambooIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseGitlabJenkinsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/ProgrammingExerciseTestService.java
  src/test/javascript/spec/component/overview/exercise-details/exercise-details-student-actions.component.spec.ts
  src/test/javascript/spec/component/overview/exercise-details/programming-exercise-student-ide-actions.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-instructor-repo-download-component.spec.ts
  src/test/javascript/spec/component/shared/clone-repo-button.component.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-programming-exercise.service.ts
Labels: client, ready for review, server

#2767 [Bugfix] Preliminary result is not always correct
  src/main/webapp/app/exercises/programming/shared/utils/programming-exercise.utils.ts
  src/main/webapp/app/exercises/shared/result/result-detail.component.html
  src/main/webapp/app/exercises/shared/result/result-detail.component.ts
  src/main/webapp/app/exercises/shared/result/result.component.ts
  src/main/webapp/i18n/de/result.json
  src/main/webapp/i18n/en/result.json
Labels: client, ready for review, server

#2768 Enable / Disable second correction with button
  src/main/java/de/tum/in/www1/artemis/domain/Exercise.java
  src/main/java/de/tum/in/www1/artemis/service/ExerciseService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExerciseResource.java
  src/main/resources/config/liquibase/changelog/20212601155025_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/course/dashboards/assessment-dashboard/assessment-dashboard.component.html
  src/main/webapp/app/course/dashboards/assessment-dashboard/assessment-dashboard.component.ts
  src/main/webapp/app/course/dashboards/assessment-dashboard/assessment-dashboard.module.ts
  src/main/webapp/app/entities/exercise.model.ts
  src/main/webapp/app/exercises/shared/dashboards/tutor/exercise-assessment-dashboard.component.html
  src/main/webapp/app/exercises/shared/dashboards/tutor/exercise-assessment-dashboard.component.ts
  src/main/webapp/app/exercises/shared/dashboards/tutor/exercise-assessment-dashboard.module.ts
  src/main/webapp/app/exercises/shared/dashboards/tutor/second-correction-button/second-correction-enable-button.component.html
  src/main/webapp/app/exercises/shared/dashboards/tutor/second-correction-button/second-correction-enable-button.component.ts
  src/main/webapp/app/exercises/shared/exercise-scores/exercise-scores.component.html
  src/main/webapp/app/exercises/shared/exercise/exercise.service.ts
  src/main/webapp/i18n/de/tutorExerciseDashboard.json
  src/main/webapp/i18n/en/tutorExerciseDashboard.json
  src/test/java/de/tum/in/www1/artemis/ExerciseIntegrationTest.java
  src/test/javascript/spec/component/course/course-overview.component.spec.ts
  src/test/javascript/spec/component/course/course.component.spec.ts
  src/test/javascript/spec/component/modeling-assessment-dashboard/modeling-assessment-dashboard.component.spec.ts
  src/test/javascript/spec/component/participation/participation.component.spec.ts
  src/test/javascript/spec/component/quiz-statistic/short-answer-question-statistic.component.spec.ts
  src/test/javascript/spec/component/tutor-dashboard/exercise-assessment-dashboard.component.spec.ts
  src/test/javascript/spec/component/tutor-dashboard/second-correction-enable-button.component.spec.ts
Labels: client, database, ready for review, server

#2745 [Feature] Instructor dashboards with second correction
  src/main/java/de/tum/in/www1/artemis/repository/StudentParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/TextSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextAssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextSubmissionResource.java
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment-editor/modeling-assessment-dashboard.component.html
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment-editor/modeling-assessment-dashboard.component.ts
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment-editor/modeling-assessment-editor.component.ts
  src/main/webapp/app/exercises/modeling/participate/modeling-submission.service.ts
  src/main/webapp/app/exercises/text/assess/text-assessment-dashboard/text-assessment-dashboard.component.html
  src/main/webapp/app/exercises/text/assess/text-assessment-dashboard/text-assessment-dashboard.component.ts
  src/main/webapp/app/exercises/text/assess/text-assessments.service.ts
  src/main/webapp/app/exercises/text/assess/text-submission-assessment.route.ts
  src/main/webapp/i18n/de/assessment.json
  src/main/webapp/i18n/en/assessment.json
  src/test/java/de/tum/in/www1/artemis/service/TextAssessmentQueueServiceTest.java
  src/test/javascript/spec/component/modeling-assessment-dashboard/modeling-assessment-dashboard.component.spec.ts
  src/test/javascript/spec/service/apollon-diagram.service.spec.ts
  src/test/javascript/spec/service/text-assessments.service.spec.ts
Labels: client, ready for review, server

#2774 Fix small issue within the modeling dashboard client tests
  src/test/javascript/spec/component/modeling-assessment-dashboard/modeling-assessment-dashboard.component.spec.ts
Labels: ready for review, tests

#2747 [Feature] Reset SCA categories
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseGradingService.java
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseTestCaseService.java
  src/main/java/de/tum/in/www1/artemis/service/StaticCodeAnalysisService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseGradingResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseTestCaseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/StaticCodeAnalysisResource.java
  src/main/webapp/app/exercises/programming/manage/grading/programming-exercise-configure-grading.component.html
  src/main/webapp/app/exercises/programming/manage/grading/programming-exercise-configure-grading.component.ts
  src/main/webapp/app/exercises/programming/manage/grading/programming-exercise-grading-table-actions.component.ts
  src/main/webapp/app/exercises/programming/manage/services/programming-exercise-grading.service.ts
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/programmingExercise.json
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/StaticCodeAnalysisIntegrationTest.java
  src/test/javascript/spec/component/programming-exercise/programming-exercise-configure-grading.component.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-programming-exercise-grading.service.ts
Labels: client, component:Programming, ready for review, server

#2770 Bugfix/2752 bulk editing removes categories
  src/main/java/de/tum/in/www1/artemis/service/ProgrammingExerciseService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseResource.java
  src/main/webapp/app/exercises/programming/manage/programming-exercise-edit-selected.component.html
  src/main/webapp/app/exercises/programming/manage/programming-exercise-edit-selected.component.ts
  src/main/webapp/app/exercises/programming/manage/services/programming-exercise.service.ts
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseIntegrationTest.java
  src/test/javascript/spec/component/programming-exercise/programming-exercise-edit-selected.component.spec.ts
  src/test/javascript/spec/service/programming-exercise.service.spec.ts
Labels: client, ready for review, server

#2787 Bugfix/exam student import/remove multiple rest calls
  src/main/webapp/app/exam/manage/exam-management.service.ts
  src/main/webapp/app/exam/manage/students/students-exam-import-dialog/students-exam-import-dialog.component.html
  src/test/javascript/spec/component/exam/manage/student-exams/student-exam-import-dialog.component.spec.ts
Labels: client, ready for review, tests

#2756 New model type: Flowchart
  package.json
  src/main/java/de/tum/in/www1/artemis/domain/enumeration/DiagramType.java
  src/main/java/de/tum/in/www1/artemis/service/compass/controller/UMLModelParser.java
  src/main/java/de/tum/in/www1/artemis/service/compass/umlmodel/flowchart/Flowchart.java
  src/main/java/de/tum/in/www1/artemis/service/compass/umlmodel/flowchart/FlowchartDecision.java
  src/main/java/de/tum/in/www1/artemis/service/compass/umlmodel/flowchart/FlowchartFlowline.java
  src/main/java/de/tum/in/www1/artemis/service/compass/umlmodel/flowchart/FlowchartFunctionCall.java
  src/main/java/de/tum/in/www1/artemis/service/compass/umlmodel/flowchart/FlowchartInputOutput.java
  src/main/java/de/tum/in/www1/artemis/service/compass/umlmodel/flowchart/FlowchartProcess.java
  src/main/java/de/tum/in/www1/artemis/service/compass/umlmodel/flowchart/FlowchartTerminal.java
  src/main/webapp/app/entities/modeling-exercise.model.ts
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise-update.component.html
  src/main/webapp/app/exercises/quiz/manage/apollon-diagrams/apollon-diagram-create-form.component.html
  src/main/webapp/i18n/de/diagramType.json
  src/main/webapp/i18n/en/diagramType.json
  src/test/java/de/tum/in/www1/artemis/service/compass/umlmodel/flowchart/FlowchartTest.java
  src/test/java/de/tum/in/www1/artemis/service/compass/umlmodel/flowchart/FlowchartUtil.java
  src/test/resources/de/tum/in/www1/artemis/service/compass/umlmodel/flowchart/flowchartModel1a.json
  src/test/resources/de/tum/in/www1/artemis/service/compass/umlmodel/flowchart/flowchartModel1b.json
  src/test/resources/de/tum/in/www1/artemis/service/compass/umlmodel/flowchart/flowchartModel2.json
  yarn.lock
Labels: client, ready for review, server

#2780 Avoid too large hibernate entity graphs when preparing the exercise start in exams
  src/main/java/de/tum/in/www1/artemis/repository/ExamRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ExamService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExamResource.java
Labels: bug, exam mode, ready for review, server
