Repository ls1intum/Artemis, pull requests merged in 2021-12, with the labels that each got.

#4362 `Discussion`: Add error handling when parsing email notification content
  src/main/java/de/tum/in/www1/artemis/service/metis/PostService.java
  src/test/java/de/tum/in/www1/artemis/metis/PostIntegrationTest.java
Labels: tests, ready for review, server, Metis

#4367 `Discussion`: Display names of reacting users when hovering a reaction
  src/main/webapp/app/overview/course-discussion/course-discussion.module.ts
  src/main/webapp/app/shared/metis/metis.module.ts
  src/main/webapp/app/shared/metis/posting-reactions-bar/answer-post-reactions-bar/answer-post-reactions-bar.component.html
  src/main/webapp/app/shared/metis/posting-reactions-bar/post-reactions-bar/post-reactions-bar.component.html
  src/main/webapp/app/shared/metis/posting-reactions-bar/posting-reactions-bar.component.ts
  src/main/webapp/app/shared/pipes/reacting-users-on-posting.pipe.ts
  src/main/webapp/i18n/de/metis.json
  src/main/webapp/i18n/en/metis.json
  src/test/javascript/spec/component/shared/metis/postings-reactions-bar/answer-post-reactions-bar/answer-post-reactions-bar.component.spec.ts
  src/test/javascript/spec/component/shared/metis/postings-reactions-bar/post-reactions-bar/post-reactions-bar.component.spec.ts
  src/test/javascript/spec/pipe/reacting-users-on-posting.pipe.spec.ts
Labels: tests, client, Metis, ready to merge

#4379 `Development`: Speedup client tests for exercise scores
  src/test/javascript/spec/component/exercises/shared/exercise-scores.component.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-result.service.ts
Labels: tests, client, ready to merge

#4399 `Assessment`: Hide example submissions without assessments in tutor training
  src/main/java/de/tum/in/www1/artemis/web/rest/TextAssessmentResource.java
  src/main/webapp/app/exercises/modeling/manage/example-modeling/example-modeling-submission.component.ts
  src/main/webapp/app/exercises/text/assess/text-assessment.service.ts
  src/main/webapp/app/exercises/text/manage/example-text-submission/example-text-submission.component.html
  src/main/webapp/app/exercises/text/manage/example-text-submission/example-text-submission.component.ts
  src/main/webapp/app/utils/navigation.utils.ts
  src/test/java/de/tum/in/www1/artemis/TextAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/RequestUtilService.java
  src/test/javascript/spec/component/text-exercise/example-text-submission.component.spec.ts
Labels: tests, server, client, ready to merge

#4401 `Assessment`: Add general feedback in example submissions
  src/main/java/de/tum/in/www1/artemis/service/TutorParticipationService.java
  src/main/webapp/app/assessment/assessment-detail/assessment-detail.component.html
  src/main/webapp/app/exercises/modeling/manage/example-modeling/example-modeling-submission.component.html
  src/main/webapp/app/exercises/modeling/manage/example-modeling/example-modeling-submission.component.ts
  src/main/webapp/app/exercises/modeling/manage/example-modeling/example-modeling-submission.module.ts
  src/main/webapp/app/exercises/shared/unreferenced-feedback/unreferenced-feedback.component.html
  src/main/webapp/app/exercises/shared/unreferenced-feedback/unreferenced-feedback.component.ts
  src/main/webapp/app/exercises/text/manage/example-text-submission/example-text-submission.component.html
  src/main/webapp/app/exercises/text/manage/example-text-submission/example-text-submission.component.ts
  src/test/java/de/tum/in/www1/artemis/TutorParticipationIntegrationTest.java
  src/test/javascript/spec/component/assessment-shared/assessment-detail.component.spec.ts
  src/test/javascript/spec/component/text-exercise/example-text-submission.component.spec.ts
Labels: tests, server, client, ready to merge

#4419 `Discussion`: Reduce serialized user data attached to reactions
  src/main/java/de/tum/in/www1/artemis/domain/metis/Reaction.java
  src/test/javascript/spec/component/overview/course-discussion/course-discussion.component.spec.ts
Labels: Metis, small, ready to merge

#4295 `Assessment`: Extend example submission dashboard
  src/main/java/de/tum/in/www1/artemis/repository/ResultRepository.java
  src/main/java/de/tum/in/www1/artemis/web/rest/AssessmentResource.java
  src/main/webapp/app/entities/submission.model.ts
  src/main/webapp/app/exercises/modeling/manage/example-modeling/example-modeling-submission.component.html
  src/main/webapp/app/exercises/shared/example-submission/example-submission-import/example-submission-import.component.html
  src/main/webapp/app/exercises/shared/example-submission/example-submission-import/example-submission-import.component.ts
  src/main/webapp/app/exercises/shared/example-submission/example-submission.service.ts
  src/main/webapp/app/exercises/shared/example-submission/example-submissions.component.html
  src/main/webapp/app/exercises/shared/example-submission/example-submissions.component.ts
  src/main/webapp/app/exercises/shared/result/result.component.ts
  src/main/webapp/i18n/de/exampleSubmission.json
  src/main/webapp/i18n/en/assessment.json
  src/main/webapp/i18n/en/exampleSubmission.json
  src/test/java/de/tum/in/www1/artemis/TextExerciseIntegrationTest.java
  src/test/javascript/spec/component/exercises/shared/example-submission-import.component.spec.ts
  src/test/javascript/spec/component/exercises/shared/example-submissions.component.spec.ts
Labels: enhancement, tests, server, client, ready to merge

#4418 `Development`: Add server test for exercise average rating computation
  src/main/java/de/tum/in/www1/artemis/domain/assessment/dashboard/ExerciseRatingCount.java
  src/main/java/de/tum/in/www1/artemis/service/TutorParticipationService.java
  src/main/webapp/app/assessment/assessment-detail/assessment-detail.component.html
  src/main/webapp/app/exercises/modeling/manage/example-modeling/example-modeling-submission.component.ts
  src/main/webapp/app/exercises/text/assess/textblock-feedback-editor/textblock-feedback-editor.component.html
  src/test/java/de/tum/in/www1/artemis/CourseBitbucketBambooJiraIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/CourseGitlabJenkinsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/CourseTestService.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
Labels: tests, server, client, ready to merge

#4388 `Assessment`: Show logic for assessment training
  src/main/webapp/app/assessment/assessment-instructions/assessment-instructions/assessment-instructions.component.html
  src/main/webapp/app/assessment/assessment-instructions/assessment-instructions/assessment-instructions.component.ts
  src/main/webapp/app/assessment/assessment-instructions/collapsable-assessment-instructions/collapsable-assessment-instructions.component.html
  src/main/webapp/app/assessment/assessment-instructions/collapsable-assessment-instructions/collapsable-assessment-instructions.component.ts
  src/main/webapp/app/exercises/modeling/manage/example-modeling/example-modeling-submission.component.html
  src/main/webapp/app/exercises/text/manage/example-text-submission/example-text-submission.component.html
  src/main/webapp/i18n/de/assessmentInstructions.json
  src/main/webapp/i18n/de/exampleSubmission.json
  src/main/webapp/i18n/en/assessmentInstructions.json
  src/main/webapp/i18n/en/exampleSubmission.json
Labels: client, small, ready to merge

#4423 `Development`: Prevent potential null pointer exception when creating repositories on Gitlab and error occurs
  src/main/java/de/tum/in/www1/artemis/service/connectors/gitlab/GitLabService.java
Labels: server, small, ready to merge

#4400 `General`: Use a dropdown menu for filtering exercises in the students exercise list
  src/main/webapp/app/overview/course-exercises/course-exercises.component.html
  src/main/webapp/app/overview/course-exercises/course-exercises.component.ts
  src/main/webapp/i18n/de/student-dashboard.json
  src/main/webapp/i18n/en/student-dashboard.json
  src/test/javascript/spec/component/course/course-exercises.component.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-translate.service.ts
  src/test/javascript/spec/helpers/sample/problemStatement.json
Labels: enhancement, tests, client, ready to merge

#4417 `Development`: Remove unnecessary quiz deletion requests in cypress e2e tests
  src/test/cypress/integration/exercises/quiz-exercise/QuizExerciseManagement.spec.ts
  src/test/cypress/integration/exercises/quiz-exercise/QuizExerciseParticipation.spec.ts
  src/test/cypress/support/commands.ts
Labels: tests, cypress, ready to merge

#4369 `General`: Add option to filter exercises in the statistics which are not included in the score
  src/main/webapp/app/overview/course-exercises/course-exercises.component.html
  src/main/webapp/app/overview/course-lectures/course-lectures.component.html
  src/main/webapp/app/overview/course-overview.scss
  src/main/webapp/app/overview/course-statistics/course-statistics.component.html
  src/main/webapp/app/overview/course-statistics/course-statistics.component.ts
  src/main/webapp/app/overview/visualizations/exercise-scores-chart/exercise-scores-chart.component.ts
  src/main/webapp/i18n/de/student-dashboard.json
  src/main/webapp/i18n/en/student-dashboard.json
  src/test/javascript/spec/component/overview/course-statistics/course-statistics.component.spec.ts
  src/test/javascript/spec/component/overview/course-statistics/visualizations/exercise-scores-chart.component.spec.ts
Labels: feature, tests, ready for review, client, ready to merge

#4413 `General`: Fix an issue with automatic authentication when launching exercises using LTI
  src/main/java/de/tum/in/www1/artemis/web/rest/LtiResource.java
  src/main/webapp/app/core/auth/account.service.ts
  src/main/webapp/app/core/auth/user-route-access-service.ts
  src/main/webapp/app/exam/manage/test-runs/test-run-management.component.html
  src/main/webapp/app/exam/manage/test-runs/test-run-management.component.ts
  src/main/webapp/app/home/home.component.ts
  src/test/javascript/spec/component/exam/test-run/test-run-management.component.spec.ts
  src/test/javascript/spec/service/user-route-access.service.spec.ts
Labels: tests, ready for review, server, client, lti, bugfix

#4436 `Development`: Use Athene Client Dependency from Maven Central
  build.gradle
  libs/athene-protobuf-client-0.0.1.jar
Labels: ready for review, ready to merge

#4386 `General`, `Exam mode`: Modernize appearance of charts in exam statistics and exercise detail
  src/main/webapp/app/entities/course.model.ts
  src/main/webapp/app/exam/exam-scores/exam-scores-average-scores-graph.component.html
  src/main/webapp/app/exam/exam-scores/exam-scores-average-scores-graph.component.ts
  src/main/webapp/app/exam/exam-scores/exam-scores.component.html
  src/main/webapp/app/exam/exam-scores/exam-scores.component.scss
  src/main/webapp/app/exam/exam-scores/exam-scores.component.ts
  src/main/webapp/app/exam/exam-scores/exam-scores.module.ts
  src/main/webapp/app/exercises/shared/statistics/doughnut-chart.component.html
  src/main/webapp/app/exercises/shared/statistics/doughnut-chart.component.ts
  src/main/webapp/app/shared/shared.module.ts
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/en/exam.json
  src/test/javascript/spec/component/exam/exam-scores/exam-scores-average-scores-graph.component.spec.ts
  src/test/javascript/spec/component/exam/exam-scores/exam-scores.component.spec.ts
  src/test/javascript/spec/component/statistics/doughnut-chart.component.spec.ts
Labels: tests, client, ready to merge

#4396 `Assessment`: Fix an issue with complaints after long assessment periods
  src/main/webapp/app/complaints/complaints-for-students/complaints-student-view.component.html
  src/main/webapp/app/complaints/complaints-for-students/complaints-student-view.component.ts
  src/main/webapp/app/complaints/complaints.scss
  src/main/webapp/app/complaints/form/complaints-form.component.html
  src/main/webapp/app/complaints/form/complaints-form.component.ts
  src/test/javascript/spec/component/complaints/complaint-student-view.component.spec.ts
Labels: tests, client, ready to merge

#4405 `General`: Allow tutors to view course exercise scores
  src/main/java/de/tum/in/www1/artemis/web/rest/ResultResource.java
  src/main/webapp/app/course/manage/overview/course-management-exercise-row.component.html
  src/main/webapp/app/exam/manage/exam-management.route.ts
  src/main/webapp/app/exercises/file-upload/manage/file-upload-exercise.component.html
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise.component.html
  src/main/webapp/app/exercises/programming/assess/programming-assessment-dashboard/programming-exercise-submissions.component.html
  src/main/webapp/app/exercises/programming/assess/programming-assessment-dashboard/programming-exercise-submissions.component.ts
  src/main/webapp/app/exercises/programming/assess/programming-assessment-dashboard/programming-exercises-submissions.module.ts
  src/main/webapp/app/exercises/programming/assess/programming-assessment.module.ts
  src/main/webapp/app/exercises/programming/assess/programming-assessment.route.ts
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.html
  src/main/webapp/app/exercises/programming/manage/programming-exercise.component.html
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise.component.html
  src/main/webapp/app/exercises/shared/exercise-detail-common-actions/non-programming-exercise-detail-common-actions.component.html
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise-row-buttons.component.html
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.html
  src/test/java/de/tum/in/www1/artemis/ResultServiceIntegrationTest.java
  src/test/javascript/spec/component/programming-assessment-dashboard/programming-assessment-dashboard.component.spec.ts
Labels: tests, ready for review, server, client, bugfix

#4451 `Development`: Fix cypress e2e text exercise management test
  src/test/cypress/integration/exercises/text/TextExerciseManagement.spec.ts
Labels: tests, ready for review, small, cypress, ready to merge

#4408 `Development:` Fix faulty quiz submission requests for e2e cypress test in quiz assessment
  src/test/cypress/support/requests/CourseManagementRequests.ts
Labels: tests, ready for review, cypress

#4449 `Development`: Fix minor grammar and spelling issues in README.md
  README.md
Labels: ready for review, small

#4414 `Programming exercises`: Fix an issue when creating external submissions
  src/main/java/de/tum/in/www1/artemis/service/ParticipationService.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseIntegrationBambooBitbucketJiraTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseIntegrationJenkinsGitlabTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseIntegrationTestService.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseTestService.java
  src/test/java/de/tum/in/www1/artemis/service/ParticipationServiceTest.java
Labels: tests, ready for review, server, component:Programming, bugfix

#4409 `General`: Let exercise and lecture list rows behave as links
  src/main/webapp/app/overview/course-exercises/course-exercise-row.component.html
  src/main/webapp/app/overview/course-exercises/course-exercise-row.component.ts
  src/main/webapp/app/overview/course-exercises/course-exercise-row.scss
  src/main/webapp/app/overview/course-lectures/course-lecture-row.component.html
  src/main/webapp/app/overview/course-lectures/course-lecture-row.component.ts
  src/main/webapp/app/overview/course-lectures/exercise-unit/exercise-unit.component.html
  src/main/webapp/app/overview/courses.component.html
  src/test/javascript/spec/component/lecture-unit/exercise-unit/exercise-unit.component.spec.ts
  src/test/javascript/spec/component/overview/course-exercises/course-exercise-row.component.spec.ts
  src/test/javascript/spec/component/overview/course-lectures/course-lecture-row.component.spec.ts
  src/test/javascript/spec/component/overview/course-lectures/course-lectures.component.spec.ts
Labels: enhancement, tests, client, ready to merge

#4441 `Development`: Integrate ace editor module into the Artemis code
  package-lock.json
  package.json
  src/main/webapp/app/exercises/programming/shared/code-editor/ace/code-editor-ace.component.html
  src/main/webapp/app/exercises/programming/shared/code-editor/ace/code-editor-ace.component.ts
  src/main/webapp/app/exercises/programming/shared/code-editor/code-editor.module.ts
  src/main/webapp/app/exercises/quiz/manage/quiz-management.module.ts
  src/main/webapp/app/exercises/quiz/manage/short-answer-question/short-answer-question-edit.component.html
  src/main/webapp/app/exercises/quiz/manage/short-answer-question/short-answer-question-edit.component.ts
  src/main/webapp/app/shared/markdown-editor/ace-editor/ace-editor.component.ts
  src/main/webapp/app/shared/markdown-editor/ace-editor/ace-editor.module.ts
  src/main/webapp/app/shared/markdown-editor/markdown-editor.component.html
  src/main/webapp/app/shared/markdown-editor/markdown-editor.component.ts
  src/main/webapp/app/shared/markdown-editor/markdown-editor.module.ts
  src/test/javascript/spec/component/code-editor/code-editor-ace.component.spec.ts
  src/test/javascript/spec/component/code-editor/code-editor-actions.component.spec.ts
  src/test/javascript/spec/component/code-editor/code-editor-build-output.component.spec.ts
  src/test/javascript/spec/component/code-editor/code-editor-status.component.spec.ts
  src/test/javascript/spec/component/markdown-editor/bold-command.spec.ts
  src/test/javascript/spec/component/markdown-editor/gradingInstruction-command.component.spec.ts
  src/test/javascript/spec/component/markdown-editor/headingCommands.spec.ts
  src/test/javascript/spec/component/markdown-editor/italic-command.spec.ts
  src/test/javascript/spec/component/markdown-editor/katex-command.spec.ts
  src/test/javascript/spec/component/markdown-editor/reference-command.spec.ts
  src/test/javascript/spec/component/markdown-editor/underline-command.spec.ts
  src/test/javascript/spec/component/programming-assessment/programming-assessment-manual-result.component.spec.ts
  src/test/javascript/spec/component/short-answer-question/short-answer-question-edit.component.spec.ts
  src/test/javascript/spec/integration/code-editor/code-editor-container.integration.spec.ts
Labels: tests, ready for review, dependencies, client, chore

#4459 `General`: Prevent first exercise title from getting cut-off in the chart performance in exercises
  src/main/webapp/app/overview/visualizations/exercise-scores-chart/exercise-scores-chart.component.html
  src/main/webapp/app/overview/visualizations/exercise-scores-chart/exercise-scores-chart.component.ts
  src/test/javascript/spec/component/overview/course-statistics/visualizations/exercise-scores-chart.component.spec.ts
Labels: tests, client, ready to merge

#4327 `Team exercises`: Add csv file team import and provide better error messages
  src/main/webapp/app/exercises/shared/team/teams-import-dialog/teams-import-from-file-form.component.html
  src/main/webapp/app/exercises/shared/team/teams-import-dialog/teams-import-from-file-form.component.ts
  src/main/webapp/i18n/de/team.json
  src/main/webapp/i18n/en/team.json
  src/test/javascript/spec/component/team/teams-import-from-file-form.component.spec.ts
Labels: tests, ready for review, client, component:Team, ready to merge

#4330 `Development`: Use self built Bamboo, Bitbucket and Jira Docker images to support x64 and arm64 processors
  docs/dev/setup.rst
  src/main/docker/atlassian.yml
  src/main/docker/bamboo/Dockerfile
  src/main/docker/bamboo/c/Dockerfile
  src/main/docker/bamboo/swift/Dockerfile
  src/main/docker/mysql.yml
Labels: ready for review, small, ready to merge

#4437 `Assessment`: Fix issue with non modifiable feedbacks being deletable
  src/main/webapp/app/assessment/assessment-detail/assessment-detail.component.html
  src/main/webapp/app/assessment/assessment-detail/assessment-detail.component.ts
Labels: client, small, bugfix, ready to merge

#4410 `Programming exercises`: Fix internal server error when opening instructor code editor
  src/main/java/de/tum/in/www1/artemis/domain/notification/GroupNotificationFactory.java
  src/main/java/de/tum/in/www1/artemis/domain/notification/SingleUserNotificationFactory.java
  src/main/java/de/tum/in/www1/artemis/repository/ProgrammingExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/service/notifications/NotificationTargetProvider.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseParticipationService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/repository/RepositoryProgrammingExerciseParticipationResource.java
  src/test/java/de/tum/in/www1/artemis/NotificationResourceIntegrationTest.java
Labels: tests, ready for review, server, component:Programming, bugfix

#4458 `Development`: Improve selectors used in e2e cypress tests for modeling
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment.component.html
  src/main/webapp/app/exercises/modeling/manage/example-modeling/example-modeling-submission.component.html
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise-update.component.html
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise.component.html
  src/main/webapp/app/exercises/modeling/participate/modeling-submission.component.html
  src/main/webapp/app/exercises/shared/example-submission/example-submissions.component.html
  src/main/webapp/app/overview/course-exercises/course-exercises.component.html
  src/main/webapp/app/overview/exercise-details/exercise-details-student-actions.component.html
  src/main/webapp/app/shared/date-time-picker/date-time-picker.component.ts
  src/test/cypress/integration/exam/ExamAssessment.spec.ts
  src/test/cypress/integration/exam/ExamParticipation.spec.ts
  src/test/cypress/integration/exercises/modeling/ModelingExerciseAssessment.spec.ts
  src/test/cypress/integration/exercises/modeling/ModelingExerciseManagement.spec.ts
  src/test/cypress/integration/exercises/modeling/ModelingExerciseParticipation.spec.ts
  src/test/cypress/support/pageobjects/assessment/ModelingExerciseAssessmentEditor.ts
  src/test/cypress/support/pageobjects/exercises/modeling/CreateModelingExercisePage.ts
  src/test/cypress/support/pageobjects/exercises/modeling/ModelingEditor.ts
  src/test/cypress/support/pageobjects/exercises/modeling/ModelingExerciseFeedbackPage.ts
Labels: tests, ready for review, client, cypress

#4440 `Development`: Update server dependencies
  build.gradle
  gradle.properties
  gradle/liquibase.gradle
  gradle/profile_prod.gradle
  gradle/war.gradle
  gradle/wrapper/gradle-wrapper.properties
  src/main/java/de/tum/in/www1/artemis/service/connectors/GitService.java
  src/main/resources/config/application.yml
  src/test/resources/config/application.yml
Labels: tests, ready for review, dependencies, server, chore

#4377 `Development`: Update client dependencies to Angular 13
  .gitignore
  jest.config.js
  package-lock.json
  package.json
  src/main/webapp/app/exercises/shared/example-submission/example-submissions.component.ts
  src/main/webapp/app/exercises/text/assess/manual-textblock-selection/manual-textblock-selection.component.html
  src/main/webapp/app/exercises/text/assess/textblock-assessment-card/textblock-assessment-card.component.html
  src/main/webapp/app/overview/course-lectures/video-unit/video-unit.component.html
  src/main/webapp/app/overview/course-lectures/video-unit/video-unit.component.ts
  src/main/webapp/app/shared/util/download.util.ts
  src/main/webapp/content/scss/global.scss
  src/test/javascript/spec/component/course/course.component.spec.ts
  src/test/javascript/spec/component/lecture-unit/text-unit/text-unit.component.spec.ts
  src/test/javascript/spec/component/lecture-unit/video-unit/video-unit.component.spec.ts
  src/test/javascript/spec/component/modeling-assessment-dashboard/modeling-assessment-dashboard.component.spec.ts
  src/test/javascript/spec/component/modeling-submission/modeling-submission.component.spec.ts
  src/test/javascript/spec/component/participation-submission/participation-submission.component.spec.ts
  src/test/javascript/spec/component/programming-assessment-dashboard/programming-assessment-dashboard.component.spec.ts
  src/test/javascript/spec/component/programming-assessment/programming-assessment-manual-result.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-configure-grading.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-import.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-instruction.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-trigger-build-button.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-update.component.spec.ts
  src/test/javascript/spec/component/shared/delete-dialog.component.spec.ts
  src/test/javascript/spec/component/table/table-editable-field.component.spec.ts
  src/test/javascript/spec/component/team/team-update-dialog.component.spec.ts
  src/test/javascript/spec/component/text-submission-assessment/textblock-assessment-card.component.spec.ts
  src/test/javascript/spec/directive/delete-dialog.directive.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-active-modal.service.ts
  src/test/javascript/spec/helpers/mocks/service/mock-cookie.service.ts
  src/test/javascript/spec/helpers/sample/problemStatement.json
  src/test/javascript/spec/service/orion/orion-connector.service.spec.ts
Labels: tests, client, chore, ready to merge

#4427 `General`: Improve German and English language with regard to consistency and guidelines for inclusive, diversity-sensitive, and appreciative language
  src/main/webapp/i18n/de/assessmentInstructions.json
  src/main/webapp/i18n/de/complaint.json
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/de/exerciseAssessmentDashboard.json
  src/main/webapp/i18n/de/featureOverview.json
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/de/quizExercise.json
  src/main/webapp/i18n/de/result.json
  src/main/webapp/i18n/de/textAssessment.json
  src/main/webapp/i18n/en/complaintResponse.json
Labels: client, chore, ready to merge

#4332 `Notifications`: Allow users to hide outdated notifications
  src/main/java/de/tum/in/www1/artemis/domain/User.java
  src/main/java/de/tum/in/www1/artemis/repository/NotificationRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/UserRepository.java
  src/main/java/de/tum/in/www1/artemis/service/user/UserService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/NotificationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/UserResource.java
  src/main/resources/config/liquibase/changelog/20211126224000_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/core/user/user.service.ts
  src/main/webapp/app/shared/notification/notification-sidebar/notification-sidebar.component.html
  src/main/webapp/app/shared/notification/notification-sidebar/notification-sidebar.component.ts
  src/main/webapp/i18n/de/notification.json
  src/main/webapp/i18n/en/notification.json
  src/test/java/de/tum/in/www1/artemis/NotificationResourceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/authentication/UserBambooBitbucketJiraIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/authentication/UserJenkinsGitlabIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/UserTestService.java
  src/test/javascript/spec/component/shared/notification/notification-sidebar.component.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-notification-settings.service.ts
  src/test/javascript/spec/helpers/mocks/service/mock-user-settings.service.ts
  src/test/javascript/spec/helpers/mocks/service/mock-user.service.ts
  src/test/javascript/spec/service/user.service.spec.ts
Labels: tests, server, client, database, notification system, user interface, ready to merge

#4476 `Development`: Fix icons for new notification functionality
  src/main/webapp/app/shared/notification/notification-sidebar/notification-sidebar.component.html
  src/main/webapp/app/shared/notification/notification-sidebar/notification-sidebar.component.ts
Labels: client

#4321 `Development`: Modernize doughnut charts on course detail page, student overall score chart, student scores in exercise groups charts and programming feedback chart
  src/main/webapp/app/admin/admin.module.ts
  src/main/webapp/app/course/manage/course-management.module.ts
  src/main/webapp/app/course/manage/detail/course-detail-doughnut-chart.component.html
  src/main/webapp/app/course/manage/detail/course-detail-doughnut-chart.component.scss
  src/main/webapp/app/course/manage/detail/course-detail-doughnut-chart.component.ts
  src/main/webapp/app/exam/participate/exam-participation.module.ts
  src/main/webapp/app/exam/participate/summary/exam-participation-summary.module.ts
  src/main/webapp/app/exercises/file-upload/assess/file-upload-assessment.module.ts
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment-editor/modeling-assessment-editor.module.ts
  src/main/webapp/app/exercises/programming/assess/programming-assessment-dashboard/programming-exercises-submissions.module.ts
  src/main/webapp/app/exercises/programming/assess/programming-assessment.module.ts
  src/main/webapp/app/exercises/programming/manage/code-editor/code-editor-management.module.ts
  src/main/webapp/app/exercises/programming/manage/grading/programming-exercise-grading.module.ts
  src/main/webapp/app/exercises/programming/manage/programming-exercise-management.module.ts
  src/main/webapp/app/exercises/programming/participate/programming-participation.module.ts
  src/main/webapp/app/exercises/shared/dashboards/tutor/exercise-assessment-dashboard.module.ts
  src/main/webapp/app/exercises/shared/example-submission/example-submissions.module.ts
  src/main/webapp/app/exercises/shared/exercise-headers/exercise-headers.module.ts
  src/main/webapp/app/exercises/shared/exercise-scores/exercise-scores.module.ts
  src/main/webapp/app/exercises/shared/exercise/exercise-details/exercise-details.module.ts
  src/main/webapp/app/exercises/shared/participation-submission/participation-submission.module.ts
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism.module.ts
  src/main/webapp/app/exercises/shared/result/result-detail.component.html
  src/main/webapp/app/exercises/shared/result/result-detail.component.ts
  src/main/webapp/app/exercises/shared/result/result-detail.scss
  src/main/webapp/app/exercises/shared/result/result.module.ts
  src/main/webapp/app/exercises/text/assess/text-submission-assessment.module.ts
  src/main/webapp/app/exercises/text/manage/tutor-effort/tutor-effort-statistics.module.ts
  src/main/webapp/app/grading-system/grading-key-overview/grading-key-overview.component.ts
  src/main/webapp/app/overview/course-card.component.html
  src/main/webapp/app/overview/course-card.component.ts
  src/main/webapp/app/overview/course-exercises/course-exercise-row.module.ts
  src/main/webapp/app/overview/course-overview.scss
  src/main/webapp/app/overview/course-score-calculation.service.ts
  src/main/webapp/app/overview/course-statistics/course-statistics.component.html
  src/main/webapp/app/overview/course-statistics/course-statistics.component.ts
  src/main/webapp/app/overview/course-statistics/course-statistics.module.ts
  src/main/webapp/app/overview/courses-routing.module.ts
  src/main/webapp/app/overview/courses.module.ts
  src/main/webapp/app/overview/exercise-details/course-exercise-details.module.ts
  src/main/webapp/app/overview/submission-result-status.module.ts
  src/main/webapp/app/shared/chart/ng2-charts.module.ts
  src/main/webapp/app/shared/shared-libs.module.ts
  src/main/webapp/app/shared/shared.module.ts
  src/main/webapp/i18n/de/student-dashboard.json
  src/main/webapp/i18n/en/student-dashboard.json
  src/test/javascript/spec/component/course/detail/course-detail-doughnut-chart.component.spec.ts
  src/test/javascript/spec/component/overview/course-card.component.spec.ts
  src/test/javascript/spec/component/overview/course-statistics/course-statistics.component.spec.ts
  src/test/javascript/spec/component/shared/result-detail.component.spec.ts
  src/test/javascript/spec/integration/guided-tour/guided-tour.integration.spec.ts
  src/test/javascript/spec/service/course-score-calculation.service.spec.ts
Labels: tests, ready for review, client, ready to merge

#4474 `Development`: Activate service workers for improved caching and performance
  src/main/webapp/app/app.module.ts
  src/main/webapp/index.html
Labels: ready for review, client, performance

#4478 `Development`: Fix cypress e2e test for static code analysis
  src/main/webapp/app/exercises/shared/result/result-detail.component.html
  src/main/webapp/app/shared/chart/chart.component.ts
  src/test/cypress/support/pageobjects/exercises/programming/ScaFeedbackModal.ts
Labels: tests, ready for review, client, small, cypress

#4483 `Development`: Enable info environment contributor after Spring upgrade
  src/main/resources/config/application.yml
  src/test/resources/config/application.yml
Labels: tests, ready for review, bugfix

#4475 `Development`: Use id selectors in cypress e2e tests for courses
  src/main/webapp/app/course/manage/course-group.component.html
  src/main/webapp/app/course/manage/detail/course-detail.component.html
  src/main/webapp/app/course/manage/overview/course-management-card.component.html
  src/test/cypress/integration/CourseManagement.spec.ts
  src/test/cypress/support/pageobjects/course/CourseManagementPage.ts
Labels: tests, client, refactoring, small, cypress

#4481 `Development`: Fix cypress e2e issues with service workers
  src/test/cypress/integration/exam/ExamAssessment.spec.ts
  src/test/cypress/support/index.ts
Labels: tests, ready for review, cypress

#4385 `Exam mode:` Move assessment buttons into exam assessment dashboard
  docs/user/exams/instructor/student_exams.png
  docs/user/exams/instructors_guide.rst
  src/main/webapp/app/course/dashboards/assessment-dashboard/assessment-dashboard.component.html
  src/main/webapp/app/course/dashboards/assessment-dashboard/assessment-dashboard.module.ts
  src/main/webapp/app/course/dashboards/assessment-dashboard/exam-assessment-buttons/exam-assessment-buttons.component.html
  src/main/webapp/app/course/dashboards/assessment-dashboard/exam-assessment-buttons/exam-assessment-buttons.component.ts
  src/main/webapp/app/exam/manage/student-exams/student-exams.component.html
  src/main/webapp/app/exam/manage/student-exams/student-exams.component.ts
  src/test/cypress/integration/exam/ExamAssessment.spec.ts
  src/test/cypress/support/pageobjects/assessment/CourseAssessmentDashboardPage.ts
  src/test/cypress/support/pageobjects/exam/StudentExamManagementPage.ts
  src/test/javascript/spec/component/assessment-dashboard/assessment-dashboard.component.spec.ts
  src/test/javascript/spec/component/assessment-dashboard/exam-assessment-buttons.component.spec.ts
  src/test/javascript/spec/component/exam/manage/student-exams/student-exams.component.spec.ts
Labels: tests, ready for review, client, cypress

#4486 `Development`: Update documentation about preferred database type for dates
  docs/dev/guidelines/server.rst
Labels: ready for review, documentation

#4493 `Development`: Disable animations of doughnut charts on course overview
  src/main/webapp/app/overview/course-card.component.html
Labels: client

#4426 `Development`: Speedup client tests for exercise assessment dashboard
  src/test/javascript/spec/component/assessment-dashboard/exercise-assessment-dashboard.component.spec.ts
Labels: tests, ready for review, ready to merge

#4497 `Development`: Fix cypress e2e tests for exam assessment
  src/test/cypress/integration/exam/ExamAssessment.spec.ts
  src/test/cypress/integration/exercises/quiz-exercise/QuizExerciseParticipation.spec.ts
Labels: tests, ready for review, FlakyTestFix, cypress

#4499 `Assessment`: Fix typo in more feedback request explanation text
  src/main/webapp/i18n/en/complaint.json
Labels: client, ready to merge

#4502 `General`: Fix chart series tooltip in performance statistics in exercises for disabled lines
  src/main/webapp/app/overview/visualizations/exercise-scores-chart/exercise-scores-chart.component.html
  src/main/webapp/app/overview/visualizations/exercise-scores-chart/exercise-scores-chart.component.ts
Labels: ready for review, client, ready to merge

#4496 `Programming exercises`: Increase the legend's readability of charts in feedback details
  src/main/webapp/app/exercises/shared/result/result-detail.scss
Labels: ready for review, client, small, ready to merge

#4443 `Development`: Modernize appearance of charts on programming exercise grading page
  src/main/webapp/app/exercises/programming/manage/grading/charts/programming-grading-charts.utils.ts
  src/main/webapp/app/exercises/programming/manage/grading/charts/sca-category-distribution-chart.component.ts
  src/main/webapp/app/exercises/programming/manage/grading/charts/sca-category-distribution-chart.scss
  src/main/webapp/app/exercises/programming/manage/grading/charts/test-case-distribution-chart.component.ts
  src/main/webapp/app/exercises/programming/manage/grading/programming-exercise-grading.module.ts
  src/main/webapp/app/shared/chart/presets/horizontalStackedBarChartPreset.ts
  src/main/webapp/app/shared/chart/presets/scoreChartPreset.ts
  src/main/webapp/i18n/de/programmingAssessment.json
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/programmingAssessment.json
  src/main/webapp/i18n/en/programmingExercise.json
Labels: ready for review, client, ready to merge

#4453 `Programming exercises`: Fix issues with plagiarism checks
  build.gradle
  libs/jplag-3.0.0.jar
  src/main/java/de/tum/in/www1/artemis/domain/plagiarism/PlagiarismComparison.java
  src/main/java/de/tum/in/www1/artemis/domain/plagiarism/PlagiarismMatch.java
  src/main/java/de/tum/in/www1/artemis/domain/plagiarism/PlagiarismSubmission.java
  src/main/java/de/tum/in/www1/artemis/domain/plagiarism/text/TextPlagiarismResult.java
  src/main/java/de/tum/in/www1/artemis/domain/plagiarism/text/TextSubmissionElement.java
  src/main/java/de/tum/in/www1/artemis/service/plagiarism/ProgrammingPlagiarismDetectionService.java
  src/main/java/de/tum/in/www1/artemis/service/plagiarism/TextPlagiarismDetectionService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextExerciseResource.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseIntegrationTestService.java
Labels: tests, ready for review, server

#4487 `Programming exercises`: Improve build triggers by instructors
  src/main/java/de/tum/in/www1/artemis/config/SAML2Configuration.java
  src/main/java/de/tum/in/www1/artemis/domain/participation/ParticipationInterface.java
  src/main/java/de/tum/in/www1/artemis/repository/ProgrammingExerciseStudentParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/GitService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/athene/AtheneService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/BambooBuildPlanService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/ProgrammingExerciseScheduleService.java
  src/main/java/de/tum/in/www1/artemis/service/util/UrlUtils.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingSubmissionResource.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingSubmissionAndResultBitbucketBambooIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/Verifiable.java
Labels: tests, ready for review, server, component:Programming, ready to merge

#4510 `General`: Fix an issue with routing URLs outside of the main web page
  ngsw-config.json
Labels: ready for review

#4397 `Assessment`: Improved assesment view for instructors
  src/main/webapp/app/assessment/assessment-header/assessment-header.component.html
  src/main/webapp/app/assessment/assessment-header/assessment-header.component.ts
  src/main/webapp/app/assessment/assessment-layout/assessment-layout.component.html
  src/main/webapp/app/assessment/assessment-layout/assessment-layout.component.ts
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment-editor/modeling-assessment-editor.component.html
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment-editor/modeling-assessment-editor.component.ts
  src/main/webapp/app/exercises/shared/example-submission/example-submission-import/example-submission-import.component.html
  src/main/webapp/app/exercises/text/assess/text-submission-assessment.component.html
  src/main/webapp/app/exercises/text/assess/text-submission-assessment.component.ts
  src/main/webapp/i18n/de/assessment.json
  src/main/webapp/i18n/de/exampleSubmission.json
  src/main/webapp/i18n/en/assessment.json
  src/main/webapp/i18n/en/exampleSubmission.json
  src/test/javascript/spec/component/modeling-assessment-editor/modeling-assessment-editor.component.spec.ts
  src/test/javascript/spec/component/text-submission-assessment/text-submission-assessment.component.spec.ts
Labels: tests, client, ready to merge

#4514 `Development`: Use id selectors for quiz drag items in cypress e2e tests
  src/main/webapp/app/exercises/quiz/manage/drag-and-drop-question/drag-and-drop-question-edit.component.html
  src/main/webapp/app/exercises/quiz/manage/statistics/drag-and-drop-question-statistic/drag-and-drop-question-statistic.component.html
  src/main/webapp/app/exercises/quiz/shared/questions/drag-and-drop-question/drag-and-drop-question.component.html
  src/test/cypress/integration/exercises/quiz-exercise/QuizExerciseParticipation.spec.ts
  src/test/cypress/support/pageobjects/exercises/quiz/DragAndDropQuiz.ts
  src/test/cypress/support/pageobjects/exercises/quiz/QuizExerciseCreationPage.ts
Labels: tests, client, small, cypress

#4480 `Development`: Fix client test memory leaks and migrate client tests from sinon to jest
  src/main/webapp/app/entities/build-log.model.ts
  src/main/webapp/app/exam/participate/exam-cover/exam-participation-cover.component.ts
  src/test/javascript/spec/component/exam/participate/exam-participation-cover.component.spec.ts
  src/test/javascript/spec/component/exam/participate/exam-participation.component.spec.ts
  src/test/javascript/spec/component/team/teams-import-from-file-form.component.spec.ts
  src/test/javascript/spec/component/text-submission-assessment/manual-textblock-selection.component.spec.ts
  src/test/javascript/spec/directive/custom-pattern-validator.directive.spec.ts
  src/test/javascript/spec/directive/delete-dialog.directive.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-exam-participation.service.ts
  src/test/javascript/spec/helpers/sample/build-logs.ts
  src/test/javascript/spec/integration/code-editor/code-editor-container.integration.spec.ts
  src/test/javascript/spec/integration/code-editor/code-editor-instructor.integration.spec.ts
  src/test/javascript/spec/pipe/artemis-date.pipe.spec.ts
  src/test/javascript/spec/pipe/reacting-users-on-posting.pipe.spec.ts
  src/test/javascript/spec/service/example-submission.service.spec.ts
  src/test/javascript/spec/service/file-upload-assessment.service.spec.ts
  src/test/javascript/spec/service/rating.service.spec.ts
  src/test/javascript/spec/util/shared/sort-by.directive.spec.ts
  src/test/javascript/spec/util/shared/sort.directive.spec.ts
  src/test/javascript/spec/util/shared/translate.directive.spec.ts
  src/test/javascript/spec/util/shared/utils.spec.ts
Labels: tests, ready for review, client

#4498 `General`: Fix course card style and improve course overview top bar
  src/main/webapp/app/overview/course-card.component.html
  src/main/webapp/app/overview/course-exercises/course-exercises.component.html
  src/main/webapp/app/overview/course-exercises/course-exercises.component.ts
  src/main/webapp/app/overview/course-lectures/course-lectures.component.html
  src/main/webapp/app/overview/course-lectures/course-lectures.component.ts
  src/main/webapp/app/overview/course-overview.component.html
  src/main/webapp/app/overview/course-overview.component.ts
  src/main/webapp/app/overview/course-overview.scss
  src/main/webapp/app/overview/course-statistics/course-statistics.component.html
  src/main/webapp/app/overview/course-statistics/course-statistics.component.ts
  src/test/javascript/spec/component/course/course-exercises.component.spec.ts
  src/test/javascript/spec/component/course/course-overview.component.spec.ts
  src/test/javascript/spec/integration/course/course-overview-exercise-list-controls.integration.spec.ts
Labels: enhancement, tests, client, ready to merge

#4519 `Development`: Allow missing javadoc for server tests in checkstyle configuration
  checkstyle.xml
Labels: ready for review, code quality, small, build system

#4520 `Development`: Reduce code duplication in statistics server integration test
  src/test/java/de/tum/in/www1/artemis/StatisticsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseIntegrationTestService.java
  src/test/java/de/tum/in/www1/artemis/util/CourseTestService.java
Labels: tests, ready for review, server, code quality, small

#4503 `Assessment`: Show ∞ symbol for grading instructions without limit
  src/main/webapp/app/assessment/structured-grading-instructions-assessment-layout/structured-grading-instructions-assessment-layout.component.html
  src/main/webapp/app/assessment/structured-grading-instructions-assessment-layout/structured-grading-instructions-assessment-layout.component.scss
  src/main/webapp/app/assessment/structured-grading-instructions-assessment-layout/structured-grading-instructions-assessment-layout.component.ts
Labels: enhancement, ready for review, client, small, ready to merge

#4479 `Development`: Modernize appearance of quiz statistics
  src/main/webapp/app/exercises/quiz/manage/statistics/drag-and-drop-question-statistic/drag-and-drop-question-statistic.component.html
  src/main/webapp/app/exercises/quiz/manage/statistics/drag-and-drop-question-statistic/drag-and-drop-question-statistic.component.ts
  src/main/webapp/app/exercises/quiz/manage/statistics/multiple-choice-question-statistic/multiple-choice-question-statistic.component.html
  src/main/webapp/app/exercises/quiz/manage/statistics/multiple-choice-question-statistic/multiple-choice-question-statistic.component.ts
  src/main/webapp/app/exercises/quiz/manage/statistics/question-statistic.component.ts
  src/main/webapp/app/exercises/quiz/manage/statistics/quiz-point-statistic/quiz-point-statistic.component.html
  src/main/webapp/app/exercises/quiz/manage/statistics/quiz-point-statistic/quiz-point-statistic.component.scss
  src/main/webapp/app/exercises/quiz/manage/statistics/quiz-point-statistic/quiz-point-statistic.component.ts
  src/main/webapp/app/exercises/quiz/manage/statistics/quiz-statistic.module.ts
  src/main/webapp/app/exercises/quiz/manage/statistics/quiz-statistic/quiz-statistic.component.html
  src/main/webapp/app/exercises/quiz/manage/statistics/quiz-statistic/quiz-statistic.component.ts
  src/main/webapp/app/exercises/quiz/manage/statistics/quiz-statistic/quiz-statistics.utils.ts
  src/main/webapp/app/exercises/quiz/manage/statistics/quiz-statistics.directive.ts
  src/main/webapp/app/exercises/quiz/manage/statistics/short-answer-question-statistic/short-answer-question-statistic.component.html
  src/main/webapp/app/exercises/quiz/manage/statistics/short-answer-question-statistic/short-answer-question-statistic.component.ts
  src/test/javascript/spec/component/quiz-statistic/drag-and-drop-statistic.component.spec.ts
  src/test/javascript/spec/component/quiz-statistic/multiple-choice-question-statistic.component.spec.ts
  src/test/javascript/spec/component/quiz-statistic/quiz-point-statistic.component.spec.ts
  src/test/javascript/spec/component/quiz-statistic/quiz-statistic.component.spec.ts
  src/test/javascript/spec/component/quiz-statistic/short-answer-question-statistic.component.spec.ts
Labels: tests, ready for review, client, ready to merge

#4308 `Programming exercises`: Show input errors on exercise creation aggregated on footer
  src/main/webapp/app/entities/exercise.model.ts
  src/main/webapp/app/exercises/programming/manage/programming-exercise-form.scss
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.html
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.ts
  src/main/webapp/app/exercises/quiz/manage/quiz-confirm-import-invalid-questions-modal.component.ts
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise-detail.component.ts
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise-validation.directive.ts
  src/main/webapp/app/exercises/shared/submission-policy/submission-policy-update.component.ts
  src/main/webapp/i18n/de/exercise.json
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/exercise.json
  src/main/webapp/i18n/en/programmingExercise.json
  src/test/javascript/spec/component/programming-exercise/programming-exercise-update.component.spec.ts
  src/test/javascript/spec/component/shared/submission-policy-update.component.spec.ts
Labels: tests, ready for review, client

#4526 `Programming exercises`: Fix validation for the creation of programming exercise for languages C, Python and empty
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-update.component.spec.ts
Labels: tests, ready for review, client

#4465 `Development`: Improve selectors used in cypress e2e tests for quizzes and lectures
  src/main/webapp/app/course/manage/detail/course-detail.component.html
  src/main/webapp/app/exercises/quiz/manage/drag-and-drop-question/drag-and-drop-question-edit.component.html
  src/main/webapp/app/exercises/quiz/manage/short-answer-question/short-answer-question-edit.component.html
  src/main/webapp/app/exercises/quiz/manage/statistics/drag-and-drop-question-statistic/drag-and-drop-question-statistic.component.html
  src/main/webapp/app/exercises/quiz/shared/questions/drag-and-drop-question/drag-and-drop-question.component.html
  src/main/webapp/app/exercises/quiz/shared/questions/multiple-choice-question/multiple-choice-question.component.html
  src/main/webapp/app/exercises/quiz/shared/questions/short-answer-question/short-answer-question.component.html
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/text-unit-form/text-unit-form.component.html
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/unit-creation-card/unit-creation-card.component.html
  src/main/webapp/app/lecture/lecture-update.component.html
  src/main/webapp/app/lecture/lecture.component.html
  src/main/webapp/app/overview/submission-result-status.component.html
  src/test/cypress/integration/exam/ExamAssessment.spec.ts
  src/test/cypress/integration/exam/ExamParticipation.spec.ts
  src/test/cypress/integration/exercises/quiz-exercise/QuizExerciseAssessment.spec.ts
  src/test/cypress/integration/exercises/quiz-exercise/QuizExerciseManagement.spec.ts
  src/test/cypress/integration/exercises/quiz-exercise/QuizExerciseParticipation.spec.ts
  src/test/cypress/integration/lecture/LectureManagement.spec.ts
  src/test/cypress/support/pageobjects/exercises/quiz/DragAndDropQuiz.ts
  src/test/cypress/support/pageobjects/exercises/quiz/MultipleChoiceQuiz.ts
  src/test/cypress/support/pageobjects/exercises/quiz/QuizExerciseCreationPage.ts
  src/test/cypress/support/pageobjects/exercises/quiz/ShortAnswerQuiz.ts
  src/test/cypress/support/pageobjects/lecture/LectureCreationPage.ts
  src/test/cypress/support/pageobjects/lecture/LectureManagementPage.ts
Labels: tests, ready for review, client, cypress

#4529 `Programming exercises`: Fix passed test cases bars layout on the grading page
  src/main/webapp/app/exercises/programming/manage/grading/charts/test-case-passed-builds-chart.component.ts
Labels: client

#4517 `Assessment`: Add option to hide optional exercises in assessment dashboard
  src/main/webapp/app/course/dashboards/assessment-dashboard/assessment-dashboard.component.html
  src/main/webapp/app/course/dashboards/assessment-dashboard/assessment-dashboard.component.ts
  src/main/webapp/i18n/de/assessmentDashboard.json
  src/main/webapp/i18n/en/assessmentDashboard.json
  src/test/javascript/spec/component/assessment-dashboard/assessment-dashboard.component.spec.ts
Labels: feature, tests, ready for review, client, small

#4531 `General`: Fix alert layout
  src/main/webapp/content/scss/global.scss
Labels: client, ready to merge

#4527 `Development`: Increase client test coverage of programming grading and assessment dashboard charts
  src/test/javascript/spec/component/assessment-dashboard/assessment-dashboard-information.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/sca-category-distribution-chart.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/test-case-distribution-chart.component.spec.ts
Labels: tests, ready for review, ready to merge

#4522 `Development`: Modernize appearance of course, exercise and user statistics
  src/main/webapp/app/exam/exam-scores/exam-scores.component.scss
  src/main/webapp/app/exam/exam-scores/exam-scores.component.ts
  src/main/webapp/app/exercises/shared/statistics/exercise-statistics.component.html
  src/main/webapp/app/overview/visualizations/exercise-scores-chart/exercise-scores-chart.component.scss
  src/main/webapp/app/shared/chart/vertical-bar-chart.scss
  src/main/webapp/app/shared/statistics-graph/statistics-average-score-graph.component.html
  src/main/webapp/app/shared/statistics-graph/statistics-average-score-graph.component.ts
  src/main/webapp/app/shared/statistics-graph/statistics-graph.component.html
  src/main/webapp/app/shared/statistics-graph/statistics-graph.component.ts
  src/main/webapp/app/shared/statistics-graph/statistics-graph.utils.ts
  src/main/webapp/app/shared/statistics-graph/statistics-score-distribution-graph.component.html
  src/main/webapp/app/shared/statistics-graph/statistics-score-distribution-graph.component.ts
  src/main/webapp/i18n/en/course.json
  src/test/javascript/spec/component/statistics/statistics-average-score-graph.component.spec.ts
  src/test/javascript/spec/component/statistics/statistics-graph.component.spec.ts
  src/test/javascript/spec/component/statistics/statistics-score-distribution-graph.component.spec.ts
Labels: tests, ready for review, client, ready to merge

#4509 `Development`: Modernize appearance of plagiarism similarity distribution and tutor effort statistics
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-run-details/plagiarism-and-tutor-effort.directive.ts
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-run-details/plagiarism-run-details.component.html
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-run-details/plagiarism-run-details.component.scss
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-run-details/plagiarism-run-details.component.ts
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism.module.ts
  src/main/webapp/app/exercises/text/manage/tutor-effort/tutor-effort-statistics.component.html
  src/main/webapp/app/exercises/text/manage/tutor-effort/tutor-effort-statistics.component.ts
  src/main/webapp/app/exercises/text/manage/tutor-effort/tutor-effort-statistics.module.ts
  src/test/javascript/spec/component/plagiarism/plagiarism-run-details.component.spec.ts
  src/test/javascript/spec/component/text-exercise/tutor-effort-statistics.component.spec.ts
Labels: tests, ready for review, client, ready to merge

#4534 `Assessment`: Fix missing translation on example submission board
  src/main/webapp/app/exercises/shared/example-submission/example-submissions.component.html
Labels: client, small, ready to merge

#4536 `Development`: Update dependencies
  build.gradle
  gradle.properties
  package-lock.json
  package.json
  src/test/resources/logback.xml
  webpack/webpack.custom.js
Labels: tests, ready for review, dependencies

#4540 `Development`: Fix cypress e2e tests for exercise assessments
  src/test/cypress/integration/exercises/modeling/ModelingExerciseAssessment.spec.ts
  src/test/cypress/integration/exercises/programming/ProgrammingExerciseAssessment.spec.ts
  src/test/cypress/integration/exercises/text/TextExerciseAssessment.spec.ts
  src/test/cypress/support/pageobjects/assessment/CourseAssessmentDashboardPage.ts
Labels: tests, ready for review, cypress

#4513 `Development`: Use id selectors in cypress e2e tests for text exercises
  src/main/webapp/app/exam/participate/exam-navigation-bar/exam-navigation-bar.component.html
  src/main/webapp/app/exam/participate/exercises/text/text-exam-submission.component.html
  src/main/webapp/app/exercises/shared/example-submission/example-submissions.component.html
  src/main/webapp/app/exercises/shared/exercise-headers/header-participation-page.component.html
  src/main/webapp/app/exercises/text/assess/text-assessment-area/text-assessment-area.component.html
  src/main/webapp/app/exercises/text/assess/textblock-feedback-editor/textblock-feedback-editor.component.html
  src/main/webapp/app/exercises/text/manage/example-text-submission/example-text-submission.component.html
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise-update.component.html
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise.component.html
  src/main/webapp/app/exercises/text/participate/text-editor.component.html
  src/main/webapp/app/exercises/text/participate/text-result/text-result.component.html
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.html
  src/main/webapp/app/overview/exercise-details/exercise-details-student-actions.component.html
  src/test/cypress/integration/exam/ExamAssessment.spec.ts
  src/test/cypress/integration/exam/ExamDateVerification.spec.ts
  src/test/cypress/integration/exercises/text/TextExerciseAssessment.spec.ts
  src/test/cypress/integration/exercises/text/TextExerciseManagement.spec.ts
  src/test/cypress/integration/exercises/text/TextExerciseParticipation.spec.ts
  src/test/cypress/support/pageobjects/assessment/TextExerciseAssessmentPage.ts
  src/test/cypress/support/pageobjects/exam/ExamNavigationBar.ts
  src/test/cypress/support/pageobjects/exercises/ExerciseResultPage.ts
  src/test/cypress/support/pageobjects/exercises/modeling/ModelingEditor.ts
  src/test/cypress/support/pageobjects/exercises/text/TextEditorPage.ts
  src/test/cypress/support/pageobjects/exercises/text/TextExerciseCreationPage.ts
  src/test/cypress/support/pageobjects/exercises/text/TextExerciseExampleSubmissionCreationPage.ts
  src/test/cypress/support/pageobjects/exercises/text/TextExerciseExampleSubmissionsPage.ts
  src/test/cypress/support/pageobjects/exercises/text/TextExerciseFeedbackPage.ts
Labels: tests, ready for review, client, refactoring, cypress, ready to merge

#4541 `General`: Fix missing icon imports
  src/main/webapp/app/overview/result-history/result-history.component.ts
  src/test/javascript/spec/component/overview/result-history/result-history.component-spec.ts
Labels: tests, ready for review, client

#4543 `Development`: Add missing client tests for Orion components
  src/test/javascript/spec/component/orion/modal-confirm-autofocus.component.spec.ts
  src/test/javascript/spec/component/orion/orion-course-management-exercises.component.spec.ts
Labels: tests, client, small

#4372 `Development`: Speed up client tests for code editor container
  src/test/javascript/spec/integration/code-editor/code-editor-container.integration.spec.ts
Labels: tests, ready for review, client

#4469 `Development`: Add a Java migration tool
  build.gradle
  docs/dev/migration.rst
  docs/dev/migration/data.rst
  docs/dev/migration/structure.rst
  docs/index.rst
  docs/requirements.txt
  src/main/java/de/tum/in/www1/artemis/config/migration/MigrationEntry.java
  src/main/java/de/tum/in/www1/artemis/config/migration/MigrationIntegrityException.java
  src/main/java/de/tum/in/www1/artemis/config/migration/MigrationRegistry.java
  src/main/java/de/tum/in/www1/artemis/config/migration/MigrationService.java
  src/main/java/de/tum/in/www1/artemis/domain/MigrationChangelog.java
  src/main/java/de/tum/in/www1/artemis/repository/MigrationChangeRepository.java
  src/main/resources/config/liquibase/changelog/20211208041300_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/test/java/de/tum/in/www1/artemis/migration/MigrationIntegrityTest.java
  src/test/java/de/tum/in/www1/artemis/migration/MigrationServiceTest.java
  src/test/java/de/tum/in/www1/artemis/migration/entries/TestChangeEntry20211214_231800.java
  src/test/java/de/tum/in/www1/artemis/migration/entries/TestChangeEntry20211215_231800.java
  src/test/java/de/tum/in/www1/artemis/migration/entries/TestChangeEntry20211216_231800.java
Labels: tests, server, documentation, database, ready to merge

#4533 `Development`: Use id selectors in cypress e2e tests for exam participation
  src/main/webapp/app/exam/participate/exam-cover/exam-participation-cover.component.html
  src/main/webapp/app/exam/participate/exam-navigation-bar/exam-navigation-bar.component.html
  src/main/webapp/app/overview/course-card.component.html
  src/main/webapp/app/overview/course-exams/course-exam-detail/course-exam-detail.component.html
  src/main/webapp/app/overview/course-overview.component.html
  src/test/cypress/integration/exam/ExamParticipation.spec.ts
  src/test/cypress/integration/exercises/programming/ProgrammingExerciseParticipation.spec.ts
  src/test/cypress/integration/exercises/programming/ProgrammingExerciseStaticCodeAnalysis.spec.ts
  src/test/cypress/support/pageobjects/course/CourseOverviewPage.ts
  src/test/cypress/support/pageobjects/course/CoursesPage.ts
  src/test/cypress/support/pageobjects/exam/ExamNavigationBar.ts
  src/test/cypress/support/pageobjects/exam/ExamStartEndPage.ts
  src/test/cypress/support/pageobjects/exercises/programming/OnlineEditorPage.ts
Labels: tests, ready for review, client, cypress, ready to merge

#4392 `Development`: Fix flakiness in cypress e2e tests for programming exercise assessments
  src/test/cypress/integration/exercises/programming/ProgrammingExerciseAssessment.spec.ts
  src/test/cypress/support/pageobjects/exercises/AbstractExerciseFeedbackPage.ts
  src/test/cypress/support/pageobjects/exercises/ExerciseResultPage.ts
  src/test/cypress/support/pageobjects/exercises/programming/ProgrammingExerciseFeedbackPage.ts
  src/test/cypress/support/requests/CourseManagementRequests.ts
Labels: tests, ready for review, FlakyTestFix, cypress

#4462 `Development`: Increase code quality for notification target
  src/main/java/de/tum/in/www1/artemis/domain/notification/ExamNotificationTargetWithoutProblemStatement.java
  src/main/java/de/tum/in/www1/artemis/domain/notification/GroupNotificationFactory.java
  src/main/java/de/tum/in/www1/artemis/domain/notification/Notification.java
  src/main/java/de/tum/in/www1/artemis/domain/notification/NotificationTarget.java
  src/main/java/de/tum/in/www1/artemis/domain/notification/NotificationTargetFactory.java
  src/main/java/de/tum/in/www1/artemis/domain/notification/SingleUserNotificationFactory.java
  src/main/java/de/tum/in/www1/artemis/service/MailService.java
  src/main/java/de/tum/in/www1/artemis/service/notifications/GroupNotificationService.java
  src/main/java/de/tum/in/www1/artemis/service/notifications/NotificationTargetProvider.java
  src/main/webapp/app/shared/notification/notification.service.ts
  src/test/java/de/tum/in/www1/artemis/NotificationResourceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/domain/notification/ExamNotificationTargetWithoutProblemStatementTest.java
  src/test/java/de/tum/in/www1/artemis/domain/notification/GroupNotificationFactoryTest.java
  src/test/java/de/tum/in/www1/artemis/domain/notification/SingleUserNotificationFactoryTest.java
  src/test/java/de/tum/in/www1/artemis/service/notifications/GroupNotificationServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/notifications/NotificationSettingsServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/notifications/NotificationTargetFactoryTest.java
  src/test/java/de/tum/in/www1/artemis/service/notifications/SingleUserNotificationServiceTest.java
Labels: tests, ready for review, server, client, code quality, refactoring, notification system, ready to merge, email

#4550 `Development`: Fix cypress e2e tests for exercise participations
  src/test/cypress/integration/exercises/modeling/ModelingExerciseParticipation.spec.ts
  src/test/cypress/integration/exercises/quiz-exercise/QuizExerciseParticipation.spec.ts
  src/test/cypress/integration/exercises/text/TextExerciseParticipation.spec.ts
  src/test/cypress/support/pageobjects/course/CourseOverviewPage.ts
  src/test/cypress/support/pageobjects/exercises/programming/OnlineEditorPage.ts
Labels: tests, ready for review, cypress, ready to merge

#4511 `Development`: Improve selectors used in e2e cypress tests for exam management
  src/main/webapp/app/exam/manage/exam-management.component.html
  src/main/webapp/app/exam/manage/exams/exam-update.component.html
  src/main/webapp/app/exam/manage/exercise-groups/exercise-group-update.component.html
  src/main/webapp/app/exam/manage/exercise-groups/exercise-groups.component.html
  src/main/webapp/app/exam/manage/students/exam-students.component.html
  src/test/cypress/integration/exam/ExamCreationDeletion.spec.ts
  src/test/cypress/integration/exam/ExamManagement.spec.ts
  src/test/cypress/support/pageobjects/exam/ExamCreationPage.ts
  src/test/cypress/support/pageobjects/exam/ExamExerciseGroupCreationPage.ts
  src/test/cypress/support/pageobjects/exam/ExamExerciseGroupsPage.ts
  src/test/cypress/support/pageobjects/exam/ExamManagementPage.ts
Labels: tests, ready for review, client, cypress

#4390 `Development`: Improve grouping of page objects in e2e cypress tests
  src/main/webapp/app/exam/manage/students/exam-students.component.html
  src/test/cypress/integration/exam/ExamAssessment.spec.ts
  src/test/cypress/integration/exam/ExamCreationDeletion.spec.ts
  src/test/cypress/integration/exam/ExamDateVerification.spec.ts
  src/test/cypress/integration/exam/ExamManagement.spec.ts
  src/test/cypress/integration/exam/ExamParticipation.spec.ts
  src/test/cypress/integration/exercises/modeling/ModelingExerciseAssessment.spec.ts
  src/test/cypress/integration/exercises/modeling/ModelingExerciseManagement.spec.ts
  src/test/cypress/integration/exercises/modeling/ModelingExerciseParticipation.spec.ts
  src/test/cypress/integration/exercises/programming/ProgrammingExerciseAssessment.spec.ts
  src/test/cypress/integration/exercises/programming/ProgrammingExerciseManagement.spec.ts
  src/test/cypress/integration/exercises/programming/ProgrammingExerciseParticipation.spec.ts
  src/test/cypress/integration/exercises/programming/ProgrammingExerciseStaticCodeAnalysis.spec.ts
  src/test/cypress/integration/exercises/quiz-exercise/QuizExerciseManagement.spec.ts
  src/test/cypress/integration/exercises/quiz-exercise/QuizExerciseParticipation.spec.ts
  src/test/cypress/integration/exercises/text/TextExerciseAssessment.spec.ts
  src/test/cypress/integration/exercises/text/TextExerciseManagement.spec.ts
  src/test/cypress/integration/exercises/text/TextExerciseParticipation.spec.ts
  src/test/cypress/support/pageobjects/ArtemisPageobjects.ts
  src/test/cypress/support/pageobjects/exercises/programming/OnlineEditorPage.ts
Labels: tests, ready for review, client, chore, code quality, refactoring, small, cypress

#4544 `Development`: Improve selectors used in e2e cypress tests for exam dates
  src/main/webapp/app/exam/participate/exam-cover/exam-participation-cover.component.html
  src/main/webapp/app/overview/course-exams/course-exams.component.html
  src/main/webapp/app/overview/course-overview.component.html
  src/test/cypress/integration/exam/ExamDateVerification.spec.ts
  src/test/cypress/support/pageobjects/course/CourseOverviewPage.ts
Labels: tests, ready for review, client, cypress, ready to merge

#4398 `Notifications`: Send an email when Artemis detects duplicated test cases during the creation of programming exercises
  src/main/java/de/tum/in/www1/artemis/domain/enumeration/ExerciseType.java
  src/main/java/de/tum/in/www1/artemis/domain/notification/GroupNotification.java
  src/main/java/de/tum/in/www1/artemis/domain/notification/GroupNotificationFactory.java
  src/main/java/de/tum/in/www1/artemis/domain/notification/NotificationTarget.java
  src/main/java/de/tum/in/www1/artemis/domain/notification/NotificationTargetFactory.java
  src/main/java/de/tum/in/www1/artemis/service/MailService.java
  src/main/java/de/tum/in/www1/artemis/service/notifications/NotificationSettingsService.java
  src/main/resources/i18n/messages.properties
  src/main/resources/i18n/messages_de.properties
  src/main/resources/i18n/messages_en.properties
  src/main/resources/templates/mail/notification/duplicateTestCasesEmail.html
  src/main/webapp/app/shared/constants/user-settings.constants.ts
  src/test/java/de/tum/in/www1/artemis/domain/notification/GroupNotificationFactoryTest.java
Labels: tests, ready for review, server, client, ready to merge, email
