Repository ls1intum/Artemis, pull requests merged in 2021-05, with the labels that each got.

#3334 Change quiz export filename to quiz title
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise.component.ts
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise.service.ts
  src/main/webapp/app/exercises/shared/exam-exercise-row-buttons/exam-exercise-row-buttons.component.ts
  src/test/javascript/spec/component/exam-exercise-row-buttons/exam-exercise-row-buttons.component.spec.ts
Labels: client, component:Quiz, enhancement, ready for review, small

#3315 Chore/test/k6 modeling exercise
  src/test/k6/ModelingExerciseAPIs.js
  src/test/k6/requests/course.js
  src/test/k6/requests/endpoints.js
  src/test/k6/requests/modeling.js
  src/test/k6/requests/user.js
Labels: ready for review

#3290 Allow fullscreen lecture units for more browsers
  src/main/java/de/tum/in/www1/artemis/config/SecurityConfiguration.java
  src/main/webapp/app/overview/course-lectures/video-unit/video-unit.component.html
Labels: client, ready for review, server

#3343 Add editor to PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: ready for review, small

#3346 Fix text overlaps in the management overview
  src/main/webapp/app/course/manage/overview/course-management-card.scss
  src/main/webapp/app/course/manage/overview/course-management-exercise-row.component.html
  src/main/webapp/app/course/manage/overview/course-management-exercise-row.scss
  src/main/webapp/i18n/de/course.json
Labels: client, ready for review

#3341 Allow editors to edit lectures and units
  src/main/java/de/tum/in/www1/artemis/service/AuthorizationCheckService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/AttachmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/LectureResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/lecture/AttachmentUnitResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/lecture/ExerciseUnitResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/lecture/LectureUnitResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/lecture/TextUnitResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/lecture/VideoUnitResource.java
  src/main/webapp/app/course/manage/overview/course-management-card.component.html
  src/main/webapp/app/entities/lecture.model.ts
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/lecture-unit-management.component.html
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/lecture-unit-management.route.ts
  src/main/webapp/app/lecture/lecture.component.html
  src/main/webapp/app/lecture/lecture.route.ts
  src/main/webapp/app/lecture/lecture.service.ts
Labels: client, enhancement, ready for review, server

#3349 [Bugfix] Show Page Title on Exercise Assesment Dashboard
  src/main/webapp/app/exercises/shared/exercise-headers/header-exercise-page-with-details.component.html
Labels: client, ready for review, small

#3347 [Client-Tests] - Instructor Course Dashboard
  src/test/javascript/spec/component/course/instructor-course-dashboard.component.spec.ts
Labels: ready for review, tests

#3353 Bugfix/deactivate compass
  build.gradle
  src/main/java/de/tum/in/www1/artemis/config/Constants.java
  src/main/java/de/tum/in/www1/artemis/service/ExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/compass/CompassService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/FileUploadExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/QuizExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextExerciseResource.java
  src/main/webapp/app/entities/modeling-exercise.model.ts
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise-update.component.html
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise-update.component.ts
  src/test/java/de/tum/in/www1/artemis/ModelingAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ModelingExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ModelingSubmissionIntegrationTest.java
Labels: client, server

#3304 Chore/test coverage/modeling exercise manage
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise-import.component.ts
  src/test/javascript/spec/component/modeling-exercise/modeling-exercise-detail.component.spec.ts
  src/test/javascript/spec/component/modeling-exercise/modeling-exercise-import.component.spec.ts
  src/test/javascript/spec/component/modeling-exercise/modeling-exercise-update.component.spec.ts
  src/test/javascript/spec/component/modeling-exercise/modeling-exercise.component.spec.ts
  src/test/javascript/spec/service/modeling-exercise-paging.service.spec.ts
  src/test/javascript/spec/service/modeling-exercise.service.spec.ts
Labels: client, ready for review

#3337 [Chore] Improve test coverage for QuizExerciseResource
  src/main/java/de/tum/in/www1/artemis/web/rest/QuizExerciseResource.java
  src/test/java/de/tum/in/www1/artemis/QuizExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
Labels: chore, ready for review, server

#3357 Remove unused imports to fix style warnings
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/create-exercise-unit/create-exercise-unit.component.ts
  src/test/javascript/spec/helpers/mocks/service/mock-auth-server-provider.service.ts
  src/test/javascript/spec/helpers/mocks/service/mock-code-editor-build-log.service.ts
  src/test/k6/ModelingExerciseAPIs.js
Labels: client, ready for review

#3355 [Client-Tests] - Fix asynchronous client tests
  src/test/javascript/spec/service/exercise-hint.service.spec.ts
  src/test/javascript/spec/service/exercise-scores-chart.service.spec.ts
Labels: chore, client, ready for review, tests

#3345 Update apollon to version 2.6.3
  package.json
  yarn.lock
Labels: client, ready for review

#3359 Fix some async tests
  src/test/javascript/spec/component/course/course-exercise-submission-result-simulation.service.spec.ts
  src/test/javascript/spec/component/learning-goals/learning-goal.service.spec.ts
Labels: ready for review

#3373 [Bugfix] Quiz DnD Questions invalid input update
  src/main/webapp/app/exercises/quiz/manage/drag-and-drop-question/drag-and-drop-question-edit.component.ts
Labels: bugfix, client, component:Quiz, ready for review

#3362 [Bugfix] Fix File Upload Editor showing Feedback before Assessment Due Date
  src/main/java/de/tum/in/www1/artemis/web/rest/FileUploadSubmissionResource.java
  src/main/webapp/app/exercises/file-upload/participate/file-upload-submission.component.html
  src/test/java/de/tum/in/www1/artemis/FileUploadSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
Labels: client, component:FileUpload, ready for review, server, small

#3361 Fix Client Tests video-unit & text-unit
  src/test/javascript/spec/component/lecture-unit/text-unit/text-unit.service.spec.ts
  src/test/javascript/spec/component/lecture-unit/video-unit/video-unit.service.spec.ts
Labels: ready for review

#3360 Fixed sentry issue for exercise details overview
  src/main/webapp/app/overview/exercise-details/exercise-details-student-actions.component.ts
Labels: chore, client, ready for review

#3369 Instructor Course Dashboard: Show Submissions Button for Programming Exercises
  src/main/webapp/app/course/dashboards/instructor-course-dashboard/instructor-course-dashboard.component.html
  src/main/webapp/app/course/dashboards/instructor-course-dashboard/instructor-course-dashboard.component.ts
  src/main/webapp/app/utils/navigation.utils.ts
Labels: client, ready for review, small

#3259 [Feature] - Course Management Detail View
  src/main/java/de/tum/in/www1/artemis/domain/statistics/StatisticsEntry.java
  src/main/java/de/tum/in/www1/artemis/repository/CourseRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ParticipantScoreRepository.java
  src/main/java/de/tum/in/www1/artemis/service/CourseService.java
  src/main/java/de/tum/in/www1/artemis/service/ExerciseService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/CourseManagementDetailViewDTO.java
  src/main/webapp/app/course/dashboards/assessment-dashboard/assessment-dashboard.component.ts
  src/main/webapp/app/course/manage/course-detail.component.html
  src/main/webapp/app/course/manage/course-detail.component.scss
  src/main/webapp/app/course/manage/course-management-detail-view-dto.model.ts
  src/main/webapp/app/course/manage/course-management.module.ts
  src/main/webapp/app/course/manage/course-management.route.ts
  src/main/webapp/app/course/manage/course-management.service.ts
  src/main/webapp/app/course/manage/detail/course-detail-bar-chart.component.html
  src/main/webapp/app/course/manage/detail/course-detail-bar-chart.component.scss
  src/main/webapp/app/course/manage/detail/course-detail-bar-chart.component.ts
  src/main/webapp/app/course/manage/detail/course-detail-doughnut-chart.component.html
  src/main/webapp/app/course/manage/detail/course-detail-doughnut-chart.component.scss
  src/main/webapp/app/course/manage/detail/course-detail-doughnut-chart.component.ts
  src/main/webapp/app/course/manage/detail/course-detail.component.html
  src/main/webapp/app/course/manage/detail/course-detail.component.scss
  src/main/webapp/app/course/manage/detail/course-detail.component.ts
  src/main/webapp/i18n/de/course.json
  src/main/webapp/i18n/en/course.json
  src/test/java/de/tum/in/www1/artemis/CourseBitbucketBambooJiraIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/CourseGitlabJenkinsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/CourseServiceTest.java
  src/test/java/de/tum/in/www1/artemis/util/CourseTestService.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/java/de/tum/in/www1/artemis/util/ModelFactory.java
  src/test/javascript/spec/component/course/detail/course-detail-bar-chart.component.spec.ts
  src/test/javascript/spec/component/course/detail/course-detail-doughnut-chart.component.spec.ts
  src/test/javascript/spec/component/course/detail/course-detail.component.spec.ts
Labels: client, ready for review, server

#3367 Use artemisTranslate-Pipe everywhere
  src/main/webapp/app/assessment/assessment-warning/assessment-warning.component.ts
  src/main/webapp/app/course/course-participant-scores/course-participant-scores.component.html
  src/main/webapp/app/course/dashboards/assessment-dashboard/assessment-dashboard-information.component.html
  src/main/webapp/app/exam/manage/exam-participant-scores/exam-participant-scores.component.html
  src/main/webapp/app/exam/manage/student-exams/student-exam-status.component.ts
  src/main/webapp/app/exercises/programming/manage/grading/charts/sca-category-distribution-chart.component.ts
  src/main/webapp/app/exercises/programming/manage/grading/charts/test-case-distribution-chart.component.ts
  src/main/webapp/app/exercises/programming/manage/grading/programming-exercise-configure-grading-status.component.ts
  src/main/webapp/app/exercises/programming/manage/grading/programming-exercise-grading-dirty-warning.component.ts
  src/main/webapp/app/exercises/programming/shared/code-editor/layout/code-editor-repository-is-locked.component.ts
  src/main/webapp/app/exercises/shared/exercise-hint/participate/exercise-hint-student-dialog.component.ts
  src/main/webapp/app/exercises/shared/presentation-score/presentation-score.component.ts
  src/main/webapp/app/shared/components/help-icon.component.ts
  src/main/webapp/app/shared/orion/outdated-plugin-warning/orion-outdated.component.ts
  src/main/webapp/app/shared/participant-scores/participant-scores-tables-container/participant-scores-tables-container.component.html
  src/test/javascript/spec/component/course/course-participant-scores.component.spec.ts
  src/test/javascript/spec/component/exam/exam-participant-scores.component.spec.ts
  src/test/javascript/spec/component/shared/participant-scores-average-table.component.spec.ts
  src/test/javascript/spec/component/shared/participant-scores-table.component.spec.ts
  src/test/javascript/spec/component/shared/participant-scores-tables-container.component.spec.ts
  src/test/javascript/spec/component/team/teams-export-button.component.spec.ts
  src/test/javascript/spec/component/team/teams-import-button.component.spec.ts
Labels: client, ready for review

#3374 [Bugfix] Parsing Error for Student Questions leading to Bad Request
  src/main/java/de/tum/in/www1/artemis/domain/StudentQuestion.java
  src/main/java/de/tum/in/www1/artemis/domain/StudentQuestionAnswer.java
  src/main/java/de/tum/in/www1/artemis/web/rest/StudentQuestionAnswerResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/StudentQuestionResource.java
  src/main/webapp/app/overview/student-questions/student-question-row/student-question-row.component.ts
  src/main/webapp/app/overview/student-questions/student-questions.component.ts
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingSubmissionIntegrationTest.java
Labels: bugfix, client, component:Q&A, priority:critical, ready for review, server

#3292 [Test] Increase test coverage for LtiResource and LtiService
  src/main/java/de/tum/in/www1/artemis/service/connectors/LtiService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/LtiResource.java
  src/test/java/de/tum/in/www1/artemis/AccountResourceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/LtiIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/connectors/LtiServiceTest.java
  src/test/java/de/tum/in/www1/artemis/util/ConfigUtil.java
Labels: ready for review, server

#3364 Fix issues with plagiarism detection on programming exercises
  src/main/java/de/tum/in/www1/artemis/service/connectors/GitService.java
  src/main/java/de/tum/in/www1/artemis/service/plagiarism/ProgrammingPlagiarismDetectionService.java
  src/main/resources/config/liquibase/changelog/20210507092500_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-inspector/plagiarism-inspector.component.html
Labels: client, database, plagiarism detection, ready for review, server

#3342 [Feature] Grading System create/edit page
  src/main/java/de/tum/in/www1/artemis/domain/GradeStep.java
  src/main/java/de/tum/in/www1/artemis/service/GradingScaleService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/GradingScaleResource.java
  src/main/webapp/app/app-routing.module.ts
  src/main/webapp/app/course/manage/course-management.route.ts
  src/main/webapp/app/course/manage/detail/course-detail.component.html
  src/main/webapp/app/entities/grade-step.model.ts
  src/main/webapp/app/entities/grading-scale.model.ts
  src/main/webapp/app/exam/manage/exam-management.route.ts
  src/main/webapp/app/exam/manage/exams/exam-detail.component.html
  src/main/webapp/app/grading-system/grading-system-info-modal/grading-system-info-modal.component.html
  src/main/webapp/app/grading-system/grading-system-info-modal/grading-system-info-modal.component.ts
  src/main/webapp/app/grading-system/grading-system.component.html
  src/main/webapp/app/grading-system/grading-system.component.scss
  src/main/webapp/app/grading-system/grading-system.component.ts
  src/main/webapp/app/grading-system/grading-system.module.ts
  src/main/webapp/app/grading-system/grading-system.service.ts
  src/main/webapp/app/shared/layouts/navbar/navbar.component.ts
  src/main/webapp/i18n/de/course.json
  src/main/webapp/i18n/de/error.json
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/de/gradingSystem.json
  src/main/webapp/i18n/en/course.json
  src/main/webapp/i18n/en/error.json
  src/main/webapp/i18n/en/exam.json
  src/main/webapp/i18n/en/gradingSystem.json
  src/test/java/de/tum/in/www1/artemis/GradingScaleIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/GradingScaleServiceTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/javascript/spec/component/grading-system/grading-system.component.spec.ts
  src/test/javascript/spec/service/grading-system.service.spec.ts
Labels: client, feature, grading system, ready for review, server

#3381 Client test fix for submission and text assessment services
  src/test/javascript/spec/service/submission.service.spec.ts
  src/test/javascript/spec/service/text-assessment.service.spec.ts
Labels: client, ready for review, tests

#3387 remove course update notification when clicking the archive button
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExamResource.java
Labels: ready for review, server, small

#3394 Fix an error when an exercise has no due date defined
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.ts
Labels: client, ready for review

#3397 [Bugfix] TypeError whenever a grading sclale gets deleted
  src/main/webapp/app/entities/grading-scale.model.ts
  src/main/webapp/app/grading-system/grading-system.component.ts
Labels: bugfix, client, grading system, ready for review

#3404 Add --illegal-access=warn to bootRun Gradle Task
  build.gradle
Labels: enhancement, ready for review, small

#3382 [Chore] Client test coverage improvement exercise scores
  .idea/runConfigurations/Artemis__Server_.xml
  src/test/javascript/spec/component/exercises/shared/exercise-scores.component.spec.ts
Labels: chore, client, ready for review, tests

#3408 added myself to the about us page
  src/main/resources/public/content/about-us.json
  src/main/resources/public/images/about/Simon_Entholzer.jpg
Labels: client

#3401 [Sentry-issue] Fix null pointer for Example Submission
  src/main/java/de/tum/in/www1/artemis/domain/ExampleSubmission.java
Labels: bugfix, ready for review, server

#3392 Fix errors when the exercise of the exercise details header is undefined
  src/main/webapp/app/exercises/shared/exercise-headers/header-exercise-page-with-details.component.ts
Labels: client, ready for review

#3415 [Test] Client test fix for structured-grading-criterion.service
  src/test/javascript/spec/service/structured-grading-criterion.service.spec.ts
Labels: chore, client, ready for review, tests

#3400 Change the 'assessment' route to 'submissions'
  src/main/webapp/app/course/manage/overview/course-management-exercise-row.component.html
  src/main/webapp/app/exam/manage/exam-management.route.ts
  src/main/webapp/app/exercises/file-upload/assess/file-upload-assessment.route.ts
  src/main/webapp/app/exercises/file-upload/manage/file-upload-exercise.component.html
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment-editor/modeling-assessment-editor.route.ts
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise.component.html
  src/main/webapp/app/exercises/programming/assess/programming-assessment.route.ts
  src/main/webapp/app/exercises/programming/manage/programming-exercise.component.html
  src/main/webapp/app/exercises/shared/exam-exercise-row-buttons/exam-exercise-row-buttons.component.html
  src/main/webapp/app/exercises/shared/exercise-detail-common-actions/non-programming-exercise-detail-common-actions.component.html
  src/main/webapp/app/exercises/text/assess/text-submission-assessment.route.ts
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise-row-buttons.component.html
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.ts
  src/main/webapp/app/utils/navigation.utils.ts
  src/test/javascript/spec/component/exam/manage/student-exams/student-exam-detail-table-row.component.spec.ts
  src/test/javascript/spec/component/overview/exercise-details/course-exercise-details.component.spec.ts
Labels: client, ready for review

#3393 [Enhancement] - Improve Detail View Performance
  src/main/java/de/tum/in/www1/artemis/service/CourseService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/CourseManagementDetailViewDTO.java
  src/main/webapp/app/course/manage/course-management-detail-view-dto.model.ts
  src/main/webapp/app/course/manage/course-management.service.ts
  src/main/webapp/app/course/manage/detail/course-detail-bar-chart.component.html
  src/main/webapp/app/course/manage/detail/course-detail-bar-chart.component.ts
  src/main/webapp/app/course/manage/detail/course-detail-doughnut-chart.component.html
  src/main/webapp/app/course/manage/detail/course-detail-doughnut-chart.component.scss
  src/main/webapp/app/course/manage/detail/course-detail-doughnut-chart.component.ts
  src/main/webapp/app/course/manage/detail/course-detail.component.html
  src/main/webapp/app/course/manage/detail/course-detail.component.ts
  src/main/webapp/i18n/de/course.json
  src/main/webapp/i18n/en/course.json
  src/test/java/de/tum/in/www1/artemis/util/CourseTestService.java
  src/test/javascript/spec/component/course/detail/course-detail-doughnut-chart.component.spec.ts
  src/test/javascript/spec/component/course/detail/course-detail.component.spec.ts
Labels: client, ready for review, server

#3416 [Bugfix] Displaying programming exercise grading actions to instructors
  src/main/webapp/app/exercises/programming/manage/grading/programming-exercise-configure-grading.component.html
  src/main/webapp/app/exercises/programming/manage/grading/programming-exercise-configure-grading.component.ts
Labels: bugfix, client, ready for review, small

#3418 [Feature] Hide Future Lectures
  src/main/webapp/app/overview/course-lectures/course-lectures.component.ts
Labels: client, feature, ready for review, small

#3410 Refactor Client Side Service Tests for participation.service.ts
  src/test/javascript/spec/service/participation.service.spec.ts
Labels: chore, ready for review, small, tests

#3409 Refactor Client Side Service Tests for programming-exercise.service.ts
  src/test/javascript/spec/service/programming-exercise.service.spec.ts
Labels: chore, ready for review, small, tests

#3417 [Bugfix] Fix maven version in bamboo Dockerfile
  src/main/docker/bamboo/Dockerfile
  src/main/docker/bamboo/swift/Dockerfile
Labels: bamboo/bitbucket, bugfix, ready for review, small

#3428 [Bugfix] - Fix Button colors in exercise detail instructor actions
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.html
Labels: client, ready for review, small

#3425 [bugfix] unchecked call to code editor
  src/main/webapp/app/exercises/programming/manage/code-editor/code-editor-instructor-base-container.component.ts
Labels: bugfix, client, ready for review, small

#3422 Fix flaky download course archive test
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseExportService.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseTestService.java
Labels: ready for review, server, small

#3429 Fix plagiarism issues on text exercises with special characters
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-split-view/plagiarism-split-view.component.ts
Labels: bugfix, client, ready for review, small

#3427 Chore/test/async audits service and configuration service specs
  src/test/javascript/spec/service/audits.service.spec.ts
  src/test/javascript/spec/service/configuration.service.spec.ts
Labels: chore, client, ready for review, tests

#3436 Allow downloading binary files from plagiarism inspector
  src/main/java/de/tum/in/www1/artemis/service/RepositoryService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/repository/RepositoryResource.java
  src/main/webapp/app/exercises/programming/shared/code-editor/service/code-editor-repository.service.ts
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-split-view/text-submission-viewer/text-submission-viewer.component.html
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-split-view/text-submission-viewer/text-submission-viewer.component.scss
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-split-view/text-submission-viewer/text-submission-viewer.component.ts
  src/main/webapp/i18n/de/plagiarism.json
  src/main/webapp/i18n/en/plagiarism.json
  src/test/javascript/spec/component/plagiarism/text-submission-viewer.component.spec.ts
Labels: client, plagiarism detection, ready for review, server

#3430 [Chore] Fixed Text Exercise Service Spec
  src/test/javascript/spec/service/text-exercise.service.spec.ts
Labels: chore, client, ready for review, tests

#3432 [Bugfix] Removing quiz action buttons for editor
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise.component.html
Labels: bugfix, client, ready for review, small

#3446 Documentation Deployment
  .github/workflows/docs.yml
  README.md
Labels: documentation

#3439 [Bugfix] Add missing brace to Scores export button
  src/main/webapp/app/exercises/shared/exercise-scores/exercise-scores.component.html
Labels: bugfix, client, ready for review, small

#3419 [Chore] fix several codacy problems
  .jhipster/QuizQuestion.json
  CONTRIBUTING.md
  README.md
  ruleset.xml
  src/main/java/de/tum/in/www1/artemis/domain/Complaint.java
  src/test/java/de/tum/in/www1/artemis/SystemNotificationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/ExamQuizServiceTest.java
Labels: chore, ready for review, server, work in progress

#3426 [Chore] Adding role access right overview to the documentation
  docs/admin/accessRights.rst
  docs/index.rst
Labels: documentation, ready for review

#3421 [Bugfix] Do not update score if the test weight is zero
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseGradingService.java
Labels: bugfix, ready for review, server, small

#3464 Use Precision class to compare weightSum to 0
  build.gradle
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseGradingService.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseGradingServiceTest.java
Labels: ready for review, server, small

#3386 Refactor Gitlab User Management Service & Increase Coverage
  src/main/java/de/tum/in/www1/artemis/service/connectors/gitlab/GitLabService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/gitlab/GitLabUserManagementService.java
  src/test/java/de/tum/in/www1/artemis/AbstractSpringIntegrationJenkinsGitlabTest.java
  src/test/java/de/tum/in/www1/artemis/CourseGitlabJenkinsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/authentication/UserJenkinsGitlabIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/connector/GitlabRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/util/CourseTestService.java
  src/test/java/de/tum/in/www1/artemis/util/UserTestService.java
Labels: ready for review, server

#3437 [Feature] Grading System - Course and Exam Scores
  src/main/java/de/tum/in/www1/artemis/domain/Exercise.java
  src/main/java/de/tum/in/www1/artemis/domain/GradeStep.java
  src/main/java/de/tum/in/www1/artemis/repository/FeedbackRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/GradingScaleRepository.java
  src/main/java/de/tum/in/www1/artemis/service/GradingScaleService.java
  src/main/java/de/tum/in/www1/artemis/service/exam/ExamService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/GradeStepResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/ExamScoresDTO.java
  src/main/webapp/app/course/course-scores/course-scores.component.html
  src/main/webapp/app/course/course-scores/course-scores.component.ts
  src/main/webapp/app/exam/exam-scores/exam-score-dtos.model.ts
  src/main/webapp/app/exam/exam-scores/exam-scores.component.html
  src/main/webapp/app/exam/exam-scores/exam-scores.component.ts
  src/main/webapp/app/grading-system/grading-system.component.html
  src/main/webapp/app/grading-system/grading-system.component.ts
  src/main/webapp/app/grading-system/grading-system.service.ts
  src/main/webapp/i18n/de/courseScoreCalculation.json
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/en/courseScoreCalculation.json
  src/main/webapp/i18n/en/exam.json
  src/test/java/de/tum/in/www1/artemis/ExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/FileUploadExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/GradingScaleServiceTest.java
  src/test/javascript/spec/component/course/course-scores/course-scores.component.spec.ts
  src/test/javascript/spec/component/exam/exam-scores/exam-scores.component.spec.ts
  src/test/javascript/spec/component/grading-system/grading-system.component.spec.ts
  src/test/javascript/spec/service/grading-system.service.spec.ts
Labels: client, feature, grading system, ready for review, server

#3463 Update server and client dependencies
  build.gradle
  gradle.properties
  gradle/liquibase.gradle
  package.json
  yarn.lock
Labels: chore, client, dependencies, ready for review, server

#3469 [Tests] fixed flaky test
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
Labels: FlakyTestFix, ready for review, server, small, tests

#3465 Improving Test Coverage of QuizSubmissionResource
  src/test/java/de/tum/in/www1/artemis/QuizSubmissionIntegrationTest.java
Labels: chore, ready for review, server, tests

#3468 [Bugfix] Fix Sentry issue: Type Error undefined is not an object
  src/main/webapp/app/exercises/quiz/shared/questions/drag-and-drop-question/drag-and-drop-question.component.ts
Labels: bugfix, client, ready for review

#3474 [Enhancement] - Allow score type change in quiz re-evaluation
  src/main/webapp/app/exercises/file-upload/manage/file-upload-exercise-update.component.html
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise-update.component.html
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.html
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise-detail.component.html
  src/main/webapp/app/exercises/quiz/manage/re-evaluate/quiz-re-evaluate.component.html
  src/main/webapp/app/exercises/quiz/manage/re-evaluate/quiz-re-evaluate.component.ts
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise-update.component.html
  src/main/webapp/i18n/de/exercise.json
  src/main/webapp/i18n/en/exercise.json
  src/test/javascript/spec/component/quiz-exercise/quiz-re-evaluate.component.spec.ts
Labels: client, ready for review

#3471 Remove the legacy popup when deleting a submission
  src/main/webapp/app/exercises/shared/participation-submission/participation-submission-delete-dialog.component.html
  src/main/webapp/app/exercises/shared/participation-submission/participation-submission-delete-dialog.component.ts
  src/main/webapp/app/exercises/shared/participation-submission/participation-submission-popup.service.ts
  src/main/webapp/app/exercises/shared/participation-submission/participation-submission-routing.module.ts
  src/main/webapp/app/exercises/shared/participation-submission/participation-submission.component.html
  src/main/webapp/app/exercises/shared/participation-submission/participation-submission.component.ts
  src/main/webapp/app/exercises/shared/participation-submission/participation-submission.module.ts
  src/main/webapp/app/exercises/shared/submission/submission.service.ts
  src/test/javascript/spec/component/participation-submission/participation-submissions-delete-dialog.component.spec.ts
Labels: client, ready for review

#3473 Add tests for quiz test coverage
  src/test/javascript/spec/component/exercises/quiz/quiz-participation.service.spec.ts
Labels: client, ready for review, tests

#3461 return 0 in case maxPoints is null in the database
  src/main/java/de/tum/in/www1/artemis/domain/exam/Exam.java
  src/main/java/de/tum/in/www1/artemis/service/ParticipantScoreService.java
  src/main/java/de/tum/in/www1/artemis/service/exam/ExamService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExamResource.java
  src/main/webapp/app/entities/exam.model.ts
  src/main/webapp/app/exam/manage/exams/exam-update.component.html
  src/main/webapp/app/exam/manage/exams/exam-update.component.ts
  src/test/javascript/spec/component/exam/exam-update.component.spec.ts
Labels: bugfix, client, ready for review, server

#3479 [Test] Client test fix for modeling-submission.service
  src/test/javascript/spec/service/modeling-submission.service.spec.ts
Labels: client, ready for review

#3462 [Feature] Add build logs on new result for Jenkins
  src/main/java/de/tum/in/www1/artemis/service/BuildLogEntryService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/AbstractContinuousIntegrationService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/BambooService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsBuildLogParseUtils.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsInternalUrlService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/dto/TestResultsDTO.java
  src/test/java/de/tum/in/www1/artemis/connector/JenkinsRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingSubmissionAndResultGitlabJenkinsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/JenkinsInternalUrlServiceTest.java
  src/test/java/de/tum/in/www1/artemis/util/ModelFactory.java
  src/test/resources/test-data/jenkins-response/failed-build-log.html
  src/test/resources/test-data/jenkins-response/failed-build-log.txt
Labels: jenkins/gitlab, ready for review, server

#3483 [Test] Client test fix for the log.service
  src/test/javascript/spec/service/logs.service.spec.ts
Labels: client, small, tests

#3503 [Bug] Fix release date tag in Course Overview and Exercise Details
  src/main/webapp/app/shared/components/not-released-tag.component.html
Labels: bugfix, client

#3502 Fix UI/UX of number inputs in Firefox in plagiarism-inspector
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-inspector/plagiarism-inspector.component.html
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-inspector/plagiarism-inspector.component.scss
Labels: client, plagiarism detection, ready for review, small

#3459 [Bugfix] Fix issues for team assessments
  src/main/webapp/app/assessment/assessment-header/assessment-header.component.html
  src/main/webapp/app/assessment/assessment-header/assessment-header.component.ts
  src/main/webapp/app/assessment/assessment-layout/assessment-layout.component.html
  src/main/webapp/app/assessment/assessment-warning/assessment-warning.component.ts
  src/main/webapp/app/exercises/shared/team/team-participation-table/team-participation-table.component.html
  src/main/webapp/app/exercises/shared/team/team-participation-table/team-participation-table.component.ts
  src/main/webapp/app/exercises/shared/team/team.component.html
  src/main/webapp/app/exercises/shared/team/team.module.ts
  src/main/webapp/i18n/de/assessment.json
  src/main/webapp/i18n/de/participation.json
  src/main/webapp/i18n/de/team.json
  src/main/webapp/i18n/en/assessment.json
  src/main/webapp/i18n/en/participation.json
  src/main/webapp/i18n/en/team.json
  src/test/javascript/spec/component/assessment-shared/assessment-header.component.spec.ts
  src/test/javascript/spec/component/team/team-participation-table.component.spec.ts
  src/test/javascript/spec/component/team/team.component.spec.ts
Labels: client, component:Team, ready for review

#3482 [Feature] Grading System - Student Exam Summary
  src/main/java/de/tum/in/www1/artemis/web/rest/GradeStepResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/GradeDTO.java
  src/main/webapp/app/entities/grade-step.model.ts
  src/main/webapp/app/exam/participate/summary/exam-participation-summary.component.html
  src/main/webapp/app/exam/participate/summary/points-summary/exam-points-summary.component.html
  src/main/webapp/app/exam/participate/summary/points-summary/exam-points-summary.component.scss
  src/main/webapp/app/exam/participate/summary/points-summary/exam-points-summary.component.ts
  src/main/webapp/app/grading-system/grading-system.service.ts
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/en/exam.json
  src/test/java/de/tum/in/www1/artemis/GradeStepIntegrationTest.java
  src/test/javascript/spec/component/exam/participate/summary/points-summary/exam-points-summary.component.spec.ts
Labels: client, exam mode, feature, grading system, ready for review, server

#3456 [Feature] Add impact warning on feedback blocks for textual exercises
  .idea/runConfigurations/Artemis__Server__Athene_.xml
  src/main/java/de/tum/in/www1/artemis/domain/TextBlock.java
  src/main/java/de/tum/in/www1/artemis/repository/TextBlockRepository.java
  src/main/java/de/tum/in/www1/artemis/service/TextAssessmentService.java
  src/main/java/de/tum/in/www1/artemis/service/TextBlockService.java
  src/main/webapp/app/entities/text-block.model.ts
  src/main/webapp/app/exercises/text/assess/textblock-feedback-editor/textblock-feedback-editor.component.html
  src/main/webapp/app/exercises/text/assess/textblock-feedback-editor/textblock-feedback-editor.component.ts
  src/main/webapp/i18n/de/textAssessment.json
  src/main/webapp/i18n/en/textAssessment.json
  src/test/java/de/tum/in/www1/artemis/TextAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/TextExerciseUtilService.java
  src/test/javascript/spec/component/text-submission-assessment/textblock-feedback-editor.component.spec.ts
Labels: client, component:Text, ready for review, server

#3481 Don't lock modeling submissions when checking for plagiarism
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingSubmissionResource.java
  src/main/webapp/app/exercises/modeling/participate/modeling-submission.service.ts
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-split-view/modeling-submission-viewer/modeling-submission-viewer.component.ts
  src/test/java/de/tum/in/www1/artemis/ModelingSubmissionIntegrationTest.java
  src/test/javascript/spec/component/plagiarism/modeling-submission-viewer.component.spec.ts
Labels: client, plagiarism detection, ready for review, server

#3511 show team names when detecting plagiarism
  src/main/java/de/tum/in/www1/artemis/service/plagiarism/TextPlagiarismDetectionService.java
Labels: plagiarism detection, ready for review, server
