Repository ls1intum/Artemis, pull requests merged in 2021-11, with the labels that each got.

#4226 `Development`: Improve client tests: fix leaks for exercise assessment dashboard and drag an drop questions
  src/main/webapp/app/exercises/quiz/manage/drag-and-drop-question/drag-and-drop-question-edit.component.ts
  src/test/javascript/spec/component/assessment-dashboard/exercise-assessment-dashboard.component.spec.ts
  src/test/javascript/spec/component/drag-and-drop-question/drag-and-drop-question-edit.component.spec.ts
Labels: tests, client, chore, small, ready to merge

#4232 `Development`: Speed up client tests for team participation table component
  src/test/javascript/spec/component/team/team-participation-table.component.spec.ts
Labels: tests, ready for review

#4224 `Development`: Enable isolated modules to speed up client tests and use TypeScript compiler instead for type checking the client tests
  .github/workflows/test.yml
  jest.config.js
  package.json
Labels: work in progress, tests, ready for review, client, performance

#4147 `Development`: Disable logging of sensitive data in e2e cypress tests
  src/test/cypress/cypress.env.json
  src/test/cypress/integration/Authentication.spec.ts
  src/test/cypress/integration/Footer.spec.ts
  src/test/cypress/integration/Login.spec.ts
  src/test/cypress/integration/exercises/programming/ProgrammingExerciseAssessment.spec.ts
  src/test/cypress/integration/exercises/programming/ProgrammingExerciseManagement.spec.ts
  src/test/cypress/integration/exercises/quiz-exercise/QuizExerciseManagement.spec.ts
  src/test/cypress/integration/exercises/quiz-exercise/QuizExerciseParticipation.spec.ts
  src/test/cypress/integration/exercises/text/TextExerciseManagement.spec.ts
  src/test/cypress/support/commands.ts
  src/test/cypress/support/pageobjects/ArtemisPageobjects.ts
  src/test/cypress/support/pageobjects/LoginPage.ts
  src/test/cypress/support/users.ts
Labels: tests, ready for review, security, cypress, ready to merge

#4164 `Development`: Increase client test coverage for programming exercise utils
  src/main/webapp/app/exercises/programming/shared/utils/programming-exercise.utils.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise.utils.spec.ts
Labels: tests, ready for review, client, chore

#3979 `Development`: Improve e2e cypress tests for quiz assessment in exams
  src/test/cypress/fixtures/quiz_exercise_fixtures/quizExercise_template.json
  src/test/cypress/integration/exam/ExamAssessment.spec.ts
  src/test/cypress/support/requests/CourseManagementRequests.ts
Labels: tests, ready for review, cypress, ready to merge

#4229 `General`: Fix an issue with a few buttons that were not correctly disabled
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise-import.component.html
  src/main/webapp/app/exercises/programming/manage/programming-exercise-import.component.html
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.html
  src/main/webapp/app/exercises/quiz/participate/quiz-participation.component.html
  src/main/webapp/app/exercises/shared/example-submission/example-submission-import/example-submission-import.component.html
  src/main/webapp/app/exercises/text/manage/text-exercise-import.component.html
  src/test/javascript/spec/component/exercises/quiz/quiz-participation.component.spec.ts
Labels: tests, ready for review, client, bugfix, ready to merge

#4227 `Development`: Fix syntax error preventing syntax highlighting in server guidelines
  docs/dev/guidelines/server.rst
Labels: small, bugfix, ready to merge

#4169 `General`: Fix issues with tutor performance in assessment dashboard
  src/main/webapp/app/course/dashboards/assessment-dashboard/assessment-dashboard.component.html
  src/main/webapp/app/course/dashboards/assessment-dashboard/assessment-dashboard.component.ts
  src/main/webapp/app/course/dashboards/assessment-dashboard/tutor-issue.ts
  src/main/webapp/app/shared/dashboards/tutor-leaderboard/tutor-leaderboard.component.html
  src/main/webapp/app/shared/dashboards/tutor-leaderboard/tutor-leaderboard.component.ts
  src/main/webapp/app/shared/dashboards/tutor-leaderboard/tutor-leaderboard.model.ts
  src/main/webapp/i18n/de/assessmentDashboard.json
  src/main/webapp/i18n/en/assessmentDashboard.json
  src/test/javascript/spec/component/assessment-dashboard/assessment-dashboard.component.spec.ts
  src/test/javascript/spec/component/tutor-leaderboard/tutor-leaderboard.component.spec.ts
Labels: feature, tests, client, ready to merge

#4222 `Development`: Speed up client tests for programming exercise management
  src/test/javascript/spec/component/programming-exercise/programming-exercise-update.component.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-course-management.service.ts
  src/test/javascript/spec/helpers/mocks/service/mock-file.service.ts
Labels: tests, ready for review, ready to merge

#3964 `Development`: Integrate assessment knowledge to text blocks and model elements
  src/main/java/de/tum/in/www1/artemis/service/compass/controller/ModelClusterFactory.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/athene/AtheneService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextAssessmentResource.java
  src/main/resources/config/liquibase/changelog/20211011282828_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/test/java/de/tum/in/www1/artemis/AssessmentKnowledgeIntegrationTest.java
Labels: feature, tests, ready for review, server, database, ready to merge

#4237 `Assessment`: Fix button to more feedback request in exercise assessment dashboard
  src/main/java/de/tum/in/www1/artemis/service/SubmissionService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/SubmissionResource.java
  src/main/webapp/app/exercises/shared/dashboards/tutor/exercise-assessment-dashboard.component.html
  src/main/webapp/app/exercises/shared/dashboards/tutor/exercise-assessment-dashboard.component.ts
  src/main/webapp/app/exercises/shared/submission/submission.service.ts
  src/test/java/de/tum/in/www1/artemis/FileUploadAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/SubmissionServiceTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
Labels: tests, server, client, ready to merge

#4248 `Development`: Fix e2e cypress tests modeling exercise assessment
  src/test/cypress/integration/exercises/modeling/ModelingExerciseAssessment.spec.ts
  src/test/cypress/integration/exercises/modeling/ModelingExerciseManagement.spec.ts
  src/test/cypress/integration/exercises/programming/ProgrammingExerciseAssessment.spec.ts
  src/test/cypress/support/commands.ts
  src/test/cypress/support/pageobjects/assessment/ModelingExerciseAssessmentEditor.ts
  src/test/cypress/support/requests/CourseManagementRequests.ts
Labels: tests, ready for review, cypress, ready to merge

#4228 `Discussion`: Add button to show / hide post replies
  src/main/webapp/app/shared/metis/metis.service.ts
  src/main/webapp/app/shared/metis/post/post.component.html
  src/main/webapp/app/shared/metis/post/post.component.ts
  src/main/webapp/app/shared/metis/postings-header/post-header/post-header.component.html
  src/main/webapp/app/shared/metis/postings-header/post-header/post-header.component.ts
  src/main/webapp/app/shared/metis/postings-thread/postings-thread.component.html
  src/main/webapp/app/shared/metis/postings-thread/postings-thread.component.ts
  src/main/webapp/i18n/de/metis.json
  src/main/webapp/i18n/en/metis.json
  src/test/javascript/spec/component/shared/metis/postings-header/post-header/post-header.component.spec.ts
  src/test/javascript/spec/component/shared/metis/postings-thread/postings-thread.component.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-metis-service.service.ts
Labels: tests, client, Metis, ready to merge

#4243 `Assessment`: Fix an issue with missing values for complaints and more feedback requests in the assessment dashboard
  src/main/java/de/tum/in/www1/artemis/domain/leaderboard/tutor/TutorLeaderboardMoreFeedbackRequests.java
  src/main/java/de/tum/in/www1/artemis/service/ComplaintService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
Labels: ready for review, server, small, bugfix, ready to merge

#4203 `Development`: Add tips about ngx charts to the documentation
  docs/dev/guidelines/client.rst
Labels: client, documentation, ready to merge

#4140 `Development`: Speed up client tests for the online code editor
  src/test/javascript/spec/component/code-editor/code-editor-ace.component.spec.ts
  src/test/javascript/spec/component/code-editor/code-editor-actions.component.spec.ts
  src/test/javascript/spec/component/code-editor/code-editor-build-output.component.spec.ts
  src/test/javascript/spec/component/code-editor/code-editor-file-browser.component.spec.ts
  src/test/javascript/spec/component/code-editor/code-editor-grid.component.spec.ts
  src/test/javascript/spec/component/code-editor/code-editor-status.component.spec.ts
Labels: tests, chore, ready to merge

#4233 `Development`: Remove Artemis shared module from client tests
  src/test/javascript/spec/component/participation/participation.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-instruction-step-wizard.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-test-schedule-picker.component.spec.ts
  src/test/javascript/spec/component/rating/rating.component.spec.ts
  src/test/javascript/spec/component/shared/updating-result.component.spec.ts
  src/test/javascript/spec/component/team/team-update-dialog.component.spec.ts
  src/test/javascript/spec/component/team/teams.component.spec.ts
  src/test/javascript/spec/component/text-submission-assessment/manual-textblock-selection.component.spec.ts
  src/test/javascript/spec/component/text-submission-assessment/text-assessment-area.component.spec.ts
  src/test/javascript/spec/component/text-submission-assessment/textblock-assessment-card.component.spec.ts
Labels: tests, client, chore, ready to merge

#4223 `Discussion`: Prefix post title with context and highlight announcements
  src/main/webapp/app/shared/metis/metis.module.ts
  src/main/webapp/app/shared/metis/post/post.component.html
  src/main/webapp/app/shared/metis/post/post.component.scss
  src/main/webapp/app/shared/metis/post/post.component.ts
  src/main/webapp/app/shared/metis/posting-content/posting-content-part/posting-content-part.component.html
  src/main/webapp/app/shared/metis/posting-content/posting-content-part/posting-content-part.components.ts
  src/main/webapp/app/shared/metis/posting-content/posting-content.component.html
  src/main/webapp/app/shared/metis/posting-content/posting-content.component.scss
  src/main/webapp/app/shared/metis/posting-content/posting-content.components.ts
  src/main/webapp/app/shared/metis/postings-create-edit-modal/post-create-edit-modal/post-create-edit-modal.component.html
  src/main/webapp/app/shared/metis/postings-create-edit-modal/post-create-edit-modal/post-create-edit-modal.component.ts
  src/main/webapp/app/shared/metis/postings-footer/post-footer/post-footer.component.html
  src/main/webapp/app/shared/metis/postings-footer/post-footer/post-footer.component.scss
  src/main/webapp/app/shared/metis/postings-footer/post-footer/post-footer.component.ts
  src/main/webapp/app/shared/pipes/posting-content-markdown-linebreak.pipe.ts
  src/test/javascript/spec/component/shared/metis/post/post.component.spec.ts
  src/test/javascript/spec/component/shared/metis/posting-content/posting-content-part.component.spec.ts
  src/test/javascript/spec/component/shared/metis/postings-footer/post-footer/post-footer.component.spec.ts
Labels: tests, ready for review, client, Metis, refactoring, ready to merge

#4251 `Assessment`: Fix the complaint submission for course programming exercises with multiple submissions
  src/main/webapp/app/complaints/complaints-for-students/complaints-student-view.component.html
  src/main/webapp/app/complaints/complaints-for-students/complaints-student-view.component.ts
  src/main/webapp/app/exam/participate/summary/exam-participation-summary.component.html
Labels: client, bugfix, ready to merge

#4246 `Development`: Create e2e cypress tests for lecture management
  src/test/cypress/fixtures/lecture/lecture_template.json
  src/test/cypress/integration/lecture/LectureManagement.spec.ts
  src/test/cypress/support/pageobjects/ArtemisPageobjects.ts
  src/test/cypress/support/pageobjects/lecture/LectureCreationPage.ts
  src/test/cypress/support/pageobjects/lecture/LectureManagementPage.ts
  src/test/cypress/support/requests/CourseManagementRequests.ts
Labels: tests, ready for review, cypress, ready to merge

#4241 `Development`: Improve and simplify scss imports
  src/main/webapp/app/admin/docs/docs.scss
  src/main/webapp/app/app.module.ts
  src/main/webapp/app/course/manage/course-management.component.scss
  src/main/webapp/app/course/manage/overview/course-management-card.scss
  src/main/webapp/app/course/manage/overview/course-management-exercise-row.scss
  src/main/webapp/app/exam/participate/exercises/text/text-exam-submission.component.scss
  src/main/webapp/app/exercises/programming/manage/grading/programming-exercise-configure-grading.scss
  src/main/webapp/app/exercises/programming/shared/code-editor/actions/code-editor-resolve-conflict-modal.scss
  src/main/webapp/app/exercises/quiz/manage/quiz-confirm-import-invalid-questions-modal.scss
  src/main/webapp/app/exercises/text/assess/textblock-assessment-card/textblock-assessment-card.component.scss
  src/main/webapp/app/exercises/text/participate/text-editor.component.scss
  src/main/webapp/app/overview/_overview-vars.scss
  src/main/webapp/app/overview/course-exercises/course-exercise-row.scss
  src/main/webapp/app/overview/course-lectures/course-lectures.scss
  src/main/webapp/app/overview/course-overview.scss
  src/main/webapp/app/overview/courses.component.scss
  src/main/webapp/app/shared/circular-progress-bar/circular-progress-bar.component.scss
  src/main/webapp/app/shared/layouts/navbar/navbar.scss
  src/main/webapp/app/shared/notification/notification-sidebar/notification-sidebar.scss
  src/main/webapp/app/shared/user-settings/user-settings-container/user-settings-container.component.scss
  src/main/webapp/app/vendor.ts
  src/main/webapp/content/scss/_artemis-variables.scss
  src/main/webapp/content/scss/_bootstrap-variables.scss
  src/main/webapp/content/scss/global.scss
  src/main/webapp/content/scss/vendor.scss
Labels: ready for review, client, user interface

#4258 `Development`: Speed up client tests for programming exercise grading configuration
  src/main/webapp/app/exercises/programming/manage/grading/charts/test-case-passed-builds-chart.component.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-configure-grading.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-test-case-passed-builds-charts.component.spec.ts
Labels: tests, ready for review, client

#4263 `Development`: Provide separate test suite for category issues chart of programming exercises grading page
  src/test/javascript/spec/component/programming-exercise/category-issues-chart.component.spec.ts
Labels: tests, ready for review, small

#4234 `Exam mode`: Display working time on student exam detail view correctly
  src/main/webapp/app/exam/manage/student-exams/student-exam-detail.component.html
  src/main/webapp/app/exam/manage/student-exams/student-exam-detail.component.ts
  src/main/webapp/app/shared/pipes/artemis-duration-from-seconds.pipe.ts
  src/test/javascript/spec/pipe/artemis-duration-from-seconds.pipe.spec.ts
Labels: tests, ready for review, client

#4163 `Development`: Increase client test coverage for file upload submission and file upload exercise
  src/test/javascript/spec/helpers/mocks/service/mock-exercise.service.ts
  src/test/javascript/spec/service/file-upload-exercise.service.spec.ts
  src/test/javascript/spec/service/file-upload-submission.service.spec.ts
Labels: tests, ready for review

#4097 `Quiz exercises`: Modernize the chart visualization for the quiz point distribution
  src/main/webapp/app/exercises/quiz/manage/statistics/quiz-point-statistic/quiz-point-statistic.component.html
  src/main/webapp/app/exercises/quiz/manage/statistics/quiz-point-statistic/quiz-point-statistic.component.scss
  src/main/webapp/app/exercises/quiz/manage/statistics/quiz-point-statistic/quiz-point-statistic.component.ts
  src/main/webapp/app/exercises/quiz/manage/statistics/quiz-statistic.module.ts
  src/main/webapp/app/exercises/quiz/manage/statistics/quiz-statistic/quiz-statistic.component.ts
Labels: dependencies, client, ready to merge

#4259 `Development`: Add rules for pull request titles into the documentation
  .github/PULL_REQUEST_TEMPLATE.md
  docs/dev/guidelines.rst
  docs/dev/guidelines/code-review.rst
  docs/dev/guidelines/development-process.rst
Labels: ready for review

#4253 `Programming exercises`: Fix anonymization for complex git histories by enabling combining student commits by default
  src/main/webapp/app/exercises/programming/assess/repo-export/programming-assessment-repo-export-dialog.component.ts
  src/main/webapp/app/orion/assessment/orion-assessment.service.ts
Labels: ready for review, client, component:Programming, component:Orion, small, bugfix

#4260 `Programming exercises`: Fix issues with hints
  docs/admin/accessRights.rst
  src/main/java/de/tum/in/www1/artemis/web/rest/ExerciseHintResource.java
  src/main/webapp/app/admin/organization-management/organization-management.route.ts
  src/main/webapp/app/admin/system-notification-management/system-notification-management.route.ts
  src/main/webapp/app/exam/manage/exam-management.route.ts
  src/main/webapp/app/exercises/programming/manage/instructions-editor/programming-exercise-editable-instruction.component.ts
  src/main/webapp/app/exercises/shared/exercise-hint/manage/exercise-hint-update.component.html
  src/main/webapp/app/exercises/shared/exercise-hint/manage/exercise-hint.route.ts
  src/main/webapp/app/exercises/shared/exercise-hint/manage/exercise-hint.service.ts
  src/main/webapp/app/exercises/shared/exercise/exercise.service.ts
  src/main/webapp/app/shared/markdown-editor/domainCommands/programming-exercise/task.command.ts
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/programmingExercise.json
  src/test/java/de/tum/in/www1/artemis/ExerciseHintIntegrationTest.java
  src/test/javascript/spec/service/exercise-hint.service.spec.ts
  src/test/javascript/spec/service/exerciseUnit.service.spec.ts
Labels: tests, server, client, component:Programming, bugfix, ready to merge

#4268 `General`: Verify that all courses have a specified accuracy of scores
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/resources/config/liquibase/changelog/20211107212500_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/course/manage/course-update.component.html
  src/main/webapp/app/course/manage/course-update.component.ts
Labels: enhancement, ready for review, server, client, database, small, ready to merge

#3840 `Programming exercises`: Allow instructors to check the consistency of repositories (version control) and build plans (continuous integration)
  src/main/java/de/tum/in/www1/artemis/repository/ProgrammingExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ConsistencyCheckService.java
  src/main/java/de/tum/in/www1/artemis/service/dto/ConsistencyErrorDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ConsistencyCheckResource.java
  src/main/webapp/app/entities/consistency-check-result.model.ts
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.html
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.ts
  src/main/webapp/app/exercises/programming/manage/programming-exercise.component.html
  src/main/webapp/app/exercises/programming/manage/programming-exercise.component.ts
  src/main/webapp/app/shared/consistency-check/consistency-check.component.html
  src/main/webapp/app/shared/consistency-check/consistency-check.component.ts
  src/main/webapp/app/shared/consistency-check/consistency-check.service.ts
  src/main/webapp/app/shared/shared.module.ts
  src/main/webapp/i18n/de/consistencyCheck.json
  src/main/webapp/i18n/en/consistencyCheck.json
  src/test/java/de/tum/in/www1/artemis/ConsistencyCheckBitbucketBambooIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ConsistencyCheckGitlabJenkinsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/ConsistencyCheckServiceTest.java
  src/test/javascript/spec/component/consistency-check/consistency-check.component.spec.ts
Labels: tests, server, client, ready to merge

#4242 `Development`: Speed up client tests for programming exercise assessment manual result
  src/test/javascript/spec/component/programming-assessment/programming-assessment-manual-result.component.spec.ts
Labels: tests, client, ready to merge

#4275 `Development`: Fix branch for some GitHub actions
  .github/workflows/codeql-analysis.yml
  .github/workflows/pullrequest-opened.yml
Labels: ready for review, chore, small

#4109 `Programming exercises`: Allow test weights to be all zero if manual feedback is enabled
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseTestCaseService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseResource.java
  src/main/webapp/app/exercises/programming/manage/grading/programming-exercise-configure-grading.component.ts
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/en/global.json
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseTestCaseServiceTest.java
  src/test/javascript/spec/component/programming-exercise/programming-exercise-configure-grading.component.spec.ts
Labels: tests, server, client, ready to merge

#4240 `General`: Sort courses alphabetically by title
  src/main/webapp/app/course/manage/course-management.component.ts
  src/main/webapp/app/overview/course-registration-selector/course-registration-selector.component.ts
  src/main/webapp/app/overview/courses.component.ts
Labels: client, small, ready to merge

#4271 `Development`: Speedup client tests for plagiarism split view
  src/test/javascript/spec/component/plagiarism/plagiarism-split-view.component.spec.ts
Labels: tests, ready for review

#4283 `Development`: Fix e2e cypress test for exam assessment
  src/test/cypress/integration/exam/ExamAssessment.spec.ts
Labels: tests, ready for review, small, cypress

#4285 `General`: Add explanation of submission policy feature to the documentation
  docs/admin/accessRights.rst
  docs/user/exercises/programming-exercise-setup.inc
  docs/user/exercises/programming-submission-policy-configuration.inc.rst
  docs/user/exercises/programming.rst
  docs/user/exercises/programming/not-graded-label.png
  docs/user/exercises/programming/submission-penalty-feedback-element-2.png
  docs/user/exercises/programming/submission-penalty-feedback-element.png
  docs/user/exercises/programming/submission-policy-activate-button.png
  docs/user/exercises/programming/submission-policy-deactivate-button.png
  docs/user/exercises/programming/submission-policy-grading-page.png
  docs/user/exercises/programming/submission-policy-lock-repository-form.png
  docs/user/exercises/programming/submission-policy-none-form.png
  docs/user/exercises/programming/submission-policy-submission-penalty-form.png
  docs/user/exercises/programming/submission-policy-update-button.png
Labels: ready for review

#4286 `Development`: Fix k6 tests for exams and exercises.
  src/test/k6/ProgrammingExerciseAPIs.js
  src/test/k6/requests/course.js
  src/test/k6/requests/exam.js
Labels: tests, ready for review

#4272 `Development`: Speed up client tests for programming assessment inline feedback
  src/main/webapp/app/exercises/programming/assess/code-editor-tutor-assessment-inline-feedback.component.ts
  src/test/javascript/spec/component/programming-assessment/programming-assessment-inline-feedback.component.spec.ts
Labels: tests, client, ready to merge

#4281 `General`: Unify the client-side password length validation
  src/main/java/de/tum/in/www1/artemis/config/Constants.java
  src/main/webapp/app/account/password-reset/finish/password-reset-finish.component.html
  src/main/webapp/app/account/password-reset/finish/password-reset-finish.component.ts
  src/main/webapp/app/account/password/password.component.html
  src/main/webapp/app/account/password/password.component.ts
  src/main/webapp/app/account/register/register.component.html
  src/main/webapp/app/account/register/register.component.ts
  src/main/webapp/app/admin/user-management/user-management-update.component.html
  src/main/webapp/app/admin/user-management/user-management-update.component.ts
  src/main/webapp/app/app.constants.ts
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/de/register.json
  src/main/webapp/i18n/de/user-management.json
  src/main/webapp/i18n/en/global.json
  src/main/webapp/i18n/en/register.json
  src/main/webapp/i18n/en/user-management.json
Labels: ready for review, server, client

#4201 `General`: Refine editor access rights
  docs/admin/accessRights.rst
  src/main/java/de/tum/in/www1/artemis/web/rest/AttachmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/LectureResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/lecture/LectureUnitResource.java
  src/main/webapp/app/core/auth/user-route-access-service.ts
  src/main/webapp/app/exercises/shared/participation-submission/participation-submission.component.html
  src/main/webapp/app/lecture/lecture-attachments.component.html
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/lecture-unit-management.component.html
  src/main/webapp/app/lecture/lecture.component.html
  src/main/webapp/app/lecture/lecture.service.ts
  src/test/java/de/tum/in/www1/artemis/TextUnitIntegrationTest.java
  src/test/javascript/spec/component/participation-submission/participation-submission.component.spec.ts
  src/test/javascript/spec/service/lecture.service.spec.ts
Labels: tests, server, client, ready to merge

#4282 `Development`: Fix error logs from client test output
  src/main/webapp/app/exercises/file-upload/assess/file-upload-assessment-dashboard.component.ts
  src/test/javascript/spec/component/course/detail/course-detail.component.spec.ts
  src/test/javascript/spec/component/file-upload-assessment-dashboard/file-upload-assessment-dashboard.component.spec.ts
  src/test/javascript/spec/component/grading-system/grading-key-overview.component.spec.ts
  src/test/javascript/spec/component/non-programming-exercise-detail-common-actions.component.spec.ts
  src/test/javascript/spec/component/shared/course-exam-archive-button.component.spec.ts
  src/test/javascript/spec/component/text-exercise/example-text-submission.component.spec.ts
Labels: enhancement, tests, client, ready to merge

#4278 `Notifications`: Fix unnecessary release notification when updating an exercise
  src/main/java/de/tum/in/www1/artemis/service/notifications/GroupNotificationService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/FileUploadExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/QuizExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextExerciseResource.java
  src/test/java/de/tum/in/www1/artemis/service/GroupNotificationServiceTest.java
Labels: tests, server, small, bugfix, notification system, ready to merge

#4279 `Programming exercises`: Enable assessment of complaints and exams in Orion
  src/main/webapp/app/complaints/complaints-for-tutor/complaints-for-tutor.component.html
  src/main/webapp/app/entities/submission.model.ts
  src/main/webapp/app/exercises/shared/dashboards/tutor/exercise-assessment-dashboard.component.html
  src/main/webapp/app/exercises/shared/dashboards/tutor/exercise-assessment-dashboard.component.ts
  src/main/webapp/app/orion/assessment/orion-assessment.service.ts
  src/main/webapp/app/orion/assessment/orion-exercise-assessment-dashboard.component.html
  src/main/webapp/app/orion/assessment/orion-exercise-assessment-dashboard.component.ts
  src/main/webapp/app/orion/assessment/orion-tutor-assessment.component.ts
  src/main/webapp/app/shared/orion/orion-connector.service.ts
  src/main/webapp/app/shared/orion/orion.ts
  src/main/webapp/i18n/de/exerciseAssessmentDashboard.json
  src/main/webapp/i18n/de/orion.json
  src/main/webapp/i18n/en/exerciseAssessmentDashboard.json
  src/main/webapp/i18n/en/orion.json
  src/test/javascript/spec/component/orion/orion-tutor-assessment.component.spec.ts
  src/test/javascript/spec/service/orion-assessment.service.spec.ts
Labels: tests, client, component:Orion, ready to merge

#4293 `Development`: Fix server tests related to new password length requirement
  src/test/java/de/tum/in/www1/artemis/authentication/InternalAuthenticationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/authentication/UserSaml2IntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/ModelFactory.java
Labels: tests, ready for review, java, small, bugfix

#4288 `Programming exercises`: Adjust access rights for submission policies
  src/main/java/de/tum/in/www1/artemis/web/rest/SubmissionPolicyResource.java
  src/main/webapp/app/exercises/programming/manage/grading/programming-exercise-configure-grading.component.html
  src/main/webapp/app/exercises/programming/manage/grading/programming-exercise-configure-grading.component.ts
  src/main/webapp/app/exercises/programming/manage/grading/programming-exercise-grading-submission-policy-configuration-actions.component.ts
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.html
  src/main/webapp/app/exercises/shared/submission-policy/submission-policy-update.component.ts
  src/main/webapp/app/exercises/shared/submission-policy/submission-policy-update.module.ts
  src/test/java/de/tum/in/www1/artemis/SubmissionPolicyIntegrationTest.java
  src/test/javascript/spec/component/programming-exercise/programming-exercise-update.component.spec.ts
  src/test/javascript/spec/component/shared/submission-policy-update.component.spec.ts
Labels: tests, server, client, ready to merge

#4290 `General`: Fix a styling issue where fonts might become bold
  src/main/webapp/app/course/manage/course-management.component.html
  src/main/webapp/app/course/manage/overview/course-management-card.component.html
  src/main/webapp/app/course/manage/overview/course-management-exercise-row.component.html
  src/main/webapp/app/exercises/programming/manage/grading/programming-exercise-configure-grading.component.html
  src/main/webapp/app/exercises/programming/shared/code-editor/actions/code-editor-resolve-conflict-modal.component.html
  src/main/webapp/app/exercises/quiz/manage/quiz-confirm-import-invalid-questions-modal.component.html
  src/main/webapp/app/exercises/shared/exercise-headers/header-participation-page.component.html
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-header/plagiarism-header.component.html
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-inspector/plagiarism-inspector.component.html
  src/main/webapp/app/exercises/shared/team/team-students-online-list/team-students-online-list.component.html
  src/main/webapp/app/exercises/text/assess/textblock-feedback-editor/textblock-feedback-editor.component.html
  src/main/webapp/app/overview/course-exercises/course-exercise-row.component.html
  src/main/webapp/app/overview/course-lectures/attachment-unit/attachment-unit.component.html
  src/main/webapp/app/overview/course-lectures/text-unit/text-unit.component.html
  src/main/webapp/app/overview/course-lectures/video-unit/video-unit.component.html
  src/main/webapp/app/overview/course-overview.component.html
  src/main/webapp/app/overview/courses.component.html
  src/main/webapp/app/overview/page-discussion-section/page-discussion-section.component.html
  src/main/webapp/app/shared/layouts/navbar/navbar.component.html
  src/main/webapp/app/shared/notification/notification-sidebar/notification-sidebar.component.html
  src/main/webapp/content/scss/_artemis-variables.scss
  src/main/webapp/content/scss/global.scss
Labels: ready for review, client, bugfix

#4274 `Assessments`: Fix multiple issues for handling of complaints and feedback requests during assesment
  src/main/java/de/tum/in/www1/artemis/service/ComplaintResponseService.java
  src/main/java/de/tum/in/www1/artemis/service/SubmissionService.java
  src/main/webapp/app/complaints/complaints-for-tutor/complaints-for-tutor.component.html
  src/main/webapp/app/complaints/complaints-for-tutor/complaints-for-tutor.component.ts
  src/main/webapp/app/exercises/shared/dashboards/tutor/exercise-assessment-dashboard.component.html
  src/main/webapp/i18n/de/complaintResponse.json
  src/main/webapp/i18n/en/complaintResponse.json
  src/test/java/de/tum/in/www1/artemis/service/ComplaintResponseServiceTest.java
Labels: tests, server, client, bugfix, ready to merge

#4270 `Development`: Speedup client tests for text submission component
  src/test/javascript/spec/component/plagiarism/text-submission-viewer.component.spec.ts
Labels: tests, ready to merge

#4289 `Team exercises`: Fix team participation table sometimes missing entries
  src/main/webapp/app/exercises/shared/team/team-participation-table/team-participation-table.component.ts
Labels: ready for review, client, component:Team, small, bugfix

#3959 `Quiz exercises`: Increase explanation length and provide warning if length is exceeded for quiz explanations or hints
  src/main/java/de/tum/in/www1/artemis/domain/quiz/AnswerOption.java
  src/main/java/de/tum/in/www1/artemis/domain/quiz/QuizQuestion.java
  src/main/resources/config/liquibase/changelog/20210824174800_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/exercises/quiz/manage/drag-and-drop-question/drag-and-drop-question-edit.component.ts
  src/main/webapp/app/exercises/quiz/manage/multiple-choice-question/multiple-choice-question-edit.component.ts
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise-detail.component.html
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise-detail.component.ts
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise-validation.directive.ts
  src/main/webapp/app/exercises/quiz/manage/re-evaluate/multiple-choice-question/re-evaluate-multiple-choice-question.component.ts
  src/main/webapp/app/exercises/quiz/manage/re-evaluate/quiz-re-evaluate.component.html
  src/main/webapp/app/exercises/quiz/manage/re-evaluate/quiz-re-evaluate.component.ts
  src/main/webapp/i18n/de/quizExercise.json
  src/main/webapp/i18n/en/quizExercise.json
  src/test/java/de/tum/in/www1/artemis/QuizExerciseIntegrationTest.java
  src/test/javascript/spec/component/quiz-exercise/quiz-exercise-detail.component.spec.ts
  src/test/javascript/spec/component/quiz-exercise/quiz-re-evaluate.component.spec.ts
Labels: tests, server, client, component:Quiz, database, bugfix, ready to merge

#4182 `General`: Allow instructors to import and export grading keys with csv files
  src/main/webapp/app/grading-system/grading-system-info-modal/grading-system-info-modal.component.html
  src/main/webapp/app/grading-system/grading-system.component.html
  src/main/webapp/app/grading-system/grading-system.component.ts
  src/main/webapp/i18n/de/gradingSystem.json
  src/main/webapp/i18n/en/gradingSystem.json
  src/test/javascript/spec/component/grading-system/grading-system.component.spec.ts
Labels: feature, tests, client, grading system, ready to merge

#4090 `Development`: Update line chart in course management detail view to ngx-charts
  src/main/webapp/app/course/manage/course-management.module.ts
  src/main/webapp/app/course/manage/detail/course-detail-line-chart.component.html
  src/main/webapp/app/course/manage/detail/course-detail-line-chart.component.scss
  src/main/webapp/app/course/manage/detail/course-detail-line-chart.component.ts
  src/test/javascript/spec/component/course/detail/course-detail-line-chart.component.spec.ts
Labels: feature, tests, ready for review, client, ready to merge

#4007 `Development`: Improve code quality and consistency in FileUploadSubmissionResource
  src/main/java/de/tum/in/www1/artemis/service/AuthorizationCheckService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/AbstractSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/FileUploadSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextAssessmentResource.java
  src/test/java/de/tum/in/www1/artemis/FileUploadSubmissionIntegrationTest.java
Labels: tests, server, ready to merge

#4261 `Programming exercises`: Highlight feedback expanding button
  src/main/webapp/app/exercises/shared/result/feedback-collapse.component.html
  src/main/webapp/i18n/de/result.json
  src/main/webapp/i18n/en/result.json
Labels: ready for review, client, small

#3862 `Development`: Improve code quality and consistency in OrganizationResource
  src/main/java/de/tum/in/www1/artemis/web/rest/OrganizationResource.java
  src/main/webapp/app/admin/organization-management/organization-management.service.ts
  src/test/java/de/tum/in/www1/artemis/OrganizationIntegrationTest.java
  src/test/javascript/spec/component/organization/organization-management.service.spec.ts
Labels: tests, ready for review, server, client

#4166 `Development`: Add client tests for quiz service
  src/test/javascript/spec/service/quiz.service.spec.ts
Labels: tests, ready for review, small

#4236 `Text Exercises`: Link TextBlock to Feedback with feedback_id column
  src/main/java/de/tum/in/www1/artemis/domain/TextBlock.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextAssessmentResource.java
  src/main/resources/config/liquibase/changelog/20211101080828_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/test/java/de/tum/in/www1/artemis/TextAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/CourseTestService.java
Labels: tests, ready for review, server, database

#4301 `Assessments`: Fix an issue with deactivated complaint button when more feedback requests are disabled
  src/main/webapp/app/complaints/complaints-for-students/complaints-student-view.component.ts
  src/test/javascript/spec/component/complaints/complaint-student-view.component.spec.ts
Labels: tests, client, bugfix, ready to merge

#4305 `Development`: Fix wrong usages of `assertThat()` in server tests
  src/test/java/de/tum/in/www1/artemis/FileUploadExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ModelingSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/simulation/ProgrammingExerciseSubmissionAndResultSimulationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/notifications/NotificationSettingsServiceTest.java
  src/test/java/de/tum/in/www1/artemis/util/RequestUtilService.java
Labels: tests, ready for review, small

#4309 `Development`: Fix e2e cypress test result generation
  src/test/cypress/cypress.json
Labels: tests, ready for review, bamboo/bitbucket, small, cypress

#4300 `Programming exercises`: Improve feedback display
  src/main/java/de/tum/in/www1/artemis/service/ResultService.java
  src/main/webapp/app/exercises/shared/result/feedback-collapse.component.html
  src/main/webapp/app/exercises/shared/result/feedback-collapse.component.ts
  src/main/webapp/app/exercises/shared/result/result-detail.component.html
  src/main/webapp/app/exercises/shared/result/result-detail.component.ts
Labels: ready for review, server, client, component:Programming

#4307 `Programming exercises`: Fix an issue based on a breaking change in Orion
  src/main/webapp/app/shared/orion/orion-connector.service.ts
  src/main/webapp/app/shared/orion/orion.ts
Labels: client, bugfix, ready to merge

#4280 `Notifications`: Fix loading and display issue when opening the notification settings
  src/main/java/de/tum/in/www1/artemis/service/notifications/NotificationSettingsService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/NotificationSettingsResource.java
  src/test/java/de/tum/in/www1/artemis/NotificationSettingsResourceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/GroupNotificationServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/notifications/NotificationSettingsServiceTest.java
Labels: tests, ready for review, server, priority:high, small, ready to merge, user settings

#4205 `General`: Add search and filter bar to the course management exercise list
  src/main/java/de/tum/in/www1/artemis/repository/FileUploadExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ModelingExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ProgrammingExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/QuizExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/TextExerciseRepository.java
  src/main/webapp/app/course/manage/course-management-exercises-search.component.html
  src/main/webapp/app/course/manage/course-management-exercises-search.component.scss
  src/main/webapp/app/course/manage/course-management-exercises-search.component.ts
  src/main/webapp/app/course/manage/course-management-exercises.component.html
  src/main/webapp/app/course/manage/course-management-exercises.component.ts
  src/main/webapp/app/course/manage/course-management.module.ts
  src/main/webapp/app/entities/exercise-filter.model.ts
  src/main/webapp/app/exercises/file-upload/manage/file-upload-exercise.component.html
  src/main/webapp/app/exercises/file-upload/manage/file-upload-exercise.component.ts
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise.component.html
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise.component.ts
  src/main/webapp/app/exercises/programming/manage/programming-exercise.component.html
  src/main/webapp/app/exercises/programming/manage/programming-exercise.component.ts
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise.component.html
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise.component.ts
  src/main/webapp/app/exercises/shared/exercise/exercise.component.ts
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise.component.html
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise.component.ts
  src/main/webapp/app/orion/management/orion-course-management-exercises.component.ts
  src/main/webapp/app/orion/management/orion-programming-exercise.component.html
  src/main/webapp/app/orion/management/orion-programming-exercise.component.ts
  src/main/webapp/i18n/de/course.json
  src/main/webapp/i18n/en/course.json
  src/test/javascript/spec/component/course/course-management-exercises-search.component.spec.ts
  src/test/javascript/spec/component/course/course-management-exercises.component.spec.ts
  src/test/javascript/spec/component/course/exercise-filter.model.spec.ts
  src/test/javascript/spec/component/file-upload-exercise/file-upload-exercise.component.spec.ts
  src/test/javascript/spec/component/modeling-exercise/modeling-exercise.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise.component.spec.ts
  src/test/javascript/spec/component/quiz-exercise/quiz-exercise.component.spec.ts
  src/test/javascript/spec/component/text-exercise/text-exercise.component.spec.ts
Labels: feature, tests, ready for review, server, client, ready to merge

#4104 `Assessment`: Visualize generic and manual feedback separately to improve feedback suggestions on semi-automatic modeling and text assessments
  package-lock.json
  package.json
  src/main/java/de/tum/in/www1/artemis/service/AutomaticTextFeedbackService.java
  src/main/java/de/tum/in/www1/artemis/service/ExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/compass/controller/FeedbackSelector.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingAssessmentResource.java
  src/main/resources/config/liquibase/changelog/20211029230000_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/assessment/assessment-detail/assessment-detail.component.html
  src/main/webapp/app/assessment/assessment-detail/assessment-detail.component.ts
  src/main/webapp/app/assessment/structured-grading-instructions-assessment-layout/structured-grading-instructions-assessment-layout.component.ts
  src/main/webapp/app/entities/feedback.model.ts
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment.component.ts
  src/main/webapp/app/exercises/modeling/participate/modeling-submission.component.html
  src/main/webapp/app/exercises/modeling/participate/modeling-submission.component.ts
  src/main/webapp/app/exercises/programming/assess/code-editor-tutor-assessment-inline-feedback.component.html
  src/main/webapp/app/exercises/programming/assess/code-editor-tutor-assessment-inline-feedback.component.ts
  src/main/webapp/app/exercises/shared/result/result-detail.component.ts
  src/main/webapp/app/exercises/shared/structured-grading-criterion/structured-grading-criterion.service.ts
  src/main/webapp/app/exercises/text/assess/textblock-assessment-card/textblock-assessment-card.component.html
  src/main/webapp/app/exercises/text/assess/textblock-assessment-card/textblock-assessment-card.component.ts
  src/main/webapp/app/exercises/text/assess/textblock-feedback-editor/textblock-feedback-editor.component.html
  src/main/webapp/app/exercises/text/assess/textblock-feedback-editor/textblock-feedback-editor.component.ts
  src/main/webapp/app/exercises/text/participate/text-result/text-result.component.html
  src/main/webapp/app/exercises/text/participate/text-result/text-result.component.ts
  src/main/webapp/app/shared/additional-feedback/additional-feedback.component.html
  src/main/webapp/app/shared/additional-feedback/additional-feedback.component.ts
  src/main/webapp/i18n/de/assessment.json
  src/main/webapp/i18n/de/textAssessment.json
  src/main/webapp/i18n/en/assessment.json
  src/main/webapp/i18n/en/textAssessment.json
  src/test/javascript/spec/component/assessment-shared/assessment-detail.component.spec.ts
  src/test/javascript/spec/component/modeling-submission/modeling-submission.component.spec.ts
  src/test/javascript/spec/component/programming-assessment/programming-assessment-inline-feedback.component.spec.ts
  src/test/javascript/spec/component/text-result/text-result.component.spec.ts
Labels: tests, server, client, database, ready to merge

#4311 `Development`: Remove client compilation from server and test run configurations, and add default analytics setting
  .gitignore
  .idea/runConfigurations/Artemis__Server_.xml
  .idea/runConfigurations/Artemis__Server__Athene_.xml
  .idea/runConfigurations/Artemis__Server__Jenkins___Gitlab_.xml
  .idea/runConfigurations/_template__of_Gradle.xml
  angular.json
  build.gradle
Labels: ready for review, chore, small

#3670 `Development`: Build Docker image. Publish to GitHub Container Registry for develop, tags, and open pull requests.
  .github/workflows/build-deploy.yml
  .github/workflows/pullrequest-closed.yml
  src/main/docker/Dockerfile
  src/main/docker/docker-compose.yml
Labels: ready for review

#4316 `Lecture`: Fix issues with lecture attachments and quiz exercise re-evaluation
  jest.config.js
  src/main/java/de/tum/in/www1/artemis/repository/LectureRepository.java
  src/main/java/de/tum/in/www1/artemis/web/rest/LectureResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/lecture/AttachmentUnitResource.java
  src/main/webapp/app/exercises/quiz/manage/re-evaluate/quiz-re-evaluate.service.ts
  src/main/webapp/app/exercises/shared/exercise/exercise.service.ts
  src/main/webapp/app/lecture/attachment.service.ts
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/lecture-unit-management.component.ts
  src/main/webapp/app/lecture/lecture.route.ts
  src/main/webapp/app/lecture/lecture.service.ts
  src/main/webapp/app/overview/course-lectures/course-lecture-details.component.ts
  src/test/java/de/tum/in/www1/artemis/LectureIntegrationTest.java
  src/test/javascript/spec/component/lecture-unit/lecture-unit-management.component.spec.ts
  src/test/javascript/spec/component/overview/course-lectures/course-lecture-details.component.spec.ts
  src/test/javascript/spec/service/lecture.service.spec.ts
Labels: tests, ready for review, server, client, component:Quiz, bugfix

#4208 `Notifications`: Fix small issues related to email notifications
  src/main/java/de/tum/in/www1/artemis/service/MailService.java
  src/main/java/de/tum/in/www1/artemis/service/notifications/GroupNotificationService.java
  src/main/java/de/tum/in/www1/artemis/service/notifications/NotificationSettingsCommunicationChannel.java
  src/main/java/de/tum/in/www1/artemis/service/notifications/NotificationSettingsService.java
  src/main/java/de/tum/in/www1/artemis/service/notifications/SingleUserNotificationService.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/NotificationScheduleService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/NotificationResource.java
  src/main/resources/i18n/messages_de.properties
  src/main/webapp/app/shared/user-settings/notification-settings/notification-settings.component.html
  src/main/webapp/app/shared/user-settings/notification-settings/notification-settings.component.ts
  src/test/java/de/tum/in/www1/artemis/domain/notification/SingleUserNotificationFactoryTest.java
  src/test/java/de/tum/in/www1/artemis/service/GroupNotificationServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/notifications/GroupNotificationServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/notifications/NotificationSettingsServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/notifications/SingleUserNotificationServiceTest.java
  src/test/javascript/spec/component/shared/user-settings/notification-settings.component.spec.ts
Labels: tests, ready for review, server, client, code quality, notification system, ready to merge, user settings

#4167 `Development`: Update Cypress documentation on Github
  src/test/cypress/README.md
Labels: tests, ready for review, chore, small, cypress

#4320 `Development`: Speed up client tests for split pane header component
  src/test/javascript/spec/component/plagiarism/split-pane-header.component.spec.ts
Labels: tests, ready to merge

#4319 `Development`: Speedup client tests for course update component
  src/test/javascript/spec/component/course/course-update.component.spec.ts
Labels: tests, ready to merge

#4298 `Assessment`: Link more feedback requests page on course overview chart
  src/main/webapp/app/course/manage/detail/course-detail-doughnut-chart.component.ts
Labels: ready for review, client, small

#4299 `Text exercises`: Improve incoming assessment event validation
  src/main/java/de/tum/in/www1/artemis/web/rest/TextAssessmentEventResource.java
Labels: ready for review, server, bugfix

#4302 `Development`: Enable unused integration tests for programming exercises
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseIntegrationBambooBitbucketJiraTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseIntegrationJenkinsGitlabTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseIntegrationServiceTest.java
Labels: tests, ready for review, small

#4276 `Development`: Refine setup guide and update dockerfiles
  docs/dev/setup.rst
  docs/dev/setup/bamboo-bitbucket-jira.rst
  docs/dev/setup/bamboo-bitbucket-jira/jira_add_application.png
  docs/dev/setup/bamboo-bitbucket-jira/jira_add_application_bamboo.png
  docs/dev/setup/bamboo-bitbucket-jira/jira_add_application_bitbucket.png
  docs/dev/setup/bamboo-bitbucket-jira/user_directories.png
  docs/dev/setup/bamboo-bitbucket-jira/user_directories_bamboo.png
  docs/dev/setup/bamboo-bitbucket-jira/user_directories_bitbucket.png
  docs/dev/setup/common-problems.rst
  src/main/docker/atlassian.yml
  src/main/docker/bamboo/Dockerfile
  src/main/docker/bamboo/c/Dockerfile
  src/main/docker/bamboo/swift/Dockerfile
Labels: ready to merge

#4188 `Quiz exercises`: Show error message for too long answer options in short answer questions
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise-validation.directive.ts
  src/main/webapp/i18n/de/quizExercise.json
  src/main/webapp/i18n/en/quizExercise.json
  src/test/javascript/spec/component/quiz-exercise/quiz-exercise-detail.component.spec.ts
Labels: tests, ready for review, client, component:Quiz, bugfix, javascript, ready to merge

#4324 `Development`: Add id selectors in cypress e2e login tests
  src/main/webapp/app/home/home.component.html
  src/main/webapp/app/shared/layouts/footer/footer.component.html
  src/test/cypress/support/pageobjects/LoginPage.ts
Labels: tests, client, chore, cypress, ready to merge

#4254 `Development`: Improve Orion client tests
  src/main/webapp/app/shared/orion/modal-confirm-autofocus/modal-confirm-autofocus.component.ts
  src/main/webapp/app/shared/orion/orion-connector.service.ts
  src/main/webapp/app/shared/orion/orion.ts
  src/test/javascript/spec/component/orion/orion-button.component.spec.ts
  src/test/javascript/spec/component/orion/orion-code-editor-instructor-and-editor-container.component.spec.ts
  src/test/javascript/spec/component/orion/orion-course-exercise-details.component.spec.ts
  src/test/javascript/spec/component/orion/orion-exercise-assessment-dashboard.component.spec.ts
  src/test/javascript/spec/component/orion/orion-exercise-details-student-actions.component.spec.ts
  src/test/javascript/spec/component/orion/orion-outdated.component.spec.ts
  src/test/javascript/spec/component/orion/orion-programming-exercise.component.spec.ts
  src/test/javascript/spec/component/orion/orion-tutor-assessment.component.spec.ts
  src/test/javascript/spec/directive/orion-filter.directive.spec.ts
  src/test/javascript/spec/service/ide-build-and-test.service.spec.ts
  src/test/javascript/spec/service/orion-version-validator.service.spec.ts
  src/test/javascript/spec/service/orion/orion-assessment.service.spec.ts
  src/test/javascript/spec/service/orion/orion-build-and-test.service.spec.ts
  src/test/javascript/spec/service/orion/orion-connector.service.spec.ts
  src/test/javascript/spec/service/orion/orion-version-validator.service.spec.ts
Labels: tests, client, chore, component:Orion, ready to merge

#4315 `Assessments`: Fix complaint handling for team exercises as tutors
  src/main/java/de/tum/in/www1/artemis/web/rest/ComplaintResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextExerciseResource.java
  src/main/webapp/app/assessment/assessment-header/assessment-header.component.html
  src/main/webapp/app/assessment/assessment-header/assessment-header.component.ts
  src/main/webapp/app/assessment/assessment-layout/assessment-layout.component.html
  src/main/webapp/app/assessment/assessment.service.ts
  src/main/webapp/app/complaints/complaints-for-students/complaints-student-view.component.ts
  src/main/webapp/app/complaints/complaints-for-tutor/complaints-for-tutor.component.ts
  src/main/webapp/app/exam/participate/exercises/programming/programming-exam-submission.component.ts
  src/main/webapp/app/exercises/file-upload/assess/file-upload-assessment.component.ts
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment-editor/modeling-assessment-editor.component.ts
  src/main/webapp/app/exercises/programming/assess/code-editor-tutor-assessment-container.component.ts
  src/main/webapp/app/exercises/text/assess/text-submission-assessment.component.ts
  src/main/webapp/i18n/de/assessment.json
  src/main/webapp/i18n/en/assessment.json
  src/test/java/de/tum/in/www1/artemis/AssessmentComplaintIntegrationTest.java
  src/test/javascript/spec/component/exam/participate/exercises/programming-exam-submission.component.spec.ts
  src/test/javascript/spec/component/modeling-assessment-editor/modeling-assessment-editor.component.spec.ts
  src/test/javascript/spec/service/assessment.service.spec.ts
Labels: tests, ready for review, server, client, bugfix

#4266 `Development`: Speed up client tests for programming exam submissions and programming exercise instructions
  src/main/webapp/app/exercises/programming/manage/instructions-editor/analysis/programming-exercise-instruction-analysis.model.ts
  src/main/webapp/app/exercises/programming/manage/instructions-editor/analysis/programming-exercise-instruction-analysis.service.ts
  src/main/webapp/app/exercises/programming/manage/instructions-editor/programming-exercise-editable-instruction.component.ts
  src/main/webapp/app/exercises/programming/shared/actions/programming-exercise-trigger-build-button.component.ts
  src/main/webapp/app/exercises/programming/shared/code-editor/container/code-editor-container.component.ts
  src/main/webapp/app/exercises/programming/shared/code-editor/file-browser/code-editor-file-browser.component.ts
  src/main/webapp/app/exercises/programming/shared/code-editor/service/code-editor-file.service.ts
  src/test/javascript/spec/component/code-editor/code-editor-file-browser.component.spec.ts
  src/test/javascript/spec/component/exam/participate/exercises/programming-exam-submission.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-editable-instruction.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-instruction-analysis.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-trigger-build-button.component.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-programming-exericse-instruction-analysis.service.ts
  src/test/javascript/spec/service/programming-exercise-instruction-analysis.service.spec.ts
Labels: tests, ready for review, client

#4333 `Development`: Speedup client test for user management component
  src/test/javascript/spec/component/admin/user-management.component.spec.ts
Labels: tests, chore, ready to merge

#4339 ``General``: Improve instructor course overview style
  src/main/webapp/app/course/manage/overview/course-management-card.component.html
  src/main/webapp/app/course/manage/overview/course-management-card.scss
  src/main/webapp/app/course/manage/overview/course-management-exercise-row.component.html
  src/main/webapp/app/course/manage/overview/course-management-exercise-row.scss
Labels: enhancement, ready for review, client

#4314 `Notifications`: Add separate notification and setting for changed programming test cases
  src/main/java/de/tum/in/www1/artemis/config/Constants.java
  src/main/java/de/tum/in/www1/artemis/domain/enumeration/NotificationType.java
  src/main/java/de/tum/in/www1/artemis/domain/notification/GroupNotificationFactory.java
  src/main/java/de/tum/in/www1/artemis/domain/notification/NotificationTitleTypeConstants.java
  src/main/java/de/tum/in/www1/artemis/service/notifications/GroupNotificationService.java
  src/main/java/de/tum/in/www1/artemis/service/notifications/NotificationSettingsService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingSubmissionService.java
  src/main/webapp/app/entities/notification.model.ts
  src/main/webapp/app/shared/constants/user-settings.constants.ts
  src/main/webapp/app/shared/user-settings/notification-settings/notification-settings-structure.ts
  src/main/webapp/app/shared/user-settings/notification-settings/notification-settings.component.html
  src/main/webapp/app/shared/user-settings/user-settings.model.ts
  src/main/webapp/i18n/de/userSettings.json
  src/main/webapp/i18n/en/userSettings.json
  src/test/java/de/tum/in/www1/artemis/domain/notification/GroupNotificationFactoryTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseTestCaseServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/notifications/GroupNotificationServiceTest.java
Labels: tests, server, client, small, notification system, ready to merge, user settings

#4338 `Development`: Speedup client tests for text feedback conflict
  src/test/javascript/spec/component/text-submission-assessment/text-feedback-conflicts.component.spec.ts
Labels: tests, ready to merge

#4331 `Development`: Speedup client tests for button component
  src/test/javascript/spec/component/shared/button.component.spec.ts
Labels: tests, client, ready to merge

#4273 `Assessment`: Show average rating for exercises in course assessment dashboard
  src/main/java/de/tum/in/www1/artemis/domain/Exercise.java
  src/main/java/de/tum/in/www1/artemis/domain/assessment/dashboard/ExerciseRatingCount.java
  src/main/java/de/tum/in/www1/artemis/repository/RatingRepository.java
  src/main/java/de/tum/in/www1/artemis/service/AssessmentDashboardService.java
  src/main/java/de/tum/in/www1/artemis/service/RatingService.java
  src/main/webapp/app/course/dashboards/assessment-dashboard/assessment-dashboard.component.html
  src/main/webapp/app/entities/exercise.model.ts
  src/main/webapp/app/shared/dashboards/tutor-leaderboard/tutor-leaderboard.component.html
  src/main/webapp/i18n/de/assessmentDashboard.json
  src/main/webapp/i18n/en/assessmentDashboard.json
Labels: server, client, ready to merge

#4296 `Development`: Modernize chart visualization of active students and performance in exercises
  src/main/webapp/app/course/manage/course-management.module.ts
  src/main/webapp/app/course/manage/overview/course-management-card.component.html
  src/main/webapp/app/course/manage/overview/course-management-overview-statistics.component.html
  src/main/webapp/app/course/manage/overview/course-management-overview-statistics.component.ts
  src/main/webapp/app/overview/visualizations/exercise-scores-chart.module.ts
  src/main/webapp/app/overview/visualizations/exercise-scores-chart/exercise-scores-chart.component.html
  src/main/webapp/app/overview/visualizations/exercise-scores-chart/exercise-scores-chart.component.scss
  src/main/webapp/app/overview/visualizations/exercise-scores-chart/exercise-scores-chart.component.ts
  src/main/webapp/i18n/de/course.json
  src/main/webapp/i18n/de/visualizations.json
  src/main/webapp/i18n/en/course.json
  src/main/webapp/i18n/en/visualizations.json
  src/test/javascript/spec/component/course/course-management-overview-statistics.component.spec.ts
  src/test/javascript/spec/component/organization/organization-management-update.component.spec.ts
  src/test/javascript/spec/component/overview/course-statistics/visualizations/exercise-scores-chart.component.spec.ts
Labels: tests, client, ready to merge

#4337 `Development`: Improve code quality in quiz exercise detail client tests
  src/test/javascript/spec/component/quiz-exercise/quiz-exercise-detail.component.spec.ts
Labels: tests, ready for review, client, small

#3926 `Exam mode`: Reject exam exercises with date attributes set
  src/main/java/de/tum/in/www1/artemis/domain/Exercise.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingExerciseResource.java
  src/main/webapp/app/entities/exercise.model.ts
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise-update.component.ts
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.ts
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise-update.component.ts
  src/test/java/de/tum/in/www1/artemis/FileUploadExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ModelingAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ModelingExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/TextExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseBitbucketBambooIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseGitlabJenkinsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseTestService.java
  src/test/java/de/tum/in/www1/artemis/util/InvalidExamExerciseDatesArgumentProvider.java
  src/test/java/de/tum/in/www1/artemis/util/InvalidExerciseConfiguration.java
Labels: tests, ready for review, server, client, priority:low, exam mode, bugfix

#4351 `Development`: Rename some server tests with confusing names
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseIntegrationBambooBitbucketJiraTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseIntegrationJenkinsGitlabTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseIntegrationServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/SubmissionServiceTest.java
Labels: tests, server, code quality, ready to merge

#4249 `Development`: Add custom reloadUntilFound command for cypress e2e tests
  src/test/cypress/integration/exercises/quiz-exercise/QuizExerciseAssessment.spec.ts
  src/test/cypress/support/commands.ts
  src/test/cypress/support/pageobjects/assessment/CourseAssessmentDashboardPage.ts
  src/test/cypress/support/requests/CourseManagementRequests.ts
Labels: tests, refactoring, cypress, ready to merge

#4303 `Discussion`: Improve announcement post handling and formatting
  build.gradle
  src/main/java/de/tum/in/www1/artemis/service/MailService.java
  src/main/java/de/tum/in/www1/artemis/service/metis/AnswerPostService.java
  src/main/java/de/tum/in/www1/artemis/service/metis/PostService.java
  src/main/java/de/tum/in/www1/artemis/service/metis/PostingService.java
  src/main/java/de/tum/in/www1/artemis/service/notifications/GroupNotificationService.java
  src/main/resources/templates/mail/notification/announcementPostEmail.html
  src/main/webapp/app/shared/markdown.service.ts
  src/main/webapp/app/shared/metis/metis.module.ts
  src/main/webapp/app/shared/metis/posting-content/posting-content-part/posting-content-part.component.html
  src/main/webapp/app/shared/metis/postings-create-edit-modal/post-create-edit-modal/post-create-edit-modal.component.html
  src/main/webapp/app/shared/metis/postings-header/post-header/post-header.component.html
  src/main/webapp/app/shared/metis/postings-header/post-header/post-header.component.ts
  src/main/webapp/app/shared/pipes/html-for-posting-markdown.pipe.ts
  src/main/webapp/app/shared/pipes/posting-content-markdown-linebreak.pipe.ts
  src/main/webapp/content/scss/global.scss
  src/main/webapp/i18n/de/metis.json
  src/main/webapp/i18n/en/metis.json
  src/test/java/de/tum/in/www1/artemis/metis/PostIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/notifications/GroupNotificationServiceTest.java
  src/test/javascript/spec/component/shared/metis/posting-content/posting-content-part.component.spec.ts
  src/test/javascript/spec/component/shared/metis/postings-header/post-header/post-header.component.spec.ts
Labels: tests, server, client, Metis, ready to merge, email

#4343 `Development`: Refactor client test routing mocks
  src/test/javascript/spec/component/admin/audits.component.spec.ts
  src/test/javascript/spec/component/admin/system-notification-management/system-notification-detail.component.spec.ts
  src/test/javascript/spec/component/admin/system-notification-management/system-notification-management.component.spec.ts
  src/test/javascript/spec/component/admin/upcoming-exams-and-exercises.component.spec.ts
  src/test/javascript/spec/component/admin/user-management.component.spec.ts
  src/test/javascript/spec/component/apollon-diagrams/apollon-diagram-detail.component.spec.ts
  src/test/javascript/spec/component/assessment-shared/assessment-layout.component.spec.ts
  src/test/javascript/spec/component/assessment-shared/assessment-locks.component.spec.ts
  src/test/javascript/spec/component/consistency-check/consistency-check.component.spec.ts
  src/test/javascript/spec/component/course/course-group.component.spec.ts
  src/test/javascript/spec/component/course/course-management-card.component.spec.ts
  src/test/javascript/spec/component/course/course-management-exercise-row.component.spec.ts
  src/test/javascript/spec/component/course/detail/course-detail.component.spec.ts
  src/test/javascript/spec/component/exam-exercise-row-buttons/exam-exercise-row-buttons.component.spec.ts
  src/test/javascript/spec/component/exam/manage/exam-exercise-row-buttons.component.spec.ts
  src/test/javascript/spec/component/exam/manage/exam-management.component.spec.ts
  src/test/javascript/spec/component/exam/manage/exercise-groups.component.spec.ts
  src/test/javascript/spec/component/exam/participate/exam-participation-cover.component.spec.ts
  src/test/javascript/spec/component/file-upload-assessment-dashboard/file-upload-assessment-dashboard.component.spec.ts
  src/test/javascript/spec/component/grading-system/grading-key-overview.component.spec.ts
  src/test/javascript/spec/component/lecture-unit/lecture-unit-management.component.spec.ts
  src/test/javascript/spec/component/non-programming-exercise-detail-common-actions.component.spec.ts
  src/test/javascript/spec/component/overview/course-card.component.spec.ts
  src/test/javascript/spec/component/overview/exercise-details/course-exercise-details.component.spec.ts
  src/test/javascript/spec/component/overview/exercise-details/exercise-details-student-actions.component.spec.ts
  src/test/javascript/spec/component/overview/page-discussion-section/page-discussion-section.component.spec.ts
  src/test/javascript/spec/component/shared/course-exam-archive-button.component.spec.ts
  src/test/javascript/spec/component/shared/metis/post/post.component.spec.ts
  src/test/javascript/spec/component/shared/metis/posting-content/posting-content-part.component.spec.ts
  src/test/javascript/spec/component/shared/navbar.component.spec.ts
  src/test/javascript/spec/component/shared/notification/notification-sidebar.component.spec.ts
  src/test/javascript/spec/component/statistics/doughnut-chart.component.spec.ts
  src/test/javascript/spec/component/statistics/exercise-detail-statistics.component.spec.ts
  src/test/javascript/spec/component/team/teams.component.spec.ts
  src/test/javascript/spec/component/text-cluster-statistics/text-cluster-statistics.component.spec.ts
  src/test/javascript/spec/component/text-exercise/text-exercise-detail.component.spec.ts
  src/test/javascript/spec/directive/orion-filter.directive.spec.ts
  src/test/javascript/spec/helpers/mocks/activated-route/mock-activated-route.ts
  src/test/javascript/spec/helpers/mocks/directive/mock-router-link.directive.ts
  src/test/javascript/spec/helpers/mocks/directive/mock-translate-values.directive.ts
  src/test/javascript/spec/helpers/mocks/mock-router.ts
  src/test/javascript/spec/helpers/mocks/service/mock-route.service.ts
  src/test/javascript/spec/service/navigation-util.service.spec.ts
  src/test/javascript/spec/service/profile.service.spec.ts
Labels: tests, refactoring, ready to merge

#4347 `Assessment`: Show legend warning element only for tutors when assessing example submissions for modeling exercises
  src/main/webapp/app/exercises/modeling/manage/example-modeling/example-modeling-submission.component.html
  src/main/webapp/app/exercises/shared/dashboards/tutor/exercise-assessment-dashboard.component.html
  src/main/webapp/app/exercises/shared/example-submission/example-submission-assess-command.ts
  src/main/webapp/app/guided-tour/tours/tutor-assessment-tour.ts
  src/main/webapp/i18n/de/exampleSubmission.json
  src/main/webapp/i18n/de/exerciseAssessmentDashboard.json
  src/main/webapp/i18n/de/guidedTourTutorAssessment.json
  src/main/webapp/i18n/en/exampleSubmission.json
  src/main/webapp/i18n/en/exerciseAssessmentDashboard.json
  src/main/webapp/i18n/en/guidedTourTutorAssessment.json
Labels: client, small, ready to merge

#4348 `Assessment`: Improve the color of assessment status in tutor training
  src/main/webapp/app/exercises/text/assess/textblock-feedback-editor/textblock-feedback-editor.component.html
  src/main/webapp/app/exercises/text/manage/example-text-submission/example-text-submission.component.ts
Labels: client, small, ready to merge

#4359 `Development`: Remove unnecessary console log
  src/main/webapp/app/shared/metis/posting-create-edit-modal/posting-create-edit-modal.directive.ts
Labels: client

#4355 `Development`: Fix cypress modeling exercise tests
  package-lock.json
  package.json
  src/test/cypress/integration/exam/ExamAssessment.spec.ts
  src/test/cypress/integration/exercises/modeling/ModelingExerciseAssessment.spec.ts
  src/test/cypress/integration/exercises/modeling/ModelingExerciseManagement.spec.ts
  src/test/cypress/support/pageobjects/assessment/ExerciseAssessmentDashboardPage.ts
  src/test/cypress/support/pageobjects/assessment/ModelingExerciseAssessmentEditor.ts
  src/test/cypress/support/pageobjects/exercises/modeling/ModelingEditor.ts
Labels: work in progress, tests, cypress

#4335 `Notifications`: Add new notification, email, settings for successful file submissions
  src/main/java/de/tum/in/www1/artemis/domain/enumeration/NotificationType.java
  src/main/java/de/tum/in/www1/artemis/domain/notification/NotificationTitleTypeConstants.java
  src/main/java/de/tum/in/www1/artemis/domain/notification/SingleUserNotificationFactory.java
  src/main/java/de/tum/in/www1/artemis/service/MailService.java
  src/main/java/de/tum/in/www1/artemis/service/notifications/GroupNotificationService.java
  src/main/java/de/tum/in/www1/artemis/service/notifications/NotificationSettingsService.java
  src/main/java/de/tum/in/www1/artemis/service/notifications/SingleUserNotificationService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/FileUploadSubmissionResource.java
  src/main/resources/i18n/messages.properties
  src/main/resources/i18n/messages_de.properties
  src/main/resources/i18n/messages_en.properties
  src/main/resources/templates/mail/notification/fileSubmissionSuccessfulEmail.html
  src/main/webapp/app/entities/notification.model.ts
  src/main/webapp/app/shared/constants/user-settings.constants.ts
  src/main/webapp/app/shared/user-settings/notification-settings/notification-settings-structure.ts
  src/main/webapp/app/shared/user-settings/notification-settings/notification-settings.service.ts
  src/main/webapp/i18n/de/userSettings.json
  src/main/webapp/i18n/en/userSettings.json
  src/test/java/de/tum/in/www1/artemis/domain/notification/SingleUserNotificationFactoryTest.java
  src/test/java/de/tum/in/www1/artemis/service/notifications/GroupNotificationServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/notifications/NotificationSettingsServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/notifications/SingleUserNotificationServiceTest.java
  src/test/javascript/spec/component/shared/user-settings/notification-settings.service.spec.ts
Labels: tests, server, client, notification system, ready to merge, user settings, email

#4357 `Modeling exercises`: Replace modeling participation auto save alert with permanent save information
  src/main/webapp/app/exercises/modeling/participate/modeling-submission.component.html
  src/main/webapp/app/exercises/modeling/participate/modeling-submission.component.ts
  src/main/webapp/app/exercises/modeling/shared/modeling-editor.component.html
  src/main/webapp/app/exercises/modeling/shared/modeling-editor.component.scss
  src/main/webapp/app/exercises/modeling/shared/modeling-editor.component.ts
  src/main/webapp/i18n/de/modelingEditor.json
  src/main/webapp/i18n/en/modelingEditor.json
  src/test/javascript/spec/component/modeling-editor/modeling-editor.component.spec.ts
  src/test/javascript/spec/component/modeling-submission/modeling-submission.component.spec.ts
Labels: enhancement, tests, ready for review, client, component:Modeling

#4371 `Development`: Speed up client tests for exercise group
  src/main/webapp/app/exam/manage/exercise-groups/exercise-groups.component.ts
  src/test/javascript/spec/component/exam/manage/exercise-groups.component.spec.ts
Labels: tests, client, ready to merge

#4370 `Development`: Exclude style checks from Java run configurations
  .idea/runConfigurations/Artemis__Server_.xml
  .idea/runConfigurations/Artemis__Server__Athene_.xml
  .idea/runConfigurations/Artemis__Server__Jenkins___Gitlab_.xml
Labels: ready to merge

#4363 `Development`: Solve merge conflict breaking the course statistics
  src/main/webapp/app/overview/visualizations/exercise-scores-chart.module.ts
  src/main/webapp/app/overview/visualizations/exercise-scores-chart/exercise-scores-chart.component.ts
  src/test/javascript/spec/component/overview/course-statistics/visualizations/exercise-scores-chart.component.spec.ts
Labels: tests, client, ready to merge

#4353 `General`: Improve course registration and further reduce loading time of the first page visit
  src/main/webapp/app/overview/course-registration-selector/course-registration-selector.component.html
  src/main/webapp/app/overview/course-registration-selector/course-registration-selector.component.ts
  src/main/webapp/app/overview/course-registration/course-registration.component.html
  src/main/webapp/app/overview/course-registration/course-registration.component.ts
  src/main/webapp/app/overview/course-registration/course-registration.module.ts
  src/main/webapp/app/overview/courses-routing.module.ts
  src/main/webapp/app/overview/courses.component.html
  src/main/webapp/app/overview/courses.module.ts
  src/main/webapp/app/overview/exercise-details/course-exercise-details.module.ts
  src/main/webapp/app/shared/markdown.module.ts
  src/main/webapp/app/shared/shared.module.ts
  src/main/webapp/i18n/de/student-dashboard.json
  src/main/webapp/i18n/en/student-dashboard.json
  src/test/javascript/spec/component/course-registration-selector/course-registration-selector.component.spec.ts
  src/test/javascript/spec/component/course-registration/course-registration.component.spec.ts
  src/test/javascript/spec/component/course/course-overview.component.spec.ts
  src/test/javascript/spec/component/course/course.component.spec.ts
  src/test/javascript/spec/integration/guided-tour/guided-tour.integration.spec.ts
Labels: tests, client, chore, ready to merge

#4358 `Development`: Remove outdated database column in post table
  artemis.jh
  src/main/resources/config/liquibase/changelog/20211115200300_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/i18n/de/metis.json
  src/main/webapp/i18n/en/metis.json
Labels: client, database, small, ready to merge

#4350 Development: Speed up client tests for programming exercise update
  src/test/javascript/spec/component/programming-exercise/programming-exercise-update.component.spec.ts
Labels: tests, chore, ready to merge

#4361 `Assessment`: Improve tutor training validation logic to not allow negative score without feedback
  src/main/java/de/tum/in/www1/artemis/service/TutorParticipationService.java
  src/main/webapp/app/entities/feedback.model.ts
  src/main/webapp/i18n/de/exampleSubmission.json
  src/main/webapp/i18n/en/exampleSubmission.json
Labels: server, client, small, ready to merge

#4365 `Development`: Update Cypress to version 9.1.0
  src/test/cypress/package-lock.json
  src/test/cypress/package.json
Labels: tests, dependencies, cypress, ready to merge

#4340 `Development`: Remove last occurrence of lodash/fp
  angular.json
  jest.config.js
  src/main/webapp/app/shared/data-table/data-table.component.ts
Labels: ready for review, client

#4342 `Development`: Update server dependencies
  README.md
  build.gradle
  docker-compose.yml
  gradle.properties
  gradle/liquibase.gradle
  gradle/wrapper/gradle-wrapper.properties
  src/main/docker/gitlab-jenkins-mysql.yml
  src/main/docker/monitoring.yml
  src/main/docker/prometheus/prometheus.yml
  src/main/java/de/tum/in/www1/artemis/config/SecurityConfiguration.java
  src/main/java/de/tum/in/www1/artemis/domain/Result.java
  src/main/java/de/tum/in/www1/artemis/management/SecurityMetersService.java
  src/main/java/de/tum/in/www1/artemis/repository/StudentParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/security/SecurityUtils.java
  src/main/java/de/tum/in/www1/artemis/security/jwt/TokenProvider.java
  src/main/java/de/tum/in/www1/artemis/service/AssessmentService.java
  src/main/java/de/tum/in/www1/artemis/service/CourseService.java
  src/main/java/de/tum/in/www1/artemis/service/ExerciseDeletionService.java
  src/main/java/de/tum/in/www1/artemis/service/ExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/exam/ExamService.java
  src/main/java/de/tum/in/www1/artemis/service/plagiarism/ModelingPlagiarismDetectionService.java
  src/main/java/de/tum/in/www1/artemis/service/plagiarism/PlagiarismWebsocketService.java
  src/main/java/de/tum/in/www1/artemis/service/plagiarism/ProgrammingPlagiarismDetectionService.java
  src/main/java/de/tum/in/www1/artemis/service/plagiarism/TextPlagiarismDetectionService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingAssessmentService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseGradingService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExerciseGroupResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/FileUploadExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/QuizExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextExerciseResource.java
  src/main/kubernetes/artemis/statefulsets/artemis-mysql.yml
  src/main/resources/config/application-prod.yml
  src/test/java/de/tum/in/www1/artemis/management/SecurityMetersServiceTests.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/security/SecurityUtilsUnitTest.java
  src/test/java/de/tum/in/www1/artemis/security/jwt/JWTFilterTest.java
  src/test/java/de/tum/in/www1/artemis/security/jwt/TokenProviderSecurityMetersTests.java
  src/test/java/de/tum/in/www1/artemis/security/jwt/TokenProviderTest.java
  src/test/java/de/tum/in/www1/artemis/service/FileServiceTest.java
Labels: tests, dependencies, server, chore

#4381 `Development:` Add erroneously removed translations
  src/main/webapp/i18n/de/modelingEditor.json
  src/main/webapp/i18n/en/modelingEditor.json
Labels: client, cypress, ready to merge

#4378 `Development`: Fix cypress e2e quiz participation tests
  src/test/cypress/integration/exercises/quiz-exercise/QuizExerciseParticipation.spec.ts
  src/test/cypress/support/pageobjects/course/CourseOverviewPage.ts
  src/test/cypress/support/pageobjects/exercises/programming/OnlineEditorPage.ts
  src/test/cypress/support/pageobjects/exercises/quiz/MultipleChoiceQuiz.ts
Labels: tests, cypress, ready to merge

#4373 `General`: Update contributor information in about page
  src/main/resources/public/content/about-us.json
  src/main/resources/public/images/about/Julian_Christl.png
  src/main/resources/public/images/about/Lorena_Schlesinger.jpg
Labels: enhancement, ready for review

#4291 `Programming exercises`: Check if a build plan already exists before creating it when using Jenkins
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/jobs/JenkinsJobService.java
  src/test/java/de/tum/in/www1/artemis/AbstractSpringIntegrationJenkinsGitlabTest.java
  src/test/java/de/tum/in/www1/artemis/connector/JenkinsRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/service/JenkinsJobServiceTest.java
Labels: tests, ready for review, server, component:Programming, jenkins/gitlab

#4292 `General`: Use configured archives path as base of temporary directories in exam export
  src/main/java/de/tum/in/www1/artemis/service/CourseExamExportService.java
Labels: ready for review, server

#4382 `General`: Fix an issues with performance charts when values have more than 100%
  src/main/webapp/app/overview/visualizations/exercise-scores-chart/exercise-scores-chart.component.html
  src/main/webapp/app/overview/visualizations/exercise-scores-chart/exercise-scores-chart.component.ts
Labels: ready for review, client

#4375 `General`: Fix sorting in course management exercise list
  src/main/webapp/app/exercises/file-upload/manage/file-upload-exercise.component.html
  src/main/webapp/app/exercises/file-upload/manage/file-upload-exercise.component.ts
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise.component.html
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise.component.ts
  src/main/webapp/app/exercises/programming/manage/programming-exercise.component.html
  src/main/webapp/app/exercises/programming/manage/programming-exercise.component.ts
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise.component.html
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise.component.ts
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise.component.html
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise.component.ts
  src/test/javascript/spec/component/modeling-exercise/modeling-exercise.component.spec.ts
Labels: tests, ready for review, client, bugfix

#4356 `Exam mode`: Fix translations
  src/main/webapp/app/exam/manage/exam-management.component.html
  src/main/webapp/app/exam/manage/exams/exam-checklist-component/exam-checklist.component.html
  src/main/webapp/app/exam/manage/exercise-groups/exercise-groups.component.html
  src/main/webapp/app/exam/manage/test-runs/create-test-run-modal.component.html
  src/main/webapp/app/exam/participate/exam-cover/exam-participation-cover.component.html
  src/main/webapp/app/exam/participate/exam-navigation-bar/exam-navigation-bar.component.html
  src/main/webapp/app/exam/participate/exam-participation.component.ts
  src/main/webapp/app/exam/participate/exam-participation.service.ts
  src/main/webapp/app/exam/participate/summary/exam-participation-summary.component.html
  src/main/webapp/app/shared/participant-scores/participant-scores-tables-container/participant-scores-tables-container.component.html
  src/main/webapp/i18n/de/assessmentDashboard.json
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/de/participantScores.json
  src/main/webapp/i18n/en/exam.json
  src/main/webapp/i18n/en/global.json
Labels: ready for review, client

#4376 `Development`: Move client tests for programming exercise utils into a single file
  src/test/javascript/spec/component/programming-exercise/programming-exercise.utils.spec.ts
  src/test/javascript/spec/component/utils/programming-exercise.utils.spec.ts
Labels: tests, ready for review, code quality, small

#4366 `Development`: Improve client tests for the participants list
  src/main/webapp/app/exercises/shared/participation/participation.component.ts
  src/test/javascript/spec/component/participation/participation.component.spec.ts
Labels: tests, ready for review, client

#4135 `General`: Enable score export with points per grading criterion into a CSV file
  src/main/java/de/tum/in/www1/artemis/repository/ResultRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/StudentParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ResultResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/ResultWithPointsPerGradingCriterionDTO.java
  src/main/webapp/app/course/manage/overview/course-management-exercise-row.component.html
  src/main/webapp/app/entities/result-with-points-per-grading-criterion.model.ts
  src/main/webapp/app/exercises/file-upload/manage/file-upload-exercise.component.html
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise.component.html
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.html
  src/main/webapp/app/exercises/programming/manage/programming-exercise.component.html
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise.component.html
  src/main/webapp/app/exercises/shared/exercise-detail-common-actions/non-programming-exercise-detail-common-actions.component.html
  src/main/webapp/app/exercises/shared/exercise-scores/exercise-scores-export-button.component.ts
  src/main/webapp/app/exercises/shared/result/result.service.ts
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise-row-buttons.component.html
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.html
  src/test/java/de/tum/in/www1/artemis/ResultServiceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/ModelFactory.java
  src/test/javascript/spec/component/shared/exercise-scores-export-button.component.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-result.service.ts
  src/test/javascript/spec/service/result.service.spec.ts
Labels: tests, ready for review, server, client

#4380 `Development`: Speedup client tests for grading system
  src/test/javascript/spec/component/grading-system/grading-system.component.spec.ts
Labels: tests, ready for review

#4384 `Development`: Fix flaky cypress e2e exam quiz assessment test
  src/test/cypress/integration/exam/ExamAssessment.spec.ts
  src/test/cypress/integration/exam/ExamManagement.spec.ts
  src/test/cypress/support/pageobjects/ArtemisPageobjects.ts
  src/test/cypress/support/pageobjects/exam/StudentExamManagementPage.ts
Labels: tests, refactoring, FlakyTestFix, cypress, ready to merge

#4345 `Development`: Increase code quality for mail service and notification system
  src/main/java/de/tum/in/www1/artemis/domain/Exercise.java
  src/main/java/de/tum/in/www1/artemis/domain/FileUploadExercise.java
  src/main/java/de/tum/in/www1/artemis/domain/ProgrammingExercise.java
  src/main/java/de/tum/in/www1/artemis/domain/TextExercise.java
  src/main/java/de/tum/in/www1/artemis/domain/enumeration/ExerciseType.java
  src/main/java/de/tum/in/www1/artemis/domain/modeling/ModelingExercise.java
  src/main/java/de/tum/in/www1/artemis/domain/notification/GroupNotificationFactory.java
  src/main/java/de/tum/in/www1/artemis/domain/notification/SingleUserNotificationFactory.java
  src/main/java/de/tum/in/www1/artemis/domain/quiz/QuizExercise.java
  src/main/java/de/tum/in/www1/artemis/service/MailService.java
  src/main/java/de/tum/in/www1/artemis/service/notifications/GroupNotificationService.java
  src/main/java/de/tum/in/www1/artemis/service/notifications/SingleUserNotificationService.java
  src/main/resources/i18n/messages.properties
  src/main/resources/i18n/messages_de.properties
  src/main/resources/i18n/messages_en.properties
  src/main/resources/templates/mail/notification/fragments.html
  src/test/java/de/tum/in/www1/artemis/domain/notification/GroupNotificationFactoryTest.java
  src/test/java/de/tum/in/www1/artemis/domain/notification/SingleUserNotificationFactoryTest.java
  src/test/java/de/tum/in/www1/artemis/service/notifications/GroupNotificationServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/notifications/SingleUserNotificationServiceTest.java
Labels: tests, ready for review, server, code quality, refactoring, small, ready to merge

#4395 `Notifications`: Do not send exercise released notifications for quizzes
  src/main/java/de/tum/in/www1/artemis/service/notifications/GroupNotificationService.java
  src/main/java/de/tum/in/www1/artemis/service/notifications/NotificationSettingsService.java
  src/main/java/de/tum/in/www1/artemis/service/notifications/SingleUserNotificationService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/QuizExerciseResource.java
Labels: server, small, bugfix, notification system, ready to merge
