Repository ls1intum/Artemis, pull requests merged in 2021-09, with the labels that each got.

#3940 [Chore] - Speed up client tests
  package.json
  src/main/java/de/tum/in/www1/artemis/web/rest/GradeStepResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/GradeStepsDTO.java
  src/main/webapp/app/course/manage/detail/course-detail-line-chart.component.ts
  src/main/webapp/app/overview/course-overview.component.ts
  src/main/webapp/app/shared/statistics-graph/statistics-graph.component.ts
  src/test/java/de/tum/in/www1/artemis/GradeStepIntegrationTest.java
  src/test/javascript/spec/component/assessment-dashboard/assessment-dashboard.component.spec.ts
  src/test/javascript/spec/component/assessment-dashboard/exercise-assessment-dashboard.component.spec.ts
  src/test/javascript/spec/component/assessment-shared/assessment-header.component.spec.ts
  src/test/javascript/spec/component/assessment-shared/assessment-locks.component.spec.ts
  src/test/javascript/spec/component/complaints/complaint-interactions.component.spec.ts
  src/test/javascript/spec/component/course/course-exercises.component.spec.ts
  src/test/javascript/spec/component/course/course-overview.component.spec.ts
  src/test/javascript/spec/component/course/course-scores/course-scores.component.spec.ts
  src/test/javascript/spec/component/exam/manage/exam-management.component.spec.ts
  src/test/javascript/spec/component/exam/manage/student-exams/student-exam-detail-table-row.component.spec.ts
  src/test/javascript/spec/component/exam/manage/student-exams/student-exam-detail.component.spec.ts
  src/test/javascript/spec/component/exercises/shared/exercise-scores.component.spec.ts
  src/test/javascript/spec/component/file-upload-exercise/file-upload-exercise-detail.component.spec.ts
  src/test/javascript/spec/component/participation-submission/participation-submission.component.spec.ts
  src/test/javascript/spec/component/plagiarism/plagiarism-sidebar.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-import.component.spec.ts
  src/test/javascript/spec/component/quiz-exercise/quiz-re-evaluate-warning.component.spec.ts
  src/test/javascript/spec/component/quiz-exercise/quiz-re-evaluate.component.spec.ts
  src/test/javascript/spec/component/text-submission-assessment/text-feedback-conflicts.component.spec.ts
  src/test/javascript/spec/helpers/mocks/directive/mock-translate-values.directive.ts
  yarn.lock
Labels: tests, server, client, ready to merge

#3937 [Chore] Provide default values for cypress requests
  src/test/cypress/integration/ModelingExercise.spec.ts
  src/test/cypress/integration/ProgrammingExercise.spec.ts
  src/test/cypress/integration/ProgrammingExerciseParticipation.spec.ts
  src/test/cypress/integration/exam/ExamCreationDeletion.spec.ts
  src/test/cypress/integration/exam/ExamDateVerification.spec.ts
  src/test/cypress/integration/exam/ExamManagement.spec.ts
  src/test/cypress/support/pageobjects/ExamStartEndPage.ts
  src/test/cypress/support/requests/CourseManagementRequests.ts
Labels: tests, ready for review, chore, cypress, ready to merge

#3978 [Chore] Improved cypress modeling exercise spec code quality
  src/test/cypress/integration/ModelingExercise.spec.ts
  src/test/cypress/support/pageobjects/CreateModelingExercisePage.ts
  src/test/cypress/support/requests/CourseManagementRequests.ts
Labels: tests, ready for review, chore, code quality, small, cypress, ready to merge

#3950 Restore translations for the assessment dashboard
  src/main/webapp/i18n/de/assessmentDashboard.json
  src/main/webapp/i18n/en/assessmentDashboard.json
Labels: ready for review, client, small, ready to merge

#3851 [Enhancement] - Multiple adaptions in the exam scores view
  src/main/java/de/tum/in/www1/artemis/service/exam/ExamService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/ExamScoresDTO.java
  src/main/webapp/app/entities/exercise.model.ts
  src/main/webapp/app/exam/exam-scores/exam-score-dtos.model.ts
  src/main/webapp/app/exam/exam-scores/exam-scores-average-scores-graph.component.ts
  src/main/webapp/app/exam/exam-scores/exam-scores.component.html
  src/main/webapp/app/exam/exam-scores/exam-scores.component.ts
  src/main/webapp/app/overview/visualizations/exercise-scores-chart/exercise-scores-chart.component.ts
  src/main/webapp/app/utils/navigation.utils.ts
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/en/exam.json
  src/test/javascript/spec/component/exam/exam-scores/exam-scores-average-scores-graph.component.spec.ts
  src/test/javascript/spec/component/exam/exam-scores/exam-scores.component.spec.ts
Labels: tests, server, client, ready to merge

#3867 [Feature] Improve feedback in tutor training for text exercises
  src/main/java/de/tum/in/www1/artemis/service/TutorParticipationService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TutorParticipationResource.java
  src/main/webapp/app/entities/feedback.model.ts
  src/main/webapp/app/exercises/text/assess/textblock-feedback-editor/textblock-feedback-editor.component.html
  src/main/webapp/app/exercises/text/assess/textblock-feedback-editor/textblock-feedback-editor.component.ts
  src/main/webapp/app/exercises/text/manage/example-text-submission/example-text-submission.component.html
  src/main/webapp/app/exercises/text/manage/example-text-submission/example-text-submission.component.ts
  src/main/webapp/i18n/de/exampleSubmission.json
  src/main/webapp/i18n/en/exampleSubmission.json
  src/test/java/de/tum/in/www1/artemis/TutorParticipationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/java/de/tum/in/www1/artemis/util/ModelFactory.java
  src/test/javascript/spec/component/text-exercise/example-text-submission.component.spec.ts
  src/test/javascript/spec/component/text-submission-assessment/textblock-feedback-editor.component.spec.ts
Labels: tests, server, client, ready to merge

#3905 Add CFF Citation file
  CITATION.cff
Labels: small, ready to merge

#3907 [Feature] Metis - Pin 📌 and archive 📂 posts as tutor
  src/main/java/de/tum/in/www1/artemis/domain/enumeration/DisplayPriority.java
  src/main/java/de/tum/in/www1/artemis/domain/metis/Post.java
  src/main/java/de/tum/in/www1/artemis/service/metis/PostService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/metis/PostResource.java
  src/main/resources/config/liquibase/changelog/20210812152000_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/entities/metis/post.model.ts
  src/main/webapp/app/shared/metis/metis.service.ts
  src/main/webapp/app/shared/metis/post.service.ts
  src/main/webapp/app/shared/metis/postings-reactions-bar/answer-post-reactions-bar/answer-post-reactions-bar.component.html
  src/main/webapp/app/shared/metis/postings-reactions-bar/post-reactions-bar/post-reactions-bar.component.html
  src/main/webapp/app/shared/metis/postings-reactions-bar/post-reactions-bar/post-reactions-bar.component.ts
  src/main/webapp/app/shared/metis/postings-reactions-bar/postings-reactions-bar.component.scss
  src/main/webapp/app/shared/metis/postings-reactions-bar/postings-reactions-bar.component.ts
  src/main/webapp/i18n/de/metis.json
  src/main/webapp/i18n/en/metis.json
  src/test/java/de/tum/in/www1/artemis/metis/PostIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/javascript/spec/component/shared/metis/postings-reactions-bar/post-reactions-bar/post-reactions-bar.component.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-post.service.ts
  src/test/javascript/spec/service/metis/metis.service.spec.ts
  src/test/javascript/spec/service/metis/post.service.spec.ts
Labels: feature, tests, server, client, component:Metis, database, ready to merge

#3917 Adjust breadcrumbs for organizations
  src/main/java/de/tum/in/www1/artemis/repository/OrganizationRepository.java
  src/main/java/de/tum/in/www1/artemis/web/rest/OrganizationResource.java
  src/main/webapp/app/admin/organization-management/organization-management.service.ts
  src/main/webapp/app/shared/layouts/navbar/navbar.component.ts
  src/test/java/de/tum/in/www1/artemis/OrganizationIntegrationTest.java
  src/test/javascript/spec/component/shared/navbar.component.spec.ts
Labels: ready for review, server, client, ready to merge

#3930 Fix Exam programming exercises not showing latest manual feedback after complaint
  src/main/java/de/tum/in/www1/artemis/repository/ComplaintRepository.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ComplaintResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/StudentExamResource.java
  src/main/webapp/app/complaints/complaint-interactions.component.html
  src/main/webapp/app/complaints/complaint-interactions.component.ts
  src/main/webapp/app/complaints/complaint.service.ts
  src/main/webapp/app/complaints/complaints.component.ts
  src/main/webapp/app/exercises/file-upload/assess/file-upload-assessment.component.ts
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment-editor/modeling-assessment-editor.component.ts
  src/main/webapp/app/exercises/programming/assess/code-editor-tutor-assessment-container.component.ts
  src/main/webapp/app/exercises/text/assess/text-submission-assessment.component.ts
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.ts
  src/test/java/de/tum/in/www1/artemis/AssessmentComplaintIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/AssessmentTeamComplaintIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/TextAssessmentIntegrationTest.java
  src/test/javascript/spec/component/complaints/complaint-interactions.component.spec.ts
  src/test/javascript/spec/component/complaints/complaints.component.spec.ts
  src/test/javascript/spec/component/file-upload-assessment/file-upload-assessment.component.spec.ts
  src/test/javascript/spec/component/modeling-assessment-editor/modeling-assessment-editor.component.spec.ts
  src/test/javascript/spec/component/overview/exercise-details/course-exercise-details.component.spec.ts
  src/test/javascript/spec/component/programming-assessment/programming-assessment-manual-result.component.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-complaint.service.ts
Labels: tests, server, client, bugfix, ready to merge

#3931 [Feature] Allow to use student submissions as an example submission
  src/main/java/de/tum/in/www1/artemis/repository/ExampleSubmissionRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/TextSubmissionRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ExampleSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/TextExerciseImportService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExampleSubmissionResource.java
  src/main/webapp/app/assessment/assessment-header/assessment-header.component.html
  src/main/webapp/app/assessment/assessment-header/assessment-header.component.ts
  src/main/webapp/app/assessment/assessment-layout/assessment-layout.component.html
  src/main/webapp/app/assessment/assessment-layout/assessment-layout.component.ts
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment-editor/modeling-assessment-editor.component.html
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment-editor/modeling-assessment-editor.component.ts
  src/main/webapp/app/exercises/shared/example-submission/example-submission.service.ts
  src/main/webapp/app/exercises/text/assess/text-submission-assessment.component.html
  src/main/webapp/app/exercises/text/assess/text-submission-assessment.component.ts
  src/main/webapp/i18n/de/assessment.json
  src/main/webapp/i18n/en/assessment.json
  src/test/java/de/tum/in/www1/artemis/ExampleSubmissionIntegrationTest.java
  src/test/javascript/spec/component/assessment-shared/assessment-header.component.spec.ts
  src/test/javascript/spec/component/modeling-assessment-editor/modeling-assessment-editor.component.spec.ts
  src/test/javascript/spec/component/text-submission-assessment/text-submission-assessment.component.spec.ts
  src/test/javascript/spec/service/example-submission.service.spec.ts
Labels: feature, tests, server, client, ready to merge

#3932 [Enhancement] Fix minor issues in modal to create/edit a posting
  src/main/webapp/app/overview/discussion/discussion.component.html
  src/main/webapp/app/shared/metis/answer-post/answer-post.component.html
  src/main/webapp/app/shared/metis/answer-post/answer-post.component.scss
  src/main/webapp/app/shared/metis/post/post.component.html
  src/main/webapp/app/shared/metis/postings-create-edit-modal/answer-post-create-edit-modal/answer-post-create-edit-modal.component.html
  src/main/webapp/app/shared/metis/postings-create-edit-modal/answer-post-create-edit-modal/answer-post-create-edit-modal.component.ts
  src/main/webapp/app/shared/metis/postings-create-edit-modal/post-create-edit-modal/post-create-edit-modal.component.html
  src/main/webapp/app/shared/metis/postings-create-edit-modal/post-create-edit-modal/post-create-edit-modal.component.ts
  src/main/webapp/app/shared/metis/postings-create-edit-modal/post-create-edit-modal/post-tag-selector.component.html
  src/main/webapp/app/shared/metis/postings-create-edit-modal/post-create-edit-modal/post-tag-selector.component.scss
  src/main/webapp/app/shared/metis/postings-create-edit-modal/post-create-edit-modal/post-tag-selector.component.ts
  src/main/webapp/app/shared/metis/postings-create-edit-modal/postings-create-edit-modal.directive.ts
  src/main/webapp/app/shared/metis/postings-markdown-editor/postings-markdown-editor.component.html
  src/main/webapp/app/shared/metis/postings-markdown-editor/postings-markdown-editor.component.ts
  src/main/webapp/app/shared/metis/postings-thread/postings-thread.component.scss
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/de/metis.json
  src/main/webapp/i18n/en/global.json
  src/main/webapp/i18n/en/metis.json
Labels: client, component:Metis, ready to merge

#3955 [Bugfix] - Improve quiz statistics
  src/main/webapp/app/exercises/quiz/manage/statistics/drag-and-drop-question-statistic/drag-and-drop-question-statistic.component.html
  src/main/webapp/app/exercises/quiz/manage/statistics/drag-and-drop-question-statistic/drag-and-drop-question-statistic.component.scss
  src/main/webapp/app/exercises/quiz/manage/statistics/quiz-statistic/quiz-statistic.component.ts
Labels: client, ready to merge

#3913 [Feature] [Orion] Assessment in Orion
  src/main/webapp/app/assessment/assessment-header/assessment-header.component.html
  src/main/webapp/app/assessment/assessment-instructions/assessment-instructions.module.ts
  src/main/webapp/app/assessment/assessment-instructions/assessment-instructions/assessment-instructions.component.html
  src/main/webapp/app/assessment/assessment-instructions/assessment-instructions/assessment-instructions.component.ts
  src/main/webapp/app/exam/manage/exam-management.route.ts
  src/main/webapp/app/exercises/programming/assess/code-editor-tutor-assessment-container.component.html
  src/main/webapp/app/exercises/programming/assess/code-editor-tutor-assessment-container.component.ts
  src/main/webapp/app/exercises/programming/assess/programming-assessment.module.ts
  src/main/webapp/app/exercises/programming/assess/programming-assessment.route.ts
  src/main/webapp/app/orion/assessment/orion-assessment-instructions.component.ts
  src/main/webapp/app/orion/assessment/orion-assessment.service.ts
  src/main/webapp/app/orion/assessment/orion-exercise-assessment-dashboard.component.html
  src/main/webapp/app/orion/assessment/orion-exercise-assessment-dashboard.component.ts
  src/main/webapp/app/orion/assessment/orion-tutor-assessment.component.html
  src/main/webapp/app/orion/assessment/orion-tutor-assessment.component.ts
  src/main/webapp/app/overview/exercise-details/exercise-details-student-actions.component.ts
  src/main/webapp/app/shared/orion/orion-connector.service.ts
  src/main/webapp/app/shared/orion/orion.module.ts
  src/main/webapp/app/shared/orion/orion.ts
  src/main/webapp/i18n/de/orion.json
  src/main/webapp/i18n/en/orion.json
  src/test/javascript/spec/component/orion/orion-exercise-assessment-dashboard.component.spec.ts
  src/test/javascript/spec/component/orion/orion-tutor-assessment.component.spec.ts
  src/test/javascript/spec/component/programming-assessment/programming-assessment-manual-result.component.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-orion-connector.service.ts
  src/test/javascript/spec/service/ide-build-and-test.service.spec.ts
  src/test/javascript/spec/service/orion-assessment.service.spec.ts
Labels: feature, tests, client, component:Orion, ready to merge

#3923 Show the correct build logs for specific results
  src/main/java/de/tum/in/www1/artemis/repository/ProgrammingSubmissionRepository.java
  src/main/java/de/tum/in/www1/artemis/web/rest/repository/RepositoryProgrammingExerciseParticipationResource.java
  src/main/webapp/app/exercises/programming/shared/service/build-log.service.ts
  src/main/webapp/app/exercises/shared/result/result-detail.component.ts
  src/test/java/de/tum/in/www1/artemis/programmingexercise/RepositoryIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/RequestUtilService.java
  src/test/javascript/spec/component/shared/result-detail.component.spec.ts
  src/test/javascript/spec/service/build-log.service.spec.ts
Labels: tests, server, client, component:Programming, bugfix, ready to merge

#3990 [Quickfix] Fixed broken selectors in Modeling Exercise spec
  src/test/cypress/integration/ModelingExercise.spec.ts
Labels: tests, ready for review, small, FlakyTestFix, cypress

#3941 [Test] Text exercise participation and management tests
  src/test/cypress/fixtures/loremIpsum.txt
  src/test/cypress/integration/ModelingExercise.spec.ts
  src/test/cypress/integration/ProgrammingExercise.spec.ts
  src/test/cypress/integration/ProgrammingExerciseParticipation.spec.ts
  src/test/cypress/integration/exam/ExamDateVerification.spec.ts
  src/test/cypress/integration/exercises/text/TextExerciseManagement.spec.ts
  src/test/cypress/integration/exercises/text/TextExerciseParticipation.spec.ts
  src/test/cypress/support/pageobjects/ArtemisPageobjects.ts
  src/test/cypress/support/pageobjects/CourseManagementExercisesPage.ts
  src/test/cypress/support/pageobjects/exercises/text/TextEditorPage.ts
  src/test/cypress/support/pageobjects/exercises/text/TextExerciseCreationPage.ts
  src/test/cypress/support/pageobjects/exercises/text/TextExerciseExampleSubmissionCreationPage.ts
  src/test/cypress/support/pageobjects/exercises/text/TextExerciseExampleSubmissionsPage.ts
  src/test/cypress/support/requests/CourseManagementRequests.ts
Labels: tests, ready for review, cypress, ready to merge

#3919 [Test] Cypress Exam Participation
  src/test/cypress/integration/CourseManagement.spec.ts
  src/test/cypress/integration/ProgrammingExerciseParticipation.spec.ts
  src/test/cypress/integration/exam/ExamDateVerification.spec.ts
  src/test/cypress/integration/exam/ExamManagement.spec.ts
  src/test/cypress/integration/exam/ExamParticipation.spec.ts
  src/test/cypress/support/pageobjects/ArtemisPageobjects.ts
  src/test/cypress/support/pageobjects/course/CourseManagementPage.ts
  src/test/cypress/support/pageobjects/course/CourseOverviewPage.ts
  src/test/cypress/support/pageobjects/course/CoursesPage.ts
  src/test/cypress/support/pageobjects/exam/ExamCreationPage.ts
  src/test/cypress/support/pageobjects/exam/ExamManagementPage.ts
  src/test/cypress/support/pageobjects/exam/ExamNavigationBar.ts
  src/test/cypress/support/pageobjects/exam/ExamStartEndPage.ts
  src/test/cypress/support/pageobjects/exercises/text/TextEditorPage.ts
  src/test/cypress/support/requests/CourseManagementRequests.ts
Labels: tests, ready for review, cypress, ready to merge

#3939 [Test] Cypress Quiz Exercise Management tests
  src/test/cypress/fixtures/quiz_exercise_fixtures/MultipleChoiceQuiz.txt
  src/test/cypress/fixtures/quiz_exercise_fixtures/ShortAnswerQuiz.txt
  src/test/cypress/fixtures/quiz_exercise_fixtures/multipleChoiceQuiz_template.json
  src/test/cypress/fixtures/quiz_exercise_fixtures/quizExercise_template.json
  src/test/cypress/integration/quiz-exercise/QuizExercise.spec.ts
  src/test/cypress/support/pageobjects/ArtemisPageobjects.ts
  src/test/cypress/support/pageobjects/QuizExerciseCreationPage.ts
  src/test/cypress/support/requests/CourseManagementRequests.ts
Labels: tests, ready for review, cypress

#3850 Create Kubernetes deployment resources
  docs/dev/setup/kubernetes.rst
  docs/dev/setup/kubernetes/dockerhub.png
  docs/dev/setup/kubernetes/dockerhub_create_repository.png
  docs/dev/setup/kubernetes/kubectl_kustomization.png
  docs/dev/setup/kubernetes/rancher_cluster.png
  docs/dev/setup/kubernetes/rancher_create_namespace.png
  docs/dev/setup/kubernetes/rancher_empty_workloads.png
  docs/dev/setup/kubernetes/rancher_logs.png
  docs/dev/setup/kubernetes/rancher_namespaces.png
  docs/dev/setup/kubernetes/rancher_nav_workloads.png
  docs/dev/setup/kubernetes/rancher_password.png
  docs/dev/setup/kubernetes/rancher_secrets_edit.png
  docs/dev/setup/kubernetes/rancher_secrets_edit_page.png
  docs/dev/setup/kubernetes/rancher_secrets_list.png
  docs/dev/setup/kubernetes/rancher_secrets_menu.png
  docs/dev/setup/kubernetes/rancher_url.png
  docs/dev/setup/kubernetes/rancher_workloads.png
  docs/dev/setup/kubernetes/workload_edit.png
  docs/dev/setup/kubernetes/workload_set_environment_variable.png
  src/main/docker/Dockerfile
  src/main/docker/app.yml
  src/main/docker/entrypoint.sh
  src/main/docker/kafka.yml
  src/main/docker/mysql.yml
  src/main/kubernetes/artemis/configmaps/application-configmap.yml
  src/main/kubernetes/artemis/configmaps/artemis-configmap.yml
  src/main/kubernetes/artemis/configmaps/artemis-mysql-configmap.yml
  src/main/kubernetes/artemis/configmaps/gateway-configmap.yml
  src/main/kubernetes/artemis/configmaps/jhipster-registry-configmap.yml
  src/main/kubernetes/artemis/configmaps/kafka-configmap.yml
  src/main/kubernetes/artemis/configmaps/zookeeper-configmap.yml
  src/main/kubernetes/artemis/deployments/artemis-deployment.yml
  src/main/kubernetes/artemis/deployments/gateway-deployment.yml
  src/main/kubernetes/artemis/deployments/kafka-deployment.yml
  src/main/kubernetes/artemis/deployments/zookeeper-deployment.yml
  src/main/kubernetes/artemis/ingresses/artemis-ingress.yml
  src/main/kubernetes/artemis/kustomization.yml
  src/main/kubernetes/artemis/pvc/artemis-mysql.yml
  src/main/kubernetes/artemis/pvc/artemis.yml
  src/main/kubernetes/artemis/secrets/artemis-secrets.yml
  src/main/kubernetes/artemis/secrets/jhipster-registry-secret.yml
  src/main/kubernetes/artemis/services/jhipster-registry-service.yml
  src/main/kubernetes/artemis/statefulsets/artemis-mysql.yml
  src/main/kubernetes/artemis/statefulsets/jhipster-registry.yml
Labels: ready for review

#3962 [Test] Cypress static code analysis test
  src/test/cypress/fixtures/programming_exercise_submissions/static_code_analysis/BubbleSort.txt
  src/test/cypress/fixtures/programming_exercise_submissions/static_code_analysis/submission.json
  src/test/cypress/integration/ProgrammingExercise.spec.ts
  src/test/cypress/integration/ProgrammingExerciseParticipation.spec.ts
  src/test/cypress/integration/ProgrammingExerciseStaticCodeAnalysis.spec.ts
  src/test/cypress/integration/exam/ExamManagement.spec.ts
  src/test/cypress/integration/exam/ExamParticipation.spec.ts
  src/test/cypress/support/constants.ts
  src/test/cypress/support/pageobjects/ArtemisPageobjects.ts
  src/test/cypress/support/pageobjects/OnlineEditorPage.ts
  src/test/cypress/support/pageobjects/exercises/programming/CodeAnalysisGradingPage.ts
  src/test/cypress/support/pageobjects/exercises/programming/ScaFeedbackModal.ts
  src/test/cypress/support/requests/CourseManagementRequests.ts
Labels: tests, ready for review, cypress, ready to merge

#4005 [TypoFix] Url typo in Github PR template client documentation
  .github/PULL_REQUEST_TEMPLATE.md
Labels: small, bugfix, ready to merge

#3949 Fix the link to modeling exercise statistics
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingExerciseResource.java
  src/main/webapp/app/entities/modeling-statistic.model.ts
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise-management.module.ts
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise.service.ts
  src/main/webapp/app/exercises/modeling/manage/modeling-statistics/modeling-statistics.component.html
  src/main/webapp/app/exercises/modeling/manage/modeling-statistics/modeling-statistics.component.ts
  src/main/webapp/app/exercises/modeling/manage/modeling-statistics/modeling-statistics.module.ts
  src/main/webapp/app/exercises/modeling/manage/modeling-statistics/modeling-statistics.route.ts
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.html
  src/test/java/de/tum/in/www1/artemis/ModelingExerciseIntegrationTest.java
  src/test/javascript/spec/service/modeling-exercise.service.spec.ts
Labels: tests, ready for review, server, client, small, ready to merge

#3909 [Bugfix] Displaying columns for small screens in overviews
  src/main/webapp/app/exam/manage/exam-management.component.html
  src/main/webapp/app/exam/manage/exercise-groups/exercise-groups.component.html
  src/main/webapp/app/exam/manage/student-exams/student-exam-detail.component.html
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise.component.html
  src/main/webapp/app/exercises/programming/manage/programming-exercise.component.html
Labels: ready for review, client, small, bugfix

#3865 [Bugfix] Fixing documentation
  docs/admin/accessRights.rst
  docs/dev/guidelines/client.rst
Labels: ready for review, small, bugfix

#3942 [Feature] Improve tutor training for Modeling exercises
  package.json
  src/main/java/de/tum/in/www1/artemis/service/TutorParticipationService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TutorParticipationResource.java
  src/main/webapp/app/entities/feedback.model.ts
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment.component.ts
  src/main/webapp/app/exercises/modeling/manage/example-modeling/example-modeling-submission.component.html
  src/main/webapp/app/exercises/modeling/manage/example-modeling/example-modeling-submission.component.ts
  src/main/webapp/app/exercises/shared/dashboards/tutor/exercise-assessment-dashboard.component.html
  src/main/webapp/app/exercises/shared/example-submission/example-submission-assess-command.ts
  src/main/webapp/app/exercises/text/assess/textblock-feedback-editor/textblock-feedback-editor.component.html
  src/main/webapp/app/exercises/text/manage/example-text-submission/example-text-submission.component.ts
  src/main/webapp/i18n/de/exampleSubmission.json
  src/main/webapp/i18n/en/exampleSubmission.json
  src/main/webapp/i18n/en/exerciseAssessmentDashboard.json
  src/test/java/de/tum/in/www1/artemis/TutorParticipationIntegrationTest.java
  src/test/javascript/spec/component/text-exercise/example-text-submission.component.spec.ts
  src/test/javascript/spec/component/text-submission-assessment/text-feedback-conflicts.component.spec.ts
  src/test/javascript/spec/component/text-submission-assessment/textblock-feedback-editor.component.spec.ts
Labels: tests, server, client, ready to merge

#3976 Indicate if a latest result could not be generated in time
  src/main/webapp/app/exercises/programming/participate/code-editor-student-container.component.html
  src/main/webapp/app/exercises/programming/participate/programming-submission.service.ts
  src/main/webapp/app/exercises/shared/result/result-detail.component.html
  src/main/webapp/app/exercises/shared/result/result-detail.component.ts
  src/main/webapp/app/exercises/shared/result/result.component.html
  src/main/webapp/app/exercises/shared/result/result.component.ts
  src/main/webapp/app/exercises/shared/result/updating-result.component.html
  src/main/webapp/app/exercises/shared/result/updating-result.component.ts
  src/main/webapp/i18n/de/result.json
  src/main/webapp/i18n/en/result.json
  src/test/javascript/spec/component/shared/updating-result.component.spec.ts
Labels: enhancement, tests, client, component:Programming, ready to merge

#3989 Fix NullPointerException in canAccessParticipation
  src/main/java/de/tum/in/www1/artemis/repository/ProgrammingExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseParticipationService.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/RepositoryIntegrationTest.java
Labels: tests, server, component:Programming, small, bugfix, sentry-issue, ready to merge

#3953 [Test] Cypress quiz exercise participation tests
  src/test/cypress/integration/quiz-exercise/QuizExercise.spec.ts
  src/test/cypress/integration/quiz-exercise/QuizExerciseParticipation.spec.ts
  src/test/cypress/support/pageobjects/ArtemisPageobjects.ts
  src/test/cypress/support/pageobjects/MultipleChoiceQuiz.ts
  src/test/cypress/support/requests/CourseManagementRequests.ts
Labels: tests, ready for review, cypress

#3984 Show a link to the commit in the result details
  src/main/webapp/app/entities/participation/participation.model.ts
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.ts
  src/main/webapp/app/exercises/programming/shared/utils/programming-exercise.utils.ts
  src/main/webapp/app/exercises/shared/participation-submission/participation-submission.component.ts
  src/main/webapp/app/exercises/shared/participation/participation.service.ts
  src/main/webapp/app/exercises/shared/result/result-detail.component.html
  src/main/webapp/app/exercises/shared/result/result-detail.component.ts
  src/main/webapp/i18n/de/result.json
  src/main/webapp/i18n/en/result.json
  src/test/javascript/spec/component/participation-submission/participation-submission.component.spec.ts
  src/test/javascript/spec/component/shared/result-detail.component.spec.ts
  src/test/javascript/spec/component/utils/programming-exercise.utils.spec.ts
Labels: enhancement, tests, client, component:Programming, ready to merge

#4014 remove duplicate page object
  src/test/cypress/support/pageobjects/ArtemisPageobjects.ts
  src/test/cypress/support/pageobjects/MultipleChoiceQuiz.ts
  src/test/cypress/support/pageobjects/multipleChoiceQuiz.ts
Labels: tests, ready for review, cypress

#4015 [Test] Fix some broken and unstable cypress selectors
  src/test/cypress/integration/ModelingExercise.spec.ts
  src/test/cypress/integration/quiz-exercise/QuizExerciseParticipation.spec.ts
  src/test/cypress/support/pageobjects/ModelingEditor.ts
  src/test/cypress/support/pageobjects/ModelingExerciseAssessmentEditor.ts
Labels: tests, ready for review, cypress

#3918 [Test] cypress exam assessment tests
  src/test/cypress/fixtures/text_exercise_submission/text_exercise_submission.json
  src/test/cypress/integration/exam/ExamAssessment.spec.ts
  src/test/cypress/integration/quiz-exercise/QuizExerciseAssessment.spec.ts
  src/test/cypress/integration/quiz-exercise/QuizExerciseParticipation.spec.ts
  src/test/cypress/support/pageobjects/ArtemisPageobjects.ts
  src/test/cypress/support/pageobjects/AssessmentDashboard.ts
  src/test/cypress/support/requests/CourseManagementRequests.ts
Labels: tests, ready for review, cypress, ready to merge

#4017 [Enhancement] Use separate package.json for cypress
  .eslintrc.json
  cypress.json
  package.json
  src/test/cypress/cypress.env.json
  src/test/cypress/cypress.json
  src/test/cypress/integration/exercises/text/TextExerciseParticipation.spec.ts
  src/test/cypress/package.json
  src/test/cypress/support/pageobjects/course/CourseManagementPage.ts
  src/test/cypress/tsconfig.json
  src/test/cypress/yarn.lock
  tsconfig.cypress.json
Labels: enhancement, tests, ready for review, bamboo/bitbucket, cypress

#4013 Make yarn test work on all platforms
  package.json
Labels: ready for review, small, bugfix, build system

#3961 [Test] Cypress quiz exercise assessment
  src/test/cypress/fixtures/quiz_exercise_fixtures/multipleChoiceQuiz_template.json
  src/test/cypress/fixtures/quiz_exercise_fixtures/multipleChoiceSubmission_template.json
  src/test/cypress/fixtures/quiz_exercise_fixtures/shortAnswerQuiz_template.json
  src/test/cypress/fixtures/quiz_exercise_fixtures/shortAnswerSubmission_template.json
  src/test/cypress/integration/quiz-exercise/QuizExerciseAssessment.spec.ts
  src/test/cypress/package.json
  src/test/cypress/support/constants.ts
  src/test/cypress/support/index.ts
  src/test/cypress/support/requests/CourseManagementRequests.ts
  src/test/cypress/tsconfig.json
  src/test/cypress/yarn.lock
Labels: tests, cypress, ready to merge

#4035 Revert spotless to 5.15.0
  CONTRIBUTING.md
  build.gradle
  docs/dev/guidelines/client-tests.rst
Labels: ready for review, dependencies

#4034 Update artemis-java-test-sandbox to Version 1.7.0
  src/main/resources/templates/java/maven/test/projectTemplate/pom.xml
  src/main/resources/templates/java/test/projectTemplate/pom.xml
  src/main/resources/templates/kotlin/test/projectTemplate/pom.xml
Labels: enhancement, ready for review, dependencies, component:Programming, bugfix

#4039 [Bugfix] Fix save button in text submission assessment
  src/main/webapp/app/exercises/text/assess/text-submission-assessment.component.ts
Labels: client, small, bugfix, ready to merge

#4040 [Bugfix] Minor typo fix on Exercise Detail Page
  src/main/webapp/i18n/de/statistics.json
  src/main/webapp/i18n/en/statistics.json
Labels: client, small, bugfix, ready to merge

#4041 [Bugfix] Add translated tooltip for not released tag
  src/main/webapp/app/shared/components/not-released-tag.component.html
  src/main/webapp/i18n/de/student-dashboard.json
  src/main/webapp/i18n/en/student-dashboard.json
Labels: client, small, bugfix, ready to merge

#4042 [Bugfix] Change tooltip placement of jhi-help-icon to auto in team creation/import modal
  src/main/webapp/app/exercises/shared/team/team-update-dialog/team-update-dialog.component.html
  src/main/webapp/app/exercises/shared/team/teams-import-dialog/teams-import-dialog.component.html
  src/main/webapp/app/exercises/shared/team/teams-import-dialog/teams-import-from-file-form.component.html
Labels: client, small, bugfix, ready to merge

#4037 [Quickfix] Fix cypress run commands
  src/test/cypress/package.json
Labels: tests, bamboo/bitbucket, small, bugfix, cypress

#4046 [Bugfix] Fix server tests and checkstyle in Github Workflow
  .github/workflows/test.yml
Labels: question, ready for review, bugfix

#4047 Update test-case-best-practices.inc
  docs/user/exercises/test-case-best-practices.inc
Labels: ready for review

#3963 [Test] Cypress text exercise assessment
  src/test/cypress/fixtures/requests/textExercise_template.json
  src/test/cypress/integration/exam/ExamAssessment.spec.ts
  src/test/cypress/integration/exercises/text/TextExerciseAssessment.spec.ts
  src/test/cypress/support/constants.ts
  src/test/cypress/support/pageobjects/ArtemisPageobjects.ts
  src/test/cypress/support/pageobjects/AssessmentDashboard.ts
  src/test/cypress/support/pageobjects/ModelingExerciseAssessmentEditor.ts
  src/test/cypress/support/pageobjects/assessment/AbstractExerciseAssessmentPage.ts
  src/test/cypress/support/pageobjects/assessment/CourseAssessmentDashboardPage.ts
  src/test/cypress/support/pageobjects/assessment/ExamAssessmentPage.ts
  src/test/cypress/support/pageobjects/assessment/ExerciseAssessmentDashboardPage.ts
  src/test/cypress/support/pageobjects/assessment/TextExerciseAssessmentPage.ts
  src/test/cypress/support/pageobjects/course/CourseManagementPage.ts
  src/test/cypress/support/pageobjects/exercises/AbstractExerciseFeedbackPage.ts
  src/test/cypress/support/pageobjects/exercises/ExerciseResultPage.ts
  src/test/cypress/support/pageobjects/exercises/text/TextExerciseFeedbackPage.ts
  src/test/cypress/support/requests/CourseManagementRequests.ts
Labels: tests, ready for review, cypress

#4016 [Enhancement] Improvements on Reactions
  src/main/java/de/tum/in/www1/artemis/domain/metis/Posting.java
  src/main/java/de/tum/in/www1/artemis/domain/metis/Reaction.java
  src/main/java/de/tum/in/www1/artemis/service/metis/ReactionService.java
  src/main/resources/config/liquibase/changelog/20210922211100_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/overview/page-discussion-section/page-discussion-section.component.html
  src/main/webapp/app/shared/metis/postings-create-edit-modal/answer-post-create-edit-modal/answer-post-create-edit-modal.component.ts
  src/main/webapp/app/shared/metis/postings-reactions-bar/post-reactions-bar/post-reactions-bar.component.html
  src/main/webapp/app/shared/metis/postings-reactions-bar/post-reactions-bar/post-reactions-bar.component.ts
  src/main/webapp/app/shared/metis/postings-reactions-bar/postings-reactions-bar.component.scss
  src/test/java/de/tum/in/www1/artemis/metis/AnswerPostIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/metis/PostIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/metis/ReactionIntegrationTest.java
  src/test/javascript/spec/component/shared/metis/postings-create-edit-modal/answer-post-create-edit-modal/answer-post-create-edit-modal.component.spec.ts
Labels: tests, server, client, component:Metis, database, small, ready to merge

#3980 [Feature] Modal for Import in Example Submission Board
  src/main/java/de/tum/in/www1/artemis/domain/participation/StudentParticipation.java
  src/main/java/de/tum/in/www1/artemis/repository/StudentParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/service/SubmissionService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/SubmissionResource.java
  src/main/webapp/app/exercises/shared/example-submission/example-submission-import/example-submission-import-paging.service.ts
  src/main/webapp/app/exercises/shared/example-submission/example-submission-import/example-submission-import.component.html
  src/main/webapp/app/exercises/shared/example-submission/example-submission-import/example-submission-import.component.ts
  src/main/webapp/app/exercises/shared/example-submission/example-submissions.component.html
  src/main/webapp/app/exercises/shared/example-submission/example-submissions.component.ts
  src/main/webapp/app/exercises/shared/example-submission/example-submissions.module.ts
  src/main/webapp/i18n/de/exampleSubmission.json
  src/main/webapp/i18n/en/exampleSubmission.json
  src/test/java/de/tum/in/www1/artemis/SubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/javascript/spec/component/exercises/shared/example-submission-import.component.spec.ts
  src/test/javascript/spec/component/exercises/shared/example-submissions.component.spec.ts
  src/test/javascript/spec/service/example-submission-import-paging.service.spec.ts
Labels: feature, tests, server, client, ready to merge

#3982 Reformatted checklist and code review, added testing comment and task
  .github/PULL_REQUEST_TEMPLATE.md
Labels: small, ready to merge

#4057 [Enhancements] Example solution export button should be visible only 'apollon' profile has been activated
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise-detail.component.html
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise-detail.component.ts
  src/test/javascript/spec/component/modeling-exercise/modeling-exercise-detail.component.spec.ts
Labels: enhancement, tests, ready for review, client

#3971 [Feature] Referencing Posts by using #PostID in any posting
  src/main/webapp/app/overview/course-discussion/course-discussion.component.html
  src/main/webapp/app/overview/course-discussion/course-discussion.component.ts
  src/main/webapp/app/overview/page-discussion-section/page-discussion-section.component.html
  src/main/webapp/app/overview/page-discussion-section/page-discussion-section.component.ts
  src/main/webapp/app/overview/page-discussion-section/page-discussion-section.scss
  src/main/webapp/app/shared/metis/answer-post/answer-post.component.html
  src/main/webapp/app/shared/metis/metis.module.ts
  src/main/webapp/app/shared/metis/metis.service.ts
  src/main/webapp/app/shared/metis/metis.util.ts
  src/main/webapp/app/shared/metis/post/post.component.html
  src/main/webapp/app/shared/metis/post/post.component.scss
  src/main/webapp/app/shared/metis/post/post.component.ts
  src/main/webapp/app/shared/metis/posting-content/posting-content-part/posting-content-part.component.html
  src/main/webapp/app/shared/metis/posting-content/posting-content-part/posting-content-part.component.scss
  src/main/webapp/app/shared/metis/posting-content/posting-content-part/posting-content-part.components.ts
  src/main/webapp/app/shared/metis/posting-content/posting-content.component.html
  src/main/webapp/app/shared/metis/posting-content/posting-content.components.ts
  src/main/webapp/app/shared/metis/posting.directive.ts
  src/main/webapp/app/shared/metis/postings-footer/answer-post-footer/answer-post-footer.component.html
  src/main/webapp/app/shared/metis/postings-footer/post-footer/post-footer.component.html
  src/main/webapp/app/shared/metis/postings-header/post-header/post-header.component.html
  src/main/webapp/app/shared/metis/postings-header/posting-header.component.scss
  src/main/webapp/app/shared/metis/postings-reactions-bar/answer-post-reactions-bar/answer-post-reactions-bar.component.html
  src/main/webapp/app/shared/metis/postings-reactions-bar/post-reactions-bar/post-reactions-bar.component.ts
  src/main/webapp/app/shared/metis/postings-reactions-bar/postings-reactions-bar.component.scss
  src/main/webapp/app/shared/metis/postings-reactions-bar/postings-reactions-bar.component.ts
  src/main/webapp/app/shared/metis/postings-thread/postings-thread.component.scss
  src/main/webapp/app/shared/metis/postings-thread/postings-thread.component.ts
  src/main/webapp/content/scss/_artemis-variables.scss
  src/main/webapp/content/scss/global.scss
  src/main/webapp/i18n/de/metis.json
  src/main/webapp/i18n/en/metis.json
  src/test/javascript/spec/component/overview/course-discussion/course-discussion.component.spec.ts
  src/test/javascript/spec/component/shared/metis/answer-post/answer-post.component.spec.ts
  src/test/javascript/spec/component/shared/metis/post/post.component.spec.ts
  src/test/javascript/spec/component/shared/metis/posting-content/posting-content-part.component.spec.ts
  src/test/javascript/spec/component/shared/metis/posting-content/posting-content.component.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-metis-service.service.ts
  src/test/javascript/spec/service/metis/metis.service.spec.ts
Labels: feature, tests, client, component:Metis, ready to merge
