Repository ls1intum/Artemis, pull requests merged in 2021-10, with the labels that each got.

#4056 [Bugfix] Fix breadcrumbs for exercise assessment dashboard
  src/main/webapp/app/shared/layouts/navbar/navbar.component.ts
  src/test/javascript/spec/component/shared/navbar.component.spec.ts
Labels: tests, client, bugfix, ready to merge

#4038 [Enhancement] Admin metrics thread filtering
  src/main/webapp/app/admin/metrics/blocks/metrics-modal-threads/metrics-modal-threads.component.html
  src/main/webapp/app/admin/metrics/blocks/metrics-modal-threads/metrics-modal-threads.component.ts
  src/main/webapp/i18n/de/metrics.json
  src/main/webapp/i18n/en/metrics.json
  src/test/javascript/spec/component/admin/metrics-modal-threads.component.spec.ts
Labels: enhancement, tests, client, ready to merge

#3995 [Feature] Extend tutor leaderboards with average_score and average_rating
  src/main/java/de/tum/in/www1/artemis/domain/leaderboard/tutor/TutorLeaderboardAssessments.java
  src/main/java/de/tum/in/www1/artemis/repository/ResultRepository.java
  src/main/java/de/tum/in/www1/artemis/service/TutorLeaderboardService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/TutorLeaderboardDTO.java
  src/main/webapp/app/shared/dashboards/tutor-leaderboard/tutor-leaderboard.component.html
  src/main/webapp/app/shared/dashboards/tutor-leaderboard/tutor-leaderboard.component.ts
  src/main/webapp/app/shared/dashboards/tutor-leaderboard/tutor-leaderboard.model.ts
  src/main/webapp/i18n/de/instructorCourseDashboard.json
  src/main/webapp/i18n/en/instructorCourseDashboard.json
  src/test/java/de/tum/in/www1/artemis/TutorLeaderboardServiceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
Labels: tests, server, client, ready to merge

#4067 ⚠ Fixed critical exam bug that lead to internal server error at creation time of programming exercises
  src/main/java/de/tum/in/www1/artemis/domain/notification/GroupNotificationFactory.java
Labels: ready for review, server, priority:critical, exam mode, small, bugfix, ready to merge

#4065 [Bugfix] Fix position of alert on lecture pages
  src/main/webapp/app/overview/course-lectures/course-lecture-details.component.html
Labels: client, small, bugfix, ready to merge

#4052 [Bugfix] Include only required properties when serializing exerciseUnits
  src/main/java/de/tum/in/www1/artemis/domain/lecture/ExerciseUnit.java
  src/main/webapp/i18n/de/lectureUnit.json
Labels: server, client, small, bugfix, ready to merge

#4051 [Bugfix] Remove anchor titles with missing translations at exercise assessment dashboard information
  src/main/webapp/app/exercises/shared/dashboards/tutor/exercise-assessment-dashboard.component.html
  src/main/webapp/i18n/de/exerciseAssessmentDashboard.json
  src/main/webapp/i18n/en/exerciseAssessmentDashboard.json
Labels: client, small, bugfix, ready to merge

#4033 Add allowList for trusted video providers to video-unit.component.ts
  src/main/webapp/app/overview/course-lectures/video-unit/video-unit.component.ts
Labels: client, ready to merge

#4021 Migrate all Text Feedback to use Text Blocks
  src/main/resources/config/liquibase/changelog/20210920225828_changelog.xml
  src/main/resources/config/liquibase/master.xml
Labels: ready for review, database

#4074 [bug fix] fixed system notifications not loading
  src/main/webapp/app/admin/system-notification-management/system-notification-management.component.ts
Labels: ready for review, client, priority:high, small, bugfix, notification system

#4062 [Bugfix] Fix calculation of expected submission ETA
  src/main/webapp/app/exercises/programming/participate/programming-submission.service.ts
Labels: ready for review, client, small, bugfix, ready to merge

#4059 [Bugfix/Change] instructors & editors now also receive exercise update notifications
  src/main/java/de/tum/in/www1/artemis/service/GroupNotificationService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/FileUploadExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/QuizExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextExerciseResource.java
  src/test/java/de/tum/in/www1/artemis/ModelingExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/CourseTestService.java
Labels: tests, server, chore, small, notification system, ready to merge

#4070 [Feature] Show Student Login on Submission and Assessment Page
  src/main/webapp/app/entities/participation/participation.model.ts
  src/main/webapp/app/exercises/file-upload/assess/file-upload-assessment-dashboard.component.html
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment-editor/modeling-assessment-dashboard.component.html
  src/main/webapp/app/exercises/programming/assess/programming-assessment-dashboard/programming-assessment-dashboard.component.html
  src/main/webapp/app/exercises/text/assess/text-assessment-dashboard/text-assessment-dashboard.component.html
Labels: feature, ready for review, client, small, user interface

#4082 Bugfix/gitlab change permission for all programming exericses
  src/main/java/de/tum/in/www1/artemis/repository/ProgrammingExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/service/CourseService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/gitlab/GitLabUserManagementService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsUserManagementService.java
  src/main/java/de/tum/in/www1/artemis/service/exam/ExamRegistrationService.java
  src/main/java/de/tum/in/www1/artemis/service/user/UserService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/errors/EntityNotFoundException.java
  src/main/java/de/tum/in/www1/artemis/web/rest/util/ResponseUtil.java
  src/test/java/de/tum/in/www1/artemis/CourseBitbucketBambooJiraIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/CourseGitlabJenkinsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ExerciseUnitIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/connector/GitlabRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/connector/JenkinsRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/util/CourseTestService.java
Labels: tests, ready for review, server

#4075 [Bugfix] Fix failing cypress tests and use static user groups
  src/test/cypress/cypress.env.json
  src/test/cypress/cypress.json
  src/test/cypress/integration/CourseManagement.spec.ts
  src/test/cypress/integration/ModelingExercise.spec.ts
  src/test/cypress/integration/exam/ExamAssessment.spec.ts
  src/test/cypress/integration/exam/ExamDateVerification.spec.ts
  src/test/cypress/integration/exam/ExamManagement.spec.ts
  src/test/cypress/integration/exam/ExamParticipation.spec.ts
  src/test/cypress/integration/exercises/programming/ProgrammingExerciseManagement.spec.ts
  src/test/cypress/integration/exercises/programming/ProgrammingExerciseParticipation.spec.ts
  src/test/cypress/integration/exercises/programming/ProgrammingExerciseStaticCodeAnalysis.spec.ts
  src/test/cypress/integration/exercises/text/TextExerciseManagement.spec.ts
  src/test/cypress/integration/quiz-exercise/QuizExercise.spec.ts
  src/test/cypress/support/commands.ts
  src/test/cypress/support/constants.ts
  src/test/cypress/support/pageobjects/OnlineEditorPage.ts
  src/test/cypress/support/pageobjects/ProgrammingExerciseCreationPage.ts
  src/test/cypress/support/pageobjects/assessment/AbstractExerciseAssessmentPage.ts
  src/test/cypress/support/pageobjects/assessment/CourseAssessmentDashboardPage.ts
  src/test/cypress/support/pageobjects/course/CourseManagementPage.ts
  src/test/cypress/support/pageobjects/exercises/ExerciseResultPage.ts
  src/test/cypress/support/pageobjects/exercises/text/TextExerciseExampleSubmissionCreationPage.ts
  src/test/cypress/support/requests/CourseManagementRequests.ts
Labels: tests, cypress

#4086 [Bugfix] Fix failing test in programming-submission.service.spec
  src/test/javascript/spec/service/programming-submission.service.spec.ts
Labels: tests, small, bugfix

#3875 [Feature] Client side validation of Review phase
  src/main/webapp/app/exam/manage/exams/exam-update.component.html
  src/main/webapp/app/exam/manage/exams/exam-update.component.ts
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/en/exam.json
  src/test/javascript/spec/component/exam/exam-update.component.spec.ts
Labels: tests, ready for review, client, ready to merge

#4148 `Development:` Split e2e cypress test for modeling exercises to improve stability
  src/test/cypress/fixtures/exercise/modeling_exercise/modelingSubmission_template.json
  src/test/cypress/integration/ModelingExercise.spec.ts
  src/test/cypress/integration/exam/ExamParticipation.spec.ts
  src/test/cypress/integration/exercises/modeling/ModelingExerciseAssessment.spec.ts
  src/test/cypress/integration/exercises/modeling/ModelingExerciseManagement.spec.ts
  src/test/cypress/integration/exercises/modeling/ModelingExerciseParticipation.spec.ts
  src/test/cypress/integration/exercises/text/TextExerciseParticipation.spec.ts
  src/test/cypress/support/pageobjects/ArtemisPageobjects.ts
  src/test/cypress/support/pageobjects/assessment/AbstractExerciseAssessmentPage.ts
  src/test/cypress/support/pageobjects/assessment/CourseAssessmentDashboardPage.ts
  src/test/cypress/support/pageobjects/assessment/ModelingExerciseAssessmentEditor.ts
  src/test/cypress/support/pageobjects/course/CourseOverviewPage.ts
  src/test/cypress/support/pageobjects/exercises/modeling/ModelingEditor.ts
  src/test/cypress/support/pageobjects/exercises/modeling/ModelingExerciseFeedbackPage.ts
  src/test/cypress/support/requests/CourseManagementRequests.ts
Labels: tests, ready for review, cypress

#4216 `Development`: Fix memory leaks in some client tests
  src/test/javascript/spec/component/admin/upcoming-exams-and-exercises.component.spec.ts
  src/test/javascript/spec/component/shared/updating-result.component.spec.ts
Labels: tests, chore, ready to merge

#4078 `General`: Add time zone information to date time picker
  src/main/webapp/app/admin/system-notification-management/system-notification-management-update.component.html
  src/main/webapp/app/exercises/programming/assess/repo-export/programming-assessment-repo-export-dialog.component.html
  src/main/webapp/app/exercises/shared/submission-export/submission-export-dialog.component.html
  src/main/webapp/app/shared/date-time-picker/date-time-picker.component.ts
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/en/global.json
Labels: enhancement, client, small, user interface, ready to merge

#4212 `Development`: Speed up client tests for overview component
  src/test/javascript/spec/component/overview/overview.component.spec.ts
  src/test/javascript/spec/integration/guided-tour/guided-tour.integration.spec.ts
Labels: tests, ready for review, chore

#4213 `Development`: Speed up client tests for lecture attachments
  src/test/javascript/spec/component/lecture/lecture-attachments.component.spec.ts
Labels: tests, ready for review, small

#4079 `General`: Remove instructor's course and exercise dashboard
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExerciseResource.java
  src/main/webapp/app/course/dashboards/assessment-dashboard/assessment-dashboard-information.component.ts
  src/main/webapp/app/course/dashboards/assessment-dashboard/assessment-dashboard.component.html
  src/main/webapp/app/course/dashboards/assessment-dashboard/assessment-dashboard.component.ts
  src/main/webapp/app/course/dashboards/due-date-stat.model.ts
  src/main/webapp/app/course/dashboards/instructor-course-dashboard/instructor-course-dashboard.component.html
  src/main/webapp/app/course/dashboards/instructor-course-dashboard/instructor-course-dashboard.component.ts
  src/main/webapp/app/course/dashboards/instructor-course-dashboard/instructor-course-dashboard.module.ts
  src/main/webapp/app/course/dashboards/instructor-course-dashboard/instructor-course-dashboard.route.ts
  src/main/webapp/app/course/dashboards/stats-for-dashboard.model.ts
  src/main/webapp/app/course/manage/course-management.service.ts
  src/main/webapp/app/course/manage/detail/course-detail.component.html
  src/main/webapp/app/course/manage/overview/course-management-card.component.html
  src/main/webapp/app/entities/course.model.ts
  src/main/webapp/app/entities/exercise.model.ts
  src/main/webapp/app/exam/manage/exam-management.service.ts
  src/main/webapp/app/exercises/shared/dashboards/instructor/instructor-exercise-dashboard.component.html
  src/main/webapp/app/exercises/shared/dashboards/instructor/instructor-exercise-dashboard.component.ts
  src/main/webapp/app/exercises/shared/dashboards/instructor/instructor-exercise-dashboard.module.ts
  src/main/webapp/app/exercises/shared/dashboards/instructor/instructor-exercise-dashboard.route.ts
  src/main/webapp/app/exercises/shared/dashboards/tutor/exercise-assessment-dashboard.component.ts
  src/main/webapp/app/exercises/shared/exercise/exercise.service.ts
  src/main/webapp/app/exercises/shared/structured-grading-criterion/grading-instructions-details/grading-instructions-details.component.html
  src/main/webapp/app/shared/dashboards/dashboards.module.ts
  src/main/webapp/app/shared/dashboards/tutor-leaderboard/tutor-leaderboard.component.html
  src/main/webapp/app/shared/dashboards/tutor-participation-graph/tutor-participation-graph.component.ts
  src/main/webapp/i18n/de/assessmentDashboard.json
  src/main/webapp/i18n/de/exercise.json
  src/main/webapp/i18n/de/instructorCourseDashboard.json
  src/main/webapp/i18n/en/assessmentDashboard.json
  src/main/webapp/i18n/en/exercise.json
  src/main/webapp/i18n/en/instructorCourseDashboard.json
  src/test/java/de/tum/in/www1/artemis/ExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/CourseTestService.java
  src/test/javascript/spec/component/assessment-dashboard/assessment-dashboard.component.spec.ts
  src/test/javascript/spec/component/assessment-dashboard/exercise-assessment-dashboard.component.spec.ts
  src/test/javascript/spec/component/assessment-dashboard/tutor-participation-graph.component.spec.ts
  src/test/javascript/spec/component/course/course-management.service.spec.ts
  src/test/javascript/spec/component/course/course-overview.component.spec.ts
  src/test/javascript/spec/component/course/course.component.spec.ts
  src/test/javascript/spec/component/course/instructor-course-dashboard.component.spec.ts
  src/test/javascript/spec/component/exam/manage/exam-exercise-row-buttons.component.spec.ts
  src/test/javascript/spec/component/exam/manage/exam-management.service.spec.ts
  src/test/javascript/spec/component/instructor-dashboard/instructor-exercise-dashboard.component.spec.ts
  src/test/javascript/spec/component/overview/course-statistics/course-statistics.component.spec.ts
  src/test/javascript/spec/component/quiz-statistic/short-answer-question-statistic.component.spec.ts
Labels: enhancement, tests, server, client, ready to merge

#4231 `Development`: Speed up client tests for course group component
  src/test/javascript/spec/component/course/course-group.component.spec.ts
Labels: tests, ready for review

#4073 `Programming exercises`: Add submission policies for programming exercises
  src/main/java/de/tum/in/www1/artemis/domain/Feedback.java
  src/main/java/de/tum/in/www1/artemis/domain/ProgrammingExercise.java
  src/main/java/de/tum/in/www1/artemis/domain/participation/Participation.java
  src/main/java/de/tum/in/www1/artemis/domain/submissionpolicy/LockRepositoryPolicy.java
  src/main/java/de/tum/in/www1/artemis/domain/submissionpolicy/SubmissionPenaltyPolicy.java
  src/main/java/de/tum/in/www1/artemis/domain/submissionpolicy/SubmissionPolicy.java
  src/main/java/de/tum/in/www1/artemis/repository/ProgrammingExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/SubmissionPolicyRepository.java
  src/main/java/de/tum/in/www1/artemis/service/SubmissionPolicyService.java
  src/main/java/de/tum/in/www1/artemis/service/SubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseGradingService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseImportService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseSimulationService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseGradingResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseParticipationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ResultResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/StudentExamResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/SubmissionPolicyResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextAssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/repository/RepositoryProgrammingExerciseParticipationResource.java
  src/main/resources/config/liquibase/changelog/20210919182152_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/entities/feedback.model.ts
  src/main/webapp/app/entities/programming-exercise.model.ts
  src/main/webapp/app/entities/submission-policy.model.ts
  src/main/webapp/app/exercises/programming/manage/grading/programming-exercise-configure-grading.component.html
  src/main/webapp/app/exercises/programming/manage/grading/programming-exercise-configure-grading.component.ts
  src/main/webapp/app/exercises/programming/manage/grading/programming-exercise-grading-submission-policy-configuration-actions.component.ts
  src/main/webapp/app/exercises/programming/manage/grading/programming-exercise-grading.module.ts
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.html
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.ts
  src/main/webapp/app/exercises/programming/manage/services/submission-policy.service.ts
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.html
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.ts
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.module.ts
  src/main/webapp/app/exercises/programming/participate/code-editor-student-container.component.html
  src/main/webapp/app/exercises/programming/participate/code-editor-student-container.component.ts
  src/main/webapp/app/exercises/shared/exercise-headers/header-exercise-page-with-details.component.html
  src/main/webapp/app/exercises/shared/exercise-headers/header-exercise-page-with-details.component.ts
  src/main/webapp/app/exercises/shared/result/result-detail.component.ts
  src/main/webapp/app/exercises/shared/submission-policy/submission-policy-update.component.ts
  src/main/webapp/app/exercises/shared/submission-policy/submission-policy-update.module.ts
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.html
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.ts
  src/main/webapp/i18n/de/error.json
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/error.json
  src/main/webapp/i18n/en/programmingExercise.json
  src/test/java/de/tum/in/www1/artemis/SubmissionPolicyIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingSubmissionAndResultBitbucketBambooIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/simulation/ProgrammingExerciseSimulationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/java/de/tum/in/www1/artemis/util/ModelFactory.java
  src/test/javascript/spec/component/overview/exercise-details/course-exercise-details.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-configure-grading.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-update.component.spec.ts
  src/test/javascript/spec/service/submission-policy.service.spec.ts
Labels: feature, tests, server, client, component:Programming, database, ready to merge
