Repository ls1intum/Artemis, pull requests merged in 2021-06, with the labels that each got.

#3478 [Enchancement] Improve Account Registration
  src/main/java/de/tum/in/www1/artemis/exception/AccountRegistrationBlockedException.java
  src/main/java/de/tum/in/www1/artemis/repository/UserRepository.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/VcsUserManagementService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/gitlab/GitLabUserManagementService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsUserManagementService.java
  src/main/java/de/tum/in/www1/artemis/service/messaging/DistributedInstanceMessageSendService.java
  src/main/java/de/tum/in/www1/artemis/service/messaging/InstanceMessageReceiveService.java
  src/main/java/de/tum/in/www1/artemis/service/messaging/InstanceMessageSendService.java
  src/main/java/de/tum/in/www1/artemis/service/messaging/MainInstanceMessageSendService.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/UserScheduleService.java
  src/main/java/de/tum/in/www1/artemis/service/user/UserService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/UserResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/errors/ErrorConstants.java
  src/main/resources/config/application-artemis.yml
  src/main/webapp/app/account/register/register.component.html
  src/main/webapp/app/account/register/register.component.ts
  src/main/webapp/app/shared/constants/error.constants.ts
  src/main/webapp/i18n/de/register.json
  src/main/webapp/i18n/en/register.json
  src/test/java/de/tum/in/www1/artemis/AccountResourceWithGitLabIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/authentication/UserJenkinsGitlabIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/connector/GitlabRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/util/UserTestService.java
  src/test/resources/config/application-artemis.yml
Labels: bugfix, client, jenkins/gitlab, ready for review, server

#3506 [Feature] Empty Programming Exercises
  src/main/java/de/tum/in/www1/artemis/domain/enumeration/ProgrammingLanguage.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/ContinuousIntegrationService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/BambooBuildPlanService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/BambooProgrammingLanguageFeatureService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsBuildPlanService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsProgrammingLanguageFeatureService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/TemplateUpgradePolicy.java
  src/main/resources/templates/empty/readme
  src/main/resources/templates/jenkins/empty/regularRuns/Jenkinsfile
  src/main/webapp/app/entities/programming-exercise.model.ts
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.html
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.ts
  src/main/webapp/i18n/de/programmingLanguage.json
  src/main/webapp/i18n/en/programmingLanguage.json
Labels: client, feature, ready for review, server

#3476 [Feature] delete results
  src/main/java/de/tum/in/www1/artemis/repository/ResultRepository.java
  src/main/java/de/tum/in/www1/artemis/service/AssessmentService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/AssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/FileUploadAssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingAssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingAssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextAssessmentResource.java
  src/main/webapp/app/assessment/assessment-locks/assessment-locks.component.ts
  src/main/webapp/app/exercises/file-upload/assess/file-upload-assessment-dashboard.component.ts
  src/main/webapp/app/exercises/file-upload/assess/file-upload-assessment.component.ts
  src/main/webapp/app/exercises/file-upload/assess/file-upload-assessment.service.ts
  src/main/webapp/app/exercises/file-upload/participate/file-upload-submission.component.ts
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment.service.ts
  src/main/webapp/app/exercises/programming/assess/manual-result/programming-assessment-manual-result.service.ts
  src/main/webapp/app/exercises/shared/participation-submission/participation-submission.component.html
  src/main/webapp/app/exercises/shared/participation-submission/participation-submission.component.ts
  src/main/webapp/app/exercises/text/assess/text-assessment.service.ts
  src/main/webapp/app/shared/delete-dialog/delete-dialog.component.html
  src/main/webapp/app/shared/delete-dialog/delete-dialog.model.ts
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/de/result.json
  src/main/webapp/i18n/en/global.json
  src/main/webapp/i18n/en/result.json
  src/test/java/de/tum/in/www1/artemis/FileUploadAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ModelingAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/TextAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/javascript/spec/component/file-upload-assessment-dashboard/file-upload-assessment-dashboard.component.spec.ts
  src/test/javascript/spec/component/file-upload-assessment/file-upload-assessment.component.spec.ts
  src/test/javascript/spec/component/participation-submission/participation-submission.component.spec.ts
  src/test/javascript/spec/service/file-upload-assessment.service.spec.ts
Labels: client, ready for review, server

#3443 [Feature] Separate Creation of Example Submissions from Exercise Edit
  src/main/webapp/app/exam/manage/exam-management.module.ts
  src/main/webapp/app/exam/manage/exam-management.route.ts
  src/main/webapp/app/exercises/modeling/manage/example-modeling/example-modeling-submission.component.ts
  src/main/webapp/app/exercises/modeling/manage/example-modeling/example-modeling-submission.route.ts
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise-update.component.html
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise.component.html
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise.module.ts
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise.route.ts
  src/main/webapp/app/exercises/shared/exam-exercise-row-buttons/exam-exercise-row-buttons.component.html
  src/main/webapp/app/exercises/shared/example-submission/example-submissions.component.html
  src/main/webapp/app/exercises/shared/example-submission/example-submissions.component.ts
  src/main/webapp/app/exercises/shared/example-submission/example-submissions.module.ts
  src/main/webapp/app/exercises/shared/exercise-detail-common-actions/non-programming-exercise-detail-common-actions.component.html
  src/main/webapp/app/exercises/text/manage/example-text-submission/example-text-submission.component.html
  src/main/webapp/app/exercises/text/manage/example-text-submission/example-text-submission.component.ts
  src/main/webapp/app/exercises/text/manage/example-text-submission/example-text-submission.route.ts
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise-row-buttons.component.html
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise-update.component.html
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise.module.ts
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise.route.ts
  src/main/webapp/app/shared/layouts/navbar/navbar.component.ts
  src/main/webapp/i18n/de/exampleSubmission.json
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/en/exampleSubmission.json
  src/main/webapp/i18n/en/exercise.json
  src/main/webapp/i18n/en/global.json
  src/test/javascript/spec/component/exercises/shared/example-submissions.component.spec.ts
  src/test/javascript/spec/component/shared/navbar.component.spec.ts
  src/test/javascript/spec/service/modeling-exercise.service.spec.ts
Labels: client, feature, ready for review

#3475 [Chore] added profile.service test class & fixed error that returned undefined (Sentry)
  src/main/webapp/app/shared/layouts/profiles/profile.service.ts
  src/test/javascript/spec/component/about-us/about-us.component.spec.ts
  src/test/javascript/spec/component/course/course-update.component.spec.ts
  src/test/javascript/spec/directive/build-plan-link.directive.spec.ts
  src/test/javascript/spec/service/profile.service.spec.ts
Labels: bugfix, client, ready for review

#3477 [Feature] anonymize submissions
  src/main/java/de/tum/in/www1/artemis/service/connectors/GitService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseExportService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/RepositoryExportOptionsDTO.java
  src/main/webapp/app/exercises/programming/assess/repo-export/programming-assessment-repo-export-dialog.component.html
  src/main/webapp/app/exercises/programming/assess/repo-export/programming-assessment-repo-export-dialog.component.ts
  src/main/webapp/app/exercises/programming/assess/repo-export/programming-assessment-repo-export.service.ts
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/programmingExercise.json
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseIntegrationServiceTest.java
  src/test/java/de/tum/in/www1/artemis/util/ZipFileTestUtilService.java
Labels: client, component:Programming, feature, ready for review, server

#3528 [Bugfix] Metis refactoring bug fix for translation keys and naming
  src/main/webapp/app/grading-system/grading-system.component.html
  src/main/webapp/app/lecture/lecture-attachments.component.html
  src/main/webapp/i18n/en/student-dashboard.json
Labels: bugfix, client, ready for review, small

#3512 [Notification System] live quiz notifications and popups redirect to the open quiz
  src/main/webapp/app/shared/notification/notification-popup/notification-popup.component.ts
  src/main/webapp/app/shared/notification/notification.service.ts
Labels: client, notification system, ready for review, small

#3460 [Sentry] NaN when calculating score
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseGradingService.java
Labels: bugfix, ready for review, server

#3522 Add docu for highlighing of correction round
  docs/user/exams/instructors_guide.rst
Labels: ready for review

#3526 Fix: Newlines Not Shown In Feedback
  src/main/webapp/app/exercises/shared/result/feedback-collapse.component.html
  src/main/webapp/app/exercises/shared/result/result-detail.scss
Labels: bugfix, client, ready for review, small

#3507 Improved RestController Guidelines
  docs/dev/guidelines/server.rst
Labels: documentation, ready for review

#3539 Actions: Reenable Checkstyle
  .github/workflows/test.yml
Labels: ready for review

#3513 [Feature] Grading System - Exam Summary - Grade Key Overview
  src/main/java/de/tum/in/www1/artemis/web/rest/GradeStepResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/GradeStepsDTO.java
  src/main/webapp/app/entities/grade-step.model.ts
  src/main/webapp/app/exam/participate/exam-participation.module.ts
  src/main/webapp/app/exam/participate/exam-participation.route.ts
  src/main/webapp/app/exam/participate/summary/points-summary/exam-points-summary.component.html
  src/main/webapp/app/exam/participate/summary/points-summary/grade-key-overview/grade-key-overview.component.html
  src/main/webapp/app/exam/participate/summary/points-summary/grade-key-overview/grade-key-overview.component.ts
  src/main/webapp/app/exam/participate/summary/points-summary/grade-key-overview/grade-key-overview.scss
  src/main/webapp/app/grading-system/grading-system.service.ts
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/en/exam.json
  src/main/webapp/i18n/en/gradingSystem.json
  src/test/java/de/tum/in/www1/artemis/GradeStepIntegrationTest.java
  src/test/javascript/spec/component/exam/participate/summary/points-summary/exam-points-summary.component.spec.ts
  src/test/javascript/spec/component/exam/participate/summary/points-summary/grade-key-overview/grade-key-overview.component.spec.ts
  src/test/javascript/spec/service/grading-system.service.spec.ts
Labels: client, exam mode, feature, grading system, ready for review, server

#3514 Disable Exam Start button until 5 minutes before exam start
  src/main/java/de/tum/in/www1/artemis/config/Constants.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/ProgrammingExerciseScheduleService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/StudentExamResource.java
  src/main/webapp/app/app.constants.ts
  src/main/webapp/app/exam/participate/exam-cover/exam-participation-cover.component.html
  src/main/webapp/app/exam/participate/exam-cover/exam-participation-cover.component.ts
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/en/exam.json
  src/test/java/de/tum/in/www1/artemis/StudentExamIntegrationTest.java
  src/test/javascript/spec/component/exam/participate/exam-participation-cover.component.spec.ts
Labels: client, ready for review, security, server

#3403 Add assessment highlighting to Apollon
  package.json
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment-editor/modeling-assessment-editor.component.html
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment.component.ts
  src/main/webapp/app/exercises/modeling/manage/example-modeling/example-modeling-submission.component.html
  src/main/webapp/app/exercises/modeling/participate/modeling-submission.component.html
  src/main/webapp/app/shared/pipes/shared-pipes.module.ts
  src/test/javascript/spec/component/modeling-assessment/modeling-assessment.component.spec.ts
Labels: client, ready for review

#3529 [Feature] Grading System - Validation
  src/main/webapp/app/grading-system/grading-system.component.html
  src/main/webapp/app/grading-system/grading-system.component.ts
  src/main/webapp/i18n/de/gradingSystem.json
  src/main/webapp/i18n/en/gradingSystem.json
  src/test/javascript/spec/component/grading-system/grading-system.component.spec.ts
Labels: client, feature, grading system, ready for review

#3544 Check for null and undefined when assessing modeling exercises
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment.component.ts
Labels: client, ready for review

#3457 [Feature] Auxiliary Repositories for Programming Exercises
  docs/user/exercises/programming-exercise-setup.inc
  docs/user/exercises/programming/programming-options-auxiliary-repositories.png
  src/main/java/de/tum/in/www1/artemis/domain/AuxiliaryRepository.java
  src/main/java/de/tum/in/www1/artemis/domain/ProgrammingExercise.java
  src/main/java/de/tum/in/www1/artemis/domain/enumeration/RepositoryType.java
  src/main/java/de/tum/in/www1/artemis/repository/AuxiliaryRepositoryRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ProgrammingExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/ContinuousIntegrationService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/BambooBuildPlanService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/BambooService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/JavaTemplateUpgradeService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseExportService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseImportService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseResource.java
  src/main/resources/config/liquibase/changelog/20210515191046_changelog.xml
  src/main/resources/config/liquibase/changelog/20210519162242_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/entities/programming-exercise-auxiliary-repository-model.ts
  src/main/webapp/app/entities/programming-exercise.model.ts
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.html
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.scss
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.ts
  src/main/webapp/app/exercises/programming/manage/programming-exercise-management.module.ts
  src/main/webapp/app/exercises/programming/manage/services/programming-exercise.service.ts
  src/main/webapp/app/exercises/programming/manage/update/add-auxiliary-repository-button.component.ts
  src/main/webapp/app/exercises/programming/manage/update/auxiliary-repository-service.ts
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-plans-and-repositories-preview.component.html
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.html
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.ts
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.module.ts
  src/main/webapp/app/exercises/programming/manage/update/remove-auxiliary-repository-button.component.ts
  src/main/webapp/app/exercises/programming/shared/actions/programming-exercise-instructor-repo-download.component.ts
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise-export.component.ts
  src/main/webapp/app/shared/components/help-icon-without-translation.component.ts
  src/main/webapp/app/shared/components/shared-component.module.ts
  src/main/webapp/app/shared/table/table-editable-field.component.ts
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/global.json
  src/main/webapp/i18n/en/programmingExercise.json
  src/test/java/de/tum/in/www1/artemis/AbstractSpringIntegrationBambooBitbucketJiraTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseBitbucketBambooIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseGitlabJenkinsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseIntegrationBambooBitbucketJiraTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseIntegrationServiceTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseTemplateIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseTestService.java
  src/test/java/de/tum/in/www1/artemis/repository/ProgrammingExerciseTestRepository.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/javascript/spec/component/programming-exercise/programming-exercise-detail.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-instructor-repo-download-component.spec.ts
Labels: client, component:Programming, database, feature, ready for review, server

#3523 Fix the list of complaints router link to the code editor
  src/main/webapp/app/complaints/list-of-complaints/list-of-complaints.component.ts
Labels: client, ready for review

#3548 fix issue with plagiarism state updates on slow connections
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-header/plagiarism-header.component.ts
Labels: bugfix, client, plagiarism detection, ready for review

#3525 [Enhancement] Remove Jsoup from Jenkins Job Manipulation
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/jobs/JenkinsJobPermissionsService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/jobs/JenkinsJobPermissionsUtils.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/jobs/JenkinsJobService.java
  src/main/java/de/tum/in/www1/artemis/service/util/XmlFileUtils.java
  src/test/java/de/tum/in/www1/artemis/connector/JenkinsRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/service/JenkinsJobPermissionServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/JenkinsJobServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/JenkinsServiceTest.java
Labels: enhancement, jenkins/gitlab, ready for review, server

#3549 [Bugfix] Fix Course Archival Issues
  src/main/java/de/tum/in/www1/artemis/service/CourseExamExportService.java
  src/main/java/de/tum/in/www1/artemis/service/CourseService.java
  src/main/java/de/tum/in/www1/artemis/service/FileUploadSubmissionExportService.java
  src/main/java/de/tum/in/www1/artemis/service/SubmissionExportService.java
  src/main/java/de/tum/in/www1/artemis/service/archival/ArchivalReportEntry.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/GitService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseExportService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/FileUploadExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextExerciseResource.java
  src/test/java/de/tum/in/www1/artemis/CourseBitbucketBambooJiraIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseBitbucketBambooIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseTestService.java
  src/test/java/de/tum/in/www1/artemis/util/AbstractArtemisIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/CourseTestService.java
Labels: bugfix, ready for review, server

#3530 [Feature] [Orion] Download Submissions for Tutors
  src/main/webapp/app/exercises/programming/manage/code-editor/code-editor-instructor-and-editor-orion-container.component.ts
  src/main/webapp/app/exercises/programming/manage/programming-exercise.component.html
  src/main/webapp/app/exercises/programming/manage/programming-exercise.component.ts
  src/main/webapp/app/exercises/programming/participate/programming-submission.service.ts
  src/main/webapp/app/exercises/shared/dashboards/tutor/exercise-assessment-dashboard.component.html
  src/main/webapp/app/exercises/shared/dashboards/tutor/exercise-assessment-dashboard.component.ts
  src/main/webapp/app/exercises/shared/dashboards/tutor/exercise-assessment-dashboard.module.ts
  src/main/webapp/app/home/home.component.ts
  src/main/webapp/app/overview/exercise-details/programming-exercise-student-ide-actions.component.ts
  src/main/webapp/app/shared/orion/orion-build-and-test.service.ts
  src/main/webapp/app/shared/orion/orion-connector.service.ts
  src/main/webapp/app/shared/orion/orion.ts
  src/main/webapp/i18n/de/exerciseAssessmentDashboard.json
  src/main/webapp/i18n/en/exerciseAssessmentDashboard.json
  src/test/javascript/spec/component/assessment-dashboard/exercise-assessment-dashboard.component.spec.ts
  src/test/javascript/spec/service/ide-build-and-test.service.spec.ts
Labels: client, component:Orion, feature, ready for review

#3442 Fix sentry issue for guided-tour.service
  src/main/webapp/app/guided-tour/guided-tour.service.ts
Labels: chore, client, ready for review

#3555 Update artemis-java-test-sandbox to Version 1.5.5
  src/main/resources/templates/java/maven/test/projectTemplate/pom.xml
  src/main/resources/templates/java/test/projectTemplate/pom.xml
  src/main/resources/templates/kotlin/test/projectTemplate/pom.xml
Labels: bugfix, component:Programming, dependencies, enhancement, ready for review

#3558 Add date and time column to list of complaints and list of more feedback requests
  src/main/webapp/app/complaints/list-of-complaints/list-of-complaints.component.html
  src/main/webapp/i18n/de/complaint.json
  src/main/webapp/i18n/en/complaint.json
Labels: client, feature, ready for review

#3553 [Bugfix] - Added try-catch to avoid login problems due to invalid Regex
  src/main/java/de/tum/in/www1/artemis/service/user/UserCreationService.java
Labels: ready for review, server

#3552 Added new TSLint rule & fixed/refactored consequent errors
  src/main/webapp/app/exercises/text/shared/text-select.directive.ts
  src/main/webapp/app/shared/markdown-editor/domainCommands/domainCommand.ts
  tslint.json
Labels: client, code quality, ready for review, small

#3556 [Bugfix] - Show number of teams and team participations
  src/main/java/de/tum/in/www1/artemis/service/StatisticsService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/ExerciseManagementStatisticsDTO.java
  src/main/webapp/app/exercises/shared/statistics/exercise-detail-statistics.component.html
  src/main/webapp/app/exercises/shared/statistics/exercise-management-statistics-dto.ts
  src/main/webapp/app/shared/statistics-graph/statistics.service.ts
  src/test/java/de/tum/in/www1/artemis/StatisticsIntegrationTest.java
  src/test/javascript/spec/component/exercises/shared/exercise-statistics.component.spec.ts
  src/test/javascript/spec/component/file-upload-exercise/file-upload-exercise-detail.component.spec.ts
  src/test/javascript/spec/component/modeling-exercise/modeling-exercise-detail.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-detail.component.spec.ts
  src/test/javascript/spec/component/statistics/exercise-detail-statistics.component.spec.ts
  src/test/javascript/spec/component/text-exercise/text-exercise-detail.component.spec.ts
Labels: client, ready for review, server

#3541 Fix course management client test
  src/test/javascript/spec/component/course/course-management.service.spec.ts
Labels: ready for review

#3566 Athene: Receive results in Protobuf Format
  build.gradle
  libs/athene-protobuf-client-0.0.1.jar
  package.json
  src/main/java/de/tum/in/www1/artemis/config/MessageConvertersConfiguration.java
  src/main/java/de/tum/in/www1/artemis/domain/TextBlock.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/athene/AtheneService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/AtheneResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/AtheneDTO.java
  src/test/java/de/tum/in/www1/artemis/AtheneIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/connectors/AtheneServiceTest.java
  src/test/java/de/tum/in/www1/artemis/util/RequestUtilService.java
Labels: component:Text, ready for review, server

#3572 adapt template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: chore

#3560 Update artemis-maven-template Docker Image to java16-3
  src/main/java/de/tum/in/www1/artemis/service/connectors/ContinuousIntegrationService.java
Labels: chore, component:Programming, dependencies, server

#3559 Fix Feedback Editor Alignment Issue
  src/main/webapp/app/exercises/text/assess/textblock-feedback-editor/textblock-feedback-editor.component.html
  src/main/webapp/app/exercises/text/assess/textblock-feedback-editor/textblock-feedback-editor.component.scss
Labels: bugfix, client, ready for review

#3458 [Feature] Cypress end to end testing setup
  .eslintrc.json
  .gitignore
  cypress.env.json
  cypress.json
  package.json
  src/test/cypress/README.md
  src/test/cypress/fixtures/course.json
  src/test/cypress/integration/Authentication.spec.ts
  src/test/cypress/integration/Footer.spec.ts
  src/test/cypress/integration/ModelingExercise.spec.ts
  src/test/cypress/integration/ProgrammingExercise.spec.ts
  src/test/cypress/plugins/index.ts
  src/test/cypress/support/commands.ts
  src/test/cypress/support/constants.ts
  src/test/cypress/support/index.ts
  src/test/cypress/support/utils.ts
  src/test/cypress/tsconfig.json
  tsconfig.cypress.json
  yarn.lock
Labels: ready for review, tests

#3554 Show indents on the text exercise result
  src/main/webapp/app/exercises/text/participate/text-result/text-result.component.html
  src/main/webapp/app/exercises/text/participate/text-result/text-result.component.scss
Labels: bugfix, client, component:Text, ready for review, small

#3577 Fix failing test on feedback editor close button css
  src/main/webapp/app/exercises/text/assess/textblock-feedback-editor/textblock-feedback-editor.component.html
  src/main/webapp/app/exercises/text/assess/textblock-feedback-editor/textblock-feedback-editor.component.scss
Labels: bugfix, client

#3535 [Enhancement] Gender inclusive German language
  src/main/webapp/i18n/de/aboutUs.json
  src/main/webapp/i18n/de/activate.json
  src/main/webapp/i18n/de/alert.json
  src/main/webapp/i18n/de/assessment.json
  src/main/webapp/i18n/de/assessmentDashboard.json
  src/main/webapp/i18n/de/audits.json
  src/main/webapp/i18n/de/complaint.json
  src/main/webapp/i18n/de/complaintResponse.json
  src/main/webapp/i18n/de/course.json
  src/main/webapp/i18n/de/dragAndDropQuestion.json
  src/main/webapp/i18n/de/editor.json
  src/main/webapp/i18n/de/error.json
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/de/exampleSubmission.json
  src/main/webapp/i18n/de/exercise-actions.json
  src/main/webapp/i18n/de/exercise.json
  src/main/webapp/i18n/de/exerciseAssessmentDashboard.json
  src/main/webapp/i18n/de/featureOverview.json
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/de/guidedTour.json
  src/main/webapp/i18n/de/guidedTourCourseExerciseOverview.json
  src/main/webapp/i18n/de/guidedTourCourseOverview.json
  src/main/webapp/i18n/de/guidedTourProgrammingExercise.json
  src/main/webapp/i18n/de/guidedTourTutorAssessment.json
  src/main/webapp/i18n/de/health.json
  src/main/webapp/i18n/de/home.json
  src/main/webapp/i18n/de/instructorCourseDashboard.json
  src/main/webapp/i18n/de/instructorDashboard.json
  src/main/webapp/i18n/de/instructorExerciseDashboard.json
  src/main/webapp/i18n/de/learningGoal.json
  src/main/webapp/i18n/de/lectureUnit.json
  src/main/webapp/i18n/de/login.json
  src/main/webapp/i18n/de/ltiUserId.json
  src/main/webapp/i18n/de/metrics.json
  src/main/webapp/i18n/de/modelingAssessmentEditor.json
  src/main/webapp/i18n/de/organizationManagement.json
  src/main/webapp/i18n/de/participantScores.json
  src/main/webapp/i18n/de/participation.json
  src/main/webapp/i18n/de/programmingAssessment.json
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/de/quizExercise.json
  src/main/webapp/i18n/de/quizQuestion.json
  src/main/webapp/i18n/de/rating.json
  src/main/webapp/i18n/de/register.json
  src/main/webapp/i18n/de/result.json
  src/main/webapp/i18n/de/settings.json
  src/main/webapp/i18n/de/statistics.json
  src/main/webapp/i18n/de/student-dashboard.json
  src/main/webapp/i18n/de/team.json
  src/main/webapp/i18n/de/textAssessment.json
  src/main/webapp/i18n/de/user-management.json
Labels: chore, client, ready for review

#3569 [Bugfix] Fix Issues for preliminary results
  src/main/webapp/app/exercises/shared/result/result-detail.component.html
  src/main/webapp/app/exercises/shared/result/result.component.html
  src/main/webapp/app/exercises/shared/result/result.component.ts
Labels: bugfix, client, ready for review

#3563 Fix several CSS issues
  src/main/webapp/app/course/manage/course-update.component.html
  src/main/webapp/app/course/manage/course-update.component.scss
  src/main/webapp/app/course/manage/detail/course-detail.component.scss
  src/main/webapp/app/overview/course-overview.scss
  src/main/webapp/app/overview/courses.component.scss
  src/main/webapp/content/scss/global.scss
  src/test/javascript/spec/component/text-submission-assessment/textblock-feedback-editor.component.spec.ts
Labels: client, ready for review

#3532 [Enhancements] - Exam statistics visualizations
  src/main/java/de/tum/in/www1/artemis/service/exam/ExamService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/ExamScoresDTO.java
  src/main/webapp/app/entities/statistics.model.ts
  src/main/webapp/app/exam/exam-scores/exam-score-dtos.model.ts
  src/main/webapp/app/exam/exam-scores/exam-scores-average-scores-graph.component.html
  src/main/webapp/app/exam/exam-scores/exam-scores-average-scores-graph.component.ts
  src/main/webapp/app/exam/exam-scores/exam-scores.component.html
  src/main/webapp/app/exam/exam-scores/exam-scores.component.ts
  src/main/webapp/app/exam/exam-scores/exam-scores.module.ts
  src/main/webapp/app/shared/statistics-graph/statistics-average-score-graph.component.ts
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/en/exam.json
  src/test/javascript/spec/component/exam/exam-scores/exam-scores-average-scores-graph.component.spec.ts
  src/test/javascript/spec/component/exam/exam-scores/exam-scores.component.spec.ts
  src/test/javascript/spec/component/exam/manage/exam-management.service.spec.ts
Labels: client, ready for review, server

#3565 [Chore + Mini-Features] Metis exercise/lecture discussion section improvements
  src/main/java/de/tum/in/www1/artemis/domain/notification/GroupNotification.java
  src/main/java/de/tum/in/www1/artemis/domain/notification/GroupNotificationFactory.java
  src/main/java/de/tum/in/www1/artemis/domain/notification/SingleUserNotification.java
  src/main/java/de/tum/in/www1/artemis/domain/notification/SingleUserNotificationFactory.java
  src/main/java/de/tum/in/www1/artemis/web/rest/metis/AnswerPostResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/metis/PostResource.java
  src/main/webapp/app/course/course-posts/course-posts-routing.module.ts
  src/main/webapp/app/course/course-posts/course-posts.component.html
  src/main/webapp/app/course/dashboards/assessment-dashboard/assessment-dashboard.component.html
  src/main/webapp/app/course/dashboards/instructor-course-dashboard/instructor-course-dashboard.component.html
  src/main/webapp/app/course/manage/detail/course-detail.component.html
  src/main/webapp/app/exercises/programming/shared/instructions-render/extensions/programming-exercise-plant-uml.extension.ts
  src/main/webapp/app/exercises/shared/statistics/doughnut-chart.component.ts
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.html
  src/main/webapp/app/overview/postings/answer-post/answer-post.component.html
  src/main/webapp/app/overview/postings/answer-post/answer-post.component.ts
  src/main/webapp/app/overview/postings/post-row/post-row.component.html
  src/main/webapp/app/overview/postings/post-row/post-row.component.ts
  src/main/webapp/app/overview/postings/post-votes/post-votes.component.html
  src/main/webapp/app/overview/postings/post/post.component.html
  src/main/webapp/app/overview/postings/post/post.component.ts
  src/main/webapp/app/overview/postings/postings-button/postings-button.component.html
  src/main/webapp/app/overview/postings/postings-button/postings-button.component.ts
  src/main/webapp/app/overview/postings/postings.component.html
  src/main/webapp/app/overview/postings/postings.component.ts
  src/main/webapp/app/overview/postings/postings.module.ts
  src/main/webapp/app/overview/postings/postings.scss
  src/main/webapp/app/shared/alert/alert.component.ts
  src/main/webapp/app/shared/confirm-icon/confirm-icon.component.html
  src/main/webapp/app/shared/confirm-icon/confirm-icon.component.ts
  src/main/webapp/app/shared/layouts/navbar/navbar.component.ts
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/de/instructorCourseDashboard.json
  src/main/webapp/i18n/de/metis.json
  src/main/webapp/i18n/de/notification.json
  src/main/webapp/i18n/de/post.json
  src/main/webapp/i18n/de/statistics.json
  src/main/webapp/i18n/de/student-dashboard.json
  src/main/webapp/i18n/en/exam.json
  src/main/webapp/i18n/en/global.json
  src/main/webapp/i18n/en/instructorCourseDashboard.json
  src/main/webapp/i18n/en/metis.json
  src/main/webapp/i18n/en/notification.json
  src/main/webapp/i18n/en/post.json
  src/main/webapp/i18n/en/statistics.json
  src/main/webapp/i18n/en/student-dashboard.json
  src/test/javascript/spec/component/postings/answer-post.component.spec.ts
  src/test/javascript/spec/component/postings/post.component.spec.ts
  src/test/javascript/spec/component/statistics/doughnut-chart.component.spec.ts
Labels: client, component:Metis, ready for review, server

#3586 More CSS improvements in the course detail page
  src/main/webapp/app/overview/course-exercises/course-exercise-row.component.html
  src/main/webapp/app/overview/course-exercises/course-exercises.component.html
  src/main/webapp/app/overview/course-overview.scss
Labels: client, ready for review

#3578 [Bugfix] [Orion] Buttons Clickable While Disabled
  src/main/webapp/app/exercises/programming/manage/code-editor/code-editor-instructor-and-editor-orion-container.component.html
  src/main/webapp/app/exercises/programming/manage/programming-exercise.component.html
  src/main/webapp/app/exercises/shared/dashboards/tutor/exercise-assessment-dashboard.component.html
  src/main/webapp/app/overview/exercise-details/programming-exercise-student-ide-actions.component.html
  src/main/webapp/app/shared/orion/orion-button/orion-button.component.html
  src/main/webapp/app/shared/orion/orion-button/orion-button.component.ts
Labels: bugfix, client, component:Orion, ready for review

#3573 [Tests] [Orion] Improve Orion Coverage
  src/main/webapp/app/exercises/programming/participate/programming-submission.service.ts
  src/test/javascript/spec/component/assessment-dashboard/assessment-dashboard.component.spec.ts
  src/test/javascript/spec/component/assessment-dashboard/exercise-assessment-dashboard.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise.component.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-orion-connector.service.ts
  src/test/javascript/spec/helpers/mocks/service/mock-programming-submission.service.ts
  src/test/javascript/spec/service/programming-submission.service.spec.ts
Labels: client, ready for review

#3581 Improve impact warning view after user feedback
  src/main/webapp/app/exercises/text/assess/textblock-feedback-editor/textblock-feedback-editor.component.html
  src/main/webapp/app/exercises/text/assess/textblock-feedback-editor/textblock-feedback-editor.component.scss
  src/main/webapp/i18n/de/textAssessment.json
  src/main/webapp/i18n/en/textAssessment.json
Labels: client, enhancement, ready for review

#3540 [Feature] Redirect to example submission board after the creation of a text/modelling exercise.
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise-update.component.html
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise-update.component.ts
  src/main/webapp/app/exercises/shared/exercise/exercise-utils.ts
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise-update.component.html
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise-update.component.ts
  src/main/webapp/app/shared/markdown-editor/markdown-editor.component.html
  src/main/webapp/app/shared/markdown-editor/markdown-editor.component.ts
  src/main/webapp/app/utils/navigation.utils.ts
  src/main/webapp/i18n/de/modelingExercise.json
  src/main/webapp/i18n/de/textExercise.json
  src/main/webapp/i18n/en/modelingExercise.json
  src/main/webapp/i18n/en/textExercise.json
  src/test/javascript/spec/component/modeling-exercise/modeling-exercise-update.component.spec.ts
  src/test/javascript/spec/component/text-exercise/text-exercise-update.component.spec.ts
Labels: client, ready for review

#3542 [Refactor] use multiple results for the complaint handling
  src/main/java/de/tum/in/www1/artemis/domain/Complaint.java
  src/main/java/de/tum/in/www1/artemis/domain/Exercise.java
  src/main/java/de/tum/in/www1/artemis/domain/Submission.java
  src/main/java/de/tum/in/www1/artemis/repository/SubmissionRepository.java
  src/main/java/de/tum/in/www1/artemis/service/AssessmentService.java
  src/main/java/de/tum/in/www1/artemis/service/ComplaintResponseService.java
  src/main/java/de/tum/in/www1/artemis/service/ComplaintService.java
  src/main/java/de/tum/in/www1/artemis/service/FileUploadSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/ModelingSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/SubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/TextSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ComplaintResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ComplaintResponseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/StudentExamResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/SubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/SubmissionWithComplaintDTO.java
  src/main/webapp/app/assessment/assessment-header/assessment-header.component.html
  src/main/webapp/app/complaints/complaint.service.ts
  src/main/webapp/app/complaints/list-of-complaints/list-of-complaints.component.ts
  src/main/webapp/app/entities/complaint.model.ts
  src/main/webapp/app/entities/submission.model.ts
  src/main/webapp/app/exercises/file-upload/assess/file-upload-assessment.component.ts
  src/main/webapp/app/exercises/file-upload/participate/file-upload-submission.component.html
  src/main/webapp/app/exercises/file-upload/participate/file-upload-submission.component.ts
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment-editor/modeling-assessment-editor.component.ts
  src/main/webapp/app/exercises/modeling/participate/modeling-submission.component.html
  src/main/webapp/app/exercises/modeling/participate/modeling-submission.component.ts
  src/main/webapp/app/exercises/programming/assess/code-editor-tutor-assessment-container.component.ts
  src/main/webapp/app/exercises/shared/dashboards/tutor/exercise-assessment-dashboard.component.html
  src/main/webapp/app/exercises/shared/dashboards/tutor/exercise-assessment-dashboard.component.ts
  src/main/webapp/app/exercises/shared/submission/submission.service.ts
  src/main/webapp/app/exercises/text/assess/text-submission-assessment.component.ts
  src/main/webapp/app/exercises/text/participate/text-editor.component.html
  src/main/webapp/app/exercises/text/participate/text-editor.component.ts
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.html
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.ts
  src/test/java/de/tum/in/www1/artemis/AssessmentComplaintIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/AssessmentTeamComplaintIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ModelingAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/CourseTestService.java
  src/test/javascript/spec/component/assessment-dashboard/exercise-assessment-dashboard.component.spec.ts
  src/test/javascript/spec/component/file-upload-assessment/file-upload-assessment.component.spec.ts
  src/test/javascript/spec/component/modeling-assessment-editor/modeling-assessment-editor.component.spec.ts
  src/test/javascript/spec/component/overview/exercise-details/course-exercise-details.component.spec.ts
  src/test/javascript/spec/service/participation.service.spec.ts
Labels: client, ready for review, refactoring, server

#3570 [Refactoring] JenkinsService refactoring
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsBuildPlanService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsBuildPlanUtils.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsEndpoints.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/jobs/JenkinsJobService.java
Labels: ready for review, refactoring, server

#3600 [Tests] Fixes test in textblock-feedback-editor.spec.ts
  src/test/javascript/spec/component/text-submission-assessment/textblock-feedback-editor.component.spec.ts
Labels: client, ready for review, small, tests

#3582 Fix sentry issue for grading-instructions-details.component
  src/main/webapp/app/exercises/shared/structured-grading-criterion/grading-instructions-details/grading-instructions-details.component.ts
Labels: chore, client, ready for review, sentry-issue, small

#3557 Modernize Programming Exercise Template JUnit 5 and Ares Tests
  src/main/resources/templates/java/test/testFiles/behavior/SortingExampleBehaviorTest.java
  src/main/resources/templates/java/test/testFiles/structural/AttributeTest.java
  src/main/resources/templates/java/test/testFiles/structural/ClassTest.java
  src/main/resources/templates/java/test/testFiles/structural/ConstructorTest.java
  src/main/resources/templates/java/test/testFiles/structural/MethodTest.java
  src/main/resources/templates/java/test/testFiles/structural/test.json
  src/main/resources/templates/kotlin/test/testFiles/behavior/SortingExampleBehaviorTest.java
  src/main/resources/templates/kotlin/test/testFiles/structural/AttributeTest.java
  src/main/resources/templates/kotlin/test/testFiles/structural/ClassTest.java
  src/main/resources/templates/kotlin/test/testFiles/structural/ConstructorTest.java
  src/main/resources/templates/kotlin/test/testFiles/structural/MethodTest.java
Labels: component:Programming, enhancement, ready for review, refactoring, small, template

#3602 Fix several small CSS issues related to exam conduction
  src/main/webapp/app/assessment/assessment-header/assessment-header.component.html
  src/main/webapp/app/exam/manage/exercise-groups/exercise-groups.component.html
  src/main/webapp/app/exam/participate/exam-cover/exam-participation-cover.component.html
Labels: client, ready for review

#3596 Fix an issue with URL parsing in LTI and improve tests with time mocking
  src/main/java/de/tum/in/www1/artemis/service/TimeService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/LtiResource.java
  src/test/java/de/tum/in/www1/artemis/AbstractSpringIntegrationBambooBitbucketJiraTest.java
  src/test/java/de/tum/in/www1/artemis/LtiIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseScheduleServiceTest.java
  src/test/java/de/tum/in/www1/artemis/util/TimeUtilService.java
Labels: bugfix, lti, ready for review, server

#3536 [Feature] Add Grading Instruction link for assessment feedback
  src/main/webapp/app/assessment/assessment-detail/assessment-detail.component.html
  src/main/webapp/app/assessment/assessment-shared.module.ts
  src/main/webapp/app/exercises/programming/assess/code-editor-tutor-assessment-inline-feedback.component.html
  src/main/webapp/app/exercises/programming/assess/programming-manual-assessment.module.ts
  src/main/webapp/app/exercises/text/assess/text-submission-assessment.module.ts
  src/main/webapp/app/exercises/text/assess/textblock-feedback-editor/textblock-feedback-editor.component.html
  src/main/webapp/app/shared/grading-instruction-link-icon/grading-instruction-link-icon.component.html
  src/main/webapp/app/shared/grading-instruction-link-icon/grading-instruction-link-icon.component.ts
  src/main/webapp/app/shared/grading-instruction-link-icon/grading-instruction-link-icon.module.ts
  src/main/webapp/i18n/de/assessment.json
  src/main/webapp/i18n/de/exercise.json
  src/main/webapp/i18n/en/assessment.json
  src/main/webapp/i18n/en/exercise.json
  src/test/javascript/spec/component/text-submission-assessment/manual-textblock-selection.component.spec.ts
  src/test/javascript/spec/component/text-submission-assessment/text-assessment-area.component.spec.ts
  src/test/javascript/spec/component/text-submission-assessment/text-feedback-conflicts.component.spec.ts
  src/test/javascript/spec/component/text-submission-assessment/text-submission-assessment.component.spec.ts
  src/test/javascript/spec/component/text-submission-assessment/textblock-assessment-card.component.spec.ts
  src/test/javascript/spec/component/text-submission-assessment/textblock-feedback-editor.component.spec.ts
Labels: client, feature, ready for review

#3597 Improve registration and login validation
  src/main/java/de/tum/in/www1/artemis/config/Constants.java
  src/main/java/de/tum/in/www1/artemis/domain/User.java
  src/main/java/de/tum/in/www1/artemis/security/SecurityUtils.java
  src/main/java/de/tum/in/www1/artemis/service/dto/UserDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/AccountResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/UserJWTController.java
  src/main/java/de/tum/in/www1/artemis/web/rest/UserResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/vm/LoginVM.java
  src/main/java/de/tum/in/www1/artemis/web/rest/vm/ManagedUserVM.java
  src/main/webapp/app/app.constants.ts
  src/main/webapp/app/home/home.component.html
  src/main/webapp/app/home/home.component.ts
  src/test/java/de/tum/in/www1/artemis/AccountResourceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/authentication/InternalAuthenticationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/authentication/JiraAuthenticationIntegationTest.java
  src/test/java/de/tum/in/www1/artemis/authentication/UserJenkinsGitlabIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/connector/JiraRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/util/UserTestService.java
Labels: client, ready for review, server

#3564 [Feature] Grading System - Absolute Points for Grade Key
  src/main/java/de/tum/in/www1/artemis/domain/Course.java
  src/main/java/de/tum/in/www1/artemis/domain/GradeStep.java
  src/main/java/de/tum/in/www1/artemis/repository/GradingScaleRepository.java
  src/main/java/de/tum/in/www1/artemis/service/GradingScaleService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/GradeStepResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/GradingScaleResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/GradeStepsDTO.java
  src/main/resources/config/liquibase/changelog/20210605180002_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/course/manage/course-update.component.html
  src/main/webapp/app/course/manage/course-update.component.ts
  src/main/webapp/app/entities/course.model.ts
  src/main/webapp/app/entities/grade-step.model.ts
  src/main/webapp/app/entities/grading-scale.model.ts
  src/main/webapp/app/exam/manage/exams/exam-update.component.html
  src/main/webapp/app/exam/participate/summary/points-summary/grade-key-overview/grade-key-overview.component.html
  src/main/webapp/app/exam/participate/summary/points-summary/grade-key-overview/grade-key-overview.component.ts
  src/main/webapp/app/grading-system/grading-system-info-modal/grading-system-info-modal.component.html
  src/main/webapp/app/grading-system/grading-system.component.html
  src/main/webapp/app/grading-system/grading-system.component.scss
  src/main/webapp/app/grading-system/grading-system.component.ts
  src/main/webapp/app/grading-system/grading-system.service.ts
  src/main/webapp/i18n/de/course.json
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/de/gradingSystem.json
  src/main/webapp/i18n/en/course.json
  src/main/webapp/i18n/en/exam.json
  src/main/webapp/i18n/en/gradingSystem.json
  src/test/java/de/tum/in/www1/artemis/GradingScaleIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/GradingScaleServiceTest.java
  src/test/javascript/spec/component/exam/exam-update.component.spec.ts
  src/test/javascript/spec/component/exam/participate/summary/points-summary/exam-points-summary.component.spec.ts
  src/test/javascript/spec/component/exam/participate/summary/points-summary/grade-key-overview/grade-key-overview.component.spec.ts
  src/test/javascript/spec/component/grading-system/grading-system.component.spec.ts
Labels: client, database, feature, grading system, ready for review, server

#3510 [Feature] Fixed Date Validation
  src/main/java/de/tum/in/www1/artemis/domain/Exercise.java
  src/main/java/de/tum/in/www1/artemis/service/ExerciseImportService.java
  src/main/java/de/tum/in/www1/artemis/service/ExerciseService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/FileUploadExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextExerciseResource.java
  src/main/webapp/app/exercises/shared/exercise/exercise.service.ts
  src/test/java/de/tum/in/www1/artemis/FileUploadExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/entitylistener/ResultListenerIntegrationTest.java
Labels: client, ready for review, server

#3598 [Sentry] - Fix issue for TestCaseDistributionCart.component.ts
  src/main/webapp/app/exercises/programming/manage/grading/charts/test-case-distribution-chart.component.ts
Labels: client, ready for review, sentry-issue

#3609 [Documentation] Update jenkins docs to include default values for local setup
  docs/dev/setup/jenkins-gitlab.rst
Labels: documentation, ready for review, small

#3607 [Bug fix] Fix button layout in example submissions dashboard
  src/main/webapp/app/exercises/shared/example-submission/example-submissions.component.html
Labels: client, ready for review, small

#3608 [Sentry] Fix issue for code-editor-student-container.component.ts
  src/main/webapp/app/exercises/programming/participate/code-editor-student-container.component.ts
Labels: client, ready for review, sentry-issue, small

#3611 Remove sudo from C Jenkinsfile
  src/main/resources/templates/jenkins/c/regularRuns/Jenkinsfile
Labels: ready for review, small

#3606 [Feature] Embed Apollon-editor in modelling-exericse-update-component
  src/main/webapp/app/exercises/modeling/manage/example-modeling/example-modeling-solution.component.html
  src/main/webapp/app/exercises/modeling/manage/example-modeling/example-modeling-solution.component.scss
  src/main/webapp/app/exercises/modeling/manage/example-modeling/example-modeling-solution.component.ts
  src/main/webapp/app/exercises/modeling/manage/example-modeling/example-modeling-solution.module.ts
  src/main/webapp/app/exercises/modeling/manage/example-modeling/example-modeling-solution.route.ts
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise-management.module.ts
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise-update.component.html
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise-update.component.ts
  src/main/webapp/app/exercises/modeling/shared/modeling-editor.component.scss
  src/main/webapp/app/exercises/modeling/shared/modeling-editor.component.ts
Labels: client, feature, ready for review

#3610 [Refactoring] Export student submissions
  src/main/java/de/tum/in/www1/artemis/repository/FileUploadExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/service/FileService.java
  src/main/java/de/tum/in/www1/artemis/service/SubmissionExportService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/FileUploadAssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/FileUploadExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/FileUploadSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/util/ResponseUtil.java
Labels: ready for review, refactoring, server

#3561 [Bugfix] - Add modeling explanation to submission version
  src/main/java/de/tum/in/www1/artemis/service/SubmissionVersionService.java
  src/test/java/de/tum/in/www1/artemis/ModelingSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/StudentExamIntegrationTest.java
Labels: bugfix, component:Modeling, java, ready for review, server

#3605 [Documentation] Add guidelines for inclusive, diversity-sensitive language
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
  docs/dev/guidelines.rst
  docs/dev/guidelines/language-guidelines.rst
  src/main/resources/templates/haskell/test/readme.md
  src/main/webapp/app/core/about-us/about-us.component.ts
  src/main/webapp/app/exam/manage/exams/exam-checklist-component/exam-checklist.component.html
Labels: client, ready for review

#3622 [Bugfix] Hibernate / Spring Boot Starter Validation
  build.gradle
  gradle.properties
  src/test/java/de/tum/in/www1/artemis/AccountResourceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/authentication/JiraAuthenticationIntegationTest.java
  webpack/webpack.prod.ts
Labels: bugfix, ready for review

#3521 [Feature] Re-evaluate feedback and result after structured grading instructions updated
  src/main/java/de/tum/in/www1/artemis/repository/FeedbackRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ResultRepository.java
  src/main/java/de/tum/in/www1/artemis/service/AuthorizationCheckService.java
  src/main/java/de/tum/in/www1/artemis/service/ExerciseService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/FileUploadExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextExerciseResource.java
  src/main/webapp/app/exercises/file-upload/manage/file-upload-exercise-update.component.ts
  src/main/webapp/app/exercises/file-upload/manage/file-upload-exercise.service.ts
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise-update.component.ts
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise.service.ts
  src/main/webapp/app/exercises/programming/manage/services/programming-exercise.service.ts
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.ts
  src/main/webapp/app/exercises/shared/exercise-update-warning/exercise-update-warning.component.html
  src/main/webapp/app/exercises/shared/exercise-update-warning/exercise-update-warning.component.scss
  src/main/webapp/app/exercises/shared/exercise-update-warning/exercise-update-warning.component.ts
  src/main/webapp/app/exercises/shared/exercise-update-warning/exercise-update-warning.service.ts
  src/main/webapp/app/exercises/shared/structured-grading-criterion/grading-instructions-details/grading-instructions-details.component.html
  src/main/webapp/app/exercises/shared/structured-grading-criterion/grading-instructions-details/grading-instructions-details.component.scss
  src/main/webapp/app/exercises/shared/structured-grading-criterion/grading-instructions-details/grading-instructions-details.component.ts
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise-update.component.ts
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise.service.ts
  src/main/webapp/i18n/de/exercise.json
  src/main/webapp/i18n/en/exercise.json
  src/test/java/de/tum/in/www1/artemis/FileUploadExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ModelingExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/TextExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseIntegrationBambooBitbucketJiraTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseIntegrationServiceTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/javascript/spec/component/shared/exercise-update-warning.component.spec.ts
  src/test/javascript/spec/service/exercise-update-warning.service.spec.ts
Labels: client, feature, ready for review, server

#3571 Feature/export lecture pdfs merged
  build.gradle
  src/main/java/de/tum/in/www1/artemis/repository/AttachmentUnitRepository.java
  src/main/java/de/tum/in/www1/artemis/security/jwt/TokenProvider.java
  src/main/java/de/tum/in/www1/artemis/service/FileService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/FileResource.java
  src/main/webapp/app/overview/course-lectures/course-lecture-details.component.html
  src/main/webapp/app/overview/course-lectures/course-lecture-details.component.ts
  src/main/webapp/app/shared/http/file.service.ts
  src/main/webapp/i18n/de/student-dashboard.json
  src/main/webapp/i18n/en/student-dashboard.json
  src/test/java/de/tum/in/www1/artemis/FileIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/FileServiceTest.java
  src/test/java/de/tum/in/www1/artemis/util/ModelFactory.java
  src/test/javascript/spec/component/lecture/lecture-attachments.component.spec.ts
  src/test/javascript/spec/component/overview/course-lectures/course-lecture-details.component.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-file.service.ts
Labels: client, feature, ready for review, server

#2844 [Feature] Detect Default Git Branch
  src/main/java/de/tum/in/www1/artemis/service/RepositoryService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/AbstractVersionControlService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/BitbucketBambooUpdateService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/ContinuousIntegrationUpdateService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/GitService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/VersionControlService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/BambooBuildPlanService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/BambooService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bitbucket/BitbucketService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bitbucket/dto/BitbucketDefaultBranchDTO.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bitbucket/dto/BitbucketRepositoryDTO.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/gitlab/GitLabService.java
  src/main/java/de/tum/in/www1/artemis/service/plagiarism/ProgrammingPlagiarismDetectionService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseExportService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseImportService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/ProgrammingExerciseScheduleService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/repository/RepositoryProgrammingExerciseParticipationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/repository/RepositoryResource.java
  src/main/resources/config/application-artemis.yml
  src/main/resources/templates/jenkins/c/regularRuns/Jenkinsfile
  src/main/resources/templates/jenkins/haskell/regularRuns/config.xml
  src/main/resources/templates/jenkins/java/regularRuns/Jenkinsfile
  src/main/resources/templates/jenkins/java/regularRuns/Jenkinsfile-staticCodeAnalysis
  src/main/resources/templates/jenkins/java/sequentialRuns/Jenkinsfile
  src/main/resources/templates/jenkins/kotlin/regularRuns/Jenkinsfile
  src/main/resources/templates/jenkins/kotlin/sequentialRuns/Jenkinsfile
  src/main/resources/templates/jenkins/python/regularRuns/Jenkinsfile
  src/main/resources/templates/jenkins/swift/regularRuns/Jenkinsfile
  src/main/resources/templates/jenkins/swift/regularRuns/Jenkinsfile-staticCodeAnalysis
  src/test/java/de/tum/in/www1/artemis/AbstractSpringIntegrationBambooBitbucketJiraTest.java
  src/test/java/de/tum/in/www1/artemis/AbstractSpringIntegrationJenkinsGitlabTest.java
  src/test/java/de/tum/in/www1/artemis/GitServiceTest.java
  src/test/java/de/tum/in/www1/artemis/GitlabServiceTest.java
  src/test/java/de/tum/in/www1/artemis/ManagementResourceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/TestRepositoryResourceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/connector/BitbucketRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/connector/GitlabRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/MockDelegate.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseBitbucketBambooIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseGitIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseGitlabJenkinsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseIntegrationServiceTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseTemplateIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseTestService.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingSubmissionAndResultBitbucketBambooIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/RepositoryIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/BitbucketServiceTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/java/de/tum/in/www1/artemis/util/GitUtilService.java
  src/test/resources/config/application-artemis.yml
Labels: component:Programming, feature, ready for review, server

#3626 Added new Artemis logo
  angular.json
  docs/dev/setup.rst
  src/main/resources/public/images/favicon.ico
  src/main/resources/public/images/logo.png
  src/main/resources/templates/error.html
  src/main/resources/templates/mail/activationEmail.html
  src/main/resources/templates/mail/creationEmail.html
  src/main/resources/templates/mail/passwordResetEmail.html
  src/main/resources/templates/mail/samlSetPasswordEmail.html
  src/main/webapp/404.html
  src/main/webapp/android-chrome-192x192.png
  src/main/webapp/android-chrome-512x512.png
  src/main/webapp/apple-touch-icon.png
  src/main/webapp/browserconfig.xml
  src/main/webapp/favicon-16x16.png
  src/main/webapp/favicon-32x32.png
  src/main/webapp/favicon.ico
  src/main/webapp/favicon.svg
  src/main/webapp/index.html
  src/main/webapp/manifest.webapp
  src/main/webapp/mstile-144x144.png
  src/main/webapp/mstile-150x150.png
  src/main/webapp/mstile-310x150.png
  src/main/webapp/mstile-310x310.png
  src/main/webapp/mstile-70x70.png
  src/main/webapp/safari-pinned-tab.svg
  src/test/k6/old/ArtemisLogin.js
  webpack/webpack.common.ts
Labels: client, feature, ready for review, small

#3466 [Refactor] ResultResource
  src/main/java/de/tum/in/www1/artemis/config/Constants.java
  src/main/java/de/tum/in/www1/artemis/repository/ResultRepository.java
  src/main/java/de/tum/in/www1/artemis/service/AuthorizationCheckService.java
  src/main/java/de/tum/in/www1/artemis/service/ParticipationService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/ContinuousIntegrationService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/BambooService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/RatingResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ResultResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextAssessmentResource.java
  src/main/webapp/app/exercises/programming/participate/code-editor-student-container.component.ts
  src/main/webapp/app/exercises/programming/shared/code-editor/build-output/code-editor-build-output.component.ts
  src/main/webapp/app/exercises/programming/shared/instructions-render/programming-exercise-instruction.component.ts
  src/main/webapp/app/exercises/shared/result/result-detail.component.ts
  src/main/webapp/app/exercises/shared/result/result.service.ts
  src/main/webapp/app/exercises/text/manage/example-text-submission/example-text-submission.component.ts
  src/test/java/de/tum/in/www1/artemis/ResultServiceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseResultTestService.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingSubmissionAndResultBitbucketBambooIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingSubmissionAndResultGitlabJenkinsIntegrationTest.java
  src/test/javascript/spec/component/code-editor/code-editor-build-output.component.spec.ts
  src/test/javascript/spec/component/shared/result-detail.component.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-result.service.ts
  src/test/javascript/spec/integration/code-editor/code-editor-container.integration.spec.ts
  src/test/javascript/spec/integration/code-editor/code-editor-student.integration.spec.ts
Labels: client, ready for review, refactoring, server

#3627 [Bugfix] Code Editor Tutor Assessment Inline Feedback fix points
  src/main/webapp/app/exercises/programming/assess/code-editor-tutor-assessment-inline-feedback.component.html
Labels: bugfix, client, ready for review, small

#3634 Use bottom-end placement for the account dropdown
  src/main/webapp/app/shared/layouts/navbar/navbar.component.html
Labels: client, ready for review

#3617 Disable save button in code editor and replace with auto save
  src/main/webapp/app/exam/participate/exam-cover/exam-participation-cover.component.ts
  src/main/webapp/app/exam/participate/exam-navigation-bar/exam-navigation-bar.component.html
  src/main/webapp/app/exam/participate/exam-participation.component.ts
  src/main/webapp/app/exercises/modeling/participate/modeling-submission.component.ts
  src/main/webapp/app/exercises/programming/manage/code-editor/code-editor-instructor-base-container.component.ts
  src/main/webapp/app/exercises/programming/manage/programming-exercise-management-routing.module.ts
  src/main/webapp/app/exercises/programming/participate/code-editor-student-container.component.ts
  src/main/webapp/app/exercises/programming/participate/programming-participation-routing.module.ts
  src/main/webapp/app/exercises/programming/shared/code-editor/actions/code-editor-actions.component.html
  src/main/webapp/app/exercises/programming/shared/code-editor/actions/code-editor-actions.component.ts
  src/main/webapp/app/exercises/programming/shared/code-editor/file-browser/code-editor-file-browser-file.component.html
  src/main/webapp/app/exercises/programming/shared/code-editor/status/code-editor-status.component.html
  src/main/webapp/app/exercises/quiz/manage/apollon-diagrams/apollon-diagram-detail.component.ts
  src/main/webapp/app/exercises/quiz/manage/statistics/quiz-point-statistic/quiz-point-statistic.component.ts
  src/main/webapp/app/exercises/quiz/manage/statistics/quiz-statistics-footer/quiz-statistics-footer.component.ts
  src/main/webapp/app/exercises/quiz/participate/quiz-participation.component.ts
  src/main/webapp/app/shared/constants/exercise-exam-constants.ts
  src/main/webapp/app/shared/guard/can-deactivate.guard.ts
  src/main/webapp/i18n/de/editor.json
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/en/editor.json
  src/main/webapp/i18n/en/exam.json
  src/test/javascript/spec/component/code-editor/code-editor-actions.component.spec.ts
  src/test/javascript/spec/component/code-editor/code-editor-status.component.spec.ts
  src/test/javascript/spec/component/exam/participate/exam-participation-cover.component.spec.ts
  src/test/javascript/spec/component/quiz-statistic/quiz-point-statistic.component.spec.ts
  src/test/javascript/spec/component/quiz-statistic/quiz-statistics-footer.component.spec.ts
Labels: client, component:Programming, ready for review

#3599 [Bugfix] fixing the "Server Administration>API" subpage
  src/main/webapp/app/shared/layouts/navbar/navbar.component.html
Labels: bugfix, client, ready for review

#3574 [Refactor] Refactoring of the saving process in exercise-update-component
  src/main/webapp/app/entities/exercise.model.ts
  src/main/webapp/app/exercises/file-upload/manage/file-upload-exercise-update.component.ts
  src/main/webapp/app/exercises/file-upload/manage/file-upload-exercise.service.ts
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise-update.component.ts
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise.service.ts
  src/main/webapp/app/exercises/shared/exercise-update-warning/exercise-update-warning.component.ts
  src/main/webapp/app/exercises/shared/exercise/exercise-utils.ts
  src/main/webapp/app/exercises/shared/exercise/exercise.service.ts
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise-update.component.ts
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise.service.ts
  src/test/javascript/spec/component/file-upload-exercise/file-upload-exercise-update.component.spec.ts
  src/test/javascript/spec/component/modeling-exercise/modeling-exercise-update.component.spec.ts
  src/test/javascript/spec/component/text-exercise/text-exercise-update.component.spec.ts
Labels: client, ready for review, refactoring

#3583 Actions: Build, Test, and Deploy
  .github/workflows/build-deploy.yml
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/test.yml
  .github/workflows/testserver-deployment.yml
  README.md
  docs/dev/testservers.rst
  docs/dev/testservers/actions-deploy-done.png
  docs/dev/testservers/actions-deploy-review-deployment.png
  docs/dev/testservers/actions-deploy-wait-for-approval.png
  docs/dev/testservers/actions-deploy-wait-for-build.png
Labels: ready for review

#3647 [Bugfix] Repair Prettier for cmd
  package.json
Labels: bugfix, ready for review, small

#3625 [Bugfix] Sentry Issue Type Error in programming submission service
  src/main/webapp/app/exercises/programming/participate/programming-submission.service.ts
Labels: bugfix, client, ready for review

#3646 [Bugfix] - Fix empty student participations
  src/main/webapp/app/exam/participate/exam-participation.component.ts
Labels: bugfix, client, ready for review, small

#3645 Don't allow consecutive, trailing or preceding whitespaces in exercise titles
  src/main/java/de/tum/in/www1/artemis/domain/Exercise.java
Labels: ready for review, server

#3644 Don't limit plagiarism similarity to 50%
  src/main/java/de/tum/in/www1/artemis/service/plagiarism/ProgrammingPlagiarismDetectionService.java
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-inspector/plagiarism-inspector.component.html
Labels: client, ready for review, server

#3642 [Sentry-issue] Fix issue with undefined exerciseCategories
  src/main/webapp/app/shared/category-selector/category-selector.component.ts
Labels: client, ready for review, small

#3562 Chore/testing/text submission service exam management service
  src/main/webapp/app/exam/manage/exam-management.service.ts
  src/test/javascript/spec/component/exam/manage/exam-management.service.spec.ts
  src/test/javascript/spec/component/exam/manage/exam-students.component.spec.ts
  src/test/javascript/spec/service/text-submission.service.spec.ts
Labels: chore, client, ready for review

#3575 Exam Exercises Overview Page
  src/main/webapp/app/entities/exam-exercise-overview-item.model.ts
  src/main/webapp/app/entities/exam-page.model.ts
  src/main/webapp/app/exam/manage/exams/exam-checklist-component/exam-checklist.component.ts
  src/main/webapp/app/exam/participate/exam-navigation-bar/exam-navigation-bar.component.html
  src/main/webapp/app/exam/participate/exam-navigation-bar/exam-navigation-bar.component.scss
  src/main/webapp/app/exam/participate/exam-navigation-bar/exam-navigation-bar.component.ts
  src/main/webapp/app/exam/participate/exam-participation.component.html
  src/main/webapp/app/exam/participate/exam-participation.component.ts
  src/main/webapp/app/exam/participate/exam-participation.module.ts
  src/main/webapp/app/exam/participate/exam-participation.service.ts
  src/main/webapp/app/exam/participate/exercises/exam-page.component.ts
  src/main/webapp/app/exam/participate/exercises/exam-submission.component.ts
  src/main/webapp/app/exam/participate/exercises/exercise-overview-page/exam-exercise-overview-page.component.html
  src/main/webapp/app/exam/participate/exercises/exercise-overview-page/exam-exercise-overview-page.component.ts
  src/main/webapp/app/exam/participate/exercises/exercise-overview-page/exam-exercise-overview-page.scss
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/en/exam.json
  src/test/javascript/spec/component/exam/participate/exam-exercise-overview-page.component.spec.ts
  src/test/javascript/spec/component/exam/participate/exam-navigation-bar.component.spec.ts
  src/test/javascript/spec/component/exam/participate/exam-participation.component.spec.ts
Labels: client, exam mode, ready for review

#3655 User Documentation: Fix Feature Table Bamboo/Jenkins
  docs/user/exercises/programming-exercise-setup.inc
Labels: documentation, enhancement, ready for review, small

#3652 [Bugfix] starting of k6 tests
  src/test/k6/ModelingExerciseAPIs.js
  src/test/k6/TextExerciseAPIs.js
  src/test/k6/requests/exercises.js
Labels: k6, ready for review, small

#3653 Fix Nullpointer in ProgrammingExerciseParticipationService
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseParticipationService.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/RepositoryIntegrationTest.java
Labels: bugfix, component:Programming, priority:high, ready for review, server, small

#3593 [Test] - Increase test coverage for FileUploadSubmissionService
  src/test/java/de/tum/in/www1/artemis/FileUploadSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/SubmissionServiceTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
Labels: ready for review, server, tests

#3657 Fix Automatic Saves for "Edit in editor"
  src/main/webapp/app/exercises/programming/manage/code-editor/code-editor-instructor-base-container.component.ts
  src/main/webapp/app/exercises/programming/manage/code-editor/code-editor-management-routing.module.ts
Labels: bugfix, client, component:Programming, priority:high, ready for review, small

#3643 Fix broken links on setup docs page
  docs/dev/setup.rst
Labels: documentation, ready for review

#3656 [Enhancements] - CSS fixes and statistics reordering
  src/main/java/de/tum/in/www1/artemis/domain/statistics/CourseStatisticsAverageScore.java
  src/main/java/de/tum/in/www1/artemis/repository/StatisticsRepository.java
  src/main/java/de/tum/in/www1/artemis/service/StatisticsService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/StatisticsResource.java
  src/main/webapp/app/course/manage/course-management.component.html
  src/main/webapp/app/entities/quiz/course-management-statistics-model.ts
  src/main/webapp/app/overview/courses.component.html
  src/main/webapp/app/shared/statistics-graph/statistics.service.ts
  src/test/java/de/tum/in/www1/artemis/StatisticsIntegrationTest.java
Labels: client, ready for review, server

#3659 Fix an error when initializing the apollon editor
  src/main/webapp/app/exercises/modeling/shared/modeling-editor.component.ts
Labels: client, ready for review

#3662 [BugFix] Add missing slash to paths in JenkinsBuildPlanCreator
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsBuildPlanCreator.java
Labels: bugfix, jenkins/gitlab, ready for review, server

#3660 Fix layout issues with the quiz create/edit footer
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise-detail.component.html
Labels: client, lock:artemistest5, ready for review

#3654 [Bugfix] fix deletion of results
  src/main/java/de/tum/in/www1/artemis/web/rest/FileUploadAssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingAssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingAssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextAssessmentResource.java
  src/main/webapp/app/exercises/file-upload/assess/file-upload-assessment.service.ts
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment.service.ts
  src/main/webapp/app/exercises/programming/assess/manual-result/programming-assessment-manual-result.service.ts
  src/main/webapp/app/exercises/shared/participation-submission/participation-submission.component.ts
  src/main/webapp/app/exercises/text/assess/text-assessment.service.ts
  src/test/java/de/tum/in/www1/artemis/FileUploadAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ModelingAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/TextAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingAssessmentIntegrationTest.java
Labels: bugfix, client, ready for review, server, small

#3629 [Feature] Limit static analysis reports file size
  src/main/java/de/tum/in/www1/artemis/config/StaticCodeAnalysisConfigurer.java
Labels: feature, ready for review, server

#3630 [Bugfix] Fix Back Button
  src/main/webapp/app/admin/system-notification-management/system-notification-management-update.component.ts
  src/main/webapp/app/admin/user-management/user-management-update.component.ts
  src/main/webapp/app/app-routing.module.ts
  src/main/webapp/app/course/manage/course-update.component.ts
  src/main/webapp/app/exam/manage/exams/exam-update.component.ts
  src/main/webapp/app/exercises/file-upload/manage/file-upload-exercise-update.component.ts
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise-update.component.ts
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.ts
  src/main/webapp/app/exercises/quiz/manage/re-evaluate/quiz-re-evaluate.component.ts
  src/main/webapp/app/exercises/shared/exercise-hint/manage/exercise-hint-update.component.ts
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise-update.component.ts
  src/main/webapp/app/lecture/lecture-update.component.ts
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.ts
  src/main/webapp/app/utils/navigation.utils.ts
  src/test/javascript/spec/component/admin/system-notification-management/system-notification-update.component.spec.ts
  src/test/javascript/spec/component/overview/exercise-details/course-exercise-details.component.spec.ts
  src/test/javascript/spec/service/navigation-util.service.spec.ts
Labels: bugfix, client, component:Shared, ready for review

#3527 [Migration] Metis Data Model: Introduce Post Tags, Course-Wide Context and Reactions
  src/main/java/de/tum/in/www1/artemis/domain/Course.java
  src/main/java/de/tum/in/www1/artemis/domain/LearningGoal.java
  src/main/java/de/tum/in/www1/artemis/domain/Lecture.java
  src/main/java/de/tum/in/www1/artemis/domain/metis/AnswerPost.java
  src/main/java/de/tum/in/www1/artemis/domain/metis/CourseWideContext.java
  src/main/java/de/tum/in/www1/artemis/domain/metis/Post.java
  src/main/java/de/tum/in/www1/artemis/domain/metis/PostConstraints.java
  src/main/java/de/tum/in/www1/artemis/domain/metis/PostContextConstraintValidator.java
  src/main/java/de/tum/in/www1/artemis/domain/metis/Posting.java
  src/main/java/de/tum/in/www1/artemis/domain/metis/Reaction.java
  src/main/java/de/tum/in/www1/artemis/domain/metis/ReactionConstraintValidator.java
  src/main/java/de/tum/in/www1/artemis/domain/metis/ReactionConstraints.java
  src/main/java/de/tum/in/www1/artemis/repository/metis/PostRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/metis/ReactionRepository.java
  src/main/java/de/tum/in/www1/artemis/web/rest/metis/AnswerPostResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/metis/PostResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/metis/ReactionResource.java
  src/main/resources/config/liquibase/changelog/20210624110700_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/entities/course.model.ts
  src/main/webapp/app/entities/metis/answer-post.model.ts
  src/main/webapp/app/entities/metis/post-tag.model.ts
  src/main/webapp/app/entities/metis/post.model.ts
  src/main/webapp/app/entities/metis/posting.model.ts
  src/main/webapp/app/entities/metis/reaction.model.ts
  src/main/webapp/app/overview/postings/answer-post/answer-post.component.ts
  src/main/webapp/app/overview/postings/post/post.component.ts
  src/main/webapp/app/overview/postings/postings.component.ts
  src/test/java/de/tum/in/www1/artemis/metis/AnswerPostIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/metis/PostIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/metis/ReactionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
Labels: client, database, ready for review, server

#3639 Fix undefined array access on exam checklist with empty exercise groups
  src/main/webapp/app/exam/manage/exams/exam-checklist-component/exam-checklist.component.ts
Labels: client, ready for review

#3631 [Refactor] small improvements for grading instruction details component
  src/main/webapp/app/exercises/shared/structured-grading-criterion/grading-instructions-details/grading-instructions-details.component.html
  src/main/webapp/app/exercises/shared/structured-grading-criterion/grading-instructions-details/grading-instructions-details.component.scss
  src/main/webapp/app/exercises/shared/structured-grading-criterion/grading-instructions-details/grading-instructions-details.component.ts
  src/main/webapp/app/shared/markdown-editor/domainCommands/credits.command.ts
  src/main/webapp/app/shared/markdown-editor/domainCommands/feedback.command.ts
  src/main/webapp/app/shared/markdown-editor/domainCommands/gradingScaleCommand.ts
  src/main/webapp/app/shared/markdown-editor/domainCommands/instructionDescription.command.ts
  src/main/webapp/app/shared/markdown-editor/domainCommands/usageCount.command.ts
  src/main/webapp/i18n/de/exercise.json
  src/main/webapp/i18n/en/exercise.json
  src/test/javascript/spec/component/shared/grading-instructions-details.component.spec.ts
Labels: client, ready for review, refactoring

#3665 Fix position of ssh button
  src/main/webapp/app/shared/components/clone-repo-button/clone-repo-button.component.html
Labels: client, ready for review

#3666 Bugfix/client/tooltip not released placement
  src/main/webapp/app/exam/exam-scores/exam-scores.component.html
  src/main/webapp/app/shared/components/not-released-tag.component.html
Labels: client, ready for review
