Repository ls1intum/Artemis, pull requests merged in 2022-10, with the labels that each got.

#5697 `Exam mode`: Fix an issue with quizzes in test exams
  src/main/java/de/tum/in/www1/artemis/service/connectors/bitbucket/BitbucketService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/gitlab/GitLabService.java
  src/main/java/de/tum/in/www1/artemis/service/exam/ExamService.java
  src/main/java/de/tum/in/www1/artemis/service/exam/StudentExamService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseImportService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseParticipationService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/StudentExamResource.java
  src/test/java/de/tum/in/www1/artemis/StudentExamIntegrationTest.java
Labels: bug, tests, server, exam mode

#5694 `Assessment`: Improve example submission usability
  src/main/webapp/app/exercises/modeling/manage/example-modeling/example-modeling-submission.component.html
  src/main/webapp/app/exercises/modeling/manage/example-modeling/example-modeling-submission.component.ts
  src/main/webapp/app/exercises/modeling/manage/example-modeling/example-modeling-submission.module.ts
  src/main/webapp/app/exercises/shared/example-submission/example-submission-import/example-submission-import.component.html
  src/main/webapp/app/exercises/shared/example-submission/example-submission-import/example-submission-import.component.ts
  src/main/webapp/app/exercises/text/manage/example-text-submission/example-text-submission.component.html
  src/main/webapp/app/exercises/text/manage/example-text-submission/example-text-submission.component.ts
  src/main/webapp/i18n/de/assessment.json
  src/main/webapp/i18n/de/exampleSubmission.json
  src/main/webapp/i18n/en/assessment.json
  src/main/webapp/i18n/en/exampleSubmission.json
Labels: ready for review, client, bugfix

#5698 `General`: Fix result displays
  src/main/webapp/app/exercises/shared/result/result.service.ts
  src/main/webapp/app/overview/course-exercises/course-exercise-row.component.html
  src/main/webapp/app/overview/course-exercises/course-exercise-row.component.ts
  src/main/webapp/app/overview/exercise-details/exercise-details-student-actions.component.html
  src/main/webapp/app/shared/components/open-code-editor-button/open-code-editor-button.component.html
  src/main/webapp/app/shared/components/open-code-editor-button/open-code-editor-button.component.ts
  src/test/cypress/integration/exam/ExamAssessment.spec.ts
  src/test/cypress/integration/exam/ExamParticipation.spec.ts
  src/test/cypress/integration/exercises/programming/ProgrammingExerciseParticipation.spec.ts
  src/test/cypress/integration/exercises/programming/ProgrammingExerciseStaticCodeAnalysis.spec.ts
  src/test/cypress/integration/exercises/quiz-exercise/QuizExerciseAssessment.spec.ts
  src/test/cypress/support/pageobjects/exercises/AbstractExerciseFeedbackPage.ts
  src/test/cypress/support/pageobjects/exercises/ExerciseResultPage.ts
  src/test/javascript/spec/component/exercises/shared/headers/header-exercise-page-with-details.component.spec.ts
  src/test/javascript/spec/component/overview/course-exercises/course-exercise-row.component.spec.ts
Labels: tests, client, bugfix, cypress

#5699 `Development`: Add TU Dresden & HS Heilbronn to list of universities
  README.md
Labels: ready to merge

#5711 `Exam mode`: Fix test runs for test exams
  src/main/java/de/tum/in/www1/artemis/domain/exam/StudentExam.java
  src/main/java/de/tum/in/www1/artemis/repository/StudentParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ParticipationService.java
  src/main/java/de/tum/in/www1/artemis/service/exam/ExamService.java
  src/test/java/de/tum/in/www1/artemis/StudentExamIntegrationTest.java
Labels: tests, server, exam mode, priority:high, small, bugfix, ready to merge

#5708 `Exam mode`: Fix test runs assessment dashboard for test exams
  src/main/java/de/tum/in/www1/artemis/repository/ResultRepository.java
  src/main/java/de/tum/in/www1/artemis/service/AssessmentDashboardService.java
  src/main/webapp/app/exam/manage/test-runs/test-run-management.component.html
  src/test/java/de/tum/in/www1/artemis/ExamIntegrationTest.java
Labels: tests, ready for review, server, client, exam mode, priority:high, small, bugfix

#5658 `Programming exercises`: Build Plan API
  artemis.jh
  src/main/java/de/tum/in/www1/artemis/config/SecurityConfiguration.java
  src/main/java/de/tum/in/www1/artemis/domain/BuildPlan.java
  src/main/java/de/tum/in/www1/artemis/domain/ProgrammingExercise.java
  src/main/java/de/tum/in/www1/artemis/repository/BuildPlanRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ProgrammingExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/gitlabci/GitLabCIBuildPlanLinkInfoContributor.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/gitlabci/GitLabCIBuildPlanService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/gitlabci/GitLabCIProgrammingLanguageFeatureService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/gitlabci/GitLabCIService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseResourceEndpoints.java
  src/main/resources/config/liquibase/changelog/20220905125330_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/resources/templates/gitlabci/empty/regularRuns/.gitlab-ci.yml
  src/main/resources/templates/gitlabci/java/maven/regularRuns/.gitlab-ci.yml
  src/test/java/de/tum/in/www1/artemis/AbstractSpringIntegrationGitlabCIGitlabSamlTest.java
  src/test/java/de/tum/in/www1/artemis/connector/GitlabRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseBuildPlanTest.java
  src/test/java/de/tum/in/www1/artemis/service/GitlabCIServiceTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
Labels: tests, ready for review, server, database

#5719 `Exam mode`: Don't show "Start Exercise" for test runs
  src/main/webapp/app/exam/participate/exercises/programming/programming-exam-submission.component.html
  src/main/webapp/app/overview/exercise-details/exercise-details-student-actions.component.ts
  src/test/javascript/spec/component/overview/exercise-details/exercise-details-student-actions.component.spec.ts
Labels: tests, client, component:Programming, exam mode, priority:high, small, bugfix

#5707 `General`: Remove duplicate GET call in course management pages
  src/main/webapp/app/course/manage/course-management-exercises.component.ts
  src/main/webapp/app/course/manage/detail/course-detail.component.ts
  src/test/javascript/spec/component/course/course-management-exercises.component.spec.ts
  src/test/javascript/spec/component/course/detail/course-detail.component.spec.ts
Labels: tests, client, bugfix, performance, ready to merge

#5676 `Exam mode`: Fix exam test run summary
  src/main/webapp/app/exam/participate/exam-participation.component.ts
  src/main/webapp/app/exam/participate/summary/exam-participation-summary.component.html
  src/test/javascript/spec/component/exam/participate/exam-participation.component.spec.ts
Labels: tests, ready for review, client, exam mode, bugfix

#5706 `Submission`: Prevent string submissions over max length
  src/main/java/de/tum/in/www1/artemis/config/Constants.java
  src/main/java/de/tum/in/www1/artemis/domain/TextSubmission.java
  src/main/java/de/tum/in/www1/artemis/domain/modeling/ModelingSubmission.java
  src/main/java/de/tum/in/www1/artemis/domain/quiz/QuizSubmission.java
  src/main/java/de/tum/in/www1/artemis/domain/quiz/ShortAnswerSubmittedAnswer.java
  src/main/java/de/tum/in/www1/artemis/domain/quiz/ShortAnswerSubmittedText.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/QuizSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/websocket/QuizSubmissionWebsocketService.java
  src/main/webapp/app/exam/participate/exercises/text/text-exam-submission.component.html
  src/main/webapp/app/exercises/modeling/shared/modeling-explanation-editor.component.html
  src/main/webapp/app/exercises/modeling/shared/modeling-explanation-editor.component.ts
  src/main/webapp/app/exercises/quiz/manage/short-answer-question/short-answer-question-edit.component.html
  src/main/webapp/app/exercises/quiz/manage/short-answer-question/short-answer-question-edit.component.ts
  src/main/webapp/app/exercises/quiz/shared/questions/short-answer-question/short-answer-question.component.html
  src/main/webapp/app/exercises/quiz/shared/questions/short-answer-question/short-answer-question.component.ts
  src/main/webapp/app/exercises/text/participate/text-editor.component.html
  src/main/webapp/app/shared/constants/input.constants.ts
  src/test/java/de/tum/in/www1/artemis/ModelingSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/QuizSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/TextSubmissionIntegrationTest.java
Labels: tests, ready for review, server, client, component:Modeling, component:Text, component:Quiz, exam mode, bugfix

#5720 `Exam mode`: Fix multiple client issues
  src/main/java/de/tum/in/www1/artemis/web/rest/plagiarism/PlagiarismCaseResource.java
  src/main/webapp/app/course/plagiarism-cases/instructor-view/plagiarism-cases-instructor-view.component.html
  src/main/webapp/app/course/plagiarism-cases/instructor-view/plagiarism-cases-instructor-view.component.ts
  src/main/webapp/app/exam/manage/test-runs/test-run-management.component.html
  src/main/webapp/app/exam/participate/exam-navigation-bar/exam-navigation-bar.component.html
  src/main/webapp/app/exercises/file-upload/participate/file-upload-submission.component.ts
  src/main/webapp/app/exercises/shared/exercise-scores/exercise-scores.component.ts
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-split-view/plagiarism-split-view.component.ts
  src/main/webapp/app/exercises/shared/statistics/exercise-detail-statistics.component.html
  src/main/webapp/app/exercises/shared/statistics/exercise-detail-statistics.component.ts
  src/test/javascript/spec/component/shared/metis/message-inline-input-component/message-inline-input.component.spec.ts
  src/test/javascript/spec/component/shared/metis/message-reply-inline-input/message-inline-input.component.spec.ts
Labels: tests, ready for review, server, client, exam mode, priority:high, bugfix

#5558 `General`: Extend LTI support for Moodle
  docs/dev/setup.rst
  src/main/java/de/tum/in/www1/artemis/domain/Course.java
  src/main/java/de/tum/in/www1/artemis/domain/OnlineCourseConfiguration.java
  src/main/java/de/tum/in/www1/artemis/repository/CourseRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/OnlineCourseConfigurationRepository.java
  src/main/java/de/tum/in/www1/artemis/security/LtiAuthenticationSuccessListener.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/AbstractVersionControlService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/LtiService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jira/JiraAuthenticationProvider.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/LtiResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/ExerciseLtiConfigurationDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/LtiLaunchRequestDTO.java
  src/main/resources/config/application-artemis.yml
  src/main/resources/config/liquibase/changelog/20220914083000_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/core/auth/user-route-access-service.ts
  src/main/webapp/app/course/manage/course-update.component.html
  src/main/webapp/app/course/manage/course-update.component.ts
  src/main/webapp/app/entities/course.model.ts
  src/main/webapp/app/entities/lti-configuration.model.ts
  src/main/webapp/app/entities/online-course-configuration.model.ts
  src/main/webapp/app/exercises/shared/exercise/exercise-lti-configuration.component.html
  src/main/webapp/app/shared/constants/input.constants.ts
  src/main/webapp/app/shared/form/shortname-validator.directive.ts
  src/main/webapp/i18n/de/course.json
  src/main/webapp/i18n/de/lti.json
  src/main/webapp/i18n/en/course.json
  src/main/webapp/i18n/en/lti.json
  src/test/java/de/tum/in/www1/artemis/CourseBitbucketBambooJiraIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/CourseGitlabJenkinsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/LtiIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/authentication/InternalAuthenticationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/authentication/JiraAuthenticationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/connector/JiraRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseTestService.java
  src/test/java/de/tum/in/www1/artemis/service/connectors/LtiServiceTest.java
  src/test/java/de/tum/in/www1/artemis/util/CourseTestService.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/java/de/tum/in/www1/artemis/util/ModelFactory.java
  src/test/javascript/spec/component/course/course-update.component.spec.ts
  src/test/javascript/spec/service/user-route-access.service.spec.ts
  src/test/resources/config/application-artemis.yml
Labels: feature, tests, server, client, documentation, database, lti, ready to merge, stale

#5737 `Programming exercises`: Don't notify instructors about new feedback requests
  src/main/java/de/tum/in/www1/artemis/service/notifications/GroupNotificationService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ParticipationResource.java
Labels: server, small, ready to merge

#5700 `Programming exercises`: Fix issues in the practice mode
  src/main/java/de/tum/in/www1/artemis/domain/participation/Participation.java
  src/main/java/de/tum/in/www1/artemis/service/ParticipationService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseExportService.java
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.html
  src/main/webapp/app/exercises/shared/exercise-headers/header-exercise-page-with-details.component.html
  src/main/webapp/app/exercises/shared/exercise-headers/header-exercise-page-with-details.component.ts
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.html
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.ts
  src/main/webapp/app/overview/exercise-details/exercise-details-student-actions.component.html
  src/main/webapp/app/overview/exercise-details/exercise-details-student-actions.component.ts
  src/test/javascript/spec/component/overview/exercise-details/course-exercise-details.component.spec.ts
Labels: tests, server, client, component:Programming, priority:high, small, bugfix, ready to merge

#5725 `Assessment`: Fix several small issues in the tutor training
  src/main/webapp/app/assessment/assessment-instructions/assessment-instructions/assessment-instructions.component.html
  src/main/webapp/app/assessment/assessment-instructions/assessment-instructions/assessment-instructions.component.ts
  src/main/webapp/app/assessment/assessment-instructions/collapsable-assessment-instructions/collapsable-assessment-instructions.component.html
  src/main/webapp/app/assessment/assessment-instructions/collapsable-assessment-instructions/collapsable-assessment-instructions.component.ts
  src/main/webapp/app/assessment/assessment-instructions/collapsable-assessment-instructions/collapsable-assessment-instructions.scss
  src/main/webapp/app/assessment/structured-grading-instructions-assessment-layout/structured-grading-instructions-assessment-layout.component.html
  src/main/webapp/app/assessment/structured-grading-instructions-assessment-layout/structured-grading-instructions-assessment-layout.component.ts
  src/main/webapp/app/entities/example-submission.model.ts
  src/main/webapp/app/exercises/modeling/manage/example-modeling/example-modeling-submission.component.html
  src/main/webapp/app/exercises/modeling/manage/example-modeling/example-modeling-submission.component.ts
  src/main/webapp/app/exercises/text/manage/example-text-submission/example-text-submission.component.html
  src/main/webapp/app/exercises/text/manage/example-text-submission/example-text-submission.component.ts
  src/main/webapp/i18n/de/assessmentInstructions.json
  src/main/webapp/i18n/en/assessmentInstructions.json
  src/test/javascript/spec/component/assessment-shared/structured-grading-instructions-assessment-layout.component.spec.ts
Labels: tests, client, bugfix, ready to merge, HACKTOBERFEST-ACCEPTED

#5686 `Tutorial groups`: Allow instructors to import tutorial group registrations form a csv file
  src/main/java/de/tum/in/www1/artemis/domain/tutorialgroups/TutorialGroup.java
  src/main/java/de/tum/in/www1/artemis/repository/tutorialgroups/TutorialGroupRegistrationRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/tutorialgroups/TutorialGroupRepository.java
  src/main/java/de/tum/in/www1/artemis/service/TutorialGroupService.java
  src/main/java/de/tum/in/www1/artemis/service/dto/StudentDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/tutorialgroups/TutorialGroupResource.java
  src/main/webapp/app/course/tutorial-groups/services/tutorial-groups.service.ts
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-instructor-view/tutorial-groups-instructor-view.module.ts
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-instructor-view/tutorial-groups/tutorial-groups-management/tutorial-groups-import-button/tutorial-groups-import-button.component.html
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-instructor-view/tutorial-groups/tutorial-groups-management/tutorial-groups-import-button/tutorial-groups-import-button.component.ts
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-instructor-view/tutorial-groups/tutorial-groups-management/tutorial-groups-import-dialog/tutorial-groups-registration-import-dialog.component.html
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-instructor-view/tutorial-groups/tutorial-groups-management/tutorial-groups-import-dialog/tutorial-groups-registration-import-dialog.component.scss
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-instructor-view/tutorial-groups/tutorial-groups-management/tutorial-groups-import-dialog/tutorial-groups-registration-import-dialog.component.ts
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-instructor-view/tutorial-groups/tutorial-groups-management/tutorial-groups-management.component.html
  src/main/webapp/app/entities/tutorial-group/tutorial-group-import-dto.model.ts
  src/main/webapp/i18n/de/tutorialGroupImport.json
  src/main/webapp/i18n/en/tutorialGroupImport.json
  src/test/java/de/tum/in/www1/artemis/tutorialgroups/TutorialGroupIntegrationTest.java
  src/test/javascript/spec/component/exam/manage/student-exams/user-import-dialog.component.spec.ts
  src/test/javascript/spec/component/tutorial-groups/tutorial-groups-instructor-view/tutorial-groups/tutorial-groups-management/tutorial-group-session-row-buttons/tutorial-group-row-button.component.spec.ts
  src/test/javascript/spec/component/tutorial-groups/tutorial-groups-instructor-view/tutorial-groups/tutorial-groups-management/tutorial-groups-import-button.component.spec.ts
  src/test/javascript/spec/component/tutorial-groups/tutorial-groups-instructor-view/tutorial-groups/tutorial-groups-management/tutorial-groups-registration-import-dialog.component.spec.ts
Labels: feature, tests, server, client, ready to merge, tutorial-groups, HACKTOBERFEST-ACCEPTED

#5749 `General`: Fix issue with missing course object for rounding in exercise header
  src/main/webapp/app/exercises/shared/exercise-headers/header-exercise-page-with-details.component.ts
  src/test/javascript/spec/component/exercises/shared/headers/header-exercise-page-with-details.component.spec.ts
Labels: tests, client, small, bugfix, ready to merge

#5740 `Development`: Remove unused Gradle jib plugin
  .eslintignore
  build.gradle
  gradle.properties
  gradle/docker.gradle
  settings.gradle
  src/main/jib/entrypoint.sh
Labels: build system, ready to merge, docker

#5736 `Exam mode`: Fix live monitoring issues on Chrome and sorting of import dialog
  src/main/java/de/tum/in/www1/artemis/repository/ExamRepository.java
  src/main/webapp/app/exam/exam-scores/exam-scores-average-scores-graph.component.html
  src/main/webapp/app/exam/monitoring/charts/exercises/exercise-template-chart.component.html
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-run-details/plagiarism-run-details.component.html
  src/main/webapp/app/exercises/text/manage/tutor-effort/tutor-effort-statistics.component.html
  src/main/webapp/app/shared/participant-scores/participant-scores-distribution/participant-scores-distribution.component.html
  src/main/webapp/app/shared/statistics-graph/statistics-average-score-graph.component.html
  src/main/webapp/app/shared/statistics-graph/statistics-graph.component.html
  src/main/webapp/app/shared/statistics-graph/statistics-score-distribution-graph.component.html
Labels: ready for review, server, client, exam mode, bugfix, ready to merge, exam live statistics, HACKTOBERFEST-ACCEPTED

#5729 `Tutorial groups`: Add the possibility for students and tutors to get notifications about tutorial groups
  src/main/java/de/tum/in/www1/artemis/domain/enumeration/NotificationType.java
  src/main/java/de/tum/in/www1/artemis/domain/notification/NotificationTargetFactory.java
  src/main/java/de/tum/in/www1/artemis/domain/notification/NotificationTitleTypeConstants.java
  src/main/java/de/tum/in/www1/artemis/domain/notification/SingleUserNotificationFactory.java
  src/main/java/de/tum/in/www1/artemis/domain/notification/TutorialGroupNotification.java
  src/main/java/de/tum/in/www1/artemis/domain/notification/TutorialGroupNotificationFactory.java
  src/main/java/de/tum/in/www1/artemis/repository/CourseRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/tutorialgroups/TutorialGroupNotificationRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/tutorialgroups/TutorialGroupRegistrationRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/tutorialgroups/TutorialGroupRepository.java
  src/main/java/de/tum/in/www1/artemis/service/MailService.java
  src/main/java/de/tum/in/www1/artemis/service/TutorialGroupService.java
  src/main/java/de/tum/in/www1/artemis/service/notifications/NotificationSettingsService.java
  src/main/java/de/tum/in/www1/artemis/service/notifications/SingleUserNotificationService.java
  src/main/java/de/tum/in/www1/artemis/service/notifications/TutorialGroupNotificationService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/tutorialgroups/TutorialGroupResource.java
  src/main/resources/config/liquibase/changelog/20221009000000_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/resources/i18n/messages_de.properties
  src/main/resources/i18n/messages_en.properties
  src/main/resources/templates/mail/notification/tutorialGroupBasicEmail.html
  src/main/resources/templates/mail/notification/tutorialGroupDeletedEmail.html
  src/main/resources/templates/mail/notification/tutorialGroupUpdatedEmail.html
  src/main/webapp/app/course/tutorial-groups/services/tutorial-groups-notification.service.ts
  src/main/webapp/app/course/tutorial-groups/services/tutorial-groups.service.ts
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-instructor-view/tutorial-groups/crud/edit-tutorial-group/edit-tutorial-group.component.ts
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-instructor-view/tutorial-groups/crud/tutorial-group-form/tutorial-group-form.component.html
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-instructor-view/tutorial-groups/crud/tutorial-group-form/tutorial-group-form.component.ts
  src/main/webapp/app/entities/notification.model.ts
  src/main/webapp/app/shared/constants/user-settings.constants.ts
  src/main/webapp/app/shared/notification/notification.service.ts
  src/main/webapp/app/shared/user-settings/notification-settings/notification-settings-structure.ts
  src/main/webapp/app/shared/user-settings/notification-settings/notification-settings.service.ts
  src/main/webapp/i18n/de/tutorialGroups.json
  src/main/webapp/i18n/de/userSettings.json
  src/main/webapp/i18n/en/tutorialGroups.json
  src/main/webapp/i18n/en/userSettings.json
  src/test/java/de/tum/in/www1/artemis/domain/notification/SingleUserNotificationFactoryTest.java
  src/test/java/de/tum/in/www1/artemis/domain/notification/TutorialGroupNotificationFactoryTest.java
  src/test/java/de/tum/in/www1/artemis/service/notifications/SingleUserNotificationServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/notifications/TutorialGroupNotificationServiceTest.java
  src/test/java/de/tum/in/www1/artemis/tutorialgroups/TutorialGroupIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/AbstractArtemisIntegrationTest.java
  src/test/javascript/spec/component/tutorial-groups/services/tutorial-groups-notification.service.spec.ts
  src/test/javascript/spec/service/notification.service.spec.ts
Labels: feature, tests, server, client, database, ready to merge, tutorial-groups, HACKTOBERFEST-ACCEPTED

#5721 `General`: Fix SAML2 Login
  .github/workflows/build-deploy.yml
  build.gradle
  src/main/java/de/tum/in/www1/artemis/config/SAML2Configuration.java
  src/main/java/de/tum/in/www1/artemis/config/SecurityConfiguration.java
  src/test/java/de/tum/in/www1/artemis/authentication/UserSaml2IntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/RequestUtilService.java
Labels: tests, server, priority:high, bugfix, ready to merge

#5715 `General`: Shorten the display of the result score
  src/main/webapp/app/exercises/programming/shared/utils/programming-exercise.utils.ts
  src/main/webapp/app/exercises/shared/exercise-headers/header-exercise-page-with-details.component.html
  src/main/webapp/app/exercises/shared/exercise-headers/header-participation-page.component.html
  src/main/webapp/app/exercises/shared/result/result-detail.component.html
  src/main/webapp/app/exercises/shared/result/result-detail.component.ts
  src/main/webapp/app/exercises/shared/result/result.component.html
  src/main/webapp/app/exercises/shared/result/result.component.ts
  src/main/webapp/app/exercises/shared/result/result.service.ts
  src/main/webapp/app/exercises/shared/result/updating-result.component.html
  src/main/webapp/app/exercises/shared/result/updating-result.component.ts
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.html
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.ts
  src/main/webapp/app/overview/result-history/result-history.component.html
  src/main/webapp/app/overview/result-history/result-history.scss
  src/main/webapp/app/overview/submission-result-status.component.html
  src/main/webapp/app/overview/submission-result-status.component.ts
  src/main/webapp/i18n/de/result.json
  src/main/webapp/i18n/en/importUsers.json
  src/main/webapp/i18n/en/result.json
  src/test/cypress/integration/exam/ExamAssessment.spec.ts
  src/test/cypress/integration/exam/ExamParticipation.spec.ts
  src/test/cypress/integration/exercises/modeling/ModelingExerciseAssessment.spec.ts
  src/test/cypress/integration/exercises/programming/ProgrammingExerciseAssessment.spec.ts
  src/test/cypress/integration/exercises/programming/ProgrammingExerciseParticipation.spec.ts
  src/test/cypress/integration/exercises/programming/ProgrammingExerciseStaticCodeAnalysis.spec.ts
  src/test/cypress/integration/exercises/text/TextExerciseAssessment.spec.ts
  src/test/cypress/support/pageobjects/exercises/AbstractExerciseFeedbackPage.ts
  src/test/cypress/support/pageobjects/exercises/programming/OnlineEditorPage.ts
  src/test/javascript/spec/component/exercises/shared/result.component.spec.ts
  src/test/javascript/spec/service/result.service.spec.ts
Labels: tests, client, cypress, ready to merge

#5523 `Development`: Fix naming of programming exercise endpoints
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseGradingService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseGradingResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseTestCaseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/StaticCodeAnalysisResource.java
  src/main/webapp/app/exercises/programming/manage/services/programming-exercise-grading.service.ts
  src/main/webapp/app/exercises/programming/manage/services/programming-exercise.service.ts
  src/test/cypress/support/pageobjects/exercises/programming/CodeAnalysisGradingPage.ts
  src/test/javascript/spec/service/programming-exercise-grading.service.spec.ts
  src/test/k6/requests/endpoints.js
Labels: tests, server, client, consistency, refactoring, cypress, ready to merge

#5763 `General`: Prevent accidental logout with unsaved changes
  src/main/webapp/app/shared/layouts/navbar/navbar.component.ts
  src/test/cypress/integration/Logout.spec.ts
Labels: tests, client, bugfix, cypress

#5766 `Programming exercises`: Fix an issue with mixed branch configurations
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseGradingService.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseResultJenkinsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseResultTestService.java
Labels: tests, ready for review, server, component:Programming, bugfix, ready to merge

#5712 `Programming exercises`: Include practice participations in the participation table
  src/main/java/de/tum/in/www1/artemis/repository/ProgrammingExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ResultRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/StudentParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/SubmissionRepository.java
  src/main/java/de/tum/in/www1/artemis/service/AssessmentDashboardService.java
  src/main/java/de/tum/in/www1/artemis/service/ExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/ParticipationService.java
  src/main/java/de/tum/in/www1/artemis/service/SubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/exam/ExamService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/AbstractSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ParticipationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/StatisticsResource.java
  src/main/webapp/app/admin/upcoming-exams-and-exercises/upcoming-exams-and-exercises.component.html
  src/main/webapp/app/admin/upcoming-exams-and-exercises/upcoming-exams-and-exercises.component.ts
  src/main/webapp/app/exam/manage/student-exams/student-exams.component.html
  src/main/webapp/app/exam/manage/student-exams/student-exams.component.ts
  src/main/webapp/app/exercises/programming/shared/actions/programming-exercise-trigger-build-button.component.ts
  src/main/webapp/app/exercises/shared/exercise-scores/exercise-scores.component.html
  src/main/webapp/app/exercises/shared/exercise-scores/exercise-scores.component.ts
  src/main/webapp/app/exercises/shared/participation/participation.component.html
  src/main/webapp/app/exercises/shared/participation/participation.component.ts
  src/main/webapp/i18n/de/exercise.json
  src/main/webapp/i18n/de/participation.json
  src/main/webapp/i18n/en/exercise.json
  src/main/webapp/i18n/en/participation.json
  src/test/java/de/tum/in/www1/artemis/ParticipationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/SubmissionServiceTest.java
  src/test/javascript/spec/component/exercises/shared/exercise-scores.component.spec.ts
  src/test/javascript/spec/component/participation/participation.component.spec.ts
Labels: tests, server, client, ready to merge

#5769 `Development`: Update URL of Artemis instance at University of Passau
  README.md
Labels: documentation, small, ready to merge

#5773 `Programming exercises`: Fix access denied error when accessing result details of the template participation
  src/main/webapp/app/exercises/programming/shared/instructions-render/programming-exercise-instruction.component.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-instruction.component.spec.ts
Labels: tests, client, component:Programming, small, bugfix, ready to merge

#5752 `General`: Improve email validation when communication with external user management systems
  src/main/java/de/tum/in/www1/artemis/service/connectors/jira/JiraAuthenticationProvider.java
  src/test/java/de/tum/in/www1/artemis/LtiIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/authentication/AuthenticationIntegrationTestHelper.java
  src/test/java/de/tum/in/www1/artemis/authentication/JiraAuthenticationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/connector/JiraRequestMockProvider.java
Labels: tests, server, bugfix, ready to merge

#5730 `Exam mode`: Fix breadcrumbs in test exams
  src/main/webapp/app/exam/participate/exam-participation.component.ts
  src/main/webapp/app/overview/course-exams/course-exam-detail/course-exam-detail.component.ts
  src/main/webapp/app/shared/layouts/navbar/navbar.component.ts
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/de/student-dashboard.json
  src/main/webapp/i18n/en/global.json
  src/main/webapp/i18n/en/student-dashboard.json
  src/test/javascript/spec/component/exam/participate/exam-participation.component.spec.ts
Labels: tests, client, exam mode, bugfix, ready to merge

#5751 `General`: Fix an issue when sending messages in multi-instance environment
  src/main/java/de/tum/in/www1/artemis/service/messaging/DistributedInstanceMessageSendService.java
Labels: server, bugfix, ready to merge, scheduling

#5764 `Assessment`: Fix an issue if no more programming submissions are assessable
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingSubmissionResource.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingSubmissionIntegrationTest.java
Labels: tests, server, component:Programming, small, bugfix, ready to merge

#5728 `Assessment`: Give tutors hints which elements they missed when assessing example submission
  src/main/java/de/tum/in/www1/artemis/web/rest/AssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextAssessmentResource.java
  src/main/webapp/app/entities/text-block-ref.model.ts
  src/main/webapp/app/exercises/modeling/manage/example-modeling/example-modeling-submission.component.html
  src/main/webapp/app/exercises/modeling/manage/example-modeling/example-modeling-submission.component.ts
  src/main/webapp/app/exercises/text/assess/text-assessment-area/text-assessment-area.component.ts
  src/main/webapp/app/exercises/text/assess/textblock-assessment-card/textblock-assessment-card.component.html
  src/main/webapp/app/exercises/text/assess/textblock-assessment-card/textblock-assessment-card.component.scss
  src/main/webapp/app/exercises/text/assess/textblock-assessment-card/textblock-assessment-card.component.ts
  src/main/webapp/app/exercises/text/manage/example-text-submission/example-text-submission.component.html
  src/main/webapp/app/exercises/text/manage/example-text-submission/example-text-submission.component.scss
  src/main/webapp/app/exercises/text/manage/example-text-submission/example-text-submission.component.ts
  src/main/webapp/app/exercises/text/participate/text-editor.component.scss
  src/main/webapp/content/scss/themes/_dark-variables.scss
  src/main/webapp/content/scss/themes/_default-variables.scss
  src/main/webapp/i18n/de/exampleSubmission.json
  src/main/webapp/i18n/en/exampleSubmission.json
  src/test/java/de/tum/in/www1/artemis/ExampleSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ModelingAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/TextAssessmentIntegrationTest.java
  src/test/javascript/spec/component/example-modeling/example-modeling-submission.component.spec.ts
  src/test/javascript/spec/component/text-exercise/example-text-submission.component.spec.ts
  src/test/javascript/spec/component/text-submission-assessment/text-assessment-area.component.spec.ts
  src/test/javascript/spec/component/text-submission-assessment/textblock-assessment-card.component.spec.ts
Labels: tests, server, client, ready to merge, HACKTOBERFEST-ACCEPTED

#5756 `General`: Add "Dismiss all" button to alerts overlay
  src/main/webapp/app/shared/alert/alert-overlay.component.html
  src/main/webapp/app/shared/alert/alert-overlay.component.scss
  src/main/webapp/app/shared/alert/alert-overlay.component.ts
  src/main/webapp/content/scss/themes/_dark-variables.scss
  src/main/webapp/content/scss/themes/_default-variables.scss
  src/main/webapp/i18n/de/alert.json
  src/main/webapp/i18n/en/alert.json
Labels: enhancement, ready for review, client, small, user interface, ready to merge

#5787 `Tutorial groups`: Fix an issue in an authentication check
  docs/dev/guidelines/development-process.rst
  src/main/java/de/tum/in/www1/artemis/repository/tutorialgroups/TutorialGroupRepository.java
  src/main/java/de/tum/in/www1/artemis/service/AuthorizationCheckService.java
  src/main/java/de/tum/in/www1/artemis/service/CourseService.java
  src/main/java/de/tum/in/www1/artemis/service/TutorialGroupService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/tutorialgroups/TutorialGroupResource.java
  src/test/java/de/tum/in/www1/artemis/tutorialgroups/TutorialGroupIntegrationTest.java
Labels: tests, server, documentation, priority:critical, bugfix, ready to merge

#5782 `Development`: Fix links to documentation in readme
  README.md
  docs/README.md
  docs/dev/guidelines/client-tests.rst
  docs/dev/setup/kubernetes.rst.txt
  src/test/cypress/README.md
Labels: tests, documentation, code quality, small, cypress, ready to merge

#5781 `Development`: Fix Emojis not showing in documentation
  docs/dev/guidelines/development-process.rst
Labels: documentation, ready to merge

#5754 `Programming exercises`: Fix resume exercise button shown with pending feedback request
  src/main/java/de/tum/in/www1/artemis/domain/participation/Participation.java
  src/main/webapp/app/exercises/shared/exercise/exercise.utils.ts
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.html
  src/main/webapp/app/overview/exercise-details/exercise-details-student-actions.component.html
  src/main/webapp/app/overview/exercise-details/exercise-details-student-actions.component.ts
  src/test/javascript/spec/component/utils/exercise.utils.spec.ts
Labels: tests, server, client, small, bugfix, ready to merge

#5704 `Programming exercises`: Allow starting practice mode from the last graded version
  src/main/java/de/tum/in/www1/artemis/service/ParticipationService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ParticipationResource.java
  src/main/webapp/app/exercises/shared/course-exercises/course-exercise.service.ts
  src/main/webapp/app/overview/exercise-details/exercise-details-student-actions.component.html
  src/main/webapp/app/overview/exercise-details/exercise-details-student-actions.component.ts
  src/main/webapp/app/shared/components/clone-repo-button/clone-repo-button.component.html
  src/main/webapp/app/shared/components/clone-repo-button/clone-repo-button.component.ts
  src/main/webapp/app/shared/components/open-code-editor-button/open-code-editor-button.component.html
  src/main/webapp/app/shared/components/open-code-editor-button/open-code-editor-button.component.ts
  src/main/webapp/app/shared/components/shared-component.module.ts
  src/main/webapp/app/shared/components/start-practice-mode-button/start-practice-mode-button.component.html
  src/main/webapp/app/shared/components/start-practice-mode-button/start-practice-mode-button.component.scss
  src/main/webapp/app/shared/components/start-practice-mode-button/start-practice-mode-button.component.ts
  src/main/webapp/i18n/de/exercise-actions.json
  src/main/webapp/i18n/en/exercise-actions.json
  src/test/java/de/tum/in/www1/artemis/service/ParticipationServiceTest.java
  src/test/javascript/spec/component/overview/exercise-details/exercise-details-student-actions.component.spec.ts
  src/test/javascript/spec/component/shared/clone-repo-button.component.spec.ts
  src/test/javascript/spec/component/shared/start-practice-mode-button.component.spec.ts
  src/test/javascript/spec/service/course-exercise.service.spec.ts
Labels: tests, server, client, ready to merge

#5768 `Programming exercises`: Fix an issue with hidden feedback for teaching assistants
  src/main/java/de/tum/in/www1/artemis/service/AuthorizationCheckService.java
  src/main/java/de/tum/in/www1/artemis/service/WebsocketMessagingService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseParticipationService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseParticipationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/QuizSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ResultResource.java
Labels: server, component:Programming, small, bugfix, ready to merge

#5785 `General`: Fix an issue when reloading the course statistics
  src/main/webapp/app/overview/course-statistics/course-statistics.component.ts
Labels: client, small, bugfix, ready to merge

#5739 `Development`: Match Java distributions for the build and execution of Artemis
  .github/workflows/build-deploy.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/test.yml
  docker-compose.yml
  src/main/docker/Dockerfile
Labels: build system, ready to merge, docker

#5734 `Development`: Minimize mysql docker-compose file
  src/main/docker/mysql.yml
Labels: ready to merge, no-stale, docker

#5779 `Development`: Include testing steps for exam mode in PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: small, ready to merge
