Repository ls1intum/Artemis, pull requests merged in 2022-04, with the labels that each got.

#4862 `General`: Fix edit selected buttons still showing after deleting an exercise
  src/main/webapp/app/course/manage/detail/course-detail-line-chart.component.html
  src/main/webapp/app/course/manage/overview/course-management-overview-statistics.component.html
  src/main/webapp/app/exercises/file-upload/manage/file-upload-exercise.component.html
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise.component.html
  src/main/webapp/app/exercises/programming/manage/programming-exercise.component.html
  src/main/webapp/app/exercises/programming/manage/programming-exercise.component.ts
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise.component.html
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise.component.html
Labels: client, small, bugfix, sentry-issue, ready to merge

#4842 `Development`: Refactor InvalidPasswordException to make it unambiguous
  src/main/java/de/tum/in/www1/artemis/service/user/UserService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/AccountResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/errors/ExceptionTranslator.java
  src/main/java/de/tum/in/www1/artemis/web/rest/errors/PasswordViolatesRequirementsException.java
Labels: good first issue, server, small, ready to merge

#4891 `Development`: Fix student exam service client test
  src/main/webapp/app/exam/manage/student-exams/student-exam.service.ts
  src/test/javascript/spec/component/exam/manage/student-exams/student-exam.service.spec.ts
Labels: tests, ready for review, client

#4836 `Development`: Refactor result detail component
  src/main/webapp/app/exercises/file-upload/assess/file-upload-assessment-dashboard.component.html
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment-editor/modeling-assessment-dashboard.component.html
  src/main/webapp/app/exercises/programming/assess/code-editor-tutor-assessment-container.component.html
  src/main/webapp/app/exercises/programming/assess/programming-assessment-dashboard/programming-exercise-submissions.component.html
  src/main/webapp/app/exercises/shared/example-submission/example-submission-import/example-submission-import.component.html
  src/main/webapp/app/exercises/shared/example-submission/example-submissions.component.html
  src/main/webapp/app/exercises/shared/exercise-scores/exercise-scores.component.html
  src/main/webapp/app/exercises/shared/participation-submission/participation-submission.component.html
  src/main/webapp/app/exercises/shared/result/result-detail.component.html
  src/main/webapp/app/exercises/shared/result/result-detail.component.ts
  src/main/webapp/app/exercises/shared/result/result.component.ts
  src/main/webapp/app/exercises/shared/result/updating-result.component.html
  src/main/webapp/app/exercises/text/assess/text-assessment-dashboard/text-assessment-dashboard.component.html
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.html
  src/test/javascript/spec/component/shared/result-detail.component.spec.ts
Labels: tests, client, code quality, refactoring, bugfix, ready to merge

#4877 `General`: Prevent unnecessary calls to external authentication services for internal users
  src/main/java/de/tum/in/www1/artemis/security/DomainUserDetailsService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jira/JiraAuthenticationProvider.java
Labels: server, small, ready to merge

#4888 `General`: Fix breadcrumb routing from teams page + add teams button to programming exercise details
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.html
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.ts
  src/main/webapp/app/shared/layouts/navbar/navbar.component.ts
  src/test/javascript/spec/component/shared/navbar.component.spec.ts
Labels: tests, client, ready to merge

#4878 `General`: Replace websocket connection alerts with connection lost indicator
  src/main/webapp/app/core/auth/account.service.ts
  src/main/webapp/app/core/websocket/websocket.service.ts
  src/main/webapp/app/exam/participate/exam-participation.component.ts
  src/main/webapp/app/exercises/quiz/participate/quiz-participation.component.ts
  src/main/webapp/app/exercises/shared/team/team.service.ts
  src/main/webapp/app/shared/alert/alert-overlay.component.html
  src/main/webapp/app/shared/alert/alert-overlay.component.scss
  src/main/webapp/app/shared/close-circle/close-circle.component.html
  src/main/webapp/app/shared/close-circle/close-circle.component.scss
  src/main/webapp/app/shared/close-circle/close-circle.component.ts
  src/main/webapp/app/shared/connection-status/connection-status.component.ts
  src/main/webapp/app/shared/connection-warning/connection-warning.component.html
  src/main/webapp/app/shared/connection-warning/connection-warning.component.scss
  src/main/webapp/app/shared/connection-warning/connection-warning.component.ts
  src/main/webapp/app/shared/layouts/main/main.component.ts
  src/main/webapp/app/shared/layouts/navbar/navbar.component.html
  src/main/webapp/app/shared/layouts/navbar/navbar.component.ts
  src/main/webapp/app/shared/layouts/navbar/navbar.scss
  src/main/webapp/app/shared/notification/connection-notification/connection-notification.service.ts
  src/main/webapp/app/shared/notification/notification-sidebar/notification-sidebar.scss
  src/main/webapp/app/shared/notification/system-notification/system-notification.component.ts
  src/main/webapp/app/shared/shared-common.module.ts
  src/main/webapp/app/shared/shared.module.ts
  src/main/webapp/content/scss/global.scss
  src/main/webapp/i18n/de/alert.json
  src/main/webapp/i18n/en/alert.json
  src/test/javascript/spec/component/connection-warning/connection-warning.spec.ts
  src/test/javascript/spec/component/exam/participate/exam-participation.component.spec.ts
  src/test/javascript/spec/component/exercises/quiz/quiz-participation.component.spec.ts
  src/test/javascript/spec/component/guided-tour/guided-tour.component.spec.ts
  src/test/javascript/spec/component/shared/alert-overlay.component.spec.ts
  src/test/javascript/spec/component/shared/navbar.component.spec.ts
  src/test/javascript/spec/component/shared/notification/system-notification.component.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-websocket.service.ts
Labels: tests, client, ready to merge

#4900 `Programming exercises`: Fix gradle project test source set for package names starting with "test"
  src/main/resources/templates/java/gradle_gradle/exercise/build.gradle
  src/main/resources/templates/java/gradle_gradle/solution/build.gradle
Labels: component:Programming, bamboo/bitbucket, small, bugfix, ready to merge

#4898 `Exam mode`: Fix back button fallback url on grading key overview
  src/main/webapp/app/grading-system/grading-key-overview/grading-key-overview.component.ts
Labels: client, exam mode, small, bugfix, ready to merge

#4857 `Programming exercises`: Upgrade to Ares 1.9.2
  src/main/resources/templates/java/test/gradle/projectTemplate/build.gradle
  src/main/resources/templates/java/test/maven/projectTemplate/pom.xml
  src/main/resources/templates/kotlin/test/maven/projectTemplate/pom.xml
Labels: dependencies, component:Programming, small, ready to merge

#4846 `Exam mode`: Fix the number of complaints in the exam assessment dashboard
  src/main/java/de/tum/in/www1/artemis/repository/ComplaintResponseRepository.java
  src/main/java/de/tum/in/www1/artemis/service/exam/ExamService.java
  src/main/webapp/app/course/dashboards/assessment-dashboard/assessment-dashboard-information.component.html
Labels: ready for review, server, client, exam mode, bugfix, ready to merge

#4881 `General`: Add GitLab and GitLab CI docker configuration
  src/main/docker/env.example.gitlab-gitlabci.txt
  src/main/docker/gitlab-gitlabci.yml
  src/main/docker/gitlab/README.md
Labels: ready for review

#4893 `Programming exercises`: Fix edge case when generating diff reports
  src/main/java/de/tum/in/www1/artemis/service/hestia/ProgrammingExerciseGitDiffReportService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseGradingService.java
  src/test/java/de/tum/in/www1/artemis/hestia/ProgrammingExerciseGitDiffReportServiceTest.java
  src/test/java/de/tum/in/www1/artemis/util/HestiaUtilTestService.java
Labels: tests, ready for review, server, component:Programming, priority:high, bugfix, ready to merge

#4909 `Programming exercises`: Fix a missing translation when running plagiarism checks
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-inspector/plagiarism-inspector.component.ts
Labels: client, small, ready to merge

#4902 `General`: Navigate to course details after creation or edit
  src/main/webapp/app/course/manage/course-update.component.ts
  src/main/webapp/app/course/manage/detail/course-detail.component.html
  src/test/cypress/integration/CourseManagement.spec.ts
Labels: tests, client, small, cypress, ready to merge

#4899 `Assessment`: Display warning when using grading criterion without feedback
  src/main/webapp/app/assessment/assessment-detail/assessment-detail.component.html
Labels: client, component:Shared, small, bugfix, ready to merge

#4887 `Programming exercises`: Upgrade docker image for Java programming exercises to java17-5
  src/main/resources/config/application.yml
Labels: dependencies, component:Programming, small, ready to merge

#4845 `Programming exercises`: Allow users to configure the tab width in the online editor
  src/main/webapp/app/exercises/programming/manage/status/programming-exercise-instructor-exercise-status.component.html
  src/main/webapp/app/exercises/programming/shared/code-editor/ace/code-editor-ace.component.html
  src/main/webapp/app/exercises/programming/shared/code-editor/ace/code-editor-ace.component.ts
  src/main/webapp/app/shared/markdown-editor/ace-editor/ace-editor.component.ts
  src/main/webapp/i18n/de/editor.json
  src/main/webapp/i18n/en/editor.json
  src/test/javascript/spec/component/code-editor/code-editor-ace.component.spec.ts
  src/test/javascript/spec/integration/code-editor/code-editor-container.integration.spec.ts
Labels: feature, tests, client, component:Programming, small, ready to merge

#4812 `Assessment`: Add shortcuts to save and submit an assessment
  src/main/webapp/app/assessment/assessment-header/assessment-header.component.html
  src/main/webapp/app/assessment/assessment-header/assessment-header.component.ts
  src/main/webapp/i18n/de/assessment.json
  src/main/webapp/i18n/en/assessment.json
  src/test/javascript/spec/component/assessment-shared/assessment-header.component.spec.ts
  src/test/javascript/spec/component/modeling-assessment-editor/modeling-assessment-editor.component.spec.ts
Labels: tests, client, component:Programming, component:Modeling, component:Text, component:FileUpload, ready to merge

#4810 `General`: Allow instructors to configure variable complaint text limits per course
  src/main/java/de/tum/in/www1/artemis/config/Constants.java
  src/main/java/de/tum/in/www1/artemis/domain/Complaint.java
  src/main/java/de/tum/in/www1/artemis/domain/ComplaintResponse.java
  src/main/java/de/tum/in/www1/artemis/domain/Course.java
  src/main/java/de/tum/in/www1/artemis/service/ComplaintResponseService.java
  src/main/java/de/tum/in/www1/artemis/service/ComplaintService.java
  src/main/resources/config/liquibase/changelog/20220313131313_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/complaints/complaints-for-students/complaints-student-view.component.html
  src/main/webapp/app/complaints/complaints-for-students/complaints-student-view.component.ts
  src/main/webapp/app/complaints/complaints-for-tutor/complaints-for-tutor.component.html
  src/main/webapp/app/complaints/complaints-for-tutor/complaints-for-tutor.component.ts
  src/main/webapp/app/complaints/form/complaints-form.component.html
  src/main/webapp/app/complaints/form/complaints-form.component.ts
  src/main/webapp/app/complaints/request/complaint-request.component.html
  src/main/webapp/app/complaints/request/complaint-request.component.ts
  src/main/webapp/app/complaints/response/complaint-response.component.html
  src/main/webapp/app/complaints/response/complaint-response.component.ts
  src/main/webapp/app/course/manage/course-update.component.html
  src/main/webapp/app/course/manage/course-update.component.ts
  src/main/webapp/app/entities/course.model.ts
  src/main/webapp/i18n/de/complaint.json
  src/main/webapp/i18n/de/course.json
  src/main/webapp/i18n/en/complaint.json
  src/main/webapp/i18n/en/course.json
  src/test/java/de/tum/in/www1/artemis/AssessmentComplaintIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/CourseBitbucketBambooJiraIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/CourseGitlabJenkinsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/CourseTestService.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/java/de/tum/in/www1/artemis/util/ModelFactory.java
  src/test/javascript/spec/component/complaints/complaints-for-tutor.component.spec.ts
  src/test/javascript/spec/component/complaints/complaints-form.component.spec.ts
  src/test/javascript/spec/component/course/course-update.component.spec.ts
Labels: feature, tests, server, client, database, ready to merge

#4911 `Development`: Update project type name in request in K6 Test
  src/test/k6/requests/programmingExercise.js
Labels: tests, ready for review, k6

#4912 `Programming exercises`: Upgrade static code analysis dependencies
  src/main/resources/templates/java/maven_maven/test/projectTemplate/pom.xml
  src/main/resources/templates/java/test/maven/projectTemplate/pom.xml
Labels: ready for review, dependencies, component:Programming, small

#4869 `Assessment`: Allow instructors to select csv export options before downloading course scores
  src/main/webapp/app/course/course-scores/course-scores.component.html
  src/main/webapp/app/course/course-scores/course-scores.component.ts
  src/main/webapp/app/course/course-scores/course-scores.module.ts
  src/main/webapp/app/shared/export/csv-export-button.component.ts
  src/main/webapp/app/shared/export/csv-export-modal.component.html
  src/main/webapp/app/shared/export/csv-export-modal.component.scss
  src/main/webapp/app/shared/export/csv-export-modal.component.ts
  src/main/webapp/app/shared/export/csv-export.module.ts
  src/main/webapp/i18n/de/export.json
  src/main/webapp/i18n/en/export.json
  src/test/javascript/spec/component/course/course-scores/course-scores.component.spec.ts
  src/test/javascript/spec/component/course/course-scores/csv-export-button.component.spec.ts
  src/test/javascript/spec/component/course/course-scores/csv-export-modal.component.spec.ts
Labels: tests, client, ready to merge

#4910 `Programming exercises`: Fix sorting by submission count on the submission dashboard
  src/main/webapp/app/exercises/programming/assess/programming-assessment-dashboard/programming-exercise-submissions.component.html
Labels: client, component:Programming, small, bugfix, ready to merge

#4897 `General`: Apply filters to next relevant exercise
  src/main/webapp/app/exercises/shared/exercise-headers/difficulty-badge.component.ts
  src/main/webapp/app/exercises/shared/exercise-headers/included-in-score-badge.component.ts
  src/main/webapp/app/exercises/shared/exercise/exercise.service.ts
  src/main/webapp/app/overview/course-exercises/course-exercise-row.component.html
  src/main/webapp/app/overview/course-exercises/course-exercise-row.component.ts
  src/main/webapp/app/overview/course-exercises/course-exercises.component.ts
  src/test/javascript/spec/component/course/course-exercises.component.spec.ts
  src/test/javascript/spec/component/exercises/shared/headers/difficulty-badge.component.spec.ts
  src/test/javascript/spec/component/exercises/shared/headers/included-in-score-badge.component.spec.ts
  src/test/javascript/spec/component/overview/course-exercises/course-exercise-row.component.spec.ts
Labels: tests, client, ready to merge

#4886 `Development`: Add new docker images
  .github/workflows/build-deploy.yml
  src/main/docker/Dockerfile
  src/main/docker/bootstrap.sh
Labels: small, ready to merge

#4914 `Exam mode`: Make browser fingerprints configurable for administrators
  src/main/docker/cypress/application.yml
  src/main/java/de/tum/in/www1/artemis/web/rest/StudentExamResource.java
  src/main/resources/config/application.yml
  src/main/webapp/app/core/interceptor/browser-fingerprint.interceptor.service.ts
  src/main/webapp/app/shared/fingerprint/browser-fingerprint.service.ts
  src/main/webapp/app/shared/layouts/profiles/profile-info.model.ts
  src/main/webapp/app/shared/layouts/profiles/profile.service.ts
  src/test/javascript/spec/interceptor/browser-fingerprint.interceptor.spec.ts
  src/test/javascript/spec/service/profile.service.spec.ts
  src/test/resources/config/application.yml
Labels: tests, server, client, priority:high, ready to merge

#4918 `Development`: Fix Cypress Build as Followup to #4886
  .github/workflows/build-deploy.yml
  bootstrap.sh
  src/main/docker/Dockerfile
  src/main/docker/cypress/application.yml
  src/main/docker/cypress/docker-compose.yml
  src/main/docker/docker-compose.yml
Labels: ready for review, bugfix

#4919 `Development`: Update contact person for University of Passau
  README.md
Labels: documentation, ready to merge

#4892 `Exam mode`: Add basic structure for test exams and refactor exam creation dialog
  src/main/java/de/tum/in/www1/artemis/domain/exam/Exam.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExamResource.java
  src/main/resources/config/liquibase/changelog/20220328211300_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/entities/exam.model.ts
  src/main/webapp/app/exam/manage/exam-management.module.ts
  src/main/webapp/app/exam/manage/exams/exam-mode-picker/exam-mode-picker.component.html
  src/main/webapp/app/exam/manage/exams/exam-mode-picker/exam-mode-picker.component.scss
  src/main/webapp/app/exam/manage/exams/exam-mode-picker/exam-mode-picker.component.ts
  src/main/webapp/app/exam/manage/exams/exam-mode-picker/exam-mode-picker.module.ts
  src/main/webapp/app/exam/manage/exams/exam-update.component.html
  src/main/webapp/app/exam/manage/exams/exam-update.component.ts
  src/main/webapp/app/shared/date-time-picker/date-time-picker.component.html
  src/main/webapp/app/shared/date-time-picker/date-time-picker.component.scss
  src/main/webapp/app/shared/date-time-picker/date-time-picker.component.ts
  src/main/webapp/app/shared/date-time-picker/date-time-picker.module.ts
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/en/exam.json
  src/test/cypress/support/requests/CourseManagementRequests.ts
  src/test/java/de/tum/in/www1/artemis/ExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/ModelFactory.java
  src/test/javascript/spec/component/exam/exam-update.component.spec.ts
Labels: feature, tests, server, client, exam mode, database, cypress, ready to merge

#4896 `Assessment`: Add interval based grade key editing
  src/main/webapp/app/course/manage/course-management.route.ts
  src/main/webapp/app/exam/manage/exam-management.route.ts
  src/main/webapp/app/exercises/shared/mode-picker/mode-picker.component.html
  src/main/webapp/app/exercises/shared/mode-picker/mode-picker.component.ts
  src/main/webapp/app/exercises/shared/team-config-form-group/team-config-form-group.component.html
  src/main/webapp/app/exercises/shared/team-config-form-group/team-config-form-group.component.ts
  src/main/webapp/app/grading-system/base-grading-system/_base-grading-system.component.scss
  src/main/webapp/app/grading-system/base-grading-system/base-grading-system.component.ts
  src/main/webapp/app/grading-system/detailed-grading-system/detailed-grading-system.component.html
  src/main/webapp/app/grading-system/detailed-grading-system/detailed-grading-system.component.scss
  src/main/webapp/app/grading-system/detailed-grading-system/detailed-grading-system.component.ts
  src/main/webapp/app/grading-system/grading-key-overview/grading-key-overview.component.html
  src/main/webapp/app/grading-system/grading-key-overview/grading-key-overview.component.ts
  src/main/webapp/app/grading-system/grading-system.component.html
  src/main/webapp/app/grading-system/grading-system.component.scss
  src/main/webapp/app/grading-system/grading-system.component.ts
  src/main/webapp/app/grading-system/grading-system.module.ts
  src/main/webapp/app/grading-system/grading-system.route.ts
  src/main/webapp/app/grading-system/interval-grading-system/interval-grading-system.component.html
  src/main/webapp/app/grading-system/interval-grading-system/interval-grading-system.component.scss
  src/main/webapp/app/grading-system/interval-grading-system/interval-grading-system.component.ts
  src/main/webapp/app/shared/layouts/navbar/navbar.component.ts
  src/main/webapp/app/shared/pipes/grade-step-bounds.pipe.ts
  src/main/webapp/app/shared/pipes/shared-pipes.module.ts
  src/main/webapp/i18n/de/gradingSystem.json
  src/main/webapp/i18n/en/gradingSystem.json
  src/test/javascript/spec/component/grading-system/detailed-grading-system.component.spec.ts
  src/test/javascript/spec/component/grading-system/grading-key-overview.component.spec.ts
  src/test/javascript/spec/component/grading-system/interval-grading-system.component.spec.ts
  src/test/javascript/spec/pipe/grade-step-bounds.pipe.spec.ts
Labels: tests, client, ready to merge

#4906 `Programming exercises`: Improve http header for csrf protection for Bamboo
  docs/dev/setup/bamboo-bitbucket-jira.rst
  docs/dev/setup/bamboo-bitbucket-jira/bamboo_xsrf_disable.png
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/BambooAuthorizationInterceptor.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bitbucket/BitbucketAuthorizationInterceptor.java
Labels: server, small, ready to merge

#4907 `General`: Improve printing layout for exercises
  src/main/webapp/app/exercises/shared/difficulty-picker/difficulty-picker.component.html
  src/main/webapp/app/exercises/shared/included-in-overall-score-picker/included-in-overall-score-picker.component.html
  src/main/webapp/app/exercises/shared/statistics/exercise-detail-statistics.component.html
  src/main/webapp/content/scss/global.scss
Labels: client, ready to merge

#4921 `Development`: Update documentation about the new docker Image
  docs/dev/setup.rst
Labels: ready to merge

#4926 `Development`: Fix an issue in the statistics service when a course has no exercises
  src/main/java/de/tum/in/www1/artemis/service/StatisticsService.java
Labels: server, small, bugfix, ready to merge

#4795 `Programming exercises:` Allow to publish example solutions for programming exercises on a specific date
  src/main/java/de/tum/in/www1/artemis/domain/BaseExercise.java
  src/main/java/de/tum/in/www1/artemis/service/ZipFileService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/GitService.java
  src/main/java/de/tum/in/www1/artemis/service/plagiarism/ProgrammingPlagiarismDetectionService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseExportService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseImportService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseExportImportResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseResourceEndpoints.java
  src/main/webapp/app/entities/exercise.model.ts
  src/main/webapp/app/exercises/programming/manage/programming-exercise-management.module.ts
  src/main/webapp/app/exercises/programming/manage/services/programming-exercise.service.ts
  src/main/webapp/app/exercises/programming/shared/actions/programming-exercise-example-solution-repo-download.component.ts
  src/main/webapp/app/exercises/programming/shared/actions/programming-exercise-instructor-repo-download.component.html
  src/main/webapp/app/exercises/programming/shared/actions/programming-exercise-instructor-repo-download.component.ts
  src/main/webapp/app/exercises/programming/shared/lifecycle/programming-exercise-lifecycle.component.html
  src/main/webapp/app/exercises/shared/exercise/exercise.service.ts
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.html
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.ts
  src/main/webapp/app/overview/exercise-details/course-exercise-details.module.ts
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/programmingExercise.json
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseBitbucketBambooIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseGitlabJenkinsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseTestService.java
  src/test/java/de/tum/in/www1/artemis/util/ModelFactory.java
  src/test/javascript/spec/component/overview/exercise-details/course-exercise-details.component.spec.ts
Labels: tests, server, client, ready to merge

#4837 `Development`: Refactor Git service
  src/main/java/de/tum/in/www1/artemis/service/RepositoryService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/AbstractVersionControlService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/GitService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/BambooService.java
  src/main/java/de/tum/in/www1/artemis/service/exam/ExamService.java
  src/main/java/de/tum/in/www1/artemis/service/hestia/ProgrammingExerciseGitDiffReportService.java
  src/main/java/de/tum/in/www1/artemis/service/hestia/structural/StructuralTestCaseService.java
  src/main/java/de/tum/in/www1/artemis/service/plagiarism/ProgrammingPlagiarismDetectionService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/JavaTemplateUpgradeService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseExportService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseImportService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseParticipationService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/ProgrammingExerciseScheduleService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/repository/RepositoryProgrammingExerciseParticipationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/repository/RepositoryResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/repository/TestRepositoryResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/repository/util/RepositoryExecutor.java
  src/test/java/de/tum/in/www1/artemis/GitServiceTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseBitbucketBambooIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseIntegrationTestService.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseTestService.java
  src/test/java/de/tum/in/www1/artemis/service/scheduled/ProgrammingExerciseScheduleServiceTest.java
Labels: tests, server, component:Programming, code quality, ready to merge

#4935 `Development`: Fix issues with client dependencies after using `npm audit`
  package-lock.json
  package.json
Labels: ready for review

#4917 `Programming exercises`: Fix problem statement for plain gradle exercises
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.ts
Labels: ready for review, client, component:Programming, small, bugfix

#4885 `Programming exercise`: Use the git-diff to show line stats
  src/main/webapp/app/exercises/programming/hestia/git-diff-report/full-git-diff-entry.component.html
  src/main/webapp/app/exercises/programming/hestia/git-diff-report/full-git-diff-entry.component.ts
  src/main/webapp/app/exercises/programming/hestia/git-diff-report/full-git-diff-report.component.html
  src/main/webapp/app/exercises/programming/hestia/git-diff-report/full-git-diff-report.component.ts
  src/main/webapp/app/exercises/programming/hestia/git-diff-report/git-diff-line-stat.component.html
  src/main/webapp/app/exercises/programming/hestia/git-diff-report/git-diff-line-stat.component.scss
  src/main/webapp/app/exercises/programming/hestia/git-diff-report/git-diff-line-stat.component.ts
  src/main/webapp/app/exercises/programming/hestia/git-diff-report/git-diff-report.module.ts
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.html
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.ts
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/programmingExercise.json
  src/test/javascript/spec/component/hestia/git-diff-report/full-git-diff-entry.component.spec.ts
  src/test/javascript/spec/component/hestia/git-diff-report/full-git-diff-report.component.spec.ts
  src/test/javascript/spec/component/hestia/git-diff-report/git-diff-line-stat.component.spec.ts
Labels: tests, ready for review, client, small, ready to merge

#4940 `Assessment`: Fix an issue during the assessment in the tutor training
  src/main/webapp/app/exercises/text/manage/example-text-submission/example-text-submission.component.ts
Labels: bug, client, bugfix, ready to merge

#4895 `Development`: Improve Atlassian setup script
  docs/dev/setup/bamboo-bitbucket-jira.rst
  src/main/docker/atlassian-setup.sh
Labels: small, ready to merge

#4901 `Programming exercises`: Add gradle as project type for Java exercises on GitLab/Jenkins setup
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsBuildPlanCreator.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsProgrammingLanguageFeatureService.java
  src/main/resources/templates/jenkins/java/gradle/regularRuns/Jenkinsfile
  src/main/resources/templates/jenkins/java/gradle/regularRuns/Jenkinsfile-staticCodeAnalysis
  src/main/resources/templates/jenkins/java/gradle/sequentialRuns/Jenkinsfile
  src/main/resources/templates/jenkins/java/maven/regularRuns/Jenkinsfile
  src/main/resources/templates/jenkins/java/maven/regularRuns/Jenkinsfile-staticCodeAnalysis
  src/main/resources/templates/jenkins/java/maven/sequentialRuns/Jenkinsfile
Labels: enhancement, server, component:Programming, jenkins/gitlab, ready to merge

#4908 `Development`: Set a common locale configuration for server JVM runtime
  .idea/runConfigurations/Artemis__Server_.xml
  .idea/runConfigurations/Artemis__Server__Athene_.xml
  .idea/runConfigurations/Artemis__Server__Jenkins___Gitlab_.xml
  .idea/runConfigurations/Artemis__Server___Client_.xml
  .idea/runConfigurations/_template__of_Gradle.xml
  gradle.properties
Labels: ready to merge

#4915 `Assessment`: Fix number of assessments shown in course management statistics
  src/main/java/de/tum/in/www1/artemis/service/ExerciseService.java
  src/test/java/de/tum/in/www1/artemis/util/CourseTestService.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
Labels: tests, server, bugfix, ready to merge

#4924 `Assessment`: Allow instructors to select a decimal separator before downloading course scores as csv
  src/main/webapp/app/course/course-scores/course-scores-csv-row-builder.ts
  src/main/webapp/app/course/course-scores/course-scores.component.ts
  src/main/webapp/app/shared/export/csv-export-modal.component.html
  src/main/webapp/app/shared/export/csv-export-modal.component.ts
  src/main/webapp/i18n/de/export.json
  src/main/webapp/i18n/en/export.json
  src/test/javascript/spec/component/course/course-scores/course-scores-csv-row-builder.spec.ts
  src/test/javascript/spec/component/course/course-scores/course-scores.component.spec.ts
  src/test/javascript/spec/component/course/course-scores/csv-export-modal.component.spec.ts
Labels: tests, client, small, ready to merge

#4927 `Programming exercises`: Improve gradle templates for Java programming exercises
  src/main/resources/templates/java/gradle_gradle/exercise/build.gradle
  src/main/resources/templates/java/gradle_gradle/exercise/gradle.properties
  src/main/resources/templates/java/gradle_gradle/exercise/gradle/wrapper/gradle-wrapper.properties
  src/main/resources/templates/java/gradle_gradle/exercise/settings.gradle
  src/main/resources/templates/java/gradle_gradle/solution/build.gradle
  src/main/resources/templates/java/gradle_gradle/solution/gradle.properties
  src/main/resources/templates/java/gradle_gradle/solution/gradle/wrapper/gradle-wrapper.properties
  src/main/resources/templates/java/gradle_gradle/solution/settings.gradle
  src/main/resources/templates/java/test/gradle/projectTemplate/build.gradle
  src/main/resources/templates/java/test/gradle/projectTemplate/gradle.properties
  src/main/resources/templates/java/test/gradle/projectTemplate/gradle/wrapper/gradle-wrapper.properties
  src/main/resources/templates/java/test/gradle/projectTemplate/settings.gradle
Labels: enhancement, component:Programming, small, ready to merge

#4943 `General`: Collapse example solution on course exercise details
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.html
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.ts
Labels: client, component:Shared, small, ready to merge

#4944 `Development`: Improve PostRepository queries
  src/main/java/de/tum/in/www1/artemis/repository/metis/PostRepository.java
  src/main/java/de/tum/in/www1/artemis/service/metis/PostService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/PostContextFilter.java
  src/test/java/de/tum/in/www1/artemis/metis/PostIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/metis/ReactionIntegrationTest.java
Labels: enhancement, tests, server, Metis, small, sql-improvement, ready to merge

#4949 `Development`: Make ProgrammingLanguageFeatureService optional to allow deployments without version control and continuous integration
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseExportImportResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExercisePlagiarismResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseResource.java
Labels: ready for review, server

#4951 `Development`: Add coverage to `test-diff` npm command
  package.json
Labels: ready for review, chore, small

#4931 `Lectures`: Allow instructors to import existing lectures into courses
  src/main/java/de/tum/in/www1/artemis/domain/Attachment.java
  src/main/java/de/tum/in/www1/artemis/domain/Lecture.java
  src/main/java/de/tum/in/www1/artemis/domain/lecture/AttachmentUnit.java
  src/main/java/de/tum/in/www1/artemis/domain/lecture/ExerciseUnit.java
  src/main/java/de/tum/in/www1/artemis/domain/lecture/LectureUnit.java
  src/main/java/de/tum/in/www1/artemis/repository/CourseRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/LectureRepository.java
  src/main/java/de/tum/in/www1/artemis/service/LectureImportService.java
  src/main/java/de/tum/in/www1/artemis/service/LectureService.java
  src/main/java/de/tum/in/www1/artemis/service/ModelingExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/TextExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/LectureResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/lecture/AttachmentUnitResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/util/PageUtil.java
  src/main/webapp/app/lecture/lecture-import.component.html
  src/main/webapp/app/lecture/lecture-import.component.ts
  src/main/webapp/app/lecture/lecture-paging.service.ts
  src/main/webapp/app/lecture/lecture.component.html
  src/main/webapp/app/lecture/lecture.component.ts
  src/main/webapp/app/lecture/lecture.module.ts
  src/main/webapp/app/lecture/lecture.service.ts
  src/main/webapp/i18n/de/lecture.json
  src/main/webapp/i18n/en/lecture.json
  src/test/java/de/tum/in/www1/artemis/AttachmentResourceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/AttachmentUnitIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/FileIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/LectureIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ModelingExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/SubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/TextExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseServiceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/LectureImportServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/LectureServiceTest.java
  src/test/java/de/tum/in/www1/artemis/util/CourseTestService.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/java/de/tum/in/www1/artemis/util/ModelFactory.java
  src/test/javascript/spec/component/lecture/lecture-import.component.spec.ts
  src/test/resources/test-data/attachment/placeholder.jpg
Labels: tests, server, client, priority:high, ready to merge

#4905 `General`: Add default programming language to courses
  artemis.jh
  src/main/java/de/tum/in/www1/artemis/domain/Course.java
  src/main/resources/config/liquibase/changelog/20220406142500_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/course/manage/course-update.component.html
  src/main/webapp/app/course/manage/course-update.component.ts
  src/main/webapp/app/course/manage/detail/course-detail.component.html
  src/main/webapp/app/entities/course.model.ts
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.ts
  src/main/webapp/i18n/de/course.json
  src/main/webapp/i18n/en/course.json
  src/test/cypress/support/pageobjects/exercises/programming/ProgrammingExerciseCreationPage.ts
  src/test/javascript/spec/component/course/course-update.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-update.component.spec.ts
Labels: tests, ready for review, server, client, database, cypress

#4952 `Programming exercises`: Add fix for duplicate git-diff reports
  src/main/java/de/tum/in/www1/artemis/repository/hestia/ProgrammingExerciseGitDiffReportRepository.java
  src/main/java/de/tum/in/www1/artemis/service/hestia/ProgrammingExerciseGitDiffReportService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/hestia/ProgrammingExerciseGitDiffReportResource.java
  src/test/java/de/tum/in/www1/artemis/hestia/ProgrammingExerciseGitDiffReportServiceTest.java
Labels: tests, server, priority:high, bugfix, ready to merge

#4957 `General`: Fix course overview guided tour and video steps in general
  src/main/webapp/app/guided-tour/guided-tour.service.ts
  src/main/webapp/app/guided-tour/tours/course-exercise-overview-tour.ts
  src/main/webapp/i18n/de/guidedTourCourseExerciseOverview.json
  src/main/webapp/i18n/en/guidedTourCourseExerciseOverview.json
  src/test/javascript/spec/component/guided-tour/guided-tour.component.spec.ts
Labels: tests, client, ready to merge

#4947 `Programming exercises`: Change templates for plain Java exercises to contain a build file
  src/main/java/de/tum/in/www1/artemis/service/FileService.java
  src/main/resources/templates/java/plain_gradle/exercise/build.gradle
  src/main/resources/templates/java/plain_gradle/exercise/classpath.file
  src/main/resources/templates/java/plain_gradle/exercise/git.ignore.file
  src/main/resources/templates/java/plain_gradle/exercise/gradle/wrapper/gradle-wrapper.jar
  src/main/resources/templates/java/plain_gradle/exercise/gradle/wrapper/gradle-wrapper.properties
  src/main/resources/templates/java/plain_gradle/exercise/gradlew.bat
  src/main/resources/templates/java/plain_gradle/exercise/gradlew.file
  src/main/resources/templates/java/plain_gradle/exercise/project.file
  src/main/resources/templates/java/plain_gradle/solution/build.gradle
  src/main/resources/templates/java/plain_gradle/solution/classpath.file
  src/main/resources/templates/java/plain_gradle/solution/git.ignore.file
  src/main/resources/templates/java/plain_gradle/solution/gradle/wrapper/gradle-wrapper.jar
  src/main/resources/templates/java/plain_gradle/solution/gradle/wrapper/gradle-wrapper.properties
  src/main/resources/templates/java/plain_gradle/solution/gradlew.bat
  src/main/resources/templates/java/plain_gradle/solution/gradlew.file
  src/main/resources/templates/java/plain_gradle/solution/project.file
  src/main/resources/templates/java/plain_maven/exercise/classpath.file
  src/main/resources/templates/java/plain_maven/exercise/pom.xml
  src/main/resources/templates/java/plain_maven/exercise/project.file
  src/main/resources/templates/java/plain_maven/solution/classpath.file
  src/main/resources/templates/java/plain_maven/solution/pom.xml
  src/main/resources/templates/java/plain_maven/solution/project.file
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.html
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.ts
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.module.ts
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/programmingExercise.json
Labels: enhancement, server, client, component:Programming, ready to merge

#4958 `Programming exercises`: Improve configuration of Gradle projects
  docs/user/exercises/programming-exercise-setup.inc
  docs/user/exercises/programming/programming-options-programming-language.png
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseImportService.java
  src/main/resources/templates/java/gradle_gradle/exercise/settings.gradle
  src/main/resources/templates/java/gradle_gradle/solution/settings.gradle
  src/main/resources/templates/java/test/gradle/projectTemplate/readme.md
  src/main/resources/templates/java/test/gradle/projectTemplate/settings.gradle
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.html
Labels: enhancement, server, client, component:Programming, ready to merge

#4946 `Assessment`: Fix issues during modeling assessments in tutor training
  src/main/java/de/tum/in/www1/artemis/service/TutorParticipationService.java
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment.component.ts
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment.util.ts
  src/main/webapp/app/exercises/modeling/manage/example-modeling/example-modeling-submission.component.ts
  src/main/webapp/app/exercises/shared/dashboards/tutor/exercise-assessment-dashboard.component.html
  src/main/webapp/app/exercises/shared/dashboards/tutor/exercise-assessment-dashboard.component.ts
  src/test/javascript/spec/component/assessment-dashboard/exercise-assessment-dashboard.component.spec.ts
  src/test/javascript/spec/component/example-modeling/example-modeling-submission.component.spec.ts
  src/test/javascript/spec/component/text-exercise/example-text-submission.component.spec.ts
Labels: tests, server, client, ready to merge

#4968 `Lectures`: Preserve ordering when editing lecture units
  src/main/java/de/tum/in/www1/artemis/domain/lecture/LectureUnit.java
  src/main/java/de/tum/in/www1/artemis/service/LectureImportService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/lecture/AttachmentUnitResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/lecture/TextUnitResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/lecture/VideoUnitResource.java
  src/test/java/de/tum/in/www1/artemis/AttachmentUnitIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/TextUnitIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/VideoUnitIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
Labels: tests, server, priority:high, bugfix, ready to merge

#4961 `Development`: Replace deprecated response methods with exceptions
  src/main/java/de/tum/in/www1/artemis/web/rest/ApollonDiagramResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/LearningGoalResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/StudentExamResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextAssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/errors/ErrorConstants.java
  src/main/java/de/tum/in/www1/artemis/web/rest/errors/ExceptionTranslator.java
  src/main/java/de/tum/in/www1/artemis/web/rest/lecture/AttachmentUnitResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/lecture/ExerciseUnitResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/lecture/LectureUnitResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/lecture/VideoUnitResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/repository/RepositoryProgrammingExerciseParticipationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/util/ResponseUtil.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/RepositoryIntegrationTest.java
Labels: tests, server, code quality, ready to merge

#4749 `Programming exercises`: Add access tokens to interact with Gitlab.
  src/main/java/de/tum/in/www1/artemis/config/Constants.java
  src/main/java/de/tum/in/www1/artemis/domain/User.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/gitlab/GitLabService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/gitlab/GitLabUserManagementService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/gitlab/GitlabInfoContributor.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/gitlab/dto/GitLabPersonalAccessTokenRequestDTO.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/gitlab/dto/GitLabPersonalAccessTokenResponseDTO.java
  src/main/java/de/tum/in/www1/artemis/service/dto/UserDTO.java
  src/main/resources/config/liquibase/changelog/20220226100000_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/core/user/user.model.ts
  src/main/webapp/app/shared/components/clone-repo-button/clone-repo-button.component.html
  src/main/webapp/app/shared/components/clone-repo-button/clone-repo-button.component.ts
  src/main/webapp/app/shared/layouts/profiles/profile-info.model.ts
  src/main/webapp/app/shared/layouts/profiles/profile.service.ts
  src/test/java/de/tum/in/www1/artemis/authentication/UserJenkinsGitlabIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/connector/GitlabRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/util/UserTestService.java
  src/test/javascript/spec/component/shared/clone-repo-button.component.spec.ts
Labels: tests, server, client, component:Programming, database, jenkins/gitlab, ready to merge

#4929 `Programming exercises`: Improve structural solution entry generation
  src/main/java/de/tum/in/www1/artemis/service/hestia/structural/StructuralAttribute.java
  src/main/java/de/tum/in/www1/artemis/service/hestia/structural/StructuralClass.java
  src/main/java/de/tum/in/www1/artemis/service/hestia/structural/StructuralClassElements.java
  src/main/java/de/tum/in/www1/artemis/service/hestia/structural/StructuralConstructor.java
  src/main/java/de/tum/in/www1/artemis/service/hestia/structural/StructuralElement.java
  src/main/java/de/tum/in/www1/artemis/service/hestia/structural/StructuralMethod.java
  src/main/java/de/tum/in/www1/artemis/service/hestia/structural/StructuralTestCaseService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/hestia/ProgrammingExerciseSolutionEntryResource.java
  src/test/java/de/tum/in/www1/artemis/hestia/StructuralTestCaseServiceTest.java
Labels: enhancement, tests, ready for review, server, ready to merge

#4975 `General`: Improve the selection of exercise details buttons for tutors
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.html
  src/main/webapp/i18n/de/student-dashboard.json
  src/main/webapp/i18n/en/student-dashboard.json
Labels: client, component:Shared, small, ready to merge

#4978 `Development`: Replace Paths.get() with Path.of()
  docs/dev/guidelines/server.rst
  src/main/java/de/tum/in/www1/artemis/config/PublicResourcesConfiguration.java
  src/main/java/de/tum/in/www1/artemis/config/SecurityConfiguration.java
  src/main/java/de/tum/in/www1/artemis/config/WebConfigurer.java
  src/main/java/de/tum/in/www1/artemis/domain/Attachment.java
  src/main/java/de/tum/in/www1/artemis/domain/FileUploadSubmission.java
  src/main/java/de/tum/in/www1/artemis/service/FilePathService.java
  src/main/java/de/tum/in/www1/artemis/service/FileService.java
  src/main/java/de/tum/in/www1/artemis/service/FileUploadSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/RepositoryService.java
  src/main/java/de/tum/in/www1/artemis/service/SubmissionExportService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/GitService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsBuildPlanCreator.java
  src/main/java/de/tum/in/www1/artemis/service/plagiarism/ProgrammingPlagiarismDetectionService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseExportService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/FileResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseResource.java
  src/test/java/de/tum/in/www1/artemis/ContinuousIntegrationTestService.java
  src/test/java/de/tum/in/www1/artemis/FileIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/FileUploadSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/TestRepositoryResourceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/connector/BambooRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseGitIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseIntegrationTestService.java
  src/test/java/de/tum/in/www1/artemis/service/ResourceLoaderServiceTest.java
  src/test/java/de/tum/in/www1/artemis/util/GitUtilService.java
  src/test/java/de/tum/in/www1/artemis/util/HestiaUtilTestService.java
  src/test/java/de/tum/in/www1/artemis/util/ModelFactory.java
Labels: tests, server, code quality, ready to merge

#4980 `General`: Enhance styling of announcement notification emails
  src/main/resources/templates/mail/notification/announcementPostEmail.html
  src/main/resources/templates/mail/notification/fragments.html
Labels: ready to merge

#4988 `Assessment`: Hide complaint component on result subpage for exam exercises
  src/main/webapp/app/exercises/file-upload/participate/file-upload-submission.component.html
  src/main/webapp/app/exercises/file-upload/participate/file-upload-submission.component.ts
  src/main/webapp/app/exercises/modeling/participate/modeling-submission.component.html
  src/main/webapp/app/exercises/modeling/participate/modeling-submission.component.ts
  src/main/webapp/app/exercises/text/participate/text-editor.component.html
  src/main/webapp/app/exercises/text/participate/text-editor.component.ts
Labels: ready for review, client, component:Modeling, component:Text, component:FileUpload, exam mode, priority:high, small, bugfix, ready to merge

#4994 `Programming exercises`: Update to the latest artemis-maven-docker version java17-6
  src/main/resources/config/application.yml
Labels: dependencies, component:Programming, priority:high, small, bugfix, ready to merge

#4972 `Lectures`: Fix the order of lecture units when merging pdf files
  src/main/java/de/tum/in/www1/artemis/security/jwt/TokenProvider.java
  src/main/java/de/tum/in/www1/artemis/web/rest/FileResource.java
  src/test/java/de/tum/in/www1/artemis/FileIntegrationTest.java
Labels: tests, server, ready to merge

#4956 `General`: Improve CSV header parsing when importing users into course groups
  src/main/webapp/app/shared/import/users-import-dialog.component.scss
  src/main/webapp/app/shared/import/users-import-dialog.component.ts
  src/test/javascript/spec/component/exam/manage/student-exams/user-import-dialog.component.spec.ts
  src/test/javascript/spec/util/user-import/TUMonlineCourseExport.csv
  src/test/javascript/spec/util/user-import/TUMonlineExamExport.csv
  src/test/javascript/spec/util/user-import/UserImportSampleFile_1.csv
  src/test/javascript/spec/util/user-import/UserImportSampleFile_2.csv
  src/test/javascript/spec/util/user-import/UserImportSampleFile_3.csv
  src/test/javascript/spec/util/user-import/UserImportSampleFile_4.csv
Labels: tests, client, small, ready to merge

#4977 `Assessment`: Provide a list with all course complaints to tutors
  src/main/java/de/tum/in/www1/artemis/domain/Complaint.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ComplaintResource.java
  src/main/webapp/app/complaints/complaint.service.ts
  src/main/webapp/app/complaints/list-of-complaints/list-of-complaints.component.html
  src/main/webapp/app/complaints/list-of-complaints/list-of-complaints.component.ts
  src/main/webapp/i18n/de/complaint.json
  src/main/webapp/i18n/en/complaint.json
Labels: server, client, small, ready to merge

#4979 `Assessment`: Show text length of complaint and complaint response
  src/main/webapp/app/complaints/complaints-for-tutor/complaints-for-tutor.component.html
  src/main/webapp/app/complaints/complaints-for-tutor/complaints-for-tutor.module.ts
  src/main/webapp/app/complaints/complaints.module.ts
  src/main/webapp/app/complaints/form/complaints-form.component.html
  src/main/webapp/app/shared/textarea/textarea-counter.component.html
  src/main/webapp/app/shared/textarea/textarea-counter.component.ts
  src/main/webapp/app/shared/textarea/textarea.module.ts
Labels: enhancement, client, small, ready to merge
