Repository ls1intum/Artemis, pull requests merged in 2022-08, with the labels that each got.

#5516 `Development`: Fix an issue with k6 tests for exam
  src/test/k6/ExamAPIs.js
  src/test/k6/requests/endpoints.js
  src/test/k6/requests/exam.js
Labels: tests, ready for review, ready to merge

#5455 `Quiz exercises`: Disable save quiz button if no changes are present
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise-detail.component.html
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise-detail.component.ts
  src/test/javascript/spec/component/quiz-exercise/quiz-exercise-detail.component.spec.ts
Labels: tests, client, component:Quiz, small, ready to merge

#5309 `General`: Improve authorization checks for file download
  src/main/java/de/tum/in/www1/artemis/security/jwt/TokenProvider.java
  src/main/java/de/tum/in/www1/artemis/web/rest/FileResource.java
  src/main/webapp/app/shared/http/file.service.ts
  src/test/java/de/tum/in/www1/artemis/FileIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/security/jwt/TokenProviderTest.java
Labels: tests, server, client, ready to merge

#5435 `Development`: Add documentation about markdown support
  README.md
  docs/index.rst
  docs/user/markdown-support.rst
  docs/user/markdown-support/markdown-lecture-example.png
  docs/user/markdown-support/markdown-lecture-preview.png
  docs/user/markdown-support/markdown-post-extensions-preview.png
  docs/user/markdown-support/markdown-post-extensions.png
  src/main/webapp/app/core/about-us/about-us.component.ts
  src/main/webapp/i18n/de/aboutUs.json
  src/main/webapp/i18n/en/aboutUs.json
Labels: ready for review, client, documentation

#5532 `Exam mode`: Fix wrong icon for add quiz button
  src/main/webapp/app/exam/manage/exercise-groups/exercise-groups.component.html
Labels: ready for review, client, small, bugfix

#5531 `Development`: Add server tests for plagiarism related authorization for programming exercises
  src/test/java/de/tum/in/www1/artemis/programmingexercise/RepositoryIntegrationTest.java
Labels: tests, ready for review

#5428 `Development`: Update file upload exercise documentation
  docs/user/exercises/file-upload.rst
  docs/user/exercises/file-upload/browse.png
  docs/user/exercises/file-upload/choose-file-button.png
  docs/user/exercises/file-upload/course-dashboard-exercise-file-upload.png
  docs/user/exercises/file-upload/create-new-file-upload-exercise.png
  docs/user/exercises/file-upload/file-upload-exercise-assessment.png
  docs/user/exercises/file-upload/file-upload-exercise-creation-pattern.png
  docs/user/exercises/file-upload/file-upload-exercise-creation.png
  docs/user/exercises/file-upload/file-upload-exercise-student-view-submitted.png
  docs/user/exercises/file-upload/file-upload-exercise-student-view.png
  docs/user/exercises/file-upload/file_upload_exercise_student_submitted.png
  docs/user/exercises/file-upload/file_upload_exercise_student_view.png
  docs/user/exercises/file-upload/submit.png
  docs/user/exercises/general/course-management-course-dashboard-exercises.png
  docs/user/exercises/general/course-management.png
  docs/user/exercises/general/edit-button.png
  docs/user/exercises/general/save-button.png
  docs/user/exercises/general/submit-button.png
  docs/user/exercises/modeling.rst
  docs/user/exercises/programming-exercise-setup.inc
  docs/user/exercises/programming/course-management.png
Labels: documentation, ready to merge

#5530 `Plagiarism checks`: Fix wrong file content showed in split view
  src/main/webapp/app/exercises/programming/shared/code-editor/service/code-editor-domain-dependent-endpoint.service.ts
  src/main/webapp/app/exercises/programming/shared/code-editor/service/code-editor-repository.service.ts
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-split-view/text-submission-viewer/text-submission-viewer.component.ts
  src/test/javascript/spec/component/plagiarism/text-submission-viewer.component.spec.ts
Labels: tests, client, priority:high, ready to merge

#5328 `Lectures`: Add support for new file extensions in lecture unit file
  src/main/java/de/tum/in/www1/artemis/web/rest/FileResource.java
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/attachment-unit-form/attachment-unit-form.component.html
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/attachment-unit-form/attachment-unit-form.component.ts
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/lecture-unit-management.component.ts
  src/main/webapp/app/shared/constants/file-extensions.constants.ts
  src/main/webapp/app/shared/http/file-uploader.service.ts
  src/main/webapp/i18n/de/lectureUnit.json
  src/main/webapp/i18n/en/lectureUnit.json
Labels: server, client, ready to merge, Component:Lecture

#5528 `Plagiarism checks`: Avoid displaying unrelated posts in plagiarism cases view
  src/main/webapp/app/course/plagiarism-cases/instructor-view/detail-view/plagiarism-case-instructor-detail-view.component.ts
  src/test/javascript/spec/component/plagiarism/plagiarism-case-instructor-detail-view.component.spec.ts
Labels: tests, client, plagiarism detection, ready to merge

#5541 `Development`: Improve quiz exercise logging
  src/main/java/de/tum/in/www1/artemis/service/QuizBatchService.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/cache/quiz/QuizCache.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/cache/quiz/QuizScheduleService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/QuizExerciseResource.java
Labels: server, component:Quiz, small, ready to merge

#5539 `Plagiarism checks`: Show an alert to the instructor when the plagiarism notification case has been sent
  src/main/webapp/app/course/plagiarism-cases/instructor-view/detail-view/plagiarism-case-instructor-detail-view.component.ts
  src/main/webapp/i18n/de/plagiarism.json
  src/main/webapp/i18n/en/plagiarism.json
  src/test/javascript/spec/component/plagiarism/plagiarism-case-instructor-detail-view.component.spec.ts
Labels: tests, ready for review, client, plagiarism detection

#5484 `General`: Allow to search by id in exercise and exam import dialog
  src/main/java/de/tum/in/www1/artemis/repository/ExamRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ModelingExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ProgrammingExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/QuizExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/TextExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ModelingExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/QuizExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/TextExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/exam/ExamService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/QuizExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextExerciseResource.java
  src/main/webapp/app/exam/manage/exams/exam-import/exam-import.component.html
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise-import.component.html
  src/main/webapp/app/exercises/programming/manage/programming-exercise-import.component.html
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise-import.component.html
  src/main/webapp/app/exercises/text/manage/text-exercise-import.component.html
  src/test/java/de/tum/in/www1/artemis/ModelingExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/QuizExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/TextExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseServiceIntegrationTest.java
Labels: feature, tests, server, client, ready to merge

#5547 `Development`: Remove unneeded log of the exam live statistics
  src/main/java/de/tum/in/www1/artemis/service/scheduled/cache/monitoring/ExamMonitoringDistributedCache.java
Labels: server, ready to merge, exam live statistics

#5548 `Plagiarism checks`: Fix a typo in the German translation
  src/main/webapp/i18n/de/plagiarism.json
Labels: ready for review, client, plagiarism detection, small, bugfix

#5491 `General`: Allow to restrict exercise import search to courses / exercises
  src/main/java/de/tum/in/www1/artemis/repository/ModelingExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ProgrammingExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/QuizExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/TextExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ModelingExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/QuizExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/TextExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/QuizExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextExerciseResource.java
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise-import.component.html
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise-import.component.ts
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise-paging.service.ts
  src/main/webapp/app/exercises/programming/manage/programming-exercise-import.component.html
  src/main/webapp/app/exercises/programming/manage/programming-exercise-import.component.ts
  src/main/webapp/app/exercises/programming/manage/services/programming-exercise-paging.service.ts
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise-import.component.html
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise-import.component.ts
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise-paging.service.ts
  src/main/webapp/app/exercises/text/manage/text-exercise-import.component.html
  src/main/webapp/app/exercises/text/manage/text-exercise-import.component.ts
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise-paging.service.ts
  src/main/webapp/i18n/de/exercise.json
  src/main/webapp/i18n/en/exercise.json
  src/test/java/de/tum/in/www1/artemis/ModelingExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/QuizExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/TextExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseServiceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/java/de/tum/in/www1/artemis/util/ExerciseIntegrationTestUtils.java
  src/test/javascript/spec/component/modeling-exercise/modeling-exercise-import.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-import.component.spec.ts
  src/test/javascript/spec/component/quiz-exercise/quiz-exercise-import.component.spec.ts
  src/test/javascript/spec/component/text-exercise/text-exercise-import.component.spec.ts
  src/test/javascript/spec/service/modeling-exercise-paging.service.spec.ts
  src/test/javascript/spec/service/quiz-exercise-paging.service.spec.ts
Labels: feature, tests, server, client, ready to merge

#5549 `Exam mode`: Fix error state for teaching assistance and add absolute number of complaints
  src/main/webapp/app/exam/manage/exam-status.component.html
  src/main/webapp/app/exam/manage/exam-status.component.ts
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/en/exam.json
  src/test/javascript/spec/component/exam/manage/student-exams/exam-status.component.spec.ts
Labels: tests, client, exam mode, small, bugfix, ready to merge

#5550 `Exam mode`: Fix working time for test exams within the student exam management page
  src/main/webapp/app/exam/manage/student-exams/student-exam-detail.component.html
  src/main/webapp/app/exam/manage/student-exams/student-exam-detail.component.ts
  src/main/webapp/app/exam/manage/student-exams/student-exams.component.html
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/en/exam.json
Labels: client, exam mode, small, bugfix, ready to merge

#5515 `General`: Add a feature toggle for exam live statistics
  src/main/java/de/tum/in/www1/artemis/config/Constants.java
  src/main/java/de/tum/in/www1/artemis/service/feature/Feature.java
  src/main/java/de/tum/in/www1/artemis/service/feature/FeatureToggleService.java
  src/main/java/de/tum/in/www1/artemis/service/messaging/DistributedInstanceMessageSendService.java
  src/main/java/de/tum/in/www1/artemis/service/messaging/MainInstanceMessageSendService.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/cache/monitoring/ExamMonitoringScheduleService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExamActivityResource.java
  src/main/webapp/app/exam/manage/exam-management.module.ts
  src/main/webapp/app/exam/manage/exams/exam-checklist-component/exam-checklist.component.html
  src/main/webapp/app/exam/manage/exams/exam-checklist-component/exam-checklist.component.ts
  src/main/webapp/app/exam/manage/exams/exam-update.component.html
  src/main/webapp/app/exam/manage/exams/exam-update.component.ts
  src/main/webapp/app/exam/monitoring/exam-monitoring.component.html
  src/main/webapp/app/exam/monitoring/exam-monitoring.component.ts
  src/main/webapp/app/exam/monitoring/exam-monitoring.module.ts
  src/main/webapp/app/exam/monitoring/exam-monitoring.service.ts
  src/main/webapp/app/exam/participate/exam-participation.component.ts
  src/main/webapp/app/shared/feature-toggle/feature-toggle.service.ts
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/en/exam.json
  src/test/javascript/spec/component/admin/admin-feature-toggle.component.spec.ts
  src/test/javascript/spec/component/exam/monitoring/exam-monitoring.service.spec.ts
Labels: tests, server, client, ready to merge, exam live statistics

#5543 `Plagiarism checks`: Add a new verdict for no plagiarism case
  src/main/java/de/tum/in/www1/artemis/domain/plagiarism/PlagiarismVerdict.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/PlagiarismCaseInfoDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/plagiarism/PlagiarismCaseResource.java
  src/main/webapp/app/course/plagiarism-cases/instructor-view/detail-view/plagiarism-case-instructor-detail-view.component.html
  src/main/webapp/app/course/plagiarism-cases/instructor-view/detail-view/plagiarism-case-instructor-detail-view.component.ts
  src/main/webapp/app/course/plagiarism-cases/shared/plagiarism-cases.service.ts
  src/main/webapp/app/course/plagiarism-cases/shared/verdict/plagiarism-case-verdict.component.ts
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-header/plagiarism-header.component.ts
  src/main/webapp/app/exercises/shared/plagiarism/types/PlagiarismCaseInfo.ts
  src/main/webapp/app/exercises/shared/plagiarism/types/PlagiarismVerdict.ts
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.html
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.ts
  src/main/webapp/i18n/de/plagiarism.json
  src/main/webapp/i18n/en/plagiarism.json
  src/test/java/de/tum/in/www1/artemis/PlagiarismCaseIntegrationTest.java
  src/test/javascript/spec/component/plagiarism/plagiarism-case-instructor-detail-view.component.spec.ts
  src/test/javascript/spec/component/plagiarism/plagiarism-cases-instructor-view.component.spec.ts
  src/test/javascript/spec/component/plagiarism/plagiarism-header.component.spec.ts
  src/test/javascript/spec/component/shared/metis/postings-create-edit-modal/post-create-edit-modal/post-create-edit-modal.component.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-ngb-modal.service.ts
  src/test/javascript/spec/service/plagiarism-cases.service.spec.ts
Labels: tests, server, client, plagiarism detection, priority:high, ready to merge

#5546 `Exam mode`: Enable submission assessment buttons on student exam detail table
  src/main/webapp/app/exam/manage/student-exams/student-exam-detail-table-row/student-exam-detail-table-row.component.ts
Labels: client, bugfix, ready to merge

#5544 `Plagiarism checks`: Display text submissions even though similarity highlighting does not work
  src/main/webapp/app/course/plagiarism-cases/instructor-view/detail-view/plagiarism-case-instructor-detail-view.component.html
  src/main/webapp/app/course/plagiarism-cases/instructor-view/detail-view/plagiarism-case-instructor-detail-view.component.ts
  src/main/webapp/app/course/plagiarism-cases/shared/review/plagiarism-case-review.component.html
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-split-view/plagiarism-split-view.component.ts
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-split-view/text-submission-viewer/text-submission-viewer.component.ts
  src/main/webapp/i18n/de/plagiarism.json
  src/main/webapp/i18n/en/plagiarism.json
  src/test/javascript/spec/component/plagiarism/plagiarism-split-view.component.spec.ts
  src/test/javascript/spec/component/plagiarism/text-submission-viewer.component.spec.ts
Labels: tests, client, plagiarism detection, bugfix, ready to merge

#5554 `General`: Fix responsiveness in user list view
  src/main/webapp/app/course/manage/course-group.component.html
  src/main/webapp/app/shared/data-table/data-table.component.html
  src/main/webapp/app/shared/data-table/data-table.component.scss
Labels: client, small, bugfix, ready to merge

#5552 `General`: Fix resizing of markdown editors if multiple are rendered at the same time
  src/main/webapp/app/shared/markdown-editor/markdown-editor.component.html
  src/main/webapp/app/shared/markdown-editor/markdown-editor.component.ts
Labels: client, small, bugfix, ready to merge

#5553 `Programming exercises`: Fix an issue with participant scores when resetting an exercise or an exam
  src/main/java/de/tum/in/www1/artemis/service/ExerciseDeletionService.java
Labels: ready for review, server, bugfix

#5557 `Development`: Add access rights for exam import to the documentation
  docs/admin/accessRights.rst
Labels: documentation, exam mode, small, ready to merge

#5560 `Exam mode`: Update near cache configuration
  src/main/java/de/tum/in/www1/artemis/config/CacheConfiguration.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/cache/monitoring/ExamCache.java
Labels: server, ready to merge, exam live statistics

#5563 `Exam mode`: Fix (un)locking of programming exercises for test exams
  src/main/java/de/tum/in/www1/artemis/service/exam/StudentExamService.java
Labels: server, component:Programming, exam mode, priority:high, bugfix, ready to merge

#5561 `Exam mode`: Display correct working time within the exam details and course exam details
  src/main/webapp/app/exam/manage/exams/exam-detail.component.html
  src/main/webapp/app/overview/course-exams/course-exam-detail/course-exam-detail.component.html
  src/test/javascript/spec/component/exam/manage/exams/exam-detail.component.spec.ts
Labels: tests, client, exam mode, small, bugfix, user interface, ready to merge

#5564 `Development`: Disable unevaluated prometheus metrics
  src/main/resources/config/application.yml
Labels: server, config-change

#5559 `Development`: Fix warnings when generating the documentation
  docs/admin/accessRights.rst
  docs/dev/docker.rst
  docs/dev/setup/distributed.rst
  docs/user/courses/customizable.rst
  docs/user/exams/instructors_guide.rst
  docs/user/exams/students_guide.rst
  docs/user/exercises/assessment.rst
  docs/user/exercises/programming-exercise-setup.inc
  docs/user/exercises/programming-submission-policy-configuration.inc
  docs/user/exercises/programming.rst
  docs/user/exercises/quiz.rst
  docs/user/grading.rst
  docs/user/learning-analytics.rst
  docs/user/lectures.rst
  docs/user/orion.rst
  docs/user/plagiarism-check.rst
  docs/user/scaling.rst
Labels: ready for review, documentation, code quality, ready to merge

#5566 `Assessment`: Make example submissions available for editors
  docs/admin/accessRights.rst
  src/main/java/de/tum/in/www1/artemis/web/rest/AssessmentResource.java
Labels: server, component:Shared, priority:high, small, bugfix, ready to merge

#5567 `Exam mode`: Show exercise ids in live statistics to avoid confusion when identical exercise titles are used
  src/main/webapp/app/exam/monitoring/charts/exercises/exercise-group-chart.component.ts
  src/main/webapp/app/exam/monitoring/charts/monitoring-chart.ts
  src/test/javascript/spec/component/exam/monitoring/charts/exercise-chart.component.spec.ts
  src/test/javascript/spec/component/exam/monitoring/charts/exercise-group-chart.component.spec.ts
  src/test/javascript/spec/component/exam/monitoring/charts/exercise-navigation-chart.component.spec.ts
  src/test/javascript/spec/component/exam/monitoring/charts/exercise-submission-chart.component.spec.ts
  src/test/javascript/spec/component/exam/monitoring/charts/monitoring-chart.spec.ts
Labels: tests, client, exam live statistics

#5597 `Development`: Remove forgotten console.log
  src/main/webapp/app/exercises/programming/shared/code-editor/build-output/code-editor-build-output.component.ts
Labels: client, code quality, small, ready to merge

#5591 `Development`: Prevent duplicated REST calls in exam scores view
  src/main/webapp/app/exam/exam-scores/exam-scores-average-scores-graph.component.ts
  src/main/webapp/app/exam/exam-scores/exam-scores.component.html
Labels: client, small, bugfix, ready to merge

#5582 `Development`: Remove title service call from available hints endpoint
  src/main/webapp/app/exercises/shared/exercise-hint/shared/exercise-hint.service.ts
Labels: client, small, bugfix, sentry-issue, ready to merge

#5576 `Exam mode`: Fix the alignment of the exam detail table in the live statistics dashboard
  src/main/webapp/app/exam/monitoring/exam-monitoring.component.html
Labels: client, ready to merge, exam live statistics

#5389 `Assessment` : Add the possibility for instructors to drop an assessment instruction for new feedback
  src/main/webapp/app/exercises/file-upload/assess/file-upload-assessment.component.html
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment-editor/modeling-assessment-editor.component.html
  src/main/webapp/app/exercises/programming/assess/code-editor-tutor-assessment-container.component.html
  src/main/webapp/app/exercises/shared/unreferenced-feedback/unreferenced-feedback.component.html
  src/main/webapp/app/exercises/shared/unreferenced-feedback/unreferenced-feedback.component.ts
  src/main/webapp/app/exercises/text/assess/text-submission-assessment.component.html
  src/main/webapp/i18n/de/fileUploadAssessment.json
  src/main/webapp/i18n/en/fileUploadAssessment.json
  src/test/javascript/spec/component/shared/unreferenced-feedback.component.spec.ts
Labels: tests, client, component:Programming, component:Modeling, component:Text, component:Quiz, component:FileUpload, ready to merge

#5534 `Development`: Assign latest docker tag to release and develop tag for commits to dev
  .github/workflows/build-deploy.yml
Labels: config-change, ready to merge

#5555 `Programming exercises`: Improve information for changing auxiliary repositories
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.ts
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/programmingExercise.json
Labels: client, ready to merge

#5570 `General`: Fix small user interface issues
  src/main/webapp/app/course/manage/overview/course-management-card.component.html
  src/main/webapp/app/exercises/programming/assess/code-editor-tutor-assessment-inline-feedback.component.html
  src/main/webapp/app/shared/notification/notification-sidebar/notification-sidebar.scss
Labels: client, small, bugfix, user interface, ready to merge

#5473 `Communication`: Show author's role as icon in course on post title
  src/main/java/de/tum/in/www1/artemis/domain/metis/AnswerPost.java
  src/main/java/de/tum/in/www1/artemis/domain/metis/Post.java
  src/main/java/de/tum/in/www1/artemis/domain/metis/Posting.java
  src/main/java/de/tum/in/www1/artemis/domain/metis/UserRole.java
  src/main/java/de/tum/in/www1/artemis/repository/UserRepository.java
  src/main/java/de/tum/in/www1/artemis/service/metis/AnswerPostService.java
  src/main/java/de/tum/in/www1/artemis/service/metis/PostService.java
  src/main/java/de/tum/in/www1/artemis/service/metis/PostingService.java
  src/main/webapp/app/entities/metis/posting.model.ts
  src/main/webapp/app/shared/metis/metis.component.scss
  src/main/webapp/app/shared/metis/metis.util.ts
  src/main/webapp/app/shared/metis/posting-header/answer-post-header/answer-post-header.component.html
  src/main/webapp/app/shared/metis/posting-header/post-header/post-header.component.html
  src/main/webapp/app/shared/metis/posting-header/posting-header.directive.ts
  src/main/webapp/i18n/de/metis.json
  src/main/webapp/i18n/en/metis.json
  src/test/java/de/tum/in/www1/artemis/metis/AnswerPostIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/metis/PostIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/metis/ReactionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/javascript/spec/component/shared/metis/postings-header/post-header/post-header.component.spec.ts
  src/test/javascript/spec/helpers/sample/metis-sample-data.ts
Labels: tests, server, client, ready to merge, communication

#5580 `Development`: Add git commit short ID to the startup information box
  build.gradle
  src/main/java/de/tum/in/www1/artemis/ArtemisApp.java
Labels: server, ready to merge

#5610 `Development`: Add documentation and feature overview for test exams and exam import
  docs/user/exams/instructor/buttons/import_exam.png
  docs/user/exams/instructor/buttons/import_exercise_group.png
  docs/user/exams/instructor/buttons/import_individual_exam.png
  docs/user/exams/instructor/buttons/select_exercise_group.png
  docs/user/exams/instructor/exam_configuration.png
  docs/user/exams/instructor/exam_import_exercises.png
  docs/user/exams/instructor/exam_import_selection.png
  docs/user/exams/instructor/exercise_group_import_exam.png
  docs/user/exams/instructor/exercise_group_import_exercises.png
  docs/user/exams/instructor/exercise_variants.png
  docs/user/exams/instructors_guide.rst
  src/main/webapp/app/feature-overview/feature-overview.component.ts
  src/main/webapp/content/images/feature-overview/instructors/create_conduct_assess.png
  src/main/webapp/content/images/feature-overview/instructors/exam_checklist.png
  src/main/webapp/content/images/feature-overview/instructors/exam_checklist_overview.png
  src/main/webapp/content/images/feature-overview/instructors/exam_mode.png
  src/main/webapp/content/images/feature-overview/instructors/exercise_variants.png
  src/main/webapp/content/images/feature-overview/instructors/fully_configurable.png
  src/main/webapp/content/images/feature-overview/instructors/multiple_exercises.png
  src/main/webapp/content/images/feature-overview/students/exam_mode.png
  src/main/webapp/i18n/de/featureOverview.json
  src/main/webapp/i18n/en/featureOverview.json
Labels: client, documentation, ready to merge

#5605 `Development`: Add documentation for exam live statistics
  docs/user/exam_mode.rst
  docs/user/exams/instructor/exam_conduction_exam_live_statistics.png
  docs/user/exams/instructor/exam_configuration_enable_exam_live_statistics.png
  docs/user/exams/instructor/exam_live_statistics.png
  docs/user/exams/instructor/exam_live_statistics_disabled.png
  docs/user/exams/instructor/exam_live_statistics_enabled.png
  docs/user/exams/instructor/exam_live_statistics_feature_toggle_globally.png
  docs/user/exams/instructor/exam_live_statistics_header.png
  docs/user/exams/instructor/exam_live_statistics_section_activity_log_badges.png
  docs/user/exams/instructor/exam_live_statistics_section_activity_table.png
  docs/user/exams/instructor/exam_live_statistics_section_exercise_table.png
  docs/user/exams/instructor/exam_live_statistics_section_overview_activity_annotated.png
  docs/user/exams/instructor/exam_live_statistics_section_overview_exercise_annotated.png
  docs/user/exams/instructors_guide.rst
  docs/user/exams/live_statistics.rst
  src/main/webapp/app/feature-overview/feature-overview.component.ts
  src/main/webapp/content/images/feature-overview/instructors/exam_live_statistics_section_overview_section.png
  src/main/webapp/i18n/de/featureOverview.json
  src/main/webapp/i18n/en/featureOverview.json
Labels: client, ready to merge, exam live statistics

#5600 `Plagiarism checks`: Fix plagiarism split view for exam exercises
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-details/plagiarism-details.component.html
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-header/plagiarism-header.component.html
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-header/plagiarism-header.component.ts
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-split-view/plagiarism-split-view.component.ts
  src/test/javascript/spec/component/plagiarism/plagiarism-header.component.spec.ts
Labels: tests, client, small, bugfix, ready to merge

#5542 `Development`: Refactor server services
  src/main/java/de/tum/in/www1/artemis/repository/ProgrammingSubmissionRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ParticipationService.java
  src/main/java/de/tum/in/www1/artemis/service/StaticCodeAnalysisService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/BambooService.java
  src/main/java/de/tum/in/www1/artemis/service/messaging/InstanceMessageReceiveService.java
  src/main/java/de/tum/in/www1/artemis/service/notifications/GroupNotificationScheduleService.java
  src/main/java/de/tum/in/www1/artemis/service/notifications/GroupNotificationService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseGradingService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseTestCaseService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingMessagingService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingTriggerService.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/ProgrammingExerciseScheduleService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/FileUploadExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ParticipationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/QuizExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ResultResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextExerciseResource.java
  src/test/java/de/tum/in/www1/artemis/AbstractSpringIntegrationBambooBitbucketJiraTest.java
  src/test/java/de/tum/in/www1/artemis/connector/BambooRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/connector/BitbucketRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingSubmissionAndResultBitbucketBambooIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/notifications/GroupNotificationServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/scheduled/ProgrammingExerciseScheduleServiceTest.java
  src/test/java/de/tum/in/www1/artemis/util/AbstractArtemisIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
Labels: tests, server, refactoring, ready to merge

#5612 `Development`: Add eslint plugin for jest-extended
  .eslintrc.json
  package-lock.json
  package.json
  src/test/javascript/spec/component/exam/participate/exam-participation-cover.component.spec.ts
  src/test/javascript/spec/component/modeling-exercise/modeling-exercise-import.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-import.component.spec.ts
  src/test/javascript/spec/component/quiz-exercise/quiz-exercise-import.component.spec.ts
  src/test/javascript/spec/component/text-exercise/text-exercise-import.component.spec.ts
Labels: tests, dependencies, chore, code quality, small, ready to merge

#5595 `Lectures`: Polish design and usability of lecture unit management view
  src/main/webapp/app/course/learning-goals/learning-goals-popover/learning-goals-popover.component.html
  src/main/webapp/app/course/learning-goals/learning-goals-popover/learning-goals-popover.component.scss
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/create-exercise-unit/create-exercise-unit.component.scss
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/lecture-unit-management.component.html
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/lecture-unit-management.component.scss
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/lecture-unit-management.component.ts
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/lecture-unit-management.module.ts
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/unit-creation-card/unit-creation-card.component.html
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/unit-creation-card/unit-creation-card.component.scss
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/unit-creation-card/unit-creation-card.component.ts
  src/main/webapp/app/overview/course-exercises/course-exercise-row.component.html
  src/main/webapp/app/overview/course-exercises/course-exercise-row.component.ts
  src/main/webapp/app/overview/course-lectures/exercise-unit/exercise-unit.component.scss
  src/main/webapp/app/overview/course-lectures/lecture-unit.component.scss
  src/main/webapp/content/scss/themes/_dark-variables.scss
  src/main/webapp/content/scss/themes/_default-variables.scss
  src/test/javascript/spec/component/lecture-unit/lecture-unit-management.component.spec.ts
Labels: enhancement, tests, client, ready to merge

#5611 `Communication`: Remove context duplication while editing answers
  src/main/webapp/app/shared/metis/answer-post/answer-post.component.html
  src/main/webapp/app/shared/metis/posting-create-edit-modal/answer-post-create-edit-modal/answer-post-create-edit-modal.component.ts
  src/main/webapp/app/shared/metis/posting-header/answer-post-header/answer-post-header.component.html
  src/main/webapp/app/shared/metis/posting-header/post-header/post-header.component.html
Labels: client, ready to merge

#5521 `Development`: Add GitHub bot to mark pull requests as stale
  .github/workflows/pullrequest-stale.yml
  docs/dev/guidelines/development-process.rst
Labels: ready for review

#5615 `General`: Use number instead of amount for countable elements in translations
  src/main/webapp/i18n/en/course.json
  src/main/webapp/i18n/en/exampleSubmission.json
  src/main/webapp/i18n/en/global.json
  src/main/webapp/i18n/en/programmingAssessment.json
  src/main/webapp/i18n/en/programmingExercise.json
Labels: client, small, user interface, ready to merge

#5486 `Development`: Use try-with-resources for I/O calls
  src/main/java/de/tum/in/www1/artemis/config/SAML2Configuration.java
  src/main/java/de/tum/in/www1/artemis/service/FileService.java
  src/main/java/de/tum/in/www1/artemis/service/ModelingSubmissionExportService.java
  src/main/java/de/tum/in/www1/artemis/service/TextSubmissionExportService.java
  src/test/java/de/tum/in/www1/artemis/util/GitUtilService.java
Labels: tests, ready for review, server, code quality, refactoring, small

#5607 `Development`: Add git branch information to startup log
  src/main/java/de/tum/in/www1/artemis/ArtemisApp.java
Labels: ready for review, server, small

#5625 General: Fix potentially unsafe external link on "About Us" page
  src/main/webapp/app/core/about-us/about-us.component.html
Labels: ready for review, security, client, small

#5626 `Assessment`: Fix undefined router param in grade key view
  src/main/webapp/app/grading-system/grading-key-overview/grading-key-overview.component.ts
  src/main/webapp/app/overview/courses-routing.module.ts
  src/test/javascript/spec/component/grading-system/grading-key-overview.component.spec.ts
Labels: tests, client, ready to merge

#5618 `Bugfix`: Sensitize readers to user roles on plagiarism case posts
  src/main/java/de/tum/in/www1/artemis/domain/metis/Post.java
  src/main/java/de/tum/in/www1/artemis/domain/metis/Posting.java
  src/main/java/de/tum/in/www1/artemis/service/metis/PostService.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
Labels: tests, server, ready to merge

#5296 `Development`: Move translation keys for error messages into error.json
  src/main/java/de/tum/in/www1/artemis/service/SubmissionExportService.java
  src/main/java/de/tum/in/www1/artemis/service/metis/AnswerPostService.java
  src/main/java/de/tum/in/www1/artemis/service/metis/PostService.java
  src/main/java/de/tum/in/www1/artemis/service/metis/ReactionService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/AuxiliaryRepositoryService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ApollonDiagramResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/AttachmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ComplaintResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExamResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExampleSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExerciseGroupResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/FileUploadExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/LectureResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/NotificationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/QuizExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/QuizSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/SystemNotificationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TeamResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/UserResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/errors/BadRequestAlertException.java
  src/main/java/de/tum/in/www1/artemis/web/rest/errors/EmailAlreadyUsedException.java
  src/main/java/de/tum/in/www1/artemis/web/rest/errors/LoginAlreadyUsedException.java
  src/main/java/de/tum/in/www1/artemis/web/rest/lecture/TextUnitResource.java
  src/main/webapp/app/account/register/register.component.html
  src/main/webapp/app/core/util/alert.service.ts
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.html
  src/main/webapp/i18n/de/error.json
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/de/register.json
  src/main/webapp/i18n/de/settings.json
  src/main/webapp/i18n/en/error.json
  src/main/webapp/i18n/en/global.json
  src/main/webapp/i18n/en/register.json
  src/main/webapp/i18n/en/settings.json
Labels: ready for review, server, client, code quality, refactoring

#5310 `Development`: Test database query count for the dashboard REST call
  docs/dev/guidelines/server.rst
  src/test/java/de/tum/in/www1/artemis/DatabaseQueryCountTest.java
  src/test/java/de/tum/in/www1/artemis/config/HibernatePropertiesConfig.java
  src/test/java/de/tum/in/www1/artemis/util/AbstractArtemisIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/java/de/tum/in/www1/artemis/util/HibernateQueryInterceptor.java
  src/test/java/de/tum/in/www1/artemis/util/QueryCountAssert.java
  src/test/java/de/tum/in/www1/artemis/util/ThrowingProducer.java
Labels: tests, small, ready to merge, discussion

#5569 `Plagiarism checks`: Redesign user interface for plagiarism cases
  src/main/webapp/app/core/theme/theme-switch.component.scss
  src/main/webapp/app/course/plagiarism-cases/instructor-view/detail-view/plagiarism-case-instructor-detail-view.component.html
  src/main/webapp/app/course/plagiarism-cases/instructor-view/detail-view/plagiarism-case-instructor-detail-view.component.scss
  src/main/webapp/app/course/plagiarism-cases/instructor-view/detail-view/plagiarism-case-instructor-detail-view.component.ts
  src/main/webapp/app/course/plagiarism-cases/shared/verdict/plagiarism-case-verdict.component.html
  src/main/webapp/app/course/plagiarism-cases/shared/verdict/plagiarism-case-verdict.component.ts
  src/main/webapp/app/course/plagiarism-cases/student-view/detail-view/plagiarism-case-student-detail-view.component.html
  src/main/webapp/app/course/plagiarism-cases/student-view/detail-view/plagiarism-case-student-detail-view.component.scss
  src/main/webapp/app/course/plagiarism-cases/student-view/detail-view/plagiarism-case-student-detail-view.component.ts
  src/main/webapp/app/entities/exercise.model.ts
  src/main/webapp/app/shared/layouts/navbar/navbar.scss
  src/main/webapp/app/shared/notification/notification-sidebar/notification-sidebar.scss
  src/main/webapp/app/utils/text.utils.ts
  src/main/webapp/content/scss/global.scss
  src/main/webapp/content/scss/themes/_dark-variables.scss
  src/main/webapp/content/scss/themes/_default-variables.scss
  src/main/webapp/i18n/de/plagiarism.json
  src/main/webapp/i18n/en/plagiarism.json
  src/test/javascript/spec/component/plagiarism/plagiarism-case-instructor-detail-view.component.spec.ts
  src/test/javascript/spec/component/plagiarism/plagiarism-case-verdict.component.spec.ts
Labels: enhancement, tests, client, bugfix, user interface, ready to merge

#5619 `Assessment`: Fix several issues with example submissions
  src/main/java/de/tum/in/www1/artemis/service/ExampleSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/TextExerciseImportService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExampleSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextAssessmentEventResource.java
  src/main/webapp/app/exercises/modeling/manage/example-modeling/example-modeling-submission.component.html
  src/main/webapp/app/exercises/shared/example-submission/example-submission.service.ts
  src/main/webapp/app/exercises/text/assess/analytics/text-assesment-analytics.service.ts
  src/main/webapp/app/exercises/text/manage/example-text-submission/example-text-submission.component.html
  src/main/webapp/app/exercises/text/manage/example-text-submission/example-text-submission.component.ts
  src/main/webapp/app/exercises/text/manage/example-text-submission/example-text-submission.module.ts
  src/main/webapp/i18n/de/exampleSubmission.json
  src/main/webapp/i18n/en/exampleSubmission.json
  src/test/java/de/tum/in/www1/artemis/ExampleSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/TextExerciseAnalyticsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/TextExerciseIntegrationTest.java
  src/test/javascript/spec/component/text-exercise/example-text-submission.component.spec.ts
  src/test/javascript/spec/service/text-assessment-analytics.service.spec.ts
Labels: tests, server, client, bugfix, ready to merge
