Repository ls1intum/Artemis, pull requests merged in 2022-12, with the labels that each got.

#5762 `Programming exercises`: Allow students to download tests after due date
  docs/dev/setup.rst
  docs/dev/setup/jenkins-gitlab.rst.txt
  src/main/java/de/tum/in/www1/artemis/config/Constants.java
  src/main/java/de/tum/in/www1/artemis/domain/ProgrammingExercise.java
  src/main/java/de/tum/in/www1/artemis/service/FileService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/GitService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseExportService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseExportImportResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseResourceEndpoints.java
  src/main/resources/config/liquibase/changelog/20221122111500_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/resources/templates/c/gcc/readme
  src/main/webapp/app/entities/programming-exercise.model.ts
  src/main/webapp/app/exercises/programming/manage/services/programming-exercise.service.ts
  src/main/webapp/app/exercises/programming/shared/actions/programming-exercise-example-solution-repo-download.component.ts
  src/main/webapp/app/exercises/programming/shared/actions/programming-exercise-instructor-repo-download.component.html
  src/main/webapp/app/exercises/programming/shared/actions/programming-exercise-instructor-repo-download.component.ts
  src/main/webapp/app/exercises/programming/shared/lifecycle/programming-exercise-lifecycle.component.html
  src/main/webapp/app/exercises/programming/shared/lifecycle/programming-exercise-lifecycle.component.ts
  src/main/webapp/app/exercises/programming/shared/lifecycle/programming-exercise-test-schedule-date-picker.component.html
  src/main/webapp/app/exercises/programming/shared/lifecycle/programming-exercise-test-schedule-picker.scss
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.html
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.ts
  src/main/webapp/app/shared/components/not-released-tag.component.html
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/programmingExercise.json
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseBitbucketBambooIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseTestService.java
  src/test/javascript/spec/component/overview/exercise-details/course-exercise-details.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-lifecycle.component.spec.ts
  src/test/k6/resource/constants_c.js
Labels: enhancement, tests, server, client, documentation, component:Programming, database, ready to merge

#5879 `General`: Improve small screen behavior of exercise action bar
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.html
  src/main/webapp/app/overview/course-overview.scss
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.html
  src/main/webapp/app/overview/exercise-details/exercise-details-student-actions.component.html
  src/main/webapp/app/shared/components/clone-repo-button/clone-repo-button.component.html
  src/main/webapp/app/shared/components/clone-repo-button/clone-repo-button.component.scss
  src/main/webapp/app/shared/components/start-practice-mode-button/start-practice-mode-button.component.html
  src/main/webapp/app/shared/components/start-practice-mode-button/start-practice-mode-button.component.scss
Labels: client, small, user interface, ready to merge

#5892 `Plagiarism checks`: Do not take practice participations into account
  src/main/java/de/tum/in/www1/artemis/repository/StudentParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/service/plagiarism/ProgrammingPlagiarismDetectionService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/plagiarism/PlagiarismResource.java
Labels: server, plagiarism detection, small, bugfix, ready to merge

#5893 `Programming exercises`: Update template gradle version to 7.6
  src/main/resources/config/application.yml
  src/main/resources/templates/java/gradle_gradle/exercise/gradle/wrapper/gradle-wrapper.jar
  src/main/resources/templates/java/gradle_gradle/exercise/gradle/wrapper/gradle-wrapper.properties
  src/main/resources/templates/java/gradle_gradle/exercise/gradlew.bat
  src/main/resources/templates/java/gradle_gradle/exercise/gradlew.file
  src/main/resources/templates/java/gradle_gradle/solution/gradle/wrapper/gradle-wrapper.jar
  src/main/resources/templates/java/gradle_gradle/solution/gradle/wrapper/gradle-wrapper.properties
  src/main/resources/templates/java/gradle_gradle/solution/gradlew.bat
  src/main/resources/templates/java/gradle_gradle/solution/gradlew.file
  src/main/resources/templates/java/plain_gradle/exercise/gradle/wrapper/gradle-wrapper.jar
  src/main/resources/templates/java/plain_gradle/exercise/gradle/wrapper/gradle-wrapper.properties
  src/main/resources/templates/java/plain_gradle/exercise/gradlew.bat
  src/main/resources/templates/java/plain_gradle/exercise/gradlew.file
  src/main/resources/templates/java/plain_gradle/solution/gradle/wrapper/gradle-wrapper.jar
  src/main/resources/templates/java/plain_gradle/solution/gradle/wrapper/gradle-wrapper.properties
  src/main/resources/templates/java/plain_gradle/solution/gradlew.bat
  src/main/resources/templates/java/plain_gradle/solution/gradlew.file
  src/main/resources/templates/java/test/gradle/projectTemplate/gradle/wrapper/gradle-wrapper.jar
  src/main/resources/templates/java/test/gradle/projectTemplate/gradle/wrapper/gradle-wrapper.properties
  src/main/resources/templates/java/test/gradle/projectTemplate/gradlew.bat
  src/main/resources/templates/java/test/gradle/projectTemplate/gradlew.file
Labels: server, component:Programming, ready to merge

#5895 `General`: Check missing release date when creating or updating exercise
  src/main/webapp/app/exercises/file-upload/manage/file-upload-exercise-update.component.ts
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise-update.component.ts
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.ts
  src/main/webapp/app/exercises/shared/exercise-update-warning/exercise-update-warning.component.html
  src/main/webapp/app/exercises/shared/exercise-update-warning/exercise-update-warning.component.ts
  src/main/webapp/app/exercises/shared/exercise-update-warning/exercise-update-warning.service.ts
  src/main/webapp/app/exercises/shared/exercise/exercise.utils.ts
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise-update.component.ts
  src/main/webapp/i18n/de/exercise.json
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/exercise.json
  src/main/webapp/i18n/en/programmingExercise.json
  src/test/javascript/spec/component/file-upload-exercise/file-upload-exercise-update.component.spec.ts
  src/test/javascript/spec/component/modeling-exercise/modeling-exercise-update.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-update.component.spec.ts
  src/test/javascript/spec/component/shared/exercise-update-warning.component.spec.ts
  src/test/javascript/spec/component/text-exercise/text-exercise-update.component.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-ngb-modal.service.ts
  src/test/javascript/spec/service/exercise-update-warning.service.spec.ts
Labels: tests, client, ready to merge

#5897 `Development`: Fix modernizer warnings
  src/test/java/de/tum/in/www1/artemis/service/notifications/TutorialGroupNotificationServiceTest.java
  src/test/java/de/tum/in/www1/artemis/tutorialgroups/AbstractTutorialGroupIntegrationTest.java
Labels: tests, code quality, small, ready to merge

#5899 `Quiz exercises`: Fix synchronized mode due date validation
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise-detail.component.ts
  src/test/javascript/spec/component/quiz-exercise/quiz-exercise-detail.component.spec.ts
Labels: tests, client, component:Quiz, small, bugfix, ready to merge

#5902 `General`: Fix data table icon color
  src/main/webapp/app/shared/data-table/data-table.component.scss
  src/main/webapp/content/scss/themes/_dark-variables.scss
  src/main/webapp/content/scss/themes/_default-variables.scss
Labels: enhancement, client, small, user interface, ready to merge

#5904 `Quiz exercises`: Fix short answer spot sequence number
  src/main/webapp/app/exercises/quiz/manage/short-answer-question/short-answer-question-edit.component.html
  src/main/webapp/app/exercises/quiz/manage/short-answer-question/short-answer-question-edit.component.ts
  src/test/javascript/spec/component/short-answer-question/short-answer-question-edit.component.spec.ts
Labels: tests, client, component:Quiz, small, bugfix, ready to merge

#5905 `Quiz exercises`: Fix visual mode selection
  src/main/webapp/app/exercises/quiz/shared/short-answer-question-util.service.ts
  src/test/javascript/spec/service/short-answer-question-util.service.spec.ts
Labels: tests, client, component:Quiz, small, bugfix, ready to merge

#5914 `General`: Fix displayed result time
  src/main/webapp/app/exercises/shared/result/result.component.html
Labels: client, small, bugfix, ready to merge

#5732 `Programming exercises`: Allow students to reset repository
  src/main/java/de/tum/in/www1/artemis/repository/ProgrammingExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ParticipationService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bitbucket/BitbucketService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseParticipationService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseParticipationResource.java
  src/main/webapp/app/exercises/programming/manage/services/programming-exercise-participation.service.ts
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.html
  src/main/webapp/app/shared/components/reset-repo-button/reset-repo-button.component.html
  src/main/webapp/app/shared/components/reset-repo-button/reset-repo-button.component.scss
  src/main/webapp/app/shared/components/reset-repo-button/reset-repo-button.component.ts
  src/main/webapp/app/shared/components/shared-component.module.ts
  src/main/webapp/i18n/de/exercise-actions.json
  src/main/webapp/i18n/en/exercise-actions.json
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseParticipationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/ParticipationServiceTest.java
  src/test/javascript/spec/component/shared/reset-repo-button.component.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-participation.service.ts
  src/test/javascript/spec/service/programming-exercise-participation.service.spec.ts
Labels: tests, server, client, component:Programming, ready to merge

#5862 `Development`: Add git information to header/footer on dev/test server & about page
  src/main/webapp/app/core/about-us/about-us.component.html
  src/main/webapp/app/core/about-us/about-us.component.ts
  src/main/webapp/app/shared/layouts/footer/footer.component.html
  src/main/webapp/app/shared/layouts/footer/footer.component.ts
  src/main/webapp/app/shared/layouts/footer/footer.scss
  src/main/webapp/app/shared/layouts/navbar/navbar.component.html
  src/main/webapp/app/shared/layouts/navbar/navbar.component.ts
  src/main/webapp/app/shared/layouts/profiles/profile-info.model.ts
  src/main/webapp/app/shared/layouts/profiles/profile.service.ts
  src/main/webapp/content/scss/global.scss
  src/main/webapp/i18n/de/git.json
  src/main/webapp/i18n/en/git.json
  src/test/javascript/spec/component/shared/clone-repo-button.component.spec.ts
  src/test/javascript/spec/component/shared/navbar.component.spec.ts
  src/test/javascript/spec/service/profile.service.spec.ts
Labels: tests, client, ready to merge

#5913 `Development`: Drop unused column `has_feedback`
  src/main/resources/config/liquibase/changelog/20221201110000_changelog.xml
  src/main/resources/config/liquibase/master.xml
Labels: database, small, ready to merge

#5918 `Development`: Add Artemis version to bug report issue template
  .github/ISSUE_TEMPLATE/bug-report.yml
Labels: enhancement, small, ready to merge

#5622 `Development`: Move node memory leak workaround
  .github/workflows/build-deploy.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/test.yml
  .npmrc
  docs/dev/setup.rst
Labels: ready for review, documentation, bugfix, build system, no-stale

#5917 `Quiz exercises`: Fix view submission for batch mode
  src/main/java/de/tum/in/www1/artemis/domain/quiz/QuizExercise.java
  src/main/java/de/tum/in/www1/artemis/domain/quiz/QuizSubmission.java
  src/main/java/de/tum/in/www1/artemis/repository/QuizBatchRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/QuizSubmissionRepository.java
  src/main/java/de/tum/in/www1/artemis/service/QuizBatchService.java
  src/main/java/de/tum/in/www1/artemis/service/QuizSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ParticipationResource.java
  src/test/java/de/tum/in/www1/artemis/ParticipationIntegrationTest.java
Labels: tests, server, component:Quiz, bugfix, ready to merge

#5926 `Quiz exercises`: Fix an issue when setting a multiple choice option to invalid during re-evaluate
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise-validation.directive.ts
  src/test/javascript/spec/component/quiz-exercise/quiz-re-evaluate.component.spec.ts
Labels: tests, client, component:Quiz, small, bugfix, ready to merge

#5964 `Development`: Fix an issue with the usage of mat-chips with Angular 15
  src/main/webapp/app/admin/user-management/user-management-update.component.html
  src/main/webapp/app/admin/user-management/user-management-update.component.scss
  src/main/webapp/app/admin/user-management/user-management-update.component.ts
  src/main/webapp/app/shared/category-selector/category-selector.component.html
  src/main/webapp/app/shared/category-selector/category-selector.component.scss
  src/main/webapp/app/shared/category-selector/category-selector.component.ts
  src/main/webapp/app/shared/metis/posting-create-edit-modal/post-create-edit-modal/post-tag-selector/post-tag-selector.component.html
  src/main/webapp/app/shared/metis/posting-create-edit-modal/post-create-edit-modal/post-tag-selector/post-tag-selector.component.scss
  src/main/webapp/app/shared/metis/posting-create-edit-modal/post-create-edit-modal/post-tag-selector/post-tag-selector.component.ts
Labels: client, bugfix, ready to merge

#5955 `Programming exercises`: Update Ares to 1.11.1
  src/main/resources/config/application.yml
  src/main/resources/templates/java/maven_maven/test/projectTemplate/pom.xml
  src/main/resources/templates/java/test/gradle/projectTemplate/build.gradle
  src/main/resources/templates/java/test/maven/projectTemplate/pom.xml
  src/main/resources/templates/kotlin/test/maven/projectTemplate/pom.xml
Labels: dependencies, component:Programming, ready to merge

#5949 `Programming exercises`: Fix missing value in static code analysis issue location
  src/main/webapp/app/exercises/shared/result/result-detail.component.ts
Labels: client, component:Programming, small, bugfix, ready to merge

#5943 `Programming exercises`: Fix test case names unintentionally visible to students
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.html
Labels: client, small, bugfix, ready to merge

#5942 `General`: Improve formatting for long durations
  src/main/webapp/app/exercises/file-upload/assess/file-upload-assessment-dashboard.component.html
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment-editor/modeling-assessment-dashboard.component.html
  src/main/webapp/app/exercises/programming/assess/programming-assessment-dashboard/programming-exercise-submissions.component.html
  src/main/webapp/app/exercises/text/assess/text-assessment-dashboard/text-assessment-dashboard.component.html
  src/main/webapp/app/shared/pipes/artemis-duration-from-seconds.pipe.ts
  src/test/javascript/spec/pipe/artemis-duration-from-seconds.pipe.spec.ts
Labels: enhancement, tests, client, small, user interface, ready to merge

#5951 `Programming exercises`: Fix a styling issue in preview text of feedback view
  src/main/webapp/app/exercises/shared/result/feedback-collapse.component.html
Labels: client, small, bugfix, user interface, ready to merge

#5939 `Tutorial groups`: Fix an issue with the configuration
  src/main/java/de/tum/in/www1/artemis/domain/tutorialgroups/TutorialGroupSchedule.java
  src/main/java/de/tum/in/www1/artemis/domain/tutorialgroups/TutorialGroupsConfiguration.java
  src/main/java/de/tum/in/www1/artemis/web/rest/tutorialgroups/TutorialGroupDateUtil.java
  src/main/java/de/tum/in/www1/artemis/web/rest/tutorialgroups/TutorialGroupResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/tutorialgroups/TutorialGroupsConfigurationResource.java
  src/test/java/de/tum/in/www1/artemis/tutorialgroups/TutorialGroupScheduleIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/tutorialgroups/TutorialGroupsConfigurationIntegrationTest.java
Labels: tests, server, priority:high, bugfix, ready to merge

#5859 `Development`: Make sure to unsubscribe from all observables in the tutorial groups client code
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/registered-students/registered-students.component.ts
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-free-periods/crud/create-tutorial-group-free-period/create-tutorial-group-free-period.component.ts
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-free-periods/crud/edit-tutorial-group-free-period/edit-tutorial-group-free-period.component.ts
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-free-periods/tutorial-free-periods-management/tutorial-group-free-period-row-buttons/tutorial-group-free-period-row-buttons.component.ts
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-free-periods/tutorial-free-periods-management/tutorial-group-free-periods-management.component.ts
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-group-sessions/crud/create-tutorial-group-session/create-tutorial-group-session.component.ts
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-group-sessions/crud/edit-tutorial-group-session/edit-tutorial-group-session.component.ts
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-group-sessions/tutorial-group-sessions-management/cancellation-modal/cancellation-modal.component.ts
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-group-sessions/tutorial-group-sessions-management/tutorial-group-session-row-buttons/tutorial-group-session-row-buttons.component.ts
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-group-sessions/tutorial-group-sessions-management/tutorial-group-sessions-management.component.ts
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-groups-checklist/tutorial-groups-checklist.component.ts
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-groups-configuration/crud/create-tutorial-groups-configuration/create-tutorial-groups-configuration.component.ts
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-groups-configuration/crud/edit-tutorial-groups-configuration/edit-tutorial-groups-configuration.component.ts
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-groups/crud/create-tutorial-group/create-tutorial-group.component.ts
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-groups/crud/edit-tutorial-group/edit-tutorial-group.component.ts
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-groups/crud/tutorial-group-form/tutorial-group-form.component.ts
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-groups/detail/tutorial-group-management-detail.component.ts
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-groups/tutorial-groups-management/tutorial-group-row-buttons/tutorial-group-row-buttons.component.ts
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-groups/tutorial-groups-management/tutorial-groups-import-button/tutorial-groups-import-button.component.ts
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-groups/tutorial-groups-management/tutorial-groups-import-dialog/tutorial-groups-registration-import-dialog.component.ts
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-groups/tutorial-groups-management/tutorial-groups-management.component.ts
  src/main/webapp/app/overview/course-tutorial-groups/course-tutorial-groups.component.ts
  src/test/javascript/spec/component/tutorial-groups/tutorial-groups-management/tutorial-group-sessions/tutorial-group-sessions-management/tutorial-group-session-row-buttons.component.spec.ts
Labels: tests, client, refactoring, ready to merge

#5938 `General`: Add tooltip to due date of exercise course card
  src/main/webapp/app/overview/course-exercises/course-exercise-row.component.html
  src/main/webapp/app/overview/course-exercises/course-exercise-row.component.ts
  src/main/webapp/app/overview/course-exercises/course-exercise-row.scss
  src/test/javascript/spec/component/overview/course-exercises/course-exercise-row.component.spec.ts
Labels: tests, ready for review, client, small, user interface

#5957 `Plagiarism checks`: Fix an issue with plagiarism checks for Java programming exercises when running Artemis within a Docker image
  src/main/docker/Dockerfile
Labels: component:Programming, plagiarism detection, priority:high, small, bugfix, ready to merge, docker

#5940 `Programming exercises`: Improve error handling when using the online code editor
  src/main/java/de/tum/in/www1/artemis/service/connectors/GitService.java
Labels: server, ready to merge

#5956 `Programming exercises`: Reduce the height of the clone dialog
  src/main/webapp/app/shared/components/clone-repo-button/clone-repo-button.component.html
  src/main/webapp/app/shared/components/clone-repo-button/clone-repo-button.component.scss
Labels: enhancement, client, component:Programming, small, user interface, ready to merge

#5979 `Development`: Remove dependency to spring repository
  build.gradle
Labels: server, bugfix, build system, ready to merge

#5984 `General`: Fix an issue with the footer on mobile devices
  src/main/webapp/app/shared/layouts/footer/footer.component.html
  src/main/webapp/content/scss/global.scss
Labels: ready for review, client, small, bugfix

#5987 `Development`: Update node version in GitHub CI
  .github/workflows/build-deploy.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/test.yml
Labels: dependencies, chore, ready to merge

#5965 `Development`: Update Apollon to v2.12.7
  package-lock.json
  package.json
  src/main/webapp/app/exercises/modeling/shared/modeling-editor.component.ts
Labels: dependencies, client, component:Modeling, ready to merge

#5983 `Communication`: Increase the size of the question screen
  src/main/webapp/app/overview/course-discussion/course-discussion.component.html
  src/main/webapp/app/shared/virtual-scroll/virtual-scroll.component.ts
  src/main/webapp/app/shared/virtual-scroll/virtual-scroll.style.scss
  src/test/javascript/spec/component/virtual-scroll/virtual-scroll.component.spec.ts
Labels: tests, client, ready to merge, communication

#5991 `Plagiarism checks`: Fix submission view for submissions with unescaped characters
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-split-view/text-submission-viewer/text-submission-viewer.component.ts
  src/test/javascript/spec/component/plagiarism/text-submission-viewer.component.spec.ts
Labels: tests, ready for review, client, small, bugfix

#5767 `Programming exercises`: Update Jenkins job permissions to new permission scheme
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/jobs/JenkinsJobPermissionsUtils.java
  src/test/java/de/tum/in/www1/artemis/service/connectors/jenkins/jobs/JenkinsJobPermissionsUtilsTest.java
Labels: tests, server, component:Programming, jenkins/gitlab, small, ready to merge

#6000 `Development`: Fix an issue after renaming examMaxPoints
  src/main/webapp/app/exam/manage/exams/exam-detail.component.html
  src/main/webapp/app/exam/manage/exams/exam-update.component.html
  src/test/cypress/fixtures/requests/exam_template.json
Labels: tests, client, cypress

#6001 `Development`: Make tutorial groups compatible with Postgres and reduce number of new change logs
  src/main/java/de/tum/in/www1/artemis/config/LiquibaseConfiguration.java
  src/main/java/de/tum/in/www1/artemis/domain/tutorialgroups/TutorialGroup.java
  src/main/java/de/tum/in/www1/artemis/domain/tutorialgroups/TutorialGroupSchedule.java
  src/main/java/de/tum/in/www1/artemis/domain/tutorialgroups/TutorialGroupSession.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/resources/config/liquibase/changelog/00000000000000_initial_schema.xml
  src/main/resources/config/liquibase/changelog/20220826000000_changelog.xml
  src/main/resources/config/liquibase/changelog/20221026200000_changelog.xml
  src/main/resources/config/liquibase/changelog/20221111200000_changelog.xml
  src/main/resources/config/liquibase/changelog/20221122111500_changelog.xml
  src/main/resources/config/liquibase/changelog/20221201110000_changelog.xml
  src/main/resources/config/liquibase/changelog/20221216184800_changelog.xml
  src/main/resources/config/liquibase/changelog/20221221184800_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-free-periods/tutorial-free-periods-management/tutorial-group-free-period-row-buttons/tutorial-group-free-period-row-buttons.component.ts
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-free-periods/tutorial-free-periods-management/tutorial-group-free-periods-management.component.ts
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-group-sessions/tutorial-group-sessions-management/tutorial-group-session-row-buttons/tutorial-group-session-row-buttons.component.ts
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-group-sessions/tutorial-group-sessions-management/tutorial-group-sessions-management.component.ts
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-groups/tutorial-groups-management/tutorial-group-row-buttons/tutorial-group-row-buttons.component.ts
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-groups/tutorial-groups-management/tutorial-groups-import-button/tutorial-groups-import-button.component.ts
  src/test/java/de/tum/in/www1/artemis/tutorialgroups/AbstractTutorialGroupIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/tutorialgroups/TutorialGroupFreePeriodIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/tutorialgroups/TutorialGroupIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/tutorialgroups/TutorialGroupScheduleIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/tutorialgroups/TutorialGroupSessionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/tutorialgroups/TutorialGroupsConfigurationIntegrationTest.java
Labels: tests, server, client, database

#5980 `Programming exercises`: Fix auxiliary repositories not visible on exercise detail page
  src/main/java/de/tum/in/www1/artemis/repository/ProgrammingExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseResource.java
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-plans-and-repositories-preview.component.html
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-plans-and-repositories-preview.component.ts
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseGitIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseIntegrationBambooBitbucketJiraTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseIntegrationJenkinsGitlabTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseIntegrationTestService.java
Labels: tests, server, client, ready to merge

#6003 `Development`: Enforce consistent order of modifiers
  checkstyle.xml
  src/main/java/de/tum/in/www1/artemis/domain/notification/TutorialGroupNotification.java
  src/main/java/de/tum/in/www1/artemis/service/ldap/LdapUserDto.java
  src/main/java/de/tum/in/www1/artemis/service/notifications/NotificationSettingsService.java
  src/main/java/de/tum/in/www1/artemis/service/team/TeamImportStrategy.java
  src/test/java/de/tum/in/www1/artemis/domain/notification/SingleUserNotificationFactoryTest.java
  src/test/java/de/tum/in/www1/artemis/exam/ExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/hestia/ProgrammingExerciseGitDiffReportIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/hestia/ProgrammingExerciseGitDiffReportServiceTest.java
  src/test/java/de/tum/in/www1/artemis/notification/GroupNotificationServiceTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseTemplateIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingSubmissionConstants.java
  src/test/java/de/tum/in/www1/artemis/service/EmailSummaryServiceTest.java
  src/test/java/de/tum/in/www1/artemis/util/CourseTestService.java
  src/test/java/de/tum/in/www1/artemis/util/UserTestService.java
Labels: tests, server, code quality, ready to merge

#5934 `Development`: Update cypress dependencies for e2e tests
  src/test/cypress/cypress.config.ts
  src/test/cypress/cypress.json
  src/test/cypress/e2e/Login.cy.ts
  src/test/cypress/e2e/Logout.cy.ts
  src/test/cypress/e2e/course/CourseExercise.cy.ts
  src/test/cypress/e2e/course/CourseManagement.cy.ts
  src/test/cypress/e2e/exam/ExamAssessment.cy.ts
  src/test/cypress/e2e/exam/ExamCreationDeletion.cy.ts
  src/test/cypress/e2e/exam/ExamDateVerification.cy.ts
  src/test/cypress/e2e/exam/ExamManagement.cy.ts
  src/test/cypress/e2e/exam/ExamParticipation.cy.ts
  src/test/cypress/e2e/exercises/modeling/ModelingExerciseAssessment.cy.ts
  src/test/cypress/e2e/exercises/modeling/ModelingExerciseManagement.cy.ts
  src/test/cypress/e2e/exercises/modeling/ModelingExerciseParticipation.cy.ts
  src/test/cypress/e2e/exercises/programming/ProgrammingExerciseAssessment.cy.ts
  src/test/cypress/e2e/exercises/programming/ProgrammingExerciseManagement.cy.ts
  src/test/cypress/e2e/exercises/programming/ProgrammingExerciseParticipation.cy.ts
  src/test/cypress/e2e/exercises/programming/ProgrammingExerciseStaticCodeAnalysis.cy.ts
  src/test/cypress/e2e/exercises/quiz-exercise/QuizExerciseAssessment.cy.ts
  src/test/cypress/e2e/exercises/quiz-exercise/QuizExerciseManagement.cy.ts
  src/test/cypress/e2e/exercises/quiz-exercise/QuizExerciseParticipation.cy.ts
  src/test/cypress/e2e/exercises/text/TextExerciseAssessment.cy.ts
  src/test/cypress/e2e/exercises/text/TextExerciseManagement.cy.ts
  src/test/cypress/e2e/exercises/text/TextExerciseParticipation.cy.ts
  src/test/cypress/e2e/lecture/LectureManagement.cy.ts
  src/test/cypress/init/ImportUsers.cy.ts
  src/test/cypress/package-lock.json
  src/test/cypress/package.json
  src/test/cypress/plugins/index.ts
  src/test/cypress/support/pageobjects/course/CourseManagementPage.ts
  src/test/cypress/support/pageobjects/exercises/modeling/ModelingEditor.ts
Labels: tests, ready for review, cypress

#6004 `Development`: Fix string concatenations in logger calls
  src/main/java/de/tum/in/www1/artemis/config/LiquibaseConfiguration.java
  src/main/java/de/tum/in/www1/artemis/domain/GradeStep.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/Lti13Service.java
  src/main/java/de/tum/in/www1/artemis/service/exam/ExamService.java
  src/main/java/de/tum/in/www1/artemis/service/exam/StudentExamService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/cache/quiz/QuizScheduleService.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
Labels: tests, server, code quality, ready to merge

#6010 `Development`: Downgrade ng-bootstrap to fix an issue with modals
  package-lock.json
  package.json
  src/test/javascript/spec/component/assessment-dashboard/assessment-dashboard.component.spec.ts
  src/test/javascript/spec/component/assessment-shared/assessment-header.component.spec.ts
  src/test/javascript/spec/component/assessment-shared/assessment-locks.component.spec.ts
  src/test/javascript/spec/component/complaints/complaints-form.component.spec.ts
  src/test/javascript/spec/component/connection-warning/connection-warning.spec.ts
  src/test/javascript/spec/component/course/course-lti-configuration.component.spec.ts
  src/test/javascript/spec/component/course/course-management-overview-statistics.component.spec.ts
  src/test/javascript/spec/component/course/edit-course-lti-configuration.component.spec.ts
  src/test/javascript/spec/component/exam/manage/exam-import.component.spec.ts
  src/test/javascript/spec/component/exam/manage/student-exams/student-exam-detail.component.spec.ts
  src/test/javascript/spec/component/example-modeling/example-modeling-submission.component.spec.ts
  src/test/javascript/spec/component/file-upload-submission/file-upload-submission.component.spec.ts
  src/test/javascript/spec/component/learning-goals/learning-goal-management.component.spec.ts
  src/test/javascript/spec/component/learning-goals/learning-goal-popover.component.spec.ts
  src/test/javascript/spec/component/markdown-editor/color-picker-command.spec.ts
  src/test/javascript/spec/component/markdown-editor/metisReference-commands.spec.ts
  src/test/javascript/spec/component/modeling-submission/modeling-submission.component.spec.ts
  src/test/javascript/spec/component/participation-submission/participation-submission.component.spec.ts
  src/test/javascript/spec/component/programming-assessment/programming-assessment-manual-result.component.spec.ts
  src/test/javascript/spec/component/programming-assessment/programming-assessment-repo-export-button.component.spec.ts
  src/test/javascript/spec/component/programming-assessment/programming-assessment-repo-export-dialog.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-instruction.component.spec.ts
  src/test/javascript/spec/component/shared/clone-repo-button.component.spec.ts
  src/test/javascript/spec/component/shared/navbar.component.spec.ts
  src/test/javascript/spec/component/shared/notification/notification-sidebar.component.spec.ts
  src/test/javascript/spec/component/text-submission-assessment/text-submission-assessment.component.spec.ts
  src/test/javascript/spec/component/text-submission-assessment/textblock-feedback-editor.component.spec.ts
  src/test/javascript/spec/integration/guided-tour/guided-tour.integration.spec.ts
  src/test/javascript/spec/test.module.ts
Labels: tests, dependencies, bugfix, ready to merge

#5968 `Quiz exercises`: Fix batch quiz editing when batch is added
  src/main/webapp/app/entities/quiz/quiz-exercise.model.ts
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise.component.html
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise.component.ts
  src/test/javascript/spec/component/quiz-exercise/quiz-exercise.component.spec.ts
Labels: tests, client, component:Quiz, small, bugfix, ready to merge

#6013 `Quiz exercises`: Fix batch quiz editing when batch is added
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise-detail.component.html
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise-detail.component.ts
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise.component.html
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise.component.ts
  src/main/webapp/app/exercises/quiz/shared/quiz-manage-util.service.ts
  src/test/javascript/spec/component/quiz-exercise/quiz-exercise-detail.component.spec.ts
  src/test/javascript/spec/component/quiz-exercise/quiz-exercise.component.spec.ts
  src/test/javascript/spec/service/quiz-manage-util.service.spec.ts
Labels: tests, client, component:Quiz, small, bugfix, ready to merge

#6008 `Lectures`: Fix lecture unit names not trimmed
  src/main/java/de/tum/in/www1/artemis/domain/Attachment.java
  src/main/java/de/tum/in/www1/artemis/domain/lecture/LectureUnit.java
  src/test/java/de/tum/in/www1/artemis/lecture/AttachmentUnitIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/lecture/TextUnitIntegrationTest.java
Labels: tests, server, ready to merge

#5997 `Development`: Update documentation for modeling exercises
  docs/user/exercises/modeling.rst
Labels: documentation, ready to merge

#5858 `Communication`: Show number of unread messages
  src/main/java/de/tum/in/www1/artemis/domain/metis/ConversationParticipant.java
  src/main/java/de/tum/in/www1/artemis/repository/metis/ConversationParticipantRepository.java
  src/main/java/de/tum/in/www1/artemis/service/metis/ConversationService.java
  src/main/java/de/tum/in/www1/artemis/service/metis/MessageService.java
  src/main/resources/config/liquibase/changelog/20221120004207_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/entities/metis/conversation/conversation-details.model.ts
  src/main/webapp/app/overview/course-messages/conversation-sidebar/conversation-sidebar.component.html
  src/main/webapp/app/overview/course-messages/conversation-sidebar/conversation-sidebar.component.ts
  src/main/webapp/app/shared/pipes/shared-pipes.module.ts
  src/main/webapp/app/shared/pipes/unread-messages.pipe.ts
  src/test/java/de/tum/in/www1/artemis/metis/ConversationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/metis/MessageIntegrationTest.java
  src/test/javascript/spec/component/course-messages/conversation-sidebar/conversation-sidebar.component.spec.ts
  src/test/javascript/spec/helpers/sample/metis-sample-data.ts
Labels: tests, server, client, database, ready to merge

#6002 `Development`: Re-enable server tests and fix tests for PostgreSQL
  .github/workflows/test.yml
  src/main/java/de/tum/in/www1/artemis/repository/UserRepository.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextAssessmentResource.java
  src/test/java/de/tum/in/www1/artemis/StatisticsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/SubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/assessment/AssessmentTeamComplaintIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/assessment/ExampleSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/assessment/GradeStepIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/assessment/TutorLeaderboardServiceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exam/ExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exam/StudentExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/fileupload/FileUploadSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/hestia/StructuralTestCaseServiceTest.java
  src/test/java/de/tum/in/www1/artemis/modeling/ModelingSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/notification/NotificationScheduleServiceTest.java
  src/test/java/de/tum/in/www1/artemis/plagiarism/PlagiarismIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseGitIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseIntegrationTestService.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseResultTestService.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseScheduleServiceTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseServiceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseTestService.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/RepositoryIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/StaticCodeAnalysisIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/quiz/QuizExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/quiz/QuizSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/AutomaticFeedbackConflictServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/TextAssessmentQueueServiceTest.java
  src/test/java/de/tum/in/www1/artemis/text/TextAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/text/TextSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/CourseTestService.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/java/de/tum/in/www1/artemis/util/TextExerciseUtilService.java
  src/test/java/de/tum/in/www1/artemis/util/UserTestService.java
  src/test/javascript/spec/service/text-assessment.service.spec.ts
Labels: tests, server

#6016 `Development`: Enforce absence of JUnit 4
  build.gradle
  src/test/java/de/tum/in/www1/artemis/AbstractSpringIntegrationBambooBitbucketJiraTest.java
  src/test/java/de/tum/in/www1/artemis/AbstractSpringIntegrationJenkinsGitlabTest.java
  src/test/java/de/tum/in/www1/artemis/ArchitectureTest.java
  src/test/java/de/tum/in/www1/artemis/exam/ExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/lecture/LearningGoalIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/management/SecurityMetersServiceTest.java
  src/test/java/de/tum/in/www1/artemis/metis/ConversationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ConsistencyCheckBitbucketBambooIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ConsistencyCheckGitlabJenkinsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseGradingServiceTest.java
  src/test/java/de/tum/in/www1/artemis/security/jwt/TokenProviderSecurityMetersTest.java
  src/test/java/de/tum/in/www1/artemis/service/ConsistencyCheckTestService.java
  src/test/java/de/tum/in/www1/artemis/service/TextBlockServiceTest.java
  src/test/java/de/tum/in/www1/artemis/util/AbstractArtemisIntegrationTest.java
Labels: tests, ready for review, code quality

#6011 `General`: Fix an issue when deleting exercises with existing tutor participations
  src/main/java/de/tum/in/www1/artemis/service/ExampleSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/ExerciseDeletionService.java
  src/test/java/de/tum/in/www1/artemis/modeling/ModelingExerciseIntegrationTest.java
Labels: tests, ready for review, server, small, bugfix

#6015 `Development`: Update node version in setup documentation
  docs/dev/setup.rst
Labels: documentation, small, ready to merge
