Repository ls1intum/Artemis, pull requests merged in 2022-09, with the labels that each got.

#5565 `Plagiarism cases`: Send emails for notifications posts in plagiarism cases
  src/main/java/de/tum/in/www1/artemis/domain/plagiarism/PlagiarismVerdict.java
  src/main/java/de/tum/in/www1/artemis/service/MailService.java
  src/main/java/de/tum/in/www1/artemis/service/notifications/NotificationSettingsService.java
  src/main/java/de/tum/in/www1/artemis/service/notifications/SingleUserNotificationService.java
  src/main/resources/i18n/messages.properties
  src/main/resources/i18n/messages_de.properties
  src/main/resources/i18n/messages_en.properties
  src/main/resources/templates/mail/notification/fragments.html
  src/main/resources/templates/mail/notification/plagiarismCaseEmail.html
  src/main/resources/templates/mail/notification/plagiarismVerdictEmail.html
  src/test/java/de/tum/in/www1/artemis/service/notifications/SingleUserNotificationServiceTest.java
Labels: tests, server, ready to merge

#5578 `General`: Improve the handling of file extensions
  src/main/java/de/tum/in/www1/artemis/web/rest/FileResource.java
  src/main/webapp/app/lecture/lecture-attachments.component.html
  src/main/webapp/app/lecture/lecture-attachments.component.ts
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/attachment-unit-form/attachment-unit-form.component.html
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/attachment-unit-form/attachment-unit-form.component.ts
  src/main/webapp/app/overview/course-lectures/attachment-unit/attachment-unit.component.ts
  src/main/webapp/app/shared/constants/file-extensions.constants.ts
  src/main/webapp/app/shared/http/file-uploader.service.ts
  src/main/webapp/app/shared/markdown-editor/markdown-editor.component.ts
  src/main/webapp/i18n/de/lecture.json
  src/main/webapp/i18n/de/lectureUnit.json
  src/main/webapp/i18n/en/lecture.json
  src/main/webapp/i18n/en/lectureUnit.json
  src/test/java/de/tum/in/www1/artemis/FileIntegrationTest.java
  src/test/javascript/spec/component/lecture-unit/attachment-unit/attachment-unit.component.spec.ts
  src/test/javascript/spec/component/lecture/lecture-attachments.component.spec.ts
Labels: enhancement, tests, server, client, component:FileUpload, ready to merge

#5623 `Development`: Fix Jenkins quickstart documentation
  docs/dev/setup/jenkins-gitlab.rst
Labels: jenkins/gitlab, ready to merge

#5629 `Quiz exercises`: Fix issue with drag and drop quiz exercise creation
  src/main/webapp/app/entities/quiz/quiz-exercise.model.ts
Labels: client, component:Quiz, ready to merge

#5275 `User management`: Add filter for registration number
  src/main/java/de/tum/in/www1/artemis/repository/UserRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/specs/UserSpecs.java
  src/main/java/de/tum/in/www1/artemis/web/rest/UserResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/UserPageableSearchDTO.java
  src/main/webapp/app/admin/user-management/user-management.component.html
  src/main/webapp/app/admin/user-management/user-management.component.ts
  src/main/webapp/app/core/user/user.service.ts
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/de/user-management.json
  src/main/webapp/i18n/en/global.json
  src/main/webapp/i18n/en/user-management.json
  src/test/java/de/tum/in/www1/artemis/authentication/UserBambooBitbucketJiraIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/authentication/UserJenkinsGitlabIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/UserTestService.java
  src/test/javascript/spec/component/admin/user-management.component.spec.ts
Labels: tests, server, client, ready to merge

#5616 `Lectures`: Move buttons of lecture units into header
  src/main/webapp/app/overview/course-lectures/attachment-unit/attachment-unit.component.html
  src/main/webapp/app/overview/course-lectures/attachment-unit/attachment-unit.component.ts
  src/main/webapp/app/overview/course-lectures/lecture-unit.component.scss
  src/main/webapp/app/overview/course-lectures/online-unit/online-unit.component.html
  src/main/webapp/app/overview/course-lectures/text-unit/text-unit.component.html
  src/main/webapp/app/overview/course-lectures/video-unit/video-unit.component.html
  src/test/javascript/spec/component/lecture-unit/attachment-unit/attachment-unit.component.spec.ts
Labels: tests, client, user interface, ready to merge, Component:Lecture

#5617 `Exam mode`: Make feature overview page viewable on mobile
  src/main/webapp/app/feature-overview/feature-overview.component.html
  src/main/webapp/app/feature-overview/feature-overview.component.ts
  src/main/webapp/app/feature-overview/feature-overview.scss
  src/main/webapp/content/scss/themes/_dark-variables.scss
  src/main/webapp/content/scss/themes/_default-variables.scss
Labels: client, refactoring, bugfix, ready to merge

#5641 `Development`: Fix source code block highlighting in server guideline documentation
  .github/labeler.yml
  docs/dev/guidelines/server.rst
Labels: enhancement, documentation, small, ready to merge

#5634 `Development`: Update client dependencies
  jest.config.js
  package-lock.json
  package.json
  src/main/webapp/app/exercises/file-upload/participate/file-upload-submission.component.ts
  src/main/webapp/app/exercises/file-upload/participate/file-upload-submission.service.ts
  src/main/webapp/app/exercises/shared/submission/submission.service.ts
  src/test/javascript/spec/component/admin/system-notification-management/system-notification-detail.component.spec.ts
  src/test/javascript/spec/component/admin/system-notification-management/system-notification-management.component.spec.ts
  src/test/javascript/spec/component/apollon-diagrams/apollon-diagram-create-form.component.spec.ts
  src/test/javascript/spec/component/apollon-diagrams/apollon-diagram-detail.component.spec.ts
  src/test/javascript/spec/component/apollon-diagrams/exercise-generation/apollon-quiz-exercise-generation.component.spec.ts
  src/test/javascript/spec/component/assessment-shared/assessment-locks.component.spec.ts
  src/test/javascript/spec/component/code-editor/code-editor-ace.component.spec.ts
  src/test/javascript/spec/component/file-upload-submission/file-upload-submission.component.spec.ts
  src/test/javascript/spec/component/lecture-unit/lecture-unit-management.component.spec.ts
  src/test/javascript/spec/component/lecture-unit/video-unit/video-unit.component.spec.ts
  src/test/javascript/spec/component/modeling-exercise/modeling-exercise.component.spec.ts
  src/test/javascript/spec/component/overview/exercise-details/course-exercise-details.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-test-schedule-date-picker.component.spec.ts
  src/test/javascript/spec/component/quiz-exercise/quiz-exercise-detail.component.spec.ts
  src/test/javascript/spec/component/shared/metis/posting-content/posting-content-part.component.spec.ts
  src/test/javascript/spec/service/metis/metis.service.spec.ts
  src/test/javascript/spec/service/result.service.spec.ts
Labels: tests, ready for review, dependencies, client, chore

#5635 `Development`: Update server dependencies
  build.gradle
  gradle.properties
Labels: ready for review, dependencies, chore

#5604 `Development`: Refactor deprecated Spring HTTP security configuration
  src/main/java/de/tum/in/www1/artemis/config/SAML2Configuration.java
  src/main/java/de/tum/in/www1/artemis/config/SecurityConfiguration.java
Labels: server, code quality, refactoring, small, ready to merge

#5620 `Plagiarism checks`: Add plagiarism cases for exams
  src/main/java/de/tum/in/www1/artemis/domain/metis/Post.java
  src/main/java/de/tum/in/www1/artemis/repository/plagiarism/PlagiarismCaseRepository.java
  src/main/java/de/tum/in/www1/artemis/web/rest/plagiarism/PlagiarismCaseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/repository/RepositoryProgrammingExerciseParticipationResource.java
  src/main/webapp/app/course/manage/course-management.route.ts
  src/main/webapp/app/course/plagiarism-cases/instructor-view/detail-view/plagiarism-case-instructor-detail-view.component.ts
  src/main/webapp/app/course/plagiarism-cases/instructor-view/plagiarism-cases-instructor-view.component.html
  src/main/webapp/app/course/plagiarism-cases/instructor-view/plagiarism-cases-instructor-view.component.ts
  src/main/webapp/app/course/plagiarism-cases/shared/plagiarism-cases.service.ts
  src/main/webapp/app/course/plagiarism-cases/student-view/detail-view/plagiarism-case-student-detail-view.component.html
  src/main/webapp/app/course/plagiarism-cases/student-view/detail-view/plagiarism-case-student-detail-view.component.ts
  src/main/webapp/app/exam/manage/exams/exam-detail.component.html
  src/main/webapp/app/exam/manage/exams/exam-detail.component.ts
  src/main/webapp/app/exam/participate/summary/exam-participation-summary.component.html
  src/main/webapp/app/exam/participate/summary/exam-participation-summary.component.ts
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-header/plagiarism-header.component.html
  src/main/webapp/i18n/de/plagiarism.json
  src/main/webapp/i18n/en/plagiarism.json
  src/test/java/de/tum/in/www1/artemis/PlagiarismCaseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/RepositoryIntegrationTest.java
  src/test/javascript/spec/component/exam/participate/summary/exam-participation-summary.component.spec.ts
  src/test/javascript/spec/component/plagiarism/plagiarism-case-instructor-detail-view.component.spec.ts
  src/test/javascript/spec/component/plagiarism/plagiarism-case-student-detail-view.component.spec.ts
  src/test/javascript/spec/component/plagiarism/plagiarism-cases-instructor-view.component.spec.ts
  src/test/javascript/spec/service/plagiarism-cases.service.spec.ts
Labels: tests, server, client, plagiarism detection

#5614 `Exam mode`: Update submitted and started exam details in real time
  src/main/java/de/tum/in/www1/artemis/web/rest/StudentExamResource.java
  src/main/webapp/app/exam/manage/exam-status.component.html
  src/main/webapp/app/exam/manage/exam-status.component.ts
  src/main/webapp/app/exam/manage/exams/exam-checklist-component/exam-checklist.component.html
  src/main/webapp/app/exam/manage/exams/exam-checklist-component/exam-checklist.component.ts
  src/main/webapp/app/exam/manage/exams/exam-checklist-component/exam-checklist.service.ts
  src/test/javascript/spec/component/exam/manage/exams/exam-checklist.component.spec.ts
  src/test/javascript/spec/component/exam/manage/exams/exam-detail.component.spec.ts
  src/test/javascript/spec/component/exam/manage/student-exams/exam-status.component.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-exam-checklist.service.ts
  src/test/javascript/spec/service/exam-checklist.service.spec.ts
Labels: tests, ready for review, server, client, ready to merge

#5545 `Programming exercises`: Improve the template/solution diff view
  src/main/java/de/tum/in/www1/artemis/repository/TemplateProgrammingExerciseParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/service/hestia/ProgrammingExerciseGitDiffReportService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseResourceEndpoints.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/hestia/ProgrammingExerciseFullGitDiffEntryDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/hestia/ProgrammingExerciseFullGitDiffReportDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/hestia/ProgrammingExerciseGitDiffReportResource.java
  src/main/webapp/app/entities/hestia/programming-exercise-full-git-diff-entry.model.ts
  src/main/webapp/app/entities/hestia/programming-exercise-full-git-diff-report.model.ts
  src/main/webapp/app/entities/hestia/programming-exercise-git-diff-entry.model.ts
  src/main/webapp/app/exercises/programming/hestia/generation-overview/code-hint-generation-overview/code-hint-generation-overview.component.ts
  src/main/webapp/app/exercises/programming/hestia/generation-overview/steps/diff-generation-step/diff-generation-step.component.html
  src/main/webapp/app/exercises/programming/hestia/generation-overview/steps/diff-generation-step/diff-generation-step.component.ts
  src/main/webapp/app/exercises/programming/hestia/git-diff-report/full-git-diff-entry.component.html
  src/main/webapp/app/exercises/programming/hestia/git-diff-report/full-git-diff-entry.component.ts
  src/main/webapp/app/exercises/programming/hestia/git-diff-report/full-git-diff-report-modal.component.html
  src/main/webapp/app/exercises/programming/hestia/git-diff-report/full-git-diff-report-modal.component.ts
  src/main/webapp/app/exercises/programming/hestia/git-diff-report/full-git-diff-report.component.html
  src/main/webapp/app/exercises/programming/hestia/git-diff-report/full-git-diff-report.component.ts
  src/main/webapp/app/exercises/programming/hestia/git-diff-report/git-diff-file-panel.component.html
  src/main/webapp/app/exercises/programming/hestia/git-diff-report/git-diff-file-panel.component.scss
  src/main/webapp/app/exercises/programming/hestia/git-diff-report/git-diff-file-panel.component.ts
  src/main/webapp/app/exercises/programming/hestia/git-diff-report/git-diff-file.component.html
  src/main/webapp/app/exercises/programming/hestia/git-diff-report/git-diff-file.component.scss
  src/main/webapp/app/exercises/programming/hestia/git-diff-report/git-diff-file.component.ts
  src/main/webapp/app/exercises/programming/hestia/git-diff-report/git-diff-line-stat.component.html
  src/main/webapp/app/exercises/programming/hestia/git-diff-report/git-diff-line-stat.component.scss
  src/main/webapp/app/exercises/programming/hestia/git-diff-report/git-diff-report-modal.component.html
  src/main/webapp/app/exercises/programming/hestia/git-diff-report/git-diff-report-modal.component.ts
  src/main/webapp/app/exercises/programming/hestia/git-diff-report/git-diff-report.component.html
  src/main/webapp/app/exercises/programming/hestia/git-diff-report/git-diff-report.component.ts
  src/main/webapp/app/exercises/programming/hestia/git-diff-report/git-diff-report.module.ts
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.html
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.ts
  src/main/webapp/app/exercises/programming/manage/services/programming-exercise.service.ts
  src/main/webapp/content/scss/themes/_dark-variables.scss
  src/main/webapp/content/scss/themes/_default-variables.scss
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/programmingExercise.json
  src/test/java/de/tum/in/www1/artemis/hestia/ProgrammingExerciseGitDiffReportIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/hestia/ProgrammingExerciseGitDiffReportServiceTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseIntegrationBambooBitbucketJiraTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseIntegrationTestService.java
  src/test/javascript/spec/component/hestia/generation-overview/code-hint-generation-overview.component.spec.ts
  src/test/javascript/spec/component/hestia/generation-overview/diff-generation-step.component.spec.ts
  src/test/javascript/spec/component/hestia/git-diff-report/full-git-diff-entry.component.spec.ts
  src/test/javascript/spec/component/hestia/git-diff-report/full-git-diff-report.component.spec.ts
  src/test/javascript/spec/component/hestia/git-diff-report/git-diff-file-panel.component.spec.ts
  src/test/javascript/spec/component/hestia/git-diff-report/git-diff-file.component.spec.ts
  src/test/javascript/spec/component/hestia/git-diff-report/git-diff-report.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-detail.component.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-programming-exercise.service.ts
  src/test/javascript/spec/service/programming-exercise.service.spec.ts
Labels: enhancement, tests, ready for review, server, client, ready to merge

#5637 `Programming exercises`: Limit Jenkins builds to default branches
  src/main/java/de/tum/in/www1/artemis/service/connectors/AbstractContinuousIntegrationService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/BitbucketBambooUpdateService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/BambooService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/dto/ApplicationLinksDTO.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/dto/BambooBuildLogDTO.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/dto/BambooBuildPlanDTO.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/dto/BambooBuildResultDTO.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/dto/BambooBuildResultNotificationDTO.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/dto/BambooProjectDTO.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bitbucket/BitbucketService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bitbucket/dto/BitbucketBranchProtectionDTO.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bitbucket/dto/BitbucketChangeActivitiesDTO.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bitbucket/dto/BitbucketDefaultBranchDTO.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bitbucket/dto/BitbucketProjectDTO.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bitbucket/dto/BitbucketRepositoryDTO.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bitbucket/dto/BitbucketSearchDTO.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bitbucket/dto/BitbucketUserDTO.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bitbucket/dto/BitbucketWebHookDTO.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/gitlab/GitLabService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsBuildPlanCreator.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsBuildPlanService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsBuildPlanUtils.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/dto/CommitDTO.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/dto/JenkinsUserDTO.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/dto/TestCaseDTO.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/dto/TestCaseDetailMessageDTO.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/dto/TestResultsDTO.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/dto/TestSuiteDTO.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/dto/TestsuiteDTO.java
  src/main/java/de/tum/in/www1/artemis/service/dto/AbstractBuildResultNotificationDTO.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseGradingService.java
  src/main/resources/templates/jenkins/c/fact/regularRuns/Jenkinsfile
  src/main/resources/templates/jenkins/c/gcc/regularRuns/Jenkinsfile
  src/main/resources/templates/jenkins/haskell/regularRuns/Jenkinsfile
  src/main/resources/templates/jenkins/java/gradle/regularRuns/Jenkinsfile
  src/main/resources/templates/jenkins/java/gradle/regularRuns/Jenkinsfile-staticCodeAnalysis
  src/main/resources/templates/jenkins/java/gradle/sequentialRuns/Jenkinsfile
  src/main/resources/templates/jenkins/java/maven/regularRuns/Jenkinsfile
  src/main/resources/templates/jenkins/java/maven/regularRuns/Jenkinsfile-staticCodeAnalysis
  src/main/resources/templates/jenkins/java/maven/sequentialRuns/Jenkinsfile
  src/main/resources/templates/jenkins/kotlin/regularRuns/Jenkinsfile
  src/main/resources/templates/jenkins/kotlin/sequentialRuns/Jenkinsfile
  src/main/resources/templates/jenkins/python/regularRuns/Jenkinsfile
  src/main/resources/templates/jenkins/swift/regularRuns/Jenkinsfile
  src/main/resources/templates/jenkins/swift/regularRuns/Jenkinsfile-staticCodeAnalysis
  src/test/java/de/tum/in/www1/artemis/AbstractSpringIntegrationBambooBitbucketJiraTest.java
  src/test/java/de/tum/in/www1/artemis/ResultServiceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/SubmissionPolicyIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/connector/BambooRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/connector/BitbucketRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/connector/JenkinsRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/hestia/TestwiseCoverageTestUtil.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseResultBambooIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseResultJenkinsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseResultTestService.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingSubmissionAndResultBitbucketBambooIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingSubmissionAndResultGitlabJenkinsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/ModelFactory.java
Labels: tests, ready for review, server

#5660 `Development`: Add latest version to database for better migration management in the future
  src/main/java/de/tum/in/www1/artemis/config/LiquibaseConfiguration.java
  src/main/resources/config/liquibase/changelog/20220909231000_changelog.xml
  src/main/resources/config/liquibase/master.xml
Labels: ready for review, server, database

#5656 `General`: Show database connection pool statistics on metrics page
  src/main/java/de/tum/in/www1/artemis/config/MetricsBean.java
Labels: enhancement, ready for review, server, small

#5596 `Development`: Refactor configuration of CI Docker images
  src/main/java/de/tum/in/www1/artemis/ArtemisApp.java
  src/main/java/de/tum/in/www1/artemis/config/ProgrammingLanguageConfiguration.java
  src/main/java/de/tum/in/www1/artemis/domain/enumeration/ProjectType.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/ProgrammingLanguageConfiguration.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/BambooBuildPlanService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsBuildPlanCreator.java
  src/main/resources/config/application.yml
  src/test/java/de/tum/in/www1/artemis/config/ProgrammingLanguageConfigurationTest.java
  src/test/resources/config/application.yml
Labels: tests, server, component:Programming, config-change, ready to merge

#5594 `Development`: Add helper script to convert Spring YAML configuration files to their equivalent ENV format
  docs/dev/setup.rst
Labels: documentation, small, ready to merge

#5652 `Programming exercises`: Update template dependencies for Java exercises
  src/main/resources/config/application.yml
  src/main/resources/templates/java/gradle_gradle/exercise/gradle/wrapper/gradle-wrapper.jar
  src/main/resources/templates/java/gradle_gradle/exercise/gradle/wrapper/gradle-wrapper.properties
  src/main/resources/templates/java/gradle_gradle/exercise/gradlew.bat
  src/main/resources/templates/java/gradle_gradle/exercise/gradlew.file
  src/main/resources/templates/java/gradle_gradle/solution/gradle/wrapper/gradle-wrapper.jar
  src/main/resources/templates/java/gradle_gradle/solution/gradle/wrapper/gradle-wrapper.properties
  src/main/resources/templates/java/gradle_gradle/solution/gradlew.bat
  src/main/resources/templates/java/gradle_gradle/solution/gradlew.file
  src/main/resources/templates/java/maven_maven/exercise/pom.xml
  src/main/resources/templates/java/maven_maven/solution/pom.xml
  src/main/resources/templates/java/maven_maven/test/projectTemplate/pom.xml
  src/main/resources/templates/java/plain_gradle/exercise/gradle/wrapper/gradle-wrapper.jar
  src/main/resources/templates/java/plain_gradle/exercise/gradle/wrapper/gradle-wrapper.properties
  src/main/resources/templates/java/plain_gradle/exercise/gradlew.bat
  src/main/resources/templates/java/plain_gradle/exercise/gradlew.file
  src/main/resources/templates/java/plain_gradle/solution/gradle/wrapper/gradle-wrapper.jar
  src/main/resources/templates/java/plain_gradle/solution/gradle/wrapper/gradle-wrapper.properties
  src/main/resources/templates/java/plain_gradle/solution/gradlew.bat
  src/main/resources/templates/java/plain_gradle/solution/gradlew.file
  src/main/resources/templates/java/plain_maven/exercise/pom.xml
  src/main/resources/templates/java/plain_maven/solution/pom.xml
  src/main/resources/templates/java/test/gradle/projectTemplate/build.gradle
  src/main/resources/templates/java/test/gradle/projectTemplate/gradle/wrapper/gradle-wrapper.jar
  src/main/resources/templates/java/test/gradle/projectTemplate/gradle/wrapper/gradle-wrapper.properties
  src/main/resources/templates/java/test/gradle/projectTemplate/gradlew.bat
  src/main/resources/templates/java/test/gradle/projectTemplate/gradlew.file
  src/main/resources/templates/java/test/maven/projectTemplate/pom.xml
  src/main/resources/templates/kotlin/test/maven/projectTemplate/pom.xml
Labels: ready for review, dependencies, component:Programming

#5662 `Development`: Fix issue in changelog for e2e tests
  docker-compose.yml
  src/main/docker/cypress/docker-compose.yml
  src/main/docker/gitlab-jenkins-mysql.yml
  src/main/docker/mysql.yml
  src/main/kubernetes/artemis/statefulsets/artemis-mysql.yml
  src/main/resources/config/liquibase/changelog/20210930113000_changelog.xml
  src/test/cypress/package-lock.json
  src/test/cypress/package.json
Labels: tests, ready for review, cypress

#5646 `General`: Improve LTI configuration page
  src/main/java/de/tum/in/www1/artemis/web/rest/LtiResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/ExerciseLtiConfigurationDTO.java
  src/main/webapp/app/entities/lti-configuration.model.ts
  src/main/webapp/app/exercises/shared/exercise/exercise-details/exercise-details.component.html
  src/main/webapp/app/exercises/shared/exercise/exercise-lti-configuration.component.html
  src/main/webapp/app/exercises/shared/exercise/exercise-lti-configuration.component.ts
  src/main/webapp/i18n/de/error.json
  src/main/webapp/i18n/de/exercise.json
  src/main/webapp/i18n/de/lti.json
  src/main/webapp/i18n/en/error.json
  src/main/webapp/i18n/en/exercise.json
  src/main/webapp/i18n/en/lti.json
  src/test/java/de/tum/in/www1/artemis/LtiIntegrationTest.java
Labels: tests, server, client, small, ready to merge

#5222 `Assessment`: Map bonus to exam grades
  src/main/java/de/tum/in/www1/artemis/domain/Bonus.java
  src/main/java/de/tum/in/www1/artemis/domain/BonusStrategy.java
  src/main/java/de/tum/in/www1/artemis/domain/GradeStep.java
  src/main/java/de/tum/in/www1/artemis/domain/GradingScale.java
  src/main/java/de/tum/in/www1/artemis/domain/IBonusStrategy.java
  src/main/java/de/tum/in/www1/artemis/repository/BonusRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/GradingScaleRepository.java
  src/main/java/de/tum/in/www1/artemis/service/BonusService.java
  src/main/java/de/tum/in/www1/artemis/service/GradingScaleService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/BonusResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/GradingScaleResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/BonusExampleDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/util/PageUtil.java
  src/main/resources/config/liquibase/changelog/20220706210000_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/entities/bonus.model.ts
  src/main/webapp/app/entities/grade-step.model.ts
  src/main/webapp/app/exam/manage/exam-management.module.ts
  src/main/webapp/app/exam/manage/exam-management.route.ts
  src/main/webapp/app/exam/manage/exams/exam-detail.component.html
  src/main/webapp/app/exam/manage/exams/exam-detail.component.ts
  src/main/webapp/app/exercises/shared/mode-picker/mode-picker.component.html
  src/main/webapp/app/exercises/shared/mode-picker/mode-picker.component.ts
  src/main/webapp/app/grading-system/bonus/bonus.component.html
  src/main/webapp/app/grading-system/bonus/bonus.component.scss
  src/main/webapp/app/grading-system/bonus/bonus.component.ts
  src/main/webapp/app/grading-system/bonus/bonus.service.ts
  src/main/webapp/app/grading-system/grading-key-overview/grading-key-overview.component.ts
  src/main/webapp/app/grading-system/grading-system.service.ts
  src/main/webapp/i18n/de/bonus.json
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/en/bonus.json
  src/main/webapp/i18n/en/exam.json
  src/test/java/de/tum/in/www1/artemis/BonusIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/GradingScaleIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/GradingScaleServiceTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/java/de/tum/in/www1/artemis/util/ModelFactory.java
  src/test/javascript/spec/component/bonus/bonus.component.spec.ts
  src/test/javascript/spec/component/grading-system/grading-key-overview.component.spec.ts
  src/test/javascript/spec/service/bonus.service.spec.ts
  src/test/javascript/spec/service/grading-system.service.spec.ts
Labels: tests, server, client, database, ready to merge

#5659 `General`: Remove 'experimental' flag and feature advertisement from dark mode popover
  src/main/webapp/app/core/theme/theme-switch.component.html
  src/main/webapp/app/core/theme/theme-switch.component.scss
  src/main/webapp/app/core/theme/theme-switch.component.ts
  src/main/webapp/i18n/de/theme.json
  src/main/webapp/i18n/en/theme.json
  src/test/javascript/spec/component/shared/navbar.component.spec.ts
  src/test/javascript/spec/component/theme/theme-switch.component.spec.ts
Labels: enhancement, tests, client, small, ready to merge, dark mode

#5664 `Programming exercises`: Fix result creation for exercises using different default branches
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseGradingService.java
  src/test/java/de/tum/in/www1/artemis/GitlabServiceTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseResultJenkinsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseResultTestService.java
  src/test/java/de/tum/in/www1/artemis/service/BitbucketServiceTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/java/de/tum/in/www1/artemis/util/ModelFactory.java
Labels: tests, ready for review, server, component:Programming, small, bugfix, ready to merge

#5671 `General`: Fix missing translations in user management filter
  src/main/webapp/app/admin/user-management/user-management.component.html
Labels: client, small, bugfix, user interface, ready to merge

#5672 `Programming exercises`: Use Gradle as default build tool in Java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/BambooProgrammingLanguageFeatureService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsProgrammingLanguageFeatureService.java
  src/main/webapp/app/entities/programming-exercise.model.ts
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/programmingExercise.json
  src/test/javascript/spec/component/programming-exercise/programming-exercise-update.component.spec.ts
Labels: tests, server, client, small, ready to merge

#5674 `Modeling exercises`: Improve grid appearance for Apollon models
  src/main/webapp/content/scss/themes/_default-variables.scss
Labels: client, component:Modeling, small, ready to merge

#5337 `Programming exercises`: Add build log analytics
  src/main/java/de/tum/in/www1/artemis/domain/enumeration/ProjectType.java
  src/main/java/de/tum/in/www1/artemis/domain/statistics/BuildLogStatisticsEntry.java
  src/main/java/de/tum/in/www1/artemis/repository/BuildLogStatisticsEntryRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ParticipationService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/AbstractContinuousIntegrationService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/ContinuousIntegrationService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/BambooBuildPlanService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/BambooService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseGradingService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseResourceEndpoints.java
  src/main/java/de/tum/in/www1/artemis/web/rest/SubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/BuildLogStatisticsDTO.java
  src/main/resources/config/liquibase/changelog/20220419233000_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/resources/templates/jenkins/java/gradle/regularRuns/Jenkinsfile
  src/main/resources/templates/jenkins/java/gradle/regularRuns/Jenkinsfile-staticCodeAnalysis
  src/main/resources/templates/jenkins/java/gradle/sequentialRuns/Jenkinsfile
  src/main/resources/templates/jenkins/java/maven/regularRuns/Jenkinsfile
  src/main/resources/templates/jenkins/java/maven/regularRuns/Jenkinsfile-staticCodeAnalysis
  src/main/resources/templates/jenkins/java/maven/sequentialRuns/Jenkinsfile
  src/main/webapp/app/entities/programming-exercise.model.ts
  src/main/webapp/app/exercises/programming/manage/build-log-statistics-dto.ts
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.html
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.ts
  src/main/webapp/app/exercises/programming/manage/services/programming-exercise.service.ts
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/programmingExercise.json
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseBitbucketBambooIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseGitlabJenkinsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseResultBambooIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseResultTestService.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseTestService.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingSubmissionAndResultBitbucketBambooIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingSubmissionAndResultGitlabJenkinsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/ModelFactory.java
  src/test/javascript/spec/component/programming-exercise/programming-exercise-detail.component.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-programming-exercise.service.ts
Labels: tests, ready for review, server, client, component:Programming, database

#5642 `Development`: Refactor the relation between learning goals and exercises
  src/main/java/de/tum/in/www1/artemis/domain/LearningGoal.java
  src/main/java/de/tum/in/www1/artemis/domain/lecture/ExerciseUnit.java
  src/main/java/de/tum/in/www1/artemis/domain/lecture/LectureUnit.java
  src/main/java/de/tum/in/www1/artemis/repository/CourseRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/LearningGoalRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/LectureRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/LectureUnitRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ExerciseDeletionService.java
  src/main/java/de/tum/in/www1/artemis/service/LearningGoalService.java
  src/main/java/de/tum/in/www1/artemis/service/LectureService.java
  src/main/java/de/tum/in/www1/artemis/service/LectureUnitService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/LearningGoalResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/LectureResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/lecture/LectureUnitResource.java
  src/main/resources/config/liquibase/changelog/20220903100502_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/test/java/de/tum/in/www1/artemis/LearningGoalIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ParticipantScoreIntegrationTest.java
Labels: tests, server, chore, database, refactoring, ready to merge

#5663 `Development`: Fix flaky server test
  src/test/java/de/tum/in/www1/artemis/service/EmailSummaryServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/MailServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/notifications/NotificationScheduleServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/notifications/SingleUserNotificationServiceTest.java
Labels: tests, ready for review, ready to merge

#5678 `Development`: Fix issue with transparent Apollon modals
  package-lock.json
  package.json
  src/main/webapp/content/scss/themes/_dark-variables.scss
  src/main/webapp/content/scss/themes/_default-variables.scss
Labels: client

#5665 `Assessment`: Fix issues in the calculation of participant scores
  src/main/java/de/tum/in/www1/artemis/domain/LearningGoal.java
  src/main/java/de/tum/in/www1/artemis/domain/Result.java
  src/main/java/de/tum/in/www1/artemis/domain/scores/ParticipantScore.java
  src/main/java/de/tum/in/www1/artemis/repository/ParticipantScoreRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ResultRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/StudentScoreRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/TeamScoreRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/UserRepository.java
  src/main/java/de/tum/in/www1/artemis/service/AssessmentService.java
  src/main/java/de/tum/in/www1/artemis/service/ParticipationService.java
  src/main/java/de/tum/in/www1/artemis/service/ResultService.java
  src/main/java/de/tum/in/www1/artemis/service/ScoreService.java
  src/main/java/de/tum/in/www1/artemis/service/exam/ExamQuizService.java
  src/main/java/de/tum/in/www1/artemis/service/listeners/ResultListener.java
  src/main/java/de/tum/in/www1/artemis/service/messaging/DistributedInstanceMessageSendService.java
  src/main/java/de/tum/in/www1/artemis/service/messaging/InstanceMessageReceiveService.java
  src/main/java/de/tum/in/www1/artemis/service/messaging/InstanceMessageSendService.java
  src/main/java/de/tum/in/www1/artemis/service/messaging/MainInstanceMessageSendService.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/ParticipantScoreSchedulerService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ResultResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/SubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextAssessmentResource.java
  src/main/resources/config/liquibase/changelog/20220913152104_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/test/java/de/tum/in/www1/artemis/ExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ExerciseScoresChartIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/LearningGoalIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ParticipantScoreIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ResultServiceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/StatisticsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/StudentExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/TextAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/entitylistener/ResultListenerIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseParticipationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/TextAssessmentQueueServiceTest.java
  src/test/java/de/tum/in/www1/artemis/util/AbstractArtemisIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/CourseTestService.java
  src/test/java/de/tum/in/www1/artemis/util/TextExerciseUtilService.java
Labels: tests, server, database, refactoring, bugfix, ready to merge

#5311 `Lectures`: Allow instructors to define relations between learning goals
  package-lock.json
  package.json
  src/main/java/de/tum/in/www1/artemis/domain/LearningGoal.java
  src/main/java/de/tum/in/www1/artemis/domain/LearningGoalRelation.java
  src/main/java/de/tum/in/www1/artemis/domain/LearningGoalTaxonomy.java
  src/main/java/de/tum/in/www1/artemis/repository/LearningGoalRelationRepository.java
  src/main/java/de/tum/in/www1/artemis/web/rest/LearningGoalResource.java
  src/main/resources/config/liquibase/changelog/20220720113000_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/course/learning-goals/create-learning-goal/create-learning-goal.component.ts
  src/main/webapp/app/course/learning-goals/edit-learning-goal/edit-learning-goal.component.ts
  src/main/webapp/app/course/learning-goals/learning-goal-form/learning-goal-form.component.html
  src/main/webapp/app/course/learning-goals/learning-goal-form/learning-goal-form.component.ts
  src/main/webapp/app/course/learning-goals/learning-goal-management/learning-goal-management.component.html
  src/main/webapp/app/course/learning-goals/learning-goal-management/learning-goal-management.component.ts
  src/main/webapp/app/course/learning-goals/learning-goal.module.ts
  src/main/webapp/app/course/learning-goals/learningGoal.service.ts
  src/main/webapp/app/entities/learningGoal.model.ts
  src/main/webapp/i18n/de/learningGoal.json
  src/main/webapp/i18n/en/learningGoal.json
  src/test/java/de/tum/in/www1/artemis/LearningGoalIntegrationTest.java
  src/test/javascript/spec/component/learning-goals/learning-goal-form.component.spec.ts
  src/test/javascript/spec/component/learning-goals/learning-goal-management.component.spec.ts
Labels: tests, dependencies, server, client, database, ready to merge

#5668 `Assessment`: Integrate bonus and plagiarism into exam result calculation and exported CSV file
  src/main/java/de/tum/in/www1/artemis/domain/BonusStrategy.java
  src/main/java/de/tum/in/www1/artemis/domain/GradeStep.java
  src/main/java/de/tum/in/www1/artemis/domain/GradingScale.java
  src/main/java/de/tum/in/www1/artemis/domain/plagiarism/PlagiarismCase.java
  src/main/java/de/tum/in/www1/artemis/domain/plagiarism/PlagiarismVerdict.java
  src/main/java/de/tum/in/www1/artemis/repository/GradingScaleRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/StudentExamRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/StudentParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/plagiarism/PlagiarismCaseRepository.java
  src/main/java/de/tum/in/www1/artemis/service/BonusService.java
  src/main/java/de/tum/in/www1/artemis/service/CourseScoreCalculationService.java
  src/main/java/de/tum/in/www1/artemis/service/exam/ExamAccessService.java
  src/main/java/de/tum/in/www1/artemis/service/exam/ExamService.java
  src/main/java/de/tum/in/www1/artemis/service/plagiarism/PlagiarismCaseService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/BonusResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/StudentExamResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/BonusResultDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/BonusSourceResultDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/CourseScoresDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/ExamScoresDTO.java
  src/main/webapp/app/entities/bonus.model.ts
  src/main/webapp/app/exam/exam-scores/exam-score-dtos.model.ts
  src/main/webapp/app/exam/exam-scores/exam-scores.component.html
  src/main/webapp/app/exam/exam-scores/exam-scores.component.ts
  src/main/webapp/app/exam/manage/student-exams/student-exam-detail.component.html
  src/main/webapp/app/exam/manage/student-exams/student-exam-detail.component.ts
  src/main/webapp/app/exam/participate/exam-participation.route.ts
  src/main/webapp/app/exam/participate/summary/points-summary/exam-points-summary.component.html
  src/main/webapp/app/exam/participate/summary/points-summary/exam-points-summary.component.ts
  src/main/webapp/app/grading-system/bonus/bonus.service.ts
  src/main/webapp/app/grading-system/grading-key-overview/grading-key-overview.component.html
  src/main/webapp/app/grading-system/grading-key-overview/grading-key-overview.component.ts
  src/main/webapp/app/shared/export/export-constants.ts
  src/main/webapp/app/shared/participant-scores/participant-scores-distribution/participant-scores-distribution.component.ts
  src/main/webapp/app/utils/navigation.utils.ts
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/de/gradingSystem.json
  src/main/webapp/i18n/en/exam.json
  src/main/webapp/i18n/en/gradingSystem.json
  src/test/java/de/tum/in/www1/artemis/ExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/StudentExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/CourseScoreCalculationServiceTest.java
  src/test/javascript/spec/component/exam/exam-scores/exam-scores.component.spec.ts
  src/test/javascript/spec/component/exam/manage/student-exams/student-exam-detail.component.spec.ts
  src/test/javascript/spec/component/grading-system/grading-key-overview.component.spec.ts
  src/test/javascript/spec/component/shared/participant-scores-distribution.component.spec.ts
  src/test/javascript/spec/service/bonus.service.spec.ts
Labels: tests, server, client, plagiarism detection, ready to merge

#5631 `Development`: Persist logs for 90 instead of 7 days.
  src/main/resources/config/application.yml
Labels: ready to merge, stale

#5680 `General`: Fix a bug that caused the first breadcrumb item to be two-lined in Safari
  src/main/webapp/app/shared/layouts/navbar/navbar.scss
Labels: ready for review, client, small, bugfix, user interface

#5562 `Programming exercises`: Fix the tooltip placement on the programming exercise timeline
  src/main/webapp/app/exercises/programming/shared/lifecycle/programming-exercise-lifecycle.component.html
  src/main/webapp/app/exercises/programming/shared/lifecycle/programming-exercise-test-schedule-date-picker.component.html
  src/main/webapp/app/exercises/programming/shared/lifecycle/programming-exercise-test-schedule-picker.scss
  src/main/webapp/app/shared/components/help-icon.component.ts
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/programmingExercise.json
Labels: client, small, bugfix, ready to merge

#5683 `Assessment`: Fix scheduler for participant scores
  src/main/java/de/tum/in/www1/artemis/repository/ParticipantScoreRepository.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/ParticipantScoreSchedulerService.java
Labels: ready for review, server, priority:high, bugfix

#5669 `Programming exercises`: Improve displaying the git-diff for large files
  src/main/webapp/app/exercises/programming/hestia/git-diff-report/git-diff-file.component.ts
Labels: client, small, bugfix, ready to merge

#5681 `Programming exercises`: Add more information to grading table
  src/main/webapp/app/exercises/programming/manage/grading/charts/test-case-distribution-chart.component.ts
  src/main/webapp/app/exercises/programming/manage/grading/programming-exercise-configure-grading.component.html
  src/main/webapp/app/exercises/programming/manage/grading/programming-exercise-configure-grading.component.ts
  src/main/webapp/app/shared/util/utils.ts
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/programmingExercise.json
  src/test/javascript/spec/component/programming-exercise/programming-exercise-configure-grading.component.spec.ts
Labels: tests, client, component:Programming, ready to merge

#5690 `General`: Improve exercise header
  src/main/webapp/app/course/manage/overview/course-management-exercise-row.component.ts
  src/main/webapp/app/exercises/shared/exercise-headers/header-exercise-page-with-details.component.html
  src/main/webapp/app/exercises/shared/exercise-headers/header-exercise-page-with-details.component.scss
  src/main/webapp/app/exercises/shared/exercise-headers/header-exercise-page-with-details.component.ts
  src/main/webapp/app/exercises/shared/exercise-headers/header-participation-page.component.html
  src/main/webapp/app/exercises/shared/exercise-headers/header-participation-page.component.ts
  src/main/webapp/i18n/de/assessmentType.json
  src/main/webapp/i18n/de/student-dashboard.json
  src/main/webapp/i18n/en/assessmentType.json
  src/main/webapp/i18n/en/student-dashboard.json
  src/test/javascript/spec/component/exercises/shared/headers/header-participation-page.component.spec.ts
Labels: tests, ready for review, client, small, user interface

#5687 `General`: Improve performance when deleting exercises
  src/main/java/de/tum/in/www1/artemis/domain/Exercise.java
  src/main/java/de/tum/in/www1/artemis/repository/BuildLogStatisticsEntryRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ComplaintRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ComplaintResponseRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ExamRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/LearningGoalRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ParticipantScoreRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/RatingRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/StudentExamRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/StudentParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/StudentScoreRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/TeamScoreRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/TutorParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/hestia/CoverageReportRepository.java
  src/main/java/de/tum/in/www1/artemis/service/AssessmentService.java
  src/main/java/de/tum/in/www1/artemis/service/ExerciseDeletionService.java
  src/main/java/de/tum/in/www1/artemis/service/ModelAssessmentKnowledgeService.java
  src/main/java/de/tum/in/www1/artemis/service/ParticipationService.java
  src/main/java/de/tum/in/www1/artemis/service/ResultService.java
  src/main/java/de/tum/in/www1/artemis/service/TextAssessmentKnowledgeService.java
  src/main/java/de/tum/in/www1/artemis/service/exam/ExamQuizService.java
  src/main/java/de/tum/in/www1/artemis/service/exam/ExamRegistrationService.java
  src/main/java/de/tum/in/www1/artemis/service/exam/StudentExamService.java
  src/main/java/de/tum/in/www1/artemis/service/listeners/ResultListener.java
  src/main/java/de/tum/in/www1/artemis/service/messaging/InstanceMessageReceiveService.java
  src/main/java/de/tum/in/www1/artemis/service/messaging/InstanceMessageSendService.java
  src/main/java/de/tum/in/www1/artemis/service/messaging/MainInstanceMessageSendService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/ParticipantScoreSchedulerService.java
  src/main/java/de/tum/in/www1/artemis/service/user/UserService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ParticipationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ResultResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/SubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TeamResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextAssessmentResource.java
  src/test/java/de/tum/in/www1/artemis/FileUploadExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/LearningGoalIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ModelingExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/StudentExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/TextExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/entitylistener/ResultListenerIntegrationTest.java
Labels: tests, ready for review, server, chore, priority:high, bugfix, performance
