Repository ls1intum/Artemis, pull requests merged in 2022-05, with the labels that each got.

#4997 `General`: Fix tooltips in course exercise row
  src/main/webapp/app/exercises/shared/exercise-headers/included-in-score-badge.component.html
  src/main/webapp/app/exercises/shared/exercise-headers/included-in-score-badge.component.scss
  src/main/webapp/app/exercises/shared/exercise-headers/included-in-score-badge.component.ts
  src/main/webapp/app/overview/course-exercises/course-exercise-row.component.html
  src/main/webapp/app/overview/course-exercises/course-exercise-row.scss
  src/main/webapp/app/shared/components/not-released-tag.component.html
  src/main/webapp/app/shared/components/not-released-tag.component.scss
  src/main/webapp/app/shared/components/not-released-tag.component.ts
Labels: client, small, ready to merge

#5004 `Development`: Fix missing error translations
  src/main/webapp/i18n/de/error.json
  src/main/webapp/i18n/en/error.json
Labels: client, bugfix, sentry-issue, ready to merge

#4985 `Assessment`: Display both percentage and point intervals when editing grade keys
  src/main/webapp/app/grading-system/interval-grading-system/interval-grading-system.component.html
Labels: client, small, ready to merge

#4969 `Programming exercises`: Fix test case issue indicator for task descriptions with brackets
  src/main/webapp/app/exercises/programming/manage/instructions-editor/analysis/programming-exercise-instruction-analysis.service.ts
Labels: client, small, ready to merge

#4839 `General`: Open routing via chart in new tab
  src/main/webapp/app/course/course-scores/course-scores.component.html
  src/main/webapp/app/course/course-scores/course-scores.component.ts
  src/main/webapp/app/exam/exam-scores/exam-scores-average-scores-graph.component.ts
  src/main/webapp/app/exam/exam-scores/exam-scores.component.ts
  src/main/webapp/app/exercises/programming/manage/grading/charts/sca-category-distribution-chart.component.ts
  src/main/webapp/app/exercises/programming/manage/grading/charts/test-case-distribution-chart.component.ts
  src/main/webapp/app/exercises/shared/dashboards/tutor/exercise-assessment-dashboard.component.ts
  src/main/webapp/app/overview/course-statistics/course-statistics.component.ts
  src/main/webapp/app/overview/visualizations/exercise-scores-chart/exercise-scores-chart.component.ts
  src/main/webapp/app/shared/statistics-graph/statistics-average-score-graph.component.ts
  src/main/webapp/app/utils/navigation.utils.ts
  src/test/javascript/spec/component/assessment-dashboard/exercise-assessment-dashboard.component.spec.ts
  src/test/javascript/spec/component/exam/exam-scores/exam-scores.component.spec.ts
  src/test/javascript/spec/component/overview/course-statistics/course-statistics.component.spec.ts
  src/test/javascript/spec/component/overview/course-statistics/visualizations/exercise-scores-chart.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/sca-category-distribution-chart.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/test-case-distribution-chart.component.spec.ts
  src/test/javascript/spec/component/statistics/statistics-average-score-graph.component.spec.ts
  src/test/javascript/spec/helpers/mocks/mock-router.ts
  src/test/javascript/spec/service/navigation-util.service.spec.ts
Labels: tests, client, ready to merge

#5016 `Development`: Move SAML2 docs to admin section
  docs/admin/saml2-shibboleth.rst
  docs/admin/saml2-shibboleth/SAML2-Filterchain.png
  docs/admin/saml2-shibboleth/SAML2-Login.png
  docs/admin/saml2-shibboleth/SAML2-Workflow.png
  docs/dev/cypress.rst
  docs/index.rst
  docs/user/exercises/programming-exercise-setup.inc
Labels: documentation, small, ready to merge

#5011 `Programming exercises`: Prevent test execution for SCA task for Gradle exercises
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/BambooBuildPlanService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsBuildPlanCreator.java
Labels: enhancement, server, component:Programming, ready to merge

#4794 `General`: Limit scope of active students line charts by course start and end date
  src/main/java/de/tum/in/www1/artemis/service/CourseService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/webapp/app/core/config/dayjs.ts
  src/main/webapp/app/course/manage/detail/course-detail-line-chart.component.html
  src/main/webapp/app/course/manage/detail/course-detail-line-chart.component.ts
  src/main/webapp/app/course/manage/overview/course-management-card.scss
  src/main/webapp/app/course/manage/overview/course-management-overview-statistics.component.html
  src/main/webapp/app/course/manage/overview/course-management-overview-statistics.component.ts
  src/main/webapp/app/shared/chart/active-students-chart.ts
  src/main/webapp/i18n/de/course.json
  src/main/webapp/i18n/de/statistics.json
  src/main/webapp/i18n/en/course.json
  src/main/webapp/i18n/en/statistics.json
  src/test/java/de/tum/in/www1/artemis/util/CourseTestService.java
  src/test/javascript/spec/component/course/course-management-overview-statistics.component.spec.ts
  src/test/javascript/spec/component/course/detail/course-detail-line-chart.component.spec.ts
Labels: tests, server, client, ready to merge

#4941 `Assessment`: Allow instructors to export course scores to an Excel file
  package-lock.json
  package.json
  src/main/webapp/app/course/course-scores/course-scores-csv-row-builder.ts
  src/main/webapp/app/course/course-scores/course-scores-excel-row-builder.ts
  src/main/webapp/app/course/course-scores/course-scores-row-builder.ts
  src/main/webapp/app/course/course-scores/course-scores.component.html
  src/main/webapp/app/course/course-scores/course-scores.component.ts
  src/main/webapp/app/course/course-scores/course-scores.module.ts
  src/main/webapp/app/shared/export/csv-export-modal.component.html
  src/main/webapp/app/shared/export/csv-export.module.ts
  src/main/webapp/app/shared/export/export-button.component.ts
  src/main/webapp/app/shared/export/export-modal.component.html
  src/main/webapp/app/shared/export/export-modal.component.scss
  src/main/webapp/app/shared/export/export-modal.component.ts
  src/main/webapp/app/shared/export/export.module.ts
  src/main/webapp/i18n/de/export.json
  src/main/webapp/i18n/en/export.json
  src/test/javascript/spec/component/course/course-scores/course-scores-csv-row-builder.spec.ts
  src/test/javascript/spec/component/course/course-scores/course-scores-excel-row-builder.spec.ts
  src/test/javascript/spec/component/course/course-scores/course-scores.component.spec.ts
  src/test/javascript/spec/component/shared/export/export-button.component.spec.ts
  src/test/javascript/spec/component/shared/export/export-modal.component.spec.ts
Labels: tests, client, ready to merge

#4840 `Assessment`: Add a dropdown menu for structured grading instructions
  src/main/webapp/app/exercises/text/assess/manual-textblock-selection/manual-textblock-selection.component.html
  src/main/webapp/app/exercises/text/assess/manual-textblock-selection/manual-textblock-selection.component.ts
  src/main/webapp/app/exercises/text/assess/text-assessment-area/text-assessment-area.component.html
  src/main/webapp/app/exercises/text/assess/text-assessment-area/text-assessment-area.component.ts
  src/main/webapp/app/exercises/text/assess/text-submission-assessment.component.html
  src/main/webapp/app/exercises/text/assess/text-submission-assessment.module.ts
  src/main/webapp/app/exercises/text/assess/textblock-assessment-card/textblock-assessment-card.component.html
  src/main/webapp/app/exercises/text/assess/textblock-assessment-card/textblock-assessment-card.component.ts
  src/main/webapp/app/exercises/text/assess/textblock-feedback-editor/dropdown/textblock-feedback-dropdown.component.html
  src/main/webapp/app/exercises/text/assess/textblock-feedback-editor/dropdown/textblock-feedback-dropdown.component.scss
  src/main/webapp/app/exercises/text/assess/textblock-feedback-editor/dropdown/textblock-feedback-dropdown.component.ts
  src/main/webapp/app/exercises/text/assess/textblock-feedback-editor/textblock-feedback-editor.component.html
  src/main/webapp/app/exercises/text/assess/textblock-feedback-editor/textblock-feedback-editor.component.scss
  src/main/webapp/app/exercises/text/assess/textblock-feedback-editor/textblock-feedback-editor.component.ts
  src/test/javascript/spec/component/text-submission-assessment/textblock-feedback-dropdown.component.spec.ts
  src/test/javascript/spec/component/text-submission-assessment/textblock-feedback-editor.component.spec.ts
Labels: enhancement, tests, ready for review, client, component:Text

#4987 `Assessment`: Fix an issue during subsequent saving of text exercise assessments
  src/main/java/de/tum/in/www1/artemis/service/AssessmentService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextAssessmentResource.java
  src/test/java/de/tum/in/www1/artemis/AbstractSpringIntegrationBambooBitbucketJiraTest.java
  src/test/java/de/tum/in/www1/artemis/TextAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/AbstractArtemisIntegrationTest.java
Labels: tests, server, code quality, small, bugfix, ready to merge

#4822 `Quiz exercises`: Add single choice mode for multiple choice questions
  src/main/java/de/tum/in/www1/artemis/domain/quiz/MultipleChoiceQuestion.java
  src/main/resources/config/liquibase/changelog/20220325001500_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/entities/quiz/multiple-choice-question.model.ts
  src/main/webapp/app/exercises/quiz/manage/multiple-choice-question/multiple-choice-question-edit.component.html
  src/main/webapp/app/exercises/quiz/manage/multiple-choice-question/multiple-choice-question-edit.component.ts
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise-validation.directive.ts
  src/main/webapp/app/exercises/quiz/shared/questions/multiple-choice-question/multiple-choice-question.component.html
  src/main/webapp/app/exercises/quiz/shared/questions/multiple-choice-question/multiple-choice-question.component.ts
  src/main/webapp/app/exercises/quiz/shared/questions/quiz-scoring-infostudent-modal/quiz-scoring-info-student-modal.component.html
  src/main/webapp/app/exercises/quiz/shared/questions/quiz-scoring-infostudent-modal/quiz-scoring-info-student-modal.component.ts
  src/main/webapp/i18n/de/multipleChoiceQuestion.json
  src/main/webapp/i18n/de/quizExercise.json
  src/main/webapp/i18n/de/quizQuestion.json
  src/main/webapp/i18n/en/multipleChoiceQuestion.json
  src/main/webapp/i18n/en/quizExercise.json
  src/main/webapp/i18n/en/quizQuestion.json
  src/test/java/de/tum/in/www1/artemis/QuizExerciseIntegrationTest.java
  src/test/javascript/spec/component/multiple-choice-question/multiple-choice-question.component.spec.ts
  src/test/javascript/spec/component/quiz-exercise/quiz-exercise-detail.component.spec.ts
Labels: feature, tests, ready for review, server, client, component:Quiz, database

#5010 `Lectures`: Fix display of exercise lecture units
  src/main/java/de/tum/in/www1/artemis/domain/lecture/ExerciseUnit.java
  src/main/java/de/tum/in/www1/artemis/web/rest/lecture/LectureUnitResource.java
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/lectureUnit.service.ts
  src/test/java/de/tum/in/www1/artemis/LectureUnitIntegrationTest.java
Labels: tests, server, client, priority:high, bugfix, ready to merge

#5009 `Modeling exercises`: Fix missing references to the grading instructions from feedbacks when importing
  src/main/java/de/tum/in/www1/artemis/domain/Exercise.java
  src/main/java/de/tum/in/www1/artemis/service/ExampleSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/ExerciseImportService.java
  src/main/java/de/tum/in/www1/artemis/service/ModelingExerciseImportService.java
  src/main/java/de/tum/in/www1/artemis/service/TextExerciseImportService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseImportService.java
  src/test/java/de/tum/in/www1/artemis/ModelingExerciseIntegrationTest.java
Labels: tests, server, ready to merge

#5018 `General`: Show invalid input in forms related to user management
  src/main/webapp/app/account/password-reset/finish/password-reset-finish.component.html
  src/main/webapp/app/account/password/password.component.html
  src/main/webapp/app/admin/user-management/user-management-update.component.html
  src/main/webapp/app/admin/user-management/user-management-update.component.ts
  src/main/webapp/i18n/de/user-management.json
  src/main/webapp/i18n/en/user-management.json
  src/test/javascript/spec/component/admin/user-management-update.component.spec.ts
Labels: enhancement, tests, client, bugfix, ready to merge

#5042 `General`: Fix several issues in the new dark mode
  package-lock.json
  package.json
  src/main/webapp/app/core/theme/theme-switch.component.html
  src/main/webapp/app/core/theme/theme-switch.component.ts
  src/main/webapp/app/exercises/programming/shared/instructions-render/step-wizard/programming-exercise-instruction-step-wizard.component.html
  src/main/webapp/app/exercises/programming/shared/instructions-render/step-wizard/programming-exercise-instruction-step-wizard.scss
  src/main/webapp/app/overview/course-lectures/course-lecture-details.component.html
  src/main/webapp/app/shared/layouts/navbar/navbar.component.html
  src/main/webapp/app/shared/layouts/navbar/navbar.component.ts
  src/main/webapp/content/scss/themes/_dark-variables.scss
  src/main/webapp/content/scss/themes/_default-variables.scss
  src/main/webapp/content/scss/themes/theme-dark.scss
  src/test/javascript/spec/component/programming-exercise/programming-exercise-instruction.component.spec.ts
Labels: tests, client, small, bugfix, ready to merge, dark mode

#5065 `Quiz exercises`: Do not allow to join quiz batches that are already over
  src/main/java/de/tum/in/www1/artemis/service/QuizBatchService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/QuizExerciseResource.java
  src/test/java/de/tum/in/www1/artemis/QuizExerciseIntegrationTest.java
Labels: bug, tests, server, component:Quiz, java, priority:high, small, ready to merge

#5077 `General`: Adjust editor theme and assessment line overlay color
  src/main/webapp/app/core/theme/theme.service.ts
  src/main/webapp/app/exercises/programming/shared/code-editor/ace/code-editor-ace.scss
  src/main/webapp/content/scss/themes/_dark-variables.scss
  src/main/webapp/content/scss/themes/_default-variables.scss
  src/main/webapp/content/scss/themes/theme-dark.scss
Labels: client, small, bugfix, ready to merge, dark mode

#5063 `Modeling exercises`: Prevent UI jumps when using Apollon in Safari
  src/main/webapp/app/exercises/modeling/shared/modeling-editor.component.ts
Labels: client, bugfix, ready to merge

#5034 `Quiz exercises`: Disable navigation to quiz exercise detail page when the quiz is active
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise.component.html
Labels: client, small, ready to merge

#5032 `Exam mode`: Fix the checkbox in the start and end confirmation screen
  src/main/webapp/app/exam/participate/exam-cover/exam-participation-cover.component.html
Labels: client, small, bugfix, ready to merge

#5031 `Exam mode`: Fix missing tutor comments in the second correction round
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingSubmissionResource.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingSubmissionIntegrationTest.java
Labels: tests, server, small, bugfix, ready to merge

#4967 `General`: Add exam mode and feature overview docs for exam checklist and grading keys
  docs/user/exams/instructor/buttons/add_grade_step.png
  docs/user/exams/instructor/buttons/generate_default_grade_key.png
  docs/user/exams/instructor/buttons/grade_key.png
  docs/user/exams/instructor/buttons/import_export.png
  docs/user/exams/instructor/exam_checklist.png
  docs/user/exams/instructor/exam_checklist_overview.png
  docs/user/exams/instructor/grade_key_editor.png
  docs/user/exams/instructors_guide.rst
  docs/user/exams/student/buttons/view_grade_key.png
  docs/user/exams/student/student_grade.png
  docs/user/exams/student/student_grade_key.png
  docs/user/exams/students_guide.rst
  src/main/webapp/app/feature-overview/feature-overview.component.html
  src/main/webapp/app/feature-overview/feature-overview.component.ts
  src/main/webapp/content/images/feature-overview/instructors/exam_checklist.png
  src/main/webapp/content/images/feature-overview/instructors/exam_checklist_overview.png
  src/main/webapp/content/images/feature-overview/instructors/grade_key_editor.png
  src/main/webapp/content/images/feature-overview/students/student_grade_key.png
  src/main/webapp/i18n/de/featureOverview.json
  src/main/webapp/i18n/en/featureOverview.json
Labels: client, ready to merge

#5080 `General`: Fix missing images in exam grading documentation
  docs/user/exams/students_guide.rst
Labels: documentation, exam mode, small, ready to merge

#5072 `General`: Fix ordered list formatting command in the Markdown editor
  src/main/webapp/app/shared/markdown-editor/commands/orderedListCommand.ts
  src/test/javascript/spec/component/markdown-editor/ordered-list-command.spec.ts
Labels: tests, client, component:MarkdownEditor, small, bugfix, ready to merge

#5070 `General`: Update contributor list on about us page
  src/main/resources/public/content/about-us.json
  src/main/resources/public/images/about/Ali_Canberk_Anar.jpg
  src/main/resources/public/images/about/Ata_Kesfeden.jpg
  src/main/resources/public/images/about/Dominik_Weinzierl.png
  src/main/resources/public/images/about/Georg_Willer.jpg
  src/main/resources/public/images/about/Michael_Allgaier.jpg
  src/main/resources/public/images/about/Ole_Vester.jpg
  src/main/resources/public/images/about/Patrick_Bassner.jpg
  src/main/resources/public/images/about/Swornim_Shrestha.png
  src/main/resources/public/images/about/Timor_Morrien.jpg
  src/main/resources/public/images/about/Valerie_Bucher.png
  src/main/webapp/app/core/about-us/about-us.component.ts
  src/main/webapp/app/core/about-us/models/contributor-model.ts
  src/test/javascript/spec/component/about-us/about-us.component.spec.ts
  webpack/proxy.conf.js
Labels: tests, client, ready to merge

#5069 `Assessment`: Allow instructors to export exam scores to an Excel file
  src/main/webapp/app/course/course-scores/course-scores-csv-row-builder.ts
  src/main/webapp/app/course/course-scores/course-scores.component.ts
  src/main/webapp/app/exam/exam-scores/exam-scores.component.html
  src/main/webapp/app/exam/exam-scores/exam-scores.component.ts
  src/main/webapp/app/exam/exam-scores/exam-scores.module.ts
  src/main/webapp/app/shared/export/csv-export-row-builder.ts
  src/main/webapp/app/shared/export/excel-export-row-builder.ts
  src/main/webapp/app/shared/export/export-constants.ts
  src/main/webapp/app/shared/export/export-row-builder.ts
  src/test/javascript/spec/component/course/course-group.component.spec.ts
  src/test/javascript/spec/component/course/course-scores/course-scores.component.spec.ts
  src/test/javascript/spec/component/exam/exam-scores/exam-scores.component.spec.ts
  src/test/javascript/spec/component/shared/export/csv-export-row-builder.spec.ts
  src/test/javascript/spec/component/shared/export/excel-export-row-builder.spec.ts
Labels: tests, client, ready to merge

#5055 `Quiz exercises`: Improve quiz edit page and quiz exercises datatable
  src/main/java/de/tum/in/www1/artemis/domain/quiz/QuizExercise.java
  src/main/java/de/tum/in/www1/artemis/web/rest/QuizExerciseResource.java
  src/main/webapp/app/entities/quiz/quiz-exercise.model.ts
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise-detail.component.html
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise-detail.component.ts
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise.component.html
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise.service.ts
  src/main/webapp/app/exercises/quiz/participate/quiz-participation.component.html
  src/main/webapp/i18n/de/quizExercise.json
  src/main/webapp/i18n/en/quizExercise.json
  src/test/java/de/tum/in/www1/artemis/QuizExerciseIntegrationTest.java
  src/test/javascript/spec/component/quiz-exercise/quiz-exercise-detail.component.spec.ts
  src/test/javascript/spec/service/quiz-exercise.service.spec.ts
Labels: tests, server, client, ready to merge

#5079 `Quiz exercises`: Fix re-evaluate for batched and individual mode quizzes
  src/main/java/de/tum/in/www1/artemis/domain/quiz/QuizExercise.java
  src/main/java/de/tum/in/www1/artemis/web/rest/QuizExerciseResource.java
Labels: server, component:Quiz, small, bugfix, ready to merge

#5082 `Programming exercises`: Improve code assessment editor colors
  src/main/webapp/app/app.main.ts
  src/main/webapp/app/exercises/programming/assess/code-editor-tutor-assessment-container.component.ts
  src/main/webapp/app/exercises/programming/shared/code-editor/ace/code-editor-ace.component.ts
  src/main/webapp/app/exercises/programming/shared/code-editor/ace/code-editor-ace.scss
  src/main/webapp/app/shared/util/map.extension.ts
  src/main/webapp/content/scss/themes/_dark-variables.scss
  src/main/webapp/content/scss/themes/_default-variables.scss
  src/main/webapp/content/scss/themes/theme-dark.scss
  src/test/javascript/spec/jest-test-setup.ts
Labels: enhancement, tests, ready for review, client, component:Programming, small, ready to merge

#5078 `Quiz exercises`: Require a confirmation when ending quiz exercises
  src/main/java/de/tum/in/www1/artemis/web/rest/QuizExerciseResource.java
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise.component.html
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise.component.ts
  src/main/webapp/app/shared/delete-dialog/delete-dialog.component.html
  src/main/webapp/app/shared/delete-dialog/delete-dialog.model.ts
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/de/quizExercise.json
  src/main/webapp/i18n/en/global.json
  src/main/webapp/i18n/en/quizExercise.json
Labels: ready for review, server, client, component:Quiz, ready to merge

#5035 `Assessment`: Improve the manual text selection for tutors
  src/main/webapp/app/exercises/text/assess/manual-textblock-selection/manual-textblock-selection.component.html
  src/main/webapp/app/exercises/text/assess/manual-textblock-selection/manual-textblock-selection.component.ts
  src/main/webapp/app/exercises/text/shared/manual-text-selection/manual-text-selection.component.html
  src/main/webapp/app/exercises/text/shared/manual-text-selection/manual-text-selection.component.scss
  src/main/webapp/app/exercises/text/shared/manual-text-selection/manual-text-selection.component.ts
  src/main/webapp/content/scss/themes/_dark-variables.scss
  src/main/webapp/content/scss/themes/_default-variables.scss
  src/main/webapp/i18n/de/textAssessment.json
  src/main/webapp/i18n/en/textAssessment.json
  src/test/javascript/spec/component/text-submission-assessment/manual-textblock-selection.component.spec.ts
  src/test/javascript/spec/component/text/manual-text-selection.component.spec.ts
Labels: enhancement, tests, client, component:Text, ready to merge

#5084 `General`: Show missing user management fields
  src/main/webapp/app/admin/user-management/user-management-update.component.html
  src/main/webapp/app/admin/user-management/user-management-update.component.ts
Labels: client, bugfix, ready to merge

#5107 `General`: Fix two issues in the dark mode
  src/main/webapp/content/scss/themes/_dark-variables.scss
  src/main/webapp/content/scss/themes/theme-dark.scss
Labels: client, small, bugfix, ready to merge, dark mode

#5085 `Exam mode`: Center summary on wide screens
  src/main/webapp/app/exam/participate/summary/exam-participation-summary.component.html
  src/main/webapp/app/exam/participate/summary/exam-participation-summary.component.scss
  src/main/webapp/app/exam/participate/summary/exam-participation-summary.component.ts
  src/main/webapp/app/exam/participate/summary/points-summary/exam-points-summary.component.html
Labels: client, small, bugfix, ready to merge

#5019 `General`: Improve student statistics layout, show learning goals to students again and align colors on course overview
  src/main/webapp/app/exercises/shared/statistics/doughnut-chart.component.ts
  src/main/webapp/app/overview/course-card.component.ts
  src/main/webapp/app/overview/course-learning-goals/course-learning-goals.component.html
  src/main/webapp/app/overview/course-learning-goals/course-learning-goals.component.ts
  src/main/webapp/app/overview/course-overview.scss
  src/main/webapp/app/overview/course-statistics/course-statistics.component.html
  src/main/webapp/app/overview/course-statistics/course-statistics.component.ts
  src/main/webapp/app/overview/visualizations/exercise-scores-chart/exercise-scores-chart.component.html
  src/main/webapp/app/overview/visualizations/exercise-scores-chart/exercise-scores-chart.component.scss
  src/main/webapp/i18n/de/student-dashboard.json
  src/main/webapp/i18n/en/student-dashboard.json
  src/test/javascript/spec/component/learning-goals/course-learning-goals.component.spec.ts
  src/test/javascript/spec/component/overview/course-statistics/course-statistics.component.spec.ts
Labels: tests, client, ready to merge

#5094 `Discussion`: Improve emoji-bar and answer option design
  src/main/webapp/app/shared/metis/post/post.component.html
  src/main/webapp/app/shared/metis/post/post.component.ts
  src/main/webapp/app/shared/metis/posting-footer/post-footer/post-footer.component.html
  src/main/webapp/app/shared/metis/posting-footer/post-footer/post-footer.component.ts
  src/main/webapp/app/shared/metis/posting-reactions-bar/answer-post-reactions-bar/answer-post-reactions-bar.component.html
  src/main/webapp/app/shared/metis/posting-reactions-bar/post-reactions-bar/post-reactions-bar.component.html
  src/main/webapp/app/shared/metis/posting-reactions-bar/post-reactions-bar/post-reactions-bar.component.ts
  src/main/webapp/app/shared/metis/posting-reactions-bar/posting-reactions-bar.component.ts
  src/main/webapp/app/shared/metis/posting-thread/posting-thread.component.html
  src/main/webapp/app/shared/metis/posting-thread/posting-thread.component.ts
  src/test/javascript/spec/component/shared/metis/postings-footer/post-footer/post-footer.component.spec.ts
  src/test/javascript/spec/component/shared/metis/postings-reactions-bar/post-reactions-bar/post-reactions-bar.component.spec.ts
  src/test/javascript/spec/component/shared/metis/postings-thread/postings-thread.component.spec.ts
  src/test/javascript/spec/helpers/sample/metis-sample-data.ts
Labels: tests, client, ready to merge, discussion

#4955 `Programming exercises`: Generate solution entries for behavioral test cases
  src/main/java/de/tum/in/www1/artemis/domain/hestia/ProgrammingExerciseSolutionEntry.java
  src/main/java/de/tum/in/www1/artemis/service/hestia/ProgrammingExerciseGitDiffReportService.java
  src/main/java/de/tum/in/www1/artemis/service/hestia/behavioral/BehavioralBlackboard.java
  src/main/java/de/tum/in/www1/artemis/service/hestia/behavioral/BehavioralSolutionEntryGenerationException.java
  src/main/java/de/tum/in/www1/artemis/service/hestia/behavioral/BehavioralTestCaseService.java
  src/main/java/de/tum/in/www1/artemis/service/hestia/behavioral/GroupedFile.java
  src/main/java/de/tum/in/www1/artemis/service/hestia/behavioral/knowledgesource/AddUncoveredLinesAsPotentialCodeBlocks.java
  src/main/java/de/tum/in/www1/artemis/service/hestia/behavioral/knowledgesource/BehavioralKnowledgeSource.java
  src/main/java/de/tum/in/www1/artemis/service/hestia/behavioral/knowledgesource/CombineChangeBlocks.java
  src/main/java/de/tum/in/www1/artemis/service/hestia/behavioral/knowledgesource/CreateCommonChangeBlocks.java
  src/main/java/de/tum/in/www1/artemis/service/hestia/behavioral/knowledgesource/CreateSolutionEntries.java
  src/main/java/de/tum/in/www1/artemis/service/hestia/behavioral/knowledgesource/ExtractChangedLines.java
  src/main/java/de/tum/in/www1/artemis/service/hestia/behavioral/knowledgesource/ExtractCoveredLines.java
  src/main/java/de/tum/in/www1/artemis/service/hestia/behavioral/knowledgesource/FindCommonLines.java
  src/main/java/de/tum/in/www1/artemis/service/hestia/behavioral/knowledgesource/GroupGitDiffAndCoverageEntriesByFilePathAndTestCase.java
  src/main/java/de/tum/in/www1/artemis/service/hestia/behavioral/knowledgesource/InsertFileContents.java
  src/main/java/de/tum/in/www1/artemis/web/rest/hestia/ProgrammingExerciseSolutionEntryResource.java
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.html
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.ts
  src/main/webapp/app/exercises/programming/manage/services/programming-exercise.service.ts
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/programmingExercise.json
  src/test/java/de/tum/in/www1/artemis/hestia/behavioral/AddUncoveredLinesAsPotentialCodeBlocksTest.java
  src/test/java/de/tum/in/www1/artemis/hestia/behavioral/BehavioralTestCaseServiceTest.java
  src/test/java/de/tum/in/www1/artemis/hestia/behavioral/CombineChangeBlocksTest.java
  src/test/java/de/tum/in/www1/artemis/hestia/behavioral/CreateCommonChangeBlocksTest.java
  src/test/java/de/tum/in/www1/artemis/hestia/behavioral/CreateSolutionEntriesTest.java
  src/test/java/de/tum/in/www1/artemis/hestia/behavioral/ExtractChangedLinesTest.java
  src/test/java/de/tum/in/www1/artemis/hestia/behavioral/ExtractCoveredLinesTest.java
  src/test/java/de/tum/in/www1/artemis/hestia/behavioral/FindCommonLinesTest.java
  src/test/java/de/tum/in/www1/artemis/hestia/behavioral/GroupGitDiffAndCoverageEntriesByFilePathAndTestCaseTest.java
  src/test/java/de/tum/in/www1/artemis/hestia/behavioral/InsertFileContentsTest.java
  src/test/javascript/spec/component/programming-exercise/programming-exercise-detail.component.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-programming-exercise.service.ts
  src/test/javascript/spec/service/programming-exercise.service.spec.ts
Labels: tests, ready for review, server, client, ready to merge

#5099 `Lectures`: Fix race condition when re-ordering lecture units
  src/main/java/de/tum/in/www1/artemis/domain/lecture/LectureUnit.java
  src/main/java/de/tum/in/www1/artemis/service/LectureImportService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/lecture/AttachmentUnitResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/lecture/TextUnitResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/lecture/VideoUnitResource.java
  src/test/java/de/tum/in/www1/artemis/AttachmentUnitIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/TextUnitIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/VideoUnitIntegrationTest.java
Labels: tests, server, bugfix, ready to merge

#5123 `General`: Fix a dark mode issue with complaint results and focus-visible dropdowns
  src/main/webapp/app/complaints/complaints-for-tutor/complaints-for-tutor.component.html
  src/main/webapp/app/complaints/request/complaint-request.component.html
  src/main/webapp/content/scss/global.scss
  src/main/webapp/content/scss/themes/theme-dark.scss
Labels: client, small, bugfix, ready to merge, dark mode

#5086 `Programming exercises`: Store the used branch in the database
  src/main/java/de/tum/in/www1/artemis/domain/ProgrammingExercise.java
  src/main/java/de/tum/in/www1/artemis/domain/participation/ProgrammingExerciseStudentParticipation.java
  src/main/java/de/tum/in/www1/artemis/service/ParticipationService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/AbstractVersionControlService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/BitbucketBambooUpdateService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/ContinuousIntegrationService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/ContinuousIntegrationUpdateService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/VersionControlService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/BambooBuildPlanService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/BambooService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bitbucket/BitbucketService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/gitlab/GitLabService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseImportService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseParticipationService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/repository/RepositoryProgrammingExerciseParticipationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/repository/RepositoryResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/repository/TestRepositoryResource.java
  src/main/resources/config/liquibase/changelog/20220513194100_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/test/java/de/tum/in/www1/artemis/GitlabServiceTest.java
  src/test/java/de/tum/in/www1/artemis/TestRepositoryResourceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/connector/BitbucketRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseIntegrationTestService.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseTestService.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingSubmissionAndResultBitbucketBambooIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/RepositoryIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/BitbucketServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/ParticipationServiceTest.java
Labels: tests, server, component:Programming, database, jenkins/gitlab, bamboo/bitbucket, priority:high, ready to merge

#5105 `General`: Fix active students charts with limited scope
  src/main/java/de/tum/in/www1/artemis/service/CourseService.java
  src/main/webapp/app/shared/chart/active-students-chart.ts
  src/test/java/de/tum/in/www1/artemis/util/CourseTestService.java
Labels: tests, ready for review, server, client

#5124 `Assessment`: Show point deduction directly in the text feedback component
  src/main/webapp/app/exercises/text/participate/text-editor.component.html
  src/main/webapp/app/exercises/text/participate/text-result/text-result.component.html
  src/main/webapp/app/exercises/text/participate/text-result/text-result.component.scss
  src/main/webapp/app/exercises/text/participate/text-result/text-result.component.ts
  src/main/webapp/app/shared/additional-feedback/additional-feedback.component.html
  src/main/webapp/app/shared/additional-feedback/additional-feedback.component.scss
  src/main/webapp/app/shared/additional-feedback/additional-feedback.component.ts
  src/main/webapp/i18n/de/assessment.json
  src/main/webapp/i18n/de/textAssessment.json
  src/main/webapp/i18n/en/assessment.json
  src/main/webapp/i18n/en/textAssessment.json
  src/test/cypress/support/pageobjects/exercises/AbstractExerciseFeedbackPage.ts
  src/test/javascript/spec/component/shared/additional-feedback.component.spec.ts
  src/test/javascript/spec/component/text-result/text-result.component.spec.ts
Labels: tests, ready for review, client, small, cypress

#5134 `Discussion`: Improve design of posting headers and footers
  src/main/webapp/app/shared/metis/answer-post/answer-post.component.html
  src/main/webapp/app/shared/metis/answer-post/answer-post.component.ts
  src/main/webapp/app/shared/metis/metis.component.scss
  src/main/webapp/app/shared/metis/metis.service.ts
  src/main/webapp/app/shared/metis/post.service.ts
  src/main/webapp/app/shared/metis/posting-footer/answer-post-footer/answer-post-footer.component.html
  src/main/webapp/app/shared/metis/posting-footer/answer-post-footer/answer-post-footer.component.ts
  src/main/webapp/app/shared/metis/posting-footer/post-footer/post-footer.component.html
  src/main/webapp/app/shared/metis/posting-footer/post-footer/post-footer.component.ts
  src/main/webapp/app/shared/metis/posting-header/answer-post-header/answer-post-header.component.html
  src/main/webapp/app/shared/metis/posting-header/post-header/post-header.component.html
  src/main/webapp/app/shared/metis/posting-reactions-bar/answer-post-reactions-bar/answer-post-reactions-bar.component.html
  src/main/webapp/app/shared/metis/posting-reactions-bar/answer-post-reactions-bar/answer-post-reactions-bar.component.ts
  src/main/webapp/app/shared/metis/posting-reactions-bar/post-reactions-bar/post-reactions-bar.component.html
  src/main/webapp/app/shared/metis/posting-reactions-bar/posting-reactions-bar.component.ts
  src/test/javascript/spec/component/shared/metis/postings-footer/post-footer/post-footer.component.spec.ts
  src/test/javascript/spec/component/shared/metis/postings-reactions-bar/answer-post-reactions-bar/answer-post-reactions-bar.component.spec.ts
  src/test/javascript/spec/component/shared/metis/postings-reactions-bar/post-reactions-bar/post-reactions-bar.component.spec.ts
Labels: tests, client, ready to merge

#5111 `General`: Select entire line when using ordered/unordered lists in the Markdown editor
  src/main/webapp/app/shared/markdown-editor/commands/command.ts
  src/main/webapp/app/shared/markdown-editor/commands/orderedListCommand.ts
  src/main/webapp/app/shared/markdown-editor/commands/unorderedListCommand.ts
  src/test/javascript/spec/component/markdown-editor/unordered-list-command.spec.ts
Labels: enhancement, tests, client, component:MarkdownEditor, small, ready to merge

#5098 `Development`: Replace deprecated Angular component factory
  src/main/webapp/app/exercises/programming/shared/instructions-render/extensions/programming-exercise-task.extension.ts
  src/main/webapp/app/exercises/programming/shared/instructions-render/programming-exercise-instruction.component.ts
Labels: client, chore, component:Programming, priority:low, refactoring, ready to merge

#5153 `Discussion`: Replace answer popup with in-place message
  src/main/webapp/app/shared/markdown-editor/markdown-editor.component.ts
  src/main/webapp/app/shared/metis/answer-post/answer-post.component.html
  src/main/webapp/app/shared/metis/answer-post/answer-post.component.ts
  src/main/webapp/app/shared/metis/post/post.component.ts
  src/main/webapp/app/shared/metis/posting-create-edit-modal/answer-post-create-edit-modal/answer-post-create-edit-modal.component.html
  src/main/webapp/app/shared/metis/posting-create-edit-modal/answer-post-create-edit-modal/answer-post-create-edit-modal.component.scss
  src/main/webapp/app/shared/metis/posting-create-edit-modal/answer-post-create-edit-modal/answer-post-create-edit-modal.component.ts
  src/main/webapp/app/shared/metis/posting-create-edit-modal/post-create-edit-modal/post-create-edit-modal.component.ts
  src/main/webapp/app/shared/metis/posting-create-edit-modal/posting-create-edit-modal.directive.ts
  src/main/webapp/app/shared/metis/posting-footer/post-footer/post-footer.component.html
  src/main/webapp/app/shared/metis/posting-footer/post-footer/post-footer.component.ts
  src/main/webapp/app/shared/metis/posting-header/answer-post-header/answer-post-header.component.html
  src/main/webapp/app/shared/metis/posting-header/answer-post-header/answer-post-header.component.ts
  src/main/webapp/app/shared/metis/posting-markdown-editor/posting-markdown-editor.component.html
  src/main/webapp/app/shared/metis/posting-markdown-editor/posting-markdown-editor.component.ts
  src/main/webapp/i18n/de/metis.json
  src/main/webapp/i18n/en/metis.json
  src/test/javascript/spec/component/shared/metis/answer-post/answer-post.component.spec.ts
  src/test/javascript/spec/component/shared/metis/postings-create-edit-modal/answer-post-create-edit-modal/answer-post-create-edit-modal.component.spec.ts
  src/test/javascript/spec/component/shared/metis/postings-create-edit-modal/post-create-edit-modal/post-create-edit-modal.component.spec.ts
  src/test/javascript/spec/component/shared/metis/postings-footer/post-footer/post-footer.component.spec.ts
  src/test/javascript/spec/component/shared/metis/postings-header/answer-post-header/answer-post-header.component.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-view-container-ref.service.ts
Labels: tests, client, ready to merge

#5143 `General`: Add start and end date validation for courses
  src/main/java/de/tum/in/www1/artemis/domain/Course.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/webapp/app/course/manage/course-update.component.html
  src/main/webapp/app/course/manage/course-update.component.ts
  src/main/webapp/i18n/de/course.json
  src/main/webapp/i18n/en/course.json
  src/test/java/de/tum/in/www1/artemis/CourseBitbucketBambooJiraIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/CourseGitlabJenkinsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/CourseTestService.java
  src/test/javascript/spec/component/course/course-update.component.spec.ts
Labels: tests, server, client, small, bugfix, ready to merge

#4983 `Development`: Validate example solution publication date
  src/main/java/de/tum/in/www1/artemis/domain/BaseExercise.java
  src/main/java/de/tum/in/www1/artemis/domain/Exercise.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseResource.java
  src/main/webapp/app/entities/exercise.model.ts
  src/main/webapp/app/exercises/file-upload/manage/file-upload-exercise-update.component.html
  src/main/webapp/app/exercises/file-upload/manage/file-upload-exercise-update.component.ts
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise-update.component.html
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise-update.component.ts
  src/main/webapp/app/exercises/programming/manage/programming-exercise-edit-selected.component.ts
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.ts
  src/main/webapp/app/exercises/programming/shared/lifecycle/programming-exercise-lifecycle.component.html
  src/main/webapp/app/exercises/programming/shared/lifecycle/programming-exercise-lifecycle.component.ts
  src/main/webapp/app/exercises/shared/exercise/exercise.service.ts
  src/main/webapp/app/exercises/shared/exercise/exercise.utils.ts
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise-update.component.html
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise-update.component.ts
  src/main/webapp/i18n/de/exercise.json
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/exercise.json
  src/main/webapp/i18n/en/programmingExercise.json
  src/test/cypress/fixtures/requests/modelingExercise_template.json
  src/test/cypress/fixtures/requests/programming_exercise_template.json
  src/test/cypress/fixtures/requests/textExercise_template.json
  src/test/java/de/tum/in/www1/artemis/FileUploadExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ModelingExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/TextExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseBitbucketBambooIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseGitlabJenkinsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseIntegrationTestService.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseTestService.java
  src/test/javascript/spec/component/programming-exercise/programming-exercise-lifecycle.component.spec.ts
  src/test/javascript/spec/service/exercise.service.spec.ts
Labels: tests, server, client, cypress, ready to merge

#5146 `Development`: Reduce number of server log messages for modeling submission updates
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingSubmissionResource.java
Labels: enhancement, server, component:Modeling, small, ready to merge

#5163 `Quiz exercises`: Improve performance when saving submissions in synchronized quizzes
  src/main/java/de/tum/in/www1/artemis/domain/Result.java
  src/main/java/de/tum/in/www1/artemis/service/QuizExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/QuizSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/exam/ExamQuizService.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/quiz/QuizCache.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/quiz/QuizScheduleService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/QuizSubmissionResource.java
  src/test/k6/ExamAPIs.js
  src/test/k6/requests/quiz.js
Labels: tests, ready for review, server, performance, ready to merge

#5154 `Quiz exercises`: Improve performance by reducing unnecessary database calls related to quiz batches
  src/main/java/de/tum/in/www1/artemis/domain/quiz/QuizBatch.java
  src/main/java/de/tum/in/www1/artemis/domain/quiz/QuizExercise.java
  src/main/java/de/tum/in/www1/artemis/domain/quiz/QuizSubmission.java
  src/main/java/de/tum/in/www1/artemis/repository/QuizBatchRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/QuizExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/QuizBatchService.java
  src/main/java/de/tum/in/www1/artemis/service/exam/ExamQuizService.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/quiz/QuizScheduleService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ParticipationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/QuizExerciseResource.java
  src/test/cypress/support/requests/CourseManagementRequests.ts
Labels: tests, ready for review, server, component:Quiz, priority:high, performance, cypress

#5170 `Development`: Update Apollon version
  package-lock.json
  package.json
Labels: dependencies

#5167 `Discussion`: Add search and filtering to exercise and lecture discussion tabs
  src/main/webapp/app/overview/course-discussion/course-discussion.component.scss
  src/main/webapp/app/overview/course-discussion/course-discussion.component.ts
  src/main/webapp/app/overview/discussion-section/discussion-section.component.html
  src/main/webapp/app/overview/discussion-section/discussion-section.component.ts
  src/main/webapp/app/overview/discussion-section/discussion-section.module.ts
  src/main/webapp/app/shared/metis/course-discussion.directive.ts
  src/main/webapp/app/shared/metis/metis.component.scss
  src/main/webapp/app/shared/metis/posting-footer/post-footer/post-footer.component.ts
  src/main/webapp/i18n/de/metis.json
  src/main/webapp/i18n/en/metis.json
  src/test/javascript/spec/component/overview/discussion-section/discussion-section.component.spec.ts
Labels: tests, client, ready to merge
