Repository ls1intum/Artemis, pull requests merged in 2022-03, with the labels that each got.

#4751 `Exam mode`: Fix an error on the instructor student exam page
  src/main/webapp/app/exam/manage/student-exams/student-exams.component.ts
Labels: client, small, ready to merge

#4708 `Development`: Increase client test coverage for contributor model
  src/main/webapp/app/core/about-us/about-us.component.html
  src/test/javascript/spec/component/about-us/about-us.component.spec.ts
Labels: tests, client, ready to merge

#4737 `Development`: Improve client test coverage for authentication
  src/test/javascript/spec/helpers/mocks/service/mock-local-storage.service.ts
  src/test/javascript/spec/service/account.service.spec.ts
  src/test/javascript/spec/service/auth-jwt.service.spec.ts
  src/test/javascript/spec/service/state-storage.service.spec.ts
  src/test/javascript/spec/service/user-route-access.service.spec.ts
Labels: tests, client, ready to merge

#4743 `Exam mode`: Adjust checklist overview for teaching assistants
  src/main/java/de/tum/in/www1/artemis/service/exam/ExamService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExamResource.java
  src/main/webapp/app/exam/manage/exam-management.component.html
  src/main/webapp/app/exam/manage/exam-status.component.html
  src/main/webapp/app/exam/manage/exam-status.component.scss
  src/main/webapp/app/exam/manage/exam-status.component.ts
  src/test/java/de/tum/in/www1/artemis/ExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/ExamServiceTest.java
  src/test/javascript/spec/component/exam/manage/student-exams/exam-status.component.spec.ts
Labels: tests, server, client, small, ready to merge

#4748 `Exam mode`: Fix forbidden error for tutors on exam assessment dashboard
  src/main/webapp/app/course/dashboards/assessment-dashboard/assessment-dashboard.component.html
  src/main/webapp/app/course/dashboards/assessment-dashboard/exam-assessment-buttons/exam-assessment-buttons.component.html
Labels: ready for review, client, small, bugfix, ready to merge

#4718 `General`: Add type filtering to average course scores chart for instructors
  src/main/webapp/app/course/manage/course-management-statistics.component.html
  src/main/webapp/app/course/manage/course-management-statistics.component.scss
  src/main/webapp/app/course/manage/course-management-statistics.component.ts
  src/main/webapp/app/overview/visualizations/exercise-scores-chart/exercise-scores-chart.component.html
  src/main/webapp/app/overview/visualizations/exercise-scores-chart/exercise-scores-chart.component.ts
  src/main/webapp/app/shared/chart/chart-exercise-type-filter.directive.ts
  src/main/webapp/app/shared/statistics-graph/statistics-average-score-graph.component.html
  src/main/webapp/app/shared/statistics-graph/statistics-average-score-graph.component.scss
  src/main/webapp/app/shared/statistics-graph/statistics-average-score-graph.component.ts
  src/main/webapp/i18n/de/course.json
  src/main/webapp/i18n/en/course.json
  src/test/javascript/spec/component/overview/course-statistics/visualizations/exercise-scores-chart.component.spec.ts
  src/test/javascript/spec/component/statistics/statistics-average-score-graph.component.spec.ts
Labels: tests, client, ready to merge

#4740 `Programming exercises`: Include automatically assessed exercises directly in course score
  src/main/webapp/app/overview/course-score-calculation.service.ts
  src/test/javascript/spec/service/course-score-calculation.service.spec.ts
Labels: tests, client, small, ready to merge

#4756 `Exam mode`: Fix an issue when using structured grading instructions during the second correction round
  src/main/java/de/tum/in/www1/artemis/domain/Feedback.java
Labels: server, small, ready to merge

#4470 `Programming exercises`: Enable static code analysis for Xcode
  src/main/java/de/tum/in/www1/artemis/domain/ProgrammingExercise.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/BambooBuildPlanService.java
  src/main/resources/templates/bamboo/swift/staticCodeAnalysisRuns/1_run_static_code_analysis.sh
  src/main/resources/templates/bamboo/swift/xcode/staticCodeAnalysisRuns/1_run_static_code_analysis.sh
  src/main/resources/templates/swift/xcode/test/.swiftlint.yml
  src/main/resources/templates/swift/xcode/test/fastlane/Fast.file
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.html
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.ts
Labels: feature, ready for review, server, client, component:Programming

#4755 `Exam mode`: Improve wording in the exam checklist to emphasize that `prepare exercise start` is an important step before the exam
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/en/exam.json
Labels: ready for review, client, exam mode, small

#4758 `Development`: Increase client test coverage for language helper
  src/test/javascript/spec/component/admin/user-management-update.component.spec.ts
  src/test/javascript/spec/helpers/mocks/mock-router.ts
Labels: tests, client, ready to merge

#4762 `Documentation`: Add MySQL 8 root password hint to the setup documentation
  docs/dev/setup.rst
Labels: ready for review

#4747 `Development`: Increase client test coverage for assessment of text exercises
  src/test/javascript/spec/component/text-assessment-dashboard/text-assessment-dashboard.component.spec.ts
  src/test/javascript/spec/component/text-submission-assessment/text-assessment-area.component.spec.ts
  src/test/javascript/spec/component/text-submission-assessment/text-feedback-conflicts.component.spec.ts
  src/test/javascript/spec/component/text-submission-assessment/text-submission-assessment.component.spec.ts
  src/test/javascript/spec/component/text-submission-assessment/textblock-feedback-editor.component.spec.ts
  src/test/javascript/spec/service/text-assessment-analytics.service.spec.ts
  src/test/javascript/spec/service/text-assessment.service.spec.ts
Labels: tests, ready to merge

#4736 `Programming exercises`: Enable recreation of build plans in Jenkins
  src/main/java/de/tum/in/www1/artemis/service/ExerciseDeletionService.java
  src/main/java/de/tum/in/www1/artemis/service/ParticipationService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsBuildPlanService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsService.java
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.html
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.ts
  src/main/webapp/i18n/de/instructorDashboard.json
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/instructorDashboard.json
  src/main/webapp/i18n/en/programmingExercise.json
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseIntegrationJenkinsGitlabTest.java
  src/test/java/de/tum/in/www1/artemis/service/JenkinsServiceTest.java
Labels: tests, ready for review, server, client, component:Programming, jenkins/gitlab

#4715 `Development`: Increase client test coverage of submission service
  src/main/webapp/app/exercises/shared/submission/submission.service.ts
  src/test/javascript/spec/service/submission.service.spec.ts
Labels: tests, client, ready to merge

#4769 `Assessment`: Escape the participant name in the csv format of the scores export to avoid issues with commas
  src/main/webapp/app/exercises/shared/exercise-scores/exercise-scores-export-button.component.ts
  src/test/javascript/spec/component/shared/exercise-scores-export-button.component.spec.ts
Labels: tests, client, small, bugfix, ready to merge

#4738 `Development`: Increase client test coverage for text exercise imports
  src/test/javascript/spec/component/text-exercise/text-exercise-import.component.spec.ts
Labels: tests, ready to merge

#4782 `General`: Fix multiple small type errors in the client application
  src/main/webapp/app/exercises/quiz/shared/questions/quiz-scoring-infostudent-modal/quiz-scoring-info-student-modal.component.ts
  src/main/webapp/app/exercises/shared/example-submission/example-submissions.component.ts
  src/main/webapp/app/overview/visualizations/exercise-scores-chart/exercise-scores-chart.component.html
Labels: ready for review, client, small, sentry-issue, ready to merge

#4685 `Discussion`: Reduce loading time of discussion page with many posts by using pagination
  src/main/java/de/tum/in/www1/artemis/config/Constants.java
  src/main/java/de/tum/in/www1/artemis/domain/metis/PostSortCriterion.java
  src/main/java/de/tum/in/www1/artemis/repository/metis/PostRepository.java
  src/main/java/de/tum/in/www1/artemis/service/metis/PostService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/PostContextFilter.java
  src/main/java/de/tum/in/www1/artemis/web/rest/metis/PostResource.java
  src/main/webapp/app/overview/course-discussion/course-discussion.component.html
  src/main/webapp/app/overview/course-discussion/course-discussion.component.ts
  src/main/webapp/app/shared/constants/pagination.constants.ts
  src/main/webapp/app/shared/metis/metis.service.ts
  src/main/webapp/app/shared/metis/metis.util.ts
  src/main/webapp/app/shared/metis/post.service.ts
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/en/global.json
  src/test/java/de/tum/in/www1/artemis/metis/AnswerPostIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/metis/PostIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/metis/ReactionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/javascript/spec/component/overview/course-discussion/course-discussion.component.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-post.service.ts
Labels: tests, server, client, Metis, ready to merge

#4518 `General`: Notify users more reliably when there is a version update
  jest.config.js
  src/main/webapp/app/core/core.module.ts
  src/main/webapp/app/core/interceptor/artemis-version.interceptor.ts
  src/main/webapp/i18n/de/alert.json
  src/main/webapp/i18n/en/alert.json
  src/test/javascript/spec/interceptor/artemis-version.interceptor.spec.ts
Labels: tests, client, ready to merge

#4776 `General`: Prevent duplicated alerts in some places
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseTestCaseService.java
  src/main/webapp/app/core/util/alert.service.ts
  src/test/javascript/spec/service/alert.service.spec.ts
Labels: tests, ready for review, server, client, bugfix, ready to merge

#4757 `Plagiarism checks`: Improve performance and reduce data load
  src/main/java/de/tum/in/www1/artemis/domain/plagiarism/PlagiarismComparison.java
  src/main/java/de/tum/in/www1/artemis/domain/plagiarism/PlagiarismResult.java
  src/main/java/de/tum/in/www1/artemis/domain/plagiarism/PlagiarismSubmission.java
  src/main/java/de/tum/in/www1/artemis/repository/PlagiarismComparisonRepository.java
  src/main/java/de/tum/in/www1/artemis/service/plagiarism/PlagiarismService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/PlagiarismResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExercisePlagiarismResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextExerciseResource.java
  src/main/webapp/app/course/plagiarism-cases/plagiarism-cases-list.component.html
  src/main/webapp/app/course/plagiarism-cases/plagiarism-cases-list.component.ts
  src/main/webapp/app/course/plagiarism-cases/plagiarism-cases-review.component.html
  src/main/webapp/app/course/plagiarism-cases/plagiarism-cases-review.component.ts
  src/main/webapp/app/course/plagiarism-cases/plagiarism-cases.component.html
  src/main/webapp/app/course/plagiarism-cases/plagiarism-cases.component.ts
  src/main/webapp/app/course/plagiarism-cases/plagiarism-cases.service.ts
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-split-view/plagiarism-split-view.component.html
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-split-view/plagiarism-split-view.component.ts
  src/main/webapp/app/exercises/shared/plagiarism/types/PlagiarismComparison.ts
  src/main/webapp/app/exercises/shared/plagiarism/types/PlagiarismSubmission.ts
  src/test/java/de/tum/in/www1/artemis/PlagiarismIntegrationTest.java
  src/test/javascript/spec/component/plagiarism/plagiarism-cases-list.component.spec.ts
  src/test/javascript/spec/component/plagiarism/plagiarism-cases.component.spec.ts
  src/test/javascript/spec/component/plagiarism/plagiarism-split-view.component.spec.ts
  src/test/javascript/spec/service/plagiarism-cases.service.spec.ts
Labels: tests, server, client, plagiarism detection, ready to merge

#4771 `Development`: Increase client test coverage for exercise update warning service
  src/test/javascript/spec/component/shared/exercise-update-warning.component.spec.ts
  src/test/javascript/spec/service/exercise-update-warning.service.spec.ts
Labels: tests, client, ready to merge

#4784 `Text exercises`: Fix feedback visualization for grading instructions with 0 points
  src/main/webapp/app/entities/feedback.model.ts
  src/main/webapp/app/shared/additional-feedback/additional-feedback.component.html
Labels: client, small, ready to merge

#4787 `General`: Display registration number in user settings
  src/main/java/de/tum/in/www1/artemis/web/rest/AccountResource.java
  src/main/webapp/app/shared/user-settings/account-information/account-information.component.html
  src/main/webapp/i18n/de/userSettings.json
  src/main/webapp/i18n/en/userSettings.json
Labels: server, client, small, ready to merge

#4759 `Exam mode`: Update exam scores table according to filter configuration
  src/main/webapp/app/exam/exam-scores/exam-score-dtos.model.ts
  src/main/webapp/app/exam/exam-scores/exam-scores.component.html
  src/main/webapp/app/exam/exam-scores/exam-scores.component.ts
  src/test/javascript/spec/component/exam/exam-scores/exam-scores.component.spec.ts
Labels: tests, client, ready to merge

#4791 `General`: Allow administrators to edit the registration number in user management
  src/main/java/de/tum/in/www1/artemis/repository/UserRepository.java
  src/main/java/de/tum/in/www1/artemis/service/user/UserCreationService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/UserResource.java
  src/main/webapp/app/admin/user-management/user-management-detail.component.html
  src/main/webapp/app/admin/user-management/user-management-update.component.html
  src/main/webapp/app/admin/user-management/user-management.component.html
  src/main/webapp/i18n/de/user-management.json
  src/main/webapp/i18n/en/user-management.json
Labels: ready for review, server, client, small, ready to merge

#4792 `Development`: Update Bamboo version specs to 8.1.3
  build.gradle
Labels: ready for review, component:Programming, bamboo/bitbucket, ready to merge

#4790 `Development`: Increase client test coverage for external submissions
  src/test/javascript/spec/component/exercises/shared/external-submission-button.component.spec.ts
  src/test/javascript/spec/component/exercises/shared/external-submission-dialog.component.spec.ts
  src/test/javascript/spec/service/external-submission.service.spec.ts
Labels: tests, ready for review, client

#4779 `Programming exercises`: Improve feedback for python exercises
  src/main/java/de/tum/in/www1/artemis/repository/FeedbackRepository.java
Labels: ready for review, server, small, ready to merge

#4778 `General`: Fix advanced search button translation
  src/main/webapp/i18n/de/course.json
Labels: ready for review, client, small

#4783 `Exam mode`: Improve unified course rounding for exams
  src/main/java/de/tum/in/www1/artemis/web/rest/StudentExamResource.java
  src/main/webapp/app/exam/manage/student-exams/student-exam-detail.component.html
  src/main/webapp/app/exam/manage/student-exams/student-exam-detail.component.ts
  src/main/webapp/app/exam/participate/exam-participation.service.ts
  src/main/webapp/app/exam/participate/summary/exam-participation-summary.component.html
  src/main/webapp/app/exam/participate/summary/exam-participation-summary.component.ts
  src/main/webapp/app/exam/participate/summary/exercises/quiz-exam-summary/quiz-exam-summary.component.html
  src/main/webapp/app/exam/participate/summary/exercises/quiz-exam-summary/quiz-exam-summary.component.ts
  src/main/webapp/app/exam/participate/summary/points-summary/exam-points-summary.component.ts
  src/test/javascript/spec/component/exam/manage/student-exams/student-exam-detail.component.spec.ts
  src/test/javascript/spec/component/exam/participate/summary/points-summary/exam-points-summary.component.spec.ts
Labels: tests, ready for review, server, client, exam mode, ready to merge

#4785 `Programming exercises`: Rename Java project types
  src/main/java/de/tum/in/www1/artemis/domain/enumeration/ProjectType.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/BambooProgrammingLanguageFeatureService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsProgrammingLanguageFeatureService.java
  src/main/resources/templates/java/maven_maven/exercise/pom.xml
  src/main/resources/templates/java/maven_maven/exercise/src/${packageNameFolder}/Client.java
  src/main/resources/templates/java/maven_maven/readme
  src/main/resources/templates/java/maven_maven/solution/pom.xml
  src/main/resources/templates/java/maven_maven/solution/src/${packageNameFolder}/Client.java
  src/main/resources/templates/java/maven_maven/test/projectTemplate/pom.xml
  src/main/resources/templates/java/plain_maven/exercise/classpath.file
  src/main/resources/templates/java/plain_maven/exercise/project.file
  src/main/resources/templates/java/plain_maven/exercise/src/${packageNameFolder}/Client.java
  src/main/resources/templates/java/plain_maven/readme
  src/main/resources/templates/java/plain_maven/solution/classpath.file
  src/main/resources/templates/java/plain_maven/solution/project.file
  src/main/resources/templates/java/plain_maven/solution/src/${packageNameFolder}/Client.java
  src/main/webapp/app/entities/programming-exercise.model.ts
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.html
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.ts
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/programmingExercise.json
  src/test/cypress/fixtures/requests/programming_exercise_template.json
  src/test/java/de/tum/in/www1/artemis/FileIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseIntegrationTestService.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseTestService.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/java/de/tum/in/www1/artemis/util/ModelFactory.java
  src/test/javascript/spec/component/programming-exercise/programming-exercise-update.component.spec.ts
  src/test/javascript/spec/service/profile.service.spec.ts
Labels: tests, server, client, component:Programming, small, cypress, ready to merge

#4797 `Programming exercises`: Reduce response payload size during import
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseExportImportResource.java
Labels: ready for review, server, small, bugfix

#4798 `Development`: Fix properties for programming exercise tasks to break cycles in serialization
  src/main/java/de/tum/in/www1/artemis/domain/ProgrammingExerciseTestCase.java
  src/main/java/de/tum/in/www1/artemis/domain/hestia/ProgrammingExerciseTask.java
Labels: server, small, bugfix, ready to merge

#4644 `General`: Forward changes to internal users to Bitbucket
  src/main/java/de/tum/in/www1/artemis/domain/exam/Exam.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/BitbucketUserManagementService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/VersionControlRepositoryPermission.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bitbucket/BitbucketAuthorizationInterceptor.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bitbucket/BitbucketService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/gitlab/GitLabService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/jobs/JenkinsJobService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jira/JiraAuthenticationProvider.java
  src/main/java/de/tum/in/www1/artemis/service/dto/UserDTO.java
  src/main/java/de/tum/in/www1/artemis/service/user/UserCreationService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/AccountResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/UserResource.java
  src/main/webapp/app/account/password/password.component.ts
  src/main/webapp/app/core/user/account.model.ts
  src/main/webapp/app/shared/layouts/navbar/navbar.component.ts
  src/test/cypress/integration/CourseManagement.spec.ts
  src/test/cypress/integration/exam/ExamAssessment.spec.ts
  src/test/cypress/support/index.ts
  src/test/cypress/support/pageobjects/exam/ExamCreationPage.ts
  src/test/java/de/tum/in/www1/artemis/AbstractSpringIntegrationBambooBitbucketJiraTest.java
  src/test/java/de/tum/in/www1/artemis/AbstractSpringIntegrationJenkinsGitlabTest.java
  src/test/java/de/tum/in/www1/artemis/AccountResourceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/AccountResourceWithGitLabIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/CourseBitbucketBambooJiraIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/OrganizationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ResultServiceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/StudentExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/SubmissionPolicyIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/authentication/UserBambooBitbucketJiraIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/authentication/UserJenkinsGitlabIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/connector/BitbucketRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/connector/GitlabRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/connector/JiraRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/MockDelegate.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseBitbucketBambooIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseGitlabJenkinsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseIntegrationTestService.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseTestService.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/java/de/tum/in/www1/artemis/util/ModelFactory.java
  src/test/java/de/tum/in/www1/artemis/util/UserTestService.java
  src/test/javascript/spec/component/account/settings.component.spec.ts
  src/test/javascript/spec/component/exam/manage/student-exams/student-exam-detail.component.spec.ts
  src/test/javascript/spec/component/exam/participate/information/exam-information.component.spec.ts
  src/test/javascript/spec/component/exercises/shared/exercise-scores.component.spec.ts
  src/test/javascript/spec/component/file-upload-assessment-dashboard/file-upload-assessment-dashboard.component.spec.ts
  src/test/javascript/spec/component/modeling-assessment-dashboard/modeling-assessment-dashboard.component.spec.ts
  src/test/javascript/spec/component/participation/participation.component.spec.ts
  src/test/javascript/spec/component/programming-assessment-dashboard/programming-assessment-dashboard.component.spec.ts
  src/test/javascript/spec/component/shared/clone-repo-button.component.spec.ts
  src/test/javascript/spec/component/text-assessment-dashboard/text-assessment-dashboard.component.spec.ts
  src/test/javascript/spec/service/participation.service.spec.ts
Labels: tests, ready for review, server, client, cypress

#4773 `Development`: Reduce the length of the commit_hash column in the submission table to 60
  src/main/resources/config/liquibase/changelog/20220303030303_changelog.xml
  src/main/resources/config/liquibase/master.xml
Labels: ready for review, database

#4799 `Assessment`: Fix type error in the course score calculation
  src/main/webapp/app/overview/course-score-calculation.service.ts
Labels: client, small, sentry-issue, ready to merge

#4800 `Plagiarism checks`: Improve usability of similarity distribution
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-header/plagiarism-header.component.html
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-header/plagiarism-header.component.ts
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-inspector/plagiarism-inspector.component.ts
Labels: client, small, ready to merge

#4802 `Assessment`: Fix page overflow for smaller screens when grading programming exercises
  src/main/webapp/app/exercises/programming/manage/grading/programming-exercise-configure-grading.component.html
  src/main/webapp/app/exercises/programming/manage/grading/programming-exercise-configure-grading.scss
Labels: client, small, ready to merge

#4803 `Development`: Update Atlassian docker setup
  docs/dev/setup/bamboo-bitbucket-jira.rst
  src/main/docker/README.md
  src/main/docker/atlassian.c.override.yml
  src/main/docker/atlassian.swift.override.yml
  src/main/docker/atlassian.yml
  src/main/docker/bamboo/Dockerfile
  src/main/docker/bamboo/c/Dockerfile
  src/main/docker/bamboo/c/add_user.sh
  src/main/docker/bamboo/swift/Dockerfile
Labels: bamboo/bitbucket, ready to merge

#4806 `General`: Set registered users automatically to internal
  src/main/java/de/tum/in/www1/artemis/service/user/UserService.java
  src/test/java/de/tum/in/www1/artemis/AccountResourceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/AccountResourceWithGitLabIntegrationTest.java
Labels: tests, server, small, ready to merge

#4814 `Development`: Update PR template to show coverage values in a table
  .github/PULL_REQUEST_TEMPLATE.md
Labels: enhancement, template, small, ready to merge

#4816 `Assessment`: Fix course scores CSV export
  src/main/webapp/app/course/course-scores/course-scores-student-statistics.ts
  src/main/webapp/app/course/course-scores/course-scores.component.ts
  src/main/webapp/app/course/course-scores/exercise-type-statistics-map.ts
  src/main/webapp/app/entities/exercise.model.ts
  src/main/webapp/app/shared/util/utils.ts
  src/test/javascript/spec/component/course/course-scores/course-scores.component.spec.ts
  src/test/javascript/spec/util/shared/utils.spec.ts
Labels: tests, client, priority:critical, bugfix, ready to merge

#4817 `Assessment`: Fix assessment tooltips and css issues
  src/main/webapp/app/course/dashboards/assessment-dashboard/assessment-dashboard-information.component.ts
  src/main/webapp/app/shared/dashboards/tutor-participation-graph/progress-bar/progress-bar.component.html
  src/main/webapp/app/shared/dashboards/tutor-participation-graph/tutor-participation-graph.component.html
  src/main/webapp/app/shared/dashboards/tutor-participation-graph/tutor-participation-graph.component.scss
  src/test/javascript/spec/component/assessment-dashboard/assessment-dashboard-information.component.spec.ts
Labels: enhancement, tests, client, small, ready to merge

#4820 `Programming exercises`: Fix Bamboo permissions for Bamboo v8.1.3
  src/main/java/de/tum/in/www1/artemis/service/connectors/CIPermission.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/BambooService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseService.java
  src/test/java/de/tum/in/www1/artemis/connector/BambooRequestMockProvider.java
Labels: tests, server, component:Programming, bamboo/bitbucket, bugfix, ready to merge

#4823 `Quiz exercises`: Fix automatic update of quiz lifecycle buttons
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise.component.ts
Labels: client, component:Quiz, small, ready to merge

#4828 `Development`: Remove explicit Hamcrest dependency from server tests
  build.gradle
  src/test/java/de/tum/in/www1/artemis/AtheneIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/TextSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/AutomaticFeedbackConflictServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/ExerciseLifecycleServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/HttpRequestUtilsTest.java
  src/test/java/de/tum/in/www1/artemis/service/TextBlockServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/connectors/AtheneServiceTest.java
Labels: tests, code quality, small, ready to merge

#4818 `Programming exercises`: Fix creation of Swift exercises
  src/main/java/de/tum/in/www1/artemis/service/FileService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsProgrammingLanguageFeatureService.java
Labels: ready for review, server, component:Programming, small, bugfix

#4829 `Quiz exercises`: Improve visibility of quiz started warning
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise-detail.component.html
  src/main/webapp/content/scss/_artemis-mixins.scss
  src/main/webapp/i18n/en/quizExercise.json
Labels: client, small, ready to merge

#4831 `General`: Fix SAML2 login not possible when privacy terms don’t need to be accepted
  src/main/webapp/app/home/home.component.html
  src/main/webapp/app/home/home.component.ts
  src/main/webapp/app/home/saml2-login/saml2-login.component.html
  src/main/webapp/app/home/saml2-login/saml2-login.component.ts
Labels: client, small, bugfix, ready to merge

#4832 `Documentation`: Update link of docker image configuration location
  docs/dev/docker.rst
Labels: small, ready to merge

#4746 `Programming exercises`: Allow users to open the repository in a separate browser window in the clone dialog
  src/main/webapp/app/shared/components/clone-repo-button/clone-repo-button.component.html
  src/main/webapp/app/shared/components/clone-repo-button/clone-repo-button.component.scss
  src/main/webapp/app/shared/components/clone-repo-button/clone-repo-button.component.ts
Labels: feature, client, component:Programming, ready to merge

#4745 `Exam mode`: Remove option to not include exercises into exam score
  src/main/webapp/app/exercises/file-upload/manage/file-upload-exercise-update.component.html
  src/main/webapp/app/exercises/file-upload/manage/file-upload-exercise-update.component.ts
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise-update.component.html
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise-update.component.ts
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.html
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.ts
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise-detail.component.html
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise-detail.component.ts
  src/main/webapp/app/exercises/quiz/manage/re-evaluate/quiz-re-evaluate.component.html
  src/main/webapp/app/exercises/shared/included-in-overall-score-picker/included-in-overall-score-picker.component.html
  src/main/webapp/app/exercises/shared/included-in-overall-score-picker/included-in-overall-score-picker.component.ts
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise-update.component.html
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise-update.component.ts
Labels: client, exam mode, bugfix, ready to merge

#4772 `Programming exercises`: Reduce the network traffic in the submission dashboard
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingSubmissionService.java
  src/main/webapp/app/exercises/programming/assess/programming-assessment-dashboard/programming-exercise-submissions.component.html
Labels: server, client, component:Programming, ready to merge

#4853 `Development`: Update Java source compatibility to 17
  build.gradle
  package-lock.json
  package.json
Labels: ready for review, dependencies, server, client, chore

#4843 `Development`: Consistently use try with resources for file operations
  src/main/java/de/tum/in/www1/artemis/service/FileService.java
  src/main/java/de/tum/in/www1/artemis/service/ZipFileService.java
  src/main/java/de/tum/in/www1/artemis/service/util/structureoraclegenerator/OracleGenerator.java
  src/test/java/de/tum/in/www1/artemis/ExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/FileIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/SubmissionExportIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/connector/JenkinsRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseIntegrationTestService.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseTestService.java
  src/test/java/de/tum/in/www1/artemis/service/JenkinsAuthorizationInterceptorTest.java
  src/test/java/de/tum/in/www1/artemis/service/compass/controller/UMLModelParserTest.java
  src/test/java/de/tum/in/www1/artemis/util/CourseTestService.java
  src/test/java/de/tum/in/www1/artemis/util/FileUtils.java
Labels: tests, server, code quality, ready to merge

#4844 `General`: Align the style of the included in overall score choice
  src/main/webapp/app/exercises/shared/included-in-overall-score-picker/included-in-overall-score-picker.component.html
Labels: enhancement, client, small, ready to merge

#4467 `Development`: Create Kubernetes resource files for the new micro services architecture
  build.gradle
  docker-compose-microservices.override-dev.yml
  docker-compose-microservices.override-prod.yml
  docker-compose-microservices.yml
  src/main/kubernetes/artemis/configmaps/activemq-artemis-configmap.yml
  src/main/kubernetes/artemis/configmaps/application-configmap.yml
  src/main/kubernetes/artemis/configmaps/artemis-configmap.yml
  src/main/kubernetes/artemis/configmaps/artemis-lecture-configmap.yml
  src/main/kubernetes/artemis/configmaps/artemis-usermanagement-configmap.yml
  src/main/kubernetes/artemis/configmaps/gateway-configmap.yml
  src/main/kubernetes/artemis/configmaps/jhipster-registry-common-configmap.yml
  src/main/kubernetes/artemis/configmaps/kafka-configmap.yml
  src/main/kubernetes/artemis/configmaps/zookeeper-configmap.yml
  src/main/kubernetes/artemis/deployments/activemq-artemis-deployment.yml
  src/main/kubernetes/artemis/deployments/artemis-service-deployment.yml
  src/main/kubernetes/artemis/deployments/gateway-deployment.yml
  src/main/kubernetes/artemis/deployments/kafka-deployment.yml
  src/main/kubernetes/artemis/deployments/lecture-service-deployment.yml
  src/main/kubernetes/artemis/deployments/usermanagement-service-deployment.yml
  src/main/kubernetes/artemis/ingresses/activemq-artemis-ingress.yml
  src/main/kubernetes/artemis/ingresses/artemis-ingress.yml
  src/main/kubernetes/artemis/ingresses/gateway-ingress.yml
  src/main/kubernetes/artemis/ingresses/jhipster-registry-ingress.yml
  src/main/kubernetes/artemis/kustomization.yml
  src/main/kubernetes/artemis/pvc/artemis-mysql.yml
  src/main/kubernetes/artemis/pvc/artemis.yml
  src/main/kubernetes/artemis/secrets/activemq-artemis-secret.yml
  src/main/kubernetes/artemis/secrets/artemis-secrets.yml
  src/main/kubernetes/artemis/secrets/jhipster-registry-secret.yml
  src/main/kubernetes/artemis/services/activemq-artemis-service.yml
  src/main/kubernetes/artemis/services/artemis-mysql-service.yml
  src/main/kubernetes/artemis/services/artemis-service.yml
  src/main/kubernetes/artemis/services/gateway-service.yml
  src/main/kubernetes/artemis/services/jhipster-registry-service.yml
  src/main/kubernetes/artemis/services/lecture-service.yml
  src/main/kubernetes/artemis/services/usermanagement-service.yml
  src/main/kubernetes/artemis/statefulsets/artemis-mysql.yml
  src/main/kubernetes/artemis/statefulsets/jhipster-registry.yml
Labels: ready to merge

#4801 `Exam mode`: Improve loading animation for assessment buttons
  src/main/webapp/app/course/dashboards/assessment-dashboard/assessment-dashboard.component.html
  src/main/webapp/app/course/dashboards/assessment-dashboard/assessment-dashboard.component.ts
  src/main/webapp/app/course/dashboards/assessment-dashboard/exam-assessment-buttons/exam-assessment-buttons.component.html
  src/main/webapp/app/course/dashboards/assessment-dashboard/exam-assessment-buttons/exam-assessment-buttons.component.ts
  src/main/webapp/app/exercises/shared/dashboards/tutor/exercise-assessment-dashboard.component.html
  src/main/webapp/app/exercises/shared/dashboards/tutor/second-correction-button/second-correction-enable-button.component.html
  src/main/webapp/app/exercises/shared/dashboards/tutor/second-correction-button/second-correction-enable-button.component.ts
  src/test/javascript/spec/component/assessment-dashboard/assessment-dashboard.component.spec.ts
Labels: tests, client, exam mode, small, bugfix, ready to merge

#4833 `Programming exercises`: Change default branch from master to main
  src/main/java/de/tum/in/www1/artemis/service/connectors/GitService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/VersionControlService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bitbucket/BitbucketService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/gitlab/GitLabService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsBuildPlanService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/jobs/JenkinsJobService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingSubmissionService.java
  src/main/resources/config/application-artemis.yml
  src/main/resources/templates/jenkins/empty/regularRuns/Jenkinsfile
  src/main/webapp/app/shared/image/session-storage-strategy.ts
  src/test/java/de/tum/in/www1/artemis/AbstractSpringIntegrationBambooBitbucketJiraTest.java
  src/test/java/de/tum/in/www1/artemis/AbstractSpringIntegrationJenkinsGitlabTest.java
  src/test/java/de/tum/in/www1/artemis/ContinuousIntegrationTestService.java
  src/test/java/de/tum/in/www1/artemis/GitServiceTest.java
  src/test/java/de/tum/in/www1/artemis/GitlabServiceTest.java
  src/test/java/de/tum/in/www1/artemis/StudentExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/TestRepositoryResourceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/connector/BambooRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/connector/BitbucketRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/connector/GitlabRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseBitbucketBambooIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseGitIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseGitlabJenkinsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseIntegrationTestService.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseTemplateIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseTestService.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingSubmissionAndResultBitbucketBambooIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/RepositoryIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/scheduled/ProgrammingExerciseScheduleServiceTest.java
  src/test/java/de/tum/in/www1/artemis/util/AbstractArtemisIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/GitUtilService.java
  src/test/java/de/tum/in/www1/artemis/util/LocalRepository.java
  src/test/resources/config/application-artemis.yml
  src/test/resources/de/tum/in/www1/artemis/programmingexercise/bitbucketRequest.json
  src/test/resources/de/tum/in/www1/artemis/programmingexercise/gitlabRequest.json
  src/test/resources/test-data/bamboo-response/build-plan-repository-list-response.html
  src/test/resources/test-data/bamboo-response/build-plan-trigger-list-response.html
  src/test/resources/test-data/jenkins-response/failed-build-log.txt
  src/test/resources/test-data/jenkins-response/job-config.xml
  src/test/resources/test-data/jenkins-response/legacy-job-config.xml
Labels: tests, ready for review, server, client, component:Programming, ready to merge

#4855 `Exam mode`: Fix missing translation when deleting exams
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/en/exam.json
Labels: client, exam mode, small, bugfix, ready to merge

#4809 `Assessment`: Fix an issue with ratings for programming exercises
  src/main/webapp/app/exercises/shared/rating/rating.component.ts
  src/main/webapp/app/exercises/shared/rating/rating.service.ts
Labels: ready for review, client, small, sentry-issue, ready to merge

#4838 `Development`: Debounce sentry events in the client to avoid overloading sentry with too many errors
  src/main/webapp/app/core/sentry/deduplicate.sentry-integration.ts
  src/main/webapp/app/core/sentry/sentry.error-handler.ts
  src/test/javascript/spec/integration/sentry/deduplicate.sentry-integration.spec.ts
Labels: tests, ready for review, client, ready to merge

#4768 `General`: Change password handling for internal users
  build.gradle
  docs/admin/knownIssues.rst
  docs/dev/setup.rst
  docs/dev/setup/bamboo-bitbucket-jira.rst
  docs/dev/setup/jenkins-gitlab.rst
  docs/index.rst
  src/main/docker/cypress/application.yml
  src/main/java/de/tum/in/www1/artemis/config/SecurityConfiguration.java
  src/main/java/de/tum/in/www1/artemis/config/auth/JiraAuthorizationInterceptor.java
  src/main/java/de/tum/in/www1/artemis/config/migration/MigrationRegistry.java
  src/main/java/de/tum/in/www1/artemis/config/migration/entries/MigrationEntry20211214_184200.java
  src/main/java/de/tum/in/www1/artemis/config/migration/entries/MigrationEntry20220302_164200.java
  src/main/java/de/tum/in/www1/artemis/repository/UserRepository.java
  src/main/java/de/tum/in/www1/artemis/security/ArtemisInternalAuthenticationProvider.java
  src/main/java/de/tum/in/www1/artemis/security/DomainUserDetailsService.java
  src/main/java/de/tum/in/www1/artemis/security/PBEPasswordEncoder.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/BitbucketUserManagementService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/CIUserManagementService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/VcsUserManagementService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/gitlab/GitLabUserManagementService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsUserManagementService.java
  src/main/java/de/tum/in/www1/artemis/service/user/LegacyPasswordService.java
  src/main/java/de/tum/in/www1/artemis/service/user/PasswordService.java
  src/main/java/de/tum/in/www1/artemis/service/user/UserCreationService.java
  src/main/java/de/tum/in/www1/artemis/service/user/UserService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/AccountResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/UserResource.java
  src/main/resources/config/application-artemis.yml
  src/main/webapp/app/admin/user-management/user-management-update.component.ts
  src/main/webapp/i18n/de/user-management.json
  src/main/webapp/i18n/en/user-management.json
  src/test/java/de/tum/in/www1/artemis/AccountResourceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/authentication/InternalAuthenticationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/authentication/JiraAuthenticationIntegationTest.java
  src/test/java/de/tum/in/www1/artemis/authentication/UserJenkinsGitlabIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/authentication/UserSaml2IntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/connector/BitbucketRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/connector/GitlabRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/connector/JenkinsRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseTestService.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/java/de/tum/in/www1/artemis/util/ModelFactory.java
  src/test/java/de/tum/in/www1/artemis/util/UserTestService.java
  src/test/resources/config/application-artemis.yml
Labels: tests, security, server, client, documentation, ready to merge

#4860 `Assessment`: Fix course scores export if user information is not set
  src/main/webapp/app/course/course-scores/course-scores-csv-row-builder.ts
  src/test/javascript/spec/component/course/course-scores/course-scores-csv-row-builder.spec.ts
Labels: tests, client, priority:high, small, bugfix, ready to merge

#4863 `Development`: Fix flaky client test in external submission service
  src/test/javascript/spec/service/external-submission.service.spec.ts
Labels: tests, client, small, FlakyTestFix, ready to merge

#4852 `Assessment`: Support grading steps for scores > 100%
  src/main/java/de/tum/in/www1/artemis/repository/GradingScaleRepository.java
  src/main/webapp/i18n/de/gradingSystem.json
  src/main/webapp/i18n/en/gradingSystem.json
  src/test/java/de/tum/in/www1/artemis/service/GradingScaleServiceTest.java
Labels: tests, ready for review, server, client

#4859 `Development`: Simplify local Gitlab/Jenkins docker based setup
  docs/dev/setup/jenkins-gitlab.rst
  src/main/docker/gitlab-jenkins-mysql.yml
  src/main/docker/gitlab/Dockerfile
  src/main/docker/gitlab/gitlab-local-setup.sh
  src/main/docker/jenkins/Dockerfile
  src/main/docker/jenkins/jenkins-casc-config.yml
  src/main/docker/jenkins/jenkins-disable-csrf.groovy
  src/main/docker/jenkins/master-key-only-for-testing.key
Labels: component:Programming, jenkins/gitlab

#4813 `Development`: Refactor exercise scores CSV export
  src/main/webapp/app/exercises/shared/exercise-scores/exercise-scores-export-button.component.ts
  src/test/javascript/spec/component/shared/exercise-scores-export-button.component.spec.ts
Labels: tests, ready for review, client, refactoring

#4858 `Assessment`: Fix an issue in the student grade key view
  src/main/webapp/app/grading-system/grading-key-overview/grading-key-overview.component.ts
  src/main/webapp/app/overview/course-statistics/course-statistics.module.ts
  src/main/webapp/app/overview/courses-routing.module.ts
  src/test/javascript/spec/component/grading-system/grading-key-overview.component.spec.ts
Labels: tests, ready for review, client

#4875 `Development`: Fix repository call in Java migration
  src/main/java/de/tum/in/www1/artemis/config/migration/entries/MigrationEntry20211214_184200.java
Labels: ready for review, server, small

#4874 `Development`: Update documentation to JDK 17
  docs/dev/setup.rst
Labels: ready for review, documentation, small

#4848 `Development`: Increase client test coverage for team owner search
  src/main/webapp/app/exercises/shared/team/team-owner-search/team-owner-search.component.ts
  src/test/javascript/spec/component/team/team-owner-search.component.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-course-management.service.ts
Labels: tests, client, ready to merge

#4873 `Development`: Fix feature tag naming in the PR naming conventions
  docs/dev/guidelines/development-process.rst
Labels: documentation, small, ready to merge

#4871 `Programming exercises`: Fix validation after unselecting a submission policy
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.ts
Labels: client, component:Programming, small, bugfix, ready to merge

#4879 `Development`: Fix incorrect usage of MockComponent and MockDirective in client tests
  src/test/javascript/spec/component/admin/system-notification-management/system-notification-detail.component.spec.ts
  src/test/javascript/spec/component/admin/system-notification-management/system-notification-management.component.spec.ts
  src/test/javascript/spec/component/admin/system-notification-management/system-notification-update.component.spec.ts
  src/test/javascript/spec/component/consistency-check/consistency-check.component.spec.ts
  src/test/javascript/spec/component/exam/manage/student-exams/student-exam-summary.component.spec.ts
  src/test/javascript/spec/component/exercises/shared/example-submission-import.component.spec.ts
  src/test/javascript/spec/component/exercises/shared/headers/included-in-score-badge.component.spec.ts
  src/test/javascript/spec/component/modeling-exercise/modeling-exercise-import.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-import.component.spec.ts
  src/test/javascript/spec/component/shared/metis/postings-create-edit-modal/post-create-edit-modal/post-create-edit-modal.component.spec.ts
  src/test/javascript/spec/component/short-answer-question/short-answer-question.component.spec.ts
  src/test/javascript/spec/component/text-exercise/text-exercise-import.component.spec.ts
  src/test/javascript/spec/integration/code-editor/code-editor-student.integration.spec.ts
  src/test/javascript/spec/service/guided-tour.service.spec.ts
Labels: tests, ready for review, client, priority:high

#4732 `Programming exercises`: Add git-diff generation between template and solution repositories
  src/main/java/de/tum/in/www1/artemis/domain/ProgrammingExercise.java
  src/main/java/de/tum/in/www1/artemis/domain/hestia/ProgrammingExerciseGitDiffEntry.java
  src/main/java/de/tum/in/www1/artemis/domain/hestia/ProgrammingExerciseGitDiffReport.java
  src/main/java/de/tum/in/www1/artemis/repository/hestia/ProgrammingExerciseGitDiffReportRepository.java
  src/main/java/de/tum/in/www1/artemis/service/hestia/ProgrammingExerciseGitDiffReportService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseGradingService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/hestia/ProgrammingExerciseFullGitDiffEntryDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/hestia/ProgrammingExerciseFullGitDiffReportDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/hestia/ProgrammingExerciseGitDiffReportResource.java
  src/main/resources/config/liquibase/changelog/20220218140000_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/entities/hestia/programming-exercise-full-git-diff-entry.model.ts
  src/main/webapp/app/entities/hestia/programming-exercise-full-git-diff-report.model.ts
  src/main/webapp/app/entities/hestia/programming-exercise-git-diff-entry.model.ts
  src/main/webapp/app/entities/hestia/programming-exercise-git-diff-report.model.ts
  src/main/webapp/app/entities/programming-exercise.model.ts
  src/main/webapp/app/exercises/programming/hestia/git-diff-report/full-git-diff-entry.component.html
  src/main/webapp/app/exercises/programming/hestia/git-diff-report/full-git-diff-entry.component.ts
  src/main/webapp/app/exercises/programming/hestia/git-diff-report/full-git-diff-report-modal.component.html
  src/main/webapp/app/exercises/programming/hestia/git-diff-report/full-git-diff-report-modal.component.ts
  src/main/webapp/app/exercises/programming/hestia/git-diff-report/full-git-diff-report.component.html
  src/main/webapp/app/exercises/programming/hestia/git-diff-report/full-git-diff-report.component.ts
  src/main/webapp/app/exercises/programming/hestia/git-diff-report/git-diff-report.module.ts
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.html
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.ts
  src/main/webapp/app/exercises/programming/manage/programming-exercise-management.module.ts
  src/main/webapp/app/exercises/programming/manage/services/programming-exercise.service.ts
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/programmingExercise.json
  src/test/java/de/tum/in/www1/artemis/hestia/ProgrammingExerciseGitDiffReportIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/hestia/ProgrammingExerciseGitDiffReportServiceTest.java
  src/test/java/de/tum/in/www1/artemis/util/HestiaUtilTestService.java
  src/test/javascript/spec/component/hestia/git-diff-report/full-git-diff-entry.component.spec.ts
  src/test/javascript/spec/component/hestia/git-diff-report/full-git-diff-report.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-detail.component.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-programming-exercise.service.ts
  src/test/javascript/spec/service/programming-exercise.service.spec.ts
Labels: feature, tests, ready for review, server, client, component:Programming, database, ready to merge

#4856 `Development`: Update client test guidelines
  docs/dev/guidelines/client-tests.rst
Labels: ready to merge

#4872 `Programming exercises`: Fix folders with names including dots missing in the online editor file browser
  src/main/webapp/app/exercises/programming/shared/code-editor/file-browser/code-editor-file-browser.component.ts
  src/test/javascript/spec/component/code-editor/code-editor-file-browser.component.spec.ts
Labels: tests, client, component:Programming, small, bugfix, ready to merge

#4864 `Discussion`: Replace paginator of discussion page with infinite scrolling
  package.json
  src/main/webapp/app/overview/course-discussion/course-discussion.component.html
  src/main/webapp/app/overview/course-discussion/course-discussion.component.ts
  src/main/webapp/app/overview/course-discussion/course-discussion.module.ts
  src/main/webapp/app/shared/metis/metis.service.ts
  src/main/webapp/app/shared/metis/posting-thread/posting-thread.component.html
  src/test/javascript/spec/component/overview/course-discussion/course-discussion.component.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-post.service.ts
  src/test/javascript/spec/service/metis/metis.service.spec.ts
Labels: tests, client, ready to merge

#4760 `Programming exercises`: Generate solution entries for structural test cases
  src/main/java/de/tum/in/www1/artemis/domain/hestia/ProgrammingExerciseSolutionEntry.java
  src/main/java/de/tum/in/www1/artemis/repository/ProgrammingExerciseTestCaseRepository.java
  src/main/java/de/tum/in/www1/artemis/service/hestia/structural/StructuralAttribute.java
  src/main/java/de/tum/in/www1/artemis/service/hestia/structural/StructuralClass.java
  src/main/java/de/tum/in/www1/artemis/service/hestia/structural/StructuralClassElements.java
  src/main/java/de/tum/in/www1/artemis/service/hestia/structural/StructuralConstructor.java
  src/main/java/de/tum/in/www1/artemis/service/hestia/structural/StructuralMethod.java
  src/main/java/de/tum/in/www1/artemis/service/hestia/structural/StructuralSolutionEntryGenerationException.java
  src/main/java/de/tum/in/www1/artemis/service/hestia/structural/StructuralTestCaseService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/hestia/ProgrammingExerciseSolutionEntryResource.java
  src/main/webapp/app/entities/hestia/programming-exercise-solution-entry.model.ts
  src/main/webapp/app/entities/programming-exercise-test-case.model.ts
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.html
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.ts
  src/main/webapp/app/exercises/programming/manage/services/programming-exercise.service.ts
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/programmingExercise.json
  src/test/java/de/tum/in/www1/artemis/hestia/ProgrammingExerciseSolutionEntryIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/hestia/StructuralTestCaseServiceTest.java
  src/test/javascript/spec/component/programming-exercise/programming-exercise-detail.component.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-programming-exercise.service.ts
  src/test/javascript/spec/service/programming-exercise.service.spec.ts
Labels: tests, ready for review, server, client, component:Programming, ready to merge

#4884 `General`: Fix typos in translations
  src/main/webapp/app/exercises/text/manage/example-text-submission/example-text-submission.component.html
  src/main/webapp/i18n/de/error.json
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/de/exercise-actions.json
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/de/guidedTourProgrammingExercise.json
  src/main/webapp/i18n/de/learningGoal.json
  src/main/webapp/i18n/de/metis.json
  src/main/webapp/i18n/de/modelingAssessment.json
  src/main/webapp/i18n/de/plagiarism.json
  src/main/webapp/i18n/de/student-dashboard.json
  src/main/webapp/i18n/de/team.json
  src/main/webapp/i18n/de/textAssessment.json
  src/main/webapp/i18n/de/textExercise.json
  src/main/webapp/i18n/de/userSettings.json
  src/main/webapp/i18n/en/exercise-actions.json
  src/main/webapp/i18n/en/global.json
  src/main/webapp/i18n/en/textAssessment.json
Labels: enhancement, client, code quality, small, ready to merge
