Repository ls1intum/Artemis, pull requests merged in 2022-06, with the labels that each got.

#5180 `Quiz exercises`: Fix rounding of live quiz results
  src/main/java/de/tum/in/www1/artemis/domain/Course.java
Labels: server, component:Quiz, small, bugfix, ready to merge

#5199 `Lectures`: Fix unreadable text when creating attachment units in darkmode
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/attachment-unit-form/attachment-unit-form.component.html
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/attachment-unit-form/attachment-unit-form.component.scss
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/attachment-unit-form/attachment-unit-form.component.ts
Labels: client, small, bugfix, ready to merge, dark mode

#5195 `Assessment`: Fix button spacing on small screens on assessment dashboard
  src/main/webapp/app/course/dashboards/assessment-dashboard/assessment-dashboard.component.html
Labels: enhancement, client, consistency, small, user interface, ready to merge

#5187 `Lectures`: Trim leading and trailing whitespaces in video lecture URLs
  src/main/java/de/tum/in/www1/artemis/web/rest/lecture/VideoUnitResource.java
  src/test/java/de/tum/in/www1/artemis/VideoUnitIntegrationTest.java
Labels: tests, server, small, bugfix, ready to merge

#5183 `Discussion`: Do not show announcements when unresolved posts are filtered
  src/main/java/de/tum/in/www1/artemis/repository/metis/PostRepository.java
  src/test/java/de/tum/in/www1/artemis/metis/AnswerPostIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/metis/PostIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
Labels: tests, server, ready to merge

#5182 `Quiz exercises`: Disable preview button for DnD questions in case no background image is uploaded
  src/main/webapp/app/exercises/quiz/manage/drag-and-drop-question/drag-and-drop-question-edit.component.html
  src/main/webapp/i18n/de/dragAndDropQuestion.json
  src/main/webapp/i18n/en/dragAndDropQuestion.json
Labels: client, small, ready to merge

#5168 `Text exercises`: Fix a type error for empty text blocks
  src/main/webapp/app/exercises/text/participate/text-result/text-result-block.ts
Labels: client, small, bugfix, ready to merge

#5172 `Quiz Exercises`: Improve quiz save performance
  src/main/java/de/tum/in/www1/artemis/repository/SubmissionRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/QuizBatchService.java
  src/main/java/de/tum/in/www1/artemis/service/QuizMessagingService.java
  src/main/java/de/tum/in/www1/artemis/service/QuizSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/quiz/QuizScheduleService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ParticipationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/QuizExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/QuizSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/websocket/QuizSubmissionWebsocketService.java
  src/test/java/de/tum/in/www1/artemis/QuizSubmissionIntegrationTest.java
Labels: tests, server, component:Quiz, priority:high, performance, ready to merge

#5074 `Lectures`: Allow students to view learning goals and prerequisites
  src/main/java/de/tum/in/www1/artemis/domain/Course.java
  src/main/java/de/tum/in/www1/artemis/repository/CourseRepository.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/LearningGoalResource.java
  src/main/webapp/app/course/learning-goals/learning-goal-card/learning-goal-card.component.html
  src/main/webapp/app/course/learning-goals/learning-goal-card/learning-goal-card.component.scss
  src/main/webapp/app/course/learning-goals/learning-goal-card/learning-goal-card.component.ts
  src/main/webapp/app/course/learning-goals/learning-goal-management/learning-goal-management.component.html
  src/main/webapp/app/entities/course.model.ts
  src/main/webapp/app/overview/course-learning-goals/course-learning-goals.component.html
  src/main/webapp/app/overview/course-learning-goals/course-learning-goals.component.ts
  src/main/webapp/app/overview/course-learning-goals/course-learning-goals.module.ts
  src/main/webapp/app/overview/course-overview.component.html
  src/main/webapp/app/overview/course-registration/course-prerequisites-modal.component.html
  src/main/webapp/app/overview/course-registration/course-prerequisites-modal.component.ts
  src/main/webapp/app/overview/course-registration/course-registration.component.html
  src/main/webapp/app/overview/course-registration/course-registration.component.ts
  src/main/webapp/app/overview/course-registration/course-registration.module.ts
  src/main/webapp/app/overview/course-statistics/course-statistics.component.html
  src/main/webapp/app/overview/course-statistics/course-statistics.module.ts
  src/main/webapp/app/overview/courses-routing.module.ts
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/de/learningGoal.json
  src/main/webapp/i18n/de/student-dashboard.json
  src/main/webapp/i18n/en/global.json
  src/main/webapp/i18n/en/learningGoal.json
  src/main/webapp/i18n/en/student-dashboard.json
  src/test/java/de/tum/in/www1/artemis/util/ModelFactory.java
  src/test/javascript/spec/component/course-registration/course-prerequisites-modal.component.spec.ts
  src/test/javascript/spec/component/course-registration/course-registration.component.spec.ts
  src/test/javascript/spec/component/learning-goals/course-learning-goals.component.spec.ts
  src/test/javascript/spec/component/learning-goals/learning-goal-detail-modal.component.spec.ts
Labels: feature, tests, server, client, ready to merge

#5198 `Plagiarism checks`: Avoid loading duplicates for plagiarism comparison matches and submission elements
  src/main/java/de/tum/in/www1/artemis/repository/plagiarism/PlagiarismComparisonRepository.java
Labels: server

#5173 `Programming exercises`: Update Ares to 1.10.1
  src/main/resources/config/application.yml
  src/main/resources/templates/java/maven_maven/test/projectTemplate/pom.xml
  src/main/resources/templates/java/test/gradle/projectTemplate/build.gradle
  src/main/resources/templates/java/test/maven/projectTemplate/pom.xml
  src/main/resources/templates/kotlin/test/maven/projectTemplate/pom.xml
Labels: ready for review, dependencies, component:Programming, small

#5128 `General`: Further improve responsive layout
  .github/PULL_REQUEST_TEMPLATE.md
  docs/dev/guidelines/client.rst
  src/main/webapp/app/course/dashboards/assessment-dashboard/assessment-dashboard-information.component.html
  src/main/webapp/app/course/dashboards/assessment-dashboard/assessment-dashboard.component.html
  src/main/webapp/app/course/dashboards/assessment-dashboard/assessment-dashboard.component.ts
  src/main/webapp/app/course/manage/detail/course-detail-line-chart.component.html
  src/main/webapp/app/course/manage/detail/course-detail.component.html
  src/main/webapp/app/course/manage/detail/course-detail.component.ts
  src/main/webapp/app/overview/course-discussion/course-discussion.component.html
  src/main/webapp/app/overview/course-overview.component.html
  src/main/webapp/app/overview/course-overview.component.ts
  src/main/webapp/app/shared/fullscreen/fullscreen.component.html
  src/main/webapp/content/scss/global.scss
  src/test/javascript/spec/component/course/course-overview.component.spec.ts
  src/test/javascript/spec/component/course/detail/course-detail.component.spec.ts
Labels: enhancement, tests, client, priority:low, user interface, ready to merge

#5112 `Development`: Add test case for REST API endpoint which gets all editors in a course
  src/test/java/de/tum/in/www1/artemis/CourseBitbucketBambooJiraIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/CourseGitlabJenkinsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/CourseTestService.java
Labels: tests, ready to merge

#5205 `General`: Fix width of course management view
  src/main/webapp/app/course/manage/overview/course-management-card.scss
Labels: client, small, bugfix, ready to merge

#5201 `Programming exercises`: Display hints in online code editor
  src/main/webapp/app/exercises/programming/participate/code-editor-student-container.component.html
  src/main/webapp/app/exercises/programming/participate/code-editor-student-container.component.ts
  src/main/webapp/app/exercises/programming/participate/programming-participation.module.ts
  src/main/webapp/app/exercises/shared/exercise-hint/participate/exercise-hint-button-overlay.component.scss
  src/main/webapp/app/exercises/shared/exercise-hint/participate/exercise-hint-button-overlay.component.ts
  src/main/webapp/app/exercises/shared/result/updating-result.component.ts
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.html
Labels: feature, ready for review, client, component:Programming, small

#5197 `Development`: Update server dependencies
  build.gradle
  gradle.properties
  gradle/liquibase.gradle
  src/main/java/de/tum/in/www1/artemis/repository/ProgrammingExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/QuizExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/TextExerciseRepository.java
  src/test/java/de/tum/in/www1/artemis/TextExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
Labels: tests, ready for review, server

#5191 `Discussion`: Add sorting by date to course and lecture discussion tabs
  src/main/webapp/app/overview/course-discussion/course-discussion.component.ts
  src/main/webapp/app/overview/discussion-section/discussion-section.component.html
  src/main/webapp/app/overview/discussion-section/discussion-section.component.ts
  src/main/webapp/app/shared/metis/course-discussion.directive.ts
  src/main/webapp/i18n/de/metis.json
  src/main/webapp/i18n/en/metis.json
  src/test/javascript/spec/component/overview/course-discussion/course-discussion.component.spec.ts
  src/test/javascript/spec/component/overview/discussion-section/discussion-section.component.spec.ts
  src/test/javascript/spec/helpers/sample/metis-sample-data.ts
Labels: tests, ready for review, client, discussion

#5116 ``Development``: Add theming and color usage guidelines
  .github/PULL_REQUEST_TEMPLATE.md
  docs/dev/guidelines.rst
  docs/dev/guidelines/client-design.rst
  docs/dev/guidelines/client.rst
  src/main/webapp/content/scss/themes/_dark-variables.scss
Labels: client, ready to merge

#4982 `Exam mode`: Collect exam interactions and setup initial monitoring structure
  src/main/java/de/tum/in/www1/artemis/config/CacheConfiguration.java
  src/main/java/de/tum/in/www1/artemis/config/Constants.java
  src/main/java/de/tum/in/www1/artemis/domain/enumeration/ExamActionType.java
  src/main/java/de/tum/in/www1/artemis/domain/exam/Exam.java
  src/main/java/de/tum/in/www1/artemis/domain/exam/monitoring/ExamAction.java
  src/main/java/de/tum/in/www1/artemis/domain/exam/monitoring/ExamActivity.java
  src/main/java/de/tum/in/www1/artemis/domain/exam/monitoring/actions/ConnectionUpdatedAction.java
  src/main/java/de/tum/in/www1/artemis/domain/exam/monitoring/actions/ContinuedAfterHandedInEarlyAction.java
  src/main/java/de/tum/in/www1/artemis/domain/exam/monitoring/actions/EndedExamAction.java
  src/main/java/de/tum/in/www1/artemis/domain/exam/monitoring/actions/HandedInEarlyAction.java
  src/main/java/de/tum/in/www1/artemis/domain/exam/monitoring/actions/SavedExerciseAction.java
  src/main/java/de/tum/in/www1/artemis/domain/exam/monitoring/actions/StartedExamAction.java
  src/main/java/de/tum/in/www1/artemis/domain/exam/monitoring/actions/SwitchedExerciseAction.java
  src/main/java/de/tum/in/www1/artemis/service/ExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/ParticipationService.java
  src/main/java/de/tum/in/www1/artemis/service/QuizBatchService.java
  src/main/java/de/tum/in/www1/artemis/service/QuizExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/QuizSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/cache/Cache.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/cache/CacheHandler.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/cache/monitoring/EmptyExamMonitoringCache.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/cache/monitoring/ExamActivitySaveTask.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/cache/monitoring/ExamCache.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/cache/monitoring/ExamMonitoringCache.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/cache/monitoring/ExamMonitoringDistributedCache.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/cache/monitoring/ExamMonitoringScheduleService.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/cache/quiz/EmptyQuizExerciseCache.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/cache/quiz/QuizCache.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/cache/quiz/QuizExerciseCache.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/cache/quiz/QuizExerciseDistributedCache.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/cache/quiz/QuizProcessCacheTask.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/cache/quiz/QuizScheduleService.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/cache/quiz/QuizStartTask.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/quiz/QuizCache.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExamActivityResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExamResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ParticipationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/QuizExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/StudentExamResource.java
  src/main/resources/config/liquibase/changelog/20220430150500_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/entities/exam-user-activity.model.ts
  src/main/webapp/app/entities/exam.model.ts
  src/main/webapp/app/entities/student-exam.model.ts
  src/main/webapp/app/exam/manage/exams/exam-update.component.html
  src/main/webapp/app/exam/monitor/exam-monitoring.service.ts
  src/main/webapp/app/exam/participate/exam-participation.component.ts
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/en/exam.json
  src/test/java/de/tum/in/www1/artemis/ExamActivityIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/QuizExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/QuizSubmissionIntegrationTest.java
  src/test/javascript/spec/component/exam/participate/exam-participation.component.spec.ts
  src/test/javascript/spec/service/exam-monitoring.service.spec.ts
Labels: tests, server, client, exam mode, database, ready to merge, exam monitoring

#5212 `Development`: Add comments regarding the task regex for programming exercises
  src/main/java/de/tum/in/www1/artemis/service/hestia/ProgrammingExerciseTaskService.java
  src/main/webapp/app/exercises/programming/shared/instructions-render/extensions/programming-exercise-task.extension.ts
  src/main/webapp/app/shared/markdown-editor/domainCommands/programming-exercise/task.command.ts
Labels: ready for review, server, client, bugfix, ready to merge

#5206 `General`: Support ultra wide screens in the course management view
  src/main/webapp/app/course/manage/overview/course-management-card.scss
Labels: enhancement, client, small, ready to merge

#5208 `Assessment`: Remember collapsed instruction blocks
  src/main/webapp/app/assessment/assessment-instructions/expandable-section/expandable-section.component.html
  src/main/webapp/app/assessment/assessment-instructions/expandable-section/expandable-section.component.ts
  src/test/javascript/spec/component/assessment-shared/expandable-section.component.spec.ts
Labels: enhancement, tests, client, ready to merge

#5214 `General`: Move notifications icon, theme switcher and account menu to horizontal row in collapsed mobile menu
  src/main/webapp/app/shared/layouts/navbar/navbar.component.html
  src/main/webapp/app/shared/layouts/navbar/navbar.scss
  src/main/webapp/app/shared/notification/notification-sidebar/notification-sidebar.scss
Labels: enhancement, client, ready to merge

#5227 `Development`: Add peer dependency overrides to avoid NPM resolve errors
  package.json
Labels: chore, ready to merge

#5215 `Exam mode`: Fix alert when registering instructors or admins
  src/main/java/de/tum/in/www1/artemis/web/rest/ExamResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/errors/AccessForbiddenAlertException.java
  src/main/java/de/tum/in/www1/artemis/web/rest/errors/BadRequestAlertException.java
  src/main/java/de/tum/in/www1/artemis/web/rest/errors/ConflictException.java
  src/main/java/de/tum/in/www1/artemis/web/rest/errors/HttpStatusException.java
  src/main/webapp/app/core/util/alert.service.ts
  src/main/webapp/app/exam/manage/students/exam-students.component.ts
Labels: server, client, exam mode, small, bugfix, ready to merge

#5213 `General`: Show registration number in course group table and in the corresponding CSV export
  src/main/java/de/tum/in/www1/artemis/service/CourseService.java
  src/main/webapp/app/course/manage/course-group.component.html
  src/main/webapp/i18n/de/course.json
  src/main/webapp/i18n/en/course.json
Labels: server, client, small, ready to merge

#5192 `General`: Provide overview over course lifetime in active students chart on course detail
  src/main/java/de/tum/in/www1/artemis/service/CourseService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/webapp/app/course/manage/course-management.service.ts
  src/main/webapp/app/course/manage/course-update.component.ts
  src/main/webapp/app/course/manage/detail/course-detail-line-chart.component.html
  src/main/webapp/app/course/manage/detail/course-detail-line-chart.component.ts
  src/main/webapp/app/shared/chart/active-students-chart.ts
  src/main/webapp/i18n/de/course.json
  src/main/webapp/i18n/en/course.json
  src/test/java/de/tum/in/www1/artemis/util/CourseTestService.java
  src/test/javascript/spec/component/course/course-management.service.spec.ts
  src/test/javascript/spec/component/course/detail/course-detail-line-chart.component.spec.ts
Labels: tests, server, client, ready to merge

#5243 `Development`: Add missing translation for exercise search when importing an exercise
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise-import.component.html
  src/main/webapp/app/exercises/programming/manage/programming-exercise-import.component.html
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise-import.component.html
  src/main/webapp/app/exercises/text/manage/text-exercise-import.component.html
  src/main/webapp/i18n/de/exercise.json
  src/main/webapp/i18n/en/exercise.json
Labels: client, component:Programming, component:Modeling, component:Text, component:Quiz, small, bugfix, ready to merge

#5240 `Development`: Fix creation of Docker images for pull requests opened from forks
  .github/workflows/build-deploy.yml
Labels: ready to merge

#5239 `Programming exercises`: Remove extra left margin from clone repository button
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.html
  src/main/webapp/app/overview/exercise-details/exercise-details-student-actions.component.html
  src/main/webapp/app/shared/components/clone-repo-button/clone-repo-button.component.html
Labels: client, small, ready to merge

#5236 `Discussion`: Fix post tag selector background color
  src/main/webapp/app/shared/metis/posting-create-edit-modal/post-create-edit-modal/post-tag-selector/post-tag-selector.component.scss
  src/main/webapp/content/scss/themes/_dark-variables.scss
  src/main/webapp/content/scss/themes/_default-variables.scss
Labels: client, small, bugfix, ready to merge, dark mode

#5229 `General`: Don't show "No description available" in course header
  src/main/webapp/app/course/manage/detail/course-detail.component.html
  src/main/webapp/app/overview/course-overview.component.html
  src/main/webapp/i18n/de/student-dashboard.json
  src/main/webapp/i18n/en/student-dashboard.json
Labels: enhancement, client, small, ready to merge

#5203 `Discussion`: Allow users to reference exercises within posts
  src/main/webapp/app/shared/markdown-editor/command-constants.ts
  src/main/webapp/app/shared/markdown-editor/commands/exerciseReference.command.ts
  src/main/webapp/app/shared/markdown-editor/commands/multiOptionCommand.ts
  src/main/webapp/app/shared/markdown-editor/domainCommands/domainMultiOptionCommand.ts
  src/main/webapp/app/shared/markdown-editor/markdown-editor.component.html
  src/main/webapp/app/shared/markdown-editor/markdown-editor.component.ts
  src/main/webapp/app/shared/metis/metis.service.ts
  src/main/webapp/app/shared/metis/posting-markdown-editor/posting-markdown-editor.component.ts
  src/main/webapp/app/shared/pipes/negated-type-check.pipe.ts
  src/main/webapp/app/shared/pipes/shared-pipes.module.ts
  src/main/webapp/i18n/de/metis.json
  src/main/webapp/i18n/en/metis.json
  src/test/javascript/spec/component/markdown-editor/exerciseReference-command.spec.ts
  src/test/javascript/spec/component/shared/metis/postings-markdown-editor/postings-markdown-editor.component.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-metis-service.service.ts
  src/test/javascript/spec/service/metis/metis.service.spec.ts
Labels: tests, client, ready to merge

#5181 `General`: Allow admins to filter user management table
  src/main/java/de/tum/in/www1/artemis/repository/UserRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/specs/UserSpecs.java
  src/main/java/de/tum/in/www1/artemis/web/rest/UserResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/PageableSearchDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/UserPageableSearchDTO.java
  src/main/webapp/app/admin/admin.module.ts
  src/main/webapp/app/admin/user-management/user-management.component.html
  src/main/webapp/app/admin/user-management/user-management.component.scss
  src/main/webapp/app/admin/user-management/user-management.component.ts
  src/main/webapp/app/core/user/user.service.ts
  src/main/webapp/content/scss/themes/_dark-variables.scss
  src/main/webapp/content/scss/themes/_default-variables.scss
  src/main/webapp/i18n/de/user-management.json
  src/main/webapp/i18n/en/user-management.json
  src/test/java/de/tum/in/www1/artemis/authentication/UserBambooBitbucketJiraIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/authentication/UserJenkinsGitlabIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/UserTestService.java
  src/test/javascript/spec/component/admin/user-management.component.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-course-management.service.ts
Labels: tests, server, client, ready to merge

#5115 `General`: Enhance mobile appearance of various charts
  src/main/webapp/app/course/course-scores/course-scores.component.html
  src/main/webapp/app/course/manage/course-management-statistics.component.html
  src/main/webapp/app/course/manage/detail/course-detail-line-chart.component.html
  src/main/webapp/app/course/manage/detail/course-detail.component.html
  src/main/webapp/app/course/manage/detail/course-detail.component.scss
  src/main/webapp/app/exam/exam-scores/exam-scores-average-scores-graph.component.html
  src/main/webapp/app/exam/exam-scores/exam-scores.component.html
  src/main/webapp/app/exercises/file-upload/manage/file-upload-exercise-detail.component.html
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise-detail.component.html
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.html
  src/main/webapp/app/exercises/quiz/manage/statistics/drag-and-drop-question-statistic/drag-and-drop-question-statistic.component.html
  src/main/webapp/app/exercises/quiz/manage/statistics/drag-and-drop-question-statistic/drag-and-drop-question-statistic.component.ts
  src/main/webapp/app/exercises/quiz/manage/statistics/multiple-choice-question-statistic/multiple-choice-question-statistic.component.html
  src/main/webapp/app/exercises/quiz/manage/statistics/question-statistic.component.ts
  src/main/webapp/app/exercises/quiz/manage/statistics/quiz-point-statistic/quiz-point-statistic.component.html
  src/main/webapp/app/exercises/quiz/manage/statistics/quiz-point-statistic/quiz-point-statistic.component.scss
  src/main/webapp/app/exercises/quiz/manage/statistics/quiz-point-statistic/quiz-point-statistic.component.ts
  src/main/webapp/app/exercises/quiz/manage/statistics/quiz-statistic/quiz-statistic.component.html
  src/main/webapp/app/exercises/quiz/manage/statistics/quiz-statistic/quiz-statistic.component.ts
  src/main/webapp/app/exercises/quiz/manage/statistics/quiz-statistics.ts
  src/main/webapp/app/exercises/quiz/manage/statistics/short-answer-question-statistic/short-answer-question-statistic.component.html
  src/main/webapp/app/exercises/quiz/manage/statistics/short-answer-question-statistic/short-answer-question-statistic.component.ts
  src/main/webapp/app/exercises/shared/statistics/exercise-statistics.component.html
  src/main/webapp/app/exercises/shared/statistics/exercise-statistics.component.ts
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise-detail.component.html
  src/main/webapp/app/shared/chart/vertical-bar-chart.scss
  src/main/webapp/app/shared/participant-scores/participant-scores-distribution/participant-scores-distribution.component.html
  src/main/webapp/app/shared/participant-scores/participant-scores-distribution/participant-scores-distribution.component.ts
  src/main/webapp/app/shared/statistics-graph/statistics-average-score-graph.component.html
  src/main/webapp/app/shared/statistics-graph/statistics-average-score-graph.component.scss
  src/main/webapp/app/shared/statistics-graph/statistics-graph.component.html
  src/main/webapp/app/shared/statistics-graph/statistics-graph.component.ts
  src/main/webapp/app/shared/statistics-graph/statistics-score-distribution-graph.component.html
  src/test/javascript/spec/component/quiz-statistic/quiz-point-statistic.component.spec.ts
  src/test/javascript/spec/component/quiz-statistic/quiz-statistic.component.spec.ts
  src/test/javascript/spec/component/shared/participant-scores-distribution.component.spec.ts
Labels: tests, client, ready to merge

#5088 `Plagiarism checks`: Highlight relevant files when comparing programming exercise submissions
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-sidebar/plagiarism-sidebar.component.scss
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-split-view/split-pane-header/split-pane-header.component.html
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-split-view/split-pane-header/split-pane-header.component.scss
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-split-view/split-pane-header/split-pane-header.component.ts
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-split-view/text-submission-viewer/text-submission-viewer.component.ts
  src/main/webapp/content/scss/themes/_dark-variables.scss
  src/test/javascript/spec/component/plagiarism/split-pane-header.component.spec.ts
  src/test/javascript/spec/component/plagiarism/text-submission-viewer.component.spec.ts
Labels: enhancement, tests, client, component:Programming, plagiarism detection, ready to merge

#4953 `Development`: Throw an exception if an email could not be sent to a user
  src/main/java/de/tum/in/www1/artemis/exception/ArtemisMailException.java
  src/main/java/de/tum/in/www1/artemis/service/MailService.java
  src/test/java/de/tum/in/www1/artemis/service/MailServiceTest.java
Labels: tests, server, small, notification system, ready to merge, email

#5117 `Assessment`: Increase the maximum configurable length for complaints and complaint responses
  src/main/java/de/tum/in/www1/artemis/config/Constants.java
  src/main/java/de/tum/in/www1/artemis/domain/Complaint.java
  src/main/java/de/tum/in/www1/artemis/domain/ComplaintResponse.java
  src/main/resources/config/liquibase/changelog/20220609095000_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/course/manage/course-update.component.ts
Labels: server, client, database, ready to merge

#5250 `General`: Localize time ago pipe
  src/main/webapp/app/shared/pipes/artemis-time-ago.pipe.ts
  src/test/javascript/spec/pipe/artemis-time-ago.pipe.spec.ts
Labels: enhancement, tests, client, small, ready to merge

#5247 `Development`: Forward exceptions to sentry during exam monitoring
  src/main/webapp/app/exam/monitor/exam-monitoring.service.ts
  src/test/javascript/spec/service/exam-monitoring.service.spec.ts
Labels: tests, client, ready to merge, exam monitoring

#5260 `Quiz exercises`: Fix quiz preview and show overlay when quiz was never started
  src/main/webapp/app/exercises/quiz/participate/quiz-participation.component.html
  src/main/webapp/app/exercises/quiz/participate/quiz-participation.component.ts
  src/test/javascript/spec/component/exercises/quiz/quiz-participation.component.spec.ts
Labels: tests, client, component:Quiz, small, ready to merge

#5266 `Quiz exercises`: Fix page not updating after importing questions
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise-detail.component.ts
Labels: client, component:Quiz, small, bugfix, ready to merge

#5241 `General`: Only show learning goals when data is available
  src/main/java/de/tum/in/www1/artemis/repository/CourseRepository.java
  src/main/java/de/tum/in/www1/artemis/service/CourseService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/webapp/app/course/manage/course-management.service.ts
  src/main/webapp/app/overview/course-learning-goals/course-learning-goals.component.ts
  src/main/webapp/app/overview/course-overview.component.html
  src/main/webapp/app/overview/course-overview.component.ts
  src/test/java/de/tum/in/www1/artemis/util/CourseTestService.java
  src/test/javascript/spec/component/course/course-management.service.spec.ts
  src/test/javascript/spec/component/course/course-overview.component.spec.ts
  src/test/javascript/spec/component/learning-goals/course-learning-goals.component.spec.ts
Labels: enhancement, tests, server, client, ready to merge

#5131 `Plagiarism checks`: Allow instructors to clean up and improve performance
  src/main/java/de/tum/in/www1/artemis/domain/plagiarism/PlagiarismComparison.java
  src/main/java/de/tum/in/www1/artemis/domain/plagiarism/PlagiarismSubmission.java
  src/main/java/de/tum/in/www1/artemis/domain/plagiarism/PlagiarismSubmissionElement.java
  src/main/java/de/tum/in/www1/artemis/domain/plagiarism/text/TextSubmissionElement.java
  src/main/java/de/tum/in/www1/artemis/repository/plagiarism/PlagiarismComparisonRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/plagiarism/PlagiarismResultRepository.java
  src/main/java/de/tum/in/www1/artemis/web/rest/plagiarism/PlagiarismResource.java
  src/main/resources/config/liquibase/changelog/20220520150000_changelog.xml
  src/main/resources/config/liquibase/changelog/20220525121212_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/course/plagiarism-cases/shared/plagiarism-cases.service.ts
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-inspector/plagiarism-inspector.component.html
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-inspector/plagiarism-inspector.component.ts
  src/main/webapp/app/exercises/shared/plagiarism/types/PlagiarismComparison.ts
  src/main/webapp/app/exercises/shared/plagiarism/types/PlagiarismResult.ts
  src/main/webapp/i18n/de/plagiarism.json
  src/main/webapp/i18n/en/plagiarism.json
  src/test/java/de/tum/in/www1/artemis/PlagiarismIntegrationTest.java
  src/test/javascript/spec/component/plagiarism/plagiarism-inspector.component.spec.ts
  src/test/javascript/spec/service/plagiarism-cases.service.spec.ts
Labels: tests, server, client, database, plagiarism detection, performance, ready to merge

#5278 `Development`: Update top level design diagram to use correct spelling of Artemis
  docs/dev/system-design/TopLevelDesign.png
Labels: documentation, ready to merge

#5258 `Programming exercises`: Fix an issue with excess submissions with Gitlab
  src/main/java/de/tum/in/www1/artemis/service/connectors/gitlab/GitLabService.java
  src/test/java/de/tum/in/www1/artemis/GitlabServiceTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseBitbucketBambooIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseGitlabJenkinsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingSubmissionAndResultBitbucketBambooIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingSubmissionAndResultGitlabJenkinsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingSubmissionConstants.java
  src/test/resources/de/tum/in/www1/artemis/programmingexercise/bambooBuildResultRequest.json
  src/test/resources/de/tum/in/www1/artemis/programmingexercise/bitbucketPushEventRequest.json
  src/test/resources/de/tum/in/www1/artemis/programmingexercise/bitbucketPushEventRequestWithoutCommit.json
  src/test/resources/de/tum/in/www1/artemis/programmingexercise/gitlabPushEventRequest.json
  src/test/resources/de/tum/in/www1/artemis/programmingexercise/gitlabPushEventRequestWithoutCommit.json
  src/test/resources/de/tum/in/www1/artemis/programmingexercise/gitlabPushEventRequestWrongCommitOrder.json
Labels: tests, server, jenkins/gitlab, bugfix, ready to merge

#5235 `Discussion`: Reference artifacts within postings
  src/main/webapp/app/shared/markdown-editor/command-constants.ts
  src/main/webapp/app/shared/markdown-editor/commands/courseArtifactReferenceCommands/exerciseReferenceCommand.ts
  src/main/webapp/app/shared/markdown-editor/commands/courseArtifactReferenceCommands/lectureAttachmentReferenceCommand.ts
  src/main/webapp/app/shared/markdown-editor/markdown-editor.component.html
  src/main/webapp/app/shared/markdown-editor/markdown-editor.component.scss
  src/main/webapp/app/shared/markdown-editor/markdown-editor.component.ts
  src/main/webapp/app/shared/metis/metis.component.scss
  src/main/webapp/app/shared/metis/metis.service.ts
  src/main/webapp/app/shared/metis/metis.util.ts
  src/main/webapp/app/shared/metis/posting-content/posting-content-part/posting-content-part.component.html
  src/main/webapp/app/shared/metis/posting-content/posting-content-part/posting-content-part.components.ts
  src/main/webapp/app/shared/metis/posting-content/posting-content.components.ts
  src/main/webapp/app/shared/metis/posting-markdown-editor/posting-markdown-editor.component.html
  src/main/webapp/app/shared/metis/posting-markdown-editor/posting-markdown-editor.component.ts
  src/main/webapp/i18n/de/metis.json
  src/main/webapp/i18n/en/metis.json
  src/test/javascript/spec/component/markdown-editor/exerciseReference-command.spec.ts
  src/test/javascript/spec/component/markdown-editor/metisReference-commands.spec.ts
  src/test/javascript/spec/component/shared/metis/posting-content/posting-content-part.component.spec.ts
  src/test/javascript/spec/component/shared/metis/posting-content/posting-content.component.spec.ts
  src/test/javascript/spec/component/shared/metis/postings-markdown-editor/postings-markdown-editor.component.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-metis-service.service.ts
  src/test/javascript/spec/helpers/sample/metis-sample-data.ts
  src/test/javascript/spec/service/metis/metis.service.spec.ts
Labels: tests, client, ready to merge, discussion

#5029 `General`: Improve exercise header
  src/main/webapp/app/complaints/complaint.service.ts
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.html
  src/main/webapp/app/exercises/shared/exercise-headers/header-exercise-page-with-details.component.html
  src/main/webapp/app/exercises/shared/exercise-headers/header-exercise-page-with-details.component.scss
  src/main/webapp/app/exercises/shared/exercise-headers/header-exercise-page-with-details.component.ts
  src/main/webapp/app/exercises/shared/exercise-headers/included-in-score-badge.component.ts
  src/main/webapp/app/exercises/shared/submission-policy/submission-policy-update.component.ts
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.ts
  src/main/webapp/app/shared/components/not-released-tag.component.html
  src/main/webapp/app/shared/components/not-released-tag.component.ts
  src/main/webapp/i18n/de/assessmentType.json
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/de/student-dashboard.json
  src/main/webapp/i18n/en/assessmentType.json
  src/main/webapp/i18n/en/programmingExercise.json
  src/main/webapp/i18n/en/student-dashboard.json
  src/test/javascript/spec/component/complaints/complaint.service.spec.ts
  src/test/javascript/spec/component/exercises/shared/headers/header-exercise-page-with-details.component.spec.ts
  src/test/javascript/spec/component/exercises/shared/headers/included-in-score-badge.component.spec.ts
Labels: tests, client, user interface, ready to merge

#5133 `General`: Improve detailed feedback view for exercises
  src/main/java/de/tum/in/www1/artemis/domain/Feedback.java
  src/main/java/de/tum/in/www1/artemis/domain/Result.java
  src/main/java/de/tum/in/www1/artemis/service/ExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/SubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/compass/controller/FeedbackSelector.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseGradingService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ParticipationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseTestCaseResource.java
  src/main/webapp/app/exercises/shared/course-exercises/course-exercise.service.ts
  src/main/webapp/app/exercises/shared/exercise/exercise.service.ts
  src/main/webapp/app/exercises/shared/result/result-detail.component.html
  src/main/webapp/app/exercises/shared/result/result-detail.component.ts
  src/main/webapp/app/exercises/shared/result/result.component.ts
  src/main/webapp/app/exercises/shared/unreferenced-feedback/unreferenced-feedback.component.ts
  src/main/webapp/i18n/de/programmingAssessment.json
  src/main/webapp/i18n/de/result.json
  src/main/webapp/i18n/en/programmingAssessment.json
  src/main/webapp/i18n/en/result.json
  src/test/java/de/tum/in/www1/artemis/ExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ModelingExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ParticipationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseGradingServiceTest.java
  src/test/javascript/spec/component/shared/result-detail.component.spec.ts
Labels: tests, server, client, ready to merge

#5282 `General`: Fix style of tab bar of exercises
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.ts
Labels: client, small

#5272 `Development`: Update about us page
  README.md
  src/main/webapp/app/core/about-us/about-us.component.html
  src/main/webapp/app/core/about-us/about-us.component.ts
  src/main/webapp/i18n/de/aboutUs.json
  src/main/webapp/i18n/en/aboutUs.json
Labels: ready for review, client

#5151 `Quiz exercises`: Fix minor issues when participating
  src/main/java/de/tum/in/www1/artemis/exception/QuizJoinException.java
  src/main/java/de/tum/in/www1/artemis/service/QuizBatchService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/QuizExerciseResource.java
  src/main/webapp/app/core/interceptor/artemis-version.interceptor.ts
  src/main/webapp/app/exercises/quiz/participate/quiz-participation.component.ts
  src/main/webapp/app/exercises/quiz/shared/questions/quiz-scoring-infostudent-modal/quiz-scoring-info-student-modal.component.ts
Labels: ready for review, server, client, component:Quiz, priority:high, ready to merge

#5288 `Plagiarism checks`: Prevent multiple simultaneous plagiarism checks in the same course
  src/main/java/de/tum/in/www1/artemis/config/Constants.java
  src/main/java/de/tum/in/www1/artemis/service/plagiarism/ModelingPlagiarismDetectionService.java
  src/main/java/de/tum/in/www1/artemis/service/plagiarism/ProgrammingPlagiarismDetectionService.java
  src/main/java/de/tum/in/www1/artemis/service/plagiarism/TextPlagiarismDetectionService.java
  src/main/java/de/tum/in/www1/artemis/service/plagiarism/cache/PlagiarismCacheService.java
  src/main/webapp/i18n/de/error.json
  src/main/webapp/i18n/en/error.json
  src/test/java/de/tum/in/www1/artemis/service/compass/umlmodel/AbstractUMLDiagramTest.java
Labels: tests, ready for review, server, client, priority:high

#5253 `General`: Allow admins to perform a batch deletion of users
  src/main/java/de/tum/in/www1/artemis/repository/UserRepository.java
  src/main/java/de/tum/in/www1/artemis/web/rest/UserResource.java
  src/main/webapp/app/admin/user-management/user-management.component.html
  src/main/webapp/app/admin/user-management/user-management.component.scss
  src/main/webapp/app/admin/user-management/user-management.component.ts
  src/main/webapp/app/core/user/user.service.ts
  src/main/webapp/i18n/de/error.json
  src/main/webapp/i18n/de/user-management.json
  src/main/webapp/i18n/en/error.json
  src/main/webapp/i18n/en/user-management.json
  src/test/java/de/tum/in/www1/artemis/authentication/UserBambooBitbucketJiraIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/authentication/UserJenkinsGitlabIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/UserTestService.java
  src/test/javascript/spec/component/admin/user-management.component.spec.ts
Labels: tests, server, client, ready to merge

#5280 `General`: Fix height of course card with no statistics
  src/main/webapp/app/overview/course-card.scss
Labels: client, small, bugfix, ready to merge

#5276 `General`: Improve the design of the course header description
  src/main/webapp/app/course/manage/course-management.module.ts
  src/main/webapp/app/course/manage/course-update.component.html
  src/main/webapp/app/course/manage/detail/course-detail.component.html
  src/main/webapp/app/course/manage/detail/course-detail.component.scss
  src/main/webapp/app/course/manage/detail/course-detail.component.ts
  src/main/webapp/app/overview/course-overview.component.html
  src/main/webapp/app/overview/course-overview.component.ts
  src/main/webapp/app/overview/course-overview.scss
  src/main/webapp/app/overview/courses.module.ts
  src/main/webapp/app/overview/header-course.component.html
  src/main/webapp/app/overview/header-course.component.scss
  src/main/webapp/app/overview/header-course.component.ts
  src/main/webapp/app/shared/layouts/navbar/navbar.component.ts
  src/test/javascript/spec/component/course/course-overview.component.spec.ts
  src/test/javascript/spec/component/course/detail/course-detail.component.spec.ts
  src/test/javascript/spec/component/course/header-course.component.spec.ts
Labels: tests, client, ready to merge

#5300 `Development`: Fix a date conversion error for quizzes
  src/main/webapp/app/complaints/complaint.service.ts
Labels: client, component:Quiz, bugfix

#5283 `Communication`: Enable save button when multi-line content is copied into new posts
  src/main/webapp/app/shared/metis/metis.util.ts
  src/main/webapp/app/shared/metis/posting-create-edit-modal/answer-post-create-edit-modal/answer-post-create-edit-modal.component.ts
  src/main/webapp/app/shared/metis/posting-create-edit-modal/post-create-edit-modal/post-create-edit-modal.component.ts
Labels: client, bugfix, ready to merge, discussion

#5303 `Development`: Delete duplicated change set in master.xml
  src/main/resources/config/liquibase/master.xml
Labels: database, small, ready to merge

#5292 `Programming exercises`: Fix race condition on exercise detail page for instructors
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.ts
Labels: ready for review, client, bugfix, ready to merge

#5290 `Development`: Add note about lazy relationships to documentation
  docs/dev/guidelines/database.rst
Labels: ready for review, documentation, ready to merge

#5289 `Communication`: Replace discussion labels with communication
  README.md
  docs/dev/guidelines/development-process.rst
  docs/index.rst
  docs/user/communication.rst
  docs/user/communication/course-posts.png
  docs/user/communication/exercise-posts.png
  docs/user/communication/lecture-posts.png
  docs/user/discussion/course-posts.png
  docs/user/discussion/exercise-posts.png
  docs/user/discussion/lecture-posts.png
  src/main/webapp/app/core/about-us/about-us.component.ts
  src/main/webapp/app/course/manage/detail/course-detail.component.html
  src/main/webapp/app/course/manage/overview/course-management-card.component.html
  src/main/webapp/app/overview/course-discussion/course-discussion.module.ts
  src/main/webapp/app/overview/course-overview.component.html
  src/main/webapp/app/overview/discussion-section/discussion-section.component.html
  src/main/webapp/app/shared/layouts/navbar/navbar.component.ts
  src/main/webapp/app/shared/metis/metis.util.ts
  src/main/webapp/app/shared/metis/posting-reactions-bar/answer-post-reactions-bar/answer-post-reactions-bar.component.html
  src/main/webapp/app/shared/metis/posting-reactions-bar/post-reactions-bar/post-reactions-bar.component.html
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/de/metis.json
  src/main/webapp/i18n/de/student-dashboard.json
  src/main/webapp/i18n/en/global.json
  src/main/webapp/i18n/en/metis.json
  src/main/webapp/i18n/en/student-dashboard.json
  src/test/javascript/spec/component/shared/metis/postings-reactions-bar/answer-post-reactions-bar/answer-post-reactions-bar.component.spec.ts
  src/test/javascript/spec/component/shared/metis/postings-reactions-bar/post-reactions-bar/post-reactions-bar.component.spec.ts
Labels: tests, client, documentation, ready to merge, communication

#5274 `Programming exercises`: Remove duplicate alerts and fix initial dates on page load
  src/main/webapp/app/exercises/programming/shared/lifecycle/programming-exercise-lifecycle.component.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-lifecycle.component.spec.ts
Labels: tests, client, ready to merge
