Repository ls1intum/Artemis, pull requests merged in 2022-11, with the labels that each got.

#5774 `Programming exercises`: Fix starting exercise after due date was postponed
  src/main/java/de/tum/in/www1/artemis/service/ParticipationService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ParticipationResource.java
  src/test/java/de/tum/in/www1/artemis/service/ParticipationServiceTest.java
Labels: tests, server, small, bugfix, ready to merge

#5780 `Programming exercises`: Fix Jenkins builds by removing all non-printable characters in C exercises
  src/main/resources/templates/jenkins/c/fact/regularRuns/Jenkinsfile
  src/main/resources/templates/jenkins/c/gcc/regularRuns/Jenkinsfile
Labels: component:Programming, jenkins/gitlab, small, bugfix, ready to merge

#5795 `Assessment`: Add consistent handling if no more unassessed submissions are available
  src/main/java/de/tum/in/www1/artemis/service/ModelingSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/TextSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/FileUploadSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextSubmissionResource.java
  src/main/webapp/app/exercises/file-upload/assess/file-upload-assessment.component.ts
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment-editor/modeling-assessment-editor.component.ts
  src/main/webapp/app/exercises/modeling/participate/modeling-submission.service.ts
  src/main/webapp/app/exercises/shared/dashboards/tutor/exercise-assessment-dashboard.component.ts
  src/main/webapp/app/exercises/text/participate/text-submission.service.ts
  src/test/java/de/tum/in/www1/artemis/FileUploadSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ModelingSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/TextSubmissionIntegrationTest.java
  src/test/javascript/spec/component/file-upload-assessment/file-upload-assessment.component.spec.ts
Labels: tests, server, client, ready to merge

#5788 `Programming exercises`: Show exercise dashboard button if complaints for automatic results are enabled
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.html
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.ts
Labels: client, small, ready to merge

#5770 `Text exercises`: Allow text assessment when adblocker is running on browser
  src/main/java/de/tum/in/www1/artemis/web/rest/TextAssessmentEventResource.java
  src/main/webapp/app/exercises/text/assess/text-assessment.service.ts
  src/test/java/de/tum/in/www1/artemis/TextExerciseAnalyticsIntegrationTest.java
  src/test/javascript/spec/service/text-assessment-analytics.service.spec.ts
  src/test/javascript/spec/service/text-assessment.service.spec.ts
Labels: tests, server, client, ready to merge

#5433 `Programming exercises`: Fix "Go to Build Plan" URL in the exercise overview
  src/main/webapp/app/exercises/shared/course-exercises/course-exercise.service.ts
  src/main/webapp/app/exercises/shared/exercise/exercise.service.ts
  src/main/webapp/app/exercises/shared/participation/participation.service.ts
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.ts
  src/test/javascript/spec/component/admin/user-management-update.component.spec.ts
  src/test/javascript/spec/service/course-exercise.service.spec.ts
  src/test/javascript/spec/test.module.ts
Labels: tests, client, component:Programming, bugfix, ready to merge

#5667 `Programming exercises`: Fix an issue with git-diff report generation if it does not exist already
  src/main/java/de/tum/in/www1/artemis/service/hestia/ProgrammingExerciseGitDiffReportService.java
  src/main/java/de/tum/in/www1/artemis/service/hestia/behavioral/BehavioralTestCaseService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/hestia/ProgrammingExerciseGitDiffReportResource.java
  src/test/java/de/tum/in/www1/artemis/hestia/ProgrammingExerciseGitDiffReportServiceTest.java
Labels: tests, ready for review, server, small, bugfix

#5815 `Development`: Update client and server dependencies
  build.gradle
  gradle.properties
  jest.config.js
  package-lock.json
  package.json
Labels: ready for review, dependencies, chore

#5813 `Programming exercises`: Only store build logs of failed builds
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseGradingService.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseResultBambooIntegrationTest.java
Labels: tests, ready for review, server

#5761 `Programming exercises`: Fix test case issues not showing immediately
  src/main/webapp/app/exercises/programming/manage/instructions-editor/analysis/programming-exercise-instruction-analysis.component.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-instruction-analysis.component.spec.ts
Labels: tests, client, small, ready to merge

#5733 `Development`: Reimplement course icon file upload
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/webapp/app/course/manage/course-management.service.ts
  src/main/webapp/app/course/manage/course-update.component.html
  src/main/webapp/app/course/manage/course-update.component.ts
  src/main/webapp/app/shared/http/file-uploader.service.ts
  src/main/webapp/app/shared/image-cropper/component/image-cropper.component.ts
  src/test/cypress/integration/CourseManagement.spec.ts
  src/test/cypress/integration/Logout.spec.ts
  src/test/cypress/integration/exam/ExamAssessment.spec.ts
  src/test/cypress/integration/exam/ExamCreationDeletion.spec.ts
  src/test/cypress/integration/exam/ExamDateVerification.spec.ts
  src/test/cypress/integration/exam/ExamManagement.spec.ts
  src/test/cypress/integration/exam/ExamParticipation.spec.ts
  src/test/cypress/integration/exercises/modeling/ModelingExerciseAssessment.spec.ts
  src/test/cypress/integration/exercises/modeling/ModelingExerciseManagement.spec.ts
  src/test/cypress/integration/exercises/modeling/ModelingExerciseParticipation.spec.ts
  src/test/cypress/integration/exercises/programming/ProgrammingExerciseAssessment.spec.ts
  src/test/cypress/integration/exercises/programming/ProgrammingExerciseManagement.spec.ts
  src/test/cypress/integration/exercises/programming/ProgrammingExerciseParticipation.spec.ts
  src/test/cypress/integration/exercises/programming/ProgrammingExerciseStaticCodeAnalysis.spec.ts
  src/test/cypress/integration/exercises/quiz-exercise/QuizExerciseAssessment.spec.ts
  src/test/cypress/integration/exercises/quiz-exercise/QuizExerciseManagement.spec.ts
  src/test/cypress/integration/exercises/quiz-exercise/QuizExerciseParticipation.spec.ts
  src/test/cypress/integration/exercises/text/TextExerciseAssessment.spec.ts
  src/test/cypress/integration/exercises/text/TextExerciseManagement.spec.ts
  src/test/cypress/integration/exercises/text/TextExerciseParticipation.spec.ts
  src/test/cypress/integration/lecture/LectureManagement.spec.ts
  src/test/cypress/support/requests/CourseManagementRequests.ts
  src/test/cypress/support/utils.ts
  src/test/java/de/tum/in/www1/artemis/CourseBitbucketBambooJiraIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/CourseGitlabJenkinsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/CourseTestService.java
  src/test/javascript/spec/component/course/course-management.service.spec.ts
  src/test/javascript/spec/component/course/course-update.component.spec.ts
  src/test/javascript/spec/component/shared/image-cropper/image-croppper.component.spec.ts
  src/test/javascript/spec/service/course.service.spec.ts
Labels: tests, ready for review, server, client, cypress

#5786 `Assessment`: Fix accepting complaints changes test case status
  src/main/java/de/tum/in/www1/artemis/domain/Feedback.java
  src/main/java/de/tum/in/www1/artemis/service/SubmissionService.java
  src/test/java/de/tum/in/www1/artemis/service/SubmissionServiceTest.java
Labels: tests, server, small, bugfix, ready to merge

#5833 `Assessment`: Fix an issue with the complaint timeframe ending too early
  src/main/java/de/tum/in/www1/artemis/service/ComplaintService.java
  src/main/webapp/app/complaints/complaint.service.ts
  src/main/webapp/app/complaints/complaints-for-students/complaints-student-view.component.ts
  src/main/webapp/app/exercises/file-upload/assess/file-upload-assessment.service.ts
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment.service.ts
  src/main/webapp/app/exercises/modeling/participate/modeling-submission.component.html
  src/main/webapp/app/exercises/modeling/participate/modeling-submission.service.ts
  src/main/webapp/app/exercises/shared/exercise-headers/header-exercise-page-with-details.component.ts
  src/main/webapp/app/exercises/shared/result/result.component.ts
  src/main/webapp/app/exercises/shared/result/updating-result.component.ts
  src/main/webapp/app/exercises/shared/submission/submission.service.ts
  src/main/webapp/app/exercises/text/assess/text-assessment.service.ts
  src/test/java/de/tum/in/www1/artemis/AssessmentComplaintIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/AssessmentTeamComplaintIntegrationTest.java
  src/test/javascript/spec/component/complaints/complaint-student-view.component.spec.ts
  src/test/javascript/spec/component/complaints/complaint.service.spec.ts
Labels: tests, server, client, priority:high, ready to merge

#5821 `General`: Improve the user experience when using labels
  docs/dev/guidelines/client.rst
  src/main/webapp/app/account/register/register.component.html
  src/main/webapp/app/admin/organization-management/organization-management-update.component.html
  src/main/webapp/app/admin/system-notification-management/system-notification-management-update.component.html
  src/main/webapp/app/admin/user-management/user-management-update.component.html
  src/main/webapp/app/admin/user-management/user-management.component.html
  src/main/webapp/app/assessment/assessment-detail/assessment-detail.component.html
  src/main/webapp/app/course/course-scores/course-scores.component.html
  src/main/webapp/app/course/manage/course-management.component.html
  src/main/webapp/app/course/manage/course-update.component.html
  src/main/webapp/app/course/manage/detail/course-detail-line-chart.component.html
  src/main/webapp/app/exam/exam-scores/exam-scores.component.html
  src/main/webapp/app/exam/manage/exams/exam-exercise-import/exam-exercise-import.component.html
  src/main/webapp/app/exam/manage/exams/exam-update.component.html
  src/main/webapp/app/exam/manage/student-exams/student-exam-detail.component.html
  src/main/webapp/app/exam/participate/exam-cover/exam-participation-cover.component.html
  src/main/webapp/app/exam/participate/exercises/file-upload/file-upload-exam-submission.component.html
  src/main/webapp/app/exercises/file-upload/participate/file-upload-submission.component.html
  src/main/webapp/app/exercises/programming/manage/grading/programming-exercise-configure-grading.component.html
  src/main/webapp/app/exercises/programming/shared/code-editor/treeview/components/treeview/treeview.component.html
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise-detail.component.html
  src/main/webapp/app/exercises/shared/external-submission/external-submission-dialog.component.html
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-inspector/plagiarism-inspector.component.html
  src/main/webapp/app/exercises/text/assess/textblock-feedback-editor/textblock-feedback-editor.component.html
  src/main/webapp/app/lecture/lecture-attachments.component.html
  src/main/webapp/app/shared/components/clone-repo-button/clone-repo-button.component.html
  src/main/webapp/app/shared/components/open-code-editor-button/open-code-editor-button.component.html
  src/main/webapp/app/shared/date-time-picker/date-time-picker.component.html
  src/main/webapp/app/shared/delete-dialog/delete-dialog.component.html
  src/main/webapp/app/shared/import/users-import-dialog.component.html
  src/main/webapp/app/shared/metis/posting-create-edit-modal/post-create-edit-modal/post-create-edit-modal.component.html
Labels: client, documentation, ready to merge

#5823 `Programming exercises`: Improve gradle testing template
  docs/user/exercises/programming-sca-default-configuration.inc
  src/main/resources/templates/java/test/gradle/projectTemplate/build.gradle
  src/main/resources/templates/java/test/staticCodeAnalysisConfig/checkstyle-configuration.xml
Labels: documentation, component:Programming, small, ready to merge

#5691 `General`: Add capability to remove course icon
  src/main/webapp/app/course/manage/course-update.component.html
  src/main/webapp/app/course/manage/course-update.component.scss
  src/main/webapp/app/course/manage/course-update.component.ts
  src/main/webapp/app/course/manage/detail/course-detail.component.html
  src/main/webapp/i18n/de/course.json
  src/main/webapp/i18n/en/course.json
  src/test/cypress/fixtures/course/icon.png
  src/test/cypress/integration/course/CourseManagement.spec.ts
  src/test/cypress/support/commands.ts
  src/test/cypress/support/requests/CourseManagementRequests.ts
  src/test/java/de/tum/in/www1/artemis/CourseBitbucketBambooJiraIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/CourseGitlabJenkinsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/CourseTestService.java
  src/test/java/de/tum/in/www1/artemis/util/RequestUtilService.java
  src/test/javascript/spec/component/course/course-update.component.spec.ts
Labels: tests, client, cypress, ready to merge

#5804 `Programming exercises`: Improve feedback counter in result details
  src/main/webapp/app/exercises/programming/shared/instructions-render/step-wizard/programming-exercise-instruction-step-wizard.component.html
  src/main/webapp/app/exercises/programming/shared/instructions-render/step-wizard/programming-exercise-instruction-step-wizard.component.ts
  src/main/webapp/app/exercises/programming/shared/instructions-render/task/programming-exercise-instruction-task-status.component.ts
  src/main/webapp/app/exercises/shared/result/result-detail.component.html
  src/main/webapp/app/exercises/shared/result/result-detail.component.ts
  src/main/webapp/i18n/de/result.json
  src/main/webapp/i18n/en/result.json
  src/test/javascript/spec/component/programming-exercise/programming-exercise-instruction.component.spec.ts
  src/test/javascript/spec/component/shared/result-detail.component.spec.ts
Labels: tests, client, component:Programming, small, ready to merge

#5811 `Development`: Add automatic coverage report to pull requests
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/test.yml
Labels: chore, priority:low, code quality, small, ready to merge

#5778 `Exam mode`: Improve wording for grades with bonus
  src/main/webapp/app/exam/manage/student-exams/student-exam-detail.component.html
  src/main/webapp/app/exam/participate/summary/exam-participation-summary.component.html
  src/main/webapp/app/exam/participate/summary/points-summary/exam-points-summary.component.html
  src/main/webapp/app/exam/participate/summary/points-summary/exam-points-summary.component.scss
  src/main/webapp/app/exam/participate/summary/points-summary/exam-points-summary.component.ts
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/en/exam.json
  src/test/javascript/spec/component/exam/participate/summary/points-summary/exam-points-summary.component.spec.ts
Labels: tests, client, ready to merge

#5799 `Programming exercises`: Synchronize repository locks after exercise update
  src/main/java/de/tum/in/www1/artemis/domain/ProgrammingExercise.java
  src/main/java/de/tum/in/www1/artemis/service/messaging/DistributedInstanceMessageSendService.java
  src/main/java/de/tum/in/www1/artemis/service/messaging/InstanceMessageReceiveService.java
  src/main/java/de/tum/in/www1/artemis/service/messaging/InstanceMessageSendService.java
  src/main/java/de/tum/in/www1/artemis/service/messaging/MainInstanceMessageSendService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/ProgrammingExerciseScheduleService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseResource.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseIntegrationTestService.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseServiceTest.java
Labels: tests, server, component:Programming, ready to merge

#5717 `General`: Search exercises of a course
  src/main/webapp/app/overview/course-exercises/course-exercises.component.html
  src/main/webapp/app/overview/course-exercises/course-exercises.component.ts
  src/main/webapp/app/overview/course-overview.scss
  src/test/cypress/integration/course/CourseExercise.spec.ts
  src/test/cypress/support/pageobjects/ArtemisPageobjects.ts
  src/test/cypress/support/pageobjects/course/CourseExercisePage.ts
  src/test/javascript/spec/component/course/course-exercises.component.spec.ts
Labels: tests, client, cypress, ready to merge

#5771 `Programming exercises`: Synchronize result display in exercise view
  src/main/java/de/tum/in/www1/artemis/domain/Feedback.java
  src/main/java/de/tum/in/www1/artemis/domain/Result.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/BambooService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ResultResource.java
  src/main/webapp/app/exercises/shared/participation/participation.service.ts
  src/main/webapp/app/exercises/shared/result/result-detail.component.html
  src/main/webapp/app/exercises/shared/result/result-detail.component.ts
  src/main/webapp/app/exercises/shared/result/result.component.html
  src/main/webapp/app/exercises/shared/result/result.component.ts
  src/main/webapp/app/exercises/shared/result/result.service.ts
  src/main/webapp/app/exercises/shared/result/result.utils.ts
  src/main/webapp/app/exercises/shared/result/updating-result.component.ts
  src/main/webapp/app/exercises/shared/submission/submission.service.ts
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.ts
  src/main/webapp/app/overview/result-history/result-history.component.html
  src/main/webapp/app/overview/result-history/result-history.component.ts
  src/main/webapp/app/overview/result-history/result-history.scss
  src/main/webapp/app/overview/submission-result-status.component.html
  src/main/webapp/app/overview/submission-result-status.component.ts
  src/main/webapp/content/scss/global.scss
  src/test/java/de/tum/in/www1/artemis/ResultServiceIntegrationTest.java
  src/test/javascript/spec/component/exercises/shared/result.component.spec.ts
  src/test/javascript/spec/component/overview/result-history/result-history.component.spec.ts
  src/test/javascript/spec/component/shared/updating-result.component.spec.ts
  src/test/javascript/spec/component/utils/result.utils.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-result.service.ts
Labels: tests, ready for review, server, client, component:Programming

#5825 `Development`: Remove sub-queries for filtering and ordering posts
  src/main/java/de/tum/in/www1/artemis/domain/metis/Post.java
  src/main/java/de/tum/in/www1/artemis/repository/specs/PostSpecs.java
  src/main/java/de/tum/in/www1/artemis/service/metis/AnswerPostService.java
  src/main/java/de/tum/in/www1/artemis/service/metis/PostService.java
  src/main/java/de/tum/in/www1/artemis/service/metis/ReactionService.java
  src/main/resources/config/liquibase/changelog/20221106102640_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/entities/metis/post.model.ts
  src/main/webapp/app/shared/metis/metis.service.ts
  src/main/webapp/app/shared/metis/post/post.component.html
  src/main/webapp/app/shared/metis/post/post.component.ts
  src/test/java/de/tum/in/www1/artemis/metis/AnswerPostIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/metis/PostIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/metis/ReactionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/javascript/spec/component/shared/metis/post/post.component.spec.ts
Labels: tests, server, client, database, code quality, ready to merge, communication

#5827 `Documentation`: Add Publication List
  docs/conf.py
  docs/index.rst
  docs/requirements.txt
  docs/research/publications.bib
  docs/research/publications.rst
Labels: documentation

#5844 `Programming exercises`: Fix an issue with ordered tasks in problem statements on Safari
  src/main/webapp/app/exercises/programming/shared/instructions-render/extensions/programming-exercise-task.extension.ts
Labels: client, component:Programming, small, bugfix, ready to merge

#5845 `Development`: Fix lighthouse issues in logo
  src/main/webapp/app/shared/layouts/navbar/navbar.component.html
Labels: client, small, ready to merge

#5842 `Development`: Refactor ExerciseDateService to reduce service dependencies
  src/main/java/de/tum/in/www1/artemis/domain/participation/ProgrammingExerciseParticipation.java
  src/main/java/de/tum/in/www1/artemis/repository/StudentExamRepository.java
  src/main/java/de/tum/in/www1/artemis/service/AssessmentService.java
  src/main/java/de/tum/in/www1/artemis/service/ComplaintService.java
  src/main/java/de/tum/in/www1/artemis/service/ExerciseDateService.java
  src/main/java/de/tum/in/www1/artemis/service/ExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/FileUploadSubmissionExportService.java
  src/main/java/de/tum/in/www1/artemis/service/FileUploadSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/ModelingSubmissionExportService.java
  src/main/java/de/tum/in/www1/artemis/service/ModelingSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/ParticipationLifecycleService.java
  src/main/java/de/tum/in/www1/artemis/service/ParticipationService.java
  src/main/java/de/tum/in/www1/artemis/service/SubmissionExportService.java
  src/main/java/de/tum/in/www1/artemis/service/SubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/TextAssessmentService.java
  src/main/java/de/tum/in/www1/artemis/service/TextSubmissionExportService.java
  src/main/java/de/tum/in/www1/artemis/service/TextSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingAssessmentService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseExportService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseGradingService.java
  src/test/java/de/tum/in/www1/artemis/service/AssessmentServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/ExerciseDateServiceTest.java
Labels: tests, server, refactoring, small, ready to merge

#5758 `Development`: Refactor feedback generation for programming exercises
  src/main/java/de/tum/in/www1/artemis/domain/Feedback.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/AbstractContinuousIntegrationService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/BambooService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/dto/BambooBuildResultNotificationDTO.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/dto/TestCaseDTO.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/dto/TestResultsDTO.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/dto/TestSuiteDTO.java
  src/main/java/de/tum/in/www1/artemis/service/dto/AbstractBuildResultNotificationDTO.java
  src/main/java/de/tum/in/www1/artemis/service/dto/BuildJobDTOInterface.java
  src/main/java/de/tum/in/www1/artemis/service/dto/TestCaseDTOInterface.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseGradingService.java
  src/test/java/de/tum/in/www1/artemis/util/ModelFactory.java
Labels: tests, server, ready to merge

#5776 `Programming exercises`: Use a fixed version for the Haskell test image
  src/main/resources/config/application.yml
  src/main/resources/templates/haskell/exercise/stack.yaml
  src/main/resources/templates/haskell/solution/stack.yaml
  src/main/resources/templates/haskell/test/stack.yaml
Labels: enhancement, component:Programming, small, ready to merge

#5806 `Assessment`: Integrate reviewer information into list of complaints
  src/main/java/de/tum/in/www1/artemis/domain/Complaint.java
  src/main/webapp/app/complaints/list-of-complaints/list-of-complaints.component.html
  src/main/webapp/app/complaints/list-of-complaints/list-of-complaints.component.ts
  src/main/webapp/app/exercises/shared/rating/rating-list/rating-list.component.html
  src/main/webapp/i18n/de/complaint.json
  src/main/webapp/i18n/de/rating.json
  src/main/webapp/i18n/en/complaint.json
  src/main/webapp/i18n/en/rating.json
  src/test/javascript/spec/component/complaints/list-of-complaints.component.spec.ts
Labels: tests, server, client, ready to merge

#5805 `Development`: Cleanup documentation
  docs/dev/cypress.rst
  docs/dev/docker.rst
  docs/dev/guided-tour.rst
  docs/dev/open-source.rst
  docs/dev/setup.rst
  docs/dev/setup/bamboo-bitbucket-jira.rst.txt
  docs/dev/setup/distributed.rst.txt
  docs/dev/setup/jenkins-gitlab.rst.txt
  docs/dev/setup/kubernetes.rst.txt
  docs/dev/setup/programming-exercises.rst.txt
  docs/dev/system-design.rst
  docs/dev/use-local-user-management.rst
Labels: documentation, ready to merge

#5647 `Development`: Add Docker setup for documentation previews
  docs/Dockerfile
  docs/README.md
Labels: documentation, ready to merge, no-stale, docker

#5627 `Development`: Match server and client run configurations
  .idea/runConfigurations/Artemis__Server___Client_.xml
Labels: ready to merge

#5809 `Development`: Unify docker compose settings
  .dockerignore
  .gitignore
  .idea/runConfigurations/Remote_Java_Debugging_for_Docker.xml
  build.gradle
  docker-compose.yml
  docs/Dockerfile
  docs/dev/cypress.rst
  docs/dev/setup.rst
  docs/dev/setup/bamboo-bitbucket-jira.rst.txt
  docs/dev/setup/jenkins-gitlab.rst.txt
  docs/dev/setup/kubernetes.rst.txt
  src/main/docker/.dockerignore
  src/main/docker/Dockerfile
  src/main/docker/README.md
  src/main/docker/TODO.md
  src/main/docker/activemq.yml
  src/main/docker/app.yml
  src/main/docker/artemis-dev-mysql-gitlab-jenkins.yml
  src/main/docker/artemis-dev-mysql.yml
  src/main/docker/artemis-server-client-mysql.yml
  src/main/docker/artemis/Dockerfile
  src/main/docker/artemis/artemis.yml
  src/main/docker/artemis/run_artemis.sh
  src/main/docker/atlassian.yml
  src/main/docker/atlassian/atlassian-setup.sh
  src/main/docker/atlassian/atlassian.c.override.yml
  src/main/docker/atlassian/atlassian.swift.override.yml
  src/main/docker/central-server-config/README.md
  src/main/docker/cypress/docker-compose.yml
  src/main/docker/docker-compose.yml
  src/main/docker/gitlab-gitlabci.yml
  src/main/docker/gitlab-jenkins-mysql.yml
  src/main/docker/gitlab-jenkins.yml
  src/main/docker/gitlab/README.md
  src/main/docker/gitlab/env.example.gitlab-gitlabci.txt
  src/main/docker/gitlab/gitlab-setup.sh
  src/main/docker/gitlab/gitlab.yml
  src/main/docker/jenkins/jenkins.yml
  src/main/docker/jhipster-registry.yml
  src/main/docker/kafka.yml
  src/main/docker/mailhog/mailhog.yml
  src/main/docker/monitoring.yml
  src/main/docker/mysql.yml
  src/main/docker/saml-test/application-saml2.yml
  src/main/docker/saml-test/config.php
  src/main/docker/saml-test/saml-test.yml
  src/main/docker/saml-test/saml20-sp-remote.php
  src/main/docker/scripts/wait-for.md
  src/main/docker/scripts/wait-for.sh
  src/main/docker/specialized-local-configs/artemis-dev-mysql-gitlab-jenkins-local.yml
  src/main/resources/config/application-docker.yml
  webpack/environment.js
Labels: documentation, ready to merge, docker

#5856 `General`: Fix an issue where tooltips were not displayed
  src/main/webapp/app/shared/components/help-icon.component.ts
Labels: client, small, bugfix, ready to merge

#5853 `Assessment`: Fix complaints not accessible after lock runs out
  src/main/java/de/tum/in/www1/artemis/config/Constants.java
  src/main/webapp/app/complaints/complaint-response.service.ts
  src/main/webapp/app/complaints/complaints-for-tutor/complaints-for-tutor.component.html
  src/main/webapp/app/complaints/complaints-for-tutor/complaints-for-tutor.component.ts
  src/main/webapp/app/exercises/shared/dashboards/tutor/exercise-assessment-dashboard.component.html
  src/main/webapp/app/exercises/shared/result/result.component.html
  src/test/javascript/spec/component/complaints/complaint-response.service.spec.ts
Labels: tests, server, client, priority:high, bugfix, ready to merge

#5860 `Programming exercises`: Fix an issue when displaying the clone repository button
  src/main/webapp/app/shared/components/clone-repo-button/clone-repo-button.component.html
  src/main/webapp/app/shared/components/start-practice-mode-button/start-practice-mode-button.component.html
Labels: client, priority:high, small, bugfix, ready to merge

#5812 `General`: Simplify LTI configuration for instructors
  src/main/java/de/tum/in/www1/artemis/domain/Course.java
  src/main/java/de/tum/in/www1/artemis/domain/OnlineCourseConfiguration.java
  src/main/java/de/tum/in/www1/artemis/repository/CourseRepository.java
  src/main/java/de/tum/in/www1/artemis/security/lti/Lti13LaunchFilter.java
  src/main/java/de/tum/in/www1/artemis/service/OnlineCourseConfigurationService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/LtiDynamicRegistrationService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/LtiResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/admin/AdminCourseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/ExerciseLtiConfigurationDTO.java
  src/main/webapp/app/course/manage/course-lti-configuration/course-lti-configuration.component.html
  src/main/webapp/app/course/manage/course-lti-configuration/course-lti-configuration.component.ts
  src/main/webapp/app/course/manage/course-lti-configuration/edit-course-lti-configuration.component.html
  src/main/webapp/app/course/manage/course-lti-configuration/edit-course-lti-configuration.component.ts
  src/main/webapp/app/course/manage/course-management.module.ts
  src/main/webapp/app/course/manage/course-management.route.ts
  src/main/webapp/app/course/manage/course-management.service.ts
  src/main/webapp/app/course/manage/course-update.component.html
  src/main/webapp/app/course/manage/course-update.component.ts
  src/main/webapp/app/course/manage/detail/course-detail.component.html
  src/main/webapp/app/entities/lti-configuration.model.ts
  src/main/webapp/app/exercises/shared/exercise/exercise-details/exercise-details.component.html
  src/main/webapp/app/exercises/shared/exercise/exercise-details/exercise-details.module.ts
  src/main/webapp/app/exercises/shared/exercise/exercise-lti-configuration.component.html
  src/main/webapp/app/exercises/shared/exercise/exercise-lti-configuration.component.ts
  src/main/webapp/app/exercises/shared/exercise/exercise.module.ts
  src/main/webapp/app/exercises/shared/exercise/exercise.route.ts
  src/main/webapp/app/exercises/shared/exercise/exercise.service.ts
  src/main/webapp/app/overview/exercise-details/lti-initializer-modal.component.html
  src/main/webapp/app/overview/exercise-details/lti-initializer-modal.component.ts
  src/main/webapp/app/shared/components/copy-icon-button/copy-icon-button.component.html
  src/main/webapp/app/shared/components/copy-icon-button/copy-icon-button.component.ts
  src/main/webapp/app/shared/components/shared-component.module.ts
  src/main/webapp/app/shared/layouts/navbar/navbar.component.ts
  src/main/webapp/i18n/de/course.json
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/de/lti.json
  src/main/webapp/i18n/en/course.json
  src/main/webapp/i18n/en/global.json
  src/main/webapp/i18n/en/lti.json
  src/test/java/de/tum/in/www1/artemis/CourseBitbucketBambooJiraIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/CourseGitlabJenkinsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/LtiIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/connectors/LtiDynamicRegistrationServiceTest.java
  src/test/java/de/tum/in/www1/artemis/tutorialgroups/TutorialGroupsConfigurationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/CourseTestService.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/java/de/tum/in/www1/artemis/util/ModelFactory.java
  src/test/javascript/spec/component/course/course-lti-configuration.component.spec.ts
  src/test/javascript/spec/component/course/course-management.service.spec.ts
  src/test/javascript/spec/component/course/course-update.component.spec.ts
  src/test/javascript/spec/component/course/edit-course-lti-configuration.component.spec.ts
  src/test/javascript/spec/component/shared/copy-icon-button.component.spec.ts
Labels: tests, server, client, user interface, ready to merge

#5816 `General`: Add an optional start date to exercises
  docs/dev/guidelines/language-guidelines.rst
  src/main/java/de/tum/in/www1/artemis/domain/BaseExercise.java
  src/main/java/de/tum/in/www1/artemis/domain/Exercise.java
  src/main/java/de/tum/in/www1/artemis/domain/enumeration/ExerciseLifecycle.java
  src/main/java/de/tum/in/www1/artemis/domain/participation/ProgrammingExerciseParticipation.java
  src/main/java/de/tum/in/www1/artemis/domain/quiz/QuizExercise.java
  src/main/java/de/tum/in/www1/artemis/service/ExerciseImportService.java
  src/main/java/de/tum/in/www1/artemis/service/ParticipationService.java
  src/main/java/de/tum/in/www1/artemis/service/exam/ExamImportService.java
  src/main/java/de/tum/in/www1/artemis/service/notifications/GroupNotificationScheduleService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ParticipationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/repository/RepositoryProgrammingExerciseParticipationResource.java
  src/main/resources/config/liquibase/changelog/20221107133000_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/entities/exercise.model.ts
  src/main/webapp/app/exercises/file-upload/manage/file-upload-exercise-update.component.html
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise-update.component.html
  src/main/webapp/app/exercises/programming/assess/code-editor-tutor-assessment-container.component.html
  src/main/webapp/app/exercises/programming/manage/programming-exercise-edit-selected.component.ts
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.ts
  src/main/webapp/app/exercises/programming/participate/code-editor-student-container.component.ts
  src/main/webapp/app/exercises/programming/shared/lifecycle/programming-exercise-lifecycle.component.html
  src/main/webapp/app/exercises/programming/shared/lifecycle/programming-exercise-lifecycle.component.ts
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise-detail.component.html
  src/main/webapp/app/exercises/shared/course-exercises/course-exercise.service.ts
  src/main/webapp/app/exercises/shared/exercise-headers/header-exercise-page-with-details.component.html
  src/main/webapp/app/exercises/shared/exercise-headers/header-exercise-page-with-details.component.ts
  src/main/webapp/app/exercises/shared/exercise/exercise-details/exercise-details.component.html
  src/main/webapp/app/exercises/shared/exercise/exercise.service.ts
  src/main/webapp/app/exercises/shared/exercise/exercise.utils.ts
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise-update.component.html
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/text-unit-form/text-unit-form.component.html
  src/main/webapp/app/overview/exercise-details/exercise-details-student-actions.component.html
  src/main/webapp/app/overview/exercise-details/exercise-details-student-actions.component.ts
  src/main/webapp/app/shared/components/exercise-action-button.component.ts
  src/main/webapp/app/shared/metis/posting-button/posting-button.component.ts
  src/main/webapp/i18n/de/assessment.json
  src/main/webapp/i18n/de/exercise-actions.json
  src/main/webapp/i18n/de/exercise.json
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/de/student-dashboard.json
  src/main/webapp/i18n/en/exercise-actions.json
  src/main/webapp/i18n/en/exercise.json
  src/main/webapp/i18n/en/programmingExercise.json
  src/main/webapp/i18n/en/student-dashboard.json
  src/test/cypress/support/pageobjects/exercises/modeling/CreateModelingExercisePage.ts
  src/test/cypress/support/pageobjects/exercises/text/TextExerciseCreationPage.ts
  src/test/cypress/support/pageobjects/lecture/LectureManagementPage.ts
  src/test/java/de/tum/in/www1/artemis/ParticipationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/domain/participation/ProgrammingExerciseParticipationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/RepositoryIntegrationTest.java
  src/test/javascript/spec/component/exercises/shared/headers/header-exercise-page-with-details.component.spec.ts
  src/test/javascript/spec/component/overview/exercise-details/exercise-details-student-actions.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-lifecycle.component.spec.ts
  src/test/javascript/spec/component/quiz-exercise/quiz-exercise-detail.component.spec.ts
  src/test/javascript/spec/component/tutorial-groups/tutorial-groups-management/tutorial-groups/tutorial-groups-management/tutorial-groups-import-button.component.spec.ts
  src/test/javascript/spec/service/exercise.service.spec.ts
Labels: tests, server, client, documentation, database, priority:high, cypress, ready to merge

#5866 `Programming exercises`: Always include user in clone URL
  src/main/webapp/app/shared/components/clone-repo-button/clone-repo-button.component.ts
  src/test/javascript/spec/component/shared/clone-repo-button.component.spec.ts
Labels: tests, client, component:Programming, small, ready to merge

#5874 `Exam mode`: Fix tooltip for test exams
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/en/exam.json
Labels: client, exam mode, small, ready to merge

#5878 `Development`: Refactor instance message topics
  src/main/java/de/tum/in/www1/artemis/service/messaging/DistributedInstanceMessageSendService.java
  src/main/java/de/tum/in/www1/artemis/service/messaging/InstanceMessageReceiveService.java
  src/main/java/de/tum/in/www1/artemis/service/messaging/MessageTopic.java
Labels: server, chore, code quality, refactoring, small, ready to merge

#5861 `General`: Improve consistency to spacings and margins in exercise view
  src/main/webapp/app/core/theme/theme-switch.component.scss
  src/main/webapp/app/course/course-scores/course-scores.component.scss
  src/main/webapp/app/course/plagiarism-cases/instructor-view/detail-view/plagiarism-case-instructor-detail-view.component.scss
  src/main/webapp/app/course/plagiarism-cases/student-view/detail-view/plagiarism-case-student-detail-view.component.scss
  src/main/webapp/app/exam/participate/exam-navigation-bar/exam-navigation-bar.component.scss
  src/main/webapp/app/exercises/programming/hestia/generation-overview/code-hint-generation-status/code-hint-generation-status.component.scss
  src/main/webapp/app/exercises/programming/shared/code-editor/file-browser/code-editor-file-browser.scss
  src/main/webapp/app/exercises/programming/shared/instructions-render/programming-exercise-instruction.scss
  src/main/webapp/app/exercises/programming/shared/instructions-render/step-wizard/programming-exercise-instruction-step-wizard.scss
  src/main/webapp/app/exercises/quiz/manage/re-evaluate/multiple-choice-question/re-evaluate-multiple-choice-question.component.scss
  src/main/webapp/app/exercises/quiz/shared/quiz.scss
  src/main/webapp/app/exercises/shared/exercise-headers/header-exercise-page-with-details.component.scss
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-inspector/plagiarism-inspector.component.scss
  src/main/webapp/app/exercises/shared/result/result-detail.scss
  src/main/webapp/app/exercises/shared/structured-grading-criterion/grading-instructions-details/grading-instructions-details.component.scss
  src/main/webapp/app/exercises/text/assess/textblock-assessment-card/textblock-assessment-card.component.scss
  src/main/webapp/app/feature-overview/feature-overview.scss
  src/main/webapp/app/grading-system/base-grading-system/_base-grading-system.component.scss
  src/main/webapp/app/grading-system/grading-system.component.scss
  src/main/webapp/app/home/home.scss
  src/main/webapp/app/overview/course-exams/course-exams.component.html
  src/main/webapp/app/overview/course-exercises/course-exercise-row.component.html
  src/main/webapp/app/overview/course-exercises/course-exercise-row.scss
  src/main/webapp/app/overview/course-lectures/course-lecture-details.component.html
  src/main/webapp/app/overview/course-messages/course-messages.component.html
  src/main/webapp/app/overview/course-overview.scss
  src/main/webapp/app/overview/courses.component.html
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.html
  src/main/webapp/app/overview/exercise-details/exercise-details-student-actions.component.html
  src/main/webapp/app/overview/result-history/result-history.component.html
  src/main/webapp/app/overview/tab-bar/tab-bar.scss
  src/main/webapp/app/shared/circular-progress-bar/circular-progress-bar.component.scss
  src/main/webapp/app/shared/dashboards/tutor-participation-graph/tutor-participation-graph.component.scss
  src/main/webapp/app/shared/date-time-picker/date-time-picker.component.scss
  src/main/webapp/app/shared/layouts/navbar/navbar.scss
  src/main/webapp/app/shared/markdown-editor/markdown-editor.component.scss
  src/main/webapp/app/shared/metis/posting-footer/post-footer/post-footer.component.html
  src/main/webapp/content/scss/_artemis-variables.scss
  src/main/webapp/content/scss/global.scss
Labels: client, consistency, small, ready to merge

#5814 `Development`: Remove unnecessary transactional annotations in delete operations
  src/main/java/de/tum/in/www1/artemis/repository/ExampleSubmissionRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/FeedbackRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/TextBlockRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/hestia/ProgrammingExerciseGitDiffReportRepository.java
  src/main/java/de/tum/in/www1/artemis/service/AssessmentService.java
  src/main/java/de/tum/in/www1/artemis/service/ExampleSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/ExerciseDeletionService.java
  src/main/java/de/tum/in/www1/artemis/service/LectureUnitService.java
  src/main/java/de/tum/in/www1/artemis/service/ResultService.java
  src/main/java/de/tum/in/www1/artemis/service/TextBlockService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseService.java
Labels: ready for review, server, chore, code quality

#5883 `Development`: Add new contributor to about us page
  src/main/resources/public/content/about-us.json
  src/main/resources/public/images/about/Benjamin_Sebastian_Schmitz.jpg
Labels: ready to merge

#5865 `Development`: Instantiate loggers with the correct classes
  src/main/java/de/tum/in/www1/artemis/config/migration/MigrationService.java
  src/main/java/de/tum/in/www1/artemis/service/ComplaintResponseService.java
  src/main/java/de/tum/in/www1/artemis/service/FileUploadExerciseImportService.java
  src/main/java/de/tum/in/www1/artemis/service/OnlineCourseConfigurationService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ComplaintResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ComplaintResponseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/GradeStepResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/hestia/ProgrammingExerciseSolutionEntryResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/tutorialgroups/TutorialGroupFreePeriodResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/tutorialgroups/TutorialGroupSessionResource.java
  src/test/java/de/tum/in/www1/artemis/util/TestUriParamsUtil.java
Labels: tests, server, code quality, small, ready to merge

#5869 `Development`: Refactor footer styles
  src/main/webapp/app/guided-tour/tours/course-overview-tour.ts
  src/main/webapp/app/shared/layouts/footer/footer.component.html
  src/main/webapp/app/shared/layouts/footer/footer.component.ts
  src/main/webapp/app/shared/layouts/footer/footer.scss
  src/main/webapp/content/scss/global.scss
Labels: client, refactoring, small, ready to merge

#5872 `Development`: Fix multipart course creation in k6 tests
  src/test/k6/requests/course.js
  src/test/k6/requests/endpoints.js
  src/test/k6/requests/requests.js
Labels: tests, ready to merge

#5886 `Programming exercises`: Improve readability of build output in the online editor
  src/main/webapp/app/exercises/programming/shared/code-editor/build-output/code-editor-build-output.scss
  src/main/webapp/content/scss/themes/_dark-variables.scss
  src/main/webapp/content/scss/themes/_default-variables.scss
Labels: client, component:Programming, small, bugfix, user interface, ready to merge, dark mode

#5885 `Development`: Refactor bad code smell in list to array conversion
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/BambooBuildPlanService.java
  src/main/java/de/tum/in/www1/artemis/service/metis/ConversationService.java
Labels: server, code quality, small, ready to merge
