Repository ls1intum/Artemis, pull requests merged in 2022-02, with the labels that each got.

#4659 `Development`: Fix server test concerning UTC conversion
  src/test/java/de/tum/in/www1/artemis/service/CourseServiceTest.java
Labels: tests, small, ready to merge

#4650 `Development`: Increase client test coverage for http interceptors
  jest.config.js
  src/test/javascript/spec/interceptor/auth-expired.interceptor.spec.ts
  src/test/javascript/spec/interceptor/auth.interceptor.spec.ts
  src/test/javascript/spec/interceptor/browser-fingerprint.interceptor.spec.ts
  src/test/javascript/spec/interceptor/errorhandler.interceptor.spec.ts
  src/test/javascript/spec/interceptor/notification.interceptor.spec.ts
Labels: tests, ready to merge

#4660 `Development`: Increase client test coverage of date time picker
  src/test/javascript/spec/component/shared/date-time-picker.component.spec.ts
Labels: tests, small, ready to merge

#4661 `General`: Fix tooltip in student statistics if exercise is only started
  src/main/webapp/app/overview/course-statistics/course-statistics.component.ts
Labels: client, ready to merge

#4666 `Development`: Increase client test coverage for quiz scoring info modal component
  src/test/javascript/spec/component/exercises/quiz/quiz-scoring-info-student-modal.component.spec.ts
Labels: tests, ready to merge

#4646 `Exam mode`: Show relative extension for the working time of student exams
  src/main/webapp/app/exam/manage/exam-management.component.html
  src/main/webapp/app/exam/manage/exam-management.module.ts
  src/main/webapp/app/exam/manage/student-exams/student-exam-detail.component.html
  src/main/webapp/app/exam/manage/student-exams/student-exam-detail.component.scss
  src/main/webapp/app/exam/manage/student-exams/student-exam-detail.component.ts
  src/main/webapp/app/exam/manage/student-exams/student-exams.component.html
  src/main/webapp/app/exam/participate/exam.utils.ts
  src/main/webapp/app/exam/participate/information/exam-information.component.html
  src/main/webapp/app/exam/participate/summary/exam-participation-summary.module.ts
  src/main/webapp/app/exam/shared/exam-shared.module.ts
  src/main/webapp/app/exam/shared/student-exam-working-time.component.html
  src/main/webapp/app/exam/shared/student-exam-working-time.component.ts
  src/main/webapp/app/shared/pipes/artemis-duration-from-seconds.pipe.ts
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/en/exam.json
  src/test/javascript/spec/component/exam/manage/student-exams/student-exam-detail.component.spec.ts
  src/test/javascript/spec/component/exam/participate/information/exam-information.component.spec.ts
  src/test/javascript/spec/component/exam/shared/student-exam-working-time.component.spec.ts
Labels: tests, client, ready to merge

#4656 `Programming exercises`: Increase interactivity of programming feedback and grading charts
  src/main/webapp/app/entities/course.model.ts
  src/main/webapp/app/exam/exam-scores/exam-scores-average-scores-graph.component.ts
  src/main/webapp/app/exam/exam-scores/exam-scores.component.ts
  src/main/webapp/app/exercises/programming/manage/grading/charts/programming-grading-charts.directive.ts
  src/main/webapp/app/exercises/programming/manage/grading/charts/sca-category-distribution-chart.component.ts
  src/main/webapp/app/exercises/programming/manage/grading/charts/test-case-distribution-chart.component.ts
  src/main/webapp/app/exercises/programming/manage/grading/programming-exercise-configure-grading.component.html
  src/main/webapp/app/exercises/programming/manage/grading/programming-exercise-configure-grading.component.ts
  src/main/webapp/app/exercises/quiz/manage/statistics/quiz-statistics.directive.ts
  src/main/webapp/app/exercises/shared/result/result-detail.component.html
  src/main/webapp/app/exercises/shared/result/result-detail.component.ts
  src/main/webapp/app/exercises/shared/result/result-detail.scss
  src/main/webapp/app/exercises/shared/statistics/doughnut-chart.component.ts
  src/main/webapp/app/shared/chart/ngx-charts-datatypes.ts
  src/main/webapp/app/shared/statistics-graph/statistics-average-score-graph.component.ts
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/de/result.json
  src/main/webapp/i18n/en/programmingExercise.json
  src/main/webapp/i18n/en/result.json
  src/test/javascript/spec/component/exam/exam-scores/exam-scores-average-scores-graph.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-configure-grading.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/sca-category-distribution-chart.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/test-case-distribution-chart.component.spec.ts
  src/test/javascript/spec/component/shared/result-detail.component.spec.ts
Labels: tests, client, ready to merge

#4663 `Development`: Increase client test coverage of assessment filters
  src/test/javascript/spec/component/assessment-shared/assesment-filter-component.spec.ts
Labels: tests, client, ready to merge

#4329 `Development`: Create deployment workflow for the new microservices architecture
  .github/workflows/build-deploy-microservices.yml
  .gitignore
  build.gradle
  docker-compose-microservices.override-dev.yml
  docker-compose-microservices.override-prod.yml
  docker-compose-microservices.yml
  gateway/build.gradle
  gateway/src/main/docker/Dockerfile
  gateway/src/main/docker/entrypoint.sh
  gateway/src/main/java/de/tum/in/www1/artemis/gateway/config/OpenApiConfiguration.java
  gateway/src/main/java/de/tum/in/www1/artemis/gateway/config/apidocs/GatewaySwaggerResourcesProvider.java
  lecture/build.gradle
  lecture/src/main/docker/Dockerfile
  lecture/src/main/docker/entrypoint.sh
  src/main/docker/Dockerfile
  src/main/resources/config/application-artemis.yml
  user-management/build.gradle
  user-management/src/main/docker/Dockerfile
  user-management/src/main/docker/entrypoint.sh
  user-management/src/test/java/de/tum/in/www1/artemis/usermanagement/web/rest/errors/ExceptionTranslatorTest.java
Labels: ready to merge, lock:artemistest6

#4625 `Users`: Add passwort reset by username for internal users
  src/main/java/de/tum/in/www1/artemis/repository/UserRepository.java
  src/main/java/de/tum/in/www1/artemis/web/rest/AccountResource.java
  src/main/webapp/app/account/password-reset/init/password-reset-init.component.html
  src/main/webapp/app/account/password-reset/init/password-reset-init.component.ts
  src/main/webapp/i18n/de/reset.json
  src/main/webapp/i18n/en/reset.json
  src/test/java/de/tum/in/www1/artemis/AccountResourceIntegrationTest.java
  src/test/javascript/spec/component/account/password-reset-init.component.spec.ts
Labels: tests, server, client, ready to merge

#4674 `General`: Fix issues when deleting entities
  src/main/java/de/tum/in/www1/artemis/domain/ExampleSubmission.java
  src/main/java/de/tum/in/www1/artemis/repository/ParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/StudentParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ExampleSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/ExerciseDeletionService.java
  src/main/java/de/tum/in/www1/artemis/service/ParticipationService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseService.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingSubmissionAndResultBitbucketBambooIntegrationTest.java
Labels: tests, ready for review, server

#4649 `Exam mode`: Add checklist overview
  src/main/java/de/tum/in/www1/artemis/repository/ExamRepository.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExamResource.java
  src/main/webapp/app/exam/manage/exam-management.component.html
  src/main/webapp/app/exam/manage/exam-management.component.ts
  src/main/webapp/app/exam/manage/exam-management.module.ts
  src/main/webapp/app/exam/manage/exam-status.component.html
  src/main/webapp/app/exam/manage/exam-status.component.scss
  src/main/webapp/app/exam/manage/exam-status.component.ts
  src/main/webapp/app/exam/manage/exams/exam-checklist-component/exam-checklist.component.html
  src/main/webapp/app/exam/manage/exams/exam-checklist-component/exam-checklist.component.ts
  src/main/webapp/app/exam/manage/exams/exam-checklist-component/exam-checklist.service.ts
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/en/exam.json
  src/test/javascript/spec/component/exam/manage/exams/exam-checklist.component.spec.ts
  src/test/javascript/spec/component/exam/manage/student-exams/exam-status.component.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-exam-checklist.service.ts
  src/test/javascript/spec/service/exam-checklist.service.spec.ts
Labels: tests, server, client, ready to merge

#4678 `Exam mode`: Fix changing between programming exercises in exams shows wrong files on refresh
  src/main/webapp/app/exam/participate/exercises/programming/programming-exam-submission.component.ts
Labels: ready for review, client, exam mode, priority:high, bugfix, ready to merge

#4673 `Development`: Set default start and end dates in courses for cypress e2e tests
  src/test/cypress/fixtures/requests/course.json
  src/test/cypress/integration/exam/ExamAssessment.spec.ts
  src/test/cypress/support/pageobjects/exam/ExamManagementPage.ts
  src/test/cypress/support/requests/CourseManagementRequests.ts
Labels: tests, ready for review, cypress

#4665 `Development`: Increase client test coverage for password component
  src/test/javascript/spec/component/account/password-strength-bar.component.spec.ts
  src/test/javascript/spec/component/account/password.component.spec.ts
Labels: tests, client, ready to merge

#4662 `Development`: Refactor course score CSV export
  src/main/webapp/app/course/course-scores/course-scores-csv-row-builder.ts
  src/main/webapp/app/course/course-scores/course-scores-student-statistics.ts
  src/main/webapp/app/course/course-scores/course-scores.component.ts
  src/main/webapp/app/course/manage/detail/course-detail-doughnut-chart.component.ts
  src/main/webapp/app/course/manage/overview/course-management-exercise-row.component.ts
  src/main/webapp/app/exam/exam-scores/exam-scores-average-scores-graph.component.ts
  src/main/webapp/app/exam/exam-scores/exam-scores.component.ts
  src/main/webapp/app/exam/manage/student-exams/student-exam-detail-table-row/student-exam-detail-table-row.component.ts
  src/main/webapp/app/exam/manage/student-exams/student-exam-detail.component.ts
  src/main/webapp/app/exam/participate/summary/exercises/quiz-exam-summary/quiz-exam-summary.component.ts
  src/main/webapp/app/exam/participate/summary/points-summary/exam-points-summary.component.ts
  src/main/webapp/app/exercises/programming/assess/code-editor-tutor-assessment-container.component.ts
  src/main/webapp/app/exercises/programming/assess/code-editor-tutor-assessment-inline-feedback.component.ts
  src/main/webapp/app/exercises/quiz/participate/quiz-participation.component.ts
  src/main/webapp/app/exercises/shared/dashboards/tutor/exercise-assessment-dashboard.component.ts
  src/main/webapp/app/exercises/shared/exercise-scores/exercise-scores-export-button.component.ts
  src/main/webapp/app/exercises/shared/result/result-detail.component.ts
  src/main/webapp/app/exercises/shared/result/result.component.ts
  src/main/webapp/app/exercises/shared/statistics/doughnut-chart.component.ts
  src/main/webapp/app/overview/course-card.component.ts
  src/main/webapp/app/overview/course-score-calculation.service.ts
  src/main/webapp/app/overview/course-statistics/course-statistics.component.ts
  src/main/webapp/app/overview/result-history/result-history.component.ts
  src/main/webapp/app/shared/additional-feedback/additional-feedback.component.ts
  src/main/webapp/app/shared/participant-scores/participant-scores-average-table/participant-scores-average-table.component.ts
  src/main/webapp/app/shared/participant-scores/participant-scores-table/participant-scores-table.component.ts
  src/main/webapp/app/shared/participant-scores/participant-scores-tables-container/participant-scores-tables-container.component.ts
  src/main/webapp/app/shared/score-display/score-display.component.ts
  src/main/webapp/app/shared/util/utils.ts
  src/test/javascript/spec/component/course/course-scores/course-scores-csv-row-builder.spec.ts
  src/test/javascript/spec/component/course/course-scores/course-scores.component.spec.ts
  src/test/javascript/spec/util/shared/utils.spec.ts
Labels: tests, client, code quality, refactoring, ready to merge

#4680 `Exam mode`: Fix that complaints are not possible for non programming exercises after participating in an exam as a student
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/webapp/app/complaints/complaints-for-students/complaints-student-view.component.html
  src/main/webapp/app/exam/participate/summary/exam-participation-summary.component.ts
Labels: server, client, ready to merge

#4669 `Plagiarism checks`: Increase interactivity of similarity distribution chart
  src/main/webapp/app/entities/statistics.model.ts
  src/main/webapp/app/exercises/programming/manage/grading/charts/programming-grading-charts.directive.ts
  src/main/webapp/app/exercises/programming/manage/grading/charts/programming-grading-charts.utils.ts
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-inspector/plagiarism-inspector.component.html
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-inspector/plagiarism-inspector.component.ts
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-inspector/plagiarism-inspector.service.ts
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-run-details/plagiarism-and-tutor-effort.directive.ts
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-run-details/plagiarism-run-details.component.html
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-run-details/plagiarism-run-details.component.scss
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-run-details/plagiarism-run-details.component.ts
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-sidebar/plagiarism-sidebar.component.html
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-sidebar/plagiarism-sidebar.component.scss
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-sidebar/plagiarism-sidebar.component.ts
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism.module.ts
  src/main/webapp/app/exercises/shared/result/result-detail.component.ts
  src/main/webapp/app/exercises/text/manage/tutor-effort/tutor-effort-statistics.component.ts
  src/main/webapp/app/shared/statistics-graph/statistics-graph.utils.ts
  src/main/webapp/app/shared/statistics-graph/statistics-score-distribution-graph.component.ts
  src/main/webapp/i18n/de/plagiarism.json
  src/main/webapp/i18n/en/plagiarism.json
  src/test/javascript/spec/component/plagiarism/plagiarism-inspector.component.spec.ts
  src/test/javascript/spec/component/plagiarism/plagiarism-run-details.component.spec.ts
  src/test/javascript/spec/service/plagiarism-inspector.service.spec.ts
Labels: tests, client, ready to merge

#4667 `Assessment`: Add possibility to sort complaints
  src/main/webapp/app/complaints/complaint.service.ts
  src/main/webapp/app/complaints/list-of-complaints/list-of-complaints.component.html
  src/main/webapp/app/complaints/list-of-complaints/list-of-complaints.component.ts
  src/main/webapp/app/exercises/shared/dashboards/tutor/exercise-assessment-dashboard.component.html
  src/main/webapp/app/exercises/shared/dashboards/tutor/exercise-assessment-dashboard.component.ts
  src/main/webapp/app/shared/service/sort.service.ts
  src/main/webapp/i18n/de/complaint.json
  src/main/webapp/i18n/de/exerciseAssessmentDashboard.json
  src/main/webapp/i18n/en/complaint.json
  src/main/webapp/i18n/en/exerciseAssessmentDashboard.json
  src/test/javascript/spec/component/complaints/complaint.service.spec.ts
  src/test/javascript/spec/component/complaints/list-of-complaints.component.spec.ts
  src/test/javascript/spec/service/sort.service.spec.ts
Labels: enhancement, tests, client, ready to merge

#4683 `Programming exercises`: Fix edge case in rendering of programming exercise problem statements
  src/main/webapp/app/exercises/shared/exercise/exercise-details/exercise-details.component.ts
Labels: ready for review, client, component:Programming, priority:high, bugfix, ready to merge

#4677 `Development`: Increase client test coverage of score display
  src/test/javascript/spec/component/score-display.component.spec.ts
Labels: tests, client, small, ready to merge

#4676 `Development`: Increase client test coverage of metrics
  src/test/javascript/spec/component/admin/metrics.component.spec.ts
  src/test/javascript/spec/component/admin/metrics/jvm-threads.component.spec.ts
  src/test/javascript/spec/component/admin/metrics/metrics-modal-threads.component.spec.ts
  src/test/javascript/spec/component/admin/metrics/metrics-system.component.spec.ts
  src/test/javascript/spec/component/admin/metrics/metrics.component.spec.ts
Labels: tests, client, ready to merge

#4675 `Development`: Increase client test coverage of logs
  src/test/javascript/spec/component/admin/logs.component.spec.ts
Labels: tests, client, ready to merge

#4652 `Development`: Increase client test coverage of category selector
  src/main/webapp/app/shared/category-selector/category-selector.component.ts
  src/test/javascript/spec/component/shared/category-selector.component.spec.ts
Labels: tests, client, ready to merge

#4671 `Development`: Integrate cypress e2e tests into Github pull requests
  src/main/docker/app.yml
  src/main/docker/cypress/application.yml
  src/main/docker/cypress/docker-compose.yml
  src/main/docker/docker-compose.yml
  src/main/docker/mysql.yml
  src/test/cypress/cypress.json
  src/test/cypress/integration/_init/ImportUsers.spec.ts
  src/test/cypress/integration/exercises/text/TextExerciseAssessment.spec.ts
  src/test/cypress/integration/exercises/text/TextExerciseManagement.spec.ts
  src/test/cypress/package-lock.json
  src/test/cypress/package.json
  src/test/cypress/support/pageobjects/exercises/programming/OnlineEditorPage.ts
  src/test/cypress/support/pageobjects/lecture/LectureManagementPage.ts
Labels: feature, tests, ready for review, bamboo/bitbucket, cypress

#4672 `Development`: Increase client test coverage for health component
  src/test/javascript/spec/component/admin/health-modal.component.spec.ts
  src/test/javascript/spec/component/admin/health.component.spec.ts
Labels: tests, ready to merge

#4687 `Development`: Fix docker build issue with wget
  src/main/docker/jenkins/Dockerfile
Labels: ready for review

#4668 `Development:` Increase client test coverage of modeling assessment and modeling editor components.
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment.component.ts
  src/test/javascript/spec/component/modeling-assessment/modeling-assessment.component.spec.ts
  src/test/javascript/spec/component/modeling-editor/modeling-editor.component.spec.ts
Labels: tests, ready for review, client

#4693 `Programming exercises`: Update Java and Kolin templates to use Ares 1.8.0
  docs/dev/setup/programming-exercises.rst
  docs/user/exercises/programming.rst
  docs/user/exercises/test-case-best-practices.inc
  src/main/java/de/tum/in/www1/artemis/repository/FeedbackRepository.java
  src/main/resources/templates/java/maven/test/projectTemplate/pom.xml
  src/main/resources/templates/java/test/projectTemplate/pom.xml
  src/main/resources/templates/kotlin/test/projectTemplate/pom.xml
Labels: dependencies, server, component:Programming, small, ready to merge

#4690 `Development`: Add hint about the authorization object in the Java migration tool documentation
  docs/dev/migration/data.rst
Labels: documentation, small, ready to merge

#4702 `Assessment`: Fix invalid links in team participation table
  src/main/webapp/app/exercises/shared/team/team-participation-table/team-participation-table.component.html
Labels: ready for review, client, component:Team, small, bugfix

#4697 `General` Enhance course/exam archive button alignment
  src/main/webapp/app/exam/manage/exams/exam-detail.component.html
  src/main/webapp/app/shared/components/course-exam-archive-button/course-exam-archive-button.component.html
  src/main/webapp/app/shared/components/course-exam-archive-button/course-exam-archive-button.component.scss
  src/main/webapp/app/shared/components/course-exam-archive-button/course-exam-archive-button.component.ts
Labels: ready for review, client, small

#4655 `Development`: Increase client test coverage for admin feature toggle component
  src/test/javascript/spec/component/admin/admin-feature-toggle.component.spec.ts
  src/test/javascript/spec/component/code-editor/code-editor-actions.component.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-feature-toggle.service.ts
Labels: tests, client, ready to merge

#4698 `Programming exercises`: Improve oracle generator for structural tests
  src/main/java/de/tum/in/www1/artemis/service/util/structureoraclegenerator/JavaClassDiff.java
  src/main/java/de/tum/in/www1/artemis/service/util/structureoraclegenerator/OracleGenerator.java
  src/main/java/de/tum/in/www1/artemis/service/util/structureoraclegenerator/SerializerUtil.java
Labels: server, component:Programming, ready to merge

#4707 `Development`: Fix missing manifest for Docker deployments
  build.gradle
Labels: bugfix

#4703 `Exam mode`: Fix rounding of scores in the summary view
  src/main/webapp/app/exam/participate/summary/exam-participation-summary.component.html
  src/main/webapp/app/exam/participate/summary/exam-participation-summary.component.ts
  src/main/webapp/app/exam/participate/summary/points-summary/exam-points-summary.component.ts
  src/test/javascript/spec/component/exam/participate/summary/points-summary/exam-points-summary.component.spec.ts
Labels: tests, ready for review, client, small, bugfix, sentry-issue

#4681 `General`: Fix several small issues in different charts
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/webapp/app/course/dashboards/assessment-dashboard/assessment-dashboard-information.component.ts
  src/main/webapp/app/course/manage/detail/course-detail-doughnut-chart.component.html
  src/main/webapp/app/course/manage/detail/course-detail-doughnut-chart.component.ts
  src/main/webapp/app/course/manage/detail/course-detail-line-chart.component.html
  src/main/webapp/app/course/manage/detail/course-detail-line-chart.component.scss
  src/main/webapp/app/course/manage/detail/course-detail-line-chart.component.ts
  src/main/webapp/app/exercises/shared/dashboards/tutor/exercise-assessment-dashboard.component.ts
  src/main/webapp/i18n/de/exerciseAssessmentDashboard.json
  src/main/webapp/i18n/en/exerciseAssessmentDashboard.json
  src/test/java/de/tum/in/www1/artemis/util/CourseTestService.java
Labels: tests, server, client, ready to merge

#4710 `Development`: Increase client test coverage of organization management
  src/test/javascript/spec/component/organization/organization-management-detail.component.spec.ts
  src/test/javascript/spec/component/organization/organization-management-resolve.spec.ts
Labels: tests, client, ready to merge

#4711 `Development`: Increase client test coverage for system notifications
  src/test/javascript/spec/component/admin/system-notification-management/system-notification-management-resolve.service.spec.ts
Labels: tests, client, ready to merge

#4716 `Exam mode`: Increase maximum width of the problem statement area
  src/main/webapp/app/shared/resizeable-container/resizeable-container.component.ts
Labels: ready for review, client, small

#4719 `Development`: Improve cypress e2e test stability for programming exercises
  src/test/cypress/support/pageobjects/exercises/programming/OnlineEditorPage.ts
Labels: tests, ready for review, small, cypress

#4723 `General`: Fix an error in the participation page header
  src/main/webapp/app/exercises/shared/exercise-headers/header-participation-page.component.ts
  src/test/javascript/spec/component/exercises/shared/headers/header-participation-page.component.spec.ts
Labels: tests, ready for review, client, small, bugfix, sentry-issue

#4717 `General`: Show line breaks in manual feedback
  jest.config.js
  src/main/webapp/app/entities/feedback.model.ts
  src/main/webapp/app/exercises/modeling/participate/modeling-submission.component.ts
  src/main/webapp/app/exercises/programming/assess/code-editor-tutor-assessment-inline-feedback.component.ts
  src/main/webapp/app/exercises/text/participate/text-result/text-result.component.ts
  src/main/webapp/app/shared/additional-feedback/additional-feedback.component.ts
  src/test/javascript/spec/component/programming-assessment/programming-assessment-inline-feedback.component.spec.ts
  src/test/javascript/spec/entities/feedback.model.spec.ts
Labels: tests, client, small, bugfix, ready to merge

#4722 `Development`: Add documentation for the Cypress Bamboo build plans
  docs/dev/cypress.rst
  docs/dev/cypress/cypress_bamboo_deployment_diagram.svg
  docs/dev/cypress/cypress_test_environment_deployment_diagram.svg
  docs/index.rst
Labels: ready for review, documentation, small, ready to merge

#4724 `General`: Improve chart appearance in course statistics page
  src/main/webapp/app/entities/statistics.model.ts
  src/main/webapp/app/overview/course-statistics/course-statistics.component.html
  src/main/webapp/app/overview/course-statistics/course-statistics.component.ts
  src/main/webapp/app/overview/visualizations/exercise-scores-chart/exercise-scores-chart.component.html
  src/main/webapp/app/overview/visualizations/exercise-scores-chart/exercise-scores-chart.component.scss
  src/main/webapp/app/overview/visualizations/exercise-scores-chart/exercise-scores-chart.component.ts
  src/test/javascript/spec/component/overview/course-statistics/visualizations/exercise-scores-chart.component.spec.ts
Labels: tests, client, small, ready to merge

#4725 `Development`: Increase client test coverage for team config and submission components
  src/test/javascript/spec/component/exercises/shared/team-config-form-group.component.spec.ts
  src/test/javascript/spec/component/exercises/shared/team-submission-sync.component.spec.ts
Labels: tests, client, ready to merge

#4730 `Development`: Increase client test coverage for config components
  jest.config.js
  src/test/javascript/spec/config/NgbDateDayjsAdapter.spec.ts
  src/test/javascript/spec/config/translation.config.spec.ts
Labels: tests, client, small, ready to merge

#4729 `General`: Fix an issue when sorting exercises by dates in course management
  src/main/webapp/app/exercises/programming/shared/lifecycle/programming-exercise-test-schedule-date-picker.component.ts
Labels: ready for review, client, small, bugfix

#4731 `Development`: Fix automatic inference of Artemis version for docker deployments
  webpack/environment.js
Labels: ready for review, small, javascript

#4734 `Exam mode`: Make sure to use the correct amount of decimal places (setting in a course) when rounding scores in the quiz summary view
  src/main/webapp/app/exam/participate/summary/exam-participation-summary.component.html
  src/main/webapp/app/exam/participate/summary/exercises/quiz-exam-summary/quiz-exam-summary.component.html
  src/main/webapp/app/exam/participate/summary/exercises/quiz-exam-summary/quiz-exam-summary.component.ts
Labels: ready for review, client, small, bugfix

#4603 `General`: Allow instructors exporting users' information from a course
  src/main/webapp/app/course/manage/course-group.component.html
  src/main/webapp/app/course/manage/course-group.component.ts
  src/test/javascript/spec/component/course/course-group.component.spec.ts
Labels: feature, tests, client, ready to merge

#4712 `Assessment`: Show statistics on course scores page
  src/main/webapp/app/course/course-scores/course-scores.component.html
  src/main/webapp/app/course/course-scores/course-scores.component.scss
  src/main/webapp/app/course/course-scores/course-scores.component.ts
  src/main/webapp/app/course/course-scores/course-scores.module.ts
  src/main/webapp/app/exam/exam-scores/exam-scores.component.html
  src/main/webapp/app/exam/exam-scores/exam-scores.component.scss
  src/main/webapp/app/exam/exam-scores/exam-scores.component.ts
  src/main/webapp/app/exam/exam-scores/exam-scores.module.ts
  src/main/webapp/app/shared/participant-scores/participant-scores-distribution/participant-score-distribution.component.scss
  src/main/webapp/app/shared/participant-scores/participant-scores-distribution/participant-scores-distribution.component.html
  src/main/webapp/app/shared/participant-scores/participant-scores-distribution/participant-scores-distribution.component.ts
  src/main/webapp/app/shared/participant-scores/participant-scores.module.ts
  src/main/webapp/i18n/de/instructorDashboard.json
  src/main/webapp/i18n/en/instructorDashboard.json
  src/test/javascript/spec/component/course/course-scores/course-scores.component.spec.ts
  src/test/javascript/spec/component/exam/exam-scores/exam-scores.component.spec.ts
  src/test/javascript/spec/component/shared/participant-scores-distribution.component.spec.ts
Labels: tests, client, ready to merge

#4689 `Programming exercises`: Distinguish test case types into structural and behavioral in Java exercises
  src/main/java/de/tum/in/www1/artemis/config/migration/MigrationRegistry.java
  src/main/java/de/tum/in/www1/artemis/config/migration/entries/MigrationEntry20220210_160300.java
  src/main/java/de/tum/in/www1/artemis/domain/ProgrammingExerciseTestCase.java
  src/main/java/de/tum/in/www1/artemis/domain/hestia/ProgrammingExerciseTestCaseType.java
  src/main/java/de/tum/in/www1/artemis/repository/ProgrammingExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseImportService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseTestCaseService.java
  src/main/resources/config/liquibase/changelog/20220210155100_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/entities/programming-exercise-test-case.model.ts
  src/main/webapp/app/exercises/programming/manage/grading/programming-exercise-configure-grading.component.html
  src/main/webapp/app/exercises/programming/manage/grading/programming-exercise-configure-grading.component.ts
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/programmingExercise.json
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseResultTestService.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseTestCaseServiceTest.java
  src/test/javascript/spec/component/programming-exercise/programming-exercise-detail.component.spec.ts
Labels: tests, server, client, component:Programming, database, ready to merge

#4328 `General`: Allow to publish example solutions for modeling, text and file upload exercises on a specific date
  src/main/java/de/tum/in/www1/artemis/domain/BaseExercise.java
  src/main/java/de/tum/in/www1/artemis/domain/FileUploadExercise.java
  src/main/java/de/tum/in/www1/artemis/domain/TextExercise.java
  src/main/java/de/tum/in/www1/artemis/domain/modeling/ModelingExercise.java
  src/main/java/de/tum/in/www1/artemis/service/ExerciseImportService.java
  src/main/java/de/tum/in/www1/artemis/service/ModelingExerciseImportService.java
  src/main/java/de/tum/in/www1/artemis/service/TextExerciseImportService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ParticipationResource.java
  src/main/resources/config/liquibase/changelog/20211118061600_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/assessment/assessment-instructions/assessment-instructions/assessment-instructions.component.ts
  src/main/webapp/app/entities/exercise.model.ts
  src/main/webapp/app/entities/file-upload-exercise.model.ts
  src/main/webapp/app/entities/modeling-exercise.model.ts
  src/main/webapp/app/entities/text-exercise.model.ts
  src/main/webapp/app/exercises/file-upload/manage/file-upload-exercise-detail.component.html
  src/main/webapp/app/exercises/file-upload/manage/file-upload-exercise-update.component.html
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise-detail.component.html
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise-detail.component.ts
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise-update.component.html
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise-update.component.ts
  src/main/webapp/app/exercises/shared/dashboards/tutor/exercise-assessment-dashboard.component.html
  src/main/webapp/app/exercises/shared/dashboards/tutor/exercise-assessment-dashboard.component.ts
  src/main/webapp/app/exercises/text/manage/example-text-submission/resizable-instructions/resizable-instructions.component.html
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise-detail.component.html
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise-detail.component.ts
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise-update.component.html
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.html
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.ts
  src/main/webapp/app/overview/exercise-details/course-exercise-details.module.ts
  src/main/webapp/i18n/de/exercise.json
  src/main/webapp/i18n/de/guidedTourTutorAssessment.json
  src/main/webapp/i18n/de/modelingExercise.json
  src/main/webapp/i18n/en/exercise.json
  src/test/cypress/fixtures/requests/modelingExercise_template.json
  src/test/cypress/fixtures/requests/textExercise_template.json
  src/test/cypress/integration/exercises/text/TextExerciseAssessment.spec.ts
  src/test/gatling/user-files/simulations/ModelingExerciseGatlingTest.scala
  src/test/gatling/user-files/simulations/TextExerciseGatlingTest.scala
  src/test/java/de/tum/in/www1/artemis/AssessmentComplaintIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/FileUploadExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ModelingExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ModelingSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ParticipationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/StudentExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/TextExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/java/de/tum/in/www1/artemis/util/InvalidExamExerciseDatesArgumentProvider.java
  src/test/java/de/tum/in/www1/artemis/util/ModelFactory.java
  src/test/java/de/tum/in/www1/artemis/util/SensitiveInformationUtil.java
  src/test/javascript/spec/component/assessment-shared/assessment-instructions.component.spec.ts
  src/test/javascript/spec/component/modeling-exercise/modeling-exercise-detail.component.spec.ts
  src/test/javascript/spec/component/overview/exercise-details/course-exercise-details.component.spec.ts
  src/test/javascript/spec/service/modeling-exercise.service.spec.ts
  src/test/javascript/spec/service/text-exercise.service.spec.ts
Labels: tests, server, client, database, cypress, ready to merge

#4635 `Assessment`: Disable override assessment button when the assessment was not changed
  src/main/webapp/app/exercises/file-upload/assess/file-upload-assessment.component.ts
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment-editor/modeling-assessment-editor.component.ts
  src/main/webapp/app/exercises/programming/assess/code-editor-tutor-assessment-container.component.ts
  src/main/webapp/app/exercises/text/assess/text-submission-assessment.component.ts
Labels: client, ready to merge

#4691 `General`: Increase interactivity of tutor effort distribution chart
  src/main/webapp/app/exercises/text/manage/tutor-effort/tutor-effort-statistics.component.html
  src/main/webapp/app/exercises/text/manage/tutor-effort/tutor-effort-statistics.component.scss
  src/main/webapp/app/exercises/text/manage/tutor-effort/tutor-effort-statistics.component.ts
  src/main/webapp/app/exercises/text/manage/tutor-effort/tutor-effort-statistics.module.ts
  src/main/webapp/i18n/de/textExercise.json
  src/main/webapp/i18n/en/textExercise.json
  src/test/javascript/spec/component/text-exercise/tutor-effort-statistics.component.spec.ts
Labels: tests, client, ready to merge

#4739 `Programming exercises`: Fix URL to SSH key settings in the Gitlab setup
  src/main/resources/config/application-artemis.yml
Labels: ready for review, component:Programming, jenkins/gitlab, small
