Repository ls1intum/Artemis, pull requests merged in 2022-01, with the labels that each got.

#4551 `General`: Show statistics button for tutors on course detail view
  src/main/webapp/app/course/manage/detail/course-detail.component.html
Labels: client, small, ready to merge

#4566 `Development`: Convert client service tests to Jest
  src/test/javascript/spec/service/guided-tour.service.spec.ts
  src/test/javascript/spec/service/login.service.spec.ts
  src/test/javascript/spec/service/notification.service.spec.ts
  src/test/javascript/spec/service/participation-websocket.service.spec.ts
  src/test/javascript/spec/service/password.service.spec.ts
  src/test/javascript/spec/service/text-submission.service.spec.ts
Labels: tests, ready for review, client

#4565 `Development`: Convert client service tests to Jest
  src/test/javascript/spec/service/account.service.spec.ts
  src/test/javascript/spec/service/activate.service.spec.ts
  src/test/javascript/spec/service/apollon-diagram.service.spec.ts
  src/test/javascript/spec/service/course-score-calculation.service.spec.ts
  src/test/javascript/spec/service/exercise-scores-chart.service.spec.ts
  src/test/javascript/spec/service/exercise-update-warning.service.spec.ts
Labels: tests, ready for review, client

#4564 `Development`: Convert programming service client tests to Jest
  src/test/javascript/spec/service/programming-exercise-grading.service.spec.ts
  src/test/javascript/spec/service/programming-exercise-instruction.service.spec.ts
  src/test/javascript/spec/service/programming-exercise.service.spec.ts
  src/test/javascript/spec/service/programming-submission.service.spec.ts
Labels: tests, ready for review, client

#4563 `Development`: Improve client test coverage for exercise header components
  src/main/webapp/app/exercises/shared/exercise-headers/header-exercise-page-with-details.component.ts
  src/main/webapp/app/exercises/shared/exercise-headers/header-participation-page.component.ts
  src/main/webapp/app/exercises/shared/exercise-headers/included-in-score-badge.component.ts
  src/test/javascript/spec/component/exercises/shared/headers/difficulty-badge.component.spec.ts
  src/test/javascript/spec/component/exercises/shared/headers/header-exercise-page-with-details.component.spec.ts
  src/test/javascript/spec/component/exercises/shared/headers/header-participation-page.component.spec.ts
  src/test/javascript/spec/component/exercises/shared/headers/included-in-score-badge.component.spec.ts
Labels: tests, ready for review, client

#4554 `Development`: Use entities instead of the any type in cypress e2e tests
  src/test/cypress/fixtures/requests/exerciseGroup_template.json
  src/test/cypress/integration/CourseManagement.spec.ts
  src/test/cypress/integration/exam/ExamAssessment.spec.ts
  src/test/cypress/integration/exam/ExamCreationDeletion.spec.ts
  src/test/cypress/integration/exam/ExamDateVerification.spec.ts
  src/test/cypress/integration/exam/ExamManagement.spec.ts
  src/test/cypress/integration/exam/ExamParticipation.spec.ts
  src/test/cypress/integration/exercises/modeling/ModelingExerciseAssessment.spec.ts
  src/test/cypress/integration/exercises/modeling/ModelingExerciseManagement.spec.ts
  src/test/cypress/integration/exercises/modeling/ModelingExerciseParticipation.spec.ts
  src/test/cypress/integration/exercises/programming/ProgrammingExerciseAssessment.spec.ts
  src/test/cypress/integration/exercises/programming/ProgrammingExerciseManagement.spec.ts
  src/test/cypress/integration/exercises/programming/ProgrammingExerciseParticipation.spec.ts
  src/test/cypress/integration/exercises/programming/ProgrammingExerciseStaticCodeAnalysis.spec.ts
  src/test/cypress/integration/exercises/quiz-exercise/QuizExerciseAssessment.spec.ts
  src/test/cypress/integration/exercises/quiz-exercise/QuizExerciseManagement.spec.ts
  src/test/cypress/integration/exercises/quiz-exercise/QuizExerciseParticipation.spec.ts
  src/test/cypress/integration/exercises/text/TextExerciseAssessment.spec.ts
  src/test/cypress/integration/exercises/text/TextExerciseManagement.spec.ts
  src/test/cypress/integration/exercises/text/TextExerciseParticipation.spec.ts
  src/test/cypress/integration/lecture/LectureManagement.spec.ts
  src/test/cypress/support/pageobjects/course/CourseManagementExercisesPage.ts
  src/test/cypress/support/pageobjects/course/CourseOverviewPage.ts
  src/test/cypress/support/pageobjects/course/CoursesPage.ts
  src/test/cypress/support/pageobjects/exam/ExamManagementPage.ts
  src/test/cypress/support/pageobjects/exercises/ExerciseResultPage.ts
  src/test/cypress/support/pageobjects/exercises/programming/OnlineEditorPage.ts
  src/test/cypress/support/pageobjects/exercises/quiz/MultipleChoiceQuiz.ts
  src/test/cypress/support/requests/CourseManagementRequests.ts
Labels: tests, refactoring, cypress

#4553 `Assessments`: Display feedback from structured grading criteria more clearly
  src/main/webapp/app/exercises/text/assess/textblock-feedback-editor/textblock-feedback-editor.component.html
  src/main/webapp/i18n/de/assessment.json
  src/main/webapp/i18n/en/assessment.json
Labels: enhancement, ready for review, client, component:Text, small

#4570 `Quiz exercises`: Fix multiple choice answer distribution layout in statistics
  src/main/webapp/app/exercises/quiz/manage/statistics/multiple-choice-question-statistic/multiple-choice-question-statistic.component.html
Labels: ready for review, client, small, ready to merge

#4572 `General`: Fix user settings menu position
  src/main/webapp/app/shared/layouts/navbar/navbar.component.html
Labels: client, small, bugfix, ready to merge

#4555 `Development`: Refactor server integration tests for notifications
  src/main/java/de/tum/in/www1/artemis/domain/notification/NotificationTitleTypeConstants.java
  src/main/java/de/tum/in/www1/artemis/service/metis/AnswerPostService.java
  src/main/java/de/tum/in/www1/artemis/service/notifications/GroupNotificationService.java
  src/main/java/de/tum/in/www1/artemis/service/notifications/SingleUserNotificationService.java
  src/test/java/de/tum/in/www1/artemis/service/notifications/GroupNotificationServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/notifications/NotificationSettingsServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/notifications/SingleUserNotificationServiceTest.java
  src/test/java/de/tum/in/www1/artemis/util/AbstractArtemisIntegrationTest.java
Labels: tests, ready for review, server, refactoring, notification system, ready to merge

#4576 `General`: Fix exercise statistics chart not being able to load data from the server
  src/main/java/de/tum/in/www1/artemis/web/rest/ExerciseScoresChartResource.java
  src/test/java/de/tum/in/www1/artemis/ExerciseScoresChartIntegrationTest.java
Labels: tests, server, small, bugfix, ready to merge

#4580 `Development`: Fix cypress e2e tests
  src/main/webapp/app/shared/category-selector/category-selector.component.html
  src/test/cypress/integration/exam/ExamParticipation.spec.ts
  src/test/cypress/integration/exercises/quiz-exercise/QuizExerciseManagement.spec.ts
  src/test/cypress/integration/exercises/quiz-exercise/QuizExerciseParticipation.spec.ts
  src/test/cypress/support/pageobjects/exercises/programming/OnlineEditorPage.ts
  src/test/cypress/tsconfig.json
Labels: tests, ready for review, client, cypress

#4578 `Assessment`: Fix star ratings functionality
  src/main/webapp/app/exercises/shared/rating/star-rating/star-rating.component.scss
  src/main/webapp/app/exercises/shared/rating/star-rating/star-rating.component.ts
Labels: client, ready to merge

#4579 `Quiz exercises`: Improve animations for drag and drop questions
  src/main/webapp/app/exercises/quiz/manage/drag-and-drop-question/drag-and-drop-question-edit.component.html
  src/main/webapp/app/exercises/quiz/manage/drag-and-drop-question/drag-and-drop-question-edit.component.scss
  src/main/webapp/app/exercises/quiz/shared/questions/drag-and-drop-question/drag-and-drop-question.component.scss
Labels: ready for review, client

#4567 `Programming exercises`: Add dropdown for choosing between https and ssh in clone dialog
  src/main/webapp/app/shared/components/clone-repo-button/clone-repo-button.component.html
  src/main/webapp/app/shared/components/clone-repo-button/clone-repo-button.component.ts
  src/test/javascript/spec/component/shared/clone-repo-button.component.spec.ts
Labels: enhancement, tests, ready for review, client, component:Programming, small

#4562 `Development`: Increase server test coverage for StatisticsRepository
  src/test/java/de/tum/in/www1/artemis/repository/StatisticsRepositoryTest.java
Labels: tests, ready for review

#4559 `Development`: Improve selectors used in e2e cypress tests for exam assessment
  src/main/webapp/app/course/manage/course-management.component.html
  src/main/webapp/app/course/manage/detail/course-detail.component.html
  src/main/webapp/app/exam/manage/students/exam-students.component.html
  src/main/webapp/app/exercises/shared/result/result.component.html
  src/main/webapp/app/shared/layouts/navbar/navbar.component.html
  src/test/cypress/integration/exam/ExamAssessment.spec.ts
  src/test/cypress/support/commands.ts
  src/test/cypress/support/pageobjects/assessment/CourseAssessmentDashboardPage.ts
  src/test/cypress/support/pageobjects/course/CourseManagementPage.ts
  src/test/cypress/support/pageobjects/exam/ExamManagementPage.ts
  src/test/cypress/support/pageobjects/exam/StudentExamManagementPage.ts
Labels: tests, ready for review, client, cypress

#4588 `Development`: Fix layout of statistics tab
  src/main/webapp/app/overview/course-statistics/course-statistics.component.html
Labels: ready for review, client, small

#4468 `Development`: Refactor participation and submission services
  docs/admin/accessRights.rst
  src/main/java/de/tum/in/www1/artemis/web/rest/FileUploadSubmissionResource.java
  src/main/webapp/app/assessment/assessment-header/assessment-header.component.html
  src/main/webapp/app/assessment/assessment-header/assessment-header.component.ts
  src/main/webapp/app/assessment/assessment-layout/assessment-layout.component.html
  src/main/webapp/app/assessment/assessment-layout/assessment-layout.component.ts
  src/main/webapp/app/complaints/complaints-for-tutor/complaints-for-tutor.component.ts
  src/main/webapp/app/core/auth/account.service.ts
  src/main/webapp/app/course/dashboards/assessment-dashboard/assessment-dashboard.component.html
  src/main/webapp/app/course/manage/course-management.service.ts
  src/main/webapp/app/exam/manage/exams/exam-checklist-component/exam-checklist.component.html
  src/main/webapp/app/exam/manage/exams/exam-checklist-component/exam-checklist.component.ts
  src/main/webapp/app/exam/manage/exams/exam-detail.component.html
  src/main/webapp/app/exam/manage/exams/exam-detail.component.ts
  src/main/webapp/app/exam/manage/exercise-groups/exercise-groups.component.html
  src/main/webapp/app/exercises/file-upload/assess/file-upload-assessment.component.html
  src/main/webapp/app/exercises/file-upload/assess/file-upload-assessment.component.ts
  src/main/webapp/app/exercises/file-upload/manage/file-upload-exercise.service.ts
  src/main/webapp/app/exercises/file-upload/participate/file-upload-submission.service.ts
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment-editor/modeling-assessment-editor.component.html
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment-editor/modeling-assessment-editor.component.ts
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise.service.ts
  src/main/webapp/app/exercises/modeling/participate/modeling-submission.service.ts
  src/main/webapp/app/exercises/programming/assess/code-editor-tutor-assessment-container.component.html
  src/main/webapp/app/exercises/programming/assess/code-editor-tutor-assessment-container.component.ts
  src/main/webapp/app/exercises/programming/manage/services/programming-exercise.service.ts
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise.service.ts
  src/main/webapp/app/exercises/quiz/participate/quiz-participation.service.ts
  src/main/webapp/app/exercises/shared/exercise/exercise.service.ts
  src/main/webapp/app/exercises/shared/participation/participation.service.ts
  src/main/webapp/app/exercises/shared/submission/submission.service.ts
  src/main/webapp/app/exercises/text/assess/text-assessment-dashboard/text-assessment-dashboard.component.html
  src/main/webapp/app/exercises/text/assess/text-assessment.service.ts
  src/main/webapp/app/exercises/text/assess/text-submission-assessment.component.html
  src/main/webapp/app/exercises/text/assess/text-submission-assessment.component.ts
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise.service.ts
  src/main/webapp/app/exercises/text/participate/text-submission.service.ts
  src/test/javascript/spec/component/assessment-shared/assessment-header.component.spec.ts
  src/test/javascript/spec/component/exam/manage/exams/exam-detail.component.spec.ts
  src/test/javascript/spec/component/exercises/quiz/quiz-participation.service.spec.ts
  src/test/javascript/spec/component/file-upload-assessment/file-upload-assessment.component.spec.ts
  src/test/javascript/spec/component/modeling-assessment-editor/modeling-assessment-editor.component.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-account.service.ts
  src/test/javascript/spec/helpers/mocks/service/mock-exercise.service.ts
  src/test/javascript/spec/service/file-upload-submission.service.spec.ts
  src/test/javascript/spec/service/modeling-submission.service.spec.ts
  src/test/javascript/spec/service/text-assessment.service.spec.ts
  src/test/javascript/spec/service/text-submission.service.spec.ts
Labels: tests, ready for review, server, client, code quality, refactoring, bugfix, ready to merge

#4552 `Programming exercises`: Show correct preview text for long static code analysis issues
  src/main/webapp/app/exercises/shared/result/result-detail.component.ts
Labels: client, component:Programming, small, ready to merge

#4548 `Exam mode`: Fix setting an individual student exam working time
  src/main/webapp/app/exam/manage/student-exams/student-exam-detail.component.html
  src/main/webapp/app/exam/manage/student-exams/student-exam-detail.component.ts
  src/main/webapp/app/shared/pipes/artemis-duration-from-seconds.pipe.ts
  src/test/javascript/spec/component/exam/manage/student-exams/student-exam-detail.component.spec.ts
  src/test/javascript/spec/pipe/artemis-duration-from-seconds.pipe.spec.ts
Labels: tests, ready for review, client, small, bugfix

#4532 `Development`: Refactor course registration
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/webapp/app/course/manage/course-management.service.ts
  src/main/webapp/app/overview/course-registration/course-registration.component.html
  src/main/webapp/app/overview/course-registration/course-registration.component.ts
  src/main/webapp/i18n/de/student-dashboard.json
  src/main/webapp/i18n/en/student-dashboard.json
  src/test/java/de/tum/in/www1/artemis/OrganizationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/CourseTestService.java
  src/test/javascript/spec/component/course-registration/course-registration.component.spec.ts
  src/test/javascript/spec/component/course/course-management.service.spec.ts
Labels: enhancement, tests, server, client, ready to merge

#4597 `General`: Fix icons on feature overview pages
  src/main/webapp/app/feature-overview/feature-overview.component.ts
Labels: client, ready to merge

#4585 `General`: Make course card clickable again
  src/main/webapp/app/overview/course-card.component.html
  src/main/webapp/app/overview/course-card.scss
Labels: client, small, ready to merge

#4586 `Quiz exercises`: Increase usability for drag and drop and short answer question creation and participation
  src/main/webapp/app/exercises/quiz/manage/drag-and-drop-question/drag-and-drop-question-edit.component.html
  src/main/webapp/app/exercises/quiz/manage/drag-and-drop-question/drag-and-drop-question-edit.component.scss
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise.scss
  src/main/webapp/app/exercises/quiz/manage/short-answer-question/short-answer-question-edit.component.html
  src/main/webapp/app/exercises/quiz/manage/short-answer-question/short-answer-question-edit.component.scss
  src/main/webapp/app/exercises/quiz/manage/short-answer-question/short-answer-question-edit.component.ts
  src/main/webapp/app/exercises/quiz/shared/questions/drag-and-drop-question/drag-and-drop-question.component.scss
  src/main/webapp/app/exercises/quiz/shared/questions/drag-and-drop-question/drag-item.component.html
  src/main/webapp/app/exercises/quiz/shared/questions/drag-and-drop-question/drag-item.component.scss
  src/test/javascript/spec/component/short-answer-question/short-answer-question-edit.component.spec.ts
Labels: tests, ready for review, client

#4594 `Programming exercises`: Fix client validation when creating exercises for certain languages
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-update.component.spec.ts
Labels: tests, ready for review, client, small, bugfix

#4569 `General`: Increase interactivity of active students line charts and course exercises average bar chart
  src/main/java/de/tum/in/www1/artemis/domain/statistics/CourseStatisticsAverageScore.java
  src/main/java/de/tum/in/www1/artemis/service/CourseService.java
  src/main/java/de/tum/in/www1/artemis/service/StatisticsService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/webapp/app/course/manage/course-management-statistics.component.html
  src/main/webapp/app/course/manage/course-management.module.ts
  src/main/webapp/app/course/manage/detail/course-detail-line-chart.component.html
  src/main/webapp/app/course/manage/detail/course-detail-line-chart.component.scss
  src/main/webapp/app/course/manage/detail/course-detail-line-chart.component.ts
  src/main/webapp/app/course/manage/detail/course-detail.component.html
  src/main/webapp/app/course/manage/detail/course-detail.component.scss
  src/main/webapp/app/course/manage/overview/course-management-card.component.html
  src/main/webapp/app/course/manage/overview/course-management-overview-statistics.component.html
  src/main/webapp/app/course/manage/overview/course-management-overview-statistics.component.scss
  src/main/webapp/app/course/manage/overview/course-management-overview-statistics.component.ts
  src/main/webapp/app/entities/quiz/course-management-statistics-model.ts
  src/main/webapp/app/entities/statistics.model.ts
  src/main/webapp/app/shared/statistics-graph/statistics-average-score-graph.component.html
  src/main/webapp/app/shared/statistics-graph/statistics-average-score-graph.component.ts
  src/main/webapp/app/shared/statistics-graph/statistics-graph.component.ts
  src/main/webapp/app/shared/statistics-graph/statistics-score-distribution-graph.component.ts
  src/main/webapp/i18n/de/course.json
  src/main/webapp/i18n/en/course.json
  src/test/java/de/tum/in/www1/artemis/util/CourseTestService.java
  src/test/javascript/spec/component/course/course-management-overview-statistics.component.spec.ts
  src/test/javascript/spec/component/course/course-statistics/course-management-statistics.component.spec.ts
  src/test/javascript/spec/component/course/detail/course-detail-line-chart.component.spec.ts
  src/test/javascript/spec/component/course/detail/course-detail.component.spec.ts
  src/test/javascript/spec/component/statistics/statistics-average-score-graph.component.spec.ts
Labels: tests, server, client, ready to merge

#4435 `Notifications`: Add new notification, setting, and email for assessed exercise submissions with scheduling
  src/main/java/de/tum/in/www1/artemis/domain/enumeration/ExerciseType.java
  src/main/java/de/tum/in/www1/artemis/domain/enumeration/NotificationType.java
  src/main/java/de/tum/in/www1/artemis/domain/notification/NotificationTitleTypeConstants.java
  src/main/java/de/tum/in/www1/artemis/domain/notification/SingleUserNotificationFactory.java
  src/main/java/de/tum/in/www1/artemis/repository/ExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/StudentParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/service/MailService.java
  src/main/java/de/tum/in/www1/artemis/service/messaging/DistributedInstanceMessageSendService.java
  src/main/java/de/tum/in/www1/artemis/service/messaging/InstanceMessageReceiveService.java
  src/main/java/de/tum/in/www1/artemis/service/messaging/InstanceMessageSendService.java
  src/main/java/de/tum/in/www1/artemis/service/messaging/MainInstanceMessageSendService.java
  src/main/java/de/tum/in/www1/artemis/service/notifications/GroupNotificationService.java
  src/main/java/de/tum/in/www1/artemis/service/notifications/NotificationSettingsService.java
  src/main/java/de/tum/in/www1/artemis/service/notifications/SingleUserNotificationService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/NotificationScheduleService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/AssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/FileUploadAssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/FileUploadExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingAssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingAssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextAssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextExerciseResource.java
  src/main/resources/i18n/messages.properties
  src/main/resources/i18n/messages_de.properties
  src/main/resources/i18n/messages_en.properties
  src/main/resources/templates/mail/notification/exerciseSubmissionAssessedEmail.html
  src/main/webapp/app/entities/notification.model.ts
  src/main/webapp/app/shared/constants/user-settings.constants.ts
  src/main/webapp/app/shared/user-settings/notification-settings/notification-settings-structure.ts
  src/main/webapp/app/shared/user-settings/notification-settings/notification-settings.service.ts
  src/main/webapp/i18n/de/userSettings.json
  src/main/webapp/i18n/en/userSettings.json
  src/test/java/de/tum/in/www1/artemis/domain/notification/SingleUserNotificationFactoryTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/NotificationScheduleServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/notifications/GroupNotificationServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/notifications/SingleUserNotificationServiceTest.java
  src/test/java/de/tum/in/www1/artemis/util/AbstractArtemisIntegrationTest.java
Labels: tests, server, client, small, notification system, ready to merge, user settings, email

#4598 `General`: Add troubleshooting page to the documentation
  docs/admin/troubleshooting.rst
  docs/index.rst
Labels: documentation, ready to merge

#4600 `Programming exercises`: Fix building animation after submission
  src/main/webapp/app/exercises/shared/result/updating-result.component.ts
  src/test/javascript/spec/component/shared/updating-result.component.spec.ts
Labels: tests, client, small, bugfix, ready to merge

#4604 `Development`: Fix cypress e2e test for the modeling exercise assessment
  src/test/cypress/integration/exercises/modeling/ModelingExerciseAssessment.spec.ts
  src/test/cypress/package-lock.json
  src/test/cypress/package.json
  src/test/cypress/support/pageobjects/exercises/AbstractExerciseFeedbackPage.ts
Labels: tests, ready for review, cypress

#4601 `Development`: Increase client test coverage for complaints
  src/main/webapp/app/complaints/complaint-response.service.ts
  src/main/webapp/app/complaints/complaint.service.ts
  src/main/webapp/app/complaints/list-of-complaints/list-of-complaints.component.ts
  src/test/javascript/spec/component/complaints/complaint-response.service.spec.ts
  src/test/javascript/spec/component/complaints/complaint.service.spec.ts
  src/test/javascript/spec/component/complaints/complaints-for-tutor.component.spec.ts
  src/test/javascript/spec/component/complaints/complaints-form.component.spec.ts
  src/test/javascript/spec/component/complaints/list-of-complaints.component.spec.ts
  src/test/javascript/spec/component/list-of-complaints/list-of-complaints.component.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-complaint.service.ts
Labels: tests, client, ready to merge

#4612 `General`: Fix an issue with the autocomplete of exercise categories
  src/main/webapp/app/shared/category-selector/category-selector.component.ts
Labels: client, bugfix, ready to merge

#4608 `Development`: Remove critical inline styles
  angular.json
Labels: small, bugfix, ready to merge

#4596 `Assessment`: Make the review of example submission optional for instructors
  src/main/webapp/app/exercises/shared/dashboards/tutor/exercise-assessment-dashboard.component.html
Labels: client, component:Modeling, component:Text, small, ready to merge

#4590 `Quiz exercises`: Handle partial points in statistics
  src/main/java/de/tum/in/www1/artemis/domain/quiz/QuizPointStatistic.java
  src/main/webapp/app/exercises/quiz/manage/statistics/quiz-point-statistic/quiz-point-statistic.component.scss
  src/main/webapp/app/exercises/quiz/manage/statistics/quiz-point-statistic/quiz-point-statistic.component.ts
  src/main/webapp/app/exercises/quiz/manage/statistics/quiz-statistic/quiz-statistic.component.ts
  src/test/java/de/tum/in/www1/artemis/QuizSubmissionIntegrationTest.java
  src/test/javascript/spec/component/quiz-statistic/quiz-point-statistic.component.spec.ts
Labels: tests, server, client, ready to merge

#4539 `Development`: Improve client test speed and coverage for plagiarism detection
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-details/plagiarism-details.component.ts
  src/test/javascript/spec/component/plagiarism/plagiarism-inspector.component.spec.ts
  src/test/javascript/spec/component/plagiarism/plagiarism-run-details.component.spec.ts
  src/test/javascript/spec/component/plagiarism/plagiarism-sidebar.component.spec.ts
  src/test/javascript/spec/component/plagiarism/plagiarism-split-view.component.spec.ts
  src/test/javascript/spec/component/plagiarism/text-submission-viewer.component.spec.ts
Labels: tests, client, ready to merge

#4415 `Discussion`: Add discussion related features to Artemis user documentation
  README.md
  docs/index.rst
  docs/user/discussion.rst
  docs/user/discussion/course-posts.png
  docs/user/discussion/exercise-posts.png
  docs/user/discussion/lecture-posts.png
Labels: ready for review, documentation, Metis, ready to merge

#4589 `General`: Improve the retrieval of user data when authenticating over external service providers based on SAML2
  docs/conf.py
  docs/dev/saml2-shibboleth.rst
  src/main/java/de/tum/in/www1/artemis/config/SAML2Properties.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/SAML2Service.java
  src/main/resources/config/application-saml2.yml
  src/test/java/de/tum/in/www1/artemis/authentication/UserSaml2IntegrationTest.java
  src/test/resources/config/application-saml2.yml
Labels: tests, server, documentation, ready to merge

#4602 `Development`: Increase client code coverage for programming exercise lifecycle components
  src/main/webapp/app/exercises/programming/shared/lifecycle/programming-exercise-lifecycle.component.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-lifecycle.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-test-schedule-date-picker.component.spec.ts
Labels: tests, client, ready to merge

#4500 `Assessment`: Display subsequent feedback in the assessment review when the usage limit of assessment instruction is exceed
  src/main/java/de/tum/in/www1/artemis/repository/ResultRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ExerciseService.java
  src/main/webapp/app/entities/feedback.model.ts
  src/main/webapp/app/exercises/file-upload/participate/file-upload-submission.component.ts
  src/main/webapp/app/exercises/modeling/participate/modeling-submission.component.html
  src/main/webapp/app/exercises/modeling/participate/modeling-submission.component.ts
  src/main/webapp/app/exercises/programming/assess/code-editor-tutor-assessment-inline-feedback.component.html
  src/main/webapp/app/exercises/programming/assess/code-editor-tutor-assessment-inline-feedback.component.ts
  src/main/webapp/app/exercises/programming/participate/code-editor-student-container.component.ts
  src/main/webapp/app/exercises/shared/result/result-detail.component.html
  src/main/webapp/app/exercises/shared/result/result-detail.component.ts
  src/main/webapp/app/exercises/text/participate/text-result/text-result.component.html
  src/main/webapp/app/exercises/text/participate/text-result/text-result.component.ts
  src/main/webapp/app/shared/additional-feedback/additional-feedback.component.html
  src/main/webapp/app/shared/additional-feedback/additional-feedback.component.ts
  src/main/webapp/i18n/de/assessment.json
  src/main/webapp/i18n/de/exercise.json
  src/main/webapp/i18n/en/assessment.json
  src/main/webapp/i18n/en/exercise.json
  src/test/javascript/spec/component/file-upload-submission/file-upload-submission.component.spec.ts
  src/test/javascript/spec/component/modeling-submission/modeling-submission.component.spec.ts
  src/test/javascript/spec/component/text-result/text-result.component.spec.ts
Labels: enhancement, tests, server, client, ready to merge

#4610 `Development`: Improve client test coverage for assessment components
  src/test/javascript/spec/component/assessment-shared/assessment-instructions.component.spec.ts
  src/test/javascript/spec/component/assessment-shared/structured-grading-instructions-assessment-layout.component.spec.ts
  src/test/javascript/spec/component/shared/unreferenced-feedback.component.spec.ts
  src/test/javascript/spec/component/text-exercise/example-text-submission.component.spec.ts
Labels: tests, ready to merge

#4599 `General`: Increase interactivity of student statistics charts
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/ExerciseScoresDTO.java
  src/main/webapp/app/overview/course-statistics/course-statistics.component.html
  src/main/webapp/app/overview/course-statistics/course-statistics.component.ts
  src/main/webapp/app/overview/visualizations/exercise-scores-chart.service.ts
  src/main/webapp/app/overview/visualizations/exercise-scores-chart/exercise-scores-chart.component.html
  src/main/webapp/app/overview/visualizations/exercise-scores-chart/exercise-scores-chart.component.scss
  src/main/webapp/app/overview/visualizations/exercise-scores-chart/exercise-scores-chart.component.ts
  src/main/webapp/i18n/de/student-dashboard.json
  src/main/webapp/i18n/de/visualizations.json
  src/main/webapp/i18n/en/student-dashboard.json
  src/main/webapp/i18n/en/visualizations.json
  src/test/javascript/spec/component/overview/course-statistics/course-statistics.component.spec.ts
  src/test/javascript/spec/component/overview/course-statistics/visualizations/exercise-scores-chart.component.spec.ts
Labels: tests, server, client, ready to merge

#4455 `Programming exercises`: Allow administrators to configure the used docker build images for programming languages
  src/main/java/de/tum/in/www1/artemis/ArtemisApp.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/ContinuousIntegrationService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/ProgrammingLanguageConfiguration.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/BambooBuildPlanService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsBuildPlanCreator.java
  src/main/resources/config/application-artemis.yml
  src/test/resources/config/application-artemis.yml
Labels: tests, ready for review, server, component:Programming, jenkins/gitlab, bamboo/bitbucket, build system

#4624 `Development`: Increase client code coverage for programming exercise actions components
  src/test/javascript/spec/component/programming-exercise/programming-exercise-instructor-trigger-build-button.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-re-evaluate-button.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-trigger-all-button.component.spec.ts
Labels: tests, ready to merge

#4615 `Development`: Increase client test coverage for file upload components
  src/test/javascript/spec/component/file-upload-submission/file-upload-submission.component.spec.ts
  src/test/javascript/spec/service/file-upload-exercise-management-resolve.service.spec.ts
Labels: tests, ready to merge

#4618 `Programming exercises`: Limit the length of static code analysis issues to prevent failures when saving new results
  src/main/java/de/tum/in/www1/artemis/config/DatabaseConfiguration.java
  src/main/java/de/tum/in/www1/artemis/domain/Feedback.java
  src/main/java/de/tum/in/www1/artemis/repository/FeedbackRepository.java
  src/main/java/de/tum/in/www1/artemis/service/StaticCodeAnalysisService.java
Labels: ready for review, server, component:Programming, bugfix

#4621 `Plagiarism checks`: Fix memory issues with large comparisons and add feature toggle
  src/main/java/de/tum/in/www1/artemis/domain/Exercise.java
  src/main/java/de/tum/in/www1/artemis/domain/User.java
  src/main/java/de/tum/in/www1/artemis/repository/PlagiarismComparisonRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/feature/Feature.java
  src/main/java/de/tum/in/www1/artemis/service/feature/FeatureToggleAspect.java
  src/main/java/de/tum/in/www1/artemis/service/plagiarism/ModelingPlagiarismDetectionService.java
  src/main/java/de/tum/in/www1/artemis/service/plagiarism/TextPlagiarismDetectionService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ParticipationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/PlagiarismResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseExportImportResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExercisePlagiarismResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseSimulationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/repository/RepositoryProgrammingExerciseParticipationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/repository/TestRepositoryResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/util/ResponseUtil.java
  src/main/webapp/app/admin/features/admin-feature-toggle.component.ts
  src/main/webapp/app/exercises/programming/assess/repo-export/programming-assessment-repo-export-button.component.ts
  src/main/webapp/app/exercises/programming/assess/repo-export/programming-assessment-repo-export-dialog.component.html
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.html
  src/main/webapp/app/exercises/programming/manage/programming-exercise.component.html
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.html
  src/main/webapp/app/exercises/programming/shared/actions/programming-exercise-instructor-exercise-download.component.ts
  src/main/webapp/app/exercises/programming/shared/actions/programming-exercise-instructor-repo-download.component.ts
  src/main/webapp/app/exercises/programming/shared/actions/programming-exercise-instructor-submission-state.component.html
  src/main/webapp/app/exercises/programming/shared/actions/programming-exercise-re-evaluate-button.component.ts
  src/main/webapp/app/exercises/programming/shared/actions/programming-exercise-trigger-all-button.component.ts
  src/main/webapp/app/exercises/programming/shared/actions/programming-exercise-trigger-build-button.component.html
  src/main/webapp/app/exercises/programming/shared/code-editor/actions/code-editor-actions.component.html
  src/main/webapp/app/exercises/shared/exercise-scores/exercise-scores.component.html
  src/main/webapp/app/exercises/shared/participation/participation.component.html
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-inspector/plagiarism-inspector.component.html
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-inspector/plagiarism-inspector.component.ts
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism.module.ts
  src/main/webapp/app/orion/participation/orion-exercise-details-student-actions.component.html
  src/main/webapp/app/overview/exercise-details/exercise-details-student-actions.component.html
  src/main/webapp/app/shared/components/clone-repo-button/clone-repo-button.component.html
  src/main/webapp/app/shared/feature-toggle/feature-toggle.service.ts
  src/main/webapp/app/shared/orion/orion-button/orion-button.component.ts
  src/test/java/de/tum/in/www1/artemis/ManagementResourceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ModelingExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ParticipationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/PlagiarismIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/TextExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/FeatureToggleServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/compass/umlmodel/AbstractUMLDiagramTest.java
  src/test/javascript/spec/service/profile.service.spec.ts
Labels: feature, tests, ready for review, server, client, plagiarism detection

#4568 `Development`: Refactor permission checks for exam access in the server code
  src/main/java/de/tum/in/www1/artemis/service/exam/ExamAccessService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExamResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExerciseGroupResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/StudentExamResource.java
  src/test/java/de/tum/in/www1/artemis/ExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ExerciseGroupIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/ExamAccessServiceTest.java
Labels: tests, ready for review, server, code quality, refactoring

#4535 `Assessment`: Improve warnings for instructors before potentially assessing unfinished submissions
  docs/user/exercises/programming-exercise-setup.inc
  src/main/java/de/tum/in/www1/artemis/service/scheduled/ProgrammingExerciseScheduleService.java
  src/main/webapp/app/assessment/assessment-warning/assessment-warning.component.ts
  src/main/webapp/app/course/manage/course-management.service.ts
  src/main/webapp/app/exam/participate/exam-participation.service.ts
  src/main/webapp/app/exercises/file-upload/assess/file-upload-assessment-dashboard.component.html
  src/main/webapp/app/exercises/file-upload/manage/file-upload-exercise.service.ts
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment-editor/modeling-assessment-dashboard.component.html
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise.service.ts
  src/main/webapp/app/exercises/programming/assess/programming-assessment-dashboard/programming-exercise-submissions.component.html
  src/main/webapp/app/exercises/programming/manage/services/programming-exercise-simulation.service.ts
  src/main/webapp/app/exercises/programming/manage/services/programming-exercise.service.ts
  src/main/webapp/app/exercises/programming/participate/programming-submission.service.ts
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise.service.ts
  src/main/webapp/app/exercises/quiz/manage/re-evaluate/quiz-re-evaluate.service.ts
  src/main/webapp/app/exercises/shared/course-exercises/course-exercise.service.ts
  src/main/webapp/app/exercises/shared/example-submission/example-submission.service.ts
  src/main/webapp/app/exercises/shared/exercise-hint/manage/exercise-hint.service.ts
  src/main/webapp/app/exercises/shared/exercise/exercise.service.ts
  src/main/webapp/app/exercises/shared/participation/participation.service.ts
  src/main/webapp/app/exercises/shared/result/result.service.ts
  src/main/webapp/app/exercises/shared/submission/submission.service.ts
  src/main/webapp/app/exercises/shared/team/team-participation-table/team-participation-table.component.html
  src/main/webapp/app/exercises/shared/team/team-participation-table/team-participation-table.component.ts
  src/main/webapp/app/exercises/shared/team/team.component.html
  src/main/webapp/app/exercises/text/assess/text-assessment-dashboard/text-assessment-dashboard.component.html
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise.service.ts
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/exerciseUnit.service.ts
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/lectureUnit.service.ts
  src/main/webapp/app/shared/metis/metis.service.ts
  src/main/webapp/i18n/de/assessment.json
  src/main/webapp/i18n/en/assessment.json
  src/test/javascript/spec/component/assessment-shared/assessment-warning.component.spec.ts
  src/test/javascript/spec/component/course/course-management.service.spec.ts
  src/test/javascript/spec/component/team/team-participation-table.component.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-exercise.service.ts
  src/test/javascript/spec/service/exercise-hint.service.spec.ts
  src/test/javascript/spec/service/file-upload-exercise.service.spec.ts
  src/test/javascript/spec/service/participation.service.spec.ts
  src/test/javascript/spec/service/text-submission.service.spec.ts
Labels: tests, ready for review, server, client

#4636 `General`: Fix an edge case issue in the active students charts on course management
  src/main/java/de/tum/in/www1/artemis/service/CourseService.java
  src/test/java/de/tum/in/www1/artemis/service/CourseServiceTest.java
Labels: tests, ready for review, server, small

#4623 `Development`: Increase client test coverage for submission lock component
  src/test/javascript/spec/component/assessment-shared/assessment-locks.component.spec.ts
Labels: tests, client, ready to merge

#4626 `Plagiarism checks`: Fix formatting of similarity distribution
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-run-details/plagiarism-run-details.component.html
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-run-details/plagiarism-run-details.component.ts
Labels: client, small, ready to merge

#4633 `General`: Show title of active students chart correctly for tutors and editors
  src/main/webapp/app/course/manage/detail/course-detail-line-chart.component.html
  src/main/webapp/app/course/manage/overview/course-management-overview-statistics.component.html
Labels: client, small, ready to merge

#4638 `Development`: Increase client test coverage for color selector
  src/test/javascript/spec/component/shared/color-selector.component.spec.ts
Labels: tests, client, ready to merge

#4640 `Assessment`: Improve description of complaints
  docs/user/exercises/general.rst
  src/main/webapp/i18n/de/complaint.json
  src/main/webapp/i18n/en/complaint.json
Labels: enhancement, client, small, user interface, ready to merge

#4641 `Assessment`: Fix filter for finished exercises with complaints for automatic assessment
  src/main/webapp/app/course/dashboards/assessment-dashboard/assessment-dashboard.component.ts
  src/test/javascript/spec/component/assessment-dashboard/assessment-dashboard.component.spec.ts
Labels: tests, client, small, bugfix, ready to merge

#4639 `Development`: Increase client test coverage for submission export
  src/test/javascript/spec/component/exercises/shared/submission-export-button.component.spec.ts
  src/test/javascript/spec/component/exercises/shared/submission-export-dialog.component.spec.ts
  src/test/javascript/spec/service/submission-export.service.spec.ts
Labels: tests, client, ready to merge

#4634 `Programming exercises`: Show feedback details in overview again when result is clicked
  src/main/webapp/app/overview/course-exercises/course-exercise-row.component.html
  src/main/webapp/app/overview/course-exercises/course-exercise-row.scss
Labels: client, small, ready to merge

#4607 `Development`: Improve client test coverage for exam management components
  jest.config.js
  src/main/webapp/app/exam/manage/exam-management-resolve.service.ts
  src/main/webapp/app/exam/manage/exam-management.route.ts
  src/main/webapp/app/exam/manage/student-exams/student-exam.service.ts
  src/test/javascript/spec/component/exam/manage/exam-exercise-update.service.spec.ts
  src/test/javascript/spec/component/exam/manage/exam-management-resolve.spec.ts
  src/test/javascript/spec/component/exam/manage/exercise-groups/exercise-group-update.component.spec.ts
  src/test/javascript/spec/component/exam/manage/exercise-groups/exercise-group.service.spec.ts
  src/test/javascript/spec/component/exam/manage/exercise-groups/exercise-groups.component.spec.ts
  src/test/javascript/spec/component/exam/manage/exercise-groups/file-upload-exercise-group-cell.component.spec.ts
  src/test/javascript/spec/component/exam/manage/exercise-groups/modeling-exercise-group-cell.component.spec.ts
  src/test/javascript/spec/component/exam/manage/exercise-groups/programming-exercise-group-cell.component.spec.ts
  src/test/javascript/spec/component/exam/manage/exercise-groups/quiz-exercise-group-cell.component.spec.ts
  src/test/javascript/spec/component/exam/manage/student-exams/student-exam.service.spec.ts
Labels: tests, client, ready to merge

#4627 `Exam mode`: Increase interactivity of assessments and exam statistics
  src/main/webapp/app/course/dashboards/assessment-dashboard/assessment-dashboard-information.component.html
  src/main/webapp/app/entities/statistics.model.ts
  src/main/webapp/app/exam/exam-scores/exam-scores-average-scores-graph.component.html
  src/main/webapp/app/exam/exam-scores/exam-scores-average-scores-graph.component.ts
  src/main/webapp/app/exam/exam-scores/exam-scores.component.html
  src/main/webapp/app/exam/exam-scores/exam-scores.component.scss
  src/main/webapp/app/exam/exam-scores/exam-scores.component.ts
  src/main/webapp/app/exercises/quiz/manage/statistics/multiple-choice-question-statistic/multiple-choice-question-statistic.component.ts
  src/main/webapp/app/exercises/quiz/manage/statistics/quiz-point-statistic/quiz-point-statistic.component.scss
  src/main/webapp/app/exercises/quiz/manage/statistics/quiz-point-statistic/quiz-point-statistic.component.ts
  src/main/webapp/app/exercises/quiz/manage/statistics/quiz-statistic/quiz-statistic.component.ts
  src/main/webapp/app/exercises/shared/dashboards/tutor/exercise-assessment-dashboard.component.html
  src/main/webapp/app/exercises/shared/dashboards/tutor/exercise-assessment-dashboard.component.ts
  src/main/webapp/app/shared/chart/vertical-bar-chart.scss
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/en/exam.json
  src/test/javascript/spec/component/assessment-dashboard/exercise-assessment-dashboard.component.spec.ts
  src/test/javascript/spec/component/exam/exam-scores/exam-scores-average-scores-graph.component.spec.ts
  src/test/javascript/spec/component/exam/exam-scores/exam-scores.component.spec.ts
Labels: tests, client, ready to merge

#4619 `Development`: Remove unnecessary server call to get notification settings
  src/main/webapp/app/shared/notification/notification-sidebar/notification-sidebar.component.ts
  src/main/webapp/app/shared/user-settings/notification-settings/notification-settings.component.ts
  src/main/webapp/app/shared/user-settings/notification-settings/notification-settings.service.ts
  src/test/javascript/spec/component/shared/user-settings/notification-settings.component.spec.ts
Labels: tests, client, small, ready to merge, user settings

#4643 `Programming exercises`: Show participation buttons for inactive exercises
  src/main/webapp/app/overview/exercise-details/exercise-details-student-actions.component.html
  src/main/webapp/app/overview/exercise-details/exercise-details-student-actions.component.ts
Labels: ready for review, client, small, bugfix, ready to merge

#4648 `Assessment`: Show assessment dashboard links for instructors
  src/main/webapp/app/course/dashboards/assessment-dashboard/assessment-dashboard.component.html
Labels: ready for review, client, small, ready to merge

#4637 `Development`: Remove use of deprecated methods
  src/main/java/de/tum/in/www1/artemis/domain/Complaint.java
  src/main/java/de/tum/in/www1/artemis/service/SubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/TextSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/exam/ExamService.java
  src/main/java/de/tum/in/www1/artemis/service/exam/ExamSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/exam/StudentExamAccessService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExampleSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/FileUploadSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/QuizSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/StaticCodeAnalysisResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/StudentExamResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/util/ResponseUtil.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/NotificationScheduleServiceTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/ExamAccessServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/ExamSubmissionServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/StudentExamAccessServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/SubmissionServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/TextAssessmentQueueServiceTest.java
Labels: tests, server, chore, code quality, ready to merge

#4508 `General`: Change the way how external users are registered on Artemis with LTI
  docs/dev/setup.rst
  src/main/java/de/tum/in/www1/artemis/config/Constants.java
  src/main/java/de/tum/in/www1/artemis/config/migration/MigrationRegistry.java
  src/main/java/de/tum/in/www1/artemis/config/migration/entries/MigrationEntry20211214_184200.java
  src/main/java/de/tum/in/www1/artemis/domain/User.java
  src/main/java/de/tum/in/www1/artemis/repository/UserRepository.java
  src/main/java/de/tum/in/www1/artemis/security/ArtemisInternalAuthenticationProvider.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/LtiService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/SAML2Service.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jira/JiraAuthenticationProvider.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/lti/ExternalPasswordResetInfoContributor.java
  src/main/java/de/tum/in/www1/artemis/service/dto/UserInitializationDTO.java
  src/main/java/de/tum/in/www1/artemis/service/user/UserCreationService.java
  src/main/java/de/tum/in/www1/artemis/service/user/UserService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/AccountResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/LtiResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/UserResource.java
  src/main/resources/config/application-artemis.yml
  src/main/resources/config/liquibase/changelog/20211214173800_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/account/account.module.ts
  src/main/webapp/app/account/password-reset/external/external-user-password-reset-modal.component.html
  src/main/webapp/app/account/password-reset/external/external-user-password-reset-modal.component.ts
  src/main/webapp/app/account/password-reset/finish/password-reset-finish.component.html
  src/main/webapp/app/account/password-reset/finish/password-reset-finish.component.ts
  src/main/webapp/app/account/password-reset/init/password-reset-init.component.html
  src/main/webapp/app/account/password-reset/init/password-reset-init.component.ts
  src/main/webapp/app/core/auth/user-route-access-service.ts
  src/main/webapp/app/core/user/user.service.ts
  src/main/webapp/app/home/home.component.html
  src/main/webapp/app/home/home.component.ts
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.html
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.ts
  src/main/webapp/app/overview/exercise-details/course-exercise-details.module.ts
  src/main/webapp/app/overview/exercise-details/lti-initializer-modal.component.html
  src/main/webapp/app/overview/exercise-details/lti-initializer-modal.component.ts
  src/main/webapp/app/overview/exercise-details/lti-initializer.component.ts
  src/main/webapp/app/shared/layouts/profiles/profile-info.model.ts
  src/main/webapp/app/shared/layouts/profiles/profile.service.ts
  src/main/webapp/i18n/de/exercise.json
  src/main/webapp/i18n/de/lti.json
  src/main/webapp/i18n/de/reset.json
  src/main/webapp/i18n/en/exercise.json
  src/main/webapp/i18n/en/lti.json
  src/main/webapp/i18n/en/reset.json
  src/test/java/de/tum/in/www1/artemis/AccountResourceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/LtiIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/authentication/UserBambooBitbucketJiraIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/authentication/UserJenkinsGitlabIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/connectors/LtiServiceTest.java
  src/test/java/de/tum/in/www1/artemis/util/UserTestService.java
  src/test/javascript/spec/component/account/password-reset-finish.component.spec.ts
  src/test/javascript/spec/component/account/password-reset-init.component.spec.ts
  src/test/javascript/spec/component/overview/exercise-details/course-exercise-details.component.spec.ts
  src/test/javascript/spec/component/overview/exercise-details/lti-initializer.component.spec.ts
  src/test/javascript/spec/component/shared/clone-repo-button.component.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-user.service.ts
  src/test/javascript/spec/service/profile.service.spec.ts
  src/test/javascript/spec/service/user.service.spec.ts
Labels: tests, server, client, database, ready to merge

#4651 `Development`: Remove deprecations in server code
  src/main/java/de/tum/in/www1/artemis/repository/FileUploadExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/GradeStepRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/LearningGoalRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/LectureUnitRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/TeamRepository.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseSimulationService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ApollonDiagramResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/AssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/FileResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/FileUploadAssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/FileUploadExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/FileUploadSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/GradeStepResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/GradingScaleResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/LearningGoalResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/LtiResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingAssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/NotificationSettingsResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/OrganizationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ParticipantScoreResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ParticipationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingAssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseSimulationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseTestCaseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingSubmissionResultSimulationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/QuizExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/QuizSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/RatingResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ResultResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/StatisticsResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/StudentExamResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TeamResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/lecture/AttachmentUnitResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/lecture/ExerciseUnitResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/lecture/LectureUnitResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/lecture/VideoUnitResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/repository/RepositoryResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/util/ResponseUtil.java
  src/test/java/de/tum/in/www1/artemis/ExerciseUnitIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/FileUploadExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/LearningGoalIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ModelingAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/TeamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/VideoUnitIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/simulation/ProgrammingExerciseSubmissionAndResultSimulationIntegrationTest.java
Labels: tests, ready for review, server, chore, java, code quality

#4546 `Development`: Refactor programming exercise grading service
  src/main/java/de/tum/in/www1/artemis/domain/Feedback.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseGradingService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/ProgrammingExerciseGradingStatisticsDTO.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseGradingServiceTest.java
Labels: tests, ready for review, server, code quality, refactoring
