Repository ls1intum/Artemis, pull requests merged in 2023-04, with the labels that each got.

#6399 `Programming exercises`: Fix an issue when resetting test cases
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseTestCaseService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseTestCaseResource.java
  src/main/webapp/app/exercises/programming/manage/services/programming-exercise-grading.service.ts
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseTestCaseServiceTest.java
Labels: tests, server, client, small, ready to merge

#6401 `Development`: Update cypress to 12.9.0
  src/test/cypress/package-lock.json
  src/test/cypress/package.json
Labels: tests, cypress, ready to merge

#6403 `Development`: Simplify exam assessment e2e test and make it more robust
  src/test/cypress/e2e/exam/ExamAssessment.cy.ts
  src/test/cypress/e2e/exam/ExamCreationDeletion.cy.ts
  src/test/cypress/e2e/exam/ExamDateVerification.cy.ts
  src/test/cypress/e2e/exam/ExamManagement.cy.ts
  src/test/cypress/e2e/exam/ExamParticipation.cy.ts
  src/test/cypress/e2e/exam/ExamTestRun.cy.ts
  src/test/cypress/e2e/exam/test-exam/TestExamCreationDeletion.cy.ts
  src/test/cypress/e2e/exam/test-exam/TestExamManagement.cy.ts
  src/test/cypress/e2e/exam/test-exam/TestExamParticipation.cy.ts
  src/test/cypress/e2e/exam/test-exam/TestExamTestRun.cy.ts
  src/test/cypress/e2e/exercises/programming/ProgrammingExerciseAssessment.cy.ts
  src/test/cypress/support/pageobjects/exam/ExamExerciseGroupCreationPage.ts
  src/test/cypress/support/pageobjects/exam/ExamParticipation.ts
  src/test/cypress/support/requests/CourseManagementRequests.ts
Labels: tests, cypress, ready to merge

#6404 `Programming exercises`: Improve .gitignore files in project templates
  src/main/resources/templates/haskell/exercise/git.ignore.file
  src/main/resources/templates/haskell/solution/git.ignore.file
  src/main/resources/templates/haskell/test/git.ignore.file
  src/main/resources/templates/java/exercise/git.ignore.file
  src/main/resources/templates/java/gradle_gradle/exercise/git.ignore.file
  src/main/resources/templates/java/gradle_gradle/solution/git.ignore.file
  src/main/resources/templates/java/plain_gradle/exercise/git.ignore.file
  src/main/resources/templates/java/plain_gradle/solution/git.ignore.file
  src/main/resources/templates/java/solution/git.ignore.file
  src/main/resources/templates/java/test/gradle/projectTemplate/git.ignore.file
  src/main/resources/templates/java/test/maven/projectTemplate/git.ignore.file
  src/main/resources/templates/kotlin/exercise/git.ignore.file
  src/main/resources/templates/kotlin/solution/git.ignore.file
  src/main/resources/templates/kotlin/test/maven/projectTemplate/git.ignore.file
  src/main/resources/templates/ocaml/exercise/git.ignore.file
  src/main/resources/templates/ocaml/solution/git.ignore.file
  src/main/resources/templates/ocaml/test/git.ignore.file
  src/main/resources/templates/python/exercise/git.ignore.file
  src/main/resources/templates/python/solution/git.ignore.file
  src/main/resources/templates/swift/exercise/git.ignore.file
  src/main/resources/templates/swift/solution/git.ignore.file
  src/main/resources/templates/swift/xcode/exercise/git.ignore.file
  src/main/resources/templates/swift/xcode/solution/git.ignore.file
Labels: enhancement, component:Programming, small, ready to merge

#6406 `Programming exercises`: Fix missing translation when creating a programming exercise
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.html
Labels: client, small, ready to merge

#6389 `Programming exercises`: Fix a visual issue with static code analysis warnings in the online editor
  src/main/webapp/app/exercises/programming/shared/code-editor/ace/code-editor-ace.scss
Labels: client, component:Programming, small, bugfix, user interface, ready to merge

#6357 `Development`: Add app site association for mobile app deep link support
  src/main/java/de/tum/in/www1/artemis/web/rest/AndroidAppSiteAssociationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/AppleAppSiteAssociationResource.java
  src/main/resources/config/application.yml
  src/test/java/de/tum/in/www1/artemis/web/rest/AndroidAppSiteAssociationResourceTest.java
  src/test/java/de/tum/in/www1/artemis/web/rest/AppleAppSiteAssociationResourceTest.java
  src/test/resources/config/application.yml
  webpack/proxy.conf.js
Labels: tests, server, ready to merge

#6387 `Tutorial groups`: Add documentation
  README.md
  docs/index.rst
  docs/user/tutorialgroups.rst
  docs/user/tutorialgroups/instructors-checklist.png
  docs/user/tutorialgroups/instructors-create-groups.png
  docs/user/tutorialgroups/instructors-csv-import.png
  docs/user/tutorialgroups/instructors-holidays.png
  docs/user/tutorialgroups/instructors-tutorial-group-button.png
  docs/user/tutorialgroups/instructors-tutorial-group-form.png
  docs/user/tutorialgroups/students-all-groups.png
  docs/user/tutorialgroups/students-detail.png
  docs/user/tutorialgroups/students-own-groups.png
  docs/user/tutorialgroups/tutor-overview.png
  docs/user/tutorialgroups/tutor-registrations.png
  docs/user/tutorialgroups/tutor-sessions.png
  src/main/webapp/app/core/about-us/about-us.component.ts
  src/main/webapp/i18n/de/aboutUs.json
  src/main/webapp/i18n/en/aboutUs.json
Labels: client, documentation, ready to merge, component:TutorialGroups

#6372 `Development`: Refactor repository access checks
  src/main/java/de/tum/in/www1/artemis/repository/SubmissionPolicyRepository.java
  src/main/java/de/tum/in/www1/artemis/service/RepositoryAccessService.java
  src/main/java/de/tum/in/www1/artemis/service/RepositoryService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseParticipationService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingMessagingService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ResultResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/errors/AccessForbiddenException.java
  src/main/java/de/tum/in/www1/artemis/web/rest/errors/AccessUnauthorizedException.java
  src/main/java/de/tum/in/www1/artemis/web/rest/repository/RepositoryProgrammingExerciseParticipationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/repository/RepositoryResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/repository/TestRepositoryResource.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseParticipationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/RepositoryIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/TestRepositoryResourceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/RepositoryAccessServiceTest.java
Labels: tests, server, ready to merge

#6344 `Programming exercises`: Add grading based on programming tasks
  src/main/java/de/tum/in/www1/artemis/service/hestia/ProgrammingExerciseTaskService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/hestia/ProgrammingExerciseTaskResource.java
  src/main/webapp/app/entities/programming-exercise-test-case-statistics.model.ts
  src/main/webapp/app/entities/programming-exercise-test-case.model.ts
  src/main/webapp/app/exercises/programming/manage/grading/charts/test-case-distribution-chart.component.ts
  src/main/webapp/app/exercises/programming/manage/grading/charts/test-case-passed-builds-chart.component.ts
  src/main/webapp/app/exercises/programming/manage/grading/programming-exercise-configure-grading.component.html
  src/main/webapp/app/exercises/programming/manage/grading/programming-exercise-configure-grading.component.ts
  src/main/webapp/app/exercises/programming/manage/grading/programming-exercise-grading.module.ts
  src/main/webapp/app/exercises/programming/manage/grading/tasks/programming-exercise-grading-task.component.html
  src/main/webapp/app/exercises/programming/manage/grading/tasks/programming-exercise-grading-task.component.ts
  src/main/webapp/app/exercises/programming/manage/grading/tasks/programming-exercise-grading-task.scss
  src/main/webapp/app/exercises/programming/manage/grading/tasks/programming-exercise-task.service.ts
  src/main/webapp/app/exercises/programming/manage/grading/tasks/programming-exercise-task.ts
  src/main/webapp/app/exercises/programming/manage/grading/tasks/programming-exercise-task/programming-exercise-task.component.html
  src/main/webapp/app/exercises/programming/manage/grading/tasks/programming-exercise-task/programming-exercise-task.component.scss
  src/main/webapp/app/exercises/programming/manage/grading/tasks/programming-exercise-task/programming-exercise-task.component.ts
  src/main/webapp/i18n/de/testCase.json
  src/main/webapp/i18n/en/testCase.json
  src/test/javascript/spec/component/programming-exercise/programming-exercise-configure-grading.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-test-case-passed-builds-charts.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/tasks/programming-exercise-grading-task.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/tasks/programming-exercise-task.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/test-case-distribution-chart.component.spec.ts
  src/test/javascript/spec/service/programming-exercise-task.service.spec.ts
Labels: feature, tests, server, client, component:Programming, grading system, ready to merge

#6393 `Development`: Add more communication e2e tests
  src/main/webapp/app/overview/course-discussion/course-discussion.component.html
  src/main/webapp/app/overview/discussion-section/discussion-section.component.html
  src/main/webapp/app/shared/metis/answer-post/answer-post.component.html
  src/main/webapp/app/shared/metis/posting-header/answer-post-header/answer-post-header.component.html
  src/main/webapp/app/shared/metis/posting-reactions-bar/post-reactions-bar/post-reactions-bar.component.html
  src/test/cypress/e2e/course/CourseCommunication.cy.ts
  src/test/cypress/support/pageobjects/course/CourseCommunication.ts
  src/test/cypress/support/requests/CourseManagementRequests.ts
Labels: tests, ready for review, client, cypress

#6364 `Development`: Add more features toggles to the programming language service
  docs/user/exercises/programming-exercise-setup.inc
  src/main/java/de/tum/in/www1/artemis/domain/ProgrammingExercise.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/BambooProgrammingLanguageFeatureService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/gitlabci/GitLabCIProgrammingLanguageFeatureService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsProgrammingLanguageFeatureService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingLanguageFeature.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExercisePlagiarismResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseResource.java
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.html
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.ts
  src/main/webapp/app/exercises/programming/manage/update/update-components/programming-exercise-information.component.html
  src/main/webapp/app/exercises/programming/manage/update/update-components/programming-exercise-information.component.ts
  src/main/webapp/app/exercises/programming/manage/update/update-components/programming-exercise-problem.component.html
  src/main/webapp/app/exercises/programming/manage/update/update-components/programming-exercise-problem.component.ts
  src/main/webapp/app/exercises/programming/manage/update/wizard-mode/programming-exercise-update-wizard-information.component.html
  src/main/webapp/app/exercises/programming/manage/update/wizard-mode/programming-exercise-update-wizard-information.component.ts
  src/main/webapp/app/exercises/programming/manage/update/wizard-mode/programming-exercise-update-wizard.component.html
  src/main/webapp/app/exercises/programming/manage/update/wizard-mode/programming-exercise-update-wizard.component.ts
  src/main/webapp/app/exercises/programming/shared/service/programming-language-feature/programming-language-feature.service.ts
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseIntegrationBambooBitbucketJiraTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseIntegrationJenkinsGitlabTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseIntegrationTestService.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseTemplateIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseTestService.java
  src/test/javascript/spec/component/programming-exercise/programming-exercise-update.component.spec.ts
  src/test/javascript/spec/service/profile.service.spec.ts
Labels: tests, server, client, documentation, ready to merge

#6416 `Development`: Update server and client dependencies
  build.gradle
  gradle.properties
  package-lock.json
  package.json
  src/test/javascript/spec/component/bonus/bonus.component.spec.ts
Labels: tests

#6423 `Development`: Fix an issue with gradle in gitignores of programming exercises
  src/main/resources/templates/java/exercise/git.ignore.file
  src/main/resources/templates/java/gradle_gradle/exercise/git.ignore.file
  src/main/resources/templates/java/gradle_gradle/solution/git.ignore.file
  src/main/resources/templates/java/plain_gradle/exercise/git.ignore.file
  src/main/resources/templates/java/plain_gradle/solution/git.ignore.file
  src/main/resources/templates/java/solution/git.ignore.file
  src/main/resources/templates/java/test/gradle/projectTemplate/git.ignore.file
Labels: component:Programming, priority:high, small, bugfix, ready to merge

#6435 `Programming exercises`: Fix test case feedback processing in Jenkins setups
  src/main/resources/templates/jenkins/c/fact/regularRuns/Jenkinsfile
  src/main/resources/templates/jenkins/c/gcc/regularRuns/Jenkinsfile
  src/main/resources/templates/jenkins/haskell/regularRuns/Jenkinsfile
  src/main/resources/templates/jenkins/java/gradle/regularRuns/Jenkinsfile
  src/main/resources/templates/jenkins/java/gradle/regularRuns/Jenkinsfile-staticCodeAnalysis
  src/main/resources/templates/jenkins/java/gradle/sequentialRuns/Jenkinsfile
  src/main/resources/templates/jenkins/java/maven/regularRuns/Jenkinsfile
  src/main/resources/templates/jenkins/java/maven/regularRuns/Jenkinsfile-staticCodeAnalysis
  src/main/resources/templates/jenkins/java/maven/sequentialRuns/Jenkinsfile
  src/main/resources/templates/jenkins/kotlin/regularRuns/Jenkinsfile
  src/main/resources/templates/jenkins/kotlin/sequentialRuns/Jenkinsfile
  src/main/resources/templates/jenkins/python/regularRuns/Jenkinsfile
  src/main/resources/templates/jenkins/swift/regularRuns/Jenkinsfile
  src/main/resources/templates/jenkins/swift/regularRuns/Jenkinsfile-staticCodeAnalysis
Labels: component:Programming, priority:critical, jenkins/gitlab, small, bugfix, ready to merge

#6405 `General`: Add missing translations to feedback groups
  src/main/webapp/app/exercises/shared/feedback/node/feedback-node.component.html
  src/main/webapp/i18n/de/feedback.json
  src/main/webapp/i18n/en/feedback.json
Labels: client, small, ready to merge

#6384 `Development`: Refactor participation access checks
  src/main/java/de/tum/in/www1/artemis/service/AuthorizationCheckService.java
  src/main/java/de/tum/in/www1/artemis/service/ParticipationAuthorizationCheckService.java
  src/main/java/de/tum/in/www1/artemis/service/RepositoryAccessService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseParticipationService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ParticipationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseParticipationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ResultResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/repository/RepositoryProgrammingExerciseParticipationResource.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/RepositoryIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/ParticipationAuthorizationCheckServiceTest.java
Labels: tests, server, refactoring, ready to merge

#6106 `Notifications`: Improve notification text translation
  src/main/java/de/tum/in/www1/artemis/domain/notification/GroupNotification.java
  src/main/java/de/tum/in/www1/artemis/domain/notification/GroupNotificationFactory.java
  src/main/java/de/tum/in/www1/artemis/domain/notification/Notification.java
  src/main/java/de/tum/in/www1/artemis/domain/notification/NotificationConstants.java
  src/main/java/de/tum/in/www1/artemis/domain/notification/NotificationFactory.java
  src/main/java/de/tum/in/www1/artemis/domain/notification/NotificationTitleTypeConstants.java
  src/main/java/de/tum/in/www1/artemis/domain/notification/SingleUserNotification.java
  src/main/java/de/tum/in/www1/artemis/domain/notification/SingleUserNotificationFactory.java
  src/main/java/de/tum/in/www1/artemis/domain/notification/TutorialGroupNotification.java
  src/main/java/de/tum/in/www1/artemis/domain/notification/TutorialGroupNotificationFactory.java
  src/main/java/de/tum/in/www1/artemis/service/MailService.java
  src/main/java/de/tum/in/www1/artemis/service/metis/AnswerPostService.java
  src/main/java/de/tum/in/www1/artemis/service/notifications/GroupNotificationService.java
  src/main/java/de/tum/in/www1/artemis/service/notifications/NotificationSettingsService.java
  src/main/java/de/tum/in/www1/artemis/service/notifications/SingleUserNotificationService.java
  src/main/resources/config/liquibase/changelog/20230222092714_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/entities/notification.model.ts
  src/main/webapp/app/shared/notification/notification-popup/notification-popup.component.html
  src/main/webapp/app/shared/notification/notification-popup/notification-popup.component.ts
  src/main/webapp/app/shared/notification/notification-sidebar/notification-sidebar.component.html
  src/main/webapp/app/shared/notification/notification-sidebar/notification-sidebar.component.ts
  src/main/webapp/app/shared/notification/notification.service.ts
  src/main/webapp/i18n/de/notification.json
  src/main/webapp/i18n/en/notification.json
  src/test/cypress/e2e/course/CourseCommunication.cy.ts
  src/test/java/de/tum/in/www1/artemis/domain/notification/GroupNotificationFactoryTest.java
  src/test/java/de/tum/in/www1/artemis/domain/notification/SingleUserNotificationFactoryTest.java
  src/test/java/de/tum/in/www1/artemis/domain/notification/TutorialGroupNotificationFactoryTest.java
  src/test/java/de/tum/in/www1/artemis/notification/GroupNotificationServiceTest.java
  src/test/java/de/tum/in/www1/artemis/notification/NotificationResourceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/notification/NotificationSettingsServiceTest.java
  src/test/java/de/tum/in/www1/artemis/notification/NotificationTargetFactoryTest.java
  src/test/java/de/tum/in/www1/artemis/notification/SingleUserNotificationServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/notifications/TutorialGroupNotificationServiceTest.java
  src/test/java/de/tum/in/www1/artemis/util/UserTestService.java
  src/test/javascript/spec/component/shared/notification/notification-popup.component.spec.ts
  src/test/javascript/spec/component/shared/notification/notification-sidebar.component.spec.ts
  src/test/javascript/spec/integration/guided-tour/guided-tour.integration.spec.ts
Labels: feature, tests, server, client, component:Notification, database, refactoring, cypress, ready to merge

#6373 `General`: Fix an issue during user deletion with existing conversations
  src/main/java/de/tum/in/www1/artemis/repository/metis/ConversationParticipantRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/metis/PostRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/metis/conversation/ConversationRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/metis/conversation/OneToOneChatRepository.java
  src/main/java/de/tum/in/www1/artemis/service/user/UserService.java
  src/test/java/de/tum/in/www1/artemis/util/UserTestService.java
Labels: tests, server

#6441 `Development`: Update initial GitLab password in documentation
  docs/dev/setup/jenkins-gitlab.rst
Labels: documentation, ready to merge

#6444 `Adaptive Learning`: Add missing translations to competency management
  src/main/webapp/app/course/learning-goals/learning-goal-management/learning-goal-management.component.html
  src/main/webapp/i18n/de/learningGoal.json
  src/main/webapp/i18n/en/learningGoal.json
Labels: enhancement, client, small, ready to merge, component:AdaptiveLearning

#6420 `Programming exercises`: Fix an issue when pushing to an instructor's assignment repository
  docs/user/exercises/programming-repository-access.inc
  docs/user/exercises/programming.rst
  src/main/java/de/tum/in/www1/artemis/service/RepositoryAccessService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/repository/RepositoryProgrammingExerciseParticipationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/repository/RepositoryResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/repository/TestRepositoryResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/repository/util/RepositoryExecutor.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/RepositoryIntegrationTest.java
Labels: tests, server, documentation, ready to merge

#6410 `Assessment`: Fix issues in the scores view for multiple correction rounds and file upload exercises
  src/main/java/de/tum/in/www1/artemis/repository/StudentParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ParticipationResource.java
  src/main/webapp/app/exercises/shared/exercise-scores/exercise-scores.component.html
  src/main/webapp/app/exercises/shared/exercise-scores/exercise-scores.component.ts
  src/main/webapp/app/exercises/shared/participation/participation.service.ts
  src/main/webapp/i18n/de/assessment.json
  src/main/webapp/i18n/en/assessment.json
  src/test/java/de/tum/in/www1/artemis/ParticipationIntegrationTest.java
  src/test/javascript/spec/component/exercises/shared/exercise-scores.component.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-participation.service.ts
Labels: tests, ready for review, server, client, exam mode, bugfix

#6438 `Programming exercises`: Fix Swift exercise creation
  src/main/java/de/tum/in/www1/artemis/service/FileService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseRepositoryService.java
  src/test/java/de/tum/in/www1/artemis/service/FileServiceTest.java
Labels: tests, ready for review, server, component:Programming, template, small, bugfix

#6453 `General`: Enable communication and messaging by default when creating a course
  src/main/webapp/app/course/manage/course-update.component.ts
  src/main/webapp/app/entities/course.model.ts
  src/test/javascript/spec/component/course/course-update.component.spec.ts
Labels: tests, client, small, ready to merge

#6455 `Notifications`: Fix incorrect mail subjects
  src/main/java/de/tum/in/www1/artemis/domain/notification/NotificationConstants.java
  src/main/java/de/tum/in/www1/artemis/service/MailService.java
  src/main/resources/i18n/messages.properties
  src/main/resources/i18n/messages_de.properties
  src/main/resources/i18n/messages_en.properties
  src/main/webapp/i18n/de/notification.json
  src/main/webapp/i18n/en/notification.json
Labels: server, client, component:Notification, small, bugfix, ready to merge, email

#6429 `Development`: Add quiz exercise drop location e2e test
  src/main/webapp/app/exercises/quiz/manage/apollon-diagrams/apollon-diagram-create-form.component.html
  src/main/webapp/app/exercises/quiz/manage/apollon-diagrams/apollon-diagram-detail.component.html
  src/main/webapp/app/exercises/quiz/manage/apollon-diagrams/apollon-diagram-list.component.html
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise.component.html
  src/test/cypress/e2e/exercises/modeling/ModelingExerciseParticipation.cy.ts
  src/test/cypress/e2e/exercises/quiz-exercise/QuizExerciseDropLocation.cy.ts
  src/test/cypress/support/pageobjects/exercises/modeling/ModelingEditor.ts
  src/test/cypress/support/pageobjects/exercises/quiz/DragAndDropQuiz.ts
Labels: tests, client, cypress, ready to merge

#6446 `Development`: Add more messages e2e tests
  src/main/webapp/app/overview/course-conversations/dialogs/conversation-detail-dialog/tabs/conversation-members/conversation-members.component.html
  src/main/webapp/app/overview/course-conversations/layout/conversation-messages/conversation-messages.component.html
  src/main/webapp/app/shared/metis/message/message-inline-input/message-inline-input.component.html
  src/test/cypress/e2e/course/CourseMessages.cy.ts
  src/test/cypress/support/pageobjects/course/CourseMessages.ts
  src/test/cypress/support/requests/CourseManagementRequests.ts
  src/test/cypress/support/users.ts
Labels: tests, client, cypress, ready to merge

#6450 `Development`: Comment out skipped e2e tests
  src/test/cypress/e2e/exam/test-exam/TestExamTestRun.cy.ts
  src/test/cypress/e2e/exercises/quiz-exercise/QuizExerciseManagement.cy.ts
  src/test/cypress/e2e/exercises/quiz-exercise/QuizExerciseParticipation.cy.ts
Labels: tests, cypress, ready to merge

#6421 `Programming exercises`: Improve usability for grading configuration
  src/main/webapp/app/exercises/programming/manage/grading/tasks/programming-exercise-grading-task.component.html
  src/main/webapp/app/exercises/programming/manage/grading/tasks/programming-exercise-grading-task.component.ts
  src/main/webapp/app/exercises/programming/manage/grading/tasks/programming-exercise-grading-task.scss
  src/main/webapp/app/exercises/programming/manage/grading/tasks/programming-exercise-task.service.ts
  src/main/webapp/app/exercises/programming/manage/grading/tasks/programming-exercise-task/programming-exercise-task.component.html
  src/main/webapp/app/exercises/programming/manage/grading/tasks/programming-exercise-task/programming-exercise-task.component.scss
  src/main/webapp/app/exercises/programming/manage/grading/tasks/programming-exercise-task/programming-exercise-task.component.ts
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/de/programmingExerciseTestCase.json
  src/main/webapp/i18n/de/testCase.json
  src/main/webapp/i18n/en/programmingExercise.json
  src/main/webapp/i18n/en/programmingExerciseTestCase.json
  src/main/webapp/i18n/en/testCase.json
  src/test/javascript/spec/component/programming-exercise/tasks/programming-exercise-grading-task.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/tasks/programming-exercise-task.component.spec.ts
Labels: tests, client, lock:artemistest5, small, ready to merge

#6415 `Development`: Add even more communication e2e tests
  src/main/webapp/app/overview/discussion-section/discussion-section.component.html
  src/test/cypress/e2e/course/CourseCommunication.cy.ts
  src/test/cypress/support/pageobjects/course/CourseCommunication.ts
  src/test/cypress/support/requests/CourseManagementRequests.ts
Labels: tests, client, cypress, ready to merge

#6452 `Development`: Avoid unnecessary REST calls in course details
  src/main/webapp/app/overview/course-overview.component.ts
  src/main/webapp/app/shared/metis/metis-conversation.service.ts
  src/test/javascript/spec/component/course/course-overview.component.spec.ts
  src/test/javascript/spec/component/overview/course-conversations/services/metis-conversation.service.spec.ts
Labels: tests, client, small, performance, ready to merge

#6313 `Notifications`: Allow users to get notified when messaging
  src/main/java/de/tum/in/www1/artemis/domain/enumeration/NotificationType.java
  src/main/java/de/tum/in/www1/artemis/domain/notification/ConversationNotification.java
  src/main/java/de/tum/in/www1/artemis/domain/notification/ConversationNotificationFactory.java
  src/main/java/de/tum/in/www1/artemis/domain/notification/Notification.java
  src/main/java/de/tum/in/www1/artemis/domain/notification/NotificationConstants.java
  src/main/java/de/tum/in/www1/artemis/domain/notification/NotificationTarget.java
  src/main/java/de/tum/in/www1/artemis/domain/notification/NotificationTargetFactory.java
  src/main/java/de/tum/in/www1/artemis/domain/notification/SingleUserNotification.java
  src/main/java/de/tum/in/www1/artemis/domain/notification/SingleUserNotificationFactory.java
  src/main/java/de/tum/in/www1/artemis/repository/NotificationRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/metis/ConversationMessageRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/metis/conversation/ConversationNotificationRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/metis/conversation/ConversationRepository.java
  src/main/java/de/tum/in/www1/artemis/service/metis/AnswerMessageService.java
  src/main/java/de/tum/in/www1/artemis/service/metis/ConversationMessagingService.java
  src/main/java/de/tum/in/www1/artemis/service/metis/conversation/ConversationService.java
  src/main/java/de/tum/in/www1/artemis/service/notifications/ConversationNotificationService.java
  src/main/java/de/tum/in/www1/artemis/service/notifications/NotificationSettingsService.java
  src/main/java/de/tum/in/www1/artemis/service/notifications/SingleUserNotificationService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/NotificationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/metis/ConversationMessageResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/metis/conversation/ChannelResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/metis/conversation/ConversationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/metis/conversation/GroupChatResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/metis/conversation/OneToOneChatResource.java
  src/main/resources/config/liquibase/changelog/20230223202600_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/entities/notification.model.ts
  src/main/webapp/app/overview/course-conversations-notifications-service.ts
  src/main/webapp/app/shared/constants/user-settings.constants.ts
  src/main/webapp/app/shared/metis/metis-conversation.service.ts
  src/main/webapp/app/shared/notification/notification-popup/notification-popup.component.html
  src/main/webapp/app/shared/notification/notification-popup/notification-popup.component.ts
  src/main/webapp/app/shared/notification/notification-sidebar/notification-sidebar.component.ts
  src/main/webapp/app/shared/notification/notification.service.ts
  src/main/webapp/app/shared/user-settings/notification-settings/notification-settings-structure.ts
  src/main/webapp/app/shared/user-settings/notification-settings/notification-settings.service.ts
  src/main/webapp/i18n/de/notification.json
  src/main/webapp/i18n/de/userSettings.json
  src/main/webapp/i18n/en/notification.json
  src/main/webapp/i18n/en/userSettings.json
  src/test/java/de/tum/in/www1/artemis/notification/SingleUserNotificationServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/notifications/ConversationNotificationServiceTest.java
  src/test/java/de/tum/in/www1/artemis/util/AbstractArtemisIntegrationTest.java
  src/test/javascript/spec/component/overview/course-conversations/services/course-conversations-notification.service.spec.ts
  src/test/javascript/spec/component/shared/notification/notification-popup.component.spec.ts
  src/test/javascript/spec/component/shared/notification/notification-sidebar.component.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-notification.service.ts
  src/test/javascript/spec/service/notification.service.spec.ts
Labels: tests, server, client, database, ready to merge

#6370 `Assessment`: Display warning when grade scale exceeds max points
  src/main/webapp/app/grading-system/base-grading-system/base-grading-system.component.ts
  src/main/webapp/app/grading-system/detailed-grading-system/detailed-grading-system.component.html
  src/main/webapp/app/grading-system/detailed-grading-system/detailed-grading-system.component.ts
  src/main/webapp/app/grading-system/interval-grading-system/interval-grading-system.component.html
  src/main/webapp/app/grading-system/interval-grading-system/interval-grading-system.component.ts
  src/main/webapp/i18n/de/gradingSystem.json
  src/main/webapp/i18n/en/gradingSystem.json
  src/test/javascript/spec/component/grading-system/detailed-grading-system.component.spec.ts
  src/test/javascript/spec/component/grading-system/interval-grading-system.component.spec.ts
Labels: client, ready to merge

#6476 `Programming exercises`: Add automatic expanding if there is only one task in the grading configuration
  src/main/webapp/app/exercises/programming/manage/grading/tasks/programming-exercise-task/programming-exercise-task.component.ts
Labels: client, small, ready to merge

#6474 `Programming exercises`: Fix editing of exam exercises
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.html
  src/main/webapp/app/exercises/programming/manage/update/update-components/programming-exercise-grading.component.html
  src/main/webapp/app/exercises/programming/manage/update/update-components/programming-exercise-grading.component.ts
  src/main/webapp/app/exercises/programming/manage/update/wizard-mode/programming-exercise-update-wizard-information.component.html
  src/main/webapp/app/exercises/programming/manage/update/wizard-mode/programming-exercise-update-wizard-information.component.ts
  src/main/webapp/app/exercises/programming/manage/update/wizard-mode/programming-exercise-update-wizard.component.html
  src/main/webapp/app/exercises/programming/manage/update/wizard-mode/programming-exercise-update-wizard.component.ts
Labels: ready for review, client, small, bugfix

#6469 `Lectures`: Add lecture unit attachment file size pre-check
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/attachment-unit-form/attachment-unit-form.component.html
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/attachment-unit-form/attachment-unit-form.component.ts
  src/main/webapp/i18n/de/lectureUnit.json
  src/main/webapp/i18n/en/lectureUnit.json
  src/test/javascript/spec/component/lecture-unit/attachment-unit/attachment-unit-form.component.spec.ts
Labels: enhancement, tests, client, ready to merge

#6468 `Development`: Fix flaky GroupNotificationService tests
  src/test/java/de/tum/in/www1/artemis/notification/GroupNotificationServiceTest.java
  src/test/java/de/tum/in/www1/artemis/notification/NotificationScheduleServiceTest.java
  src/test/java/de/tum/in/www1/artemis/notification/SingleUserNotificationServiceTest.java
Labels: tests, small, ready to merge

#6490 `General`: Fix broken refresh button in course details
  src/main/webapp/app/overview/course-overview.component.ts
  src/test/javascript/spec/component/course/course-overview.component.spec.ts
Labels: tests, client, priority:high, bugfix, ready to merge

#6481 `Programming exercises`: Fix static code analysis for Swift and Xcode exercises
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsBuildPlanCreator.java
  src/main/resources/templates/bamboo/swift/staticCodeAnalysisRuns/1_run_static_code_analysis.sh
  src/main/resources/templates/bamboo/swift/xcode/staticCodeAnalysisRuns/1_run_static_code_analysis.sh
  src/main/resources/templates/jenkins/swift/regularRuns/Jenkinsfile
  src/main/resources/templates/jenkins/swift/regularRuns/Jenkinsfile-staticCodeAnalysis
  src/main/resources/templates/swift/test/.swiftlint.yml
Labels: ready for review, server, component:Programming, jenkins/gitlab, bamboo/bitbucket, small, bugfix

#6498 `General`: Fix team and start exercise button visible if student is not assigned to a team
  src/main/webapp/app/overview/exercise-details/exercise-details-student-actions.component.html
  src/test/javascript/spec/component/overview/exercise-details/exercise-details-student-actions.component.spec.ts
Labels: tests, client, ready to merge
