Repository ls1intum/Artemis, pull requests merged in 2023-02, with the labels that each got.

#6175 `Exam mode`: Improve german translations
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/exam.json
Labels: client, ready to merge

#6104 `Development`: Remove redundant latest-due-date calls
  src/main/webapp/app/exercises/shared/exercise-scores/exercise-scores.component.ts
  src/main/webapp/app/exercises/shared/exercise/exercise-cache.service.ts
  src/main/webapp/app/exercises/shared/feedback/feedback.component.html
  src/main/webapp/app/exercises/shared/feedback/feedback.component.ts
  src/main/webapp/app/exercises/shared/result/result.component.ts
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.ts
Labels: client, small, ready to merge

#6080 `Quiz exercises`: Fix reset question button of drag and drop questions in re-evaluation page
  src/main/webapp/app/exercises/quiz/manage/drag-and-drop-question/drag-and-drop-question-edit.component.html
  src/main/webapp/app/exercises/quiz/manage/drag-and-drop-question/drag-and-drop-question-edit.component.ts
  src/test/javascript/spec/component/drag-and-drop-question/drag-and-drop-question-edit.component.spec.ts
Labels: tests, client, component:Quiz, small, bugfix, ready to merge

#6168 `Quiz exercises`: Fix an issue with the release date when resetting a quiz
  src/main/java/de/tum/in/www1/artemis/service/QuizExerciseService.java
  src/test/java/de/tum/in/www1/artemis/quiz/QuizExerciseIntegrationTest.java
Labels: tests, server, component:Quiz, small, bugfix, ready to merge

#6152 `Exam mode`: Change label of the example solution repo download button
  docs/user/exams/student/exam_example_solution_programming.png
  docs/user/exams/students_guide.rst
  src/main/webapp/app/exam/participate/summary/exam-participation-summary.component.html
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/programmingExercise.json
Labels: client, documentation, small, ready to merge

#6167 `Development`: Update cypress to 12.4.1
  src/test/cypress/package-lock.json
  src/test/cypress/package.json
Labels: tests, cypress, ready to merge

#6129 `General`: Fix LTI 1.3 launch redirect bug
  src/main/webapp/app/lti/lti13-exercise-launch.component.ts
  src/test/javascript/spec/component/lti/lti13-exercise-launch.component.spec.ts
  src/test/javascript/spec/jest-test-setup.ts
Labels: tests, client, lti, small, bugfix, ready to merge

#6159 `Development`: Add course with custom groups and course edit e2e tests
  src/test/cypress/e2e/course/CourseManagement.cy.ts
Labels: tests, cypress, ready to merge

#6157 `Communication`: Improve usability of conversations user interface
  src/main/webapp/app/overview/course-conversations/course-conversations.component.html
  src/main/webapp/app/overview/course-conversations/course-conversations.component.scss
  src/main/webapp/app/overview/course-conversations/course-conversations.component.ts
  src/main/webapp/app/overview/course-conversations/dialogs/channels-create-dialog/channel-form/channel-form.component.html
  src/main/webapp/app/overview/course-conversations/dialogs/conversation-detail-dialog/conversation-detail-dialog.component.html
  src/main/webapp/app/overview/course-conversations/dialogs/conversation-detail-dialog/tabs/conversation-info/conversation-info.component.html
  src/main/webapp/app/overview/course-conversations/layout/conversation-header/conversation-header.component.html
  src/main/webapp/app/overview/course-conversations/layout/conversation-header/conversation-header.component.scss
  src/main/webapp/app/overview/course-conversations/layout/conversation-header/conversation-header.component.ts
  src/main/webapp/app/overview/course-conversations/layout/conversation-messages/conversation-messages.component.html
  src/main/webapp/app/overview/course-conversations/layout/conversation-messages/conversation-messages.component.scss
  src/main/webapp/app/overview/course-conversations/layout/conversation-messages/conversation-messages.component.ts
  src/main/webapp/app/overview/course-conversations/layout/conversation-selection-sidebar/conversation-selection-sidebar.component.html
  src/main/webapp/app/overview/course-conversations/layout/conversation-selection-sidebar/conversation-selection-sidebar.component.scss
  src/main/webapp/app/overview/course-conversations/layout/conversation-selection-sidebar/conversation-selection-sidebar.component.ts
  src/main/webapp/app/overview/course-conversations/layout/conversation-selection-sidebar/conversation-sidebar-section/conversation-sidebar-entry/conversation-sidebar-entry.component.html
  src/main/webapp/app/overview/course-conversations/layout/conversation-selection-sidebar/conversation-sidebar-section/conversation-sidebar-entry/conversation-sidebar-entry.component.scss
  src/main/webapp/app/overview/course-conversations/layout/conversation-selection-sidebar/conversation-sidebar-section/conversation-sidebar-entry/conversation-sidebar-entry.component.ts
  src/main/webapp/app/overview/course-conversations/layout/conversation-selection-sidebar/conversation-sidebar-section/conversation-sidebar-section.component.html
  src/main/webapp/app/overview/course-conversations/layout/conversation-selection-sidebar/conversation-sidebar-section/conversation-sidebar-section.component.scss
  src/main/webapp/app/overview/course-conversations/layout/conversation-selection-sidebar/conversation-sidebar-section/conversation-sidebar-section.component.ts
  src/main/webapp/app/overview/course-conversations/layout/conversation-thread-sidebar/conversation-thread-sidebar.component.html
  src/main/webapp/app/overview/course-conversations/layout/conversation-thread-sidebar/conversation-thread-sidebar.component.scss
  src/main/webapp/app/shared/metis/conversations/conversation.service.ts
  src/main/webapp/content/scss/themes/_dark-variables.scss
  src/main/webapp/content/scss/themes/_default-variables.scss
  src/main/webapp/i18n/de/conversation.json
  src/main/webapp/i18n/en/conversation.json
  src/test/javascript/spec/component/overview/course-conversations/course-conversations.component.spec.ts
  src/test/javascript/spec/component/overview/course-conversations/layout/conversation-messages/conversation-messages.component.spec.ts
  src/test/javascript/spec/component/overview/course-conversations/layout/conversation-selection-sidebar/conversation-selection-sidebar.component.spec.ts
  src/test/javascript/spec/component/overview/course-conversations/layout/conversation-selection-sidebar/conversation-sidebar-section/conversation-sidebar-entry/conversation-sidebar-entry.component.spec.ts
  src/test/javascript/spec/component/overview/course-conversations/layout/conversation-selection-sidebar/conversation-sidebar-section/conversation-sidebar-section.component.spec.ts
  src/test/javascript/spec/component/overview/course-conversations/services/conversation.service.spec.ts
Labels: tests, ready for review, client, user interface, ready to merge, discussion, component:Communication

#6179 `Development`: Add PostgreSQL container
  src/main/docker/postgresql.yml
Labels: ready to merge, docker

#6123 `Plagiarism check`: Fix display of escaped characters
  build.gradle
  src/main/java/de/tum/in/www1/artemis/domain/plagiarism/text/TextPlagiarismResult.java
  src/main/java/de/tum/in/www1/artemis/service/plagiarism/ProgrammingPlagiarismDetectionService.java
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-split-view/text-submission-viewer/text-submission-viewer.component.ts
  src/test/javascript/spec/component/plagiarism/text-submission-viewer.component.spec.ts
Labels: tests, server, client

#6142 `Development`: Improve client and server tests related to grading, bonus and exam
  src/test/java/de/tum/in/www1/artemis/AbstractSpringIntegrationBambooBitbucketJiraTest.java
  src/test/java/de/tum/in/www1/artemis/BonusIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exam/ExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exam/StudentExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/plagiarism/PlagiarismCaseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/CourseScoreCalculationServiceTest.java
  src/test/java/de/tum/in/www1/artemis/util/AbstractArtemisIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/javascript/spec/component/exam/manage/student-exams/student-exam-detail.component.spec.ts
  src/test/javascript/spec/component/grading-system/grading-system.component.spec.ts
  src/test/javascript/spec/component/shared/mode-picker.component.spec.ts
  src/test/javascript/spec/service/exercise.service.spec.ts
Labels: tests, ready to merge

#6174 `Plagiarism check`: Improve new plagiarism notification email
  src/main/java/de/tum/in/www1/artemis/domain/metis/Posting.java
  src/main/resources/config/liquibase/changelog/20230201102700_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/resources/i18n/messages.properties
  src/main/resources/i18n/messages_de.properties
  src/main/resources/i18n/messages_en.properties
  src/main/resources/templates/mail/notification/fragments.html
  src/main/resources/templates/mail/notification/plagiarismCaseEmail.html
  src/main/webapp/app/course/plagiarism-cases/instructor-view/detail-view/plagiarism-case-instructor-detail-view.component.ts
  src/main/webapp/app/course/plagiarism-cases/student-view/detail-view/plagiarism-case-student-detail-view.component.html
  src/main/webapp/app/course/plagiarism-cases/student-view/detail-view/plagiarism-case-student-detail-view.component.ts
  src/main/webapp/app/shared/metis/metis.util.ts
  src/main/webapp/app/shared/metis/post/post.component.html
  src/main/webapp/app/shared/metis/post/post.component.ts
  src/main/webapp/app/shared/metis/posting-create-edit-modal/post-create-edit-modal/post-create-edit-modal.component.html
  src/main/webapp/app/shared/metis/posting-create-edit.directive.ts
  src/main/webapp/app/shared/metis/posting-footer/post-footer/post-footer.component.ts
  src/main/webapp/i18n/de/plagiarism.json
  src/main/webapp/i18n/en/plagiarism.json
  src/test/javascript/spec/component/plagiarism/plagiarism-case-instructor-detail-view.component.spec.ts
  src/test/javascript/spec/component/shared/metis/post/post.component.spec.ts
  src/test/javascript/spec/component/shared/metis/postings-footer/post-footer/post-footer.component.spec.ts
Labels: tests, server, client, database, plagiarism detection, bugfix, ready to merge

#6173 `Programming exercises`: Fix an edge case issue in student exercise actions
  src/main/java/de/tum/in/www1/artemis/web/rest/ParticipationResource.java
  src/main/webapp/app/exercises/shared/exercise/exercise.utils.ts
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-split-view/text-submission-viewer/text-submission-viewer.component.ts
  src/main/webapp/app/overview/exercise-details/exercise-details-student-actions.component.html
  src/main/webapp/app/overview/exercise-details/exercise-details-student-actions.component.ts
  src/main/webapp/app/shared/components/clone-repo-button/clone-repo-button.component.ts
  src/main/webapp/app/shared/components/open-code-editor-button/open-code-editor-button.component.html
  src/main/webapp/app/shared/components/open-code-editor-button/open-code-editor-button.component.ts
  src/main/webapp/app/shared/components/start-practice-mode-button/start-practice-mode-button.component.ts
  src/test/javascript/spec/component/overview/exercise-details/exercise-details-student-actions.component.spec.ts
  src/test/javascript/spec/component/shared/clone-repo-button.component.spec.ts
  src/test/javascript/spec/component/shared/start-practice-mode-button.component.spec.ts
  src/test/javascript/spec/component/utils/exercise.utils.spec.ts
Labels: tests, server, client, bugfix, ready to merge

#6202 `Assessment`: Fix an issue with complaints
  src/main/webapp/app/assessment/assessment-layout/assessment-layout.component.ts
  src/main/webapp/app/complaints/complaints-for-tutor/complaints-for-tutor.component.ts
  src/main/webapp/app/exercises/file-upload/assess/file-upload-assessment.component.ts
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment-editor/modeling-assessment-editor.component.ts
  src/main/webapp/app/exercises/programming/assess/code-editor-tutor-assessment-container.component.ts
  src/main/webapp/app/exercises/text/assess/text-submission-assessment.component.ts
  src/main/webapp/i18n/de/programmingAssessment.json
  src/main/webapp/i18n/en/programmingAssessment.json
  src/test/javascript/spec/component/complaints/complaints-for-tutor.component.spec.ts
  src/test/javascript/spec/component/file-upload-assessment/file-upload-assessment.component.spec.ts
  src/test/javascript/spec/component/modeling-assessment-editor/modeling-assessment-editor.component.spec.ts
  src/test/javascript/spec/component/programming-assessment/programming-assessment-manual-result.component.spec.ts
  src/test/javascript/spec/component/text-submission-assessment/text-submission-assessment.component.spec.ts
Labels: tests, client, bugfix, ready to merge

#6204 `Programming exercises`: Fix updating scores when a manual result exists
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseGradingService.java
Labels: server, small, bugfix, ready to merge

#6203 `Programming exercises`: Update Ares to 1.11.2
  src/main/resources/config/application.yml
  src/main/resources/templates/java/maven_maven/test/projectTemplate/pom.xml
  src/main/resources/templates/java/test/gradle/projectTemplate/build.gradle
  src/main/resources/templates/java/test/maven/projectTemplate/pom.xml
  src/main/resources/templates/kotlin/test/maven/projectTemplate/pom.xml
Labels: ready to merge

#5994 `Development`: Refactor programming exercise grading service
  src/main/java/de/tum/in/www1/artemis/domain/ProgrammingExerciseTestCase.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseGradingService.java
Labels: server, refactoring, small, ready to merge

#6210 `Development`: Add video tutorial about competencies to documentation
  docs/user/learning-analytics.rst
Labels: documentation, chore, small, ready to merge

#6209 `Exam mode`: Disable internal auto save interval of the online code editor in exams
  src/main/webapp/app/exam/participate/exercises/programming/programming-exam-submission.component.html
  src/main/webapp/app/exercises/programming/shared/code-editor/actions/code-editor-actions.component.ts
  src/main/webapp/app/exercises/programming/shared/code-editor/container/code-editor-container.component.html
  src/main/webapp/app/exercises/programming/shared/code-editor/container/code-editor-container.component.ts
  src/test/javascript/spec/component/code-editor/code-editor-actions.component.spec.ts
Labels: tests, client, exam mode, small, bugfix, ready to merge

#6217 `Exam mode`: Update recommended version in exam mode guide
  docs/user/exams/students_guide.rst
Labels: documentation, small, ready to merge

#6092 `Communication`: Show message icon when users have unread messages
  src/main/java/de/tum/in/www1/artemis/service/metis/ConversationMessagingService.java
  src/main/java/de/tum/in/www1/artemis/service/metis/conversation/ConversationService.java
  src/main/webapp/app/overview/course-conversations/course-conversations.component.ts
  src/main/webapp/app/overview/course-overview.component.html
  src/main/webapp/app/overview/course-overview.component.ts
  src/main/webapp/app/overview/course-overview.scss
  src/main/webapp/app/shared/metis/metis-conversation.service.ts
  src/test/java/de/tum/in/www1/artemis/metis/GroupChatIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/metis/OneToOneChatIntegrationTest.java
  src/test/javascript/spec/component/course/course-overview.component.spec.ts
  src/test/javascript/spec/component/overview/course-conversations/course-conversations.component.spec.ts
  src/test/javascript/spec/component/overview/course-conversations/services/metis-conversation.service.spec.ts
  src/test/javascript/spec/integration/course/course-overview-exercise-list-controls.integration.spec.ts
Labels: tests, server, client, ready to merge

#6218 `Exam mode`: Fix score visibility for test exams
  src/main/java/de/tum/in/www1/artemis/service/ExerciseDateService.java
  src/main/java/de/tum/in/www1/artemis/service/ResultService.java
  src/main/java/de/tum/in/www1/artemis/service/WebsocketMessagingService.java
  src/main/java/de/tum/in/www1/artemis/service/exam/ExamDateService.java
  src/main/java/de/tum/in/www1/artemis/service/exam/StudentExamService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseParticipationResource.java
  src/main/webapp/app/exam/participate/summary/exam-participation-summary.component.html
  src/test/javascript/spec/component/exam/participate/summary/exam-participation-summary.component.spec.ts
Labels: tests, server, client, exam mode, priority:high, ready to merge

#6222 `Exam mode`: Fix test exam working time starting too early
  src/main/webapp/app/exam/participate/exam-participation.component.ts
  src/main/webapp/app/overview/course-overview.component.ts
Labels: ready for review, client, exam mode, small, bugfix

#6227 `Exam mode`: Fix missing course object during test exams
  src/main/java/de/tum/in/www1/artemis/web/rest/StudentExamResource.java
Labels: server, small, sentry-issue, ready to merge

#6182 `General`: Add information for manual LTI 1.3 configuration
  src/main/webapp/app/course/manage/course-lti-configuration/course-lti-configuration.component.html
  src/main/webapp/app/course/manage/course-lti-configuration/course-lti-configuration.component.ts
  src/main/webapp/i18n/de/lti.json
  src/main/webapp/i18n/en/lti.json
  src/test/javascript/spec/component/course/course-lti-configuration.component.spec.ts
Labels: tests, client, lti, small, ready to merge

#6220 `Text exercises`: Hide feedback section when tutor has assessment lock after deadline
  src/main/webapp/app/exercises/text/participate/text-editor.component.html
  src/main/webapp/i18n/de/textExercise.json
  src/main/webapp/i18n/en/textExercise.json
  src/test/javascript/spec/component/text-editor/text-editor.component.spec.ts
Labels: tests, client, component:Text, small, bugfix, ready to merge

#6231 `Assessment`: Check if score was not increased on accepted complaint
  src/main/webapp/app/exercises/programming/assess/code-editor-tutor-assessment-container.component.ts
  src/main/webapp/app/exercises/programming/shared/lifecycle/programming-exercise-lifecycle.component.html
  src/main/webapp/i18n/de/assessment.json
  src/main/webapp/i18n/en/assessment.json
  src/test/javascript/spec/component/programming-assessment/programming-assessment-manual-result.component.spec.ts
Labels: tests, client, small, ready to merge

#6113 `Programming exercises`: Delete build log entries during deletion of programming submission
  src/main/java/de/tum/in/www1/artemis/repository/BuildLogEntryRepository.java
  src/main/java/de/tum/in/www1/artemis/service/BuildLogEntryService.java
  src/main/java/de/tum/in/www1/artemis/service/ParticipationService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/SubmissionResource.java
  src/test/java/de/tum/in/www1/artemis/service/ParticipationServiceTest.java
Labels: tests, ready for review, server

#6242 `Development`: Format code with ESLint before committing
  .lintstagedrc.js
Labels: code quality, small, ready to merge

#6225 `Quiz exercises`: Improve quiz question points validation
  src/main/webapp/app/exercises/quiz/manage/drag-and-drop-question/drag-and-drop-question-edit.component.html
  src/main/webapp/app/exercises/quiz/manage/drag-and-drop-question/drag-and-drop-question-edit.component.ts
  src/main/webapp/app/exercises/quiz/manage/multiple-choice-question/multiple-choice-question-edit.component.html
  src/main/webapp/app/exercises/quiz/manage/multiple-choice-question/multiple-choice-question-edit.component.ts
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise-validation.directive.ts
  src/main/webapp/app/exercises/quiz/manage/short-answer-question/short-answer-question-edit.component.html
  src/main/webapp/app/exercises/quiz/manage/short-answer-question/short-answer-question-edit.component.ts
  src/main/webapp/app/shared/constants/input.constants.ts
  src/main/webapp/i18n/de/quizExercise.json
  src/main/webapp/i18n/en/quizExercise.json
  src/test/javascript/spec/component/quiz-exercise/quiz-exercise-detail.component.spec.ts
Labels: tests, client, component:Quiz, small, bugfix, ready to merge

#6212 `Exam mode`: Fix missing clone repository button for test runs
  src/main/java/de/tum/in/www1/artemis/repository/StudentExamRepository.java
  src/main/java/de/tum/in/www1/artemis/service/exam/StudentExamService.java
  src/main/webapp/app/exercises/shared/participation/participation.service.ts
  src/main/webapp/app/overview/exercise-details/exercise-details-student-actions.component.ts
  src/main/webapp/app/shared/components/clone-repo-button/clone-repo-button.component.ts
  src/main/webapp/app/shared/components/open-code-editor-button/open-code-editor-button.component.ts
  src/test/javascript/spec/component/overview/exercise-details/exercise-details-student-actions.component.spec.ts
  src/test/javascript/spec/component/shared/clone-repo-button.component.spec.ts
Labels: tests, server, client, ready to merge

#6162 `Development`: Refactor const definitions in e2e tests
  src/test/cypress/e2e/Login.cy.ts
  src/test/cypress/e2e/Logout.cy.ts
  src/test/cypress/e2e/course/CourseExercise.cy.ts
  src/test/cypress/e2e/course/CourseManagement.cy.ts
  src/test/cypress/e2e/exam/ExamAssessment.cy.ts
  src/test/cypress/e2e/exam/ExamCreationDeletion.cy.ts
  src/test/cypress/e2e/exam/ExamDateVerification.cy.ts
  src/test/cypress/e2e/exam/ExamManagement.cy.ts
  src/test/cypress/e2e/exam/ExamParticipation.cy.ts
  src/test/cypress/e2e/exam/test-exam/TestExamCreationDeletion.cy.ts
  src/test/cypress/e2e/exam/test-exam/TestExamManagement.cy.ts
  src/test/cypress/e2e/exercises/modeling/ModelingExerciseAssessment.cy.ts
  src/test/cypress/e2e/exercises/modeling/ModelingExerciseManagement.cy.ts
  src/test/cypress/e2e/exercises/modeling/ModelingExerciseParticipation.cy.ts
  src/test/cypress/e2e/exercises/programming/ProgrammingExerciseAssessment.cy.ts
  src/test/cypress/e2e/exercises/programming/ProgrammingExerciseManagement.cy.ts
  src/test/cypress/e2e/exercises/programming/ProgrammingExerciseParticipation.cy.ts
  src/test/cypress/e2e/exercises/programming/ProgrammingExerciseStaticCodeAnalysis.cy.ts
  src/test/cypress/e2e/exercises/quiz-exercise/QuizExerciseAssessment.cy.ts
  src/test/cypress/e2e/exercises/quiz-exercise/QuizExerciseManagement.cy.ts
  src/test/cypress/e2e/exercises/quiz-exercise/QuizExerciseParticipation.cy.ts
  src/test/cypress/e2e/exercises/text/TextExerciseAssessment.cy.ts
  src/test/cypress/e2e/exercises/text/TextExerciseManagement.cy.ts
  src/test/cypress/e2e/exercises/text/TextExerciseParticipation.cy.ts
  src/test/cypress/e2e/lecture/LectureManagement.cy.ts
  src/test/cypress/init/ImportUsers.cy.ts
  src/test/cypress/support/ArtemisTesting.ts
  src/test/cypress/support/artemis.ts
  src/test/cypress/support/constants.ts
  src/test/cypress/support/pageobjects/exam/ExamExerciseGroupCreationPage.ts
  src/test/cypress/support/pageobjects/exam/ExamParticipation.ts
  src/test/cypress/support/pageobjects/exam/ExamStartEndPage.ts
  src/test/cypress/support/pageobjects/exercises/programming/OnlineEditorPage.ts
  src/test/cypress/support/requests/ArtemisRequests.ts
  src/test/cypress/support/users.ts
Labels: tests, cypress, ready to merge

#5910 `Programming exercises`: Add option to export results with test cases and feedback
  src/main/webapp/app/entities/test-case-result.model.ts
  src/main/webapp/app/exercises/shared/exercise-scores/exercise-scores-export-button.component.html
  src/main/webapp/app/exercises/shared/exercise-scores/exercise-scores-export-button.component.ts
  src/main/webapp/app/exercises/shared/result/result.utils.ts
  src/main/webapp/i18n/de/exercise.json
  src/main/webapp/i18n/en/exercise.json
  src/test/javascript/spec/component/shared/exercise-scores-export-button.component.spec.ts
Labels: tests, client, component:Programming, ready to merge

#6232 `Programming exercises`: Fix cleanup build plan after due date
  src/main/java/de/tum/in/www1/artemis/service/ParticipationService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ParticipationResource.java
  src/test/java/de/tum/in/www1/artemis/ParticipationIntegrationTest.java
Labels: tests, server, small, ready to merge

#6072 `Exam mode`: Don't show exams to student if not registered
  src/main/java/de/tum/in/www1/artemis/repository/CourseRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ExamRepository.java
  src/main/java/de/tum/in/www1/artemis/service/CourseService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/webapp/app/overview/course-exams/course-exams.component.html
  src/main/webapp/app/overview/course-exams/course-exams.component.ts
  src/test/java/de/tum/in/www1/artemis/DatabaseQueryCountTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/CourseBitbucketBambooJiraIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/CourseGitlabJenkinsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/CourseTestService.java
Labels: enhancement, tests, server, client, exam mode, small, ready to merge

#6244 `Exam mode`: Fix multiple edge case issues
  src/main/java/de/tum/in/www1/artemis/repository/ExamRepository.java
  src/main/java/de/tum/in/www1/artemis/service/exam/StudentExamService.java
  src/main/webapp/app/exam/participate/exam-navigation-bar/exam-navigation-bar.component.ts
  src/main/webapp/app/exam/participate/exam-participation.component.ts
  src/main/webapp/app/exam/participate/exam-participation.service.ts
  src/main/webapp/app/exam/participate/exercises/programming/programming-exam-submission.component.html
Labels: ready for review, server, client, exam mode

#6248 `Programming exercises`: Update Haskell Docker image
  src/main/resources/config/application.yml
  src/main/resources/templates/haskell/exercise/stack.yaml
  src/main/resources/templates/haskell/readme
  src/main/resources/templates/haskell/solution/stack.yaml
  src/main/resources/templates/haskell/test/stack.yaml
Labels: dependencies, component:Programming, template, small, ready to merge, docker

#6216 `Development`: Update cypress to 12.6.0
  src/test/cypress/package-lock.json
  src/test/cypress/package.json
Labels: tests, cypress, ready to merge

#6256 `Programming exercises`: Update Ares to 1.11.3
  src/main/resources/config/application.yml
  src/main/resources/templates/java/maven_maven/test/projectTemplate/pom.xml
  src/main/resources/templates/java/test/gradle/projectTemplate/build.gradle
  src/main/resources/templates/java/test/maven/projectTemplate/pom.xml
  src/main/resources/templates/kotlin/test/maven/projectTemplate/pom.xml
Labels: component:Programming, ready to merge

#6160 `Development`: Add test exam participation e2e tests
  src/main/webapp/app/exam/participate/exercises/file-upload/file-upload-exam-submission.component.html
  src/main/webapp/app/exam/participate/exercises/modeling/modeling-exam-submission.component.html
  src/main/webapp/app/exam/participate/exercises/programming/programming-exam-submission.component.html
  src/main/webapp/app/exam/participate/exercises/quiz/quiz-exam-submission.component.html
  src/main/webapp/app/exam/participate/exercises/text/text-exam-submission.component.html
  src/test/cypress/e2e/exam/ExamParticipation.cy.ts
  src/test/cypress/e2e/exam/test-exam/TestExamParticipation.cy.ts
  src/test/cypress/support/pageobjects/exam/ExamNavigationBar.ts
  src/test/cypress/support/pageobjects/exam/ExamParticipation.ts
  src/test/cypress/support/requests/CourseManagementRequests.ts
Labels: tests, client, cypress, ready to merge

#6184 `Development`: Restructure e2e test fixtures
  src/test/cypress/e2e/course/CourseExercise.cy.ts
  src/test/cypress/e2e/exam/ExamAssessment.cy.ts
  src/test/cypress/e2e/exam/ExamParticipation.cy.ts
  src/test/cypress/e2e/exercises/programming/ProgrammingExerciseStaticCodeAnalysis.cy.ts
  src/test/cypress/e2e/exercises/quiz-exercise/QuizExerciseAssessment.cy.ts
  src/test/cypress/e2e/exercises/quiz-exercise/QuizExerciseManagement.cy.ts
  src/test/cypress/e2e/exercises/quiz-exercise/QuizExerciseParticipation.cy.ts
  src/test/cypress/fixtures/exam/template.json
  src/test/cypress/fixtures/exercise/modeling/submission.json
  src/test/cypress/fixtures/exercise/modeling/template.json
  src/test/cypress/fixtures/exercise/programming/all_successful/BubbleSort.txt
  src/test/cypress/fixtures/exercise/programming/all_successful/Client.txt
  src/test/cypress/fixtures/exercise/programming/all_successful/Context.txt
  src/test/cypress/fixtures/exercise/programming/all_successful/MergeSort.txt
  src/test/cypress/fixtures/exercise/programming/all_successful/Policy.txt
  src/test/cypress/fixtures/exercise/programming/all_successful/SortStrategy.txt
  src/test/cypress/fixtures/exercise/programming/all_successful/submission.json
  src/test/cypress/fixtures/exercise/programming/assessment/submission.json
  src/test/cypress/fixtures/exercise/programming/build_error/BubbleSort.txt
  src/test/cypress/fixtures/exercise/programming/build_error/submission.json
  src/test/cypress/fixtures/exercise/programming/partially_successful/SortStrategy.txt
  src/test/cypress/fixtures/exercise/programming/partially_successful/submission.json
  src/test/cypress/fixtures/exercise/programming/static_code_analysis/BubbleSort.txt
  src/test/cypress/fixtures/exercise/programming/static_code_analysis/submission.json
  src/test/cypress/fixtures/exercise/programming/template.json
  src/test/cypress/fixtures/exercise/quiz/drag_and_drop/background.jpg
  src/test/cypress/fixtures/exercise/quiz/drag_and_drop/question.txt
  src/test/cypress/fixtures/exercise/quiz/multiple_choice/question.txt
  src/test/cypress/fixtures/exercise/quiz/multiple_choice/submission.json
  src/test/cypress/fixtures/exercise/quiz/multiple_choice/template.json
  src/test/cypress/fixtures/exercise/quiz/short_answer/question.txt
  src/test/cypress/fixtures/exercise/quiz/short_answer/submission.json
  src/test/cypress/fixtures/exercise/quiz/short_answer/template.json
  src/test/cypress/fixtures/exercise/quiz/template.json
  src/test/cypress/fixtures/exercise/text/submission.json
  src/test/cypress/fixtures/exercise/text/template.json
  src/test/cypress/fixtures/lecture/template.json
  src/test/cypress/fixtures/programming_exercise_submissions/all_successful/submission.json
  src/test/cypress/fixtures/programming_exercise_submissions/partially_successful/submission.json
  src/test/cypress/fixtures/programming_exercise_submissions/static_code_analysis/submission.json
  src/test/cypress/support/pageobjects/exam/ExamExerciseGroupCreationPage.ts
  src/test/cypress/support/pageobjects/exercises/quiz/QuizExerciseCreationPage.ts
  src/test/cypress/support/requests/CourseManagementRequests.ts
Labels: tests, cypress, ready to merge

#6251 `Documentation`: Remove broken MySQL to PostgreSQL migration steps
  docs/admin/database.rst
Labels: documentation, priority:high, small, ready to merge

#6221 `Development`: Add more exam participation e2e tests
  src/test/cypress/e2e/exam/ExamParticipation.cy.ts
  src/test/cypress/e2e/exam/test-exam/TestExamParticipation.cy.ts
  src/test/cypress/e2e/exercises/programming/ProgrammingExerciseParticipation.cy.ts
Labels: tests, cypress, ready to merge

#6233 `Programming exercises`: Show manual feedback first in feedback groups
  src/main/java/de/tum/in/www1/artemis/domain/enumeration/FeedbackType.java
  src/main/java/de/tum/in/www1/artemis/service/ResultService.java
  src/test/java/de/tum/in/www1/artemis/assessment/ResultServiceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseParticipationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/ResultServiceTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
Labels: tests, server, small, ready to merge

#6247 `Assessment`: Only notify students at assessment due date if they actually received an assessment
  src/main/java/de/tum/in/www1/artemis/repository/StudentParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/service/notifications/SingleUserNotificationService.java
  src/test/java/de/tum/in/www1/artemis/notification/NotificationScheduleServiceTest.java
  src/test/java/de/tum/in/www1/artemis/notification/SingleUserNotificationServiceTest.java
Labels: tests, server, small, bugfix, notification system, ready to merge

#6215 `Plagiarism checks`: Improve email subject for new plagiarism notification
  src/main/java/de/tum/in/www1/artemis/service/MailService.java
  src/main/resources/i18n/messages.properties
  src/main/resources/i18n/messages_de.properties
  src/main/resources/i18n/messages_en.properties
  src/test/java/de/tum/in/www1/artemis/notification/SingleUserNotificationServiceTest.java
Labels: enhancement, tests, server, plagiarism detection, ready to merge, email

#6252 `Exam mode`: Allow instructors to verify attendance check for students
  src/main/java/de/tum/in/www1/artemis/repository/ExamUserRepository.java
  src/main/java/de/tum/in/www1/artemis/service/FileService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExamUserResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/FileResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/ExamUserAttendanceCheckDTO.java
  src/main/webapp/app/entities/exam-user-dto.model.ts
  src/main/webapp/app/entities/exam-users-attendance-check-dto.model.ts
  src/main/webapp/app/exam/manage/exam-management.module.ts
  src/main/webapp/app/exam/manage/exam-management.route.ts
  src/main/webapp/app/exam/manage/exam-management.service.ts
  src/main/webapp/app/exam/manage/students/exam-students.component.html
  src/main/webapp/app/exam/manage/students/exam-students.component.ts
  src/main/webapp/app/exam/manage/students/upload-images/students-upload-images-dialog.component.scss
  src/main/webapp/app/exam/manage/students/upload-images/students-upload-images-dialog.component.ts
  src/main/webapp/app/exam/manage/students/verify-attendance-check/exam-students-attendance-check.component.html
  src/main/webapp/app/exam/manage/students/verify-attendance-check/exam-students-attendance-check.component.ts
  src/main/webapp/app/shared/import/users-import-dialog.component.ts
  src/main/webapp/app/shared/layouts/navbar/navbar.component.ts
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/en/exam.json
  src/test/java/de/tum/in/www1/artemis/exam/ExamUserIntegrationTest.java
  src/test/javascript/spec/component/exam/manage/exam-students-attendance-check.component.spec.ts
  src/test/javascript/spec/component/exam/manage/student-exams/students-upload-images-dialog.component.spec.ts
Labels: tests, server, client, priority:high, ready to merge

#6261 `Quiz exercises`: Improve visibility of selected multiple choice answers
  src/main/webapp/app/exercises/quiz/shared/questions/multiple-choice-question/multiple-choice-question.component.html
  src/main/webapp/app/exercises/quiz/shared/questions/multiple-choice-question/multiple-choice-question.component.scss
  src/main/webapp/content/scss/themes/_dark-variables.scss
  src/main/webapp/content/scss/themes/_default-variables.scss
Labels: enhancement, client, small, user interface, ready to merge

#6163 `Development`: Update tooling and dependencies to latest useful versions
  build.gradle
  docker-compose.yml
  docs/dev/setup.rst
  gradle.properties
  gradle/war.gradle
  gradle/wrapper/gradle-wrapper.properties
  package-lock.json
  package.json
  src/main/docker/cypress/cypress.Dockerfile
  src/main/docker/gitlab-jenkins-mysql.yml
  src/main/docker/mysql.yml
  src/main/kubernetes/artemis/statefulsets/artemis-mysql.yml
  src/test/cypress/package-lock.json
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseIntegrationBambooBitbucketJiraTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseIntegrationTestService.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseTemplateIntegrationTest.java
  src/test/resources/config/application.yml
Labels: tests, ready for review, dependencies, documentation, cypress, ready to merge

#6271 `Development`: Fix Gradle build on Windows
  gradle/liquibase.gradle
Labels: small, ready to merge

#6238 `Programming exercises`: Fix an issue in the score calculation in case of many SCA issues
  src/main/java/de/tum/in/www1/artemis/domain/Result.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseGradingService.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseGradingServiceTest.java
Labels: tests, server, ready to merge

#6101 `Programming exercises`: Allow automatically graded exercises where all test cases give 0 points
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseGradingService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseTestCaseService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseResource.java
  src/main/webapp/app/exercises/programming/manage/grading/programming-exercise-configure-grading.component.ts
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseIntegrationTestService.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseTestCaseServiceTest.java
  src/test/javascript/spec/component/programming-exercise/programming-exercise-configure-grading.component.spec.ts
Labels: tests, server, client, ready to merge

#6264 `Programming exercises`: Fix an issue where the checkbox to allow complaints on automatic assessment was incorrectly disabled
  src/main/webapp/app/exercises/programming/shared/lifecycle/programming-exercise-lifecycle.component.html
  src/test/javascript/spec/component/programming-exercise/programming-exercise-lifecycle.component.spec.ts
Labels: tests, client, component:Programming, ready to merge

#6268 `Exam mode`: Fix breadcrumbs for grading keys
  src/main/webapp/app/shared/layouts/navbar/navbar.component.ts
Labels: client, small, bugfix, ready to merge

#6270 `General`: Fix statistics view showing incorrect scores
  src/main/webapp/app/overview/course-exercises/course-exercise-row.component.ts
Labels: client, small, bugfix, ready to merge

#6274 `Development`: Update e2e test dependencies
  src/test/cypress/package-lock.json
  src/test/cypress/package.json
Labels: tests, ready for review, security, small, cypress

#6269 `Programming exercises`: Do not collapse feedback if there is only one feedback group
  src/main/webapp/app/exercises/shared/feedback/item/feedback-item-service.ts
  src/main/webapp/app/exercises/shared/feedback/item/programming-feedback-item.service.ts
Labels: client, small, ready to merge

#6266 `Quiz exercises`: Don't open the feedback detail view on results
  src/main/webapp/app/exercises/shared/result/result.component.html
  src/main/webapp/app/exercises/shared/result/result.component.ts
  src/main/webapp/content/scss/global.scss
Labels: client, small, bugfix, ready to merge

#6228 `Development`: Add complaint e2e tests to exam
  src/main/webapp/app/complaints/response/complaint-response.component.html
  src/main/webapp/app/exercises/shared/dashboards/tutor/exercise-assessment-dashboard.component.html
  src/main/webapp/i18n/en/modelingAssessmentEditor.json
  src/main/webapp/i18n/en/textAssessment.json
  src/test/cypress/e2e/exam/ExamAssessment.cy.ts
  src/test/cypress/e2e/exercises/modeling/ModelingExerciseAssessment.cy.ts
  src/test/cypress/e2e/exercises/programming/ProgrammingExerciseAssessment.cy.ts
  src/test/cypress/e2e/exercises/text/TextExerciseAssessment.cy.ts
  src/test/cypress/support/artemis.ts
  src/test/cypress/support/pageobjects/ArtemisPageobjects.ts
  src/test/cypress/support/pageobjects/assessment/AbstractExerciseAssessmentPage.ts
  src/test/cypress/support/pageobjects/assessment/ExerciseAssessmentDashboardPage.ts
  src/test/cypress/support/pageobjects/assessment/ModelingExerciseAssessmentEditor.ts
  src/test/cypress/support/pageobjects/assessment/ProgrammingExerciseAssessmentPage.ts
  src/test/cypress/support/pageobjects/assessment/StudentAssessmentPage.ts
  src/test/cypress/support/pageobjects/assessment/TextExerciseAssessmentPage.ts
  src/test/cypress/support/requests/CourseManagementRequests.ts
Labels: tests, ready for review, client, cypress

#6279 `Development`: Fix logout e2e test
  src/test/cypress/e2e/Logout.cy.ts
Labels: tests, ready for review, cypress

#6276 `Exam mode`: Fix an issue when deleting exams with multiple test runs by the same instructor
  gradle.properties
  src/main/java/de/tum/in/www1/artemis/repository/ExamRepository.java
  src/main/java/de/tum/in/www1/artemis/service/CourseService.java
  src/main/java/de/tum/in/www1/artemis/service/ExerciseDeletionService.java
  src/main/java/de/tum/in/www1/artemis/service/exam/ExamDeletionService.java
  src/main/java/de/tum/in/www1/artemis/service/exam/ExamService.java
  src/main/java/de/tum/in/www1/artemis/service/exam/StudentExamService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/AttachmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExamResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/LectureResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/NotificationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/StudentExamResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/SubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/SystemNotificationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/admin/AdminSystemNotificationResource.java
  src/main/webapp/app/exam/manage/exam-management.service.ts
  src/main/webapp/app/shared/notification/notification.service.ts
  src/main/webapp/app/shared/user-settings/notification-settings/notification-settings.component.ts
  src/test/java/de/tum/in/www1/artemis/AbstractSpringIntegrationBambooBitbucketJiraTest.java
  src/test/java/de/tum/in/www1/artemis/AbstractSpringIntegrationGitlabCIGitlabSamlTest.java
  src/test/java/de/tum/in/www1/artemis/AbstractSpringIntegrationJenkinsGitlabTest.java
  src/test/java/de/tum/in/www1/artemis/ParticipationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/assessment/ResultServiceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/connector/GitlabRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/exam/ExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exam/ExamUserIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exam/StudentExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/notification/NotificationResourceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/notification/SystemNotificationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/CourseGitlabJenkinsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/MockDelegate.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseBitbucketBambooIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseGitlabJenkinsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseTemplateIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseTestService.java
  src/test/java/de/tum/in/www1/artemis/util/AbstractArtemisIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/javascript/spec/component/exam/test-run/test-run-management.component.spec.ts
Labels: tests, ready for review, server, client, exam mode

#6281 `Development`: Fix another issue in the logout e2e test
  src/test/cypress/e2e/Logout.cy.ts
Labels: tests, cypress

#6283 `Development`: Fix 'ready to review' github action
  .github/workflows/pullrequest-readyforreview.yml
Labels: ready to merge

#6282 `Development`: Fix broken git hook when changing scss files
  .lintstagedrc.js
Labels: ready to merge

#6278 `Exam mode`: Show exam sessions
  jest.config.js
  src/main/java/de/tum/in/www1/artemis/domain/AbstractAuditingEntity.java
  src/main/java/de/tum/in/www1/artemis/domain/exam/ExamSession.java
  src/main/java/de/tum/in/www1/artemis/repository/StudentExamRepository.java
  src/main/java/de/tum/in/www1/artemis/service/exam/ExamSessionService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/StudentExamResource.java
  src/main/webapp/app/course/dashboards/assessment-dashboard/exam-assessment-buttons/exam-assessment-buttons.component.ts
  src/main/webapp/app/entities/exam-session.model.ts
  src/main/webapp/app/entities/student-exam.model.ts
  src/main/webapp/app/exam/manage/student-exams/student-exam-detail.component.html
  src/main/webapp/app/exam/manage/student-exams/student-exam-detail.component.scss
  src/main/webapp/app/exam/manage/student-exams/student-exam-detail.component.ts
  src/main/webapp/app/exam/manage/student-exams/student-exams.component.html
  src/main/webapp/app/exam/manage/student-exams/student-exams.component.ts
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/en/exam.json
  src/test/java/de/tum/in/www1/artemis/exam/ExamSessionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exam/StudentExamIntegrationTest.java
  src/test/javascript/spec/component/exam/manage/exam-management.service.spec.ts
  src/test/javascript/spec/component/exam/manage/exams/exam-detail.component.spec.ts
  src/test/javascript/spec/component/exam/manage/student-exams/student-exam-detail.component.spec.ts
  src/test/javascript/spec/component/exam/participate/exam-participation.component.spec.ts
  src/test/javascript/spec/component/exam/participate/summary/exam-participation-summary.component.spec.ts
  src/test/javascript/spec/component/exam/participate/summary/points-summary/exam-points-summary.component.spec.ts
Labels: tests, ready for review, server, client, exam mode

#6255 `Development`: Add exam test run e2e test
  src/main/webapp/app/exam/manage/student-exams/student-exam-detail.component.html
  src/main/webapp/app/exam/manage/test-runs/create-test-run-modal.component.html
  src/main/webapp/app/exam/manage/test-runs/test-run-management.component.html
  src/test/cypress/e2e/exam/ExamParticipation.cy.ts
  src/test/cypress/e2e/exam/ExamTestRun.cy.ts
  src/test/cypress/e2e/exam/test-exam/TestExamParticipation.cy.ts
  src/test/cypress/support/artemis.ts
  src/test/cypress/support/constants.ts
  src/test/cypress/support/pageobjects/ArtemisPageobjects.ts
  src/test/cypress/support/pageobjects/exam/ExamExerciseGroupCreationPage.ts
  src/test/cypress/support/pageobjects/exam/ExamManagementPage.ts
  src/test/cypress/support/pageobjects/exam/ExamParticipation.ts
  src/test/cypress/support/pageobjects/exam/ExamTestRunPage.ts
  src/test/cypress/support/pageobjects/exercises/programming/OnlineEditorPage.ts
  src/test/cypress/support/requests/CourseManagementRequests.ts
Labels: tests, client, cypress, ready to merge

#6205 `Programming exercises`: Add feedback and result handling if build is successful with 0 tests passed
  src/main/webapp/app/exercises/shared/feedback/feedback.component.html
  src/main/webapp/app/exercises/shared/feedback/feedback.component.ts
  src/main/webapp/app/exercises/shared/result/result.utils.ts
  src/main/webapp/i18n/de/result.json
  src/main/webapp/i18n/en/result.json
  src/test/javascript/spec/component/exercises/shared/result.spec.ts
  src/test/javascript/spec/component/utils/result.utils.spec.ts
Labels: tests, client, small, ready to merge

#6076 `File upload exercises`: Allow import of file upload exercises
  src/main/java/de/tum/in/www1/artemis/domain/Exercise.java
  src/main/java/de/tum/in/www1/artemis/repository/FileUploadExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ExerciseImportService.java
  src/main/java/de/tum/in/www1/artemis/service/FileUploadExerciseService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/FileUploadExerciseResource.java
  src/main/webapp/app/exercises/file-upload/manage/file-upload-exercise-management.route.ts
  src/main/webapp/app/exercises/file-upload/manage/file-upload-exercise-paging.service.ts
  src/main/webapp/app/exercises/file-upload/manage/file-upload-exercise-update.component.html
  src/main/webapp/app/exercises/file-upload/manage/file-upload-exercise-update.component.ts
  src/main/webapp/app/exercises/file-upload/manage/file-upload-exercise.component.html
  src/main/webapp/app/exercises/file-upload/manage/file-upload-exercise.component.ts
  src/main/webapp/app/exercises/file-upload/manage/file-upload-exercise.service.ts
  src/main/webapp/app/exercises/shared/import/exercise-import.component.ts
  src/main/webapp/i18n/de/error.json
  src/main/webapp/i18n/de/fileUploadExercise.json
  src/main/webapp/i18n/en/error.json
  src/main/webapp/i18n/en/fileUploadExercise.json
  src/test/java/de/tum/in/www1/artemis/fileupload/FileUploadExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/modeling/ModelingExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/javascript/spec/component/file-upload-exercise/file-upload-exercise-update.component.spec.ts
  src/test/javascript/spec/component/file-upload-exercise/file-upload-exercise.component.spec.ts
  src/test/javascript/spec/component/import/exercise-import.component.spec.ts
  src/test/javascript/spec/service/file-upload-exercise.service.spec.ts
Labels: tests, server, client, ready to merge

#6293 `Development`: Add hand-in early with continue and reload page e2e exam tests
  src/main/webapp/app/exam/participate/exam-cover/exam-participation-cover.component.html
  src/test/cypress/e2e/exam/ExamParticipation.cy.ts
  src/test/cypress/fixtures/loremIpsum-alternative.txt
  src/test/cypress/support/pageobjects/exam/ExamStartEndPage.ts
  src/test/cypress/support/pageobjects/exercises/text/TextEditorPage.ts
Labels: tests, client, cypress, ready to merge
