Repository ls1intum/Artemis, pull requests merged in 2023-12, with the labels that each got.

#7692 `Development`: Configure dynamic repository checkout for local continuous integration
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIBuildJobExecutionService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIContainerService.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseLocalVCLocalCIIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalCIIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalVCLocalCIIntegrationTest.java
Labels: tests, server, ready to merge, localci/localvcs

#7684 `Development`: Add documentation for learning paths
  README.md
  docs/dev/development-process.rst
  docs/user/adaptive-learning.rst
  docs/user/adaptive-learning/instructors-learning-path-management.png
  docs/user/adaptive-learning/students-learning-path-graph.png
  docs/user/adaptive-learning/students-learning-path-participation.png
Labels: documentation, ready to merge

#7568 `Assessment`: Fix score view for accepted complaints
  src/main/webapp/app/exercises/shared/exercise-scores/exercise-scores.component.html
  src/main/webapp/app/exercises/shared/exercise-scores/exercise-scores.component.ts
  src/main/webapp/app/exercises/shared/exercise-scores/exercise-scores.module.ts
  src/main/webapp/app/exercises/shared/exercise-scores/manage-assessment-buttons.component.html
  src/main/webapp/app/exercises/shared/exercise-scores/manage-assessment-buttons.component.ts
  src/test/javascript/spec/component/exercises/shared/exercise-scores/exercise-scores-export-button.component.spec.ts
  src/test/javascript/spec/component/exercises/shared/exercise-scores/exercise-scores.component.spec.ts
  src/test/javascript/spec/component/exercises/shared/exercise-scores/manage-assessment-buttions.component.spec.ts
Labels: tests, client, bugfix, ready to merge, maintainer-approved

#7297 `Exam mode`: Fix missing repository lock notifications
  src/main/java/de/tum/in/www1/artemis/domain/enumeration/NotificationType.java
  src/main/java/de/tum/in/www1/artemis/domain/notification/GroupNotificationFactory.java
  src/main/java/de/tum/in/www1/artemis/domain/notification/NotificationConstants.java
  src/main/java/de/tum/in/www1/artemis/service/notifications/GroupNotificationService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingMessagingService.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/ProgrammingExerciseScheduleService.java
  src/main/webapp/i18n/de/notification.json
  src/main/webapp/i18n/en/notification.json
Labels: server, client, ready to merge, maintainer-approved

#7647 `Development`: Display LTI login name for newly generated Artemis users
  src/main/java/de/tum/in/www1/artemis/security/lti/Lti13LaunchFilter.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/lti/Lti13Service.java
  src/main/webapp/app/lti/lti13-exercise-launch.component.ts
  src/main/webapp/app/overview/exercise-details/lti-initializer-modal.component.html
  src/main/webapp/app/overview/exercise-details/lti-initializer-modal.component.ts
  src/main/webapp/app/overview/exercise-details/lti-initializer.component.ts
  src/main/webapp/i18n/de/lti.json
  src/main/webapp/i18n/en/lti.json
  src/test/javascript/spec/component/overview/exercise-details/lti-initializer.component.spec.ts
Labels: tests, server, client, ready to merge

#7685 `Adaptive learning`: Enable learning paths per default
  src/main/java/de/tum/in/www1/artemis/service/feature/FeatureToggleService.java
  src/test/java/de/tum/in/www1/artemis/lecture/LearningPathIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/FeatureToggleServiceTest.java
Labels: tests, server, small, ready to merge

#7688 `Development`: Add documentation describing password and secret handling in production setups
  docs/admin/setup.rst
  docs/admin/setup/security.rst
  src/main/resources/config/application-prod.yml
Labels: security, documentation, config-change, ready to merge

#7720 `General`: Align exercise statistics correctly
  src/main/webapp/app/exercises/shared/statistics/doughnut-chart.component.html
Labels: client, small, ready to merge

#7332 `Communication`: Allow to reference channels in chats
  src/main/java/de/tum/in/www1/artemis/web/rest/metis/conversation/ChannelResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/metis/conversation/dtos/ChannelDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/metis/conversation/dtos/ChannelIdAndNameDTO.java
  src/main/webapp/app/entities/metis/conversation/channel.model.ts
  src/main/webapp/app/shared/markdown-editor/commands/courseArtifactReferenceCommands/channelMentionCommand.ts
  src/main/webapp/app/shared/metis/answer-post/answer-post.component.html
  src/main/webapp/app/shared/metis/answer-post/answer-post.component.ts
  src/main/webapp/app/shared/metis/conversations/channel.service.ts
  src/main/webapp/app/shared/metis/metis-conversation.service.ts
  src/main/webapp/app/shared/metis/metis.util.ts
  src/main/webapp/app/shared/metis/post/post.component.html
  src/main/webapp/app/shared/metis/post/post.component.ts
  src/main/webapp/app/shared/metis/posting-content/posting-content-part/posting-content-part.component.html
  src/main/webapp/app/shared/metis/posting-content/posting-content-part/posting-content-part.components.ts
  src/main/webapp/app/shared/metis/posting-content/posting-content.component.html
  src/main/webapp/app/shared/metis/posting-content/posting-content.components.ts
  src/main/webapp/app/shared/metis/posting-footer/post-footer/post-footer.component.html
  src/main/webapp/app/shared/metis/posting-footer/post-footer/post-footer.component.ts
  src/main/webapp/app/shared/metis/posting-markdown-editor/posting-markdown-editor.component.ts
  src/main/webapp/i18n/de/metis.json
  src/main/webapp/i18n/en/metis.json
  src/test/java/de/tum/in/www1/artemis/metis/AbstractConversationTest.java
  src/test/java/de/tum/in/www1/artemis/metis/ChannelIntegrationTest.java
  src/test/javascript/spec/component/markdown-editor/channelMentionCommand.spec.ts
  src/test/javascript/spec/component/overview/course-conversations/services/metis-conversation.service.spec.ts
  src/test/javascript/spec/component/shared/metis/post/post.component.spec.ts
  src/test/javascript/spec/component/shared/metis/posting-content/posting-content-part.component.spec.ts
  src/test/javascript/spec/component/shared/metis/posting-content/posting-content.component.spec.ts
  src/test/javascript/spec/component/shared/metis/postings-markdown-editor/postings-markdown-editor.component.spec.ts
Labels: tests, server, client, ready to merge

#7418 `Iris`: Load default templates from resource folder
  src/main/java/de/tum/in/www1/artemis/service/iris/IrisConstants.java
  src/main/java/de/tum/in/www1/artemis/service/iris/IrisDefaultTemplateService.java
  src/main/java/de/tum/in/www1/artemis/service/iris/settings/IrisSettingsService.java
  src/main/resources/templates/iris/chat.hbs
  src/main/resources/templates/iris/code-editor-chat.hbs
  src/main/resources/templates/iris/code-editor-problem-statement-generation.hbs
  src/main/resources/templates/iris/code-editor-solution-repository-generation.hbs
  src/main/resources/templates/iris/code-editor-template-repository-generation.hbs
  src/main/resources/templates/iris/code-editor-test-repository-generation.hbs
  src/main/resources/templates/iris/hestia.hbs
  src/main/resources/templates/iris/template-version.txt
Labels: ready for review, server, template, component:Iris

#7058 `Programming exercises`: Fix missing build plan during import on Jenkins setups
  src/main/java/de/tum/in/www1/artemis/repository/BuildPlanRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ParticipationService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/BambooService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/ci/ContinuousIntegrationService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/gitlabci/GitLabCIService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/build_plan/JenkinsBuildPlanService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/build_plan/JenkinsBuildPlanUtils.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseImportBasicService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseImportService.java
  src/test/java/de/tum/in/www1/artemis/connector/JenkinsRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseGitlabJenkinsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseServiceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseTestService.java
  src/test/java/de/tum/in/www1/artemis/service/GitlabCIServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/JenkinsServiceTest.java
Labels: tests, server, component:Programming, jenkins/gitlab, bugfix, ready to merge

#7425 `Development`: Adapt LTI advantage deep linking service for exercise selection from Moodle
  src/main/java/de/tum/in/www1/artemis/config/lti/CustomLti13Configurer.java
  src/main/java/de/tum/in/www1/artemis/domain/lti/Claims.java
  src/main/java/de/tum/in/www1/artemis/domain/lti/Lti13ClientRegistration.java
  src/main/java/de/tum/in/www1/artemis/domain/lti/Lti13DeepLinkingResponse.java
  src/main/java/de/tum/in/www1/artemis/domain/lti/LtiAuthenticationResponseDTO.java
  src/main/java/de/tum/in/www1/artemis/security/lti/Lti13LaunchFilter.java
  src/main/java/de/tum/in/www1/artemis/security/lti/Lti13TokenRetriever.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/lti/Lti13Service.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/lti/LtiDeepLinkingService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/LtiResource.java
  src/main/webapp/app/course/manage/course-lti-configuration/course-lti-configuration.component.ts
  src/main/webapp/app/lti/lti.module.ts
  src/main/webapp/app/lti/lti.route.ts
  src/main/webapp/app/lti/lti13-deep-linking.component.html
  src/main/webapp/app/lti/lti13-deep-linking.component.ts
  src/main/webapp/app/lti/lti13-exercise-launch.component.ts
  src/main/webapp/app/lti/lti13-select-content.component.html
  src/main/webapp/app/lti/lti13-select-content.component.ts
  src/main/webapp/i18n/de/lti.json
  src/main/webapp/i18n/en/lti.json
  src/test/java/de/tum/in/www1/artemis/AbstractSpringIntegrationBambooBitbucketJiraTest.java
  src/test/java/de/tum/in/www1/artemis/LtiDeepLinkingIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/LtiIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/connectors/Lti13ServiceTest.java
  src/test/java/de/tum/in/www1/artemis/security/Lti13LaunchFilterTest.java
  src/test/java/de/tum/in/www1/artemis/security/lti/Lti13TokenRetrieverTest.java
  src/test/java/de/tum/in/www1/artemis/service/connectors/lti/LtiDeepLinkingServiceTest.java
  src/test/javascript/spec/component/course/course-lti-configuration.component.spec.ts
  src/test/javascript/spec/component/lti/lti13-deep-linking.component.spec.ts
  src/test/javascript/spec/component/lti/lti13-exercise-launch.component.spec.ts
  src/test/javascript/spec/component/lti/lti13-select-content.component.spec.ts
Labels: tests, server, client, component:LTI, ready to merge

#7578 `Development`: Update to Angular 17
  .gitignore
  angular.json
  gradle/war.gradle
  jest.config.js
  package-lock.json
  package.json
  src/main/java/de/tum/in/www1/artemis/config/WebConfigurer.java
  src/main/resources/templates/error.html
  src/main/webapp/app/course/competencies/competency-management/competency-management.component.html
  src/main/webapp/app/course/competencies/competency.module.ts
  src/main/webapp/app/exam/participate/summary/result-overview/exam-result-overview.component.html
  src/main/webapp/app/exercises/programming/hestia/git-diff-report/git-diff-file-panel.component.html
  src/main/webapp/app/exercises/programming/hestia/git-diff-report/git-diff-report.module.ts
  src/main/webapp/app/exercises/programming/shared/instructions-render/extensions/programming-exercise-plant-uml.extension.ts
  src/main/webapp/app/exercises/shared/result/result.component.html
  src/main/webapp/app/overview/course-conversations/course-conversations.component.ts
  src/main/webapp/app/shared/metis/metis-conversation.service.ts
  src/main/webapp/app/shared/metis/posting-create-edit-modal/post-create-edit-modal/post-create-edit-modal.component.html
  src/main/webapp/app/shared/pipes/sanitize-html.pipe.ts
  src/main/webapp/app/shared/pipes/shared-pipes.module.ts
  src/main/webapp/app/shared/sticky-popover/sticky-popover.directive.ts
  src/main/webapp/content/scss/global.scss
  src/main/webapp/content/scss/themes/_dark-variables.scss
  src/test/javascript/spec/component/admin/user-management-update.component.spec.ts
  src/test/javascript/spec/component/competencies/competency-management.component.spec.ts
  src/test/javascript/spec/component/exam/exam-update.component.spec.ts
  src/test/javascript/spec/component/exam/manage/student-exams/student-exam-detail-table-row.component.spec.ts
  src/test/javascript/spec/component/exam/manage/student-exams/student-exam-detail.component.spec.ts
  src/test/javascript/spec/component/exam/manage/student-exams/user-import-dialog.component.spec.ts
  src/test/javascript/spec/component/exam/participate/summary/result-overview/exam-result-overview.component.spec.ts
  src/test/javascript/spec/component/exercises/quiz/manage/quiz-pool-mapping-question-list.component.spec.ts
  src/test/javascript/spec/component/hestia/git-diff-report/git-diff-file-panel.component.spec.ts
  src/test/javascript/spec/component/learning-paths/management/learning-path-management.component.spec.ts
  src/test/javascript/spec/component/lecture/lecture-detail.component.spec.ts
  src/test/javascript/spec/component/overview/course-conversations/course-conversations.component.spec.ts
  src/test/javascript/spec/component/overview/course-conversations/layout/conversation-selection-sidebar/conversation-selection-sidebar.component.spec.ts
  src/test/javascript/spec/component/shared/category-selector.component.spec.ts
  src/test/javascript/spec/component/shared/competency-selection.component.spec.ts
  src/test/javascript/spec/component/shared/metis/posting-content/posting-content-part.component.spec.ts
  src/test/javascript/spec/component/shared/result.component.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-metis-conversation.service.ts
  src/test/javascript/spec/helpers/mocks/service/mock-metis-service.service.ts
  src/test/javascript/spec/helpers/sample/problemStatement.json
  src/test/javascript/spec/service/entity-title.service.spec.ts
  src/test/javascript/spec/service/orion/orion-version-validator.service.spec.ts
  src/test/javascript/spec/service/result.service.spec.ts
  src/test/javascript/spec/service/task-count-warning.component.spec.ts
  src/test/javascript/spec/test.module.ts
  src/test/javascript/spec/util/shared/sort-by.directive.spec.ts
Labels: tests, ready for review, server, client, template, priority:high, ready to merge

#7642 `Development`: Add Aeolus to support custom build plans for programming exercises
  .idea/runConfigurations/Artemis__Server__Aeolus_.xml
  docker/aeolus.yml
  src/main/java/de/tum/in/www1/artemis/config/RestTemplateConfiguration.java
  src/main/java/de/tum/in/www1/artemis/domain/ProgrammingExercise.java
  src/main/java/de/tum/in/www1/artemis/domain/enumeration/AeolusTarget.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/aeolus/Action.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/aeolus/ActionDeserializer.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/aeolus/AeolusBuildPlanService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/aeolus/AeolusRepository.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/aeolus/AeolusResult.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/aeolus/AeolusTemplateService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/aeolus/Windfile.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/aeolus/WindfileMetadata.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/BambooBuildPlanService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/AeolusTemplateResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/FileResource.java
  src/main/resources/templates/aeolus/assembler/default.yaml
  src/main/webapp/app/app.constants.ts
  src/main/webapp/app/entities/programming-exercise.model.ts
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.ts
  src/main/webapp/app/exercises/programming/manage/update/update-components/programming-exercise-custom-build-plan.component.ts
  src/main/webapp/app/exercises/programming/shared/service/aeolus.service.ts
  src/test/java/de/tum/in/www1/artemis/AbstractSpringIntegrationBambooBitbucketJiraTest.java
  src/test/java/de/tum/in/www1/artemis/FileIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/connector/AeolusRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/connectors/AeolusServiceTest.java
  src/test/java/de/tum/in/www1/artemis/connectors/AeolusTemplateResourceTest.java
  src/test/java/de/tum/in/www1/artemis/connectors/AeolusTest.java
  src/test/javascript/spec/component/programming-exercise/programming-exercise-custom-build-plan.component.spec.ts
  src/test/resources/config/application.yml
Labels: tests, server, client, bamboo/bitbucket, template, ready to merge, docker, maintainer-approved

#7740 `General`: Fix broken color picker
  src/main/webapp/app/shared/category-selector/category-selector.component.ts
  src/main/webapp/app/shared/color-selector/color-selector.component.ts
  src/test/javascript/spec/component/shared/category-selector.component.spec.ts
  src/test/javascript/spec/component/shared/color-selector.component.spec.ts
Labels: tests, client, bugfix, ready to merge

#7730 `Programming exercises`: Use default programming language in course as fallback in exam exercises
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-update.component.spec.ts
Labels: tests, client, bugfix, ready to merge

#7702 `General`: Unify delete and reset button icons
  src/main/webapp/app/course/competencies/competency-management/competency-management.component.html
  src/main/webapp/app/course/competencies/competency-management/competency-management.component.ts
  src/main/webapp/app/course/manage/course-management-tab-bar/course-management-tab-bar.component.html
  src/main/webapp/app/course/manage/course-management-tab-bar/course-management-tab-bar.component.ts
  src/main/webapp/app/course/manage/course-update.component.html
  src/main/webapp/app/course/manage/course-update.component.ts
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-free-periods/tutorial-free-periods-management/tutorial-group-free-period-row-buttons/tutorial-group-free-period-row-buttons.component.html
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-free-periods/tutorial-free-periods-management/tutorial-group-free-period-row-buttons/tutorial-group-free-period-row-buttons.component.ts
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-group-sessions/tutorial-group-sessions-management/tutorial-group-session-row-buttons/tutorial-group-session-row-buttons.component.html
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-group-sessions/tutorial-group-sessions-management/tutorial-group-session-row-buttons/tutorial-group-session-row-buttons.component.ts
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-groups/tutorial-groups-management/tutorial-group-row-buttons/tutorial-group-row-buttons.component.html
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-groups/tutorial-groups-management/tutorial-group-row-buttons/tutorial-group-row-buttons.component.ts
  src/main/webapp/app/exam/manage/exams/exam-detail.component.html
  src/main/webapp/app/exam/manage/exams/exam-detail.component.ts
  src/main/webapp/app/exam/manage/exercise-groups/exercise-groups.component.html
  src/main/webapp/app/exam/manage/exercise-groups/exercise-groups.component.ts
  src/main/webapp/app/exercises/file-upload/manage/file-upload-exercise.component.html
  src/main/webapp/app/exercises/file-upload/manage/file-upload-exercise.component.ts
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise.component.html
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise.component.ts
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.html
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.ts
  src/main/webapp/app/exercises/programming/manage/programming-exercise.component.html
  src/main/webapp/app/exercises/programming/manage/programming-exercise.component.ts
  src/main/webapp/app/exercises/programming/manage/reset/programming-exercise-reset-dialog.component.html
  src/main/webapp/app/exercises/programming/manage/reset/programming-exercise-reset-dialog.component.ts
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise.component.html
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise.component.ts
  src/main/webapp/app/exercises/shared/exam-exercise-row-buttons/exam-exercise-row-buttons.component.html
  src/main/webapp/app/exercises/shared/exam-exercise-row-buttons/exam-exercise-row-buttons.component.ts
  src/main/webapp/app/exercises/shared/exercise-detail-common-actions/non-programming-exercise-detail-common-actions.component.html
  src/main/webapp/app/exercises/shared/exercise-detail-common-actions/non-programming-exercise-detail-common-actions.component.ts
  src/main/webapp/app/exercises/shared/participation-submission/participation-submission.component.html
  src/main/webapp/app/exercises/shared/participation-submission/participation-submission.component.ts
  src/main/webapp/app/exercises/shared/participation/participation.component.html
  src/main/webapp/app/exercises/shared/participation/participation.component.ts
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise-row-buttons.component.html
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise-row-buttons.component.ts
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise.component.html
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise.component.ts
  src/main/webapp/app/lecture/lecture-attachments.component.html
  src/main/webapp/app/lecture/lecture-attachments.component.ts
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/lecture-unit-management.component.html
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/lecture-unit-management.component.ts
  src/main/webapp/app/lecture/lecture.component.html
  src/main/webapp/app/lecture/lecture.component.ts
  src/main/webapp/app/shared/delete-dialog/delete-dialog.component.html
  src/main/webapp/app/shared/delete-dialog/delete-dialog.component.ts
  src/test/javascript/spec/component/competencies/competency-management.component.spec.ts
  src/test/javascript/spec/component/course/course-update.component.spec.ts
  src/test/javascript/spec/component/participation/participation.component.spec.ts
  src/test/javascript/spec/component/text-exercise/text-exercise-row-buttons.component.spec.ts
Labels: tests, client, ready to merge

#7693 `Development`: Make command execution in local continuous integration compatible with Podman
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIContainerService.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalCITestConfiguration.java
Labels: tests, server, component:Programming, small, bugfix, ready to merge, localci/localvcs

#7674 `Programming exercises`: Add removal of duplicate test cases assigned to multiple tasks
  src/main/webapp/app/exercises/programming/manage/grading/tasks/programming-exercise-task.service.ts
  src/test/javascript/spec/service/programming-exercise-task.service.spec.ts
Labels: tests, client, bugfix, ready to merge

#7690 `Development`: Fix availability check for build job processing in local continuous integration
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIBuildJobManagementService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCISharedBuildJobQueueService.java
Labels: server, ready to merge, localci/localvcs

#7704 `Programming exercises`: Automatically update PlantUML diagrams on theme changes
  src/main/webapp/app/exercises/programming/shared/instructions-render/programming-exercise-instruction.component.ts
  src/main/webapp/app/exercises/programming/shared/instructions-render/service/programming-exercise-plant-uml.service.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-instruction.component.spec.ts
Labels: tests, client, component:Programming, user interface, ready to merge, dark mode, maintainer-approved

#7655 `Exam mode`: Allow instructors to enable the test download for students
  src/main/webapp/app/exam/participate/summary/exam-result-summary.component.html
  src/main/webapp/app/exam/participate/summary/exam-result-summary.component.ts
  src/main/webapp/app/exercises/programming/shared/lifecycle/programming-exercise-lifecycle.component.html
  src/test/javascript/spec/component/programming-exercise/programming-exercise-lifecycle.component.spec.ts
Labels: tests, client, component:Exam Mode, small, ready to merge, maintainer-approved

#7657 `Plagiarsim checks`: Fix default value of after due date checks
  src/main/webapp/app/entities/exercise.model.ts
  src/main/webapp/app/exercises/shared/plagiarism/exercise-update-plagiarism/exercise-update-plagiarism.component.html
  src/main/webapp/app/exercises/shared/plagiarism/exercise-update-plagiarism/exercise-update-plagiarism.component.ts
  src/test/javascript/spec/component/plagiarism/exercise-update-plagiarism.component.spec.ts
Labels: tests, client, ready to merge, maintainer-approved

#7671 `Iris`: Fix an issue when the practice mode is used
  src/main/java/de/tum/in/www1/artemis/repository/ProgrammingExerciseStudentParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/service/iris/session/IrisChatSessionService.java
Labels: server, bugfix, ready to merge, component:Iris

#7700 `Development`: Add Aeolus build plan templates for C programming exercises
  src/main/java/de/tum/in/www1/artemis/config/RestTemplateConfiguration.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/aeolus/AeolusTemplateService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIBuildJobExecutionService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIContainerService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIProgrammingLanguageFeatureService.java
  src/main/resources/templates/aeolus/assembler/default.yaml
  src/main/resources/templates/aeolus/c/fact.yaml
  src/main/resources/templates/aeolus/c/gcc.yaml
  src/main/resources/templates/aeolus/c/gcc_static.yaml
  src/main/webapp/app/entities/programming-exercise.model.ts
  src/test/java/de/tum/in/www1/artemis/connectors/AeolusTemplateResourceTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseLocalVCLocalCIIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalCIIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalCITestConfiguration.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalVCLocalCIIntegrationTest.java
Labels: tests, ready for review, server, client, template, localci/localvcs

#7710 `Development`: Add Aeolus build plan templates for Kotlin for local continuous integration
  src/main/java/de/tum/in/www1/artemis/service/connectors/aeolus/AeolusTemplateService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIContainerService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIProgrammingLanguageFeatureService.java
  src/main/resources/templates/aeolus/kotlin/default.yaml
  src/main/resources/templates/aeolus/kotlin/default_coverage.yaml
  src/main/resources/templates/aeolus/kotlin/default_sequential.yaml
  src/test/java/de/tum/in/www1/artemis/connectors/AeolusTemplateResourceTest.java
Labels: tests, server, template, localci/localvcs

#7711 `Development`: Add Aeolus build plan templates for VHDL for local continuous integration
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIBuildJobExecutionService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIProgrammingLanguageFeatureService.java
  src/main/resources/templates/aeolus/vhdl/default.yaml
  src/test/java/de/tum/in/www1/artemis/connectors/AeolusTemplateResourceTest.java
Labels: tests, ready for review, server, template

#7585 `Development`: Fix docker command in Jenkins development setup
  docker/jenkins.yml
  docker/jenkins/Dockerfile
Labels: ready for review, jenkins/gitlab, small, docker

#7716 `Assessment`: Fix an issue where deleting one unsaved inline feedback deletes all unsaved feedbacks
  src/main/webapp/app/entities/feedback.model.ts
  src/main/webapp/app/exercises/programming/shared/code-editor/ace/code-editor-ace.component.ts
  src/test/javascript/spec/component/code-editor/code-editor-ace.component.spec.ts
Labels: tests, client, component:Programming, priority:high, small, bugfix, ready to merge, maintainer-approved

#7753 `Development`: Avoid not found errors for missing grading scales
  src/main/java/de/tum/in/www1/artemis/web/rest/GradeStepResource.java
  src/main/webapp/app/grading-system/grading-system.service.ts
  src/test/java/de/tum/in/www1/artemis/assessment/GradeStepIntegrationTest.java
Labels: ready for review

#7741 `Development`: Persist checkout solution repository for programming exercises with information from Bamboo
  src/main/java/de/tum/in/www1/artemis/config/migration/MigrationRegistry.java
  src/main/java/de/tum/in/www1/artemis/config/migration/entries/BambooMigrationService.java
  src/main/java/de/tum/in/www1/artemis/config/migration/entries/MigrationEntry20231206_163000.java
  src/main/java/de/tum/in/www1/artemis/domain/ProgrammingExercise.java
  src/main/java/de/tum/in/www1/artemis/repository/ProgrammingExerciseRepository.java
  src/main/resources/config/liquibase/changelog/20231202210345_changelog.xml
  src/main/resources/config/liquibase/master.xml
Labels: ready for review, server, chore, database

#7706 `Development`: Add Aeolus build plan templates for Haskell for local continuous integration
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIBuildJobExecutionService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIContainerService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIProgrammingLanguageFeatureService.java
  src/main/resources/templates/aeolus/haskell/default.yaml
  src/main/resources/templates/aeolus/haskell/default_sequential.yaml
  src/test/java/de/tum/in/www1/artemis/connectors/AeolusTemplateResourceTest.java
Labels: tests, ready for review, server, template, localci/localvcs

#7707 `Development`: Add Aeolus build plan templates for Ocaml for local continuous integration
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIBuildJobExecutionService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIProgrammingLanguageFeatureService.java
  src/main/resources/templates/aeolus/ocaml/default.yaml
  src/test/java/de/tum/in/www1/artemis/connectors/AeolusTemplateResourceTest.java
Labels: tests, ready for review, server, template

#7713 `Development`: Add Aeolus build plan templates for Swift for local continuous integration
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIBuildJobExecutionService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIProgrammingLanguageFeatureService.java
  src/main/resources/templates/aeolus/swift/plain.yaml
  src/main/resources/templates/aeolus/swift/plain_static.yaml
  src/test/java/de/tum/in/www1/artemis/connectors/AeolusTemplateResourceTest.java
Labels: tests, server, template, localci/localvcs

#7758 `General`: Fix translation shown after successful password reset
  src/main/webapp/app/account/password-reset/finish/password-reset-finish.component.html
  src/main/webapp/i18n/de/reset.json
  src/main/webapp/i18n/en/reset.json
Labels: ready for review, small, bugfix, user interface

#7759 `Development`: Fix race condition on the participation page
  src/main/webapp/app/exercises/programming/participate/programming-submission.service.ts
  src/main/webapp/app/exercises/shared/participation/participation.component.ts
  src/test/javascript/spec/component/participation/participation.component.spec.ts
  src/test/javascript/spec/service/programming-submission.service.spec.ts
Labels: tests, client, bugfix, ready to merge

#7712 `Development`: Enable static code analysis in local continuous integration for Java
  src/main/java/de/tum/in/www1/artemis/domain/enumeration/StaticCodeAnalysisTool.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIBuildJobExecutionService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIContainerService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIProgrammingLanguageFeatureService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/dto/LocalCIBuildResult.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/scaparser/ReportParser.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/scaparser/exception/ParserException.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/scaparser/exception/UnsupportedToolException.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/scaparser/strategy/CheckstyleFormatParser.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/scaparser/strategy/CheckstyleParser.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/scaparser/strategy/PMDCPDParser.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/scaparser/strategy/PMDParser.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/scaparser/strategy/ParserContext.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/scaparser/strategy/ParserPolicy.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/scaparser/strategy/ParserStrategy.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/scaparser/strategy/ParserUtils.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/scaparser/strategy/SpotbugsParser.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/scaparser/utils/FileUtils.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/scaparser/utils/ReportUtils.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/scaparser/utils/XmlUtils.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalCIBuildResultTest.java
  src/test/java/de/tum/in/www1/artemis/staticcodeanalysis/StaticCodeAnalysisIntegrationTest.java
  src/test/resources/test-data/static-code-analysis/expected/checkstyle.txt
  src/test/resources/test-data/static-code-analysis/expected/invalid_filename.txt
  src/test/resources/test-data/static-code-analysis/expected/invalid_name.txt
  src/test/resources/test-data/static-code-analysis/expected/invalid_xml.txt
  src/test/resources/test-data/static-code-analysis/expected/pmd.txt
  src/test/resources/test-data/static-code-analysis/expected/pmd_cpd.txt
  src/test/resources/test-data/static-code-analysis/expected/spotbugs.txt
  src/test/resources/test-data/static-code-analysis/reports/checkstyle-result.xml
  src/test/resources/test-data/static-code-analysis/reports/cpd.xml
  src/test/resources/test-data/static-code-analysis/reports/cpd_invalid.txt
  src/test/resources/test-data/static-code-analysis/reports/invalid_name.xml
  src/test/resources/test-data/static-code-analysis/reports/invalid_xml.xml
  src/test/resources/test-data/static-code-analysis/reports/pmd.xml
  src/test/resources/test-data/static-code-analysis/reports/spotbugsXml.xml
Labels: tests, server, ready to merge, localci/localvcs

#7768 `Exam mode`: Improve performance when navigating into exam with many programming exercises
  src/main/java/de/tum/in/www1/artemis/repository/CourseRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ExamRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ProgrammingExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/service/exam/ExamService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExamResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/StudentExamResource.java
  src/test/java/de/tum/in/www1/artemis/exam/ExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseGitIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseGradingServiceTest.java
Labels: server, bugfix, ready to merge

#7775 `Development`: Enforce `@angular-eslint/template/prefer-control-flow` and fix html lint issues
  .eslintrc.json
  package.json
  src/main/webapp/app/complaints/complaints-for-students/complaints-student-view.component.html
  src/main/webapp/app/course/plagiarism-cases/shared/verdict/plagiarism-case-verdict.component.html
  src/main/webapp/app/exam/participate/exercises/exam-exercise-update-highlighter/exam-exercise-update-highlighter.component.html
  src/main/webapp/app/exam/participate/exercises/exam-exercise-update-highlighter/exam-exercise-update-highlighter.component.ts
  src/main/webapp/app/exam/participate/summary/result-overview/exam-result-overview.component.html
  src/main/webapp/app/exercises/programming/assess/code-editor-tutor-assessment-container.component.html
  src/main/webapp/app/exercises/programming/assess/code-editor-tutor-assessment-inline-feedback.component.html
  src/main/webapp/app/exercises/programming/manage/grading/programming-exercise-configure-grading.component.html
  src/main/webapp/app/exercises/programming/shared/code-editor/file-browser/code-editor-file-browser-delete.component.html
  src/main/webapp/app/exercises/programming/shared/code-editor/file-browser/code-editor-file-browser-delete.ts
  src/main/webapp/app/exercises/programming/shared/lifecycle/programming-exercise-lifecycle.component.html
  src/main/webapp/app/exercises/shared/assessment-progress-label/assessment-progress-label.component.html
  src/main/webapp/app/exercises/shared/assessment-progress-label/assessment-progress-label.component.ts
  src/main/webapp/app/exercises/shared/assessment-progress-label/assessment-progress-label.html
  src/main/webapp/app/grading-system/detailed-grading-system/detailed-grading-system.component.html
  src/main/webapp/app/grading-system/grading-key-overview/grading-key/grading-key-table.component.html
  src/main/webapp/app/grading-system/interval-grading-system/interval-grading-system.component.html
  src/main/webapp/app/shared/fullscreen/fullscreen.component.html
  src/main/webapp/app/shared/metis/metis.module.ts
  src/main/webapp/app/shared/metis/posting-content/enlarge-slide-image/enlarge-slide-image.component.html
  src/main/webapp/app/shared/metis/posting-content/enlarge-slide-image/enlarge-slide-image.component.ts
  src/main/webapp/app/shared/metis/posting-content/posting-content-part/posting-content-part.components.ts
  src/main/webapp/app/shared/metis/posting-markdown-editor/posting-markdown-editor.component.html
Labels: client

#7764 `Development`: Update Python and Java Aeolus templates
  src/main/java/de/tum/in/www1/artemis/domain/enumeration/AeolusTarget.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/aeolus/AeolusTemplateService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseService.java
  src/main/resources/templates/aeolus/java/plain_gradle.yaml
  src/main/resources/templates/aeolus/java/plain_gradle_sequential.yaml
  src/main/resources/templates/aeolus/java/plain_gradle_static.yaml
  src/main/resources/templates/aeolus/java/plain_gradle_static_coverage.yaml
  src/main/resources/templates/aeolus/java/plain_maven.yaml
  src/main/resources/templates/aeolus/java/plain_maven_sequential.yaml
  src/main/resources/templates/aeolus/java/plain_maven_static.yaml
  src/main/resources/templates/aeolus/java/plain_maven_static_coverage.yaml
  src/main/resources/templates/aeolus/python/default.yaml
  src/main/resources/templates/aeolus/python/default_sequential.yaml
  src/test/cypress/e2e/exercises/modeling/ModelingExerciseManagement.cy.ts
  src/test/java/de/tum/in/www1/artemis/connectors/AeolusTemplateResourceTest.java
Labels: localci/localvcs

#7783 `Assessment`: Change naming for button when assessing a programming exercise for the first time
  src/main/webapp/i18n/de/exerciseAssessmentDashboard.json
  src/main/webapp/i18n/en/exerciseAssessmentDashboard.json
Labels: bugfix, ready to merge, maintainer-approved

#7776 `Iris`: Fix cooldown message when chat limit is reached
  src/main/webapp/app/iris/exercise-chatbot/widget/chatbot-widget.component.ts
Labels: client, bugfix, ready to merge, component:Iris

#7766 `Plagiarism checks`: Include only student submissions
  src/main/java/de/tum/in/www1/artemis/service/plagiarism/ModelingPlagiarismDetectionService.java
  src/main/java/de/tum/in/www1/artemis/service/plagiarism/ProgrammingPlagiarismDetectionService.java
  src/main/java/de/tum/in/www1/artemis/service/plagiarism/TextPlagiarismDetectionService.java
  src/test/java/de/tum/in/www1/artemis/exercise/modelingexercise/ModelingAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/modelingexercise/compass/umlmodel/AbstractUMLDiagramTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseIntegrationTestService.java
Labels: component:Plagiarism Detection, ready to merge

#7617 `Adaptive learning`: Fix score display for competency details view
  src/main/java/de/tum/in/www1/artemis/web/rest/CompetencyResource.java
Labels: server, small, bugfix, ready to merge

#7760 `Iris`: Fix an issue with vertical scroll position reset
  src/main/webapp/app/iris/exercise-chatbot/widget/chatbot-widget.component.scss
  src/main/webapp/app/iris/exercise-chatbot/widget/chatbot-widget.component.ts
Labels: small, ready to merge

#7769 `Development`: Remove quiz pool REST call on exam detail page
  src/main/java/de/tum/in/www1/artemis/domain/exam/Exam.java
  src/main/java/de/tum/in/www1/artemis/service/QuizPoolService.java
  src/main/java/de/tum/in/www1/artemis/service/exam/ExamService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExamResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/QuizPoolResource.java
  src/main/webapp/app/entities/exam.model.ts
  src/main/webapp/app/exam/manage/exams/exam-checklist-component/exam-checklist-exercisegroup-table/exam-checklist-exercisegroup-table.component.html
  src/main/webapp/app/exam/manage/exams/exam-checklist-component/exam-checklist-exercisegroup-table/exam-checklist-exercisegroup-table.component.ts
  src/main/webapp/app/exam/manage/exams/exam-checklist-component/exam-checklist.component.html
  src/main/webapp/app/exam/manage/exams/exam-checklist-component/exam-checklist.component.ts
  src/main/webapp/app/exercises/quiz/manage/quiz-pool.component.ts
  src/test/java/de/tum/in/www1/artemis/exam/ExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exam/QuizPoolIntegrationTest.java
  src/test/javascript/spec/component/exercises/quiz/manage/quiz-pool.component.spec.ts
Labels: enhancement, server, client, component:Exam Mode, ready to merge

#7787 `Development`: Decouple LocalCI and LocalVC
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIConnectorService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCITriggerService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localvc/LocalVCServletService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/repository/RepositoryProgrammingExerciseParticipationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/repository/RepositoryResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/repository/TestRepositoryResource.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalCIIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalVCIntegrationTest.java
Labels: ready to merge, localci/localvcs

#7749 `Development`: Fix automatic pull request labeler CI action
  .github/labeler.yml
Labels: small, ready to merge

#7800 `Development`: Simplify tutorial group channel name generation
  src/main/java/de/tum/in/www1/artemis/repository/metis/conversation/ChannelRepository.java
  src/main/java/de/tum/in/www1/artemis/service/tutorialgroups/TutorialGroupChannelManagementService.java
Labels: server, code quality, small, ready to merge

#7798 `Programming exercises`: Fix check for already existing exercise with same name in GitLab setups
  src/main/java/de/tum/in/www1/artemis/service/connectors/gitlab/GitLabService.java
  src/test/java/de/tum/in/www1/artemis/connector/GitlabRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/GitlabServiceTest.java
Labels: tests, server, component:Programming, jenkins/gitlab, small, bugfix, performance, ready to merge

#7762 `Development`: Add continuous plagiarism control documentation
  docs/user/plagiarism-check.rst
  docs/user/plagiarism-check/instructor/cpc-activity-diagram.png
  docs/user/plagiarism-check/instructor/cpc-configuration.png
  docs/user/plagiarism-check/results/run-results.png
  docs/user/plagiarism-check/student/significant-similarity-button.png
  docs/user/plagiarism-check/student/significant-similarity-plagiarism-case.png
Labels: documentation, component:Plagiarism Detection, ready to merge

#7737 `Development`: Fix duplicated task error in Hestia
  src/main/java/de/tum/in/www1/artemis/service/hestia/ProgrammingExerciseTaskService.java
Labels: server, bugfix, ready to merge

#7659 `Development`: Added retries to a flaky e2e test
  src/test/cypress/e2e/exercises/quiz-exercise/QuizExerciseAssessment.cy.ts
Labels: tests, cypress, ready to merge

#7813 `Development`: Add proxy config env variables for docker in local continuous integration
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIBuildJobExecutionService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIContainerService.java
  src/main/resources/config/application-localci.yml
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalCITestConfiguration.java
Labels: tests, ready for review, server, config-change

#7785 `Development`: Add endpoints for build agent information in local continuous integration
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCISharedBuildJobQueueService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/dto/LocalCIBuildAgentInformation.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/dto/LocalCIBuildJobQueueItem.java
  src/main/java/de/tum/in/www1/artemis/web/rest/admin/AdminBuildJobQueueResource.java
Labels: server, ready to merge, localci/localvcs

#7799 `Development`: Visualize the build queue of local continuous integration in the server administration
  src/main/java/de/tum/in/www1/artemis/domain/VcsRepositoryUrl.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIPriorityQueueComparator.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCISharedBuildJobQueueService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCITriggerService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/dto/LocalCIBuildJobQueueItem.java
  src/main/java/de/tum/in/www1/artemis/web/rest/BuildJobQueueResource.java
  src/main/webapp/app/admin/admin.route.ts
  src/main/webapp/app/course/manage/course-management-tab-bar/course-management-tab-bar.component.html
  src/main/webapp/app/course/manage/course-management-tab-bar/course-management-tab-bar.component.ts
  src/main/webapp/app/course/manage/course-management.module.ts
  src/main/webapp/app/course/manage/course-management.route.ts
  src/main/webapp/app/entities/build-job.model.ts
  src/main/webapp/app/localci/build-queue/build-queue.component.html
  src/main/webapp/app/localci/build-queue/build-queue.component.scss
  src/main/webapp/app/localci/build-queue/build-queue.component.ts
  src/main/webapp/app/localci/build-queue/build-queue.guard.ts
  src/main/webapp/app/localci/build-queue/build-queue.service.ts
  src/main/webapp/app/shared/layouts/navbar/navbar.component.html
  src/main/webapp/app/shared/layouts/navbar/navbar.component.ts
  src/main/webapp/i18n/de/buildQueue.json
  src/main/webapp/i18n/en/buildQueue.json
  src/test/javascript/spec/component/localci/build-queue.component.spec.ts
  src/test/javascript/spec/component/localci/build-queue.guard.spec.ts
  src/test/javascript/spec/component/localci/build-queue.service.spec.ts
Labels: tests, server, client, ready to merge, localci/localvcs

#7763 `Development`: Add support for evaluating BPMN diagrams in modeling exercises
  package-lock.json
  package.json
  src/main/java/de/tum/in/www1/artemis/domain/enumeration/DiagramType.java
  src/main/java/de/tum/in/www1/artemis/service/compass/umlmodel/bpmn/BPMNAnnotation.java
  src/main/java/de/tum/in/www1/artemis/service/compass/umlmodel/bpmn/BPMNCallActivity.java
  src/main/java/de/tum/in/www1/artemis/service/compass/umlmodel/bpmn/BPMNDataObject.java
  src/main/java/de/tum/in/www1/artemis/service/compass/umlmodel/bpmn/BPMNDataStore.java
  src/main/java/de/tum/in/www1/artemis/service/compass/umlmodel/bpmn/BPMNDiagram.java
  src/main/java/de/tum/in/www1/artemis/service/compass/umlmodel/bpmn/BPMNEndEvent.java
  src/main/java/de/tum/in/www1/artemis/service/compass/umlmodel/bpmn/BPMNFlow.java
  src/main/java/de/tum/in/www1/artemis/service/compass/umlmodel/bpmn/BPMNGateway.java
  src/main/java/de/tum/in/www1/artemis/service/compass/umlmodel/bpmn/BPMNGroup.java
  src/main/java/de/tum/in/www1/artemis/service/compass/umlmodel/bpmn/BPMNIntermediateEvent.java
  src/main/java/de/tum/in/www1/artemis/service/compass/umlmodel/bpmn/BPMNPool.java
  src/main/java/de/tum/in/www1/artemis/service/compass/umlmodel/bpmn/BPMNStartEvent.java
  src/main/java/de/tum/in/www1/artemis/service/compass/umlmodel/bpmn/BPMNSubprocess.java
  src/main/java/de/tum/in/www1/artemis/service/compass/umlmodel/bpmn/BPMNSwimlane.java
  src/main/java/de/tum/in/www1/artemis/service/compass/umlmodel/bpmn/BPMNTask.java
  src/main/java/de/tum/in/www1/artemis/service/compass/umlmodel/bpmn/BPMNTransaction.java
  src/main/java/de/tum/in/www1/artemis/service/compass/umlmodel/parsers/v2/UMLModelV2Parser.java
  src/main/java/de/tum/in/www1/artemis/service/compass/umlmodel/parsers/v3/BPMNDiagramParser.java
  src/main/java/de/tum/in/www1/artemis/service/compass/umlmodel/parsers/v3/UMLModelV3Parser.java
  src/main/webapp/app/entities/modeling-exercise.model.ts
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise-update.component.html
  src/main/webapp/app/exercises/quiz/manage/apollon-diagrams/apollon-diagram-create-form.component.html
  src/main/webapp/i18n/de/diagramType.json
  src/main/webapp/i18n/en/diagramType.json
  src/test/java/de/tum/in/www1/artemis/exercise/modelingexercise/compass/umlmodel/bpmn/BPMNDiagramTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/modelingexercise/compass/umlmodel/bpmn/BPMNDiagrams.java
  src/test/resources/de/tum/in/www1/artemis/exercise/modelingexercise/compass/umlmodel/bpmn/bpmnModel1.json
  src/test/resources/de/tum/in/www1/artemis/exercise/modelingexercise/compass/umlmodel/bpmn/bpmnModel2.json
  src/test/resources/de/tum/in/www1/artemis/exercise/modelingexercise/compass/umlmodel/bpmn/bpmnModel3.json
Labels: tests, ready for review, server, client, lock:artemis-test6

#7673 `Development`: Add documentation for parallel server test execution
  docs/dev/guidelines/server-tests.rst
Labels: documentation, small, ready to merge

#7819 `Development`: Remove unused data in dashboard call
  src/main/java/de/tum/in/www1/artemis/service/CourseService.java
  src/test/java/de/tum/in/www1/artemis/DatabaseQueryCountTest.java
  src/test/java/de/tum/in/www1/artemis/course/CourseTestService.java
Labels: tests, ready for review, server

#7820 `Exam mode`: Fix summary for illegal submission
  src/main/webapp/app/exam/participate/summary/exercises/programming-exam-summary/programming-exam-summary.component.html
Labels: ready for review, client, small, bugfix, lock:artemis-test4

#7821 `Development`: Improve course overview and course details performance
  jest.config.js
  src/main/java/de/tum/in/www1/artemis/domain/Course.java
  src/main/java/de/tum/in/www1/artemis/repository/CompetencyProgressRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/CompetencyRelationRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/CompetencyRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/CourseRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/tutorialgroups/TutorialGroupFreePeriodRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/tutorialgroups/TutorialGroupRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/tutorialgroups/TutorialGroupSessionRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/tutorialgroups/TutorialGroupsConfigurationRepository.java
  src/main/java/de/tum/in/www1/artemis/service/CourseService.java
  src/main/java/de/tum/in/www1/artemis/service/learningpath/LearningPathNgxService.java
  src/main/java/de/tum/in/www1/artemis/service/tutorialgroups/TutorialGroupService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CompetencyResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/webapp/app/entities/course.model.ts
  src/main/webapp/app/overview/course-card.component.ts
  src/main/webapp/app/overview/course-competencies/course-competencies.component.ts
  src/main/webapp/app/overview/course-overview.component.ts
  src/test/java/de/tum/in/www1/artemis/DatabaseQueryCountTest.java
  src/test/javascript/spec/component/course/course-overview.component.spec.ts
Labels: tests, ready for review, server, client

#7826 `General`: Improve performance of overview page
  src/main/java/de/tum/in/www1/artemis/domain/Course.java
  src/main/java/de/tum/in/www1/artemis/domain/Exercise.java
  src/main/java/de/tum/in/www1/artemis/domain/ProgrammingExercise.java
  src/main/java/de/tum/in/www1/artemis/domain/quiz/QuizExercise.java
  src/main/java/de/tum/in/www1/artemis/repository/CourseRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ExamRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/LectureRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/StudentParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/service/CourseScoreCalculationService.java
  src/main/java/de/tum/in/www1/artemis/service/CourseService.java
  src/main/java/de/tum/in/www1/artemis/service/ExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/dto/MaxAndReachablePoints.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/FileResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/CourseContentCount.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/CourseForDashboardDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/CoursesForDashboardDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/UserPageableSearchDTO.java
  src/main/webapp/app/admin/user-management/user-management.component.html
  src/main/webapp/app/admin/user-management/user-management.component.ts
  src/main/webapp/app/course/manage/course-management.service.ts
  src/main/webapp/app/course/manage/courses-for-dashboard-dto.ts
  src/main/webapp/app/entities/course.model.ts
  src/main/webapp/app/exercises/quiz/manage/quiz-question-list-edit-existing.component.ts
  src/main/webapp/app/iris/session.service.ts
  src/main/webapp/app/overview/course-card.component.ts
  src/main/webapp/app/overview/course-overview.component.ts
  src/main/webapp/app/overview/courses.component.ts
  src/main/webapp/app/shared/server-date.service.ts
  src/test/java/de/tum/in/www1/artemis/DatabaseQueryCountTest.java
  src/test/java/de/tum/in/www1/artemis/course/CourseTestService.java
  src/test/java/de/tum/in/www1/artemis/domain/ExerciseTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/ExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/quizexercise/QuizExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/CourseScoreCalculationServiceTest.java
  src/test/java/de/tum/in/www1/artemis/team/TeamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/QueryCountAssert.java
  src/test/javascript/spec/component/admin/user-management.component.spec.ts
  src/test/javascript/spec/component/course/course-management.service.spec.ts
  src/test/javascript/spec/component/course/course.component.spec.ts
  src/test/javascript/spec/component/iris/state-store.service.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-course-management.service.ts
Labels: tests, ready for review, server, client

#7827 `General`: Display recently accessed courses on top
  jest.config.js
  src/main/webapp/app/course/course-access-storage.service.ts
  src/main/webapp/app/course/manage/course-management-tab-bar/course-management-tab-bar.component.ts
  src/main/webapp/app/course/manage/course-management.component.html
  src/main/webapp/app/course/manage/course-management.component.ts
  src/main/webapp/app/overview/course-overview.component.ts
  src/main/webapp/app/overview/courses.component.html
  src/main/webapp/app/overview/courses.component.ts
  src/main/webapp/i18n/de/course.json
  src/main/webapp/i18n/de/student-dashboard.json
  src/main/webapp/i18n/en/course.json
  src/main/webapp/i18n/en/student-dashboard.json
  src/test/javascript/spec/component/course/course-management-tab-bar.component.spec.ts
  src/test/javascript/spec/component/course/course-management.component.spec.ts
  src/test/javascript/spec/component/course/course-overview.component.spec.ts
  src/test/javascript/spec/component/course/course.component.spec.ts
  src/test/javascript/spec/service/course-access-storage.service.spec.ts
Labels: enhancement, tests, ready for review, client

#7817 `Development`: Cache windfiles on startup
  src/main/java/de/tum/in/www1/artemis/service/connectors/aeolus/AeolusTemplateService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIContainerService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIProgrammingLanguageFeatureService.java
Labels: server, small, ready to merge, localci/localvcs

#7814 `Exam mode`: Fix redirect to the exams in course-management for tutors and editors
  src/main/webapp/app/exam/participate/exam-participation.component.html
  src/main/webapp/app/exam/participate/exam-participation.component.ts
Labels: ready for review, client, small, bugfix

#7823 `Development`: Improve checkstyle category documentation
  docs/user/exercises/programming-sca-default-configuration.inc
  src/main/java/de/tum/in/www1/artemis/config/StaticCodeAnalysisConfigurer.java
  src/main/java/de/tum/in/www1/artemis/domain/StaticCodeAnalysisDefaultCategory.java
  src/main/java/de/tum/in/www1/artemis/repository/StaticCodeAnalysisCategoryRepository.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseTestService.java
Labels: tests, server, documentation, ready to merge

#7834 `Exam mode`: Fix navigation to exams list and add no-exam hint
  src/main/webapp/app/overview/course-card.component.html
  src/main/webapp/app/overview/course-card.component.ts
  src/main/webapp/app/overview/course-exams/course-exams.component.html
  src/main/webapp/app/overview/course-exams/course-exams.component.ts
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/en/exam.json
Labels: ready for review, client

#7832 `Development`: Fix build job executor service in local continuous integration
  src/main/java/de/tum/in/www1/artemis/config/localvcci/LocalCIConfiguration.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIBuildJobManagementService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCISharedBuildJobQueueService.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalCIIntegrationTest.java
Labels: tests, server, ready to merge, localci/localvcs
