Repository ls1intum/Artemis, pull requests merged in 2023-06, with the labels that each got.

#6475 `General`: Add new contributors to about us page
  src/main/resources/public/content/about-us.json
  src/main/resources/public/images/about/Felix_TJ_Dietrich.jpg
  src/main/resources/public/images/about/Frederik_Kutsch.jpg
  src/main/resources/public/images/about/Ludwig_Pusl.jpg
  src/main/resources/public/images/about/Paul_Schwind.jpg
  src/main/resources/public/images/about/Pellumb_Baboci.jpg
  src/main/resources/public/images/about/Rizky_Riyaldhi.jpg
  src/main/resources/public/images/about/Santiago_Berrezueta.jpg
  src/main/resources/public/images/about/Simon_Huang.jpg
  src/main/resources/public/images/about/Sven_Andabaka.jpg
  src/main/resources/public/images/about/Tarlan_Ismayilsoy.jpg
  src/main/resources/public/images/about/Tobias_Lippert.jpg
  src/main/resources/public/images/about/Tunar_Mahmudov.jpg
  src/main/resources/public/images/about/Welscher_Lucas.jpg
Labels: ready to merge

#6610 `General`: Add documentation for native Android application
  docs/index.rst
  docs/user/native-applications.rst
  docs/user/native-applications/android/custom_server_entered.png
  docs/user/native-applications/android/initial_login_notification_configuration.png
  docs/user/native-applications/android/server_selection_overview.png
  docs/user/native-applications/android/settings_push.png
  docs/user/native-applications/android/settings_push_detail.png
Labels: documentation, ready to merge, maintainer-approved

#6618 `General`: Add auto-complete mechanism to the user group editor field
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/webapp/app/admin/user-management/user-management-update.component.html
  src/main/webapp/app/admin/user-management/user-management-update.component.scss
  src/main/webapp/app/admin/user-management/user-management-update.component.ts
  src/main/webapp/app/course/manage/course-management.service.ts
  src/test/java/de/tum/in/www1/artemis/programmingexercise/CourseBitbucketBambooJiraIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/CourseGitlabJenkinsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/CourseTestService.java
  src/test/javascript/spec/component/admin/user-management-update.component.spec.ts
Labels: enhancement, tests, server, client, ready to merge

#6509 `Communication`: Load conversations in course overview only when needed
  src/main/java/de/tum/in/www1/artemis/repository/metis/conversation/ConversationRepository.java
  src/main/java/de/tum/in/www1/artemis/service/metis/conversation/ConversationService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/metis/conversation/ConversationResource.java
  src/main/webapp/app/overview/course-overview.component.ts
  src/main/webapp/app/shared/metis/conversations/conversation.service.ts
  src/main/webapp/app/shared/metis/metis-conversation.service.ts
  src/test/java/de/tum/in/www1/artemis/metis/ConversationIntegrationTest.java
  src/test/javascript/spec/component/code-editor/code-editor-actions.component.spec.ts
  src/test/javascript/spec/component/course/course-overview.component.spec.ts
  src/test/javascript/spec/component/overview/course-conversations/services/metis-conversation.service.spec.ts
  src/test/javascript/spec/component/text-submission-assessment/text-submission-assessment.component.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-metis-conversation.service.ts
Labels: tests, server, client, small, performance, ready to merge

#6643 `Development`: Remove unused server endpoint
  src/main/java/de/tum/in/www1/artemis/service/ResultService.java
  src/main/java/de/tum/in/www1/artemis/service/TextAssessmentService.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/quiz/QuizCache.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ResultResource.java
  src/test/java/de/tum/in/www1/artemis/assessment/ResultServiceIntegrationTest.java
Labels: tests, server, code quality, small, ready to merge

#6267 `Notifications`: Add native push notifications
  build.gradle
  docs/user/notifications.rst
  docs/user/notifications/notification-push.png
  docs/user/notifications/notification-settings-mobile.jpeg
  docs/user/notifications/supported-notification-types-overview-1.png
  docs/user/notifications/supported-notification-types-overview-2.png
  docs/user/notifications/supported-notification-types-overview-3.png
  src/main/java/de/tum/in/www1/artemis/config/AsyncConfiguration.java
  src/main/java/de/tum/in/www1/artemis/config/Constants.java
  src/main/java/de/tum/in/www1/artemis/domain/NotificationSetting.java
  src/main/java/de/tum/in/www1/artemis/domain/User.java
  src/main/java/de/tum/in/www1/artemis/domain/notification/Notification.java
  src/main/java/de/tum/in/www1/artemis/domain/push_notification/PushNotificationDeviceConfiguration.java
  src/main/java/de/tum/in/www1/artemis/domain/push_notification/PushNotificationDeviceConfigurationId.java
  src/main/java/de/tum/in/www1/artemis/domain/push_notification/PushNotificationDeviceType.java
  src/main/java/de/tum/in/www1/artemis/repository/NotificationSettingRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/PushNotificationDeviceConfigurationRepository.java
  src/main/java/de/tum/in/www1/artemis/service/EmailSummaryService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/SAML2Service.java
  src/main/java/de/tum/in/www1/artemis/service/notifications/GeneralInstantNotificationService.java
  src/main/java/de/tum/in/www1/artemis/service/notifications/GroupNotificationService.java
  src/main/java/de/tum/in/www1/artemis/service/notifications/InstantNotificationService.java
  src/main/java/de/tum/in/www1/artemis/service/notifications/MailService.java
  src/main/java/de/tum/in/www1/artemis/service/notifications/NotificationSettingsCommunicationChannel.java
  src/main/java/de/tum/in/www1/artemis/service/notifications/NotificationSettingsService.java
  src/main/java/de/tum/in/www1/artemis/service/notifications/SingleUserNotificationService.java
  src/main/java/de/tum/in/www1/artemis/service/notifications/TutorialGroupNotificationService.java
  src/main/java/de/tum/in/www1/artemis/service/notifications/push_notifications/ApplePushNotificationService.java
  src/main/java/de/tum/in/www1/artemis/service/notifications/push_notifications/FirebasePushNotificationService.java
  src/main/java/de/tum/in/www1/artemis/service/notifications/push_notifications/FirebaseRelayNotificationRequests.java
  src/main/java/de/tum/in/www1/artemis/service/notifications/push_notifications/PushNotificationService.java
  src/main/java/de/tum/in/www1/artemis/service/notifications/push_notifications/RelayNotificationRequest.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/PushNotificationDeviceConfigurationCleanupService.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/cache/quiz/QuizScheduleService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/AccountResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/push_notification/PushNotificationRegisterBody.java
  src/main/java/de/tum/in/www1/artemis/web/rest/push_notification/PushNotificationRegisterDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/push_notification/PushNotificationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/push_notification/PushNotificationUnregisterRequest.java
  src/main/resources/config/application-prod.yml
  src/main/resources/config/application.yml
  src/main/resources/config/liquibase/changelog/20230212181908_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/shared/user-settings/notification-settings/notification-settings-structure.ts
  src/test/java/de/tum/in/www1/artemis/notification/GroupNotificationServiceTest.java
  src/test/java/de/tum/in/www1/artemis/notification/NotificationResourceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/notification/NotificationScheduleServiceTest.java
  src/test/java/de/tum/in/www1/artemis/notification/NotificationSettingsResourceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/notification/NotificationSettingsServiceTest.java
  src/test/java/de/tum/in/www1/artemis/notification/PushNotificationResourceTest.java
  src/test/java/de/tum/in/www1/artemis/notification/SingleUserNotificationServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/EmailSummaryServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/notifications/GeneralInstantNotificationServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/notifications/MailServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/notifications/TutorialGroupNotificationServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/notifications/push_notifications/AppleFirebasePushNotificationServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/scheduled/PushNotificationDeviceConfigurationCleanupServiceTest.java
  src/test/java/de/tum/in/www1/artemis/util/AbstractArtemisIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/RequestUtilService.java
  src/test/resources/config/application.yml
Labels: tests, ready for review, server, client, documentation, database, ready to merge, maintainer-approved

#6636 `Programming exercises`: Refactor local VC and local CI services
  src/main/java/de/tum/in/www1/artemis/config/localvcci/ArtemisGitServlet.java
  src/main/java/de/tum/in/www1/artemis/config/localvcci/JGitServletConfiguration.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIBuildJobExecutionService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIConnectorService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIContainerService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localvc/LocalVCPostPushHook.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localvc/LocalVCServletService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseParticipationService.java
Labels: server, ready to merge, maintainer-approved

#6664 `Development`: Fix server start if notification relay is disabled
  src/main/java/de/tum/in/www1/artemis/service/notifications/push_notifications/ApplePushNotificationService.java
  src/main/java/de/tum/in/www1/artemis/service/notifications/push_notifications/FirebasePushNotificationService.java
Labels: ready for review, server, priority:high, small, bugfix

#6635 `Development`: Improve files assertions in server tests
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalVCLocalCIParticipationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalVCLocalCITestService.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseLocalVCLocalCIIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseTestService.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/RepositoryIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/TestRepositoryResourceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/ResourceLoaderServiceTest.java
Labels: tests, code quality, small, ready to merge, maintainer-approved

#6653 `Lectures`: Fix the order of lecture units when merging pdf files
  src/main/java/de/tum/in/www1/artemis/domain/lecture/LectureUnit.java
  src/main/java/de/tum/in/www1/artemis/repository/AttachmentUnitRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/LectureRepository.java
  src/main/java/de/tum/in/www1/artemis/web/rest/FileResource.java
  src/test/java/de/tum/in/www1/artemis/FileIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/assessment/ParticipantScoreIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/lecture/LectureIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/lecture/LectureUnitIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
Labels: tests, server, small, bugfix, ready to merge, Component:Lecture

#6609 `Iris`: Allow activation of Iris for programming exercises
  src/main/java/de/tum/in/www1/artemis/domain/ProgrammingExercise.java
  src/main/java/de/tum/in/www1/artemis/service/iris/IrisSessionService.java
  src/main/java/de/tum/in/www1/artemis/service/iris/session/IrisChatSessionService.java
  src/main/java/de/tum/in/www1/artemis/service/iris/session/IrisHestiaSessionService.java
  src/main/java/de/tum/in/www1/artemis/service/iris/session/IrisSessionSubServiceInterface.java
  src/main/java/de/tum/in/www1/artemis/web/rest/iris/IrisMessageResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/iris/IrisSessionResource.java
  src/main/resources/config/liquibase/changelog/20230519181800_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/test/java/de/tum/in/www1/artemis/iris/IrisMessageIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/iris/IrisSessionActivationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/iris/IrisSessionIntegrationTest.java
Labels: tests, server, database, ready to merge, component:Iris

#6639 `Iris`: Generate initial system prompt for GPT 3.5
  src/main/java/de/tum/in/www1/artemis/service/iris/IrisSessionService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/iris/IrisSessionResource.java
Labels: server, ready to merge, component:Iris

#6501 `Development`: Add script to generate a code coverage table automatically
  .github/PULL_REQUEST_TEMPLATE.md
  supporting_scripts/generate_code_cov_table/.gitignore
  supporting_scripts/generate_code_cov_table/README.md
  supporting_scripts/generate_code_cov_table/env.example
  supporting_scripts/generate_code_cov_table/generate_code_cov_table.py
  supporting_scripts/generate_code_cov_table/requirements.txt
Labels: ready to merge, maintainer-approved

#6671 `Communication`: Fix authorization error in courses without messaging
  src/main/webapp/app/overview/course-overview.component.ts
  src/test/javascript/spec/component/course/course-overview.component.spec.ts
Labels: tests, client, priority:high, small, bugfix, ready to merge

#6568 `Programming exercises`: Fix display of submission count for policy and add it to code editor
  src/main/java/de/tum/in/www1/artemis/service/SubmissionPolicyService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseParticipationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/SubmissionPolicyResource.java
  src/main/webapp/app/entities/participation/programming-exercise-student-participation.model.ts
  src/main/webapp/app/exercises/programming/manage/services/submission-policy.service.ts
  src/main/webapp/app/exercises/programming/participate/code-editor-student-container.component.html
  src/main/webapp/app/exercises/programming/participate/code-editor-student-container.component.ts
  src/main/webapp/app/exercises/programming/shared/code-editor/container/code-editor-container.component.html
  src/main/webapp/app/exercises/programming/shared/code-editor/container/code-editor-container.component.scss
  src/main/webapp/app/exercises/shared/exercise-headers/header-exercise-page-with-details.component.ts
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/programmingExercise.json
  src/test/java/de/tum/in/www1/artemis/programmingexercise/SubmissionPolicyIntegrationTest.java
  src/test/javascript/spec/component/code-editor/code-editor-student-container.component.spec.ts
  src/test/javascript/spec/component/exercises/shared/headers/header-exercise-page-with-details.component.spec.ts
Labels: tests, server, client, component:Programming, bugfix, ready to merge

#6615 `Development`: Add scheduling service to cypress tests
  docker/artemis/config/cypress-postgres.env
  docker/artemis/config/cypress.env
  docker/cypress-E2E-tests-mysql.yml
  docker/cypress-E2E-tests-postgresql.yml
  src/test/cypress/support/requests/CourseManagementRequests.ts
Labels: tests, cypress, ready to merge, docker, maintainer-approved

#6570 `Development`: Refactor quiz server tests
  src/test/java/de/tum/in/www1/artemis/quiz/QuizExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/java/de/tum/in/www1/artemis/util/ModelFactory.java
Labels: tests, code quality, refactoring, ready to merge

#6573 `Development`: Remove unnecessary server communication in course overview
  src/main/webapp/app/course/manage/course-management.service.ts
  src/main/webapp/app/overview/course-discussion/course-discussion.component.ts
  src/main/webapp/app/overview/course-overview.component.ts
  src/main/webapp/app/overview/discussion-section/discussion-section.component.ts
  src/main/webapp/app/shared/metis/metis.service.ts
  src/test/javascript/spec/component/course/course-management.service.spec.ts
  src/test/javascript/spec/component/course/course-overview.component.spec.ts
  src/test/javascript/spec/component/lecture/wizard-mode/lecture-wizard-learning-goals.component.spec.ts
  src/test/javascript/spec/component/lecture/wizard-mode/lecture-wizard-units.component.spec.ts
  src/test/javascript/spec/component/overview/course-discussion/course-discussion.component.spec.ts
  src/test/javascript/spec/component/overview/discussion-section/discussion-section.component.spec.ts
  src/test/javascript/spec/component/programming-assessment/programming-assessment-manual-result.component.spec.ts
  src/test/javascript/spec/component/shared/image-cropper/image-croppper.component.spec.ts
  src/test/javascript/spec/component/shared/metis/message-inline-input-component/message-inline-input.component.spec.ts
  src/test/javascript/spec/component/shared/metis/message-reply-inline-input/message-reply-inline-input.component.spec.ts
  src/test/javascript/spec/component/tutorial-groups/course-tutorial-groups/course-tutorial-groups.component.spec.ts
  src/test/javascript/spec/component/tutorial-groups/shared/meeting-pattern.pipe.spec.ts
  src/test/javascript/spec/component/tutorial-groups/tutorial-groups-management/tutorial-group-sessions/tutorial-group-sessions-management/tutorial-group-session-row.component.spec.ts
  src/test/javascript/spec/component/virtual-scroll/virtual-scroll.component.spec.ts
  src/test/javascript/spec/service/user-route-access.service.spec.ts
Labels: tests, client, small, performance, ready to merge

#6580 `Programming exercises`: Highlight code issues in short result information
  src/main/webapp/app/exercises/shared/result/result.component.html
  src/main/webapp/app/exercises/shared/result/result.component.ts
  src/main/webapp/content/scss/global.scss
  src/main/webapp/i18n/de/result.json
  src/main/webapp/i18n/en/result.json
  src/test/javascript/spec/component/exercises/shared/result.spec.ts
Labels: enhancement, tests, client, component:Programming, small, user interface, ready to merge

#6599 `General`: Improve layout of exercise management overview
  src/main/webapp/app/course/manage/course-exercise-card.component.html
  src/main/webapp/app/course/manage/course-exercise-card.component.ts
  src/main/webapp/app/course/manage/course-management-exercises.component.html
  src/main/webapp/app/course/manage/course-management-exercises.component.ts
  src/main/webapp/app/course/manage/course-management.module.ts
  src/main/webapp/app/exercises/file-upload/manage/file-upload-exercise.component.html
  src/main/webapp/app/exercises/file-upload/manage/file-upload-exercise.component.ts
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise.component.html
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise.component.ts
  src/main/webapp/app/exercises/programming/manage/programming-exercise-create-buttons.component.html
  src/main/webapp/app/exercises/programming/manage/programming-exercise-create-buttons.component.ts
  src/main/webapp/app/exercises/programming/manage/programming-exercise.component.html
  src/main/webapp/app/exercises/programming/manage/programming-exercise.component.ts
  src/main/webapp/app/exercises/programming/shared/programming-exercise.module.ts
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise-create-buttons.component.html
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise-create-buttons.component.ts
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise.component.html
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise.component.ts
  src/main/webapp/app/exercises/quiz/manage/quiz-management.module.ts
  src/main/webapp/app/exercises/shared/manage/exercise-create-buttons.component.html
  src/main/webapp/app/exercises/shared/manage/exercise-create-buttons.component.ts
  src/main/webapp/app/exercises/shared/manage/exercise-create-buttons.module.ts
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise.component.html
  src/main/webapp/app/orion/management/orion-course-management-exercises.component.ts
  src/main/webapp/app/orion/management/orion-programming-exercise.component.html
  src/main/webapp/app/overview/header-course.component.html
  src/main/webapp/app/overview/header-course.component.scss
  src/main/webapp/app/overview/header-course.component.ts
  src/main/webapp/content/scss/global.scss
  src/test/javascript/spec/component/course/header-course.component.spec.ts
  src/test/javascript/spec/component/file-upload-exercise/file-upload-exercise.component.spec.ts
  src/test/javascript/spec/component/manage/exercise-create-buttons.component.spec.ts
  src/test/javascript/spec/component/modeling-exercise/modeling-exercise.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-create-buttons.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise.component.spec.ts
  src/test/javascript/spec/component/quiz-exercise/quiz-exercise-create-buttons.components.spec.ts
  src/test/javascript/spec/component/quiz-exercise/quiz-exercise.component.spec.ts
Labels: tests, client, user interface, ready to merge

#6629 `General`: Improve exercise rows for small screens
  src/main/webapp/app/overview/course-exercises/course-exercise-row.component.html
  src/main/webapp/app/overview/course-exercises/course-exercise-row.scss
  src/main/webapp/i18n/de/student-dashboard.json
  src/main/webapp/i18n/en/student-dashboard.json
Labels: client, small, user interface, ready to merge

#6647 `Programming exercises`: Improve consistency check
  .editorconfig
  src/main/java/de/tum/in/www1/artemis/service/ConsistencyCheckService.java
  src/main/java/de/tum/in/www1/artemis/service/dto/ConsistencyErrorDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ConsistencyCheckResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseExportImportResource.java
  src/main/webapp/app/entities/consistency-check-result.model.ts
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.html
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.ts
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.ts
  src/main/webapp/i18n/de/consistencyCheck.json
  src/main/webapp/i18n/en/consistencyCheck.json
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseIntegrationTestService.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseTestService.java
Labels: tests, ready for review, server, client, bugfix

#6673 `Assessment`: Fix sorting in exercise scores table
  src/main/webapp/app/shared/service/sort.service.ts
  src/test/javascript/spec/service/sort.service.spec.ts
Labels: tests, client, small, bugfix, ready to merge

#6677 `Assessment`: Fix submissions breadcrumb
  src/main/webapp/app/shared/layouts/navbar/navbar.component.ts
  src/test/javascript/spec/component/shared/navbar.component.spec.ts
Labels: tests, client, small, bugfix, user interface, ready to merge

#6656 `Development`: Update cypress to 12.13.0
  src/test/cypress/package-lock.json
  src/test/cypress/package.json
  src/test/cypress/support/pageobjects/exercises/quiz/DragAndDropQuiz.ts
Labels: tests, ready for review, cypress

#6640 `Iris`: Client - MVP
  src/main/webapp/app/entities/iris/iris-content-type.model.ts
  src/main/webapp/app/entities/iris/iris-message.model.ts
  src/main/webapp/app/entities/iris/iris-session.model.ts
  src/main/webapp/app/iris/exercise-chatbot/chatbot-popup/chatbot-popup.component.html
  src/main/webapp/app/iris/exercise-chatbot/chatbot-popup/chatbot-popup.component.scss
  src/main/webapp/app/iris/exercise-chatbot/chatbot-popup/chatbot-popup.component.ts
  src/main/webapp/app/iris/exercise-chatbot/exercise-chatbot.component.html
  src/main/webapp/app/iris/exercise-chatbot/exercise-chatbot.component.scss
  src/main/webapp/app/iris/exercise-chatbot/exercise-chatbot.component.ts
  src/main/webapp/app/iris/exercise-chatbot/exercise-chatwidget/exercise-chat-widget.component.html
  src/main/webapp/app/iris/exercise-chatbot/exercise-chatwidget/exercise-chat-widget.component.scss
  src/main/webapp/app/iris/exercise-chatbot/exercise-chatwidget/exercise-chat-widget.component.ts
  src/main/webapp/app/iris/http-message.service.ts
  src/main/webapp/app/iris/http-session.service.ts
  src/main/webapp/app/iris/iris.module.ts
  src/main/webapp/app/iris/session.service.ts
  src/main/webapp/app/iris/state-store.model.ts
  src/main/webapp/app/iris/state-store.service.ts
  src/main/webapp/app/iris/websocket.service.ts
  src/main/webapp/app/overview/exercise-chatbot/exercise-chatbot.module.ts
  src/main/webapp/app/overview/exercise-chatbot/exercise-chatwidget/exercise-chat-widget.component.html
  src/main/webapp/app/overview/exercise-chatbot/exercise-chatwidget/exercise-chat-widget.component.ts
  src/main/webapp/app/overview/exercise-details/course-exercise-details.module.ts
  src/test/javascript/spec/component/exercise-hint/manage/exercise-hint-update.component.spec.ts
  src/test/javascript/spec/component/iris/exercise-chat-widget.component.spec.ts
  src/test/javascript/spec/component/iris/exercise-chatbot.component.spec.ts
  src/test/javascript/spec/component/iris/http-message.service.spec.ts
  src/test/javascript/spec/component/iris/http-session.service.spec.ts
  src/test/javascript/spec/component/iris/session.service.spec.ts
  src/test/javascript/spec/component/iris/state-store.service.spec.ts
  src/test/javascript/spec/component/iris/ui/exercise-chat-widget.component.spec.ts
  src/test/javascript/spec/component/iris/ui/exercise-chatbot.component.spec.ts
  src/test/javascript/spec/component/iris/websocket.service.spec.ts
  src/test/javascript/spec/helpers/sample/iris-sample-data.ts
Labels: tests, ready for review, client, component:Iris

#6442 `General`: Anonymize users instead of deleting them
  src/main/java/de/tum/in/www1/artemis/config/Constants.java
  src/main/java/de/tum/in/www1/artemis/domain/User.java
  src/main/java/de/tum/in/www1/artemis/repository/UserRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/specs/UserSpecs.java
  src/main/java/de/tum/in/www1/artemis/service/user/UserService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/admin/AdminUserResource.java
  src/main/resources/config/liquibase/changelog/20230417110819_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/test/java/de/tum/in/www1/artemis/authentication/UserBambooBitbucketJiraIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/authentication/UserJenkinsGitlabIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/connector/BitbucketRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/connector/JenkinsRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/connector/JiraRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/util/UserTestService.java
Labels: tests, server, database, ready to merge

#6651 `Development`: Add documentation for text exercises
  docs/user/exercises/general/add-new-feedback-button.png
  docs/user/exercises/general/assessment-dashboard.png
  docs/user/exercises/general/cancel-button.png
  docs/user/exercises/general/create-button.png
  docs/user/exercises/general/create-exercise-form-hint.png
  docs/user/exercises/general/delete-button.png
  docs/user/exercises/general/example-submission-button.png
  docs/user/exercises/general/exercise-dashboard-button.png
  docs/user/exercises/general/feedback-modal.png
  docs/user/exercises/general/hint-icon.png
  docs/user/exercises/general/participation-button.png
  docs/user/exercises/general/scores-button.png
  docs/user/exercises/general/start-exercise-button.png
  docs/user/exercises/general/start-new-assessment-button.png
  docs/user/exercises/general/start-participating-in-exercise-button.png
  docs/user/exercises/general/submit-assessment-button.png
  docs/user/exercises/modeling.rst
  docs/user/exercises/text/assessment-modal.png
  docs/user/exercises/text/course-dashboard-exercise-text.png
  docs/user/exercises/text/create-new-text-exercise.png
  docs/user/exercises/text/create-text-exercise-form-1.png
  docs/user/exercises/text/create-text-exercise-form-2.png
  docs/user/exercises/text/create-text-exercise-form-3.png
  docs/user/exercises/text/exercise-assessment-dashboard-2.png
  docs/user/exercises/text/exercise-assessment-dashboard.png
  docs/user/exercises/text/exercise-dashboard.png
  docs/user/exercises/text/import-text-exercise-modal.png
  docs/user/exercises/text/import-text-exercise.png
  docs/user/exercises/text/open-text-editor-button.png
  docs/user/exercises/text/text-exercise-card-student-view.png
  docs/user/exercises/text/text-exercise-students-interface.png
  docs/user/exercises/textual.rst
Labels: documentation, ready to merge

#6708 `Development`: Improve authorization server guidelines
  docs/dev/guidelines/server.rst
Labels: documentation, ready to merge

#6284 `Programming exercises`: Make Jenkins pipelines more flexible by storing the pipeline definition in Artemis
  .github/labeler.yml
  src/main/java/de/tum/in/www1/artemis/domain/BuildPlan.java
  src/main/java/de/tum/in/www1/artemis/domain/Exercise.java
  src/main/java/de/tum/in/www1/artemis/domain/ProgrammingExercise.java
  src/main/java/de/tum/in/www1/artemis/repository/BuildPlanRepository.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/ci/AbstractBuildPlanCreator.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/ci/AbstractContinuousIntegrationResultService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/ci/AbstractContinuousIntegrationService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/gitlabci/GitLabCIBuildPlanService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/gitlabci/GitLabCIService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsBuildPlanCreator.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsProgrammingLanguageFeatureService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsTriggerService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsXmlConfigBuilder.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/build_plan/JenkinsBuildPlanCreator.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/build_plan/JenkinsBuildPlanLinkInfoContributor.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/build_plan/JenkinsBuildPlanService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/build_plan/JenkinsBuildPlanUtils.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/build_plan/JenkinsPipelineScriptCreator.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseImportBasicService.java
  src/main/java/de/tum/in/www1/artemis/service/util/XmlFileUtils.java
  src/main/java/de/tum/in/www1/artemis/web/rest/open/BuildPlanResource.java
  src/main/resources/templates/jenkins/Jenkinsfile
  src/main/resources/templates/jenkins/c/fact/regularRuns/Jenkinsfile
  src/main/resources/templates/jenkins/c/fact/regularRuns/pipeline.groovy
  src/main/resources/templates/jenkins/c/gcc/regularRuns/Jenkinsfile
  src/main/resources/templates/jenkins/c/gcc/regularRuns/pipeline.groovy
  src/main/resources/templates/jenkins/empty/regularRuns/Jenkinsfile
  src/main/resources/templates/jenkins/empty/regularRuns/pipeline.groovy
  src/main/resources/templates/jenkins/haskell/regularRuns/Jenkinsfile
  src/main/resources/templates/jenkins/haskell/regularRuns/pipeline.groovy
  src/main/resources/templates/jenkins/java/gradle/regularRuns/Jenkinsfile
  src/main/resources/templates/jenkins/java/gradle/regularRuns/Jenkinsfile-staticCodeAnalysis
  src/main/resources/templates/jenkins/java/gradle/regularRuns/pipeline.groovy
  src/main/resources/templates/jenkins/java/gradle/sequentialRuns/Jenkinsfile
  src/main/resources/templates/jenkins/java/gradle/sequentialRuns/pipeline.groovy
  src/main/resources/templates/jenkins/java/maven/regularRuns/Jenkinsfile
  src/main/resources/templates/jenkins/java/maven/regularRuns/Jenkinsfile-staticCodeAnalysis
  src/main/resources/templates/jenkins/java/maven/regularRuns/pipeline.groovy
  src/main/resources/templates/jenkins/java/maven/sequentialRuns/Jenkinsfile
  src/main/resources/templates/jenkins/java/maven/sequentialRuns/pipeline.groovy
  src/main/resources/templates/jenkins/kotlin/regularRuns/Jenkinsfile
  src/main/resources/templates/jenkins/kotlin/regularRuns/pipeline.groovy
  src/main/resources/templates/jenkins/kotlin/sequentialRuns/Jenkinsfile
  src/main/resources/templates/jenkins/kotlin/sequentialRuns/pipeline.groovy
  src/main/resources/templates/jenkins/python/regularRuns/Jenkinsfile
  src/main/resources/templates/jenkins/python/regularRuns/pipeline.groovy
  src/main/resources/templates/jenkins/swift/regularRuns/Jenkinsfile
  src/main/resources/templates/jenkins/swift/regularRuns/Jenkinsfile-staticCodeAnalysis
  src/main/resources/templates/jenkins/swift/regularRuns/pipeline.groovy
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseGitlabJenkinsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/connectors/jenkins/build_plan/JenkinsPipelineScriptCreatorTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
Labels: tests, server, component:Programming, jenkins/gitlab, ready to merge

#6663 `Programming exercises`: Update dependencies in Java templates
  gradle/wrapper/gradle-wrapper.jar
  gradlew
  src/main/resources/config/application.yml
  src/main/resources/templates/java/gradle_gradle/exercise/gradle/wrapper/gradle-wrapper.jar
  src/main/resources/templates/java/gradle_gradle/exercise/gradle/wrapper/gradle-wrapper.properties
  src/main/resources/templates/java/gradle_gradle/exercise/gradlew.file
  src/main/resources/templates/java/gradle_gradle/solution/gradle/wrapper/gradle-wrapper.jar
  src/main/resources/templates/java/gradle_gradle/solution/gradle/wrapper/gradle-wrapper.properties
  src/main/resources/templates/java/gradle_gradle/solution/gradlew.file
  src/main/resources/templates/java/maven_maven/exercise/pom.xml
  src/main/resources/templates/java/maven_maven/solution/pom.xml
  src/main/resources/templates/java/maven_maven/test/projectTemplate/pom.xml
  src/main/resources/templates/java/plain_gradle/exercise/gradle/wrapper/gradle-wrapper.jar
  src/main/resources/templates/java/plain_gradle/exercise/gradle/wrapper/gradle-wrapper.properties
  src/main/resources/templates/java/plain_gradle/exercise/gradlew.file
  src/main/resources/templates/java/plain_gradle/solution/gradle/wrapper/gradle-wrapper.jar
  src/main/resources/templates/java/plain_gradle/solution/gradle/wrapper/gradle-wrapper.properties
  src/main/resources/templates/java/plain_gradle/solution/gradlew.file
  src/main/resources/templates/java/plain_maven/exercise/pom.xml
  src/main/resources/templates/java/plain_maven/solution/pom.xml
  src/main/resources/templates/java/test/gradle/projectTemplate/build.gradle
  src/main/resources/templates/java/test/gradle/projectTemplate/gradle/wrapper/gradle-wrapper.jar
  src/main/resources/templates/java/test/gradle/projectTemplate/gradle/wrapper/gradle-wrapper.properties
  src/main/resources/templates/java/test/gradle/projectTemplate/gradlew.file
  src/main/resources/templates/java/test/maven/projectTemplate/pom.xml
  src/main/resources/templates/kotlin/test/maven/projectTemplate/pom.xml
Labels: config-change, template, ready to merge

#6648 `Development`: Improve documentation about manual assessment
  docs/index.rst
  docs/user/assessment.rst
  docs/user/assessment/accept-complaint.png
  docs/user/assessment/assessment-dashboard-button.png
  docs/user/assessment/assessment-dashboard.png
  docs/user/assessment/complaint-submission.png
  docs/user/assessment/exercise-dashboard.png
  docs/user/assessment/grading-criteria.png
  docs/user/assessment/instructor-example-assessment.png
  docs/user/assessment/instructor-example-submission.png
  docs/user/assessment/leaderboard.png
  docs/user/assessment/lock.png
  docs/user/assessment/more-feedback.png
  docs/user/assessment/reject-complaint.png
  docs/user/assessment/reviewer-assess-correctly.png
  docs/user/assessment/reviewer-assessment-instructions.png
  docs/user/assessment/reviewer-exercise-status.png
  docs/user/assessment/reviewer-read-confirm.png
  docs/user/assessment/student-feedback.png
  docs/user/exercises.rst
  docs/user/exercises/assessment.rst
  docs/user/exercises/assessment/assessment_dashboard.png
  docs/user/exercises/assessment/complaint.png
  docs/user/exercises/assessment/complaint_response.png
Labels: ready for review, documentation

#6685 `Development`: Add documentation for exam participation checker usage
  docs/user/exam_mode.rst
  docs/user/exams/exam-participation-checker/exam_overview.png
  docs/user/exams/exam-participation-checker/student_detail_view.png
  docs/user/exams/exam-participation-checker/student_list_view.png
  docs/user/exams/exam-participation-checker/student_list_view_export_signatures.png
  docs/user/exams/exam-participation-checker/upload_images.png
  docs/user/exams/exam_participation_checker.rst
  docs/user/exams/instructor/add_students.png
  docs/user/exams/instructor/buttons/import_students_button.png
  docs/user/exams/instructor/buttons/verify_attendance.png
  docs/user/exams/instructor/example_import_students.csv
  docs/user/exams/instructor/example_upload_images.pdf
  docs/user/exams/instructor/import_students_dialog.png
  docs/user/exams/instructor/verify_attendance_verification_missing.png
  docs/user/exams/instructor/verify_attendance_verification_successful.png
  docs/user/exams/instructors_guide.rst
Labels: ready for review, documentation

#6711 `General`: Improve charts in course statistics and course overview
  src/main/webapp/app/overview/course-card.component.html
  src/main/webapp/app/overview/course-overview.scss
  src/main/webapp/app/overview/course-statistics/course-statistics.component.ts
Labels: client, small, ready to merge

#6709 `Development`: Refactor DatabaseUtilService and ModelFactory - Remove DatabaseUtilService and ModelFactory [3]
  src/test/java/de/tum/in/www1/artemis/course/CourseTestService.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/java/de/tum/in/www1/artemis/util/ModelFactory.java
Labels: tests, ready for review, code quality, refactoring, small, stacked-pr

#6646 `Iris`: New message indicator
  src/main/webapp/app/iris/exercise-chatbot/exercise-chatbot.component.html
  src/main/webapp/app/iris/exercise-chatbot/exercise-chatbot.component.scss
  src/main/webapp/app/iris/exercise-chatbot/exercise-chatbot.component.ts
  src/main/webapp/app/iris/exercise-chatbot/exercise-chatwidget/exercise-chat-widget.component.html
  src/main/webapp/app/iris/exercise-chatbot/exercise-chatwidget/exercise-chat-widget.component.scss
  src/main/webapp/app/iris/exercise-chatbot/exercise-chatwidget/exercise-chat-widget.component.ts
  src/main/webapp/app/iris/state-store.model.ts
  src/main/webapp/app/iris/state-store.service.ts
  src/main/webapp/i18n/de/exerciseChatbot.json
  src/main/webapp/i18n/en/exerciseChatbot.json
  src/test/javascript/spec/component/iris/state-store.service.spec.ts
  src/test/javascript/spec/component/iris/ui/exercise-chat-widget.component.spec.ts
  src/test/javascript/spec/component/iris/ui/exercise-chatbot.component.spec.ts
  src/test/javascript/spec/helpers/sample/iris-sample-data.ts
Labels: tests, ready for review, client, component:Iris

#6722 `Development`: Fix code-style issue in server tests
  src/test/java/de/tum/in/www1/artemis/ArchitectureTest.java
Labels: tests, ready to merge

#6703 `Development`: Reduce run-time of slow server tests
  src/test/java/de/tum/in/www1/artemis/DatabaseQueryCountTest.java
  src/test/java/de/tum/in/www1/artemis/lecture/AttachmentUnitIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/lecture/CompetencyIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/quiz/QuizSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/TeamWebsocketServiceTest.java
  src/test/java/de/tum/in/www1/artemis/util/CourseTestService.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
Labels: tests, code quality, refactoring, ready to merge

#6577 `General`: Add the possibility for instructors to define (un)enrollment periods
  src/main/java/de/tum/in/www1/artemis/config/Constants.java
  src/main/java/de/tum/in/www1/artemis/domain/Course.java
  src/main/java/de/tum/in/www1/artemis/repository/CourseRepository.java
  src/main/java/de/tum/in/www1/artemis/service/AuthorizationCheckService.java
  src/main/java/de/tum/in/www1/artemis/service/CourseService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/admin/AdminCourseResource.java
  src/main/resources/config/liquibase/changelog/20230514121500_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/course/manage/course-management.service.ts
  src/main/webapp/app/course/manage/course-update.component.html
  src/main/webapp/app/course/manage/course-update.component.ts
  src/main/webapp/app/course/manage/detail/course-detail.component.html
  src/main/webapp/app/entities/course.model.ts
  src/main/webapp/app/overview/course-exercises/course-exercises.component.html
  src/main/webapp/app/overview/course-exercises/course-exercises.component.ts
  src/main/webapp/app/overview/course-registration/course-prerequisites-button/course-prerequisites-button.component.html
  src/main/webapp/app/overview/course-registration/course-registration-button/course-registration-button.component.html
  src/main/webapp/app/overview/course-registration/course-registration-button/course-registration-button.component.ts
  src/main/webapp/app/overview/course-registration/course-registration-detail/course-registration-detail.component.html
  src/main/webapp/app/overview/course-registration/course-registration-detail/course-registration-detail.module.ts
  src/main/webapp/app/overview/course-registration/course-registration.component.html
  src/main/webapp/app/overview/course-registration/course-registration.module.ts
  src/main/webapp/app/overview/course-unenrollment-modal.component.html
  src/main/webapp/app/overview/course-unenrollment-modal.component.ts
  src/main/webapp/app/overview/courses-routing.module.ts
  src/main/webapp/app/overview/courses.component.html
  src/main/webapp/app/overview/courses.module.ts
  src/main/webapp/i18n/de/course.json
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/de/student-dashboard.json
  src/main/webapp/i18n/en/course.json
  src/main/webapp/i18n/en/global.json
  src/main/webapp/i18n/en/student-dashboard.json
  src/test/java/de/tum/in/www1/artemis/OrganizationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/domain/CourseTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/CourseBitbucketBambooJiraIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/CourseGitlabJenkinsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/AuthorizationCheckServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/CourseServiceTest.java
  src/test/java/de/tum/in/www1/artemis/util/CourseTestService.java
  src/test/javascript/spec/component/course/course-exercises.component.spec.ts
  src/test/javascript/spec/component/course/course-management.service.spec.ts
  src/test/javascript/spec/component/course/course-unenrollment/course-unenrollment-modal.component.spec.ts
  src/test/javascript/spec/component/course/course-update.component.spec.ts
Labels: tests, server, client, database, ready to merge, stacked-pr, lock:artemis-test4, deployment-error

#6713 `Exam mode`: Fix exercise statistics page not loading
  src/main/webapp/app/exercises/shared/statistics/exercise-statistics.component.html
  src/main/webapp/app/exercises/shared/statistics/exercise-statistics.component.ts
Labels: ready for review, client, component:Exam Mode, small, bugfix

#6632 `Development`: Add documentation for local version control and continuous integration setup
  .idea/runConfigurations/Artemis__Server__LocalVC___LocalCI_.xml
  README.md
  docs/dev/setup.rst
  docs/dev/setup/jenkins-gitlab.rst
  docs/dev/setup/localci-localvc.rst
  docs/dev/system-design.rst
  docs/dev/system-design/localvc-localci/LocalCI_Subsystem.png
  docs/dev/system-design/localvc-localci/LocalVC_LocalCI_Deployment.png
  docs/dev/system-design/localvc-localci/LocalVC_Subsystem.png
  docs/dev/system-design/localvc-localci/localvc-localci-system-design.rst
  docs/user/exercises/programming-exercise-setup.inc
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIConnectorService.java
  src/main/resources/templates/localci/java/build_and_run_tests.sh
Labels: server, documentation, template

#6628 `Iris`: Add enable/disable Iris when creating programming exercise
  docs/user/exercises/programming-exercise-setup.inc
  src/main/webapp/app/entities/programming-exercise.model.ts
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.html
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.html
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.ts
  src/main/webapp/app/exercises/programming/manage/update/update-components/programming-exercise-problem.component.html
  src/main/webapp/app/exercises/programming/manage/update/update-components/programming-exercise-problem.component.ts
  src/main/webapp/app/exercises/programming/manage/update/wizard-mode/programming-exercise-update-wizard-problem.component.html
  src/main/webapp/app/exercises/programming/manage/update/wizard-mode/programming-exercise-update-wizard.component.ts
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.html
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.ts
  src/main/webapp/app/shared/layouts/profiles/profile-info.model.ts
  src/main/webapp/app/shared/layouts/profiles/profile.service.ts
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/programmingExercise.json
  src/test/cypress/fixtures/exercise/programming/template.json
  src/test/javascript/spec/component/overview/exercise-details/course-exercise-details.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/wizard-mode/programming-exercise-wizard-problem.component.spec.ts
  src/test/javascript/spec/component/shared/clone-repo-button.component.spec.ts
  src/test/javascript/spec/service/profile.service.spec.ts
Labels: tests, client, documentation, cypress, ready to merge, component:Iris

#6433 `Communication`: Allow to filter posts for multiple contexts
  src/main/java/de/tum/in/www1/artemis/repository/metis/PostRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/specs/PostSpecs.java
  src/main/java/de/tum/in/www1/artemis/service/metis/PostService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/PostContextFilter.java
  src/main/webapp/app/overview/course-discussion/course-discussion.component.html
  src/main/webapp/app/overview/course-discussion/course-discussion.component.scss
  src/main/webapp/app/overview/course-discussion/course-discussion.component.ts
  src/main/webapp/app/overview/course-discussion/course-discussion.module.ts
  src/main/webapp/app/overview/discussion-section/discussion-section.component.ts
  src/main/webapp/app/shared/metis/metis.service.ts
  src/main/webapp/app/shared/metis/metis.util.ts
  src/main/webapp/app/shared/metis/post.service.ts
  src/main/webapp/app/shared/metis/posting-create-edit-modal/post-create-edit-modal/post-tag-selector/post-tag-selector.component.scss
  src/main/webapp/content/scss/global.scss
  src/main/webapp/content/scss/themes/_dark-variables.scss
  src/main/webapp/content/scss/themes/_default-variables.scss
  src/main/webapp/i18n/de/metis.json
  src/main/webapp/i18n/en/metis.json
  src/test/cypress/support/pageobjects/course/CourseCommunication.ts
  src/test/java/de/tum/in/www1/artemis/metis/AbstractConversationTest.java
  src/test/java/de/tum/in/www1/artemis/metis/AnswerPostIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/metis/MessageIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/metis/PostIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/post/ConversationUtilService.java
  src/test/javascript/spec/component/overview/course-discussion/course-discussion.component.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-post.service.ts
  src/test/javascript/spec/service/metis/metis.service.spec.ts
  src/test/javascript/spec/service/metis/post.service.spec.ts
Labels: tests, server, client, cypress, ready to merge, maintainer-approved

#6731 `Iris`: Fix server tests
  src/test/java/de/tum/in/www1/artemis/iris/AbstractIrisIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/iris/IrisHestiaIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/iris/IrisMessageIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/iris/IrisSessionActivationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/iris/IrisSessionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/iris/IrisWebsocketTest.java
Labels: tests, ready for review, priority:high

#6720 `General`: Fix display of no submission after due date
  src/main/webapp/app/overview/submission-result-status.component.ts
  src/test/javascript/spec/component/shared/submission-result-status.component.spec.ts
Labels: tests, client, small, bugfix, ready to merge

#6727 `Development`: Improve iterations in RequestUtilService
  src/test/java/de/tum/in/www1/artemis/util/RequestUtilService.java
Labels: tests, code quality, ready to merge

#6732 `General`: Fix modal background color
  src/main/webapp/content/scss/themes/_dark-variables.scss
  src/main/webapp/content/scss/themes/_default-variables.scss
Labels: bug, ready for review, client, small, user interface

#6684 `Programming exercises`: Fix saving manual assessment after looking at automatic feedback
  src/main/webapp/app/exercises/programming/assess/code-editor-tutor-assessment-container.component.ts
  src/main/webapp/app/exercises/shared/result/result.utils.ts
  src/test/javascript/spec/component/utils/result.utils.spec.ts
Labels: tests, client, component:Programming, priority:high, small, bugfix, ready to merge

#6701 `Communication`: Migrate exercise/lecture posts to messages
  src/main/resources/config/liquibase/changelog/20230601154000_changelog.xml
  src/main/resources/config/liquibase/master.xml
Labels: ready for review, database

#6619 `General`: Only show next date in exercise header
  src/main/webapp/app/complaints/complaint.service.ts
  src/main/webapp/app/exercises/shared/exercise-headers/header-exercise-page-with-details.component.html
  src/main/webapp/app/exercises/shared/exercise-headers/header-exercise-page-with-details.component.ts
  src/main/webapp/app/exercises/shared/exercise-info/exercise-info.component.html
  src/main/webapp/app/exercises/shared/exercise-info/exercise-info.component.ts
  src/main/webapp/app/exercises/shared/exercise-info/exercise-info.module.ts
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.html
  src/main/webapp/app/overview/exercise-details/course-exercise-details.module.ts
  src/main/webapp/i18n/de/student-dashboard.json
  src/main/webapp/i18n/en/student-dashboard.json
  src/test/javascript/spec/component/complaints/complaint.service.spec.ts
  src/test/javascript/spec/component/exercises/shared/headers/header-exercise-page-with-details.component.spec.ts
  src/test/javascript/spec/component/overview/exercise-details/course-exercise-details.component.spec.ts
  src/test/javascript/spec/component/shared/exercise-info.component.spec.ts
Labels: tests, client, user interface, ready to merge

#6717 `Development`: Extend and refactor authorization tests
  src/main/java/de/tum/in/www1/artemis/web/rest/ClientForwardResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/OAuth2JWKSResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/admin/AdminImprintResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/admin/AdminPrivacyStatementResource.java
  src/test/java/de/tum/in/www1/artemis/authorization/AuthorizationTest.java
  src/test/java/de/tum/in/www1/artemis/authorization/AuthorizationTestService.java
Labels: tests, server, ready to merge

#6734 `Development`: Fix flaky RepositoryIntegrationTest
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/RepositoryIntegrationTest.java
Labels: tests, code quality, small, ready to merge

#6723 `Programming exercises`: Do not display submission policy to student if not active
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.html
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.ts
  src/main/webapp/app/exercises/programming/participate/code-editor-student-container.component.html
  src/main/webapp/app/exercises/programming/participate/code-editor-student-container.component.ts
  src/main/webapp/app/exercises/shared/exercise-headers/header-exercise-page-with-details.component.html
  src/main/webapp/app/exercises/shared/exercise-headers/header-exercise-page-with-details.component.ts
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.ts
  src/test/javascript/spec/component/code-editor/code-editor-student-container.component.spec.ts
  src/test/javascript/spec/component/exercises/shared/headers/header-exercise-page-with-details.component.spec.ts
  src/test/javascript/spec/component/overview/exercise-details/course-exercise-details.component.spec.ts
Labels: tests, client, component:Programming, small, bugfix, ready to merge

#6725 `Programming exercises`: Improve layout of taskbar
  src/main/webapp/app/exercises/programming/shared/instructions-render/step-wizard/programming-exercise-instruction-step-wizard.scss
Labels: client, component:Programming, small, user interface, ready to merge

#6738 `Development`: Track number of server starts in server Integration tests
  .github/workflows/test.yml
  supporting_scripts/extract_number_of_server_starts.sh
Labels: small, ready to merge

#6739 `Development`: Refactor competency related domain objects
  src/main/java/de/tum/in/www1/artemis/domain/Course.java
  src/main/java/de/tum/in/www1/artemis/domain/Exercise.java
  src/main/java/de/tum/in/www1/artemis/domain/LearningObject.java
  src/main/java/de/tum/in/www1/artemis/domain/User.java
  src/main/java/de/tum/in/www1/artemis/domain/competency/Competency.java
  src/main/java/de/tum/in/www1/artemis/domain/competency/CompetencyProgress.java
  src/main/java/de/tum/in/www1/artemis/domain/competency/CompetencyRelation.java
  src/main/java/de/tum/in/www1/artemis/domain/competency/CompetencyTaxonomy.java
  src/main/java/de/tum/in/www1/artemis/domain/lecture/ExerciseUnit.java
  src/main/java/de/tum/in/www1/artemis/domain/lecture/LectureUnit.java
  src/main/java/de/tum/in/www1/artemis/repository/CompetencyProgressRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/CompetencyRelationRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/CompetencyRepository.java
  src/main/java/de/tum/in/www1/artemis/service/CompetencyProgressService.java
  src/main/java/de/tum/in/www1/artemis/service/CompetencyService.java
  src/main/java/de/tum/in/www1/artemis/service/CourseService.java
  src/main/java/de/tum/in/www1/artemis/service/LectureUnitService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CompetencyResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/util/PageUtil.java
  src/test/java/de/tum/in/www1/artemis/assessment/ParticipantScoreIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/competency/CompetencyUtilService.java
  src/test/java/de/tum/in/www1/artemis/course/CourseTestService.java
  src/test/java/de/tum/in/www1/artemis/lecture/CompetencyIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/lecture/LectureUtilService.java
Labels: tests, ready for review, server

#6746 `Tutorial groups`: Fix missing translation on tutorial group detail page
  src/main/webapp/i18n/en/tutorialGroups.json
Labels: ready for review, client, small, bugfix, component:TutorialGroups

#6743 `General`: Fix some typos, grammar errors and warnings in the documentation
  docs/dev/setup.rst
  docs/dev/system-design/localvc-localci/localvc-localci-system-design.rst
  docs/user/exams/exam_participation_checker.rst
  docs/user/exams/instructors_guide.rst
  docs/user/exercises/textual.rst
Labels: ready for review, documentation

#6733 `Programming exercises`: Add video setup guide for local version control and continuous integration
  docs/dev/setup/localci-localvc.rst
Labels: ready for review, documentation, maintainer-approved

#6751 `Development`: Update client dependencies
  jest.config.js
  package-lock.json
  package.json
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment.component.ts
  src/test/javascript/spec/helpers/utils/general.utils.ts
Labels: tests, ready for review, client

#6608 `Development`: Show correct git branch in Docker Images built by GitHub
  .github/workflows/build.yml
Labels: bugfix, ready to merge, maintainer-approved

#6750 `Lectures`: Automatically set name for attachments
  jest.config.js
  src/main/java/de/tum/in/www1/artemis/service/LectureService.java
  src/main/java/de/tum/in/www1/artemis/service/notifications/MailService.java
  src/main/webapp/app/lecture/lecture-attachments.component.html
  src/main/webapp/app/lecture/lecture-attachments.component.ts
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/attachment-unit-form/attachment-unit-form.component.ts
  src/main/webapp/app/lecture/lecture-update.component.ts
  src/main/webapp/i18n/de/lecture.json
  src/main/webapp/i18n/de/lectureUnit.json
  src/main/webapp/i18n/en/lecture.json
  src/main/webapp/i18n/en/lectureUnit.json
  src/test/javascript/spec/component/lecture-unit/attachment-unit/attachment-unit-form.component.spec.ts
  src/test/javascript/spec/component/lecture/lecture-attachments.component.spec.ts
Labels: tests, ready for review, server, client

#6704 `Communication`: Display improved edited hints
  src/main/java/de/tum/in/www1/artemis/domain/metis/Posting.java
  src/main/java/de/tum/in/www1/artemis/service/metis/AnswerPostService.java
  src/main/java/de/tum/in/www1/artemis/service/metis/ConversationMessagingService.java
  src/main/java/de/tum/in/www1/artemis/service/metis/PostService.java
  src/main/resources/config/liquibase/changelog/20230613000000_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/entities/metis/posting.model.ts
  src/main/webapp/app/shared/metis/answer-post/answer-post.component.html
  src/main/webapp/app/shared/metis/post/post.component.html
  src/main/webapp/app/shared/metis/posting-content/posting-content.component.html
  src/main/webapp/app/shared/metis/posting-content/posting-content.component.scss
  src/main/webapp/app/shared/metis/posting-content/posting-content.components.ts
  src/main/webapp/app/shared/metis/posting.service.ts
  src/main/webapp/i18n/de/metis.json
  src/main/webapp/i18n/en/metis.json
  src/test/cypress/e2e/course/CourseMessages.cy.ts
Labels: tests, ready for review, server, client, database, cypress, ready to merge, maintainer-approved

#6754 `Development`: Prevent usage of anonymous users
  src/main/java/de/tum/in/www1/artemis/security/SecurityUtils.java
Labels: ready for review, server, small

#6762 `Development`: Fix migration for postgres
  src/main/resources/config/liquibase/changelog/20230510004600_changelog.xml
Labels: ready for review, priority:high

#6757 `Development`: Fix locked state for programming exercises started after exam start
  src/main/java/de/tum/in/www1/artemis/service/ParticipationService.java
  src/main/java/de/tum/in/www1/artemis/service/exam/StudentExamService.java
  src/test/java/de/tum/in/www1/artemis/exam/ExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/participation/ParticipationUtilService.java
  src/test/java/de/tum/in/www1/artemis/service/ParticipationServiceTest.java
Labels: tests, ready for review, server

#6748 `Development`: Add exam database query count tests
  src/test/java/de/tum/in/www1/artemis/DatabaseQueryCountTest.java
  src/test/java/de/tum/in/www1/artemis/exam/ExamUtilService.java
Labels: tests, small, ready to merge

#6763 `Development`: Fix flaky server test ProgrammingSubmissionAndResultBitbucketBambooIntegrationTest
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingSubmissionAndResultBitbucketBambooIntegrationTest.java
Labels: tests, small, ready to merge

#6767 `General`: Fix translation in exercise overview
  src/main/webapp/app/overview/course-exercises/course-exercises.component.html
  src/main/webapp/i18n/de/student-dashboard.json
Labels: client, small, bugfix, ready to merge

#6740 `Communication`: Group exam, exercise and lecture channels in the messages tab
  src/main/java/de/tum/in/www1/artemis/domain/metis/conversation/Channel.java
  src/main/java/de/tum/in/www1/artemis/domain/metis/conversation/ChannelSubType.java
  src/main/java/de/tum/in/www1/artemis/service/metis/conversation/ConversationService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/metis/conversation/dtos/ChannelDTO.java
  src/main/webapp/app/entities/metis/conversation/channel.model.ts
  src/main/webapp/app/overview/course-conversations/dialogs/channels-overview-dialog/channels-overview-dialog.component.html
  src/main/webapp/app/overview/course-conversations/dialogs/channels-overview-dialog/channels-overview-dialog.component.ts
  src/main/webapp/app/overview/course-conversations/layout/conversation-selection-sidebar/conversation-selection-sidebar.component.html
  src/main/webapp/app/overview/course-conversations/layout/conversation-selection-sidebar/conversation-selection-sidebar.component.ts
  src/main/webapp/app/overview/course-conversations/layout/conversation-selection-sidebar/conversation-sidebar-section/conversation-sidebar-section.component.html
  src/main/webapp/app/overview/course-conversations/layout/conversation-selection-sidebar/conversation-sidebar-section/conversation-sidebar-section.component.ts
  src/main/webapp/i18n/de/conversation.json
  src/main/webapp/i18n/en/conversation.json
  src/test/cypress/e2e/course/CourseMessages.cy.ts
  src/test/cypress/support/pageobjects/course/CourseMessages.ts
  src/test/javascript/spec/component/overview/course-conversations/dialogs/channels-overview-dialog/channels-overview-dialog.component.spec.ts
  src/test/javascript/spec/component/overview/course-conversations/helpers/conversationExampleModels.ts
  src/test/javascript/spec/component/overview/course-conversations/layout/conversation-selection-sidebar/conversation-selection-sidebar.component.spec.ts
Labels: tests, server, client, cypress, ready to merge

#6714 `Iris`: Add connector to Pyris
  src/main/java/de/tum/in/www1/artemis/config/RestTemplateConfiguration.java
  src/main/java/de/tum/in/www1/artemis/config/auth/IrisAuthorizationInterceptor.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/iris/IrisConnectorException.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/iris/IrisConnectorService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/iris/IrisHealthIndicator.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/iris/IrisModel.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/iris/dto/IrisErrorResponseDTO.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/iris/dto/IrisMessageResponseDTO.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/iris/dto/IrisRequestDTO.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/iris/dto/IrisStatusDTO.java
  src/main/java/de/tum/in/www1/artemis/service/dto/OpenAIChatResponseDTO.java
  src/main/java/de/tum/in/www1/artemis/service/hestia/CodeHintService.java
  src/main/java/de/tum/in/www1/artemis/service/iris/IrisConstants.java
  src/main/java/de/tum/in/www1/artemis/service/iris/IrisMessageService.java
  src/main/java/de/tum/in/www1/artemis/service/iris/IrisModelService.java
  src/main/java/de/tum/in/www1/artemis/service/iris/IrisSessionService.java
  src/main/java/de/tum/in/www1/artemis/service/iris/IrisSettingsService.java
  src/main/java/de/tum/in/www1/artemis/service/iris/model/IrisGPT3_5Service.java
  src/main/java/de/tum/in/www1/artemis/service/iris/model/IrisModel.java
  src/main/java/de/tum/in/www1/artemis/service/iris/session/IrisChatSessionService.java
  src/main/java/de/tum/in/www1/artemis/service/iris/session/IrisHestiaSessionService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/iris/IrisMessageResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/iris/IrisSessionResource.java
  src/main/webapp/app/course/manage/course-management-tab-bar/course-management-tab-bar.component.ts
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.ts
  src/main/webapp/app/shared/layouts/navbar/navbar.component.ts
  src/test/java/de/tum/in/www1/artemis/connector/IrisRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/iris/AbstractIrisIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/iris/IrisHestiaIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/iris/IrisMessageIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/iris/IrisWebsocketTest.java
  src/test/java/de/tum/in/www1/artemis/iris/settings/IrisSettingsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/IrisUtilTestService.java
  src/test/resources/config/application-iris-gpt3_5.yml
  src/test/resources/config/application-iris.yml
Labels: tests, ready for review, server, client, component:Iris

#6694 `Iris`: Send feedback for each chat message
  src/main/webapp/app/entities/iris/iris-message.model.ts
  src/main/webapp/app/iris/exercise-chatbot/exercise-chatwidget/exercise-chat-widget.component.html
  src/main/webapp/app/iris/exercise-chatbot/exercise-chatwidget/exercise-chat-widget.component.scss
  src/main/webapp/app/iris/exercise-chatbot/exercise-chatwidget/exercise-chat-widget.component.ts
  src/main/webapp/app/iris/state-store.model.ts
  src/main/webapp/app/iris/state-store.service.ts
  src/test/javascript/spec/component/iris/state-store.service.spec.ts
  src/test/javascript/spec/component/iris/ui/exercise-chat-widget.component.spec.ts
Labels: tests, ready for review, client, component:Iris

#6749 `Development`: Fix flaky GroupNotificationServiceTest
  src/test/java/de/tum/in/www1/artemis/notification/GroupNotificationServiceTest.java
Labels: tests, small, ready to merge

#6718 `Development`: Removed deprecated file upload endpoint
  src/main/java/de/tum/in/www1/artemis/web/rest/FileResource.java
  src/main/webapp/app/shared/http/file-uploader.service.ts
  src/test/java/de/tum/in/www1/artemis/FileIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/course/CourseTestService.java
  src/test/java/de/tum/in/www1/artemis/exercise/fileuploadexercise/FileUploadSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/quizexercise/QuizExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/lecture/AttachmentResourceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/RequestUtilService.java
Labels: tests, server, client, ready to merge

#6781 `Development`: Improve use of verify in server tests
  src/test/java/de/tum/in/www1/artemis/connectors/Lti10ServiceTest.java
  src/test/java/de/tum/in/www1/artemis/connectors/Lti13ServiceTest.java
  src/test/java/de/tum/in/www1/artemis/connectors/LtiNewResultServiceTest.java
  src/test/java/de/tum/in/www1/artemis/connectors/LtiServiceTest.java
  src/test/java/de/tum/in/www1/artemis/exam/ExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exam/ExerciseGroupIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exam/StudentExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/GitlabServiceTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseIntegrationTestService.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseRepositoryServiceTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseScheduleServiceTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseTestCaseServiceTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingSubmissionAndResultBitbucketBambooIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/metis/AbstractConversationTest.java
  src/test/java/de/tum/in/www1/artemis/metis/PostIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/notification/GroupNotificationServiceTest.java
  src/test/java/de/tum/in/www1/artemis/notification/NotificationScheduleServiceTest.java
  src/test/java/de/tum/in/www1/artemis/notification/SingleUserNotificationServiceTest.java
  src/test/java/de/tum/in/www1/artemis/participation/ParticipationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/security/lti/Lti13TokenRetrieverTest.java
  src/test/java/de/tum/in/www1/artemis/service/EmailSummaryServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/GitlabCIServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/JenkinsJobServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/JenkinsServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/ParticipationTeamWebsocketServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/WeeklyEmailSummaryScheduleServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/notifications/ConversationNotificationServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/notifications/GeneralInstantNotificationServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/notifications/MailServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/notifications/push_notifications/AppleFirebasePushNotificationServiceTest.java
  src/test/java/de/tum/in/www1/artemis/tutorialgroups/TutorialGroupIntegrationTest.java
Labels: tests, code quality, ready to merge

#6780 `Development`: Remove presentation score from the course detail page
  src/main/webapp/app/course/manage/detail/course-detail.component.html
Labels: client, small, bugfix, ready to merge, maintainer-approved

#6771 `Exam mode`: Fix score rounding in feedback chart
  src/main/webapp/app/exercises/shared/feedback/chart/feedback-chart.service.ts
Labels: client, component:Exam Mode, small, bugfix, sentry-issue, ready to merge

#6770 `Tutorial groups`: Improve checklist consistency
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-groups-checklist/tutorial-groups-checklist.component.html
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-groups-checklist/tutorial-groups-checklist.component.ts
  src/main/webapp/app/exam/manage/exam-management.module.ts
  src/main/webapp/app/exam/manage/exams/exam-checklist-component/exam-checklist-check/exam-checklist-check.component.html
  src/main/webapp/app/exam/manage/exams/exam-checklist-component/exam-checklist.component.html
  src/main/webapp/app/shared/components/checklist-check.component.html
  src/main/webapp/app/shared/components/checklist-check.component.scss
  src/main/webapp/app/shared/components/checklist-check.component.ts
  src/main/webapp/app/shared/components/shared-component.module.ts
  src/test/javascript/spec/component/exam/manage/exams/exam-checklist-exercisegroup-table.component.spec.ts
  src/test/javascript/spec/component/exam/manage/exams/exam-detail.component.spec.ts
  src/test/javascript/spec/component/tutorial-groups/tutorial-groups-management/tutorial-groups/tutorial-groups-management/tutorial-groups-checklist.component.spec.ts
Labels: tests, client, small, ready to merge, component:TutorialGroups

#6756 `Development`: Fix flaky GitServiceTest
  src/test/java/de/tum/in/www1/artemis/util/GitUtilService.java
Labels: tests, ready to merge

#6445 `Development`: Unify test environments / comments for e2e tests
  src/main/webapp/app/course/manage/course-management-tab-bar/course-management-tab-bar.component.html
  src/main/webapp/app/course/manage/overview/course-management-card.component.html
  src/main/webapp/app/exam/participate/exam-cover/exam-participation-cover.component.html
  src/test/cypress/cypress.config.ts
  src/test/cypress/e2e/Login.cy.ts
  src/test/cypress/e2e/Logout.cy.ts
  src/test/cypress/e2e/course/CourseCommunication.cy.ts
  src/test/cypress/e2e/course/CourseExercise.cy.ts
  src/test/cypress/e2e/course/CourseManagement.cy.ts
  src/test/cypress/e2e/course/CourseMessages.cy.ts
  src/test/cypress/e2e/exam/ExamAssessment.cy.ts
  src/test/cypress/e2e/exam/ExamCreationDeletion.cy.ts
  src/test/cypress/e2e/exam/ExamDateVerification.cy.ts
  src/test/cypress/e2e/exam/ExamManagement.cy.ts
  src/test/cypress/e2e/exam/ExamParticipation.cy.ts
  src/test/cypress/e2e/exam/ExamTestRun.cy.ts
  src/test/cypress/e2e/exam/test-exam/TestExamCreationDeletion.cy.ts
  src/test/cypress/e2e/exam/test-exam/TestExamManagement.cy.ts
  src/test/cypress/e2e/exam/test-exam/TestExamParticipation.cy.ts
  src/test/cypress/e2e/exam/test-exam/TestExamTestRun.cy.ts
  src/test/cypress/e2e/exercises/ExerciseImport.cy.ts
  src/test/cypress/e2e/exercises/modeling/ModelingExerciseAssessment.cy.ts
  src/test/cypress/e2e/exercises/modeling/ModelingExerciseManagement.cy.ts
  src/test/cypress/e2e/exercises/modeling/ModelingExerciseParticipation.cy.ts
  src/test/cypress/e2e/exercises/programming/ProgrammingExerciseAssessment.cy.ts
  src/test/cypress/e2e/exercises/programming/ProgrammingExerciseManagement.cy.ts
  src/test/cypress/e2e/exercises/programming/ProgrammingExerciseParticipation.cy.ts
  src/test/cypress/e2e/exercises/programming/ProgrammingExerciseStaticCodeAnalysis.cy.ts
  src/test/cypress/e2e/exercises/quiz-exercise/QuizExerciseAssessment.cy.ts
  src/test/cypress/e2e/exercises/quiz-exercise/QuizExerciseDropLocation.cy.ts
  src/test/cypress/e2e/exercises/quiz-exercise/QuizExerciseManagement.cy.ts
  src/test/cypress/e2e/exercises/quiz-exercise/QuizExerciseParticipation.cy.ts
  src/test/cypress/e2e/exercises/text/TextExerciseAssessment.cy.ts
  src/test/cypress/e2e/exercises/text/TextExerciseManagement.cy.ts
  src/test/cypress/e2e/exercises/text/TextExerciseParticipation.cy.ts
  src/test/cypress/e2e/lecture/LectureManagement.cy.ts
  src/test/cypress/support/artemis.ts
  src/test/cypress/support/pageobjects/ArtemisPageobjects.ts
  src/test/cypress/support/pageobjects/NavigationBar.ts
  src/test/cypress/support/pageobjects/assessment/CourseAssessmentDashboardPage.ts
  src/test/cypress/support/pageobjects/assessment/ExerciseAssessmentDashboardPage.ts
  src/test/cypress/support/pageobjects/assessment/ModelingExerciseAssessmentEditor.ts
  src/test/cypress/support/pageobjects/course/CourseExercisePage.ts
  src/test/cypress/support/pageobjects/course/CourseManagementExercisesPage.ts
  src/test/cypress/support/pageobjects/course/CourseManagementPage.ts
  src/test/cypress/support/pageobjects/course/CourseOverviewPage.ts
  src/test/cypress/support/pageobjects/exam/ExamManagementPage.ts
  src/test/cypress/support/pageobjects/exam/ExamParticipation.ts
  src/test/cypress/support/pageobjects/exam/ExamTestRunPage.ts
  src/test/cypress/support/pageobjects/exam/StudentExamManagementPage.ts
  src/test/cypress/support/pageobjects/exercises/ExerciseResultPage.ts
  src/test/cypress/support/pageobjects/exercises/modeling/ModelingEditor.ts
  src/test/cypress/support/pageobjects/exercises/programming/OnlineEditorPage.ts
  src/test/cypress/support/pageobjects/lecture/LectureManagementPage.ts
  src/test/cypress/support/requests/CourseManagementRequests.ts
  src/test/cypress/support/utils.ts
Labels: tests, client, cypress, ready to merge

#6742 `Development`: Improve 'Print failed tests' GitHub Action
  .github/workflows/test.yml
Labels: small, ready to merge

#6669 `Learning analytics`: Allow instructors to flag competencies as optional
  src/main/java/de/tum/in/www1/artemis/domain/competency/Competency.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CompetencyResource.java
  src/main/resources/config/liquibase/changelog/20230605115500_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/course/competencies/competency-card/competency-card.component.html
  src/main/webapp/app/course/competencies/competency-form/competency-form.component.html
  src/main/webapp/app/course/competencies/competency-form/competency-form.component.ts
  src/main/webapp/app/course/competencies/competency-management/competency-management.component.html
  src/main/webapp/app/course/competencies/create-competency/create-competency.component.ts
  src/main/webapp/app/course/competencies/edit-competency/edit-competency.component.ts
  src/main/webapp/app/entities/competency.model.ts
  src/main/webapp/app/exercises/file-upload/manage/file-upload-exercise-update.component.ts
  src/main/webapp/app/overview/course-competencies/course-competencies-details.component.html
  src/main/webapp/app/shared/competency-selection/competency-selection.component.ts
  src/main/webapp/i18n/de/competency.json
  src/main/webapp/i18n/en/competency.json
  src/test/java/de/tum/in/www1/artemis/lecture/CompetencyIntegrationTest.java
  src/test/javascript/spec/component/competencies/competency-card.component.spec.ts
  src/test/javascript/spec/component/competencies/competency-form.component.spec.ts
  src/test/javascript/spec/component/competencies/create-competency.component.spec.ts
  src/test/javascript/spec/component/competencies/edit-competency.component.spec.ts
  src/test/javascript/spec/component/shared/competency-selection.component.spec.ts
Labels: tests, server, client, database, ready to merge

#6791 `Development`: Fix flaky file upload integration tests
  src/main/java/de/tum/in/www1/artemis/repository/CourseRepository.java
  src/test/java/de/tum/in/www1/artemis/exercise/fileuploadexercise/FileUploadExerciseUtilService.java
Labels: tests, server, ready to merge

#6793 `General`: Make markdown editor buttons more compact
  src/main/webapp/app/shared/markdown-editor/markdown-editor.component.html
  src/main/webapp/app/shared/markdown-editor/markdown-editor.component.scss
Labels: client, ready to merge

#6764 `Development`: Remove unused tracking of text exercise assessments via Athene
  src/main/java/de/tum/in/www1/artemis/security/jwt/AtheneTrackingTokenProvider.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextAssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextSubmissionResource.java
  src/main/webapp/app/entities/text-submission.model.ts
  src/main/webapp/app/exercises/text/assess/text-assessment.service.ts
  src/main/webapp/app/exercises/text/assess/text-submission-assessment.component.ts
  src/main/webapp/app/exercises/text/participate/text-submission.service.ts
  src/test/java/de/tum/in/www1/artemis/text/TextAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/RequestUtilService.java
  src/test/javascript/spec/service/text-assessment.service.spec.ts
  src/test/javascript/spec/service/text-submission.service.spec.ts
Labels: tests, server, client, component:Text, ready to merge, maintainer-approved

#6574 `Development`: Add docker compose setups as IntelliJ run configurations
  .idea/runConfigurations/Artemis__Prod_profile___MySQL__Nginx.xml
  .idea/runConfigurations/Atlassian_Stack.xml
  .idea/runConfigurations/GitLab__Jenkins__MySQL.xml
  .idea/runConfigurations/MySQL.xml
  .idea/runConfigurations/PostgreSQL.xml
Labels: ready to merge

#6772 `General`: Fix a rendering issue in the course management overview
  src/main/webapp/app/course/manage/overview/course-management-card.component.html
  src/main/webapp/app/course/manage/overview/course-management-card.component.ts
  src/main/webapp/app/course/manage/overview/course-management-card.scss
  src/main/webapp/app/course/manage/overview/course-management-overview-statistics.component.html
  src/main/webapp/app/course/manage/overview/course-management-overview-statistics.component.scss
  src/main/webapp/app/course/manage/overview/course-management-overview-statistics.component.ts
  src/test/javascript/spec/component/course/course-management-card.component.spec.ts
  src/test/javascript/spec/component/course/course-management-overview-statistics.component.spec.ts
Labels: tests, ready for review, client, bugfix, user interface

#6786 `Development`: Add new MySQL and Postgres migration check
  .bamboo/migration-check/cleanup.sh
  .bamboo/migration-check/execute.sh
  docker/artemis-migration-check-mysql.yml
  docker/artemis-migration-check-postgres.yml
  docker/artemis/config/cypress-postgres.env
  docker/artemis/config/migration-check.env
  docker/artemis/config/postgres.env
  docker/cypress-E2E-tests-postgres.yml
Labels: ready for review, docker

#6765 `Text exercises`: Remove affected submissions feedback warning and automatic feedback tracing
  docs/dev/setup.rst
  src/main/java/de/tum/in/www1/artemis/domain/TextBlock.java
  src/main/java/de/tum/in/www1/artemis/domain/enumeration/TextAssessmentEventType.java
  src/main/java/de/tum/in/www1/artemis/service/TextAssessmentService.java
  src/main/java/de/tum/in/www1/artemis/service/TextBlockService.java
  src/main/webapp/app/entities/text-assesment-event.model.ts
  src/main/webapp/app/entities/text-block.model.ts
  src/main/webapp/app/exercises/text/assess/textblock-feedback-editor/textblock-feedback-editor.component.html
  src/main/webapp/app/exercises/text/assess/textblock-feedback-editor/textblock-feedback-editor.component.scss
  src/main/webapp/app/exercises/text/assess/textblock-feedback-editor/textblock-feedback-editor.component.ts
  src/main/webapp/content/scss/themes/_dark-variables.scss
  src/main/webapp/content/scss/themes/_default-variables.scss
  src/main/webapp/i18n/de/textAssessment.json
  src/main/webapp/i18n/en/textAssessment.json
  src/test/java/de/tum/in/www1/artemis/exercise/textexercise/TextExerciseFactory.java
  src/test/java/de/tum/in/www1/artemis/exercise/textexercise/TextExerciseUtilService.java
  src/test/java/de/tum/in/www1/artemis/text/TextAssessmentIntegrationTest.java
  src/test/javascript/spec/component/text-submission-assessment/textblock-feedback-editor.component.spec.ts
  src/test/javascript/spec/service/text-assessment-analytics.service.spec.ts
  src/test/k6/requests/text.js
Labels: tests, server, client, documentation, component:Text, ready to merge, maintainer-approved

#6777 `Communication`: Initialize channel names for exercises, lectures, and exams on import
  src/main/java/de/tum/in/www1/artemis/repository/metis/conversation/ChannelRepository.java
  src/main/java/de/tum/in/www1/artemis/service/metis/conversation/ChannelService.java
  src/main/java/de/tum/in/www1/artemis/service/tutorialgroups/TutorialGroupChannelManagementService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/LectureResource.java
  src/main/webapp/app/exam/manage/exams/exam-update.component.html
  src/main/webapp/app/exercises/file-upload/manage/file-upload-exercise-update.component.html
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise-update.component.html
  src/main/webapp/app/exercises/programming/manage/update/update-components/programming-exercise-information.component.html
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise-detail.component.html
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise-update.component.html
  src/main/webapp/app/lecture/lecture-update.component.html
  src/main/webapp/app/lecture/wizard-mode/lecture-wizard-title.component.html
  src/main/webapp/app/shared/form/title-channel-name/title-channel-name.component.ts
  src/test/java/de/tum/in/www1/artemis/lecture/LectureIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/metis/ChannelIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/post/ConversationUtilService.java
  src/test/javascript/spec/component/shared/form/title-channel-name.component.spec.ts
Labels: tests, server, client, ready to merge

#6775 `Assessment`: Show number of filtered entries in scores table
  src/main/webapp/app/exercises/shared/exercise-scores/exercise-scores.component.html
  src/main/webapp/app/exercises/shared/exercise-scores/exercise-scores.component.ts
  src/main/webapp/i18n/de/exercise.json
  src/main/webapp/i18n/en/exercise.json
  src/test/javascript/spec/component/exercises/shared/exercise-scores.component.spec.ts
Labels: tests, ready for review, client, user interface, ready to merge, maintainer-approved

#6753 `Tutorial Groups`: Ensure consistent button styles in tutorial group creation view
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-groups/crud/tutorial-group-form/tutorial-group-form.component.html
  src/main/webapp/content/scss/themes/theme-default.scss
Labels: client, small

#6730 `Development`: Fix flaky quiz cache integration test
  src/main/java/de/tum/in/www1/artemis/service/scheduled/cache/CacheHandler.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/cache/monitoring/ExamCache.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/cache/monitoring/ExamMonitoringScheduleService.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/cache/quiz/QuizCache.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/cache/quiz/QuizExerciseDistributedCache.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/cache/quiz/QuizScheduleService.java
  src/test/java/de/tum/in/www1/artemis/exercise/quizexercise/QuizExerciseUtilService.java
  src/test/java/de/tum/in/www1/artemis/exercise/quizexercise/QuizSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/scheduled/cache/quiz/QuizCacheTest.java
  src/test/java/de/tum/in/www1/artemis/util/AbstractArtemisIntegrationTest.java
Labels: tests, ready for review, server

#6661 `Assessment`: Avoid sending results before the assessment due date has passed
  src/main/java/de/tum/in/www1/artemis/domain/BaseExercise.java
  src/main/java/de/tum/in/www1/artemis/domain/Exercise.java
  src/main/java/de/tum/in/www1/artemis/domain/ProgrammingExercise.java
  src/main/java/de/tum/in/www1/artemis/service/AssessmentService.java
  src/main/java/de/tum/in/www1/artemis/service/AuthorizationCheckService.java
  src/main/java/de/tum/in/www1/artemis/service/CourseScoreCalculationService.java
  src/main/java/de/tum/in/www1/artemis/service/ExerciseDateService.java
  src/main/java/de/tum/in/www1/artemis/service/ExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/ResultService.java
  src/main/java/de/tum/in/www1/artemis/service/SubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/exam/ExamService.java
  src/main/java/de/tum/in/www1/artemis/service/notifications/GroupNotificationScheduleService.java
  src/main/java/de/tum/in/www1/artemis/service/notifications/SingleUserNotificationService.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/NotificationScheduleService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/AssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExerciseScoresChartResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/FileUploadAssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/FileUploadSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingAssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ResultResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextExerciseResource.java
  src/test/java/de/tum/in/www1/artemis/connectors/Lti13ServiceTest.java
  src/test/java/de/tum/in/www1/artemis/domain/ExerciseTest.java
  src/test/java/de/tum/in/www1/artemis/exam/StudentExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/ExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/fileuploadexercise/FileUploadSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseIntegrationTestService.java
  src/test/java/de/tum/in/www1/artemis/service/ExerciseDateServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/ResultServiceTest.java
  src/test/java/de/tum/in/www1/artemis/text/TextAssessmentIntegrationTest.java
Labels: tests, ready for review, server

#6795 `Development`: Fix flaky ExerciseGroupIntegrationTest
  src/test/java/de/tum/in/www1/artemis/exam/ExamFactory.java
  src/test/java/de/tum/in/www1/artemis/exam/ExamUtilService.java
  src/test/java/de/tum/in/www1/artemis/exam/ExerciseGroupIntegrationTest.java
Labels: tests, ready for review, small
