Repository ls1intum/Artemis, pull requests merged in 2023-05, with the labels that each got.

#6461 `Grading`: Allow tutors to grade presentations
  artemis.jh
  src/main/java/de/tum/in/www1/artemis/domain/GradingScale.java
  src/main/java/de/tum/in/www1/artemis/domain/participation/StudentParticipation.java
  src/main/java/de/tum/in/www1/artemis/service/GradingScaleService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/GradeStepResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/GradingScaleResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ParticipationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/GradeStepsDTO.java
  src/main/resources/config/liquibase/changelog/20230419102000_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/entities/grade-step.model.ts
  src/main/webapp/app/entities/grading-scale.model.ts
  src/main/webapp/app/exercises/shared/participation/participation.component.html
  src/main/webapp/app/exercises/shared/participation/participation.component.ts
  src/main/webapp/app/exercises/shared/presentation-score/presentation-score.component.ts
  src/main/webapp/app/grading-system/base-grading-system/base-grading-system.component.ts
  src/main/webapp/app/grading-system/grading-key-overview/grading-key-overview.component.ts
  src/main/webapp/app/grading-system/grading-system-presentations/grading-system-presentations.component.html
  src/main/webapp/app/grading-system/grading-system-presentations/grading-system-presentations.component.scss
  src/main/webapp/app/grading-system/grading-system-presentations/grading-system-presentations.component.ts
  src/main/webapp/app/grading-system/grading-system.component.html
  src/main/webapp/app/grading-system/grading-system.module.ts
  src/main/webapp/app/grading-system/interval-grading-system/interval-grading-system.component.html
  src/main/webapp/i18n/de/course.json
  src/main/webapp/i18n/de/gradingSystem.json
  src/main/webapp/i18n/de/participation.json
  src/main/webapp/i18n/de/student-dashboard.json
  src/main/webapp/i18n/en/course.json
  src/main/webapp/i18n/en/gradingSystem.json
  src/main/webapp/i18n/en/participation.json
  src/main/webapp/i18n/en/student-dashboard.json
  src/test/java/de/tum/in/www1/artemis/ParticipationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/javascript/spec/component/grading-system/detailed-grading-system.component.spec.ts
  src/test/javascript/spec/component/grading-system/grading-system-presentations.component.spec.ts
  src/test/javascript/spec/component/participation/participation.component.spec.ts
  src/test/javascript/spec/component/presentation-score/presentation-score.component.spec.ts
Labels: tests, server, client, database, ready to merge

#6473 `Development`: Change client and server URLs replacing learning goal with competency
  src/main/java/de/tum/in/www1/artemis/web/rest/LearningGoalResource.java
  src/main/webapp/app/app-routing.module.ts
  src/main/webapp/app/course/learning-goals/edit-learning-goal/edit-learning-goal.component.ts
  src/main/webapp/app/course/learning-goals/learning-goal-card/learning-goal-card.component.html
  src/main/webapp/app/course/learning-goals/learning-goal-management/learning-goal-management.component.html
  src/main/webapp/app/course/learning-goals/learning-goal-paging.service.ts
  src/main/webapp/app/course/learning-goals/learning-goals-popover/learning-goals-popover.component.ts
  src/main/webapp/app/course/learning-goals/learningGoal.service.ts
  src/main/webapp/app/course/manage/course-management.route.ts
  src/main/webapp/app/course/manage/detail/course-detail.component.html
  src/main/webapp/app/course/manage/overview/course-management-card.component.html
  src/main/webapp/app/overview/course-learning-goals/course-learning-goals-details.component.html
  src/main/webapp/app/overview/course-learning-goals/course-learning-goals-details.component.ts
  src/main/webapp/app/overview/course-overview.component.html
  src/main/webapp/app/overview/courses-routing.module.ts
  src/main/webapp/app/shared/layouts/navbar/entity-title.service.ts
  src/main/webapp/app/shared/layouts/navbar/navbar.component.ts
  src/test/java/de/tum/in/www1/artemis/lecture/LearningGoalIntegrationTest.java
  src/test/javascript/spec/component/learning-goals/learning-goal-popover.component.spec.ts
  src/test/javascript/spec/component/overview/course-learning-goals/course-learning-goals-details.component.spec.ts
Labels: tests, server, client, ready to merge

#6386 `Assessment`: Support long feedback messages
  src/main/java/de/tum/in/www1/artemis/config/Constants.java
  src/main/java/de/tum/in/www1/artemis/domain/Feedback.java
  src/main/java/de/tum/in/www1/artemis/domain/LongFeedbackText.java
  src/main/java/de/tum/in/www1/artemis/repository/FeedbackRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/LongFeedbackTextRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/StaticCodeAnalysisCategoryRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ExerciseImportService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/LongFeedbackTextResource.java
  src/main/resources/config/liquibase/changelog/20230325100000_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/exercises/shared/feedback/collapse/feedback-collapse.component.html
  src/main/webapp/app/exercises/shared/feedback/collapse/feedback-collapse.component.ts
  src/main/webapp/app/exercises/shared/feedback/feedback.component.ts
  src/main/webapp/app/exercises/shared/feedback/feedback.module.ts
  src/main/webapp/app/exercises/shared/feedback/feedback.service.ts
  src/main/webapp/app/exercises/shared/feedback/item/feedback-item-service.ts
  src/main/webapp/app/exercises/shared/feedback/item/feedback-item.ts
  src/main/webapp/app/exercises/shared/feedback/item/programming-feedback-item.service.ts
  src/main/webapp/app/exercises/shared/feedback/long-feedback-text.service.ts
  src/main/webapp/app/exercises/shared/feedback/node/feedback-node.component.html
  src/main/webapp/app/exercises/shared/feedback/text/feedback-text.component.html
  src/main/webapp/app/exercises/shared/feedback/text/feedback-text.component.ts
  src/main/webapp/app/exercises/shared/feedback/text/feedback-text.scss
  src/main/webapp/i18n/de/feedback.json
  src/main/webapp/i18n/en/feedback.json
  src/test/java/de/tum/in/www1/artemis/LongFeedbackResourceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/assessment/ResultServiceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/domain/FeedbackTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseIntegrationTestService.java
  src/test/java/de/tum/in/www1/artemis/repository/FeedbackRepositoryTest.java
  src/test/javascript/spec/component/shared/feedback/feedback-collapse.component.spec.ts
  src/test/javascript/spec/component/shared/feedback/feedback-text.component.spec.ts
  src/test/javascript/spec/component/shared/feedback/feedback.component.spec.ts
  src/test/javascript/spec/service/feedback/feedback-item-service.spec.ts
  src/test/javascript/spec/service/feedback/feedback-service.spec.ts
  src/test/javascript/spec/service/feedback/programming-feedback-item.service.spec.ts
Labels: feature, tests, server, client, database, priority:high, ready to merge

#6491 `Development`: Improve course client test coverage
  src/test/javascript/spec/component/course-registration/course-registration.component.spec.ts
  src/test/javascript/spec/component/course/course-overview.component.spec.ts
  src/test/javascript/spec/service/alert.service.spec.ts
Labels: tests, ready for review

#6514 `Development`: Update cypress to 12.11.0
  src/test/cypress/package-lock.json
  src/test/cypress/package.json
Labels: tests, ready for review, cypress

#6472 `Development`: Fix flaky e2e exam assessment tests
  docker/cypress-E2E-tests.yml
  src/main/webapp/app/course/manage/detail/course-detail.component.html
  src/main/webapp/app/exam/manage/student-exams/student-exam-detail.component.html
  src/main/webapp/app/exam/manage/student-exams/student-exams.component.html
  src/test/cypress/e2e/Logout.cy.ts
  src/test/cypress/e2e/exam/ExamAssessment.cy.ts
  src/test/cypress/e2e/exam/ExamParticipation.cy.ts
  src/test/cypress/e2e/exercises/modeling/ModelingExerciseParticipation.cy.ts
  src/test/cypress/e2e/exercises/text/TextExerciseParticipation.cy.ts
  src/test/cypress/support/pageobjects/course/CourseManagementPage.ts
  src/test/cypress/support/pageobjects/course/CourseOverviewPage.ts
  src/test/cypress/support/pageobjects/exam/ExamManagementPage.ts
Labels: tests, client, cypress

#6523 `General:` Fix duplication of start date in exercise detail view
  src/main/webapp/app/exercises/shared/exercise/exercise-details/exercise-details.component.html
Labels: client, small, bugfix, user interface, ready to merge

#6507 `Development`: Fix a flaky test case in the ExamIntegrationTest
  src/test/java/de/tum/in/www1/artemis/exam/ExamIntegrationTest.java
Labels: tests, ready to merge

#6482 `Programming exercises`: Change Docker image for Swift exercises
  docs/dev/docker.rst
  src/main/resources/config/application.yml
Labels: enhancement, documentation, component:Programming, build system, ready to merge, docker

#6479 `General`: Align the top position of both columns in the settings menu
  src/main/webapp/app/shared/user-settings/notification-settings/notification-settings.component.html
  src/main/webapp/app/shared/user-settings/user-settings-container/user-settings-container.component.html
Labels: client, ready to merge

#6508 `Development`: Refactor student actions buttons checks
  src/main/webapp/app/overview/exercise-details/exercise-details-student-actions.component.html
  src/main/webapp/app/overview/exercise-details/exercise-details-student-actions.component.ts
  src/test/javascript/spec/component/overview/exercise-details/exercise-details-student-actions.component.spec.ts
Labels: tests, client, small, ready to merge

#6515 `Assessment`: Fix an issue during the conversion of dates in the submission result component
  src/main/webapp/app/exercises/shared/submission/submission.service.ts
  src/main/webapp/app/exercises/text/participate/text-editor.service.ts
Labels: client, small, bugfix, sentry-issue, ready to merge

#6502 `Development`: Fix inconsistent field name in conversation API
  src/main/webapp/app/entities/metis/conversation/conversation-websocket-dto.model.ts
  src/main/webapp/app/shared/metis/metis-conversation.service.ts
  src/test/javascript/spec/component/overview/course-conversations/services/metis-conversation.service.spec.ts
Labels: tests, client, lock:artemistest5, small, bugfix, ready to merge

#6499 `Assessment`: Fix an issue with the export dropdown in the exercise scores table
  src/main/webapp/app/exercises/programming/assess/repo-export/programming-assessment-repo-export-button.component.ts
  src/main/webapp/app/exercises/shared/exercise-scores/exercise-scores.component.html
  src/main/webapp/app/exercises/shared/exercise-scores/exercise-scores.component.ts
Labels: client, small, bugfix, user interface, ready to merge

#6462 `Development`: Fix flaky server test for student exams
  src/test/java/de/tum/in/www1/artemis/exam/StudentExamIntegrationTest.java
Labels: tests, small, ready to merge

#6533 `Communication`: Cleanup conversation after a course is deleted
  src/main/java/de/tum/in/www1/artemis/repository/metis/conversation/ConversationRepository.java
  src/main/java/de/tum/in/www1/artemis/web/rest/metis/ConversationMessageResource.java
  src/main/resources/config/application-prod.yml
  src/main/resources/config/application.yml
  src/main/resources/config/liquibase/changelog/20230504123000_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/test/java/de/tum/in/www1/artemis/util/CourseTestService.java
Labels: tests, ready for review, server, database, ready to merge

#6398 `Programming exercises`: Combine reset actions into one button
  src/main/java/de/tum/in/www1/artemis/config/Constants.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/BambooInfoContributor.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bitbucket/BitbucketInfoContributor.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/gitlab/GitlabInfoContributor.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/gitlabci/GitLabCIInfoContributor.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsInfoContributor.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseResourceEndpoints.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/ProgrammingExerciseResetOptionsDTO.java
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.html
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.ts
  src/main/webapp/app/exercises/programming/manage/programming-exercise.component.html
  src/main/webapp/app/exercises/programming/manage/programming-exercise.component.ts
  src/main/webapp/app/exercises/programming/manage/reset/programming-exercise-reset-button.directive.ts
  src/main/webapp/app/exercises/programming/manage/reset/programming-exercise-reset-dialog.component.html
  src/main/webapp/app/exercises/programming/manage/reset/programming-exercise-reset-dialog.component.ts
  src/main/webapp/app/exercises/programming/manage/services/programming-exercise.service.ts
  src/main/webapp/app/exercises/programming/shared/programming-exercise.module.ts
  src/main/webapp/app/exercises/shared/exercise/exercise.service.ts
  src/main/webapp/app/shared/layouts/profiles/profile-info.model.ts
  src/main/webapp/app/shared/layouts/profiles/profile.service.ts
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/global.json
  src/main/webapp/i18n/en/programmingExercise.json
  src/test/java/de/tum/in/www1/artemis/ExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ManagementResourceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseIntegrationBambooBitbucketJiraTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseIntegrationJenkinsGitlabTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseIntegrationTestService.java
  src/test/javascript/spec/component/programming-exercise/programming-exercise-reset-dialog.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise.component.spec.ts
  src/test/javascript/spec/service/exercise.service.spec.ts
Labels: tests, server, client, ready to merge

#6488 `Development`: Remove flake detection
  .bamboo/E2E-tests-with-flake-detection/cleanup.sh
  .bamboo/E2E-tests-with-flake-detection/execute.sh
  .gitignore
  docker/cypress-E2E-tests-coverage-override.yml
  docker/cypress/coverage.Dockerfile
  docker/cypress/cypress.Dockerfile
  docs/dev/cypress.rst
  src/test/cypress/cypress.config.ts
  src/test/cypress/package-lock.json
  src/test/cypress/package.json
Labels: tests, ready for review, documentation, small, cypress

#6506 `Development`: Fix flaky tests in PostIntegrationTest
  src/test/java/de/tum/in/www1/artemis/metis/PostIntegrationTest.java
Labels: tests, small, ready to merge

#6534 `Programming exercises`: Improve success message of resetting repository
  src/main/webapp/i18n/de/exercise-actions.json
  src/main/webapp/i18n/en/exercise-actions.json
Labels: client, small, user interface, ready to merge

#6543 `Development`: Fix an issue during user creation after client dependency updates
  src/main/webapp/app/admin/user-management/user-management-update.component.ts
  src/test/javascript/spec/component/admin/user-management-update.component.spec.ts
Labels: tests, ready for review, client, small, bugfix

#6518 `Programming exercises`: Fix an issue in which the submission policy was not enforced
  src/main/java/de/tum/in/www1/artemis/service/SubmissionPolicyService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/repository/RepositoryProgrammingExerciseParticipationResource.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/RepositoryIntegrationTest.java
Labels: tests, server, component:Programming, lock:artemistest5, small, ready to merge

#6532 `Development`: Improve server test assertions
  src/test/java/de/tum/in/www1/artemis/assessment/ExerciseScoresChartIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/assessment/FeedbackRepositoryTest.java
  src/test/java/de/tum/in/www1/artemis/domain/ExerciseTest.java
  src/test/java/de/tum/in/www1/artemis/domain/ShortAnswerSubmittedTextTest.java
  src/test/java/de/tum/in/www1/artemis/domain/notification/SingleUserNotificationFactoryTest.java
  src/test/java/de/tum/in/www1/artemis/exam/ExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exam/ExamUserIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exam/StudentExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/hestia/ExerciseHintIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/metis/AnswerPostIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/metis/MessageIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseGradingServiceTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseIntegrationTestService.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseTestCaseServiceTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseTestService.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingSubmissionAndResultGitlabJenkinsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/quiz/QuizSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/security/OAuth2JWKSServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/CourseScoreCalculationServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/LectureServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/SubmissionServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/connectors/jenkins/jobs/JenkinsJobPermissionsUtilsTest.java
  src/test/java/de/tum/in/www1/artemis/tutorialgroups/TutorialGroupIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/CourseTestService.java
Labels: tests, small, ready to merge

#6400 `Learning analytics`: Prevent circular relations between learning goals
  src/main/java/de/tum/in/www1/artemis/repository/LearningGoalRelationRepository.java
  src/main/java/de/tum/in/www1/artemis/service/LearningGoalService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/LearningGoalResource.java
  src/main/webapp/app/course/learning-goals/learning-goal-management/learning-goal-management.component.html
  src/main/webapp/app/course/learning-goals/learning-goal-management/learning-goal-management.component.scss
  src/main/webapp/app/course/learning-goals/learning-goal-management/learning-goal-management.component.ts
  src/main/webapp/app/entities/learningGoal.model.ts
  src/main/webapp/i18n/de/learningGoal.json
  src/main/webapp/i18n/en/learningGoal.json
  src/test/java/de/tum/in/www1/artemis/lecture/LearningGoalIntegrationTest.java
  src/test/javascript/spec/component/learning-goals/learning-goal-management.component.spec.ts
Labels: enhancement, tests, server, client, ready to merge, component:AdaptiveLearning

#6503 `Notifications`: Do not send a notification when a user was removed from a conversation in case this notification is disabled
  src/main/java/de/tum/in/www1/artemis/service/notifications/NotificationSettingsService.java
Labels: server, ready to merge

#6463 `Exam mode`: Improve usability of attendance check
  src/main/java/de/tum/in/www1/artemis/repository/ExamUserRepository.java
  src/main/webapp/app/entities/exam-user.model.ts
  src/main/webapp/app/exam/manage/students/exam-students.component.html
  src/main/webapp/app/exam/manage/students/exam-students.component.ts
  src/main/webapp/app/exam/manage/students/verify-attendance-check/exam-students-attendance-check.component.html
  src/main/webapp/app/exam/manage/students/verify-attendance-check/exam-students-attendance-check.component.ts
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/en/exam.json
  src/test/javascript/spec/component/exam/manage/exam-students-attendance-check.component.spec.ts
  src/test/javascript/spec/component/exam/manage/exam-students.component.spec.ts
Labels: tests, server, client, ready to merge

#6545 `Development`: Fix cypress linting issues
  src/test/cypress/cypress.config.ts
  src/test/cypress/e2e/exercises/quiz-exercise/QuizExerciseParticipation.cy.ts
  src/test/cypress/support/pageobjects/exercises/modeling/ModelingEditor.ts
  src/test/cypress/support/pageobjects/exercises/quiz/DragAndDropQuiz.ts
Labels: tests, ready for review, cypress

#6547 `Development`: Fix an issue in the generation of the documentation
  docs/requirements.txt
Labels: ready for review, documentation

#6550 `Development`: Fix a migration to make it Postgres compatible
  src/main/resources/config/liquibase/changelog/20230504123000_changelog.xml
  src/main/resources/config/liquibase/changelog/20230508114600_changelog.xml
  src/main/resources/config/liquibase/master.xml
Labels: ready for review, database

#6460 `General`: Use short result string as default
  src/main/webapp/app/exam/participate/exercises/programming/programming-exam-submission.component.html
  src/main/webapp/app/exercises/programming/assess/code-editor-tutor-assessment-container.component.html
  src/main/webapp/app/exercises/programming/manage/code-editor/code-editor-instructor-and-editor-container.component.html
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.html
  src/main/webapp/app/exercises/programming/participate/code-editor-student-container.component.html
  src/main/webapp/app/exercises/shared/result/result.component.ts
  src/main/webapp/app/exercises/shared/result/updating-result.component.ts
  src/main/webapp/app/orion/management/code-editor-instructor-and-editor-orion-container.component.html
  src/main/webapp/app/overview/course-exercises/course-exercise-row.component.html
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.html
  src/main/webapp/app/overview/result-history/result-history.component.html
  src/main/webapp/app/overview/submission-result-status.component.ts
  src/test/cypress/e2e/exam/ExamAssessment.cy.ts
  src/test/javascript/spec/component/exercises/shared/result.spec.ts
Labels: tests, client, small, cypress, user interface, ready to merge

#6493 `Assessment`: Fix link in scores page for multiple assessment rounds
  src/main/java/de/tum/in/www1/artemis/repository/StudentParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ParticipationResource.java
  src/main/webapp/app/exam/manage/exam-management.route.ts
  src/main/webapp/app/exercises/shared/exercise-scores/exercise-scores.component.ts
  src/main/webapp/app/exercises/shared/exercise/exercise.utils.ts
  src/test/java/de/tum/in/www1/artemis/ParticipationIntegrationTest.java
  src/test/javascript/spec/component/exercises/shared/exercise-scores.component.spec.ts
  src/test/javascript/spec/component/utils/exercise.utils.spec.ts
Labels: tests, server, client, priority:high, small, bugfix, ready to merge

#6551 `Programming exercises`: Ignore compiled files in Java exercise repositories
  src/main/resources/templates/java/exercise/git.ignore.file
  src/main/resources/templates/java/gradle_gradle/exercise/git.ignore.file
  src/main/resources/templates/java/gradle_gradle/solution/git.ignore.file
  src/main/resources/templates/java/plain_gradle/exercise/git.ignore.file
  src/main/resources/templates/java/plain_gradle/solution/git.ignore.file
  src/main/resources/templates/java/solution/git.ignore.file
  src/main/resources/templates/java/test/gradle/projectTemplate/git.ignore.file
  src/main/resources/templates/java/test/maven/projectTemplate/git.ignore.file
  src/main/resources/templates/kotlin/exercise/git.ignore.file
  src/main/resources/templates/kotlin/solution/git.ignore.file
  src/main/resources/templates/kotlin/test/maven/projectTemplate/git.ignore.file
Labels: enhancement, ready for review, component:Programming, template, small

#6431 `General`: Improve navigation in course management
  src/main/webapp/app/course/course-scores/course-scores-routing.module.ts
  src/main/webapp/app/course/dashboards/assessment-dashboard/assessment-dashboard.route.ts
  src/main/webapp/app/course/manage/course-management-tab-bar/course-management-tab-bar.component.html
  src/main/webapp/app/course/manage/course-management-tab-bar/course-management-tab-bar.component.scss
  src/main/webapp/app/course/manage/course-management-tab-bar/course-management-tab-bar.component.ts
  src/main/webapp/app/course/manage/course-management.module.ts
  src/main/webapp/app/course/manage/course-management.route.ts
  src/main/webapp/app/course/manage/course-update.component.ts
  src/main/webapp/app/course/manage/detail/course-detail.component.html
  src/main/webapp/app/course/manage/detail/course-detail.component.scss
  src/main/webapp/app/course/manage/detail/course-detail.component.ts
  src/main/webapp/app/lecture/lecture.route.ts
  src/test/javascript/spec/component/course/course-management-tab-bar.component.spec.ts
  src/test/javascript/spec/component/course/course-update.component.spec.ts
  src/test/javascript/spec/component/course/detail/course-detail.component.spec.ts
Labels: tests, client, ready to merge

#6553 `Development`: Fix cypress tests
  src/test/cypress/e2e/exam/ExamAssessment.cy.ts
Labels: tests, cypress

#6407 `General`: Allow system admins to edit the privacy statement in the user interface
  .gitignore
  docs/dev/setup.rst
  docs/dev/setup/privacy-statement.rst
  src/main/java/de/tum/in/www1/artemis/config/SecurityConfiguration.java
  src/main/java/de/tum/in/www1/artemis/domain/PrivacyStatement.java
  src/main/java/de/tum/in/www1/artemis/domain/PrivacyStatementLanguage.java
  src/main/java/de/tum/in/www1/artemis/service/PrivacyStatementService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/PrivacyStatementResource.java
  src/main/resources/config/application-artemis.yml
  src/main/resources/public/content/privacy_statement.html
  src/main/webapp/app/admin/admin.route.ts
  src/main/webapp/app/admin/privacy-statement/privacy-statement-update/privacy-statement-update-routing.module.ts
  src/main/webapp/app/admin/privacy-statement/privacy-statement-update/privacy-statement-update.component.html
  src/main/webapp/app/admin/privacy-statement/privacy-statement-update/privacy-statement-update.component.scss
  src/main/webapp/app/admin/privacy-statement/privacy-statement-update/privacy-statement-update.component.ts
  src/main/webapp/app/admin/privacy-statement/privacy-statement-update/privacy-statement-update.module.ts
  src/main/webapp/app/admin/privacy-statement/unsaved-changes-warning/privacy-statement-unsaved-changes-warning.component.html
  src/main/webapp/app/admin/privacy-statement/unsaved-changes-warning/privacy-statement-unsaved-changes-warning.component.scss
  src/main/webapp/app/admin/privacy-statement/unsaved-changes-warning/privacy-statement-unsaved-changes-warning.component.ts
  src/main/webapp/app/app-routing.module.ts
  src/main/webapp/app/app.module.ts
  src/main/webapp/app/core/legal/imprint-routing.module.ts
  src/main/webapp/app/core/legal/imprint.module.ts
  src/main/webapp/app/core/legal/legal.module.ts
  src/main/webapp/app/core/legal/privacy-routing.module.ts
  src/main/webapp/app/core/legal/privacy.component.ts
  src/main/webapp/app/core/legal/privacy.module.ts
  src/main/webapp/app/entities/privacy-statement.model.ts
  src/main/webapp/app/shared/layouts/navbar/navbar.component.html
  src/main/webapp/app/shared/layouts/navbar/navbar.component.ts
  src/main/webapp/app/shared/markdown-editor/markdown-editor.component.html
  src/main/webapp/app/shared/markdown-editor/markdown-editor.component.scss
  src/main/webapp/app/shared/markdown-editor/markdown-editor.component.ts
  src/main/webapp/app/shared/service/privacy-statement.service.ts
  src/main/webapp/i18n/de/error.json
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/de/privacyStatement.json
  src/main/webapp/i18n/en/error.json
  src/main/webapp/i18n/en/global.json
  src/main/webapp/i18n/en/privacyStatement.json
  src/test/java/de/tum/in/www1/artemis/PrivacyStatementResourceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/RequestUtilService.java
  src/test/javascript/spec/component/admin/privacy-statement-unsaved-changes-warning.component.spec.ts
  src/test/javascript/spec/component/admin/privacy-statement-update.component.spec.ts
  src/test/javascript/spec/component/admin/privacy-statement.service.spec.ts
  src/test/javascript/spec/component/legal/privacy.component.spec.ts
  src/test/resources/config/application-artemis.yml
Labels: tests, server, client, documentation, ready to merge

#6426 `Development`: Refactor quiz exercise service
  src/main/java/de/tum/in/www1/artemis/domain/quiz/AnswerCounter.java
  src/main/java/de/tum/in/www1/artemis/domain/quiz/AnswerOption.java
  src/main/java/de/tum/in/www1/artemis/domain/quiz/DragAndDropMapping.java
  src/main/java/de/tum/in/www1/artemis/domain/quiz/DragAndDropQuestion.java
  src/main/java/de/tum/in/www1/artemis/domain/quiz/DragItem.java
  src/main/java/de/tum/in/www1/artemis/domain/quiz/DropLocation.java
  src/main/java/de/tum/in/www1/artemis/domain/quiz/DropLocationCounter.java
  src/main/java/de/tum/in/www1/artemis/domain/quiz/MultipleChoiceQuestion.java
  src/main/java/de/tum/in/www1/artemis/domain/quiz/QuizConfiguration.java
  src/main/java/de/tum/in/www1/artemis/domain/quiz/QuizExercise.java
  src/main/java/de/tum/in/www1/artemis/domain/quiz/QuizQuestion.java
  src/main/java/de/tum/in/www1/artemis/domain/quiz/QuizQuestionComponent.java
  src/main/java/de/tum/in/www1/artemis/domain/quiz/QuizQuestionStatistic.java
  src/main/java/de/tum/in/www1/artemis/domain/quiz/QuizQuestionStatisticComponent.java
  src/main/java/de/tum/in/www1/artemis/domain/quiz/ShortAnswerMapping.java
  src/main/java/de/tum/in/www1/artemis/domain/quiz/ShortAnswerQuestion.java
  src/main/java/de/tum/in/www1/artemis/domain/quiz/ShortAnswerSolution.java
  src/main/java/de/tum/in/www1/artemis/domain/quiz/ShortAnswerSpot.java
  src/main/java/de/tum/in/www1/artemis/domain/quiz/ShortAnswerSpotCounter.java
  src/main/java/de/tum/in/www1/artemis/service/QuizExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/QuizService.java
Labels: server, component:Quiz, refactoring, ready to merge

#6489 `Development`: Avoid unnecessary REST calls for practice participation by loading them in the for-dashboard call
  src/main/java/de/tum/in/www1/artemis/domain/Exercise.java
  src/main/java/de/tum/in/www1/artemis/domain/ProgrammingExercise.java
  src/main/java/de/tum/in/www1/artemis/domain/quiz/QuizExercise.java
  src/main/java/de/tum/in/www1/artemis/repository/StudentParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/service/CourseScoreCalculationService.java
  src/main/java/de/tum/in/www1/artemis/service/CourseService.java
  src/main/java/de/tum/in/www1/artemis/service/ExerciseService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/webapp/app/overview/course-exercises/course-exercise-row.component.ts
  src/test/java/de/tum/in/www1/artemis/ExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/domain/ExerciseTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/CourseBitbucketBambooJiraIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/CourseGitlabJenkinsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseTest.java
  src/test/java/de/tum/in/www1/artemis/util/CourseTestService.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
Labels: tests, server, client, performance

#6537 `Iris`: Add database changelog and integration tests
  src/main/java/de/tum/in/www1/artemis/domain/iris/IrisMessage.java
  src/main/java/de/tum/in/www1/artemis/domain/iris/IrisMessageContent.java
  src/main/java/de/tum/in/www1/artemis/domain/iris/IrisMessageSender.java
  src/main/java/de/tum/in/www1/artemis/domain/iris/IrisSession.java
  src/main/java/de/tum/in/www1/artemis/repository/iris/IrisMessageContentRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/iris/IrisMessageRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/iris/IrisSessionRepository.java
  src/main/java/de/tum/in/www1/artemis/service/iris/IrisMessageService.java
  src/main/java/de/tum/in/www1/artemis/service/iris/IrisSessionService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/iris/IrisMessageResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/iris/IrisSessionResource.java
  src/main/resources/config/liquibase/changelog/20230430235959_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/test/java/de/tum/in/www1/artemis/iris/IrisMessageIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/iris/IrisSessionIntegrationTest.java
Labels: tests, ready for review, server, database, component:Iris

#6561 `Development`: Fix flaky case in ParticipationIntegrationTest
  src/test/java/de/tum/in/www1/artemis/ParticipationIntegrationTest.java
Labels: tests, ready for review, small, bugfix, ready to merge

#6554 `Development`: Replace learning goal with competency in comments
  src/main/java/de/tum/in/www1/artemis/domain/LearningGoal.java
  src/main/java/de/tum/in/www1/artemis/domain/LearningGoalProgress.java
  src/main/java/de/tum/in/www1/artemis/domain/LearningGoalRelation.java
  src/main/java/de/tum/in/www1/artemis/domain/LearningGoalTaxonomy.java
  src/main/java/de/tum/in/www1/artemis/domain/lecture/ExerciseUnit.java
  src/main/java/de/tum/in/www1/artemis/repository/LearningGoalRepository.java
  src/main/java/de/tum/in/www1/artemis/service/CourseService.java
  src/main/java/de/tum/in/www1/artemis/service/LearningGoalProgressService.java
  src/main/java/de/tum/in/www1/artemis/service/LearningGoalService.java
  src/main/java/de/tum/in/www1/artemis/service/LectureUnitService.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/ParticipantScoreScheduleService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/LearningGoalResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/LectureResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/CourseLearningGoalProgressDTO.java
  src/main/webapp/app/course/learning-goals/create-learning-goal/create-learning-goal.component.ts
  src/main/webapp/app/course/learning-goals/edit-learning-goal/edit-learning-goal.component.ts
  src/main/webapp/app/course/learning-goals/learning-goal-form/learning-goal-form.component.ts
  src/main/webapp/app/course/learning-goals/learning-goal-management/learning-goal-management.component.ts
  src/main/webapp/app/course/manage/course-management.service.ts
  src/main/webapp/app/entities/learningGoal.model.ts
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/lecture-unit-management.component.ts
  src/main/webapp/app/lecture/wizard-mode/lecture-wizard-learning-goals.component.ts
  src/main/webapp/app/overview/course-learning-goals/course-learning-goals.component.ts
  src/main/webapp/app/overview/course-overview.component.ts
  src/main/webapp/app/overview/course-registration/course-registration-prerequisites-modal/course-prerequisites-modal.component.ts
  src/main/webapp/app/shared/learning-goal-selection/learning-goal-selection.component.ts
  src/main/webapp/content/scss/themes/_dark-variables.scss
  src/main/webapp/content/scss/themes/_default-variables.scss
  src/test/java/de/tum/in/www1/artemis/DatabaseQueryCountTest.java
  src/test/java/de/tum/in/www1/artemis/lecture/LearningGoalIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/CourseTestService.java
  src/test/javascript/spec/component/learning-goals/course-learning-goals.component.spec.ts
  src/test/javascript/spec/component/learning-goals/edit-learning-goal.component.spec.ts
Labels: tests, server, client, ready to merge

#6427 `Development`: Provide standalone problem statement for external apps
  src/main/webapp/app/exercises/shared/feedback/feedback.component.html
  src/main/webapp/app/exercises/shared/feedback/feedback.component.ts
  src/main/webapp/app/exercises/shared/feedback/feedback.module.ts
  src/main/webapp/app/exercises/shared/feedback/standalone-feedback/standalone-feedback.component.html
  src/main/webapp/app/exercises/shared/feedback/standalone-feedback/standalone-feedback.component.ts
  src/main/webapp/app/exercises/shared/feedback/standalone-feedback/standalone-feedback.scss
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.html
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.ts
  src/main/webapp/app/overview/exercise-details/course-exercise-details.module.ts
  src/main/webapp/app/overview/exercise-details/problem-statement/problem-statement.component.html
  src/main/webapp/app/overview/exercise-details/problem-statement/problem-statement.component.ts
  src/main/webapp/app/shared/layouts/main/main.component.html
  src/main/webapp/app/shared/layouts/main/main.component.ts
  src/main/webapp/content/scss/global.scss
  src/test/javascript/spec/component/exercises/problem-statement.component.spec.ts
  src/test/javascript/spec/component/overview/exercise-details/course-exercise-details.component.spec.ts
  src/test/javascript/spec/component/shared/feedback/standalone-feedback.component.spec.ts
Labels: tests, client, ready to merge

#6564 `Development`: Add missing legal base path in docker profile configuration
  src/main/resources/config/application-docker.yml
Labels: ready for review, small, ready to merge, docker

#6470 `Programming exercises`: Add sorting to grading tasks view
  src/main/webapp/app/exercises/programming/manage/grading/programming-exercise-configure-grading.component.html
  src/main/webapp/app/exercises/programming/manage/grading/programming-exercise-grading.module.ts
  src/main/webapp/app/exercises/programming/manage/grading/tasks/programming-exercise-grading-task.component.ts
  src/main/webapp/app/exercises/programming/manage/grading/tasks/programming-exercise-grading-tasks-table.component.html
  src/main/webapp/app/exercises/programming/manage/grading/tasks/programming-exercise-grading-tasks-table.component.ts
  src/main/webapp/app/exercises/programming/manage/grading/tasks/programming-exercise-grading-tasks-table.scss
  src/main/webapp/app/exercises/programming/manage/grading/tasks/programming-exercise-task/programming-exercise-task.component.html
  src/main/webapp/app/exercises/programming/manage/grading/tasks/programming-exercise-task/programming-exercise-task.component.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-configure-grading.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/tasks/programming-exercise-grading-task.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/tasks/programming-exercise-grading-tasks-table.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/tasks/programming-exercise-task.component.spec.ts
Labels: tests, client, small, ready to merge

#6530 `Development`: Decrease number of users in server tests
  src/test/java/de/tum/in/www1/artemis/DatabaseQueryCountTest.java
  src/test/java/de/tum/in/www1/artemis/ExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/TeamImportIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/TeamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/assessment/AssessmentKnowledgeIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/config/TopicSubscriptionInterceptorTest.java
  src/test/java/de/tum/in/www1/artemis/exam/ExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/lecture/ExerciseUnitIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/lecture/LearningGoalIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/lecture/LectureIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/lecture/LectureUnitIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/metis/AnswerMessageIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/metis/AnswerPostIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/metis/GroupChatIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/metis/MessageIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/quiz/QuizExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/quiz/QuizSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/exam/ExamQuizServiceTest.java
  src/test/java/de/tum/in/www1/artemis/text/TextAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/java/de/tum/in/www1/artemis/util/ModelFactory.java
Labels: tests, refactoring, ready to merge

#6575 `Iris`: Add IrisWebsocketService
  src/main/java/de/tum/in/www1/artemis/service/iris/IrisWebsocketService.java
  src/test/java/de/tum/in/www1/artemis/iris/IrisWebsocketTest.java
Labels: tests, server, ready to merge, component:Iris

#6380 `Communication`: Allow users to reference single lecture slides in posts
  src/main/java/de/tum/in/www1/artemis/domain/lecture/AttachmentUnit.java
  src/main/java/de/tum/in/www1/artemis/domain/lecture/Slide.java
  src/main/java/de/tum/in/www1/artemis/repository/AttachmentUnitRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/LectureRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/SlideRepository.java
  src/main/java/de/tum/in/www1/artemis/service/AttachmentUnitService.java
  src/main/java/de/tum/in/www1/artemis/service/FileService.java
  src/main/java/de/tum/in/www1/artemis/service/LectureService.java
  src/main/java/de/tum/in/www1/artemis/service/LectureUnitProcessingService.java
  src/main/java/de/tum/in/www1/artemis/service/SlideSplitterService.java
  src/main/java/de/tum/in/www1/artemis/service/exam/ImageExtractor.java
  src/main/java/de/tum/in/www1/artemis/web/rest/FileResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/LectureResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/LectureUnitDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/lecture/AttachmentUnitResource.java
  src/main/resources/config/liquibase/changelog/20230323181300_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/entities/lecture-unit/attachmentUnit.model.ts
  src/main/webapp/app/entities/lecture-unit/slide.model.ts
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/attachment-units/attachment-units.component.html
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/attachment-units/attachment-units.component.ts
  src/main/webapp/app/lecture/lecture.service.ts
  src/main/webapp/app/shared/markdown-editor/command-constants.ts
  src/main/webapp/app/shared/markdown-editor/commands/courseArtifactReferenceCommands/lectureAttachmentReferenceCommand.ts
  src/main/webapp/app/shared/markdown-editor/markdown-editor.component.html
  src/main/webapp/app/shared/markdown-editor/markdown-editor.component.scss
  src/main/webapp/app/shared/markdown-editor/markdown-editor.component.ts
  src/main/webapp/app/shared/markdown-editor/markdown-editor.module.ts
  src/main/webapp/app/shared/metis/metis.component.scss
  src/main/webapp/app/shared/metis/metis.module.ts
  src/main/webapp/app/shared/metis/metis.util.ts
  src/main/webapp/app/shared/metis/posting-content/enlarge-slide-image/enlarge-slide-image-component.html
  src/main/webapp/app/shared/metis/posting-content/enlarge-slide-image/enlarge-slide-image-component.ts
  src/main/webapp/app/shared/metis/posting-content/posting-content-part/posting-content-part.component.html
  src/main/webapp/app/shared/metis/posting-content/posting-content-part/posting-content-part.components.ts
  src/main/webapp/app/shared/metis/posting-content/posting-content.components.ts
  src/main/webapp/app/shared/metis/posting-markdown-editor/posting-markdown-editor.component.ts
  src/main/webapp/content/scss/themes/theme-dark.scss
  src/main/webapp/content/scss/themes/theme-default.scss
  src/main/webapp/i18n/de/lectureUnit.json
  src/main/webapp/i18n/de/markdownEditor.json
  src/main/webapp/i18n/en/lectureUnit.json
  src/main/webapp/i18n/en/markdownEditor.json
  src/test/java/de/tum/in/www1/artemis/lecture/AttachmentUnitIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/lecture/AttachmentUnitsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/lecture/LectureIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/javascript/spec/component/markdown-editor/metisReference-commands.spec.ts
  src/test/javascript/spec/component/overview/course-discussion/course-discussion.component.spec.ts
  src/test/javascript/spec/component/shared/metis/posting-content/posting-content-part.component.spec.ts
  src/test/javascript/spec/component/shared/metis/posting-content/posting-content.component.spec.ts
  src/test/javascript/spec/component/shared/metis/postings-create-edit-modal/post-create-edit-modal/post-tag-selector.component.spec.ts
  src/test/javascript/spec/component/shared/metis/postings-markdown-editor/postings-markdown-editor.component.spec.ts
  src/test/javascript/spec/helpers/sample/metis-sample-data.ts
  src/test/javascript/spec/service/lecture.service.spec.ts
Labels: tests, server, client, database, ready to merge

#6586 `General`: Add missing translations for 'About Us' page at KIT
  src/main/webapp/app/core/about-us/about-us.component.html
  src/main/webapp/i18n/de/aboutUs.json
  src/main/webapp/i18n/en/aboutUs.json
Labels: ready for review, client, small

#6566 `General`: Always show editor buttons for modeling, text and file upload exercises
  src/main/webapp/app/exam/participate/exercises/programming/programming-exam-submission.component.html
  src/main/webapp/app/orion/participation/orion-course-exercise-details.component.ts
  src/main/webapp/app/orion/participation/orion-exercise-details-student-actions.component.html
  src/main/webapp/app/orion/participation/orion-exercise-details-student-actions.component.ts
  src/main/webapp/app/overview/course-exercises/course-exercise-row.component.html
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.html
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.ts
  src/main/webapp/app/overview/exercise-details/exercise-details-student-actions.component.html
  src/main/webapp/app/overview/exercise-details/exercise-details-student-actions.component.ts
  src/test/cypress/e2e/exercises/modeling/ModelingExerciseAssessment.cy.ts
  src/test/cypress/e2e/exercises/text/TextExerciseAssessment.cy.ts
  src/test/cypress/support/pageobjects/exercises/ExerciseResultPage.ts
  src/test/javascript/spec/component/overview/exercise-details/exercise-details-student-actions.component.spec.ts
Labels: tests, client, cypress, user interface, ready to merge

#6512 `Communication`: Add all participants to default channels automatically
  src/main/java/de/tum/in/www1/artemis/repository/CourseRepository.java
  src/main/java/de/tum/in/www1/artemis/service/metis/conversation/ChannelService.java
  src/main/java/de/tum/in/www1/artemis/service/metis/conversation/ConversationService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/admin/AdminCourseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/metis/conversation/ChannelResource.java
  src/test/cypress/e2e/course/CourseMessages.cy.ts
  src/test/java/de/tum/in/www1/artemis/programmingexercise/CourseBitbucketBambooJiraIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/CourseTestService.java
Labels: tests, server, cypress, ready to merge

#6604 `General`: Add responsible feature maintainers to README
  README.md
Labels: ready for review

#6607 `Development`: Fix incorrect file links in GitHub action build workflow file
  .github/workflows/build.yml
  .github/workflows/test.yml
  README.md
Labels: bugfix, ready to merge, maintainer-approved

#6594 `Development`: Add cypress run with postgres build plan
  .bamboo/E2E-tests/cleanup.sh
  .bamboo/E2E-tests/execute.sh
  docker/artemis/config/cypress-application-postgres.env
  docker/cypress-E2E-tests-mysql.yml
  docker/cypress-E2E-tests-postgresql.yml
  docker/cypress.yml
  docker/postgresql.yml
Labels: bamboo/bitbucket, ready to merge, maintainer-approved

#6611 `Development`: Fix postgresql bamboo cleanup script
  .bamboo/E2E-tests/cleanup.sh
  docker/cypress-E2E-tests-postgresql.yml
Labels: ready for review

#6588 `Development`: Use AssertJ for assertions in server tests
  src/test/java/de/tum/in/www1/artemis/FileIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/Lti13LaunchIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/StringUtilTest.java
  src/test/java/de/tum/in/www1/artemis/config/TopicSubscriptionInterceptorTest.java
  src/test/java/de/tum/in/www1/artemis/connectors/Lti10ServiceTest.java
  src/test/java/de/tum/in/www1/artemis/connectors/Lti13ServiceTest.java
  src/test/java/de/tum/in/www1/artemis/connectors/LtiServiceTest.java
  src/test/java/de/tum/in/www1/artemis/domain/GuidedTourSettingTest.java
  src/test/java/de/tum/in/www1/artemis/exam/ExamActivityIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exam/ExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exam/StudentExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/modeling/ModelingExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseIntegrationTestService.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseTestService.java
  src/test/java/de/tum/in/www1/artemis/quiz/QuizExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/security/OAuth2JWKSServiceTest.java
  src/test/java/de/tum/in/www1/artemis/security/lti/Lti13TokenRetrieverTest.java
  src/test/java/de/tum/in/www1/artemis/service/ExerciseLifecycleServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/FeatureToggleServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/OnlineCourseConfigurationServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/ParticipationServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/ResourceLoaderServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/exam/ExamServiceTest.java
  src/test/java/de/tum/in/www1/artemis/text/TextExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/TestUriParamsUtil.java
Labels: tests, code quality, ready to merge, maintainer-approved

#6540 `Programming exercises`: Export and import embedded files in problem statement
  src/main/java/de/tum/in/www1/artemis/service/ZipFileService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseExportService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseImportFromFileService.java
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.html
  src/main/webapp/app/exercises/programming/manage/update/update-components/programming-exercise-problem.component.html
  src/main/webapp/app/exercises/programming/manage/update/update-components/programming-exercise-problem.component.ts
  src/main/webapp/app/exercises/programming/manage/update/wizard-mode/programming-exercise-update-wizard-problem.component.html
  src/main/webapp/app/exercises/programming/manage/update/wizard-mode/programming-exercise-update-wizard-problem.component.ts
  src/main/webapp/app/exercises/programming/manage/update/wizard-mode/programming-exercise-update-wizard.component.html
  src/main/webapp/i18n/de/exercise.json
  src/main/webapp/i18n/en/exercise.json
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseBitbucketBambooIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseGitlabJenkinsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseIntegrationBambooBitbucketJiraTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseTestService.java
  src/test/resources/test-data/import-from-file/valid-import-embedded-files.zip
  src/test/resources/test-data/repository-export/Markdown_2023-05-06T16-17-46-410_ad323711.jpg
  src/test/resources/test-data/repository-export/Markdown_2023-05-06T16-17-46-822_b921f475.jpg
Labels: tests, server, client, ready to merge

#6597 `Development`: Enable standalone problem statement for exam exercises
  src/main/java/de/tum/in/www1/artemis/web/rest/ExerciseResource.java
  src/test/java/de/tum/in/www1/artemis/ExerciseIntegrationTest.java
Labels: tests, server, small, ready to merge

#6572 `Development`: Add docker compose files for new test servers
  .dockerignore
  docker/artemis.yml
  docker/artemis/Dockerfile
  docker/artemis/config/prod-application-local.env
  docker/mysql.yml
  docker/mysql/default.env
  docker/postgresql.yml
  docker/postgresql/default.env
  docker/test-server-mysql.yml
  docker/test-server-postgresql.yml
Labels: ready for review

#6582 `Communication`: Fix an issue when loading more than 50 messages
  src/main/java/de/tum/in/www1/artemis/config/DatabaseConfiguration.java
  src/main/java/de/tum/in/www1/artemis/repository/RepositoryImpl.java
  src/main/java/de/tum/in/www1/artemis/repository/specs/MessageSpecs.java
  src/test/java/de/tum/in/www1/artemis/metis/MessageIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
Labels: tests, server, ready to merge

#6601 `Development`: Update cypress to 12.12.0
  src/test/cypress/package-lock.json
  src/test/cypress/package.json
Labels: tests, cypress, ready to merge

#6567 `Programming exercises`: Show a warning when instructors add more than 15 tasks in a problem statement
  src/main/webapp/app/exercises/programming/manage/instructions-editor/analysis/programming-exercise-instruction-analysis.component.html
  src/main/webapp/app/exercises/programming/manage/instructions-editor/analysis/programming-exercise-instruction-analysis.component.ts
  src/main/webapp/app/exercises/programming/manage/instructions-editor/analysis/programming-exercise-instruction-analysis.service.ts
  src/main/webapp/app/exercises/programming/manage/instructions-editor/analysis/task-count-warning/task-count-warning.component.html
  src/main/webapp/app/exercises/programming/manage/instructions-editor/analysis/task-count-warning/task-count-warning.component.ts
  src/main/webapp/app/exercises/programming/manage/instructions-editor/programming-exercise-editable-instruction.scss
  src/main/webapp/app/exercises/programming/manage/instructions-editor/programming-exercise-instructions-editor.module.ts
  src/main/webapp/app/exercises/programming/shared/instructions-render/step-wizard/programming-exercise-instruction-step-wizard.component.html
  src/main/webapp/app/exercises/programming/shared/instructions-render/step-wizard/programming-exercise-instruction-step-wizard.scss
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/programmingExercise.json
  src/test/javascript/spec/component/programming-exercise/programming-exercise-instruction-analysis.component.spec.ts
  src/test/javascript/spec/service/task-count-warning.component.spec.ts
Labels: bug, feature, tests, client, bugfix, user interface, ready to merge, maintainer-approved

#6437 `Development`: Refactor quiz exercise submission
  src/main/java/de/tum/in/www1/artemis/domain/quiz/AbstractQuizSubmission.java
  src/main/java/de/tum/in/www1/artemis/domain/quiz/QuizExercise.java
  src/main/java/de/tum/in/www1/artemis/domain/quiz/QuizSubmission.java
  src/main/java/de/tum/in/www1/artemis/domain/quiz/SubmittedAnswer.java
  src/main/java/de/tum/in/www1/artemis/service/AbstractQuizSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/ExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/QuizExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/QuizSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/exam/ExamQuizService.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/cache/quiz/QuizScheduleService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ParticipationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/QuizSubmissionResource.java
  src/main/webapp/app/entities/quiz/abstract-quiz-exam-submission.model.ts
  src/main/webapp/app/entities/quiz/quiz-submission.model.ts
  src/main/webapp/app/exam/participate/exercises/quiz/quiz-exam-submission.component.ts
Labels: server, client, component:Quiz, refactoring, ready to merge, maintainer-approved

#6428 `Development`: Refactor quiz exercise detail page
  src/main/webapp/app/exercises/quiz/manage/multiple-choice-question/multiple-choice-question-edit.component.ts
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise-detail.component.html
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise-detail.component.scss
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise-detail.component.ts
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise-validation.directive.ts
  src/main/webapp/app/exercises/quiz/manage/quiz-management.module.ts
  src/main/webapp/app/exercises/quiz/manage/quiz-question-list-edit-existing.component.html
  src/main/webapp/app/exercises/quiz/manage/quiz-question-list-edit-existing.component.ts
  src/main/webapp/app/exercises/quiz/manage/quiz-question-list-edit.component.html
  src/main/webapp/app/exercises/quiz/manage/quiz-question-list-edit.component.scss
  src/main/webapp/app/exercises/quiz/manage/quiz-question-list-edit.component.ts
  src/main/webapp/app/exercises/quiz/shared/quiz-manage-util.service.ts
  src/main/webapp/app/shared/constants/input.constants.ts
  src/test/javascript/spec/component/exercises/quiz/manage/quiz-question-list-edit-existing.component.spec.ts
  src/test/javascript/spec/component/exercises/quiz/manage/quiz-question-list-edit.component.spec.ts
  src/test/javascript/spec/component/quiz-exercise/quiz-exercise-detail.component.spec.ts
  src/test/javascript/spec/service/quiz-manage-util.service.spec.ts
Labels: tests, client, component:Quiz, refactoring, user interface, ready to merge, maintainer-approved

#6578 `Development`: Fix gradle run configuration templates
  .idea/runConfigurations/Artemis__Server_.xml
  .idea/runConfigurations/Artemis__Server__Athene_.xml
  .idea/runConfigurations/Artemis__Server__GitLabCI___Gitlab_.xml
  .idea/runConfigurations/Artemis__Server__Jenkins___Gitlab_.xml
  .idea/runConfigurations/Artemis__Server___Client_.xml
  .idea/runConfigurations/_template__of_Gradle.xml
Labels: small, ready to merge

#6623 `Development`: Fix missing aboutUs translation key
  prebuild.mjs
Labels: bugfix, ready to merge

#6487 `Communication`: Create default channels when course is created
  src/main/java/de/tum/in/www1/artemis/domain/enumeration/DefaultChannelType.java
  src/main/java/de/tum/in/www1/artemis/repository/CourseRepository.java
  src/main/java/de/tum/in/www1/artemis/service/metis/conversation/ChannelService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/admin/AdminCourseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/metis/conversation/ChannelResource.java
  src/main/webapp/app/overview/course-conversations/dialogs/conversation-detail-dialog/tabs/conversation-info/conversation-info.component.html
  src/test/cypress/e2e/course/CourseMessages.cy.ts
  src/test/cypress/support/pageobjects/course/CourseMessages.ts
  src/test/java/de/tum/in/www1/artemis/programmingexercise/CourseBitbucketBambooJiraIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/CourseGitlabJenkinsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/CourseTestService.java
Labels: tests, server, client, cypress, ready to merge

#6627 `General`: Hide assessment button for empty participations
  src/main/webapp/app/exercises/shared/exercise-scores/exercise-scores.component.html
Labels: ready for review, client, small, bugfix, ready to merge

#6626 `Development`: Create ESLint-compatible styling for environment.override.ts
  prebuild.mjs
Labels: ready for review, small

#6494 `General`: Improve visual indication that course cards are clickable
  src/main/webapp/app/course/manage/overview/course-management-card.component.html
  src/main/webapp/app/course/manage/overview/course-management-card.component.ts
  src/main/webapp/app/course/manage/overview/course-management-card.scss
Labels: client, ready to merge, stale

#6633 `Development`: Fix code quality issues
  src/test/javascript/spec/component/quiz-exercise/quiz-exercise-detail.component.spec.ts
  src/test/javascript/spec/service/quiz-manage-util.service.spec.ts
Labels: tests, small, ready to merge

#6569 `Lectures`: Reimplement attachment file upload
  src/main/java/de/tum/in/www1/artemis/repository/AttachmentRepository.java
  src/main/java/de/tum/in/www1/artemis/web/rest/AttachmentResource.java
  src/main/webapp/app/lecture/attachment.service.ts
  src/main/webapp/app/lecture/lecture-attachments.component.html
  src/main/webapp/app/lecture/lecture-attachments.component.ts
  src/test/java/de/tum/in/www1/artemis/lecture/AttachmentResourceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/CourseTestService.java
  src/test/java/de/tum/in/www1/artemis/util/RequestUtilService.java
  src/test/javascript/spec/component/lecture/lecture-attachments.component.spec.ts
  src/test/javascript/spec/service/attachment.service.spec.ts
Labels: enhancement, tests, server, client, refactoring, ready to merge

#6622 `Development`: Update client dependencies
  jest.config.js
  package-lock.json
  package.json
  src/main/webapp/app/admin/organization-management/organization-management-detail.component.html
  src/main/webapp/app/admin/organization-management/organization-management.component.html
  src/main/webapp/app/shared/consistency-check/consistency-check.component.html
  src/main/webapp/app/shared/organization-selector/organization-selector.component.html
  src/main/webapp/app/shared/util/utils.ts
  src/test/javascript/spec/component/exercises/shared/external-submission-dialog.component.spec.ts
  tsconfig.json
Labels: tests, client, ready to merge

#6602 `Development`: Reduce random data in server tests
  src/test/java/de/tum/in/www1/artemis/LtiIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/OrganizationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/ParticipationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/fileupload/FileUploadExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/hestia/CodeHintServiceTest.java
  src/test/java/de/tum/in/www1/artemis/lecture/CompetencyIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/lecture/LectureIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/metis/AbstractConversationTest.java
  src/test/java/de/tum/in/www1/artemis/metis/ChannelIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/metis/ConversationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/modeling/ModelingExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseIntegrationTestService.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseServiceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseTestService.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/StaticCodeAnalysisIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/quiz/QuizExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/ParticipationTeamWebsocketServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/TextAssessmentQueueServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/TitleCacheEvictionServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/notifications/TutorialGroupNotificationServiceTest.java
  src/test/java/de/tum/in/www1/artemis/text/TextExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/tutorialgroups/AbstractTutorialGroupIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/tutorialgroups/TutorialGroupIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/CourseTestService.java
  src/test/java/de/tum/in/www1/artemis/util/TextExerciseUtilService.java
Labels: tests, code quality, refactoring, ready to merge

#6614 `Plagiarism checks`: Disable status buttons during confirm and deny action to avoid concurrency issues
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-header/plagiarism-header.component.html
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-header/plagiarism-header.component.ts
  src/test/javascript/spec/component/plagiarism/plagiarism-header.component.spec.ts
Labels: tests, client, component:Plagiarism Detection, ready to merge, maintainer-approved

#6598 `Programming exercise`: Fix inactive test cases being assigned to wrong task
  src/main/java/de/tum/in/www1/artemis/service/hestia/ProgrammingExerciseTaskService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/hestia/ProgrammingExerciseTaskResource.java
  src/test/java/de/tum/in/www1/artemis/hestia/ProgrammingExerciseTaskServiceTest.java
Labels: tests, server, small, ready to merge

#6634 `Development`: Remove feedback conflicts relationship
  .idea/runConfigurations/_template__of_Gradle.xml
  src/main/java/de/tum/in/www1/artemis/domain/Feedback.java
  src/main/java/de/tum/in/www1/artemis/repository/FeedbackConflictRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ResultService.java
  src/main/java/de/tum/in/www1/artemis/service/TextAssessmentService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextAssessmentResource.java
  src/test/java/de/tum/in/www1/artemis/service/AutomaticFeedbackConflictServiceTest.java
Labels: tests, server

#6584 `Iris`: Add chat button & widget, and a pop-up window
  src/main/webapp/app/overview/exercise-chatbot/chatbot-popup/chatbot-popup.component.html
  src/main/webapp/app/overview/exercise-chatbot/chatbot-popup/chatbot-popup.component.scss
  src/main/webapp/app/overview/exercise-chatbot/chatbot-popup/chatbot-popup.component.ts
  src/main/webapp/app/overview/exercise-chatbot/exercise-chatbot.component.html
  src/main/webapp/app/overview/exercise-chatbot/exercise-chatbot.component.scss
  src/main/webapp/app/overview/exercise-chatbot/exercise-chatbot.component.ts
  src/main/webapp/app/overview/exercise-chatbot/exercise-chatbot.module.ts
  src/main/webapp/app/overview/exercise-chatbot/exercise-chatwidget/exercise-chat-widget.component.html
  src/main/webapp/app/overview/exercise-chatbot/exercise-chatwidget/exercise-chat-widget.component.scss
  src/main/webapp/app/overview/exercise-chatbot/exercise-chatwidget/exercise-chat-widget.component.ts
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.html
  src/main/webapp/app/overview/exercise-details/course-exercise-details.module.ts
  src/main/webapp/content/scss/themes/_dark-variables.scss
  src/main/webapp/content/scss/themes/_default-variables.scss
  src/main/webapp/i18n/de/exerciseChatbot.json
  src/main/webapp/i18n/en/exerciseChatbot.json
  src/test/javascript/spec/component/iris/exercise-chat-widget.component.spec.ts
  src/test/javascript/spec/component/iris/exercise-chatbot.component.spec.ts
Labels: tests, ready for review, client, lock:artemis-test9, component:Iris

#6590 `Iris`: Combine GPT 3.5, WebSocket, and database services
  src/main/java/de/tum/in/www1/artemis/config/RestTemplateConfiguration.java
  src/main/java/de/tum/in/www1/artemis/domain/iris/IrisMessage.java
  src/main/java/de/tum/in/www1/artemis/domain/iris/IrisMessageContent.java
  src/main/java/de/tum/in/www1/artemis/domain/iris/IrisSession.java
  src/main/java/de/tum/in/www1/artemis/repository/iris/IrisMessageRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/iris/IrisSessionRepository.java
  src/main/java/de/tum/in/www1/artemis/service/dto/OpenAIChatResponseDTO.java
  src/main/java/de/tum/in/www1/artemis/service/iris/IrisChatService.java
  src/main/java/de/tum/in/www1/artemis/service/iris/IrisMessageService.java
  src/main/java/de/tum/in/www1/artemis/service/iris/IrisModelService.java
  src/main/java/de/tum/in/www1/artemis/service/iris/IrisSessionService.java
  src/main/java/de/tum/in/www1/artemis/service/iris/IrisWebsocketService.java
  src/main/java/de/tum/in/www1/artemis/service/iris/model/IrisGPT3_5Service.java
  src/main/java/de/tum/in/www1/artemis/service/iris/model/IrisModel.java
  src/main/java/de/tum/in/www1/artemis/web/rest/iris/IrisMessageResource.java
  src/test/java/de/tum/in/www1/artemis/connector/IrisGPT3_5RequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/iris/AbstractIrisIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/iris/IrisMessageIntegrationTest.java
  src/test/resources/config/application-iris-gpt3_5.yml
Labels: tests, ready for review, server, ready to merge

#6581 `General`: Fix an issue in the course overview and an edge case in programming exercise solution participations
  src/main/java/de/tum/in/www1/artemis/domain/ProgrammingExercise.java
  src/main/java/de/tum/in/www1/artemis/domain/participation/ProgrammingExerciseStudentParticipation.java
  src/main/java/de/tum/in/www1/artemis/repository/SolutionProgrammingExerciseParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bitbucket/BitbucketService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/gitlab/GitLabService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/vcs/AbstractVersionControlService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseGradingService.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingSubmissionAndResultBitbucketBambooIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/quiz/QuizExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
Labels: tests, server, component:Programming, component:Quiz, small, bugfix, sentry-issue, ready to merge

#6641 `Development`: Fix server build
  src/main/java/de/tum/in/www1/artemis/service/connectors/localvc/LocalVCService.java
Labels: priority:high, build system, ready to merge
