Repository ls1intum/Artemis, pull requests merged in 2023-08, with the labels that each got.

#6949 `Development`: Fix flaky postgres GroupNotificationServiceTest
  src/test/java/de/tum/in/www1/artemis/notification/GroupNotificationServiceTest.java
Labels: tests, small, ready to merge

#6852 `Development`: Extract helper methods from server tests
  src/test/java/de/tum/in/www1/artemis/assessment/GradingScaleFactory.java
  src/test/java/de/tum/in/www1/artemis/assessment/ParticipantScoreIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/bonus/BonusIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/competency/CompetencyUtilService.java
  src/test/java/de/tum/in/www1/artemis/exam/ExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exam/ExamUtilService.java
  src/test/java/de/tum/in/www1/artemis/exercise/textexercise/TextExerciseUtilService.java
  src/test/java/de/tum/in/www1/artemis/service/exam/StudentExamAccessServiceTest.java
  src/test/java/de/tum/in/www1/artemis/user/UserFactory.java
  src/test/java/de/tum/in/www1/artemis/user/UserUtilService.java
Labels: tests, code quality, refactoring, ready to merge

#7002 `Development`: Fix flaky QuizSubmissionIntegrationTest
  src/test/java/de/tum/in/www1/artemis/exercise/quizexercise/QuizSubmissionIntegrationTest.java
Labels: tests, small, ready to merge

#7017 `Development`: Print failed tests in GitHub Action for H2
  .github/workflows/test.yml
Labels: small, ready to merge

#6831 `Development`: Refactor DataExportCreationService and add Art. 15 GDPR README
  src/main/java/de/tum/in/www1/artemis/domain/exam/Exam.java
  src/main/java/de/tum/in/www1/artemis/service/DataExportCreationService.java
  src/main/java/de/tum/in/www1/artemis/service/dataexport/DataExportCommunicationDataService.java
  src/main/java/de/tum/in/www1/artemis/service/dataexport/DataExportCreationService.java
  src/main/java/de/tum/in/www1/artemis/service/dataexport/DataExportExamCreationService.java
  src/main/java/de/tum/in/www1/artemis/service/dataexport/DataExportExerciseCreationService.java
  src/main/java/de/tum/in/www1/artemis/service/dataexport/DataExportQuizExerciseCreationService.java
  src/main/java/de/tum/in/www1/artemis/service/dataexport/DataExportService.java
  src/main/java/de/tum/in/www1/artemis/service/dataexport/DataExportUtil.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/DataExportScheduleService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/DataExportResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/RequestDataExportDTO.java
  src/main/resources/templates/dataexport/README.md
  src/test/java/de/tum/in/www1/artemis/dataexport/DataExportResourceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/DataExportCreationServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/scheduled/DataExportScheduleServiceTest.java
Labels: tests, server, template, ready to merge

#6850 `Lectures`: Allow sorting of lectures in the course management
  src/main/webapp/app/lecture/lecture.component.html
  src/main/webapp/app/lecture/lecture.component.ts
  src/main/webapp/app/shared/service/sort.service.ts
  src/test/javascript/spec/component/lecture/lecture.component.spec.ts
Labels: tests, client, ready to merge

#7031 `Development`: Enable parallel run for e2e tests
  docker/cypress-E2E-tests-mysql.yml
  docker/cypress-E2E-tests-postgres.yml
  src/test/cypress/init/ImportUsers.cy.ts
  src/test/cypress/package.json
  src/test/cypress/support/requests/UserManagementRequest.ts
Labels: tests, cypress, ready to merge, docker

#6993 `Assessment`: Escape special characters in inline feedback
  src/main/webapp/app/entities/feedback.model.ts
  src/test/javascript/spec/component/programming-assessment/code-editor-tutor-assessment-inline-feedback.component.spec.ts
Labels: tests, client, small, bugfix, user interface, ready to merge

#6991 `General`: Add documentation for iOS client
  docs/user/mobile-applications.rst
  docs/user/native-applications/iOS/custom-server-entered-ios.PNG
  docs/user/native-applications/iOS/initial_login_notification_configuration.png
  docs/user/native-applications/iOS/settings_push.png
  docs/user/native-applications/iOS/settings_push_detail.png
Labels: documentation, ready to merge

#6987 `Development`: Extend documentation for server and client guidelines to include DTOs and WebSocket subscriptions
  docs/dev/guidelines/client.rst
  docs/dev/guidelines/server.rst
Labels: ready for review, documentation

#7022 `Development`: Delete temporary directories and files consistently
  src/main/java/de/tum/in/www1/artemis/service/FileService.java
  src/main/java/de/tum/in/www1/artemis/service/SubmissionExportService.java
  src/main/java/de/tum/in/www1/artemis/service/ZipFileService.java
  src/main/java/de/tum/in/www1/artemis/service/dataexport/DataExportCreationService.java
  src/main/java/de/tum/in/www1/artemis/service/dataexport/DataExportExerciseCreationService.java
  src/main/java/de/tum/in/www1/artemis/service/dataexport/DataExportService.java
  src/main/java/de/tum/in/www1/artemis/service/plagiarism/ProgrammingPlagiarismDetectionService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseExportService.java
  src/test/java/de/tum/in/www1/artemis/dataexport/DataExportResourceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseBitbucketBambooIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseGitlabJenkinsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseIntegrationBambooBitbucketJiraTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseIntegrationTestService.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseTestService.java
  src/test/java/de/tum/in/www1/artemis/service/FileServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/ZipFileServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/scheduled/DataExportScheduleServiceTest.java
Labels: tests, server, ready to merge

#7034 `Grading`: Improve default grading key
  src/main/webapp/app/grading-system/base-grading-system/base-grading-system.component.ts
  src/main/webapp/app/grading-system/interval-grading-system/interval-grading-system.component.ts
  src/test/javascript/spec/component/grading-system/detailed-grading-system.component.spec.ts
  src/test/javascript/spec/component/grading-system/interval-grading-system.component.spec.ts
Labels: tests, client, small, grading system, ready to merge

#7042 `Development`: Reduce transferred data for course (un)enrollment endpoints
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/webapp/app/core/auth/account.service.ts
  src/main/webapp/app/course/manage/course-management.service.ts
  src/test/java/de/tum/in/www1/artemis/authentication/InternalAuthenticationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/course/CourseTestService.java
  src/test/java/de/tum/in/www1/artemis/organization/OrganizationIntegrationTest.java
  src/test/javascript/spec/component/course-registration/course-registration-button/course-registration-button.component.spec.ts
  src/test/javascript/spec/component/course/course-management.service.spec.ts
  src/test/javascript/spec/component/course/course-unenrollment/course-unenrollment-modal.component.spec.ts
  src/test/javascript/spec/service/account.service.spec.ts
Labels: tests, server, client, small, performance, ready to merge

#7028 `Development`: Explicitly disable git gpg signing to fix tests in environments with global gpg signing enabled
  src/main/java/de/tum/in/www1/artemis/service/connectors/GitService.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseGitIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseIntegrationTestService.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseTestService.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/RepositoryIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/TestRepositoryResourceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalVCIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalVCLocalCITestService.java
  src/test/java/de/tum/in/www1/artemis/util/GitUtilService.java
  src/test/java/de/tum/in/www1/artemis/util/LocalRepository.java
Labels: tests, ready for review, server, ready to merge

#6996 `Development`: Extend cypress e2e documentation
  docs/dev/cypress.rst
  docs/dev/cypress/cypress-open-screenshot.png
  docs/dev/cypress/sorry-cypress-dashboard.png
  docs/dev/cypress/sorry-cypress-run.png
  docs/dev/cypress/sorry-cypress-runs.png
  docs/dev/cypress/sorry-cypress-test.png
Labels: documentation, ready to merge

#7010 `Development`: Add documentation for push notifications with Hermes
  docs/dev/setup.rst
Labels: documentation, ready to merge

#7051 `Development`: Remove all temporary files when using the ProgrammingExerciseTestService
  src/test/java/de/tum/in/www1/artemis/exam/ExamUserIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseTemplateIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseTestService.java
  src/test/java/de/tum/in/www1/artemis/service/DataExportCreationServiceTest.java
  src/test/java/de/tum/in/www1/artemis/util/GitUtilService.java
Labels: tests, small, ready to merge

#7030 `Development`: Update file integration tests
  src/test/java/de/tum/in/www1/artemis/FileIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/lecture/LectureFactory.java
  src/test/java/de/tum/in/www1/artemis/util/RequestUtilService.java
Labels: tests, small, ready to merge

#7065 `Modeling exercises`: Fix inconsistent capitalization of 'Problem Statement'
  src/main/webapp/i18n/en/modelingSubmission.json
Labels: ready for review, client, small

#7043 `Exam mode`: Prevent content of Exam Checklist from leaving viewport
  src/main/webapp/app/exam/manage/exams/exam-checklist-component/exam-checklist.component.html
Labels: ready for review, client, small, ready to merge

#7005 `Programming exercises`: Make sure template builds are executed when test cases change
  src/main/java/de/tum/in/www1/artemis/domain/ProgrammingSubmission.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIConnectorService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCITriggerService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseGradingService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/open/PublicResultResource.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseResultTestService.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/SubmissionPolicyIntegrationTest.java
Labels: tests, ready for review, server

#7029 `Development`: Reduce payload when sending result updates
  src/main/java/de/tum/in/www1/artemis/service/WebsocketMessagingService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingMessagingService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingAssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/QuizSubmissionResource.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingSubmissionAndResultBitbucketBambooIntegrationTest.java
Labels: tests, server, ready to merge

#7036 `Development`: Reduce number of test users in StudentExamIntegrationTest
  src/test/java/de/tum/in/www1/artemis/exam/StudentExamIntegrationTest.java
Labels: tests, small, ready to merge

#7050 `Programming exercises`: Update template dependencies for java exercises
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  src/main/resources/config/application.yml
  src/main/resources/templates/java/gradle_gradle/exercise/build.gradle
  src/main/resources/templates/java/gradle_gradle/exercise/gradle/wrapper/gradle-wrapper.jar
  src/main/resources/templates/java/gradle_gradle/exercise/gradle/wrapper/gradle-wrapper.properties
  src/main/resources/templates/java/gradle_gradle/exercise/gradlew.file
  src/main/resources/templates/java/gradle_gradle/solution/build.gradle
  src/main/resources/templates/java/gradle_gradle/solution/gradle/wrapper/gradle-wrapper.jar
  src/main/resources/templates/java/gradle_gradle/solution/gradle/wrapper/gradle-wrapper.properties
  src/main/resources/templates/java/gradle_gradle/solution/gradlew.file
  src/main/resources/templates/java/maven_maven/exercise/pom.xml
  src/main/resources/templates/java/maven_maven/solution/pom.xml
  src/main/resources/templates/java/maven_maven/test/projectTemplate/pom.xml
  src/main/resources/templates/java/plain_gradle/exercise/gradle/wrapper/gradle-wrapper.jar
  src/main/resources/templates/java/plain_gradle/exercise/gradle/wrapper/gradle-wrapper.properties
  src/main/resources/templates/java/plain_gradle/exercise/gradlew.file
  src/main/resources/templates/java/plain_gradle/solution/gradle/wrapper/gradle-wrapper.jar
  src/main/resources/templates/java/plain_gradle/solution/gradle/wrapper/gradle-wrapper.properties
  src/main/resources/templates/java/plain_gradle/solution/gradlew.file
  src/main/resources/templates/java/test/gradle/projectTemplate/build.gradle
  src/main/resources/templates/java/test/gradle/projectTemplate/gradle/wrapper/gradle-wrapper.jar
  src/main/resources/templates/java/test/gradle/projectTemplate/gradle/wrapper/gradle-wrapper.properties
  src/main/resources/templates/java/test/gradle/projectTemplate/gradlew.file
  src/main/resources/templates/java/test/maven/projectTemplate/pom.xml
  src/main/resources/templates/kotlin/test/maven/projectTemplate/pom.xml
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseTemplateIntegrationTest.java
Labels: tests, config-change, template, ready to merge

#6666 `Plagiarism checks`: Add possibility for continuous daily plagiarism checks
  src/main/java/de/tum/in/www1/artemis/domain/Exercise.java
  src/main/java/de/tum/in/www1/artemis/domain/plagiarism/PlagiarismChecksConfig.java
  src/main/java/de/tum/in/www1/artemis/repository/ExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ModelingExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ProgrammingExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/TextExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ExerciseImportService.java
  src/main/java/de/tum/in/www1/artemis/service/plagiarism/ContinuousPlagiarismControlService.java
  src/main/java/de/tum/in/www1/artemis/service/plagiarism/PlagiarismChecksConfigHelper.java
  src/main/java/de/tum/in/www1/artemis/service/plagiarism/PlagiarismChecksService.java
  src/main/java/de/tum/in/www1/artemis/service/plagiarism/ProgrammingLanguageNotSupportedForPlagiarismChecksException.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseParticipationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExercisePlagiarismResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextExerciseResource.java
  src/main/resources/config/application-artemis.yml
  src/main/resources/config/liquibase/changelog/20230603115037_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/entities/exercise.model.ts
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise-update.component.html
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise-update.component.ts
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.html
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.ts
  src/main/webapp/app/exercises/shared/exercise/_exercise-update.scss
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-inspector/plagiarism-inspector.component.html
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-inspector/plagiarism-inspector.component.scss
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-inspector/plagiarism-inspector.component.ts
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise-update.component.html
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise-update.component.ts
  src/main/webapp/i18n/de/exercise.json
  src/main/webapp/i18n/de/plagiarism.json
  src/main/webapp/i18n/en/exercise.json
  src/main/webapp/i18n/en/plagiarism.json
  src/test/java/de/tum/in/www1/artemis/exercise/fileuploadexercise/FileUploadExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/modelingexercise/ModelingAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/modelingexercise/ModelingExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseIntegrationTestService.java
  src/test/java/de/tum/in/www1/artemis/plagiarism/PlagiarismCheckIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/plagiarism/PlagiarismUtilService.java
  src/test/java/de/tum/in/www1/artemis/service/plagiarism/ContinuousPlagiarismControlServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/plagiarism/PlagiarismChecksServiceTest.java
  src/test/java/de/tum/in/www1/artemis/text/TextExerciseIntegrationTest.java
  src/test/javascript/spec/component/modeling-exercise/modeling-exercise-update.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-update.component.spec.ts
  src/test/javascript/spec/component/text-exercise/text-exercise-update.component.spec.ts
Labels: tests, server, client, database, config-change, stale

#6924 `Plagiarism checks`: Mark programming submissions detected by cpc as plagiarism and reduce their score
  src/main/java/de/tum/in/www1/artemis/domain/plagiarism/PlagiarismComparison.java
  src/main/java/de/tum/in/www1/artemis/domain/plagiarism/PlagiarismSubmission.java
  src/main/java/de/tum/in/www1/artemis/domain/plagiarism/text/TextPlagiarismResult.java
  src/main/java/de/tum/in/www1/artemis/repository/ParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/GitService.java
  src/main/java/de/tum/in/www1/artemis/service/plagiarism/ContinuousPlagiarismControlService.java
  src/main/java/de/tum/in/www1/artemis/service/plagiarism/JPlagSubmissionDataExtractor.java
  src/main/java/de/tum/in/www1/artemis/service/plagiarism/ProgrammingPlagiarismDetectionService.java
  src/main/java/de/tum/in/www1/artemis/service/plagiarism/TextPlagiarismDetectionService.java
  src/main/java/de/tum/in/www1/artemis/service/plagiarism/TextPlagiarismResultConverter.java
  src/main/java/de/tum/in/www1/artemis/web/rest/repository/RepositoryProgrammingExerciseParticipationResource.java
  src/main/webapp/app/exercises/programming/shared/code-editor/model/code-editor.model.ts
  src/main/webapp/app/exercises/programming/shared/code-editor/service/code-editor-domain-dependent-endpoint.service.ts
  src/main/webapp/app/exercises/programming/shared/code-editor/service/code-editor-domain.service.ts
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-split-view/text-submission-viewer/text-submission-viewer.component.ts
  src/test/java/de/tum/in/www1/artemis/service/plagiarism/ContinuousPlagiarismControlServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/plagiarism/JPlagSubmissionDataExtractorTest.java
  src/test/java/de/tum/in/www1/artemis/service/plagiarism/TextPlagiarismResultConverterTest.java
  src/test/javascript/spec/component/plagiarism/text-submission-viewer.component.spec.ts
Labels: tests, server, client, stale

#7047 `Exam mode`: Improve exam start and exam submission performance
  .idea/runConfigurations/Artemis__Server__LocalVC___LocalCI_.xml
  build.gradle
  src/main/java/de/tum/in/www1/artemis/domain/exam/StudentExam.java
  src/main/java/de/tum/in/www1/artemis/domain/participation/ProgrammingExerciseStudentParticipation.java
  src/main/java/de/tum/in/www1/artemis/repository/CourseRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ProgrammingSubmissionRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/StudentExamRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/StudentParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/tutorialgroups/TutorialGroupRepository.java
  src/main/java/de/tum/in/www1/artemis/service/exam/ExamAccessService.java
  src/main/java/de/tum/in/www1/artemis/service/exam/ExamDateService.java
  src/main/java/de/tum/in/www1/artemis/service/exam/ExamService.java
  src/main/java/de/tum/in/www1/artemis/service/exam/StudentExamAccessService.java
  src/main/java/de/tum/in/www1/artemis/service/exam/StudentExamService.java
  src/main/java/de/tum/in/www1/artemis/service/messaging/DistributedInstanceMessageSendService.java
  src/main/java/de/tum/in/www1/artemis/service/messaging/InstanceMessageReceiveService.java
  src/main/java/de/tum/in/www1/artemis/service/messaging/InstanceMessageSendService.java
  src/main/java/de/tum/in/www1/artemis/service/messaging/MainInstanceMessageSendService.java
  src/main/java/de/tum/in/www1/artemis/service/messaging/MessageTopic.java
  src/main/java/de/tum/in/www1/artemis/service/plagiarism/ProgrammingPlagiarismDetectionService.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/ProgrammingExerciseScheduleService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/StudentExamResource.java
  src/main/webapp/app/core/user/user.model.ts
  src/main/webapp/app/exam/participate/exam-participation.component.html
  src/main/webapp/app/exam/participate/exam-participation.component.ts
  src/main/webapp/app/exam/participate/exam-participation.scss
  src/main/webapp/app/exam/participate/exam-participation.service.ts
  src/main/webapp/app/exam/participate/summary/exam-participation-summary.component.ts
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/en/exam.json
  src/test/cypress/e2e/exam/ExamParticipation.cy.ts
  src/test/cypress/support/pageobjects/exam/ExamStartEndPage.ts
  src/test/java/de/tum/in/www1/artemis/assessment/AssessmentComplaintIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exam/ExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exam/StudentExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/modelingexercise/ModelingSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalVCLocalCIIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/exam/ExamAccessServiceTest.java
  src/test/javascript/spec/component/exam/participate/exam-participation.component.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-user.service.ts
Labels: tests, ready for review, server, client, component:Exam Mode, performance, cypress

#7072 `Development`: Improve notifications performance
  src/main/java/de/tum/in/www1/artemis/repository/GroupNotificationRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/NotificationRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/SystemNotificationRepository.java
  src/main/java/de/tum/in/www1/artemis/web/rest/NotificationResource.java
  src/main/resources/config/liquibase/changelog/20230812135300_changelog.xml
  src/main/resources/config/liquibase/master.xml
Labels: ready for review, server, database

#7087 `Development`: Fix running eslint on Windows
  package.json
Labels: small, ready to merge

#7080 `Programming exercises`: Fix task detail view in online code editor
  src/main/webapp/app/exercises/programming/participate/code-editor-student-container.component.ts
  src/main/webapp/app/exercises/programming/shared/code-editor/build-output/code-editor-build-output.component.ts
  src/main/webapp/app/exercises/programming/shared/code-editor/container/code-editor-container.component.ts
  src/main/webapp/app/exercises/programming/shared/instructions-render/programming-exercise-instruction.component.ts
  src/main/webapp/app/exercises/shared/feedback/feedback.component.ts
  src/test/javascript/spec/integration/code-editor/code-editor-student.integration.spec.ts
Labels: tests, client, component:Programming, small, bugfix, ready to merge

#7079 `Programming exercises`: Fix an issue with PlantUML diagrams if test names contain parentheses
  src/main/resources/templates/java/gradle_gradle/readme
  src/main/resources/templates/java/plain_gradle/readme
  src/main/webapp/app/exercises/programming/shared/instructions-render/extensions/programming-exercise-plant-uml.extension.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-instruction.component.spec.ts
  src/test/javascript/spec/helpers/sample/problemStatement.json
Labels: tests, client, component:Programming, template, small, bugfix, ready to merge

#7060 `Lectures`: Add customizable keyphrases for automatic break and pause slide removal during lecture creation
  src/main/java/de/tum/in/www1/artemis/service/LectureUnitProcessingService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/LectureUnitInformationDTO.java
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/attachment-units/attachment-units.component.html
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/attachment-units/attachment-units.component.ts
  src/main/webapp/i18n/de/lectureUnit.json
  src/main/webapp/i18n/en/lectureUnit.json
  src/test/java/de/tum/in/www1/artemis/lecture/AttachmentUnitsIntegrationTest.java
  src/test/javascript/spec/component/lecture-unit/attachment-unit/attachment-units.component.spec.ts
Labels: tests, server, client, ready to merge, Component:Lecture

#7054 `Development`: Fix e2e parallel run issues
  docker/cypress-E2E-tests-mysql.yml
  docker/cypress-E2E-tests-postgres.yml
  src/test/cypress/e2e/course/CourseMessages.cy.ts
  src/test/cypress/e2e/exam/ExamParticipation.cy.ts
  src/test/cypress/e2e/exam/test-exam/TestExamParticipation.cy.ts
  src/test/cypress/init/ImportUsers.cy.ts
  src/test/cypress/support/pageobjects/course/CourseMessages.ts
  src/test/cypress/support/pageobjects/exam/ExamParticipation.ts
  src/test/cypress/support/users.ts
Labels: tests, cypress, ready to merge, docker

#7008 `Programming exercises`: Allow editing submission policy on exercise creation and import
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseImportBasicService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseExportImportResource.java
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.html
  src/main/webapp/app/exercises/programming/manage/update/update-components/programming-exercise-grading.component.html
  src/main/webapp/app/exercises/programming/manage/update/update-components/programming-exercise-grading.component.ts
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/programmingExercise.json
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseBitbucketBambooIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseGitlabJenkinsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseServiceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseTestService.java
Labels: tests, server, client, bugfix, ready to merge

#6997 `Exam mode`: Improve client-side exam import validation
  src/main/webapp/app/exam/manage/exams/exam-exercise-import/exam-exercise-import.component.html
  src/main/webapp/app/exam/manage/exams/exam-exercise-import/exam-exercise-import.component.ts
  src/test/javascript/spec/component/exam/manage/exam-exercise-import.component.spec.ts
Labels: tests, client, ready to merge

#6782 `Development`: Adopted Docker Proxy settings from Production
  docker/nginx.yml
  docker/nginx/nginx.conf
Labels: ready to merge, no-stale, docker, maintainer-approved

#7048 `Development`: Improve notification performance
  docs/dev/guidelines/server.rst
  src/main/java/de/tum/in/www1/artemis/repository/CourseRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/NotificationRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/tutorialgroups/TutorialGroupRepository.java
  src/main/java/de/tum/in/www1/artemis/service/tutorialgroups/TutorialGroupService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/NotificationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/NotificationSettingsResource.java
  src/main/webapp/app/core/login/login.service.ts
  src/main/webapp/app/shared/notification/notification-popup/notification-popup.component.ts
  src/main/webapp/app/shared/notification/notification-sidebar/notification-sidebar.component.html
  src/main/webapp/app/shared/notification/notification-sidebar/notification-sidebar.component.ts
  src/main/webapp/app/shared/notification/notification.service.ts
  src/main/webapp/app/shared/user-settings/notification-settings/notification-settings.component.ts
  src/main/webapp/app/shared/user-settings/notification-settings/notification-settings.service.ts
  src/main/webapp/app/shared/user-settings/user-settings.service.ts
  src/test/javascript/spec/component/shared/notification/notification-popup.component.spec.ts
  src/test/javascript/spec/component/shared/notification/notification-sidebar.component.spec.ts
  src/test/javascript/spec/component/shared/user-settings/notification-settings.service.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-course-management.service.ts
  src/test/javascript/spec/helpers/mocks/service/mock-notification.service.ts
  src/test/javascript/spec/service/login.service.spec.ts
  src/test/javascript/spec/service/notification.service.spec.ts
Labels: tests, server, client, documentation, component:Notification, priority:high, performance, ready to merge

#7088 `Development`: Remove unnecessary eslint disable comments
  src/main/webapp/app/assessment/assessment-header/assessment-header.component.ts
  src/main/webapp/app/course/manage/course-management.route.ts
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-groups-management.module.ts
  src/main/webapp/app/exam/manage/exercise-groups/exercise-group-update.component.ts
  src/main/webapp/app/exercises/programming/manage/grading/programming-exercise-configure-grading.component.ts
  src/main/webapp/app/exercises/programming/manage/instructions-editor/programming-exercise-editable-instruction.component.ts
  src/main/webapp/app/exercises/programming/shared/code-editor/actions/code-editor-actions.component.ts
  src/main/webapp/app/exercises/programming/shared/code-editor/file-browser/code-editor-file-browser.component.ts
  src/main/webapp/app/exercises/programming/shared/instructions-render/extensions/programming-exercise-task.extension.ts
  src/main/webapp/app/exercises/programming/shared/instructions-render/programming-exercise-instructions-render.module.ts
  src/main/webapp/app/exercises/programming/shared/instructions-render/task/programming-exercise-instruction-task-status.component.ts
  src/main/webapp/app/exercises/quiz/manage/apollon-diagrams/exercise-generation/apollon-quiz-exercise-generation.component.ts
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise-detail.component.ts
  src/main/webapp/app/exercises/quiz/shared/questions/drag-and-drop-question/drag-and-drop-question.component.ts
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-details/plagiarism-details.component.ts
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-header/plagiarism-header.component.ts
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/online-unit-form/online-unit-form.component.ts
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/video-unit-form/video-unit-form.component.ts
  src/main/webapp/app/shared/chart/ngx-charts-datatypes.ts
  src/main/webapp/app/shared/image-cropper/utils/exif.utils.ts
  src/main/webapp/app/shared/markdown-editor/ace-editor/ace-editor.component.ts
  src/main/webapp/app/shared/markdown-editor/commands/courseArtifactReferenceCommands/lectureAttachmentReferenceCommand.ts
  src/main/webapp/app/shared/validators/custom-pattern-validator.directive.ts
  src/test/javascript/spec/component/markdown-editor/metisReference-commands.spec.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-instruction.component.spec.ts
  src/test/javascript/spec/component/tutorial-groups/tutorial-groups-management/tutorial-free-periods/crud/create-tutorial-group-free-period.component.spec.ts
  src/test/javascript/spec/component/tutorial-groups/tutorial-groups-management/tutorial-group-sessions/crud/create-tutorial-group-session.component.spec.ts
  src/test/javascript/spec/component/tutorial-groups/tutorial-groups-management/tutorial-groups-configuration/crud/create-tutorial-groups-configuration.component.spec.ts
  src/test/javascript/spec/component/tutorial-groups/tutorial-groups-management/tutorial-groups/crud/create-tutorial-group.component.spec.ts
  src/test/javascript/spec/directive/orion-filter.directive.spec.ts
Labels: tests, client, ready to merge

#6958 `Development`: Update documentation for Jenkins pipeline templates
  docs/dev/setup/programming-exercises.rst
Labels: ready for review, documentation, jenkins/gitlab, small

#6758 `Development`: Refactor optional usage
  src/main/java/de/tum/in/www1/artemis/repository/ExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ResultRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/hestia/CoverageReportRepository.java
  src/main/java/de/tum/in/www1/artemis/service/AssessmentService.java
  src/main/java/de/tum/in/www1/artemis/service/ConsistencyCheckService.java
  src/main/java/de/tum/in/www1/artemis/service/ExerciseDeletionService.java
  src/main/java/de/tum/in/www1/artemis/service/LectureUnitService.java
  src/main/java/de/tum/in/www1/artemis/service/ParticipationService.java
  src/main/java/de/tum/in/www1/artemis/service/WebsocketMessagingService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/BambooBuildPlanService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/jobs/JenkinsJobService.java
  src/main/java/de/tum/in/www1/artemis/service/exam/ExamRegistrationService.java
  src/main/java/de/tum/in/www1/artemis/service/exam/ExamService.java
  src/main/java/de/tum/in/www1/artemis/service/hestia/TestwiseCoverageService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseGradingService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseImportService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseRepositoryService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingTriggerService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExamResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingAssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/repository/RepositoryProgrammingExerciseParticipationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/repository/RepositoryResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/repository/TestRepositoryResource.java
  src/test/java/de/tum/in/www1/artemis/assessment/AssessmentComplaintIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/assessment/AssessmentTeamComplaintIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/modelingexercise/ModelingExerciseUtilService.java
  src/test/java/de/tum/in/www1/artemis/service/DataExportCreationServiceTest.java
Labels: tests, server, code quality, ready to merge

#6906 `Programming exercises`: Show warning in build plan editor if build plan could not be found
  src/main/webapp/app/exercises/programming/manage/build-plan-editor.component.ts
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/programmingExercise.json
  src/test/javascript/spec/component/programming-exercise/build-plan-editor.component.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-alert.service.ts
Labels: enhancement, tests, client, small, user interface, ready to merge, maintainer-approved

#6999 `Grading`: Fix bonus points calculation for exam scores table
  src/main/java/de/tum/in/www1/artemis/domain/BonusStrategy.java
  src/main/java/de/tum/in/www1/artemis/domain/IBonusStrategy.java
  src/main/java/de/tum/in/www1/artemis/repository/GradingScaleRepository.java
  src/main/java/de/tum/in/www1/artemis/service/BonusService.java
  src/main/java/de/tum/in/www1/artemis/service/CourseScoreCalculationService.java
  src/main/java/de/tum/in/www1/artemis/service/exam/ExamService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/BonusResource.java
  src/main/webapp/app/course/manage/course-update.component.html
  src/main/webapp/app/exam/exam-scores/exam-scores.component.html
  src/main/webapp/app/exam/exam-scores/exam-scores.component.ts
  src/main/webapp/app/grading-system/bonus/bonus.component.html
  src/main/webapp/app/grading-system/grading-system.component.html
  src/main/webapp/app/grading-system/grading-system.component.ts
  src/main/webapp/app/shared/export/export-constants.ts
  src/main/webapp/i18n/de/bonus.json
  src/main/webapp/i18n/de/course.json
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/de/gradingSystem.json
  src/main/webapp/i18n/en/bonus.json
  src/main/webapp/i18n/en/course.json
  src/main/webapp/i18n/en/exam.json
  src/main/webapp/i18n/en/gradingSystem.json
  src/test/java/de/tum/in/www1/artemis/bonus/BonusIntegrationTest.java
  src/test/javascript/spec/component/exam/exam-scores/exam-scores.component.spec.ts
Labels: tests, server, client, bugfix, ready to merge, maintainer-approved

#7078 `Plagiarism detection`: Change log level of de.jplag.Submission to ERROR
  src/main/resources/config/application.yml
Labels: config-change, small, ready to merge

#7037 `General`: Add direct navigation between exercise detail view and assessment dashboard
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.html
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.ts
  src/main/webapp/app/exercises/shared/dashboards/tutor/exercise-assessment-dashboard.component.html
  src/main/webapp/app/exercises/shared/dashboards/tutor/exercise-assessment-dashboard.component.ts
  src/main/webapp/app/exercises/shared/exercise-detail-common-actions/non-programming-exercise-detail-common-actions.component.html
  src/main/webapp/app/exercises/shared/exercise-detail-common-actions/non-programming-exercise-detail-common-actions.component.ts
  src/main/webapp/i18n/de/exercise.json
  src/main/webapp/i18n/de/exerciseAssessmentDashboard.json
  src/main/webapp/i18n/en/exercise.json
  src/main/webapp/i18n/en/exerciseAssessmentDashboard.json
  src/test/javascript/spec/component/assessment-dashboard/exercise-assessment-dashboard.component.spec.ts
Labels: feature, tests, client, ready to merge, maintainer-approved

#7063 `Development`: Fix code coverage script not found files marked as deleted
  supporting_scripts/generate_code_cov_table/generate_code_cov_table.py
Labels: ready for review, small, bugfix, ready to merge, python

#7040 `Development`: Reduce resources in server tests
  src/test/java/de/tum/in/www1/artemis/FileIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/GuidedTourSettingResourceTest.java
  src/test/java/de/tum/in/www1/artemis/assessment/ResultServiceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/course/CourseTestService.java
  src/test/java/de/tum/in/www1/artemis/exam/ExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exam/ExamUserIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseScheduleServiceTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/quizexercise/QuizSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/hestia/ProgrammingExerciseTaskIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/hestia/ProgrammingExerciseTaskServiceTest.java
  src/test/java/de/tum/in/www1/artemis/participation/ParticipationIntegrationTest.java
Labels: tests, ready for review, small

#7059 `General`: Fix navigation highlighting for 'Assessment' link
  src/main/webapp/app/course/manage/course-management-tab-bar/course-management-tab-bar.component.ts
  src/test/javascript/spec/component/course/course-management-tab-bar.component.spec.ts
Labels: tests, client, small, bugfix, ready to merge

#7086 `Communication`: Hide channel-name input field if messaging is disabled
  src/main/java/de/tum/in/www1/artemis/service/FileUploadExerciseImportService.java
  src/main/java/de/tum/in/www1/artemis/service/ModelingExerciseImportService.java
  src/main/java/de/tum/in/www1/artemis/service/QuizExerciseImportService.java
  src/main/java/de/tum/in/www1/artemis/service/TextExerciseImportService.java
  src/main/java/de/tum/in/www1/artemis/service/exam/ExamImportService.java
  src/main/java/de/tum/in/www1/artemis/service/metis/conversation/ChannelService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseImportBasicService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExamResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/FileUploadExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/LectureResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/QuizExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextExerciseResource.java
  src/main/webapp/app/exam/manage/exams/exam-update.component.html
  src/main/webapp/app/exam/manage/exams/exam-update.component.ts
  src/main/webapp/app/exercises/file-upload/manage/file-upload-exercise-management.module.ts
  src/main/webapp/app/exercises/file-upload/manage/file-upload-exercise-update.component.html
  src/main/webapp/app/exercises/file-upload/manage/file-upload-exercise-update.component.ts
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise-update.component.html
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise-update.component.ts
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise.module.ts
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.html
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.ts
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.module.ts
  src/main/webapp/app/exercises/programming/manage/update/update-components/programming-exercise-information.component.html
  src/main/webapp/app/exercises/programming/manage/update/update-components/programming-exercise-information.component.ts
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise-detail.component.html
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise-detail.component.ts
  src/main/webapp/app/exercises/quiz/manage/quiz-management.module.ts
  src/main/webapp/app/exercises/shared/exercise-title-channel-name/exercise-title-channel-name.component.html
  src/main/webapp/app/exercises/shared/exercise-title-channel-name/exercise-title-channel-name.component.ts
  src/main/webapp/app/exercises/shared/exercise-title-channel-name/exercise-title-channel-name.module.ts
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise-update.component.html
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise-update.component.ts
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise.module.ts
  src/main/webapp/app/lecture/lecture-title-channel-name.component.html
  src/main/webapp/app/lecture/lecture-title-channel-name.component.ts
  src/main/webapp/app/lecture/lecture-update.component.html
  src/main/webapp/app/lecture/lecture.module.ts
  src/main/webapp/app/lecture/wizard-mode/lecture-wizard-title.component.html
  src/main/webapp/app/shared/form/title-channel-name/title-channel-name.component.html
  src/main/webapp/app/shared/form/title-channel-name/title-channel-name.component.ts
  src/test/java/de/tum/in/www1/artemis/exercise/fileuploadexercise/FileUploadExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/modelingexercise/ModelingExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/quizexercise/QuizExerciseFactory.java
  src/test/java/de/tum/in/www1/artemis/exercise/quizexercise/QuizExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/lecture/LectureIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/text/TextExerciseIntegrationTest.java
  src/test/javascript/spec/component/exercises/shared/exercise-title-channel-name.component.spec.ts
  src/test/javascript/spec/component/lecture/lecture-title-channel-name.component.spec.ts
  src/test/javascript/spec/component/lecture/lecture-update.component.spec.ts
  src/test/javascript/spec/component/lecture/wizard-mode/lecture-wizard-title.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/update-components/programming-exercise-information.component.spec.ts
  src/test/javascript/spec/component/shared/form/title-channel-name.component.spec.ts
  src/test/javascript/spec/component/text-exercise/text-exercise-update.component.spec.ts
Labels: tests, server, client, ready to merge

#7106 `Development`: Fix running Git tests on Windows
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/GitServiceTest.java
  src/test/java/de/tum/in/www1/artemis/util/GitUtilService.java
Labels: tests, small, ready to merge

#7101 `Development`: Fix warning when running the CodeQL GitHub action
  .github/workflows/codeql-analysis.yml
Labels: small, ready to merge

#7081 `General`: Request data export for another user as administrator
  .idea/runConfigurations/Artemis__Server__LocalVC___LocalCI_.xml
  src/main/java/de/tum/in/www1/artemis/service/dataexport/DataExportService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/DataExportResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/admin/AdminDataExportResource.java
  src/main/webapp/app/core/legal/data-export/confirmation/data-export-confirmation-dialog.component.html
  src/main/webapp/app/core/legal/data-export/confirmation/data-export-confirmation-dialog.component.ts
  src/main/webapp/app/core/legal/data-export/confirmation/data-export-confirmation-dialog.model.ts
  src/main/webapp/app/core/legal/data-export/confirmation/data-export-confirmation-dialog.service.ts
  src/main/webapp/app/core/legal/data-export/confirmation/data-export-request-button.directive.ts
  src/main/webapp/app/core/legal/data-export/data-export.component.html
  src/main/webapp/app/core/legal/data-export/data-export.component.ts
  src/main/webapp/app/core/legal/data-export/data-export.service.ts
  src/main/webapp/app/core/legal/privacy.module.ts
  src/main/webapp/app/shared/delete-dialog/delete-dialog.component.html
  src/main/webapp/app/shared/delete-dialog/delete-dialog.model.ts
  src/main/webapp/app/shared/type-ahead-search-field/type-ahead-user-search-field.component.html
  src/main/webapp/app/shared/type-ahead-search-field/type-ahead-user-search-field.component.scss
  src/main/webapp/app/shared/type-ahead-search-field/type-ahead-user-search-field.component.ts
  src/main/webapp/app/shared/type-ahead-search-field/type-ahead-user-search-field.module.ts
  src/main/webapp/i18n/de/dataExport.json
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/en/dataExport.json
  src/main/webapp/i18n/en/global.json
  src/test/java/de/tum/in/www1/artemis/dataexport/DataExportResourceIntegrationTest.java
  src/test/javascript/spec/component/legal/data-export-confirmation-dialog.component.spec.ts
  src/test/javascript/spec/component/legal/data-export-confirmation-dialog.service.spec.ts
  src/test/javascript/spec/component/legal/data-export-request-button.directive.spec.ts
  src/test/javascript/spec/component/legal/data-export.component.spec.ts
  src/test/javascript/spec/component/shared/type-ahead-user-search-field.component.spec.ts
  src/test/javascript/spec/service/data-export.service.spec.ts
Labels: tests, server, client, ready to merge

#7109 `Communication`: Remove trailing hyphens on auto-generated channel names
  src/main/java/de/tum/in/www1/artemis/service/metis/conversation/ChannelService.java
  src/main/webapp/app/shared/form/title-channel-name/title-channel-name.component.html
  src/main/webapp/app/shared/form/title-channel-name/title-channel-name.component.ts
  src/test/java/de/tum/in/www1/artemis/lecture/LectureIntegrationTest.java
  src/test/javascript/spec/component/shared/form/title-channel-name.component.spec.ts
Labels: tests, server, client, ready to merge

#7069 `Development`: Fix quiz creation and websocket handshakes during k6 tests
  src/test/k6/api_tests.sh
  src/test/k6/requests/exam.js
  src/test/k6/requests/modeling.js
  src/test/k6/requests/programmingExercise.js
  src/test/k6/requests/quiz.js
  src/test/k6/requests/text.js
Labels: tests, stale

#6846 `Development`: Improve file input validation
  src/main/java/de/tum/in/www1/artemis/service/CourseExamExportService.java
  src/main/java/de/tum/in/www1/artemis/service/FileService.java
  src/main/java/de/tum/in/www1/artemis/service/SubmissionExportService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/GitService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseExportService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/FileResource.java
  src/test/java/de/tum/in/www1/artemis/course/CourseTestService.java
  src/test/java/de/tum/in/www1/artemis/service/FileServiceTest.java
Labels: tests, server, refactoring, ready to merge, maintainer-approved

#6847 `Development`: Refine path comparison
  src/main/java/de/tum/in/www1/artemis/service/RepositoryService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/repository/RepositoryProgrammingExerciseParticipationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/repository/RepositoryResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/repository/TestRepositoryResource.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/TestRepositoryResourceIntegrationTest.java
Labels: tests, server, component:Programming, ready to merge, maintainer-approved

#7100 `Development`: Improve e2e tests to wait for exam start and give test run more time
  src/test/cypress/e2e/course/CourseMessages.cy.ts
  src/test/cypress/e2e/exam/ExamTestRun.cy.ts
  src/test/cypress/e2e/exam/test-exam/TestExamTestRun.cy.ts
  src/test/cypress/e2e/lecture/LectureManagement.cy.ts
  src/test/cypress/package-lock.json
  src/test/cypress/package.json
  src/test/cypress/support/pageobjects/exam/ExamParticipation.ts
  src/test/cypress/support/pageobjects/exam/ExamStartEndPage.ts
Labels: tests, cypress, ready to merge

#7083 `Programming exercises`: Fix repository link for submissions in practice mode
  src/main/webapp/app/exercises/programming/shared/utils/programming-exercise.utils.ts
  src/test/javascript/spec/component/utils/programming-exercise.utils.spec.ts
Labels: tests, ready for review, client, bugfix

#7103 `Plagiarism detection`: Fix plagiarism comparisons pagination
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-sidebar/plagiarism-sidebar.component.html
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-sidebar/plagiarism-sidebar.component.ts
  src/main/webapp/i18n/de/plagiarism.json
  src/main/webapp/i18n/en/plagiarism.json
  src/test/javascript/spec/component/plagiarism/plagiarism-sidebar.component.spec.ts
Labels: tests, client, component:Plagiarism Detection, ready to merge

#7121 `Development`: Update client dependencies
  package-lock.json
  package.json
  src/test/javascript/spec/component/grading-system/detailed-grading-system.component.spec.ts
Labels: tests

#7123 `Development`: Improved Awaitility's default values for server tests
  src/test/java/de/tum/in/www1/artemis/assessment/AssessmentComplaintIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/assessment/ParticipantScoreIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/junit_extensions/AwaitilityExtension.java
  src/test/resources/META-INF/services/org.junit.jupiter.api.extension.Extension
  src/test/resources/junit-platform.properties
Labels: tests, small, ready to merge

#7122 `Programming exercises`: Fix an issue with the configuration of auxiliary repositories
  docs/user/exercises/programming-exercise-setup.inc
  src/main/java/de/tum/in/www1/artemis/service/connectors/gitlabci/GitLabCIProgrammingLanguageFeatureService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsProgrammingLanguageFeatureService.java
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.ts
Labels: ready for review, server, client, documentation
