Repository ls1intum/Artemis, pull requests merged in 2023-03, with the labels that each got.

#6301 `Exam mode`: Allow import of file upload exercises for exams
  src/main/webapp/app/exam/manage/exam-management.route.ts
  src/main/webapp/app/exam/manage/exercise-groups/exercise-groups.component.html
  src/test/javascript/spec/component/exam/manage/exercise-groups/exercise-groups.component.spec.ts
Labels: tests, client, ready to merge

#6303 `General`: Fix course overview control items inconsistencies and persist lecture sorting locally
  src/main/webapp/app/overview/course-exercises/course-exercises.component.ts
  src/main/webapp/app/overview/course-lectures/course-lectures.component.html
  src/main/webapp/app/overview/course-lectures/course-lectures.component.ts
  src/main/webapp/app/overview/course-overview.component.html
  src/main/webapp/app/overview/course-statistics/course-statistics.component.ts
  src/main/webapp/app/overview/course-tutorial-groups/course-tutorial-groups.component.ts
  src/main/webapp/app/overview/tab-bar/tab-bar.ts
  src/main/webapp/i18n/de/student-dashboard.json
  src/main/webapp/i18n/en/student-dashboard.json
  src/test/javascript/spec/component/course/course-overview.component.spec.ts
  src/test/javascript/spec/component/overview/course-lectures/course-lectures.component.spec.ts
Labels: tests, ready for review, client, bugfix

#6307 `Development`: Update Atlassian versions
  build.gradle
  src/main/docker/atlassian.c.override.yml
  src/main/docker/atlassian.swift.override.yml
  src/main/docker/atlassian.yml
  src/main/java/de/tum/in/www1/artemis/domain/statistics/BuildLogStatisticsEntry.java
Labels: ready for review, server, bamboo/bitbucket, docker

#6239 `General`: Remove participant score pages
  src/main/java/de/tum/in/www1/artemis/repository/StudentScoreRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/TeamScoreRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ParticipantScoreService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ParticipantScoreResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/ParticipantScoreAverageDTO.java
  src/main/webapp/app/course/course-participant-scores/course-participant-scores.component.html
  src/main/webapp/app/course/course-participant-scores/course-participant-scores.component.ts
  src/main/webapp/app/course/course-participant-scores/course-participant-scores.module.ts
  src/main/webapp/app/course/course-scores/course-scores.component.html
  src/main/webapp/app/course/course-scores/course-scores.component.ts
  src/main/webapp/app/course/dashboards/assessment-dashboard/assessment-dashboard.component.html
  src/main/webapp/app/course/dashboards/assessment-dashboard/assessment-dashboard.component.ts
  src/main/webapp/app/course/manage/course-management.module.ts
  src/main/webapp/app/course/manage/course-management.route.ts
  src/main/webapp/app/course/manage/detail/course-detail.component.html
  src/main/webapp/app/exam/exam-scores/exam-scores.component.html
  src/main/webapp/app/exam/exam-scores/exam-scores.component.ts
  src/main/webapp/app/exam/manage/exam-management.module.ts
  src/main/webapp/app/exam/manage/exam-management.route.ts
  src/main/webapp/app/exam/manage/exam-participant-scores/exam-participant-scores.component.html
  src/main/webapp/app/exam/manage/exam-participant-scores/exam-participant-scores.component.ts
  src/main/webapp/app/exam/manage/exam-participant-scores/exam-participant-scores.module.ts
  src/main/webapp/app/shared/participant-scores/participant-scores-average-table/participant-scores-average-table.component.html
  src/main/webapp/app/shared/participant-scores/participant-scores-average-table/participant-scores-average-table.component.ts
  src/main/webapp/app/shared/participant-scores/participant-scores-table/participant-scores-table.component.html
  src/main/webapp/app/shared/participant-scores/participant-scores-table/participant-scores-table.component.ts
  src/main/webapp/app/shared/participant-scores/participant-scores-tables-container/participant-scores-tables-container.component.html
  src/main/webapp/app/shared/participant-scores/participant-scores-tables-container/participant-scores-tables-container.component.ts
  src/main/webapp/app/shared/participant-scores/participant-scores.module.ts
  src/main/webapp/app/shared/participant-scores/participant-scores.service.ts
  src/main/webapp/i18n/de/participantScores.json
  src/main/webapp/i18n/en/participantScores.json
  src/test/java/de/tum/in/www1/artemis/assessment/ParticipantScoreIntegrationTest.java
  src/test/javascript/spec/component/course/course-participant-scores.component.spec.ts
  src/test/javascript/spec/component/exam/exam-participant-scores.component.spec.ts
  src/test/javascript/spec/component/exam/exam-scores/exam-scores.component.spec.ts
  src/test/javascript/spec/component/shared/participant-scores-average-table.component.spec.ts
  src/test/javascript/spec/component/shared/participant-scores-table.component.spec.ts
  src/test/javascript/spec/component/shared/participant-scores-tables-container.component.spec.ts
Labels: tests, server, client, chore, exam mode, user interface, ready to merge

#6299 `Development`: Update client and server dependencies
  build.gradle
  gradle.properties
  gradle/wrapper/gradle-wrapper.properties
  package-lock.json
  package.json
  src/test/javascript/spec/component/exam/manage/student-exams/user-import-dialog.component.spec.ts
  src/test/javascript/spec/component/import/exercise-import.component.spec.ts
Labels: tests, ready for review

#6302 `General`: Keep assessment editor in read only mode when answering a feedback request
  src/main/webapp/app/assessment/assessment.service.ts
  src/main/webapp/app/complaints/form/complaints-form.component.html
  src/main/webapp/app/complaints/form/complaints-form.component.ts
  src/main/webapp/i18n/en/complaint.json
  src/test/javascript/spec/service/assessment.service.spec.ts
Labels: tests, client, small, bugfix, ready to merge

#6319 `General`: Do not send version control access token if not required
  src/main/java/de/tum/in/www1/artemis/domain/User.java
  src/main/java/de/tum/in/www1/artemis/service/dto/UserDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/AccountResource.java
Labels: ready for review, security, server

#6310 `Development`: Fix inconsistent plugin versions
  build.gradle
  gradle.properties
Labels: ready for review

#6306 `Development`: Add long feedback table
  src/main/java/de/tum/in/www1/artemis/domain/Feedback.java
  src/main/java/de/tum/in/www1/artemis/domain/LongFeedbackText.java
  src/main/java/de/tum/in/www1/artemis/domain/enumeration/FeedbackType.java
  src/main/java/de/tum/in/www1/artemis/domain/enumeration/Visibility.java
  src/main/java/de/tum/in/www1/artemis/repository/TextClusterRepository.java
  src/main/resources/config/liquibase/changelog/20230227191919_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/entities/feedback.model.ts
  src/main/webapp/app/entities/long-feedback-text.model.ts
Labels: ready for review, server, client, database

#6265 `General`: Improve usability of LTI launch
  src/main/webapp/app/core/auth/account.service.ts
  src/main/webapp/app/core/auth/user-route-access-service.ts
  src/main/webapp/app/home/home.component.ts
  src/main/webapp/app/overview/exercise-details/lti-initializer-modal.component.html
  src/main/webapp/app/overview/exercise-details/lti-initializer.component.ts
  src/test/javascript/spec/helpers/mocks/service/mock-account.service.ts
  src/test/javascript/spec/service/account.service.spec.ts
  src/test/javascript/spec/service/user-route-access.service.spec.ts
Labels: tests, client, lti, small, ready to merge

#6292 `Quiz exercises`: Fix edge cases at the end of the submission period
  src/main/java/de/tum/in/www1/artemis/domain/quiz/QuizExercise.java
  src/main/java/de/tum/in/www1/artemis/service/QuizBatchService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ParticipationResource.java
  src/test/java/de/tum/in/www1/artemis/ParticipationIntegrationTest.java
Labels: tests, server, component:Quiz, small, bugfix, ready to merge

#6321 `Development`: Filter complaint reviewer from server response
  src/main/java/de/tum/in/www1/artemis/web/rest/ComplaintResource.java
Labels: server, small, bugfix, ready to merge

#6300 `Exam mode`: Fix breadcrumbs for import of exam exercises
  src/main/webapp/app/shared/layouts/navbar/navbar.component.ts
Labels: ready for review, client

#6280 `Programming exercises`: Update gradle template to 8.0.1 and newest SCA versions
  src/main/resources/config/application.yml
  src/main/resources/templates/java/gradle_gradle/exercise/gradle/wrapper/gradle-wrapper.jar
  src/main/resources/templates/java/gradle_gradle/exercise/gradle/wrapper/gradle-wrapper.properties
  src/main/resources/templates/java/gradle_gradle/solution/gradle/wrapper/gradle-wrapper.jar
  src/main/resources/templates/java/gradle_gradle/solution/gradle/wrapper/gradle-wrapper.properties
  src/main/resources/templates/java/maven_maven/test/projectTemplate/pom.xml
  src/main/resources/templates/java/plain_gradle/exercise/gradle/wrapper/gradle-wrapper.jar
  src/main/resources/templates/java/plain_gradle/exercise/gradle/wrapper/gradle-wrapper.properties
  src/main/resources/templates/java/plain_gradle/solution/gradle/wrapper/gradle-wrapper.jar
  src/main/resources/templates/java/plain_gradle/solution/gradle/wrapper/gradle-wrapper.properties
  src/main/resources/templates/java/test/gradle/projectTemplate/build.gradle
  src/main/resources/templates/java/test/gradle/projectTemplate/gradle/wrapper/gradle-wrapper.jar
  src/main/resources/templates/java/test/gradle/projectTemplate/gradle/wrapper/gradle-wrapper.properties
  src/main/resources/templates/java/test/maven/projectTemplate/pom.xml
  src/main/resources/templates/kotlin/test/maven/projectTemplate/pom.xml
Labels: ready for review

#6177 `Development`: Drop `lti_user_id` table
  src/main/resources/config/liquibase/changelog/20230217140000_changelog.xml
  src/main/resources/config/liquibase/master.xml
Labels: ready for review, database, lti, small

#6273 `Development`: Move programming exercise repository actions into separate service
  src/main/java/de/tum/in/www1/artemis/service/ResourceLoaderService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/JavaTemplateUpgradeService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseRepositoryService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseResource.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseRepositoryServiceTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseServiceTest.java
Labels: tests, ready for review, server, component:Programming, code quality, refactoring

#6150 `Programming exercises`: Fix Jenkins builds by replacing all non-printable characters in JUnit-XMLs
  src/main/resources/templates/jenkins/c/fact/regularRuns/Jenkinsfile
  src/main/resources/templates/jenkins/c/gcc/regularRuns/Jenkinsfile
  src/main/resources/templates/jenkins/haskell/regularRuns/Jenkinsfile
  src/main/resources/templates/jenkins/java/gradle/regularRuns/Jenkinsfile
  src/main/resources/templates/jenkins/java/gradle/regularRuns/Jenkinsfile-staticCodeAnalysis
  src/main/resources/templates/jenkins/java/gradle/sequentialRuns/Jenkinsfile
  src/main/resources/templates/jenkins/java/maven/regularRuns/Jenkinsfile
  src/main/resources/templates/jenkins/java/maven/regularRuns/Jenkinsfile-staticCodeAnalysis
  src/main/resources/templates/jenkins/java/maven/sequentialRuns/Jenkinsfile
  src/main/resources/templates/jenkins/kotlin/regularRuns/Jenkinsfile
  src/main/resources/templates/jenkins/kotlin/sequentialRuns/Jenkinsfile
  src/main/resources/templates/jenkins/python/regularRuns/Jenkinsfile
  src/main/resources/templates/jenkins/swift/regularRuns/Jenkinsfile
  src/main/resources/templates/jenkins/swift/regularRuns/Jenkinsfile-staticCodeAnalysis
Labels: jenkins/gitlab, small, bugfix, ready to merge

#5903 `Quiz exercises`: Add visual editor for multiple choice questions
  src/main/webapp/app/entities/quiz/answer-option.model.ts
  src/main/webapp/app/exercises/quiz/manage/multiple-choice-question/multiple-choice-question-edit.component.html
  src/main/webapp/app/exercises/quiz/manage/multiple-choice-question/multiple-choice-question-edit.component.ts
  src/main/webapp/app/exercises/quiz/shared/questions/artemis-quiz-question-types.module.ts
  src/main/webapp/app/exercises/quiz/shared/questions/multiple-choice-question/multiple-choice-question.component.html
  src/main/webapp/app/exercises/quiz/shared/questions/multiple-choice-question/multiple-choice-question.component.scss
  src/main/webapp/app/exercises/quiz/shared/questions/multiple-choice-question/multiple-choice-visual-question.component.html
  src/main/webapp/app/exercises/quiz/shared/questions/multiple-choice-question/multiple-choice-visual-question.component.ts
  src/main/webapp/app/shared/markdown-editor/markdown-editor.component.html
  src/main/webapp/app/shared/markdown-editor/markdown-editor.component.scss
  src/main/webapp/app/shared/markdown-editor/markdown-editor.component.ts
  src/main/webapp/content/scss/themes/_dark-variables.scss
  src/main/webapp/content/scss/themes/_default-variables.scss
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/de/multipleChoiceQuestion.json
  src/main/webapp/i18n/en/global.json
  src/main/webapp/i18n/en/multipleChoiceQuestion.json
  src/test/javascript/spec/component/multiple-choice-question/multiple-choice-question-edit.component.spec.ts
  src/test/javascript/spec/component/quiz-exercise/quiz-exercise-visual-editor.component.spec.ts
Labels: enhancement, tests, client, component:Quiz, ready to merge

#6329 `Development`: Remove unused button on exam details page
  src/main/webapp/app/course/dashboards/assessment-dashboard/assessment-dashboard.component.html
  src/main/webapp/app/exam/manage/exams/exam-checklist-component/exam-checklist.component.html
  src/main/webapp/app/exam/manage/exams/exam-checklist-component/exam-checklist.component.ts
  src/main/webapp/app/exam/manage/exams/exam-detail.component.html
  src/main/webapp/app/exam/manage/exams/exam-detail.component.ts
Labels: client, small, bugfix, user interface, ready to merge

#6298 `Development`: Improve code quality for exam
  src/main/java/de/tum/in/www1/artemis/domain/exam/Exam.java
  src/main/java/de/tum/in/www1/artemis/domain/exam/ExamUser.java
  src/main/java/de/tum/in/www1/artemis/domain/exam/StudentExam.java
  src/main/java/de/tum/in/www1/artemis/repository/ExamUserRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/StudentExamRepository.java
  src/main/java/de/tum/in/www1/artemis/service/FileService.java
  src/main/java/de/tum/in/www1/artemis/service/ParticipantScoreService.java
  src/main/java/de/tum/in/www1/artemis/service/exam/ExamQuizService.java
  src/main/java/de/tum/in/www1/artemis/service/exam/ExamRegistrationService.java
  src/main/java/de/tum/in/www1/artemis/service/exam/ExamService.java
  src/main/java/de/tum/in/www1/artemis/service/exam/ExamUserService.java
  src/main/java/de/tum/in/www1/artemis/service/exam/ImageExtractor.java
  src/main/java/de/tum/in/www1/artemis/service/exam/StudentExamService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExamUserResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/FileResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/StudentExamResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/ExamUserDTO.java
  src/main/resources/config/liquibase/changelog/20230220022200_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/entities/exam-user.model.ts
  src/main/webapp/app/exam/manage/students/exam-students.component.ts
  src/test/java/de/tum/in/www1/artemis/exam/ExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exam/StudentExamIntegrationTest.java
  src/test/javascript/spec/component/assessment-dashboard/exam-assessment-buttons.component.spec.ts
  src/test/javascript/spec/component/exam/exam-update.component.spec.ts
  src/test/javascript/spec/component/exam/manage/exam-students.component.spec.ts
  src/test/javascript/spec/component/exam/manage/student-exams/student-exam-detail.component.spec.ts
  src/test/javascript/spec/component/exam/manage/student-exams/student-exams.component.spec.ts
  src/test/javascript/spec/component/exam/manage/student-exams/students-upload-images-dialog.component.spec.ts
  src/test/javascript/spec/component/exam/manage/student-exams/user-import-dialog.component.spec.ts
  src/test/javascript/spec/util/exam-user-import/UserImportWithRoomAndSeatInfo.csv
Labels: tests, server, client, database, ready to merge

#6311 `Development`: Make cypress video config available as variable
  src/main/docker/cypress/cypress-E2E-tests.yml
Labels: ready to merge

#6322 `Learning analytics`: Make competency taxonomies more user friendly
  src/main/webapp/app/course/learning-goals/learning-goal-form/learning-goal-form.component.html
  src/main/webapp/app/course/learning-goals/learning-goal-form/learning-goal-form.component.ts
  src/main/webapp/i18n/de/learningGoal.json
  src/main/webapp/i18n/en/learningGoal.json
  src/test/javascript/spec/component/learning-goals/learning-goal-form.component.spec.ts
Labels: tests, client, small, user interface, ready to merge

#6328 `Development`: Add system health e2e checks
  src/main/webapp/app/admin/health/health.component.html
  src/test/cypress/e2e/SystemHealth.cy.ts
Labels: tests, client, cypress, ready to merge

#6332 `Development`: Make internal admin mail configurable
  src/main/java/de/tum/in/www1/artemis/service/user/UserService.java
  src/main/resources/config/application-artemis.yml
Labels: enhancement, server, config-change, small, ready to merge

#6340 `Development`: Add server tests for newly merged changes
  src/main/java/de/tum/in/www1/artemis/repository/StudentParticipationRepository.java
  src/test/java/de/tum/in/www1/artemis/assessment/AssessmentComplaintIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exam/StudentExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseResultTestService.java
  src/test/java/de/tum/in/www1/artemis/service/ExerciseDateServiceTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
Labels: tests, server, ready to merge

#6236 `Tutorial groups`: Fix schedule and sessions recreated when any tutorial group property changed
  src/main/java/de/tum/in/www1/artemis/domain/tutorialgroups/TutorialGroupSchedule.java
  src/main/java/de/tum/in/www1/artemis/repository/tutorialgroups/TutorialGroupSessionRepository.java
  src/main/java/de/tum/in/www1/artemis/service/tutorialgroups/TutorialGroupScheduleService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/tutorialgroups/TutorialGroupResource.java
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-groups/crud/tutorial-group-form/tutorial-group-form.component.ts
  src/test/java/de/tum/in/www1/artemis/tutorialgroups/TutorialGroupScheduleIntegrationTest.java
Labels: tests, server, client, bugfix, ready to merge

#6339 `Assessment`: Fix bonus calculation related bugs
  src/main/java/de/tum/in/www1/artemis/repository/StudentParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/service/CourseScoreCalculationService.java
  src/main/java/de/tum/in/www1/artemis/service/exam/ExamService.java
  src/main/webapp/app/grading-system/bonus/bonus.component.html
  src/main/webapp/app/grading-system/bonus/bonus.component.ts
  src/test/java/de/tum/in/www1/artemis/exam/StudentExamIntegrationTest.java
  src/test/javascript/spec/component/bonus/bonus.component.spec.ts
Labels: tests, server, client, ready to merge

#6237 `Tutorial groups`: Give students information about the current utilization and average attendance
  src/main/java/de/tum/in/www1/artemis/domain/tutorialgroups/TutorialGroup.java
  src/main/java/de/tum/in/www1/artemis/service/tutorialgroups/TutorialGroupService.java
  src/main/webapp/app/course/tutorial-groups/shared/tutorial-group-detail/tutorial-group-detail.component.html
  src/main/webapp/app/course/tutorial-groups/shared/tutorial-group-detail/tutorial-group-detail.component.ts
  src/main/webapp/app/course/tutorial-groups/shared/tutorial-group-sessions-table/tutorial-group-sessions-table.component.ts
  src/main/webapp/app/course/tutorial-groups/shared/tutorial-group-utilization-indicator/tutorial-group-utilization-indicator.component.html
  src/main/webapp/app/course/tutorial-groups/shared/tutorial-group-utilization-indicator/tutorial-group-utilization-indicator.component.scss
  src/main/webapp/app/course/tutorial-groups/shared/tutorial-group-utilization-indicator/tutorial-group-utilization-indicator.component.ts
  src/main/webapp/app/course/tutorial-groups/shared/tutorial-groups-shared.module.ts
  src/main/webapp/app/course/tutorial-groups/shared/tutorial-groups-table/tutorial-group-row/tutorial-group-row.component.html
  src/main/webapp/app/course/tutorial-groups/shared/tutorial-groups-table/tutorial-group-row/tutorial-group-row.component.ts
  src/main/webapp/app/course/tutorial-groups/shared/tutorial-groups-table/tutorial-groups-table.component.html
  src/main/webapp/app/course/tutorial-groups/shared/tutorial-groups-table/tutorial-groups-table.component.ts
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-group-sessions/tutorial-group-sessions-management/tutorial-group-sessions-management.component.html
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-group-sessions/tutorial-group-sessions-management/tutorial-group-sessions-management.component.ts
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-groups/tutorial-groups-management/tutorial-group-row-buttons/tutorial-group-row-buttons.component.ts
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-groups/tutorial-groups-management/tutorial-groups-management.component.html
  src/main/webapp/app/entities/tutorial-group/tutorial-group.model.ts
  src/main/webapp/app/shared/vertical-progress-bar/vertical-progress-bar.component.html
  src/main/webapp/app/shared/vertical-progress-bar/vertical-progress-bar.component.scss
  src/main/webapp/app/shared/vertical-progress-bar/vertical-progress-bar.component.ts
  src/main/webapp/app/shared/vertical-progress-bar/vertical-progress-bar.module.ts
  src/main/webapp/i18n/de/tutorialGroups.json
  src/main/webapp/i18n/en/tutorialGroups.json
  src/test/java/de/tum/in/www1/artemis/tutorialgroups/AbstractTutorialGroupIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/tutorialgroups/TutorialGroupIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/javascript/spec/component/shared/vertical-progress-bar.component.spec.ts
  src/test/javascript/spec/component/tutorial-groups/shared/tutorial-group-detail.component.spec.ts
  src/test/javascript/spec/component/tutorial-groups/shared/tutorial-group-row.component.spec.ts
  src/test/javascript/spec/component/tutorial-groups/shared/tutorial-group-utilization-indicator.component.spec.ts
  src/test/javascript/spec/component/tutorial-groups/shared/tutorial-groups-table.component.spec.ts
  src/test/javascript/spec/component/tutorial-groups/stubs/tutorial-group-row-buttons-stub.component.ts
  src/test/javascript/spec/component/tutorial-groups/stubs/tutorial-group-sessions-table-stub.component.ts
Labels: feature, tests, server, client, ready to merge, component:TutorialGroups

#6341 `Development`: Update dependencies
  build.gradle
  gradle.properties
  gradle/liquibase.gradle
  gradle/wrapper/gradle-wrapper.properties
  libs/jenkins-client-0.4.0.jar
  package-lock.json
  package.json
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/jobs/JenkinsJobService.java
  src/test/java/de/tum/in/www1/artemis/connector/JenkinsRequestMockProvider.java
  src/test/resources/config/application.yml
Labels: tests, server, ready to merge

#6343 `Development`: Change `docker-compose` to `docker compose` to fix e2e issues
  .bamboo/E2E-tests-with-flake-detection/cleanup.sh
  .bamboo/E2E-tests-with-flake-detection/execute.sh
  .bamboo/E2E-tests/cleanup.sh
  .bamboo/E2E-tests/execute.sh
Labels: ready for review

#6086 `Programming exercises`: Show test case details consistently for tutors on all related pages
  src/main/java/de/tum/in/www1/artemis/domain/Result.java
  src/main/java/de/tum/in/www1/artemis/service/WebsocketMessagingService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ResultResource.java
  src/main/webapp/app/exercises/programming/assess/code-editor-tutor-assessment-container.component.html
  src/main/webapp/app/exercises/programming/assess/programming-assessment-dashboard/programming-exercise-submissions.component.html
  src/main/webapp/app/exercises/programming/manage/code-editor/code-editor-instructor-and-editor-container.component.html
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.html
  src/main/webapp/app/exercises/programming/manage/services/programming-exercise-participation.service.ts
  src/main/webapp/app/exercises/programming/shared/instructions-render/extensions/programming-exercise-task.extension.ts
  src/main/webapp/app/exercises/programming/shared/instructions-render/programming-exercise-instruction.component.html
  src/main/webapp/app/exercises/programming/shared/instructions-render/step-wizard/programming-exercise-instruction-step-wizard.component.ts
  src/main/webapp/app/exercises/programming/shared/instructions-render/task/programming-exercise-instruction-task-status.component.ts
  src/main/webapp/app/exercises/shared/exercise-scores/exercise-scores.component.html
  src/main/webapp/app/exercises/shared/feedback/feedback.component.ts
  src/main/webapp/app/exercises/shared/participation-submission/participation-submission.component.html
  src/main/webapp/app/exercises/shared/result/result.component.ts
  src/main/webapp/app/exercises/shared/result/updating-result.component.html
  src/main/webapp/app/exercises/shared/result/updating-result.component.ts
  src/main/webapp/app/orion/management/code-editor-instructor-and-editor-orion-container.component.html
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.html
  src/test/java/de/tum/in/www1/artemis/domain/ResultTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseResultBambooIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseResultJenkinsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseResultTestService.java
  src/test/javascript/spec/component/programming-exercise/programming-exercise-instruction.component.spec.ts
  src/test/javascript/spec/component/shared/feedback/feedback.component.spec.ts
  src/test/javascript/spec/service/programming-exercise-participation.service.spec.ts
Labels: tests, server, client, ready to merge

#6352 `Development`: Update cypress to 12.8.1
  src/test/cypress/package-lock.json
  src/test/cypress/package.json
Labels: tests, cypress, ready to merge

#6338 `General`: Rename tutor feedback category to reviewer
  src/main/webapp/app/exercises/shared/feedback/item/feedback-item-service.ts
  src/main/webapp/app/exercises/shared/feedback/item/programming-feedback-item.service.ts
  src/main/webapp/i18n/de/course.json
  src/main/webapp/i18n/en/course.json
  src/test/javascript/spec/service/feedback/programming-feedback-item.service.spec.ts
Labels: tests, client, small, ready to merge

#6315 `General`: Make spacings consistent
  src/main/webapp/app/course/manage/course-exercise-card.component.html
  src/main/webapp/app/course/manage/course-exercise-card.component.scss
  src/main/webapp/app/exercises/file-upload/manage/file-upload-exercise.component.html
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise.component.html
  src/main/webapp/app/exercises/programming/manage/programming-exercise.component.html
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise.component.html
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise.component.html
  src/main/webapp/app/overview/course-exercises/course-exercises.component.html
  src/main/webapp/app/overview/course-exercises/course-exercises.component.ts
  src/main/webapp/app/overview/course-overview.scss
  src/main/webapp/app/overview/courses.component.html
  src/main/webapp/app/overview/header-course.component.scss
Labels: client, lock:artemistest5, small, ready to merge

#6354 `Tutorial groups`: Improve readability of tutorial group table
  src/main/webapp/app/course/tutorial-groups/shared/meeting-pattern.pipe.ts
  src/main/webapp/app/course/tutorial-groups/shared/remove-seconds.pipe.ts
  src/main/webapp/app/course/tutorial-groups/shared/tutorial-group-detail/tutorial-group-detail.component.html
  src/main/webapp/app/course/tutorial-groups/shared/tutorial-group-utilization-indicator/tutorial-group-utilization-indicator.component.html
  src/main/webapp/app/course/tutorial-groups/shared/tutorial-groups-shared.module.ts
  src/main/webapp/app/course/tutorial-groups/shared/tutorial-groups-table/tutorial-group-row/tutorial-group-row.component.html
  src/main/webapp/app/course/tutorial-groups/shared/tutorial-groups-table/tutorial-group-row/tutorial-group-row.component.ts
  src/main/webapp/app/course/tutorial-groups/shared/tutorial-groups-table/tutorial-groups-table.component.html
  src/main/webapp/app/course/tutorial-groups/shared/tutorial-groups-table/tutorial-groups-table.component.ts
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-group-sessions/tutorial-group-sessions-management/tutorial-group-sessions-management.component.html
  src/main/webapp/app/shared/service/sort.service.ts
  src/main/webapp/app/shared/vertical-progress-bar/vertical-progress-bar.component.html
  src/main/webapp/app/shared/vertical-progress-bar/vertical-progress-bar.component.ts
  src/main/webapp/app/shared/vertical-progress-bar/vertical-progress-bar.module.ts
  src/main/webapp/i18n/de/tutorialGroups.json
  src/main/webapp/i18n/en/tutorialGroups.json
  src/test/javascript/spec/component/shared/vertical-progress-bar.component.spec.ts
  src/test/javascript/spec/component/tutorial-groups/shared/meeting-pattern.pipe.spec.ts
  src/test/javascript/spec/component/tutorial-groups/shared/remove-seconds.pipe.spec.ts
  src/test/javascript/spec/component/tutorial-groups/shared/tutorial-group-detail.component.spec.ts
  src/test/javascript/spec/component/tutorial-groups/shared/tutorial-group-row.component.spec.ts
  src/test/javascript/spec/component/tutorial-groups/shared/tutorial-group-utilization-indicator.component.spec.ts
  src/test/javascript/spec/component/tutorial-groups/shared/tutorial-groups-table.component.spec.ts
  src/test/javascript/spec/component/tutorial-groups/stubs/tutorial-groups-table-stub.component.ts
  src/test/javascript/spec/component/tutorial-groups/tutorial-groups-management/tutorial-group-sessions/tutorial-group-sessions-management/tutorial-group-sessions-management.component.spec.ts
  src/test/javascript/spec/service/sort.service.spec.ts
Labels: tests, client, ready to merge, component:TutorialGroups

#6371 `Development`: Fix Markdown preview functionality
  src/main/webapp/app/exercises/programming/manage/instructions-editor/programming-exercise-editable-instruction.component.html
  src/main/webapp/app/exercises/quiz/manage/multiple-choice-question/multiple-choice-question-edit.component.html
  src/main/webapp/app/shared/markdown-editor/markdown-editor.component.ts
  src/main/webapp/app/shared/metis/posting-markdown-editor/posting-markdown-editor.component.html
Labels: client, small, bugfix, ready to merge

#6368 `Development`: Update client dependencies
  package-lock.json
  package.json
Labels: ready for review

#6346 `Communication`: Rearrange the plus icon in sort-by menu
  src/main/webapp/i18n/de/metis.json
  src/main/webapp/i18n/en/metis.json
Labels: client, ready to merge

#6353 `Development`: Add communication e2e tests
  src/main/webapp/app/overview/course-discussion/course-discussion.component.html
  src/main/webapp/app/shared/metis/posting-create-edit-modal/answer-post-create-edit-modal/answer-post-create-edit-modal.component.html
  src/main/webapp/app/shared/metis/posting-create-edit-modal/post-create-edit-modal/post-create-edit-modal.component.html
  src/main/webapp/app/shared/notification/notification-sidebar/notification-sidebar.component.html
  src/test/cypress/e2e/course/CourseCommunication.cy.ts
  src/test/cypress/support/artemis.ts
  src/test/cypress/support/constants.ts
  src/test/cypress/support/pageobjects/ArtemisPageobjects.ts
  src/test/cypress/support/pageobjects/NavigationBar.ts
  src/test/cypress/support/pageobjects/course/CourseCommunication.ts
  src/test/cypress/support/requests/CourseManagementRequests.ts
  src/test/cypress/support/utils.ts
Labels: tests, client, cypress, ready to merge

#6363 `Exam mode`: Fix an issue with multiple online code editors after navigating back from hand-in early
  src/main/webapp/app/exam/participate/exam-participation.component.ts
  src/test/javascript/spec/component/exam/participate/exam-participation.component.spec.ts
Labels: tests, client, ready to merge

#6379 `General`: Improve button layout in exercise details page and improve export dialog
  src/main/webapp/app/assessment/assessment-shared.module.ts
  src/main/webapp/app/exercises/programming/assess/repo-export/programming-assessment-repo-export-dialog.component.html
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.html
  src/main/webapp/app/exercises/shared/exercise-detail-common-actions/non-programming-exercise-detail-common-actions.component.html
  src/main/webapp/app/exercises/shared/exercise-scores/exercise-scores.component.html
  src/main/webapp/app/exercises/shared/exercise-scores/exercise-scores.module.ts
  src/main/webapp/app/exercises/shared/external-submission/external-submission-button.component.ts
  src/main/webapp/app/exercises/shared/submission-export/submission-export-dialog.component.html
  src/main/webapp/i18n/de/instructorDashboard.json
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/global.json
  src/main/webapp/i18n/en/instructorDashboard.json
  src/main/webapp/i18n/en/programmingExercise.json
Labels: enhancement, client, small, user interface, ready to merge

#6383 `Development`: Upgrade stale bot
  .github/workflows/pullrequest-stale.yml
Labels: chore, priority:low, small, ready to merge

#6348 `Development`: Fix issues with users in QuizExerciseIntegrationTest
  src/test/java/de/tum/in/www1/artemis/quiz/QuizExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/java/de/tum/in/www1/artemis/util/ModelFactory.java
Labels: tests, server, small, ready to merge

#6377 `Development`: Add video screencasts for wizard modes and visual mode for quizzes
  docs/user/exercises/programming-exercise-setup.inc
  docs/user/exercises/programming/switch-to-guided-mode-button.png
  docs/user/exercises/quiz.rst
  docs/user/lectures.rst
  docs/user/lectures/switch-to-guided-mode-button.png
Labels: documentation, ready to merge

#6385 `General`: Improve button layout on multiple pages
  src/main/webapp/app/course/manage/overview/course-management-exercise-row.component.html
  src/main/webapp/app/exam/manage/exercise-groups/exercise-groups.component.html
  src/main/webapp/app/exercises/file-upload/manage/file-upload-exercise.component.html
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise.component.html
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.html
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.ts
  src/main/webapp/app/exercises/programming/manage/programming-exercise.component.html
  src/main/webapp/app/exercises/programming/manage/programming-exercise.component.ts
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise.component.html
  src/main/webapp/app/exercises/shared/exam-exercise-row-buttons/exam-exercise-row-buttons.component.html
  src/main/webapp/app/exercises/shared/participation/participation.component.html
  src/main/webapp/app/exercises/shared/participation/participation.component.ts
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise-row-buttons.component.html
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise.component.html
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.html
  src/main/webapp/i18n/de/exercise.json
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/en/exercise.json
  src/main/webapp/i18n/en/global.json
  src/test/javascript/spec/component/participation/participation.component.spec.ts
Labels: enhancement, tests, client, user interface, ready to merge

#6375 `General`: Improve user interface of scores page
  src/main/webapp/app/exercises/programming/assess/repo-export/programming-assessment-repo-export-button.component.ts
  src/main/webapp/app/exercises/shared/example-submission/example-submission-import/example-submission-import.component.html
  src/main/webapp/app/exercises/shared/exercise-scores/exercise-scores.component.html
  src/main/webapp/app/exercises/shared/participation/participation.component.html
  src/main/webapp/app/exercises/shared/submission-export/submission-export-button.component.ts
  src/main/webapp/i18n/de/exercise.json
  src/main/webapp/i18n/de/participation.json
  src/main/webapp/i18n/en/exercise.json
  src/main/webapp/i18n/en/participation.json
Labels: ready for review, client, small, bugfix, user interface

#6394 `Quiz exercises`: Fix drop location of modeling quiz text elements
  src/main/webapp/app/exercises/quiz/manage/apollon-diagrams/exercise-generation/quiz-exercise-generator.ts
Labels: ready for review, client, bugfix, ready to merge

#6277 `Development`: Refactor resource loader service
  src/main/java/de/tum/in/www1/artemis/service/FileService.java
  src/main/java/de/tum/in/www1/artemis/service/PlantUmlService.java
  src/main/java/de/tum/in/www1/artemis/service/ResourceLoaderService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/BambooBuildPlanService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/gitlabci/GitLabCIBuildPlanService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsBuildPlanCreator.java
  src/main/java/de/tum/in/www1/artemis/service/programming/JavaTemplateUpgradeService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseRepositoryService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/FileResource.java
  src/test/java/de/tum/in/www1/artemis/service/FileServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/ResourceLoaderServiceTest.java
Labels: tests, server, priority:high, refactoring, bugfix, ready to merge

#6360 `General`: Hide organization buttons for non-admin users in course edit screen
  src/main/webapp/app/course/manage/course-update.component.html
  src/main/webapp/app/course/manage/course-update.component.ts
  src/main/webapp/i18n/de/course.json
  src/main/webapp/i18n/en/course.json
  src/test/javascript/spec/component/course/course-update.component.spec.ts
Labels: tests, client, ready to merge

#6369 `Tutorial groups`: Fix various bugs concerning the tutorial group feature
  src/main/java/de/tum/in/www1/artemis/domain/tutorialgroups/TutorialGroup.java
  src/main/java/de/tum/in/www1/artemis/repository/tutorialgroups/TutorialGroupRepository.java
  src/main/java/de/tum/in/www1/artemis/service/tutorialgroups/TutorialGroupService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/tutorialgroups/TutorialGroupResource.java
  src/main/webapp/app/course/tutorial-groups/services/tutorial-groups.service.ts
  src/main/webapp/app/course/tutorial-groups/shared/tutorial-group-detail/tutorial-group-detail.component.html
  src/main/webapp/app/course/tutorial-groups/shared/tutorial-group-detail/tutorial-group-detail.component.ts
  src/main/webapp/app/course/tutorial-groups/shared/tutorial-groups-table/tutorial-group-row/tutorial-group-row.component.html
  src/main/webapp/app/course/tutorial-groups/shared/tutorial-groups-table/tutorial-group-row/tutorial-group-row.component.ts
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-group-management-resolve.service.ts
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-groups-checklist/tutorial-groups-checklist.component.html
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-groups-checklist/tutorial-groups-checklist.component.ts
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-groups-configuration/crud/tutorial-groups-configuration-form/tutorial-groups-configuration-form.component.html
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-groups-configuration/crud/tutorial-groups-configuration-form/tutorial-groups-configuration-form.component.scss
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-groups-configuration/crud/tutorial-groups-configuration-form/tutorial-groups-configuration-form.component.ts
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-groups/crud/tutorial-group-form/tutorial-group-form.component.html
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-groups/crud/tutorial-group-form/tutorial-group-form.component.ts
  src/main/webapp/app/entities/tutorial-group/tutorial-group.model.ts
  src/main/webapp/i18n/de/tutorialGroups.json
  src/main/webapp/i18n/en/tutorialGroups.json
  src/test/java/de/tum/in/www1/artemis/metis/ChannelIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/notifications/TutorialGroupNotificationServiceTest.java
  src/test/java/de/tum/in/www1/artemis/tutorialgroups/AbstractTutorialGroupIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/tutorialgroups/TutorialGroupFreePeriodIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/tutorialgroups/TutorialGroupIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/tutorialgroups/TutorialGroupSessionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/tutorialgroups/TutorialGroupsConfigurationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
  src/test/java/de/tum/in/www1/artemis/util/ModelFactory.java
  src/test/javascript/spec/component/tutorial-groups/helpers/tutorialGroupExampleModels.ts
  src/test/javascript/spec/component/tutorial-groups/services/tutorial-group.service.spec.ts
  src/test/javascript/spec/component/tutorial-groups/tutorial-groups-management/tutorial-group-management-resolve.service.spec.ts
  src/test/javascript/spec/component/tutorial-groups/tutorial-groups-management/tutorial-groups/crud/tutorial-group-form.component.spec.ts
Labels: tests, server, client, ready to merge, component:TutorialGroups

#6376 `Development`: Improve server test assertions
  src/test/java/de/tum/in/www1/artemis/exam/ExamActivityIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exam/ExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exam/ExamUserIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exam/ExerciseGroupIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exam/StudentExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/fileupload/FileUploadExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/hestia/ExerciseHintServiceTest.java
  src/test/java/de/tum/in/www1/artemis/lecture/LectureIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/lecture/LectureUnitIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseGradingServiceTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseTestCaseServiceTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingSubmissionAndResultBitbucketBambooIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/SubmissionPolicyIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/quiz/QuizExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/LectureImportServiceTest.java
  src/test/java/de/tum/in/www1/artemis/tutorialgroups/TutorialGroupIntegrationTest.java
Labels: tests, code quality, small, ready to merge

#6374 `Development`: Add course messages e2e tests
  src/main/webapp/app/overview/course-conversations/dialogs/channels-overview-dialog/channels-overview-dialog.component.html
  src/main/webapp/app/overview/course-conversations/layout/conversation-selection-sidebar/conversation-selection-sidebar.component.html
  src/test/cypress/e2e/course/CourseMessages.cy.ts
  src/test/cypress/support/artemis.ts
  src/test/cypress/support/pageobjects/ArtemisPageobjects.ts
  src/test/cypress/support/pageobjects/course/CourseMessages.ts
  src/test/cypress/support/requests/CourseManagementRequests.ts
Labels: tests, client, cypress, ready to merge
