Repository ls1intum/Artemis, pull requests merged in 2023-11, with the labels that each got.

#7388 `General`: Show error messages for empty courses during export
  src/main/java/de/tum/in/www1/artemis/domain/CourseExamExportErrorCause.java
  src/main/java/de/tum/in/www1/artemis/domain/CourseExamExportState.java
  src/main/java/de/tum/in/www1/artemis/service/export/CourseExamExportService.java
  src/main/webapp/app/shared/components/course-exam-archive-button/course-exam-archive-button.component.ts
  src/main/webapp/i18n/de/courseExamArchive.json
  src/main/webapp/i18n/en/courseExamArchive.json
Labels: server, client, ready to merge

#7455 `Programming exercises`: Fix test case type presentation for non Java exercises
  src/main/webapp/app/exercises/programming/manage/grading/tasks/programming-exercise-grading-tasks-table.component.html
  src/main/webapp/app/exercises/programming/manage/grading/tasks/programming-exercise-grading-tasks-table.component.ts
  src/main/webapp/app/exercises/programming/manage/grading/tasks/programming-exercise-task.service.ts
  src/main/webapp/app/exercises/programming/manage/grading/tasks/programming-exercise-task.ts
  src/main/webapp/app/exercises/programming/manage/grading/tasks/programming-exercise-task/programming-exercise-task.component.html
  src/main/webapp/i18n/de/programmingExerciseTestCase.json
  src/main/webapp/i18n/en/programmingExerciseTestCase.json
  src/test/javascript/spec/component/programming-exercise/tasks/programming-exercise-grading-tasks-table.component.spec.ts
  src/test/javascript/spec/service/programming-exercise-task.service.spec.ts
Labels: tests, client, ready to merge

#7243 `Development`: Improve server tests documentation
  docs/dev/guidelines.rst
  docs/dev/guidelines/resources/FileUpload_UtilService_Factory.png
  docs/dev/guidelines/resources/FileUpload_UtilService_Factory.puml
  docs/dev/guidelines/server-tests.rst
  docs/dev/guidelines/server.rst
  docs/user/exercises/programming.rst
Labels: documentation, ready to merge

#7469 `Development`: Add JavaDocs to UtilServices and Factories [13]
  src/test/java/de/tum/in/www1/artemis/tutorialgroups/TutorialGroupFactory.java
  src/test/java/de/tum/in/www1/artemis/tutorialgroups/TutorialGroupUtilService.java
Labels: tests, ready for review, small

#7427 `Development`: Add JavaDocs to UtilServices and Factories [11]
  src/test/java/de/tum/in/www1/artemis/organization/OrganizationFactory.java
  src/test/java/de/tum/in/www1/artemis/organization/OrganizationUtilService.java
  src/test/java/de/tum/in/www1/artemis/participation/ParticipationFactory.java
  src/test/java/de/tum/in/www1/artemis/participation/ParticipationUtilService.java
Labels: tests, ready for review

#7493 `Development`: Fix failing client tests because of missing mock component
  src/test/javascript/spec/component/exam/manage/suspicious-behavior/suspicious-behavior.component.spec.ts
Labels: tests, small, ready to merge

#7320 `Development`: Add drag-and-drop exercise generation tests
  src/test/javascript/spec/component/apollon-diagrams/apollon-diagram-detail.component.spec.ts
  src/test/javascript/spec/component/apollon-diagrams/exercise-generation/apollon-quiz-exercise-generation.component.spec.ts
  src/test/javascript/spec/component/apollon-diagrams/exercise-generation/quiz-exercise-generator.spec.ts
  src/test/javascript/spec/component/modeling-editor/modeling-editor.component.spec.ts
  src/test/javascript/spec/helpers/utils/general.utils.ts
Labels: tests, small, ready to merge

#7349 `Development`: Add a shared build job queue for local continuous integration
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIBuildJobManagementService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIConnectorService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCISharedBuildJobQueueService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCITriggerService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/dto/LocalCIBuildJobQueueItem.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalCIIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalVCLocalCIIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalVCLocalCITestService.java
Labels: tests, server, ready to merge

#7429 `Development`: Add tests for repository export dialog
  src/test/javascript/spec/component/programming-assessment/programming-assessment-repo-export-dialog.component.spec.ts
Labels: tests, ready to merge

#7478 `Development`: Improve code documentation and tests for get competency endpoint
  src/main/java/de/tum/in/www1/artemis/repository/CompetencyRepository.java
  src/test/java/de/tum/in/www1/artemis/lecture/CompetencyIntegrationTest.java
Labels: tests, server, ready to merge

#7472 `Development`: Add screencast links to docs
  docs/user/communication.rst
  docs/user/lectures.rst
  docs/user/lectures/automatic-unit-processing.png
  docs/user/notifications.rst
Labels: ready for review, documentation

#7464 `Development`: Update server dependencies
  build.gradle
  gradle.properties
  gradle/liquibase.gradle
  src/main/java/de/tum/in/www1/artemis/config/PublicResourcesConfiguration.java
  src/main/java/de/tum/in/www1/artemis/domain/lti/Lti13AgsClaim.java
  src/main/java/de/tum/in/www1/artemis/security/jwt/TokenProvider.java
  src/main/java/de/tum/in/www1/artemis/service/learningpath/LearningPathRecommendationService.java
  src/main/java/de/tum/in/www1/artemis/service/listeners/ResultListener.java
  src/main/java/de/tum/in/www1/artemis/web/rest/open/PublicLtiResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/push_notification/PushNotificationResource.java
  src/main/resources/config/application.yml
  src/test/java/de/tum/in/www1/artemis/Lti13LaunchIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/authentication/JiraAuthenticationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/notification/PushNotificationResourceTest.java
  src/test/java/de/tum/in/www1/artemis/security/jwt/TokenProviderSecurityMetersTest.java
  src/test/java/de/tum/in/www1/artemis/security/jwt/TokenProviderTest.java
Labels: tests, server, config-change

#7350 `Lectures`: Show slide numbers to be removed in automatic unit processing
  src/main/java/de/tum/in/www1/artemis/service/LectureUnitProcessingService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/lecture/AttachmentUnitResource.java
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/attachment-units/attachment-units.component.html
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/attachment-units/attachment-units.component.ts
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/attachmentUnit.service.ts
  src/main/webapp/i18n/de/lectureUnit.json
  src/main/webapp/i18n/en/lectureUnit.json
  src/test/java/de/tum/in/www1/artemis/lecture/AttachmentUnitsIntegrationTest.java
  src/test/javascript/spec/component/lecture-unit/attachment-unit/attachment-unit.service.spec.ts
  src/test/javascript/spec/component/lecture-unit/attachment-unit/attachment-units.component.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-attachment-units.service.ts
Labels: feature, tests, server, client, ready to merge, Component:Lecture

#7362 `Adaptive learning`: Improve learning path graph view
  src/main/java/de/tum/in/www1/artemis/repository/LearningPathRepository.java
  src/main/java/de/tum/in/www1/artemis/web/rest/LearningPathResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/competency/CompetencyProgressForLearningPathDTO.java
  src/main/webapp/app/course/competencies/competency-rings/competency-rings.component.html
  src/main/webapp/app/course/competencies/competency-rings/competency-rings.component.ts
  src/main/webapp/app/course/learning-paths/learning-path-graph/learning-path-graph.component.html
  src/main/webapp/app/course/learning-paths/learning-path-graph/learning-path-graph.component.ts
  src/main/webapp/app/course/learning-paths/learning-path-graph/learning-path-legend.component.html
  src/main/webapp/app/course/learning-paths/learning-path-graph/learning-path-legend.component.ts
  src/main/webapp/app/course/learning-paths/learning-path-graph/learning-path-node.component.html
  src/main/webapp/app/course/learning-paths/learning-path-graph/learning-path-node.component.ts
  src/main/webapp/app/course/learning-paths/learning-path-graph/node-details/competency-node-details.component.ts
  src/main/webapp/app/course/learning-paths/learning-path.service.ts
  src/main/webapp/app/course/learning-paths/progress-modal/learning-path-progress-modal.component.html
  src/main/webapp/app/course/learning-paths/progress-modal/learning-path-progress-modal.component.ts
  src/main/webapp/app/entities/competency.model.ts
  src/main/webapp/app/entities/competency/learning-path.model.ts
  src/main/webapp/i18n/de/competency.json
  src/main/webapp/i18n/en/competency.json
  src/test/java/de/tum/in/www1/artemis/competency/CompetencyUtilService.java
  src/test/java/de/tum/in/www1/artemis/lecture/LearningPathIntegrationTest.java
  src/test/javascript/spec/component/learning-paths/graph/learning-path-graph-node.component.spec.ts
  src/test/javascript/spec/component/learning-paths/graph/learning-path-graph.component.spec.ts
  src/test/javascript/spec/component/learning-paths/graph/node-details/competency-node-details.component.spec.ts
  src/test/javascript/spec/component/learning-paths/management/learning-path-progress-modal.component.spec.ts
  src/test/javascript/spec/service/learning-path.service.spec.ts
Labels: tests, server, client, small, ready to merge, stacked-pr, no-stale

#7488 `Programming exercises`: Fix reset of settings in import
  src/main/webapp/app/entities/exercise.model.ts
  src/main/webapp/app/entities/programming-exercise.model.ts
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-update.component.spec.ts
Labels: tests, client, component:Programming, small, bugfix, ready to merge

#7475 `Development`: Separate checkout tasks from build script for local continuous integration
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIBuildJobExecutionService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIContainerService.java
Labels: server, ready to merge

#7504 `Development`: Fix failing apollon client test
  src/test/javascript/spec/component/apollon-diagrams/apollon-diagram-detail.component.spec.ts
Labels: tests, small, ready to merge

#7471 `General`: Hide several buttons in course management when tutors should not see them
  src/main/webapp/app/assessment/assessment-locks/assessment-locks.component.html
  src/main/webapp/app/course/competencies/competency-management/competency-management.component.html
  src/main/webapp/app/course/competencies/competency.service.ts
  src/main/webapp/app/course/dashboards/assessment-dashboard/assessment-dashboard.component.html
  src/main/webapp/app/course/learning-paths/learning-path-management/learning-path-health-status-warning.component.html
  src/main/webapp/app/course/learning-paths/learning-path-management/learning-path-management.component.html
  src/main/webapp/app/course/manage/course-management-tab-bar/course-management-tab-bar.component.html
  src/main/webapp/app/exam/manage/exam-management.component.html
  src/main/webapp/app/exam/manage/exercise-groups/exercise-groups.component.html
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise-detail.component.html
  src/main/webapp/app/exercises/programming/assess/repo-export/programming-assessment-repo-export-dialog.component.html
  src/main/webapp/app/exercises/quiz/manage/statistics/quiz-point-statistic/quiz-point-statistic.component.html
  src/main/webapp/app/exercises/shared/dashboards/tutor/exercise-assessment-dashboard.component.html
  src/main/webapp/app/exercises/shared/submission-export/submission-export-dialog.component.html
  src/main/webapp/app/exercises/text/manage/tutor-effort/tutor-effort-statistics.component.html
  src/main/webapp/app/overview/course-competencies/course-competencies-details.component.html
  src/main/webapp/app/shared/auth/has-any-authority.directive.ts
  src/test/javascript/spec/component/competencies/competency.service.spec.ts
Labels: tests, client, bugfix, user interface, ready to merge

#7438 `Communication`: Migrate posts to course-wide channels
  src/main/resources/config/liquibase/changelog/20231023163427_changelog.xml
  src/main/resources/config/liquibase/master.xml
Labels: database, ready to merge

#7387 `Development`: Add client tests for timeframe view
  src/main/webapp/app/exercises/shared/exercise/exercise.utils.ts
  src/main/webapp/app/overview/course-exercises/course-exercise-row.module.ts
  src/main/webapp/app/overview/course-exercises/course-exercises-grouped-by-timeframe.component.html
  src/main/webapp/app/overview/course-exercises/course-exercises-grouped-by-timeframe.component.ts
  src/main/webapp/app/overview/course-exercises/course-exercises-grouped-by-week.component.html
  src/main/webapp/app/overview/course-exercises/course-exercises-grouped-by-week.component.ts
  src/main/webapp/app/overview/course-exercises/course-exercises.component.html
  src/main/webapp/app/overview/course-exercises/course-exercises.component.ts
  src/test/cypress/e2e/exercises/ExerciseImport.cy.ts
  src/test/cypress/support/pageobjects/exercises/programming/ProgrammingExerciseCreationPage.ts
  src/test/javascript/spec/component/course/course-exercises-grouped-by-timeframe.component.spec.ts
  src/test/javascript/spec/component/course/course-exercises-grouped-by-week.component.spec.ts
  src/test/javascript/spec/component/course/course-exercises.component.spec.ts
  src/test/javascript/spec/component/utils/exercise.utils.spec.ts
  src/test/javascript/spec/integration/course/course-overview-exercise-list-controls.integration.spec.ts
  src/test/javascript/spec/util/shared/utils.spec.ts
Labels: tests, ready for review, client, chore, cypress

#7480 `Development`: Cache active users in metrics calculation to improve performance
  src/main/java/de/tum/in/www1/artemis/config/MetricsBean.java
  src/main/java/de/tum/in/www1/artemis/repository/StatisticsRepository.java
  src/test/java/de/tum/in/www1/artemis/config/MetricsBeanTest.java
Labels: tests, ready for review, server

#7334 `Development`: Add tests for correct setting of variables in tutor leaderboard
  src/test/javascript/spec/component/tutor-leaderboard/tutor-leaderboard.component.spec.ts
  src/test/javascript/spec/service/account.service.spec.ts
Labels: tests, small, ready to merge

#7489 `General`: Improve the user interface of course management exercises overview
  src/main/webapp/app/course/manage/course-management-exercises.component.html
  src/main/webapp/app/exercises/file-upload/manage/file-upload-exercise.component.html
  src/main/webapp/app/exercises/file-upload/manage/file-upload-exercise.component.ts
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise.component.html
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise.component.ts
  src/main/webapp/app/exercises/programming/manage/programming-exercise.component.html
  src/main/webapp/app/exercises/programming/manage/programming-exercise.component.ts
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise.component.html
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise.component.ts
  src/main/webapp/app/exercises/shared/exercise/exercise.component.ts
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise.component.html
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise.component.ts
  src/main/webapp/i18n/de/createExercise.json
  src/main/webapp/i18n/en/createExercise.json
Labels: client, ready to merge

#7502 `Development`: Refactor documentation buttons
  src/main/webapp/app/course/competencies/competency-management/competency-management.component.ts
  src/main/webapp/app/course/competencies/create-competency/create-competency.component.ts
  src/main/webapp/app/course/dashboards/assessment-dashboard/assessment-dashboard.component.ts
  src/main/webapp/app/course/manage/course-management-exercises.component.ts
  src/main/webapp/app/course/manage/course-management-statistics.component.ts
  src/main/webapp/app/course/manage/course-management.component.ts
  src/main/webapp/app/course/plagiarism-cases/instructor-view/plagiarism-cases-instructor-view.component.ts
  src/main/webapp/app/exam/manage/exam-management.component.ts
  src/main/webapp/app/exam/manage/exams/exam-update.component.ts
  src/main/webapp/app/exam/manage/suspicious-behavior/suspicious-behavior.component.ts
  src/main/webapp/app/exercises/file-upload/manage/file-upload-exercise-detail.component.ts
  src/main/webapp/app/exercises/file-upload/manage/file-upload-exercise-update.component.ts
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise-detail.component.ts
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise-update.component.ts
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.ts
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.ts
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise-detail.component.ts
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise-detail.component.ts
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise-update.component.ts
  src/main/webapp/app/grading-system/grading-system.component.ts
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/unit-creation-card/unit-creation-card.component.ts
  src/main/webapp/app/lecture/lecture-update.component.ts
  src/main/webapp/app/lecture/lecture.component.ts
  src/main/webapp/app/overview/course-discussion/course-discussion.component.ts
  src/main/webapp/app/overview/course-statistics/course-statistics.component.ts
  src/main/webapp/app/shared/components/documentation-button/documentation-button.component.scss
  src/main/webapp/app/shared/components/documentation-button/documentation-button.component.ts
  src/main/webapp/app/shared/notification/notification-sidebar/notification-sidebar.component.ts
  src/main/webapp/i18n/de/documentationLinks.json
  src/main/webapp/i18n/en/documentationLinks.json
  src/test/javascript/spec/component/documentation-button/documentation-button.component.spec.ts
Labels: tests, client, ready to merge

#7513 `Development`: Prevent direct calls to git.commit()
  src/test/java/de/tum/in/www1/artemis/ArchitectureTest.java
  src/test/java/de/tum/in/www1/artemis/util/HestiaUtilTestService.java
Labels: tests, small, ready to merge

#7529 `Development`: Improve exercises client test coverage
  src/test/javascript/spec/component/file-upload-exercise/file-upload-exercise.component.spec.ts
  src/test/javascript/spec/component/modeling-exercise/modeling-exercise.component.spec.ts
  src/test/javascript/spec/component/quiz-exercise/quiz-exercise.component.spec.ts
  src/test/javascript/spec/component/text-exercise/text-exercise.component.spec.ts
Labels: tests, ready to merge

#7492 `Development`: Add documentation for local multiple Artemis instances setup
  docs/admin/setup/distributed.rst
  docs/admin/setup/distributed/run-config.png
Labels: documentation, ready to merge

#7444 `Exam mode`: Fix unhandled exception in exam score view
  src/main/java/de/tum/in/www1/artemis/service/ParticipantScoreService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ParticipantScoreResource.java
  src/main/webapp/app/exam/exam-scores/exam-scores.component.html
  src/main/webapp/app/exam/exam-scores/exam-scores.component.ts
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/en/exam.json
Labels: server, client, component:Exam Mode, ready to merge

#7389 `Tutorial groups`: Fix a usability issue for creating new tutorial for campus and language suggestions
  src/main/java/de/tum/in/www1/artemis/repository/tutorialgroups/TutorialGroupRepository.java
  src/main/java/de/tum/in/www1/artemis/web/rest/tutorialgroups/TutorialGroupResource.java
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-groups/crud/create-tutorial-group/create-tutorial-group.component.ts
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-groups/crud/tutorial-group-form/tutorial-group-form.component.ts
Labels: server, client, bugfix, ready to merge

#7531 `Development`: Use posts for plagiarism cases
  src/main/webapp/app/shared/metis/post.service.ts
  src/test/javascript/spec/service/metis/post.service.spec.ts
Labels: tests, ready for review, client, bugfix, ready to merge

#7546 `Development`: Add a workaround to execute cypress tests
  docker/cypress.yml
Labels: ready for review, priority:high, docker

#7482 `Development`: Add paper publications from 2023 to documentation
  docs/research/publications.bib
Labels: documentation, ready to merge

#7371 `General`: Add new contributors to about us page
  src/main/resources/public/content/about-us.json
  src/main/resources/public/images/about/Andreas_Resch.jpg
  src/main/resources/public/images/about/Benjamin_Sebastian_Schmitz.jpg
  src/main/resources/public/images/about/Dominik_Remo.jpg
  src/main/resources/public/images/about/Laurenz_Blumentritt.jpg
  src/main/resources/public/images/about/Lennart_Keller.jpg
  src/main/resources/public/images/about/Maximilian_Anzinger.jpg
  src/main/resources/public/images/about/Nityananda_Zbil.jpg
  src/main/resources/public/images/about/Valentin_Boehm.jpg
  src/main/resources/public/images/about/Xinyao_Liu.jpg
Labels: small, ready to merge

#7536 `Lectures`: Fix lecture attachment updates with the same name
  src/main/java/de/tum/in/www1/artemis/service/AttachmentUnitService.java
  src/main/java/de/tum/in/www1/artemis/service/EntityFileService.java
  src/test/java/de/tum/in/www1/artemis/lecture/AttachmentUnitIntegrationTest.java
Labels: tests, server, ready to merge

#7511 `Development`: Update programming exercise grading documentation
  docs/user/exercises/programming-exercise-features.inc
  docs/user/exercises/programming-exercise-import.inc
  docs/user/exercises/programming-exercise-setup.inc
  docs/user/exercises/programming.rst
  docs/user/exercises/programming/configure-grading-preview.png
  docs/user/exercises/programming/configure-grading-test-cases.png
  docs/user/exercises/programming/programming-options-advanced-configuration.png
  docs/user/exercises/programming/programming-options-assessment.png
  docs/user/exercises/programming/programming-options-categories.png
  docs/user/exercises/programming/programming-options-general-information.png
  docs/user/exercises/programming/programming-options-grading-instructions.png
  docs/user/exercises/programming/programming-options-instructions.png
  docs/user/exercises/programming/programming-options-mode.png
  docs/user/exercises/programming/programming-options-online-ide.png
  docs/user/exercises/programming/programming-options-participation-mode.png
  docs/user/exercises/programming/programming-options-problem-statement.png
  docs/user/exercises/programming/programming-options-programming-language.png
  docs/user/exercises/programming/programming-options-sca.png
  docs/user/exercises/programming/programming-options-score.png
  docs/user/exercises/programming/programming-options-timeline-automatic.png
  docs/user/exercises/programming/programming-options-timeline-manual.png
  src/main/webapp/app/exercises/programming/shared/lifecycle/programming-exercise-lifecycle.component.html
Labels: client, documentation, ready to merge

#7490 `Programming exercises`: Fix duplicated participant score update
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseGradingService.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseResultBambooIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseResultJenkinsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseResultTestService.java
Labels: tests, ready for review, server

#7507 `General`: Improve header responsiveness for instructors
  src/main/webapp/app/overview/header-course.component.html
  src/main/webapp/app/overview/header-course.component.scss
  src/main/webapp/app/overview/header-course.component.ts
Labels: ready for review, client, small, user interface, ready to merge

#7382 `Exam mode`: Only send student notifications when end time has changed
  src/main/java/de/tum/in/www1/artemis/repository/ExamLiveEventRepository.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localvc/LocalVCService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExamResource.java
  src/test/java/de/tum/in/www1/artemis/exam/ExamFactory.java
  src/test/java/de/tum/in/www1/artemis/exam/ExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exam/ExamUtilService.java
  src/test/java/de/tum/in/www1/artemis/exam/ProgrammingExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalVCLocalCIIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/AbstractArtemisIntegrationTest.java
Labels: tests, server, ready to merge

#7129 `Quiz exercises`: Fix LTI Moodle quiz participation results reflection
  src/main/java/de/tum/in/www1/artemis/service/QuizStatisticService.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/cache/quiz/QuizScheduleService.java
  src/test/java/de/tum/in/www1/artemis/LtiQuizIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/AbstractArtemisIntegrationTest.java
Labels: tests, server, component:LTI, ready to merge

#7525 `Adaptive learning`: Load legend of learning path graph dynamically
  src/main/webapp/app/course/learning-paths/learning-path-graph/learning-path-graph.component.html
  src/main/webapp/app/course/learning-paths/learning-path-graph/learning-path-graph.component.ts
  src/main/webapp/app/course/learning-paths/learning-path-graph/learning-path-legend.component.html
  src/main/webapp/app/course/learning-paths/learning-path-graph/learning-path-legend.component.ts
  src/main/webapp/i18n/de/competency.json
  src/test/javascript/spec/component/learning-paths/graph/learning-path-legend.component.spec.ts
Labels: tests, client, small, ready to merge

#7487 `General`: Improve statistic previews on management detail pages
  src/main/webapp/app/course/manage/course-management-statistics.component.html
  src/main/webapp/app/course/manage/course-management-statistics.component.ts
  src/main/webapp/app/course/manage/detail/course-detail-doughnut-chart.component.html
  src/main/webapp/app/course/manage/detail/course-detail-doughnut-chart.component.scss
  src/main/webapp/app/course/manage/detail/course-detail-doughnut-chart.component.ts
  src/main/webapp/app/course/manage/detail/course-detail-line-chart.component.html
  src/main/webapp/app/course/manage/detail/course-detail-line-chart.component.scss
  src/main/webapp/app/course/manage/detail/course-detail.component.html
  src/main/webapp/app/exercises/shared/statistics/doughnut-chart.component.ts
  src/main/webapp/app/exercises/shared/statistics/exercise-detail-statistics.component.html
  src/main/webapp/app/exercises/shared/statistics/exercise-detail-statistics.component.ts
  src/test/javascript/spec/component/course/detail/course-detail-doughnut-chart.component.spec.ts
  src/test/javascript/spec/component/statistics/doughnut-chart.component.spec.ts
Labels: tests, client, ready to merge

#7448 `Development`: Add LTI 1.3 documentation for Moodle admin
  docs/user/lti.rst
Labels: documentation, component:LTI, ready to merge

#7466 `Plagiarism checks`: Clean up results and cases in case of errors
  src/main/java/de/tum/in/www1/artemis/service/plagiarism/ContinuousPlagiarismControlService.java
  src/test/java/de/tum/in/www1/artemis/service/plagiarism/ContinuousPlagiarismControlServiceTest.java
Labels: tests, server, ready to merge

#7552 `Programming exercises`: Fix missing test names during manual assessment
  src/main/java/de/tum/in/www1/artemis/domain/LongFeedbackText.java
  src/main/java/de/tum/in/www1/artemis/repository/ResultRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/StudentParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingAssessmentService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/LongFeedbackTextResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingAssessmentResource.java
  src/main/webapp/app/entities/long-feedback-text.model.ts
  src/main/webapp/app/exercises/shared/feedback/long-feedback-text.service.ts
  src/main/webapp/app/exercises/shared/feedback/text/feedback-text.component.ts
  src/test/java/de/tum/in/www1/artemis/LongFeedbackResourceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingAssessmentIntegrationTest.java
  src/test/javascript/spec/component/shared/feedback/feedback-text.component.spec.ts
Labels: tests, ready for review, server, client, bugfix

#7547 `Communication`: Send emails for announcement messages
  src/main/java/de/tum/in/www1/artemis/domain/ConversationNotificationRecipientSummary.java
  src/main/java/de/tum/in/www1/artemis/domain/ConversationWebSocketRecipientSummary.java
  src/main/java/de/tum/in/www1/artemis/domain/User.java
  src/main/java/de/tum/in/www1/artemis/domain/notification/NotificationTargetFactory.java
  src/main/java/de/tum/in/www1/artemis/repository/UserRepository.java
  src/main/java/de/tum/in/www1/artemis/service/metis/AnswerMessageService.java
  src/main/java/de/tum/in/www1/artemis/service/metis/ConversationMessagingService.java
  src/main/java/de/tum/in/www1/artemis/service/metis/PostingService.java
  src/main/java/de/tum/in/www1/artemis/service/notifications/ConversationNotificationService.java
  src/main/java/de/tum/in/www1/artemis/service/notifications/GeneralInstantNotificationService.java
  src/main/java/de/tum/in/www1/artemis/service/notifications/GroupNotificationService.java
  src/main/webapp/app/overview/course-conversations/layout/conversation-messages/conversation-messages.component.html
  src/main/webapp/app/overview/course-conversations/layout/conversation-messages/conversation-messages.component.ts
  src/main/webapp/app/overview/course-conversations/other/channel-icon/channel-icon.component.html
  src/main/webapp/app/overview/course-conversations/other/channel-icon/channel-icon.component.ts
  src/main/webapp/app/shared/metis/post/post.component.html
  src/main/webapp/app/shared/metis/post/post.component.scss
  src/main/webapp/app/shared/metis/post/post.component.ts
  src/main/webapp/app/shared/metis/posting-create-edit-modal/post-create-edit-modal/post-create-edit-modal.component.html
  src/main/webapp/app/shared/metis/posting-create-edit-modal/post-create-edit-modal/post-create-edit-modal.component.ts
  src/main/webapp/app/shared/metis/posting-header/answer-post-header/answer-post-header.component.ts
  src/main/webapp/app/shared/notification/notification-popup/notification-popup.component.ts
  src/main/webapp/app/shared/notification/notification.service.ts
  src/main/webapp/i18n/de/metis.json
  src/main/webapp/i18n/en/metis.json
  src/test/java/de/tum/in/www1/artemis/metis/MessageIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/post/ConversationFactory.java
  src/test/java/de/tum/in/www1/artemis/post/ConversationUtilService.java
  src/test/java/de/tum/in/www1/artemis/service/notifications/ConversationNotificationServiceTest.java
  src/test/javascript/spec/component/overview/course-conversations/layout/conversation-messages/conversation-messages.component.spec.ts
Labels: tests, server, client, ready to merge

#7581 `Exam mode`: Fix an issue with formatting the problem statement when switching between exercises
  src/main/webapp/app/exercises/programming/shared/instructions-render/extensions/programming-exercise-task.extension.ts
Labels: client, component:Exam Mode, priority:high, bugfix, ready to merge

#7580 `Exam Mode`: Fix a user interface issue during submission updates in programming exercises
  src/main/webapp/app/exam/participate/exam-participation.component.ts
Labels: ready for review, client, component:Exam Mode, priority:high, bugfix, ready to merge

#7579 `Exam mode`: Fix an issue on the exam checklist page
  src/main/webapp/app/exam/manage/exams/exam-checklist-component/exam-checklist-exercisegroup-table/exam-checklist-exercisegroup-table.component.ts
  src/main/webapp/app/exam/manage/exams/exam-checklist-component/exam-checklist.component.ts
  src/main/webapp/app/exercises/quiz/manage/quiz-pool.component.ts
Labels: ready for review, client, component:Exam Mode, small, bugfix, sentry-issue, ready to merge

#7574 `Programming exercises`: Fix failing build due to missing build script in local continuous integration
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIBuildJobExecutionService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIContainerService.java
Labels: server, ready to merge

#7555 `Programming exercises`: Fix duplicate build job trigger for local continuous integration
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIConnectorService.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalCIIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalVCLocalCIIntegrationTest.java
Labels: tests, server, ready to merge

#7553 `Development`: Make copying feedback with attached long feedback text more robust
  src/main/java/de/tum/in/www1/artemis/service/FeedbackService.java
  src/test/java/de/tum/in/www1/artemis/service/FeedbackServiceTest.java
Labels: tests, server, component:Programming, small, bugfix, ready to merge

#7476 `Exam mode`: improve attendance check with websocket based id information
  src/main/java/de/tum/in/www1/artemis/domain/exam/event/ExamAttendanceCheckEvent.java
  src/main/java/de/tum/in/www1/artemis/service/exam/ExamLiveEventsService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExamResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/StudentExamResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/examevent/ExamAttendanceCheckEventDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/examevent/ExamLiveEventDTO.java
  src/main/webapp/app/exam/participate/events/exam-live-events-button.component.ts
  src/main/webapp/app/exam/participate/events/exam-live-events-overlay.component.ts
  src/main/webapp/app/exam/participate/exam-participation-live-events.service.ts
  src/main/webapp/app/exam/shared/events/exam-live-event.component.html
  src/main/webapp/app/exam/shared/events/exam-live-event.component.scss
  src/main/webapp/app/exam/shared/events/exam-live-event.component.ts
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/en/exam.json
  src/test/java/de/tum/in/www1/artemis/exam/StudentExamIntegrationTest.java
  src/test/javascript/spec/component/exam/shared/events/exam-live-event.component.spec.ts
Labels: feature, tests, ready for review, server, client, component:Exam Mode

#7473 `General`: Fix exercise category selection
  src/main/webapp/app/assessment/assessment-instructions/assessment-instructions/assessment-instructions.component.html
  src/main/webapp/app/exam/participate/exercises/modeling/modeling-exam-submission.component.html
  src/main/webapp/app/exam/participate/summary/exam-result-summary.component.ts
  src/main/webapp/app/exercises/file-upload/manage/file-upload-exercise-update.component.html
  src/main/webapp/app/exercises/file-upload/manage/file-upload-exercise-update.component.ts
  src/main/webapp/app/exercises/modeling/manage/example-modeling/example-modeling-submission.component.html
  src/main/webapp/app/exercises/modeling/manage/example-modeling/example-modeling-submission.component.ts
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise-detail.component.html
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise-update.component.html
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise-update.component.ts
  src/main/webapp/app/exercises/modeling/participate/modeling-submission.component.html
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.html
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.ts
  src/main/webapp/app/exercises/programming/manage/update/update-components/programming-exercise-information.component.html
  src/main/webapp/app/exercises/programming/manage/update/update-components/programming-exercise-information.component.scss
  src/main/webapp/app/exercises/programming/manage/update/update-components/programming-exercise-information.component.ts
  src/main/webapp/app/exercises/programming/manage/update/wizard-mode/programming-exercise-update-wizard.component.html
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise-detail.component.html
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise-detail.component.ts
  src/main/webapp/app/exercises/shared/course-exercises/course-utils.ts
  src/main/webapp/app/exercises/shared/example-solution/example-solution.component.html
  src/main/webapp/app/exercises/shared/exercise-scores/exercise-scores-export-button.component.ts
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise-update.component.html
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise-update.component.ts
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.html
  src/main/webapp/app/shared/category-selector/category-selector.component.html
  src/main/webapp/app/shared/category-selector/category-selector.component.scss
  src/main/webapp/app/shared/category-selector/category-selector.component.ts
  src/main/webapp/app/shared/color-selector/color-selector.component.ts
  src/main/webapp/app/shared/color-selector/color-selector.scss
  src/main/webapp/app/shared/util/utils.ts
  src/main/webapp/content/scss/themes/theme-dark.scss
  src/main/webapp/content/scss/themes/theme-default.scss
  src/test/javascript/spec/component/exam/participate/summary/exam-result-summary.component.spec.ts
  src/test/javascript/spec/component/file-upload-exercise/file-upload-exercise-update.component.spec.ts
  src/test/javascript/spec/component/modeling-exercise/modeling-exercise-update.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-update.component.spec.ts
  src/test/javascript/spec/component/quiz-exercise/quiz-exercise-detail.component.spec.ts
  src/test/javascript/spec/component/shared/category-selector.component.spec.ts
  src/test/javascript/spec/component/shared/color-selector.component.spec.ts
  src/test/javascript/spec/component/text-exercise/text-exercise-update.component.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-file-upload-exercise.service.ts
Labels: tests, client, component:Programming, component:Modeling, component:Text, refactoring, ready to merge, dark mode

#7551 `Development`: Add JavaDocs to UtilServices and Factories [17]
  src/test/java/de/tum/in/www1/artemis/bonus/BonusFactory.java
  src/test/java/de/tum/in/www1/artemis/competency/CompetencyUtilService.java
Labels: tests, small, ready to merge

#7591 `Development`: Fix marking of suggestions as "adapted"
  src/main/webapp/app/assessment/unreferenced-feedback-detail/unreferenced-feedback-detail.component.ts
  src/main/webapp/app/entities/feedback.model.ts
  src/main/webapp/app/exercises/programming/assess/code-editor-tutor-assessment-inline-feedback.component.ts
  src/main/webapp/app/exercises/text/assess/textblock-feedback-editor/textblock-feedback-editor.component.ts
  src/test/javascript/spec/component/text-submission-assessment/textblock-feedback-editor.component.spec.ts
Labels: tests, client, component:Programming, component:Text, small, bugfix, javascript

#7549 `Development`: Add JavaDocs to UtilServices and Factories [16]
  src/test/java/de/tum/in/www1/artemis/post/ConversationFactory.java
  src/test/java/de/tum/in/www1/artemis/post/ConversationUtilService.java
Labels: tests, ready to merge

#7548 `Development`: Add JavaDocs to UtilServices and Factories [15]
  src/test/java/de/tum/in/www1/artemis/notification/NotificationFactory.java
  src/test/java/de/tum/in/www1/artemis/plagiarism/PlagiarismUtilService.java
  src/test/java/de/tum/in/www1/artemis/util/PageableSearchUtilService.java
Labels: tests, small, ready to merge

#7470 `Development`: Add JavaDocs to UtilServices and Factories [14]
  src/test/java/de/tum/in/www1/artemis/user/UserFactory.java
  src/test/java/de/tum/in/www1/artemis/user/UserUtilService.java
Labels: tests, ready for review

#7558 `Programming exercise`: Fill title and short name during import
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-update.component.spec.ts
Labels: tests, client, ready to merge

#7550 `Notifications`: Add version to push notifications
  src/main/java/de/tum/in/www1/artemis/config/Constants.java
  src/main/java/de/tum/in/www1/artemis/service/notifications/push_notifications/PushNotificationService.java
Labels: server, component:Notification, ready to merge

#7544 `Development`: Add configuration and documentation for local Moodle environment for LTI development
  docker/moodle/moodle.yml
  docs/dev/local-moodle-setup-for-lti.rst
  docs/index.rst
Labels: documentation, ready to merge, docker

#7458 `Plagiarism checks`: Add more plagiarism result stats
  src/main/java/de/tum/in/www1/artemis/service/plagiarism/PlagiarismCaseService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExercisePlagiarismResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/plagiarism/PlagiarismCaseInfoDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/plagiarism/PlagiarismComparisonStatusDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/plagiarism/PlagiarismResultDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/plagiarism/PlagiarismVerdictDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/plagiarism/PlagiarismCaseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/plagiarism/PlagiarismResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/plagiarism/PlagiarismResultResponseBuilder.java
  src/main/java/de/tum/in/www1/artemis/web/rest/plagiarism/PlagiarismResultStats.java
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise.service.ts
  src/main/webapp/app/exercises/programming/manage/services/programming-exercise.service.ts
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-inspector/plagiarism-inspector.component.html
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-inspector/plagiarism-inspector.component.ts
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-run-details/plagiarism-run-details.component.html
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-run-details/plagiarism-run-details.component.scss
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-run-details/plagiarism-run-details.component.ts
  src/main/webapp/app/exercises/shared/plagiarism/types/PlagiarismResult.ts
  src/main/webapp/app/exercises/shared/plagiarism/types/PlagiarismResultDTO.ts
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise.service.ts
  src/main/webapp/i18n/de/plagiarism.json
  src/main/webapp/i18n/en/plagiarism.json
  src/test/java/de/tum/in/www1/artemis/exercise/modelingexercise/ModelingAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/modelingexercise/ModelingExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseIntegrationTestService.java
  src/test/java/de/tum/in/www1/artemis/plagiarism/PlagiarismCaseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/plagiarism/PlagiarismCheckIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/plagiarism/PlagiarismIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/text/TextExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/web/rest/plagiarism/PlagiarismResultResponseBuilderTest.java
  src/test/javascript/spec/component/plagiarism/plagiarism-inspector.component.spec.ts
Labels: tests, server, client, ready to merge

#7360 `Development`: Add JavaDocs to UtilServices and Factories [7]
  src/test/java/de/tum/in/www1/artemis/course/CourseUtilService.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseFactory.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseUtilService.java
Labels: tests

#7598 `Development`: Fix PushNotificationResourceTest for MySQL
  src/test/java/de/tum/in/www1/artemis/notification/PushNotificationResourceTest.java
Labels: tests, small, ready to merge

#7239 `Development`: Add JavaDocs to UtilServices and Factories
  src/test/java/de/tum/in/www1/artemis/DatabaseQueryCountTest.java
  src/test/java/de/tum/in/www1/artemis/assessment/ComplaintUtilService.java
  src/test/java/de/tum/in/www1/artemis/assessment/GradingScaleUtilService.java
  src/test/java/de/tum/in/www1/artemis/bonus/BonusFactory.java
  src/test/java/de/tum/in/www1/artemis/competency/CompetencyUtilService.java
  src/test/java/de/tum/in/www1/artemis/course/CourseFactory.java
  src/test/java/de/tum/in/www1/artemis/course/CourseTestService.java
  src/test/java/de/tum/in/www1/artemis/course/CourseUtilService.java
  src/test/java/de/tum/in/www1/artemis/exam/ExamFactory.java
  src/test/java/de/tum/in/www1/artemis/exam/ExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exam/ExamUtilService.java
  src/test/java/de/tum/in/www1/artemis/exam/QuizPoolIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/ExerciseFactory.java
  src/test/java/de/tum/in/www1/artemis/exercise/ExerciseUtilService.java
  src/test/java/de/tum/in/www1/artemis/exercise/fileuploadexercise/FileUploadExerciseFactory.java
  src/test/java/de/tum/in/www1/artemis/exercise/fileuploadexercise/FileUploadExerciseUtilService.java
  src/test/java/de/tum/in/www1/artemis/exercise/modelingexercise/ModelingExerciseFactory.java
  src/test/java/de/tum/in/www1/artemis/exercise/modelingexercise/ModelingExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/modelingexercise/ModelingExerciseUtilService.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseFactory.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseUtilService.java
  src/test/java/de/tum/in/www1/artemis/exercise/quizexercise/QuizExerciseFactory.java
  src/test/java/de/tum/in/www1/artemis/exercise/quizexercise/QuizExerciseUtilService.java
  src/test/java/de/tum/in/www1/artemis/exercise/textexercise/TextExerciseFactory.java
  src/test/java/de/tum/in/www1/artemis/exercise/textexercise/TextExerciseUtilService.java
  src/test/java/de/tum/in/www1/artemis/lecture/LectureFactory.java
  src/test/java/de/tum/in/www1/artemis/lecture/LectureUtilService.java
  src/test/java/de/tum/in/www1/artemis/notification/NotificationFactory.java
  src/test/java/de/tum/in/www1/artemis/organization/OrganizationFactory.java
  src/test/java/de/tum/in/www1/artemis/organization/OrganizationUtilService.java
  src/test/java/de/tum/in/www1/artemis/participation/ParticipationFactory.java
  src/test/java/de/tum/in/www1/artemis/participation/ParticipationUtilService.java
  src/test/java/de/tum/in/www1/artemis/plagiarism/PlagiarismUtilService.java
  src/test/java/de/tum/in/www1/artemis/post/ConversationFactory.java
  src/test/java/de/tum/in/www1/artemis/post/ConversationUtilService.java
  src/test/java/de/tum/in/www1/artemis/team/TeamFactory.java
  src/test/java/de/tum/in/www1/artemis/team/TeamUtilService.java
  src/test/java/de/tum/in/www1/artemis/text/TextAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/text/TextExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/tutorialgroups/TutorialGroupFactory.java
  src/test/java/de/tum/in/www1/artemis/tutorialgroups/TutorialGroupUtilService.java
  src/test/java/de/tum/in/www1/artemis/user/UserFactory.java
  src/test/java/de/tum/in/www1/artemis/user/UserUtilService.java
  src/test/java/de/tum/in/www1/artemis/util/PageableSearchUtilService.java
Labels: tests, code quality, ready to merge, stacked-pr

#7597 `General`: Allow instructors to navigate from course management to student view
  src/main/webapp/app/overview/header-course.component.html
  src/main/webapp/app/overview/header-course.component.ts
  src/main/webapp/i18n/de/student-dashboard.json
  src/main/webapp/i18n/en/student-dashboard.json
  src/test/javascript/spec/component/course/header-course.component.spec.ts
Labels: tests, client, small, ready to merge

#7608 `Exam mode`: Fix label association in scores overview
  src/main/webapp/app/exam/exam-scores/exam-scores.component.html
Labels: client, component:Exam Mode, small, bugfix, user interface, ready to merge

#7607 `Programming exercises`: Fix link to build plan editor for exam exercises
  src/main/webapp/app/exam/manage/exam-management.route.ts
Labels: client, component:Programming, component:Exam Mode, small, bugfix, ready to merge

#7610 `Exam mode`: Hide supervisor comment on attendance check
  src/main/java/de/tum/in/www1/artemis/web/rest/StudentExamResource.java
  src/main/webapp/app/exam/shared/events/exam-live-event.component.html
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/en/exam.json
  src/test/javascript/spec/component/exam/shared/events/exam-live-event.component.spec.ts
Labels: tests, server, client, component:Exam Mode, small, bugfix, ready to merge

#7615 `Exam mode`: Fix the display of students after exam conduction
  src/main/webapp/app/exam/manage/students/exam-students.component.ts
Labels: ready for review, client

#7528 `Development`: Prepare custom build plans
  src/main/java/de/tum/in/www1/artemis/domain/ProgrammingExercise.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/aeolus/Action.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/aeolus/DockerConfig.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/aeolus/PlatformAction.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/aeolus/ScriptAction.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/aeolus/Windfile.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/aeolus/WindfileMetadata.java
  src/main/java/de/tum/in/www1/artemis/web/rest/FileResource.java
  src/main/resources/config/liquibase/changelog/20231029162645_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/resources/templates/aeolus/java/plain_gradle.yaml
  src/main/resources/templates/aeolus/java/plain_gradle_sequential.yaml
  src/main/resources/templates/aeolus/java/plain_maven.yaml
  src/main/resources/templates/aeolus/java/plain_maven_sequential.yaml
  src/main/resources/templates/aeolus/python/default.yaml
  src/main/webapp/app/app.constants.ts
  src/main/webapp/app/entities/programming-exercise.model.ts
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-creation-config.ts
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.ts
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.module.ts
  src/main/webapp/app/exercises/programming/manage/update/update-components/programming-exercise-custom-build-plan.component.html
  src/main/webapp/app/exercises/programming/manage/update/update-components/programming-exercise-custom-build-plan.component.ts
  src/main/webapp/app/exercises/programming/manage/update/update-components/programming-exercise-language.component.html
  src/main/webapp/app/exercises/programming/shared/code-editor/ace/code-editor-ace.component.ts
  src/main/webapp/app/shared/http/file.service.ts
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/programmingExercise.json
  src/test/java/de/tum/in/www1/artemis/FileIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/connectors/AeolusTest.java
  src/test/javascript/spec/component/programming-exercise/programming-exercise-custom-build-plan.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-update.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/update-components/programming-exercise-creation-config-mock.ts
Labels: tests, server, client, database, template, ready to merge

#7556 `Plagiarism checks`: Allow for customization of plagiarism results size limit
  docs/admin/setup/customization.rst
  src/main/java/de/tum/in/www1/artemis/service/plagiarism/PlagiarismDetectionService.java
  src/main/java/de/tum/in/www1/artemis/service/plagiarism/ProgrammingPlagiarismDetectionService.java
  src/main/resources/config/application-artemis.yml
  src/test/resources/config/application-artemis.yml
Labels: tests, server, documentation, config-change, small, ready to merge

#7613 `Programming exercises`: Fix continuous rescheduling of timed out build jobs in local continuous integration
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCISharedBuildJobQueueService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/dto/LocalCIBuildJobQueueItem.java
Labels: server, ready to merge

#7625 `Development`: Fix prettier errors
  src/main/webapp/app/exercises/shared/exercise-scores/exercise-scores.component.html
  src/main/webapp/app/exercises/shared/submission-export/submission-export-dialog.component.html
  src/main/webapp/app/overview/exercise-details/exercise-details-student-actions.component.html
  src/main/webapp/app/shared/user-import/users-import-dialog.component.html
Labels: client, small, ready to merge

#7626 `Development`: Improve server build settings and update server dependencies
  .gitignore
  CONTRIBUTING.md
  artemis-spotless-style.xml
  build.gradle
  docker/mysql.yml
  docker/postgres.yml
  docs/admin/database.rst
  docs/dev/setup.rst
  gradle.properties
  gradle/liquibase.gradle
  gradle/profile_dev.gradle
  gradle/profile_prod.gradle
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  package-lock.json
  package.json
  src/main/java/de/tum/in/www1/artemis/service/QuizBatchService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/BambooBuildPlanService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bitbucket/dto/BitbucketSearchDTO.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIBuildJobManagementService.java
  src/main/java/de/tum/in/www1/artemis/service/notifications/GroupNotificationService.java
  src/main/java/de/tum/in/www1/artemis/service/notifications/MailService.java
  src/main/java/de/tum/in/www1/artemis/service/notifications/SingleUserNotificationService.java
  src/main/java/de/tum/in/www1/artemis/service/util/Tuple.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextAssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/plagiarism/PlagiarismResultDTO.java
  src/main/kubernetes/artemis/statefulsets/artemis-mysql.yml
  src/main/resources/config/application-dev.yml
  src/main/resources/config/application-prod.yml
  src/test/java/de/tum/in/www1/artemis/config/MetricsBeanTest.java
  src/test/java/de/tum/in/www1/artemis/exam/ExamRegistrationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseTemplateIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/QueryCountAssert.java
  src/test/resources/config/application.yml
Labels: tests, ready for review, server, documentation, config-change, docker

#7639 `Programming exercises`: Fix code editor tab width setting dark mode style
  src/main/webapp/content/scss/global.scss
Labels: client, component:Programming, small, bugfix, user interface, ready to merge, dark mode

#7619 `Programming exercises`: Add custom build scripts for local continuous integration
  src/main/java/de/tum/in/www1/artemis/service/connectors/aeolus/Windfile.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIContainerService.java
Labels: server, ready to merge

#7590 `Exam mode`: Fix an issue when loading modeling exercise results in the summary of test runs
  src/main/java/de/tum/in/www1/artemis/service/AuthorizationCheckService.java
  src/test/java/de/tum/in/www1/artemis/service/AuthorizationCheckServiceTest.java
Labels: tests, server, component:Exam Mode, bugfix, ready to merge

#7634 `Development`: Fix checkstyle issues in server code documentation
  src/main/java/de/tum/in/www1/artemis/service/plagiarism/ProgrammingPlagiarismDetectionService.java
Labels: ready for review, server

#7622 `Communication`: Show messaging page if only communication is enabled
  src/main/java/de/tum/in/www1/artemis/repository/metis/conversation/ChannelRepository.java
  src/main/java/de/tum/in/www1/artemis/service/metis/AnswerMessageService.java
  src/main/java/de/tum/in/www1/artemis/service/metis/ConversationMessagingService.java
  src/main/java/de/tum/in/www1/artemis/service/metis/conversation/ChannelService.java
  src/main/java/de/tum/in/www1/artemis/service/metis/conversation/ConversationService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/metis/conversation/ChannelResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/metis/conversation/ConversationResource.java
  src/main/webapp/app/course/manage/course-management-tab-bar/course-management-tab-bar.component.html
  src/main/webapp/app/course/manage/course-management-tab-bar/course-management-tab-bar.component.ts
  src/main/webapp/app/entities/course.model.ts
  src/main/webapp/app/exam/manage/exams/exam-update.component.ts
  src/main/webapp/app/exercises/shared/exercise-title-channel-name/exercise-title-channel-name.component.ts
  src/main/webapp/app/lecture/lecture-title-channel-name.component.ts
  src/main/webapp/app/overview/course-conversations/layout/conversation-selection-sidebar/conversation-selection-sidebar.component.html
  src/main/webapp/app/overview/course-conversations/layout/conversation-selection-sidebar/conversation-selection-sidebar.component.ts
  src/main/webapp/app/overview/course-overview.component.html
  src/main/webapp/app/shared/metis/conversations/conversation.service.ts
  src/main/webapp/app/shared/metis/message/message-reply-inline-input/message-reply-inline-input.component.ts
  src/main/webapp/app/shared/metis/metis.service.ts
  src/main/webapp/app/shared/metis/posting-content/posting-content-part/posting-content-part.component.html
  src/main/webapp/app/shared/metis/posting-content/posting-content-part/posting-content-part.components.ts
  src/main/webapp/app/shared/metis/posting-markdown-editor/posting-markdown-editor.component.html
  src/test/java/de/tum/in/www1/artemis/metis/ChannelIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/metis/ConversationIntegrationTest.java
  src/test/javascript/spec/component/exercises/shared/exercise-title-channel-name.component.spec.ts
  src/test/javascript/spec/component/lecture/lecture-title-channel-name.component.spec.ts
  src/test/javascript/spec/component/overview/course-conversations/layout/conversation-selection-sidebar/conversation-selection-sidebar.component.spec.ts
  src/test/javascript/spec/component/overview/course-conversations/services/conversation.service.spec.ts
  src/test/javascript/spec/component/shared/metis/message-reply-inline-input/message-reply-inline-input.component.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-metis-service.service.ts
  src/test/javascript/spec/service/metis/metis.service.spec.ts
Labels: tests, server, client, priority:high, ready to merge

#7637 `Development`: Remove unnecessary test dependencies
  build.gradle
Labels: ready to merge

#7638 `Development`: Enable GitServiceTest
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/GitServiceTest.java
Labels: tests, small, ready to merge, maintainer-approved

#7612 `Quiz exercises`: Fix stuck loading cycle for competency selector in quiz exercise edit view
  src/main/webapp/app/shared/competency-selection/competency-selection.component.ts
  src/test/javascript/spec/component/shared/competency-selection.component.spec.ts
Labels: tests, client, small, bugfix, ready to merge

#7646 `Development`: Enable e2e tests for the local setup
  .ci/E2E-tests/cleanup.sh
  .ci/E2E-tests/execute.sh
  docker/artemis/config/cypress-local.env
  docker/cypress-E2E-tests-local.yml
  src/test/cypress/package.json
Labels: tests, cypress, docker

#7630 `Development`: Fix flaky element order in PlagiarismCaseIntegrationTest
  src/test/java/de/tum/in/www1/artemis/plagiarism/PlagiarismCaseIntegrationTest.java
Labels: tests, ready to merge, maintainer-approved

#7640 `Programming exercises`: Fix missing plagiarism detection config in import
  src/main/java/de/tum/in/www1/artemis/repository/ProgrammingExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/service/export/ExerciseWithSubmissionsExportService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseExportImportResource.java
Labels: server, priority:high, bugfix, ready to merge, maintainer-approved

#7629 `Exam mode`: Fix loading of result overview in the summary of test runs
  src/main/java/de/tum/in/www1/artemis/repository/StudentExamRepository.java
  src/main/java/de/tum/in/www1/artemis/service/AuthorizationCheckService.java
  src/main/java/de/tum/in/www1/artemis/service/exam/ExamRegistrationService.java
  src/main/java/de/tum/in/www1/artemis/service/exam/ExamService.java
  src/main/java/de/tum/in/www1/artemis/service/exam/ExamSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/StudentExamResource.java
  src/main/webapp/app/exam/participate/exam-participation.service.ts
  src/main/webapp/app/exam/participate/exam.utils.ts
  src/main/webapp/app/exam/participate/summary/exam-result-summary.component.html
  src/main/webapp/app/exam/participate/summary/exam-result-summary.component.ts
  src/main/webapp/app/exam/participate/summary/result-overview/exam-result-overview.component.ts
  src/test/java/de/tum/in/www1/artemis/exam/StudentExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingSubmissionAndResultBitbucketBambooIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/exam/ExamServiceTest.java
  src/test/javascript/spec/component/exam/participate/exam.utils.spec.ts
  src/test/javascript/spec/component/exam/participate/summary/exam-result-summary.component.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-exam-participation.service.ts
Labels: tests, server, client, component:Exam Mode, ready to merge

#7584 `Development`: Differentiate between buttons and links
  src/main/webapp/app/course/tutorial-groups/shared/tutorial-group-detail/tutorial-group-detail.component.html
  src/main/webapp/app/course/tutorial-groups/shared/tutorial-group-detail/tutorial-group-detail.component.ts
  src/main/webapp/app/course/tutorial-groups/shared/tutorial-groups-table/tutorial-group-row/tutorial-group-row.component.html
  src/main/webapp/app/course/tutorial-groups/shared/tutorial-groups-table/tutorial-group-row/tutorial-group-row.component.scss
  src/main/webapp/app/course/tutorial-groups/shared/tutorial-groups-table/tutorial-group-row/tutorial-group-row.component.ts
  src/main/webapp/app/course/tutorial-groups/shared/tutorial-groups-table/tutorial-groups-table.component.html
  src/main/webapp/app/course/tutorial-groups/shared/tutorial-groups-table/tutorial-groups-table.component.ts
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-groups/detail/tutorial-group-management-detail.component.html
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-groups/detail/tutorial-group-management-detail.component.ts
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-groups/tutorial-groups-management/tutorial-groups-management.component.html
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-groups/tutorial-groups-management/tutorial-groups-management.component.ts
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/lecture-unit-management.component.html
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/lecture-unit-management.component.ts
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/unit-creation-card/unit-creation-card.component.html
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/unit-creation-card/unit-creation-card.component.ts
  src/main/webapp/app/overview/course-tutorial-groups/course-tutorial-group-card/course-tutorial-group-card.component.html
  src/main/webapp/app/overview/course-tutorial-groups/course-tutorial-group-card/course-tutorial-group-card.component.ts
  src/main/webapp/app/overview/course-tutorial-groups/course-tutorial-groups-overview/course-tutorial-groups-overview.component.html
  src/main/webapp/app/overview/course-tutorial-groups/course-tutorial-groups-overview/course-tutorial-groups-overview.component.ts
  src/main/webapp/app/overview/tutorial-group-details/course-tutorial-group-detail/course-tutorial-group-detail.component.html
  src/main/webapp/app/overview/tutorial-group-details/course-tutorial-group-detail/course-tutorial-group-detail.component.ts
  src/test/javascript/spec/component/lecture-unit/lecture-unit-management.component.spec.ts
  src/test/javascript/spec/component/lecture-unit/unit-creation-card.component.spec.ts
  src/test/javascript/spec/component/tutorial-groups/course-tutorial-groups/course-tutorial-group-card.component.spec.ts
  src/test/javascript/spec/component/tutorial-groups/course-tutorial-groups/course-tutorial-group-detail.component.spec.ts
  src/test/javascript/spec/component/tutorial-groups/course-tutorial-groups/course-tutorial-groups-overview.component.spec.ts
  src/test/javascript/spec/component/tutorial-groups/shared/tutorial-group-detail.component.spec.ts
  src/test/javascript/spec/component/tutorial-groups/shared/tutorial-group-row.component.spec.ts
  src/test/javascript/spec/component/tutorial-groups/shared/tutorial-groups-table.component.spec.ts
  src/test/javascript/spec/component/tutorial-groups/tutorial-groups-management/tutorial-groups/detail/tutorial-group-management-detail.component.spec.ts
  src/test/javascript/spec/component/tutorial-groups/tutorial-groups-management/tutorial-groups/tutorial-groups-management/tutorial-groups-management.component.spec.ts
Labels: tests, client, ready to merge

#7501 `Development`: Add support for multi-node testservers
  docker/artemis.yml
  docker/artemis/config/node1.env
  docker/artemis/config/node2.env
  docker/artemis/config/node3.env
  docker/artemis/config/prod-multinode.env
  docker/broker-registry.yml
  docker/mysql.yml
  docker/nginx.yml
  docker/nginx/artemis-nginx.conf
  docker/nginx/artemis-upstream-multi-node.conf
  docker/nginx/artemis-upstream-single-node.conf
  docker/test-server-multi-node-mysql-localci.yml
Labels: ready for review, ready to merge, docker, lock:artemis-test3

#7618 `Adaptive learning`: Allow instructors to participate in learning paths
  src/main/java/de/tum/in/www1/artemis/web/rest/LearningPathResource.java
  src/test/java/de/tum/in/www1/artemis/lecture/LearningPathIntegrationTest.java
Labels: tests, server, small, bugfix, ready to merge

#7666 `Development`: Fix typo in Readme
  README.md
Labels: small, ready to merge

#7661 `Programming exercises`: Fix display of empty git diffs
  src/main/webapp/app/entities/hestia/programming-exercise-git-diff-report.model.ts
  src/main/webapp/app/exercises/programming/hestia/git-diff-report/git-diff-line-stat.component.ts
  src/main/webapp/app/exercises/programming/hestia/git-diff-report/git-diff-report.component.ts
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.html
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.ts
  src/test/javascript/spec/component/hestia/git-diff-report/git-diff-line-stat.component.spec.ts
Labels: tests, client, bugfix, ready to merge

#7654 `Programming exercises`: Fix repository reset for individual due dates
  src/main/webapp/app/shared/components/reset-repo-button/reset-repo-button.component.html
  src/main/webapp/app/shared/components/reset-repo-button/reset-repo-button.component.ts
  src/test/javascript/spec/component/shared/reset-repo-button.component.spec.ts
Labels: tests, client, component:Programming, small, bugfix, ready to merge

#7669 `Development`: Only load AthenaModuleUrlHelper with respective Spring Profile
  src/main/java/de/tum/in/www1/artemis/service/connectors/athena/AthenaModuleUrlHelper.java
Labels: server

#7514 `Development`: Fix e2e quiz exercise drop location test failing
  src/test/cypress/e2e/exercises/quiz-exercise/QuizExerciseDropLocation.cy.ts
  src/test/cypress/support/pageobjects/exercises/quiz/DragAndDropQuiz.ts
Labels: tests, ready for review, small, cypress

#7645 `Development`: Fix IrisMessageIntegrationTest for MySQL
  docs/dev/migration/structure.rst
  src/main/resources/config/liquibase/changelog/20231121165300_changelog.xml
  src/main/resources/config/liquibase/master.xml
Labels: ready for review, documentation, database

#7672 `Development`: Fix flaky Iris server tests
  src/test/java/de/tum/in/www1/artemis/iris/AbstractIrisIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/iris/IrisChatMessageIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/iris/IrisCodeEditorMessageIntegrationTest.java
Labels: tests, ready for review

#7665 `Development`: Use default value if exercise has no plagiarism checks config
  src/main/webapp/app/entities/exercise.model.ts
  src/main/webapp/app/exercises/shared/plagiarism/exercise-update-plagiarism/exercise-update-plagiarism.component.ts
  src/test/javascript/spec/component/plagiarism/exercise-update-plagiarism.component.spec.ts
Labels: tests, client, ready to merge

#7658 `Development`: Add database tests run configurations and docs
  .idea/runConfigurations/Artemis_Server_Tests_MySQL.xml
  .idea/runConfigurations/Artemis_Server_Tests_Postgres.xml
  docs/dev/setup.rst
  docs/dev/setup/intellij-postgres-tests-run-configuration.png
  docs/dev/setup/local-database-tests.rst
Labels: documentation, ready to merge

#7677 `Programming exercises`: Fix an issue in Bamboo when importing exercises
  src/main/java/de/tum/in/www1/artemis/service/connectors/bitbucket/BambooBuildPlanUpdateService.java
  src/test/java/de/tum/in/www1/artemis/connector/BambooRequestMockProvider.java
Labels: tests, server, component:Programming, bamboo/bitbucket, priority:high, bugfix

#7650 `Development`: Extract build logs from build jobs and save them in the LocalCIBuildResult in local continuous integration
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/dto/BambooBuildResultNotificationDTO.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/ci/notification/dto/TestResultsDTO.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIBuildJobExecutionService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIContainerService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/dto/LocalCIBuildResult.java
  src/main/java/de/tum/in/www1/artemis/service/dto/AbstractBuildResultNotificationDTO.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseGradingService.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalCIBuildResultTest.java
Labels: tests, server, ready to merge

#7477 `Development`: Clean up `.github/workflows/docs.yml` variables
  .github/workflows/docs.yml
Labels: stale

#7686 `Iris`: Fix iris course settings UI for courses with existing settings
  src/main/webapp/app/iris/settings/iris-settings-update/iris-settings-update.component.ts
Labels: ready for review, client

#7461 `Development`: Add e2e tests for student exams page
  src/test/cypress/e2e/exam/test-exam/TestExamStudentExams.cy.ts
  src/test/cypress/support/pageobjects/exam/ExamParticipation.ts
  src/test/cypress/support/pageobjects/exam/StudentExamManagementPage.ts
Labels: tests, cypress, ready to merge

#7653 `Development`: Delete quiz pool when deleting exams
  src/main/java/de/tum/in/www1/artemis/repository/QuizPoolRepository.java
  src/main/java/de/tum/in/www1/artemis/service/exam/ExamDeletionService.java
  src/test/java/de/tum/in/www1/artemis/exam/ExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exam/ExamUtilService.java
Labels: tests, server, ready to merge, maintainer-approved

#7242 `Development`: Extract client duplicates into re-usable components
  src/main/webapp/app/core/legal/data-export/confirmation/data-export-confirmation-dialog.component.html
  src/main/webapp/app/exam/manage/exams/exam-checklist-component/exam-edit-workingtime-dialog/exam-edit-working-time-dialog.component.html
  src/main/webapp/app/exam/manage/exams/exam-checklist-component/exam-edit-workingtime-dialog/exam-edit-working-time-dialog.component.ts
  src/main/webapp/app/exam/manage/student-exams/student-exam-detail.component.html
  src/main/webapp/app/exam/manage/student-exams/student-exam-detail.component.ts
  src/main/webapp/app/exam/manage/test-runs/create-test-run-modal.component.html
  src/main/webapp/app/exam/shared/working-time-control/working-time-control.component.html
  src/main/webapp/app/exam/shared/working-time-control/working-time-control.component.ts
  src/main/webapp/app/shared/components/reset-repo-button/reset-repo-button.component.html
  src/main/webapp/app/shared/components/reset-repo-button/reset-repo-button.component.ts
  src/main/webapp/app/shared/confirm-entity-name/confirm-entity-name.component.ts
  src/main/webapp/app/shared/delete-dialog/delete-dialog.component.html
  src/main/webapp/app/shared/delete-dialog/delete-dialog.component.ts
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/en/exam.json
  src/test/cypress/support/pageobjects/course/CourseManagementExercisesPage.ts
  src/test/cypress/support/pageobjects/course/CourseManagementPage.ts
  src/test/cypress/support/pageobjects/exam/ExamDetailsPage.ts
  src/test/cypress/support/pageobjects/exam/ExamExerciseGroupsPage.ts
  src/test/cypress/support/pageobjects/exam/ExamTestRunPage.ts
  src/test/cypress/support/pageobjects/lecture/LectureManagementPage.ts
  src/test/javascript/spec/component/exam/manage/student-exams/student-exam-detail.component.spec.ts
  src/test/javascript/spec/component/exam/shared/working-time-control.component.spec.ts
  src/test/javascript/spec/component/legal/data-export-confirmation-dialog.component.spec.ts
  src/test/javascript/spec/component/shared/confirm-entity-name.component.spec.ts
  src/test/javascript/spec/component/shared/delete-dialog.component.spec.ts
Labels: tests, client, cypress, ready to merge

#7681 `Programming exercises`: Fix build timeout in Jenkins pipeline script
  src/main/resources/templates/jenkins/Jenkinsfile
Labels: component:Programming, jenkins/gitlab, template, small, bugfix, ready to merge
