Repository ls1intum/Artemis, pull requests merged in 2023-01, with the labels that each got.

#5828 `Development`: Update Gitlab setup documentation
  docs/dev/setup/jenkins-gitlab.rst
  docs/dev/setup/jenkins-gitlab/gitlab_preferences_button.png
  docs/dev/setup/jenkins-gitlab/gitlab_setting_button.png
Labels: documentation, small, ready to merge

#6005 `Assessment`: Fix correction round for more feedback requests
  src/main/webapp/app/complaints/list-of-complaints/list-of-complaints.component.ts
  src/test/javascript/spec/component/complaints/list-of-complaints.component.spec.ts
Labels: tests, client, small, bugfix, ready to merge

#6007 `Quiz exercises`: Fix visual selection when multiple short answer question exists
  src/main/webapp/app/exercises/quiz/manage/short-answer-question/short-answer-question-edit.component.html
  src/main/webapp/app/exercises/quiz/manage/short-answer-question/short-answer-question-edit.component.ts
  src/test/javascript/spec/component/short-answer-question/short-answer-question-edit.component.spec.ts
Labels: tests, client, component:Quiz, small, bugfix, ready to merge

#6033 `Development`: Update URL for Haskell build image
  docs/dev/docker.rst
  src/main/resources/config/application.yml
Labels: documentation, component:Programming, small, ready to merge

#5808 `Programming exercises`: Feedback creation for GitLab CI
  src/main/java/de/tum/in/www1/artemis/service/connectors/ci/notification/BuildLogParseUtils.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/ci/notification/dto/CommitDTO.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/ci/notification/dto/TestCaseDTO.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/ci/notification/dto/TestCaseDetailMessageDTO.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/ci/notification/dto/TestResultsDTO.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/ci/notification/dto/TestSuiteDTO.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/gitlabci/GitLabCIBuildPlanService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/gitlabci/GitLabCIService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsBuildPlanService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseResource.java
  src/main/resources/config/application-artemis.yml
  src/main/resources/templates/gitlabci/empty/regularRuns/.gitlab-ci.yml
  src/main/resources/templates/gitlabci/java/maven/regularRuns/.gitlab-ci.yml
  src/main/webapp/app/exercises/programming/manage/grading/charts/sca-category-distribution-chart.component.ts
  src/main/webapp/app/exercises/programming/manage/grading/charts/test-case-distribution-chart.component.ts
  src/test/java/de/tum/in/www1/artemis/authentication/UserSaml2IntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/connector/GitlabRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseBuildPlanTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseResultJenkinsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingSubmissionAndResultGitlabJenkinsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/GitlabCIServiceTest.java
  src/test/java/de/tum/in/www1/artemis/util/ModelFactory.java
  src/test/resources/config/application-artemis.yml
Labels: tests, ready for review, server, client

#6034 `Development`: Remark in Readme that Artemis at Uni Passau is only accessible via university network/VPN
  README.md
Labels: documentation, small, ready to merge

#6017 `Development`: Fix a flaky e2e test
  src/test/cypress/e2e/exercises/modeling/ModelingExerciseParticipation.cy.ts
Labels: tests, small, cypress, ready to merge

#5831 `Exam mode`: Allow instructors to publish example solutions for exam exercises
  src/main/java/de/tum/in/www1/artemis/domain/BaseExercise.java
  src/main/java/de/tum/in/www1/artemis/domain/Exercise.java
  src/main/java/de/tum/in/www1/artemis/domain/exam/Exam.java
  src/main/java/de/tum/in/www1/artemis/service/exam/ExamAccessService.java
  src/main/java/de/tum/in/www1/artemis/service/exam/ExamService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExamResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseExportImportResource.java
  src/main/resources/config/liquibase/changelog/20221107120000_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/entities/exam.model.ts
  src/main/webapp/app/exam/manage/exams/exam-detail.component.html
  src/main/webapp/app/exam/manage/exams/exam-update.component.html
  src/main/webapp/app/exam/manage/exams/exam-update.component.ts
  src/main/webapp/app/exam/participate/exam-participation.route.ts
  src/main/webapp/app/exam/participate/summary/exam-participation-summary.component.html
  src/main/webapp/app/exam/participate/summary/exam-participation-summary.component.scss
  src/main/webapp/app/exam/participate/summary/exam-participation-summary.module.ts
  src/main/webapp/app/exercises/programming/shared/actions/programming-exercise-example-solution-repo-download.component.ts
  src/main/webapp/app/exercises/shared/example-solution/example-solution.component.html
  src/main/webapp/app/exercises/shared/example-solution/example-solution.component.ts
  src/main/webapp/app/exercises/shared/exercise/exercise.service.ts
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.html
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.ts
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/de/exercise.json
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/exam.json
  src/main/webapp/i18n/en/exercise.json
  src/main/webapp/i18n/en/programmingExercise.json
  src/test/java/de/tum/in/www1/artemis/ExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exam/ExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseBitbucketBambooIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseGitlabJenkinsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseTestService.java
  src/test/javascript/spec/component/exam/exam-update.component.spec.ts
  src/test/javascript/spec/component/overview/exercise-details/course-exercise-details.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-example-solution-repo-download-component.spec.ts
  src/test/javascript/spec/component/shared/example-solution.component.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-programming-exercise.service.ts
  src/test/javascript/spec/service/exercise.service.spec.ts
Labels: tests, server, client, database, ready to merge

#5996 `Exam mode`: Fix exercise groups buttons overflow page borders
  src/main/webapp/app/exam/manage/exercise-groups/exercise-groups.component.html
  src/main/webapp/app/shared/delete-dialog/delete-button.directive.ts
  src/test/javascript/spec/directive/delete-dialog.directive.spec.ts
Labels: tests, client, exam mode, small, user interface, ready to merge

#6012 `Development`: Enable cypress reruns
  src/main/docker/cypress/docker-compose.yml
  src/test/cypress/cypress.config.ts
  src/test/cypress/support/index.ts
Labels: tests, small, cypress, ready to merge

#6019 `Development`: Improve usage of nullability annotations
  src/main/java/de/tum/in/www1/artemis/domain/ProgrammingExerciseTestCase.java
  src/main/java/de/tum/in/www1/artemis/repository/CourseRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/UserRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/tutorialgroups/TutorialGroupRegistrationRepository.java
  src/main/java/de/tum/in/www1/artemis/service/QuizExerciseImportService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/BitbucketBambooUpdateService.java
  src/main/java/de/tum/in/www1/artemis/service/metis/conversation/ConversationDTOService.java
  src/main/java/de/tum/in/www1/artemis/service/metis/conversation/ConversationService.java
  src/main/java/de/tum/in/www1/artemis/service/metis/conversation/GroupChatService.java
  src/main/java/de/tum/in/www1/artemis/service/metis/conversation/OneToOneChatService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseParticipationService.java
  src/main/java/de/tum/in/www1/artemis/service/tutorialgroups/TutorialGroupScheduleService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/errors/ExceptionTranslator.java
  src/test/java/de/tum/in/www1/artemis/BonusIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/user/AccountResourceWithGitLabIntegrationTest.java
Labels: tests, server, code quality, small, ready to merge

#5722 `General`: Allow CSV user import by email
  src/main/java/de/tum/in/www1/artemis/repository/UserRepository.java
  src/main/java/de/tum/in/www1/artemis/service/CourseService.java
  src/main/java/de/tum/in/www1/artemis/service/dto/StudentDTO.java
  src/main/java/de/tum/in/www1/artemis/service/exam/ExamRegistrationService.java
  src/main/java/de/tum/in/www1/artemis/service/user/UserService.java
  src/main/webapp/app/entities/student-dto.model.ts
  src/main/webapp/app/shared/import/users-import-dialog.component.html
  src/main/webapp/app/shared/import/users-import-dialog.component.ts
  src/main/webapp/i18n/de/importUsers.json
  src/main/webapp/i18n/en/importUsers.json
  src/test/java/de/tum/in/www1/artemis/programmingexercise/CourseBitbucketBambooJiraIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/CourseGitlabJenkinsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/CourseTestService.java
  src/test/javascript/spec/component/exam/manage/exam-management.service.spec.ts
  src/test/javascript/spec/component/exam/manage/student-exams/user-import-dialog.component.spec.ts
  src/test/javascript/spec/util/user-import/UserImportEmailOnlySampleFile.csv
Labels: tests, server, client, ready to merge

#5852 `Assessment`: Add special grades for plagiarism and no-participation cases
  src/main/java/de/tum/in/www1/artemis/domain/GradeStep.java
  src/main/java/de/tum/in/www1/artemis/domain/GradingScale.java
  src/main/java/de/tum/in/www1/artemis/repository/StudentParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/service/CourseScoreCalculationService.java
  src/main/java/de/tum/in/www1/artemis/service/exam/ExamService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/GradeStepResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/GradingScaleResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/BonusSourceResultDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/CourseScoresDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/GradeStepsDTO.java
  src/main/resources/config/liquibase/changelog/20221117081200_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/course/course-scores/course-scores.component.ts
  src/main/webapp/app/entities/grade-step.model.ts
  src/main/webapp/app/entities/grading-scale.model.ts
  src/main/webapp/app/grading-system/base-grading-system/base-grading-system.component.ts
  src/main/webapp/app/grading-system/detailed-grading-system/detailed-grading-system.component.html
  src/main/webapp/app/grading-system/grading-key-overview/grading-key-overview.component.html
  src/main/webapp/app/grading-system/grading-key-overview/grading-key-overview.component.ts
  src/main/webapp/app/grading-system/grading-key-overview/grading-key-overview.module.ts
  src/main/webapp/app/grading-system/interval-grading-system/interval-grading-system.component.html
  src/main/webapp/i18n/de/gradingSystem.json
  src/main/webapp/i18n/en/gradingSystem.json
  src/test/java/de/tum/in/www1/artemis/assessment/GradeStepIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/assessment/GradingScaleIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exam/ExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exam/StudentExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/CourseScoreCalculationServiceTest.java
  src/test/javascript/spec/component/bonus/bonus.component.spec.ts
  src/test/javascript/spec/component/course/course-scores/course-scores.component.spec.ts
  src/test/javascript/spec/component/grading-system/detailed-grading-system.component.spec.ts
  src/test/javascript/spec/component/grading-system/grading-key-overview.component.spec.ts
  src/test/javascript/spec/component/grading-system/interval-grading-system.component.spec.ts
  src/test/javascript/spec/service/bonus.service.spec.ts
  src/test/javascript/spec/service/grading-system.service.spec.ts
Labels: tests, server, client, database, ready to merge

#5971 `Programming exercises`: Add possibility to configure docker run arguments on bamboo via spring properties
  src/main/java/de/tum/in/www1/artemis/config/ProgrammingLanguageConfiguration.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/BambooBuildPlanService.java
  src/main/resources/config/application.yml
  src/test/resources/config/application.yml
Labels: tests, server, component:Programming, bamboo/bitbucket, ready to merge, docker

#5807 `Development`: Add documentation for GitLab CI
  README.md
  docs/dev/setup.rst
  docs/dev/setup/gitlabci-gitlab.rst
  src/main/docker/env.example.gitlab-gitlabci.txt
  src/main/docker/gitlab-gitlabci.yml
Labels: ready for review, documentation, ready to merge

#6020 `Development`: Update gradle wrapper and add wrapper validation action
  .github/workflows/gradle-wrapper-validation.yml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: dependencies, config-change, build system, ready to merge

#5923 `Programming exercises`: Improve feedback view
  src/main/webapp/app/entities/feedback.model.ts
  src/main/webapp/app/entities/programming-exercise.model.ts
  src/main/webapp/app/exercises/programming/shared/instructions-render/service/programming-exercise-instruction.service.ts
  src/main/webapp/app/exercises/programming/shared/instructions-render/step-wizard/programming-exercise-instruction-step-wizard.component.ts
  src/main/webapp/app/exercises/programming/shared/instructions-render/task/programming-exercise-instruction-task-status.component.ts
  src/main/webapp/app/exercises/programming/shared/utils/programming-exercise.utils.ts
  src/main/webapp/app/exercises/shared/feedback/chart/feedback-chart-data.ts
  src/main/webapp/app/exercises/shared/feedback/chart/feedback-chart.service.ts
  src/main/webapp/app/exercises/shared/feedback/collapse/feedback-collapse.component.html
  src/main/webapp/app/exercises/shared/feedback/collapse/feedback-collapse.component.ts
  src/main/webapp/app/exercises/shared/feedback/collapse/feedback-collapse.scss
  src/main/webapp/app/exercises/shared/feedback/feedback-service.ts
  src/main/webapp/app/exercises/shared/feedback/feedback.component.html
  src/main/webapp/app/exercises/shared/feedback/feedback.component.ts
  src/main/webapp/app/exercises/shared/feedback/feedback.module.ts
  src/main/webapp/app/exercises/shared/feedback/feedback.scss
  src/main/webapp/app/exercises/shared/feedback/group/feedback-group.ts
  src/main/webapp/app/exercises/shared/feedback/group/feedback-groups.ts
  src/main/webapp/app/exercises/shared/feedback/group/programming-feedback-groups.ts
  src/main/webapp/app/exercises/shared/feedback/item/feedback-item-service.ts
  src/main/webapp/app/exercises/shared/feedback/item/feedback-item.ts
  src/main/webapp/app/exercises/shared/feedback/item/programming-feedback-item.service.ts
  src/main/webapp/app/exercises/shared/feedback/node/feedback-node.component.html
  src/main/webapp/app/exercises/shared/feedback/node/feedback-node.component.ts
  src/main/webapp/app/exercises/shared/feedback/node/feedback-node.scss
  src/main/webapp/app/exercises/shared/feedback/node/feedback-node.ts
  src/main/webapp/app/exercises/shared/result/feedback-collapse.component.ts
  src/main/webapp/app/exercises/shared/result/result-detail.component.html
  src/main/webapp/app/exercises/shared/result/result-detail.component.ts
  src/main/webapp/app/exercises/shared/result/result-detail.scss
  src/main/webapp/app/exercises/shared/result/result.component.html
  src/main/webapp/app/exercises/shared/result/result.component.ts
  src/main/webapp/app/exercises/shared/result/result.module.ts
  src/main/webapp/app/exercises/shared/result/result.service.ts
  src/main/webapp/i18n/de/feedback.json
  src/main/webapp/i18n/de/result.json
  src/main/webapp/i18n/en/feedback.json
  src/main/webapp/i18n/en/result.json
  src/test/cypress/e2e/exercises/programming/ProgrammingExerciseStaticCodeAnalysis.cy.ts
  src/test/cypress/support/pageobjects/exercises/programming/ScaFeedbackModal.ts
  src/test/java/de/tum/in/www1/artemis/assessment/ResultServiceIntegrationTest.java
  src/test/javascript/spec/component/exercises/shared/feedback.spec.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-instruction.component.spec.ts
  src/test/javascript/spec/component/shared/feedback/feedback-collapse.component.spec.ts
  src/test/javascript/spec/component/shared/feedback/feedback-node.component.spec.ts
  src/test/javascript/spec/component/shared/feedback/feedback.component.spec.ts
  src/test/javascript/spec/component/shared/result-detail.component.spec.ts
  src/test/javascript/spec/service/feedback-chart.service.spec.ts
  src/test/javascript/spec/service/feedback/feedback-item-service.spec.ts
  src/test/javascript/spec/service/feedback/feedback-service.spec.ts
  src/test/javascript/spec/service/feedback/programming-feedback-item.service.spec.ts
  src/test/javascript/spec/service/result.service.spec.ts
Labels: tests, client, cypress, ready to merge

#6032 `Development`: Remove usage of Objects.isNull()
  src/main/java/de/tum/in/www1/artemis/domain/ProgrammingExercise.java
  src/main/java/de/tum/in/www1/artemis/domain/notification/SingleUserNotificationFactory.java
  src/main/java/de/tum/in/www1/artemis/service/LectureUnitService.java
  src/main/java/de/tum/in/www1/artemis/service/SubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/hestia/ExerciseHintService.java
  src/main/java/de/tum/in/www1/artemis/service/metis/conversation/auth/ChannelAuthorizationService.java
  src/main/java/de/tum/in/www1/artemis/service/metis/conversation/auth/ConversationAuthorizationService.java
  src/main/java/de/tum/in/www1/artemis/service/tutorialgroups/TutorialGroupService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/AssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/FileUploadSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ParticipationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingAssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/lecture/LectureUnitResource.java
  src/test/java/de/tum/in/www1/artemis/lecture/LectureUnitIntegrationTest.java
Labels: tests, server, ready to merge

#6040 `Development`: Fix an issue in the migration for conversations
  src/main/resources/config/liquibase/changelog/20230102203648_changelog.xml
  src/main/webapp/app/overview/course-conversations/layout/conversation-selection-sidebar/conversation-selection-sidebar.component.html
Labels: ready for review, client, communication

#6046 `Development`: Support storing milliseconds in MySQL databases
  src/main/resources/config/liquibase/changelog/20230104145003_changelog.xml
  src/main/resources/config/liquibase/master.xml
Labels: database, ready to merge

#6022 `Development`: Add exam edit e2e tests
  src/main/webapp/app/exam/manage/exams/exam-detail.component.html
  src/test/cypress/e2e/exam/ExamCreationDeletion.cy.ts
  src/test/cypress/support/pageobjects/exam/ExamCreationPage.ts
Labels: tests, client, cypress, ready to merge

#6027 `Development`: Add exam exercise group edit/delete e2e test
  src/main/webapp/app/exam/manage/exercise-groups/exercise-groups.component.html
  src/test/cypress/e2e/exam/ExamManagement.cy.ts
  src/test/cypress/support/pageobjects/exam/ExamExerciseGroupCreationPage.ts
  src/test/cypress/support/pageobjects/exam/ExamExerciseGroupsPage.ts
  src/test/cypress/support/pageobjects/exam/ExamManagementPage.ts
Labels: tests, client, cypress, ready to merge

#6051 `Programming exercises`: Fix missing value in static code analysis issue location
  src/main/webapp/app/exercises/shared/feedback/item/programming-feedback-item.service.ts
Labels: client, small, ready to merge

#6031 `Lectures`: Fix inconsistent delete dialog for online unit
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/lecture-unit-management.component.ts
  src/test/javascript/spec/component/lecture-unit/lecture-unit-management.component.spec.ts
Labels: tests, client, small, bugfix, ready to merge

#5950 `Development`: Adds basis for detecting flaky e2e tests with coverage
  .gitignore
  docs/dev/cypress.rst
  src/main/docker/cypress/Coverage-Dockerfile
  src/main/docker/cypress/Cypress-Dockerfile
  src/main/docker/cypress/bootstrap-coverage.sh
  src/main/docker/cypress/docker-compose.coverage.yml
  src/test/cypress/cypress.config.ts
  src/test/cypress/package-lock.json
  src/test/cypress/package.json
Labels: tests, ready for review, documentation, cypress

#6056 `Programming exercises`: Add information to feedback view
  src/main/webapp/app/exercises/shared/feedback/feedback.component.html
  src/main/webapp/app/exercises/shared/feedback/feedback.component.ts
  src/main/webapp/app/exercises/shared/feedback/node/feedback-node.component.html
  src/main/webapp/app/exercises/shared/feedback/node/feedback-node.scss
  src/main/webapp/i18n/de/feedback.json
  src/main/webapp/i18n/en/feedback.json
  src/test/javascript/spec/component/shared/feedback/feedback.component.spec.ts
Labels: tests, client, small, ready to merge

#6052 `Programming exercises`: Fix missing grouping of feedback
  src/main/webapp/app/exercises/shared/feedback/group/programming-feedback-groups.ts
Labels: client, ready to merge

#6058 `Development`: Improve logging for scheduled score updates
  src/main/java/de/tum/in/www1/artemis/service/scheduled/ParticipantScoreSchedulerService.java
Labels: enhancement, server, small, ready to merge

#6066 `General`: Shrink course icon size in course header
  src/main/webapp/app/overview/header-course.component.html
  src/main/webapp/app/overview/header-course.component.scss
  src/main/webapp/app/overview/header-course.component.ts
  src/test/javascript/spec/component/course/header-course.component.spec.ts
Labels: tests, client, small, user interface, ready to merge

#6059 `Development`: Update cypress to version 12.3.0
  src/test/cypress/cypress.config.ts
  src/test/cypress/package-lock.json
  src/test/cypress/package.json
Labels: tests, ready for review, small, cypress

#6070 `Development`: Fix flaky client test for exam monitoring chart
  src/main/webapp/app/exam/monitoring/exam-action.service.ts
  src/test/javascript/spec/component/exam/monitoring/charts/total-actions-chart.component.spec.ts
Labels: tests, ready for review, client, small

#6063 `Development`: Update server dependencies
  build.gradle
  gradle.properties
  src/main/java/de/tum/in/www1/artemis/repository/StaticCodeAnalysisCategoryRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/StudentExamRepository.java
  src/main/java/de/tum/in/www1/artemis/service/exam/ExamService.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/ScheduleService.java
  src/test/java/de/tum/in/www1/artemis/assessment/ExerciseScoresChartIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/assessment/ParticipantScoreIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exam/StudentExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseScheduleServiceTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseTestService.java
  src/test/java/de/tum/in/www1/artemis/service/GradingScaleServiceTest.java
  src/test/java/de/tum/in/www1/artemis/text/TextAssessmentIntegrationTest.java
Labels: tests, ready for review, server

#6074 `Development`: Update flaky test dependencies for security
  src/test/cypress/cypress.config.ts
  src/test/cypress/package-lock.json
  src/test/cypress/package.json
Labels: tests, ready for review, small, cypress

#5911 `Assessment`: Improve user interface for bonus and grading keys
  src/main/webapp/app/grading-system/base-grading-system/_base-grading-system.component.scss
  src/main/webapp/app/grading-system/bonus/bonus.component.html
  src/main/webapp/app/grading-system/bonus/bonus.component.scss
  src/main/webapp/app/grading-system/detailed-grading-system/detailed-grading-system.component.html
  src/main/webapp/app/grading-system/detailed-grading-system/detailed-grading-system.component.scss
  src/main/webapp/app/grading-system/grading-system.component.html
  src/main/webapp/app/grading-system/grading-system.component.scss
  src/main/webapp/app/grading-system/grading-system.component.ts
  src/main/webapp/app/grading-system/interval-grading-system/interval-grading-system.component.html
  src/main/webapp/i18n/de/bonus.json
  src/main/webapp/i18n/en/bonus.json
Labels: ready for review, client

#6062 `Development`: Update to Angular 15.1.0
  .browserslistrc
  angular.json
  jest.config.js
  package-lock.json
  package.json
  src/main/webapp/app/core/websocket/websocket.service.ts
  src/main/webapp/app/entities/participation/student-participation.model.ts
  src/main/webapp/app/entities/programming-exercise.model.ts
  src/main/webapp/app/entities/quiz/quiz-exercise.model.ts
  src/main/webapp/app/entities/quiz/short-answer-solution.model.ts
  src/main/webapp/app/entities/submission-policy.model.ts
  src/main/webapp/app/entities/submission-sync-payload.model.ts
  src/main/webapp/app/exam/monitoring/exam-action.service.ts
  src/main/webapp/app/exam/participate/exam-navigation-bar/exam-navigation-bar.component.ts
  src/main/webapp/app/exam/participate/exam-participation.service.ts
  src/main/webapp/app/exam/participate/exercises/exercise-overview-page/exam-exercise-overview-page.component.ts
  src/main/webapp/app/exercises/programming/shared/code-editor/actions/code-editor-actions.component.ts
  src/main/webapp/app/exercises/programming/shared/code-editor/file-browser/code-editor-file-browser-file.component.ts
  src/main/webapp/app/exercises/programming/shared/code-editor/file-browser/code-editor-file-browser-folder.component.ts
  src/main/webapp/app/exercises/quiz/manage/statistics/drag-and-drop-question-statistic/drag-and-drop-question-statistic.component.ts
  src/main/webapp/app/exercises/quiz/manage/statistics/multiple-choice-question-statistic/multiple-choice-question-statistic.component.ts
  src/main/webapp/app/exercises/quiz/manage/statistics/short-answer-question-statistic/short-answer-question-statistic.component.ts
  src/main/webapp/app/exercises/text/assess/text-assessment-dashboard/text-assessment-dashboard.component.ts
  src/main/webapp/app/guided-tour/guided-tour.service.ts
  src/main/webapp/app/shared/image-cropper/services/load-image.service.ts
  src/main/webapp/app/shared/metis/posting-create-edit-modal/post-create-edit-modal/post-create-edit-modal.component.ts
  src/main/webapp/app/shared/metis/posting-create-edit-modal/posting-create-edit-modal.directive.ts
  src/main/webapp/app/shared/metis/posting-header/answer-post-header/answer-post-header.component.ts
  src/main/webapp/app/shared/user-settings/notification-settings/notification-settings.component.ts
  src/main/webapp/app/shared/util/array.extension.ts
  src/main/webapp/i18n/de/editor.json
  src/main/webapp/i18n/en/editor.json
  src/test/cypress/e2e/course/CourseExercise.cy.ts
  src/test/cypress/e2e/exam/ExamCreationDeletion.cy.ts
  src/test/cypress/e2e/exercises/programming/ProgrammingExerciseManagement.cy.ts
  src/test/javascript/spec/component/admin/system-notification-management/system-notification-management.component.spec.ts
  src/test/javascript/spec/component/assessment-shared/assessment-header.component.spec.ts
  src/test/javascript/spec/component/assessment-shared/assessment-warning.component.spec.ts
  src/test/javascript/spec/component/code-editor/code-editor-actions.component.spec.ts
  src/test/javascript/spec/component/course/course-update.component.spec.ts
  src/test/javascript/spec/component/course/course.component.spec.ts
  src/test/javascript/spec/component/exam/exam-update.component.spec.ts
  src/test/javascript/spec/component/exam/manage/exam-import.component.spec.ts
  src/test/javascript/spec/component/exam/manage/exams/exam-detail.component.spec.ts
  src/test/javascript/spec/component/exam/participate/information/exam-information.component.spec.ts
  src/test/javascript/spec/component/exam/participate/summary/exam-participation-summary.component.spec.ts
  src/test/javascript/spec/component/exam/test-run/test-run-management.component.spec.ts
  src/test/javascript/spec/component/exercises/quiz/quiz-participation.component.spec.ts
  src/test/javascript/spec/component/file-upload-assessment/file-upload-assessment.component.spec.ts
  src/test/javascript/spec/component/modeling-assessment-editor/modeling-assessment-editor.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-update.component.spec.ts
  src/test/javascript/spec/component/shared/image-cropper/image-croppper.component.spec.ts
  src/test/javascript/spec/component/short-answer-question/short-answer-question.component.spec.ts
  src/test/javascript/spec/component/tutorial-groups/tutorial-groups-management/tutorial-groups/crud/tutorial-group-form.component.spec.ts
  src/test/javascript/spec/helpers/mocks/directive/ngbAlertsMocks.module.ts
  src/test/javascript/spec/jest-test-setup.ts
  src/test/javascript/spec/service/parse-links.service.spec.ts
  tsconfig.json
  tsconfig.webpack.json
  webpack/webpack.custom.js
Labels: tests, ready for review, dependencies, client, cypress

#6073 `General`: Improve performance and appearance
  src/main/java/de/tum/in/www1/artemis/domain/BaseExercise.java
  src/main/java/de/tum/in/www1/artemis/domain/Exercise.java
  src/main/java/de/tum/in/www1/artemis/domain/quiz/QuizExercise.java
  src/main/java/de/tum/in/www1/artemis/repository/CourseRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/QuizBatchRepository.java
  src/main/java/de/tum/in/www1/artemis/service/CourseService.java
  src/main/java/de/tum/in/www1/artemis/service/ExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/QuizBatchService.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/cache/quiz/QuizScheduleService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/QuizExerciseResource.java
  src/main/webapp/app/course/manage/course-management.component.html
  src/main/webapp/app/course/manage/overview/course-management-card.component.html
  src/main/webapp/app/course/manage/overview/course-management-card.component.ts
  src/main/webapp/app/course/manage/overview/course-management-card.scss
  src/main/webapp/app/exercises/shared/exercise-headers/header-exercise-page-with-details.component.scss
  src/main/webapp/app/exercises/shared/exercise-hint/participate/exercise-hint-expandable.component.scss
  src/main/webapp/app/overview/course-exercises/course-exercises.component.html
  src/main/webapp/app/overview/course-lectures/course-lectures.component.html
  src/main/webapp/app/overview/course-overview.component.html
  src/main/webapp/app/shared/circular-progress-bar/circular-progress-bar.component.scss
  src/main/webapp/app/shared/layouts/main/main.component.html
  src/main/webapp/app/shared/layouts/navbar/navbar.scss
  src/main/webapp/content/scss/global.scss
  src/main/webapp/content/scss/themes/_dark-variables.scss
  src/main/webapp/content/scss/themes/_default-variables.scss
  src/main/webapp/i18n/de/student-dashboard.json
  src/main/webapp/i18n/en/student-dashboard.json
  src/test/java/de/tum/in/www1/artemis/DatabaseQueryCountTest.java
Labels: tests, ready for review, server, client

#6064 `Programming exercises`: Remove redundant result information from rest call
  src/main/java/de/tum/in/www1/artemis/service/ResultService.java
  src/main/webapp/app/exercises/programming/participate/code-editor-student-container.component.ts
  src/main/webapp/app/exercises/programming/shared/code-editor/build-output/code-editor-build-output.component.ts
  src/main/webapp/app/exercises/programming/shared/instructions-render/programming-exercise-instruction.component.ts
  src/main/webapp/app/exercises/shared/feedback/feedback-service.ts
  src/main/webapp/app/exercises/shared/feedback/feedback.component.ts
  src/main/webapp/app/exercises/shared/result/result.service.ts
  src/test/javascript/spec/component/code-editor/code-editor-build-output.component.spec.ts
  src/test/javascript/spec/component/shared/feedback/feedback.component.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-result.service.ts
  src/test/javascript/spec/integration/code-editor/code-editor-container.integration.spec.ts
  src/test/javascript/spec/integration/code-editor/code-editor-student.integration.spec.ts
Labels: tests, server, client, small, ready to merge

#6067 `Programming exercises`: Improve appearance of results and task bar
  src/main/webapp/app/course/manage/course-update.component.html
  src/main/webapp/app/exercises/programming/shared/code-editor/actions/code-editor-actions.component.html
  src/main/webapp/app/exercises/programming/shared/instructions-render/step-wizard/programming-exercise-instruction-step-wizard.component.html
  src/main/webapp/app/exercises/programming/shared/instructions-render/step-wizard/programming-exercise-instruction-step-wizard.scss
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.html
  src/main/webapp/i18n/de/course.json
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/course.json
  src/main/webapp/i18n/en/programmingExercise.json
  src/test/javascript/spec/component/code-editor/code-editor-actions.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-instruction-step-wizard.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-instruction.component.spec.ts
  src/test/javascript/spec/integration/code-editor/code-editor-container.integration.spec.ts
Labels: tests, client, component:Programming, small, user interface, ready to merge

#6100 `Development`: Remove result before complaint
  src/main/java/de/tum/in/www1/artemis/domain/BuildLogEntry.java
  src/main/java/de/tum/in/www1/artemis/domain/Complaint.java
  src/main/java/de/tum/in/www1/artemis/service/AssessmentService.java
  src/main/resources/config/liquibase/changelog/20230118205224_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/test/java/de/tum/in/www1/artemis/assessment/AssessmentComplaintIntegrationTest.java
Labels: tests, server, database

#6099 `Development`: Improve build plan relationship
  .gitignore
  src/main/java/de/tum/in/www1/artemis/domain/BuildPlan.java
  src/main/java/de/tum/in/www1/artemis/domain/ProgrammingExercise.java
  src/main/java/de/tum/in/www1/artemis/repository/BuildLogStatisticsEntryRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/BuildPlanRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ProgrammingExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/gitlabci/GitLabCIBuildPlanService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/gitlabci/GitLabCIService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsBuildPlanCreator.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/BuildPlanResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingSubmissionResource.java
  src/main/resources/config/liquibase/changelog/20220905125330_changelog.xml
  src/test/java/de/tum/in/www1/artemis/domain/ObjectMethodTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseBuildPlanTest.java
  src/test/java/de/tum/in/www1/artemis/service/GitlabCIServiceTest.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
Labels: tests, server

#6098 `Development`: Enforce consistent Jackson version
  build.gradle
Labels: bugfix, ready to merge

#6096 `Programming exercises`: Fix synchronization issue when opening feedback modal for the first time
  src/main/webapp/app/exercises/shared/feedback/feedback.component.ts
  src/test/javascript/spec/component/shared/feedback/feedback.component.spec.ts
Labels: tests, client, small, ready to merge

#6111 `Development`: Add server tests for starting participations in programming exercises
  src/test/java/de/tum/in/www1/artemis/AbstractSpringIntegrationBambooBitbucketJiraTest.java
  src/test/java/de/tum/in/www1/artemis/ParticipationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/connector/BambooRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/connector/BitbucketRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseTestService.java
Labels: tests, ready for review, server, component:Programming, java, small

#6088 `Communication`: Fix several issues and add bookmarking of conversations
  src/main/webapp/app/overview/course-conversations/course-conversations.component.ts
  src/main/webapp/app/overview/course-conversations/dialogs/channels-overview-dialog/channel-item/channel-item.component.scss
  src/main/webapp/app/overview/course-conversations/dialogs/channels-overview-dialog/channels-overview-dialog.component.scss
  src/main/webapp/app/overview/course-conversations/dialogs/channels-overview-dialog/channels-overview-dialog.component.ts
  src/main/webapp/app/overview/course-conversations/dialogs/conversation-detail-dialog/tabs/conversation-info/conversation-info.component.html
  src/main/webapp/app/overview/course-conversations/dialogs/conversation-detail-dialog/tabs/conversation-info/conversation-info.component.scss
  src/main/webapp/app/overview/course-conversations/layout/conversation-selection-sidebar/conversation-selection-sidebar.component.html
  src/main/webapp/app/overview/course-conversations/layout/conversation-selection-sidebar/conversation-selection-sidebar.component.ts
  src/main/webapp/app/shared/metis/metis-conversation.service.ts
  src/main/webapp/app/shared/metis/posting-header/answer-post-header/answer-post-header.component.html
  src/main/webapp/app/shared/metis/posting-header/post-header/post-header.component.html
  src/main/webapp/app/shared/metis/posting-reactions-bar/post-reactions-bar/post-reactions-bar.component.html
  src/main/webapp/i18n/en/conversation.json
  src/test/javascript/spec/component/overview/course-conversations/course-conversations.component.spec.ts
  src/test/javascript/spec/component/overview/course-conversations/dialogs/channels-overview-dialog/channels-overview-dialog.component.spec.ts
  src/test/javascript/spec/component/overview/course-conversations/layout/conversation-selection-sidebar/conversation-selection-sidebar.component.spec.ts
  src/test/javascript/spec/component/overview/course-conversations/services/metis-conversation.service.spec.ts
Labels: tests, ready for review, client, communication

#6068 `Programming exercises`: Fix appearance of feedback view in Safari
  src/main/webapp/app/exercises/shared/feedback/feedback.scss
  src/main/webapp/app/exercises/shared/feedback/node/feedback-node.component.html
  src/main/webapp/app/exercises/shared/feedback/node/feedback-node.component.ts
  src/main/webapp/app/exercises/shared/feedback/node/feedback-node.scss
Labels: client, component:Programming, small, bugfix, user interface, ready to merge

#5928 `Lectures`: Allow instructors to automatically split lecture file units
  build.gradle
  src/main/java/de/tum/in/www1/artemis/service/AttachmentUnitService.java
  src/main/java/de/tum/in/www1/artemis/service/LectureUnitProcessingService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/LectureUnitDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/LectureUnitInformationDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/LectureUnitSplitDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/lecture/AttachmentUnitResource.java
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/attachment-units/attachment-units.component.html
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/attachment-units/attachment-units.component.ts
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/attachmentUnit.service.ts
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/lecture-unit-management.module.ts
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/lecture-unit-management.route.ts
  src/main/webapp/app/lecture/lecture-update.component.html
  src/main/webapp/app/lecture/lecture-update.component.scss
  src/main/webapp/app/lecture/lecture-update.component.ts
  src/main/webapp/app/shared/layouts/navbar/navbar.component.ts
  src/main/webapp/i18n/de/lectureUnit.json
  src/main/webapp/i18n/en/lectureUnit.json
  src/test/java/de/tum/in/www1/artemis/lecture/AttachmentUnitsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/ModelFactory.java
  src/test/javascript/spec/component/lecture-unit/attachment-unit/attachment-unit.service.spec.ts
  src/test/javascript/spec/component/lecture-unit/attachment-unit/attachment-units.component.spec.ts
  src/test/javascript/spec/component/lecture/lecture-update.component.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-attachment-units.service.ts
Labels: tests, server, client, ready to merge

#6121 `Development`: Update dependencies
  build.gradle
  gradle.properties
  gradle/liquibase.gradle
  jest.config.js
  package-lock.json
  package.json
Labels: ready for review, dependencies, chore

#6107 `General`: Fix two small issues on the admin pages
  src/main/webapp/app/admin/audits/audits.component.html
  src/main/webapp/app/admin/user-management/user-management.component.ts
Labels: ready for review, client, small, bugfix

#6105 `Development`: Fix grading instruction values sent as strings to the server
  src/main/java/de/tum/in/www1/artemis/domain/GradingCriterion.java
  src/main/webapp/app/exercises/shared/exercise-update-warning/exercise-update-warning.component.html
  src/main/webapp/app/exercises/shared/structured-grading-criterion/grading-instructions-details/grading-instructions-details.component.html
  src/main/webapp/app/exercises/shared/structured-grading-criterion/grading-instructions-details/grading-instructions-details.component.ts
  src/main/webapp/i18n/de/exercise.json
  src/main/webapp/i18n/en/exercise.json
  src/test/java/de/tum/in/www1/artemis/modeling/ModelingExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/text/TextExerciseIntegrationTest.java
  src/test/javascript/spec/component/shared/grading-instructions-details.component.spec.ts
Labels: tests, ready for review, server, client

#6119 `General`: Fix an issue when deleting users which are referenced in notifications
  src/main/java/de/tum/in/www1/artemis/repository/LearningGoalProgressRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/NotificationRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/SingleUserNotificationRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/metis/ConversationParticipantRepository.java
  src/main/java/de/tum/in/www1/artemis/service/CourseService.java
  src/main/java/de/tum/in/www1/artemis/service/exam/ExamService.java
  src/main/java/de/tum/in/www1/artemis/service/user/UserService.java
  src/test/java/de/tum/in/www1/artemis/util/UserTestService.java
Labels: tests, ready for review, server

#6117 `Development`: Update documentation about competencies
  README.md
  docs/user/learning-analytics.rst
  docs/user/learning-analytics/instructors-learning-goal-edit.png
  docs/user/learning-analytics/instructors-learning-goals-link.png
  docs/user/learning-analytics/instructors-learning-goals-manage.png
  docs/user/learning-analytics/students-learning-goals-statistics.png
  docs/user/lectures.rst
Labels: documentation, chore, small, ready to merge

#6114 `Assessment`: Fix grading key issues and example solution repo download button
  src/main/webapp/app/exam/manage/exam-management.route.ts
  src/main/webapp/app/grading-system/grading-key-overview/grading-key-overview.component.html
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.html
Labels: ready for review, client

#6108 `Development`: Add server test for course user search
  src/main/java/de/tum/in/www1/artemis/repository/UserRepository.java
  src/main/java/de/tum/in/www1/artemis/service/dto/UserPublicInfoDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/CourseBitbucketBambooJiraIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/CourseGitlabJenkinsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/CourseTestService.java
Labels: tests, ready for review, server

#6116 `Programming exercises`: Fix feedback view issues with structured grading instructions
  src/main/webapp/app/exercises/shared/feedback/group/feedback-group.ts
  src/main/webapp/app/exercises/shared/feedback/group/feedback-groups.ts
  src/main/webapp/app/exercises/shared/feedback/item/feedback-item-service.ts
  src/main/webapp/app/exercises/shared/feedback/item/feedback-item.ts
  src/main/webapp/app/exercises/shared/feedback/item/programming-feedback-item.service.ts
  src/test/javascript/spec/component/shared/feedback/feedback.component.spec.ts
  src/test/javascript/spec/service/feedback/feedback-item-service.spec.ts
  src/test/javascript/spec/service/feedback/programming-feedback-item.service.spec.ts
Labels: tests, client, small, ready to merge

#5896 `Development`: Remove participation status in client
  src/main/webapp/app/course/manage/course-management.service.ts
  src/main/webapp/app/entities/exercise.model.ts
  src/main/webapp/app/entities/participation/participation.model.ts
  src/main/webapp/app/exercises/file-upload/participate/file-upload-submission.component.ts
  src/main/webapp/app/exercises/modeling/participate/modeling-submission.component.ts
  src/main/webapp/app/exercises/shared/course-exercises/course-exercise.service.ts
  src/main/webapp/app/exercises/shared/exercise/exercise.service.ts
  src/main/webapp/app/exercises/shared/exercise/exercise.utils.ts
  src/main/webapp/app/exercises/shared/participation/participation.utils.ts
  src/main/webapp/app/exercises/text/participate/text-editor.component.ts
  src/main/webapp/app/overview/course-exercises/course-exercise-row.component.ts
  src/main/webapp/app/overview/course-overview.component.ts
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.html
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.ts
  src/main/webapp/app/overview/exercise-details/exercise-details-student-actions.component.html
  src/main/webapp/app/overview/exercise-details/exercise-details-student-actions.component.ts
  src/main/webapp/app/overview/submission-result-status.component.html
  src/main/webapp/app/overview/submission-result-status.component.ts
  src/main/webapp/app/shared/components/start-practice-mode-button/start-practice-mode-button.component.ts
  src/main/webapp/app/shared/quiz/quiz.service.ts
  src/test/cypress/support/pageobjects/exercises/programming/OnlineEditorPage.ts
  src/test/javascript/spec/component/course/course.component.spec.ts
  src/test/javascript/spec/component/overview/course-exercises/course-exercise-row.component.spec.ts
  src/test/javascript/spec/component/overview/exercise-details/exercise-details-student-actions.component.spec.ts
  src/test/javascript/spec/component/shared/start-practice-mode-button.component.spec.ts
  src/test/javascript/spec/component/shared/submission-result-status.component.spec.ts
  src/test/javascript/spec/service/exercise.service.spec.ts
Labels: tests, ready for review, client, code quality, cypress

#5880 `General`: Update exercise header on new results
  src/main/webapp/app/exercises/shared/exercise-headers/header-exercise-page-with-details.component.ts
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.ts
Labels: client, small, bugfix, ready to merge

#5901 `Programming exercises`: Always give students read permissions for their repository
  src/main/java/de/tum/in/www1/artemis/service/TeamService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/AbstractVersionControlService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/VersionControlService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bitbucket/BitbucketService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/gitlab/GitLabService.java
  src/test/java/de/tum/in/www1/artemis/connector/BitbucketRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseBitbucketBambooIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseGitlabJenkinsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseServiceTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseTestService.java
Labels: enhancement, tests, server, component:Programming, exam mode, bugfix, ready to merge

#6061 `Development`: Improve code readability for custom course group names
  src/main/webapp/app/course/manage/detail/course-detail.component.html
Labels: ready for review, client, small, bugfix

#6060 `Development`: Add test exam creation/deletion e2e tests
  src/main/webapp/app/exam/manage/exams/exam-mode-picker/exam-mode-picker.component.html
  src/test/cypress/e2e/exam/ExamCreationDeletion.cy.ts
  src/test/cypress/e2e/exam/test-exam/TestExamCreationDeletion.cy.ts
  src/test/cypress/support/pageobjects/exam/ExamCreationPage.ts
  src/test/cypress/support/requests/CourseManagementRequests.ts
  src/test/cypress/support/utils.ts
Labels: tests, ready for review, client, cypress

#6122 `Development`: Remove 'tracker' from websocket path
  src/main/java/de/tum/in/www1/artemis/config/SecurityConfiguration.java
  src/main/java/de/tum/in/www1/artemis/config/websocket/WebsocketConfiguration.java
  src/main/java/de/tum/in/www1/artemis/config/websocket/WebsocketSecurityConfiguration.java
  src/main/java/de/tum/in/www1/artemis/web/websocket/team/ParticipationTeamWebsocketService.java
  src/main/webapp/app/core/auth/account.service.ts
  src/main/webapp/app/core/websocket/websocket.service.ts
  src/main/webapp/app/exam/monitoring/exam-action.service.ts
  src/main/webapp/app/shared/image/secured-image.component.ts
  src/test/gatling/simulations/QuizParticipationSimulation.scala
  src/test/java/de/tum/in/www1/artemis/ClientForwardTest.java
  src/test/javascript/spec/component/exam/monitoring/exam-action.service.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-websocket.service.ts
  src/test/k6/requests/requests.js
Labels: tests, ready for review, server, client

#6127 `Programming exercises`: Fix an issue with build plan URLs
  src/main/webapp/app/exercises/shared/exercise/exercise.service.ts
  src/main/webapp/app/overview/exercise-details/exercise-details-student-actions.component.html
Labels: ready for review, client, small, bugfix

#6094 `Development`: Enhance exam creation e2e tests
  src/test/cypress/e2e/exam/ExamAssessment.cy.ts
  src/test/cypress/e2e/exam/ExamCreationDeletion.cy.ts
  src/test/cypress/support/pageobjects/exam/ExamManagementPage.ts
Labels: tests, ready for review, cypress

#5982 `Development`: Improve documentation for the preset GitLab to Jenkins push notification token
  docs/dev/setup/jenkins-gitlab.rst
Labels: documentation, jenkins/gitlab, ready to merge

#6126 `Programming exercises`: Fix code editor read only state after due date
  src/main/webapp/app/exercises/programming/shared/code-editor/ace/code-editor-ace.component.html
  src/main/webapp/app/exercises/programming/shared/code-editor/ace/code-editor-ace.component.ts
  src/main/webapp/app/exercises/programming/shared/code-editor/container/code-editor-container.component.html
  src/test/javascript/spec/component/code-editor/code-editor-ace.component.spec.ts
Labels: tests, client, component:Programming, small, bugfix, ready to merge

#6135 `Development`: Create helper class and refactor course management for e2e tests
  src/main/webapp/app/course/manage/course-update.component.html
  src/main/webapp/app/course/manage/detail/course-detail.component.html
  src/main/webapp/app/overview/header-course.component.html
  src/test/cypress/e2e/course/CourseManagement.cy.ts
  src/test/cypress/support/pageobjects/ArtemisPageobjects.ts
  src/test/cypress/support/pageobjects/course/CourseCreationPage.ts
  src/test/cypress/support/pageobjects/course/CourseExercisePage.ts
  src/test/cypress/support/pageobjects/course/CourseManagementPage.ts
Labels: tests, client, cypress, ready to merge

#5975 `Programming exercises`: Fix task in problem statement with zero tests
  src/main/webapp/app/exercises/programming/shared/instructions-render/extensions/programming-exercise-task.extension.ts
  src/main/webapp/app/exercises/programming/shared/instructions-render/service/programming-exercise-instruction.service.ts
  src/main/webapp/app/exercises/programming/shared/instructions-render/step-wizard/programming-exercise-instruction-step-wizard.component.html
  src/main/webapp/app/exercises/programming/shared/instructions-render/step-wizard/programming-exercise-instruction-step-wizard.component.ts
  src/main/webapp/app/exercises/programming/shared/instructions-render/task/programming-exercise-instruction-task-status.component.html
  src/main/webapp/i18n/de/editor.json
  src/main/webapp/i18n/en/editor.json
  src/test/javascript/spec/component/programming-exercise/programming-exercise-instruction.component.spec.ts
  src/test/javascript/spec/helpers/sample/problemStatement.json
  src/test/javascript/spec/service/programming-exercise-instruction.service.spec.ts
Labels: tests, client, component:Programming, small, user interface, ready to merge

#6091 `Development`: Improve setup instructions
  docs/README.md
  docs/dev/setup/bamboo-bitbucket-jira.rst
  docs/dev/setup/bamboo-bitbucket-jira/bitbucket-create-token.png
  docs/dev/setup/bamboo-bitbucket-jira/bitbucket_create_token.png
Labels: enhancement, documentation, small, ready to merge

#6131 `Development`: Remove unused artemis.encryption-password config option
  docs/dev/setup.rst
  docs/dev/setup/bamboo-bitbucket-jira.rst
  docs/dev/setup/jenkins-gitlab.rst
  src/main/docker/cypress/application.yml
  src/main/resources/config/application-artemis.yml
  src/test/resources/config/application-artemis.yml
Labels: tests, documentation, config-change, small, ready to merge

#6133 `Tutorial groups`: Allow tutors to track number of attending students per session
  src/main/java/de/tum/in/www1/artemis/domain/tutorialgroups/TutorialGroupSession.java
  src/main/java/de/tum/in/www1/artemis/service/tutorialgroups/TutorialGroupService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/tutorialgroups/TutorialGroupSessionResource.java
  src/main/resources/config/liquibase/changelog/20230123101046_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/course/tutorial-groups/services/tutorial-group-session.service.ts
  src/main/webapp/app/course/tutorial-groups/shared/tutorial-group-detail/tutorial-group-detail.component.html
  src/main/webapp/app/course/tutorial-groups/shared/tutorial-group-sessions-table/tutorial-group-session-row/tutorial-group-session-row.component.html
  src/main/webapp/app/course/tutorial-groups/shared/tutorial-group-sessions-table/tutorial-group-session-row/tutorial-group-session-row.component.scss
  src/main/webapp/app/course/tutorial-groups/shared/tutorial-group-sessions-table/tutorial-group-session-row/tutorial-group-session-row.component.ts
  src/main/webapp/app/course/tutorial-groups/shared/tutorial-group-sessions-table/tutorial-group-sessions-table.component.html
  src/main/webapp/app/course/tutorial-groups/shared/tutorial-group-sessions-table/tutorial-group-sessions-table.component.scss
  src/main/webapp/app/course/tutorial-groups/shared/tutorial-group-sessions-table/tutorial-group-sessions-table.component.ts
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-group-sessions/tutorial-group-sessions-management/tutorial-group-sessions-management.component.scss
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-group-sessions/tutorial-group-sessions-management/tutorial-group-sessions-management.component.ts
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-groups/tutorial-groups-management/tutorial-group-row-buttons/tutorial-group-row-buttons.component.ts
  src/main/webapp/app/entities/tutorial-group/tutorial-group-session.model.ts
  src/main/webapp/i18n/de/tutorialGroups.json
  src/main/webapp/i18n/en/tutorialGroups.json
  src/test/java/de/tum/in/www1/artemis/tutorialgroups/TutorialGroupSessionIntegrationTest.java
  src/test/javascript/spec/component/tutorial-groups/services/tutorial-group-session.service.spec.ts
  src/test/javascript/spec/component/tutorial-groups/shared/tutorial-group-sessions-table.component.spec.ts
  src/test/javascript/spec/component/tutorial-groups/stubs/tutorial-group-sessions-table-stub.component.ts
  src/test/javascript/spec/component/tutorial-groups/tutorial-groups-management/tutorial-group-sessions/tutorial-group-sessions-management/tutorial-group-session-row.component.spec.ts
  src/test/javascript/spec/component/tutorial-groups/tutorial-groups-management/tutorial-groups/tutorial-groups-management/tutorial-group-row-button.component.spec.ts
Labels: feature, tests, server, client, database, ready to merge, component:TutorialGroups

#6158 define LocalCiBuildPlan object
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIBuildPlan.java
Labels: server

#5871 `Development`: Add exam management modeling/programming/quiz exercise creation e2e tests
  src/main/webapp/app/exam/manage/exercise-groups/exercise-groups.component.html
  src/main/webapp/app/exercises/quiz/manage/multiple-choice-question/multiple-choice-question-edit.component.html
  src/test/cypress/e2e/exam/ExamManagement.cy.ts
  src/test/cypress/support/pageobjects/exam/ExamExerciseGroupsPage.ts
  src/test/cypress/support/pageobjects/exercises/quiz/QuizExerciseCreationPage.ts
Labels: tests, client, cypress, ready to merge

#6045 `Programming exercises`: Add possibility to configure Docker run arguments on Jenkins
  src/main/java/de/tum/in/www1/artemis/config/ProgrammingLanguageConfiguration.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/BambooBuildPlanService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsBuildPlanCreator.java
  src/main/resources/config/application.yml
  src/main/resources/templates/jenkins/c/fact/regularRuns/Jenkinsfile
  src/main/resources/templates/jenkins/c/gcc/regularRuns/Jenkinsfile
  src/main/resources/templates/jenkins/empty/regularRuns/Jenkinsfile
  src/main/resources/templates/jenkins/haskell/regularRuns/Jenkinsfile
  src/main/resources/templates/jenkins/java/gradle/regularRuns/Jenkinsfile
  src/main/resources/templates/jenkins/java/gradle/regularRuns/Jenkinsfile-staticCodeAnalysis
  src/main/resources/templates/jenkins/java/gradle/sequentialRuns/Jenkinsfile
  src/main/resources/templates/jenkins/java/maven/regularRuns/Jenkinsfile
  src/main/resources/templates/jenkins/java/maven/regularRuns/Jenkinsfile-staticCodeAnalysis
  src/main/resources/templates/jenkins/java/maven/sequentialRuns/Jenkinsfile
  src/main/resources/templates/jenkins/kotlin/regularRuns/Jenkinsfile
  src/main/resources/templates/jenkins/kotlin/sequentialRuns/Jenkinsfile
  src/main/resources/templates/jenkins/python/regularRuns/Jenkinsfile
  src/main/resources/templates/jenkins/swift/regularRuns/Jenkinsfile
  src/main/resources/templates/jenkins/swift/regularRuns/Jenkinsfile-staticCodeAnalysis
  src/test/java/de/tum/in/www1/artemis/config/ProgrammingLanguageConfigurationTest.java
  src/test/resources/config/application.yml
Labels: feature, tests, server, component:Programming, config-change, jenkins/gitlab, template, ready to merge

#6087 `Development`: Add documentation for bonus, publishing example solutions, plagiarism checks for exams and special grades
  README.md
  docs/user/exams/instructor/exam_example_solution_publication_date.png
  docs/user/exams/instructor/grade_key_editor.png
  docs/user/exams/instructors_guide.rst
  docs/user/exams/student/exam_example_solution_modeling.png
  docs/user/exams/student/exam_example_solution_programming.png
  docs/user/exams/student/exam_example_solutions.png
  docs/user/exams/student/student_grade_with_bonus.png
  docs/user/exams/students_guide.rst
  docs/user/exercises/programming-exercise-setup.inc
  docs/user/exercises/programming/programming-options-timeline-automatic.png
  docs/user/exercises/programming/programming-options-timeline-manual.png
  docs/user/grading.rst
  docs/user/grading/bonus_button.png
  docs/user/grading/bonus_create_options.png
  docs/user/grading/bonus_dynamic_example.png
  docs/user/grading/bonus_edit_options - Kopya.png
  docs/user/grading/bonus_edit_options - Kopya1.png
  docs/user/grading/bonus_edit_options.png
  docs/user/grading/bonus_formula_examples.png
  docs/user/grading/bonus_tooltip.png
  docs/user/grading/grade_key_bonus.png
  docs/user/plagiarism-check.rst
Labels: documentation, ready to merge

#6145 `Quiz exercises`: Fix reseting invalid quiz questions
  src/main/java/de/tum/in/www1/artemis/service/QuizExerciseService.java
  src/test/java/de/tum/in/www1/artemis/quiz/QuizExerciseIntegrationTest.java
Labels: tests, server, component:Quiz, small, bugfix, ready to merge

#6141 `Development`: Extend documentation with useful information for Artemis admins
  docs/admin/database.rst
  docs/admin/productionSetupTips.rst
  docs/index.rst
Labels: enhancement, documentation, small, ready to merge

#6069 `Programming exercises`: Remove mention of SourceTree for cloning
  src/main/webapp/app/exercises/programming/shared/service/sourceTree.service.ts
  src/main/webapp/app/shared/components/clone-repo-button/clone-repo-button.component.html
  src/main/webapp/i18n/de/exercise-actions.json
  src/main/webapp/i18n/en/exercise-actions.json
  src/test/javascript/spec/component/shared/clone-repo-button.component.spec.ts
Labels: tests, client, component:Programming, small, user interface, ready to merge

#6134 `Development`: Rewrite e2e exercise logic to support multiple exercises of the same type
  src/main/webapp/app/exam/participate/exam-participation.component.html
  src/main/webapp/app/exam/participate/summary/exam-participation-summary.component.html
  src/main/webapp/app/exercises/modeling/participate/modeling-submission.component.html
  src/main/webapp/app/exercises/programming/assess/code-editor-tutor-assessment-container.component.html
  src/main/webapp/app/exercises/programming/participate/code-editor-student-container.component.html
  src/main/webapp/app/exercises/quiz/participate/quiz-participation.component.html
  src/main/webapp/app/exercises/text/participate/text-editor.component.html
  src/test/cypress/e2e/Logout.cy.ts
  src/test/cypress/e2e/exam/ExamAssessment.cy.ts
  src/test/cypress/e2e/exam/ExamDateVerification.cy.ts
  src/test/cypress/e2e/exam/ExamParticipation.cy.ts
  src/test/cypress/e2e/exercises/modeling/ModelingExerciseManagement.cy.ts
  src/test/cypress/e2e/exercises/modeling/ModelingExerciseParticipation.cy.ts
  src/test/cypress/e2e/exercises/programming/ProgrammingExerciseAssessment.cy.ts
  src/test/cypress/e2e/exercises/programming/ProgrammingExerciseParticipation.cy.ts
  src/test/cypress/e2e/exercises/programming/ProgrammingExerciseStaticCodeAnalysis.cy.ts
  src/test/cypress/e2e/exercises/quiz-exercise/QuizExerciseParticipation.cy.ts
  src/test/cypress/e2e/exercises/text/TextExerciseParticipation.cy.ts
  src/test/cypress/fixtures/programming_exercise_submissions/all_successful/submission.json
  src/test/cypress/fixtures/programming_exercise_submissions/build_error/submission.json
  src/test/cypress/fixtures/programming_exercise_submissions/partially_successful/submission.json
  src/test/cypress/fixtures/programming_exercise_submissions/static_code_analysis/submission.json
  src/test/cypress/support/constants.ts
  src/test/cypress/support/pageobjects/ArtemisPageobjects.ts
  src/test/cypress/support/pageobjects/exam/ExamExerciseGroupCreationPage.ts
  src/test/cypress/support/pageobjects/exam/ExamParticipation.ts
  src/test/cypress/support/pageobjects/exercises/modeling/ModelingEditor.ts
  src/test/cypress/support/pageobjects/exercises/programming/OnlineEditorPage.ts
  src/test/cypress/support/pageobjects/exercises/programming/ProgrammingExerciseFeedbackPage.ts
  src/test/cypress/support/pageobjects/exercises/quiz/MultipleChoiceQuiz.ts
  src/test/cypress/support/pageobjects/exercises/text/TextEditorPage.ts
  src/test/cypress/support/utils.ts
Labels: tests, client, cypress, ready to merge

#6138 `Development`: Fix server tests for MySQL and Postgres
  .github/workflows/test.yml
  src/main/resources/config/liquibase/changelog/20230121123250_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/test/java/de/tum/in/www1/artemis/entitylistener/ResultListenerIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/CourseTestService.java
  src/test/java/de/tum/in/www1/artemis/util/DatabaseUtilService.java
Labels: tests, ready for review, database

#6148 `Lectures`: Make the connection between learning objectives clearer
  src/main/webapp/app/course/learning-goals/learning-goal-form/learning-goal-form.component.html
  src/main/webapp/app/course/learning-goals/learning-goal-form/learning-goal-form.component.ts
  src/main/webapp/app/lecture/wizard-mode/lecture-update-wizard.component.html
  src/main/webapp/app/lecture/wizard-mode/lecture-wizard-learning-goals.component.html
  src/main/webapp/app/lecture/wizard-mode/lecture-wizard-learning-goals.component.ts
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/de/lecture.json
  src/main/webapp/i18n/en/global.json
  src/main/webapp/i18n/en/learningGoal.json
  src/main/webapp/i18n/en/lecture.json
Labels: enhancement, client, small, ready to merge

#6085 `Exam mode`: Allow editing individual working time during conduction
  src/main/java/de/tum/in/www1/artemis/service/exam/StudentExamService.java
  src/main/java/de/tum/in/www1/artemis/service/messaging/DistributedInstanceMessageSendService.java
  src/main/java/de/tum/in/www1/artemis/service/messaging/InstanceMessageReceiveService.java
  src/main/java/de/tum/in/www1/artemis/service/messaging/InstanceMessageSendService.java
  src/main/java/de/tum/in/www1/artemis/service/messaging/MainInstanceMessageSendService.java
  src/main/java/de/tum/in/www1/artemis/service/messaging/MessageTopic.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/ProgrammingExerciseScheduleService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/StudentExamResource.java
  src/main/webapp/app/exam/manage/student-exams/student-exam-detail.component.html
  src/main/webapp/app/exam/manage/student-exams/student-exam-detail.component.ts
  src/main/webapp/app/exam/participate/exam-participation.component.ts
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/en/exam.json
  src/test/java/de/tum/in/www1/artemis/exam/StudentExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/programmingexercise/ProgrammingExerciseScheduleServiceTest.java
  src/test/javascript/spec/component/exam/manage/student-exams/student-exam-detail.component.spec.ts
  src/test/javascript/spec/component/exam/participate/exam-participation.component.spec.ts
Labels: tests, server, client, component:Programming, exam mode, ready to merge, scheduling

#6156 `Exam mode`: Trim whitespace in exam title and exercise group names
  src/main/java/de/tum/in/www1/artemis/domain/exam/Exam.java
  src/main/java/de/tum/in/www1/artemis/domain/exam/ExerciseGroup.java
  src/test/java/de/tum/in/www1/artemis/exam/ExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exam/ExerciseGroupIntegrationTest.java
Labels: tests, ready for review, server

#6128 `General`: Fix wrong display of participation status
  src/main/webapp/app/overview/exercise-details/exercise-details-student-actions.component.ts
  src/main/webapp/app/overview/submission-result-status.component.html
  src/main/webapp/app/overview/submission-result-status.component.ts
  src/main/webapp/i18n/de/student-dashboard.json
  src/main/webapp/i18n/en/student-dashboard.json
  src/test/javascript/spec/component/overview/exercise-details/exercise-details-student-actions.component.spec.ts
  src/test/javascript/spec/component/shared/submission-result-status.component.spec.ts
Labels: tests, ready for review, client, small, bugfix

#6155 `Documentation`: Clear Sphinx build warnings
  docs/conf.py
Labels: ready for review, documentation
