Repository ls1intum/Artemis, pull requests merged in 2024-08, with the labels that each got.

#9152 `Exam mode`: Hide unreleased programming exercise results
  src/main/java/de/tum/in/www1/artemis/service/exam/ExamService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/programming/ProgrammingExerciseParticipationResource.java
  src/main/java/de/tum/in/www1/artemis/web/websocket/ResultWebsocketService.java
Labels: ready for review, server, component:Programming, component:Exam Mode, priority:high, bugfix

#9135 `Exam mode`: Add warning message for visibility date of an exam
  src/main/webapp/app/exam/manage/exams/exam-update.component.html
  src/main/webapp/app/exam/manage/exams/exam-update.component.ts
  src/main/webapp/app/shared/date-time-picker/date-time-picker.component.html
  src/main/webapp/app/shared/date-time-picker/date-time-picker.component.scss
  src/main/webapp/app/shared/date-time-picker/date-time-picker.component.ts
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/en/global.json
  src/test/javascript/spec/component/exam/exam-update.component.spec.ts
  src/test/playwright/e2e/exam/ExamCreationDeletion.spec.ts
Labels: tests, ready for review, client, maintainer-approved

#9136 `Exam mode`: Send problem statement notifications only after the start of an exam
  src/main/java/de/tum/in/www1/artemis/service/ExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/exam/ExamLiveEventsService.java
  src/main/webapp/app/exam/participate/events/exam-live-events-button.component.ts
  src/main/webapp/app/exam/participate/events/exam-live-events-overlay.component.ts
  src/main/webapp/app/exam/participate/exam-bar/exam-bar.component.html
  src/main/webapp/app/exam/participate/exam-bar/exam-bar.component.ts
  src/main/webapp/app/exam/participate/exam-cover/exam-participation-cover.component.html
  src/main/webapp/app/exam/participate/exam-participation-live-events.service.ts
  src/main/webapp/app/exam/participate/exam-participation.component.html
  src/test/java/de/tum/in/www1/artemis/exam/ExamUtilService.java
  src/test/java/de/tum/in/www1/artemis/exercise/fileupload/FileUploadExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/fileupload/FileUploadExerciseUtilService.java
  src/test/java/de/tum/in/www1/artemis/exercise/modeling/ModelingExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programming/ProgrammingExerciseServiceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programming/ProgrammingExerciseTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programming/ProgrammingExerciseUtilService.java
  src/test/java/de/tum/in/www1/artemis/participation/ParticipationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/text/TextExerciseIntegrationTest.java
  src/test/javascript/spec/service/exam-participation-live-events.service.spec.ts
Labels: tests, ready for review, server, client, priority:high, lock:artemis-test6

#8782 `Tutorial groups`: Improve functionality of import button
  src/main/java/de/tum/in/www1/artemis/service/tutorialgroups/TutorialGroupService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/tutorialgroups/TutorialGroupResource.java
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-groups/tutorial-groups-management/tutorial-groups-import-dialog/tutorial-groups-registration-import-dialog.component.html
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-groups/tutorial-groups-management/tutorial-groups-import-dialog/tutorial-groups-registration-import-dialog.component.ts
  src/main/webapp/app/entities/tutorial-group/tutorial-group-import-dto.model.ts
  src/main/webapp/app/exercises/shared/result/result.component.ts
  src/main/webapp/app/exercises/shared/result/result.service.ts
  src/main/webapp/app/shared/util/CsvDownloadService.ts
  src/main/webapp/i18n/de/tutorialGroupImport.json
  src/main/webapp/i18n/en/tutorialGroupImport.json
  src/test/java/de/tum/in/www1/artemis/tutorialgroups/TutorialGroupIntegrationTest.java
  src/test/javascript/spec/component/tutorial-groups/tutorial-groups-management/tutorial-groups/tutorial-groups-management/tutorial-groups-registration-import-dialog.component.spec.ts
Labels: tests, server, client

#8951 `Development`: Add support for ephemeral SSH keys for the authentication of build agents
  src/main/java/de/tum/in/www1/artemis/config/icl/ssh/SshConstants.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/SharedQueueManagementService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/buildagent/BuildAgentSshKeyService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/buildagent/SharedQueueProcessingService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/dto/BuildAgentInformation.java
  src/main/java/de/tum/in/www1/artemis/service/icl/GitPublickeyAuthenticatorService.java
  src/main/java/de/tum/in/www1/artemis/service/icl/SshGitLocationResolverService.java
  src/test/java/de/tum/in/www1/artemis/AbstractSpringIntegrationLocalCILocalVCTest.java
  src/test/java/de/tum/in/www1/artemis/localvcci/BuildAgentSshAuthenticationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalCIResourceIntegrationTest.java
Labels: feature, tests, server, component:Programming, config-change, ready to merge, component:integrated code lifecycle

#9150 `Communication`: Add private channel icon to sidebar
  src/main/webapp/app/overview/course-overview.service.ts
Labels: client, small, ready to merge, component:Communication

#9141 `Learning paths`: Refactor competency graph to get data passed from outside of component
  src/main/java/de/tum/in/www1/artemis/service/learningpath/LearningPathService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/competency/CompetencyGraphNodeDTO.java
  src/main/webapp/app/course/learning-paths/components/competency-graph-modal/competency-graph-modal.component.html
  src/main/webapp/app/course/learning-paths/components/competency-graph-modal/competency-graph-modal.component.ts
  src/main/webapp/app/course/learning-paths/components/competency-graph/competency-graph.component.html
  src/main/webapp/app/course/learning-paths/components/competency-graph/competency-graph.component.ts
  src/main/webapp/app/course/learning-paths/components/competency-node/competency-node.component.html
  src/main/webapp/app/course/learning-paths/components/competency-node/competency-node.component.ts
  src/main/webapp/app/entities/competency/learning-path.model.ts
  src/test/java/de/tum/in/www1/artemis/competency/LearningPathIntegrationTest.java
  src/test/javascript/spec/component/learning-paths/components/competency-graph-modal.component.spec.ts
  src/test/javascript/spec/component/learning-paths/components/competency-graph.component.spec.ts
  src/test/javascript/spec/component/learning-paths/components/competency-node.component.spec.ts
Labels: tests, server, client, refactoring, ready to merge

#8993 `Adaptive learning`: Remove relates relation type for competencies
  docs/user/adaptive-learning/adaptive-learning-instructor.rst
  docs/user/adaptive-learning/instructor/competency-relations.png
  src/main/java/de/tum/in/www1/artemis/domain/competency/RelationType.java
  src/main/resources/config/liquibase/changelog/20240708144500_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/course/competencies/competency-management/competency-relation-graph.component.html
  src/main/webapp/app/entities/competency.model.ts
  src/main/webapp/i18n/de/competency.json
  src/main/webapp/i18n/en/competency.json
  src/test/java/de/tum/in/www1/artemis/competency/CompetencyIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/LearningPathServiceTest.java
  src/test/javascript/spec/component/competencies/competency.service.spec.ts
Labels: tests, server, client, documentation, database, small, ready to merge, maintainer-approved

#9099 `Learning paths`: Add learning path completion button
  src/main/java/de/tum/in/www1/artemis/service/learningpath/LearningPathNavigationService.java
  src/main/webapp/app/course/learning-paths/components/learning-path-nav-overview-learning-objects/learning-path-nav-overview-learning-objects.component.html
  src/main/webapp/app/course/learning-paths/components/learning-path-student-nav/learning-path-student-nav.component.html
  src/main/webapp/app/course/learning-paths/components/learning-path-student-nav/learning-path-student-nav.component.ts
  src/main/webapp/app/course/learning-paths/pages/learning-path-student-page/learning-path-student-page.component.html
  src/main/webapp/app/course/learning-paths/pages/learning-path-student-page/learning-path-student-page.component.scss
  src/main/webapp/app/course/learning-paths/pages/learning-path-student-page/learning-path-student-page.component.ts
  src/main/webapp/app/course/learning-paths/services/learning-path-navigation.service.ts
  src/main/webapp/app/entities/competency/learning-path.model.ts
  src/main/webapp/i18n/de/learningPath.json
  src/main/webapp/i18n/en/learningPath.json
  src/test/java/de/tum/in/www1/artemis/competency/LearningPathIntegrationTest.java
  src/test/javascript/spec/component/learning-paths/components/learning-path-nav.component.spec.ts
  src/test/javascript/spec/component/learning-paths/pages/learning-path-student-page.component.spec.ts
  src/test/javascript/spec/service/learning-path/learning-path-navigation.service.spec.ts
Labels: tests, server, client, ready to merge

#9175 `Development`: Add server tests for result hiding behavior for exam exercises
  src/test/java/de/tum/in/www1/artemis/exam/ExamUtilService.java
  src/test/java/de/tum/in/www1/artemis/exercise/programming/ProgrammingExerciseParticipationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programming/ProgrammingExerciseResultJenkinsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programming/ProgrammingExerciseResultTestService.java
  src/test/java/de/tum/in/www1/artemis/exercise/programming/ProgrammingExerciseUtilService.java
Labels: tests, ready for review, ready to merge, maintainer-approved

#9085 `Development`: Fix LTI on multi node systems
  src/main/java/de/tum/in/www1/artemis/config/SecurityConfiguration.java
  src/main/java/de/tum/in/www1/artemis/config/lti/CustomLti13Configurer.java
  src/main/java/de/tum/in/www1/artemis/config/lti/DistributedStateAuthorizationRequestRepository.java
  src/main/java/de/tum/in/www1/artemis/security/jwt/JWTCookieService.java
  src/main/java/de/tum/in/www1/artemis/security/lti/Lti13TokenRetriever.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/lti/Lti13Service.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/lti/LtiService.java
  src/main/java/de/tum/in/www1/artemis/web/filter/Lti13LaunchFilter.java
  src/main/java/de/tum/in/www1/artemis/web/rest/LtiResource.java
Labels: ready for review, server, ready to merge, maintainer-approved

#8716 `Programming exercises`: Improve commit history view
  src/main/webapp/app/exercises/programming/shared/commits-info/commits-info-group/commits-info-group.component.html
  src/main/webapp/app/exercises/programming/shared/commits-info/commits-info-group/commits-info-group.component.ts
  src/main/webapp/app/exercises/programming/shared/commits-info/commits-info-group/commits-info-row/commits-info-row.component.html
  src/main/webapp/app/exercises/programming/shared/commits-info/commits-info-group/commits-info-row/commits-info-row.component.ts
  src/main/webapp/app/exercises/programming/shared/commits-info/commits-info.component.html
  src/main/webapp/app/exercises/programming/shared/commits-info/commits-info.component.ts
  src/main/webapp/app/exercises/programming/shared/programming-exercise.module.ts
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/programmingExercise.json
  src/test/javascript/spec/component/shared/commits-info-group.component.spec.ts
  src/test/javascript/spec/component/shared/commits-info.component.spec.ts
Labels: tests, server, client, ready to merge

#9165 `Quiz exercises`: Allow file editing when importing from overview
  src/main/java/de/tum/in/www1/artemis/service/exam/ExamImportService.java
  src/main/java/de/tum/in/www1/artemis/service/quiz/QuizExerciseImportService.java
  src/main/java/de/tum/in/www1/artemis/service/quiz/QuizExerciseService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/QuizExerciseResource.java
Labels: server, component:Quiz, small, bugfix, ready to merge

#9112 `Exam mode`: Redesign the user interface of end page
  docs/user/exams/student/exam_end_screen.png
  src/main/webapp/app/exam/participate/exam-bar/exam-bar.component.html
  src/main/webapp/app/exam/participate/exam-bar/exam-bar.component.scss
  src/main/webapp/app/exam/participate/exam-bar/exam-bar.component.ts
  src/main/webapp/app/exam/participate/exam-cover/exam-participation-cover.component.html
  src/main/webapp/app/exam/participate/exam-cover/exam-participation-cover.component.ts
  src/main/webapp/app/exam/participate/exam-participation.component.html
  src/main/webapp/app/exam/participate/exam-participation.component.ts
  src/main/webapp/app/exam/participate/exam-participation.scss
  src/main/webapp/app/exam/participate/timer/exam-timer.component.html
  src/main/webapp/app/overview/course-overview.component.html
  src/main/webapp/app/overview/course-overview.component.scss
  src/main/webapp/app/overview/course-overview.component.ts
  src/main/webapp/app/shared/layouts/main/main.component.html
  src/main/webapp/content/images/feature-overview/students/online_exams.png
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/en/exam.json
  src/test/javascript/spec/component/exam/participate/exam-bar.component.spec.ts
  src/test/javascript/spec/component/exam/participate/exam-participation-cover.component.spec.ts
  src/test/javascript/spec/component/exam/participate/exam-participation.component.spec.ts
Labels: tests, client, documentation, component:Exam Mode, ready to merge, maintainer-approved

#9124 `Communication`: Change the Markdown editor to Monaco
  src/main/webapp/app/exercises/programming/manage/instructions-editor/programming-exercise-editable-instruction.component.html
  src/main/webapp/app/overview/course-conversations/course-conversations.component.ts
  src/main/webapp/app/overview/course-conversations/layout/conversation-thread-sidebar/conversation-thread-sidebar.component.html
  src/main/webapp/app/overview/course-conversations/layout/conversation-thread-sidebar/conversation-thread-sidebar.component.ts
  src/main/webapp/app/shared/markdown-editor/monaco/markdown-editor-monaco.component.html
  src/main/webapp/app/shared/markdown-editor/monaco/markdown-editor-monaco.component.ts
  src/main/webapp/app/shared/metis/answer-post/answer-post.component.ts
  src/main/webapp/app/shared/metis/message/message-inline-input/message-inline-input.component.html
  src/main/webapp/app/shared/metis/message/message-inline-input/message-inline-input.component.scss
  src/main/webapp/app/shared/metis/message/message-reply-inline-input/message-reply-inline-input.component.html
  src/main/webapp/app/shared/metis/message/message-reply-inline-input/message-reply-inline-input.component.scss
  src/main/webapp/app/shared/metis/message/message-reply-inline-input/message-reply-inline-input.component.ts
  src/main/webapp/app/shared/metis/post/post.component.ts
  src/main/webapp/app/shared/metis/posting-content/posting-content.components.ts
  src/main/webapp/app/shared/metis/posting-create-edit-modal/answer-post-create-edit-modal/answer-post-create-edit-modal.component.html
  src/main/webapp/app/shared/metis/posting-create-edit-modal/answer-post-create-edit-modal/answer-post-create-edit-modal.component.scss
  src/main/webapp/app/shared/metis/posting-create-edit-modal/post-create-edit-modal/post-create-edit-modal.component.html
  src/main/webapp/app/shared/metis/posting-markdown-editor/posting-markdown-editor.component.html
  src/main/webapp/app/shared/metis/posting-markdown-editor/posting-markdown-editor.component.ts
  src/main/webapp/app/shared/metis/posting-thread/posting-thread.component.ts
  src/main/webapp/app/shared/monaco-editor/model/actions/communication/monaco-channel-reference.action.ts
  src/main/webapp/app/shared/monaco-editor/model/actions/communication/monaco-exercise-reference.action.ts
  src/main/webapp/app/shared/monaco-editor/model/actions/communication/monaco-lecture-attachment-reference.action.ts
  src/main/webapp/app/shared/monaco-editor/model/actions/communication/monaco-user-mention.action.ts
  src/main/webapp/app/shared/monaco-editor/model/actions/monaco-code-block.action.ts
  src/main/webapp/app/shared/monaco-editor/model/actions/monaco-editor-action.model.ts
  src/main/webapp/app/shared/monaco-editor/model/actions/monaco-quote.action.ts
  src/main/webapp/app/shared/monaco-editor/monaco-editor.component.scss
  src/main/webapp/app/shared/monaco-editor/monaco-editor.component.ts
  src/main/webapp/app/shared/sidebar/conversation-options/conversation-options.component.ts
  src/main/webapp/app/shared/sidebar/sidebar-card-small/sidebar-card-small.component.ts
  src/main/webapp/content/scss/themes/_dark-variables.scss
  src/main/webapp/content/scss/themes/_default-variables.scss
  src/main/webapp/i18n/de/markdownEditor.json
  src/main/webapp/i18n/de/metis.json
  src/main/webapp/i18n/en/markdownEditor.json
  src/main/webapp/i18n/en/metis.json
  src/test/javascript/spec/component/markdown-editor/markdown-editor-monaco.component.spec.ts
  src/test/javascript/spec/component/shared/metis/postings-markdown-editor/postings-markdown-editor.component.spec.ts
  src/test/javascript/spec/component/shared/monaco-editor/monaco-editor-action.integration.spec.ts
  src/test/javascript/spec/component/shared/monaco-editor/monaco-editor-communication-action.integration.spec.ts
  src/test/javascript/spec/helpers/sample/metis-sample-data.ts
  src/test/playwright/support/pageobjects/course/CourseCommunicationPage.ts
  src/test/playwright/support/pageobjects/course/CourseMessagesPage.ts
Labels: tests, client, ready to merge, maintainer-approved

#9153 `Development`: Enhance coverage report script
  supporting_scripts/generate_code_cov_table/README.md
  supporting_scripts/generate_code_cov_table/generate_code_cov_table.py
Labels: chore, small, ready to merge, maintainer-approved

#9189 `Development`: Fix regex in GitHub test action to only find truly failed test cases
  .github/workflows/test.yml
Labels: tests, ready to merge

#9191 `Exam mode`: Fix a wrong message when deleting a test run
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/en/exam.json
Labels: client, small, ready to merge

#8741 `Development`: Avoid database queries with pagination and left join fetch
  docs/dev/guidelines/database.rst
  src/main/java/de/tum/in/www1/artemis/repository/BuildJobRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/PersistenceAuditEventRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ProgrammingSubmissionRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ResultRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/SolutionProgrammingExerciseParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/StudentParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/TemplateProgrammingExerciseParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/UserRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/base/ArtemisJpaRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/base/RepositoryImpl.java
  src/main/java/de/tum/in/www1/artemis/repository/hestia/CoverageReportRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/iris/IrisCourseChatSessionRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/iris/IrisExerciseChatSessionRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/iris/IrisMessageRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/plagiarism/PlagiarismResultRepository.java
  src/main/java/de/tum/in/www1/artemis/service/AuditEventService.java
  src/main/java/de/tum/in/www1/artemis/service/SubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/SharedQueueManagementService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/lti/Lti13Service.java
  src/main/java/de/tum/in/www1/artemis/service/dto/CoverageReportAndSubmissionDateDTO.java
  src/main/java/de/tum/in/www1/artemis/service/dto/ProgrammingSubmissionIdAndSubmissionDateDTO.java
  src/main/java/de/tum/in/www1/artemis/service/hestia/ProgrammingExerciseGitDiffReportService.java
  src/main/java/de/tum/in/www1/artemis/service/hestia/TestwiseCoverageService.java
  src/main/java/de/tum/in/www1/artemis/service/metis/conversation/ConversationService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseGradingService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ParticipationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/metis/conversation/ConversationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/programming/ProgrammingExercisePlagiarismResource.java
  src/main/resources/config/application.yml
  src/test/java/de/tum/in/www1/artemis/ManagementResourceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/connectors/Lti13ServiceTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programming/ProgrammingExerciseGradingServiceTest.java
  src/test/java/de/tum/in/www1/artemis/hestia/TestwiseCoverageReportServiceTest.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalVCLocalCIIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalVCLocalCITestService.java
  src/test/java/de/tum/in/www1/artemis/plagiarism/PlagiarismIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/repository/ProgrammingSubmissionTestRepository.java
  src/test/resources/config/application.yml
Labels: tests, ready for review, server, documentation, config-change, ready to merge, maintainer-approved

#9103 `Communication`: Improve the user interface
  src/main/webapp/app/course/competencies/generate-competencies/generate-competencies.component.html
  src/main/webapp/app/exam/manage/student-exams/student-exams.component.html
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise.component.html
  src/main/webapp/app/overview/course-conversations/course-conversations.component.html
  src/main/webapp/app/overview/course-conversations/course-conversations.component.scss
  src/main/webapp/app/overview/course-conversations/course-conversations.component.ts
  src/main/webapp/app/overview/course-conversations/course-wide-search/course-wide-search.component.html
  src/main/webapp/app/overview/course-conversations/layout/conversation-header/conversation-header.component.html
  src/main/webapp/app/overview/course-conversations/layout/conversation-header/conversation-header.component.scss
  src/main/webapp/app/overview/course-conversations/layout/conversation-messages/conversation-messages.component.html
  src/main/webapp/app/overview/course-conversations/layout/conversation-messages/conversation-messages.component.scss
  src/main/webapp/app/overview/course-conversations/layout/conversation-messages/conversation-messages.component.ts
  src/main/webapp/app/overview/course-conversations/layout/conversation-thread-sidebar/conversation-thread-sidebar.component.html
  src/main/webapp/app/shared/metis/metis.component.scss
  src/main/webapp/app/shared/metis/post/post.component.html
  src/main/webapp/app/shared/metis/posting-content/posting-content.component.scss
  src/main/webapp/app/shared/metis/posting-header/answer-post-header/answer-post-header.component.html
  src/main/webapp/app/shared/metis/posting-header/post-header/post-header.component.html
  src/main/webapp/app/shared/metis/posting-header/posting-header.directive.ts
  src/main/webapp/app/shared/metis/posting-reactions-bar/answer-post-reactions-bar/answer-post-reactions-bar.component.html
  src/main/webapp/app/shared/metis/posting-reactions-bar/post-reactions-bar/post-reactions-bar.component.html
  src/main/webapp/app/shared/metis/posting-reactions-bar/posting-reactions-bar.component.scss
  src/main/webapp/app/shared/metis/posting-thread/posting-thread.component.html
  src/main/webapp/app/shared/sidebar/accordion-add-options/accordion-add-options.component.scss
  src/main/webapp/app/shared/sidebar/conversation-options/conversation-options.component.html
  src/main/webapp/app/shared/sidebar/conversation-options/conversation-options.component.scss
  src/main/webapp/app/shared/sidebar/sidebar-card-small/sidebar-card-small.component.html
  src/main/webapp/app/shared/sidebar/sidebar-card-small/sidebar-card-small.component.scss
  src/main/webapp/content/scss/global.scss
  src/test/cypress/support/pageobjects/course/CourseMessages.ts
  src/test/javascript/spec/component/overview/course-conversations/course-conversations.component.spec.ts
  src/test/javascript/spec/component/overview/course-conversations/layout/conversation-header/conversation-header.component.spec.ts
  src/test/javascript/spec/component/shared/metis/postings-header/answer-post-header/answer-post-header.component.spec.ts
  src/test/javascript/spec/component/shared/metis/postings-header/post-header/post-header.component.spec.ts
  src/test/javascript/spec/component/shared/sidebar/sidebar-card-small.component.spec.ts
  src/test/playwright/support/pageobjects/course/CourseMessagesPage.ts
Labels: tests, ready for review, client, cypress, ready to merge

#9193 `Development`: Fix running server tests on Windows
  src/main/java/de/tum/in/www1/artemis/config/icl/ssh/MultipleHostKeyProvider.java
  src/main/java/de/tum/in/www1/artemis/config/icl/ssh/SshGitCommand.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/buildagent/BuildAgentSshKeyService.java
Labels: server, ready to merge

#9198 `Development`: Disable Eureka for single node setups
  docker/artemis/config/prod-singlenode.env
  docker/test-server-mysql-localci.yml
  docker/test-server-mysql.yml
  docker/test-server-postgresql-localci.yml
  docker/test-server-postgresql.yml
Labels: ready to merge, docker

#9199 `Development`: Change color of text in Spring Boot banner
  src/main/resources/banner.txt
Labels: ready to merge

#9139 `Quiz exercises`: Change the short answer quiz question editor to Monaco
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise.scss
  src/main/webapp/app/exercises/quiz/manage/quiz-question-list-edit.component.ts
  src/main/webapp/app/exercises/quiz/manage/short-answer-question/short-answer-question-edit.component.html
  src/main/webapp/app/exercises/quiz/manage/short-answer-question/short-answer-question-edit.component.ts
  src/main/webapp/app/shared/markdown-editor/monaco/markdown-editor-monaco.component.html
  src/main/webapp/app/shared/markdown-editor/monaco/markdown-editor-monaco.component.ts
  src/main/webapp/app/shared/monaco-editor/model/actions/monaco-editor-action.model.ts
  src/main/webapp/app/shared/monaco-editor/model/actions/quiz/monaco-insert-short-answer-option.action.ts
  src/main/webapp/app/shared/monaco-editor/model/actions/quiz/monaco-insert-short-answer-spot.action.ts
  src/main/webapp/app/shared/monaco-editor/model/monaco-editor-option-preset.model.ts
  src/main/webapp/app/shared/monaco-editor/monaco-editor-option.helper.ts
  src/main/webapp/app/shared/monaco-editor/monaco-editor.component.ts
  src/test/javascript/spec/component/markdown-editor/markdown-editor-monaco.component.spec.ts
  src/test/javascript/spec/component/shared/monaco-editor/monaco-editor-action-quiz.integration.spec.ts
  src/test/javascript/spec/component/shared/monaco-editor/monaco-editor.component.spec.ts
  src/test/javascript/spec/component/short-answer-question/short-answer-question-edit.component.spec.ts
  src/test/playwright/support/pageobjects/exercises/quiz/QuizExerciseCreationPage.ts
Labels: tests, ready for review, client

#9200 `Programming exercises`: Change the testwise coverage editor to Monaco
  src/main/webapp/app/exercises/programming/hestia/testwise-coverage-report/testwise-coverage-file.component.html
  src/main/webapp/app/exercises/programming/hestia/testwise-coverage-report/testwise-coverage-file.component.scss
  src/main/webapp/app/exercises/programming/hestia/testwise-coverage-report/testwise-coverage-file.component.ts
  src/main/webapp/app/exercises/programming/hestia/testwise-coverage-report/testwise-coverage-report.module.ts
  src/main/webapp/content/scss/themes/_dark-variables.scss
  src/main/webapp/content/scss/themes/_default-variables.scss
  src/test/javascript/spec/component/hestia/testwise-coverage-report/testwise-coverage-file.component.spec.ts
Labels: tests, ready for review, client, stacked-pr

#9105 `Learning paths`: Hide unreleased learning objects in learning path view
  src/main/java/de/tum/in/www1/artemis/domain/LearningObject.java
  src/main/java/de/tum/in/www1/artemis/domain/lecture/LectureUnit.java
  src/main/java/de/tum/in/www1/artemis/service/learningpath/LearningPathService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/LearningPathResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/competency/LearningPathNavigationObjectDTO.java
  src/main/webapp/app/course/learning-paths/components/learning-path-nav-overview-learning-objects/learning-path-nav-overview-learning-objects.component.html
  src/main/webapp/app/course/learning-paths/components/learning-path-nav-overview-learning-objects/learning-path-nav-overview-learning-objects.component.ts
  src/main/webapp/app/entities/competency/learning-path.model.ts
  src/main/webapp/i18n/de/learningPath.json
  src/main/webapp/i18n/en/learningPath.json
  src/test/java/de/tum/in/www1/artemis/competency/CompetencyUtilService.java
  src/test/java/de/tum/in/www1/artemis/competency/LearningPathIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/LearningObjectServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/LearningPathServiceTest.java
  src/test/javascript/spec/component/learning-paths/components/learning-path-nav.component.spec.ts
Labels: tests, server, client, ready to merge, maintainer-approved

#9173 `Programming exercises`: Change the solution entry and testwise coverage editors to Monaco
  src/main/webapp/app/exercises/programming/hestia/generation-overview/manual-solution-entry-creation-modal/manual-solution-entry-creation-modal.component.html
  src/main/webapp/app/exercises/programming/hestia/generation-overview/manual-solution-entry-creation-modal/manual-solution-entry-creation-modal.component.ts
  src/main/webapp/app/exercises/programming/hestia/generation-overview/solution-entry-details-modal/solution-entry-details-modal.component.html
  src/main/webapp/app/exercises/programming/hestia/testwise-coverage-report/testwise-coverage-file.component.html
  src/main/webapp/app/exercises/programming/hestia/testwise-coverage-report/testwise-coverage-file.component.scss
  src/main/webapp/app/exercises/programming/hestia/testwise-coverage-report/testwise-coverage-file.component.ts
  src/main/webapp/app/exercises/programming/hestia/testwise-coverage-report/testwise-coverage-report.module.ts
  src/main/webapp/app/exercises/shared/exercise-hint/shared/code-hint-container.component.html
  src/main/webapp/app/exercises/shared/exercise-hint/shared/exercise-hint-shared.module.ts
  src/main/webapp/app/exercises/shared/exercise-hint/shared/solution-entry.component.html
  src/main/webapp/app/exercises/shared/exercise-hint/shared/solution-entry.component.scss
  src/main/webapp/app/exercises/shared/exercise-hint/shared/solution-entry.component.ts
  src/main/webapp/app/shared/monaco-editor/monaco-editor.component.ts
  src/main/webapp/content/scss/themes/_dark-variables.scss
  src/main/webapp/content/scss/themes/_default-variables.scss
  src/test/javascript/spec/component/exercise-hint/shared/solution-entry.component.spec.ts
  src/test/javascript/spec/component/hestia/generation-overview/manual-solution-entry-creation-modal.component.spec.ts
  src/test/javascript/spec/component/hestia/testwise-coverage-report/testwise-coverage-file.component.spec.ts
  src/test/javascript/spec/component/shared/monaco-editor/monaco-editor.component.spec.ts
Labels: tests, ready for review, client

#9181 `General`: Allow users to login with their email address
  src/main/java/de/tum/in/www1/artemis/config/Constants.java
  src/main/java/de/tum/in/www1/artemis/repository/UserRepository.java
  src/main/java/de/tum/in/www1/artemis/security/DomainUserDetailsService.java
  src/main/java/de/tum/in/www1/artemis/security/SecurityUtils.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/ldap/LdapAuthenticationProvider.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/lti/LtiService.java
  src/main/java/de/tum/in/www1/artemis/service/dto/UserRoleDTO.java
  src/main/java/de/tum/in/www1/artemis/service/ldap/LdapUserDto.java
  src/main/java/de/tum/in/www1/artemis/service/ldap/LdapUserService.java
  src/main/java/de/tum/in/www1/artemis/service/user/UserService.java
  src/test/java/de/tum/in/www1/artemis/authentication/LdapAuthenticationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exam/ExamRegistrationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalVCIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalVCLocalCIIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/CourseServiceTest.java
Labels: tests, ready for review, server, ready to merge

#8929 `Integrated code lifecycle`: Add access tokens for authentication to LocalVC repositories
  src/main/java/de/tum/in/www1/artemis/aop/logging/LoggingAspect.java
  src/main/java/de/tum/in/www1/artemis/config/Constants.java
  src/main/java/de/tum/in/www1/artemis/domain/participation/ParticipationVCSAccessToken.java
  src/main/java/de/tum/in/www1/artemis/exception/localvc/LocalVCAuthException.java
  src/main/java/de/tum/in/www1/artemis/exception/localvc/LocalVCOperationException.java
  src/main/java/de/tum/in/www1/artemis/repository/ParticipationVCSAccessTokenRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ProgrammingExerciseStudentParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ParticipationService.java
  src/main/java/de/tum/in/www1/artemis/service/ParticipationVcsAccessTokenService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/gitlab/GitLabPersonalAccessTokenManagementService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/gitlab/GitlabInfoContributor.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localvc/LocalVCInfoContributor.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localvc/LocalVCPersonalAccessTokenManagementService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localvc/LocalVCServletService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/vcs/VcsTokenRenewalService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseParticipationService.java
  src/main/java/de/tum/in/www1/artemis/service/user/UserService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/UserResource.java
  src/main/resources/config/application-artemis.yml
  src/main/resources/config/application-localvc.yml
  src/main/resources/config/liquibase/changelog/20240802091201_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/core/auth/account.service.ts
  src/main/webapp/app/entities/participation/programming-exercise-student-participation.model.ts
  src/main/webapp/app/exam/participate/summary/exercises/programming-exam-summary/programming-exam-summary.component.html
  src/main/webapp/app/shared/components/code-button/code-button.component.html
  src/main/webapp/app/shared/components/code-button/code-button.component.ts
  src/main/webapp/app/shared/layouts/profiles/profile-info.model.ts
  src/main/webapp/app/shared/layouts/profiles/profile.service.ts
  src/test/java/de/tum/in/www1/artemis/authentication/UserJenkinsGitlabIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/authentication/UserLocalVcIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programming/ProgrammingExerciseResultTestService.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalCIIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalVCInfoContributorTest.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalVCIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalVCLocalCIParticipationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalVCLocalCITestService.java
  src/test/java/de/tum/in/www1/artemis/participation/ParticipationUtilService.java
  src/test/java/de/tum/in/www1/artemis/service/connectors/gitlab/GitLabPersonalAccessTokenManagementServiceTest.java
  src/test/java/de/tum/in/www1/artemis/user/UserTestService.java
  src/test/java/de/tum/in/www1/artemis/user/UserUtilService.java
  src/test/java/de/tum/in/www1/artemis/util/RequestUtilService.java
  src/test/javascript/spec/component/account/ssh-user-settings.component.spec.ts
  src/test/javascript/spec/component/shared/code-button.component.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-account.service.ts
  src/test/playwright/e2e/exercise/programming/ProgrammingExerciseParticipation.spec.ts
Labels: tests, ready for review, server, client, database, config-change, lock:artemis-test3

#9204 `Integrated code lifecycle`: Fix handling of empty error text nodes in XML result parser
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/buildagent/BuildJobExecutionService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/buildagent/TestResultXmlParser.java
  src/test/java/de/tum/in/www1/artemis/service/connectors/localci/buildagent/TestResultXmlParserTest.java
Labels: tests, ready for review, server

#8580 `Development`: Add client sided endpoints parser
  .github/workflows/analysis-of-endpoint-connections.yml
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  supporting_scripts/analysis-of-endpoint-connections/eslint.conjig.json
  supporting_scripts/analysis-of-endpoint-connections/src/main/typeScript/AnalysisOfEndpointConnectionsClient.ts
  supporting_scripts/analysis-of-endpoint-connections/src/main/typeScript/Postprocessor.ts
  supporting_scripts/analysis-of-endpoint-connections/src/main/typeScript/Preprocessor.ts
  supporting_scripts/analysis-of-endpoint-connections/src/main/typeScript/package-lock.json
  supporting_scripts/analysis-of-endpoint-connections/src/main/typeScript/package.json
  supporting_scripts/analysis-of-endpoint-connections/src/main/typeScript/tsconfig.analysisOfEndpointConnections.json
Labels: client, ready to merge, maintainer-approved

#9232 `Development`: Enable http3 for test servers
  docker/nginx.yml
  docker/nginx/artemis-nginx.conf
  docker/nginx/artemis-server.conf
Labels: ready for review, config-change, docker

#9212 `Communication`: Fix link in email notification
  src/main/java/de/tum/in/www1/artemis/domain/notification/NotificationTargetFactory.java
  src/test/java/de/tum/in/www1/artemis/notification/NotificationTargetFactoryTest.java
Labels: tests, server, ready to merge

#9229 `Communication`: Fix tooltip translation for the tutor icon in the conversation member list
  src/main/webapp/app/overview/course-conversations/dialogs/conversation-detail-dialog/tabs/conversation-members/conversation-member-row/conversation-member-row.component.ts
Labels: client, small, bugfix, ready to merge, component:Communication, maintainer-approved

#9196 `Lectures`: Add bottom padding in course details
  src/main/webapp/app/overview/course-lectures/course-lecture-details.component.html
Labels: client, small, ready to merge, maintainer-approved

#9192 `Programming exercises`: Fix import from file not importing build values
  src/main/webapp/app/entities/programming-exercise.model.ts
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.ts
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.ts
  src/main/webapp/app/exercises/programming/manage/update/update-components/custom-build-plans/programming-exercise-custom-aeolus-build-plan.component.html
  src/main/webapp/app/exercises/programming/manage/update/update-components/custom-build-plans/programming-exercise-custom-aeolus-build-plan.component.ts
  src/main/webapp/app/exercises/programming/manage/update/update-components/custom-build-plans/programming-exercise-custom-build-plan.component.html
  src/main/webapp/app/exercises/programming/manage/update/update-components/custom-build-plans/programming-exercise-custom-build-plan.component.ts
  src/main/webapp/app/exercises/programming/shared/service/aeolus.service.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-custom-aeolus-build-plan.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-custom-build-plan.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-update.component.spec.ts
Labels: tests, client, ready to merge

#9220 `Programming exercises`: Remove the legacy README.md handling
  src/main/webapp/app/exercises/programming/shared/code-editor/file-browser/code-editor-file-browser.component.ts
  src/main/webapp/app/exercises/programming/shared/instructions-render/programming-exercise-instruction.component.ts
  src/test/javascript/spec/component/code-editor/code-editor-file-browser.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-instruction.component.spec.ts
Labels: tests, ready for review, client

#9155 `Development`: Tune data export test to prevent flakyness
  src/test/java/de/tum/in/www1/artemis/science/ScienceUtilService.java
  src/test/java/de/tum/in/www1/artemis/service/DataExportCreationServiceTest.java
Labels: tests, ready to merge, maintainer-approved

#9190 `Iris`: Fix Competency Generation
  src/main/java/de/tum/in/www1/artemis/domain/iris/session/IrisCompetencyGenerationSession.java
  src/main/java/de/tum/in/www1/artemis/repository/iris/IrisCompetencyGenerationSessionRepository.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/pyris/PyrisJobService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/pyris/PyrisPipelineService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/pyris/PyrisStatusUpdateService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/pyris/dto/PyrisPipelineExecutionDTO.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/pyris/dto/competency/PyrisCompetencyExtractionInputDTO.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/pyris/dto/competency/PyrisCompetencyExtractionPipelineExecutionDTO.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/pyris/dto/competency/PyrisCompetencyRecommendationDTO.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/pyris/dto/competency/PyrisCompetencyStatusUpdateDTO.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/pyris/dto/status/PyrisStageDTO.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/pyris/dto/status/PyrisStageState.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/pyris/job/CompetencyExtractionJob.java
  src/main/java/de/tum/in/www1/artemis/service/iris/IrisCompetencyGenerationService.java
  src/main/java/de/tum/in/www1/artemis/service/iris/IrisSessionService.java
  src/main/java/de/tum/in/www1/artemis/service/iris/dto/IrisChatWebsocketDTO.java
  src/main/java/de/tum/in/www1/artemis/service/iris/dto/IrisCombinedChatSubSettingsDTO.java
  src/main/java/de/tum/in/www1/artemis/service/iris/dto/IrisCombinedCompetencyGenerationSubSettingsDTO.java
  src/main/java/de/tum/in/www1/artemis/service/iris/dto/IrisCombinedHestiaSubSettingsDTO.java
  src/main/java/de/tum/in/www1/artemis/service/iris/dto/IrisCombinedSubSettingsInterface.java
  src/main/java/de/tum/in/www1/artemis/service/iris/session/IrisChatBasedFeatureInterface.java
  src/main/java/de/tum/in/www1/artemis/service/iris/session/IrisCompetencyGenerationSessionService.java
  src/main/java/de/tum/in/www1/artemis/service/iris/session/IrisCourseChatSessionService.java
  src/main/java/de/tum/in/www1/artemis/service/iris/session/IrisExerciseChatSessionService.java
  src/main/java/de/tum/in/www1/artemis/service/iris/websocket/IrisChatWebsocketService.java
  src/main/java/de/tum/in/www1/artemis/service/iris/websocket/IrisWebsocketService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/competency/CourseCompetencyResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/open/PublicPyrisStatusUpdateResource.java
  src/main/webapp/app/course/competencies/course-competency.service.ts
  src/main/webapp/app/course/competencies/generate-competencies/course-description-form.component.ts
  src/main/webapp/app/course/competencies/generate-competencies/generate-competencies.component.ts
  src/main/webapp/i18n/de/competency.json
  src/main/webapp/i18n/en/competency.json
  src/test/java/de/tum/in/www1/artemis/connector/IrisRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/iris/AbstractIrisIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/iris/IrisChatMessageIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/iris/IrisChatWebsocketTest.java
  src/test/java/de/tum/in/www1/artemis/iris/IrisCompetencyGenerationIntegrationTest.java
  src/test/javascript/spec/component/competencies/competency.service.spec.ts
  src/test/javascript/spec/component/competencies/generate-competencies/course-description-form.component.spec.ts
  src/test/javascript/spec/component/competencies/generate-competencies/generate-competencies.component.spec.ts
  src/test/javascript/spec/component/competencies/prerequisite.service.spec.ts
Labels: tests, ready for review, server, client, lock:artemis-test3

#8858 `General`: Add filter for exercises
  src/main/webapp/app/entities/exercise-category.model.ts
  src/main/webapp/app/exercises/shared/exercise/exercise.service.ts
  src/main/webapp/app/exercises/shared/participation/participation.utils.ts
  src/main/webapp/app/overview/course-exercises/course-exercises.component.html
  src/main/webapp/app/shared/category-selector/category-selector.component.ts
  src/main/webapp/app/shared/components/reset-repo-button/reset-repo-button.component.ts
  src/main/webapp/app/shared/date-time-picker/date-time-picker.component.ts
  src/main/webapp/app/shared/exercise-categories/custom-exercise-category-badge/custom-exercise-category-badge.component.html
  src/main/webapp/app/shared/exercise-categories/custom-exercise-category-badge/custom-exercise-category-badge.component.scss
  src/main/webapp/app/shared/exercise-categories/custom-exercise-category-badge/custom-exercise-category-badge.component.ts
  src/main/webapp/app/shared/exercise-categories/exercise-categories.component.html
  src/main/webapp/app/shared/exercise-categories/exercise-categories.module.ts
  src/main/webapp/app/shared/exercise-filter/exercise-filter-modal.component.html
  src/main/webapp/app/shared/exercise-filter/exercise-filter-modal.component.scss
  src/main/webapp/app/shared/exercise-filter/exercise-filter-modal.component.ts
  src/main/webapp/app/shared/exercise-filter/exercise-filter-modal.helper.ts
  src/main/webapp/app/shared/range-slider/range-slider.component.html
  src/main/webapp/app/shared/range-slider/range-slider.component.scss
  src/main/webapp/app/shared/range-slider/range-slider.component.ts
  src/main/webapp/app/shared/sidebar/sidebar-accordion/sidebar-accordion.component.ts
  src/main/webapp/app/shared/sidebar/sidebar.component.html
  src/main/webapp/app/shared/sidebar/sidebar.component.ts
  src/main/webapp/app/shared/sidebar/sidebar.helper.ts
  src/main/webapp/app/shared/statistics-graph/statistics.service.ts
  src/main/webapp/app/shared/util/utils.ts
  src/main/webapp/app/types/exercise-filter.ts
  src/main/webapp/i18n/de/exercise.json
  src/main/webapp/i18n/de/student-dashboard.json
  src/main/webapp/i18n/en/exercise.json
  src/main/webapp/i18n/en/student-dashboard.json
  src/test/javascript/spec/component/course/course-exercises.component.spec.ts
  src/test/javascript/spec/component/course/exercise-filter.model.spec.ts
  src/test/javascript/spec/component/exercises/shared/headers/header-exercise-page-with-details.component.spec.ts
  src/test/javascript/spec/component/file-upload-exercise/file-upload-exercise-update.component.spec.ts
  src/test/javascript/spec/component/modeling-exercise/modeling-exercise-update.component.spec.ts
  src/test/javascript/spec/component/overview/course-exams/course-exams.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-update.component.spec.ts
  src/test/javascript/spec/component/quiz-exercise/quiz-exercise-update.component.spec.ts
  src/test/javascript/spec/component/range-slider.component.spec.ts
  src/test/javascript/spec/component/shared/exercise-filter/exercise-filter-modal.component.spec.ts
  src/test/javascript/spec/component/shared/exercise-filter/exercise-filter-modal.helper.spec.ts
  src/test/javascript/spec/component/shared/sidebar/sidebar-accordion.component.spec.ts
  src/test/javascript/spec/component/shared/sidebar/sidebar.component.spec.ts
  src/test/javascript/spec/component/shared/sidebar/sidebar.helper.spec.ts
  src/test/javascript/spec/component/statistics/statistics-average-score-graph.component.spec.ts
  src/test/javascript/spec/component/text-exercise/text-exercise-update.component.spec.ts
  src/test/javascript/spec/component/tutorial-groups/course-tutorial-groups/course-tutorial-groups.component.spec.ts
  src/test/javascript/spec/entities/exercise-category.model.spec.ts
  src/test/javascript/spec/service/modeling-exercise.service.spec.ts
  src/test/javascript/spec/util/shared/utils.spec.ts
Labels: feature, tests, ready for review, client, user interface, ready to merge

#9248 `Development`: Remove lifecycle hooks in learning path related components
  src/main/webapp/app/course/learning-paths/components/learning-path-lecture-unit/learning-path-lecture-unit.component.html
  src/main/webapp/app/course/learning-paths/components/learning-path-lecture-unit/learning-path-lecture-unit.component.ts
  src/main/webapp/app/course/learning-paths/components/learning-path-nav-overview-learning-objects/learning-path-nav-overview-learning-objects.component.ts
  src/main/webapp/app/course/learning-paths/components/learning-path-nav-overview/learning-path-nav-overview.component.ts
  src/main/webapp/app/course/learning-paths/components/learning-path-student-nav/learning-path-student-nav.component.ts
  src/main/webapp/app/course/learning-paths/pages/learning-path-student-page/learning-path-student-page.component.ts
  src/test/javascript/spec/component/learning-paths/components/learning-path-lecture-unit.component.spec.ts
Labels: tests, client, small, ready to merge

#9255 `Development`: Update version of micrometer prometheus package
  build.gradle
Labels: ready for review, dependencies

#9180 `Development`: Remove fenced locks in integrated code lifecycle
  gradle.properties
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIResultProcessingService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/SharedQueueManagementService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/buildagent/SharedQueueProcessingService.java
Labels: ready for review, server

#9236 `Development`: Improve endpoint analysis
  .github/workflows/analysis-of-endpoint-connections.yml
  supporting_scripts/analysis-of-endpoint-connections/src/main/java/de/tum/cit/endpointanalysis/EndpointAnalyzer.java
  supporting_scripts/analysis-of-endpoint-connections/src/main/java/de/tum/cit/endpointanalysis/EndpointInformation.java
  supporting_scripts/analysis-of-endpoint-connections/src/main/java/de/tum/cit/endpointanalysis/EndpointParser.java
  supporting_scripts/analysis-of-endpoint-connections/src/main/java/de/tum/cit/endpointanalysis/RestCallAnalyzer.java
  supporting_scripts/analysis-of-endpoint-connections/src/main/java/de/tum/cit/endpointanalysis/RestCallFileInformation.java
  supporting_scripts/analysis-of-endpoint-connections/src/main/java/de/tum/cit/endpointanalysis/RestCallInformation.java
  supporting_scripts/analysis-of-endpoint-connections/src/main/typeScript/Postprocessor.ts
Labels: ready for review, maintainer-approved

#9222 `Development`: Add Artemis icon and description to LTI's dynamic registration info
  src/main/java/de/tum/in/www1/artemis/domain/lti/Lti13ClientRegistration.java
Labels: server, component:LTI, small, stale

#9215 `Development`: Allow direct login via LTI
  src/main/java/de/tum/in/www1/artemis/service/connectors/lti/LtiService.java
  src/test/java/de/tum/in/www1/artemis/connectors/LtiServiceTest.java
Labels: tests, ready for review, server, component:LTI, stacked-pr, stale

#9182 `Integrated code lifecycle`: Let users generate personal access tokens
  src/main/java/de/tum/in/www1/artemis/repository/UserRepository.java
  src/main/java/de/tum/in/www1/artemis/service/dto/UserDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/AccountResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/UserResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/open/PublicAccountResource.java
  src/main/webapp/app/core/auth/account.service.ts
  src/main/webapp/app/core/user/user.model.ts
  src/main/webapp/app/overview/exercise-details/exercise-details-student-actions.component.html
  src/main/webapp/app/shared/components/code-button/code-button.component.html
  src/main/webapp/app/shared/components/code-button/code-button.component.ts
  src/main/webapp/app/shared/user-settings/user-settings-container/user-settings-container.component.html
  src/main/webapp/app/shared/user-settings/user-settings.module.ts
  src/main/webapp/app/shared/user-settings/user-settings.route.ts
  src/main/webapp/app/shared/user-settings/vcs-access-tokens-settings/vcs-access-tokens-settings.component.html
  src/main/webapp/app/shared/user-settings/vcs-access-tokens-settings/vcs-access-tokens-settings.component.ts
  src/main/webapp/i18n/de/exercise-actions.json
  src/main/webapp/i18n/de/userSettings.json
  src/main/webapp/i18n/en/exercise-actions.json
  src/main/webapp/i18n/en/userSettings.json
  src/test/java/de/tum/in/www1/artemis/authentication/UserAccountLocalVcsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalVCLocalCIParticipationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/user/UserTestService.java
  src/test/javascript/spec/component/account/vcs-access-token-settings.component.spec.ts
  src/test/javascript/spec/component/shared/code-button.component.spec.ts
Labels: tests, ready for review, server, client, ready to merge
