Repository ls1intum/Artemis, pull requests merged in 2024-06, with the labels that each got.

#8597 `Programming exercises`: Display checkout directories in build plan preview
  src/main/java/de/tum/in/www1/artemis/security/Role.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/ci/ContinuousIntegrationService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/gitlabci/GitLabCIService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/BuildPlanCheckoutDirectoriesDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/CheckoutDirectoriesDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/programming/ProgrammingExerciseResource.java
  src/main/resources/templates/ocaml/test/run.sh
  src/main/webapp/app/detail-overview-list/detail-overview-list.component.html
  src/main/webapp/app/detail-overview-list/detail-overview-list.component.ts
  src/main/webapp/app/detail-overview-list/detail.model.ts
  src/main/webapp/app/detail-overview-list/detail.module.ts
  src/main/webapp/app/entities/build-log-statistics-dto.ts
  src/main/webapp/app/entities/build-plan-checkout-directories-dto.ts
  src/main/webapp/app/entities/checkout-directories-dto.ts
  src/main/webapp/app/entities/programming-exercise.model.ts
  src/main/webapp/app/exam/manage/exams/exam-exercise-import/exam-exercise-import.component.ts
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.ts
  src/main/webapp/app/exercises/programming/manage/services/programming-exercise.service.ts
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-plans-and-repositories-preview.component.html
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-plans-and-repositories-preview.component.ts
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.ts
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.module.ts
  src/main/webapp/app/exercises/programming/manage/update/update-components/programming-exercise-information.component.html
  src/main/webapp/app/exercises/programming/shared/build-details/programming-exercise-build-plan-checkout-directories.component.html
  src/main/webapp/app/exercises/programming/shared/build-details/programming-exercise-build-plan-checkout-directories.component.ts
  src/main/webapp/app/exercises/programming/shared/build-details/programming-exercise-repository-and-build-plan-details.component.html
  src/main/webapp/app/exercises/programming/shared/build-details/programming-exercise-repository-and-build-plan-details.component.ts
  src/main/webapp/app/shared/constants/input.constants.ts
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/programmingExercise.json
  src/test/java/de/tum/in/www1/artemis/exercise/programming/ContinuousIntegrationTestService.java
  src/test/java/de/tum/in/www1/artemis/exercise/programming/ProgrammingExerciseLocalVCLocalCIIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalCIServiceTest.java
  src/test/javascript/spec/component/programming-exercise/programming-exercise-detail.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-repository-and-build-plan-details.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-update.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/update-components/programming-exercise-information.component.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-programming-exercise.service.ts
Labels: tests, ready for review, server, client, component:Programming, template

#8645 `Development`: Adds playwright e2e quiz exercise tests for different batch modes
  src/test/playwright/e2e/course/CourseExercise.spec.ts
  src/test/playwright/e2e/exercise/ExerciseImport.spec.ts
  src/test/playwright/e2e/exercise/quiz-exercise/QuizExerciseAssessment.spec.ts
  src/test/playwright/e2e/exercise/quiz-exercise/QuizExerciseManagement.spec.ts
  src/test/playwright/e2e/exercise/quiz-exercise/QuizExerciseParticipation.spec.ts
  src/test/playwright/support/constants.ts
  src/test/playwright/support/fixtures.ts
  src/test/playwright/support/pageobjects/course/CourseManagementExercisesPage.ts
  src/test/playwright/support/pageobjects/course/CourseOverviewPage.ts
  src/test/playwright/support/pageobjects/exam/ExamExerciseGroupCreationPage.ts
  src/test/playwright/support/pageobjects/exercises/quiz/QuizExerciseOverviewPage.ts
  src/test/playwright/support/pageobjects/exercises/quiz/QuizExerciseParticipationPage.ts
  src/test/playwright/support/requests/ExerciseAPIRequests.ts
Labels: tests, ready to merge

#8680 `Development`: Document DejaGnu blackbox tests
  docs/user/exercises/programming-exercise-features.inc
  docs/user/exercises/programming.rst
Labels: documentation, small, ready to merge

#8576 `Programming exercises`: Avoid nested zip for each submission repository
  src/main/java/de/tum/in/www1/artemis/service/connectors/GitService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/athena/AthenaRepositoryExportService.java
  src/main/java/de/tum/in/www1/artemis/service/export/ProgrammingExerciseExportService.java
  src/test/java/de/tum/in/www1/artemis/exercise/programming/GitServiceTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programming/ProgrammingExerciseTestService.java
  src/test/java/de/tum/in/www1/artemis/exercise/programming/ProgrammingExerciseUtilService.java
  src/test/java/de/tum/in/www1/artemis/service/DataExportCreationServiceTest.java
  src/test/java/de/tum/in/www1/artemis/util/GitUtilService.java
Labels: tests, server, component:Programming, ready to merge

#8717 `Development`: Replace deprecated usage of isEqualIgnoringSeconds
  src/test/java/de/tum/in/www1/artemis/exam/ExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exam/StudentExamIntegrationTest.java
Labels: tests

#8708 `Adaptive learning`: Enable standardized competencies by default
  src/main/java/de/tum/in/www1/artemis/service/feature/FeatureToggleService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/admin/AdminStandardizedCompetencyResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/competency/StandardizedCompetencyResource.java
  src/test/java/de/tum/in/www1/artemis/service/FeatureToggleServiceTest.java
Labels: tests, server, chore, small, component:AdaptiveLearning

#8653 `General`: Anonymize collected events on user delete
  src/main/java/de/tum/in/www1/artemis/repository/science/ScienceEventRepository.java
  src/main/java/de/tum/in/www1/artemis/service/user/UserService.java
  src/test/java/de/tum/in/www1/artemis/user/UserTestService.java
Labels: tests, server

#8734 `Lectures`: Fix an issue in the automatic lecture unit processing
  build.gradle
  src/main/java/de/tum/in/www1/artemis/service/LectureUnitProcessingService.java
  src/test/java/de/tum/in/www1/artemis/lecture/AttachmentUnitsIntegrationTest.java
  src/test/resources/test-data/attachment/Infun.pdf
Labels: tests, ready for review, server

#8671 `Integrated code lifecycle`: Add custom auth for build agents
  docker/artemis/config/prod-multinode.env
  docs/admin/setup/distributed.rst
  docs/admin/setup/security.rst
  src/main/java/de/tum/in/www1/artemis/service/connectors/AbstractGitService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/GitService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/buildagent/BuildJobGitService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localvc/LocalVCServletService.java
  src/main/resources/config/application-buildagent.yml
  src/main/resources/config/application-localvc.yml
  src/test/resources/config/application-artemis.yml
Labels: tests, server, documentation, config-change, ready to merge, docker, maintainer-approved

#8721 `Development`: Remove multiple occurrences of deprecated code
  src/main/java/de/tum/in/www1/artemis/service/connectors/localvc/LocalVCRepositoryUri.java
  src/test/java/de/tum/in/www1/artemis/assessment/AssessmentComplaintIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/fileupload/FileUploadSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/modeling/ModelingAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/modeling/ModelingSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programming/ProgrammingExerciseTemplateIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programming/ProgrammingSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/JenkinsInternalUriServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/ResourceLoaderServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/connectors/lti/LtiDeepLinkingServiceTest.java
  src/test/java/de/tum/in/www1/artemis/text/TextAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/text/TextSubmissionIntegrationTest.java
Labels: tests, server, code quality

#8455 `Development`: Add parsing of server sided endpoints
  .github/workflows/analysis-of-endpoint-connections.yml
  build.gradle
  settings.gradle
  supporting_scripts/analysis-of-endpoint-connections/build.gradle
  supporting_scripts/analysis-of-endpoint-connections/src/main/java/de/tum/cit/endpointanalysis/AnalysisOfEndpointConnections.java
Labels: ready for review, server, maintainer-approved, too-long-open

#8737 `Development`: Add screencasts for build agent and queue features
  docs/dev/setup.rst
  docs/dev/setup/integrated-code-lifecycle.rst
  docs/user/exercises/programming-integrated-code-lifecycle-build-agent-view.inc
  docs/user/exercises/programming-integrated-code-lifecycle-build-queue-view.inc
Labels: ready for review, documentation, small, component:integrated code lifecycle

#8745 `Programming exercises`: Improve template/solution comparison visibility
  docs/user/exercises/programming-exercise-setup.inc
  docs/user/exercises/programming/course-management-template-solution-diff-example.png
  docs/user/exercises/programming/course-management-template-solution-diff-review-changes-button.png
  docs/user/exercises/programming/course-management-template-solution-diff.png
  src/main/webapp/app/detail-overview-list/detail-overview-list.component.html
  src/main/webapp/app/detail-overview-list/detail-overview-list.component.ts
  src/main/webapp/app/exam/manage/student-exams/student-exam-timeline/programming-exam-diff/programming-exercise-exam-diff.component.html
  src/main/webapp/app/exam/manage/student-exams/student-exam-timeline/programming-exam-diff/programming-exercise-exam-diff.component.ts
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.ts
  src/main/webapp/app/shared/components/button.component.html
  src/main/webapp/app/shared/components/button.component.ts
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/programmingExercise.json
  src/test/javascript/spec/component/detail-overview-list.component.spec.ts
Labels: tests, client, documentation, component:Programming, small, ready to merge

#8746 `Programming exercises`: Increase AI feedback request limit
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseCodeReviewFeedbackService.java
  src/main/webapp/app/overview/exercise-details/exercise-details-student-actions.component.ts
  src/test/javascript/spec/component/overview/exercise-details/exercise-details-student-actions.component.spec.ts
Labels: tests, server, client, small, ready to merge

#8752 `Development`: Remove duplicated code in GitService
  src/main/java/de/tum/in/www1/artemis/service/connectors/AbstractGitService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/GitService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/buildagent/BuildJobGitService.java
Labels: server

#8743 `Development`: Add scheduling profile to local vc run configuration
  .idea/runConfigurations/Artemis__Server__LocalVC___LocalCI_.xml
Labels: chore, small, bugfix, ready to merge

#8749 `Development`: Utilize server endpoint for getting longest working time in exam assessment
  src/main/webapp/app/course/dashboards/assessment-dashboard/exam-assessment-buttons/exam-assessment-buttons.component.ts
  src/test/javascript/spec/component/assessment-dashboard/exam-assessment-buttons.component.spec.ts
Labels: tests, ready for review, client, ready to merge

#8742 `General`: Scroll up when clicking on a course in course management
  src/main/webapp/app/course/manage/course-management-tab-bar/course-management-tab-bar.component.ts
Labels: client, small, bugfix, ready to merge

#8718 `Integrated code lifecycle`: Fix detection of skipped tests
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/buildagent/TestResultXmlParser.java
  src/test/java/de/tum/in/www1/artemis/service/connectors/localci/buildagent/TestResultXmlParserTest.java
Labels: tests, ready for review, server, small, bugfix, ready to merge, maintainer-approved

#8761 `Integrated code lifecycle`: Fix an issue when parsing fixed tests with messages
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/buildagent/TestResultXmlParser.java
  src/test/java/de/tum/in/www1/artemis/service/connectors/localci/buildagent/TestResultXmlParserTest.java
Labels: tests, ready for review, server, small

#8764 `Development`: Fix e2e playwright tests that navigate to a course page
  src/test/playwright/e2e/exercise/ExerciseImport.spec.ts
  src/test/playwright/e2e/exercise/modeling/ModelingExerciseParticipation.spec.ts
  src/test/playwright/e2e/exercise/quiz-exercise/QuizExerciseParticipation.spec.ts
Labels: tests, ready to merge

#8740 `Development`: Fix flaky playwright e2e tests involving automatic exercise assessments
  src/main/webapp/app/exam/participate/summary/exercises/header/exam-result-summary-exercise-card-header.component.html
  src/test/playwright/e2e/exam/ExamResults.spec.ts
  src/test/playwright/e2e/exercise/programming/ProgrammingExerciseParticipation.spec.ts
  src/test/playwright/support/commands.ts
  src/test/playwright/support/fixtures.ts
  src/test/playwright/support/pageobjects/exam/ExamParticipationActions.ts
  src/test/playwright/support/pageobjects/exam/ExamResultsPage.ts
  src/test/playwright/support/pageobjects/exercises/ExerciseResultPage.ts
Labels: tests, ready for review, client

#8669 `General`: Allow to switch courses from the course icon
  src/main/webapp/app/course/course-access-storage.service.ts
  src/main/webapp/app/course/manage/course-management-tab-bar/course-management-tab-bar.component.ts
  src/main/webapp/app/course/manage/course-management.component.ts
  src/main/webapp/app/overview/course-overview.component.html
  src/main/webapp/app/overview/course-overview.component.scss
  src/main/webapp/app/overview/course-overview.component.ts
  src/main/webapp/app/overview/courses.component.ts
  src/main/webapp/app/shared/util/course.util.ts
  src/test/javascript/spec/component/course/course-management-tab-bar.component.spec.ts
  src/test/javascript/spec/component/course/course-overview.component.spec.ts
  src/test/javascript/spec/service/course-access-storage.service.spec.ts
Labels: tests, client, ready to merge, maintainer-approved

#8748 `Development`: Ignore build artifacts of the analysis of endpoint connections
  .gitignore
Labels: ready for review, maintainer-approved

#8775 `Development`: Fix new course dashboard fetching categories of all exercises
  src/main/java/de/tum/in/www1/artemis/repository/metrics/ExerciseMetricsRepository.java
Labels: priority:critical, bugfix, component:AdaptiveLearning

#8781 `Learning analytics`: Fix missing name of attachment lecture units on student dashboard
  src/main/java/de/tum/in/www1/artemis/repository/metrics/LectureUnitMetricsRepository.java
Labels: server, priority:high, bugfix, ready to merge

#8769 `Communication`: Fix channel creation dialog translation
  src/main/webapp/i18n/de/conversation.json
  src/main/webapp/i18n/en/conversation.json
Labels: client, small, bugfix, ready to merge

#8755 `Development`: Activate TS9
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/testserver.yml
Labels: chore, small, ready to merge, lock:artemis-test9, maintainer-approved

#8711 `Development`: Add documentation for standardized competencies
  docs/user/adaptive-learning.rst
  docs/user/adaptive-learning/adaptive-learning-admin.rst
  docs/user/adaptive-learning/adaptive-learning-instructor.rst
  docs/user/adaptive-learning/adaptive-learning-student.rst
  docs/user/adaptive-learning/admin/import-standardized-competency-catalog.png
  docs/user/adaptive-learning/admin/standardized-competency-management.png
  docs/user/adaptive-learning/competency-generation-settings.png
  docs/user/adaptive-learning/instructor/competency-edit.png
  docs/user/adaptive-learning/instructor/competency-link.png
  docs/user/adaptive-learning/instructor/competency-management.png
  docs/user/adaptive-learning/instructor/competency-recommendation.png
  docs/user/adaptive-learning/instructor/generate-competencies.png
  docs/user/adaptive-learning/instructor/import-all-competencies.png
  docs/user/adaptive-learning/instructor/import-course-competencies.png
  docs/user/adaptive-learning/instructor/import-standardized-competencies.png
  docs/user/adaptive-learning/instructor/learning-path-management.png
  docs/user/adaptive-learning/instructor/manage-competencies.png
  docs/user/adaptive-learning/instructors-learning-goal-edit.png
  docs/user/adaptive-learning/instructors-learning-goals-manage.png
  docs/user/adaptive-learning/student/students-learning-goals-statistics-detail.png
  docs/user/adaptive-learning/student/students-learning-goals-statistics.png
  docs/user/adaptive-learning/student/students-learning-path-graph.png
  docs/user/adaptive-learning/student/students-learning-path-participation.png
  src/main/webapp/app/admin/standardized-competencies/standardized-competency-management.component.html
  src/main/webapp/app/admin/standardized-competencies/standardized-competency-management.component.ts
  src/main/webapp/app/course/competencies/generate-competencies/generate-competencies.component.html
  src/main/webapp/app/course/competencies/generate-competencies/generate-competencies.component.ts
  src/main/webapp/app/course/competencies/import-standardized-competencies/course-import-standardized-competencies.component.html
  src/main/webapp/app/course/competencies/import-standardized-competencies/course-import-standardized-competencies.component.ts
  src/main/webapp/app/shared/components/documentation-button/documentation-button.component.ts
  src/main/webapp/i18n/de/documentationLinks.json
  src/main/webapp/i18n/en/documentationLinks.json
  src/test/javascript/spec/component/competencies/generate-competencies/generate-competencies.component.spec.ts
  src/test/javascript/spec/component/standardized-competencies/course-import-standardized-competencies.spec.ts
  src/test/javascript/spec/component/standardized-competencies/standardized-competency-management.spec.ts
Labels: tests, client, documentation, component:AdaptiveLearning, maintainer-approved

#8793 `Learning analytics`: Fix performance issues for dashboard data
  src/main/java/de/tum/in/www1/artemis/repository/metrics/ExerciseMetricsRepository.java
Labels: ready for review, server, priority:high, lock:artemis-test3

#8796 Feature/iris/add button to ingest one lecture
  src/main/java/de/tum/in/www1/artemis/domain/iris/settings/IrisLectureIngestionSubSettings.java
  src/main/java/de/tum/in/www1/artemis/service/LectureImportService.java
  src/main/java/de/tum/in/www1/artemis/service/LectureService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/pyris/PyrisWebhookService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/pyris/dto/lectureingestionwebhook/PyrisLectureUnitWebhookDTO.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/pyris/job/IngestionWebhookJob.java
  src/main/java/de/tum/in/www1/artemis/service/iris/settings/IrisSettingsService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/LectureResource.java
  src/main/webapp/app/lecture/lecture-detail.component.html
  src/main/webapp/app/lecture/lecture-detail.component.ts
  src/main/webapp/app/lecture/lecture.component.ts
  src/main/webapp/app/lecture/lecture.service.ts
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/de/iris.json
  src/main/webapp/i18n/en/global.json
  src/test/java/de/tum/in/www1/artemis/iris/PyrisLectureIngestionTest.java
  src/test/javascript/spec/component/lecture/lecture-detail.component.spec.ts
Labels: tests, server, client, database

#8310 `Programming exercises`: Upgrade default java dependencies
  docs/user/exercises/programming-sca-default-configuration.inc
  gradle/wrapper/gradle-wrapper.jar
  gradlew.bat
  src/main/resources/config/application.yml
  src/main/resources/templates/java/gradle_gradle/exercise/build.gradle
  src/main/resources/templates/java/gradle_gradle/exercise/gradle/wrapper/gradle-wrapper.jar
  src/main/resources/templates/java/gradle_gradle/exercise/gradle/wrapper/gradle-wrapper.properties
  src/main/resources/templates/java/gradle_gradle/exercise/gradlew.bat
  src/main/resources/templates/java/gradle_gradle/exercise/gradlew.file
  src/main/resources/templates/java/gradle_gradle/solution/build.gradle
  src/main/resources/templates/java/gradle_gradle/solution/gradle/wrapper/gradle-wrapper.jar
  src/main/resources/templates/java/gradle_gradle/solution/gradle/wrapper/gradle-wrapper.properties
  src/main/resources/templates/java/gradle_gradle/solution/gradlew.bat
  src/main/resources/templates/java/gradle_gradle/solution/gradlew.file
  src/main/resources/templates/java/maven_blackbox/exercise/pom.xml
  src/main/resources/templates/java/maven_blackbox/solution/pom.xml
  src/main/resources/templates/java/maven_maven/exercise/pom.xml
  src/main/resources/templates/java/maven_maven/solution/pom.xml
  src/main/resources/templates/java/maven_maven/test/projectTemplate/pom.xml
  src/main/resources/templates/java/plain_gradle/exercise/gradle/wrapper/gradle-wrapper.jar
  src/main/resources/templates/java/plain_gradle/exercise/gradle/wrapper/gradle-wrapper.properties
  src/main/resources/templates/java/plain_gradle/exercise/gradlew.bat
  src/main/resources/templates/java/plain_gradle/exercise/gradlew.file
  src/main/resources/templates/java/plain_gradle/solution/gradle/wrapper/gradle-wrapper.jar
  src/main/resources/templates/java/plain_gradle/solution/gradle/wrapper/gradle-wrapper.properties
  src/main/resources/templates/java/plain_gradle/solution/gradlew.bat
  src/main/resources/templates/java/plain_gradle/solution/gradlew.file
  src/main/resources/templates/java/plain_maven/exercise/pom.xml
  src/main/resources/templates/java/plain_maven/solution/pom.xml
  src/main/resources/templates/java/test/blackbox/projectTemplate/pom.xml
  src/main/resources/templates/java/test/gradle/projectTemplate/build.gradle
  src/main/resources/templates/java/test/gradle/projectTemplate/gradle/wrapper/gradle-wrapper.jar
  src/main/resources/templates/java/test/gradle/projectTemplate/gradle/wrapper/gradle-wrapper.properties
  src/main/resources/templates/java/test/gradle/projectTemplate/gradlew.bat
  src/main/resources/templates/java/test/gradle/projectTemplate/gradlew.file
  src/main/resources/templates/java/test/maven/projectTemplate/pom.xml
  src/main/resources/templates/java/test/stagePom.xml
  src/main/resources/templates/kotlin/test/maven/projectTemplate/pom.xml
Labels: documentation, config-change, ready to merge, lock:artemis-test2, too-long-open, template

#8736 `Development`: Add documentation regarding traefik as reverse proxy
  docs/dev/setup/docker-compose.rst
Labels: ready for review, documentation, small

#8770 `Development`: Change default athena port to 5100
  docs/admin/setup/athena.rst
  src/main/resources/config/application-artemis.yml
  src/test/resources/config/application-artemis.yml
Labels: tests, documentation, config-change, ready to merge, maintainer-approved

#8809 `Adaptive learning`: Omit competency taxonomy icon on dashboard if no taxonomy is set
  src/main/webapp/app/course/competencies/competency-accordion/competency-accordion.component.html
  src/main/webapp/app/entities/student-metrics.model.ts
Labels: ready for review, client

#8814 `General`: Change german translation of 'Scores'
  src/main/webapp/i18n/de/global.json
Labels: ready for review, client, small, bugfix

#8766 `Development`: Link testserver badges in the Pull Request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: small, ready to merge

#8813 `Learning analytics`: Improve usability of student course dashboard
  jest.config.js
  src/main/java/de/tum/in/www1/artemis/repository/metrics/LectureUnitMetricsRepository.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/metrics/LectureUnitInformationDTO.java
  src/main/webapp/app/course/competencies/competency-accordion/competency-accordion.component.html
  src/main/webapp/app/course/competencies/competency-accordion/competency-accordion.component.ts
  src/main/webapp/app/course/competencies/judgement-of-learning-rating/judgement-of-learning-rating.component.html
  src/main/webapp/app/course/competencies/judgement-of-learning-rating/judgement-of-learning-rating.component.ts
  src/main/webapp/app/entities/competency.model.ts
  src/main/webapp/app/entities/student-metrics.model.ts
  src/main/webapp/app/overview/course-dashboard/course-dashboard.component.ts
  src/main/webapp/i18n/de/courseStudentDashboard.json
  src/main/webapp/i18n/de/studentAnalyticsDashboard.json
  src/main/webapp/i18n/en/courseStudentDashboard.json
  src/main/webapp/i18n/en/studentAnalyticsDashboard.json
Labels: enhancement, ready for review, server, client, priority:high

#8820 `Learning analytics`: Fix an issue with practice submission on the new course dashboard
  src/main/java/de/tum/in/www1/artemis/repository/metrics/ExerciseMetricsRepository.java
Labels: server, priority:high, bugfix

#8779 `Iris`: Speedup repository checkout
  src/main/java/de/tum/in/www1/artemis/service/connectors/pyris/PyrisDTOService.java
  src/test/java/de/tum/in/www1/artemis/util/IrisUtilTestService.java
Labels: tests, server, component:Iris

#8815 `Learning path`: Add learning path explanation for students
  src/main/webapp/app/course/learning-paths/components/competency-graph/competency-graph.component.html
  src/main/webapp/app/course/learning-paths/components/competency-graph/competency-graph.component.ts
  src/main/webapp/app/course/learning-paths/components/learning-path-lecture-unit/learning-path-lecture-unit.component.html
  src/main/webapp/app/course/learning-paths/components/learning-path-lecture-unit/learning-path-lecture-unit.component.ts
  src/main/webapp/app/course/learning-paths/pages/learning-path-student-page/learning-path-student-page.component.html
  src/main/webapp/app/course/learning-paths/pages/learning-path-student-page/learning-path-student-page.component.scss
  src/main/webapp/app/course/learning-paths/pages/learning-path-student-page/learning-path-student-page.component.ts
  src/main/webapp/i18n/de/learningPath.json
  src/main/webapp/i18n/en/learningPath.json
  src/test/javascript/spec/component/learning-paths/pages/learning-path-student-page.component.spec.ts
Labels: tests, ready for review, client

#8625 `Communication`: Replace sidebar with new design in messages
  src/main/webapp/app/entities/metis/conversation/conversation.model.ts
  src/main/webapp/app/overview/course-conversations/course-conversations.component.html
  src/main/webapp/app/overview/course-conversations/course-conversations.component.scss
  src/main/webapp/app/overview/course-conversations/course-conversations.component.ts
  src/main/webapp/app/overview/course-conversations/course-conversations.module.ts
  src/main/webapp/app/overview/course-conversations/course-wide-search/course-wide-search.component.html
  src/main/webapp/app/overview/course-conversations/course-wide-search/course-wide-search.component.scss
  src/main/webapp/app/overview/course-conversations/course-wide-search/course-wide-search.component.ts
  src/main/webapp/app/overview/course-conversations/layout/conversation-header/conversation-header.component.scss
  src/main/webapp/app/overview/course-conversations/layout/conversation-messages/conversation-messages.component.scss
  src/main/webapp/app/overview/course-exercises/course-exercises.component.html
  src/main/webapp/app/overview/course-exercises/course-exercises.component.ts
  src/main/webapp/app/overview/course-lectures/course-lectures.component.html
  src/main/webapp/app/overview/course-lectures/course-lectures.component.ts
  src/main/webapp/app/overview/course-overview.component.ts
  src/main/webapp/app/overview/course-overview.service.ts
  src/main/webapp/app/overview/courses-routing.module.ts
  src/main/webapp/app/shared/loading-indicator-container/loading-indicator-container.component.html
  src/main/webapp/app/shared/metis/metis-conversation.service.ts
  src/main/webapp/app/shared/sidebar/accordion-add-options/accordion-add-options.component.html
  src/main/webapp/app/shared/sidebar/accordion-add-options/accordion-add-options.component.scss
  src/main/webapp/app/shared/sidebar/accordion-add-options/accordion-add-options.component.ts
  src/main/webapp/app/shared/sidebar/conversation-options/conversation-options.component.html
  src/main/webapp/app/shared/sidebar/conversation-options/conversation-options.component.scss
  src/main/webapp/app/shared/sidebar/conversation-options/conversation-options.component.ts
  src/main/webapp/app/shared/sidebar/sidebar-accordion/sidebar-accordion.component.html
  src/main/webapp/app/shared/sidebar/sidebar-accordion/sidebar-accordion.component.ts
  src/main/webapp/app/shared/sidebar/sidebar-card-item/sidebar-card-item.component.html
  src/main/webapp/app/shared/sidebar/sidebar-card-item/sidebar-card-item.component.scss
  src/main/webapp/app/shared/sidebar/sidebar-card-large/sidebar-card-large.component.scss
  src/main/webapp/app/shared/sidebar/sidebar-card-small/sidebar-card-small.component.html
  src/main/webapp/app/shared/sidebar/sidebar-card-small/sidebar-card-small.component.scss
  src/main/webapp/app/shared/sidebar/sidebar-card-small/sidebar-card-small.component.ts
  src/main/webapp/app/shared/sidebar/sidebar-card.directive.ts
  src/main/webapp/app/shared/sidebar/sidebar-event.service.ts
  src/main/webapp/app/shared/sidebar/sidebar.component.html
  src/main/webapp/app/shared/sidebar/sidebar.component.scss
  src/main/webapp/app/shared/sidebar/sidebar.component.ts
  src/main/webapp/app/shared/sidebar/sidebar.module.ts
  src/main/webapp/app/types/sidebar.ts
  src/main/webapp/i18n/de/conversation.json
  src/main/webapp/i18n/de/student-dashboard.json
  src/main/webapp/i18n/en/conversation.json
  src/main/webapp/i18n/en/student-dashboard.json
  src/test/javascript/spec/component/course/course-overview.service.spec.ts
  src/test/javascript/spec/component/overview/course-conversations/course-conversations.component.spec.ts
  src/test/javascript/spec/component/overview/course-conversations/course-wide-search.component.spec.ts
  src/test/javascript/spec/component/shared/sidebar/accordion-add-options.component.spec.ts
  src/test/javascript/spec/component/shared/sidebar/conversation-options.component.spec.ts
  src/test/javascript/spec/component/shared/sidebar/sidebar-accordion.component.spec.ts
  src/test/javascript/spec/component/shared/sidebar/sidebar-card-small.component.spec.ts
  src/test/playwright/e2e/course/CourseMessages.spec.ts
  src/test/playwright/support/pageobjects/course/CourseMessagesPage.ts
Labels: tests, client, user interface, ready to merge, component:Communication

#8607 `Development`: Add dynamic fetches to simplify complexity in repositories
  docs/dev/guidelines/database.rst
  src/main/java/de/tum/in/www1/artemis/repository/ProgrammingExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/SolutionProgrammingExerciseParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/TemplateProgrammingExerciseParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/base/DynamicSpecificationRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/base/FetchOptions.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/programming/ProgrammingExerciseResource.java
Labels: ready for review, server, documentation, lock:artemis-test4

#8784 Adjust cors config for VSCode Plugin
  src/main/java/de/tum/in/www1/artemis/config/WebConfigurer.java
  src/main/resources/config/application.yml
Labels: server, config-change

#8819 Adjust authentication to support Bearer token
  src/main/java/de/tum/in/www1/artemis/config/websocket/WebsocketConfiguration.java
  src/main/java/de/tum/in/www1/artemis/security/jwt/JWTFilter.java
  src/main/java/de/tum/in/www1/artemis/web/rest/open/PublicUserJwtResource.java
Labels: ready for review, server

#8837 `Quiz exercises`: Enable manual quiz evaluation for non-exam exercises
  src/main/java/de/tum/in/www1/artemis/domain/Result.java
  src/main/java/de/tum/in/www1/artemis/service/dto/UserRoleDTO.java
  src/main/java/de/tum/in/www1/artemis/service/exam/ExamQuizService.java
  src/main/java/de/tum/in/www1/artemis/service/exam/ExamService.java
  src/main/java/de/tum/in/www1/artemis/service/quiz/QuizExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/quiz/QuizResultService.java
  src/main/java/de/tum/in/www1/artemis/service/quiz/QuizSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/QuizExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/QuizSubmissionResource.java
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise-manage-buttons.component.html
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise-manage-buttons.component.ts
  src/main/webapp/app/exercises/shared/exercise/exercise.service.ts
  src/main/webapp/i18n/de/quizExercise.json
  src/main/webapp/i18n/en/quizExercise.json
  src/test/java/de/tum/in/www1/artemis/exercise/quiz/QuizExerciseIntegrationTest.java
Labels: tests, ready for review, server, client, component:Quiz, bugfix, lock:artemis-test1

#8712 `Development`: Merge exercise details calls into one DTO
  src/main/java/de/tum/in/www1/artemis/repository/ExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/service/hestia/ExerciseHintService.java
  src/main/java/de/tum/in/www1/artemis/service/iris/settings/IrisSettingsService.java
  src/main/java/de/tum/in/www1/artemis/service/plagiarism/PlagiarismCaseService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/ExerciseDetailsDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/iris/IrisSettingsResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/plagiarism/PlagiarismCaseResource.java
  src/main/webapp/app/course/learning-paths/participate/learning-path-container.component.ts
  src/main/webapp/app/exercises/shared/exercise/exercise.service.ts
  src/main/webapp/app/exercises/shared/feedback/standalone-feedback/standalone-feedback.component.ts
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.ts
  src/main/webapp/app/overview/exercise-details/problem-statement/problem-statement.component.ts
  src/test/java/de/tum/in/www1/artemis/exercise/ExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/team/TeamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/text/TextSubmissionIntegrationTest.java
  src/test/javascript/spec/component/exercises/problem-statement.component.spec.ts
  src/test/javascript/spec/component/learning-paths/participate/learning-path-container.component.spec.ts
  src/test/javascript/spec/component/overview/exercise-details/course-exercise-details.component.spec.ts
  src/test/javascript/spec/component/shared/feedback/standalone-feedback.component.spec.ts
  src/test/javascript/spec/service/exercise.service.spec.ts
  src/test/playwright/e2e/exam/ExamAssessment.spec.ts
Labels: tests, server, client, ready to merge

#8827 `Grading`: Fix button labels for grade key
  src/main/webapp/app/course/course-scores/course-scores.component.html
  src/main/webapp/app/course/dashboards/assessment-dashboard/assessment-dashboard.component.html
Labels: client, small, bugfix, user interface, ready to merge

#8702 `Integrated code lifecycle`: Add filter and search to finished build jobs
  src/main/java/de/tum/in/www1/artemis/repository/BuildJobRepository.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/SharedQueueManagementService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/admin/AdminBuildJobQueueResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/pageablesearch/FinishedBuildJobPageableSearchDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/localci/BuildJobQueueResource.java
  src/main/webapp/app/localci/build-queue/build-queue.component.html
  src/main/webapp/app/localci/build-queue/build-queue.component.scss
  src/main/webapp/app/localci/build-queue/build-queue.component.ts
  src/main/webapp/app/localci/build-queue/build-queue.service.ts
  src/main/webapp/app/shared/util/request.util.ts
  src/main/webapp/i18n/de/buildQueue.json
  src/main/webapp/i18n/en/buildQueue.json
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalCIResourceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/PageableSearchUtilService.java
  src/test/javascript/spec/component/localci/build-queue/build-queue.component.spec.ts
  src/test/javascript/spec/component/localci/build-queue/build-queue.service.spec.ts
Labels: tests, server, client, ready to merge

#8804 `Team exercises`: Fix missing open editor button when individual deadline set
  src/main/webapp/app/exercises/modeling/participate/modeling-submission.component.ts
  src/main/webapp/app/exercises/text/participate/text-editor.component.ts
  src/main/webapp/app/overview/exercise-details/exercise-details-student-actions.component.ts
Labels: ready for review, client, component:Team, bugfix

#8838 `Adaptive learning`: Fix retrieval of exercise categories on course dashboard
  src/main/java/de/tum/in/www1/artemis/repository/metrics/ExerciseMetricsRepository.java
  src/main/webapp/app/overview/course-dashboard/course-dashboard.service.ts
Labels: server, client

#8839 `Learning analytics`: Improve student course dashboard for better self-learning by showing active exercises
  src/main/java/de/tum/in/www1/artemis/repository/metrics/ExerciseMetricsRepository.java
  src/main/webapp/app/course/competencies/competency-accordion/competency-accordion.component.html
  src/main/webapp/app/course/competencies/competency-accordion/competency-accordion.component.ts
  src/main/webapp/i18n/de/studentAnalyticsDashboard.json
  src/main/webapp/i18n/en/studentAnalyticsDashboard.json
Labels: enhancement, ready for review, server, client, priority:high

#8714 `Iris`: Add conversation suggestions
  src/main/java/de/tum/in/www1/artemis/domain/iris/session/IrisSession.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/pyris/dto/chat/PyrisChatStatusUpdateDTO.java
  src/main/java/de/tum/in/www1/artemis/service/iris/session/AbstractIrisChatSessionService.java
  src/main/java/de/tum/in/www1/artemis/service/iris/session/IrisCourseChatSessionService.java
  src/main/java/de/tum/in/www1/artemis/service/iris/session/IrisExerciseChatSessionService.java
  src/main/java/de/tum/in/www1/artemis/service/iris/websocket/IrisChatWebsocketService.java
  src/main/java/de/tum/in/www1/artemis/service/iris/websocket/IrisWebsocketDTO.java
  src/main/resources/config/liquibase/changelog/20240617001400_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/entities/iris/iris-chat-websocket-dto.model.ts
  src/main/webapp/app/entities/iris/iris-session.model.ts
  src/main/webapp/app/iris/base-chatbot/iris-base-chatbot.component.html
  src/main/webapp/app/iris/base-chatbot/iris-base-chatbot.component.scss
  src/main/webapp/app/iris/base-chatbot/iris-base-chatbot.component.ts
  src/main/webapp/app/iris/iris-chat.service.ts
  src/test/java/de/tum/in/www1/artemis/iris/IrisChatMessageIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/iris/IrisChatWebsocketTest.java
  src/test/javascript/spec/component/iris/ui/iris-base-chatbot.component.spec.ts
Labels: tests, ready for review, server, client, database, component:Iris

#8846 `Development`: Fix programming exercise assessment e2e test
  src/test/cypress/support/pageobjects/exercises/programming/ProgrammingExerciseFeedbackPage.ts
  src/test/playwright/support/pageobjects/exercises/programming/ProgrammingExerciseFeedbackPage.ts
Labels: tests, ready for review, cypress

#8797 `Programming exercises`: Add clone in VSCode button
  src/main/webapp/app/exercises/programming/shared/service/external-cloning.service.ts
  src/main/webapp/app/shared/components/clone-repo-button/clone-repo-button.component.html
  src/main/webapp/app/shared/components/clone-repo-button/clone-repo-button.component.ts
  src/main/webapp/i18n/de/exercise-actions.json
  src/main/webapp/i18n/en/exercise-actions.json
Labels: tests, client, ready to merge, stacked-pr, maintainer-approved

#8854 `Iris`: Fix bare repository access
  src/main/java/de/tum/in/www1/artemis/domain/enumeration/ProgrammingLanguage.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/pyris/PyrisDTOService.java
  src/test/java/de/tum/in/www1/artemis/iris/IrisChatMessageIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/IrisUtilTestService.java
Labels: tests, server, bugfix, component:Iris

#8848 `Iris`: Render newlines properly and display warning if Iris is offline
  src/main/webapp/app/iris/base-chatbot/iris-base-chatbot.component.html
  src/main/webapp/app/iris/base-chatbot/iris-base-chatbot.component.scss
  src/main/webapp/app/iris/base-chatbot/iris-base-chatbot.component.ts
  src/main/webapp/app/iris/iris-chat.service.ts
  src/test/javascript/spec/component/iris/ui/iris-base-chatbot.component.spec.ts
Labels: tests, ready for review, client

#8863 `Programming exercises`: Fix the diff editor layout
  src/main/webapp/app/exercises/programming/hestia/git-diff-report/git-diff-line-stat.component.html
  src/main/webapp/app/shared/monaco-editor/monaco-diff-editor.component.ts
Labels: ready for review, client

#8850 `Development`: Fix client warning for competency accordion
  src/main/webapp/app/course/competencies/competency-accordion/competency-accordion.component.ts
Labels: client, small, ready to merge

#8872 `Tutorial groups`: Fix an issue where tutorial groups are not being displayed
  src/main/webapp/app/overview/course-tutorial-groups/course-tutorial-groups.component.html
  src/main/webapp/app/overview/course-tutorial-groups/course-tutorial-groups.component.ts
  src/main/webapp/app/types/sidebar.ts
Labels: client

#8735 `Programming exercises`: Add clone in IDE buttons
  src/main/webapp/app/exercises/programming/shared/service/external-cloning.service.ts
  src/main/webapp/app/exercises/programming/shared/service/sourceTree.service.ts
  src/main/webapp/app/overview/exercise-details/exercise-details-student-actions.component.ts
  src/main/webapp/app/shared/components/clone-repo-button/clone-repo-button.component.html
  src/main/webapp/app/shared/components/clone-repo-button/clone-repo-button.component.ts
  src/main/webapp/i18n/de/exercise-actions.json
  src/main/webapp/i18n/en/exercise-actions.json
  src/test/javascript/spec/service/external-cloning.service.spec.ts
Labels: tests, client, ready to merge

#8765 `Adaptive learning`: Allow creating and updating prerequisite competencies
  src/main/java/de/tum/in/www1/artemis/repository/CourseCompetencyRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/PrerequisiteRepository.java
  src/main/java/de/tum/in/www1/artemis/service/competency/PrerequisiteService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CompetencyResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/competency/PrerequisiteResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/competency/PrerequisiteRequestDTO.java
  src/main/webapp/app/course/competencies/competency-form/competency-form.component.ts
  src/main/webapp/app/course/competencies/competency-management/competency-management.component.html
  src/main/webapp/app/course/competencies/competency.service.ts
  src/main/webapp/app/course/competencies/generate-competencies/competency-recommendation-detail.component.ts
  src/main/webapp/app/course/competencies/prerequisite-form/create-prerequisite.component.html
  src/main/webapp/app/course/competencies/prerequisite-form/create-prerequisite.component.ts
  src/main/webapp/app/course/competencies/prerequisite-form/edit-prerequisite.component.html
  src/main/webapp/app/course/competencies/prerequisite-form/edit-prerequisite.component.ts
  src/main/webapp/app/course/competencies/prerequisite-form/prerequisite-form.component.html
  src/main/webapp/app/course/competencies/prerequisite-form/prerequisite-form.component.ts
  src/main/webapp/app/course/competencies/prerequisite.service.ts
  src/main/webapp/app/course/manage/course-management.route.ts
  src/main/webapp/app/entities/competency.model.ts
  src/main/webapp/app/entities/prerequisite.model.ts
  src/main/webapp/app/lecture/wizard-mode/lecture-wizard-competencies.component.html
  src/main/webapp/app/shared/layouts/navbar/navbar.component.ts
  src/main/webapp/i18n/de/competency.json
  src/main/webapp/i18n/en/competency.json
  src/test/java/de/tum/in/www1/artemis/competency/PrerequisiteUtilService.java
  src/test/java/de/tum/in/www1/artemis/lecture/CompetencyIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/lecture/PrerequisiteIntegrationTest.java
  src/test/javascript/spec/component/competencies/competency-form.component.spec.ts
  src/test/javascript/spec/component/competencies/competency.service.spec.ts
  src/test/javascript/spec/component/competencies/create-prerequisite.component.spec.ts
  src/test/javascript/spec/component/competencies/edit-prerequisite.component.spec.ts
  src/test/javascript/spec/component/competencies/prerequisite-form-stub.component.ts
  src/test/javascript/spec/component/competencies/prerequisite-form.component.spec.ts
  src/test/javascript/spec/component/competencies/prerequisite.service.spec.ts
Labels: feature, tests, server, client, ready to merge, component:AdaptiveLearning, maintainer-approved

#8871 `Adaptive learning`: Fix query performance when retrieving exercise information for mastery calculation
  src/main/java/de/tum/in/www1/artemis/repository/CompetencyRepository.java
  src/main/java/de/tum/in/www1/artemis/service/competency/CompetencyProgressService.java
  src/test/java/de/tum/in/www1/artemis/StudentScoreUtilService.java
  src/test/java/de/tum/in/www1/artemis/lecture/CompetencyIntegrationTest.java
Labels: tests, ready for review, server, priority:critical, performance

#8816 `Learning path`: Refactor learning path navigation overview
  src/main/java/de/tum/in/www1/artemis/repository/CompetencyProgressRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/CompetencyRepository.java
  src/main/java/de/tum/in/www1/artemis/service/LearningObjectService.java
  src/main/java/de/tum/in/www1/artemis/service/competency/CompetencyProgressService.java
  src/main/java/de/tum/in/www1/artemis/service/learningpath/LearningPathNavigationService.java
  src/main/java/de/tum/in/www1/artemis/service/learningpath/LearningPathNgxService.java
  src/main/java/de/tum/in/www1/artemis/service/learningpath/LearningPathRecommendationService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/LearningPathResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/competency/CompetencyNameDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/competency/LearningPathNavigationObjectDTO.java
  src/main/webapp/app/course/competencies/competency-form/competency-form.component.ts
  src/main/webapp/app/course/learning-paths/components/competency-graph-modal/competency-graph-modal.component.ts
  src/main/webapp/app/course/learning-paths/components/competency-graph/competency-graph.component.ts
  src/main/webapp/app/course/learning-paths/components/competency-node/competency-node.component.ts
  src/main/webapp/app/course/learning-paths/components/learning-path-lecture-unit/learning-path-lecture-unit.component.ts
  src/main/webapp/app/course/learning-paths/components/learning-path-nav-overview-learning-objects/learning-path-nav-overview-learning-objects.component.html
  src/main/webapp/app/course/learning-paths/components/learning-path-nav-overview-learning-objects/learning-path-nav-overview-learning-objects.component.scss
  src/main/webapp/app/course/learning-paths/components/learning-path-nav-overview-learning-objects/learning-path-nav-overview-learning-objects.component.ts
  src/main/webapp/app/course/learning-paths/components/learning-path-nav-overview/learning-path-nav-overview.component.html
  src/main/webapp/app/course/learning-paths/components/learning-path-nav-overview/learning-path-nav-overview.component.scss
  src/main/webapp/app/course/learning-paths/components/learning-path-nav-overview/learning-path-nav-overview.component.ts
  src/main/webapp/app/course/learning-paths/components/learning-path-student-nav-overview/learning-path-student-nav-overview.component.html
  src/main/webapp/app/course/learning-paths/components/learning-path-student-nav-overview/learning-path-student-nav-overview.component.ts
  src/main/webapp/app/course/learning-paths/components/learning-path-student-nav/learning-path-student-nav.component.html
  src/main/webapp/app/course/learning-paths/components/learning-path-student-nav/learning-path-student-nav.component.ts
  src/main/webapp/app/course/learning-paths/pages/learning-path-student-page/learning-path-student-page.component.ts
  src/main/webapp/app/course/learning-paths/services/base-api-http.service.ts
  src/main/webapp/app/course/learning-paths/services/learning-path-api.service.ts
  src/main/webapp/app/course/learning-paths/services/learning-path-navigation.service.ts
  src/main/webapp/app/entities/competency/learning-path.model.ts
  src/test/java/de/tum/in/www1/artemis/competency/LearningPathIntegrationTest.java
  src/test/javascript/spec/component/learning-paths/components/competency-node.component.spec.ts
  src/test/javascript/spec/component/learning-paths/components/learning-path-nav-overview-learning-objects.component.spec.ts
  src/test/javascript/spec/component/learning-paths/components/learning-path-nav-overview.component.spec.ts
  src/test/javascript/spec/component/learning-paths/components/learning-path-nav.component.spec.ts
  src/test/javascript/spec/component/learning-paths/pages/learning-path-student-page.component.spec.ts
  src/test/javascript/spec/service/learning-path/learning-path-api.service.spec.ts
Labels: tests, ready for review, server, client, stacked-pr

#8875 `Development`: Improve code quality of competency and learning path repositories
  src/main/java/de/tum/in/www1/artemis/repository/CompetencyRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/LearningPathRepository.java
Labels: server

#8688 `General`: Make Exercise View Scrollable
  src/main/webapp/app/overview/course-exercises/course-exercises.component.html
  src/main/webapp/app/overview/course-overview.scss
Labels: client, stale

#8853 `Adaptive learning`: Update documentation to match new mastery calculation
  docs/user/adaptive-learning/adaptive-learning-instructor.rst
  docs/user/adaptive-learning/adaptive-learning-student.rst
  docs/user/adaptive-learning/student/students-learning-goals-statistics-detail.png
  docs/user/adaptive-learning/student/students-learning-goals-statistics.png
Labels: documentation, small, ready to merge, maintainer-approved

#8882 `File upload exercises`: Fix an issue when downloading submission files
  build.gradle
  src/test/java/de/tum/in/www1/artemis/exercise/fileupload/FileUploadSubmissionIntegrationTest.java
Labels: tests, component:FileUpload, small, bugfix, ready to merge

#8847 `Integrated code lifecycle`: Fix flickers in build queue
  src/main/webapp/app/localci/build-queue/build-queue.component.ts
  src/test/javascript/spec/component/localci/build-queue/build-queue.component.spec.ts
Labels: tests, client, ready to merge

#8842 `Development`: Cleanup legacy and unused client code in the communication feature
  src/main/webapp/app/overview/course-conversations/course-conversations.module.ts
  src/main/webapp/app/overview/course-conversations/layout/conversation-selection-sidebar/conversation-selection-sidebar.component.html
  src/main/webapp/app/overview/course-conversations/layout/conversation-selection-sidebar/conversation-selection-sidebar.component.scss
  src/main/webapp/app/overview/course-conversations/layout/conversation-selection-sidebar/conversation-selection-sidebar.component.ts
  src/main/webapp/app/overview/course-conversations/layout/conversation-selection-sidebar/conversation-sidebar-section/conversation-sidebar-entry/conversation-sidebar-entry.component.html
  src/main/webapp/app/overview/course-conversations/layout/conversation-selection-sidebar/conversation-sidebar-section/conversation-sidebar-entry/conversation-sidebar-entry.component.scss
  src/main/webapp/app/overview/course-conversations/layout/conversation-selection-sidebar/conversation-sidebar-section/conversation-sidebar-entry/conversation-sidebar-entry.component.ts
  src/main/webapp/app/overview/course-conversations/layout/conversation-selection-sidebar/conversation-sidebar-section/conversation-sidebar-section.component.html
  src/main/webapp/app/overview/course-conversations/layout/conversation-selection-sidebar/conversation-sidebar-section/conversation-sidebar-section.component.scss
  src/main/webapp/app/overview/course-conversations/layout/conversation-selection-sidebar/conversation-sidebar-section/conversation-sidebar-section.component.ts
  src/main/webapp/app/shared/metis/metis.service.ts
  src/test/javascript/spec/component/overview/course-conversations/layout/conversation-selection-sidebar/conversation-selection-sidebar.component.spec.ts
  src/test/javascript/spec/component/overview/course-conversations/layout/conversation-selection-sidebar/conversation-sidebar-section/conversation-sidebar-entry/conversation-sidebar-entry.component.spec.ts
  src/test/javascript/spec/component/overview/course-conversations/layout/conversation-selection-sidebar/conversation-sidebar-section/conversation-sidebar-section.component.spec.ts
  src/test/javascript/spec/service/metis/metis.service.spec.ts
Labels: tests, client, chore, code quality, small, ready to merge, component:Communication

#8841 `Quiz exercises`: Export images of quiz exercises
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise.service.ts
  src/main/webapp/app/shared/util/download.util.ts
  src/test/javascript/spec/service/quiz-exercise.service.spec.ts
Labels: feature, tests, client, component:Quiz, ready to merge, maintainer-approved

#8644 `Development`: Add directive to fix types in exercise detail overview list
  src/main/webapp/app/detail-overview-list/components/text-detail.component.html
  src/main/webapp/app/detail-overview-list/components/text-detail.component.ts
  src/main/webapp/app/detail-overview-list/detail-overview-list.component.html
  src/main/webapp/app/detail-overview-list/detail.model.ts
  src/main/webapp/app/detail-overview-list/detail.module.ts
  src/main/webapp/app/detail-overview-list/exercise-detail.directive.ts
  src/main/webapp/app/exam/manage/exam-management.module.ts
  src/main/webapp/app/exam/manage/exams/exam-checklist-component/exam-checklist-exercisegroup-table/exam-checklist-exercisegroup-table.component.html
  src/main/webapp/app/exam/participate/summary/exam-result-summary.module.ts
  src/main/webapp/app/exam/participate/summary/result-overview/exam-result-overview.component.html
  src/main/webapp/app/shared/no-data-component.ts
  src/test/javascript/spec/component/detail-overview-list.component.spec.ts
  src/test/javascript/spec/component/exam/manage/exams/exam-detail.component.spec.ts
  src/test/javascript/spec/component/exercise-detail.directive.spec.ts
  src/test/javascript/spec/directive/sidebar-card.directive.spec.ts
Labels: tests, client, code quality, ready to merge

#8707 `Tutorial groups`: Allow to export information
  src/main/java/de/tum/in/www1/artemis/service/tutorialgroups/TutorialGroupService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/tutorialgroups/TutorialGroupResource.java
  src/main/webapp/app/course/tutorial-groups/services/tutorial-groups.service.ts
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-groups-management.module.ts
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-groups/tutorial-groups-management/tutorial-groups-export-button.component/tutorial-groups-export-button.component.html
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-groups/tutorial-groups-management/tutorial-groups-export-button.component/tutorial-groups-export-button.component.ts
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-groups/tutorial-groups-management/tutorial-groups-import-button/tutorial-groups-import-button.component.html
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-groups/tutorial-groups-management/tutorial-groups-management.component.html
  src/main/webapp/i18n/de/tutorialGroupExport.json
  src/main/webapp/i18n/en/tutorialGroupExport.json
  src/test/java/de/tum/in/www1/artemis/tutorialgroups/TutorialGroupIntegrationTest.java
  src/test/javascript/spec/component/tutorial-groups/services/tutorial-group.service.spec.ts
  src/test/javascript/spec/component/tutorial-groups/tutorial-groups-management/tutorial-groups/tutorial-groups-management/tutorial-groups-export-button.component.spec.ts
  src/test/javascript/spec/component/tutorial-groups/tutorial-groups-management/tutorial-groups/tutorial-groups-management/tutorial-groups-management.component.spec.ts
Labels: tests, server, client, ready to merge, maintainer-approved

#8710 `Tutorial groups`: Improve explanation of import
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-groups/tutorial-groups-management/tutorial-groups-import-dialog/tutorial-groups-registration-import-dialog.component.html
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-groups/tutorial-groups-management/tutorial-groups-import-dialog/tutorial-groups-registration-import-dialog.component.ts
  src/main/webapp/i18n/de/tutorialGroupImport.json
  src/main/webapp/i18n/en/tutorialGroupImport.json
  src/test/javascript/spec/component/tutorial-groups/tutorial-groups-management/tutorial-groups/tutorial-groups-management/tutorial-groups-registration-import-dialog.component.spec.ts
Labels: tests, client, ready to merge, maintainer-approved

#8787 `Integrated code lifecycle`: Show result stats in buildqueue
  src/main/java/de/tum/in/www1/artemis/repository/BuildJobRepository.java
  src/main/java/de/tum/in/www1/artemis/service/dto/BuildJobResultCountDTO.java
  src/main/java/de/tum/in/www1/artemis/service/dto/BuildJobsStatisticsDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/admin/AdminBuildJobQueueResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/localci/BuildJobQueueResource.java
  src/main/webapp/app/entities/build-job.model.ts
  src/main/webapp/app/localci/build-queue/build-queue.component.html
  src/main/webapp/app/localci/build-queue/build-queue.component.scss
  src/main/webapp/app/localci/build-queue/build-queue.component.ts
  src/main/webapp/app/localci/build-queue/build-queue.service.ts
  src/main/webapp/i18n/de/buildQueue.json
  src/main/webapp/i18n/en/buildQueue.json
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalCIResourceIntegrationTest.java
  src/test/javascript/spec/component/localci/build-queue/build-queue.component.spec.ts
  src/test/javascript/spec/component/localci/build-queue/build-queue.service.spec.ts
Labels: tests, server, client

#8851 `Communication`: Fix an issue that prevented to answer threads in group chats
  src/main/java/de/tum/in/www1/artemis/domain/metis/conversation/GroupChat.java
Labels: server, small, bugfix, ready to merge, component:Communication

#8916 `Exam mode`: Fix an issue where the end page of exam does not scroll when the page is too small
  src/main/webapp/app/exam/participate/exam-cover/exam-participation-cover.component.ts
  src/main/webapp/app/exam/participate/exam-participation.service.ts
  src/main/webapp/app/overview/course-overview.component.html
  src/main/webapp/app/overview/course-overview.component.scss
  src/main/webapp/app/overview/course-overview.component.ts
  src/test/javascript/spec/helpers/mocks/service/mock-exam-participation.service.ts
Labels: tests, client, component:Exam Mode, bugfix, ready to merge

#8915 `Exam mode`: Fix collapsible area of problem statement in exercises in student view
  src/main/webapp/app/shared/resizeable-container/resizeable-container.component.html
Labels: component:Exam Mode, small, bugfix, ready to merge

#8898 `Exam mode`: Fix navigation when clicking open repository
  src/main/webapp/app/app-routing.module.ts
  src/main/webapp/app/exam/participate/exam-participation.route.ts
Labels: ready for review, client, component:Exam Mode, bugfix

#8896 `Integrated code lifecycle`: Change build queue page to build overview
  docs/dev/system-design/integrated-code-lifecycle/integrated-code-lifecycle-system-design.inc
  docs/user/exercises/programming-integrated-code-lifecycle-build-queue-view.inc
  docs/user/exercises/programming.rst
  docs/user/exercises/programming/buildQueueCourseManagement.png
  docs/user/exercises/programming/buildQueueSystemAdministration.png
  src/main/webapp/i18n/de/buildQueue.json
  src/main/webapp/i18n/en/buildQueue.json
Labels: client, documentation

#8914 `Exam mode`: Fix an issue where notification button and message do not show up during exam
  src/main/webapp/app/exam/participate/events/exam-live-events-button.component.html
  src/main/webapp/app/exam/participate/events/exam-live-events-button.component.ts
  src/main/webapp/app/exam/participate/exam-bar/exam-bar.component.html
Labels: ready for review, client, component:Exam Mode, bugfix

#8603 `Plagiarism checks`: Fix empty clean up dialog
  src/main/java/de/tum/in/www1/artemis/domain/plagiarism/text/TextPlagiarismResult.java
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-inspector/plagiarism-inspector.component.ts
Labels: ready for review, server, client, component:Plagiarism Detection, bugfix

#8780 `Development`: Add screencast for the retrieval process of automatically generated assessment suggestions for modeling exercises
  docs/user/exercises/modeling.rst
Labels: documentation, stale

#8805 `Development`: Document the iOS app's communication features
  docs/user/mobile-applications.rst
Labels: documentation, component:Communication

#8912 `Exam mode`: Fix displaying exam grade with and without bonus
  src/main/webapp/app/exam/participate/summary/result-overview/exam-result-overview.component.html
Labels: ready for review, client, bugfix

#8461 `Exam mode`: Fix problems with highlighting of the differences in the problem statement
  package-lock.json
  package.json
  src/main/webapp/app/exam/participate/exercises/exam-exercise-update-highlighter/exam-exercise-update-highlighter.component.html
  src/main/webapp/app/exam/participate/exercises/exam-exercise-update-highlighter/exam-exercise-update-highlighter.component.ts
  src/main/webapp/app/exam/participate/exercises/file-upload/file-upload-exam-submission.component.html
  src/main/webapp/app/exam/participate/exercises/file-upload/file-upload-exam-submission.component.ts
  src/main/webapp/app/exam/participate/exercises/modeling/modeling-exam-submission.component.html
  src/main/webapp/app/exam/participate/exercises/modeling/modeling-exam-submission.component.ts
  src/main/webapp/app/exam/participate/exercises/text/text-exam-submission.component.html
  src/main/webapp/app/exam/participate/exercises/text/text-exam-submission.component.ts
  src/main/webapp/app/exercises/programming/shared/instructions-render/extensions/programming-exercise-task.extension.ts
  src/main/webapp/app/exercises/programming/shared/instructions-render/programming-exercise-instruction.component.ts
  src/main/webapp/app/exercises/programming/shared/instructions-render/task/programming-exercise-instruction-task-status.component.html
  src/main/webapp/app/exercises/shared/feedback/feedback.component.html
  src/main/webapp/app/shared/util/markdown.conversion.util.ts
  src/test/javascript/spec/component/exam/participate/exam-exercise-update-highlighter.component.spec.ts
  src/test/javascript/spec/component/exam/participate/exercises/file-upload-exam-submission.component.spec.ts
  src/test/javascript/spec/component/exam/participate/exercises/modeling-exam-submission.component.spec.ts
  src/test/javascript/spec/component/exam/participate/exercises/text-exam-submission.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-instruction.component.spec.ts
  src/test/javascript/spec/helpers/sample/problemStatement.json
Labels: tests, server, client, component:Exam Mode, bugfix, too-long-open
