Repository ls1intum/Artemis, pull requests merged in 2024-05, with the labels that each got.

#8458 `Development`: Add playwright e2e tests for logout
  src/test/cypress/e2e/Logout.cy.ts
  src/test/playwright/e2e/Logout.spec.ts
Labels: tests, ready for review, cypress

#8459 `Development`: Add playwright e2e tests for course icons
  src/test/cypress/e2e/course/CourseManagement.cy.ts
  src/test/playwright/e2e/course/CourseManagement.spec.ts
  src/test/playwright/fixtures/fixtures.ts
  src/test/playwright/support/pageobjects/course/CourseManagementPage.ts
  src/test/playwright/support/utils.ts
Labels: tests, ready for review, cypress

#8502 `Development`: Prevent unnecessary requests to the server for IRIS availability in the exercise view
  src/main/webapp/app/iris/exercise-chatbot/chatbot-button.component.ts
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.ts
Labels: ready for review, client, bugfix, ready to merge, maintainer-approved

#8499 `Programming exercises`: Fix Jenkins template for C
  src/main/java/de/tum/in/www1/artemis/config/Constants.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/ci/ContinuousIntegrationService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/build_plan/JenkinsBuildPlanCreator.java
  src/main/java/de/tum/in/www1/artemis/service/programming/AuxiliaryRepositoryService.java
  src/main/resources/templates/jenkins/Jenkinsfile
Labels: server, ready to merge, template

#8519 `Integrated code lifecycle`: Fix an issue with binary file conversions before build execution
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/buildagent/BuildJobContainerService.java
Labels: ready for review, server, priority:high

#8516 `Development`: Improve the server tests for AuxiliaryRepositoryService
  src/main/java/de/tum/in/www1/artemis/service/programming/AuxiliaryRepositoryService.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/AuxiliaryRepositoryServiceTest.java
Labels: tests, ready for review, server

#8331 `Communication`: Add course wide search, filtering and sorting for chat messages
  src/main/webapp/app/overview/course-conversations/course-conversations.component.html
  src/main/webapp/app/overview/course-conversations/course-conversations.component.ts
  src/main/webapp/app/overview/course-conversations/course-conversations.module.ts
  src/main/webapp/app/overview/course-conversations/course-wide-search/course-wide-search.component.html
  src/main/webapp/app/overview/course-conversations/course-wide-search/course-wide-search.component.scss
  src/main/webapp/app/overview/course-conversations/course-wide-search/course-wide-search.component.ts
  src/main/webapp/app/shared/metis/post/post.component.html
  src/main/webapp/app/shared/metis/post/post.component.ts
  src/main/webapp/i18n/de/metis.json
  src/main/webapp/i18n/en/metis.json
  src/test/javascript/spec/component/overview/course-conversations/course-conversations.component.spec.ts
  src/test/javascript/spec/component/overview/course-conversations/course-wide-search.component.spec.ts
  src/test/javascript/spec/component/shared/metis/post/post.component.spec.ts
Labels: enhancement, feature, tests, server, client, ready to merge, component:Communication, too-long-open

#8495 `Development`: Improve spotless check against wildcard imports
  build.gradle
Labels: ready for review, small

#8290 `Development`: Add e2e tests for programming exercise participation with git operations
  .github/workflows/playwright.yml
  docker/artemis/config/cypress-local.env
  docker/playwright-E2E-tests-mysql-localci.yml
  docker/playwright-E2E-tests-mysql.yml
  docker/playwright-E2E-tests-postgres.yml
  docker/playwright.yml
  src/test/playwright/e2e/exam/ExamManagement.spec.ts
  src/test/playwright/e2e/exercise/programming/ProgrammingExerciseParticipation.spec.ts
  src/test/playwright/e2e/exercise/programming/ProgrammingExerciseStaticCodeAnalysis.spec.ts
  src/test/playwright/fixtures/exercise/programming/python/template.json
  src/test/playwright/package-lock.json
  src/test/playwright/package.json
  src/test/playwright/playwright.env
  src/test/playwright/support/constants.ts
  src/test/playwright/support/fixtures.ts
  src/test/playwright/support/pageobjects/exercises/programming/GitClient.ts
  src/test/playwright/support/pageobjects/exercises/programming/OnlineEditorPage.ts
  src/test/playwright/support/pageobjects/exercises/programming/ProgrammingExerciseOverviewPage.ts
  src/test/playwright/support/pageobjects/exercises/programming/RepositoryPage.ts
  src/test/playwright/support/utils.ts
Labels: tests, ready to merge, docker, too-long-open

#8457 `Development`: Add playwright e2e tests for system health
  src/test/cypress/e2e/SystemHealth.cy.ts
  src/test/playwright/e2e/SystemHealth.spec.ts
Labels: tests, cypress, ready to merge

#8522 `Integrated code lifecycle`: Fix test results path for C exercises
  src/main/resources/templates/aeolus/c/gcc.yaml
  src/main/resources/templates/aeolus/c/gcc_static.yaml
Labels: small, ready to merge, template

#8467 `Adaptive learning`: Add import of standardized competency into course
  src/main/java/de/tum/in/www1/artemis/domain/competency/Competency.java
  src/main/java/de/tum/in/www1/artemis/service/competency/CompetencyService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CompetencyResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/competency/CompetencyImportResponseDTO.java
  src/main/webapp/app/admin/admin.module.ts
  src/main/webapp/app/admin/standardized-competencies/knowledge-area-edit.component.html
  src/main/webapp/app/admin/standardized-competencies/knowledge-area-edit.component.ts
  src/main/webapp/app/admin/standardized-competencies/standardized-competency-edit.component.html
  src/main/webapp/app/admin/standardized-competencies/standardized-competency-edit.component.ts
  src/main/webapp/app/admin/standardized-competencies/standardized-competency-management.component.html
  src/main/webapp/app/admin/standardized-competencies/standardized-competency-management.component.ts
  src/main/webapp/app/course/competencies/competency-form/competency-form.component.html
  src/main/webapp/app/course/competencies/competency-form/competency-form.component.ts
  src/main/webapp/app/course/competencies/competency-management/competency-management.component.html
  src/main/webapp/app/course/competencies/competency-management/competency-management.component.ts
  src/main/webapp/app/course/competencies/competency.module.ts
  src/main/webapp/app/course/competencies/competency.service.ts
  src/main/webapp/app/course/competencies/import-standardized-competencies/course-import-standardized-competencies.component.html
  src/main/webapp/app/course/competencies/import-standardized-competencies/course-import-standardized-competencies.component.ts
  src/main/webapp/app/course/manage/course-management.route.ts
  src/main/webapp/app/entities/competency.model.ts
  src/main/webapp/app/shared/layouts/navbar/navbar.component.ts
  src/main/webapp/app/shared/standardized-competencies/knowledge-area-tree.component.html
  src/main/webapp/app/shared/standardized-competencies/knowledge-area-tree.component.scss
  src/main/webapp/app/shared/standardized-competencies/knowledge-area-tree.component.ts
  src/main/webapp/app/shared/standardized-competencies/standardized-competency-detail.component.html
  src/main/webapp/app/shared/standardized-competencies/standardized-competency-detail.component.scss
  src/main/webapp/app/shared/standardized-competencies/standardized-competency-detail.component.ts
  src/main/webapp/app/shared/standardized-competencies/standardized-competency-filter-page.component.ts
  src/main/webapp/app/shared/standardized-competencies/standardized-competency-filter.component.html
  src/main/webapp/app/shared/standardized-competencies/standardized-competency-filter.component.ts
  src/main/webapp/app/shared/standardized-competencies/standardized-competency.module.ts
  src/main/webapp/app/shared/standardized-competencies/standardized-competency.service.ts
  src/main/webapp/i18n/de/competency.json
  src/main/webapp/i18n/de/standardizedCompetency.json
  src/main/webapp/i18n/en/competency.json
  src/main/webapp/i18n/en/standardizedCompetency.json
  src/test/java/de/tum/in/www1/artemis/lecture/CompetencyIntegrationTest.java
  src/test/javascript/spec/component/competencies/competency.service.spec.ts
  src/test/javascript/spec/component/standardized-competencies/course-import-standardized-competencies.spec.ts
  src/test/javascript/spec/component/standardized-competencies/detail/knowledge-area-edit-stub.component.ts
  src/test/javascript/spec/component/standardized-competencies/detail/knowledge-area-edit.component.spec.ts
  src/test/javascript/spec/component/standardized-competencies/detail/standardized-competency-detail-stub.component.ts
  src/test/javascript/spec/component/standardized-competencies/detail/standardized-competency-detail.spec.ts
  src/test/javascript/spec/component/standardized-competencies/detail/standardized-competency-edit-stub.ts
  src/test/javascript/spec/component/standardized-competencies/detail/standardized-competency-edit.spec.ts
  src/test/javascript/spec/component/standardized-competencies/filter/standardized-competency-filter-page.component.spec.ts
  src/test/javascript/spec/component/standardized-competencies/filter/standardized-competency-filter-stub.component.ts
  src/test/javascript/spec/component/standardized-competencies/filter/standardized-competency-filter.component.spec.ts
  src/test/javascript/spec/component/standardized-competencies/knowledge-area-tree.spec.ts
  src/test/javascript/spec/component/standardized-competencies/standardized-competency-management.spec.ts
  src/test/javascript/spec/component/standardized-competencies/standardized-competency.service.spec.ts
Labels: feature, tests, server, client, component:AdaptiveLearning

#8490 `Integrated code lifecycle`: Add checks for the docker image architecture
  docs/dev/setup/integrated-code-lifecycle.rst
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/buildagent/LocalCIDockerService.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseLocalVCLocalCIIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalCIDockerServiceTest.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalCIIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalCITestConfiguration.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalVCLocalCIIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalVCLocalCITestService.java
Labels: tests, ready for review, server, documentation, priority:high, lock:artemis-test1

#8494 `Tutorial groups`: Fix the contrast in the tutorial group rows in the dark mode
  src/main/webapp/app/course/tutorial-groups/shared/tutorial-groups-table/tutorial-group-row/tutorial-group-row.component.scss
  src/main/webapp/app/course/tutorial-groups/shared/tutorial-groups-table/tutorial-groups-table.component.html
Labels: client, bugfix, user interface, ready to merge

#8412 `General`: Add a "More" option to the new navigation bar on the left
  src/main/webapp/app/overview/course-overview.component.html
  src/main/webapp/app/overview/course-overview.component.scss
  src/main/webapp/app/overview/course-overview.component.ts
  src/main/webapp/i18n/de/student-dashboard.json
  src/main/webapp/i18n/en/student-dashboard.json
  src/test/javascript/spec/component/course/course-overview.component.spec.ts
Labels: feature, tests, client, user interface, ready to merge

#8526 `Development`: Fix slow programming exercise retrieval from participation
  src/main/java/de/tum/in/www1/artemis/repository/ProgrammingExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ProgrammingExerciseStudentParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIResultProcessingService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/programming/ProgrammingExerciseParticipationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/repository/RepositoryProgrammingExerciseParticipationResource.java
Labels: ready for review, server

#8436 `Integrated code lifecycle`: Add finished build jobs view
  src/main/java/de/tum/in/www1/artemis/repository/BuildJobRepository.java
  src/main/java/de/tum/in/www1/artemis/service/dto/FinishedBuildJobDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/AeolusTemplateResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/admin/AdminBuildJobQueueResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/localci/BuildJobQueueResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/util/PageUtil.java
  src/main/webapp/app/course/manage/course-management.module.ts
  src/main/webapp/app/entities/build-job.model.ts
  src/main/webapp/app/localci/build-queue/build-queue.component.html
  src/main/webapp/app/localci/build-queue/build-queue.component.ts
  src/main/webapp/app/localci/build-queue/build-queue.service.ts
  src/main/webapp/i18n/de/buildQueue.json
  src/main/webapp/i18n/en/buildQueue.json
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalCIResourceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/PageableSearchUtilService.java
  src/test/javascript/spec/component/localci/build-queue/build-queue.component.spec.ts
  src/test/javascript/spec/component/localci/build-queue/build-queue.service.spec.ts
Labels: tests, ready for review, server, client, priority:high, component:integrated code lifecycle

#8473 `Development`: Add safeguards against split Hazelcast clusters
  src/main/java/de/tum/in/www1/artemis/config/CacheConfiguration.java
Labels: enhancement, ready for review, server

#8523 `Programming exercises`: Display error message for title and shortname conflicts on localVCS
  src/main/java/de/tum/in/www1/artemis/web/rest/errors/HttpStatusException.java
  src/main/java/de/tum/in/www1/artemis/web/rest/errors/InternalServerErrorAlertException.java
  src/main/java/de/tum/in/www1/artemis/web/rest/programming/ProgrammingExerciseExportImportResource.java
  src/main/webapp/app/course/manage/course-update.component.ts
  src/main/webapp/i18n/de/error.json
  src/main/webapp/i18n/en/error.json
Labels: ready for review, server, client, component:Programming, bugfix

#8530 `Programming exercises`: Improve tooltips and exercise summary on the instructor details page
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.ts
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-plans-and-repositories-preview.component.html
  src/main/webapp/app/exercises/programming/manage/update/update-components/programming-exercise-information.component.html
  src/main/webapp/app/shared/components/help-icon-without-translation.component.ts
  src/main/webapp/app/shared/components/shared-component.module.ts
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/programmingExercise.json
Labels: ready for review, client, small

#8518 `Integrated code lifecycle`: Trim docker image name to avoid white space issues
  src/main/java/de/tum/in/www1/artemis/config/ProgrammingLanguageConfiguration.java
  src/main/java/de/tum/in/www1/artemis/service/competency/CompetencyService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/BuildScriptGenerationService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/aeolus/Action.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/aeolus/AeolusBuildPlanService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/aeolus/AeolusBuildScriptGenerationService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/aeolus/AeolusRepository.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/aeolus/AeolusResult.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/aeolus/AeolusTemplateService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/aeolus/DockerConfig.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/aeolus/PlatformAction.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/aeolus/ScriptAction.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/aeolus/Windfile.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/aeolus/WindfileMetadata.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/ci/ContinuousIntegrationService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCITriggerService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/dto/BuildConfig.java
  src/main/java/de/tum/in/www1/artemis/service/notifications/push_notifications/ApplePushNotificationService.java
  src/main/java/de/tum/in/www1/artemis/service/notifications/push_notifications/FirebasePushNotificationService.java
  src/main/java/de/tum/in/www1/artemis/service/notifications/push_notifications/PushNotificationService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseImportService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/pageablesearch/CompetencyPageableSearchDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/pageablesearch/PageableSearchDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/pageablesearch/SearchTermPageableSearchDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/pageablesearch/UserPageableSearchDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/programming/ProgrammingExerciseResource.java
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.ts
  src/main/webapp/app/exercises/programming/manage/update/update-components/custom-build-plans/programming-exercise-custom-aeolus-build-plan.component.ts
  src/main/webapp/app/exercises/programming/manage/update/update-components/custom-build-plans/programming-exercise-custom-build-plan.component.ts
  src/main/webapp/app/exercises/programming/shared/service/aeolus.service.ts
  src/test/java/de/tum/in/www1/artemis/architecture/ArchitectureTest.java
  src/test/java/de/tum/in/www1/artemis/connectors/AeolusBuildScriptGenerationServiceTest.java
  src/test/java/de/tum/in/www1/artemis/connectors/AeolusServiceTest.java
  src/test/java/de/tum/in/www1/artemis/connectors/AeolusTemplateResourceTest.java
  src/test/java/de/tum/in/www1/artemis/connectors/AeolusTest.java
  src/test/java/de/tum/in/www1/artemis/lecture/CompetencyIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalCIIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalCIServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/connectors/lti/LtiDeepLinkingServiceTest.java
  src/test/java/de/tum/in/www1/artemis/util/PageableSearchUtilService.java
  src/test/java/de/tum/in/www1/artemis/util/RequestUtilService.java
Labels: tests, ready for review, server, client, lock:artemis-test4

#8534 `Integrated code lifecycle`: Always create submission results for failed build jobs
  src/main/java/de/tum/in/www1/artemis/domain/BuildJob.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIResultProcessingService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCITriggerService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/buildagent/BuildJobExecutionService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/buildagent/SharedQueueProcessingService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/dto/BuildConfig.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/dto/LocalCIBuildResult.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localvc/LocalVCServletService.java
  src/main/webapp/app/entities/build-config.model.ts
  src/main/webapp/app/localci/build-agents/build-agents.component.html
  src/main/webapp/app/localci/build-queue/build-queue.component.html
  src/test/java/de/tum/in/www1/artemis/AbstractSpringIntegrationLocalCILocalVCTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseTestCaseServiceTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/StaticCodeAnalysisIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalCIDockerServiceTest.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalCIIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalCIResourceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalVCLocalCIIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/staticcodeanalysis/StaticCodeAnalysisParserUnitTest.java
  src/test/javascript/spec/component/localci/build-agents/build-agents.component.spec.ts
  src/test/javascript/spec/component/localci/build-agents/build-agents.service.spec.ts
  src/test/javascript/spec/component/localci/build-queue/build-queue.component.spec.ts
  src/test/javascript/spec/component/localci/build-queue/build-queue.service.spec.ts
Labels: tests, ready for review, server, client, priority:high

#8539 `General`: Reduce navigation bar height
  src/main/webapp/app/core/theme/theme-switch.component.scss
  src/main/webapp/app/shared/layouts/navbar/navbar.scss
Labels: client

#8542 `Programming exercises`: Display automatic assessment history correctly
  src/main/webapp/app/shared/sidebar/sidebar-card/sidebar-card.component.html
  src/main/webapp/app/shared/sidebar/sidebar-card/sidebar-card.component.ts
  src/test/javascript/spec/component/shared/sidebar/sidebar-card.component.spec.ts
  src/test/javascript/spec/helpers/mocks/mock-router.ts
Labels: tests, client

#8537 `Tutorial groups`: Fix a coloring issue in dark mode
  src/main/webapp/app/course/tutorial-groups/shared/tutorial-group-sessions-table/tutorial-group-session-row/tutorial-group-session-row.component.html
  src/main/webapp/app/course/tutorial-groups/shared/tutorial-group-sessions-table/tutorial-group-sessions-table.component.html
  src/test/javascript/spec/component/tutorial-groups/tutorial-groups-management/tutorial-group-sessions/tutorial-group-sessions-management/tutorial-group-session-row.component.spec.ts
Labels: tests, client, bugfix, user interface, ready to merge

#8491 `General`: Improve German language consistency
  docs/dev/guidelines/language-guidelines.rst
  src/main/webapp/i18n/de/aboutUs.json
  src/main/webapp/i18n/de/conversation.json
  src/main/webapp/i18n/de/course.json
  src/main/webapp/i18n/de/courseExamArchive.json
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/de/exercise.json
  src/main/webapp/i18n/de/exerciseChatbot.json
  src/main/webapp/i18n/de/featureOverview.json
  src/main/webapp/i18n/de/gradingSystem.json
  src/main/webapp/i18n/de/importUsers.json
  src/main/webapp/i18n/de/instructorDashboard.json
  src/main/webapp/i18n/de/lectureUnit.json
  src/main/webapp/i18n/de/lti.json
  src/main/webapp/i18n/de/metis.json
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/de/quizExercise.json
  src/main/webapp/i18n/de/quizPool.json
  src/main/webapp/i18n/de/textExercise.json
  src/test/cypress/fixtures/exercise/programming/c/template.json
  src/test/playwright/fixtures/exercise/programming/c/template.json
Labels: tests, client, documentation, chore, cypress, ready to merge

#8400 `Development`: Add documentation for production setup using Docker
  docker/artemis/config/node1.env
  docker/artemis/config/node2.env
  docker/artemis/config/node3.env
  docker/artemis/config/prod-multinode.env
  docker/nginx/artemis-upstream-multi-node.conf
  docs/admin/setup/distributed.rst
  docs/admin/setup/distributed/multi-node-setup.drawio.png
Labels: documentation, ready to merge, docker

#8497 `Programming exercises`: Read all test report XML files in OCaml
  src/main/resources/templates/aeolus/ocaml/default.yaml
Labels: ready for review, small, template

#8532 `Development`: Add e2e tests for programming exercise teams
  src/test/playwright/e2e/exercise/programming/ProgrammingExerciseManagement.spec.ts
  src/test/playwright/support/constants.ts
  src/test/playwright/support/fixtures.ts
  src/test/playwright/support/pageobjects/course/CourseManagementExercisesPage.ts
  src/test/playwright/support/pageobjects/course/CourseOverviewPage.ts
  src/test/playwright/support/pageobjects/exercises/ExerciseTeamsPage.ts
  src/test/playwright/support/pageobjects/exercises/programming/ProgrammingExerciseOverviewPage.ts
  src/test/playwright/support/requests/ExerciseAPIRequests.ts
Labels: tests, ready for review

#8533 `Tutorial groups`: Add sidebar to student view
  src/main/webapp/app/app-routing.module.ts
  src/main/webapp/app/overview/course-exercises/course-exercises.component.html
  src/main/webapp/app/overview/course-lectures/course-lectures.component.html
  src/main/webapp/app/overview/course-lectures/course-lectures.component.ts
  src/main/webapp/app/overview/course-overview.component.html
  src/main/webapp/app/overview/course-overview.component.scss
  src/main/webapp/app/overview/course-overview.component.ts
  src/main/webapp/app/overview/course-overview.scss
  src/main/webapp/app/overview/course-overview.service.ts
  src/main/webapp/app/overview/course-tutorial-groups/course-tutorial-groups-overview/course-tutorial-groups-overview.component.html
  src/main/webapp/app/overview/course-tutorial-groups/course-tutorial-groups-overview/course-tutorial-groups-overview.component.ts
  src/main/webapp/app/overview/course-tutorial-groups/course-tutorial-groups-registered/course-tutorial-groups-registered.component.html
  src/main/webapp/app/overview/course-tutorial-groups/course-tutorial-groups-registered/course-tutorial-groups-registered.component.ts
  src/main/webapp/app/overview/course-tutorial-groups/course-tutorial-groups.component.html
  src/main/webapp/app/overview/course-tutorial-groups/course-tutorial-groups.component.ts
  src/main/webapp/app/overview/course-tutorial-groups/course-tutorial-groups.module.ts
  src/main/webapp/app/overview/course-tutorial-groups/course-tutorial-groups.route.ts
  src/main/webapp/app/overview/courses-routing.module.ts
  src/main/webapp/app/overview/discussion-section/discussion-section.component.html
  src/main/webapp/app/overview/tutorial-group-details/course-tutorial-group-detail/course-tutorial-group-detail.component.html
  src/main/webapp/app/overview/tutorial-group-details/course-tutorial-group-detail/course-tutorial-group-detail.component.ts
  src/main/webapp/app/shared/loading-indicator-container/loading-indicator-container.component.html
  src/main/webapp/app/shared/loading-indicator-container/loading-indicator-container.component.scss
  src/main/webapp/app/shared/loading-indicator-container/loading-indicator-container.component.ts
  src/main/webapp/app/shared/sidebar/sidebar-accordion/sidebar-accordion.component.html
  src/main/webapp/app/shared/sidebar/sidebar.component.html
  src/main/webapp/app/shared/sidebar/sidebar.component.scss
  src/main/webapp/app/types/sidebar.ts
  src/main/webapp/content/scss/global.scss
  src/main/webapp/content/scss/themes/_dark-variables.scss
  src/main/webapp/content/scss/themes/_default-variables.scss
  src/main/webapp/i18n/de/courseTutorialGroups.json
  src/main/webapp/i18n/de/student-dashboard.json
  src/main/webapp/i18n/en/courseTutorialGroups.json
  src/main/webapp/i18n/en/student-dashboard.json
  src/test/javascript/spec/component/tutorial-groups/course-tutorial-groups/course-tutorial-group-detail.component.spec.ts
  src/test/javascript/spec/component/tutorial-groups/course-tutorial-groups/course-tutorial-groups-overview.component.spec.ts
  src/test/javascript/spec/component/tutorial-groups/course-tutorial-groups/course-tutorial-groups-registered.component.spec.ts
  src/test/javascript/spec/component/tutorial-groups/course-tutorial-groups/course-tutorial-groups.component.spec.ts
Labels: tests, client

#8172 `Development`: Refactor LTI classes
  src/main/java/de/tum/in/www1/artemis/domain/lti/Claims.java
  src/main/java/de/tum/in/www1/artemis/domain/lti/Lti13AgsClaim.java
  src/main/java/de/tum/in/www1/artemis/domain/lti/Lti13DeepLinkingResponse.java
  src/main/java/de/tum/in/www1/artemis/domain/lti/Lti13LaunchRequest.java
  src/main/java/de/tum/in/www1/artemis/domain/lti/Lti13PlatformConfiguration.java
  src/main/java/de/tum/in/www1/artemis/domain/lti/LtiAuthenticationResponse.java
  src/main/java/de/tum/in/www1/artemis/domain/lti/LtiResourceLaunch.java
  src/main/java/de/tum/in/www1/artemis/security/lti/Lti13TokenRetriever.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/lti/Lti13Service.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/lti/LtiDeepLinkingService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/lti/LtiDynamicRegistrationService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/lti/LtiService.java
  src/main/java/de/tum/in/www1/artemis/web/filter/Lti13LaunchFilter.java
  src/main/java/de/tum/in/www1/artemis/web/rest/LtiResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/open/PublicOAuth2JWKSResource.java
  src/main/webapp/app/admin/lti-configuration/lti-configuration.component.html
  src/main/webapp/app/admin/lti-configuration/lti-configuration.component.ts
  src/main/webapp/app/admin/lti-configuration/lti-configuration.route.ts
  src/main/webapp/app/admin/lti-configuration/lti-configuration.service.ts
  src/main/webapp/app/course/manage/course-lti-configuration/edit-course-lti-configuration.component.html
  src/main/webapp/app/course/manage/course-lti-configuration/edit-course-lti-configuration.component.ts
  src/test/java/de/tum/in/www1/artemis/LtiIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/OAuth2JWKSIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/architecture/ArchitectureTest.java
  src/test/java/de/tum/in/www1/artemis/connectors/Lti13ServiceTest.java
  src/test/java/de/tum/in/www1/artemis/connectors/LtiDynamicRegistrationServiceTest.java
  src/test/java/de/tum/in/www1/artemis/security/lti/Lti13TokenRetrieverTest.java
  src/test/java/de/tum/in/www1/artemis/service/connectors/lti/LtiDeepLinkingServiceTest.java
  src/test/javascript/spec/component/admin/lti-configuration.component.spec.ts
  src/test/javascript/spec/component/course/edit-course-lti-configuration.component.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-lti-configuration-service.ts
  src/test/javascript/spec/service/lti-configuration.service.spec.ts
Labels: tests, server, client, ready to merge, too-long-open

#8544 `General`: Handle error when course title too long
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/admin/AdminCourseResource.java
  src/main/webapp/app/course/manage/course-update.component.ts
  src/main/webapp/i18n/de/error.json
  src/main/webapp/i18n/en/error.json
Labels: server, client, small, ready to merge

#8548 `Development`: Fix flaky playwright e2e test
  src/main/webapp/app/exercises/quiz/manage/drag-and-drop-question/drag-and-drop-question-edit.component.html
  src/test/playwright/e2e/exercise/quiz-exercise/QuizExerciseManagement.spec.ts
  src/test/playwright/e2e/exercise/quiz-exercise/QuizExerciseParticipation.spec.ts
  src/test/playwright/support/pageobjects/exercises/quiz/DragAndDropQuiz.ts
  src/test/playwright/support/pageobjects/exercises/quiz/QuizExerciseCreationPage.ts
  src/test/playwright/support/utils.ts
Labels: tests, ready for review, client

#8553 `Integrated code lifecycle`: Force remove timed-out containers
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/buildagent/BuildJobContainerService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/buildagent/BuildJobManagementService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/buildagent/LocalCIDockerService.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalCIDockerServiceTest.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalCITestConfiguration.java
Labels: tests, ready for review, server, small, component:integrated code lifecycle

#8555 `Development`: Improve error handling when sending emails fails
  build.gradle
  src/main/java/de/tum/in/www1/artemis/service/notifications/MailService.java
  src/test/java/de/tum/in/www1/artemis/metis/PostingServiceUnitTest.java
  src/test/java/de/tum/in/www1/artemis/service/notifications/GeneralInstantNotificationServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/notifications/MailServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/notifications/push_notifications/AppleFirebasePushNotificationServiceTest.java
Labels: tests, server

#8505 `Development`: Add e2e playwright tests for exam results page
  src/test/playwright/e2e/exam/ExamAssessment.spec.ts
  src/test/playwright/e2e/exam/ExamResults.spec.ts
  src/test/playwright/support/commands.ts
  src/test/playwright/support/fixtures.ts
  src/test/playwright/support/pageobjects/assessment/CourseAssessmentDashboardPage.ts
  src/test/playwright/support/pageobjects/assessment/ExerciseAssessmentDashboardPage.ts
  src/test/playwright/support/pageobjects/exam/ExamParticipation.ts
  src/test/playwright/support/pageobjects/exam/ExamResultsPage.ts
  src/test/playwright/support/pageobjects/exercises/AbstractExerciseFeedbackPage.ts
  src/test/playwright/support/pageobjects/exercises/ExerciseResultPage.ts
  src/test/playwright/support/pageobjects/exercises/programming/ProgrammingExerciseFeedbackPage.ts
  src/test/playwright/support/pageobjects/exercises/programming/ProgrammingExerciseOverviewPage.ts
  src/test/playwright/support/requests/ExamAPIRequests.ts
  src/test/playwright/support/requests/ExerciseAPIRequests.ts
Labels: tests, ready to merge

#8547 `Development`: Adjust playwright e2e tests
  src/test/cypress/e2e/course/CourseCommunication.cy.ts
  src/test/cypress/e2e/exam/ExamAssessment.cy.ts
  src/test/playwright/e2e/course/CourseCommunication.spec.ts
  src/test/playwright/e2e/exam/ExamAssessment.spec.ts
  src/test/playwright/support/pageobjects/course/CourseCommunicationPage.ts
  src/test/playwright/support/pageobjects/exam/ExamManagementPage.ts
Labels: tests, cypress, ready to merge

#8531 `Lectures`: Fix an issue with a readonly validation for attachments
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/attachment-unit-form/attachment-unit-form.component.ts
Labels: client, bugfix, ready to merge

#8556 `Development`: Enable disabled submission policy integration tests
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/SubmissionPolicyIntegrationTest.java
Labels: tests, ready for review

#8560 `Development`: Update dependencies
  build.gradle
  gradle.properties
  package-lock.json
  package.json
  src/test/javascript/spec/component/modeling-editor/modeling-editor.component.spec.ts
Labels: tests

#8574 `Development`: Remove java assert statements
  src/main/java/de/tum/in/www1/artemis/service/connectors/apollon/ApollonConversionService.java
  src/main/java/de/tum/in/www1/artemis/service/metis/conversation/ConversationService.java
  src/main/java/de/tum/in/www1/artemis/service/tutorialgroups/TutorialGroupService.java
  src/test/java/de/tum/in/www1/artemis/tutorialgroups/TutorialGroupFreePeriodIntegrationTest.java
Labels: tests, ready for review, server, small

#8573 `Development`: Fix failing attachment client test
  src/test/javascript/spec/component/lecture-unit/attachment-unit/attachment-unit-form.component.spec.ts
Labels: tests, client, bugfix, ready to merge

#8569 `Development`: Unify capitalization of GitHub issue categories
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/feature-proposal--developer-.md
  .github/ISSUE_TEMPLATE/feature-request.yml
Labels: small, ready to merge

#8538 `Development`: Add IntelliJ run configuration for Jenkins+LocalVC
  .idea/runConfigurations/Artemis__Server__Jenkins___LocalVC_.xml
Labels: small, ready to merge

#8493 `Development`: Add architecture test for endpoint naming conventions
  src/main/java/de/tum/in/www1/artemis/config/lti/CustomLti13Configurer.java
  src/main/java/de/tum/in/www1/artemis/web/rest/AeolusTemplateResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ApollonDiagramResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CompetencyResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/LectureResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/QuizExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/StudentExamResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TeamResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/admin/AdminBuildJobQueueResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/admin/AdminLtiConfigurationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/localci/BuildJobQueueResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/metis/conversation/ChannelResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/metis/conversation/ConversationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/metis/conversation/GroupChatResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/metis/conversation/OneToOneChatResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/open/PublicOAuth2JWKSResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/programming/ProgrammingExerciseParticipationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/programming/ProgrammingExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/push_notification/PushNotificationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/repository/RepositoryProgrammingExerciseParticipationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/repository/TestRepositoryResource.java
  src/test/java/de/tum/in/www1/artemis/Lti13LaunchIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/architecture/AbstractArchitectureTest.java
  src/test/java/de/tum/in/www1/artemis/architecture/ArchitectureTest.java
  src/test/java/de/tum/in/www1/artemis/architecture/ResourceArchitectureTest.java
Labels: tests, server, ready to merge, maintainer-approved

#8527 `General`: Fix exercise archival for courses and exams
  src/main/java/de/tum/in/www1/artemis/domain/plagiarism/PlagiarismDetectionConfig.java
  src/main/java/de/tum/in/www1/artemis/repository/CourseRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ExamRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ExerciseImportService.java
  src/main/java/de/tum/in/www1/artemis/service/export/CourseExamExportService.java
  src/main/java/de/tum/in/www1/artemis/service/export/ExerciseWithSubmissionsExportService.java
  src/main/java/de/tum/in/www1/artemis/service/export/FileUploadExerciseWithSubmissionsExportService.java
  src/main/java/de/tum/in/www1/artemis/service/export/ModelingExerciseWithSubmissionsExportService.java
  src/main/java/de/tum/in/www1/artemis/service/export/TextExerciseWithSubmissionsExportService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/test/java/de/tum/in/www1/artemis/course/CourseTestService.java
  src/test/java/de/tum/in/www1/artemis/course/CourseUtilService.java
  src/test/java/de/tum/in/www1/artemis/exam/ExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exam/ExamParticipationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/ExerciseFactory.java
  src/test/java/de/tum/in/www1/artemis/exercise/ExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/modeling/ModelingExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/modeling/ModelingExerciseUtilService.java
  src/test/java/de/tum/in/www1/artemis/exercise/programming/ProgrammingExerciseTestService.java
  src/test/java/de/tum/in/www1/artemis/exercise/programming/ProgrammingExerciseUtilService.java
  src/test/java/de/tum/in/www1/artemis/lecture/ExerciseUnitIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/lecture/LectureIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/lecture/LectureUnitIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/LectureImportServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/export/CourseExamExportServiceTest.java
Labels: tests, ready for review, server

#8395 `Integrated code lifecycle`: Separate build agent summary and details view
  src/main/java/de/tum/in/www1/artemis/config/CacheConfiguration.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIQueueWebsocketService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/SharedQueueManagementService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/admin/AdminBuildJobQueueResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/admin/AuditResource.java
  src/main/java/de/tum/in/www1/artemis/web/websocket/localci/LocalCIWebsocketMessagingService.java
  src/main/webapp/app/admin/admin.module.ts
  src/main/webapp/app/admin/admin.route.ts
  src/main/webapp/app/localci/build-agents/build-agent-details/build-agent-details/build-agent-details.component.html
  src/main/webapp/app/localci/build-agents/build-agent-details/build-agent-details/build-agent-details.component.scss
  src/main/webapp/app/localci/build-agents/build-agent-details/build-agent-details/build-agent-details.component.ts
  src/main/webapp/app/localci/build-agents/build-agent-summary/build-agent-summary.component.html
  src/main/webapp/app/localci/build-agents/build-agent-summary/build-agent-summary.component.scss
  src/main/webapp/app/localci/build-agents/build-agent-summary/build-agent-summary.component.ts
  src/main/webapp/app/localci/build-agents/build-agents.service.ts
  src/main/webapp/app/localci/build-queue/build-queue.component.html
  src/main/webapp/app/shared/layouts/navbar/navbar.component.html
  src/main/webapp/app/shared/layouts/navbar/navbar.component.ts
  src/main/webapp/i18n/de/buildAgents.json
  src/main/webapp/i18n/en/buildAgents.json
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalCIResourceIntegrationTest.java
  src/test/javascript/spec/component/localci/build-agents/build-agent-details.component.spec.ts
  src/test/javascript/spec/component/localci/build-agents/build-agent-summary.component.spec.ts
  src/test/javascript/spec/component/localci/build-agents/build-agents.service.spec.ts
Labels: tests, server, client, component:integrated code lifecycle, too-long-open

#8575 `Development`: Fix cases of ignored return values
  src/main/java/de/tum/in/www1/artemis/service/plagiarism/PlagiarismAnswerPostService.java
  src/main/java/de/tum/in/www1/artemis/service/tutorialgroups/TutorialGroupService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/metis/conversation/ChannelResource.java
  src/test/java/de/tum/in/www1/artemis/metis/ConversationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/tutorialgroups/TutorialGroupSessionIntegrationTest.java
Labels: tests, ready for review, server, code quality, small

#8448 `General`: Fix validation for entity deletion confirmation
  src/main/webapp/app/shared/confirm-entity-name/confirm-entity-name.component.ts
Labels: tests, client, ready to merge

#8557 `Development`: Delay scheduled task to speed up application start
  build.gradle
  src/main/java/de/tum/in/www1/artemis/config/CacheConfiguration.java
  src/main/java/de/tum/in/www1/artemis/config/MetricsBean.java
  src/main/java/de/tum/in/www1/artemis/config/StartupDelayConfig.java
  src/main/java/de/tum/in/www1/artemis/config/websocket/WebsocketConfiguration.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/HazelcastHealthIndicator.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIQueueWebsocketService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIResultProcessingService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCITriggerService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/SharedQueueManagementService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/buildagent/BuildJobManagementService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/buildagent/LocalCIDockerService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/buildagent/SharedQueueProcessingService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/pyris/PyrisJobService.java
  src/main/java/de/tum/in/www1/artemis/service/feature/FeatureToggleService.java
  src/main/java/de/tum/in/www1/artemis/service/messaging/DistributedInstanceMessageSendService.java
  src/main/java/de/tum/in/www1/artemis/service/messaging/InstanceMessageReceiveService.java
  src/main/java/de/tum/in/www1/artemis/service/plagiarism/cache/PlagiarismCacheService.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/AthenaScheduleService.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/ModelingExerciseScheduleService.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/NotificationScheduleService.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/ParticipantScoreScheduleService.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/ProgrammingExerciseScheduleService.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/WeeklyEmailSummaryScheduleService.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/cache/CacheHandler.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/cache/quiz/QuizScheduleService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/PlantUmlResource.java
  src/main/java/de/tum/in/www1/artemis/web/websocket/team/ParticipationTeamWebsocketService.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalCIDockerServiceTest.java
  src/test/java/de/tum/in/www1/artemis/localvcci/SharedQueueManagementService.java
  src/test/java/de/tum/in/www1/artemis/service/scheduled/cache/quiz/QuizCacheTest.java
Labels: tests, ready for review, server

#8504 `Development`: Add branch naming conventions to documentation
  CONTRIBUTING.md
  docs/dev/development-process/development-process.rst
  docs/dev/guidelines/client.rst
Labels: documentation

#8508 `Adaptive learning`: Add endpoint to retrieve student course metrics
  build.gradle
  src/main/java/de/tum/in/www1/artemis/repository/ExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ParticipantScoreRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/UserRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/metrics/ExerciseMetricsRepository.java
  src/main/java/de/tum/in/www1/artemis/service/metrics/MetricsService.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/ParticipantScoreScheduleService.java
  src/main/java/de/tum/in/www1/artemis/service/util/ZonedDateTimeUtil.java
  src/main/java/de/tum/in/www1/artemis/web/rest/MetricsResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/metrics/ExerciseInformationDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/metrics/ExerciseStudentMetricsDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/metrics/ResourceTimestampDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/metrics/ScoreDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/metrics/StudentMetricsDTO.java
  src/test/java/de/tum/in/www1/artemis/AbstractArtemisIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/MetricsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/util/HttpRequestUtilsTest.java
  src/test/java/de/tum/in/www1/artemis/service/util/ZonedDateTimeUtilTest.java
Labels: tests, ready for review, server

#8593 `Development`: Fix link to development process guidelines
  CONTRIBUTING.md
Labels: ready for review

#8582 `Learning analytics`: Add exercise statistics to student course dashboard
  src/main/java/de/tum/in/www1/artemis/domain/Course.java
  src/main/java/de/tum/in/www1/artemis/service/feature/Feature.java
  src/main/java/de/tum/in/www1/artemis/service/feature/FeatureToggleService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/resources/config/liquibase/changelog/20240428210130_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/course/manage/course-update.component.html
  src/main/webapp/app/course/manage/course-update.component.ts
  src/main/webapp/app/entities/course.model.ts
  src/main/webapp/app/entities/student-metrics.model.ts
  src/main/webapp/app/overview/course-dashboard/course-dashboard.component.html
  src/main/webapp/app/overview/course-dashboard/course-dashboard.component.ts
  src/main/webapp/app/overview/course-dashboard/course-dashboard.module.ts
  src/main/webapp/app/overview/course-dashboard/course-dashboard.service.ts
  src/main/webapp/app/overview/course-dashboard/course-exercise-lateness/course-exercise-lateness.component.html
  src/main/webapp/app/overview/course-dashboard/course-exercise-lateness/course-exercise-lateness.component.scss
  src/main/webapp/app/overview/course-dashboard/course-exercise-lateness/course-exercise-lateness.component.ts
  src/main/webapp/app/overview/course-dashboard/course-exercise-performance/course-exercise-performance.component.html
  src/main/webapp/app/overview/course-dashboard/course-exercise-performance/course-exercise-performance.component.scss
  src/main/webapp/app/overview/course-dashboard/course-exercise-performance/course-exercise-performance.component.ts
  src/main/webapp/app/overview/course-overview.component.ts
  src/main/webapp/app/overview/courses-routing.module.ts
  src/main/webapp/app/shared/feature-toggle/feature-toggle.service.ts
  src/main/webapp/app/shared/layouts/navbar/navbar.component.ts
  src/main/webapp/i18n/de/course.json
  src/main/webapp/i18n/de/courseStudentDashboard.json
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/de/student-dashboard.json
  src/main/webapp/i18n/en/course.json
  src/main/webapp/i18n/en/courseStudentDashboard.json
  src/main/webapp/i18n/en/global.json
  src/main/webapp/i18n/en/student-dashboard.json
  src/test/java/de/tum/in/www1/artemis/learninganalytics/StudentLearningAnalyticsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/FeatureToggleServiceTest.java
  src/test/javascript/spec/component/admin/admin-feature-toggle.component.spec.ts
  src/test/javascript/spec/component/course/course-overview.component.spec.ts
  src/test/javascript/spec/component/course/course-update.component.spec.ts
Labels: tests, ready for review, server, client, documentation, database

#8581 `Development`: Fix quiz exercise drop location e2e test
  src/test/playwright/support/pageobjects/exercises/quiz/DragAndDropQuiz.ts
Labels: tests, small, ready to merge

#8604 `Development`: Speedup docker image cleanup information retrieval
  src/main/java/de/tum/in/www1/artemis/config/ArtemisSpringManagedContext.java
  src/main/java/de/tum/in/www1/artemis/config/CacheConfiguration.java
  src/main/java/de/tum/in/www1/artemis/config/MetricsBean.java
  src/main/java/de/tum/in/www1/artemis/config/localvcci/LocalCIConfiguration.java
  src/main/java/de/tum/in/www1/artemis/service/PlantUmlService.java
  src/main/java/de/tum/in/www1/artemis/service/TitleCacheEvictionService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/BuildScriptProviderService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/aeolus/AeolusTemplateService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/SharedQueueManagementService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/buildagent/BuildJobContainerService.java
  src/main/resources/config/liquibase/changelog/20240515204415_changelog.xml
  src/main/resources/config/liquibase/master.xml
Labels: ready for review, server, database

#8517 `Integrated code lifecycle`: Add triggers to delete unused docker images
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/buildagent/LocalCIDockerService.java
  src/test/java/de/tum/in/www1/artemis/AbstractSpringIntegrationLocalCILocalVCTest.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalCIDockerServiceTest.java
Labels: tests, server, small, ready to merge, component:integrated code lifecycle

#8588 `Lectures`: Group lectures in sidebar by start and end date
  src/main/webapp/app/overview/course-overview.service.ts
  src/test/javascript/spec/component/course/course-overview.service.spec.ts
Labels: tests, client, small

#8586 `Tutorial groups`: Add utilization and attendance to tutorial groups sidebar
  src/main/webapp/app/overview/course-overview.service.ts
  src/main/webapp/i18n/de/student-dashboard.json
  src/main/webapp/i18n/de/tutorialGroups.json
  src/main/webapp/i18n/en/student-dashboard.json
  src/main/webapp/i18n/en/tutorialGroups.json
Labels: client, small

#8570 `Learning analytics`: Add competency details to student course dashboard
  src/main/webapp/app/course/competencies/competency-accordion/competency-accordion.component.html
  src/main/webapp/app/course/competencies/competency-accordion/competency-accordion.component.scss
  src/main/webapp/app/course/competencies/competency-accordion/competency-accordion.component.ts
  src/main/webapp/app/course/competencies/competency-rings/competency-rings.component.html
  src/main/webapp/app/course/competencies/competency-rings/competency-rings.component.scss
  src/main/webapp/app/course/competencies/competency-rings/competency-rings.component.ts
  src/main/webapp/app/course/competencies/competency.module.ts
  src/main/webapp/app/course/competencies/competency.service.ts
  src/main/webapp/app/entities/exercise.model.ts
  src/main/webapp/app/entities/student-metrics.model.ts
  src/main/webapp/app/overview/course-dashboard/course-dashboard.component.html
  src/main/webapp/app/overview/course-dashboard/course-dashboard.component.scss
  src/main/webapp/app/overview/course-dashboard/course-dashboard.component.ts
  src/main/webapp/app/overview/course-dashboard/course-dashboard.module.ts
  src/main/webapp/app/shared/competency/interfaces/competency-accordion-toggle-event.interface.ts
  src/main/webapp/i18n/de/studentAnalyticsDashboard.json
  src/main/webapp/i18n/en/studentAnalyticsDashboard.json
Labels: tests, ready for review, server, client, cypress, stacked-pr, template

#8614 `Learning analytics`: Next exercise objectives for course dashboard competencies
  src/main/webapp/app/course/competencies/competency-accordion/competency-accordion.component.html
  src/main/webapp/app/course/competencies/competency-accordion/competency-accordion.component.scss
  src/main/webapp/app/course/competencies/competency-accordion/competency-accordion.component.ts
  src/main/webapp/app/course/competencies/competency.module.ts
  src/main/webapp/app/entities/student-metrics.model.ts
  src/main/webapp/app/overview/course-dashboard/course-dashboard.component.ts
  src/main/webapp/app/overview/course-dashboard/course-dashboard.service.ts
  src/main/webapp/i18n/de/studentAnalyticsDashboard.json
  src/main/webapp/i18n/en/studentAnalyticsDashboard.json
Labels: client

#8600 `Learning analytics`: Add judgement of learning component
  src/main/webapp/app/course/competencies/competency-accordion/competency-accordion.component.html
  src/main/webapp/app/course/competencies/competency.module.ts
  src/main/webapp/app/course/competencies/judgement-of-learning-rating/judgement-of-learning-rating.component.html
  src/main/webapp/app/course/competencies/judgement-of-learning-rating/judgement-of-learning-rating.component.ts
  src/main/webapp/app/exercises/shared/rating/star-rating/star-rating.component.scss
  src/main/webapp/app/exercises/shared/rating/star-rating/star-rating.component.ts
  src/main/webapp/app/overview/course-dashboard/course-dashboard.component.html
  src/main/webapp/i18n/de/courseStudentDashboard.json
  src/main/webapp/i18n/en/courseStudentDashboard.json
Labels: client

#8540 `Programming exercises`: Improve the diff viewer with Monaco's built-in code diff
  src/main/webapp/app/detail-overview-list/detail-overview-list.component.scss
  src/main/webapp/app/detail-overview-list/detail-overview-list.component.ts
  src/main/webapp/app/exercises/programming/hestia/git-diff-report/git-diff-file-panel-title.component.html
  src/main/webapp/app/exercises/programming/hestia/git-diff-report/git-diff-file-panel-title.component.scss
  src/main/webapp/app/exercises/programming/hestia/git-diff-report/git-diff-file-panel-title.component.ts
  src/main/webapp/app/exercises/programming/hestia/git-diff-report/git-diff-file-panel.component.html
  src/main/webapp/app/exercises/programming/hestia/git-diff-report/git-diff-file-panel.component.ts
  src/main/webapp/app/exercises/programming/hestia/git-diff-report/git-diff-file.component.html
  src/main/webapp/app/exercises/programming/hestia/git-diff-report/git-diff-file.component.scss
  src/main/webapp/app/exercises/programming/hestia/git-diff-report/git-diff-file.component.ts
  src/main/webapp/app/exercises/programming/hestia/git-diff-report/git-diff-report.component.html
  src/main/webapp/app/exercises/programming/hestia/git-diff-report/git-diff-report.component.ts
  src/main/webapp/app/exercises/programming/hestia/git-diff-report/git-diff-report.module.ts
  src/main/webapp/app/shared/monaco-editor/monaco-diff-editor.component.scss
  src/main/webapp/app/shared/monaco-editor/monaco-diff-editor.component.ts
  src/main/webapp/app/shared/monaco-editor/monaco-editor.module.ts
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/de/repository.json
  src/main/webapp/i18n/en/programmingExercise.json
  src/main/webapp/i18n/en/repository.json
  src/test/javascript/spec/component/hestia/git-diff-report/git-diff-file-panel-title.component.spec.ts
  src/test/javascript/spec/component/hestia/git-diff-report/git-diff-file-panel.component.spec.ts
  src/test/javascript/spec/component/hestia/git-diff-report/git-diff-file.component.spec.ts
  src/test/javascript/spec/component/hestia/git-diff-report/git-diff-report.component.spec.ts
  src/test/javascript/spec/component/shared/monaco-editor/monaco-diff-editor.component.spec.ts
Labels: tests, ready for review, client

#8475 `Adaptive learning`: Enable users to view standardized competency details on json import
  src/main/webapp/app/admin/standardized-competencies/import/admin-import-standardized-competencies.component.html
  src/main/webapp/app/admin/standardized-competencies/import/admin-import-standardized-competencies.component.ts
  src/main/webapp/app/shared/standardized-competencies/knowledge-area-tree.component.html
  src/test/javascript/spec/component/standardized-competencies/admin-import-standardized-competencies.spec.ts
Labels: enhancement, tests, client, small, component:AdaptiveLearning

#8584 `Development`: Update naming convention in server and client coding guidelines
  docs/dev/guidelines/client.rst
  docs/dev/guidelines/server.rst
Labels: documentation, small, ready to merge

#8577 `Communication`: Enable code of conduct when communication is enabled
  src/main/webapp/app/course/manage/course-update.component.html
  src/test/javascript/spec/component/course/course-update.component.spec.ts
Labels: tests, client, ready to merge

#8543 `Integrated code lifecycle`: Offer deletion of build plans when using Jenkins
  src/main/webapp/app/exam/manage/exercise-groups/exercise-groups.component.html
  src/main/webapp/app/exam/manage/exercise-groups/exercise-groups.component.ts
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.html
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.ts
  src/main/webapp/app/exercises/programming/manage/programming-exercise.component.html
  src/main/webapp/app/exercises/programming/manage/programming-exercise.component.ts
  src/main/webapp/app/exercises/shared/exam-exercise-row-buttons/exam-exercise-row-buttons.component.html
  src/main/webapp/app/exercises/shared/exam-exercise-row-buttons/exam-exercise-row-buttons.component.ts
Labels: client, component:Programming, jenkins/gitlab, small, bugfix, ready to merge, component:integrated code lifecycle

#8596 `Development`: Fix link to PR naming convention in template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: chore, small, ready to merge

#8546 `Integrated code lifecycle`: Simplify repository handling for commit history
  src/main/java/de/tum/in/www1/artemis/domain/Repository.java
  src/main/java/de/tum/in/www1/artemis/repository/ProgrammingExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ResultService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/GitService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localvc/LocalVCServletService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/pyris/PyrisDTOService.java
  src/main/java/de/tum/in/www1/artemis/service/hestia/TestwiseCoverageService.java
  src/main/java/de/tum/in/www1/artemis/service/hestia/behavioral/BehavioralTestCaseService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/CommitHistoryService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/JavaTemplateUpgradeService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseImportFromFileService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/RepositoryAccessService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/RepositoryParticipationService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/RepositoryService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/hestia/ProgrammingExerciseGitDiffReportResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/programming/ProgrammingExerciseParticipationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/programming/ProgrammingExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/repository/RepositoryProgrammingExerciseParticipationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/repository/RepositoryResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/repository/TestRepositoryResource.java
  src/main/webapp/app/exercises/programming/manage/services/programming-exercise-participation.service.ts
  src/main/webapp/app/exercises/programming/manage/services/programming-exercise.service.ts
  src/main/webapp/app/localvc/commit-details-view/commit-details-view.component.ts
  src/test/java/de/tum/in/www1/artemis/architecture/ResourceArchitectureTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programming/ProgrammingExerciseGitIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programming/ProgrammingExerciseIntegrationTestService.java
  src/test/java/de/tum/in/www1/artemis/exercise/programming/RepositoryIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programming/TestRepositoryResourceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/hestia/ProgrammingExerciseGitDiffReportIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/RepositoryAccessServiceTest.java
  src/test/java/de/tum/in/www1/artemis/util/GitUtilService.java
  src/test/java/de/tum/in/www1/artemis/util/HestiaUtilTestService.java
  src/test/java/de/tum/in/www1/artemis/util/LocalRepository.java
  src/test/javascript/spec/component/localvc/commit-details-view.component.spec.ts
  src/test/javascript/spec/component/modeling-editor/modeling-editor.component.spec.ts
  src/test/javascript/spec/service/programming-exercise-participation.service.spec.ts
  src/test/javascript/spec/service/programming-exercise.service.spec.ts
  src/test/resources/config/application-artemis.yml
Labels: tests, server, client, ready to merge

#8617 `Development`: Bump hibernate version
  gradle.properties
  src/main/java/de/tum/in/www1/artemis/repository/StudentParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/metis/conversation/OneToOneChatRepository.java
  src/test/java/de/tum/in/www1/artemis/metis/OneToOneChatIntegrationTest.java
Labels: tests, server, ready to merge

#8451 `Exam mode`: Change test case default visibility to after results release date
  docs/dev/cypress.rst
  docs/user/exams/instructor/add_exercises.png
  docs/user/exams/instructors_guide.rst
  src/main/java/de/tum/in/www1/artemis/domain/ProgrammingExercise.java
  src/main/java/de/tum/in/www1/artemis/service/exam/ExamImportService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseFeedbackCreationService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseImportService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseTestCaseService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/programming/ProgrammingExerciseExportImportResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/programming/ProgrammingExerciseTestCaseResource.java
  src/main/webapp/app/exam/manage/student-exams/student-exam-detail.component.html
  src/main/webapp/app/exam/manage/student-exams/student-exam-detail.component.ts
  src/main/webapp/app/exercises/programming/manage/grading/tasks/programming-exercise-grading-tasks-table.component.html
  src/main/webapp/app/exercises/programming/manage/grading/tasks/programming-exercise-grading-tasks-table.component.ts
  src/main/webapp/app/exercises/programming/manage/grading/tasks/programming-exercise-task/programming-exercise-task.component.html
  src/main/webapp/app/exercises/programming/manage/grading/tasks/programming-exercise-task/programming-exercise-task.component.ts
  src/main/webapp/app/exercises/programming/manage/services/programming-exercise.service.ts
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.html
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.ts
  src/main/webapp/app/exercises/programming/manage/update/update-components/programming-exercise-grading.component.html
  src/main/webapp/app/exercises/programming/manage/update/update-components/programming-exercise-grading.component.ts
  src/main/webapp/app/exercises/programming/manage/update/update-components/programming-exercise-information.component.ts
  src/main/webapp/app/exercises/programming/shared/lifecycle/programming-exercise-lifecycle.component.html
  src/main/webapp/app/exercises/programming/shared/lifecycle/programming-exercise-lifecycle.component.ts
  src/main/webapp/app/shared/util/utils.ts
  src/main/webapp/app/types/programming-exercises.ts
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/de/programmingExerciseTestCase.json
  src/main/webapp/i18n/en/programmingExercise.json
  src/main/webapp/i18n/en/programmingExerciseTestCase.json
  src/test/cypress/e2e/exam/ExamAssessment.cy.ts
  src/test/cypress/e2e/exam/ExamDateVerification.cy.ts
  src/test/cypress/support/pageobjects/course/CoursesPage.ts
  src/test/cypress/support/pageobjects/exam/ExamExerciseGroupCreationPage.ts
  src/test/cypress/support/requests/ExerciseAPIRequests.ts
  src/test/java/de/tum/in/www1/artemis/exercise/programming/ProgrammingExerciseTestCaseServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseFeedbackCreationServiceTest.java
  src/test/javascript/spec/component/programming-exercise/programming-exercise-lifecycle.component.spec.ts
  src/test/javascript/spec/util/shared/utils.spec.ts
  src/test/playwright/support/pageobjects/exam/ExamExerciseGroupCreationPage.ts
  src/test/playwright/support/requests/ExerciseAPIRequests.ts
  supporting_scripts/course-setup-quickstart/create_course.py
Labels: tests, server, client, documentation, component:Programming, component:Exam Mode, cypress, ready to merge

#8608 `Integrated code lifecycle`: Add duration in build queue view
  src/main/webapp/app/localci/build-queue/build-queue.component.html
  src/main/webapp/app/localci/build-queue/build-queue.component.ts
  src/test/javascript/spec/component/localci/build-queue/build-queue.component.spec.ts
Labels: tests, ready for review, client, small, ready to merge, deployment-error, component:integrated code lifecycle

#8620 `Development`: Update dependencies and improve server test output
  build.gradle
  gradle.properties
Labels: ready to merge

#8587 `Integrated code lifecycle`: Add timeout when stopping hanging containers in edge cases
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/buildagent/BuildJobContainerService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/buildagent/BuildJobManagementService.java
Labels: ready for review, server, small, component:integrated code lifecycle

#8568 `Development`: Fix flaky server test
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCITriggerService.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalCIIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalVCLocalCITestService.java
Labels: tests, ready for review, server, small, component:integrated code lifecycle

#8599 `Development`: Add multi node e2e tests with playwright
  .ci/E2E-tests/cleanup.sh
  .ci/E2E-tests/execute.sh
  docker/cypress-E2E-tests-multi-node.yml
  docker/playwright-E2E-tests-multi-node.yml
  src/test/playwright/support/users.ts
Labels: tests, ready for review, priority:high, docker

#8554 `Development`: Add multiple cards as user interface components for the new sidebar
  src/main/webapp/app/overview/course-overview.service.ts
  src/main/webapp/app/shared/sidebar/sidebar-accordion/sidebar-accordion.component.html
  src/main/webapp/app/shared/sidebar/sidebar-card-large/sidebar-card-large.component.html
  src/main/webapp/app/shared/sidebar/sidebar-card-large/sidebar-card-large.component.scss
  src/main/webapp/app/shared/sidebar/sidebar-card-large/sidebar-card-large.component.ts
  src/main/webapp/app/shared/sidebar/sidebar-card-medium/sidebar-card-medium.component.html
  src/main/webapp/app/shared/sidebar/sidebar-card-medium/sidebar-card-medium.component.scss
  src/main/webapp/app/shared/sidebar/sidebar-card-medium/sidebar-card-medium.component.ts
  src/main/webapp/app/shared/sidebar/sidebar-card-small/sidebar-card-small.component.html
  src/main/webapp/app/shared/sidebar/sidebar-card-small/sidebar-card-small.component.scss
  src/main/webapp/app/shared/sidebar/sidebar-card-small/sidebar-card-small.component.ts
  src/main/webapp/app/shared/sidebar/sidebar-card.directive.ts
  src/main/webapp/app/shared/sidebar/sidebar.component.html
  src/main/webapp/app/shared/sidebar/sidebar.module.ts
  src/main/webapp/app/types/sidebar.ts
  src/test/javascript/spec/component/shared/sidebar/sidebar-accordion.component.spec.ts
  src/test/javascript/spec/component/shared/sidebar/sidebar-card-item.component.spec.ts
  src/test/javascript/spec/component/shared/sidebar/sidebar-card-large.component.spec.ts
  src/test/javascript/spec/component/shared/sidebar/sidebar-card-medium.component.spec.ts
  src/test/javascript/spec/component/shared/sidebar/sidebar-card-small.component.spec.ts
  src/test/javascript/spec/component/shared/sidebar/sidebar.component.spec.ts
  src/test/javascript/spec/directive/sidebar-card.directive.spec.ts
Labels: tests, client, chore, priority:high, ready to merge

#8120 `Exam mode`: Display assessment check table in ExamChecklist component
  src/main/java/de/tum/in/www1/artemis/repository/StudentExamRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/SubmissionRepository.java
  src/main/java/de/tum/in/www1/artemis/service/exam/ExamService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/StudentExamResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/ExamChecklistDTO.java
  src/main/webapp/app/entities/exam-checklist.model.ts
  src/main/webapp/app/exam/manage/exams/exam-checklist-component/exam-checklist.component.html
  src/main/webapp/app/exam/manage/exams/exam-checklist-component/exam-checklist.component.ts
  src/main/webapp/app/exam/manage/student-exams/student-exam.service.ts
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/en/exam.json
  src/test/java/de/tum/in/www1/artemis/exam/ExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exam/StudentExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/exam/ExamServiceTest.java
  src/test/javascript/spec/component/exam/manage/exams/exam-checklist.component.spec.ts
Labels: tests, ready for review, server, client, too-long-open

#8468 `Development`: Implement getBuildStatus for Local CI
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/SharedQueueManagementService.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalCIServiceTest.java
Labels: tests, ready for review, server

#8628 `Programming exercises`: Fix an issue when re-evaluating results
  src/main/java/de/tum/in/www1/artemis/domain/Feedback.java
  src/test/java/de/tum/in/www1/artemis/exercise/programming/ProgrammingExerciseGradingServiceTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programming/ProgrammingExerciseUtilService.java
Labels: tests, ready for review, server, component:Programming, small, bugfix

#8123 `Exam mode`: Use events instead of notifications for exercise updates
  src/main/java/de/tum/in/www1/artemis/domain/exam/event/ProblemStatementUpdateEvent.java
  src/main/java/de/tum/in/www1/artemis/service/ExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/exam/ExamLiveEventsService.java
  src/main/java/de/tum/in/www1/artemis/service/learningpath/LearningPathRecommendationService.java
  src/main/java/de/tum/in/www1/artemis/service/notifications/GroupNotificationService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/FileUploadExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/examevent/ExamLiveEventDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/examevent/ProblemStatementUpdateEventDTO.java
  src/main/resources/config/liquibase/changelog/20240418201711_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/exam/participate/events/exam-live-events-button.component.ts
  src/main/webapp/app/exam/participate/events/exam-live-events-overlay.component.html
  src/main/webapp/app/exam/participate/events/exam-live-events-overlay.component.ts
  src/main/webapp/app/exam/participate/exam-participation-live-events.service.ts
  src/main/webapp/app/exam/participate/exam-participation.component.ts
  src/main/webapp/app/exam/shared/events/exam-live-event.component.html
  src/main/webapp/app/exam/shared/events/exam-live-event.component.scss
  src/main/webapp/app/exam/shared/events/exam-live-event.component.ts
  src/main/webapp/app/shared/notification/notification-popup/notification-popup.component.html
  src/main/webapp/app/shared/notification/notification-popup/notification-popup.component.ts
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/en/exam.json
  src/test/java/de/tum/in/www1/artemis/AbstractSpringIntegrationIndependentTest.java
  src/test/java/de/tum/in/www1/artemis/AbstractSpringIntegrationJenkinsGitlabTest.java
  src/test/java/de/tum/in/www1/artemis/AbstractSpringIntegrationLocalCILocalVCTest.java
  src/test/java/de/tum/in/www1/artemis/exam/ExamUtilService.java
  src/test/java/de/tum/in/www1/artemis/exercise/fileupload/FileUploadExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/modeling/ModelingExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programming/ProgrammingExerciseTest.java
  src/test/java/de/tum/in/www1/artemis/notification/GroupNotificationServiceTest.java
  src/test/java/de/tum/in/www1/artemis/text/TextExerciseIntegrationTest.java
  src/test/javascript/spec/component/exam/participate/events/exam-live-events-overlay.component.spec.ts
  src/test/javascript/spec/component/exam/participate/exam-participation.component.spec.ts
  src/test/javascript/spec/component/exam/shared/events/exam-live-event.component.spec.ts
  src/test/javascript/spec/component/shared/notification/notification-popup.component.spec.ts
  src/test/javascript/spec/service/exam-participation-live-events.service.spec.ts
Labels: tests, ready for review, server, client, database, too-long-open

#8640 `Programming exercises`: Fix recent build results when switching between exercises
  src/main/webapp/app/shared/sidebar/sidebar-card-medium/sidebar-card-medium.component.html
Labels: client, bugfix

#8642 `Quiz exercises`: Navigate back to exercise overview correctly during quiz creation
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise-update.component.ts
Labels: client, bugfix

#8635 `Development`: Add support for multiple Artemis instances in Athena
  src/main/java/de/tum/in/www1/artemis/config/auth/AthenaAuthorizationInterceptor.java
Labels: ready for review, server

#8634 `Programming exercises`: Fix diff view for renamed files
  src/main/java/de/tum/in/www1/artemis/web/rest/GitDiffReportParserService.java
  src/main/webapp/app/exercises/programming/hestia/git-diff-report/git-diff-file.component.html
  src/main/webapp/app/exercises/programming/hestia/git-diff-report/git-diff-file.component.ts
  src/main/webapp/app/exercises/programming/hestia/git-diff-report/git-diff-report.component.html
  src/main/webapp/app/exercises/programming/hestia/git-diff-report/git-diff-report.component.ts
  src/main/webapp/i18n/de/repository.json
  src/main/webapp/i18n/en/repository.json
  src/test/java/de/tum/in/www1/artemis/hestia/ProgrammingExerciseGitDiffReportIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/HestiaUtilTestService.java
  src/test/javascript/spec/component/hestia/git-diff-report/git-diff-report.component.spec.ts
Labels: tests, ready for review, server, client

#8372 `Development`: Use object mapper and streams to improve and simplify the code
  src/main/java/de/tum/in/www1/artemis/domain/Imprint.java
  src/main/java/de/tum/in/www1/artemis/domain/LegalDocument.java
  src/main/java/de/tum/in/www1/artemis/domain/PrivacyStatement.java
  src/main/java/de/tum/in/www1/artemis/service/LegalDocumentService.java
  src/main/java/de/tum/in/www1/artemis/service/util/structureoraclegenerator/JavaClassDiff.java
  src/main/java/de/tum/in/www1/artemis/service/util/structureoraclegenerator/JavaClassDiffSerializer.java
  src/main/java/de/tum/in/www1/artemis/service/util/structureoraclegenerator/OracleGenerator.java
  src/main/java/de/tum/in/www1/artemis/service/util/structureoraclegenerator/SerializerUtil.java
  src/main/java/de/tum/in/www1/artemis/web/rest/admin/AdminImprintResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/admin/AdminPrivacyStatementResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/ImprintDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/LegalDocument.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/PrivacyStatementDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/open/PublicImprintResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/open/PublicPrivacyStatementResource.java
  src/main/webapp/app/core/legal/imprint.component.ts
  src/main/webapp/app/core/legal/privacy.component.ts
  src/main/webapp/app/entities/legal-document.model.ts
  src/test/java/de/tum/in/www1/artemis/ImprintResourceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/PrivacyStatementResourceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/architecture/ArchitectureTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/modeling/ModelingExerciseUtilService.java
  src/test/java/de/tum/in/www1/artemis/exercise/modeling/ModelingSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programming/ProgrammingSubmissionAndResultGitlabJenkinsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programming/ProgrammingSubmissionConstants.java
Labels: tests, server, client, ready to merge, too-long-open

#8462 `Development`: Improve XML parsing
  build.gradle
  src/main/java/de/tum/in/www1/artemis/config/localvcci/LocalCIConfiguration.java
  src/main/java/de/tum/in/www1/artemis/domain/enumeration/StaticCodeAnalysisTool.java
  src/main/java/de/tum/in/www1/artemis/repository/StaticCodeAnalysisCategoryRepository.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/GitService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsXmlFileUtils.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/build_plan/JenkinsBuildPlanCreator.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/build_plan/JenkinsBuildPlanService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/jobs/JenkinsJobService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/buildagent/BuildJobExecutionService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/buildagent/TestResultXmlParser.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/scaparser/ReportParser.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/scaparser/strategy/CheckstyleFormatParser.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/scaparser/strategy/CheckstyleParser.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/scaparser/strategy/PMDCPDParser.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/scaparser/strategy/PMDParser.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/scaparser/strategy/ParserContext.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/scaparser/strategy/ParserPolicy.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/scaparser/strategy/ParserStrategy.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/scaparser/strategy/ParserUtils.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/scaparser/strategy/SpotbugsParser.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/scaparser/utils/ReportUtils.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/scaparser/utils/XmlUtils.java
  src/main/java/de/tum/in/www1/artemis/service/dto/StaticCodeAnalysisIssue.java
  src/main/java/de/tum/in/www1/artemis/service/dto/StaticCodeAnalysisReportDTO.java
  src/main/java/de/tum/in/www1/artemis/service/export/ProgrammingExerciseExportService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseFeedbackCreationService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseGradingService.java
  src/test/java/de/tum/in/www1/artemis/exercise/programming/ProgrammingExerciseFactory.java
  src/test/java/de/tum/in/www1/artemis/exercise/programming/ProgrammingExerciseGradingServiceTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programming/ProgrammingExerciseTestService.java
  src/test/java/de/tum/in/www1/artemis/exercise/programming/StaticCodeAnalysisIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/JenkinsJobServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/connectors/jenkins/jobs/JenkinsJobPermissionsUtilsTest.java
  src/test/java/de/tum/in/www1/artemis/service/connectors/localci/buildagent/TestResultXmlParserTest.java
  src/test/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseFeedbackCreationServiceTest.java
  src/test/java/de/tum/in/www1/artemis/staticcodeanalysis/StaticCodeAnalysisParserUnitTest.java
  src/test/resources/test-data/static-code-analysis/expected/checkstyle.txt
  src/test/resources/test-data/static-code-analysis/expected/invalid_name.txt
  src/test/resources/test-data/static-code-analysis/expected/invalid_xml.txt
  src/test/resources/test-data/static-code-analysis/expected/pmd_cpd.txt
  src/test/resources/test-data/test-results/java-gradle/faulty-files/TEST-testpackage.MyTest.xml
Labels: tests, ready for review, server

#8643 `Development`: Add exercise information to metrics endpoint
  src/main/java/de/tum/in/www1/artemis/repository/metrics/ExerciseMetricsRepository.java
  src/main/java/de/tum/in/www1/artemis/service/metrics/MetricsService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/metrics/ExerciseInformationDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/metrics/ExerciseStudentMetricsDTO.java
Labels: ready for review, server

#8646 `Development`: Move rotate icon css to global style
  src/main/webapp/app/admin/standardized-competencies/import/admin-import-standardized-competencies.component.html
  src/main/webapp/app/admin/standardized-competencies/import/admin-import-standardized-competencies.component.scss
  src/main/webapp/app/admin/standardized-competencies/import/admin-import-standardized-competencies.component.ts
  src/main/webapp/app/course/competencies/generate-competencies/competency-recommendation-detail.component.html
  src/main/webapp/app/course/competencies/generate-competencies/competency-recommendation-detail.component.scss
  src/main/webapp/app/exam/participate/summary/collapsible-card.component.scss
  src/main/webapp/app/exam/participate/summary/collapsible-card.component.ts
  src/main/webapp/app/overview/course-overview.scss
  src/main/webapp/app/overview/discussion-section/discussion-section.component.scss
  src/main/webapp/app/overview/header-course.component.scss
  src/main/webapp/app/shared/sidebar/sidebar-accordion/sidebar-accordion.component.html
  src/main/webapp/app/shared/sidebar/sidebar-accordion/sidebar-accordion.component.scss
  src/main/webapp/app/shared/standardized-competencies/knowledge-area-tree.component.html
  src/main/webapp/app/shared/standardized-competencies/knowledge-area-tree.component.scss
  src/main/webapp/content/scss/global.scss
Labels: client, chore

#8503 `General`: Add placeholder message if student isn't enrolled in any courses
  src/main/webapp/app/overview/courses.component.html
  src/main/webapp/i18n/de/student-dashboard.json
  src/main/webapp/i18n/en/student-dashboard.json
Labels: enhancement, ready for review, client, small, user interface, too-long-open

#8550 `Development`: Add documentation about the usage of TreeSet in domain objects
  docs/dev/guidelines/database.rst
Labels: documentation, stale

#8652 `Development`: Fix version table check for MySQL
  src/main/java/de/tum/in/www1/artemis/config/migration/DatabaseMigration.java
Labels: server

#8651 `Learning analytics`: Improve student course dashboard
  src/main/java/de/tum/in/www1/artemis/repository/metrics/LectureUnitMetricsRepository.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/metrics/LectureUnitInformationDTO.java
  src/main/webapp/app/course/competencies/competency-accordion/competency-accordion.component.html
  src/main/webapp/app/course/competencies/competency-accordion/competency-accordion.component.scss
  src/main/webapp/app/course/competencies/competency-accordion/competency-accordion.component.ts
  src/main/webapp/app/entities/student-metrics.model.ts
  src/main/webapp/app/overview/course-dashboard/course-dashboard-guard.service.ts
  src/main/webapp/app/overview/course-dashboard/course-dashboard.component.html
  src/main/webapp/app/overview/course-dashboard/course-dashboard.component.ts
  src/main/webapp/app/overview/course-dashboard/course-dashboard.service.ts
  src/main/webapp/app/overview/course-dashboard/course-exercise-lateness/course-exercise-lateness.component.html
  src/main/webapp/app/overview/course-dashboard/course-exercise-performance/course-exercise-performance.component.html
  src/main/webapp/app/overview/courses-routing.module.ts
  src/main/webapp/i18n/de/courseStudentDashboard.json
  src/main/webapp/i18n/de/studentAnalyticsDashboard.json
  src/main/webapp/i18n/en/courseStudentDashboard.json
  src/main/webapp/i18n/en/studentAnalyticsDashboard.json
Labels: tests, ready for review, server, client, database

#8650 `Adaptive learning`: Add sub-system for judgement of learning rating
  src/main/java/de/tum/in/www1/artemis/domain/competency/Competency.java
  src/main/java/de/tum/in/www1/artemis/domain/competency/CompetencyJOL.java
  src/main/java/de/tum/in/www1/artemis/repository/competency/CompetencyJOLRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/metrics/CompetencyMetricsRepository.java
  src/main/java/de/tum/in/www1/artemis/service/competency/CompetencyJOLService.java
  src/main/java/de/tum/in/www1/artemis/service/metrics/MetricsService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CompetencyResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/metrics/CompetencyStudentMetricsDTO.java
  src/main/resources/config/liquibase/changelog/20240522170000_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/test/java/de/tum/in/www1/artemis/competency/CompetencyJOLIntegrationTest.java
Labels: tests, ready for review, server, client, database

#8657 `Learning analytics`: Functional judgement of learning
  src/main/webapp/app/course/competencies/competency-accordion/competency-accordion.component.html
  src/main/webapp/app/course/competencies/competency-accordion/competency-accordion.component.scss
  src/main/webapp/app/course/competencies/competency-accordion/competency-accordion.component.ts
  src/main/webapp/app/course/competencies/judgement-of-learning-rating/judgement-of-learning-rating.component.html
  src/main/webapp/app/course/competencies/judgement-of-learning-rating/judgement-of-learning-rating.component.ts
  src/main/webapp/app/course/competencies/judgement-of-learning-rating/judgement-of-learning.service.ts
  src/main/webapp/app/entities/student-metrics.model.ts
  src/main/webapp/i18n/de/courseStudentDashboard.json
  src/main/webapp/i18n/de/studentAnalyticsDashboard.json
  src/main/webapp/i18n/en/courseStudentDashboard.json
  src/main/webapp/i18n/en/studentAnalyticsDashboard.json
Labels: tests, ready for review, server, client, database

#8616 `Adaptive learning`: Add export of standardized competency catalog to a json file
  src/main/java/de/tum/in/www1/artemis/service/competency/StandardizedCompetencyService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/admin/AdminStandardizedCompetencyResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/standardizedCompetency/KnowledgeAreasForImportDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/standardizedCompetency/SourceDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/standardizedCompetency/StandardizedCompetencyCatalogDTO.java
  src/main/webapp/app/admin/standardized-competencies/admin-standardized-competency.service.ts
  src/main/webapp/app/admin/standardized-competencies/import/admin-import-standardized-competencies.component.ts
  src/main/webapp/app/admin/standardized-competencies/standardized-competency-management.component.html
  src/main/webapp/app/admin/standardized-competencies/standardized-competency-management.component.ts
  src/main/webapp/i18n/de/standardizedCompetency.json
  src/main/webapp/i18n/en/standardizedCompetency.json
  src/test/java/de/tum/in/www1/artemis/competency/StandardizedCompetencyIntegrationTest.java
  src/test/javascript/spec/component/standardized-competencies/admin-import-standardized-competencies.spec.ts
  src/test/javascript/spec/component/standardized-competencies/admin-standardized-competency.service.spec.ts
Labels: tests, server, client, component:AdaptiveLearning

#8638 `Adaptive learning`: Add source display to standardized competencies
  src/main/java/de/tum/in/www1/artemis/web/rest/competency/StandardizedCompetencyResource.java
  src/main/webapp/app/admin/standardized-competencies/import/admin-import-standardized-competencies.component.html
  src/main/webapp/app/admin/standardized-competencies/import/admin-import-standardized-competencies.component.ts
  src/main/webapp/app/admin/standardized-competencies/standardized-competency-edit.component.html
  src/main/webapp/app/admin/standardized-competencies/standardized-competency-edit.component.ts
  src/main/webapp/app/admin/standardized-competencies/standardized-competency-management.component.html
  src/main/webapp/app/admin/standardized-competencies/standardized-competency-management.component.ts
  src/main/webapp/app/course/competencies/import-standardized-competencies/course-import-standardized-competencies.component.html
  src/main/webapp/app/course/competencies/import-standardized-competencies/course-import-standardized-competencies.component.ts
  src/main/webapp/app/entities/competency/standardized-competency.model.ts
  src/main/webapp/app/shared/standardized-competencies/standardized-competency-detail.component.html
  src/main/webapp/app/shared/standardized-competencies/standardized-competency-detail.component.ts
  src/main/webapp/app/shared/standardized-competencies/standardized-competency.service.ts
  src/main/webapp/i18n/de/standardizedCompetency.json
  src/main/webapp/i18n/en/standardizedCompetency.json
  src/test/java/de/tum/in/www1/artemis/competency/StandardizedCompetencyIntegrationTest.java
  src/test/javascript/spec/component/standardized-competencies/admin-import-standardized-competencies.spec.ts
  src/test/javascript/spec/component/standardized-competencies/course-import-standardized-competencies.spec.ts
  src/test/javascript/spec/component/standardized-competencies/detail/standardized-competency-detail-stub.component.ts
  src/test/javascript/spec/component/standardized-competencies/detail/standardized-competency-edit-stub.ts
  src/test/javascript/spec/component/standardized-competencies/detail/standardized-competency-edit.spec.ts
  src/test/javascript/spec/component/standardized-competencies/standardized-competency-management.spec.ts
  src/test/javascript/spec/component/standardized-competencies/standardized-competency.service.spec.ts
Labels: tests, server, client, component:AdaptiveLearning

#8659 `Adaptive learning`: Add get endpoints to fetch judgement of learning values
  src/main/java/de/tum/in/www1/artemis/repository/CompetencyRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/competency/CompetencyJOLRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/competency/JOLValueEntry.java
  src/main/java/de/tum/in/www1/artemis/service/competency/CompetencyJOLService.java
  src/main/java/de/tum/in/www1/artemis/service/competency/CompetencyService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CompetencyResource.java
  src/test/java/de/tum/in/www1/artemis/competency/CompetencyJOLIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/competency/CompetencyUtilService.java
Labels: tests, server, client, database

#8660 `Learning analytics`: Hide competencies when judgement of learning is active
  src/main/webapp/app/course/competencies/competency-accordion/competency-accordion.component.html
  src/main/webapp/app/course/competencies/competency-accordion/competency-accordion.component.scss
  src/main/webapp/app/course/competencies/competency-accordion/competency-accordion.component.ts
  src/main/webapp/app/course/competencies/competency-card/competency-card.component.html
  src/main/webapp/app/course/competencies/competency-card/competency-card.component.ts
  src/main/webapp/app/course/competencies/competency-rings/competency-rings.component.html
  src/main/webapp/app/course/competencies/competency-rings/competency-rings.component.scss
  src/main/webapp/app/course/competencies/competency-rings/competency-rings.component.ts
  src/main/webapp/app/course/competencies/competency.service.ts
  src/main/webapp/app/course/competencies/judgement-of-learning-rating/judgement-of-learning-rating.component.html
  src/main/webapp/app/course/competencies/judgement-of-learning-rating/judgement-of-learning-rating.component.ts
  src/main/webapp/app/entities/course.model.ts
  src/main/webapp/app/overview/course-competencies/course-competencies-details.component.html
  src/main/webapp/app/overview/course-competencies/course-competencies-details.component.ts
  src/main/webapp/app/overview/course-competencies/course-competencies-details.module.ts
  src/main/webapp/app/overview/course-competencies/course-competencies.component.html
  src/main/webapp/app/overview/course-competencies/course-competencies.component.ts
  src/main/webapp/i18n/de/competency.json
  src/main/webapp/i18n/de/studentAnalyticsDashboard.json
  src/main/webapp/i18n/en/competency.json
  src/main/webapp/i18n/en/studentAnalyticsDashboard.json
Labels: tests, server, client

#8110 `Integrated code lifecycle`: Add option to clone repositories using SSH
  .idea/runConfigurations/Artemis__Server__LocalVC___LocalCI_.xml
  build.gradle
  docker/artemis.yml
  docker/nginx.yml
  docker/nginx/artemis-ssh-upstream-multi-node.conf
  docker/nginx/artemis-ssh-upstream-single-node.conf
  docker/nginx/nginx.conf
  docker/test-server-multi-node-mysql-localci.yml
  docker/test-server-multi-node-postgresql-localci.yml
  docs/admin/setup/security.rst
  src/main/java/de/tum/in/www1/artemis/config/Constants.java
  src/main/java/de/tum/in/www1/artemis/config/localvcci/JGitServletConfiguration.java
  src/main/java/de/tum/in/www1/artemis/config/localvcci/service/ArtemisGitServletService.java
  src/main/java/de/tum/in/www1/artemis/config/localvcci/ssh/HashUtils.java
  src/main/java/de/tum/in/www1/artemis/config/localvcci/ssh/MultipleHostKeyProvider.java
  src/main/java/de/tum/in/www1/artemis/config/localvcci/ssh/SshConfiguration.java
  src/main/java/de/tum/in/www1/artemis/config/localvcci/ssh/SshConstants.java
  src/main/java/de/tum/in/www1/artemis/config/localvcci/ssh/SshGitCommand.java
  src/main/java/de/tum/in/www1/artemis/config/localvcci/ssh/service/GitPublickeyAuthenticatorService.java
  src/main/java/de/tum/in/www1/artemis/config/localvcci/ssh/service/SshGitCommandFactoryService.java
  src/main/java/de/tum/in/www1/artemis/config/localvcci/ssh/service/SshGitLocationResolverService.java
  src/main/java/de/tum/in/www1/artemis/domain/Result.java
  src/main/java/de/tum/in/www1/artemis/domain/User.java
  src/main/java/de/tum/in/www1/artemis/repository/UserRepository.java
  src/main/java/de/tum/in/www1/artemis/service/competency/CompetencyService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localvc/LocalVCInfoContributor.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localvc/LocalVCPrePushHook.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localvc/LocalVCRepositoryUri.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localvc/LocalVCService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localvc/LocalVCServletService.java
  src/main/java/de/tum/in/www1/artemis/service/dto/UserDTO.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseGradingService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/UserResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/open/PublicAccountResource.java
  src/main/resources/config/application-artemis.yml
  src/main/resources/config/liquibase/changelog/20240522114700_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/core/auth/account.service.ts
  src/main/webapp/app/core/user/user.model.ts
  src/main/webapp/app/shared/user-settings/account-information/account-information.component.html
  src/main/webapp/app/shared/user-settings/account-information/account-information.component.ts
  src/main/webapp/app/shared/user-settings/user-settings-container/user-settings-container.component.ts
  src/main/webapp/i18n/de/userSettings.json
  src/main/webapp/i18n/en/userSettings.json
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalCIConfigurationTest.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalVCInfoContributorTest.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalVCIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalVCSshIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/localvcci/MultipleHostKeyProviderTest.java
  src/test/java/de/tum/in/www1/artemis/service/ParticipationServiceTest.java
  src/test/javascript/spec/component/account/account-information.component.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-account.service.ts
Labels: tests, server, client, documentation, database, config-change, docker, too-long-open

#8663 `Development`: Update server dependencies
  build.gradle
  gradle.properties
  src/main/java/de/tum/in/www1/artemis/config/MessageConvertersConfiguration.java
  src/main/java/de/tum/in/www1/artemis/config/PublicResourcesConfiguration.java
  src/main/java/de/tum/in/www1/artemis/config/SecurityConfiguration.java
  src/main/java/de/tum/in/www1/artemis/config/WebConfigurer.java
  src/main/java/de/tum/in/www1/artemis/service/FileService.java
  src/main/resources/config/application.yml
  src/test/java/de/tum/in/www1/artemis/exercise/fileupload/FileUploadExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/fileupload/FileUploadSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/modeling/ModelingExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/modeling/ModelingSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programming/ProgrammingExerciseIntegrationTestService.java
  src/test/java/de/tum/in/www1/artemis/exercise/programming/ProgrammingSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/lecture/OnlineUnitIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/participation/ParticipationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/ExerciseDateServiceTest.java
  src/test/java/de/tum/in/www1/artemis/text/TextExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/text/TextSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/TestResourceUtils.java
Labels: tests, ready for review, server, config-change

#8666 `Development`: Fix playwright e2e multi-node compose file
  docker/playwright-E2E-tests-multi-node.yml
  src/main/java/de/tum/in/www1/artemis/service/connectors/localvc/LocalVCInfoContributor.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalVCInfoContributorTest.java
Labels: tests, ready for review, server, small, docker

#8627 `Development`: Update playwright e2e test dependencies
  docker/playwright.yml
  src/test/playwright/package-lock.json
  src/test/playwright/package.json
Labels: tests, ready to merge, docker

#8559 `Development`: Add e2e playwright tests for programming exercise team participation
  src/test/playwright/e2e/exercise/programming/ProgrammingExerciseAssessment.spec.ts
  src/test/playwright/e2e/exercise/programming/ProgrammingExerciseParticipation.spec.ts
  src/test/playwright/support/constants.ts
  src/test/playwright/support/fixtures.ts
  src/test/playwright/support/pageobjects/course/CourseManagementExercisesPage.ts
  src/test/playwright/support/pageobjects/course/CourseOverviewPage.ts
  src/test/playwright/support/pageobjects/exercises/programming/ProgrammingExerciseOverviewPage.ts
  src/test/playwright/support/pageobjects/exercises/programming/ProgrammingExerciseParticipationsPage.ts
  src/test/playwright/support/pageobjects/exercises/programming/RepositoryPage.ts
  src/test/playwright/support/requests/ExerciseAPIRequests.ts
Labels: tests, ready to merge

#8630 `Development`: Add e2e playwright tests for exam announcement
  src/main/webapp/app/exam/manage/exams/exam-checklist-component/exam-announcement-dialog/exam-live-announcement-create-button.component.html
  src/main/webapp/app/exam/manage/exams/exam-checklist-component/exam-edit-workingtime-dialog/exam-edit-working-time.component.html
  src/test/playwright/e2e/exam/ExamAssessment.spec.ts
  src/test/playwright/e2e/exam/ExamParticipation.spec.ts
  src/test/playwright/e2e/exam/ExamResults.spec.ts
  src/test/playwright/e2e/exam/test-exam/TestExamStudentExams.spec.ts
  src/test/playwright/support/fixtures.ts
  src/test/playwright/support/pageobjects/exam/ExamManagementPage.ts
  src/test/playwright/support/pageobjects/exam/ExamParticipationActions.ts
  src/test/playwright/support/pageobjects/exam/ExamParticipationPage.ts
  src/test/playwright/support/pageobjects/exam/ModalDialogBox.ts
Labels: tests, client, ready to merge

#8633 `Development`: Fix missing course participants in playwright e2e tests
  src/test/playwright/e2e/exam/ExamManagement.spec.ts
  src/test/playwright/e2e/exam/ExamTestRun.spec.ts
  src/test/playwright/e2e/exam/test-exam/TestExamManagement.spec.ts
  src/test/playwright/e2e/exam/test-exam/TestExamTestRun.spec.ts
  src/test/playwright/e2e/exercise/programming/ProgrammingExerciseManagement.spec.ts
Labels: tests, ready to merge

#8683 `Development`: Fix programming exercise buttons in course dashboard
  src/main/java/de/tum/in/www1/artemis/repository/metrics/ExerciseMetricsRepository.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/metrics/ExerciseInformationDTO.java
  src/main/webapp/app/entities/student-metrics.model.ts
  src/main/webapp/app/overview/course-dashboard/course-dashboard.service.ts
Labels: server, client, bugfix

#8552 `Assessment`: Add tool tips for assessment notes
  src/main/java/de/tum/in/www1/artemis/repository/StudentParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ParticipationResource.java
  src/main/webapp/app/exercises/shared/exercise-scores/exercise-scores.component.html
  src/main/webapp/app/exercises/shared/exercise-scores/exercise-scores.component.ts
  src/main/webapp/content/scss/global.scss
  src/main/webapp/i18n/de/assessment.json
  src/main/webapp/i18n/en/assessment.json
Labels: server, client, small, user interface, ready to merge

#8485 `Development`: Use GitHub to build coverage tables
  .github/workflows/test.yml
  supporting_scripts/generate_code_cov_table/README.md
  supporting_scripts/generate_code_cov_table/env.example
  supporting_scripts/generate_code_cov_table/generate_code_cov_table.py
Labels: chore, ready to merge, maintainer-approved, too-long-open

#8622 `Development`: Fix multi node docker setup for macOS and update docker images
  docker/broker-registry.yml
  docker/monitoring.yml
  docker/mysql.yml
  docker/nginx.yml
  docker/nginx/nginx.conf
  docker/postgres.yml
  docker/test-server-multi-node-postgresql-localci.yml
  docs/admin/database.rst
  src/main/kubernetes/artemis/statefulsets/artemis-mysql.yml
  src/test/resources/config/application.yml
Labels: tests, documentation, ready to merge, docker

#8654 `Development`: Remove function calls in diff report template
  src/main/webapp/app/exercises/programming/hestia/git-diff-report/git-diff-report.component.html
  src/main/webapp/app/exercises/programming/hestia/git-diff-report/git-diff-report.component.ts
  src/test/javascript/spec/component/hestia/git-diff-report/git-diff-report.component.spec.ts
Labels: tests, client, chore, small, ready to merge

#8670 `Development`: Remove disabled test
  src/test/javascript/spec/component/overview/exercise-details/exercise-details-student-actions.component.spec.ts
Labels: tests, ready to merge, maintainer-approved

#8675 `Development`: Speedup loading of exercises in course management
  src/main/java/de/tum/in/www1/artemis/repository/FeedbackRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ExerciseService.java
Labels: server, ready to merge, performance

#8579 `Iris`: Redesign and refactor Iris UI
  src/main/java/de/tum/in/www1/artemis/service/connectors/pyris/PyrisConnectorService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/pyris/PyrisHealthIndicator.java
  src/main/java/de/tum/in/www1/artemis/web/rest/iris/IrisMessageResource.java
  src/test/java/de/tum/in/www1/artemis/connector/IrisRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/iris/AbstractIrisIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/iris/IrisChatMessageIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/iris/IrisChatWebsocketTest.java
  src/test/java/de/tum/in/www1/artemis/iris/IrisSessionActivationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/iris/PyrisConnectorServiceTest.java
  src/test/javascript/spec/component/iris/chat-session.service.spec.ts
  src/test/javascript/spec/component/iris/http-chat-session.service.spec.ts
  src/test/javascript/spec/component/iris/iris-chat-http.service.spec.ts
  src/test/javascript/spec/component/iris/iris-chat.service.spec.ts
  src/test/javascript/spec/component/iris/iris-status.service.spec.ts
  src/test/javascript/spec/component/iris/state-store.service.spec.ts
  src/test/javascript/spec/component/iris/ui/chat-status-bar.component.spec.ts
  src/test/javascript/spec/component/iris/ui/chatbot-widget.component.spec.ts
  src/test/javascript/spec/component/iris/ui/course-chatbot.component.spec.ts
  src/test/javascript/spec/component/iris/ui/exercise-chatbot-button.component.spec.ts
  src/test/javascript/spec/component/iris/ui/iris-base-chatbot.component.spec.ts
  src/test/javascript/spec/component/iris/websocket.service.spec.ts
  src/test/javascript/spec/helpers/sample/iris-sample-data.ts
  src/test/javascript/spec/integration/code-editor/code-editor-instructor.integration.spec.ts
  src/test/javascript/spec/service/user.service.spec.ts
Labels: tests, server, client, database

#8693 `Development`: Add eureka configuration to documentation for localCI setup
  docs/dev/setup/integrated-code-lifecycle.rst
Labels: documentation, small, ready to merge

#8678 `Development`: Update client documentation to use standalone components
  docs/dev/guidelines/client.rst
Labels: documentation, small, ready to merge

#8689 `Development`: Add timestamp and competency progress to JoL
  src/main/java/de/tum/in/www1/artemis/domain/competency/CompetencyJol.java
  src/main/java/de/tum/in/www1/artemis/repository/competency/CompetencyJolRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/competency/JolValueEntry.java
  src/main/java/de/tum/in/www1/artemis/repository/metrics/CompetencyMetricsRepository.java
  src/main/java/de/tum/in/www1/artemis/service/competency/CompetencyJolService.java
  src/main/java/de/tum/in/www1/artemis/service/metrics/LearningMetricsService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CompetencyResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/competency/CompetencyJolDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/metrics/CompetencyStudentMetricsDTO.java
  src/main/resources/config/liquibase/changelog/20240428210130_changelog.xml
  src/main/resources/config/liquibase/changelog/20240522170000_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/course/competencies/competency-accordion/competency-accordion.component.ts
  src/main/webapp/app/course/competencies/competency.service.ts
  src/main/webapp/app/entities/competency.model.ts
  src/main/webapp/app/entities/course.model.ts
  src/main/webapp/app/entities/student-metrics.model.ts
  src/main/webapp/app/overview/course-competencies/course-competencies.component.ts
  src/test/java/de/tum/in/www1/artemis/competency/CompetencyJolIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/competency/CompetencyUtilService.java
Labels: tests, server, client, database

#8699 `Adaptive learning`: Change when judgement of learning prompt appears
  src/main/webapp/app/course/competencies/competency-accordion/competency-accordion.component.html
  src/main/webapp/app/course/competencies/competency-accordion/competency-accordion.component.ts
  src/main/webapp/app/course/competencies/competency.service.ts
  src/main/webapp/app/course/competencies/judgement-of-learning-rating/judgement-of-learning-rating.component.html
  src/main/webapp/app/course/competencies/judgement-of-learning-rating/judgement-of-learning-rating.component.ts
  src/main/webapp/app/entities/competency.model.ts
  src/main/webapp/app/entities/course.model.ts
  src/main/webapp/app/entities/student-metrics.model.ts
  src/main/webapp/app/overview/course-competencies/course-competencies-details.component.html
  src/main/webapp/app/overview/course-competencies/course-competencies-details.component.ts
  src/main/webapp/app/overview/course-competencies/course-competencies.component.html
  src/main/webapp/app/overview/course-competencies/course-competencies.component.ts
  src/main/webapp/app/overview/course-dashboard/course-dashboard.component.ts
  src/main/webapp/app/overview/course-dashboard/course-dashboard.service.ts
  src/main/webapp/app/overview/course-dashboard/course-exercise-performance/course-exercise-performance.component.html
Labels: tests, server, client, database

#8701 `Adaptive Learning`: Fix broken tests
  src/test/javascript/spec/component/competencies/competency-card-stub.component.ts
  src/test/javascript/spec/component/competencies/course-competencies.component.spec.ts
  src/test/javascript/spec/component/overview/course-competencies/course-competencies-details.component.spec.ts
Labels: tests, ready for review

#8672 `Development`: Document playwright setup and test parallelism
  docs/dev/playwright.rst
  docs/index.rst
Labels: documentation, ready to merge

#8696 `Development`: Fix flaky test
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalCIResourceIntegrationTest.java
Labels: tests, ready to merge

#8677 `Development`: Fix an issue while parsing results
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/buildagent/TestResultXmlParser.java
Labels: ready for review, server, small

#8647 `Development`: Allow startup if no previous version in database exists
  src/main/java/de/tum/in/www1/artemis/config/migration/DatabaseMigration.java
Labels: server, database, bugfix
