Repository ls1intum/Artemis, pull requests merged in 2024-09, with the labels that each got.

#8965 `Programming exercises`: Add online IDE settings
  src/main/java/de/tum/in/www1/artemis/ArtemisApp.java
  src/main/java/de/tum/in/www1/artemis/config/TheiaConfiguration.java
  src/main/java/de/tum/in/www1/artemis/domain/ProgrammingExercise.java
  src/main/java/de/tum/in/www1/artemis/web/rest/programming/ProgrammingExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/theia/TheiaConfigurationResource.java
  src/main/resources/config/application-dev.yml
  src/main/resources/config/application-theia.yml
  src/main/webapp/app/entities/programming-exercise.model.ts
  src/main/webapp/app/exam/manage/exercise-groups/programming-exercise-cell/programming-exercise-group-cell.component.html
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.ts
  src/main/webapp/app/exercises/programming/manage/programming-exercise.component.html
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-creation-config.ts
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.ts
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.module.ts
  src/main/webapp/app/exercises/programming/manage/update/update-components/programming-exercise-difficulty.component.html
  src/main/webapp/app/exercises/programming/manage/update/update-components/programming-exercise-difficulty.component.ts
  src/main/webapp/app/exercises/programming/manage/update/update-components/programming-exercise-language.component.html
  src/main/webapp/app/exercises/programming/manage/update/update-components/programming-exercise-language.component.ts
  src/main/webapp/app/exercises/programming/manage/update/update-components/theia/programming-exercise-theia.component.html
  src/main/webapp/app/exercises/programming/manage/update/update-components/theia/programming-exercise-theia.component.ts
  src/main/webapp/app/exercises/programming/shared/service/theia.service.ts
  src/main/webapp/app/overview/exercise-details/exercise-details-student-actions.component.ts
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/programmingExercise.json
  src/test/java/de/tum/in/www1/artemis/AbstractSpringIntegrationIndependentTest.java
  src/test/java/de/tum/in/www1/artemis/config/TheiaConfigurationTest.java
  src/test/java/de/tum/in/www1/artemis/theia/TheiaInfoContributorTest.java
  src/test/javascript/spec/component/exam/manage/exercise-groups/programming-exercise-group-cell.component.spec.ts
  src/test/javascript/spec/component/overview/exercise-details/exercise-details-student-actions.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-update.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/update-components/programming-exercise-creation-config-mock.ts
  src/test/javascript/spec/component/programming-exercise/update-components/programming-exercise-difficulty.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/update-components/programming-exercise-language.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/update-components/theia/programming-exercise-theia.component.spec.ts
  src/test/javascript/spec/service/programming-exercise.service.spec.ts
  src/test/resources/config/application-theia.yml
Labels: feature, tests, ready for review, server, client, component:Programming, database, config-change, server-api

#9269 `Plagiarism checks`: Fix slow performance in large courses
  src/main/java/de/tum/in/www1/artemis/repository/StudentParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/service/plagiarism/ProgrammingPlagiarismDetectionService.java
  src/test/java/de/tum/in/www1/artemis/plagiarism/ContinuousPlagiarismControlServiceTest.java
  src/test/java/de/tum/in/www1/artemis/plagiarism/PlagiarismDetectionConfigHelperTest.java
  src/test/java/de/tum/in/www1/artemis/plagiarism/PlagiarismDetectionServiceTest.java
Labels: tests, ready for review, server, performance

#8987 `Lectures`: Add PDF preview for instructors
  package-lock.json
  package.json
  src/main/java/de/tum/in/www1/artemis/web/rest/FileResource.java
  src/main/webapp/app/lecture/attachment.service.ts
  src/main/webapp/app/lecture/lecture-attachments.component.html
  src/main/webapp/app/lecture/lecture-attachments.component.ts
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/attachmentUnit.service.ts
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/lecture-unit-management.component.html
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/lecture-unit-management.component.ts
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/lecture-unit-management.route.ts
  src/main/webapp/app/lecture/lecture.route.ts
  src/main/webapp/app/lecture/pdf-preview/pdf-preview.component.html
  src/main/webapp/app/lecture/pdf-preview/pdf-preview.component.scss
  src/main/webapp/app/lecture/pdf-preview/pdf-preview.component.ts
  src/main/webapp/app/shared/layouts/navbar/navbar.component.ts
  src/main/webapp/content/scss/themes/_dark-variables.scss
  src/main/webapp/content/scss/themes/_default-variables.scss
  src/main/webapp/i18n/de/lecture.json
  src/main/webapp/i18n/en/lecture.json
  src/test/java/de/tum/in/www1/artemis/FileIntegrationTest.java
  src/test/javascript/spec/component/lecture-unit/attachment-unit/attachment-unit.service.spec.ts
  src/test/javascript/spec/component/lecture-unit/lecture-unit-management.component.spec.ts
  src/test/javascript/spec/component/lecture/lecture-attachments.component.spec.ts
  src/test/javascript/spec/component/lecture/pdf-preview.component.spec.ts
  src/test/javascript/spec/service/attachment.service.spec.ts
Labels: tests, server, client, ready to merge

#9231 `Development`: Improve LTI authentication
  src/main/java/de/tum/in/www1/artemis/config/lti/CustomLti13Configurer.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/lti/LtiService.java
  src/test/java/de/tum/in/www1/artemis/connectors/LtiServiceTest.java
Labels: tests, ready for review, server, priority:high, small, ready to merge, no-stale, maintainer-approved

#8989 `Lectures`: Remove redundant competency management from guided creation mode
  src/main/webapp/app/lecture/lecture.module.ts
  src/main/webapp/app/lecture/wizard-mode/lecture-update-wizard-step.component.ts
  src/main/webapp/app/lecture/wizard-mode/lecture-update-wizard.component.html
  src/main/webapp/app/lecture/wizard-mode/lecture-update-wizard.component.ts
  src/main/webapp/app/lecture/wizard-mode/lecture-wizard-competencies.component.html
  src/main/webapp/app/lecture/wizard-mode/lecture-wizard-competencies.component.scss
  src/main/webapp/app/lecture/wizard-mode/lecture-wizard-competencies.component.ts
  src/main/webapp/app/lecture/wizard-mode/lecture-wizard-units.component.ts
  src/test/javascript/spec/component/lecture/wizard-mode/lecture-wizard-competencies.component.spec.ts
  src/test/javascript/spec/component/lecture/wizard-mode/lecture-wizard-units.component.spec.ts
  src/test/javascript/spec/component/lecture/wizard-mode/lecture-wizard.component.spec.ts
Labels: tests, client, chore

#9270 `General`: Improve login dialog
  src/main/webapp/app/core/language/language.helper.ts
  src/main/webapp/app/home/home.component.html
  src/main/webapp/app/home/home.component.ts
  src/main/webapp/i18n/de/dataExport.json
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/de/home.json
  src/main/webapp/i18n/de/login.json
  src/main/webapp/i18n/de/metis.json
  src/main/webapp/i18n/de/organizationManagement.json
  src/main/webapp/i18n/de/reset.json
  src/main/webapp/i18n/de/userSettings.json
  src/main/webapp/i18n/en/global.json
  src/main/webapp/i18n/en/home.json
  src/main/webapp/i18n/en/login.json
  src/main/webapp/i18n/en/reset.json
  src/test/javascript/spec/core/language/language.helper.spec.ts
  src/test/playwright/e2e/Login.spec.ts
Labels: tests, ready for review, client, ready to merge, playwright

#9174 `Development`: Add telemetry service
  docs/admin/setup/customization.rst
  docs/admin/telemetry.rst
  docs/index.rst
  src/main/java/de/tum/in/www1/artemis/config/PropertiesConfigurationGuard.java
  src/main/java/de/tum/in/www1/artemis/service/telemetry/TelemetryService.java
  src/main/resources/config/application-dev.yml
  src/main/resources/config/application-prod.yml
  src/main/webapp/app/core/about-us/about-us.component.html
  src/main/webapp/app/core/about-us/about-us.component.scss
  src/main/webapp/app/core/about-us/about-us.component.ts
  src/main/webapp/app/shared/layouts/profiles/profile-info.model.ts
  src/main/webapp/app/shared/layouts/profiles/profile.service.ts
  src/main/webapp/i18n/de/operatorInfo.json
  src/main/webapp/i18n/en/operatorInfo.json
  src/test/java/de/tum/in/www1/artemis/telemetry/TelemetryServiceTest.java
  src/test/javascript/spec/component/shared/code-button.component.spec.ts
  src/test/javascript/spec/service/profile.service.spec.ts
  src/test/resources/config/application-artemis.yml
  src/test/resources/config/application.yml
Labels: tests, ready for review, server, client, documentation, config-change, ready to merge

#9288 `Development`: Configure telemetry variables for e2e tests
  docker/artemis/config/playwright.env
Labels: ready for review, docker

#9264 `Learning path`: Add discussion section to lecture unit and exercises
  src/main/webapp/app/course/learning-paths/components/learning-path-lecture-unit/learning-path-lecture-unit.component.html
  src/main/webapp/app/course/learning-paths/components/learning-path-lecture-unit/learning-path-lecture-unit.component.ts
  src/main/webapp/app/course/learning-paths/participate/lecture-unit/learning-path-lecture-unit-view.component.ts
  src/main/webapp/app/course/learning-paths/participate/lecture-unit/learning-path-lecture-unit-view.module.ts
  src/main/webapp/app/overview/course-lectures/course-lecture-details.component.html
  src/main/webapp/app/overview/course-lectures/course-lecture-details.component.ts
  src/main/webapp/app/overview/course-lectures/course-lecture-details.module.ts
  src/main/webapp/app/overview/discussion-section/discussion-section.component.ts
  src/main/webapp/app/overview/discussion-section/discussion-section.module.ts
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.html
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.ts
  src/main/webapp/app/overview/exercise-details/course-exercise-details.module.ts
  src/test/javascript/spec/component/learning-paths/components/learning-path-lecture-unit.component.spec.ts
  src/test/javascript/spec/component/learning-paths/participate/learning-path-lecture-unit-view.component.spec.ts
  src/test/javascript/spec/component/overview/course-lectures/course-lecture-details.component.spec.ts
  src/test/javascript/spec/component/overview/discussion-section/discussion-section.component.spec.ts
  src/test/javascript/spec/component/overview/exercise-details/course-exercise-details.component.spec.ts
Labels: tests, client, small, ready to merge, maintainer-approved

#9289 `Development`: Fix the login page e2e tests
  src/test/playwright/support/pageobjects/LoginPage.ts
Labels: tests, ready for review, playwright

#9274 `Assessment`: Fix exercise assessment dashboard submission numbering
  src/main/webapp/app/exercises/shared/dashboards/tutor/exercise-assessment-dashboard.component.html
Labels: client, small, bugfix, ready to merge

#9271 `Communication`: Fix sidebar refresh issue after channel deletion
  src/main/webapp/app/overview/course-conversations/course-conversations.component.html
  src/main/webapp/app/overview/course-conversations/course-conversations.component.ts
  src/main/webapp/app/overview/course-conversations/layout/conversation-header/conversation-header.component.ts
Labels: client, small, bugfix, ready to merge, component:Communication

#9263 `General`: Fix sorting on audit event log page
  src/main/java/de/tum/in/www1/artemis/repository/PersistenceAuditEventRepository.java
Labels: server, small, bugfix, ready to merge

#9243 `General`: Fix scroll to section when clicking status bar in exercise update view
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise-update.component.ts
  src/main/webapp/app/forms/form-status-bar/form-status-bar.component.html
  src/main/webapp/app/forms/form-status-bar/form-status-bar.component.scss
  src/main/webapp/app/forms/form-status-bar/form-status-bar.component.ts
  src/main/webapp/app/shared/components/checklist-check.component.html
  src/main/webapp/app/shared/components/checklist-check.component.scss
  src/main/webapp/app/shared/components/checklist-check/checklist-check.component.html
  src/main/webapp/app/shared/components/checklist-check/checklist-check.component.ts
  src/main/webapp/app/shared/components/shared-component.module.ts
  src/main/webapp/app/shared/detail-overview-navigation-bar/detail-overview-navigation-bar.component.ts
  src/main/webapp/app/shared/util/navbar.util.ts
  src/test/javascript/spec/component/exam/manage/exams/exam-checklist-exercisegroup-table.component.spec.ts
  src/test/javascript/spec/component/exam/manage/exams/exam-detail.component.spec.ts
  src/test/javascript/spec/component/forms/form-status-bar.component.spec.ts
  src/test/javascript/spec/component/tutorial-groups/tutorial-groups-management/tutorial-groups/tutorial-groups-management/tutorial-groups-checklist.component.spec.ts
  src/test/playwright/e2e/course/CourseManagement.spec.ts
  src/test/playwright/e2e/exercise/programming/ProgrammingExerciseManagement.spec.ts
  src/test/playwright/support/pageobjects/exercises/programming/ProgrammingExerciseCreationPage.ts
  src/test/playwright/support/utils.ts
Labels: tests, ready for review, client, bugfix, user interface, ready to merge, playwright

#9207 `Integrated code lifecycle`: Fix rare issues with cloning and deletion on build agents
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/buildagent/BuildJobExecutionService.java
Labels: server, ready to merge

#9172 `Quiz exercises`: Add cut and crop drag items from background image
  src/main/webapp/app/exercises/quiz/manage/drag-and-drop-question/drag-and-drop-question-edit.component.html
  src/main/webapp/app/exercises/quiz/manage/drag-and-drop-question/drag-and-drop-question-edit.component.ts
  src/main/webapp/i18n/de/dragAndDropQuestion.json
  src/main/webapp/i18n/en/dragAndDropQuestion.json
Labels: feature, client, component:Quiz, ready to merge, maintainer-approved

#9259 `Development`: Use directive for programming test status details and diff report
  src/main/webapp/app/detail-overview-list/components/boolean-detail/boolean-detail.component.html
  src/main/webapp/app/detail-overview-list/components/boolean-detail/boolean-detail.component.ts
  src/main/webapp/app/detail-overview-list/components/date-detail/date-detail.component.html
  src/main/webapp/app/detail-overview-list/components/date-detail/date-detail.component.ts
  src/main/webapp/app/detail-overview-list/components/link-detail/link-detail.component.html
  src/main/webapp/app/detail-overview-list/components/link-detail/link-detail.component.ts
  src/main/webapp/app/detail-overview-list/components/programming-auxiliary-repository-buttons-detail/programming-auxiliary-repository-buttons-detail.component.html
  src/main/webapp/app/detail-overview-list/components/programming-auxiliary-repository-buttons-detail/programming-auxiliary-repository-buttons-detail.component.ts
  src/main/webapp/app/detail-overview-list/components/programming-diff-report-detail/programming-diff-report-detail.component.html
  src/main/webapp/app/detail-overview-list/components/programming-diff-report-detail/programming-diff-report-detail.component.ts
  src/main/webapp/app/detail-overview-list/components/programming-repository-buttons-detail/programming-repository-buttons-detail.component.html
  src/main/webapp/app/detail-overview-list/components/programming-repository-buttons-detail/programming-repository-buttons-detail.component.ts
  src/main/webapp/app/detail-overview-list/components/programming-test-status-detail/programming-test-status-detail.component.html
  src/main/webapp/app/detail-overview-list/components/programming-test-status-detail/programming-test-status-detail.component.ts
  src/main/webapp/app/detail-overview-list/components/text-detail/text-detail.component.html
  src/main/webapp/app/detail-overview-list/components/text-detail/text-detail.component.ts
  src/main/webapp/app/detail-overview-list/detail-overview-list.component.html
  src/main/webapp/app/detail-overview-list/detail-overview-list.component.ts
  src/main/webapp/app/detail-overview-list/detail.model.ts
  src/main/webapp/app/detail-overview-list/exercise-detail.directive.ts
  src/main/webapp/app/shared/language/translate.directive.ts
  src/main/webapp/app/shared/shared-common.module.ts
  src/test/javascript/spec/component/detail-overview-list.component.spec.ts
  src/test/javascript/spec/component/exercise-detail.directive.spec.ts
  src/test/javascript/spec/component/programming-diff-report-detail.component.spec.ts
  src/test/javascript/spec/component/shared/confirm-entity-name.component.spec.ts
  src/test/javascript/spec/component/utils/item-count.component.spec.ts
  src/test/javascript/spec/util/shared/translate.directive.spec.ts
Labels: tests, ready for review, client, code quality, small, ready to merge

#9252 `Development`: Add script to create large courses locally
  .github/PULL_REQUEST_TEMPLATE.md
  supporting_scripts/course-scripts/quick-course-setup/README.md
  supporting_scripts/course-scripts/quick-course-setup/add_users_to_course.py
  supporting_scripts/course-scripts/quick-course-setup/authenticate_all_users.py
  supporting_scripts/course-scripts/quick-course-setup/config.ini
  supporting_scripts/course-scripts/quick-course-setup/create_course.py
  supporting_scripts/course-scripts/quick-course-setup/create_users.py
  supporting_scripts/course-scripts/quick-course-setup/delete_students.py
  supporting_scripts/course-scripts/quick-course-setup/images/facets-config.png
  supporting_scripts/course-scripts/quick-course-setup/images/module-config.png
  supporting_scripts/course-scripts/quick-course-setup/large_course_main.py
  supporting_scripts/course-scripts/quick-course-setup/logging_config.py
  supporting_scripts/course-scripts/quick-course-setup/manage_programming_exercise.py
  supporting_scripts/course-scripts/quick-course-setup/requirements.txt
  supporting_scripts/course-scripts/quick-course-setup/utils.py
  supporting_scripts/course-setup-quickstart/README.md
  supporting_scripts/course-setup-quickstart/add_users_to_course.py
  supporting_scripts/course-setup-quickstart/config.ini
  supporting_scripts/course-setup-quickstart/create_users.py
  supporting_scripts/course-setup-quickstart/images/facets-config.png
  supporting_scripts/course-setup-quickstart/images/module-config.png
  supporting_scripts/course-setup-quickstart/utils.py
Labels: chore, ready to merge

#9213 `Programming exercises`: Add visualization of test case errors
  src/main/java/de/tum/in/www1/artemis/repository/StudentParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ResultService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ResultResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/feedback/FeedbackDetailDTO.java
  src/main/webapp/app/exercises/programming/manage/grading/feedback-analysis/feedback-analysis.component.html
  src/main/webapp/app/exercises/programming/manage/grading/feedback-analysis/feedback-analysis.component.ts
  src/main/webapp/app/exercises/programming/manage/grading/feedback-analysis/feedback-analysis.service.ts
  src/main/webapp/app/exercises/programming/manage/grading/programming-exercise-configure-grading.component.html
  src/main/webapp/app/exercises/programming/manage/grading/programming-exercise-configure-grading.component.ts
  src/main/webapp/app/exercises/programming/manage/grading/programming-exercise-grading.module.ts
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/programmingExercise.json
  src/test/java/de/tum/in/www1/artemis/assessment/ResultServiceIntegrationTest.java
  src/test/javascript/spec/component/programming-exercise/feedback-analysis/feedback-analysis.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/feedback-analysis/feedback-analysis.service.spec.ts
Labels: feature, tests, server, client, ready to merge, maintainer-approved

#9251 `Assessment`: Don't allow activating presentations if no presentation scoring is set
  src/main/webapp/app/exercises/file-upload/manage/file-upload-exercise.component.html
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise.component.html
  src/main/webapp/app/exercises/programming/manage/programming-exercise.component.html
  src/main/webapp/app/exercises/shared/presentation-score/presentation-score.component.ts
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise.component.html
Labels: client, small, bugfix, ready to merge

#9254 `Exam mode`: Show exercise group title in breadcrumbs
  src/main/webapp/app/course/manage/course-management.service.ts
  src/main/webapp/app/exercises/programming/manage/services/programming-exercise-participation.service.ts
  src/main/webapp/app/exercises/shared/exercise/exercise.service.ts
  src/main/webapp/app/shared/layouts/navbar/entity-title.service.ts
  src/test/javascript/spec/service/entity-title.service.spec.ts
  src/test/javascript/spec/service/exercise.service.spec.ts
Labels: tests, client, component:Exam Mode, small, bugfix, ready to merge

#9294 `Exam mode`: Fix displaying incorrect task in exam summary exercise
  src/main/webapp/app/exercises/programming/shared/instructions-render/programming-exercise-instruction.component.ts
  src/test/javascript/spec/helpers/sample/problemStatement.json
Labels: tests, ready for review, client, small, bugfix, ready to merge

#9293 `Programming exercises`: Fix translation issue for participation modes in exam management
  src/main/webapp/app/exam/manage/exercise-groups/programming-exercise-cell/programming-exercise-group-cell.component.html
  src/main/webapp/app/exam/manage/exercise-groups/programming-exercise-cell/programming-exercise-group-cell.component.ts
  src/main/webapp/app/exercises/programming/manage/programming-exercise.component.html
  src/main/webapp/app/exercises/programming/manage/programming-exercise.component.ts
  src/test/javascript/spec/component/exam/manage/exercise-groups/programming-exercise-group-cell.component.spec.ts
Labels: tests, ready for review, client, component:Programming, component:Exam Mode, priority:high, small, bugfix

#9241 `Text exercises`: Add preliminary AI feedback requests for students on text exercises using Athena
  src/main/java/de/tum/in/www1/artemis/domain/Exercise.java
  src/main/java/de/tum/in/www1/artemis/domain/Submission.java
  src/main/java/de/tum/in/www1/artemis/service/ParticipationService.java
  src/main/java/de/tum/in/www1/artemis/service/TextExerciseFeedbackService.java
  src/main/java/de/tum/in/www1/artemis/service/TextSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/AbstractSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ParticipationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/websocket/ResultWebsocketService.java
  src/main/webapp/app/entities/submission.model.ts
  src/main/webapp/app/exercises/shared/exercise-scores/exercise-scores.component.ts
  src/main/webapp/app/exercises/shared/exercise-scores/manage-assessment-buttons.component.html
  src/main/webapp/app/exercises/shared/feedback-suggestion/exercise-feedback-suggestion-options.component.html
  src/main/webapp/app/exercises/shared/feedback-suggestion/exercise-feedback-suggestion-options.component.ts
  src/main/webapp/app/exercises/shared/feedback/feedback.component.html
  src/main/webapp/app/exercises/shared/result/result.component.html
  src/main/webapp/app/exercises/shared/result/result.component.ts
  src/main/webapp/app/exercises/shared/result/result.service.ts
  src/main/webapp/app/exercises/shared/result/result.utils.ts
  src/main/webapp/app/exercises/text/assess/text-assessment.service.ts
  src/main/webapp/app/exercises/text/assess/text-submission-assessment.component.ts
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise-detail.component.ts
  src/main/webapp/app/exercises/text/participate/text-editor.component.html
  src/main/webapp/app/exercises/text/participate/text-editor.component.ts
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.html
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.ts
  src/main/webapp/app/overview/exercise-details/exercise-details-student-actions.component.html
  src/main/webapp/app/overview/exercise-details/exercise-details-student-actions.component.ts
  src/main/webapp/app/overview/result-history/result-history.component.ts
  src/main/webapp/i18n/de/exercise.json
  src/main/webapp/i18n/en/exercise.json
  src/test/java/de/tum/in/www1/artemis/AbstractSpringIntegrationJenkinsGitlabTest.java
  src/test/java/de/tum/in/www1/artemis/participation/ParticipationIntegrationTest.java
  src/test/javascript/spec/component/exercises/shared/result.spec.ts
  src/test/javascript/spec/component/overview/exercise-details/exercise-details-student-actions.component.spec.ts
  src/test/javascript/spec/component/utils/result.utils.spec.ts
Labels: tests, server, client, ready to merge, maintainer-approved

#9224 `General`: Add delete button for not enrolled users
  src/main/java/de/tum/in/www1/artemis/repository/UserRepository.java
  src/main/java/de/tum/in/www1/artemis/web/rest/admin/AdminUserResource.java
  src/main/webapp/app/admin/admin.module.ts
  src/main/webapp/app/admin/user-management/delete-users-button.component.html
  src/main/webapp/app/admin/user-management/delete-users-button.component.ts
  src/main/webapp/app/admin/user-management/user-management.component.html
  src/main/webapp/app/admin/user-management/user-management.component.ts
  src/main/webapp/app/core/user/admin-user.service.ts
  src/main/webapp/i18n/de/user-management.json
  src/main/webapp/i18n/en/user-management.json
  src/test/java/de/tum/in/www1/artemis/repository/UserRepositoryTest.java
  src/test/javascript/spec/component/admin/delete-users-button.component.spec.ts
Labels: tests, server, client, ready to merge

#9277 `Communication`: Add profile picture support
  src/main/java/de/tum/in/www1/artemis/domain/metis/Posting.java
  src/main/java/de/tum/in/www1/artemis/repository/UserRepository.java
  src/main/java/de/tum/in/www1/artemis/service/FilePathService.java
  src/main/java/de/tum/in/www1/artemis/service/FileService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/AccountResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/FileResource.java
  src/main/webapp/app/core/auth/account.service.ts
  src/main/webapp/app/course/manage/course-update.component.ts
  src/main/webapp/app/course/manage/image-cropper-modal.component.html
  src/main/webapp/app/course/manage/image-cropper-modal.component.ts
  src/main/webapp/app/shared/layouts/navbar/navbar.component.html
  src/main/webapp/app/shared/layouts/navbar/navbar.scss
  src/main/webapp/app/shared/metis/answer-post/answer-post.component.html
  src/main/webapp/app/shared/metis/answer-post/answer-post.component.scss
  src/main/webapp/app/shared/metis/metis.component.scss
  src/main/webapp/app/shared/metis/post/post.component.html
  src/main/webapp/app/shared/metis/posting-header/answer-post-header/answer-post-header.component.html
  src/main/webapp/app/shared/metis/posting-header/answer-post-header/answer-post-header.component.ts
  src/main/webapp/app/shared/metis/posting-header/post-header/post-header.component.html
  src/main/webapp/app/shared/metis/posting-header/post-header/post-header.component.ts
  src/main/webapp/app/shared/metis/posting-header/posting-header.directive.ts
  src/main/webapp/app/shared/metis/posting-thread/posting-thread.component.html
  src/main/webapp/app/shared/user-settings/account-information/account-information.component.html
  src/main/webapp/app/shared/user-settings/account-information/account-information.component.ts
  src/main/webapp/app/shared/user-settings/user-settings-container/user-settings-container.component.html
  src/main/webapp/app/shared/user-settings/user-settings-container/user-settings-container.component.scss
  src/main/webapp/app/shared/user-settings/user-settings-container/user-settings-container.component.ts
  src/main/webapp/app/shared/user-settings/user-settings.service.ts
  src/main/webapp/i18n/de/error.json
  src/main/webapp/i18n/de/userSettings.json
  src/main/webapp/i18n/en/error.json
  src/main/webapp/i18n/en/userSettings.json
  src/test/java/de/tum/in/www1/artemis/authentication/UserJenkinsGitlabIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/user/UserTestService.java
  src/test/javascript/spec/component/shared/metis/postings-header/answer-post-header/answer-post-header.component.spec.ts
  src/test/javascript/spec/component/shared/metis/postings-header/post-header/post-header.component.spec.ts
Labels: tests, ready for review, server, client, ready to merge, component:Communication

#9201 `Programming exercises`: Add IDE preferences for "Open In"
  src/main/java/de/tum/in/www1/artemis/domain/settings/ide/Ide.java
  src/main/java/de/tum/in/www1/artemis/domain/settings/ide/UserIdeMapping.java
  src/main/java/de/tum/in/www1/artemis/repository/settings/IdeRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/settings/UserIdeMappingRepository.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/settings/ide/IdeDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/settings/ide/IdeMappingDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/settings/ide/IdeSettingsResource.java
  src/main/resources/config/liquibase/changelog/20240729103000_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/exercises/programming/shared/service/external-cloning.service.ts
  src/main/webapp/app/shared/components/code-button/code-button.component.html
  src/main/webapp/app/shared/components/code-button/code-button.component.ts
  src/main/webapp/app/shared/user-settings/ide-preferences/ide-settings.component.html
  src/main/webapp/app/shared/user-settings/ide-preferences/ide-settings.component.ts
  src/main/webapp/app/shared/user-settings/ide-preferences/ide-settings.scss
  src/main/webapp/app/shared/user-settings/ide-preferences/ide-settings.service.ts
  src/main/webapp/app/shared/user-settings/ide-preferences/ide.model.ts
  src/main/webapp/app/shared/user-settings/user-settings-container/user-settings-container.component.html
  src/main/webapp/app/shared/user-settings/user-settings.module.ts
  src/main/webapp/app/shared/user-settings/user-settings.route.ts
  src/main/webapp/i18n/de/exercise-actions.json
  src/main/webapp/i18n/de/userSettings.json
  src/main/webapp/i18n/en/exercise-actions.json
  src/main/webapp/i18n/en/userSettings.json
  src/test/java/de/tum/in/www1/artemis/domain/ObjectMethodTest.java
  src/test/java/de/tum/in/www1/artemis/settings/ide/IdePreferencesIntegrationTest.java
  src/test/javascript/spec/component/settings/ide/ide-settings.component.spec.ts
  src/test/javascript/spec/entities/ide.model.spec.ts
  src/test/javascript/spec/service/external-cloning.service.spec.ts
  src/test/javascript/spec/service/settings/ide-settings.service.spec.ts
Labels: tests, ready for review, server, client, component:Programming, database

#9284 `Quiz exercises`: Fix an issue with the multiple choice visual mode
  src/main/webapp/app/exercises/quiz/manage/multiple-choice-question/multiple-choice-question-edit.component.ts
  src/main/webapp/app/exercises/quiz/shared/questions/multiple-choice-question/multiple-choice-visual-question.component.html
  src/main/webapp/app/exercises/quiz/shared/questions/multiple-choice-question/multiple-choice-visual-question.component.ts
  src/test/javascript/spec/component/multiple-choice-question/multiple-choice-question-edit.component.spec.ts
  src/test/playwright/e2e/exercise/quiz-exercise/QuizExerciseManagement.spec.ts
  src/test/playwright/support/pageobjects/exercises/quiz/QuizExerciseCreationPage.ts
Labels: tests, ready for review, client, playwright

#9312 `Development`: Fix cron task name in data export schedule tests
  src/test/java/de/tum/cit/aet/artemis/service/scheduled/DataExportScheduleServiceTest.java
Labels: tests, ready for review

#9233 `General`: Add SAML2 audit features
  src/main/java/de/tum/cit/aet/artemis/core/config/Constants.java
  src/main/java/de/tum/cit/aet/artemis/core/config/SAML2Configuration.java
  src/main/java/de/tum/cit/aet/artemis/core/config/SAML2Properties.java
  src/main/java/de/tum/cit/aet/artemis/core/repository/CustomAuditEventRepository.java
  src/main/java/de/tum/cit/aet/artemis/core/service/connectors/SAML2Service.java
  src/main/java/de/tum/cit/aet/artemis/core/web/open/PublicUserJwtResource.java
  src/test/java/de/tum/cit/aet/artemis/AbstractSpringIntegrationGitlabCIGitlabSamlTest.java
Labels: tests, server, small, ready to merge

#9279 `Programming exercises`: Translate programming language names
  src/main/webapp/app/exercises/programming/manage/update/update-components/programming-exercise-language.component.html
  src/main/webapp/i18n/de/programmingLanguage.json
  src/main/webapp/i18n/en/programmingLanguage.json
Labels: client, small, ready to merge

#9287 `Development`: Make Telemetry service async
  src/main/java/de/tum/cit/aet/artemis/core/service/TelemetrySendingService.java
  src/main/java/de/tum/cit/aet/artemis/core/service/TelemetryService.java
  src/test/java/de/tum/cit/aet/artemis/telemetry/TelemetryServiceTest.java
Labels: tests, ready for review, server, ready to merge

#9298 `Development`: Add test file for script to generate random results when creating large courses locally
  build.gradle
  supporting_scripts/course-scripts/quick-course-setup/README.md
  supporting_scripts/course-scripts/quick-course-setup/create_course.py
  supporting_scripts/course-scripts/quick-course-setup/large_course_main.py
  supporting_scripts/course-scripts/quick-course-setup/manage_programming_exercise.py
  supporting_scripts/course-scripts/quick-course-setup/randomize_results_after.py
  supporting_scripts/course-scripts/quick-course-setup/randomize_results_before.py
  supporting_scripts/course-scripts/quick-course-setup/testFiles-template/default/behavior/SortingExampleBehaviorTest.java
  supporting_scripts/course-scripts/quick-course-setup/testFiles-template/default/structural/AttributeTest.java
  supporting_scripts/course-scripts/quick-course-setup/testFiles-template/default/structural/ClassTest.java
  supporting_scripts/course-scripts/quick-course-setup/testFiles-template/default/structural/ConstructorTest.java
  supporting_scripts/course-scripts/quick-course-setup/testFiles-template/default/structural/MethodTest.java
  supporting_scripts/course-scripts/quick-course-setup/testFiles-template/default/structural/test.json
  supporting_scripts/course-scripts/quick-course-setup/testFiles-template/randomized/RandomizedTestCases.java
Labels: chore, ready to merge, template

#9176 `Communication`: Update screencasts in documentation
  docs/user/communication.rst
Labels: documentation, chore, small, component:Communication, stale

#9320 `Development`: Fix profile for Apollon resource
  src/main/java/de/tum/cit/aet/artemis/modeling/repository/ApollonDiagramRepository.java
  src/main/java/de/tum/cit/aet/artemis/modeling/web/ApollonDiagramResource.java
Labels: ready for review, server, small, bugfix, playwright

#9327 `Atlas`: Fix creation of competency relations
  src/main/webapp/app/course/competencies/competency-management/competency-relation-graph.component.html
Labels: client, priority:critical, lock:artemis-test3

#8859 `Programming exercises`: Add JavaScript programming language template
  docs/user/exercises/programming-exercise-features.inc
  src/main/java/de/tum/cit/aet/artemis/programming/domain/ProgrammingLanguage.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/TemplateUpgradePolicyService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/ci/ContinuousIntegrationService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/gitlabci/GitLabCIProgrammingLanguageFeatureService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/jenkins/JenkinsProgrammingLanguageFeatureService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/jenkins/build_plan/JenkinsBuildPlanService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/localci/LocalCIProgrammingLanguageFeatureService.java
  src/main/resources/config/application.yml
  src/main/resources/templates/aeolus/javascript/default.sh
  src/main/resources/templates/aeolus/javascript/default.yaml
  src/main/resources/templates/gitlabci/javascript/regularRuns/.gitlab-ci.yml
  src/main/resources/templates/javascript/exercise/.gitignore
  src/main/resources/templates/javascript/exercise/package.json
  src/main/resources/templates/javascript/exercise/src/bubblesort.js
  src/main/resources/templates/javascript/exercise/src/client.js
  src/main/resources/templates/javascript/exercise/src/context.js
  src/main/resources/templates/javascript/exercise/src/mergesort.js
  src/main/resources/templates/javascript/exercise/src/policy.js
  src/main/resources/templates/javascript/readme
  src/main/resources/templates/javascript/solution/.gitignore
  src/main/resources/templates/javascript/solution/package.json
  src/main/resources/templates/javascript/solution/src/bubblesort.js
  src/main/resources/templates/javascript/solution/src/client.js
  src/main/resources/templates/javascript/solution/src/context.js
  src/main/resources/templates/javascript/solution/src/mergesort.js
  src/main/resources/templates/javascript/solution/src/policy.js
  src/main/resources/templates/javascript/test/.gitignore
  src/main/resources/templates/javascript/test/babel.config.json
  src/main/resources/templates/javascript/test/package-lock.json
  src/main/resources/templates/javascript/test/package.json
  src/main/resources/templates/javascript/test/src/behavior.test.js
  src/main/resources/templates/javascript/test/src/structural.test.js
  src/main/resources/templates/jenkins/javascript/regularRuns/pipeline.groovy
  src/main/webapp/app/entities/programming/programming-exercise.model.ts
  src/test/resources/config/application.yml
Labels: tests, server, client, documentation, config-change, ready to merge, template

#9249 `Development`: Add admin metrics page tests
  src/main/webapp/app/admin/metrics/blocks/metrics-garbagecollector/metrics-garbagecollector.component.html
  src/test/java/de/tum/cit/aet/artemis/JhiMetricsIntegrationTest.java
Labels: tests, ready for review, client, bugfix, ready to merge

#9304 `Integrated code lifecycle`: Structure buildlogs folder
  src/main/java/de/tum/cit/aet/artemis/assessment/service/ResultService.java
  src/main/java/de/tum/cit/aet/artemis/assessment/web/ResultResource.java
  src/main/java/de/tum/cit/aet/artemis/programming/repository/BuildJobRepository.java
  src/main/java/de/tum/cit/aet/artemis/programming/repository/ProgrammingExerciseRepository.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/BuildLogEntryService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/localci/LocalCIResultProcessingService.java
  src/main/java/de/tum/cit/aet/artemis/programming/web/localci/BuildLogResource.java
  src/test/java/de/tum/cit/aet/artemis/localvcci/LocalCIIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/localvcci/LocalCIResourceIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/service/ParticipationServiceTest.java
Labels: tests, ready for review, server, ready to merge

#9184 `Integrated code lifecycle`: Add access log for repositories
  src/main/java/de/tum/cit/aet/artemis/programming/domain/AuthenticationMechanism.java
  src/main/java/de/tum/cit/aet/artemis/programming/domain/VcsAccessLog.java
  src/main/java/de/tum/cit/aet/artemis/programming/dto/VcsAccessLogDTO.java
  src/main/java/de/tum/cit/aet/artemis/programming/repository/VcsAccessLogRepository.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/RepositoryService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/localvc/AutomaticVcsAccessLogCleanupService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/localvc/LocalVCServletService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/localvc/SshGitLocationResolverService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/localvc/VcsAccessLogService.java
  src/main/java/de/tum/cit/aet/artemis/programming/web/ProgrammingExerciseParticipationResource.java
  src/main/java/de/tum/cit/aet/artemis/programming/web/repository/RepositoryResource.java
  src/main/resources/config/application-prod.yml
  src/main/resources/config/liquibase/changelog/20240804144500_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/entities/vcs-access-log-entry.model.ts
  src/main/webapp/app/exercises/programming/manage/programming-exercise-management-routing.module.ts
  src/main/webapp/app/exercises/programming/manage/services/programming-exercise-participation.service.ts
  src/main/webapp/app/localvc/repository-view/repository-view.component.html
  src/main/webapp/app/localvc/repository-view/repository-view.component.ts
  src/main/webapp/app/localvc/vcs-repository-access-log-view/vcs-repository-access-log-view.component.html
  src/main/webapp/app/localvc/vcs-repository-access-log-view/vcs-repository-access-log-view.component.ts
  src/main/webapp/i18n/de/repository.json
  src/main/webapp/i18n/en/repository.json
  src/test/java/de/tum/cit/aet/artemis/localvcci/LocalVCLocalCIParticipationIntegrationTest.java
  src/test/javascript/spec/component/localvc/repository-view.component.spec.ts
  src/test/javascript/spec/component/localvc/vcs-repository-access-log-view.component.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-programming-exercise-participation.service.ts
  src/test/javascript/spec/service/programming-exercise-participation.service.spec.ts
Labels: tests, ready for review, server, client, database, config-change, ready to merge

#9339 `Development`: Exclude xmlunit dependency due to transitive vulnerability
  build.gradle
  supporting_scripts/course-scripts/quick-course-setup/requirements.txt
Labels: ready for review

#9313 `Development`: Fix the path of exercise- and lecture-type domain objects in the client
  src/main/webapp/app/overview/course-dashboard/course-dashboard.service.ts
Labels: client, ready to merge

#9280 `Programming exercises`: Enable empty template for LocalCI
  src/main/java/de/tum/cit/aet/artemis/programming/service/localci/LocalCIProgrammingLanguageFeatureService.java
  src/main/resources/config/application.yml
  src/main/resources/templates/aeolus/empty/default.sh
  src/main/resources/templates/aeolus/empty/default.yaml
  src/main/resources/templates/gitlabci/empty/regularRuns/.gitlab-ci.yml
  src/main/resources/templates/jenkins/empty/regularRuns/pipeline.groovy
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.ts
  src/main/webapp/app/exercises/programming/manage/update/update-components/programming-exercise-language.component.html
  src/main/webapp/app/exercises/programming/manage/update/update-components/programming-exercise-language.component.ts
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/programmingExercise.json
Labels: ready for review, server, client, config-change, template

#9347 `Plagiarism checks`: Fix files not being shown in plagiarism viewer
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-split-view/text-submission-viewer/text-submission-viewer.component.html
Labels: client, small, ready to merge

#9278 `Modeling exercises`: Add preliminary AI feedback requests for students
  src/main/java/de/tum/cit/aet/artemis/exercise/domain/Exercise.java
  src/main/java/de/tum/cit/aet/artemis/exercise/domain/Submission.java
  src/main/java/de/tum/cit/aet/artemis/exercise/service/ParticipationService.java
  src/main/java/de/tum/cit/aet/artemis/exercise/service/SubmissionService.java
  src/main/java/de/tum/cit/aet/artemis/exercise/web/AbstractSubmissionResource.java
  src/main/java/de/tum/cit/aet/artemis/exercise/web/ParticipationResource.java
  src/main/java/de/tum/cit/aet/artemis/modeling/service/ModelingExerciseFeedbackService.java
  src/main/java/de/tum/cit/aet/artemis/modeling/service/ModelingSubmissionService.java
  src/main/java/de/tum/cit/aet/artemis/modeling/web/ModelingSubmissionResource.java
  src/main/java/de/tum/cit/aet/artemis/text/service/TextExerciseFeedbackService.java
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment-editor/modeling-assessment-editor.component.ts
  src/main/webapp/app/exercises/shared/feedback-suggestion/exercise-feedback-suggestion-options.component.html
  src/main/webapp/app/exercises/shared/result/result.utils.ts
  src/main/webapp/app/overview/exercise-details/exercise-details-student-actions.component.html
  src/main/webapp/app/overview/exercise-details/exercise-details-student-actions.component.ts
  src/main/webapp/app/overview/result-history/result-history.component.ts
  src/test/java/de/tum/cit/aet/artemis/exercise/modeling/ModelingExerciseUtilService.java
  src/test/java/de/tum/cit/aet/artemis/exercise/modeling/ModelingSubmissionIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/participation/ParticipationIntegrationTest.java
  src/test/javascript/spec/component/exercises/shared/result.spec.ts
  src/test/javascript/spec/component/modeling-assessment-editor/modeling-assessment-editor.component.spec.ts
Labels: tests, server, client, ready to merge, maintainer-approved

#9359 `Development`: Merge test classes for same service
  jest.config.js
  src/test/javascript/spec/component/exercises/quiz/short-answer-question-util.service.spec.ts
  src/test/javascript/spec/component/short-answer-quiz/short-answer-question-util.service.spec.ts
Labels: tests, small, ready to merge

#9305 `Development`: Update Pyris setup documentation according to PyrisV2
  docs/admin/setup/pyris.rst
Labels: documentation

#9299 `Development`: Migrate admin metrics Angular code to new best practices
  docs/dev/guidelines/client.rst
  package-lock.json
  package.json
  src/main/webapp/app/admin/admin.module.ts
  src/main/webapp/app/admin/metrics/blocks/jvm-memory/jvm-memory.component.html
  src/main/webapp/app/admin/metrics/blocks/jvm-memory/jvm-memory.component.ts
  src/main/webapp/app/admin/metrics/blocks/jvm-threads/jvm-threads.component.html
  src/main/webapp/app/admin/metrics/blocks/jvm-threads/jvm-threads.component.ts
  src/main/webapp/app/admin/metrics/blocks/metrics-cache/metrics-cache.component.html
  src/main/webapp/app/admin/metrics/blocks/metrics-cache/metrics-cache.component.ts
  src/main/webapp/app/admin/metrics/blocks/metrics-datasource/metrics-datasource.component.html
  src/main/webapp/app/admin/metrics/blocks/metrics-datasource/metrics-datasource.component.ts
  src/main/webapp/app/admin/metrics/blocks/metrics-endpoints-requests/metrics-endpoints-requests.component.html
  src/main/webapp/app/admin/metrics/blocks/metrics-endpoints-requests/metrics-endpoints-requests.component.ts
  src/main/webapp/app/admin/metrics/blocks/metrics-garbagecollector/metrics-garbagecollector.component.html
  src/main/webapp/app/admin/metrics/blocks/metrics-garbagecollector/metrics-garbagecollector.component.ts
  src/main/webapp/app/admin/metrics/blocks/metrics-modal-threads/metrics-modal-threads.component.ts
  src/main/webapp/app/admin/metrics/blocks/metrics-request/metrics-request.component.html
  src/main/webapp/app/admin/metrics/blocks/metrics-request/metrics-request.component.ts
  src/main/webapp/app/admin/metrics/blocks/metrics-system/metrics-system.component.html
  src/main/webapp/app/admin/metrics/blocks/metrics-system/metrics-system.component.ts
  src/main/webapp/app/admin/metrics/metrics.component.ts
  src/main/webapp/app/admin/metrics/metrics.model.ts
  src/main/webapp/app/admin/metrics/metrics.module.ts
  src/main/webapp/app/admin/metrics/metrics.service.ts
  src/test/javascript/spec/component/admin/metrics/jvm-threads.component.spec.ts
  src/test/javascript/spec/component/admin/metrics/metrics-modal-threads.component.spec.ts
  src/test/javascript/spec/component/admin/metrics/metrics-system.component.spec.ts
  src/test/javascript/spec/component/admin/metrics/metrics.component.spec.ts
  src/test/javascript/spec/component/metrics/metrics.component.spec.ts
  src/test/javascript/spec/service/metrics.service.spec.ts
  tsconfig.json
Labels: tests, client, documentation, stale

#9373 `General`: Improve tab navigation on login page
  jest.config.js
  src/main/webapp/app/app-routing.module.ts
  src/main/webapp/app/app.module.ts
  src/main/webapp/app/core/auth/account.service.ts
  src/main/webapp/app/core/auth/auth-jwt.service.ts
  src/main/webapp/app/core/auth/state-storage.service.ts
  src/main/webapp/app/core/auth/user-route-access-service.ts
  src/main/webapp/app/core/login/login.service.ts
  src/main/webapp/app/home/home.component.html
  src/main/webapp/app/home/home.component.ts
  src/main/webapp/app/home/home.module.ts
  src/main/webapp/app/home/home.route.ts
  src/main/webapp/app/home/saml2-login/saml2-login.component.ts
  src/test/javascript/spec/service/account.service.spec.ts
  src/test/javascript/spec/service/state-storage.service.spec.ts
Labels: tests, ready for review, client

#9317 `Development`: Remove no longer required secret push token for Jenkins setups
  docs/dev/setup/jenkins-gitlab.rst
  docs/dev/setup/server.rst
  src/main/java/de/tum/cit/aet/artemis/programming/service/jenkins/build_plan/JenkinsBuildPlanCreator.java
  src/main/resources/config/application-artemis.yml
  src/main/resources/templates/jenkins/config.xml
  src/test/resources/config/application-artemis.yml
Labels: tests, server, documentation, chore, component:Programming, config-change, jenkins/gitlab, ready to merge, template

#9370 `Development`: Add CI action to check that German and English translation keys are consistent
  .ci/translation-file-checker/translation_file_checker.py
  .github/workflows/check-translation-keys.yml
Labels: ready for review, code quality

#9381 `Development`: Fix pull request labeler path regex
  .github/labeler.yml
Labels: ready for review, bugfix

#9382 `Development`: Fix default URL for telemetry service
  docs/admin/telemetry.rst
  src/main/resources/config/application-dev.yml
  src/main/resources/config/application-prod.yml
Labels: ready for review, documentation, config-change, small, bugfix
