Repository ls1intum/Artemis, pull requests merged in 2024-02, with the labels that each got.

#7992 `Integrated code lifecycle`: Add build script to build job queue item
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIBuildConfigurationService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIBuildJobExecutionService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIContainerService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCITriggerService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/dto/BuildConfig.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalCIResourceIntegrationTest.java
Labels: tests, ready for review, server, bugfix

#7979 `Integrated code lifecycle`: Decouple submission result processing from build agent logic
  .idea/runConfigurations/Artemis__Server__LocalVC___LocalCI_.xml
  .idea/runConfigurations/Artemis__Server__LocalVC___LocalCI__Athena_.xml
  .idea/runConfigurations/Artemis__Server__LocalVC___LocalCI__IRIS_.xml
  docker/artemis/config/cypress-local.env
  docker/artemis/config/dev-local-vc-local-ci.env
  src/main/java/de/tum/in/www1/artemis/domain/BuildJob.java
  src/main/java/de/tum/in/www1/artemis/service/ParticipationService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/dto/TestwiseCoverageReportDTO.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIBuildConfigurationService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIQueueWebsocketService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIResultProcessingService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCISharedBuildJobQueueService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCITriggerService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/SharedQueueManagementService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/buildagent/BuildJobContainerService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/buildagent/BuildJobExecutionService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/buildagent/BuildJobManagementService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/buildagent/LocalCIDockerService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/buildagent/SharedQueueProcessingService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/dto/LocalCIBuildResult.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/dto/ResultQueueItem.java
  src/main/java/de/tum/in/www1/artemis/service/dto/StaticCodeAnalysisReportDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/admin/AdminBuildJobQueueResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/localci/BuildJobQueueResource.java
  src/test/java/de/tum/in/www1/artemis/AbstractSpringIntegrationLocalCILocalVCTest.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalCIDockerServiceTest.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalCIResourceIntegrationTest.java
Labels: tests, server, ready to merge, docker, integrated code lifecycle

#7982 `Development`: Adjust client typing documentation
  docs/dev/guidelines/client.rst
Labels: documentation, small, ready to merge

#7970 `Development`: Improve JPQL style for quiz repositories
  src/main/java/de/tum/in/www1/artemis/repository/QuizExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/QuizPoolRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/QuizSubmissionRepository.java
  src/main/java/de/tum/in/www1/artemis/service/QuizSubmissionService.java
Labels: server, chore, code quality, consistency, small, ready to merge

#7969 `Development`: Improve JPQL style for team repositories
  src/main/java/de/tum/in/www1/artemis/repository/TeamRepository.java
Labels: server, chore, code quality, consistency, small, ready to merge, maintainer-approved

#7962 `Development`: Improve consistency of end point response status codes
  src/main/java/de/tum/in/www1/artemis/service/AttachmentUnitService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CompetencyResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/LearningPathResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/lecture/AttachmentUnitResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/lecture/ExerciseUnitResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/lecture/LectureUnitResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/lecture/OnlineUnitResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/lecture/TextUnitResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/lecture/VideoUnitResource.java
  src/test/java/de/tum/in/www1/artemis/competency/LearningPathIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/lecture/AttachmentUnitIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/lecture/AttachmentUnitsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/lecture/CompetencyIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/lecture/LectureUnitIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/lecture/OnlineUnitIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/lecture/TextUnitIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/lecture/VideoUnitIntegrationTest.java
Labels: tests, server, consistency, ready to merge

#7961 `Development`: Improve JPQL style for lecture repositories
  src/main/java/de/tum/in/www1/artemis/repository/AttachmentRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ExerciseUnitRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/LectureRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/LectureUnitCompletionRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/TextUnitRepository.java
Labels: server, chore, code quality, consistency, small, ready to merge

#7955 `Development`: Add architecture test for `@Param` usage
  src/main/java/de/tum/in/www1/artemis/repository/AttachmentUnitRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/BonusRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/BuildPlanRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/CompetencyProgressRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/CourseRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/DataExportRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ExampleSubmissionRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/GradingScaleRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/LectureRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/LongFeedbackTextRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ProgrammingExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ProgrammingSubmissionRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/QuizExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/QuizPoolRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/QuizSubmissionRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/StudentParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/TeamRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/TeamScoreRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/TextExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/hestia/CoverageFileReportRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/hestia/TestwiseCoverageReportEntryRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/iris/IrisMessageRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/iris/IrisSettingsRepository.java
  src/test/java/de/tum/in/www1/artemis/ArchitectureTest.java
Labels: tests, server, consistency, ready to merge

#7947 `Modeling exercises`: Add status bar in update view
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise-update.component.html
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise-update.component.ts
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise.module.ts
  src/main/webapp/app/exercises/shared/team-config-form-group/team-config-form-group.component.ts
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise-update.component.html
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise-update.component.scss
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise-update.component.ts
  src/main/webapp/app/forms/form-status-bar/form-status-bar.component.html
  src/main/webapp/app/forms/form-status-bar/form-status-bar.component.ts
  src/main/webapp/app/shared/components/checklist-check.component.html
  src/main/webapp/app/shared/components/checklist-check.component.ts
  src/main/webapp/app/shared/date-time-picker/date-time-picker.component.ts
  src/main/webapp/i18n/de/exercise.json
  src/main/webapp/i18n/en/exercise.json
  src/test/cypress/e2e/exam/ExamManagement.cy.ts
  src/test/cypress/e2e/exam/test-exam/TestExamManagement.cy.ts
  src/test/cypress/e2e/exercises/modeling/ModelingExerciseManagement.cy.ts
  src/test/javascript/spec/component/exercises/shared/team-config-form-group.component.spec.ts
  src/test/javascript/spec/component/forms/form-status-bar.component.spec.ts
  src/test/javascript/spec/component/modeling-exercise/modeling-exercise-update.component.spec.ts
  src/test/javascript/spec/component/shared/date-time-picker.component.spec.ts
  src/test/javascript/spec/component/text-exercise/text-exercise-update.component.spec.ts
Labels: tests, client, cypress, ready to merge

#7940 `Development`: Improve JPQL style for exercise repositories
  src/main/java/de/tum/in/www1/artemis/repository/ExerciseGroupRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/FileUploadSubmissionRepository.java
Labels: server, chore, code quality, consistency, small, ready to merge

#7933 `Development`: Improve JPQL style for course repository
  src/main/java/de/tum/in/www1/artemis/repository/CourseRepository.java
Labels: server, chore, code quality, consistency, small, ready to merge, maintainer-approved

#7984 `Integrated code lifecycle`: Always add tag to docker image
  src/main/java/de/tum/in/www1/artemis/service/connectors/aeolus/DockerConfig.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCITriggerService.java
  src/test/java/de/tum/in/www1/artemis/connectors/AeolusTest.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalCIIntegrationTest.java
Labels: tests, server, small, ready to merge, integrated code lifecycle

#7963 `Development`: Split continuous plagiarism check screencast into shorter videos
  docs/user/plagiarism-check.rst
Labels: documentation, small, ready to merge, maintainer-approved

#7812 `Development`: Implement multiple exercise selection in LTI deep linking service
  src/main/java/de/tum/in/www1/artemis/service/connectors/lti/LtiDeepLinkingService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/LtiResource.java
  src/main/webapp/app/lti/lti13-deep-linking.component.html
  src/main/webapp/app/lti/lti13-deep-linking.component.ts
  src/main/webapp/i18n/de/lti.json
  src/main/webapp/i18n/en/lti.json
  src/test/java/de/tum/in/www1/artemis/LtiDeepLinkingIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/connectors/lti/LtiDeepLinkingServiceTest.java
  src/test/javascript/spec/component/lti/lti13-deep-linking.component.spec.ts
Labels: tests, server, client, component:LTI, ready to merge, too-long-open

#8002 `Integrated code lifecycle`: Refactor Docker image cleanup
  src/main/java/de/tum/in/www1/artemis/repository/BuildJobRepository.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCITriggerService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/SharedQueueManagementService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/buildagent/LocalCIDockerService.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalCIDockerServiceTest.java
  src/test/java/de/tum/in/www1/artemis/localvcci/SharedQueueManagementService.java
Labels: tests, server, ready to merge, integrated code lifecycle

#7981 `Team exercises`: Fix an internal error when viewing the submissions of a team participation
  src/main/java/de/tum/in/www1/artemis/config/websocket/WebsocketConfiguration.java
  src/main/java/de/tum/in/www1/artemis/repository/StudentParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ParticipationResource.java
  src/main/java/de/tum/in/www1/artemis/web/websocket/team/ParticipationTeamWebsocketService.java
Labels: ready for review, server, small

#7973 `Development`: Improve code quality of learning path and competency related server code
  src/main/java/de/tum/in/www1/artemis/repository/CompetencyRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/LectureUnitService.java
  src/main/java/de/tum/in/www1/artemis/service/competency/CompetencyProgressService.java
  src/main/java/de/tum/in/www1/artemis/service/competency/CompetencyRelationService.java
  src/main/java/de/tum/in/www1/artemis/service/competency/CompetencyService.java
  src/main/java/de/tum/in/www1/artemis/service/learningpath/LearningPathNgxService.java
  src/main/java/de/tum/in/www1/artemis/service/learningpath/LearningPathRecommendationService.java
  src/main/java/de/tum/in/www1/artemis/service/learningpath/LearningPathService.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/ParticipantScoreScheduleService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CompetencyResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/LearningPathResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/competency/CompetencyRelationDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/competency/LearningPathInformationDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/competency/NgxLearningPathDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/user/UserNameAndLoginDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/lecture/AttachmentUnitResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/lecture/LectureUnitResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/lecture/OnlineUnitResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/lecture/TextUnitResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/lecture/VideoUnitResource.java
  src/test/java/de/tum/in/www1/artemis/competency/LearningPathIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/LearningPathServiceTest.java
Labels: tests, server, ready to merge

#7680 `General`: Add event logging for scientific purposes
  src/main/java/de/tum/in/www1/artemis/domain/science/ScienceEvent.java
  src/main/java/de/tum/in/www1/artemis/domain/science/ScienceEventType.java
  src/main/java/de/tum/in/www1/artemis/domain/science/ScienceSetting.java
  src/main/java/de/tum/in/www1/artemis/repository/science/ScienceEventRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/science/ScienceSettingRepository.java
  src/main/java/de/tum/in/www1/artemis/service/science/ScienceEventService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/science/ScienceEventDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/science/ScienceResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/science/ScienceSettingsResource.java
  src/main/resources/config/liquibase/changelog/20231211090000_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/overview/course-lectures/course-lecture-details.component.ts
  src/main/webapp/app/shared/constants/user-settings.constants.ts
  src/main/webapp/app/shared/science/science.component.ts
  src/main/webapp/app/shared/science/science.directive.ts
  src/main/webapp/app/shared/science/science.model.ts
  src/main/webapp/app/shared/science/science.service.ts
  src/main/webapp/app/shared/shared.module.ts
  src/main/webapp/app/shared/user-settings/science-settings/science-settings-structure.ts
  src/main/webapp/app/shared/user-settings/science-settings/science-settings.component.html
  src/main/webapp/app/shared/user-settings/science-settings/science-settings.component.ts
  src/main/webapp/app/shared/user-settings/science-settings/science-settings.service.ts
  src/main/webapp/app/shared/user-settings/user-settings-container/user-settings-container.component.html
  src/main/webapp/app/shared/user-settings/user-settings.module.ts
  src/main/webapp/app/shared/user-settings/user-settings.route.ts
  src/main/webapp/app/shared/user-settings/user-settings.service.ts
  src/main/webapp/i18n/de/userSettings.json
  src/main/webapp/i18n/en/userSettings.json
  src/test/java/de/tum/in/www1/artemis/science/ScienceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/science/ScienceSettingsIntegrationTest.java
  src/test/javascript/spec/component/overview/course-lectures/course-lecture-details.component.spec.ts
  src/test/javascript/spec/component/shared/science.component.spec.ts
  src/test/javascript/spec/component/shared/user-settings/science-settings.component.spec.ts
  src/test/javascript/spec/component/shared/user-settings/science-settings.service.spec.ts
  src/test/javascript/spec/directive/science.directive.spec.ts
  src/test/javascript/spec/service/science.service.spec.ts
Labels: tests, server, client, database, ready to merge, too-long-open

#8000 `Development`: Adjust client typing documentation
  docs/dev/guidelines/client.rst
Labels: documentation, ready to merge

#7956 `General`: Add event logging for lecture units and exercises
  src/main/java/de/tum/in/www1/artemis/domain/science/ScienceEventType.java
  src/main/webapp/app/overview/course-lectures/attachment-unit/attachment-unit.component.ts
  src/main/webapp/app/overview/course-lectures/online-unit/online-unit.component.ts
  src/main/webapp/app/overview/course-lectures/text-unit/text-unit.component.ts
  src/main/webapp/app/overview/course-lectures/video-unit/video-unit.component.ts
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.ts
  src/main/webapp/app/shared/science/science.model.ts
  src/test/javascript/spec/component/lecture-unit/attachment-unit/attachment-unit.component.spec.ts
  src/test/javascript/spec/component/lecture-unit/online-unit/online-unit.component.spec.ts
  src/test/javascript/spec/component/lecture-unit/text-unit/text-unit.component.spec.ts
  src/test/javascript/spec/component/lecture-unit/video-unit/video-unit.component.spec.ts
  src/test/javascript/spec/component/overview/exercise-details/course-exercise-details.component.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-science-service.ts
Labels: tests, ready for review, server, client, small

#7967 `General`: Add feature toggle for science api
  src/main/java/de/tum/in/www1/artemis/service/feature/Feature.java
  src/main/java/de/tum/in/www1/artemis/service/feature/FeatureToggleService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/science/ScienceResource.java
  src/main/resources/config/application-artemis.yml
  src/main/webapp/app/shared/feature-toggle/feature-toggle.service.ts
  src/main/webapp/app/shared/science/science.service.ts
  src/main/webapp/app/shared/user-settings/science-settings/science-settings.component.html
  src/main/webapp/app/shared/user-settings/science-settings/science-settings.component.ts
  src/main/webapp/i18n/de/userSettings.json
  src/main/webapp/i18n/en/userSettings.json
  src/test/java/de/tum/in/www1/artemis/science/ScienceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/FeatureToggleServiceTest.java
  src/test/javascript/spec/component/admin/admin-feature-toggle.component.spec.ts
  src/test/javascript/spec/service/science.service.spec.ts
Labels: tests, server, client, config-change, small, ready to merge

#7938 `Development`: Add typing to `detail-list` component
  src/main/webapp/app/course/manage/detail/course-detail.component.ts
  src/main/webapp/app/course/tutorial-groups/shared/tutorial-group-detail/tutorial-group-detail.component.ts
  src/main/webapp/app/detail-overview-list/detail-overview-list.component.html
  src/main/webapp/app/detail-overview-list/detail-overview-list.component.ts
  src/main/webapp/app/detail-overview-list/detail.model.ts
  src/main/webapp/app/exercises/file-upload/manage/file-upload-exercise-detail.component.ts
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise-detail.component.ts
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.ts
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise-detail.component.ts
  src/main/webapp/app/exercises/shared/utils.ts
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise-detail.component.ts
  src/test/javascript/spec/component/detail-overview-list.component.spec.ts
  src/test/javascript/spec/component/exercises/quiz/manage/quiz-exercise-detail.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-detail.component.spec.ts
Labels: tests, client, ready to merge, maintainer-approved

#8004 `Development`: Replace grading criterion list with set
  src/main/java/de/tum/in/www1/artemis/domain/Exercise.java
  src/main/java/de/tum/in/www1/artemis/domain/GradingCriterion.java
  src/main/java/de/tum/in/www1/artemis/repository/FeedbackRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/GradingCriterionRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/exam/ExamImportService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/FileUploadExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/FileUploadSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextAssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextSubmissionResource.java
  src/test/java/de/tum/in/www1/artemis/assessment/ExampleSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/assessment/ResultServiceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/competency/LearningPathIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/ExerciseFactory.java
  src/test/java/de/tum/in/www1/artemis/exercise/ExerciseUtilService.java
  src/test/java/de/tum/in/www1/artemis/exercise/GradingCriterionUtil.java
  src/test/java/de/tum/in/www1/artemis/exercise/fileuploadexercise/FileUploadExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/modelingexercise/ModelingExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseIntegrationTestService.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/participation/ParticipationFactory.java
  src/test/java/de/tum/in/www1/artemis/participation/ParticipationUtilService.java
  src/test/java/de/tum/in/www1/artemis/service/AssessmentServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/connectors/athena/AthenaFeedbackSendingServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/connectors/athena/AthenaSubmissionSelectionServiceTest.java
  src/test/java/de/tum/in/www1/artemis/text/TextExerciseIntegrationTest.java
Labels: tests, server, refactoring, bugfix, grading system, ready to merge

#8007 `Exam mode`: Fix quiz exercise import
  src/main/java/de/tum/in/www1/artemis/service/QuizExerciseImportService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExamResource.java
  src/test/java/de/tum/in/www1/artemis/exam/ExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/quizexercise/QuizExerciseFactory.java
Labels: tests, ready for review, server, component:Exam Mode, priority:high, bugfix

#7966 `Development`: Add support for Android end to end tests on Github runners
  .github/workflows/test-android.yml
  supporting_scripts/create_test_users.sh
Labels: ready for review, ready to merge

#7943 `Development`: Simplify programming feature language service contribution
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingLanguageFeatureContributor.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingLanguageFeatureService.java
Labels: ready for review, server

#7866 `Lectures`: Mark units as completed when downloading a merged pdf
  src/main/java/de/tum/in/www1/artemis/repository/LectureUnitCompletionRepository.java
  src/main/java/de/tum/in/www1/artemis/service/FileService.java
  src/main/java/de/tum/in/www1/artemis/service/LectureUnitService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/FileResource.java
  src/main/webapp/app/course/learning-paths/participate/lecture-unit/learning-path-lecture-unit-view.component.ts
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/lectureUnit.service.ts
  src/main/webapp/app/overview/course-lectures/course-lecture-details.component.ts
  src/main/webapp/app/shared/http/file.service.ts
  src/test/java/de/tum/in/www1/artemis/FileIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/lecture/LectureUnitServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/FileServiceTest.java
  src/test/javascript/spec/component/lecture-unit/lecture-unit.service.spec.ts
  src/test/javascript/spec/component/overview/course-lectures/course-lecture-details.component.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-file.service.ts
Labels: tests, server, client, bugfix, ready to merge, Component:Lecture, maintainer-approved, too-long-open

#7451 `Development`: Refactor transactional programming exercise creation
  src/main/java/de/tum/in/www1/artemis/repository/ProgrammingExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseService.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseTestService.java
Labels: tests, server, component:Programming, code quality, small, ready to merge, too-long-open

#8017 `Development`: Fix thread limit exception when executing server tests
  src/main/java/de/tum/in/www1/artemis/service/scheduled/ProgrammingExerciseScheduleService.java
  src/test/resources/junit-platform.properties
Labels: tests, server, ready to merge

#7999 `Development`: Move hazelcast access to `@PostConstruct` to prevent potential slow startup
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIQueueWebsocketService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIResultProcessingService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCITriggerService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/SharedQueueManagementService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/buildagent/BuildJobManagementService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/buildagent/SharedQueueProcessingService.java
  src/main/java/de/tum/in/www1/artemis/service/feature/FeatureToggleService.java
  src/main/java/de/tum/in/www1/artemis/service/messaging/InstanceMessageReceiveService.java
  src/main/java/de/tum/in/www1/artemis/service/plagiarism/cache/PlagiarismCacheService.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/cache/CacheHandler.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/cache/quiz/QuizScheduleService.java
  src/main/java/de/tum/in/www1/artemis/web/websocket/team/ParticipationTeamWebsocketService.java
  src/test/java/de/tum/in/www1/artemis/AbstractArchitectureTest.java
  src/test/java/de/tum/in/www1/artemis/ArchitectureTest.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalCIResourceIntegrationTest.java
Labels: tests, ready for review, server

#8018 `Plagiarism checks`: Fix an issue with team exercises
  src/main/java/de/tum/in/www1/artemis/repository/StudentParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/service/plagiarism/ModelingPlagiarismDetectionService.java
  src/main/java/de/tum/in/www1/artemis/service/plagiarism/PlagiarismService.java
  src/main/java/de/tum/in/www1/artemis/service/plagiarism/ProgrammingPlagiarismDetectionService.java
  src/main/java/de/tum/in/www1/artemis/service/plagiarism/TextPlagiarismDetectionService.java
  src/test/java/de/tum/in/www1/artemis/exercise/modelingexercise/compass/umlmodel/AbstractUMLDiagramTest.java
Labels: tests, server, priority:high, ready to merge, maintainer-approved

#8019 `Development`: Fix @PostConstructor issues
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/SharedQueueManagementService.java
  src/main/java/de/tum/in/www1/artemis/service/feature/FeatureToggleService.java
Labels: ready for review, server

#7881 `Iris`: Fix duplicated ids in settings UI
  src/main/webapp/app/iris/settings/iris-settings-update/iris-common-sub-settings-update/iris-common-sub-settings-update.component.html
Labels: tests, client, small, bugfix, cypress, ready to merge, component:Iris, too-long-open

#8015 `Iris`: Add guard to Iris routes
  src/main/webapp/app/app.constants.ts
  src/main/webapp/app/course/competencies/competency-management/competency-management.component.ts
  src/main/webapp/app/course/manage/course-management-tab-bar/course-management-tab-bar.component.ts
  src/main/webapp/app/course/manage/course-management.route.ts
  src/main/webapp/app/course/manage/detail/course-detail.component.ts
  src/main/webapp/app/exercises/programming/manage/code-editor/code-editor-instructor-and-editor-container.component.ts
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.ts
  src/main/webapp/app/exercises/shared/exercise-hint/manage/exercise-hint-update.component.ts
  src/main/webapp/app/iris/iris-guard.service.ts
  src/main/webapp/app/iris/settings/iris-course-settings-update/iris-course-settings-update-routing.module.ts
  src/main/webapp/app/iris/settings/iris-exercise-settings-update/iris-exercise-settings-update-routing.module.ts
  src/main/webapp/app/iris/settings/iris-global-settings-update/iris-global-settings-update-routing.module.ts
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.ts
  src/main/webapp/app/shared/layouts/navbar/navbar.component.ts
  src/test/javascript/spec/component/competencies/competency-management.component.spec.ts
  src/test/javascript/spec/component/exercise-hint/manage/exercise-hint-update.component.spec.ts
  src/test/javascript/spec/component/iris/iris-guard.spec.ts
  src/test/javascript/spec/component/overview/exercise-details/course-exercise-details.component.spec.ts
Labels: enhancement, tests, client, small, component:Iris

#7986 `General`: Fix sorting of entries in exercise scores view
  src/main/webapp/app/shared/service/sort.service.ts
  src/test/javascript/spec/service/sort.service.spec.ts
Labels: tests, client, component:Shared, small, bugfix, ready to merge

#7988 `Development`: Improve code quality of competency management
  src/main/webapp/app/course/competencies/competency-card/competency-card.component.html
  src/main/webapp/app/course/competencies/competency-card/competency-card.component.ts
  src/main/webapp/app/course/competencies/competency-form/competency-form.component.html
  src/main/webapp/app/course/competencies/competency-form/competency-form.component.ts
  src/main/webapp/app/course/competencies/competency-management/competency-management.component.html
  src/main/webapp/app/course/competencies/competency-management/competency-management.component.ts
  src/main/webapp/app/course/competencies/competency.module.ts
  src/main/webapp/app/course/competencies/generate-competencies/competency-recommendation-detail.component.html
  src/main/webapp/app/course/competencies/generate-competencies/competency-recommendation-detail.component.ts
  src/main/webapp/app/course/competencies/taxonomy-select/taxonomy-select.component.html
  src/main/webapp/app/course/competencies/taxonomy-select/taxonomy-select.component.ts
  src/main/webapp/app/course/learning-paths/learning-path-graph/node-details/competency-node-details.component.html
  src/main/webapp/app/course/learning-paths/learning-path-graph/node-details/competency-node-details.component.ts
  src/main/webapp/app/entities/competency.model.ts
  src/main/webapp/app/overview/course-competencies/course-competencies-details.component.html
  src/main/webapp/app/overview/course-competencies/course-competencies-details.component.ts
  src/main/webapp/i18n/de/competency.json
  src/main/webapp/i18n/en/competency.json
  src/test/javascript/spec/component/competencies/competency-form.component.spec.ts
  src/test/javascript/spec/component/competencies/competency-recommendation-detail.component.spec.ts
  src/test/javascript/spec/component/competencies/taxonomy-select.component.spec.ts
Labels: tests, server, client, code quality, refactoring, small, ready to merge, component:AdaptiveLearning, maintainer-approved

#7959 `Development`: Improve JPQL style for competency repositories
  src/main/java/de/tum/in/www1/artemis/repository/CompetencyProgressRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/CompetencyRelationRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/CompetencyRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/LearningPathRepository.java
Labels: tests, server, chore, code quality, consistency, ready to merge, maintainer-approved

#7977 `Development`: Improve JPQL style for several repositories
  src/main/java/de/tum/in/www1/artemis/config/MetricsBean.java
  src/main/java/de/tum/in/www1/artemis/repository/DataExportRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/OrganizationRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/StatisticsRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/UserRepository.java
  src/main/java/de/tum/in/www1/artemis/service/CourseService.java
  src/main/java/de/tum/in/www1/artemis/service/ParticipantScoreService.java
  src/main/java/de/tum/in/www1/artemis/service/TeamService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/gitlab/GitLabUserManagementService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsUserManagementService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/build_plan/JenkinsBuildPlanService.java
  src/main/java/de/tum/in/www1/artemis/service/metis/PostingService.java
  src/main/java/de/tum/in/www1/artemis/service/metis/conversation/ConversationService.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/DataExportScheduleService.java
  src/main/java/de/tum/in/www1/artemis/service/tutorialgroups/TutorialGroupService.java
  src/main/java/de/tum/in/www1/artemis/service/user/UserService.java
  src/test/java/de/tum/in/www1/artemis/connector/GitlabRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/exam/ExamRegistrationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/ExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/CourseGitlabJenkinsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/metis/ChannelIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/metis/PostingServiceUnitTest.java
  src/test/java/de/tum/in/www1/artemis/service/TeamWebsocketServiceTest.java
  src/test/java/de/tum/in/www1/artemis/user/UserTestService.java
Labels: tests, ready for review, server, chore, code quality, consistency, maintainer-approved

#7975 `Development`: Improve JPQL style for programming repositories
  src/main/java/de/tum/in/www1/artemis/repository/BuildLogStatisticsEntryRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ProgrammingExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ProgrammingExerciseStudentParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ProgrammingExerciseTestCaseRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ProgrammingSubmissionRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/SolutionProgrammingExerciseParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/StaticCodeAnalysisCategoryRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/TemplateProgrammingExerciseParticipationRepository.java
  src/test/java/de/tum/in/www1/artemis/repository/ProgrammingExerciseStudentParticipationTestRepository.java
Labels: tests, ready for review, server, chore, code quality, consistency, maintainer-approved

#7960 `Development`: Improve JPQL style for grading repositories
  src/main/java/de/tum/in/www1/artemis/repository/BonusRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/FeedbackRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/GradingCriterionRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/GradingScaleRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/RatingRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ResultRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/StudentScoreRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ExerciseService.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseGradingServiceTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingSubmissionAndResultBitbucketBambooIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/quizexercise/QuizExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/hestia/ExerciseHintServiceTest.java
Labels: tests, ready for review, server, chore, code quality, consistency, maintainer-approved

#7900 `Development`: Enable Aeolus for Jenkins
  src/main/java/de/tum/in/www1/artemis/repository/ProgrammingExerciseStudentParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ProfileService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/aeolus/Action.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/aeolus/AeolusBuildPlanService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/aeolus/AeolusTemplateService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/aeolus/PlatformAction.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/aeolus/Windfile.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/aeolus/WindfileMetadata.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/BambooBuildPlanService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/build_plan/JenkinsBuildPlanService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseService.java
  src/main/webapp/app/entities/programming-exercise.model.ts
  src/main/webapp/app/exercises/programming/manage/update/update-components/custom-build-plans/programming-exercise-custom-aeolus-build-plan.component.ts
  src/main/webapp/app/exercises/programming/manage/update/update-components/custom-build-plans/programming-exercise-docker-image/programming-exercise-docker-image.component.html
  src/main/webapp/app/exercises/programming/shared/service/aeolus.service.ts
  src/test/java/de/tum/in/www1/artemis/AbstractSpringIntegrationBambooBitbucketJiraTest.java
  src/test/java/de/tum/in/www1/artemis/AbstractSpringIntegrationGitlabCIGitlabSamlTest.java
  src/test/java/de/tum/in/www1/artemis/AbstractSpringIntegrationIndependentTest.java
  src/test/java/de/tum/in/www1/artemis/AbstractSpringIntegrationJenkinsGitlabTest.java
  src/test/java/de/tum/in/www1/artemis/AbstractSpringIntegrationLocalCILocalVCTest.java
  src/test/java/de/tum/in/www1/artemis/connector/AeolusRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/connector/JenkinsRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/connectors/AeolusBuildScriptGenerationServiceTest.java
  src/test/java/de/tum/in/www1/artemis/connectors/AeolusServiceTest.java
  src/test/java/de/tum/in/www1/artemis/connectors/AeolusTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/MockDelegate.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseBitbucketBambooIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseGitlabJenkinsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseIntegrationTestService.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseTemplateIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseTestService.java
  src/test/javascript/spec/component/programming-exercise/programming-exercise-custom-aeolus-build-plan.component.spec.ts
Labels: tests, server, client, jenkins/gitlab, ready to merge, too-long-open

#8028 `General`: Fix an error in the detail overview list due to an empty submission policy
  src/main/webapp/app/exercises/programming/manage/services/submission-policy.service.ts
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.ts
  src/test/javascript/spec/service/submission-policy.service.spec.ts
Labels: tests, ready for review, client, small, bugfix, maintainer-approved

#7974 `Development`: Modify the IntelliJ editor configuration to discourage star imports
  .editorconfig
  src/main/resources/config/liquibase/changelog/.editorconfig
  src/test/resources/.editorconfig
Labels: tests, server, client, template, cypress, ready to merge

#7998 `Development`: Fix failing Postgres Server Tests with Integrated code lifecycle
  src/main/java/de/tum/in/www1/artemis/repository/ProgrammingSubmissionRepository.java
  src/test/java/de/tum/in/www1/artemis/exam/StudentExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/AthenaResourceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseResultTestService.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseTestService.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseUtilService.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingSubmissionAndResultBitbucketBambooIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingSubmissionAndResultGitlabJenkinsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingSubmissionAndResultIntegrationTestService.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/hestia/ExerciseHintIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/hestia/ExerciseHintServiceTest.java
  src/test/java/de/tum/in/www1/artemis/hestia/TestwiseCoverageIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalVCIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalVCLocalCIIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalVCLocalCITestService.java
  src/test/java/de/tum/in/www1/artemis/participation/ParticipationUtilService.java
  src/test/java/de/tum/in/www1/artemis/repository/ProgrammingSubmissionTestRepository.java
  src/test/java/de/tum/in/www1/artemis/service/ParticipationServiceTest.java
  src/test/java/de/tum/in/www1/artemis/util/HestiaUtilTestService.java
  src/test/java/de/tum/in/www1/artemis/util/IrisUtilTestService.java
Labels: tests, server, small, ready to merge

#8012 `Programming exercises`: Add form status bar to update view
  src/main/webapp/app/detail-overview-list/detail-overview-list.component.html
  src/main/webapp/app/exercises/file-upload/manage/file-upload-exercise-update.component.html
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise-update.component.html
  src/main/webapp/app/exercises/programming/manage/instructions-editor/programming-exercise-editable-instruction.component.ts
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.html
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.ts
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.module.ts
  src/main/webapp/app/exercises/programming/manage/update/remove-auxiliary-repository-button.component.ts
  src/main/webapp/app/exercises/programming/manage/update/update-components/programming-exercise-difficulty.component.html
  src/main/webapp/app/exercises/programming/manage/update/update-components/programming-exercise-difficulty.component.ts
  src/main/webapp/app/exercises/programming/manage/update/update-components/programming-exercise-grading.component.html
  src/main/webapp/app/exercises/programming/manage/update/update-components/programming-exercise-grading.component.ts
  src/main/webapp/app/exercises/programming/manage/update/update-components/programming-exercise-information.component.html
  src/main/webapp/app/exercises/programming/manage/update/update-components/programming-exercise-information.component.ts
  src/main/webapp/app/exercises/programming/manage/update/update-components/programming-exercise-language.component.html
  src/main/webapp/app/exercises/programming/manage/update/update-components/programming-exercise-language.component.ts
  src/main/webapp/app/exercises/programming/manage/update/update-components/programming-exercise-problem.component.html
  src/main/webapp/app/exercises/programming/manage/update/update-components/programming-exercise-problem.component.ts
  src/main/webapp/app/exercises/programming/manage/update/wizard-mode/programming-exercise-update-wizard-bottom-bar.component.html
  src/main/webapp/app/exercises/programming/manage/update/wizard-mode/programming-exercise-update-wizard-bottom-bar.component.ts
  src/main/webapp/app/exercises/programming/manage/update/wizard-mode/programming-exercise-update-wizard-step.component.html
  src/main/webapp/app/exercises/programming/manage/update/wizard-mode/programming-exercise-update-wizard-step.component.ts
  src/main/webapp/app/exercises/programming/manage/update/wizard-mode/programming-exercise-update-wizard.component.html
  src/main/webapp/app/exercises/programming/manage/update/wizard-mode/programming-exercise-update-wizard.component.scss
  src/main/webapp/app/exercises/programming/manage/update/wizard-mode/programming-exercise-update-wizard.component.ts
  src/main/webapp/app/exercises/programming/shared/lifecycle/programming-exercise-lifecycle.component.ts
  src/main/webapp/app/exercises/programming/shared/lifecycle/programming-exercise-test-schedule-date-picker.component.html
  src/main/webapp/app/exercises/programming/shared/lifecycle/programming-exercise-test-schedule-date-picker.component.ts
  src/main/webapp/app/exercises/shared/submission-policy/submission-policy-update.component.ts
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise-update.component.html
  src/main/webapp/app/shared/table/table-editable-field.component.html
  src/main/webapp/app/shared/table/table-editable-field.component.ts
  src/test/cypress/e2e/exam/ExamManagement.cy.ts
  src/test/cypress/e2e/exam/test-exam/TestExamManagement.cy.ts
  src/test/cypress/e2e/exercises/ExerciseImport.cy.ts
  src/test/cypress/e2e/exercises/programming/ProgrammingExerciseManagement.cy.ts
  src/test/javascript/spec/component/iris/settings/iris-enabled.component.spec.ts
  src/test/javascript/spec/component/iris/settings/mock-settings.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-editable-instruction.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-lifecycle.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-test-schedule-date-picker.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-update.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/update-components/programming-exercise-grading.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/update-components/programming-exercise-information.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/update-components/remove-auxiliary-repository-button.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/wizard-mode/programming-exercise-wizard.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/wizard-mode/wizard-bottom-bar.component.spec.ts
Labels: tests, client, cypress, ready to merge, maintainer-approved

#7957 `Integrated code lifecycle`: Add git repository view in local continuous integration
  src/main/java/de/tum/in/www1/artemis/repository/ProgrammingExerciseStudentParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ResultService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseParticipationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/CommitInfoDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/hestia/ProgrammingExerciseGitDiffReportResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/repository/RepositoryProgrammingExerciseParticipationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/repository/TestRepositoryResource.java
  src/main/webapp/app/admin/admin.route.ts
  src/main/webapp/app/app-routing.module.ts
  src/main/webapp/app/course/manage/course-management.route.ts
  src/main/webapp/app/detail-overview-list/detail-overview-list.component.html
  src/main/webapp/app/detail-overview-list/detail-overview-list.component.ts
  src/main/webapp/app/entities/hestia/programming-exercise-git-diff-report.model.ts
  src/main/webapp/app/entities/programming-submission.model.ts
  src/main/webapp/app/exercises/programming/hestia/git-diff-report/git-diff-report.component.html
  src/main/webapp/app/exercises/programming/hestia/git-diff-report/git-diff-report.component.ts
  src/main/webapp/app/exercises/programming/manage/programming-exercise-management-routing.module.ts
  src/main/webapp/app/exercises/programming/manage/services/programming-exercise-participation.service.ts
  src/main/webapp/app/exercises/programming/manage/services/programming-exercise.service.ts
  src/main/webapp/app/exercises/programming/participate/programming-repository-routing.module.ts
  src/main/webapp/app/exercises/programming/participate/programming-repository.module.ts
  src/main/webapp/app/exercises/programming/shared/commits-info/commits-info.component.html
  src/main/webapp/app/exercises/programming/shared/commits-info/commits-info.component.ts
  src/main/webapp/app/exercises/programming/shared/programming-exercise.module.ts
  src/main/webapp/app/exercises/shared/participation/participation.component.html
  src/main/webapp/app/exercises/shared/participation/participation.component.ts
  src/main/webapp/app/localci/localci-guard.service.ts
  src/main/webapp/app/localvc/commit-details-view/commit-details-view.component.html
  src/main/webapp/app/localvc/commit-details-view/commit-details-view.component.ts
  src/main/webapp/app/localvc/commit-history/commit-history.component.html
  src/main/webapp/app/localvc/commit-history/commit-history.component.ts
  src/main/webapp/app/localvc/localvc-guard.service.ts
  src/main/webapp/app/localvc/repository-view/repository-view.component.html
  src/main/webapp/app/localvc/repository-view/repository-view.component.ts
  src/main/webapp/app/overview/exercise-details/exercise-details-student-actions.component.html
  src/main/webapp/app/overview/exercise-details/exercise-details-student-actions.component.ts
  src/main/webapp/app/shared/components/open-code-editor-button/open-code-editor-button.component.ts
  src/main/webapp/app/shared/layouts/navbar/navbar.component.ts
  src/main/webapp/i18n/de/exercise-actions.json
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/de/repository.json
  src/main/webapp/i18n/en/exercise-actions.json
  src/main/webapp/i18n/en/programmingExercise.json
  src/main/webapp/i18n/en/repository.json
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseParticipationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/RepositoryIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/TestRepositoryResourceIntegrationTest.java
  src/test/javascript/spec/component/detail-overview-list.component.spec.ts
  src/test/javascript/spec/component/localci/localci-guard.spec.ts
  src/test/javascript/spec/component/localvc/commit-details-view.component.spec.ts
  src/test/javascript/spec/component/localvc/commit-history.component.spec.ts
  src/test/javascript/spec/component/localvc/localvc-guard.spec.ts
  src/test/javascript/spec/component/localvc/repository-view.component.spec.ts
  src/test/javascript/spec/component/shared/commits-info.component.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-programming-exercise-participation.service.ts
  src/test/javascript/spec/helpers/mocks/service/mock-programming-exercise.service.ts
  src/test/javascript/spec/service/programming-exercise-participation.service.spec.ts
  src/test/javascript/spec/service/programming-exercise.service.spec.ts
Labels: tests, server, client, ready to merge, lock:artemis-test6, integrated code lifecycle

#7939 `Exam mode`: Fix students table resize functionality
  src/main/webapp/app/exam/manage/students/exam-students.component.html
Labels: client, component:Exam Mode, bugfix, user interface, ready to merge

#8022 `Development`: Remove unused code
  src/main/java/de/tum/in/www1/artemis/domain/Attachment.java
  src/main/java/de/tum/in/www1/artemis/domain/Course.java
  src/main/java/de/tum/in/www1/artemis/domain/exam/ExamUser.java
  src/main/java/de/tum/in/www1/artemis/domain/lecture/Slide.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/buildagent/BuildJobExecutionService.java
  src/main/java/de/tum/in/www1/artemis/service/plagiarism/ProgrammingPlagiarismDetectionService.java
  src/test/java/de/tum/in/www1/artemis/course/CourseTestService.java
  src/test/java/de/tum/in/www1/artemis/iris/IrisChatMessageIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/science/ScienceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/text/TextExerciseIntegrationTest.java
Labels: tests, ready for review, server, maintainer-approved

#8031 `Development`: Add missing hashCode() methods to all classes overriding equals()
  src/main/java/de/tum/in/www1/artemis/domain/TempIdObject.java
  src/main/java/de/tum/in/www1/artemis/service/compass/umlmodel/UMLContainerElement.java
  src/main/java/de/tum/in/www1/artemis/service/compass/umlmodel/activity/UMLActivity.java
  src/main/java/de/tum/in/www1/artemis/service/compass/umlmodel/activity/UMLActivityElement.java
  src/main/java/de/tum/in/www1/artemis/service/compass/umlmodel/activity/UMLControlFlow.java
  src/main/java/de/tum/in/www1/artemis/service/compass/umlmodel/bpmn/BPMNFlow.java
  src/main/java/de/tum/in/www1/artemis/service/compass/umlmodel/classdiagram/UMLAttribute.java
  src/main/java/de/tum/in/www1/artemis/service/compass/umlmodel/classdiagram/UMLClass.java
  src/main/java/de/tum/in/www1/artemis/service/compass/umlmodel/classdiagram/UMLMethod.java
  src/main/java/de/tum/in/www1/artemis/service/compass/umlmodel/classdiagram/UMLPackage.java
  src/main/java/de/tum/in/www1/artemis/service/compass/umlmodel/classdiagram/UMLRelationship.java
  src/main/java/de/tum/in/www1/artemis/service/compass/umlmodel/communication/UMLCommunicationLink.java
  src/main/java/de/tum/in/www1/artemis/service/compass/umlmodel/component/UMLComponent.java
  src/main/java/de/tum/in/www1/artemis/service/compass/umlmodel/component/UMLComponentInterface.java
  src/main/java/de/tum/in/www1/artemis/service/compass/umlmodel/component/UMLComponentRelationship.java
  src/main/java/de/tum/in/www1/artemis/service/compass/umlmodel/deployment/UMLArtifact.java
  src/main/java/de/tum/in/www1/artemis/service/compass/umlmodel/deployment/UMLNode.java
  src/main/java/de/tum/in/www1/artemis/service/compass/umlmodel/flowchart/FlowchartFlowline.java
  src/main/java/de/tum/in/www1/artemis/service/compass/umlmodel/object/UMLObjectLink.java
  src/main/java/de/tum/in/www1/artemis/service/compass/umlmodel/petrinet/PetriNetArc.java
  src/main/java/de/tum/in/www1/artemis/service/compass/umlmodel/syntaxtree/SyntaxTreeLink.java
  src/main/java/de/tum/in/www1/artemis/service/compass/umlmodel/usecase/UMLSystemBoundary.java
  src/main/java/de/tum/in/www1/artemis/service/compass/umlmodel/usecase/UMLUseCaseAssociation.java
  src/main/java/de/tum/in/www1/artemis/service/hestia/behavioral/GroupedFile.java
Labels: server, code quality, small, ready to merge

#8030 `Development`: Fix some teamscale findings
  src/main/java/de/tum/in/www1/artemis/repository/StudentScoreRepository.java
  src/main/java/de/tum/in/www1/artemis/service/CourseScoreCalculationService.java
  src/main/java/de/tum/in/www1/artemis/service/ExerciseScoresChartService.java
  src/main/java/de/tum/in/www1/artemis/service/ParticipantScoreService.java
  src/main/java/de/tum/in/www1/artemis/service/PresentationPointsCalculationService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ParticipantScoreResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/CourseScoresDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/ExerciseScoresDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/ScoreDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/score/ScoreDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/score/StudentScoreSumDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/score/StudentScoresDTO.java
  src/test/java/de/tum/in/www1/artemis/assessment/ExerciseScoresChartIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/assessment/ParticipantScoreIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/CourseScoreCalculationServiceTest.java
Labels: tests, server, code quality, small, ready to merge

#8039 `Integrated code lifecycle`: Trigger solution build before template build
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIResultProcessingService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localvc/LocalVCServletService.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalVCLocalCIIntegrationTest.java
Labels: tests, server, ready to merge, integrated code lifecycle

#8044 `Development`: Fix android e2e tests
  .github/workflows/test-android.yml
Labels: ready to merge

#8035 `Development`: Improve detail overview list client tests
  src/test/javascript/spec/component/detail-overview-list.component.spec.ts
Labels: tests, client, cypress, ready to merge

#8037 `Development`: Fix some constantly failing Postgres tests and LinkPreviewIntegrationTest
  src/main/java/de/tum/in/www1/artemis/repository/ResultRepository.java
  src/test/java/de/tum/in/www1/artemis/metis/linkpreview/LinkPreviewIntegrationTest.java
Labels: tests, server, small, ready to merge

#8046 `Adaptive learning`: Improve usability of competency selector
  src/main/webapp/app/exercises/programming/manage/instructions-editor/programming-exercise-editable-instruction.scss
  src/main/webapp/app/exercises/programming/manage/update/update-components/programming-exercise-problem.component.html
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise-update.component.html
  src/main/webapp/app/shared/competency-selection/competency-selection.component.html
  src/main/webapp/app/shared/competency-selection/competency-selection.component.scss
  src/main/webapp/app/shared/competency-selection/competency-selection.component.ts
  src/test/javascript/spec/component/shared/competency-selection.component.spec.ts
Labels: tests, client, ready to merge, maintainer-approved

#7991 `General`: Add new contributors to about us page
  src/main/resources/public/content/about-us.json
  src/main/resources/public/images/about/Jonathan_Ostertag.jpg
  src/main/resources/public/images/about/Mateus_Messias_Mendes.jpg
  src/main/resources/public/images/about/Michael_Dyer.jpg
  src/main/resources/public/images/about/Raphael_Stief.jpg
Labels: chore, small, ready to merge, maintainer-approved

#7772 `Iris`: Refactor Iris Services to use Pyris DTOs
  src/main/java/de/tum/in/www1/artemis/service/connectors/iris/IrisConnectorService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/iris/dto/IrisMessageResponseDTO.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/iris/dto/IrisRequestDTO.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/iris/dto/IrisRequestV2DTO.java
  src/main/java/de/tum/in/www1/artemis/service/iris/session/IrisChatSessionService.java
  src/main/java/de/tum/in/www1/artemis/service/iris/session/IrisCodeEditorSessionService.java
  src/main/java/de/tum/in/www1/artemis/service/iris/session/IrisCompetencyGenerationSessionService.java
  src/main/java/de/tum/in/www1/artemis/service/iris/session/IrisHestiaSessionService.java
  src/test/java/de/tum/in/www1/artemis/connector/IrisRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/iris/IrisChatMessageIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/iris/IrisConnectorServiceTest.java
  src/test/java/de/tum/in/www1/artemis/iris/IrisHestiaIntegrationTest.java
Labels: tests, server, ready to merge, component:Iris, too-long-open

#8056 `Integrated code lifecycle`: Fix Git authentication if the password contains a colon
  src/main/java/de/tum/in/www1/artemis/service/connectors/localvc/LocalVCServletService.java
Labels: ready for review, server, small, bugfix, ready to merge, integrated code lifecycle

#8040 `Integrated code lifecycle`: Prevent pushes to non-default branches
  src/main/java/de/tum/in/www1/artemis/config/localvcci/ArtemisGitServlet.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localvc/LocalVCPrePushHook.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localvc/LocalVCService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localvc/LocalVCServletService.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalVCIntegrationTest.java
Labels: tests, server, ready to merge, integrated code lifecycle

#8041 `Integrated code lifecycle`: Return 403 for access attempts to repositories the user doesn't own
  src/main/java/de/tum/in/www1/artemis/service/RepositoryAccessService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localvc/LocalVCServletService.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalVCLocalCIIntegrationTest.java
Labels: tests, server, ready to merge, integrated code lifecycle

#8050 `Development`: Add team exercises plagiarism detection integration test
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseIntegrationBambooBitbucketJiraTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseIntegrationJenkinsGitlabTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseIntegrationTestService.java
  src/test/java/de/tum/in/www1/artemis/plagiarism/PlagiarismCheckIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/plagiarism/PlagiarismUtilService.java
Labels: tests, ready to merge, maintainer-approved

#7994 `Development`: Add architecture test for query capitalization
  src/main/java/de/tum/in/www1/artemis/repository/AttachmentUnitRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/BuildLogStatisticsEntryRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/CompetencyProgressRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/CourseRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ExamRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ModelElementRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ParticipantScoreRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ResultRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/StatisticsRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/StudentParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/UserRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/iris/IrisMessageRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/metis/ConversationParticipantRepository.java
  src/test/java/de/tum/in/www1/artemis/ArchitectureTest.java
  src/test/java/de/tum/in/www1/artemis/repository/ParticipationTestRepository.java
  src/test/java/de/tum/in/www1/artemis/repository/ProgrammingExerciseTestRepository.java
  src/test/java/de/tum/in/www1/artemis/repository/ProgrammingSubmissionTestRepository.java
  src/test/java/de/tum/in/www1/artemis/repository/UserTestRepository.java
  src/test/java/de/tum/in/www1/artemis/user/UserUtilService.java
Labels: tests, server, consistency, ready to merge, maintainer-approved

#8071 `Iris`: Fix enable/disable settings buttons to show correct state to instructors
  src/main/webapp/app/iris/settings/iris-settings-update/iris-common-sub-settings-update/iris-common-sub-settings-update.component.html
  src/main/webapp/app/iris/settings/iris-settings-update/iris-common-sub-settings-update/iris-common-sub-settings-update.component.ts
  src/test/javascript/spec/component/iris/settings/iris-common-sub-settings-update.component.spec.ts
Labels: ready for review, client, small, bugfix, component:Iris

#7918 `Development`: Remove LTI 1.0 services
  src/main/java/de/tum/in/www1/artemis/domain/LtiOutcomeUrl.java
  src/main/java/de/tum/in/www1/artemis/domain/OnlineCourseConfiguration.java
  src/main/java/de/tum/in/www1/artemis/repository/ExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/LtiOutcomeUrlRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/OnlineCourseConfigurationService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/lti/Lti10Service.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/lti/LtiNewResultService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/LtiLaunchRequestDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/open/PublicLtiResource.java
  src/main/resources/config/liquibase/changelog/20240118175408_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/course/manage/course-lti-configuration/course-lti-configuration.component.html
  src/main/webapp/app/course/manage/course-lti-configuration/course-lti-configuration.component.ts
  src/main/webapp/app/course/manage/course-lti-configuration/edit-course-lti-configuration.component.html
  src/main/webapp/app/course/manage/course-lti-configuration/edit-course-lti-configuration.component.ts
  src/main/webapp/app/entities/online-course-configuration.model.ts
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/de/lti.json
  src/main/webapp/i18n/de/ltiOutcomeUrl.json
  src/main/webapp/i18n/en/lti.json
  src/test/java/de/tum/in/www1/artemis/Lti13LaunchIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/LtiIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/LtiQuizIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/OAuth2JWKSIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/authentication/AuthenticationIntegrationTestHelper.java
  src/test/java/de/tum/in/www1/artemis/authentication/InternalAuthenticationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/authentication/JiraAuthenticationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/connectors/Lti10ServiceTest.java
  src/test/java/de/tum/in/www1/artemis/connectors/LtiNewResultServiceTest.java
  src/test/java/de/tum/in/www1/artemis/course/CourseFactory.java
  src/test/java/de/tum/in/www1/artemis/course/CourseTestService.java
  src/test/java/de/tum/in/www1/artemis/course/CourseUtilService.java
  src/test/java/de/tum/in/www1/artemis/service/OnlineCourseConfigurationServiceTest.java
  src/test/java/de/tum/in/www1/artemis/util/AbstractArtemisIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/LtiRequestBodies.java
  src/test/javascript/spec/component/course/course-lti-configuration.component.spec.ts
  src/test/javascript/spec/component/course/course-management.service.spec.ts
  src/test/javascript/spec/component/course/edit-course-lti-configuration.component.spec.ts
Labels: tests, ready for review, server, client, database

#7931 `Development`: Fix issues with LTI 1.3 for open edx
  src/main/java/de/tum/in/www1/artemis/domain/lti/Lti13AgsClaim.java
  src/main/java/de/tum/in/www1/artemis/domain/lti/Lti13LaunchRequest.java
  src/main/java/de/tum/in/www1/artemis/domain/lti/LtiResourceLaunch.java
  src/main/java/de/tum/in/www1/artemis/repository/LtiPlatformConfigurationRepository.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/lti/Lti13Service.java
  src/main/java/de/tum/in/www1/artemis/web/rest/admin/AdminLtiConfigurationResource.java
  src/main/resources/config/liquibase/changelog/20240115231508_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/admin/lti-configuration/edit-lti-configuration.component.html
  src/main/webapp/app/admin/lti-configuration/edit-lti-configuration.component.ts
  src/main/webapp/app/admin/lti-configuration/lti-configuration.component.html
  src/main/webapp/app/admin/lti-configuration/lti-configuration.component.ts
  src/main/webapp/app/admin/lti-configuration/lti-configuration.route.ts
  src/main/webapp/app/admin/lti-configuration/lti-configuration.service.ts
  src/main/webapp/app/course/manage/course-lti-configuration/edit-course-lti-configuration.component.ts
  src/main/webapp/i18n/de/lti.json
  src/main/webapp/i18n/en/lti.json
  src/test/java/de/tum/in/www1/artemis/LtiIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/connectors/Lti13ServiceTest.java
  src/test/javascript/spec/component/admin/edit-lti-configuration.component.spec.ts
  src/test/javascript/spec/service/lti-configuration.service.spec.ts
Labels: tests, server, client, database, component:LTI, ready to merge

#7997 `Adaptive learning`: Add bulk import, relations import and search improvements to competency import
  src/main/java/de/tum/in/www1/artemis/repository/CompetencyRelationRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/CompetencyRepository.java
  src/main/java/de/tum/in/www1/artemis/service/competency/CompetencyService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CompetencyResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/PageableSearchDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/pageablesearch/BasePageableSearchDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/pageablesearch/CompetencyPageableSearchDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/util/PageUtil.java
  src/main/webapp/app/course/competencies/competency-management/competency-import-course.component.html
  src/main/webapp/app/course/competencies/competency-management/competency-import-course.component.ts
  src/main/webapp/app/course/competencies/competency-management/competency-import.component.ts
  src/main/webapp/app/course/competencies/competency-management/competency-management.component.html
  src/main/webapp/app/course/competencies/competency-management/competency-management.component.ts
  src/main/webapp/app/course/competencies/competency-management/prerequisite-import.component.ts
  src/main/webapp/app/course/competencies/competency.module.ts
  src/main/webapp/app/course/competencies/competency.service.ts
  src/main/webapp/app/course/competencies/import-competencies/competency-search.component.html
  src/main/webapp/app/course/competencies/import-competencies/competency-search.component.ts
  src/main/webapp/app/course/competencies/import-competencies/competency-table.component.html
  src/main/webapp/app/course/competencies/import-competencies/competency-table.component.ts
  src/main/webapp/app/course/competencies/import-competencies/import-competencies.component.html
  src/main/webapp/app/course/competencies/import-competencies/import-competencies.component.ts
  src/main/webapp/app/course/manage/course-management.route.ts
  src/main/webapp/app/course/manage/course-update.component.html
  src/main/webapp/app/course/manage/course-update.component.ts
  src/main/webapp/app/shared/table/pageable-table.ts
  src/main/webapp/app/utils/semester-utils.ts
  src/main/webapp/i18n/de/competency.json
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/en/competency.json
  src/main/webapp/i18n/en/global.json
  src/test/java/de/tum/in/www1/artemis/lecture/CompetencyIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/PageableSearchUtilService.java
  src/test/javascript/spec/component/competencies/competency-management.component.spec.ts
  src/test/javascript/spec/component/competencies/competency.service.spec.ts
  src/test/javascript/spec/component/competencies/generate-competencies.component.spec.ts
  src/test/javascript/spec/component/competencies/import/competency-search-stub.component.ts
  src/test/javascript/spec/component/competencies/import/competency-search.component.spec.ts
  src/test/javascript/spec/component/competencies/import/competency-table-stub.component.ts
  src/test/javascript/spec/component/competencies/import/competency-table.component.spec.ts
  src/test/javascript/spec/component/competencies/import/import-competencies.component.spec.ts
  src/test/javascript/spec/component/competencies/prerequisite-import.component.spec.ts
  src/test/javascript/spec/component/course/course-update.component.spec.ts
  src/test/javascript/spec/util/semester-utils.spec.ts
Labels: feature, tests, server, client, ready to merge, component:AdaptiveLearning, maintainer-approved

#8075 `Adaptive learning`: Add success and warning alerts to competency generation
  src/main/java/de/tum/in/www1/artemis/service/iris/session/IrisCompetencyGenerationSessionService.java
  src/main/webapp/app/course/competencies/generate-competencies/course-description-form.component.html
  src/main/webapp/app/course/competencies/generate-competencies/generate-competencies.component.html
  src/main/webapp/app/course/competencies/generate-competencies/generate-competencies.component.ts
  src/main/webapp/i18n/de/competency.json
  src/main/webapp/i18n/en/competency.json
  src/test/javascript/spec/component/competencies/generate-competencies.component.spec.ts
Labels: tests, server, client, ready to merge, component:AdaptiveLearning, component:Iris, maintainer-approved

#8082 `Development`: Remove unnecessary database call
  src/main/java/de/tum/in/www1/artemis/repository/StudentExamRepository.java
  src/main/java/de/tum/in/www1/artemis/service/exam/ExamService.java
  src/main/java/de/tum/in/www1/artemis/service/export/DataExportExamCreationService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/StudentExamResource.java
  src/test/java/de/tum/in/www1/artemis/service/DataExportCreationServiceTest.java
Labels: tests, server, small, ready to merge

#8093 `Grading`: Fix an issue in the course score calculation
  src/main/java/de/tum/in/www1/artemis/repository/StudentScoreRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/TeamRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/TeamScoreRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ParticipantScoreService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/score/StudentScoreSum.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/score/TeamScoreSum.java
  src/main/webapp/app/course/course-scores/course-scores.component.ts
Labels: ready for review, server, client

#8068 `Development`: Fix GitServiceTest on Windows
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/GitServiceTest.java
  src/test/java/de/tum/in/www1/artemis/util/GitUtilService.java
Labels: tests, ready to merge

#8069 `Development`: Rename class FileUtils to improve clarity
  src/test/java/de/tum/in/www1/artemis/assessment/AssessmentComplaintIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/assessment/AssessmentTeamComplaintIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/assessment/ExampleSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/assessment/TutorParticipationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/connector/BambooRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/connector/JenkinsRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/course/CourseTestService.java
  src/test/java/de/tum/in/www1/artemis/course/CourseUtilService.java
  src/test/java/de/tum/in/www1/artemis/exercise/ExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/modelingexercise/ModelingAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/modelingexercise/ModelingExerciseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/modelingexercise/ModelingExerciseUtilService.java
  src/test/java/de/tum/in/www1/artemis/exercise/modelingexercise/ModelingSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/modelingexercise/compass/controller/ModelClusterFactoryTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/modelingexercise/compass/controller/UMLModelParserTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseIntegrationTestService.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/participation/ParticipationUtilService.java
  src/test/java/de/tum/in/www1/artemis/plagiarism/PlagiarismCheckIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/DataExportCreationServiceTest.java
  src/test/java/de/tum/in/www1/artemis/util/TestResourceUtils.java
Labels: tests, small, ready to merge

#8072 `Quiz exercises`: Save Apollon diagram when generating drag and drop question
  src/main/webapp/app/exercises/quiz/manage/apollon-diagrams/apollon-diagram-detail.component.ts
Labels: client, ready to merge, maintainer-approved

#8080 `Quiz exercises`: Fix short answer quiz template is invalid
  src/main/webapp/app/exercises/quiz/manage/short-answer-question/short-answer-question-edit.component.ts
Labels: ready for review, client, component:Quiz, bugfix, user interface, ready to merge

#7771 `Programming exercises`: Improve button labels for Orion integration
  src/main/webapp/app/orion/assessment/orion-exercise-assessment-dashboard.component.html
  src/main/webapp/app/orion/assessment/orion-exercise-assessment-dashboard.component.ts
  src/main/webapp/app/orion/management/code-editor-instructor-and-editor-orion-container.component.html
  src/main/webapp/app/orion/management/orion-programming-exercise.component.html
  src/main/webapp/app/orion/management/orion-programming-exercise.component.ts
  src/main/webapp/app/orion/participation/orion-exercise-details-student-actions.component.html
  src/main/webapp/app/orion/participation/orion-exercise-details-student-actions.component.ts
  src/main/webapp/app/shared/orion/orion-button/orion-button.component.html
  src/main/webapp/app/shared/orion/orion-button/orion-button.component.scss
  src/main/webapp/app/shared/orion/orion-button/orion-button.component.ts
  src/main/webapp/app/shared/orion/orion-connector.service.ts
  src/main/webapp/app/shared/orion/orion.ts
  src/main/webapp/content/images/intellij_logo.png
  src/main/webapp/i18n/de/editor.json
  src/main/webapp/i18n/de/exercise-actions.json
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/de/login.json
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/editor.json
  src/main/webapp/i18n/en/exercise-actions.json
  src/main/webapp/i18n/en/global.json
  src/main/webapp/i18n/en/login.json
  src/main/webapp/i18n/en/programmingExercise.json
  src/test/javascript/spec/service/orion/orion-connector.service.spec.ts
Labels: tests, ready for review, client, ready to merge, too-long-open

#8099 `Development`: Show docker image for existing programming exercises
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.ts
Labels: client, small, bugfix, ready to merge, integrated code lifecycle

#8092 `Integrated code lifecycle`: Remove /git from local VC repository folder names
  src/main/java/de/tum/in/www1/artemis/domain/VcsRepositoryUri.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localvc/LocalVCRepositoryUri.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalVCIntegrationTest.java
Labels: tests, server, small, bugfix, ready to merge, integrated code lifecycle

#8088 `Development`: Move PageableSearchDTOs to the same package
  src/main/java/de/tum/in/www1/artemis/repository/UserRepository.java
  src/main/java/de/tum/in/www1/artemis/service/CourseService.java
  src/main/java/de/tum/in/www1/artemis/service/ExerciseSpecificationService.java
  src/main/java/de/tum/in/www1/artemis/service/FileUploadExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/GradingScaleService.java
  src/main/java/de/tum/in/www1/artemis/service/LectureService.java
  src/main/java/de/tum/in/www1/artemis/service/ModelingExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/QuizExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/SubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/TextExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/competency/CompetencyService.java
  src/main/java/de/tum/in/www1/artemis/service/exam/ExamService.java
  src/main/java/de/tum/in/www1/artemis/service/learningpath/LearningPathService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CompetencyResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExamResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/FileUploadExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/GradingScaleResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/LearningPathResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/LectureResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/QuizExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/SubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/admin/AdminUserResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/SearchResultPageDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/pageablesearch/CompetencyPageableSearchDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/pageablesearch/PageableSearchDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/pageablesearch/SearchTermPageableSearchDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/pageablesearch/UserPageableSearchDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/util/PageUtil.java
  src/main/webapp/app/course/competencies/competency-paging.service.ts
  src/main/webapp/app/course/competencies/import-competencies/competency-table.component.ts
  src/main/webapp/app/course/competencies/import-competencies/import-competencies.component.ts
  src/main/webapp/app/course/course-for-import-dto-paging-service.ts
  src/main/webapp/app/course/learning-paths/learning-path-management/learning-path-management.component.ts
  src/main/webapp/app/course/learning-paths/learning-path-paging.service.ts
  src/main/webapp/app/exam/manage/exams/exam-import/exam-import-paging.service.ts
  src/main/webapp/app/exercises/shared/example-submission/example-submission-import/example-submission-import-paging.service.ts
  src/main/webapp/app/exercises/shared/manage/exercise-paging.service.ts
  src/main/webapp/app/exercises/shared/manage/paging.service.ts
  src/main/webapp/app/grading-system/bonus/bonus.component.ts
  src/main/webapp/app/grading-system/grading-system.service.ts
  src/main/webapp/app/lecture/lecture-paging.service.ts
  src/main/webapp/app/shared/import/import.component.ts
  src/main/webapp/app/shared/table/pageable-table.ts
  src/test/java/de/tum/in/www1/artemis/exam/ExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/participation/SubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/LectureServiceTest.java
  src/test/java/de/tum/in/www1/artemis/util/PageableSearchUtilService.java
  src/test/javascript/spec/component/bonus/bonus.component.spec.ts
  src/test/javascript/spec/component/competencies/import/competency-table-stub.component.ts
  src/test/javascript/spec/component/competencies/import/import-competencies.component.spec.ts
  src/test/javascript/spec/component/import/exercise-import.component.spec.ts
  src/test/javascript/spec/component/import/import.component.spec.ts
  src/test/javascript/spec/component/learning-paths/management/learning-path-management.component.spec.ts
  src/test/javascript/spec/service/learning-path-paging.service.spec.ts
Labels: tests, server, client, chore, refactoring, ready to merge

#8064 `Adaptive learning`: Make exercise competencies management consistent
  src/main/webapp/app/exercises/file-upload/manage/file-upload-exercise-detail.component.ts
  src/main/webapp/app/exercises/file-upload/manage/file-upload-exercise-update.component.html
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise-detail.component.ts
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise-update.component.html
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.ts
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise-detail.component.ts
  src/main/webapp/app/exercises/shared/utils.ts
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise-detail.component.ts
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise-update.component.html
Labels: client, ready to merge

#8049 `Integrated code lifecycle`: Use individual due date in exams for afterDueDate check
  src/main/java/de/tum/in/www1/artemis/service/ExerciseDateService.java
  src/main/java/de/tum/in/www1/artemis/service/exam/ExamDateService.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseGradingServiceTest.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalVCLocalCIIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/ExerciseDateServiceTest.java
  src/test/java/de/tum/in/www1/artemis/text/TextAssessmentIntegrationTest.java
Labels: tests, ready for review, server, bugfix, integrated code lifecycle
