Repository ls1intum/Artemis, pull requests merged in 2024-12, with the labels that each got.

#9919 `Iris`: Hide suggestions during response generation
  src/main/webapp/app/iris/base-chatbot/iris-base-chatbot.component.html
  src/test/javascript/spec/component/iris/ui/iris-base-chatbot.component.spec.ts
Labels: tests, ready for review, client, lock:artemis-test3

#9922 `Development`: Fix a flaky e2e test where the instructor edits a channel
  src/test/playwright/e2e/course/CourseMessages.spec.ts
Labels: ready for review, deployment-error

#9927 `Communication`: Fix padding issues in channel search and post components
  src/main/webapp/app/overview/course-conversations/layout/conversation-messages/conversation-messages.component.html
  src/main/webapp/app/shared/metis/post/post.component.html
  src/main/webapp/app/shared/metis/post/post.component.scss
Labels: client, small, bugfix, ready to merge, component:Communication

#9898 `Integrated code lifecycle`: Open repository for editors and instructors during assessment
  src/main/webapp/app/exercises/programming/assess/code-editor-tutor-assessment-container.component.html
  src/main/webapp/app/exercises/programming/assess/code-editor-tutor-assessment-container.component.ts
  src/main/webapp/app/utils/navigation.utils.ts
Labels: client, ready to merge, maintainer-approved

#9899 `Lectures`: Fix file names for downloads with chromium browsers
  src/main/java/de/tum/cit/aet/artemis/core/web/FileResource.java
  src/main/webapp/app/lecture/lecture-attachments.component.html
  src/main/webapp/app/lecture/lecture-attachments.component.ts
  src/main/webapp/app/overview/course-lectures/attachment-unit/attachment-unit.component.ts
  src/main/webapp/app/overview/course-lectures/course-lecture-details.component.html
  src/main/webapp/app/overview/course-lectures/course-lecture-details.component.ts
  src/main/webapp/app/shared/http/file.service.ts
  src/test/java/de/tum/cit/aet/artemis/lecture/AttachmentResourceIntegrationTest.java
  src/test/javascript/spec/component/lecture-unit/attachment-unit/attachment-unit.component.spec.ts
  src/test/javascript/spec/component/lecture/lecture-attachments.component.spec.ts
  src/test/javascript/spec/component/overview/course-lectures/course-lecture-details.component.spec.ts
  src/test/javascript/spec/component/shared/http/file.service.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-file.service.ts
Labels: tests, server, client, ready to merge, maintainer-approved, core, lecture

#9913 `Development`: Update client tests documentation
  docs/dev/guidelines/client-tests.rst
Labels: ready for review, documentation, small, ready to merge, maintainer-approved

#9915 `Development`: Update adaptive learning documentation
  docs/user/adaptive-learning/adaptive-learning-instructor.rst
  docs/user/adaptive-learning/adaptive-learning-student.rst
  docs/user/adaptive-learning/instructor/learning-path-management.png
  docs/user/adaptive-learning/student/students-learning-path-graph.png
  docs/user/adaptive-learning/student/students-learning-path-participation.png
Labels: ready for review, documentation, small

#9916 `Adaptive learning`: Improve competency student view
  src/main/java/de/tum/cit/aet/artemis/atlas/repository/CourseCompetencyRepository.java
  src/main/java/de/tum/cit/aet/artemis/atlas/service/competency/CourseCompetencyService.java
  src/main/java/de/tum/cit/aet/artemis/atlas/web/CourseCompetencyResource.java
  src/main/webapp/app/course/competencies/course-competency.service.ts
  src/main/webapp/app/entities/competency.model.ts
  src/main/webapp/app/overview/course-competencies/course-competencies.component.ts
  src/test/java/de/tum/cit/aet/artemis/atlas/competency/AbstractCompetencyPrerequisiteIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/atlas/competency/CompetencyIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/atlas/competency/CourseCompetencyIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/atlas/competency/PrerequisiteIntegrationTest.java
Labels: tests, ready for review, server, client, atlas

#9875 `Development`: Fix exercise deletion with existing Iris messages
  src/main/resources/config/liquibase/changelog/20241125000900_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/test/java/de/tum/cit/aet/artemis/iris/IrisExerciseChatSessionIntegrationTest.java
Labels: tests, ready for review, database, iris

#9925 `Communication`: Fix an issue with list formatting in Markdown
  src/main/webapp/app/shared/metis/posting-content/posting-content-part/posting-content-part.components.ts
  src/main/webapp/app/shared/metis/posting-markdown-editor/posting-markdown-editor.component.ts
  src/main/webapp/app/shared/monaco-editor/model/actions/bulleted-list.action.ts
  src/main/webapp/app/shared/monaco-editor/model/actions/list.action.ts
  src/main/webapp/app/shared/monaco-editor/model/actions/ordered-list.action.ts
  src/main/webapp/app/shared/monaco-editor/monaco-editor.component.ts
  src/test/javascript/spec/component/shared/metis/posting-content/posting-content-part.component.spec.ts
  src/test/javascript/spec/component/shared/metis/postings-markdown-editor/postings-markdown-editor.component.spec.ts
  src/test/javascript/spec/component/shared/monaco-editor/monaco-editor-action.integration.spec.ts
  src/test/javascript/spec/component/shared/monaco-editor/monaco-editor.component.spec.ts
Labels: tests, client, bugfix, ready to merge, component:Communication

#9487 `Integrated code lifecycle`: Provide Instructors more options to control container configuration
  docs/user/exercises/programming-exercise-setup.inc
  docs/user/exercises/programming/docker-flags-edit.png
  src/main/java/de/tum/cit/aet/artemis/buildagent/dto/BuildConfig.java
  src/main/java/de/tum/cit/aet/artemis/buildagent/dto/DockerFlagsDTO.java
  src/main/java/de/tum/cit/aet/artemis/buildagent/dto/DockerRunConfig.java
  src/main/java/de/tum/cit/aet/artemis/buildagent/service/BuildJobContainerService.java
  src/main/java/de/tum/cit/aet/artemis/buildagent/service/BuildJobExecutionService.java
  src/main/java/de/tum/cit/aet/artemis/core/config/Constants.java
  src/main/java/de/tum/cit/aet/artemis/programming/domain/ProgrammingExerciseBuildConfig.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/ProgrammingExerciseBuildConfigService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/ProgrammingExerciseService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/localci/LocalCIQueueWebsocketService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/localci/LocalCITriggerService.java
  src/main/java/de/tum/cit/aet/artemis/programming/web/ProgrammingExerciseExportImportResource.java
  src/main/java/de/tum/cit/aet/artemis/programming/web/ProgrammingExerciseResource.java
  src/main/resources/config/liquibase/changelog/20241022120000_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/exercises/programming/manage/update/update-components/custom-build-plans/programming-exercise-build-configuration/programming-exercise-build-configuration.component.html
  src/main/webapp/app/exercises/programming/manage/update/update-components/custom-build-plans/programming-exercise-build-configuration/programming-exercise-build-configuration.component.ts
  src/main/webapp/app/exercises/programming/manage/update/update-components/custom-build-plans/programming-exercise-custom-build-plan.component.html
  src/main/webapp/i18n/de/error.json
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/error.json
  src/main/webapp/i18n/en/programmingExercise.json
  src/test/java/de/tum/cit/aet/artemis/buildagent/service/BuildAgentDockerServiceTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/icl/LocalCIIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/icl/LocalCIResourceIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/icl/LocalCIServiceTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/icl/LocalVCLocalCIIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/icl/TestBuildAgentConfiguration.java
  src/test/javascript/spec/component/programming-exercise/programming-exercise-build-configuration.component.spec.ts
Labels: tests, server, client, documentation, database, ready to merge, buildagent, core, programming

#9787 `Communication`: Improve push notifications for the iOS mobile app
  src/main/java/de/tum/cit/aet/artemis/communication/domain/notification/GroupNotificationFactory.java
  src/main/java/de/tum/cit/aet/artemis/communication/domain/notification/SingleUserNotificationFactory.java
  src/main/java/de/tum/cit/aet/artemis/communication/domain/push_notification/PushNotificationApiType.java
  src/main/java/de/tum/cit/aet/artemis/communication/domain/push_notification/PushNotificationDeviceConfiguration.java
  src/main/java/de/tum/cit/aet/artemis/communication/dto/PushNotificationRegisterBody.java
  src/main/java/de/tum/cit/aet/artemis/communication/service/notifications/ConversationNotificationService.java
  src/main/java/de/tum/cit/aet/artemis/communication/service/notifications/GroupNotificationService.java
  src/main/java/de/tum/cit/aet/artemis/communication/service/notifications/push_notifications/PushNotificationService.java
  src/main/java/de/tum/cit/aet/artemis/communication/service/notifications/push_notifications/RelayNotificationRequest.java
  src/main/java/de/tum/cit/aet/artemis/communication/web/PushNotificationResource.java
  src/main/java/de/tum/cit/aet/artemis/core/config/Constants.java
  src/main/resources/config/liquibase/changelog/20241114122713_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/test/java/de/tum/cit/aet/artemis/communication/notification/GroupNotificationFactoryTest.java
  src/test/java/de/tum/cit/aet/artemis/communication/notification/NotificationPlaceholderSignatureTest.java
  src/test/java/de/tum/cit/aet/artemis/communication/notification/SingleUserNotificationServiceTest.java
  src/test/java/de/tum/cit/aet/artemis/communication/notifications/service/push_notifications/AppleFirebasePushNotificationServiceTest.java
  src/test/java/de/tum/cit/aet/artemis/communication/service/PushNotificationDeviceConfigurationCleanupServiceTest.java
  src/test/resources/placeholder-signatures.json
Labels: tests, server, database, ready to merge, communication, core

#9847 `Plagiarism checks`: Change separation operator for plagiarism csv file
  src/main/webapp/app/course/plagiarism-cases/instructor-view/plagiarism-cases-instructor-view.component.ts
  src/main/webapp/app/exam/manage/student-exams/student-exam-timeline/student-exam-timeline.component.ts
  src/main/webapp/i18n/de/plagiarism.json
  src/main/webapp/i18n/en/plagiarism.json
  src/test/javascript/spec/component/plagiarism/plagiarism-cases-instructor-view.component.spec.ts
Labels: tests, client, component:Plagiarism Detection, small, bugfix, maintainer-approved

#9874 `Communication`: Allow tutors to monitor channels as moderator
  src/main/java/de/tum/cit/aet/artemis/communication/service/conversation/ConversationService.java
  src/main/webapp/app/shared/metis/posting-reactions-bar/answer-post-reactions-bar/answer-post-reactions-bar.component.ts
  src/main/webapp/app/shared/metis/posting-reactions-bar/post-reactions-bar/post-reactions-bar.component.ts
  src/test/javascript/spec/component/shared/metis/postings-reactions-bar/answer-post-reactions-bar/answer-post-reactions-bar.component.spec.ts
  src/test/javascript/spec/component/shared/metis/postings-reactions-bar/post-reactions-bar/post-reactions-bar.component.spec.ts
Labels: feature, tests, ready for review, server, client, ready to merge, communication

#9744 `Quiz exercises`: Adjust user interface of quiz header and footer
  src/main/webapp/app/exercises/quiz/participate/quiz-participation.component.html
  src/main/webapp/app/exercises/quiz/participate/quiz-participation.component.scss
  src/main/webapp/app/exercises/quiz/participate/quiz-participation.component.ts
  src/main/webapp/app/shared/connection-status/connection-status.component.html
  src/main/webapp/app/shared/connection-status/connection-status.component.scss
  src/main/webapp/app/shared/layouts/main/main.component.html
  src/main/webapp/app/shared/layouts/main/main.component.scss
  src/main/webapp/app/shared/notification/notification-sidebar/notification-sidebar.scss
  src/main/webapp/content/scss/global.scss
  src/main/webapp/i18n/de/quizExercise.json
  src/main/webapp/i18n/en/quizExercise.json
Labels: client, ready to merge

#9965 `Development`: Fix LTI content selection table not loading
  src/main/webapp/app/lti/lti13-exercise-launch.component.ts
Labels: ready for review, client

#9963 `Communication`: Improve design of hover area on messages
  src/main/webapp/app/shared/metis/answer-post/answer-post.component.html
  src/main/webapp/app/shared/metis/answer-post/answer-post.component.scss
  src/main/webapp/app/shared/metis/post/post.component.html
  src/main/webapp/app/shared/metis/post/post.component.scss
  src/main/webapp/app/shared/metis/posting-footer/post-footer/post-footer.component.ts
  src/main/webapp/app/shared/metis/posting-header/answer-post-header/answer-post-header.component.html
  src/main/webapp/app/shared/metis/posting-header/post-header/post-header.component.html
  src/test/javascript/spec/component/shared/metis/answer-post/answer-post.component.spec.ts
  src/test/javascript/spec/component/shared/metis/post/post.component.spec.ts
  src/test/javascript/spec/component/shared/metis/postings-footer/post-footer/post-footer.component.spec.ts
Labels: tests, client, ready to merge, component:Communication

#9955 `Integrated code lifecycle`: Improve logging when build job times out
  src/main/java/de/tum/cit/aet/artemis/buildagent/service/BuildJobContainerService.java
  src/main/java/de/tum/cit/aet/artemis/buildagent/service/BuildJobExecutionService.java
  src/main/java/de/tum/cit/aet/artemis/buildagent/service/BuildJobManagementService.java
Labels: server, ready to merge, lock:artemis-test1, buildagent

#9799 `Modeling exercises`: Inline AI feedback view
  src/main/java/de/tum/cit/aet/artemis/assessment/repository/ResultRepository.java
  src/main/java/de/tum/cit/aet/artemis/athena/dto/ModelingFeedbackDTO.java
  src/main/java/de/tum/cit/aet/artemis/modeling/service/ModelingExerciseFeedbackService.java
  src/main/java/de/tum/cit/aet/artemis/modeling/web/ModelingSubmissionResource.java
  src/main/webapp/app/assessment/athena.service.ts
  src/main/webapp/app/entities/feedback-suggestion.model.ts
  src/main/webapp/app/exercises/modeling/participate/modeling-participation.module.ts
  src/main/webapp/app/exercises/modeling/participate/modeling-participation.route.ts
  src/main/webapp/app/exercises/modeling/participate/modeling-submission.component.html
  src/main/webapp/app/exercises/modeling/participate/modeling-submission.component.ts
  src/main/webapp/app/exercises/modeling/participate/modeling-submission.service.ts
  src/main/webapp/app/exercises/shared/result/result.component.ts
  src/main/webapp/app/exercises/shared/result/result.utils.ts
  src/main/webapp/app/overview/exercise-details/request-feedback-button/request-feedback-button.component.ts
  src/test/java/de/tum/cit/aet/artemis/modeling/ModelingSubmissionIntegrationTest.java
  src/test/javascript/spec/component/modeling-submission/modeling-submission.component.spec.ts
  src/test/javascript/spec/service/athena.service.spec.ts
  src/test/javascript/spec/service/modeling-submission.service.spec.ts
Labels: tests, server, client, ready to merge, maintainer-approved, assessment, athena, modeling

#9403 `Development`: Enable bearer authentication
  src/main/java/de/tum/cit/aet/artemis/core/config/websocket/WebsocketConfiguration.java
  src/main/java/de/tum/cit/aet/artemis/core/security/jwt/JWTFilter.java
  src/main/java/de/tum/cit/aet/artemis/core/security/jwt/TokenProvider.java
  src/main/java/de/tum/cit/aet/artemis/core/web/open/PublicUserJwtResource.java
  src/test/java/de/tum/cit/aet/artemis/core/authentication/InternalAuthenticationIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/core/security/jwt/JWTFilterTest.java
Labels: tests, server, ready to merge, maintainer-approved, core

#9866 `Iris`: Add course chat settings
  build.gradle
  src/main/java/de/tum/cit/aet/artemis/iris/domain/settings/IrisCourseChatSubSettings.java
  src/main/java/de/tum/cit/aet/artemis/iris/domain/settings/IrisCourseSettings.java
  src/main/java/de/tum/cit/aet/artemis/iris/domain/settings/IrisExerciseSettings.java
  src/main/java/de/tum/cit/aet/artemis/iris/domain/settings/IrisGlobalSettings.java
  src/main/java/de/tum/cit/aet/artemis/iris/domain/settings/IrisSettings.java
  src/main/java/de/tum/cit/aet/artemis/iris/domain/settings/IrisSubSettings.java
  src/main/java/de/tum/cit/aet/artemis/iris/domain/settings/IrisSubSettingsType.java
  src/main/java/de/tum/cit/aet/artemis/iris/dto/IrisCombinedCourseChatSubSettingsDTO.java
  src/main/java/de/tum/cit/aet/artemis/iris/dto/IrisCombinedSettingsDTO.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/session/IrisCourseChatSessionService.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/settings/IrisSettingsService.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/settings/IrisSubSettingsService.java
  src/main/java/de/tum/cit/aet/artemis/iris/web/IrisCourseChatSessionResource.java
  src/main/resources/config/liquibase/changelog/20241119191919_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/course/manage/detail/course-detail.component.ts
  src/main/webapp/app/entities/iris/settings/iris-settings.model.ts
  src/main/webapp/app/entities/iris/settings/iris-sub-settings.model.ts
  src/main/webapp/app/iris/settings/iris-settings-update/iris-common-sub-settings-update/iris-common-sub-settings-update.component.ts
  src/main/webapp/app/iris/settings/iris-settings-update/iris-settings-update.component.html
  src/main/webapp/app/iris/settings/iris-settings-update/iris-settings-update.component.ts
  src/main/webapp/app/iris/settings/shared/iris-enabled.component.ts
  src/main/webapp/app/overview/course-dashboard/course-dashboard.component.ts
  src/main/webapp/i18n/de/iris.json
  src/main/webapp/i18n/en/iris.json
  src/test/java/de/tum/cit/aet/artemis/iris/AbstractIrisIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/iris/settings/IrisSettingsIntegrationTest.java
  src/test/javascript/spec/component/iris/settings/iris-course-settings-update.component.spec.ts
  src/test/javascript/spec/component/iris/settings/iris-global-settings-update.component.spec.ts
  src/test/javascript/spec/component/iris/settings/mock-settings.ts
Labels: tests, ready for review, server, client, database, iris

#9975 `Iris`: Allow team repository access for Iris
  src/main/java/de/tum/cit/aet/artemis/iris/service/session/IrisExerciseChatSessionService.java
  src/main/java/de/tum/cit/aet/artemis/programming/repository/ProgrammingExerciseStudentParticipationRepository.java
  src/test/java/de/tum/cit/aet/artemis/core/connector/IrisRequestMockProvider.java
  src/test/java/de/tum/cit/aet/artemis/exercise/util/ExerciseUtilService.java
  src/test/java/de/tum/cit/aet/artemis/iris/IrisChatMessageIntegrationTest.java
Labels: tests, ready for review, server, lock:artemis-test3, core, exercise, iris, programming

#9558 `Iris`: Enhance student support with proactive assistance
  src/main/java/de/tum/cit/aet/artemis/atlas/service/competency/CompetencyJolService.java
  src/main/java/de/tum/cit/aet/artemis/exercise/repository/SubmissionRepository.java
  src/main/java/de/tum/cit/aet/artemis/iris/domain/settings/IrisChatSubSettings.java
  src/main/java/de/tum/cit/aet/artemis/iris/domain/settings/event/IrisEventType.java
  src/main/java/de/tum/cit/aet/artemis/iris/dto/IrisCombinedChatSubSettingsDTO.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/IrisCompetencyGenerationService.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/pyris/PyrisConnectorService.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/pyris/PyrisEventProcessingException.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/pyris/PyrisEventService.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/pyris/PyrisPipelineService.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/pyris/UnsupportedPyrisEventException.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/pyris/dto/chat/PyrisEventDTO.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/pyris/dto/chat/course/PyrisCourseChatPipelineExecutionDTO.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/pyris/event/CompetencyJolSetEvent.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/pyris/event/NewResultEvent.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/pyris/event/PyrisEvent.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/session/IrisCourseChatSessionService.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/session/IrisExerciseChatSessionService.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/session/IrisTextExerciseChatSessionService.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/session/IrisUnsupportedExerciseTypeException.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/settings/IrisSettingsService.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/settings/IrisSubSettingsService.java
  src/main/java/de/tum/cit/aet/artemis/iris/web/IrisExerciseChatSessionResource.java
  src/main/java/de/tum/cit/aet/artemis/programming/repository/ProgrammingExerciseRepository.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/ProgrammingMessagingService.java
  src/main/resources/config/liquibase/changelog/20241120213100_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/entities/iris/settings/iris-sub-settings.model.ts
  src/main/webapp/app/iris/exercise-chatbot/exercise-chatbot-button.component.html
  src/main/webapp/app/iris/exercise-chatbot/exercise-chatbot-button.component.scss
  src/main/webapp/app/iris/exercise-chatbot/exercise-chatbot-button.component.ts
  src/main/webapp/app/iris/iris-chat.service.ts
  src/main/webapp/app/iris/settings/iris-settings-update/iris-common-sub-settings-update/iris-common-sub-settings-update.component.html
  src/main/webapp/app/iris/settings/iris-settings-update/iris-common-sub-settings-update/iris-common-sub-settings-update.component.ts
  src/main/webapp/content/scss/themes/_dark-variables.scss
  src/main/webapp/content/scss/themes/_default-variables.scss
  src/main/webapp/i18n/de/iris.json
  src/main/webapp/i18n/en/iris.json
  src/test/java/de/tum/cit/aet/artemis/communication/PostingServiceUnitTest.java
  src/test/java/de/tum/cit/aet/artemis/communication/service/SavedPostServiceTest.java
  src/test/java/de/tum/cit/aet/artemis/core/connector/IrisRequestMockProvider.java
  src/test/java/de/tum/cit/aet/artemis/iris/AbstractIrisIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/iris/PyrisConnectorServiceTest.java
  src/test/java/de/tum/cit/aet/artemis/iris/PyrisEventSystemIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/iris/settings/IrisSettingsIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/shared/base/AbstractSpringIntegrationLocalCILocalVCTest.java
  src/test/javascript/spec/component/iris/settings/iris-common-sub-settings-update.component.spec.ts
  src/test/javascript/spec/component/iris/settings/iris-course-settings-update.component.spec.ts
  src/test/javascript/spec/component/iris/settings/iris-global-settings-update.component.spec.ts
  src/test/javascript/spec/component/iris/settings/iris-settings-update-component.spec.ts
  src/test/javascript/spec/component/iris/settings/mock-settings.ts
  src/test/javascript/spec/component/iris/ui/exercise-chatbot-button.component.spec.ts
  src/test/javascript/spec/helpers/mocks/directive/mock-jhi-translate-directive.directive.ts
Labels: tests, server, client, database, ready to merge, too-long-open, atlas, communication, core, exercise, iris, programming

#9019 `Iris`: Add links to citations for lecture questions
  src/main/java/de/tum/cit/aet/artemis/iris/service/pyris/PyrisWebhookService.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/pyris/dto/lectureingestionwebhook/PyrisLectureUnitWebhookDTO.java
  src/test/java/de/tum/cit/aet/artemis/iris/PyrisConnectorServiceTest.java
Labels: tests, server, stale, iris

#9982 `Development`: Swap Test Names for Bearer auth
  src/test/java/de/tum/cit/aet/artemis/core/security/jwt/JWTFilterTest.java
Labels: tests, core

#9968 `Programming exercises`: Only replace existing files when populating build plan repositories
  src/main/java/de/tum/cit/aet/artemis/buildagent/service/BuildJobContainerService.java
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/programmingExercise.json
Labels: ready for review, server, client, ready to merge, buildagent

#9988 `Quiz exercises`: Fix an issue when automatically evaluating a live quiz
  src/main/java/de/tum/cit/aet/artemis/quiz/service/QuizSubmissionService.java
Labels: ready for review, server, quiz

#9796 `Development`: Improve and simplify local playwright setup
  docs/dev/playwright.rst
  src/test/playwright/init/importUsers.spec.ts
  src/test/playwright/package.json
  src/test/playwright/playwright.env
  supporting_scripts/playwright/README.md
  supporting_scripts/playwright/runArtemisInDocker_linux.sh
  supporting_scripts/playwright/runArtemisInDocker_macOS.sh
  supporting_scripts/playwright/setupUsers.sh
  supporting_scripts/playwright/startPlaywright.sh
Labels: tests, ready for review, documentation, ready to merge, playwright

#9902 `Communication`: Migrate FAQ feature to new client guidelines
  src/main/webapp/app/faq/faq.routes.ts
  src/main/webapp/app/faq/faq.service.ts
Labels: ready for review, client, ready to merge, maintainer-approved

#9923 `Development`: Migrate build agents components
  src/main/webapp/app/admin/admin.module.ts
  src/main/webapp/app/localci/build-agents/build-agent-details/build-agent-details/build-agent-details.component.ts
  src/main/webapp/app/localci/build-agents/build-agent-summary/build-agent-summary.component.ts
  src/main/webapp/app/localci/build-agents/build-agents.service.ts
  src/test/javascript/spec/component/localci/build-agents/build-agent-details.component.spec.ts
  src/test/javascript/spec/component/localci/build-agents/build-agent-summary.component.spec.ts
Labels: tests, client, ready to merge, maintainer-approved

#9941 `Tutorial groups`: Migrate tutorial groups service folder to new angular guidelines
  src/main/webapp/app/course/tutorial-groups/services/tutorial-group-free-period.service.ts
  src/main/webapp/app/course/tutorial-groups/services/tutorial-group-session.service.ts
  src/main/webapp/app/course/tutorial-groups/services/tutorial-groups-configuration.service.ts
  src/main/webapp/app/course/tutorial-groups/services/tutorial-groups.service.ts
Labels: client, ready to merge

#9956 `Exam mode`: Add exam update audit event
  src/main/java/de/tum/cit/aet/artemis/core/config/Constants.java
  src/main/java/de/tum/cit/aet/artemis/exam/web/ExamResource.java
Labels: server, small, ready to merge, core, exam

#9957 `Programming exercises`: Fix table overflow in rendered markdown
  src/main/webapp/app/exercises/programming/shared/instructions-render/programming-exercise-instruction.component.ts
  src/main/webapp/app/overview/course-exercises/course-exercises.component.html
  src/main/webapp/app/overview/course-overview.scss
Labels: client, bugfix, ready to merge

#9989 `Communication`: Fix visibility of create channel option for students
  src/main/webapp/app/overview/course-conversations/course-conversations.component.ts
  src/main/webapp/app/shared/sidebar/sidebar.component.html
  src/main/webapp/app/types/sidebar.ts
  src/test/javascript/spec/component/shared/sidebar/sidebar.component.spec.ts
Labels: tests, client, small, bugfix, ready to merge, component:Communication

#9995 `Development`: Ignore build directory in Jest's module path
  jest.config.js
Labels: tests, ready for review, small

#9996 `General`: Fix header position in exercise and course summaries
  src/main/webapp/app/forms/form-status-bar/form-status-bar.component.scss
  src/main/webapp/app/shared/detail-overview-navigation-bar/detail-overview-navigation-bar.scss
Labels: ready for review, client, bugfix

#10005 `Integrated code lifecycle`: Fix an issue with stale containers
  src/main/java/de/tum/cit/aet/artemis/buildagent/service/BuildJobExecutionService.java
Labels: ready for review, server, buildagent

#9942 `Development`: Enable deactivated LocalVC integration tests
  src/test/java/de/tum/cit/aet/artemis/core/util/RequestUtilService.java
  src/test/java/de/tum/cit/aet/artemis/programming/ProgrammingExerciseIntegrationTestService.java
  src/test/java/de/tum/cit/aet/artemis/programming/ProgrammingExerciseLocalVCIntegrationTest.java
Labels: tests, ready for review, ready to merge, core, programming

#9997 `Communication`: Fix scrolling error for long messages
  src/main/webapp/app/overview/course-conversations/layout/conversation-messages/conversation-messages.component.ts
  src/test/javascript/spec/component/overview/course-conversations/layout/conversation-messages/conversation-messages.component.spec.ts
Labels: tests, client, small, bugfix, ready to merge

#9973 `Development`: Migrate client code for conversation detail tabs
  src/main/webapp/app/overview/course-conversations/dialogs/conversation-detail-dialog/conversation-detail-dialog.component.html
  src/main/webapp/app/overview/course-conversations/dialogs/conversation-detail-dialog/tabs/conversation-info/conversation-info.component.html
  src/main/webapp/app/overview/course-conversations/dialogs/conversation-detail-dialog/tabs/conversation-info/conversation-info.component.ts
  src/main/webapp/app/overview/course-conversations/dialogs/conversation-detail-dialog/tabs/conversation-members/conversation-member-row/conversation-member-row.component.html
  src/main/webapp/app/overview/course-conversations/dialogs/conversation-detail-dialog/tabs/conversation-members/conversation-member-row/conversation-member-row.component.ts
  src/main/webapp/app/overview/course-conversations/dialogs/conversation-detail-dialog/tabs/conversation-members/conversation-members.component.html
  src/main/webapp/app/overview/course-conversations/dialogs/conversation-detail-dialog/tabs/conversation-members/conversation-members.component.ts
  src/main/webapp/app/overview/course-conversations/dialogs/conversation-detail-dialog/tabs/conversation-settings/conversation-settings.component.html
  src/main/webapp/app/overview/course-conversations/dialogs/conversation-detail-dialog/tabs/conversation-settings/conversation-settings.component.ts
  src/test/javascript/spec/component/overview/course-conversations/dialogs/conversation-detail-dialog/conversation-detail-dialog.component.spec.ts
  src/test/javascript/spec/component/overview/course-conversations/dialogs/conversation-detail-dialog/tabs/conversation-info/conversation-info.component.spec.ts
  src/test/javascript/spec/component/overview/course-conversations/dialogs/conversation-detail-dialog/tabs/conversation-members/conversation-member-row/conversation-member-row.component.spec.ts
  src/test/javascript/spec/component/overview/course-conversations/dialogs/conversation-detail-dialog/tabs/conversation-members/conversation-members.component.spec.ts
  src/test/javascript/spec/component/overview/course-conversations/dialogs/conversation-detail-dialog/tabs/conversation-settings/conversation-settings.component.spec.ts
Labels: tests, client, chore, ready to merge

#9908 `Development`: Update LTI components to use Angular 18 practices
  src/main/webapp/app/admin/lti-configuration/edit-lti-configuration.component.ts
  src/main/webapp/app/admin/lti-configuration/lti-configuration.component.ts
  src/main/webapp/app/admin/lti-configuration/lti-configuration.service.ts
  src/main/webapp/app/course/manage/course-lti-configuration/course-lti-configuration.component.ts
  src/main/webapp/app/course/manage/course-lti-configuration/edit-course-lti-configuration.component.ts
  src/main/webapp/app/course/manage/course-management.module.ts
  src/main/webapp/app/lti/lti-course-card.component.html
  src/main/webapp/app/lti/lti-course-card.component.ts
  src/main/webapp/app/lti/lti.module.ts
  src/main/webapp/app/lti/lti13-deep-linking.component.ts
  src/main/webapp/app/lti/lti13-dynamic-registration.component.ts
  src/main/webapp/app/lti/lti13-exercise-launch.component.ts
  src/main/webapp/app/lti/lti13-select-content.component.ts
  src/main/webapp/app/lti/lti13-select-course.component.ts
  src/main/webapp/app/overview/exercise-details/lti-initializer-modal.component.ts
  src/main/webapp/app/overview/exercise-details/lti-initializer.component.ts
  src/test/javascript/spec/component/course/course-lti-configuration.component.spec.ts
  src/test/javascript/spec/component/course/edit-course-lti-configuration.component.spec.ts
  src/test/javascript/spec/component/lti/lti-course-card.component.spec.ts
  src/test/javascript/spec/component/lti/lti13-deep-linking.component.spec.ts
  src/test/javascript/spec/component/lti/lti13-select-content.component.spec.ts
Labels: tests, client, ready to merge, maintainer-approved

#10013 `Development`: Remove race condition in faky playwright test
  src/test/playwright/e2e/course/CourseMessages.spec.ts
  src/test/playwright/support/pageobjects/course/CourseMessagesPage.ts
Labels: tests, ready for review, playwright

#9818 `Integrated code lifecycle`: Improve build status updates for users
  src/main/java/de/tum/cit/aet/artemis/buildagent/dto/BuildJobQueueItem.java
  src/main/java/de/tum/cit/aet/artemis/buildagent/dto/FinishedBuildJobDTO.java
  src/main/java/de/tum/cit/aet/artemis/buildagent/dto/JobTimingInfo.java
  src/main/java/de/tum/cit/aet/artemis/buildagent/service/SharedQueueProcessingService.java
  src/main/java/de/tum/cit/aet/artemis/core/config/Constants.java
  src/main/java/de/tum/cit/aet/artemis/exercise/dto/SubmissionDTO.java
  src/main/java/de/tum/cit/aet/artemis/programming/domain/ProgrammingExerciseBuildStatistics.java
  src/main/java/de/tum/cit/aet/artemis/programming/dto/ResultDTO.java
  src/main/java/de/tum/cit/aet/artemis/programming/dto/SubmissionProcessingDTO.java
  src/main/java/de/tum/cit/aet/artemis/programming/repository/BuildJobRepository.java
  src/main/java/de/tum/cit/aet/artemis/programming/repository/ProgrammingExerciseBuildStatisticsRepository.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/ProgrammingMessagingService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/localci/LocalCIQueueWebsocketService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/localci/LocalCIResultProcessingService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/localci/LocalCITriggerService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/localci/SharedQueueManagementService.java
  src/main/java/de/tum/cit/aet/artemis/programming/web/ProgrammingExerciseParticipationResource.java
  src/main/java/de/tum/cit/aet/artemis/programming/web/localci/BuildJobQueueResource.java
  src/main/resources/config/liquibase/changelog/20241101130000_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/entities/programming/programming-submission.model.ts
  src/main/webapp/app/entities/programming/submission-processing-dto.ts
  src/main/webapp/app/exam/participate/exercises/programming/programming-exam-submission.component.html
  src/main/webapp/app/exercises/programming/participate/code-editor-student-container.component.html
  src/main/webapp/app/exercises/programming/participate/programming-submission.service.ts
  src/main/webapp/app/exercises/shared/exercise-headers/exercise-headers-information/exercise-headers-information.component.html
  src/main/webapp/app/exercises/shared/result/result-progress-bar/result-progress-bar.component.html
  src/main/webapp/app/exercises/shared/result/result-progress-bar/result-progress-bar.component.scss
  src/main/webapp/app/exercises/shared/result/result-progress-bar/result-progress-bar.component.ts
  src/main/webapp/app/exercises/shared/result/result.component.html
  src/main/webapp/app/exercises/shared/result/result.component.ts
  src/main/webapp/app/exercises/shared/result/result.utils.ts
  src/main/webapp/app/exercises/shared/result/updating-result.component.html
  src/main/webapp/app/exercises/shared/result/updating-result.component.ts
  src/main/webapp/app/overview/submission-result-status.component.html
  src/main/webapp/app/overview/submission-result-status.component.ts
  src/main/webapp/app/overview/submission-result-status.module.ts
  src/main/webapp/i18n/de/editor.json
  src/main/webapp/i18n/en/editor.json
  src/test/java/de/tum/cit/aet/artemis/programming/icl/LocalCIIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/icl/LocalCIResourceIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/icl/LocalCIServiceTest.java
  src/test/java/de/tum/cit/aet/artemis/shared/base/AbstractSpringIntegrationLocalCILocalVCTest.java
  src/test/javascript/spec/component/shared/result-progress-bar.component.spec.ts
  src/test/javascript/spec/component/shared/result.component.spec.ts
  src/test/javascript/spec/component/shared/updating-result.component.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-programming-submission.service.ts
  src/test/javascript/spec/service/programming-submission.service.spec.ts
Labels: tests, server, client, database, ready to merge, buildagent, core, exercise, programming

#10022 `Lectures`: Remove guided mode exercise creation shortcut
  src/main/webapp/app/course/manage/course-management-exercises.component.html
  src/main/webapp/app/course/manage/course-management-exercises.component.ts
  src/main/webapp/app/exercises/file-upload/manage/file-upload-exercise-update.component.ts
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise-update.component.ts
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise-update.component.ts
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise-update.component.ts
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/create-exercise-unit/create-exercise-unit.component.html
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/create-exercise-unit/create-exercise-unit.component.ts
  src/main/webapp/app/lecture/wizard-mode/lecture-wizard-units.component.html
  src/main/webapp/i18n/de/lecture.json
  src/main/webapp/i18n/en/lecture.json
  src/test/javascript/spec/component/text-exercise/text-exercise-update.component.spec.ts
Labels: tests, ready for review, client, chore, small, ready to merge, maintainer-approved

#10046 `Development`: Remove redundant e2e test
  src/test/playwright/e2e/exam/test-exam/TestExamTestRun.spec.ts
Labels: tests, ready to merge, playwright

#10007 `Communication`: Add shortcut to private messages on usernames
  src/main/java/de/tum/cit/aet/artemis/communication/web/conversation/OneToOneChatResource.java
  src/main/webapp/app/shared/metis/answer-post/answer-post.component.html
  src/main/webapp/app/shared/metis/conversations/one-to-one-chat.service.ts
  src/main/webapp/app/shared/metis/metis-conversation.service.ts
  src/main/webapp/app/shared/metis/metis.service.ts
  src/main/webapp/app/shared/metis/post/post.component.html
  src/main/webapp/app/shared/metis/post/post.component.ts
  src/main/webapp/app/shared/metis/posting-header/answer-post-header/answer-post-header.component.html
  src/main/webapp/app/shared/metis/posting-header/post-header/post-header.component.html
  src/main/webapp/app/shared/metis/posting-header/posting-header.directive.ts
  src/main/webapp/app/shared/metis/posting.directive.ts
  src/test/java/de/tum/cit/aet/artemis/communication/OneToOneChatIntegrationTest.java
  src/test/javascript/spec/component/overview/course-conversations/services/metis-conversation.service.spec.ts
  src/test/javascript/spec/component/overview/course-conversations/services/one-to-one-chat.service.spec.ts
  src/test/javascript/spec/component/shared/metis/answer-post/answer-post.component.spec.ts
  src/test/javascript/spec/component/shared/metis/post/post.component.spec.ts
  src/test/javascript/spec/directive/posting.directive.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-metis-conversation.service.ts
Labels: feature, tests, server, client, ready to merge, component:Communication, communication

#10048 `Integrated code lifecycle`: Show result progress bar in exam overview and exercise details pages
  src/main/webapp/app/detail-overview-list/components/programming-test-status-detail/programming-test-status-detail.component.html
  src/main/webapp/app/exam/participate/exercises/exercise-overview-page/exam-exercise-overview-page.component.html
Labels: client, ready to merge

#10021 `Development`: Migrate client code for emoji components and conversation services
  src/main/webapp/app/shared/metis/conversations/channel.service.ts
  src/main/webapp/app/shared/metis/conversations/conversation.service.ts
  src/main/webapp/app/shared/metis/conversations/group-chat.service.ts
  src/main/webapp/app/shared/metis/conversations/one-to-one-chat.service.ts
  src/main/webapp/app/shared/metis/emoji/emoji-picker.component.html
  src/main/webapp/app/shared/metis/emoji/emoji-picker.component.ts
  src/main/webapp/app/shared/metis/emoji/emoji.component.html
  src/main/webapp/app/shared/metis/emoji/emoji.component.ts
  src/main/webapp/app/shared/metis/metis.module.ts
Labels: client, chore, small, ready to merge

#10015 `Communication`: Add feature availability list to user documentation
  docs/user/communication.rst
  docs/user/mobile-applications.rst
Labels: documentation, small, ready to merge

#9984 `Programming exercises`: Fix inconsistencies between diff viewer and diff line stats
  src/main/java/de/tum/cit/aet/artemis/programming/service/CommitHistoryService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/hestia/ProgrammingExerciseGitDiffReportService.java
  src/main/java/de/tum/cit/aet/artemis/programming/web/GitDiffReportParserService.java
  src/test/java/de/tum/cit/aet/artemis/atlas/UnionFindTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/hestia/ProgrammingExerciseGitDiffReportIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/hestia/ProgrammingExerciseGitDiffReportServiceTest.java
Labels: tests, server, ready to merge, atlas, programming

#9884 `Programming exercises`: Add group feedback feature to feedback analysis table
  src/main/java/de/tum/cit/aet/artemis/assessment/dto/FeedbackAffectedStudentDTO.java
  src/main/java/de/tum/cit/aet/artemis/assessment/dto/FeedbackAnalysisResponseDTO.java
  src/main/java/de/tum/cit/aet/artemis/assessment/dto/FeedbackDetailDTO.java
  src/main/java/de/tum/cit/aet/artemis/assessment/service/ResultService.java
  src/main/java/de/tum/cit/aet/artemis/assessment/web/ResultResource.java
  src/main/java/de/tum/cit/aet/artemis/communication/dto/FeedbackChannelRequestDTO.java
  src/main/java/de/tum/cit/aet/artemis/communication/service/conversation/ChannelService.java
  src/main/java/de/tum/cit/aet/artemis/communication/web/conversation/ChannelResource.java
  src/main/java/de/tum/cit/aet/artemis/core/util/PageUtil.java
  src/main/java/de/tum/cit/aet/artemis/exercise/repository/StudentParticipationRepository.java
  src/main/webapp/app/exercises/programming/manage/grading/feedback-analysis/Modal/feedback-affected-students-modal.component.html
  src/main/webapp/app/exercises/programming/manage/grading/feedback-analysis/Modal/feedback-affected-students-modal.component.ts
  src/main/webapp/app/exercises/programming/manage/grading/feedback-analysis/Modal/feedback-detail-channel-modal.component.html
  src/main/webapp/app/exercises/programming/manage/grading/feedback-analysis/Modal/feedback-detail-channel-modal.component.ts
  src/main/webapp/app/exercises/programming/manage/grading/feedback-analysis/Modal/feedback-modal.component.html
  src/main/webapp/app/exercises/programming/manage/grading/feedback-analysis/feedback-analysis.component.html
  src/main/webapp/app/exercises/programming/manage/grading/feedback-analysis/feedback-analysis.component.ts
  src/main/webapp/app/exercises/programming/manage/grading/feedback-analysis/feedback-analysis.service.ts
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/programmingExercise.json
  src/test/java/de/tum/cit/aet/artemis/assessment/ResultServiceIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/communication/ChannelIntegrationTest.java
  src/test/javascript/spec/component/programming-exercise/feedback-analysis/feedback-analysis.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/feedback-analysis/feedback-analysis.service.spec.ts
  src/test/javascript/spec/component/programming-exercise/feedback-analysis/modals/feedback-affected-students-modal.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/feedback-analysis/modals/feedback-detail-channel-modal.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/feedback-analysis/modals/feedback-modal.component.spec.ts
Labels: tests, server, client, ready to merge, maintainer-approved, assessment, communication, core, exercise

#9834 `Development`: Restrict course detail page access
  src/main/webapp/app/overview/course-dashboard/course-dashboard-guard.service.ts
  src/main/webapp/app/overview/course-overview-guard.ts
  src/main/webapp/app/overview/courses-routing.module.ts
  src/test/javascript/spec/component/overview/course-overview-guard.spec.ts
Labels: tests, client, ready to merge

#9789 `Plagiarism checks`: Improve file selection in comparison
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-split-view/plagiarism-split-view.component.html
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-split-view/plagiarism-split-view.component.scss
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-split-view/plagiarism-split-view.component.ts
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-split-view/split-pane-header/split-pane-header.component.html
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-split-view/split-pane-header/split-pane-header.component.scss
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-split-view/split-pane-header/split-pane-header.component.ts
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-split-view/text-submission-viewer/text-submission-viewer.component.html
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-split-view/text-submission-viewer/text-submission-viewer.component.ts
  src/main/webapp/app/exercises/shared/plagiarism/types/text/TextPlagiarismFileElement.ts
  src/test/javascript/spec/component/plagiarism/plagiarism-header.component.spec.ts
  src/test/javascript/spec/component/plagiarism/plagiarism-split-view.component.spec.ts
  src/test/javascript/spec/component/plagiarism/split-pane-header.component.spec.ts
Labels: tests, client, ready to merge

#9807 `Development`: Add deployment info and best practices to playwright docs
  docs/dev/cypress/cypress-open-screenshot.png
  docs/dev/cypress/cypress_bamboo_deployment_diagram.svg
  docs/dev/cypress/cypress_test_environment_deployment_diagram.svg
  docs/dev/cypress/sorry-cypress-dashboard.png
  docs/dev/cypress/sorry-cypress-run.png
  docs/dev/cypress/sorry-cypress-runs.png
  docs/dev/cypress/sorry-cypress-test.png
  docs/dev/playwright.rst
  docs/dev/playwright/playwright_bamboo_deployment_diagram.svg
Labels: documentation, ready to merge

#9650 `Integrated code lifecycle`: Show ssh fingerprints
  src/main/java/de/tum/cit/aet/artemis/programming/service/localvc/ssh/HashUtils.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/localvc/ssh/SshFingerprintsProviderService.java
  src/main/java/de/tum/cit/aet/artemis/programming/web/localvc/ssh/SshFingerprintsProviderResource.java
  src/main/webapp/app/shared/user-settings/ssh-settings/fingerprints/ssh-user-settings-fingerprints.component.html
  src/main/webapp/app/shared/user-settings/ssh-settings/fingerprints/ssh-user-settings-fingerprints.component.scss
  src/main/webapp/app/shared/user-settings/ssh-settings/fingerprints/ssh-user-settings-fingerprints.component.ts
  src/main/webapp/app/shared/user-settings/ssh-settings/fingerprints/ssh-user-settings-fingerprints.service.ts
  src/main/webapp/app/shared/user-settings/ssh-settings/ssh-user-settings.component.html
  src/main/webapp/app/shared/user-settings/user-settings.module.ts
  src/main/webapp/app/shared/user-settings/user-settings.route.ts
  src/main/webapp/i18n/de/userSettings.json
  src/main/webapp/i18n/en/userSettings.json
  src/test/java/de/tum/cit/aet/artemis/programming/icl/SshFingerprintsProviderServiceTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/icl/SshFingerprintsProviderTest.java
  src/test/javascript/spec/component/account/ssh/ssh-user-settings-fingerprints.component.spec.ts
  src/test/javascript/spec/component/account/ssh/ssh-user-settings-key-details.component.spec.ts
  src/test/javascript/spec/component/account/ssh/ssh-user-settings.component.spec.ts
  src/test/javascript/spec/service/ssh-user-settings-fingerprints.service.spec.ts
Labels: tests, ready for review, server, client, ready to merge, programming

#10006 `Development`: Add e2e tests for git exercise participation using ssh and token
  .gitignore
  docker/artemis/config/playwright-local.env
  docker/playwright-E2E-tests-mysql-localci.yml
  src/main/webapp/app/shared/components/code-button/code-button.component.html
  src/main/webapp/app/shared/user-settings/ssh-settings/details/ssh-user-settings-key-details.component.html
  src/main/webapp/app/shared/user-settings/ssh-settings/ssh-user-settings.component.html
  src/test/playwright/e2e/exercise/programming/ProgrammingExerciseParticipation.spec.ts
  src/test/playwright/init/global-setup.ts
  src/test/playwright/playwright.config.ts
  src/test/playwright/ssh-keys/artemis_playwright_ed25519
  src/test/playwright/ssh-keys/artemis_playwright_ed25519.pub
  src/test/playwright/ssh-keys/artemis_playwright_rsa
  src/test/playwright/ssh-keys/artemis_playwright_rsa.pub
  src/test/playwright/support/fixtures.ts
  src/test/playwright/support/pageobjects/exercises/programming/GitClient.ts
  src/test/playwright/support/pageobjects/exercises/programming/ProgrammingExerciseOverviewPage.ts
  src/test/playwright/support/requests/AccountManagementAPIRequests.ts
Labels: tests, client, ready to merge, docker, playwright

#9851 `General`: Improve cleanup service
  src/main/java/de/tum/cit/aet/artemis/assessment/repository/cleanup/FeedbackCleanupRepository.java
  src/main/java/de/tum/cit/aet/artemis/assessment/repository/cleanup/LongFeedbackTextCleanupRepository.java
  src/main/java/de/tum/cit/aet/artemis/assessment/repository/cleanup/ParticipantScoreCleanupRepository.java
  src/main/java/de/tum/cit/aet/artemis/assessment/repository/cleanup/PlagiarismComparisonCleanupRepository.java
  src/main/java/de/tum/cit/aet/artemis/assessment/repository/cleanup/RatingCleanupRepository.java
  src/main/java/de/tum/cit/aet/artemis/assessment/repository/cleanup/ResultCleanupRepository.java
  src/main/java/de/tum/cit/aet/artemis/assessment/repository/cleanup/StudentScoreCleanupRepository.java
  src/main/java/de/tum/cit/aet/artemis/assessment/repository/cleanup/SubmissionVersionCleanupRepository.java
  src/main/java/de/tum/cit/aet/artemis/assessment/repository/cleanup/TeamScoreCleanupRepository.java
  src/main/java/de/tum/cit/aet/artemis/assessment/repository/cleanup/TextBlockCleanupRepository.java
  src/main/java/de/tum/cit/aet/artemis/core/dto/NonLatestNonRatedResultsCleanupCountDTO.java
  src/main/java/de/tum/cit/aet/artemis/core/dto/NonLatestRatedResultsCleanupCountDTO.java
  src/main/java/de/tum/cit/aet/artemis/core/dto/OrphanCleanupCountDTO.java
  src/main/java/de/tum/cit/aet/artemis/core/dto/PlagiarismComparisonCleanupCountDTO.java
  src/main/java/de/tum/cit/aet/artemis/core/dto/SubmissionVersionsCleanupCountDTO.java
  src/main/java/de/tum/cit/aet/artemis/core/service/cleanup/DataCleanupService.java
  src/main/java/de/tum/cit/aet/artemis/core/web/admin/AdminCleanupResource.java
  src/main/webapp/app/admin/cleanup-service/cleanup-operation-modal.component.html
  src/main/webapp/app/admin/cleanup-service/cleanup-operation-modal.component.ts
  src/main/webapp/app/admin/cleanup-service/cleanup-service.component.html
  src/main/webapp/app/admin/cleanup-service/cleanup-service.component.ts
  src/main/webapp/app/admin/cleanup-service/data-cleanup.service.ts
  src/main/webapp/i18n/de/cleanupService.json
  src/main/webapp/i18n/en/cleanupService.json
  src/test/java/de/tum/cit/aet/artemis/core/CleanupIntegrationTest.java
  src/test/javascript/spec/component/admin/cleanup-service/cleanup-oparation-modal.component.spec.ts
  src/test/javascript/spec/component/admin/cleanup-service/cleanup-service.component.spec.ts
  src/test/javascript/spec/component/admin/cleanup-service/cleanup-service.service.spec.ts
Labels: tests, server, client, ready to merge, assessment, core

#9887 `Development`: Migrate suspicious behavior module to new client coding guidelines
  src/main/webapp/app/exam/manage/exam-management.module.ts
  src/main/webapp/app/exam/manage/suspicious-behavior/plagiarism-cases-overview/plagiarism-cases-overview.component.html
  src/main/webapp/app/exam/manage/suspicious-behavior/plagiarism-cases-overview/plagiarism-cases-overview.component.ts
  src/main/webapp/app/exam/manage/suspicious-behavior/suspicious-behavior.component.ts
  src/main/webapp/app/exam/manage/suspicious-behavior/suspicious-sessions-overview/suspicious-sessions-overview.component.ts
  src/main/webapp/app/exam/manage/suspicious-behavior/suspicious-sessions.service.ts
  src/main/webapp/app/exam/manage/suspicious-behavior/suspicious-sessions/suspicious-sessions.component.html
  src/main/webapp/app/exam/manage/suspicious-behavior/suspicious-sessions/suspicious-sessions.component.ts
  src/test/javascript/spec/component/exam/manage/suspicious-behavior/plagiarism-cases-overview.component.spec.ts
  src/test/javascript/spec/component/exam/manage/suspicious-behavior/suspicious-behavior.component.spec.ts
  src/test/javascript/spec/component/exam/manage/suspicious-behavior/suspicious-sessions.component.spec.ts
Labels: tests, client, small, ready to merge

#10016 `Iris`: Fix the about page
  src/main/webapp/app/app-routing.module.ts
  src/main/webapp/app/iris/about-iris/about-iris.component.ts
  src/main/webapp/app/iris/iris-logo/iris-logo.component.html
  src/main/webapp/app/iris/iris-logo/iris-logo.component.ts
  src/main/webapp/app/iris/iris.module.ts
Labels: client, small, bugfix

#9824 `Development`: Update sentry config
  src/main/resources/config/application.yml
  src/test/javascript/spec/service/profile.service.spec.ts
  src/test/resources/config/application.yml
Labels: tests, ready for review, config-change

#10060 `Communication`: Fix encryption issue in push notifications
  src/main/java/de/tum/cit/aet/artemis/communication/service/notifications/push_notifications/PushNotificationService.java
Labels: ready for review, server, component:Notification, communication

#9939 `Integrated code lifecycle`: Improve reinitialization when pausing build agents
  src/main/java/de/tum/cit/aet/artemis/buildagent/BuildAgentConfiguration.java
  src/main/java/de/tum/cit/aet/artemis/buildagent/service/BuildAgentDockerService.java
  src/main/java/de/tum/cit/aet/artemis/buildagent/service/BuildJobContainerService.java
  src/main/java/de/tum/cit/aet/artemis/buildagent/service/BuildJobManagementService.java
  src/main/java/de/tum/cit/aet/artemis/buildagent/service/SharedQueueProcessingService.java
  src/test/java/de/tum/cit/aet/artemis/programming/icl/TestBuildAgentConfiguration.java
  src/test/java/de/tum/cit/aet/artemis/shared/base/AbstractSpringIntegrationLocalCILocalVCTest.java
Labels: tests, ready for review, server, buildagent, programming

#9933 `Development`: Improve wording in competency help window
  src/main/webapp/i18n/de/competency.json
  src/main/webapp/i18n/en/competency.json
Labels: client, small, user interface, ready to merge

#9910 `Development`: Migrate admin-standardized-competency service to use inject()
  src/main/webapp/app/admin/standardized-competencies/admin-standardized-competency.service.ts
Labels: client, ready to merge

#10034 `Programming exercises`: Improve error handling when the diff report cannot be generated
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.ts
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/programmingExercise.json
  src/test/javascript/spec/component/programming-exercise/programming-exercise-detail.component.spec.ts
Labels: tests, ready for review, client

#9966 `General`: Support opening instructor actions in new tab
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.html
Labels: client

#9751 `Programming exercises`: Add Go programming language template
  build.gradle
  docs/user/exercises/programming-exercise-features.inc
  src/main/java/de/tum/cit/aet/artemis/plagiarism/service/ProgrammingPlagiarismDetectionService.java
  src/main/java/de/tum/cit/aet/artemis/programming/domain/ProgrammingLanguage.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/ProgrammingExerciseRepositoryService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/ProgrammingExerciseService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/TemplateUpgradePolicyService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/ci/ContinuousIntegrationService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/jenkins/JenkinsProgrammingLanguageFeatureService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/jenkins/build_plan/JenkinsBuildPlanService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/localci/LocalCIProgrammingLanguageFeatureService.java
  src/main/resources/config/application.yml
  src/main/resources/templates/aeolus/go/default.sh
  src/main/resources/templates/aeolus/go/default.yaml
  src/main/resources/templates/go/exercise/bubblesort.go
  src/main/resources/templates/go/exercise/client/client.go
  src/main/resources/templates/go/exercise/context.go
  src/main/resources/templates/go/exercise/go.mod
  src/main/resources/templates/go/exercise/mergesort.go
  src/main/resources/templates/go/exercise/policy.go
  src/main/resources/templates/go/exercise/sortstrategy.go
  src/main/resources/templates/go/readme
  src/main/resources/templates/go/solution/bubblesort.go
  src/main/resources/templates/go/solution/client/client.go
  src/main/resources/templates/go/solution/context.go
  src/main/resources/templates/go/solution/go.mod
  src/main/resources/templates/go/solution/mergesort.go
  src/main/resources/templates/go/solution/policy.go
  src/main/resources/templates/go/solution/sortstrategy.go
  src/main/resources/templates/go/test/behavior/behavior_test.go
  src/main/resources/templates/go/test/go.mod
  src/main/resources/templates/go/test/structural/structural_test.go
  src/main/resources/templates/jenkins/go/regularRuns/pipeline.groovy
  src/main/webapp/app/entities/programming/programming-exercise.model.ts
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-creation-config.ts
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.ts
  src/main/webapp/app/exercises/programming/manage/update/update-components/language/programming-exercise-language.component.html
  src/main/webapp/app/exercises/programming/manage/update/update-components/language/programming-exercise-language.component.ts
  src/main/webapp/app/shared/constants/input.constants.ts
  src/main/webapp/i18n/de/exercise.json
  src/main/webapp/i18n/en/exercise.json
  src/test/java/de/tum/cit/aet/artemis/programming/util/ProgrammingExerciseFactory.java
  src/test/java/de/tum/cit/aet/artemis/programming/util/ProgrammingExerciseTestService.java
  src/test/javascript/spec/component/programming-exercise/programming-exercise-update.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/update-components/programming-exercise-creation-config-mock.ts
  src/test/resources/config/application.yml
Labels: tests, ready for review, server, client, documentation, config-change, template, plagiarism, programming

#9663 `General`: Add hover effect for all sidebar items
  src/main/webapp/app/shared/sidebar/sidebar-card-medium/sidebar-card-medium.component.html
  src/main/webapp/app/shared/sidebar/sidebar-card-medium/sidebar-card-medium.component.scss
Labels: client, deploy:artemis-test3

#9691 `Programming exercises`: Concatenate testsuite names with testcase names in LocalCI
  src/main/java/de/tum/cit/aet/artemis/buildagent/service/TestResultXmlParser.java
  src/test/java/de/tum/cit/aet/artemis/buildagent/service/TestResultXmlParserTest.java
Labels: tests, server, ready to merge, buildagent

#9747 `Plagiarism checks`: Add direct link to plagiarism detection case view
  src/main/webapp/app/course/plagiarism-cases/instructor-view/plagiarism-cases-instructor-view.component.html
  src/main/webapp/app/course/plagiarism-cases/instructor-view/plagiarism-cases-instructor-view.component.scss
  src/main/webapp/app/course/plagiarism-cases/instructor-view/plagiarism-cases-instructor-view.component.ts
  src/main/webapp/app/exercises/shared/plagiarism/types/GroupedPlagiarismCase.ts
  src/main/webapp/i18n/de/plagiarism.json
  src/main/webapp/i18n/en/plagiarism.json
  src/test/javascript/spec/component/plagiarism/plagiarism-cases-instructor-view.component.spec.ts
Labels: tests, client, ready to merge, maintainer-approved

#10032 `Communication`: Add loading indicator when adding users to channel
  src/main/webapp/app/overview/course-conversations/dialogs/conversation-add-users-dialog/add-users-form/conversation-add-users-form.component.html
  src/main/webapp/app/overview/course-conversations/dialogs/conversation-add-users-dialog/add-users-form/conversation-add-users-form.component.ts
  src/main/webapp/app/overview/course-conversations/dialogs/conversation-add-users-dialog/conversation-add-users-dialog.component.html
  src/main/webapp/app/overview/course-conversations/dialogs/conversation-add-users-dialog/conversation-add-users-dialog.component.ts
  src/test/javascript/spec/component/overview/course-conversations/dialogs/conversation-add-users-dialog/conversation-add-users-dialog.component.spec.ts
Labels: tests, ready for review, client, small, bugfix, component:Communication

#10065 `Development`: Make compose for playwright tests more reliable
  docker/playwright-E2E-tests-multi-node.yml
  docker/playwright-E2E-tests-mysql-localci.yml
  docker/playwright.yml
Labels: ready to merge, docker

#9911 `Development`: Migrate standard competencies admin import component
  src/main/webapp/app/admin/admin.module.ts
  src/main/webapp/app/admin/standardized-competencies/import/admin-import-standardized-competencies.component.ts
  src/test/javascript/spec/component/standardized-competencies/admin-import-standardized-competencies.spec.ts
Labels: tests, client, ready to merge

#10083 `Communication`: Fix performance issues in mark all read feature
  src/main/java/de/tum/cit/aet/artemis/communication/domain/conversation/Channel.java
  src/main/java/de/tum/cit/aet/artemis/communication/dto/ChannelDTO.java
  src/main/java/de/tum/cit/aet/artemis/communication/dto/ConversationDTO.java
  src/main/java/de/tum/cit/aet/artemis/communication/repository/ConversationParticipantRepository.java
  src/main/java/de/tum/cit/aet/artemis/communication/repository/conversation/ConversationRepository.java
  src/main/java/de/tum/cit/aet/artemis/communication/service/conversation/ChannelService.java
  src/main/java/de/tum/cit/aet/artemis/communication/service/conversation/ConversationService.java
  src/main/java/de/tum/cit/aet/artemis/communication/service/conversation/auth/ChannelAuthorizationService.java
  src/main/java/de/tum/cit/aet/artemis/communication/service/notifications/SingleUserNotificationService.java
  src/main/java/de/tum/cit/aet/artemis/communication/web/conversation/ChannelResource.java
  src/main/webapp/app/entities/metis/conversation/channel.model.ts
  src/main/webapp/app/exercises/programming/manage/grading/feedback-analysis/Modal/feedback-detail-channel-modal.component.ts
  src/main/webapp/app/overview/course-conversations/dialogs/channels-create-dialog/channels-create-dialog.component.ts
  src/main/webapp/app/overview/course-conversations/dialogs/conversation-detail-dialog/tabs/conversation-members/conversation-member-row/conversation-member-row.component.ts
  src/main/webapp/app/shared/metis/conversations/channel.service.ts
  src/main/webapp/app/shared/metis/conversations/conversation.service.ts
  src/test/java/de/tum/cit/aet/artemis/communication/ChannelIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/communication/ConversationIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/communication/test_repository/ConversationTestRepository.java
  src/test/javascript/spec/component/overview/course-conversations/course-conversations.component.spec.ts
  src/test/javascript/spec/component/overview/course-conversations/dialogs/channels-create-dialog/channels-create-dialog.component.spec.ts
  src/test/javascript/spec/component/overview/course-conversations/dialogs/channels-overview-dialog/channel-item/channel-item.component.spec.ts
  src/test/javascript/spec/component/overview/course-conversations/dialogs/channels-overview-dialog/channels-overview-dialog.component.spec.ts
  src/test/javascript/spec/component/overview/course-conversations/dialogs/conversation-add-users-dialog/add-users-form/conversation-add-users-form.component.spec.ts
  src/test/javascript/spec/component/overview/course-conversations/dialogs/conversation-add-users-dialog/conversation-add-users-dialog.component.spec.ts
  src/test/javascript/spec/component/overview/course-conversations/dialogs/conversation-detail-dialog/conversation-detail-dialog.component.spec.ts
  src/test/javascript/spec/component/overview/course-conversations/dialogs/conversation-detail-dialog/tabs/conversation-info/conversation-info.component.spec.ts
  src/test/javascript/spec/component/overview/course-conversations/dialogs/conversation-detail-dialog/tabs/conversation-members/conversation-member-row/conversation-member-row.component.spec.ts
  src/test/javascript/spec/component/overview/course-conversations/dialogs/conversation-detail-dialog/tabs/conversation-members/conversation-members.component.spec.ts
  src/test/javascript/spec/component/overview/course-conversations/dialogs/conversation-detail-dialog/tabs/conversation-settings/conversation-settings.component.spec.ts
  src/test/javascript/spec/component/overview/course-conversations/layout/conversation-header/conversation-header.component.spec.ts
  src/test/javascript/spec/component/overview/course-conversations/layout/conversation-messages/conversation-messages.component.spec.ts
  src/test/javascript/spec/component/overview/course-conversations/services/channel.service.spec.ts
  src/test/javascript/spec/component/overview/course-conversations/services/conversation-permissions.util.spec.ts
  src/test/javascript/spec/component/overview/course-conversations/services/conversation.service.spec.ts
  src/test/javascript/spec/component/overview/course-conversations/services/metis-conversation.service.spec.ts
  src/test/javascript/spec/component/programming-exercise/feedback-analysis/feedback-analysis.service.spec.ts
  src/test/javascript/spec/component/programming-exercise/feedback-analysis/modals/feedback-detail-channel-modal.component.spec.ts
  src/test/javascript/spec/component/shared/sidebar/conversation-options.component.spec.ts
  src/test/javascript/spec/service/notification.service.spec.ts
Labels: tests, ready for review, server, client, lock:artemis-test2, performance, communication

#10033 `Communication`: Add recents section to sidebar
  src/main/webapp/app/overview/course-conversations/course-conversations.component.html
  src/main/webapp/app/overview/course-conversations/course-conversations.component.ts
  src/main/webapp/app/overview/course-overview.service.ts
  src/main/webapp/app/shared/sidebar/sidebar.component.ts
  src/main/webapp/app/types/sidebar.ts
  src/main/webapp/i18n/de/student-dashboard.json
  src/main/webapp/i18n/en/student-dashboard.json
  src/test/javascript/spec/component/course/course-overview.service.spec.ts
  src/test/javascript/spec/component/overview/course-conversations/course-conversations.component.spec.ts
Labels: feature, tests, client, ready to merge, component:Communication
