Repository ls1intum/Artemis, pull requests merged in 2024-04, with the labels that each got.

#8276 `Development`: Update server dependencies
  build.gradle
  docs/dev/guidelines/criteria-builder.rst
  gradle.properties
  src/main/java/de/tum/in/www1/artemis/domain/PersistentAuditEvent.java
  src/main/java/de/tum/in/www1/artemis/domain/User.java
  src/main/java/de/tum/in/www1/artemis/domain/UserGroup.java
  src/main/java/de/tum/in/www1/artemis/domain/plagiarism/PlagiarismResult.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/dto/BambooBuildResultNotificationDTO.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/dto/BambooProjectDTO.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/dto/TestwiseCoverageReportDTO.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/ci/AbstractContinuousIntegrationResultService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/ci/notification/dto/TestCaseDTO.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/ci/notification/dto/TestResultsDTO.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/ci/notification/dto/TestSuiteDTO.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/dto/LocalCIBuildResult.java
  src/main/java/de/tum/in/www1/artemis/service/dto/AbstractBuildResultNotificationDTO.java
  src/main/java/de/tum/in/www1/artemis/service/dto/BuildJobDTOInterface.java
  src/main/java/de/tum/in/www1/artemis/service/dto/StaticCodeAnalysisReportDTO.java
  src/main/java/de/tum/in/www1/artemis/service/dto/TestCaseDTOInterface.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseFeedbackCreationService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseGradingService.java
  src/main/resources/config/liquibase/changelog/20240330171400_changelog.xml
  src/main/resources/config/liquibase/changelog/20240330173700_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseFactory.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseResultTestService.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingSubmissionAndResultBitbucketBambooIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/SubmissionPolicyIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/RepositoryAccessServiceTest.java
Labels: tests, ready for review, server, documentation, database

#8280 `Development`: Rename database columns with keywords to be able to update liquibase
  build.gradle
  docs/dev/guidelines/criteria-builder.rst
  gradle.properties
  gradle/liquibase.gradle
  src/main/java/de/tum/in/www1/artemis/domain/PersistentAuditEvent.java
  src/main/java/de/tum/in/www1/artemis/domain/User.java
  src/main/java/de/tum/in/www1/artemis/domain/UserGroup.java
  src/main/java/de/tum/in/www1/artemis/domain/plagiarism/PlagiarismResult.java
  src/main/resources/config/liquibase/changelog/20240330171400_changelog.xml
  src/main/resources/config/liquibase/changelog/20240330173700_changelog.xml
  src/main/resources/config/liquibase/master.xml
Labels: ready for review, server, documentation, database

#8212 `Development`: Improve server code
  src/main/java/de/tum/in/www1/artemis/service/exam/ExamService.java
  src/main/java/de/tum/in/www1/artemis/service/exam/ExamSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/AuxiliaryRepositoryService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/AssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExamLockResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExamResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/FileUploadAssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingAssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextAssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/programming/ProgrammingAssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/programming/ProgrammingExerciseExportImportResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/programming/ProgrammingExerciseGradingResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/programming/ProgrammingExerciseLockResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/programming/ProgrammingExerciseParticipationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/programming/ProgrammingExercisePlagiarismResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/programming/ProgrammingExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/programming/ProgrammingExerciseResourceEndpoints.java
  src/main/java/de/tum/in/www1/artemis/web/rest/programming/ProgrammingExerciseResourceErrorKeys.java
  src/main/java/de/tum/in/www1/artemis/web/rest/programming/ProgrammingExerciseTestCaseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/programming/ProgrammingSubmissionResource.java
  src/main/webapp/app/exam/manage/exam-management.service.ts
  src/main/webapp/app/exercises/programming/manage/services/programming-exercise.service.ts
  src/test/java/de/tum/in/www1/artemis/exam/ExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exam/ProgrammingExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseGitIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseGradingServiceTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseIntegrationJenkinsGitlabTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseIntegrationTestService.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseLocalVCLocalCIIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseServiceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseTemplateIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseTestService.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalVCServiceTest.java
  src/test/javascript/spec/component/exam/manage/exam-management.service.spec.ts
  src/test/javascript/spec/service/programming-exercise.service.spec.ts
Labels: tests, ready for review, server, client

#8224 `Development`: Prefer non empty json include annotation
  src/main/java/de/tum/in/www1/artemis/domain/Team.java
  src/main/java/de/tum/in/www1/artemis/domain/notification/NotificationTarget.java
  src/main/java/de/tum/in/www1/artemis/domain/participation/StudentParticipation.java
  src/main/java/de/tum/in/www1/artemis/service/LectureUnitProcessingService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/LectureUnitInformationDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/QuizBatchJoinDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/ResultWithPointsPerGradingCriterionDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/competency/LearningPathHealthDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/competency/NgxLearningPathDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/science/ScienceEventDTO.java
  src/test/java/de/tum/in/www1/artemis/architecture/ArchitectureTest.java
  src/test/java/de/tum/in/www1/artemis/assessment/ResultServiceIntegrationTest.java
Labels: tests, ready for review, server, stale

#8292 `Integrated code lifecycle`: Export metrics for monitoring
  src/main/java/de/tum/in/www1/artemis/config/MetricsBean.java
  src/main/java/de/tum/in/www1/artemis/service/ProfileService.java
  src/main/resources/config/application-prod.yml
  src/main/resources/config/application.yml
Labels: ready for review, server, config-change, component:integrated code lifecycle

#8304 `Integrated code lifecycle`: Show build logs for successful recent build jobs
  src/main/webapp/app/localci/build-agents/build-agents.component.html
  src/main/webapp/app/localci/build-agents/build-agents.component.ts
Labels: ready for review, client, lock:artemis-test6

#8284 `Development`: Add database changes for standardized competencies
  src/main/resources/config/liquibase/changelog/20240401105600_changelog.xml
  src/main/resources/config/liquibase/master.xml
Labels: database

#8129 `Development`: Add domain objects for standardized competencies
  src/main/java/de/tum/in/www1/artemis/domain/competency/BaseCompetency.java
  src/main/java/de/tum/in/www1/artemis/domain/competency/Competency.java
  src/main/java/de/tum/in/www1/artemis/domain/competency/KnowledgeArea.java
  src/main/java/de/tum/in/www1/artemis/domain/competency/Source.java
  src/main/java/de/tum/in/www1/artemis/domain/competency/StandardizedCompetency.java
  src/main/java/de/tum/in/www1/artemis/repository/SourceRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/competency/KnowledgeAreaRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/competency/StandardizedCompetencyRepository.java
  src/main/java/de/tum/in/www1/artemis/service/competency/KnowledgeAreaService.java
  src/main/java/de/tum/in/www1/artemis/service/competency/StandardizedCompetencyService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/admin/AdminStandardizedCompetencyResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/competency/StandardizedCompetencyResource.java
  src/main/resources/config/liquibase/changelog/20240401105600_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/test/java/de/tum/in/www1/artemis/competency/StandardizedCompetencyIntegrationTest.java
Labels: tests, server, database, ready to merge, component:AdaptiveLearning, too-long-open

#8023 `Development`: Fix GitLab CI Setup
  docker/gitlab-gitlabci.yml
  docs/dev/setup/gitlabci-gitlab.rst
  src/main/java/de/tum/in/www1/artemis/config/migration/entries/MigrationEntry20230808_203400.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/gitlabci/GitLabCIProgrammingLanguageFeatureService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/gitlabci/GitLabCIService.java
Labels: server, documentation, ready to merge, docker, lock:artemis-test10, too-long-open

#8281 `Integrated code lifecycle`: Reduce build agent payload size
  src/main/java/de/tum/in/www1/artemis/domain/participation/Participation.java
  src/main/java/de/tum/in/www1/artemis/domain/participation/ParticipationInterface.java
  src/main/java/de/tum/in/www1/artemis/domain/participation/ProgrammingExerciseStudentParticipation.java
  src/main/java/de/tum/in/www1/artemis/domain/participation/SolutionProgrammingExerciseParticipation.java
  src/main/java/de/tum/in/www1/artemis/domain/participation/StudentParticipation.java
  src/main/java/de/tum/in/www1/artemis/domain/participation/TemplateProgrammingExerciseParticipation.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIResultProcessingService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/dto/BuildConfig.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/dto/DockerImageBuild.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/dto/JobTimingInfo.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/dto/LocalCIBuildAgentInformation.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/dto/LocalCIBuildJobQueueItem.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/dto/LocalCIBuildResult.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/dto/RepositoryInfo.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/dto/ResultQueueItem.java
  src/main/java/de/tum/in/www1/artemis/web/rest/admin/AdminBuildJobQueueResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/ParticipationDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/ResultDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/SubmissionDTO.java
  src/main/java/de/tum/in/www1/artemis/web/websocket/localci/LocalCIWebsocketMessagingService.java
  src/main/webapp/app/entities/participation/participation.model.ts
  src/main/webapp/app/exercises/quiz/manage/apollon-diagrams/exercise-generation/quiz-exercise-generator.ts
  src/main/webapp/app/exercises/shared/result/result.service.ts
  src/main/webapp/app/localci/build-agents/build-agents.component.html
  src/main/webapp/app/localci/build-agents/build-agents.component.ts
  src/main/webapp/app/localci/build-queue/build-queue.component.html
  src/main/webapp/app/localci/build-queue/build-queue.component.ts
  src/test/javascript/spec/helpers/mocks/service/mock-result.service.ts
  src/test/javascript/spec/jest-test-setup.ts
Labels: tests, ready for review, server, client

#8312 `Integrated code lifecycle`: Regularly clean up stranded build job containers
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/buildagent/LocalCIDockerService.java
  src/main/resources/config/application-buildagent.yml
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalCIDockerServiceTest.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalCITestConfiguration.java
Labels: tests, ready for review, server, config-change, component:integrated code lifecycle

#8317 `Programming exercises`: Fix ssh local storage issue
  src/main/webapp/app/shared/components/clone-repo-button/clone-repo-button.component.ts
  src/test/javascript/spec/component/shared/clone-repo-button.component.spec.ts
Labels: tests, ready for review, client

#8293 `Programming exercises`: Upgrade deprecated PMD rules
  src/main/resources/templates/java/test/gradle/projectTemplate/build.gradle
  src/main/resources/templates/java/test/staticCodeAnalysisConfig/pmd-configuration.xml
Labels: component:Programming, small, ready to merge, template

#8149 `Development`: Add documentation for modeling exercises in Artemis iOS
  docs/user/mobile-applications.rst
Labels: documentation, ready to merge

#8078 `Modeling exercises`: Improve synchronization of team-based exercises
  package-lock.json
  package.json
  src/main/java/de/tum/in/www1/artemis/repository/StudentParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/web/websocket/dto/SubmissionPatch.java
  src/main/java/de/tum/in/www1/artemis/web/websocket/dto/SubmissionPatchPayload.java
  src/main/java/de/tum/in/www1/artemis/web/websocket/team/ParticipationTeamWebsocketService.java
  src/main/webapp/app/entities/submission-patch-payload.model.ts
  src/main/webapp/app/entities/submission-patch.model.ts
  src/main/webapp/app/entities/submission-sync-payload.model.ts
  src/main/webapp/app/exercises/modeling/participate/modeling-submission.component.html
  src/main/webapp/app/exercises/modeling/participate/modeling-submission.component.ts
  src/main/webapp/app/exercises/modeling/shared/modeling-editor.component.ts
  src/main/webapp/app/exercises/shared/team-submission-sync/team-submission-sync.component.ts
  src/test/java/de/tum/in/www1/artemis/AbstractArtemisIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/ParticipationTeamWebsocketServiceTest.java
  src/test/javascript/spec/component/exercises/shared/team-submission-sync.component.spec.ts
  src/test/javascript/spec/component/modeling-editor/modeling-editor.component.spec.ts
  src/test/javascript/spec/component/modeling-submission/modeling-submission-team.component.spec.ts
Labels: tests, ready for review, server, client, too-long-open

#8285 `Adaptive learning`: Improve user interface for competency generation
  src/main/webapp/app/course/competencies/generate-competencies/competency-recommendation-detail.component.html
  src/main/webapp/app/course/competencies/generate-competencies/competency-recommendation-detail.component.ts
  src/main/webapp/app/course/competencies/generate-competencies/course-description-form.component.html
  src/main/webapp/app/course/competencies/generate-competencies/generate-competencies.component.html
Labels: enhancement, client, small, component:AdaptiveLearning

#8128 `Development`: Update LTI user documentation
  docs/user/exercises/general.rst
  docs/user/lti.rst
  docs/user/lti/artemis_moodle_field_mapping.png
  docs/user/lti/course_edit_lti_configuration.png
  docs/user/lti/edx_add_exercise_link.png
  docs/user/lti/edx_artemis_mapping.png
  docs/user/lti/edx_change_course_live.png
  docs/user/lti/edx_lti_consumer_settings.png
  docs/user/lti/lticonfiguration_link.png
  docs/user/lti/lticonfiguration_tab.png
  docs/user/lti/ltiexercises_list.png
  docs/user/lti/moodle_activate_lti.png
  docs/user/lti/moodle_artemis_field_mapping.png
  docs/user/lti/moodle_password_popup.png
  docs/user/lti/moodle_select-exercise.png
  docs/user/lti/moodle_select_content.png
  docs/user/lti/server_lti_config_service_urls.png
  docs/user/lti/server_lti_configuration.png
Labels: documentation, too-long-open

#8217 `Development`: Integrate fast authorization checks into websocket configuration
  src/main/java/de/tum/in/www1/artemis/config/websocket/WebsocketConfiguration.java
  src/main/java/de/tum/in/www1/artemis/repository/ExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/UserRepository.java
  src/main/java/de/tum/in/www1/artemis/service/AuthorizationCheckService.java
  src/main/java/de/tum/in/www1/artemis/web/websocket/ResultWebsocketService.java
Labels: enhancement, ready for review, server, refactoring

#8275 `Modeling exercises`: Improve modeling editor readonly view
  src/main/webapp/app/detail-overview-list/detail-overview-list.component.html
  src/main/webapp/app/exercises/modeling/shared/modeling-editor.component.html
  src/main/webapp/app/exercises/modeling/shared/modeling-editor.component.scss
  src/main/webapp/app/exercises/modeling/shared/modeling-editor.component.ts
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.html
Labels: client

#8277 `Development`: Upgrade to Java 21
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/test.yml
  build.gradle
  docker/artemis/Dockerfile
  docs/dev/setup.rst
  src/main/java/de/tum/in/www1/artemis/service/AuthorizationCheckService.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseTemplateIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/util/junit_parallel_logging/ThreadIdConverter.java
Labels: tests, ready for review, server, documentation, docker

#8314 `Development`: Improve Aeolus code quality
  docs/dev/guidelines/server.rst
  src/main/java/de/tum/in/www1/artemis/domain/ProgrammingExercise.java
  src/main/java/de/tum/in/www1/artemis/domain/notification/Notification.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/aeolus/Action.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/aeolus/ActionDeserializer.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/aeolus/AeolusBuildPlanService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/aeolus/AeolusTemplateService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/aeolus/DockerConfig.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/aeolus/PlatformAction.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/aeolus/ScriptAction.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/aeolus/Windfile.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/aeolus/WindfileMetadata.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/aeolus/dto/AeolusGenerationResponseDTO.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/build_plan/JenkinsBuildPlanService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/lecture/AttachmentUnitResource.java
  src/test/java/de/tum/in/www1/artemis/architecture/ArchitectureTest.java
  src/test/java/de/tum/in/www1/artemis/connector/AeolusRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/connectors/AeolusBuildScriptGenerationServiceTest.java
  src/test/java/de/tum/in/www1/artemis/connectors/AeolusServiceTest.java
  src/test/java/de/tum/in/www1/artemis/connectors/AeolusTemplateResourceTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseTestService.java
Labels: tests, ready for review, server, documentation

#8315 `Integrated code lifecycle`: Fix missing build plan configuration when importing programming exercises
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseImportBasicService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseImportFromFileService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseImportService.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseGitlabJenkinsIntegrationTest.java
Labels: tests, ready for review, server, ready to merge, maintainer-approved

#8302 `Iris`: Add disclaimer text
  src/main/webapp/app/iris/exercise-chatbot/widget/chatbot-widget.component.html
  src/main/webapp/app/iris/exercise-chatbot/widget/chatbot-widget.component.scss
  src/main/webapp/i18n/de/exerciseChatbot.json
  src/main/webapp/i18n/en/exerciseChatbot.json
Labels: ready for review, client

#8336 `Development`: Fix playwright tests failing after introduction of sidebar
  src/test/playwright/e2e/course/CourseExercise.spec.ts
  src/test/playwright/e2e/exercise/modeling/ModelingExerciseManagement.spec.ts
  src/test/playwright/e2e/exercise/quiz-exercise/QuizExerciseParticipation.spec.ts
  src/test/playwright/support/pageobjects/course/CourseCommunicationPage.ts
  src/test/playwright/support/pageobjects/course/CourseOverviewPage.ts
  src/test/playwright/support/pageobjects/exercises/ExerciseResultPage.ts
Labels: tests

#8343 `Development`: Fix plagiarism update validation
  src/main/webapp/app/exercises/shared/plagiarism/exercise-update-plagiarism/exercise-update-plagiarism.component.html
  src/main/webapp/app/exercises/shared/plagiarism/exercise-update-plagiarism/exercise-update-plagiarism.component.ts
Labels: client

#8340 `General`: Fix date time picker issues for modeling, text, and file upload exercises
  src/main/webapp/app/exercises/file-upload/manage/file-upload-exercise-update.component.html
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise-update.component.html
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise-update.component.html
  src/main/webapp/app/shared/date-time-picker/date-time-picker.component.ts
Labels: ready for review, client, small

#8337 `Exam mode`: Fix sticky navigation bar header
  src/main/webapp/app/exam/participate/exam-navigation-bar/exam-navigation-bar.component.ts
  src/main/webapp/app/exam/participate/exam-participation.component.html
  src/main/webapp/app/exam/participate/exam-participation.scss
  src/main/webapp/app/exercises/modeling/participate/modeling-submission.component.scss
Labels: client, lock:artemis-test3

#8348 `Development`: Fix failing cypress tests that use sidebar
  src/test/cypress/e2e/course/CourseExercise.cy.ts
  src/test/cypress/e2e/exercises/ExerciseImport.cy.ts
  src/test/cypress/e2e/exercises/modeling/ModelingExerciseManagement.cy.ts
  src/test/cypress/e2e/exercises/quiz-exercise/QuizExerciseParticipation.cy.ts
  src/test/cypress/support/pageobjects/course/CourseCommunication.ts
  src/test/cypress/support/pageobjects/course/CourseOverviewPage.ts
  src/test/cypress/support/pageobjects/exercises/ExerciseResultPage.ts
Labels: tests, cypress

#8307 `Integrated code lifecycle`: Make result processing more robust against invalid static code analysis file formats
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/buildagent/BuildJobExecutionService.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalCIIntegrationTest.java
Labels: tests, server, small, ready to merge, maintainer-approved, component:integrated code lifecycle

#8347 `General`: Adjust validation bar styles
  src/main/webapp/app/exercises/shared/utils.ts
  src/main/webapp/app/forms/form-footer/form-footer.component.scss
  src/main/webapp/app/forms/form-status-bar/form-status-bar.component.html
  src/main/webapp/app/forms/form-status-bar/form-status-bar.component.scss
  src/main/webapp/app/shared/components/checklist-check.component.html
  src/main/webapp/app/shared/components/checklist-check.component.ts
  src/main/webapp/i18n/de/exercise.json
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/exercise.json
  src/main/webapp/i18n/en/programmingExercise.json
  src/test/javascript/spec/component/plagiarism/exercise-update-plagiarism.component.spec.ts
Labels: tests, client

#8344 `Development`: Enhance architecture tests
  src/main/java/de/tum/in/www1/artemis/repository/LdapUserRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/StudentExamRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ExerciseDateService.java
  src/main/java/de/tum/in/www1/artemis/service/ldap/LdapUserService.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/ProgrammingExerciseScheduleService.java
  src/main/java/de/tum/in/www1/artemis/service/tutorialgroups/TutorialGroupScheduleService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/tutorialgroups/TutorialGroupSessionResource.java
  src/test/java/de/tum/in/www1/artemis/AbstractArchitectureTest.java
  src/test/java/de/tum/in/www1/artemis/architecture/AbstractArchitectureTest.java
  src/test/java/de/tum/in/www1/artemis/architecture/ArchitectureTest.java
  src/test/java/de/tum/in/www1/artemis/architecture/EnforceRoleInResourceArchitectureTest.java
  src/test/java/de/tum/in/www1/artemis/architecture/FeedbackArchitectureTest.java
  src/test/java/de/tum/in/www1/artemis/architecture/RepositoryArchitectureTest.java
  src/test/java/de/tum/in/www1/artemis/architecture/ResourceArchitectureTest.java
  src/test/java/de/tum/in/www1/artemis/architecture/ServiceArchitectureTest.java
  src/test/java/de/tum/in/www1/artemis/authorization/AuthorizationArchitectureTest.java
Labels: tests, server

#8342 `General`: Fix position of category select dropdown
  src/main/webapp/app/app.module.ts
  src/main/webapp/app/shared/layouts/main/main.component.html
Labels: client, small, ready to merge, maintainer-approved

#8335 `Quiz exercises`: Fix footer in participation view
  src/main/webapp/app/exercises/quiz/participate/quiz-participation.component.scss
Labels: client

#8329 `Development`: Remove unused attribute
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseFeedbackCreationService.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseTestService.java
Labels: tests, ready for review, server, code quality, small

#8339 `Communication`: Fix code of conduct to only appear if it has not been accepted
  src/main/webapp/app/overview/course-conversations/course-conversations.component.html
  src/main/webapp/app/overview/course-conversations/course-conversations.component.ts
Labels: client, bugfix, component:Communication

#8130 `Development`: Change the online code editor for students to monaco
  angular.json
  jest.config.js
  package-lock.json
  package.json
  src/main/webapp/app/app.main.ts
  src/main/webapp/app/core/config/monaco.config.ts
  src/main/webapp/app/entities/build-log.model.ts
  src/main/webapp/app/exam/participate/exercises/programming/programming-exam-submission.component.html
  src/main/webapp/app/exercises/programming/assess/code-editor-tutor-assessment-container.component.ts
  src/main/webapp/app/exercises/programming/manage/code-editor/code-editor-instructor-and-editor-container.component.ts
  src/main/webapp/app/exercises/programming/participate/code-editor-student-container.component.html
  src/main/webapp/app/exercises/programming/shared/code-editor/code-editor.module.ts
  src/main/webapp/app/exercises/programming/shared/code-editor/container/code-editor-container.component.html
  src/main/webapp/app/exercises/programming/shared/code-editor/container/code-editor-container.component.ts
  src/main/webapp/app/exercises/programming/shared/code-editor/header/code-editor-header.component.html
  src/main/webapp/app/exercises/programming/shared/code-editor/header/code-editor-header.component.ts
  src/main/webapp/app/exercises/programming/shared/code-editor/monaco/code-editor-monaco.component.html
  src/main/webapp/app/exercises/programming/shared/code-editor/monaco/code-editor-monaco.component.scss
  src/main/webapp/app/exercises/programming/shared/code-editor/monaco/code-editor-monaco.component.ts
  src/main/webapp/app/shared/monaco-editor/model/monaco-code-editor-element.model.ts
  src/main/webapp/app/shared/monaco-editor/model/monaco-editor-build-annotation.model.ts
  src/main/webapp/app/shared/monaco-editor/model/monaco-editor-glyph-margin-widget.model.ts
  src/main/webapp/app/shared/monaco-editor/model/monaco-editor-inline-widget.model.ts
  src/main/webapp/app/shared/monaco-editor/model/monaco-editor-overlay-widget.model.ts
  src/main/webapp/app/shared/monaco-editor/model/monaco-editor-view-zone.model.ts
  src/main/webapp/app/shared/monaco-editor/monaco-editor.component.html
  src/main/webapp/app/shared/monaco-editor/monaco-editor.component.scss
  src/main/webapp/app/shared/monaco-editor/monaco-editor.component.ts
  src/main/webapp/app/shared/monaco-editor/monaco-editor.module.ts
  src/main/webapp/content/scss/themes/_dark-variables.scss
  src/main/webapp/content/scss/themes/_default-variables.scss
  src/main/webapp/i18n/de/editor.json
  src/main/webapp/i18n/en/editor.json
  src/test/cypress/support/pageobjects/course/CourseOverviewPage.ts
  src/test/cypress/support/pageobjects/exercises/programming/OnlineEditorPage.ts
  src/test/cypress/support/pageobjects/exercises/programming/ProgrammingExerciseFeedbackPage.ts
  src/test/javascript/spec/component/code-editor/code-editor-monaco.component.spec.ts
  src/test/javascript/spec/component/shared/monaco-editor/monaco-editor.component.spec.ts
  src/test/javascript/spec/integration/code-editor/code-editor-container.integration.spec.ts
  src/test/javascript/spec/integration/code-editor/code-editor-student.integration.spec.ts
  src/test/javascript/spec/jest-test-setup.ts
  src/test/playwright/support/pageobjects/exercises/programming/OnlineEditorPage.ts
  src/test/playwright/support/pageobjects/exercises/programming/ProgrammingExerciseFeedbackPage.ts
  stub.js
Labels: tests, ready for review, client, cypress, too-long-open

#8361 `General`: Make the global footer shorter
  src/main/webapp/app/core/about-us/about-us.component.html
  src/main/webapp/app/shared/layouts/footer/footer.component.html
  src/main/webapp/app/shared/layouts/footer/footer.component.ts
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/de/legal.json
  src/main/webapp/i18n/en/global.json
  src/main/webapp/i18n/en/legal.json
  src/test/cypress/support/pageobjects/LoginPage.ts
  src/test/playwright/support/pageobjects/LoginPage.ts
Labels: tests, client, cypress

#8341 `Exam mode`: Fix spacing in quiz navigation
  src/main/webapp/app/exam/participate/exercises/quiz/quiz-exam-submission.component.html
  src/main/webapp/app/exam/participate/exercises/quiz/quiz-exam-submission.component.scss
  src/main/webapp/app/exam/participate/summary/exercises/quiz-exam-summary/quiz-exam-summary.component.html
Labels: ready for review, client, bugfix, lock:artemis-test5

#8238 `Adaptive learning`: Add standardized competency management
  src/main/java/de/tum/in/www1/artemis/domain/competency/KnowledgeArea.java
  src/main/java/de/tum/in/www1/artemis/repository/competency/KnowledgeAreaRepository.java
  src/main/java/de/tum/in/www1/artemis/service/competency/StandardizedCompetencyService.java
  src/main/java/de/tum/in/www1/artemis/service/feature/Feature.java
  src/main/java/de/tum/in/www1/artemis/service/feature/FeatureToggleService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/admin/AdminStandardizedCompetencyResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/competency/StandardizedCompetencyResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/competency/KnowledgeAreaDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/competency/StandardizedCompetencyDTO.java
  src/main/webapp/app/admin/admin.module.ts
  src/main/webapp/app/admin/admin.route.ts
  src/main/webapp/app/admin/standardized-competencies/admin-standardized-competency.service.ts
  src/main/webapp/app/admin/standardized-competencies/standardized-competency-detail.component.html
  src/main/webapp/app/admin/standardized-competencies/standardized-competency-detail.component.ts
  src/main/webapp/app/admin/standardized-competencies/standardized-competency-management.component.html
  src/main/webapp/app/admin/standardized-competencies/standardized-competency-management.component.scss
  src/main/webapp/app/admin/standardized-competencies/standardized-competency-management.component.ts
  src/main/webapp/app/admin/standardized-competencies/standardized-competency.service.ts
  src/main/webapp/app/course/competencies/competency.module.ts
  src/main/webapp/app/entities/competency/standardized-competency.model.ts
  src/main/webapp/app/shared/feature-toggle/feature-toggle.service.ts
  src/main/webapp/app/shared/layouts/navbar/navbar.component.html
  src/main/webapp/app/shared/layouts/navbar/navbar.component.ts
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/de/standardizedCompetency.json
  src/main/webapp/i18n/en/global.json
  src/main/webapp/i18n/en/standardizedCompetency.json
  src/test/java/de/tum/in/www1/artemis/competency/StandardizedCompetencyIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/FeatureToggleServiceTest.java
  src/test/javascript/spec/component/admin/admin-feature-toggle.component.spec.ts
  src/test/javascript/spec/component/standardized-competencies/admin-standardized-competency.service.spec.ts
  src/test/javascript/spec/component/standardized-competencies/standardized-competency-detail-stub.ts
  src/test/javascript/spec/component/standardized-competencies/standardized-competency-detail.spec.ts
  src/test/javascript/spec/component/standardized-competencies/standardized-competency-management.spec.ts
  src/test/javascript/spec/component/standardized-competencies/standardized-competency.service.spec.ts
Labels: feature, tests, server, client, component:AdaptiveLearning

#8283 `Quiz exercises`: Correct drop location computation
  src/main/webapp/app/exercises/quiz/manage/apollon-diagrams/exercise-generation/quiz-exercise-generator.ts
  src/test/javascript/spec/component/apollon-diagrams/exercise-generation/quiz-exercise-generator.spec.ts
Labels: tests, client, ready to merge, maintainer-approved

#8358 `Development`: Ensure all endpoints return response entities
  src/main/java/de/tum/in/www1/artemis/web/rest/AccountResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ApollonDiagramResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/AssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/AttachmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/DataExportResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExamResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/FileUploadAssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingAssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/QuizExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/SubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextAssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/admin/AdminDataExportResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/admin/AdminImprintResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/admin/AdminPrivacyStatementResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/admin/AdminUserResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/lecture/OnlineUnitResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ogparser/LinkPreviewResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/open/PublicAccountResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/open/PublicImprintResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/open/PublicLtiResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/open/PublicPrivacyStatementResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/open/PublicSystemNotificationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/open/PublicUserJwtResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/plagiarism/PlagiarismCaseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/plagiarism/PlagiarismResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/programming/ProgrammingAssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/programming/ProgrammingExerciseParticipationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/programming/ProgrammingExerciseResource.java
  src/test/java/de/tum/in/www1/artemis/architecture/ArchitectureTest.java
  src/test/java/de/tum/in/www1/artemis/architecture/ResourceArchitectureTest.java
Labels: tests, ready for review, server

#8147 `Exam mode`: Improve date time picker
  src/main/webapp/app/exam/manage/exams/exam-update.component.html
  src/main/webapp/app/exam/manage/exams/exam-update.component.ts
  src/main/webapp/app/shared/date-time-picker/date-time-picker.component.html
  src/main/webapp/app/shared/date-time-picker/date-time-picker.component.scss
  src/main/webapp/app/shared/date-time-picker/date-time-picker.component.ts
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/en/global.json
  src/test/javascript/spec/component/exam/exam-update.component.spec.ts
Labels: feature, tests, client, component:Exam Mode, ready to merge, too-long-open

#8145 `General`: Add dynamic tab titles
  src/main/webapp/app/shared/layouts/navbar/navbar.component.ts
Labels: enhancement, client

#8362 `Quiz exercises`: Fix an issue in the export
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise-manage-buttons.component.ts
Labels: client

#8345 `Exam mode`: Fix missing spacing at the end of exercise in exams
  src/main/webapp/app/exam/participate/exam-participation.component.html
Labels: client, ready to merge

#8364 `Exam mode`: Fix and issues when printing to PDF
  src/main/webapp/content/scss/global.scss
Labels: ready for review, client, small

#8357 `Modeling exercises`: Fix assessment page title
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment-editor/modeling-assessment-editor.route.ts
Labels: ready for review, client, small

#8367 `Development`: Extend exam user tests
  src/main/java/de/tum/in/www1/artemis/service/exam/ExamUserService.java
  src/test/java/de/tum/in/www1/artemis/exam/ExamUserIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseTestService.java
  src/test/java/de/tum/in/www1/artemis/repository/ProgrammingExerciseTestRepository.java
Labels: tests, server, small, maintainer-approved

#8352 `Exam mode`: Round working time when creating or updating exam
  src/main/webapp/app/exam/manage/exams/exam-update.component.html
  src/main/webapp/app/exam/manage/exams/exam-update.component.ts
Labels: ready for review, client, small

#8321 `Development`: Update to JPlag 5
  build.gradle
  gradle.properties
  src/main/java/de/tum/in/www1/artemis/service/plagiarism/ProgrammingPlagiarismDetectionService.java
  src/main/java/de/tum/in/www1/artemis/service/plagiarism/TextPlagiarismDetectionService.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseIntegrationTestService.java
  src/test/javascript/spec/component/plagiarism/exercise-update-plagiarism.component.spec.ts
Labels: tests, ready for review, server

#8282 `Development`: Improve config
  docs/admin/database.rst
  docs/dev/guidelines/criteria-builder.rst
  docs/dev/setup/database.rst
  gradle/liquibase.gradle
  src/main/java/de/tum/in/www1/artemis/service/connectors/ldap/LdapAuthenticationProvider.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localvc/LocalVCServletService.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/ParticipantScoreScheduleService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/StudentExamResource.java
  src/main/resources/config/application-dev.yml
  src/main/resources/config/application-prod.yml
  src/test/resources/config/application-mysql.yml
  src/test/resources/config/application-postgres.yml
  src/test/resources/config/application.yml
Labels: tests, ready for review, server, documentation, config-change, stale, docker

#8359 `General`: Adapt exercise footer for small screens and general footer for environments
  src/main/webapp/app/exercises/quiz/participate/quiz-participation.component.html
  src/main/webapp/app/exercises/quiz/participate/quiz-participation.component.scss
  src/main/webapp/app/exercises/shared/exercise-update-notification/exercise-update-notification.component.html
  src/main/webapp/app/forms/form-footer/form-footer.component.html
  src/main/webapp/app/forms/form-footer/form-footer.component.scss
  src/main/webapp/app/forms/form-footer/form-footer.component.ts
  src/main/webapp/app/forms/form-status-bar/form-status-bar.component.html
  src/main/webapp/app/forms/form-status-bar/form-status-bar.component.scss
  src/main/webapp/app/overview/course-overview.component.scss
  src/main/webapp/app/overview/course-overview.scss
  src/main/webapp/app/shared/components/button.component.html
  src/main/webapp/app/shared/components/button.component.ts
  src/main/webapp/app/shared/layouts/footer/footer.component.html
  src/main/webapp/app/shared/layouts/footer/footer.component.ts
  src/main/webapp/app/shared/layouts/footer/footer.scss
  src/main/webapp/app/shared/layouts/main/main.component.html
  src/main/webapp/app/shared/layouts/main/main.component.ts
  src/main/webapp/app/shared/sidebar/sidebar.component.scss
  src/main/webapp/content/scss/global.scss
  src/main/webapp/content/scss/themes/_default-variables.scss
  src/main/webapp/i18n/de/exercise.json
  src/main/webapp/i18n/de/lecture.json
  src/main/webapp/i18n/en/exercise.json
  src/main/webapp/i18n/en/lecture.json
  src/test/javascript/spec/component/exercises/shared/exercise-update-notification.component.spec.ts
  src/test/javascript/spec/component/footer/footer.component.spec.ts
  src/test/javascript/spec/component/forms/form-footer.component.spec.ts
Labels: tests, client

#8346 `Development`: Cleanup home component after JIRA removal
  src/main/java/de/tum/in/www1/artemis/web/rest/open/PublicUserJwtResource.java
  src/main/webapp/app/home/home.component.html
  src/main/webapp/app/home/home.component.ts
  src/main/webapp/i18n/de/home.json
  src/main/webapp/i18n/en/home.json
Labels: ready for review, server, client

#8338 `Development`: Fix the template and solution exercise query cross product
  src/main/java/de/tum/in/www1/artemis/repository/ProgrammingExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/SolutionProgrammingExerciseParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/TemplateProgrammingExerciseParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/web/rest/programming/ProgrammingExerciseResource.java
Labels: bug, ready for review, server, priority:high, performance

#8360 `Development`: Remove publish build plan feature
  docs/user/exercises/programming-exercise-features.inc
  src/main/java/de/tum/in/www1/artemis/domain/ProgrammingExercise.java
  src/main/java/de/tum/in/www1/artemis/service/ProfileService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/gitlabci/GitLabCIProgrammingLanguageFeatureService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsProgrammingLanguageFeatureService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIProgrammingLanguageFeatureService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingLanguageFeature.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/AutomaticProgrammingExerciseCleanupService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ParticipationResource.java
  src/main/resources/templates/aeolus/java/plain_gradle.sh
  src/main/resources/templates/aeolus/java/plain_gradle_sequential.sh
  src/main/resources/templates/aeolus/java/plain_gradle_static.sh
  src/main/resources/templates/aeolus/java/plain_gradle_static_coverage.sh
  src/main/resources/templates/aeolus/java/plain_maven_blackbox.sh
  src/main/resources/templates/aeolus/java/plain_maven_blackbox_static.sh
  src/main/webapp/app/entities/programming-exercise.model.ts
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.ts
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-creation-config.ts
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.ts
  src/main/webapp/app/exercises/programming/manage/update/update-components/programming-exercise-difficulty.component.html
  src/main/webapp/app/exercises/programming/shared/service/programming-language-feature/programming-language-feature.service.ts
  src/main/webapp/app/exercises/shared/course-exercises/course-exercise.service.ts
  src/main/webapp/app/exercises/shared/exercise-scores/exercise-scores.component.ts
  src/main/webapp/app/exercises/shared/exercise/exercise.service.ts
  src/main/webapp/app/exercises/shared/participation/participation.component.ts
  src/main/webapp/app/exercises/shared/participation/participation.utils.ts
  src/main/webapp/app/overview/exercise-details/exercise-details-student-actions.component.html
  src/main/webapp/app/overview/exercise-details/exercise-details-student-actions.component.ts
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/programmingExercise.json
  src/test/cypress/fixtures/exercise/programming/c/template.json
  src/test/cypress/fixtures/exercise/programming/java/template.json
  src/test/cypress/fixtures/exercise/programming/python/template.json
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseFactory.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseTestService.java
  src/test/java/de/tum/in/www1/artemis/participation/ParticipationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/plagiarism/PlagiarismDetectionServiceTest.java
  src/test/javascript/spec/component/programming-exercise/programming-exercise-update.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/update-components/programming-exercise-creation-config-mock.ts
  src/test/javascript/spec/service/profile.service.spec.ts
  src/test/javascript/spec/service/programming-exercise.service.spec.ts
  src/test/playwright/fixtures/exercise/programming/c/template.json
  src/test/playwright/fixtures/exercise/programming/java/template.json
  src/test/playwright/fixtures/exercise/programming/python/template.json
Labels: tests, ready for review, server, client, documentation, cypress, template

#8353 `General`: Fix programmatic scrolling to the top of the page
  src/main/webapp/app/shared/layouts/main/main.component.html
  src/main/webapp/app/shared/util/utils.ts
Labels: client, small, ready to merge

#8355 `Exam mode`: Prevent problem statement from closing when viewing changes
  src/main/webapp/app/exam/participate/exercises/exam-exercise-update-highlighter/exam-exercise-update-highlighter.component.html
  src/main/webapp/app/exam/participate/exercises/exam-exercise-update-highlighter/exam-exercise-update-highlighter.component.ts
  src/test/javascript/spec/component/exam/participate/exam-exercise-update-highlighter.component.spec.ts
Labels: tests, client, small, ready to merge

#8365 `Programming exercises`: Fix locking and error handling of new code editor for students
  src/main/webapp/app/exercises/programming/shared/code-editor/container/code-editor-container.component.html
  src/main/webapp/app/exercises/programming/shared/code-editor/monaco/code-editor-monaco.component.html
  src/main/webapp/app/exercises/programming/shared/code-editor/monaco/code-editor-monaco.component.ts
  src/test/javascript/spec/component/code-editor/code-editor-monaco.component.spec.ts
Labels: tests, client, ready to merge

#8077 `Development`: Fix issues with LTI 1.3 deep linking service for openedX
  src/main/java/de/tum/in/www1/artemis/config/lti/CustomLti13Configurer.java
  src/main/java/de/tum/in/www1/artemis/domain/lti/Lti13ClientRegistration.java
  src/main/java/de/tum/in/www1/artemis/domain/lti/Lti13DeepLinkingResponse.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/lti/LtiDeepLinkingService.java
  src/main/java/de/tum/in/www1/artemis/web/filter/Lti13LaunchFilter.java
  src/main/java/de/tum/in/www1/artemis/web/rest/admin/AdminLtiConfigurationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/open/PublicLtiResource.java
  src/main/webapp/app/admin/lti-configuration/lti-configuration.component.ts
  src/main/webapp/app/admin/lti-configuration/lti-configuration.urls.ts
  src/main/webapp/app/course/manage/course-lti-configuration/course-lti-configuration.component.html
  src/main/webapp/app/course/manage/course-lti-configuration/course-lti-configuration.component.scss
  src/main/webapp/app/lti/lti.route.ts
  src/main/webapp/i18n/de/lti.json
  src/main/webapp/i18n/en/lti.json
  src/test/java/de/tum/in/www1/artemis/LtiDeepLinkingIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/OAuth2JWKSIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/architecture/ArchitectureTest.java
  src/test/java/de/tum/in/www1/artemis/security/Lti13LaunchFilterTest.java
  src/test/javascript/spec/component/admin/lti-configuration.component.spec.ts
Labels: tests, server, client, component:LTI, too-long-open

#8159 `Development`: Remove unused variables, fields, and empty super constructor calls
  src/main/java/de/tum/in/www1/artemis/domain/Submission.java
  src/main/java/de/tum/in/www1/artemis/domain/metis/Post.java
  src/main/java/de/tum/in/www1/artemis/domain/quiz/DragItem.java
  src/main/java/de/tum/in/www1/artemis/domain/quiz/DropLocation.java
  src/main/java/de/tum/in/www1/artemis/domain/quiz/ShortAnswerSolution.java
  src/main/java/de/tum/in/www1/artemis/domain/quiz/ShortAnswerSpot.java
  src/main/java/de/tum/in/www1/artemis/service/compass/umlmodel/UMLContainerElement.java
  src/main/java/de/tum/in/www1/artemis/service/compass/umlmodel/activity/UMLActivity.java
  src/main/java/de/tum/in/www1/artemis/service/compass/umlmodel/activity/UMLActivityDiagram.java
  src/main/java/de/tum/in/www1/artemis/service/compass/umlmodel/classdiagram/UMLAttribute.java
  src/main/java/de/tum/in/www1/artemis/service/compass/umlmodel/classdiagram/UMLClass.java
  src/main/java/de/tum/in/www1/artemis/service/compass/umlmodel/classdiagram/UMLMethod.java
  src/main/java/de/tum/in/www1/artemis/service/compass/umlmodel/object/UMLObjectAttribute.java
  src/main/java/de/tum/in/www1/artemis/service/compass/umlmodel/object/UMLObjectMethod.java
  src/main/java/de/tum/in/www1/artemis/service/dto/ConsistencyErrorDTO.java
  src/main/java/de/tum/in/www1/artemis/service/metis/ConversationMessagingService.java
  src/test/java/de/tum/in/www1/artemis/participation/ParticipationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/LearningPathServiceTest.java
Labels: tests, server, code quality, small, ready to merge

#8134 `Development`: Add consistency tests for notification placeholders
  build.gradle
  src/main/java/de/tum/in/www1/artemis/domain/notification/GroupNotificationFactory.java
  src/main/java/de/tum/in/www1/artemis/domain/notification/NotificationFactory.java
  src/main/java/de/tum/in/www1/artemis/domain/notification/NotificationPlaceholderCreator.java
  src/main/java/de/tum/in/www1/artemis/domain/notification/SingleUserNotificationFactory.java
  src/main/java/de/tum/in/www1/artemis/domain/notification/TutorialGroupNotificationFactory.java
  src/main/java/de/tum/in/www1/artemis/service/notifications/ConversationNotificationService.java
  src/test/java/de/tum/in/www1/artemis/domain/notification/NotificationPlaceholderArchitectureTest.java
  src/test/java/de/tum/in/www1/artemis/domain/notification/NotificationPlaceholderSignatureTest.java
  src/test/resources/placeholder-signatures.json
Labels: tests, server, component:Notification, ready to merge, component:Communication

#8379 `Development`: Fix executing server tests with MySQL and Postgres
  src/test/resources/config/application-mysql.yml
  src/test/resources/config/application-postgres.yml
Labels: tests, config-change, small, ready to merge

#8311 `Programming exercises`: Fix result processing for ocaml exercises
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/buildagent/BuildJobExecutionService.java
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.ts
  src/main/webapp/app/exercises/programming/manage/update/update-components/programming-exercise-information.component.html
  src/main/webapp/app/exercises/programming/manage/update/update-components/programming-exercise-language.component.html
  src/test/java/de/tum/in/www1/artemis/AbstractSpringIntegrationLocalCILocalVCTest.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalCIIntegrationTest.java
  src/test/resources/test-data/test-results/java-gradle/old-report-format/TEST-testpackage.SortingExampleBehaviorTest.xml
Labels: tests, server, client, component:Programming, small, bugfix, ready to merge, maintainer-approved

#8369 `Development`: Add exam statistics e2e tests
  src/test/playwright/e2e/exam/ExamAssessment.spec.ts
  src/test/playwright/fixtures/exam/statistics.json
  src/test/playwright/support/fixtures.ts
  src/test/playwright/support/pageobjects/assessment/AbstractExerciseAssessmentPage.ts
  src/test/playwright/support/pageobjects/exam/ExamGradingPage.ts
  src/test/playwright/support/pageobjects/exam/ExamManagementPage.ts
  src/test/playwright/support/pageobjects/exam/ExamParticipation.ts
  src/test/playwright/support/pageobjects/exam/ExamScoresPage.ts
  src/test/playwright/support/requests/ExamAPIRequests.ts
Labels: tests, ready to merge

#8378 `General`: Simplify footer
  src/main/webapp/app/shared/layouts/footer/footer.component.html
  src/main/webapp/app/shared/layouts/footer/footer.scss
  src/test/cypress/support/pageobjects/LoginPage.ts
  src/test/javascript/spec/component/footer/footer.component.spec.ts
  src/test/playwright/support/pageobjects/LoginPage.ts
Labels: tests, client, cypress

#8391 `Development`: Delete process polyfill and adjust paste-related e2e tests
  angular.json
  package-lock.json
  package.json
  src/main/webapp/app/polyfills.ts
  src/test/cypress/support/pageobjects/exercises/programming/OnlineEditorPage.ts
  src/test/playwright/playwright.config.ts
Labels: tests, ready for review, client, cypress, lock:artemis-test6

#8399 `Programming exercises`: Fix setting language without project type
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-creation-config.ts
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.ts
  src/main/webapp/app/exercises/programming/manage/update/update-components/programming-exercise-language.component.html
  src/main/webapp/app/exercises/programming/shared/service/programming-language-feature/programming-language-feature.service.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-update.component.spec.ts
Labels: tests, client, maintainer-approved

#8323 `Development`: Update dependencies for the documentation build
  docs/conf.py
  docs/requirements.txt
Labels: enhancement, documentation, small, ready to merge

#8397 `Programming exercises`: Remove Java 16 specific Spotbugs Rule
  src/main/resources/templates/java/test/staticCodeAnalysisConfig/spotbugs-exclusions.xml
Labels: component:Programming, small, ready to merge, template

#8398 `Development`: Improve authentication manager definition
  src/main/java/de/tum/in/www1/artemis/config/SecurityConfiguration.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localvc/LocalVCServletService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/open/PublicUserJwtResource.java
Labels: server, ready to merge

#8392 `Lectures`: Fix display of end date in header
  src/main/webapp/app/overview/course-lectures/course-lecture-details.component.html
  src/main/webapp/app/overview/course-lectures/course-lecture-details.component.ts
Labels: client, small, bugfix, user interface, ready to merge, Component:Lecture, maintainer-approved

#8387 `Development`: Remove unused methods of ArtemisAuthenticationProvider
  src/main/java/de/tum/in/www1/artemis/exception/ArtemisAuthenticationException.java
  src/main/java/de/tum/in/www1/artemis/exception/GroupAlreadyExistsException.java
  src/main/java/de/tum/in/www1/artemis/security/ArtemisAuthenticationProvider.java
  src/main/java/de/tum/in/www1/artemis/security/ArtemisInternalAuthenticationProvider.java
  src/main/java/de/tum/in/www1/artemis/service/CourseService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/UserManagementHealthIndicator.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/ldap/LdapAuthenticationProvider.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/lti/LtiService.java
  src/main/java/de/tum/in/www1/artemis/service/user/UserService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/admin/AdminCourseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/admin/AdminUserResource.java
  src/main/webapp/i18n/de/health.json
  src/main/webapp/i18n/en/health.json
  src/test/java/de/tum/in/www1/artemis/connectors/LtiServiceTest.java
Labels: tests, server, client, ready to merge

#8382 `Development`: Unify behavior of checkbox options on the course update page
  src/main/webapp/app/course/manage/course-update.component.html
Labels: enhancement, client, small, ready to merge

#8380 `Development`: Allow overriding any template resource file
  src/main/java/de/tum/in/www1/artemis/service/ResourceLoaderService.java
  src/test/java/de/tum/in/www1/artemis/service/ResourceLoaderServiceTest.java
  src/test/resources/public/public_file.txt
Labels: enhancement, tests, server, small, ready to merge

#8374 `Development`: Add e2e tests for exporting quiz exercise questions
  src/test/playwright/e2e/exercise/quiz-exercise/QuizExerciseManagement.spec.ts
  src/test/playwright/fixtures/exercise/quiz/multiple_choice/template.json
  src/test/playwright/support/pageobjects/course/CourseManagementExercisesPage.ts
Labels: tests, ready to merge

#8354 `Exam mode`: Show result for programming exercises on the exam overview page
  src/main/webapp/app/exam/participate/exercises/exercise-overview-page/exam-exercise-overview-page.component.html
  src/main/webapp/app/exam/participate/exercises/exercise-overview-page/exam-exercise-overview-page.component.ts
  src/test/javascript/spec/component/exam/participate/exam-exercise-overview-page.component.spec.ts
Labels: tests, client, small, ready to merge, maintainer-approved

#8381 `Programming exercises`: Include mode selection in validation status
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.html
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.ts
  src/main/webapp/app/exercises/programming/manage/update/update-components/programming-exercise-difficulty.component.html
  src/main/webapp/app/exercises/programming/manage/update/update-components/programming-exercise-difficulty.component.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-update.component.spec.ts
Labels: tests, client

#8420 `Development`: Fix flaky e2e tests
  src/test/playwright/e2e/exam/ExamTestRun.spec.ts
  src/test/playwright/e2e/exam/test-exam/TestExamTestRun.spec.ts
  src/test/playwright/support/pageobjects/assessment/ExerciseAssessmentDashboardPage.ts
  src/test/playwright/support/pageobjects/assessment/StudentAssessmentPage.ts
  src/test/playwright/support/pageobjects/exam/ExamManagementPage.ts
Labels: tests, ready for review

#8404 `Development`: Fix CI documentation build step
  .github/workflows/docs.yml
Labels: small, bugfix, ready to merge

#8411 `Development`: Re-enable HTTP basis authentication method and extend security documentation
  src/main/java/de/tum/in/www1/artemis/config/SecurityConfiguration.java
  src/main/java/de/tum/in/www1/artemis/security/jwt/JWTConfigurer.java
Labels: server, ready to merge

#8410 `Development`: Add documentation for build job cancellation
  docs/dev/system-design/integrated-code-lifecycle/Integrated_Code_Lifecycle_Class_Diagram_Build_Job_Cancellation.png
  docs/dev/system-design/integrated-code-lifecycle/Integrated_Code_Lifecycle_Communication_Diagram_Cancellation.png
  docs/dev/system-design/integrated-code-lifecycle/integrated-code-lifecycle-system-design.rst
Labels: documentation, ready to merge, component:integrated code lifecycle

#8444 `Development`: Disable HTTP basic auth to fix an issue with LocalCI buildagents
  src/main/java/de/tum/in/www1/artemis/config/SecurityConfiguration.java
Labels: ready for review, server, priority:high

#8452 `Development`: Fix server starts check script
  supporting_scripts/extract_number_of_server_starts.sh
Labels: small, ready to merge, maintainer-approved

#8450 `Development`: Update setup documentation to JDK 21
  docs/dev/setup.rst
Labels: documentation, ready to merge

#8433 `Programming exercises`: Allow viewing the repository using the new code editor
  src/main/webapp/app/localvc/repository-view/repository-view.component.html
Labels: client, small, ready to merge

#8426 `Tutorial groups`: Improve tutor usability
  src/main/webapp/app/course/tutorial-groups/services/tutorial-group-session.service.ts
  src/main/webapp/app/course/tutorial-groups/shared/tutorial-group-detail/tutorial-group-detail.component.html
  src/main/webapp/app/course/tutorial-groups/shared/tutorial-group-detail/tutorial-group-detail.component.ts
  src/main/webapp/app/course/tutorial-groups/shared/tutorial-groups-table/tutorial-group-row/tutorial-group-row.component.html
  src/main/webapp/app/course/tutorial-groups/shared/tutorial-groups-table/tutorial-groups-table.component.html
  src/main/webapp/app/overview/course-tutorial-groups/course-tutorial-groups.component.ts
  src/main/webapp/i18n/de/tutorialGroups.json
  src/main/webapp/i18n/en/tutorialGroups.json
  src/test/javascript/spec/component/tutorial-groups/course-tutorial-groups/course-tutorial-groups.component.spec.ts
  src/test/javascript/spec/component/tutorial-groups/shared/tutorial-group-detail.component.spec.ts
Labels: enhancement, tests, client, small, user interface, ready to merge, component:TutorialGroups

#8418 `Exam mode`: Fix rendering of the tests status in the exam summary
  src/main/webapp/app/exam/participate/summary/exercises/programming-exam-summary/programming-exam-summary.component.html
Labels: client, component:Exam Mode, small, ready to merge

#8417 `Development`: Add documentation for build agent view
  docs/user/exercises/programming-integrated-code-lifecycle-build-agent-view.inc
  docs/user/exercises/programming-integrated-code-lifecycle-repository-view.inc
  docs/user/exercises/programming.rst
  docs/user/exercises/programming/build-agent-details.png
  docs/user/exercises/programming/build-agent-summary.png
  docs/user/exercises/programming/commit-diff-view.png
  docs/user/exercises/programming/commit-history-view.png
  docs/user/exercises/programming/course-management-repositories.png
  docs/user/exercises/programming/current-repository-content-view.png
  docs/user/exercises/programming/open-repository-button.png
  docs/user/exercises/programming/participations-open-repository.png
Labels: documentation, ready to merge, stacked-pr, component:integrated code lifecycle

#8416 `General`: Do not show unenrollment button to tutors
  src/main/webapp/app/overview/course-overview.component.ts
Labels: client, small, bugfix, user interface, ready to merge

#8143 `General`: Add buttons to the avatar in the course edit view and move image cropper into a modal
  src/main/webapp/app/course/manage/course-management.module.ts
  src/main/webapp/app/course/manage/course-update.component.html
  src/main/webapp/app/course/manage/course-update.component.scss
  src/main/webapp/app/course/manage/course-update.component.ts
  src/main/webapp/app/course/manage/image-cropper-modal.component.html
  src/main/webapp/app/course/manage/image-cropper-modal.component.ts
  src/main/webapp/app/shared/image-cropper/component/image-cropper.component.scss
  src/main/webapp/content/images/image-placeholder.png
  src/main/webapp/content/scss/themes/_dark-variables.scss
  src/main/webapp/content/scss/themes/_default-variables.scss
  src/main/webapp/i18n/de/course.json
  src/main/webapp/i18n/en/course.json
  src/test/javascript/spec/component/course/course-update.component.spec.ts
  src/test/javascript/spec/component/course/image-cropper-modal.component.spec.ts
Labels: tests, ready for review, client, user interface, lock:artemis-test1, too-long-open

#8454 `Development`: Ignore blank lines in Aeolus scripts
  docker/aeolus.yml
  supporting_scripts/generate-aeolus-scripts.sh
Labels: small, ready to merge, docker

#8393 `Programming exercises`: Fix superfluous whitespace in code editor for student's submission
  src/main/webapp/app/exam/participate/exercises/programming/programming-exam-submission.component.html
  src/main/webapp/app/exercises/programming/manage/code-editor/code-editor-instructor-and-editor-container.component.html
  src/main/webapp/app/exercises/programming/participate/code-editor-student-container.component.html
Labels: client, component:Programming, small, bugfix, user interface, ready to merge

#8390 `Development`: Regenerate Aeolus LocalCI build scripts
  src/main/resources/templates/aeolus/assembler/default.sh
  src/main/resources/templates/aeolus/assembler/default.yaml
  src/main/resources/templates/aeolus/c/fact.sh
  src/main/resources/templates/aeolus/c/fact.yaml
  src/main/resources/templates/aeolus/c/gcc.sh
  src/main/resources/templates/aeolus/c/gcc.yaml
  src/main/resources/templates/aeolus/c/gcc_static.sh
  src/main/resources/templates/aeolus/c/gcc_static.yaml
  src/main/resources/templates/aeolus/haskell/default.sh
  src/main/resources/templates/aeolus/haskell/default.yaml
  src/main/resources/templates/aeolus/haskell/default_sequential.sh
  src/main/resources/templates/aeolus/haskell/default_sequential.yaml
  src/main/resources/templates/aeolus/java/plain_gradle.yaml
  src/main/resources/templates/aeolus/java/plain_gradle_sequential.yaml
  src/main/resources/templates/aeolus/java/plain_gradle_static.yaml
  src/main/resources/templates/aeolus/java/plain_gradle_static_coverage.yaml
  src/main/resources/templates/aeolus/java/plain_maven_blackbox.yaml
  src/main/resources/templates/aeolus/java/plain_maven_blackbox_static.yaml
  src/main/resources/templates/aeolus/ocaml/default.sh
  src/main/resources/templates/aeolus/ocaml/default.yaml
  src/main/resources/templates/aeolus/python/default_sequential.sh
  src/main/resources/templates/aeolus/python/default_sequential.yaml
  src/main/resources/templates/aeolus/swift/plain.sh
  src/main/resources/templates/aeolus/swift/plain.yaml
  src/main/resources/templates/aeolus/swift/plain_static.sh
  src/main/resources/templates/aeolus/swift/plain_static.yaml
  src/main/resources/templates/aeolus/vhdl/default.sh
  src/main/resources/templates/aeolus/vhdl/default.yaml
Labels: component:Programming, small, ready to merge, component:integrated code lifecycle, template

#8389 `Programming exercises`: Allow instructors to edit programming exercises in the new code editor
  src/main/webapp/app/exercises/programming/manage/code-editor/code-editor-instructor-and-editor-container.component.html
  src/main/webapp/app/exercises/programming/shared/code-editor/monaco/code-editor-monaco.component.ts
  src/main/webapp/app/shared/monaco-editor/monaco-editor.component.html
  src/main/webapp/app/shared/monaco-editor/monaco-editor.component.ts
  src/test/javascript/spec/integration/code-editor/code-editor-instructor.integration.spec.ts
Labels: tests, client, ready to merge

#8356 `Exam mode`: Update problem statement content only if there is a new change
  src/main/webapp/app/exam/manage/exam-exercise-update.service.ts
  src/main/webapp/app/exam/participate/exercises/exam-exercise-update-highlighter/exam-exercise-update-highlighter.component.html
  src/main/webapp/app/exam/participate/exercises/exam-exercise-update-highlighter/exam-exercise-update-highlighter.component.ts
Labels: client, component:Exam Mode, small, bugfix, ready to merge

#8351 `Programming exercises`: Cache dependencies in the Java blackbox template
  docs/admin/setup/programming-exercises.rst
  src/main/java/de/tum/in/www1/artemis/service/FileService.java
  src/main/resources/templates/java/test/blackbox/projectTemplate/.mvn/local-settings.xml
  src/main/resources/templates/java/test/blackbox/projectTemplate/.mvn/maven.config
  src/main/resources/templates/jenkins/java/blackbox/regularRuns/pipeline.groovy
Labels: server, documentation, component:Programming, jenkins/gitlab, ready to merge, template

#8388 `Programming exercises`: Upgrade Java Blackbox template to java 22
  src/main/resources/config/application.yml
  src/main/resources/templates/aeolus/java/plain_maven_blackbox.sh
  src/main/resources/templates/aeolus/java/plain_maven_blackbox.yaml
  src/main/resources/templates/aeolus/java/plain_maven_blackbox_static.sh
  src/main/resources/templates/aeolus/java/plain_maven_blackbox_static.yaml
  src/main/resources/templates/java/maven_blackbox/exercise/pom.xml
  src/main/resources/templates/java/maven_blackbox/solution/pom.xml
  src/main/resources/templates/java/test/blackbox/projectTemplate/testsuite/config/default.exp
  src/main/resources/templates/jenkins/java/blackbox/regularRuns/pipeline.groovy
Labels: component:Programming, config-change, small, ready to merge, template

#8377 `Adaptive learning`: Add import of standardized competencies from .json files
  src/main/java/de/tum/in/www1/artemis/domain/competency/StandardizedCompetency.java
  src/main/java/de/tum/in/www1/artemis/service/competency/StandardizedCompetencyService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/admin/AdminStandardizedCompetencyResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/standardizedCompetency/KnowledgeAreasForImportDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/standardizedCompetency/StandardizedCompetencyRequestDTO.java
  src/main/webapp/app/admin/admin.module.ts
  src/main/webapp/app/admin/admin.route.ts
  src/main/webapp/app/admin/standardized-competencies/admin-standardized-competency.service.ts
  src/main/webapp/app/admin/standardized-competencies/import/admin-import-standardized-competencies.component.html
  src/main/webapp/app/admin/standardized-competencies/import/admin-import-standardized-competencies.component.scss
  src/main/webapp/app/admin/standardized-competencies/import/admin-import-standardized-competencies.component.ts
  src/main/webapp/app/admin/standardized-competencies/knowledge-area-tree/knowledge-area-tree.component.html
  src/main/webapp/app/admin/standardized-competencies/knowledge-area-tree/knowledge-area-tree.component.scss
  src/main/webapp/app/admin/standardized-competencies/knowledge-area-tree/knowledge-area-tree.component.ts
  src/main/webapp/app/admin/standardized-competencies/standardized-competency-management.component.html
  src/main/webapp/app/admin/standardized-competencies/standardized-competency-management.component.scss
  src/main/webapp/app/admin/standardized-competencies/standardized-competency-management.component.ts
  src/main/webapp/app/entities/competency/standardized-competency.model.ts
  src/main/webapp/i18n/de/standardizedCompetency.json
  src/main/webapp/i18n/en/standardizedCompetency.json
  src/test/java/de/tum/in/www1/artemis/competency/StandardizedCompetencyIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/competency/StandardizedCompetencyUtilService.java
  src/test/javascript/spec/component/standardized-competencies/admin-import-standardized-competencies.spec.ts
  src/test/javascript/spec/component/standardized-competencies/admin-standardized-competency.service.spec.ts
  src/test/javascript/spec/component/standardized-competencies/knowledge-area-tree-stub.component.ts
  src/test/javascript/spec/component/standardized-competencies/knowledge-area-tree.spec.ts
  src/test/javascript/spec/component/standardized-competencies/standardized-competency-management.spec.ts
Labels: feature, tests, ready for review, server, client, component:AdaptiveLearning

#8443 `Adaptive learning`: Improve layout of competency relation graph
  src/main/webapp/app/course/competencies/competency-management/competency-management.component.html
  src/main/webapp/app/course/competencies/competency-management/competency-management.component.ts
  src/main/webapp/app/course/competencies/competency-management/competency-relation-graph.component.html
  src/main/webapp/app/course/competencies/competency-management/competency-relation-graph.component.ts
  src/main/webapp/i18n/de/competency.json
  src/main/webapp/i18n/en/competency.json
  src/test/javascript/spec/component/competencies/competency-management/competency-management.component.spec.ts
  src/test/javascript/spec/component/competencies/competency-management/competency-relation-graph.component.spec.ts
Labels: enhancement, tests, client, small, component:AdaptiveLearning

#8442 `General`: Fix style of exercise footer for dark mode
  src/main/webapp/content/scss/themes/_dark-variables.scss
Labels: client

#8385 `Learning path`: Improve generation of missing learning path
  src/main/java/de/tum/in/www1/artemis/web/rest/LearningPathResource.java
  src/main/webapp/app/course/learning-paths/learning-path.service.ts
  src/main/webapp/app/course/learning-paths/participate/learning-path-container.component.ts
  src/test/java/de/tum/in/www1/artemis/competency/LearningPathIntegrationTest.java
  src/test/javascript/spec/component/learning-paths/participate/learning-path-container.component.spec.ts
  src/test/javascript/spec/service/learning-path.service.spec.ts
Labels: tests, server, client, code quality

#8247 `Development`: Fix issue where the VCS token is not present for some users after logging in
  src/main/webapp/app/core/auth/account.service.ts
  src/test/javascript/spec/service/account.service.spec.ts
Labels: tests, client, small, bugfix, ready to merge

#8407 `Development`: Add gitHub action outputting the changed files
  .github/workflows/analysis-of-endpoint-connections.yml
Labels: ready for review, client

#8370 `Programming exercises`: Reject results without commit hash
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseGradingService.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseResultJenkinsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseResultTestService.java
Labels: tests, server, small, ready to merge

#8423 `General`: Improve breadcrumb divider design
  src/main/webapp/app/shared/layouts/navbar/navbar.component.html
  src/main/webapp/app/shared/layouts/navbar/navbar.component.ts
  src/main/webapp/app/shared/layouts/navbar/navbar.scss
Labels: client, small, ready to merge

#8466 `Quiz exercises`: Improve apollon diagram import
  src/main/webapp/app/exercises/quiz/manage/apollon-diagrams/apollon-diagram-create-form.component.html
  src/main/webapp/app/exercises/quiz/manage/apollon-diagrams/apollon-diagram-create-form.component.ts
  src/main/webapp/app/exercises/quiz/manage/apollon-diagrams/apollon-diagram-detail.component.html
  src/main/webapp/app/exercises/quiz/manage/apollon-diagrams/apollon-diagram-detail.component.ts
  src/main/webapp/app/exercises/quiz/manage/apollon-diagrams/apollon-diagram-list.component.html
  src/main/webapp/app/exercises/quiz/manage/apollon-diagrams/apollon-diagram-list.component.ts
  src/main/webapp/i18n/de/quizExercise.json
  src/main/webapp/i18n/en/quizExercise.json
  src/test/cypress/support/pageobjects/exercises/quiz/DragAndDropQuiz.ts
  src/test/playwright/support/pageobjects/exercises/quiz/DragAndDropQuiz.ts
Labels: tests, client, cypress

#8464 `Development`: Fix Docker container cleanup issue
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/buildagent/BuildJobContainerService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/buildagent/BuildJobManagementService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/buildagent/LocalCIDockerService.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalCIDockerServiceTest.java
Labels: tests, ready for review, server

#8474 `Development`: Fix server style in BuildJobContainerService
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/buildagent/BuildJobContainerService.java
Labels: server, small, ready to merge

#8479 `Development`: Enable ExamParticipationIntegrationTest > testGetExamScore
  src/test/java/de/tum/in/www1/artemis/exam/ExamParticipationIntegrationTest.java
Labels: tests, chore, ready to merge

#8435 `Development`: Refer to course enrollment instead of course registration when editing courses
  src/main/webapp/app/course/manage/course-update.component.html
  src/main/webapp/app/course/manage/course-update.component.ts
  src/main/webapp/app/course/manage/detail/course-detail.component.ts
  src/main/webapp/i18n/de/course.json
  src/main/webapp/i18n/de/guidedTourCourseOverview.json
  src/main/webapp/i18n/en/course.json
  src/main/webapp/i18n/en/guidedTourCourseOverview.json
  src/test/javascript/spec/component/course/course-update.component.spec.ts
Labels: tests, ready for review, client

#8437 `Programming exercises`: Allow tutors to assess submissions in the new code editor
  src/main/webapp/app/exercises/programming/assess/code-editor-tutor-assessment-container.component.html
  src/main/webapp/app/exercises/programming/assess/code-editor-tutor-assessment-container.component.ts
  src/main/webapp/app/exercises/programming/shared/code-editor/container/code-editor-container.component.html
  src/main/webapp/app/exercises/programming/shared/code-editor/container/code-editor-container.component.ts
  src/main/webapp/app/exercises/programming/shared/code-editor/monaco/code-editor-monaco.component.html
  src/main/webapp/app/exercises/programming/shared/code-editor/monaco/code-editor-monaco.component.scss
  src/main/webapp/app/exercises/programming/shared/code-editor/monaco/code-editor-monaco.component.ts
  src/main/webapp/app/shared/monaco-editor/model/monaco-editor-build-annotation.model.ts
  src/main/webapp/app/shared/monaco-editor/model/monaco-editor-glyph-margin-hover-button.model.ts
  src/main/webapp/app/shared/monaco-editor/model/monaco-editor-glyph-margin-widget.model.ts
  src/main/webapp/app/shared/monaco-editor/model/monaco-editor-line-highlight.model.ts
  src/main/webapp/app/shared/monaco-editor/monaco-editor.component.ts
  src/main/webapp/content/scss/themes/_dark-variables.scss
  src/main/webapp/content/scss/themes/_default-variables.scss
  src/test/cypress/e2e/exercises/programming/ProgrammingExerciseAssessment.cy.ts
  src/test/javascript/spec/component/code-editor/code-editor-monaco.component.spec.ts
  src/test/javascript/spec/component/programming-assessment/code-editor-tutor-assessment-container.component.spec.ts
  src/test/javascript/spec/component/shared/monaco-editor/monaco-editor.component.spec.ts
  src/test/playwright/support/pageobjects/assessment/ProgrammingExerciseAssessmentPage.ts
Labels: tests, ready for review, client, cypress

#8181 `Development`: Improve complaint component server API design
  src/main/java/de/tum/in/www1/artemis/repository/ComplaintRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ComplaintResponseRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ComplaintResponseService.java
  src/main/java/de/tum/in/www1/artemis/service/ComplaintService.java
  src/main/java/de/tum/in/www1/artemis/service/dto/ComplaintAction.java
  src/main/java/de/tum/in/www1/artemis/service/dto/ComplaintRequestDTO.java
  src/main/java/de/tum/in/www1/artemis/service/dto/ComplaintResponseUpdateDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ComplaintResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ComplaintResponseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/webapp/app/complaints/complaint-response.service.ts
  src/main/webapp/app/complaints/complaint.service.ts
  src/main/webapp/app/complaints/complaints-for-students/complaints-student-view.component.ts
  src/main/webapp/app/complaints/complaints-for-tutor/complaints-for-tutor.component.ts
  src/main/webapp/app/complaints/form/complaints-form.component.ts
  src/main/webapp/app/course/manage/course-management.service.ts
  src/main/webapp/app/entities/complaint-request-dto.model.ts
  src/main/webapp/app/entities/complaint-response-dto.model.ts
  src/test/cypress/support/pageobjects/assessment/AbstractExerciseAssessmentPage.ts
  src/test/java/de/tum/in/www1/artemis/assessment/AssessmentComplaintIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/assessment/AssessmentTeamComplaintIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/assessment/ComplaintResponseIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/text/TextAssessmentIntegrationTest.java
  src/test/javascript/spec/component/assessment-dashboard/exercise-assessment-dashboard.component.spec.ts
  src/test/javascript/spec/component/complaints/complaint-response.service.spec.ts
  src/test/javascript/spec/component/complaints/complaint-student-view.component.spec.ts
  src/test/javascript/spec/component/complaints/complaint.service.spec.ts
  src/test/javascript/spec/component/complaints/complaints-for-tutor.component.spec.ts
  src/test/javascript/spec/component/course/course-management.service.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-complaint.service.ts
  src/test/javascript/spec/helpers/mocks/service/mock-course-management.service.ts
  src/test/playwright/support/pageobjects/assessment/AbstractExerciseAssessmentPage.ts
Labels: tests, server, client, cypress, ready to merge, maintainer-approved, server-api

#8074 `Exam mode`: Allow students to see if their attendance was checked
  src/main/java/de/tum/in/www1/artemis/domain/exam/Exam.java
  src/main/java/de/tum/in/www1/artemis/repository/ExamUserRepository.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExamResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExamUserResource.java
  src/main/resources/config/liquibase/changelog/20240418204415_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/entities/exam.model.ts
  src/main/webapp/app/exam/manage/exam-management.service.ts
  src/main/webapp/app/exam/manage/exams/exam-update.component.html
  src/main/webapp/app/exam/manage/exams/exam-update.component.ts
  src/main/webapp/app/exam/participate/exam-cover/exam-participation-cover.component.html
  src/main/webapp/app/exam/participate/exam-cover/exam-participation-cover.component.ts
  src/main/webapp/app/exam/participate/exam-participation.component.html
  src/main/webapp/app/exam/participate/exam-participation.component.ts
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/en/exam.json
  src/test/java/de/tum/in/www1/artemis/exam/ExamUserIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exam/TestExamIntegrationTest.java
  src/test/javascript/spec/component/exam/manage/exam-management.service.spec.ts
  src/test/javascript/spec/component/exam/participate/exam-participation.component.spec.ts
Labels: tests, server, client, component:Exam Mode, database, ready to merge, too-long-open

#8434 `Development`: Update the postgresql setup in the contributor guide
  docs/dev/setup/database.rst
Labels: documentation, small, ready to merge

#8408 `General`: Fix an issue when selecting a category tag in the exercises
  src/main/webapp/app/shared/category-selector/category-selector.component.html
  src/main/webapp/app/shared/category-selector/category-selector.component.scss
Labels: ready for review, client, bugfix, user interface

#8349 `Development`: Update exercise documentation
  docs/user/exercises/programming-exercise-setup.inc
  docs/user/exercises/programming/programming-view-1.png
  docs/user/exercises/programming/programming-view-2.png
  docs/user/exercises/programming/programming-view-3.png
  docs/user/exercises/quiz.rst
  docs/user/exercises/quiz/Apollon-form.png
  docs/user/exercises/quiz/apollon-editor.png
  docs/user/exercises/quiz/create-drag-and-drop-quiz.png
Labels: ready for review, documentation

#8478 `Assessment`: Fix export button in scores page
  src/main/webapp/app/exercises/shared/result/result.service.ts
Labels: ready for review, client, bugfix, lock:artemis-test2, deployment-error

#8445 `Quiz exercises`: Fix adding file attachments on the edit view
  src/main/webapp/app/shared/markdown-editor/markdown-editor.component.html
  src/test/javascript/spec/component/markdown-editor/markdown-editor.component.spec.ts
Labels: tests, ready for review, client

#8328 `Development`: Update Orion documentation
  docs/user/orion.rst
  docs/user/orion/assess-in-orion-button.png
  docs/user/orion/download-tests-button.png
  docs/user/orion/edit-in-intellij-button.png
  docs/user/orion/edit-in-your-ide-button.png
  docs/user/orion/open-in-intellij-button.png
  docs/user/orion/open-in-your-ide-button.png
  docs/user/orion/start-assessment-in-orion-button.png
  docs/user/orion/submit-button.png
  docs/user/orion/test-locally-button.png
Labels: documentation, small, stale, too-long-open

#8431 `Development`: Disable redundant cypress tests
  src/test/cypress/e2e/Login.cy.ts
  src/test/cypress/e2e/course/CourseCommunication.cy.ts
  src/test/cypress/e2e/course/CourseExercise.cy.ts
  src/test/cypress/e2e/course/CourseManagement.cy.ts
  src/test/cypress/e2e/course/CourseMessages.cy.ts
  src/test/cypress/e2e/exam/ExamAssessment.cy.ts
  src/test/cypress/e2e/exam/ExamCreationDeletion.cy.ts
  src/test/cypress/e2e/exam/ExamDateVerification.cy.ts
  src/test/cypress/e2e/exam/ExamManagement.cy.ts
  src/test/cypress/e2e/exam/ExamParticipation.cy.ts
  src/test/cypress/e2e/exam/ExamTestRun.cy.ts
  src/test/cypress/e2e/exam/test-exam/TestExamCreationDeletion.cy.ts
  src/test/cypress/e2e/exam/test-exam/TestExamManagement.cy.ts
  src/test/cypress/e2e/exam/test-exam/TestExamParticipation.cy.ts
  src/test/cypress/e2e/exam/test-exam/TestExamStudentExams.cy.ts
  src/test/cypress/e2e/exam/test-exam/TestExamTestRun.cy.ts
  src/test/cypress/e2e/exercises/ExerciseImport.cy.ts
  src/test/cypress/e2e/exercises/file-upload/FileUploadExerciseAssessment.cy.ts
  src/test/cypress/e2e/exercises/file-upload/FileUploadExerciseManagement.cy.ts
  src/test/cypress/e2e/exercises/file-upload/FileUploadExerciseParticipation.cy.ts
  src/test/cypress/e2e/exercises/modeling/ModelingExerciseAssessment.cy.ts
  src/test/cypress/e2e/exercises/modeling/ModelingExerciseManagement.cy.ts
  src/test/cypress/e2e/exercises/modeling/ModelingExerciseParticipation.cy.ts
  src/test/cypress/e2e/exercises/programming/ProgrammingExerciseAssessment.cy.ts
  src/test/cypress/e2e/exercises/programming/ProgrammingExerciseManagement.cy.ts
  src/test/cypress/e2e/exercises/programming/ProgrammingExerciseParticipation.cy.ts
  src/test/cypress/e2e/exercises/programming/ProgrammingExerciseStaticCodeAnalysis.cy.ts
  src/test/cypress/e2e/exercises/quiz-exercise/QuizExerciseAssessment.cy.ts
  src/test/cypress/e2e/exercises/quiz-exercise/QuizExerciseDropLocation.cy.ts
  src/test/cypress/e2e/exercises/quiz-exercise/QuizExerciseManagement.cy.ts
  src/test/cypress/e2e/exercises/quiz-exercise/QuizExerciseParticipation.cy.ts
  src/test/cypress/e2e/exercises/text/TextExerciseAssessment.cy.ts
  src/test/cypress/e2e/exercises/text/TextExerciseManagement.cy.ts
  src/test/cypress/e2e/exercises/text/TextExerciseParticipation.cy.ts
  src/test/cypress/e2e/lecture/LectureManagement.cy.ts
Labels: tests, cypress, stale

#8438 `Development`: Inline endpoint constants
  docs/dev/guidelines/server.rst
  src/main/java/de/tum/in/www1/artemis/config/Constants.java
  src/main/java/de/tum/in/www1/artemis/web/rest/FileUploadExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/PlantUmlResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/StaticCodeAnalysisResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/SubmissionPolicyResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/localci/BuildJobQueueResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/localci/BuildLogResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/programming/ProgrammingExerciseExportImportResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/programming/ProgrammingExerciseGradingResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/programming/ProgrammingExercisePlagiarismResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/programming/ProgrammingExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/programming/ProgrammingExerciseResourceEndpoints.java
  src/main/java/de/tum/in/www1/artemis/web/rest/programming/ProgrammingExerciseTestCaseResource.java
  src/test/java/de/tum/in/www1/artemis/authorization/AuthorizationGitlabCISamlEndpointTest.java
  src/test/java/de/tum/in/www1/artemis/authorization/AuthorizationJenkinsGitlabEndpointTest.java
  src/test/java/de/tum/in/www1/artemis/authorization/AuthorizationTestService.java
  src/test/java/de/tum/in/www1/artemis/exercise/AthenaResourceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/modelingexercise/ApollonConversionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/PlantUmlIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseGitIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseGradingServiceTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseIntegrationJenkinsGitlabTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseIntegrationTestService.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseLocalVCLocalCIIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseServiceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseTemplateIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseTestService.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/RepositoryIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/StaticCodeAnalysisIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/hestia/ProgrammingExerciseTaskIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/lecture/OnlineUnitIntegrationTest.java
Labels: tests, ready for review, server, client, documentation

#8489 `Integrated code lifecycle`: Improve container setup
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/buildagent/BuildJobContainerService.java
Labels: ready for review, server

#8488 `Programming exercises`: Display hidden files when editing as instructor and viewing the repository
  src/main/java/de/tum/in/www1/artemis/service/connectors/GitService.java
  src/main/webapp/app/exercises/programming/manage/code-editor/code-editor-instructor-and-editor-container.component.html
  src/main/webapp/app/exercises/programming/shared/code-editor/container/code-editor-container.component.html
  src/main/webapp/app/exercises/programming/shared/code-editor/container/code-editor-container.component.ts
  src/main/webapp/app/exercises/programming/shared/code-editor/file-browser/code-editor-file-browser.component.ts
  src/main/webapp/app/exercises/programming/shared/code-editor/monaco/code-editor-monaco.component.html
  src/main/webapp/app/exercises/programming/shared/code-editor/monaco/code-editor-monaco.component.ts
  src/main/webapp/app/exercises/programming/shared/service/file-type.service.ts
  src/main/webapp/app/localvc/repository-view/repository-view.component.html
  src/main/webapp/i18n/de/editor.json
  src/main/webapp/i18n/en/editor.json
  src/test/javascript/spec/component/code-editor/code-editor-monaco.component.spec.ts
  src/test/javascript/spec/service/file-type.service.spec.ts
Labels: tests, ready for review, server, client, lock:artemis-test2

#8476 `Integrated code lifecycle`: Automatically cleanup repositories and build plans on deletion of programming exercises
  src/main/java/de/tum/in/www1/artemis/service/ParticipationService.java
  src/main/webapp/app/exam/manage/exercise-groups/exercise-groups.component.html
  src/main/webapp/app/exam/manage/exercise-groups/exercise-groups.component.ts
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.html
  src/main/webapp/app/exercises/programming/manage/programming-exercise.component.html
  src/main/webapp/app/exercises/programming/manage/services/programming-exercise.service.ts
  src/main/webapp/app/exercises/shared/exam-exercise-row-buttons/exam-exercise-row-buttons.component.html
  src/main/webapp/app/exercises/shared/exam-exercise-row-buttons/exam-exercise-row-buttons.component.ts
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/exam.json
  src/main/webapp/i18n/en/programmingExercise.json
  src/test/cypress/support/pageobjects/course/CourseManagementExercisesPage.ts
  src/test/playwright/support/pageobjects/course/CourseManagementExercisesPage.ts
Labels: tests, ready for review, server, client, cypress, lock:artemis-test3

#8484 `Development`: Improve git URI handling for LocalVC
  src/main/java/de/tum/in/www1/artemis/domain/VcsRepositoryUri.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/GitService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/buildagent/BuildJobExecutionService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localvc/LocalVCRepositoryUri.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localvc/LocalVCService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localvc/LocalVCServletService.java
  src/test/java/de/tum/in/www1/artemis/architecture/ArchitectureTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseLocalVCLocalCIIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalVCLocalCITestService.java
  src/test/java/de/tum/in/www1/artemis/uri/RepositoryUriTest.java
Labels: tests, ready for review, server, component:integrated code lifecycle

#8453 `Development`: Add documentation for build queue view
  docs/user/exercises/programming-integrated-code-lifecycle-build-queue-view.inc
  docs/user/exercises/programming.rst
  docs/user/exercises/programming/buildQueueCourseManagement.png
  docs/user/exercises/programming/buildQueueSystemAdministration.png
  docs/user/exercises/programming/finished-build-jobs.png
  docs/user/exercises/programming/queued-build-jobs.png
  docs/user/exercises/programming/running-build-jobs.png
Labels: client, documentation

#8048 `Modeling exercises`: Provide automatic feedback with Athena
  src/main/java/de/tum/in/www1/artemis/service/connectors/athena/AthenaDTOConverterService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/athena/AthenaFeedbackSuggestionsService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/athena/AthenaModuleService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/athena/AthenaModuleUrlHelper.java
  src/main/java/de/tum/in/www1/artemis/service/dto/athena/ModelingExerciseDTO.java
  src/main/java/de/tum/in/www1/artemis/service/dto/athena/ModelingFeedbackDTO.java
  src/main/java/de/tum/in/www1/artemis/service/dto/athena/ModelingSubmissionDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/AthenaResource.java
  src/main/webapp/app/assessment/athena.service.ts
  src/main/webapp/app/entities/feedback-suggestion.model.ts
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment-editor/modeling-assessment-editor.component.html
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment-editor/modeling-assessment-editor.component.scss
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment-editor/modeling-assessment-editor.component.ts
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment.component.ts
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise-update.component.html
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise.module.ts
  src/main/webapp/content/scss/global.scss
  src/main/webapp/i18n/de/modelingAssessmentEditor.json
  src/main/webapp/i18n/en/modelingAssessmentEditor.json
  src/test/java/de/tum/in/www1/artemis/connector/AthenaRequestMockProvider.java
  src/test/java/de/tum/in/www1/artemis/exercise/AthenaResourceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/connectors/athena/AthenaFeedbackSendingServiceTest.java
  src/test/javascript/spec/component/modeling-assessment-editor/modeling-assessment-editor.component.spec.ts
  src/test/javascript/spec/component/modeling-assessment/modeling-assessment.component.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-athena.service.ts
  src/test/javascript/spec/service/athena.service.spec.ts
Labels: tests, ready for review, server, client, cypress, too-long-open

#8496 `Programming exercises`: Prevent unnecessary page refreshes when opening repositories
  src/main/webapp/app/detail-overview-list/detail-overview-list.component.html
  src/main/webapp/app/detail-overview-list/detail-overview-list.component.ts
  src/main/webapp/app/exercises/programming/shared/commits-info/commits-info.component.html
  src/main/webapp/app/exercises/programming/shared/commits-info/commits-info.component.ts
  src/main/webapp/app/exercises/shared/participation/participation.component.html
  src/main/webapp/app/exercises/shared/participation/participation.component.ts
Labels: ready for review, client, small
