Repository ls1intum/Artemis, pull requests merged in 2024-10, with the labels that each got.

#9392 `Learning paths`: Add explanation view for learning path users
  src/main/java/de/tum/cit/aet/artemis/atlas/domain/competency/LearningPath.java
  src/main/java/de/tum/cit/aet/artemis/atlas/dto/LearningPathDTO.java
  src/main/java/de/tum/cit/aet/artemis/atlas/service/learningpath/LearningPathService.java
  src/main/java/de/tum/cit/aet/artemis/atlas/web/LearningPathResource.java
  src/main/resources/config/liquibase/changelog/20240924125742_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/admin/metrics/metrics.model.ts
  src/main/webapp/app/course/learning-paths/pages/learning-path-student-page/learning-path-student-page.component.html
  src/main/webapp/app/course/learning-paths/pages/learning-path-student-page/learning-path-student-page.component.ts
  src/main/webapp/app/course/learning-paths/services/base-api-http.service.ts
  src/main/webapp/app/course/learning-paths/services/learning-path-api.service.ts
  src/main/webapp/app/entities/competency/learning-path.model.ts
  src/test/java/de/tum/cit/aet/artemis/atlas/learningpath/LearningPathIntegrationTest.java
  src/test/javascript/spec/component/learning-paths/pages/learning-path-student-page.component.spec.ts
  src/test/javascript/spec/service/learning-path/learning-path-api.service.spec.ts
Labels: tests, server, client, database, ready to merge, maintainer-approved, atlas

#9352 `Development`: Refactor atlas tests
  src/test/java/de/tum/cit/aet/artemis/atlas/AbstractAtlasIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/atlas/architecture/TestArchitectureTest.java
  src/test/java/de/tum/cit/aet/artemis/atlas/competency/AbstractCompetencyPrerequisiteIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/atlas/competency/CompetencyIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/atlas/competency/CompetencyJolIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/atlas/competency/CourseCompetencyIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/atlas/competency/PrerequisiteIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/atlas/competency/StandardizedCompetencyIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/atlas/learningpath/LearningPathIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/atlas/science/ScienceIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/atlas/science/ScienceSettingsIntegrationTest.java
Labels: tests, ready to merge, atlas

#9375 `Development`: Refactor lti tests
  src/test/java/de/tum/cit/aet/artemis/atlas/architecture/AtlasTestArchitectureTest.java
  src/test/java/de/tum/cit/aet/artemis/lti/AbstractLtiIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/lti/Lti13LaunchIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/lti/LtiDeepLinkingIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/lti/LtiIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/lti/LtiQuizIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/lti/OAuth2JWKSIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/lti/architecture/LtiTestArchitectureTest.java
  src/test/java/de/tum/cit/aet/artemis/shared/architecture/AbstractModuleTestArchitectureTest.java
Labels: tests, ready to merge, atlas, lti

#9186 `General`: Add course summary to course deletion dialog
  src/main/java/de/tum/cit/aet/artemis/communication/domain/Post.java
  src/main/java/de/tum/cit/aet/artemis/communication/repository/PostRepository.java
  src/main/java/de/tum/cit/aet/artemis/core/dto/CourseDeletionSummaryDTO.java
  src/main/java/de/tum/cit/aet/artemis/core/service/CourseService.java
  src/main/java/de/tum/cit/aet/artemis/core/web/admin/AdminCourseResource.java
  src/main/java/de/tum/cit/aet/artemis/programming/repository/ProgrammingExerciseRepository.java
  src/main/webapp/app/course/manage/course-admin.service.ts
  src/main/webapp/app/course/manage/course-management-tab-bar/course-management-tab-bar.component.html
  src/main/webapp/app/course/manage/course-management-tab-bar/course-management-tab-bar.component.ts
  src/main/webapp/app/entities/course-deletion-summary.model.ts
  src/main/webapp/i18n/de/course.json
  src/main/webapp/i18n/en/course.json
  src/test/java/de/tum/cit/aet/artemis/post/ConversationUtilService.java
  src/test/java/de/tum/cit/aet/artemis/service/CourseServiceTest.java
Labels: tests, server, client, ready to merge

#9210 `Development`: Add check for REST endpoints to be in kebab case
  src/main/java/de/tum/cit/aet/artemis/core/web/CourseResource.java
  src/main/java/de/tum/cit/aet/artemis/exam/web/ExamResource.java
  src/main/java/de/tum/cit/aet/artemis/exam/web/ExerciseGroupResource.java
  src/main/java/de/tum/cit/aet/artemis/exercise/web/ParticipationResource.java
  src/main/java/de/tum/cit/aet/artemis/programming/web/localci/AeolusTemplateResource.java
  src/main/webapp/app/course/manage/course-management.service.ts
  src/main/webapp/app/exam/manage/exam-management.service.ts
  src/main/webapp/app/exam/manage/exercise-groups/exercise-group.service.ts
  src/main/webapp/app/exercises/programming/shared/service/aeolus.service.ts
  src/main/webapp/app/exercises/shared/participation/participation.service.ts
  src/test/java/de/tum/cit/aet/artemis/core/management/ManagementResourceIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/core/util/CourseTestService.java
  src/test/java/de/tum/cit/aet/artemis/exam/ExamParticipationIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/exam/ExerciseGroupIntegrationJenkinsGitlabTest.java
  src/test/java/de/tum/cit/aet/artemis/exercise/participation/ParticipationIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/util/ProgrammingExerciseTestService.java
  src/test/java/de/tum/cit/aet/artemis/shared/architecture/ResourceArchitectureTest.java
  src/test/javascript/spec/component/course/course-management.service.spec.ts
  src/test/javascript/spec/component/exam/manage/exam-management.service.spec.ts
  src/test/playwright/support/pageobjects/exam/ExamExerciseGroupCreationPage.ts
  src/test/playwright/support/requests/ExamAPIRequests.ts
Labels: tests, ready for review, server, client, code quality, ready to merge, playwright, core, exam, exercise, programming

#9325 `Communication`: Add FAQs to Artemis
  jest.config.js
  src/main/java/de/tum/cit/aet/artemis/communication/domain/Faq.java
  src/main/java/de/tum/cit/aet/artemis/communication/domain/FaqState.java
  src/main/java/de/tum/cit/aet/artemis/communication/dto/FaqDTO.java
  src/main/java/de/tum/cit/aet/artemis/communication/repository/FaqRepository.java
  src/main/java/de/tum/cit/aet/artemis/communication/web/FaqResource.java
  src/main/java/de/tum/cit/aet/artemis/core/domain/Course.java
  src/main/java/de/tum/cit/aet/artemis/core/service/CourseService.java
  src/main/resources/config/liquibase/changelog/20240902175045_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/course/manage/course-management-tab-bar/course-management-tab-bar.component.html
  src/main/webapp/app/course/manage/course-management-tab-bar/course-management-tab-bar.component.ts
  src/main/webapp/app/course/manage/course-management.route.ts
  src/main/webapp/app/course/manage/course-update.component.html
  src/main/webapp/app/course/manage/course-update.component.ts
  src/main/webapp/app/course/manage/overview/course-management-card.component.html
  src/main/webapp/app/course/manage/overview/course-management-card.component.ts
  src/main/webapp/app/entities/course.model.ts
  src/main/webapp/app/entities/faq-category.model.ts
  src/main/webapp/app/entities/faq.model.ts
  src/main/webapp/app/faq/faq-update.component.html
  src/main/webapp/app/faq/faq-update.component.scss
  src/main/webapp/app/faq/faq-update.component.ts
  src/main/webapp/app/faq/faq.component.html
  src/main/webapp/app/faq/faq.component.ts
  src/main/webapp/app/faq/faq.routes.ts
  src/main/webapp/app/faq/faq.service.ts
  src/main/webapp/app/faq/faq.utils.ts
  src/main/webapp/app/overview/course-faq/course-faq-accordion-component.ts
  src/main/webapp/app/overview/course-faq/course-faq-accordion.component.html
  src/main/webapp/app/overview/course-faq/course-faq-accordion.component.scss
  src/main/webapp/app/overview/course-faq/course-faq.component.html
  src/main/webapp/app/overview/course-faq/course-faq.component.scss
  src/main/webapp/app/overview/course-faq/course-faq.component.ts
  src/main/webapp/app/overview/course-overview.component.ts
  src/main/webapp/app/overview/courses-routing.module.ts
  src/main/webapp/app/shared/category-selector/category-selector.component.ts
  src/main/webapp/app/shared/exercise-categories/custom-exercise-category-badge/custom-exercise-category-badge.component.ts
  src/main/webapp/i18n/de/course.json
  src/main/webapp/i18n/de/faq.json
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/de/student-dashboard.json
  src/main/webapp/i18n/en/course.json
  src/main/webapp/i18n/en/faq.json
  src/main/webapp/i18n/en/global.json
  src/main/webapp/i18n/en/student-dashboard.json
  src/test/java/de/tum/cit/aet/artemis/communication/FaqFactory.java
  src/test/java/de/tum/cit/aet/artemis/communication/FaqIntegrationTest.java
  src/test/javascript/spec/component/faq/faq-update.component.spec.ts
  src/test/javascript/spec/component/faq/faq.component.spec.ts
  src/test/javascript/spec/component/overview/course-faq/course-faq-accordion.component.spec.ts
  src/test/javascript/spec/component/overview/course-faq/course-faq.component.spec.ts
  src/test/javascript/spec/service/faq.service.spec.ts
  src/test/playwright/e2e/course/CourseManagement.spec.ts
  src/test/playwright/support/pageobjects/course/CourseCreationPage.ts
Labels: tests, server, client, database, ready to merge, playwright, communication, core

#9326 `Development`: Fix flaky e2e tests
  src/test/playwright/e2e/exam/test-exam/TestExamStudentExams.spec.ts
  src/test/playwright/e2e/exercise/modeling/ModelingExerciseAssessment.spec.ts
  src/test/playwright/e2e/exercise/programming/ProgrammingExerciseManagement.spec.ts
  src/test/playwright/support/pageobjects/course/CourseManagementPage.ts
  src/test/playwright/support/pageobjects/exam/ExamParticipationPage.ts
  src/test/playwright/support/pageobjects/exam/ExamStartEndPage.ts
Labels: tests, ready for review, ready to merge, playwright

#9221 `General`: Redesign the course overview
  src/main/webapp/app/course/manage/course-management.service.ts
  src/main/webapp/app/guided-tour/tours/course-overview-tour.ts
  src/main/webapp/app/overview/course-card.component.html
  src/main/webapp/app/overview/course-card.component.ts
  src/main/webapp/app/overview/course-card.scss
  src/main/webapp/app/overview/courses.component.html
  src/main/webapp/app/overview/courses.component.scss
  src/main/webapp/app/overview/courses.component.ts
  src/main/webapp/app/shared/layouts/main/main.component.html
  src/main/webapp/app/shared/layouts/main/main.component.scss
  src/main/webapp/app/shared/layouts/main/main.component.ts
  src/main/webapp/content/scss/_artemis-variables.scss
  src/main/webapp/i18n/de/student-dashboard.json
  src/main/webapp/i18n/en/student-dashboard.json
Labels: client, user interface, ready to merge, too-long-open

#9344 `Programming exercises`: Add Rust and JavaScript to plagiarism detection
  build.gradle
  docs/user/exercises/programming-exercise-features.inc
  src/main/java/de/tum/cit/aet/artemis/plagiarism/service/ProgrammingPlagiarismDetectionService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/gitlabci/GitLabCIProgrammingLanguageFeatureService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/jenkins/JenkinsProgrammingLanguageFeatureService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/localci/LocalCIProgrammingLanguageFeatureService.java
Labels: server, documentation, small, ready to merge, plagiarism, programming

#9358 `Adaptive learning`: Fix prerequisites not shown in course enrollment
  src/main/java/de/tum/cit/aet/artemis/atlas/web/PrerequisiteResource.java
  src/main/webapp/app/course/competencies/competency-card/competency-card.component.html
  src/main/webapp/app/course/competencies/competency-card/competency-card.component.ts
  src/main/webapp/app/overview/course-registration/course-registration-prerequisites-modal/course-prerequisites-modal.component.html
  src/test/java/de/tum/cit/aet/artemis/atlas/competency/AbstractCompetencyPrerequisiteIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/atlas/competency/CompetencyIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/atlas/competency/PrerequisiteIntegrationTest.java
  src/test/javascript/spec/component/competencies/competency-card-stub.component.ts
  src/test/javascript/spec/component/competencies/competency-card.component.spec.ts
Labels: tests, server, client, small, bugfix, ready to merge, component:AdaptiveLearning, atlas

#9353 `Tutorial groups`: Add profile pictures to tutorial page
  src/main/java/de/tum/cit/aet/artemis/tutorialgroup/domain/TutorialGroup.java
  src/main/java/de/tum/cit/aet/artemis/tutorialgroup/service/TutorialGroupService.java
  src/main/webapp/app/course/tutorial-groups/shared/tutorial-group-detail/tutorial-group-detail.component.ts
  src/main/webapp/app/detail-overview-list/detail-overview-list.component.html
  src/main/webapp/app/detail-overview-list/detail-overview-list.component.scss
  src/main/webapp/app/detail-overview-list/detail-overview-list.component.ts
  src/main/webapp/app/detail-overview-list/detail.model.ts
  src/main/webapp/app/entities/tutorial-group/tutorial-group.model.ts
  src/main/webapp/app/shared/metis/posting-header/posting-header.directive.ts
  src/main/webapp/app/utils/color.utils.ts
  src/main/webapp/app/utils/text.utils.ts
  src/main/webapp/i18n/de/tutorialGroups.json
  src/main/webapp/i18n/en/tutorialGroups.json
  src/test/javascript/spec/component/tutorial-groups/helpers/tutorialGroupExampleModels.ts
  src/test/javascript/spec/component/tutorial-groups/tutorial-groups-management/tutorial-groups/crud/create-tutorial-group.component.spec.ts
  src/test/javascript/spec/component/tutorial-groups/tutorial-groups-management/tutorial-groups/crud/edit-tutorial-group.component.spec.ts
Labels: tests, server, client, ready to merge, component:TutorialGroups

#9416 `Development`: Set unique hazelcast instance name for each abstract server test setup to reduce flakiness
  src/test/java/de/tum/cit/aet/artemis/shared/base/AbstractSpringIntegrationGitlabCIGitlabSamlTest.java
  src/test/java/de/tum/cit/aet/artemis/shared/base/AbstractSpringIntegrationIndependentTest.java
  src/test/java/de/tum/cit/aet/artemis/shared/base/AbstractSpringIntegrationJenkinsGitlabTest.java
  src/test/java/de/tum/cit/aet/artemis/shared/base/AbstractSpringIntegrationLocalCILocalVCTest.java
Labels: tests, ready for review, server

#9411 `General`: Elevate toggle sidebar button
  src/main/webapp/app/overview/course-overview.component.html
  src/main/webapp/app/overview/course-overview.component.scss
  src/main/webapp/app/overview/course-overview.component.ts
Labels: ready for review, client, small

#9355 `Programming exercises`: Close the diff modal when leaving the page
  src/main/webapp/app/detail-overview-list/components/programming-diff-report-detail/programming-diff-report-detail.component.ts
  src/main/webapp/app/detail-overview-list/detail-overview-list.component.scss
  src/main/webapp/content/scss/global.scss
  src/main/webapp/content/scss/themes/theme-dark.scss
Labels: ready for review, client, small

#9420 `Development`: Fix translation string check CI pipeline step
  .github/workflows/check-translation-keys.yml
Labels: ready for review, small, bugfix

#9398 `Adaptive learning`: Change mastery threshold to input field and validate values
  src/main/java/de/tum/cit/aet/artemis/atlas/web/CompetencyResource.java
  src/main/java/de/tum/cit/aet/artemis/atlas/web/PrerequisiteResource.java
  src/main/webapp/app/course/competencies/forms/common-course-competency-form.component.html
  src/test/java/de/tum/cit/aet/artemis/atlas/competency/AbstractCompetencyPrerequisiteIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/atlas/competency/util/CompetencyUtilService.java
  src/test/java/de/tum/cit/aet/artemis/atlas/competency/util/PrerequisiteUtilService.java
  src/test/java/de/tum/cit/aet/artemis/atlas/learningpath/LearningPathIntegrationTest.java
Labels: tests, server, client, small, ready to merge, maintainer-approved, atlas

#9421 `Development`: Fix server test compilation
  src/test/java/de/tum/cit/aet/artemis/atlas/competency/CourseCompetencyIntegrationTest.java
Labels: tests, ready for review, priority:critical, small, atlas

#9322 `Development`: Optimize local git repository cleanup
  .idea/runConfigurations/_template__of_Gradle.xml
  src/main/java/de/tum/cit/aet/artemis/programming/repository/ProgrammingExerciseRepository.java
  src/main/java/de/tum/cit/aet/artemis/programming/repository/ProgrammingExerciseStudentParticipationRepository.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/AutomaticProgrammingExerciseCleanupService.java
  src/test/java/de/tum/cit/aet/artemis/programming/util/ProgrammingExerciseTestService.java
Labels: tests, server, chore, small, ready to merge, performance, programming

#9276 `Development`: Fix flaky priorityExamTest
  src/test/java/de/tum/cit/aet/artemis/programming/icl/LocalVCLocalCIIntegrationTest.java
Labels: tests, programming

#9424 `Development`: Fix LocalCI flaky server tests
  src/main/java/de/tum/cit/aet/artemis/buildagent/service/SharedQueueProcessingService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/localci/LocalCIResultProcessingService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/localci/LocalCITriggerService.java
  src/test/java/de/tum/cit/aet/artemis/programming/icl/LocalCIIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/icl/LocalVCLocalCITestService.java
Labels: tests, ready for review, server, buildagent, programming

#9171 `Exam mode`: Reduce width of sidebar
  src/main/webapp/app/exam/participate/exam-navigation-sidebar/exam-navigation-sidebar.component.html
  src/main/webapp/app/exam/participate/exam-navigation-sidebar/exam-navigation-sidebar.component.scss
Labels: ready for review, client, small

#9412 `General`: Animate content sidebar on toggle
  src/main/webapp/app/exam/participate/exam-navigation-sidebar/exam-navigation-sidebar.component.html
  src/main/webapp/app/exam/participate/exam-navigation-sidebar/exam-navigation-sidebar.component.scss
  src/main/webapp/app/overview/course-conversations/course-conversations.component.html
  src/main/webapp/app/overview/course-exams/course-exams.component.html
  src/main/webapp/app/overview/course-exercises/course-exercises.component.html
  src/main/webapp/app/overview/course-lectures/course-lectures.component.html
  src/main/webapp/app/overview/course-overview.component.html
  src/main/webapp/app/overview/course-overview.component.scss
  src/main/webapp/app/overview/course-tutorial-groups/course-tutorial-groups.component.html
  src/main/webapp/app/shared/sidebar/sidebar.component.html
  src/main/webapp/app/shared/sidebar/sidebar.component.scss
  src/main/webapp/content/scss/global.scss
  src/main/webapp/content/scss/themes/_dark-variables.scss
  src/main/webapp/content/scss/themes/_default-variables.scss
Labels: ready for review, client

#9429 `Development`: Remove redundant architecture test in atlas module
  src/test/java/de/tum/cit/aet/artemis/atlas/AbstractAtlasIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/atlas/architecture/TestArchitectureTest.java
Labels: tests, ready for review, atlas

#9415 `Development`: Refactor file upload tests
  src/test/java/de/tum/cit/aet/artemis/fileupload/AbstractFileUploadIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/fileupload/FileUploadAssessmentIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/fileupload/FileUploadExerciseIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/fileupload/FileUploadSubmissionIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/fileupload/architecture/FileUploadTestArchitectureTest.java
Labels: tests, ready to merge, fileupload

#9407 `Development`: Migrate the MonacoEditorModule to standalone components
  src/main/webapp/app/exercises/programming/hestia/git-diff-report/git-diff-report.module.ts
  src/main/webapp/app/exercises/programming/hestia/testwise-coverage-report/testwise-coverage-report.module.ts
  src/main/webapp/app/exercises/programming/manage/programming-exercise-management.module.ts
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.module.ts
  src/main/webapp/app/exercises/programming/shared/code-editor/code-editor.module.ts
  src/main/webapp/app/exercises/shared/exercise-hint/shared/exercise-hint-shared.module.ts
  src/main/webapp/app/shared/markdown-editor/markdown-editor.module.ts
  src/main/webapp/app/shared/monaco-editor/monaco-diff-editor.component.ts
  src/main/webapp/app/shared/monaco-editor/monaco-editor.component.ts
  src/main/webapp/app/shared/monaco-editor/monaco-editor.module.ts
  src/main/webapp/app/shared/monaco-editor/monaco-editor.service.ts
  src/test/javascript/spec/component/code-editor/code-editor-monaco.component.spec.ts
  src/test/javascript/spec/component/hestia/git-diff-report/git-diff-file.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-custom-aeolus-build-plan.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-custom-build-plan.component.spec.ts
  src/test/javascript/spec/component/shared/monaco-editor/monaco-diff-editor.component.spec.ts
  src/test/javascript/spec/component/shared/monaco-editor/monaco-editor-action-quiz.integration.spec.ts
  src/test/javascript/spec/component/shared/monaco-editor/monaco-editor-action.integration.spec.ts
  src/test/javascript/spec/component/shared/monaco-editor/monaco-editor-communication-action.integration.spec.ts
  src/test/javascript/spec/component/shared/monaco-editor/monaco-editor-grading-instructions.integration.spec.ts
  src/test/javascript/spec/component/shared/monaco-editor/monaco-editor.component.spec.ts
  src/test/javascript/spec/component/shared/monaco-editor/monaco-editor.service.spec.ts
  src/test/javascript/spec/integration/code-editor/code-editor-container.integration.spec.ts
Labels: tests, ready for review, client

#9394 `Development`: Improve LocalVC and SSH documentation
  docs/index.rst
  docs/user/exercises/programming-repository-access.inc
  docs/user/exercises/programming.rst
  docs/user/exercises/programming/build-agent-details.png
  docs/user/exercises/programming/build-agent-summary.png
  docs/user/exercises/programming/buildQueueCourseManagement.png
  docs/user/exercises/programming/buildQueueSystemAdministration.png
  docs/user/exercises/programming/commit-diff-view.png
  docs/user/exercises/programming/commit-history-view.png
  docs/user/exercises/programming/course-management-repositories.png
  docs/user/exercises/programming/current-repository-content-view.png
  docs/user/exercises/programming/finished-build-jobs.png
  docs/user/exercises/programming/open-repository-button.png
  docs/user/exercises/programming/open-repository-instructor-participations.png
  docs/user/exercises/programming/open-repository-student.png
  docs/user/exercises/programming/queued-build-jobs.png
  docs/user/exercises/programming/running-build-jobs.png
  docs/user/icl/general.rst
  docs/user/icl/local-ci-build-agent-view.inc
  docs/user/icl/local-ci-build-queue-view.inc
  docs/user/icl/local-ci/build-agent-details.png
  docs/user/icl/local-ci/build-agent-summary.png
  docs/user/icl/local-ci/buildQueueCourseManagement.png
  docs/user/icl/local-ci/buildQueueSystemAdministration.png
  docs/user/icl/local-ci/finished-build-jobs.png
  docs/user/icl/local-ci/queued-build-jobs.png
  docs/user/icl/local-ci/running-build-jobs.png
  docs/user/icl/local-continuous-integration.rst
  docs/user/icl/local-vc-authentication.inc
  docs/user/icl/local-vc-repository-view.inc
  docs/user/icl/local-vc/commit-diff-view.png
  docs/user/icl/local-vc/commit-history-view.png
  docs/user/icl/local-vc/course-management-repositories.png
  docs/user/icl/local-vc/current-repository-content-view.png
  docs/user/icl/local-vc/open-repository-button.png
  docs/user/icl/local-vc/open-repository-instructor-participations.png
  docs/user/icl/local-vc/open-repository-student.png
  docs/user/icl/local-vc/open-settings.png
  docs/user/icl/local-vc/ssh-add-public-key.png
  docs/user/icl/local-version-control.rst
  docs/user/icl/ssh-add-key-to-artemis.rst
  docs/user/icl/ssh-intro.rst
  docs/user/icl/ssh-key-creation.rst
  docs/user/integrated-code-lifecycle.rst
Labels: ready for review, documentation, ready to merge, deployment-error

#9442 `Exam mode`: Remove exercise title from solution containers
  src/main/webapp/app/exam/participate/exercises/file-upload/file-upload-exam-submission.component.html
  src/main/webapp/app/exam/participate/exercises/modeling/modeling-exam-submission.component.html
  src/main/webapp/app/exam/participate/exercises/text/text-exam-submission.component.html
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/en/exam.json
  src/test/javascript/spec/component/exam/participate/exercises/file-upload-exam-submission.component.spec.ts
  src/test/javascript/spec/component/exam/participate/exercises/modeling-exam-submission.component.spec.ts
Labels: tests, client, small, ready to merge, maintainer-approved

#9436 `Development`: Move feature toggles to resource class level where possible
  src/main/java/de/tum/cit/aet/artemis/atlas/web/LearningPathResource.java
  src/main/java/de/tum/cit/aet/artemis/atlas/web/ScienceResource.java
  src/main/java/de/tum/cit/aet/artemis/core/security/annotations/AnnotationUtils.java
  src/main/java/de/tum/cit/aet/artemis/core/service/feature/FeatureToggleAspect.java
  src/main/java/de/tum/cit/aet/artemis/programming/web/ProgrammingExerciseExportImportResource.java
  src/main/java/de/tum/cit/aet/artemis/programming/web/ProgrammingExercisePlagiarismResource.java
  src/main/java/de/tum/cit/aet/artemis/tutorialgroup/web/TutorialGroupFreePeriodResource.java
  src/main/java/de/tum/cit/aet/artemis/tutorialgroup/web/TutorialGroupResource.java
  src/main/java/de/tum/cit/aet/artemis/tutorialgroup/web/TutorialGroupSessionResource.java
  src/main/java/de/tum/cit/aet/artemis/tutorialgroup/web/TutorialGroupsConfigurationResource.java
Labels: server, small, ready to merge, stacked-pr, maintainer-approved, atlas, core, programming, tutorialgroup

#9431 `Development`: Update monaco-editor to 0.52.0
  angular.json
  package-lock.json
  package.json
  prebuild.mjs
  src/main/webapp/app/core/config/monaco.config.ts
  src/main/webapp/app/shared/monaco-editor/model/actions/adapter/monaco-text-editor.adapter.ts
  src/main/webapp/app/shared/monaco-editor/model/actions/adapter/text-editor.interface.ts
  src/main/webapp/app/shared/monaco-editor/model/actions/communication/channel-reference.action.ts
  src/main/webapp/app/shared/monaco-editor/model/actions/communication/exercise-reference.action.ts
  src/main/webapp/app/shared/monaco-editor/model/actions/communication/user-mention.action.ts
  src/main/webapp/app/shared/monaco-editor/model/actions/text-editor-action.model.ts
Labels: client, ready to merge

#9450 `Communication`: Add profile pictures to channel member overview
  src/main/java/de/tum/cit/aet/artemis/core/dto/UserPublicInfoDTO.java
  src/main/webapp/app/core/user/user.model.ts
  src/main/webapp/app/overview/course-conversations/course-wide-search/course-wide-search.component.html
  src/main/webapp/app/overview/course-conversations/dialogs/conversation-detail-dialog/tabs/conversation-members/conversation-member-row/conversation-member-row.component.html
  src/main/webapp/app/overview/course-conversations/dialogs/conversation-detail-dialog/tabs/conversation-members/conversation-member-row/conversation-member-row.component.scss
  src/main/webapp/app/overview/course-conversations/dialogs/conversation-detail-dialog/tabs/conversation-members/conversation-member-row/conversation-member-row.component.ts
  src/main/webapp/i18n/de/metis.json
  src/main/webapp/i18n/en/metis.json
  src/test/javascript/spec/component/overview/course-conversations/course-wide-search.component.spec.ts
  src/test/javascript/spec/component/overview/course-conversations/dialogs/conversation-detail-dialog/tabs/conversation-members/conversation-member-row/conversation-member-row.component.spec.ts
Labels: tests, server, client, ready to merge, component:Communication, core

#9324 `Programming exercises`: Improve preliminary AI feedback
  src/main/java/de/tum/cit/aet/artemis/assessment/domain/Result.java
  src/main/java/de/tum/cit/aet/artemis/exercise/domain/Exercise.java
  src/main/java/de/tum/cit/aet/artemis/exercise/domain/Submission.java
  src/main/java/de/tum/cit/aet/artemis/exercise/web/ParticipationResource.java
  src/main/java/de/tum/cit/aet/artemis/programming/domain/ProgrammingExercise.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/ProgrammingExerciseCodeReviewFeedbackService.java
  src/main/webapp/app/entities/result.model.ts
  src/main/webapp/app/exercises/programming/participate/code-editor-student-container.component.ts
  src/main/webapp/app/exercises/programming/shared/actions/programming-exercise-trigger-build-button.component.ts
  src/main/webapp/app/exercises/programming/shared/code-editor/actions/code-editor-actions.component.html
  src/main/webapp/app/exercises/programming/shared/code-editor/actions/code-editor-actions.component.ts
  src/main/webapp/app/exercises/programming/shared/code-editor/code-editor.module.ts
  src/main/webapp/app/exercises/programming/shared/code-editor/container/code-editor-container.component.html
  src/main/webapp/app/exercises/programming/shared/utils/programming-exercise.utils.ts
  src/main/webapp/app/exercises/shared/assessment-progress-label/assessment-progress-label.component.ts
  src/main/webapp/app/exercises/shared/dashboards/tutor/exercise-assessment-dashboard.component.ts
  src/main/webapp/app/exercises/shared/exercise-scores/exercise-scores.component.ts
  src/main/webapp/app/exercises/shared/feedback/feedback.component.html
  src/main/webapp/app/exercises/shared/participation/participation.utils.ts
  src/main/webapp/app/exercises/shared/result/result.component.html
  src/main/webapp/app/exercises/shared/result/result.component.ts
  src/main/webapp/app/exercises/shared/result/result.service.ts
  src/main/webapp/app/exercises/shared/result/result.utils.ts
  src/main/webapp/app/exercises/shared/result/updating-result.component.ts
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.ts
  src/main/webapp/app/overview/exercise-details/exercise-buttons.module.ts
  src/main/webapp/app/overview/exercise-details/exercise-details-student-actions.component.html
  src/main/webapp/app/overview/exercise-details/exercise-details-student-actions.component.ts
  src/main/webapp/app/overview/exercise-details/request-feedback-button/request-feedback-button.component.html
  src/main/webapp/app/overview/exercise-details/request-feedback-button/request-feedback-button.component.ts
  src/main/webapp/i18n/de/exercise.json
  src/main/webapp/i18n/de/result.json
  src/main/webapp/i18n/en/exercise.json
  src/main/webapp/i18n/en/result.json
  src/test/java/de/tum/cit/aet/artemis/exercise/participation/ParticipationIntegrationTest.java
  src/test/javascript/spec/component/exam/participate/exam-navigation-sidebar.component.spec.ts
  src/test/javascript/spec/component/exercises/shared/result.spec.ts
  src/test/javascript/spec/component/overview/exercise-details/request-feedback-button/request-feedback-button.component.spec.ts
  src/test/javascript/spec/component/shared/result.component.spec.ts
  src/test/javascript/spec/component/utils/result.utils.spec.ts
  src/test/javascript/spec/integration/code-editor/code-editor-container.integration.spec.ts
  src/test/javascript/spec/service/result.service.spec.ts
Labels: tests, server, client, ready to merge, maintainer-approved, assessment, exercise, programming

#9453 `Development`: Fix wrong result subscription for exam exercises
  src/main/java/de/tum/cit/aet/artemis/core/config/websocket/WebsocketConfiguration.java
  src/main/webapp/app/exam/participate/summary/exam-result-summary.component.html
  src/main/webapp/app/exam/participate/summary/exercises/programming-exam-summary/programming-exam-summary.component.html
  src/main/webapp/app/exam/participate/summary/exercises/programming-exam-summary/programming-exam-summary.component.ts
Labels: ready for review, server, client, core

#9417 `Development`: Fix issues with server test flakiness
  src/main/java/de/tum/cit/aet/artemis/communication/domain/push_notification/PushNotificationDeviceConfiguration.java
  src/main/java/de/tum/cit/aet/artemis/core/service/ZipFileService.java
  src/test/java/de/tum/cit/aet/artemis/assessment/ExerciseScoresChartIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/assessment/ParticipantScoreIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/assessment/ResultListenerIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/atlas/competency/CourseCompetencyIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/communication/notification/NotificationScheduleServiceTest.java
  src/test/java/de/tum/cit/aet/artemis/communication/notification/SingleUserNotificationServiceTest.java
  src/test/java/de/tum/cit/aet/artemis/communication/notifications/service/TutorialGroupNotificationServiceTest.java
  src/test/java/de/tum/cit/aet/artemis/communication/service/EmailSummaryServiceTest.java
  src/test/java/de/tum/cit/aet/artemis/communication/service/PushNotificationDeviceConfigurationCleanupServiceTest.java
  src/test/java/de/tum/cit/aet/artemis/core/MetricsIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/core/StatisticsIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/exam/ExamIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/exam/ExamParticipationIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/exam/ExamRegistrationIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/exam/ExamStartTest.java
  src/test/java/de/tum/cit/aet/artemis/exam/ProgrammingExamIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/exam/TestExamIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/CourseGitlabJenkinsIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/ProgrammingExerciseTestCaseServiceTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/hestia/ProgrammingExerciseGitDiffReportIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/hestia/ProgrammingExerciseGitDiffReportServiceTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/hestia/StructuralTestCaseServiceTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/hestia/TestwiseCoverageReportServiceTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/hestia/behavioral/BehavioralTestCaseServiceTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/icl/AbstractLocalCILocalVCIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/icl/LocalCIIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/icl/LocalCIResourceIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/icl/LocalCIResultServiceTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/icl/LocalVCIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/icl/LocalVCLocalCIIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/icl/LocalVCLocalCITestService.java
  src/test/java/de/tum/cit/aet/artemis/programming/icl/LocalVCSshIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/icl/MultipleHostKeyProviderTest.java
  src/test/java/de/tum/cit/aet/artemis/quiz/QuizSubmissionIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/shared/base/AbstractArtemisIntegrationTest.java
Labels: tests, server, ready to merge, assessment, atlas, communication, core, exam, programming, quiz

#9256 `Programming exercises`: Add R programming language template
  build.gradle
  docs/user/exercises/programming-exercise-features.inc
  src/main/java/de/tum/cit/aet/artemis/plagiarism/service/ProgrammingPlagiarismDetectionService.java
  src/main/java/de/tum/cit/aet/artemis/programming/domain/ProgrammingLanguage.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/TemplateUpgradePolicyService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/ci/ContinuousIntegrationService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/gitlabci/GitLabCIProgrammingLanguageFeatureService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/jenkins/JenkinsProgrammingLanguageFeatureService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/jenkins/build_plan/JenkinsBuildPlanService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/localci/LocalCIProgrammingLanguageFeatureService.java
  src/main/resources/config/application.yml
  src/main/resources/templates/aeolus/r/default.sh
  src/main/resources/templates/aeolus/r/default.yaml
  src/main/resources/templates/jenkins/r/regularRuns/pipeline.groovy
  src/main/resources/templates/r/exercise/DESCRIPTION
  src/main/resources/templates/r/exercise/NAMESPACE
  src/main/resources/templates/r/exercise/R/convert.R
  src/main/resources/templates/r/readme
  src/main/resources/templates/r/solution/DESCRIPTION
  src/main/resources/templates/r/solution/NAMESPACE
  src/main/resources/templates/r/solution/R/convert.R
  src/main/resources/templates/r/test/DESCRIPTION
  src/main/resources/templates/r/test/tests/testthat.R
  src/main/resources/templates/r/test/tests/testthat/test-convert.R
  src/main/webapp/app/entities/programming/programming-exercise.model.ts
  src/main/webapp/app/exercises/programming/shared/code-editor/file-browser/supported-file-extensions.ts
  src/test/resources/config/application.yml
Labels: tests, ready for review, server, client, documentation, config-change, template, plagiarism, programming

#9422 `Development`: Use @EnforceAdmin annotation on class level
  src/main/java/de/tum/cit/aet/artemis/atlas/web/LearningPathResource.java
  src/main/java/de/tum/cit/aet/artemis/atlas/web/ScienceResource.java
  src/main/java/de/tum/cit/aet/artemis/atlas/web/StandardizedCompetencyResource.java
  src/main/java/de/tum/cit/aet/artemis/atlas/web/admin/AdminStandardizedCompetencyResource.java
  src/main/java/de/tum/cit/aet/artemis/communication/web/admin/AdminSystemNotificationResource.java
  src/main/java/de/tum/cit/aet/artemis/core/security/annotations/AnnotationUtils.java
  src/main/java/de/tum/cit/aet/artemis/core/security/annotations/EnforceAdmin.java
  src/main/java/de/tum/cit/aet/artemis/core/service/feature/FeatureToggleAspect.java
  src/main/java/de/tum/cit/aet/artemis/core/web/admin/AdminAuditResource.java
  src/main/java/de/tum/cit/aet/artemis/core/web/admin/AdminBuildJobQueueResource.java
  src/main/java/de/tum/cit/aet/artemis/core/web/admin/AdminCourseResource.java
  src/main/java/de/tum/cit/aet/artemis/core/web/admin/AdminDataExportResource.java
  src/main/java/de/tum/cit/aet/artemis/core/web/admin/AdminFeatureToggleResource.java
  src/main/java/de/tum/cit/aet/artemis/core/web/admin/AdminImprintResource.java
  src/main/java/de/tum/cit/aet/artemis/core/web/admin/AdminLogResource.java
  src/main/java/de/tum/cit/aet/artemis/core/web/admin/AdminOrganizationResource.java
  src/main/java/de/tum/cit/aet/artemis/core/web/admin/AdminPrivacyStatementResource.java
  src/main/java/de/tum/cit/aet/artemis/core/web/admin/AdminStatisticsResource.java
  src/main/java/de/tum/cit/aet/artemis/core/web/admin/AdminUserResource.java
  src/main/java/de/tum/cit/aet/artemis/exam/web/admin/AdminExamResource.java
  src/main/java/de/tum/cit/aet/artemis/exercise/web/admin/AdminExerciseResource.java
  src/main/java/de/tum/cit/aet/artemis/iris/web/admin/AdminIrisSettingsResource.java
  src/main/java/de/tum/cit/aet/artemis/lti/web/admin/AdminLtiConfigurationResource.java
  src/main/java/de/tum/cit/aet/artemis/modeling/web/admin/AdminModelingExerciseResource.java
  src/main/java/de/tum/cit/aet/artemis/programming/web/ProgrammingExerciseExportImportResource.java
  src/main/java/de/tum/cit/aet/artemis/programming/web/ProgrammingExercisePlagiarismResource.java
  src/main/java/de/tum/cit/aet/artemis/text/web/admin/AdminTextAssessmentEventResource.java
  src/main/java/de/tum/cit/aet/artemis/tutorialgroup/web/TutorialGroupFreePeriodResource.java
  src/main/java/de/tum/cit/aet/artemis/tutorialgroup/web/TutorialGroupResource.java
  src/main/java/de/tum/cit/aet/artemis/tutorialgroup/web/TutorialGroupSessionResource.java
  src/main/java/de/tum/cit/aet/artemis/tutorialgroup/web/TutorialGroupsConfigurationResource.java
  src/test/java/de/tum/cit/aet/artemis/core/authorization/AuthorizationArchitectureTest.java
  src/test/java/de/tum/cit/aet/artemis/shared/architecture/module/AbstractModuleResourceArchitectureTest.java
Labels: tests, server, small, ready to merge, maintainer-approved, atlas, communication, core, exam, exercise, iris, lti, modeling, programming, text, tutorialgroup

#9329 `General`: Improve exercise view when using LTI
  src/main/webapp/app/lti/lti13-exercise-launch.component.ts
  src/main/webapp/app/overview/course-exercises/course-exercises.component.html
  src/main/webapp/app/overview/course-exercises/course-exercises.component.ts
  src/main/webapp/app/overview/course-overview.component.html
  src/main/webapp/app/overview/course-overview.component.ts
  src/main/webapp/app/shared/layouts/main/main.component.html
  src/main/webapp/app/shared/layouts/main/main.component.ts
  src/main/webapp/app/shared/service/lti.service.ts
  src/test/javascript/spec/component/course/course-overview.component.spec.ts
Labels: tests, ready for review, client, chore, component:LTI

#9423 `Communication`: Add FAQ search bar
  src/main/webapp/app/faq/faq.component.html
  src/main/webapp/app/faq/faq.component.ts
  src/main/webapp/app/faq/faq.service.ts
  src/main/webapp/app/overview/course-faq/course-faq.component.html
  src/main/webapp/app/overview/course-faq/course-faq.component.ts
  src/main/webapp/app/overview/courses.module.ts
  src/main/webapp/app/shared/search-filter/search-filter.component.ts
  src/main/webapp/app/shared/shared.module.ts
  src/main/webapp/app/shared/sidebar/sidebar.module.ts
  src/test/javascript/spec/component/course/course-exercises.component.spec.ts
  src/test/javascript/spec/component/exam/participate/exam-navigation-sidebar.component.spec.ts
  src/test/javascript/spec/component/faq/faq.component.spec.ts
  src/test/javascript/spec/component/overview/course-exams/course-exams.component.spec.ts
  src/test/javascript/spec/component/overview/course-faq/course-faq.component.spec.ts
  src/test/javascript/spec/component/overview/course-lectures/course-lectures.component.spec.ts
  src/test/javascript/spec/component/shared/search-filter.component.spec.ts
  src/test/javascript/spec/component/shared/sidebar/sidebar-accordion.component.spec.ts
  src/test/javascript/spec/component/tutorial-groups/course-tutorial-groups/course-tutorial-groups.component.spec.ts
  src/test/javascript/spec/service/faq.service.spec.ts
Labels: tests, client, ready to merge

#9449 `Development`: Add action to validate pull request title
  .github/workflows/validate-pr-title.yml
Labels: ready for review

#9452 `Lectures`: Fix an issue with undefined units when processing lecture units
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/attachment-units/attachment-units.component.html
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/attachment-units/attachment-units.component.ts
Labels: ready for review, client, bugfix

#9454 `Integrated code lifecycle`: Simplify user interface for ssh keys
  src/main/java/de/tum/cit/aet/artemis/core/domain/User.java
  src/main/java/de/tum/cit/aet/artemis/core/dto/UserDTO.java
  src/main/java/de/tum/cit/aet/artemis/core/web/open/PublicAccountResource.java
  src/main/java/de/tum/cit/aet/artemis/programming/domain/AuthenticationMechanism.java
  src/main/webapp/app/core/user/user.model.ts
  src/main/webapp/app/shared/components/documentation-button/documentation-button.component.ts
  src/main/webapp/app/shared/components/documentation-link/documentation-link.component.html
  src/main/webapp/app/shared/components/documentation-link/documentation-link.component.ts
  src/main/webapp/app/shared/user-settings/ssh-settings/ssh-user-settings.component.html
  src/main/webapp/app/shared/user-settings/ssh-settings/ssh-user-settings.component.scss
  src/main/webapp/app/shared/user-settings/ssh-settings/ssh-user-settings.component.ts
  src/main/webapp/app/shared/user-settings/user-settings.module.ts
  src/main/webapp/app/shared/user-settings/user-settings.scss
  src/main/webapp/app/shared/util/os-detector.util.ts
  src/main/webapp/content/scss/themes/_dark-variables.scss
  src/main/webapp/content/scss/themes/_default-variables.scss
  src/main/webapp/i18n/de/userSettings.json
  src/main/webapp/i18n/en/userSettings.json
  src/test/javascript/spec/component/account/ssh-user-settings.component.spec.ts
Labels: tests, ready for review, server, client, core, programming

#9185 `Exam mode`: Add summary to exam deletion dialog
  src/main/java/de/tum/cit/aet/artemis/communication/domain/Post.java
  src/main/java/de/tum/cit/aet/artemis/communication/repository/AnswerPostRepository.java
  src/main/java/de/tum/cit/aet/artemis/communication/repository/PostRepository.java
  src/main/java/de/tum/cit/aet/artemis/core/dto/CourseDeletionSummaryDTO.java
  src/main/java/de/tum/cit/aet/artemis/core/service/CourseService.java
  src/main/java/de/tum/cit/aet/artemis/core/web/admin/AdminCourseResource.java
  src/main/java/de/tum/cit/aet/artemis/exam/dto/ExamDeletionSummaryDTO.java
  src/main/java/de/tum/cit/aet/artemis/exam/repository/StudentExamRepository.java
  src/main/java/de/tum/cit/aet/artemis/exam/service/ExamDeletionService.java
  src/main/java/de/tum/cit/aet/artemis/exam/web/ExamResource.java
  src/main/java/de/tum/cit/aet/artemis/programming/repository/BuildJobRepository.java
  src/main/java/de/tum/cit/aet/artemis/programming/repository/ProgrammingExerciseRepository.java
  src/main/webapp/app/course/manage/course-admin.service.ts
  src/main/webapp/app/course/manage/course-management-tab-bar/course-management-tab-bar.component.html
  src/main/webapp/app/course/manage/course-management-tab-bar/course-management-tab-bar.component.ts
  src/main/webapp/app/entities/course-deletion-summary.model.ts
  src/main/webapp/app/entities/exam-deletion-summary.model.ts
  src/main/webapp/app/exam/manage/exam-management.service.ts
  src/main/webapp/app/exam/manage/exams/exam-detail.component.html
  src/main/webapp/app/exam/manage/exams/exam-detail.component.ts
  src/main/webapp/app/shared/delete-dialog/delete-button.directive.ts
  src/main/webapp/app/shared/delete-dialog/delete-dialog.component.html
  src/main/webapp/app/shared/delete-dialog/delete-dialog.component.ts
  src/main/webapp/app/shared/delete-dialog/delete-dialog.model.ts
  src/main/webapp/app/shared/delete-dialog/delete-dialog.service.ts
  src/main/webapp/i18n/de/course.json
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/en/course.json
  src/main/webapp/i18n/en/exam.json
  src/test/java/de/tum/cit/aet/artemis/communication/util/ConversationUtilService.java
  src/test/java/de/tum/cit/aet/artemis/core/service/CourseServiceTest.java
  src/test/java/de/tum/cit/aet/artemis/exam/ExamDeletionIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/exam/util/ExamUtilService.java
Labels: tests, ready for review, server, client, lock:artemis-test6, too-long-open, communication, core, exam, programming

#9458 `Development`: Fix architecture tests for exam deletion summary
  src/main/java/de/tum/cit/aet/artemis/core/web/admin/AdminCourseResource.java
  src/test/java/de/tum/cit/aet/artemis/core/service/CourseServiceTest.java
  src/test/java/de/tum/cit/aet/artemis/exam/ExamDeletionIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/exam/util/ExamUtilService.java
Labels: tests, server, ready to merge, core, exam

#9445 `Tutorial groups`: Redesign overview page
  src/main/webapp/app/course/tutorial-groups/shared/tutorial-group-detail/tutorial-group-detail.component.html
  src/main/webapp/app/course/tutorial-groups/shared/tutorial-group-detail/tutorial-group-detail.component.scss
  src/main/webapp/app/course/tutorial-groups/shared/tutorial-group-detail/tutorial-group-detail.component.ts
  src/main/webapp/app/course/tutorial-groups/shared/tutorial-groups-shared.module.ts
  src/main/webapp/app/shared/icon-card/icon-card.component.html
  src/main/webapp/app/shared/icon-card/icon-card.component.scss
  src/main/webapp/app/shared/icon-card/icon-card.component.ts
  src/main/webapp/i18n/de/tutorialGroups.json
  src/main/webapp/i18n/en/tutorialGroups.json
  src/test/javascript/spec/component/shared/icon-card/icon-card.component.spec.ts
  src/test/javascript/spec/component/tutorial-groups/shared/tutorial-group-detail.component.spec.ts
Labels: tests, ready for review, client, component:TutorialGroups, lock:artemis-test1

#9350 `Plagiarism checks`: Use file extensions for plagiarism view
  src/main/java/de/tum/cit/aet/artemis/programming/service/RepositoryService.java
  src/main/webapp/app/exercises/programming/shared/code-editor/file-browser/code-editor-file-browser.component.ts
  src/main/webapp/app/exercises/programming/shared/code-editor/file-browser/supported-file-extensions.ts
  src/main/webapp/app/exercises/programming/shared/code-editor/service/code-editor-repository.service.ts
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-split-view/text-submission-viewer/text-submission-viewer.component.ts
  src/main/webapp/app/lecture/lecture-attachments.component.ts
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/attachment-unit-form/attachment-unit-form.component.ts
  src/main/webapp/app/lecture/lecture-update.component.ts
  src/main/webapp/app/shared/constants/file-extensions.constants.ts
  src/main/webapp/app/shared/http/file-uploader.service.ts
  src/test/javascript/spec/component/plagiarism/text-submission-viewer.component.spec.ts
Labels: tests, ready for review, server, client, programming

#9443 `Development`: Migrate the git diff report module to standalone components
  src/main/webapp/app/detail-overview-list/components/programming-diff-report-detail/programming-diff-report-detail.component.ts
  src/main/webapp/app/detail-overview-list/detail.module.ts
  src/main/webapp/app/exam/manage/exam-management.module.ts
  src/main/webapp/app/exam/manage/student-exams/student-exam-timeline/programming-exam-diff/programming-exercise-exam-diff.component.ts
  src/main/webapp/app/exercises/programming/hestia/generation-overview/code-hint-generation-overview/code-hint-generation-overview.module.ts
  src/main/webapp/app/exercises/programming/hestia/git-diff-report/git-diff-file-panel-title.component.html
  src/main/webapp/app/exercises/programming/hestia/git-diff-report/git-diff-file-panel-title.component.ts
  src/main/webapp/app/exercises/programming/hestia/git-diff-report/git-diff-file-panel.component.html
  src/main/webapp/app/exercises/programming/hestia/git-diff-report/git-diff-file-panel.component.ts
  src/main/webapp/app/exercises/programming/hestia/git-diff-report/git-diff-file.component.html
  src/main/webapp/app/exercises/programming/hestia/git-diff-report/git-diff-file.component.ts
  src/main/webapp/app/exercises/programming/hestia/git-diff-report/git-diff-line-stat.component.html
  src/main/webapp/app/exercises/programming/hestia/git-diff-report/git-diff-line-stat.component.ts
  src/main/webapp/app/exercises/programming/hestia/git-diff-report/git-diff-report-modal.component.html
  src/main/webapp/app/exercises/programming/hestia/git-diff-report/git-diff-report-modal.component.ts
  src/main/webapp/app/exercises/programming/hestia/git-diff-report/git-diff-report.component.html
  src/main/webapp/app/exercises/programming/hestia/git-diff-report/git-diff-report.component.ts
  src/main/webapp/app/exercises/programming/hestia/git-diff-report/git-diff-report.module.ts
  src/main/webapp/app/exercises/programming/manage/programming-exercise-management.module.ts
  src/main/webapp/app/exercises/programming/participate/programming-repository.module.ts
  src/main/webapp/app/shared/monaco-editor/monaco-diff-editor.component.scss
  src/main/webapp/app/shared/monaco-editor/monaco-diff-editor.component.ts
  src/main/webapp/app/shared/monaco-editor/monaco-editor.service.ts
  src/test/javascript/spec/component/exam/manage/programming-exam-diff.component.spec.ts
  src/test/javascript/spec/component/hestia/git-diff-report/git-diff-file-panel-title.component.spec.ts
  src/test/javascript/spec/component/hestia/git-diff-report/git-diff-file-panel.component.spec.ts
  src/test/javascript/spec/component/hestia/git-diff-report/git-diff-file.component.spec.ts
  src/test/javascript/spec/component/hestia/git-diff-report/git-diff-line-stat.component.spec.ts
  src/test/javascript/spec/component/hestia/git-diff-report/git-diff-modal.component.spec.ts
  src/test/javascript/spec/component/hestia/git-diff-report/git-diff-report.component.spec.ts
  src/test/javascript/spec/component/shared/monaco-editor/monaco-diff-editor.component.spec.ts
Labels: tests, ready for review, client, deployment-error

#9430 `General`: Fix an issue when trying to delete too many users at once
  src/main/java/de/tum/cit/aet/artemis/core/web/admin/AdminUserResource.java
  src/main/webapp/app/core/user/admin-user.service.ts
  src/test/java/de/tum/cit/aet/artemis/core/user/util/UserTestService.java
Labels: tests, ready for review, server, client, small, bugfix, server-api, core

#9437 `Modeling exercises`: Fix submission error and redundant tooltip for AI feedback
  src/main/java/de/tum/cit/aet/artemis/assessment/repository/ResultRepository.java
  src/main/java/de/tum/cit/aet/artemis/modeling/service/ModelingSubmissionService.java
  src/main/java/de/tum/cit/aet/artemis/modeling/web/ModelingSubmissionResource.java
  src/main/webapp/app/exercises/modeling/participate/modeling-submission.component.ts
Labels: ready for review, server, client, assessment, modeling

#9397 `Integrated code lifecycle`: Disable access to personal VCS access tokens in account settings for students
  src/main/webapp/app/core/auth/account.service.ts
  src/main/webapp/app/shared/user-settings/user-settings-container/user-settings-container.component.html
  src/main/webapp/app/shared/user-settings/user-settings-container/user-settings-container.component.ts
  src/main/webapp/app/shared/user-settings/user-settings.module.ts
  src/test/javascript/spec/component/account/user-settings-container.component.spec.ts
Labels: tests, ready for review, client, ready to merge

#9123 `Exam mode`: Generate student exam on demand if student is registered for the exam
  src/main/java/de/tum/cit/aet/artemis/exam/service/ExamAccessService.java
  src/main/java/de/tum/cit/aet/artemis/exam/service/ExamRegistrationService.java
  src/main/java/de/tum/cit/aet/artemis/exam/service/StudentExamService.java
  src/test/java/de/tum/cit/aet/artemis/exam/ExamRegistrationIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/exam/service/ExamAccessServiceTest.java
Labels: tests, server, small, ready to merge, exam

#9459 `General`: Cache course icons and profile pictures to improve performance
  src/main/java/de/tum/cit/aet/artemis/core/config/PublicResourcesConfiguration.java
  src/main/java/de/tum/cit/aet/artemis/core/web/FileResource.java
  src/main/webapp/app/overview/course-conversations/layout/conversation-messages/conversation-messages.component.ts
  src/main/webapp/app/shared/metis/metis-conversation.service.ts
  src/test/java/de/tum/cit/aet/artemis/core/util/CourseTestService.java
  src/test/java/de/tum/cit/aet/artemis/quiz/QuizExerciseIntegrationTest.java
Labels: tests, server, client, core, quiz

#9462 `Development`: Fix exam assessment e2e tests failing
  src/test/playwright/e2e/exam/ExamAssessment.spec.ts
  src/test/playwright/e2e/exam/ExamDateVerification.spec.ts
Labels: tests, ready for review, bugfix, playwright

#9463 `Programming exercises`: Add custom themes for the Monaco editor
  src/main/webapp/app/shared/monaco-editor/model/themes/editor-colors.interface.ts
  src/main/webapp/app/shared/monaco-editor/model/themes/language-token-style-definition.interface.ts
  src/main/webapp/app/shared/monaco-editor/model/themes/monaco-dark.theme.ts
  src/main/webapp/app/shared/monaco-editor/model/themes/monaco-editor-theme.model.ts
  src/main/webapp/app/shared/monaco-editor/model/themes/monaco-light.theme.ts
  src/main/webapp/app/shared/monaco-editor/model/themes/monaco-theme-definition.interface.ts
  src/main/webapp/app/shared/monaco-editor/monaco-editor.component.scss
  src/main/webapp/app/shared/monaco-editor/monaco-editor.service.ts
  src/test/javascript/spec/component/shared/monaco-editor/monaco-editor-theme.spec.ts
  src/test/javascript/spec/component/shared/monaco-editor/monaco-editor.service.spec.ts
Labels: tests, ready for review, client, ready to merge, maintainer-approved

#9465 `Assessment`: Remove unnecessary whitespace in result date
  src/main/webapp/app/exercises/shared/result/result.component.html
Labels: ready for review, client, chore, small, user interface

#9472 `Development`: Fix the exam results overview playwright test
  src/test/playwright/e2e/exam/ExamResults.spec.ts
  src/test/playwright/support/requests/ExamAPIRequests.ts
Labels: tests, ready for review, playwright

#9467 `Communication`: Add default message to empty FAQ view
  src/main/webapp/app/overview/course-faq/course-faq.component.html
  src/main/webapp/app/overview/course-faq/course-faq.component.ts
  src/main/webapp/i18n/de/faq.json
  src/main/webapp/i18n/en/faq.json
Labels: ready for review, client

#9475 `Programming exercises`: Do not always show the request feedback button in the online code editor
  src/main/webapp/app/overview/exercise-details/request-feedback-button/request-feedback-button.component.html
  src/main/webapp/app/overview/exercise-details/request-feedback-button/request-feedback-button.component.ts
  src/test/javascript/spec/component/overview/exercise-details/request-feedback-button/request-feedback-button.component.spec.ts
Labels: tests, ready for review, client, bugfix

#9480 `Communication`: Reduce height of channel and chat item card
  src/main/webapp/app/shared/sidebar/conversation-options/conversation-options.component.html
  src/main/webapp/app/shared/sidebar/sidebar-card-item/sidebar-card-item.component.html
  src/main/webapp/app/shared/sidebar/sidebar-card-medium/sidebar-card-medium.component.html
  src/main/webapp/app/shared/sidebar/sidebar-card-small/sidebar-card-small.component.html
Labels: client, ready to merge, maintainer-approved

#9471 `Development`: Fix diverging translations
  src/main/webapp/app/exercises/programming/manage/update/update-components/programming-exercise-difficulty.component.html
  src/main/webapp/i18n/de/competency.json
  src/main/webapp/i18n/de/dragAndDropSubmittedAnswer.json
  src/main/webapp/i18n/de/editor.json
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/de/exercise-actions.json
  src/main/webapp/i18n/de/exerciseAssessmentDashboard.json
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/de/lectureUnit.json
  src/main/webapp/i18n/de/metrics.json
  src/main/webapp/i18n/de/notification.json
  src/main/webapp/i18n/de/organizationManagement.json
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/de/quizExercise.json
  src/main/webapp/i18n/de/student-dashboard.json
  src/main/webapp/i18n/de/userSettings.json
  src/main/webapp/i18n/en/competency.json
  src/main/webapp/i18n/en/complaint.json
  src/main/webapp/i18n/en/conversation.json
  src/main/webapp/i18n/en/dragAndDropSubmittedAnswer.json
  src/main/webapp/i18n/en/editor.json
  src/main/webapp/i18n/en/exam.json
  src/main/webapp/i18n/en/exampleSubmission.json
  src/main/webapp/i18n/en/exerciseAssessmentDashboard.json
  src/main/webapp/i18n/en/lectureUnit.json
  src/main/webapp/i18n/en/modelingAssessment.json
  src/main/webapp/i18n/en/multipleChoiceQuestion.json
  src/main/webapp/i18n/en/notification.json
  src/main/webapp/i18n/en/programmingExercise.json
  src/main/webapp/i18n/en/quizExercise.json
  src/main/webapp/i18n/en/student-dashboard.json
  src/test/javascript/spec/component/programming-exercise/update-components/programming-exercise-difficulty.component.spec.ts
Labels: tests, ready for review, client, chore, ready to merge

#9466 `Development`: Synchronize windfiles and build scripts
  src/main/resources/templates/aeolus/c/fact.yaml
  src/main/resources/templates/aeolus/c/gcc.yaml
  src/main/resources/templates/aeolus/c/gcc_static.yaml
  src/main/resources/templates/aeolus/swift/plain.yaml
  src/main/resources/templates/aeolus/swift/plain_static.yaml
Labels: small, ready to merge, template

#9482 `Lectures`: Fix PDF rendering issue in lecture units
  build.gradle
Labels: bugfix, ready to merge

#9144 `Learning path`: Redesign learning path instructor view
  src/main/java/de/tum/cit/aet/artemis/atlas/dto/CompetencyGraphNodeDTO.java
  src/main/java/de/tum/cit/aet/artemis/atlas/dto/LearningPathHealthDTO.java
  src/main/java/de/tum/cit/aet/artemis/atlas/repository/CompetencyProgressRepository.java
  src/main/java/de/tum/cit/aet/artemis/atlas/service/learningpath/LearningPathService.java
  src/main/java/de/tum/cit/aet/artemis/atlas/web/LearningPathResource.java
  src/main/java/de/tum/cit/aet/artemis/core/repository/CourseRepository.java
  src/main/webapp/app/admin/metrics/metrics.model.ts
  src/main/webapp/app/course/learning-paths/components/competency-graph-modal/competency-graph-modal.component.ts
  src/main/webapp/app/course/learning-paths/components/competency-node/competency-node.component.html
  src/main/webapp/app/course/learning-paths/components/competency-node/competency-node.component.ts
  src/main/webapp/app/course/learning-paths/components/learning-path-nav-overview/learning-path-nav-overview.component.ts
  src/main/webapp/app/course/learning-paths/components/learning-paths-analytics/learning-paths-analytics.component.html
  src/main/webapp/app/course/learning-paths/components/learning-paths-analytics/learning-paths-analytics.component.scss
  src/main/webapp/app/course/learning-paths/components/learning-paths-analytics/learning-paths-analytics.component.ts
  src/main/webapp/app/course/learning-paths/components/learning-paths-configuration/learning-paths-configuration.component.html
  src/main/webapp/app/course/learning-paths/components/learning-paths-configuration/learning-paths-configuration.component.ts
  src/main/webapp/app/course/learning-paths/components/learning-paths-state/learning-paths-state.component.html
  src/main/webapp/app/course/learning-paths/components/learning-paths-state/learning-paths-state.component.scss
  src/main/webapp/app/course/learning-paths/components/learning-paths-state/learning-paths-state.component.ts
  src/main/webapp/app/course/learning-paths/components/learning-paths-table/learning-paths-table.component.html
  src/main/webapp/app/course/learning-paths/components/learning-paths-table/learning-paths-table.component.scss
  src/main/webapp/app/course/learning-paths/components/learning-paths-table/learning-paths-table.component.ts
  src/main/webapp/app/course/learning-paths/learning-path-management/learning-path-management.component.html
  src/main/webapp/app/course/learning-paths/learning-path-management/learning-path-management.component.ts
  src/main/webapp/app/course/learning-paths/pages/learning-path-instructor-page/learning-path-instructor-page.component.html
  src/main/webapp/app/course/learning-paths/pages/learning-path-instructor-page/learning-path-instructor-page.component.scss
  src/main/webapp/app/course/learning-paths/pages/learning-path-instructor-page/learning-path-instructor-page.component.ts
  src/main/webapp/app/course/learning-paths/services/base-api-http.service.ts
  src/main/webapp/app/course/learning-paths/services/learning-path-api.service.ts
  src/main/webapp/app/course/manage/course-management.route.ts
  src/main/webapp/app/entities/competency/learning-path-health.model.ts
  src/main/webapp/app/entities/competency/learning-path.model.ts
  src/main/webapp/i18n/de/learningPathManagement.json
  src/main/webapp/i18n/en/learningPathManagement.json
  src/test/java/de/tum/cit/aet/artemis/atlas/learningpath/LearningPathIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/atlas/service/LearningPathServiceTest.java
  src/test/javascript/spec/component/learning-paths/components/learning-paths-analytics.component.spec.ts
  src/test/javascript/spec/component/learning-paths/components/learning-paths-configuration.component.spec.ts
  src/test/javascript/spec/component/learning-paths/components/learning-paths-state.component.spec.ts
  src/test/javascript/spec/component/learning-paths/components/learning-paths-table.component.spec.ts
  src/test/javascript/spec/component/learning-paths/management/learning-path-management.component.spec.ts
  src/test/javascript/spec/component/learning-paths/pages/learning-path-instructor-page.component.spec.ts
  src/test/javascript/spec/component/learning-paths/pages/learning-path-student-page.component.spec.ts
  src/test/javascript/spec/service/learning-path/learning-path-api.service.spec.ts
Labels: tests, server, client, atlas, core

#9321 `Integrated code lifecycle`: Add auxiliary repository view
  src/main/java/de/tum/cit/aet/artemis/programming/service/ProgrammingExerciseParticipationService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/ProgrammingExerciseService.java
  src/main/java/de/tum/cit/aet/artemis/programming/web/ProgrammingExerciseParticipationResource.java
  src/main/java/de/tum/cit/aet/artemis/programming/web/ProgrammingExerciseResource.java
  src/main/java/de/tum/cit/aet/artemis/programming/web/repository/AuxiliaryRepositoryResource.java
  src/main/webapp/app/detail-overview-list/components/programming-auxiliary-repository-buttons-detail/programming-auxiliary-repository-buttons-detail.component.html
  src/main/webapp/app/detail-overview-list/detail-overview-list.component.html
  src/main/webapp/app/exercises/programming/manage/programming-exercise-management-routing.module.ts
  src/main/webapp/app/exercises/programming/manage/services/programming-exercise-participation.service.ts
  src/main/webapp/app/exercises/programming/manage/services/programming-exercise.service.ts
  src/main/webapp/app/exercises/programming/shared/code-editor/model/code-editor.model.ts
  src/main/webapp/app/exercises/programming/shared/code-editor/service/code-editor-conflict-state.service.ts
  src/main/webapp/app/exercises/programming/shared/code-editor/service/code-editor-domain-dependent-endpoint.service.ts
  src/main/webapp/app/exercises/programming/shared/code-editor/service/code-editor-domain.service.ts
  src/main/webapp/app/localvc/commit-history/commit-history.component.ts
  src/main/webapp/app/localvc/repository-view/repository-view.component.ts
  src/test/java/de/tum/cit/aet/artemis/exercise/programming/AuxiliaryRepositoryResourceIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/ProgrammingExerciseIntegrationTestService.java
  src/test/java/de/tum/cit/aet/artemis/programming/ProgrammingExerciseParticipationIntegrationTest.java
  src/test/javascript/spec/component/localvc/commit-history.component.spec.ts
  src/test/javascript/spec/component/localvc/repository-view.component.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-programming-exercise-participation.service.ts
  src/test/javascript/spec/helpers/mocks/service/mock-programming-exercise.service.ts
  src/test/javascript/spec/service/programming-exercise.service.spec.ts
Labels: tests, ready for review, server, client, component:Programming, exercise, programming

#9509 `Development`: Update programming exercise ICL docs
  docs/user/exercises/programming-exercise-setup.inc
  docs/user/exercises/programming/checkout-paths-edit.png
  docs/user/exercises/programming/checkout-paths-preview.png
  docs/user/exercises/programming/timeout-slider.png
Labels: ready for review, documentation

#9348 `Integrated code lifecycle`: Allow admins to pause build agents
  src/main/java/de/tum/cit/aet/artemis/buildagent/dto/BuildAgentInformation.java
  src/main/java/de/tum/cit/aet/artemis/buildagent/service/BuildJobManagementService.java
  src/main/java/de/tum/cit/aet/artemis/buildagent/service/SharedQueueProcessingService.java
  src/main/java/de/tum/cit/aet/artemis/core/web/admin/AdminBuildJobQueueResource.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/localci/SharedQueueManagementService.java
  src/main/webapp/app/entities/programming/build-agent.model.ts
  src/main/webapp/app/localci/build-agents/build-agent-details/build-agent-details/build-agent-details.component.html
  src/main/webapp/app/localci/build-agents/build-agent-details/build-agent-details/build-agent-details.component.ts
  src/main/webapp/app/localci/build-agents/build-agent-summary/build-agent-summary.component.html
  src/main/webapp/app/localci/build-agents/build-agents.service.ts
  src/main/webapp/i18n/de/buildAgents.json
  src/main/webapp/i18n/en/buildAgents.json
  src/test/java/de/tum/cit/aet/artemis/programming/icl/LocalCIIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/icl/LocalCIResourceIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/icl/LocalCIServiceTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/icl/LocalVCLocalCIIntegrationTest.java
  src/test/javascript/spec/component/localci/build-agents/build-agent-details.component.spec.ts
  src/test/javascript/spec/component/localci/build-agents/build-agent-summary.component.spec.ts
  src/test/javascript/spec/component/localci/build-agents/build-agents.service.spec.ts
Labels: tests, server, client, ready to merge, buildagent, core, programming

#9511 `Adaptive learning`: Explain course competency view
  src/main/resources/public/videos/course-competencies/create-competencies.gif
  src/main/resources/public/videos/course-competencies/create-course-competency-relations.gif
  src/main/webapp/app/course/competencies/competency-management/competency-management.component.html
  src/main/webapp/app/course/competencies/competency-management/competency-management.component.ts
  src/main/webapp/app/course/competencies/components/course-competency-explanation-modal/course-competency-explanation-modal.component.html
  src/main/webapp/app/course/competencies/components/course-competency-explanation-modal/course-competency-explanation-modal.component.ts
  src/main/webapp/i18n/de/competency.json
  src/main/webapp/i18n/en/competency.json
Labels: client, small

#9356 `Communication`: Improve sidebar user interface design
  src/main/webapp/app/overview/course-conversations/course-conversations.component.html
  src/main/webapp/app/overview/course-conversations/course-conversations.component.ts
  src/main/webapp/app/overview/course-conversations/dialogs/channels-create-dialog/channels-create-dialog.component.html
  src/main/webapp/app/overview/course-conversations/dialogs/channels-overview-dialog/channel-item/channel-item.component.scss
  src/main/webapp/app/overview/course-conversations/dialogs/channels-overview-dialog/channels-overview-dialog.component.html
  src/main/webapp/app/overview/course-conversations/dialogs/channels-overview-dialog/channels-overview-dialog.component.scss
  src/main/webapp/app/overview/course-conversations/dialogs/channels-overview-dialog/channels-overview-dialog.component.ts
  src/main/webapp/app/overview/course-conversations/dialogs/conversation-detail-dialog/tabs/conversation-settings/conversation-settings.component.html
  src/main/webapp/app/overview/course-conversations/dialogs/conversation-detail-dialog/tabs/conversation-settings/conversation-settings.component.ts
  src/main/webapp/app/overview/course-conversations/dialogs/group-chat-create-dialog/group-chat-create-dialog.component.html
  src/main/webapp/app/overview/course-conversations/dialogs/one-to-one-chat-create-dialog/one-to-one-chat-create-dialog.component.html
  src/main/webapp/app/shared/course-users-selector/course-users-selector.component.html
  src/main/webapp/app/shared/course-users-selector/course-users-selector.component.ts
  src/main/webapp/app/shared/sidebar/accordion-add-options/accordion-add-options.component.html
  src/main/webapp/app/shared/sidebar/accordion-add-options/accordion-add-options.component.scss
  src/main/webapp/app/shared/sidebar/accordion-add-options/accordion-add-options.component.ts
  src/main/webapp/app/shared/sidebar/sidebar-accordion/sidebar-accordion.component.html
  src/main/webapp/app/shared/sidebar/sidebar-accordion/sidebar-accordion.component.ts
  src/main/webapp/app/shared/sidebar/sidebar-card-item/sidebar-card-item.component.ts
  src/main/webapp/app/shared/sidebar/sidebar-card-large/sidebar-card-large.component.html
  src/main/webapp/app/shared/sidebar/sidebar-card-large/sidebar-card-large.component.ts
  src/main/webapp/app/shared/sidebar/sidebar-card-medium/sidebar-card-medium.component.html
  src/main/webapp/app/shared/sidebar/sidebar-card-medium/sidebar-card-medium.component.ts
  src/main/webapp/app/shared/sidebar/sidebar-card-small/sidebar-card-small.component.html
  src/main/webapp/app/shared/sidebar/sidebar-card-small/sidebar-card-small.component.ts
  src/main/webapp/app/shared/sidebar/sidebar-card.directive.ts
  src/main/webapp/app/shared/sidebar/sidebar-event.service.ts
  src/main/webapp/app/shared/sidebar/sidebar.component.html
  src/main/webapp/app/shared/sidebar/sidebar.component.scss
  src/main/webapp/app/shared/sidebar/sidebar.component.ts
  src/main/webapp/app/shared/sidebar/sidebar.module.ts
  src/main/webapp/app/types/sidebar.ts
  src/main/webapp/i18n/de/conversation.json
  src/main/webapp/i18n/de/student-dashboard.json
  src/main/webapp/i18n/en/conversation.json
  src/main/webapp/i18n/en/student-dashboard.json
  src/test/javascript/spec/component/overview/course-conversations/course-conversations.component.spec.ts
  src/test/javascript/spec/component/overview/course-conversations/dialogs/channels-overview-dialog/channels-overview-dialog.component.spec.ts
  src/test/javascript/spec/component/shared/sidebar/accordion-add-options.component.spec.ts
  src/test/javascript/spec/component/shared/sidebar/sidebar-accordion.component.spec.ts
  src/test/javascript/spec/component/shared/sidebar/sidebar.component.spec.ts
  src/test/javascript/spec/directive/sidebar-card.directive.spec.ts
Labels: tests, client, ready to merge, component:Communication, maintainer-approved

#9432 `Development`: Add workflow to label issues
  .github/issue-labeler.yml
  .github/workflows/issue-labler.yml
Labels: ready for review, chore

#9468 `Programming exercises`: Adjust translations for participation mode tooltips
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/programmingExercise.json
Labels: ready for review, client

#9520 `Communication`: Fix markdown render of announcement e-mail
  src/main/java/de/tum/cit/aet/artemis/communication/service/notifications/MailService.java
Labels: ready for review, server, small, bugfix, component:Communication, communication

#9473 `Communication`: Remove hidden conversations from favorites
  src/main/webapp/app/shared/sidebar/conversation-options/conversation-options.component.ts
  src/test/javascript/spec/component/shared/sidebar/conversation-options.component.spec.ts
Labels: tests, client, small, bugfix, ready to merge, component:Communication, maintainer-approved

#9419 `Development`: Refactor tutorial group tests
  src/test/java/de/tum/cit/aet/artemis/tutorialgroup/AbstractTutorialGroupIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/tutorialgroup/TutorialGroupIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/tutorialgroup/architecture/TutorialGroupTestArchitectureTest.java
Labels: tests, ready for review, tutorialgroup

#9481 `General`: Design the border radius of the sidebar uniformly
  src/main/webapp/app/overview/course-overview.component.html
Labels: client

#9261 `Programming exercises`: Add C++ programming language template
  build.gradle
  docs/user/exercises/programming-exercise-features.inc
  src/main/java/de/tum/cit/aet/artemis/plagiarism/service/ProgrammingPlagiarismDetectionService.java
  src/main/java/de/tum/cit/aet/artemis/programming/domain/ProgrammingLanguage.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/TemplateUpgradePolicyService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/ci/ContinuousIntegrationService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/jenkins/JenkinsProgrammingLanguageFeatureService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/jenkins/build_plan/JenkinsBuildPlanService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/localci/LocalCIProgrammingLanguageFeatureService.java
  src/main/resources/config/application.yml
  src/main/resources/templates/aeolus/c_plus_plus/default.sh
  src/main/resources/templates/aeolus/c_plus_plus/default.yaml
  src/main/resources/templates/c_plus_plus/exercise/.clang-format
  src/main/resources/templates/c_plus_plus/exercise/.gitattributes
  src/main/resources/templates/c_plus_plus/exercise/.gitignore
  src/main/resources/templates/c_plus_plus/exercise/CMakeLists.txt
  src/main/resources/templates/c_plus_plus/exercise/include/sort.hpp
  src/main/resources/templates/c_plus_plus/exercise/src/main.cpp
  src/main/resources/templates/c_plus_plus/exercise/src/sort.cpp
  src/main/resources/templates/c_plus_plus/readme
  src/main/resources/templates/c_plus_plus/solution/.clang-format
  src/main/resources/templates/c_plus_plus/solution/.gitattributes
  src/main/resources/templates/c_plus_plus/solution/.gitignore
  src/main/resources/templates/c_plus_plus/solution/CMakeLists.txt
  src/main/resources/templates/c_plus_plus/solution/include/sort.hpp
  src/main/resources/templates/c_plus_plus/solution/src/main.cpp
  src/main/resources/templates/c_plus_plus/solution/src/sort.cpp
  src/main/resources/templates/c_plus_plus/test/.clang-format
  src/main/resources/templates/c_plus_plus/test/.gitattributes
  src/main/resources/templates/c_plus_plus/test/.gitignore
  src/main/resources/templates/c_plus_plus/test/CMakeLists.txt
  src/main/resources/templates/c_plus_plus/test/Tests.py
  src/main/resources/templates/c_plus_plus/test/src/sort-test.cpp
  src/main/resources/templates/c_plus_plus/test/testUtils/AbstractProgramTest.py
  src/main/resources/templates/c_plus_plus/test/testUtils/AbstractTest.py
  src/main/resources/templates/c_plus_plus/test/testUtils/TestFailedError.py
  src/main/resources/templates/c_plus_plus/test/testUtils/Tester.py
  src/main/resources/templates/c_plus_plus/test/testUtils/Utils.py
  src/main/resources/templates/c_plus_plus/test/testUtils/junit/Junit.py
  src/main/resources/templates/c_plus_plus/test/testUtils/junit/TestCase.py
  src/main/resources/templates/c_plus_plus/test/testUtils/junit/TestSuite.py
  src/main/resources/templates/c_plus_plus/test/tests/TestCatch2.py
  src/main/resources/templates/c_plus_plus/test/tests/TestCompile.py
  src/main/resources/templates/c_plus_plus/test/tests/TestConfigure.py
  src/main/resources/templates/c_plus_plus/test/tests/TestOutput.py
  src/main/resources/templates/jenkins/c_plus_plus/regularRuns/pipeline.groovy
  src/main/webapp/app/entities/programming/programming-exercise.model.ts
  src/test/resources/config/application.yml
Labels: tests, ready for review, server, client, documentation, config-change, template, plagiarism, programming

#9526 `Development`: Fix console errors on course overview page
  src/main/webapp/app/overview/course-faq/course-faq.component.html
  src/main/webapp/app/overview/course-overview.component.html
  src/main/webapp/app/shared/sidebar/sidebar.component.html
Labels: ready for review, client

#9345 `Development`: Add more data for telemetry
  src/main/java/de/tum/cit/aet/artemis/core/service/TelemetrySendingService.java
  src/main/java/de/tum/cit/aet/artemis/core/service/telemetry/TelemetrySendingService.java
  src/main/java/de/tum/cit/aet/artemis/core/service/telemetry/TelemetryService.java
  src/test/java/de/tum/cit/aet/artemis/core/service/TelemetryServiceTest.java
  src/test/resources/config/application-artemis.yml
  src/test/resources/config/application.yml
Labels: tests, server, lock:artemis-test4, core

#9528 `Communication`: Fix an issue when referencing lectures that contain brackets in title
  src/main/webapp/app/shared/monaco-editor/model/actions/communication/lecture-attachment-reference.action.ts
  src/test/javascript/spec/component/shared/monaco-editor/monaco-editor-communication-action.integration.spec.ts
Labels: tests, ready for review, client, small, component:Communication, communication

#9425 `Integrated code lifecycle`: Improve access log handling
  src/main/java/de/tum/cit/aet/artemis/programming/domain/AuthenticationMechanism.java
  src/main/java/de/tum/cit/aet/artemis/programming/domain/VcsAccessLog.java
  src/main/java/de/tum/cit/aet/artemis/programming/repository/ProgrammingExerciseStudentParticipationRepository.java
  src/main/java/de/tum/cit/aet/artemis/programming/repository/SolutionProgrammingExerciseParticipationRepository.java
  src/main/java/de/tum/cit/aet/artemis/programming/repository/TemplateProgrammingExerciseParticipationRepository.java
  src/main/java/de/tum/cit/aet/artemis/programming/repository/VcsAccessLogRepository.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/ProgrammingExerciseParticipationService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/localvc/ArtemisGitServletService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/localvc/LocalVCFetchFilter.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/localvc/LocalVCFetchPreUploadHook.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/localvc/LocalVCFetchPreUploadHookSSH.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/localvc/LocalVCPushFilter.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/localvc/LocalVCServletService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/localvc/SshGitLocationResolverService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/localvc/VcsAccessLogService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/localvc/ssh/SshGitCommand.java
  src/main/java/de/tum/cit/aet/artemis/programming/web/repository/RepositoryActionType.java
  src/test/java/de/tum/cit/aet/artemis/exercise/participation/util/ParticipationUtilService.java
  src/test/java/de/tum/cit/aet/artemis/programming/icl/LocalVCLocalCIIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/util/ProgrammingExerciseFactory.java
  src/test/java/de/tum/cit/aet/artemis/programming/util/ProgrammingExerciseUtilService.java
Labels: tests, ready for review, server, exercise, programming

#9522 `Communication`: Improve unread messages count view on sidebar
  src/main/webapp/app/shared/sidebar/conversation-options/conversation-options.component.html
  src/main/webapp/app/shared/sidebar/sidebar-card-item/sidebar-card-item.component.html
  src/main/webapp/app/shared/sidebar/sidebar-card-item/sidebar-card-item.component.scss
  src/main/webapp/app/shared/sidebar/sidebar-card-item/sidebar-card-item.component.ts
  src/main/webapp/app/shared/sidebar/sidebar-card-medium/sidebar-card-medium.component.html
  src/main/webapp/app/shared/sidebar/sidebar-card-small/sidebar-card-small.component.html
  src/test/javascript/spec/component/shared/sidebar/sidebar-card-item.component.spec.ts
Labels: tests, client, small, ready to merge, component:Communication, lock:artemis-test1

#9490 `Programming exercises`: Fix test case parsing of nested test suite elements
  src/main/java/de/tum/cit/aet/artemis/buildagent/service/TestResultXmlParser.java
  src/test/java/de/tum/cit/aet/artemis/buildagent/service/TestResultXmlParserTest.java
Labels: tests, server, ready to merge, maintainer-approved, buildagent

#9387 `Development`: Improve boundary cases with Hazelcast
  src/main/java/de/tum/cit/aet/artemis/buildagent/service/SharedQueueProcessingService.java
  src/main/java/de/tum/cit/aet/artemis/exercise/web/ParticipationTeamWebsocketService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/localci/LocalCIResultProcessingService.java
Labels: ready for review, server, buildagent, exercise, programming

#9510 `Communication`: Always show favorite channels
  src/main/webapp/app/overview/course-conversations/course-conversations.component.html
  src/main/webapp/app/overview/course-conversations/course-conversations.component.ts
  src/main/webapp/app/overview/course-exams/course-exams.component.html
  src/main/webapp/app/overview/course-exams/course-exams.component.ts
  src/main/webapp/app/overview/course-exercises/course-exercises.component.html
  src/main/webapp/app/overview/course-exercises/course-exercises.component.ts
  src/main/webapp/app/overview/course-lectures/course-lectures.component.html
  src/main/webapp/app/overview/course-lectures/course-lectures.component.ts
  src/main/webapp/app/overview/course-tutorial-groups/course-tutorial-groups.component.html
  src/main/webapp/app/overview/course-tutorial-groups/course-tutorial-groups.component.ts
  src/main/webapp/app/shared/sidebar/sidebar-accordion/sidebar-accordion.component.html
  src/main/webapp/app/shared/sidebar/sidebar-accordion/sidebar-accordion.component.ts
  src/main/webapp/app/shared/sidebar/sidebar.component.html
  src/main/webapp/app/shared/sidebar/sidebar.component.ts
  src/main/webapp/app/types/sidebar.ts
  src/test/javascript/spec/component/shared/sidebar/sidebar-accordion.component.spec.ts
Labels: tests, ready for review, client

#9536 `Development`: Fix course messages e2e tests
  src/test/playwright/e2e/course/CourseMessages.spec.ts
  src/test/playwright/support/pageobjects/course/CourseMessagesPage.ts
Labels: tests, ready for review, playwright

#9447 `Adaptive learning`: Redesign edit competency relation section
  src/main/java/de/tum/cit/aet/artemis/atlas/dto/UpdateCourseCompetencyRelationDTO.java
  src/main/java/de/tum/cit/aet/artemis/atlas/service/competency/CompetencyService.java
  src/main/java/de/tum/cit/aet/artemis/atlas/service/competency/CourseCompetencyService.java
  src/main/java/de/tum/cit/aet/artemis/atlas/service/competency/PrerequisiteService.java
  src/main/java/de/tum/cit/aet/artemis/atlas/web/CourseCompetencyResource.java
  src/main/webapp/app/course/competencies/competency-management/competency-management-table.component.ts
  src/main/webapp/app/course/competencies/competency-management/competency-management.component.html
  src/main/webapp/app/course/competencies/competency-management/competency-management.component.ts
  src/main/webapp/app/course/competencies/competency-management/competency-relation-graph.component.html
  src/main/webapp/app/course/competencies/competency-management/competency-relation-graph.component.scss
  src/main/webapp/app/course/competencies/competency-management/competency-relation-graph.component.ts
  src/main/webapp/app/course/competencies/competency.module.ts
  src/main/webapp/app/course/competencies/components/course-competencies-relation-graph/course-competencies-relation-graph.component.html
  src/main/webapp/app/course/competencies/components/course-competencies-relation-graph/course-competencies-relation-graph.component.scss
  src/main/webapp/app/course/competencies/components/course-competencies-relation-graph/course-competencies-relation-graph.component.ts
  src/main/webapp/app/course/competencies/components/course-competencies-relation-modal/course-competencies-relation-modal.component.html
  src/main/webapp/app/course/competencies/components/course-competencies-relation-modal/course-competencies-relation-modal.component.scss
  src/main/webapp/app/course/competencies/components/course-competencies-relation-modal/course-competencies-relation-modal.component.ts
  src/main/webapp/app/course/competencies/components/course-competency-relation-form/course-competency-relation-form.component.html
  src/main/webapp/app/course/competencies/components/course-competency-relation-form/course-competency-relation-form.component.scss
  src/main/webapp/app/course/competencies/components/course-competency-relation-form/course-competency-relation-form.component.ts
  src/main/webapp/app/course/competencies/components/course-competency-relation-node/course-competency-relation-node.component.html
  src/main/webapp/app/course/competencies/components/course-competency-relation-node/course-competency-relation-node.component.scss
  src/main/webapp/app/course/competencies/components/course-competency-relation-node/course-competency-relation-node.component.ts
  src/main/webapp/app/course/competencies/services/course-competency-api.service.ts
  src/main/webapp/app/entities/competency.model.ts
  src/main/webapp/i18n/de/competency.json
  src/main/webapp/i18n/en/competency.json
  src/test/java/de/tum/cit/aet/artemis/atlas/competency/CourseCompetencyIntegrationTest.java
  src/test/javascript/spec/component/competencies/competency-management/competency-management-table.component.spec.ts
  src/test/javascript/spec/component/competencies/competency-management/competency-management.component.spec.ts
  src/test/javascript/spec/component/competencies/competency-management/competency-relation-graph-stub.component.ts
  src/test/javascript/spec/component/competencies/competency-management/competency-relation-graph.component.spec.ts
  src/test/javascript/spec/component/competencies/components/course-competencies-relation-graph.component.spec.ts
  src/test/javascript/spec/component/competencies/components/course-competencies-relation-modal.component.spec.ts
  src/test/javascript/spec/component/competencies/components/course-competency-relation-form.component.spec.ts
  src/test/javascript/spec/component/competencies/components/course-competency-relation-node.component.spec.ts
  src/test/javascript/spec/component/competencies/components/import-all-course-competencies-modal.component.spec.ts
  src/test/javascript/spec/component/competencies/components/import-course-competencies-settings.component.spec.ts
  src/test/javascript/spec/service/course-competency/course-competency-api.service.spec.ts
Labels: tests, server, client, ready to merge, atlas

#9440 `Programming exercises`: Add typescript programming language template
  build.gradle
  docs/user/exercises/programming-exercise-features.inc
  src/main/java/de/tum/cit/aet/artemis/plagiarism/service/ProgrammingPlagiarismDetectionService.java
  src/main/java/de/tum/cit/aet/artemis/programming/domain/ProgrammingLanguage.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/TemplateUpgradePolicyService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/ci/ContinuousIntegrationService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/jenkins/JenkinsProgrammingLanguageFeatureService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/jenkins/build_plan/JenkinsBuildPlanService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/localci/LocalCIProgrammingLanguageFeatureService.java
  src/main/resources/config/application.yml
  src/main/resources/templates/aeolus/typescript/default.sh
  src/main/resources/templates/aeolus/typescript/default.yaml
  src/main/resources/templates/jenkins/typescript/regularRuns/pipeline.groovy
  src/main/resources/templates/typescript/exercise/.gitignore
  src/main/resources/templates/typescript/exercise/package-lock.json
  src/main/resources/templates/typescript/exercise/package.json
  src/main/resources/templates/typescript/exercise/src/bubblesort.ts
  src/main/resources/templates/typescript/exercise/src/client.ts
  src/main/resources/templates/typescript/exercise/src/context.ts
  src/main/resources/templates/typescript/exercise/src/mergesort.ts
  src/main/resources/templates/typescript/exercise/src/policy.ts
  src/main/resources/templates/typescript/exercise/src/sortstrategy.ts
  src/main/resources/templates/typescript/exercise/tsconfig.json
  src/main/resources/templates/typescript/readme
  src/main/resources/templates/typescript/solution/.gitignore
  src/main/resources/templates/typescript/solution/package-lock.json
  src/main/resources/templates/typescript/solution/package.json
  src/main/resources/templates/typescript/solution/src/bubblesort.ts
  src/main/resources/templates/typescript/solution/src/client.ts
  src/main/resources/templates/typescript/solution/src/comparable.ts
  src/main/resources/templates/typescript/solution/src/context.ts
  src/main/resources/templates/typescript/solution/src/mergesort.ts
  src/main/resources/templates/typescript/solution/src/policy.ts
  src/main/resources/templates/typescript/solution/src/sortstrategy.ts
  src/main/resources/templates/typescript/solution/tsconfig.json
  src/main/resources/templates/typescript/test/.gitignore
  src/main/resources/templates/typescript/test/jest.config.js
  src/main/resources/templates/typescript/test/package-lock.json
  src/main/resources/templates/typescript/test/package.json
  src/main/resources/templates/typescript/test/src/behavior.test.ts
  src/main/resources/templates/typescript/test/src/structural.test.ts
  src/main/resources/templates/typescript/test/tsconfig.json
  src/main/webapp/app/entities/programming/programming-exercise.model.ts
  src/test/resources/config/application.yml
Labels: tests, server, client, documentation, config-change, ready to merge, template, plagiarism, programming

#9542 `Integrated code lifecycle`: Improve clean up of temp folders in build agents
  src/main/java/de/tum/cit/aet/artemis/buildagent/service/BuildJobExecutionService.java
Labels: server, ready to merge, buildagent

#9455 `General`: Track token usage of LLM service requests
  src/main/java/de/tum/cit/aet/artemis/athena/dto/ResponseMetaDTO.java
  src/main/java/de/tum/cit/aet/artemis/athena/service/AthenaFeedbackSuggestionsService.java
  src/main/java/de/tum/cit/aet/artemis/core/domain/LLMRequest.java
  src/main/java/de/tum/cit/aet/artemis/core/domain/LLMServiceType.java
  src/main/java/de/tum/cit/aet/artemis/core/domain/LLMTokenUsageRequest.java
  src/main/java/de/tum/cit/aet/artemis/core/domain/LLMTokenUsageTrace.java
  src/main/java/de/tum/cit/aet/artemis/core/repository/LLMTokenUsageRequestRepository.java
  src/main/java/de/tum/cit/aet/artemis/core/repository/LLMTokenUsageTraceRepository.java
  src/main/java/de/tum/cit/aet/artemis/core/service/LLMTokenUsageService.java
  src/main/java/de/tum/cit/aet/artemis/iris/dto/IrisChatWebsocketDTO.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/IrisCompetencyGenerationService.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/pyris/PyrisJobService.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/pyris/PyrisStatusUpdateService.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/pyris/dto/chat/PyrisChatStatusUpdateDTO.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/pyris/dto/competency/PyrisCompetencyStatusUpdateDTO.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/pyris/dto/data/PyrisLLMCostDTO.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/pyris/job/CompetencyExtractionJob.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/pyris/job/CourseChatJob.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/pyris/job/ExerciseChatJob.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/pyris/job/TrackedSessionBasedPyrisJob.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/session/AbstractIrisChatSessionService.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/session/IrisCourseChatSessionService.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/session/IrisExerciseChatSessionService.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/session/IrisTextExerciseChatSessionService.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/websocket/IrisChatWebsocketService.java
  src/main/resources/config/liquibase/changelog/20241018053210_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/test/java/de/tum/cit/aet/artemis/iris/IrisChatMessageIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/iris/IrisChatTokenTrackingIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/iris/IrisChatWebsocketTest.java
  src/test/java/de/tum/cit/aet/artemis/iris/IrisCompetencyGenerationIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/iris/IrisTextExerciseChatMessageIntegrationTest.java
Labels: tests, server, database, ready to merge, athena, core, iris

#9343 `General`: Add course archive for old courses from previous semesters
  src/main/java/de/tum/cit/aet/artemis/core/dto/CourseForArchiveDTO.java
  src/main/java/de/tum/cit/aet/artemis/core/repository/CourseRepository.java
  src/main/java/de/tum/cit/aet/artemis/core/service/CourseService.java
  src/main/java/de/tum/cit/aet/artemis/core/web/CourseResource.java
  src/main/webapp/app/course/manage/course-for-archive-dto.ts
  src/main/webapp/app/course/manage/course-management.service.ts
  src/main/webapp/app/overview/course-archive/course-archive.component.html
  src/main/webapp/app/overview/course-archive/course-archive.component.scss
  src/main/webapp/app/overview/course-archive/course-archive.component.ts
  src/main/webapp/app/overview/course-card-header/course-card-header.component.html
  src/main/webapp/app/overview/course-card-header/course-card-header.component.scss
  src/main/webapp/app/overview/course-card-header/course-card-header.component.ts
  src/main/webapp/app/overview/course-card.component.html
  src/main/webapp/app/overview/course-card.component.ts
  src/main/webapp/app/overview/course-card.scss
  src/main/webapp/app/overview/course-overview.component.ts
  src/main/webapp/app/overview/courses-routing.module.ts
  src/main/webapp/app/overview/courses.component.html
  src/main/webapp/app/overview/courses.module.ts
  src/main/webapp/app/shared/layouts/navbar/navbar.component.ts
  src/main/webapp/i18n/de/course.json
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/de/student-dashboard.json
  src/main/webapp/i18n/en/course.json
  src/main/webapp/i18n/en/global.json
  src/main/webapp/i18n/en/student-dashboard.json
  src/test/java/de/tum/cit/aet/artemis/core/util/CourseTestService.java
  src/test/java/de/tum/cit/aet/artemis/programming/CourseGitlabJenkinsIntegrationTest.java
  src/test/javascript/spec/component/course/course-archive.component.spec.ts
  src/test/javascript/spec/component/course/course-overview.component.spec.ts
  src/test/javascript/spec/component/course/course.component.spec.ts
  src/test/javascript/spec/component/overview/course-card.component.spec.ts
  src/test/javascript/spec/integration/guided-tour/guided-tour.integration.spec.ts
Labels: tests, server, client, ready to merge, maintainer-approved, core, programming

#9561 `Communication`: Remove announcements from unresolved filter
  src/main/webapp/app/overview/course-conversations/course-wide-search/course-wide-search.component.ts
Labels: client, ready to merge, maintainer-approved

#9571 `Quiz exercises`: Fix an error after using the practice mode
  src/main/java/de/tum/cit/aet/artemis/quiz/repository/QuizSubmissionRepository.java
  src/main/java/de/tum/cit/aet/artemis/quiz/service/QuizSubmissionService.java
  src/main/java/de/tum/cit/aet/artemis/quiz/web/QuizParticipationResource.java
Labels: ready for review, server, quiz

#9315 `Programming exercises`: Enhance filtering and sorting for error analysis
  src/main/java/de/tum/cit/aet/artemis/assessment/dto/FeedbackAnalysisResponseDTO.java
  src/main/java/de/tum/cit/aet/artemis/assessment/dto/FeedbackDetailDTO.java
  src/main/java/de/tum/cit/aet/artemis/assessment/dto/FeedbackPageableDTO.java
  src/main/java/de/tum/cit/aet/artemis/assessment/service/ResultService.java
  src/main/java/de/tum/cit/aet/artemis/assessment/web/ResultResource.java
  src/main/java/de/tum/cit/aet/artemis/core/util/PageUtil.java
  src/main/java/de/tum/cit/aet/artemis/exercise/repository/StudentParticipationRepository.java
  src/main/java/de/tum/cit/aet/artemis/programming/repository/ProgrammingExerciseRepository.java
  src/main/java/de/tum/cit/aet/artemis/programming/repository/hestia/ProgrammingExerciseTaskRepository.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/ProgrammingExerciseService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/hestia/ProgrammingExerciseTaskService.java
  src/main/java/de/tum/cit/aet/artemis/programming/web/hestia/ProgrammingExerciseTaskResource.java
  src/main/webapp/app/exercises/programming/manage/grading/feedback-analysis/Modal/feedback-filter-modal.component.html
  src/main/webapp/app/exercises/programming/manage/grading/feedback-analysis/Modal/feedback-filter-modal.component.ts
  src/main/webapp/app/exercises/programming/manage/grading/feedback-analysis/Modal/feedback-modal.component.html
  src/main/webapp/app/exercises/programming/manage/grading/feedback-analysis/Modal/feedback-modal.component.ts
  src/main/webapp/app/exercises/programming/manage/grading/feedback-analysis/feedback-analysis.component.html
  src/main/webapp/app/exercises/programming/manage/grading/feedback-analysis/feedback-analysis.component.scss
  src/main/webapp/app/exercises/programming/manage/grading/feedback-analysis/feedback-analysis.component.ts
  src/main/webapp/app/exercises/programming/manage/grading/feedback-analysis/feedback-analysis.service.ts
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/programmingExercise.json
  src/test/java/de/tum/cit/aet/artemis/assessment/ResultServiceIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/hestia/ProgrammingExerciseTaskIntegrationTest.java
  src/test/javascript/spec/component/programming-exercise/feedback-analysis/feedback-analysis.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/feedback-analysis/feedback-analysis.service.spec.ts
  src/test/javascript/spec/component/programming-exercise/feedback-analysis/modals/feedback-filter-modal.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/feedback-analysis/modals/feedback-modal.component.spec.ts
Labels: tests, server, client, ready to merge, assessment, core, exercise, programming

#9477 `Communication`: Allow tutors to propose FAQ
  src/main/java/de/tum/cit/aet/artemis/communication/repository/FaqRepository.java
  src/main/java/de/tum/cit/aet/artemis/communication/web/FaqResource.java
  src/main/webapp/app/course/manage/course-management-tab-bar/course-management-tab-bar.component.html
  src/main/webapp/app/course/manage/course-management.route.ts
  src/main/webapp/app/course/manage/overview/course-management-card.component.html
  src/main/webapp/app/entities/faq.model.ts
  src/main/webapp/app/faq/faq-update.component.ts
  src/main/webapp/app/faq/faq.component.html
  src/main/webapp/app/faq/faq.component.ts
  src/main/webapp/app/faq/faq.service.ts
  src/main/webapp/app/overview/course-faq/course-faq.component.ts
  src/main/webapp/i18n/de/faq.json
  src/main/webapp/i18n/en/faq.json
  src/test/java/de/tum/cit/aet/artemis/communication/FaqIntegrationTest.java
  src/test/javascript/spec/component/faq/faq-update.component.spec.ts
  src/test/javascript/spec/component/faq/faq.component.spec.ts
  src/test/javascript/spec/component/overview/course-faq/course-faq.component.spec.ts
  src/test/javascript/spec/service/faq.service.spec.ts
Labels: tests, server, client, ready to merge, communication

#9529 `Integrated code lifecycle`: Add build agent name
  docs/admin/setup/distributed.rst
  src/main/java/de/tum/cit/aet/artemis/buildagent/dto/BuildAgentDTO.java
  src/main/java/de/tum/cit/aet/artemis/buildagent/dto/BuildAgentInformation.java
  src/main/java/de/tum/cit/aet/artemis/buildagent/dto/BuildJobQueueItem.java
  src/main/java/de/tum/cit/aet/artemis/buildagent/service/SharedQueueProcessingService.java
  src/main/java/de/tum/cit/aet/artemis/core/web/admin/AdminBuildJobQueueResource.java
  src/main/java/de/tum/cit/aet/artemis/programming/domain/build/BuildJob.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/localci/LocalCIQueueWebsocketService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/localci/LocalCIResultProcessingService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/localci/LocalCITriggerService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/localci/LocalCIWebsocketMessagingService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/localci/SharedQueueManagementService.java
  src/main/resources/config/application-buildagent.yml
  src/main/resources/config/application.yml
  src/main/webapp/app/entities/programming/build-agent-information.model.ts
  src/main/webapp/app/entities/programming/build-agent.model.ts
  src/main/webapp/app/entities/programming/build-job.model.ts
  src/main/webapp/app/localci/build-agents/build-agent-details/build-agent-details/build-agent-details.component.html
  src/main/webapp/app/localci/build-agents/build-agent-details/build-agent-details/build-agent-details.component.ts
  src/main/webapp/app/localci/build-agents/build-agent-summary/build-agent-summary.component.html
  src/main/webapp/app/localci/build-agents/build-agent-summary/build-agent-summary.component.ts
  src/main/webapp/app/localci/build-agents/build-agents.service.ts
  src/main/webapp/app/localci/build-queue/build-queue.component.html
  src/main/webapp/i18n/de/buildAgents.json
  src/main/webapp/i18n/en/buildAgents.json
  src/test/java/de/tum/cit/aet/artemis/buildagent/service/BuildAgentDockerServiceTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/icl/LocalCIIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/icl/LocalCIResourceIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/icl/LocalCIServiceTest.java
  src/test/javascript/spec/component/localci/build-agents/build-agent-details.component.spec.ts
  src/test/javascript/spec/component/localci/build-agents/build-agent-summary.component.spec.ts
  src/test/javascript/spec/component/localci/build-agents/build-agents.service.spec.ts
  src/test/resources/config/application.yml
Labels: tests, ready for review, server, client, documentation, config-change, buildagent, core, programming

#9567 `Development`: Fix exercise deletion with existing Iris sessions
  src/main/resources/config/liquibase/changelog/20241023456789_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/test/java/de/tum/cit/aet/artemis/iris/IrisExerciseChatSessionIntegrationTest.java
Labels: tests, database, ready to merge, maintainer-approved, iris

#9533 `General`: Improve user administration
  src/main/webapp/app/admin/user-management/user-management-update.component.html
  src/main/webapp/app/admin/user-management/user-management-update.component.ts
  src/main/webapp/app/admin/user-management/user-management.component.html
  src/main/webapp/app/admin/user-management/user-management.component.ts
  src/main/webapp/app/admin/user-management/user-management.route.ts
  src/main/webapp/i18n/de/user-management.json
  src/main/webapp/i18n/en/user-management.json
  src/test/javascript/spec/component/admin/user-management.component.spec.ts
Labels: tests, ready for review, client

#9553 `General`: Add profile pictures to course user list and user administration
  src/main/webapp/app/admin/admin.module.ts
  src/main/webapp/app/admin/user-management/user-management.component.html
  src/main/webapp/app/course/tutorial-groups/shared/tutorial-group-detail/tutorial-group-detail.component.html
  src/main/webapp/app/course/tutorial-groups/shared/tutorial-group-detail/tutorial-group-detail.component.scss
  src/main/webapp/app/course/tutorial-groups/shared/tutorial-group-detail/tutorial-group-detail.component.ts
  src/main/webapp/app/course/tutorial-groups/shared/tutorial-groups-shared.module.ts
  src/main/webapp/app/overview/course-conversations/course-conversations.module.ts
  src/main/webapp/app/overview/course-conversations/dialogs/conversation-detail-dialog/tabs/conversation-members/conversation-member-row/conversation-member-row.component.html
  src/main/webapp/app/overview/course-conversations/dialogs/conversation-detail-dialog/tabs/conversation-members/conversation-member-row/conversation-member-row.component.scss
  src/main/webapp/app/overview/course-conversations/dialogs/conversation-detail-dialog/tabs/conversation-members/conversation-member-row/conversation-member-row.component.ts
  src/main/webapp/app/shared/course-group/course-group.component.html
  src/main/webapp/app/shared/course-group/course-group.module.ts
  src/main/webapp/app/shared/metis/metis.component.scss
  src/main/webapp/app/shared/metis/metis.module.ts
  src/main/webapp/app/shared/metis/posting-header/answer-post-header/answer-post-header.component.html
  src/main/webapp/app/shared/metis/posting-header/post-header/post-header.component.html
  src/main/webapp/app/shared/metis/posting-header/posting-header.directive.ts
  src/main/webapp/app/shared/profile-picture/profile-picture.component.html
  src/main/webapp/app/shared/profile-picture/profile-picture.component.scss
  src/main/webapp/app/shared/profile-picture/profile-picture.component.ts
  src/main/webapp/i18n/de/course.json
  src/main/webapp/i18n/de/user-management.json
  src/main/webapp/i18n/en/course.json
  src/main/webapp/i18n/en/user-management.json
  src/test/javascript/spec/component/overview/course-conversations/dialogs/conversation-detail-dialog/tabs/conversation-members/conversation-member-row/conversation-member-row.component.spec.ts
  src/test/javascript/spec/component/overview/discussion-section/discussion-section.component.spec.ts
  src/test/javascript/spec/component/shared/metis/postings-header/answer-post-header/answer-post-header.component.spec.ts
  src/test/javascript/spec/component/shared/metis/postings-header/post-header/post-header.component.spec.ts
  src/test/javascript/spec/component/shared/profile-picture/profile-picture.component.spec.ts
  src/test/javascript/spec/component/tutorial-groups/shared/tutorial-group-detail.component.spec.ts
Labels: tests, client, ready to merge, maintainer-approved

#9568 `Communication`: Reduce FAQ size
  src/main/webapp/app/overview/course-faq/course-faq-accordion.component.html
  src/main/webapp/app/overview/course-faq/course-faq-accordion.component.scss
  src/main/webapp/app/overview/course-faq/course-faq.component.html
Labels: client, ready to merge, lock:artemis-test4, maintainer-approved

#9546 `Development`: Fix the broken git programming submission e2e tests
  src/main/java/de/tum/cit/aet/artemis/programming/service/localvc/LocalVCServletService.java
Labels: ready for review, server, programming

#9505 `Development`: Migrate the online code editor to a standalone component
  src/main/webapp/app/exercises/programming/manage/build-plan-editor.component.html
  src/main/webapp/app/exercises/programming/manage/programming-exercise-management.module.ts
  src/main/webapp/app/exercises/programming/shared/code-editor/code-editor.module.ts
  src/main/webapp/app/exercises/programming/shared/code-editor/header/code-editor-header.component.html
  src/main/webapp/app/exercises/programming/shared/code-editor/header/code-editor-header.component.ts
  src/main/webapp/app/exercises/programming/shared/code-editor/monaco/code-editor-monaco.component.html
  src/main/webapp/app/exercises/programming/shared/code-editor/monaco/code-editor-monaco.component.ts
  src/test/javascript/spec/component/code-editor/code-editor-header.component.spec.ts
  src/test/javascript/spec/component/code-editor/code-editor-monaco.component.spec.ts
  src/test/javascript/spec/component/programming-assessment/code-editor-tutor-assessment-container.component.spec.ts
  src/test/javascript/spec/helpers/mocks/mock-instance.helper.ts
  src/test/javascript/spec/integration/code-editor/code-editor-container.integration.spec.ts
  src/test/javascript/spec/integration/code-editor/code-editor-instructor.integration.spec.ts
  src/test/javascript/spec/integration/code-editor/code-editor-student.integration.spec.ts
Labels: tests, ready for review, client

#9519 `General`: Hide the keyboard icon from the Monaco editor on Apple devices
  src/main/webapp/app/shared/monaco-editor/monaco-editor.component.scss
  src/main/webapp/app/shared/monaco-editor/monaco-editor.component.ts
Labels: ready for review, client, small

#9460 `Communication`: Fix clipping issues on mobile devices
  src/main/webapp/app/core/core.module.ts
  src/main/webapp/app/overview/course-conversations/course-conversations.component.html
  src/main/webapp/app/overview/course-conversations/course-conversations.component.scss
  src/main/webapp/app/overview/course-conversations/course-conversations.component.ts
  src/main/webapp/app/overview/course-conversations/course-wide-search/course-wide-search.component.html
  src/main/webapp/app/overview/course-conversations/course-wide-search/course-wide-search.component.scss
  src/main/webapp/app/overview/course-conversations/course-wide-search/course-wide-search.component.ts
  src/main/webapp/app/overview/course-conversations/layout/conversation-header/conversation-header.component.html
  src/main/webapp/app/overview/course-conversations/layout/conversation-header/conversation-header.component.ts
  src/main/webapp/app/overview/course-conversations/layout/conversation-messages/conversation-messages.component.html
  src/main/webapp/app/overview/course-conversations/layout/conversation-messages/conversation-messages.component.scss
  src/main/webapp/app/overview/course-conversations/layout/conversation-messages/conversation-messages.component.ts
  src/main/webapp/app/overview/course-conversations/layout/conversation-thread-sidebar/conversation-thread-sidebar.component.scss
  src/main/webapp/app/overview/course-overview.component.html
  src/main/webapp/app/overview/course-overview.component.scss
  src/main/webapp/app/overview/course-overview.component.ts
  src/main/webapp/app/overview/course-sidebar.service.ts
  src/main/webapp/app/shared/breakpoints/layout.service.ts
  src/main/webapp/app/shared/metis/answer-post/answer-post.component.scss
  src/main/webapp/app/shared/metis/metis.component.scss
  src/main/webapp/app/shared/metis/posting-header/answer-post-header/answer-post-header.component.html
  src/main/webapp/app/shared/metis/posting-header/post-header/post-header.component.html
  src/main/webapp/app/shared/sidebar/sidebar.component.scss
  src/main/webapp/app/shared/sidebar/sidebar.component.ts
  src/main/webapp/content/scss/global.scss
  src/main/webapp/i18n/de/metis.json
  src/main/webapp/i18n/en/metis.json
  src/test/javascript/spec/component/course/course-overview.component.spec.ts
  src/test/javascript/spec/component/overview/course-conversations/course-conversations.component.spec.ts
  src/test/javascript/spec/component/shared/sidebar/sidebar.component.spec.ts
  src/test/javascript/spec/service/overview/course-sidebar.service.spec.ts
Labels: tests, client, ready to merge

#9590 `Development`: Fix several failing e2e tests
  src/main/webapp/app/shared/monaco-editor/monaco-editor.component.ts
Labels: ready for review, client

#9584 `Communication`: Update android app package name and fingerprints
  src/main/resources/config/application.yml
  src/test/resources/config/application.yml
Labels: tests, config-change

#9500 `Learning path`: Introduce loading spinner for navigation between learning objects
  src/main/webapp/app/course/learning-paths/components/learning-path-student-nav/learning-path-student-nav.component.html
  src/main/webapp/app/course/learning-paths/components/learning-path-student-nav/learning-path-student-nav.component.scss
  src/main/webapp/app/course/learning-paths/components/learning-path-student-nav/learning-path-student-nav.component.ts
  src/main/webapp/app/course/learning-paths/services/learning-path-navigation.service.ts
  src/test/javascript/spec/component/learning-paths/components/learning-path-nav.component.spec.ts
Labels: tests, client, small, ready to merge

#9580 `Communication`: Allow file uploads in messages
  src/main/java/de/tum/cit/aet/artemis/core/config/Constants.java
  src/main/java/de/tum/cit/aet/artemis/core/service/FilePathService.java
  src/main/java/de/tum/cit/aet/artemis/core/service/FileService.java
  src/main/java/de/tum/cit/aet/artemis/core/web/FileResource.java
  src/main/webapp/app/overview/course-conversations/layout/conversation-thread-sidebar/conversation-thread-sidebar.component.html
  src/main/webapp/app/shared/constants/input.constants.ts
  src/main/webapp/app/shared/http/file-uploader.service.ts
  src/main/webapp/app/shared/markdown-editor/monaco/markdown-editor-monaco.component.html
  src/main/webapp/app/shared/markdown-editor/monaco/markdown-editor-monaco.component.ts
  src/main/webapp/app/shared/metis/message/message-reply-inline-input/message-reply-inline-input.component.html
  src/main/webapp/app/shared/metis/message/message-reply-inline-input/message-reply-inline-input.component.ts
  src/main/webapp/app/shared/metis/metis.util.ts
  src/main/webapp/app/shared/metis/posting-content/enlarge-slide-image/enlarge-slide-image.component.html
  src/main/webapp/app/shared/metis/posting-content/posting-content-part/posting-content-part.component.html
  src/main/webapp/app/shared/metis/posting-content/posting-content-part/posting-content-part.components.ts
  src/main/webapp/app/shared/metis/posting-content/posting-content.component.html
  src/main/webapp/app/shared/metis/posting-content/posting-content.components.ts
  src/main/webapp/app/shared/metis/posting-markdown-editor/posting-markdown-editor.component.html
  src/main/webapp/app/shared/metis/posting-markdown-editor/posting-markdown-editor.component.ts
  src/main/webapp/app/shared/monaco-editor/model/actions/attachment.action.ts
  src/main/webapp/app/shared/monaco-editor/model/actions/communication/lecture-attachment-reference.action.ts
  src/main/webapp/app/shared/monaco-editor/model/actions/url.action.ts
  src/main/webapp/app/shared/util/markdown.util.ts
  src/main/webapp/i18n/de/markdownEditor.json
  src/main/webapp/i18n/en/markdownEditor.json
  src/test/javascript/spec/component/markdown-editor/markdown-editor-monaco.component.spec.ts
  src/test/javascript/spec/component/shared/metis/posting-content/posting-content.component.spec.ts
  src/test/javascript/spec/component/shared/metis/postings-markdown-editor/postings-markdown-editor.component.spec.ts
  src/test/playwright/support/pageobjects/course/CourseMessagesPage.ts
Labels: tests, ready for review, server, client, priority:high, playwright, core

#9354 `Development`: Upgrade markdown library to markdown-it
  angular.json
  docs/user/markdown-support.rst
  package-lock.json
  package.json
  src/main/webapp/app/exercises/programming/shared/instructions-render/extensions/programming-exercise-plant-uml.extension.ts
  src/main/webapp/app/exercises/programming/shared/instructions-render/extensions/programming-exercise-task.extension.ts
  src/main/webapp/app/exercises/programming/shared/instructions-render/programming-exercise-instruction.component.ts
  src/main/webapp/app/exercises/quiz/shared/short-answer-question-util.service.ts
  src/main/webapp/app/index.d.ts
  src/main/webapp/app/shared/markdown-editor/extensions/ArtemisTextReplacementPlugin.ts
  src/main/webapp/app/shared/markdown-editor/extensions/artemis-showdown-extension-wrapper.ts
  src/main/webapp/app/shared/markdown-editor/monaco/markdown-editor-monaco.component.html
  src/main/webapp/app/shared/markdown.service.ts
  src/main/webapp/app/shared/pipes/html-for-markdown.pipe.ts
  src/main/webapp/app/shared/util/markdown.conversion.util.ts
  src/test/javascript/spec/component/exercises/quiz/short-answer-question-util.service.spec.ts
  src/test/javascript/spec/component/lecture-unit/text-unit/text-unit.component.spec.ts
  src/test/javascript/spec/component/shared/metis/posting-content/posting-content-part.component.spec.ts
  src/test/javascript/spec/helpers/sample/problemStatement.json
  src/test/javascript/spec/service/markdown.service.spec.ts
Labels: tests, ready for review, client, documentation, lock:artemis-test2

#9589 `Development`: Fix DOM event name conflicts
  src/main/webapp/app/assessment/assessment-header/assessment-header.component.html
  src/main/webapp/app/assessment/assessment-header/assessment-header.component.ts
  src/main/webapp/app/assessment/assessment-layout/assessment-layout.component.html
  src/main/webapp/app/assessment/assessment-layout/assessment-layout.component.ts
  src/main/webapp/app/complaints/complaints-for-students/complaints-student-view.component.html
  src/main/webapp/app/complaints/form/complaints-form.component.ts
  src/main/webapp/app/exercises/file-upload/assess/file-upload-assessment.component.html
  src/main/webapp/app/exercises/file-upload/manage/file-upload-exercise-update.component.html
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment-editor/modeling-assessment-editor.component.html
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise-update.component.html
  src/main/webapp/app/exercises/programming/assess/code-editor-tutor-assessment-container.component.html
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.component.html
  src/main/webapp/app/exercises/text/assess/text-submission-assessment.component.html
  src/main/webapp/app/exercises/text/assess/textblock-assessment-card/textblock-assessment-card.component.html
  src/main/webapp/app/exercises/text/assess/textblock-feedback-editor/textblock-feedback-editor.component.ts
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise-update.component.html
  src/main/webapp/app/forms/form-footer/form-footer.component.html
  src/main/webapp/app/forms/form-footer/form-footer.component.ts
  src/test/javascript/spec/component/assessment-shared/assessment-header.component.spec.ts
  src/test/javascript/spec/component/complaints/complaints-form.component.spec.ts
Labels: tests, ready for review, client, chore

#9602 `Development`: Fix hazelcast issue on server shutdown
  src/main/java/de/tum/cit/aet/artemis/core/service/feature/FeatureToggleService.java
Labels: ready for review, server, core

#9610 `Development`: Ensure correct @Repository annotation usage
  src/main/java/de/tum/cit/aet/artemis/assessment/repository/LongFeedbackTextRepository.java
  src/main/java/de/tum/cit/aet/artemis/atlas/repository/CourseCompetencyRepository.java
  src/main/java/de/tum/cit/aet/artemis/atlas/repository/PrerequisiteRepository.java
  src/main/java/de/tum/cit/aet/artemis/communication/repository/CustomPostRepository.java
  src/main/java/de/tum/cit/aet/artemis/core/repository/AuthorityRepository.java
  src/main/java/de/tum/cit/aet/artemis/core/repository/MigrationChangeRepository.java
  src/main/java/de/tum/cit/aet/artemis/core/repository/PersistenceAuditEventRepository.java
  src/main/java/de/tum/cit/aet/artemis/iris/repository/IrisTextExerciseChatSessionRepository.java
  src/main/java/de/tum/cit/aet/artemis/programming/repository/BuildPlanRepository.java
  src/main/java/de/tum/cit/aet/artemis/programming/repository/hestia/CodeHintRepository.java
  src/main/java/de/tum/cit/aet/artemis/programming/repository/hestia/ExerciseHintActivationRepository.java
  src/main/java/de/tum/cit/aet/artemis/programming/repository/hestia/ProgrammingExerciseSolutionEntryRepository.java
  src/main/java/de/tum/cit/aet/artemis/programming/repository/hestia/ProgrammingExerciseTaskRepository.java
  src/test/java/de/tum/cit/aet/artemis/atlas/AbstractAtlasIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/atlas/competency/util/PrerequisiteUtilService.java
  src/test/java/de/tum/cit/aet/artemis/atlas/test_repository/PrerequisiteTestRepository.java
  src/test/java/de/tum/cit/aet/artemis/programming/AbstractProgrammingIntegrationIndependentTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/test_repository/ProgrammingExerciseTaskTestRepository.java
  src/test/java/de/tum/cit/aet/artemis/programming/util/ProgrammingExerciseTestService.java
  src/test/java/de/tum/cit/aet/artemis/programming/util/ProgrammingExerciseUtilService.java
  src/test/java/de/tum/cit/aet/artemis/shared/architecture/module/AbstractModuleRepositoryArchitectureTest.java
Labels: tests, ready for review, server, small, bugfix, assessment, atlas, communication, core, iris, programming

#9474 `Communication`: Fix content overflow in expanded thread view
  src/main/webapp/app/overview/course-conversations/course-conversations.component.html
  src/main/webapp/app/overview/course-conversations/course-conversations.component.scss
  src/main/webapp/app/overview/course-conversations/layout/conversation-thread-sidebar/conversation-thread-sidebar.component.scss
  src/main/webapp/app/overview/course-conversations/layout/conversation-thread-sidebar/conversation-thread-sidebar.component.ts
  src/main/webapp/app/shared/metis/posting-reactions-bar/answer-post-reactions-bar/answer-post-reactions-bar.component.html
  src/main/webapp/app/shared/metis/posting-reactions-bar/post-reactions-bar/post-reactions-bar.component.html
  src/test/javascript/spec/component/overview/course-conversations/layout/conversation-thread-sidebar/conversation-thread-sidebar.component.spec.ts
Labels: tests, ready for review, client, small, bugfix, component:Communication, deployment-error

#9595 `Communication`: Add emoji support to messages
  package-lock.json
  package.json
  src/main/webapp/app/shared/markdown-editor/monaco/markdown-editor-monaco.component.html
  src/main/webapp/app/shared/markdown-editor/monaco/markdown-editor-monaco.component.ts
  src/main/webapp/app/shared/metis/posting-markdown-editor/posting-markdown-editor.component.ts
  src/main/webapp/app/shared/monaco-editor/model/actions/emoji.action.ts
  src/main/webapp/app/shared/monaco-editor/monaco-editor.component.ts
  src/main/webapp/i18n/de/multipleChoiceQuestion.json
  src/main/webapp/i18n/en/multipleChoiceQuestion.json
  src/test/javascript/spec/component/shared/metis/postings-markdown-editor/postings-markdown-editor.component.spec.ts
  src/test/javascript/spec/component/shared/monaco-editor/monaco-editor.component.spec.ts
Labels: tests, ready for review, client, component:Communication

#9479 `Development`: Replace deprecated before unload event with pending changes guard
  src/main/webapp/app/admin/admin.route.ts
  src/main/webapp/app/admin/standardized-competencies/standardized-competency-management.component.ts
  src/main/webapp/app/course/competencies/generate-competencies/generate-competencies.component.ts
  src/main/webapp/app/course/competencies/import-standardized-competencies/course-import-standardized-course-competencies.component.ts
  src/main/webapp/app/course/competencies/import/import-course-competencies.component.ts
  src/main/webapp/app/exam/participate/exam-participation.component.ts
  src/main/webapp/app/exercises/modeling/participate/modeling-submission.component.ts
  src/main/webapp/app/exercises/programming/shared/code-editor/container/code-editor-container.component.ts
  src/main/webapp/app/exercises/quiz/manage/quiz-exercise-update.component.ts
  src/main/webapp/app/exercises/text/participate/text-editor.component.ts
  src/main/webapp/app/exercises/text/participate/text-editor.route.ts
  src/test/javascript/spec/component/competencies/generate-competencies/generate-competencies.component.spec.ts
  src/test/javascript/spec/component/competencies/import/import-course-competencies.component.spec.ts
  src/test/javascript/spec/component/exam/participate/exam-participation.component.spec.ts
  src/test/javascript/spec/component/quiz-exercise/quiz-exercise-update.component.spec.ts
  src/test/javascript/spec/component/standardized-competencies/course-import-standardized-competencies.spec.ts
  src/test/javascript/spec/component/standardized-competencies/course-import-standardized-prerequisites.spec.ts
  src/test/javascript/spec/component/standardized-competencies/standardized-competency-management.spec.ts
Labels: tests, client, ready to merge

#9611 `Development`: Fix duplicate server calls for messages when selecting a conversation
  src/main/webapp/app/overview/course-conversations/layout/conversation-messages/conversation-messages.component.ts
Labels: client, small

#9461 `Iris`: Allow to configure exercises based on their categories
  src/main/java/de/tum/cit/aet/artemis/exercise/service/ExerciseDeletionService.java
  src/main/java/de/tum/cit/aet/artemis/iris/domain/settings/IrisChatSubSettings.java
  src/main/java/de/tum/cit/aet/artemis/iris/domain/settings/IrisTextExerciseChatSubSettings.java
  src/main/java/de/tum/cit/aet/artemis/iris/dto/IrisCombinedChatSubSettingsDTO.java
  src/main/java/de/tum/cit/aet/artemis/iris/dto/IrisCombinedTextExerciseChatSubSettingsDTO.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/settings/IrisSettingsService.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/settings/IrisSubSettingsService.java
  src/main/java/de/tum/cit/aet/artemis/programming/repository/ProgrammingExerciseRepository.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/ProgrammingExerciseService.java
  src/main/java/de/tum/cit/aet/artemis/programming/web/ProgrammingExerciseResource.java
  src/main/java/de/tum/cit/aet/artemis/text/repository/TextExerciseRepository.java
  src/main/java/de/tum/cit/aet/artemis/text/web/TextExerciseResource.java
  src/main/resources/config/liquibase/changelog/20241010101010_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/entities/iris/settings/iris-sub-settings.model.ts
  src/main/webapp/app/iris/settings/iris-settings-update/iris-common-sub-settings-update/iris-common-sub-settings-update.component.html
  src/main/webapp/app/iris/settings/iris-settings-update/iris-common-sub-settings-update/iris-common-sub-settings-update.component.ts
  src/main/webapp/app/iris/settings/iris-settings-update/iris-settings-update.component.html
  src/main/webapp/i18n/de/iris.json
  src/main/webapp/i18n/en/iris.json
  src/test/java/de/tum/cit/aet/artemis/iris/settings/IrisSettingsIntegrationTest.java
  src/test/javascript/spec/component/iris/settings/iris-common-sub-settings-update.component.spec.ts
Labels: tests, ready for review, server, client, database, exercise, iris, programming, text

#9613 `Development`: Fix e2e tests for modeling exercises
  src/test/playwright/support/pageobjects/exam/ExamParticipationPage.ts
  src/test/playwright/support/pageobjects/exercises/quiz/DragAndDropQuiz.ts
Labels: tests, ready for review, playwright

#9608 `Development`: Improve exercise configuration for GitLab CI
  src/main/java/de/tum/cit/aet/artemis/programming/repository/ProgrammingExerciseRepository.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/gitlabci/GitLabCIService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/gitlabci/GitLabCIUserManagementService.java
  src/main/resources/templates/gitlabci/empty/regularRuns/.gitlab-ci.yml
  src/main/resources/templates/gitlabci/java/maven/regularRuns/.gitlab-ci.yml
  src/main/resources/templates/gitlabci/rust/regularRuns/.gitlab-ci.yml
  src/test/java/de/tum/cit/aet/artemis/core/connector/GitlabRequestMockProvider.java
  src/test/java/de/tum/cit/aet/artemis/programming/service/GitlabCIServiceTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/test_repository/ProgrammingExerciseTestRepository.java
  src/test/java/de/tum/cit/aet/artemis/shared/base/AbstractSpringIntegrationGitlabCIGitlabSamlTest.java
Labels: tests, ready for review, server, template, core, programming

#9521 `Integrated code lifecycle`: Insert repository content consistently when preparing for building
  src/main/java/de/tum/cit/aet/artemis/buildagent/service/BuildJobContainerService.java
  src/main/webapp/app/exercises/programming/manage/update/update-components/programming-exercise-information.component.scss
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/programmingExercise.json
Labels: ready for review, server, client, buildagent

#9395 `Text exercises`: Replace feedback modal with inline feedback view
  src/main/java/de/tum/cit/aet/artemis/exercise/web/ParticipationResource.java
  src/main/java/de/tum/cit/aet/artemis/text/service/TextExerciseFeedbackService.java
  src/main/java/de/tum/cit/aet/artemis/text/web/TextExerciseResource.java
  src/main/webapp/app/exercises/shared/exercise-headers/header-participation-page.component.ts
  src/main/webapp/app/exercises/shared/exercise-scores/exercise-scores.component.ts
  src/main/webapp/app/exercises/shared/feedback-suggestion/exercise-feedback-suggestion-options.component.html
  src/main/webapp/app/exercises/shared/feedback/feedback.component.ts
  src/main/webapp/app/exercises/shared/rating/rating.component.html
  src/main/webapp/app/exercises/shared/rating/rating.component.ts
  src/main/webapp/app/exercises/shared/result/result.component.ts
  src/main/webapp/app/exercises/shared/result/result.service.ts
  src/main/webapp/app/exercises/shared/result/result.utils.ts
  src/main/webapp/app/exercises/text/participate/text-editor.component.html
  src/main/webapp/app/exercises/text/participate/text-editor.component.ts
  src/main/webapp/app/exercises/text/participate/text-editor.route.ts
  src/main/webapp/app/exercises/text/participate/text-participation.module.ts
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.ts
  src/main/webapp/app/overview/exercise-details/exercise-details-student-actions.component.html
  src/main/webapp/app/overview/exercise-details/exercise-details-student-actions.component.ts
  src/main/webapp/app/overview/exercise-details/request-feedback-button/request-feedback-button.component.html
  src/main/webapp/app/overview/exercise-details/request-feedback-button/request-feedback-button.component.ts
  src/main/webapp/i18n/de/exercise.json
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/de/participation.json
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/de/textExercise.json
  src/main/webapp/i18n/en/exercise.json
  src/main/webapp/i18n/en/global.json
  src/main/webapp/i18n/en/participation.json
  src/main/webapp/i18n/en/textExercise.json
  src/test/java/de/tum/cit/aet/artemis/exercise/participation/ParticipationIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/text/TextAssessmentIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/text/util/TextExerciseUtilService.java
  src/test/javascript/spec/component/exercises/shared/feedback/feedback-suggestion-option.component.spec.ts
  src/test/javascript/spec/component/overview/exercise-details/exercise-details-student-actions.component.spec.ts
  src/test/javascript/spec/component/overview/exercise-details/request-feedback-button/request-feedback-button.component.spec.ts
  src/test/javascript/spec/component/rating/rating.component.spec.ts
  src/test/javascript/spec/component/shared/result.component.spec.ts
  src/test/javascript/spec/component/text-editor/text-editor.component.spec.ts
  src/test/javascript/spec/component/utils/result.utils.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-course-exercise.service.ts
  src/test/playwright/e2e/exercise/text/TextExerciseAssessment.spec.ts
  src/test/playwright/support/pageobjects/exercises/ExerciseResultPage.ts
  src/test/playwright/support/requests/ExerciseAPIRequests.ts
Labels: tests, server, client, ready to merge, lock:artemis-test1, maintainer-approved, playwright, exercise, text

#9644 `Development`: Adapt documentation for SSH proxy in LocalVC
  docs/admin/setup.rst
  docs/admin/setup/security.rst
Labels: documentation, small, ready to merge
