Repository ls1intum/Artemis, pull requests merged in 2024-01, with the labels that each got.

#7835 `Development`: Remove stranded build containers on server startup in local continuous integration
  src/main/java/de/tum/in/www1/artemis/config/localvcci/LocalCIConfiguration.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIBuildJobManagementService.java
  src/main/resources/config/application-localci.yml
Labels: ready for review, server, config-change, localci/localvcs

#7828 `Development`: Update server dependencies
  angular.json
  build.gradle
  gradle.properties
  package-lock.json
  package.json
  src/main/java/de/tum/in/www1/artemis/config/BeanInfoProcessor.java
  src/main/java/de/tum/in/www1/artemis/config/lti/CustomLti13Configurer.java
  src/main/java/de/tum/in/www1/artemis/config/lti/StateBasedOptimisticAuthorizationRequestRepository.java
  src/main/java/de/tum/in/www1/artemis/domain/lti/Lti13AgsClaim.java
  src/main/java/de/tum/in/www1/artemis/domain/lti/Lti13DeepLinkingResponse.java
  src/main/java/de/tum/in/www1/artemis/domain/lti/Lti13LaunchRequest.java
  src/main/webapp/app/lti/lti13-exercise-launch.component.ts
  src/test/java/de/tum/in/www1/artemis/LtiDeepLinkingIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/security/jwt/TokenProviderSecurityMetersTest.java
  src/test/java/de/tum/in/www1/artemis/service/connectors/lti/LtiDeepLinkingServiceTest.java
  src/test/javascript/spec/component/lti/lti13-exercise-launch.component.spec.ts
Labels: tests, server, client, ready to merge

#7756 `Development`: Add setup documentation for local continuous integration with Podman
  docs/dev/setup/localci-localvc.rst
Labels: documentation, ready to merge, localci/localvcs

#7761 `Grading`: Fix client validation for grading keys
  src/main/webapp/app/grading-system/base-grading-system/base-grading-system.component.ts
  src/main/webapp/app/grading-system/interval-grading-system/interval-grading-system.component.html
  src/main/webapp/i18n/de/gradingSystem.json
  src/main/webapp/i18n/en/gradingSystem.json
Labels: client, ready to merge

#7844 `Development`: Fix import programming exercise cypress test
  src/test/cypress/e2e/exercises/ExerciseImport.cy.ts
  src/test/cypress/package-lock.json
  src/test/cypress/package.json
  src/test/cypress/support/index.ts
  src/test/cypress/support/pageobjects/exercises/programming/ProgrammingExerciseCreationPage.ts
Labels: tests, cypress, ready to merge

#7846 `Development`: Update to node 20
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/test.yml
  docs/dev/setup.rst
  gradle.properties
  package-lock.json
  package.json
Labels: documentation

#7847 `Development`: Fix postgres server tests
  src/main/java/de/tum/in/www1/artemis/domain/quiz/QuizPool.java
  src/test/java/de/tum/in/www1/artemis/assessment/ExampleSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exam/QuizPoolIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/lecture/AttachmentUnitIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/metis/AnswerMessageIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/post/ConversationUtilService.java
Labels: tests, server

#7841 `Plagiarism checks`: Fix display of plagiarism matches for text and programming exercises
  src/main/java/de/tum/in/www1/artemis/domain/plagiarism/PlagiarismMatch.java
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-split-view/text-submission-viewer/text-submission-viewer.component.ts
Labels: server, client, component:Programming, component:Text, small, ready to merge, lock:artemis-test1

#7588 `Exam mode`: Allow instructors to view unsubmitted exams and adjust summary layout
  src/main/java/de/tum/in/www1/artemis/repository/iris/IrisSettingsRepository.java
  src/main/java/de/tum/in/www1/artemis/service/exam/ExamService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/StudentExamResource.java
  src/main/webapp/app/exam/participate/general-information/exam-general-information.component.html
  src/main/webapp/app/exam/participate/general-information/exam-general-information.component.scss
  src/main/webapp/app/exam/participate/summary/collapsible-card.component.html
  src/main/webapp/app/exam/participate/summary/collapsible-card.component.scss
  src/main/webapp/app/exam/participate/summary/collapsible-card.component.ts
  src/main/webapp/app/exam/participate/summary/exam-result-summary.component.html
  src/main/webapp/app/exam/participate/summary/exam-result-summary.component.ts
  src/main/webapp/app/exam/participate/summary/exam-result-summary.module.ts
  src/main/webapp/app/exam/participate/summary/exercises/header/exam-result-summary-exercise-card-header.component.html
  src/main/webapp/app/exam/participate/summary/exercises/header/exam-result-summary-exercise-card-header.component.ts
  src/main/webapp/app/exam/participate/summary/result-overview/exam-result-overview.component.html
  src/main/webapp/app/exam/participate/summary/result-overview/exam-result-overview.component.scss
  src/main/webapp/app/exam/participate/summary/result-overview/exam-result-overview.component.ts
  src/main/webapp/app/grading-system/grading-key-overview/grading-key/grading-key-table.component.html
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/en/exam.json
  src/test/cypress/support/pageobjects/assessment/StudentAssessmentPage.ts
  src/test/java/de/tum/in/www1/artemis/service/exam/ExamServiceTest.java
  src/test/javascript/spec/component/exam/participate/summary/collapsible-card.component.spec.ts
  src/test/javascript/spec/component/exam/participate/summary/exam-result-summary.component.spec.ts
  src/test/javascript/spec/component/exam/participate/summary/exercises/header/exam-result-summary-exercise-card-header.component.spec.ts
  src/test/javascript/spec/component/exam/participate/summary/result-overview/exam-result-overview.component.spec.ts
Labels: tests, server, client, component:Exam Mode, small, bugfix, cypress, ready to merge

#7582 `Plagiarism checks`: Hide other plagiarism case submission before exercise due date
  src/main/java/de/tum/in/www1/artemis/service/RepositoryAccessService.java
  src/main/java/de/tum/in/www1/artemis/service/plagiarism/PlagiarismService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextSubmissionResource.java
  src/main/webapp/app/course/plagiarism-cases/shared/review/plagiarism-case-review.component.html
  src/main/webapp/app/course/plagiarism-cases/student-view/detail-view/plagiarism-case-student-detail-view.component.html
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-split-view/modeling-submission-viewer/modeling-submission-viewer.component.ts
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-split-view/plagiarism-split-view.component.html
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-split-view/plagiarism-split-view.component.ts
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-split-view/text-submission-viewer/text-submission-viewer.component.ts
  src/test/java/de/tum/in/www1/artemis/exercise/modelingexercise/ModelingSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/RepositoryIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/text/TextSubmissionIntegrationTest.java
  src/test/javascript/spec/component/plagiarism/modeling-submission-viewer.component.spec.ts
  src/test/javascript/spec/component/plagiarism/text-submission-viewer.component.spec.ts
Labels: tests, server, client, ready to merge, maintainer-approved

#7843 `Development`: Add security check and profile restrictions for build queue representation in local continuous integration
  src/main/java/de/tum/in/www1/artemis/config/websocket/WebsocketConfiguration.java
  src/main/java/de/tum/in/www1/artemis/repository/UserRepository.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIQueueWebsocketService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCISharedBuildJobQueueService.java
  src/main/java/de/tum/in/www1/artemis/web/websocket/localci/LocalCIBuildQueueWebsocketService.java
Labels: ready for review, server, localci/localvcs

#7857 `Development`: Fix e2e test 'Complaints about text exercises assessment'
  src/test/cypress/e2e/exam/ExamAssessment.cy.ts
Labels: tests, ready for review, cypress

#7845 `Development`: Remove eager relationship between lecture and attachments
  src/main/java/de/tum/in/www1/artemis/domain/Lecture.java
  src/main/java/de/tum/in/www1/artemis/repository/LectureRepository.java
  src/main/java/de/tum/in/www1/artemis/service/LectureUnitService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/LectureResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/lecture/AttachmentUnitResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/lecture/ExerciseUnitResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/lecture/LectureUnitResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/lecture/OnlineUnitResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/lecture/TextUnitResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/lecture/VideoUnitResource.java
  src/test/java/de/tum/in/www1/artemis/lecture/AttachmentUnitIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/lecture/LectureIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/lecture/LectureUnitIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/lecture/LectureUtilService.java
  src/test/java/de/tum/in/www1/artemis/lecture/OnlineUnitIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/lecture/TextUnitIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/lecture/VideoUnitIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/LectureImportServiceTest.java
Labels: tests, server, ready to merge

#7852 `Development`: Remove unused endpoint to get single complaint
  src/main/java/de/tum/in/www1/artemis/web/rest/ComplaintResponseResource.java
  src/main/webapp/app/complaints/complaint-response.service.ts
  src/test/java/de/tum/in/www1/artemis/assessment/AssessmentComplaintIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/assessment/AssessmentTeamComplaintIntegrationTest.java
  src/test/javascript/spec/component/complaints/complaint-response.service.spec.ts
Labels: tests, server, client, small, ready to merge

#7583 `Exam mode`: Use quiz pool in student exam generation
  src/main/java/de/tum/in/www1/artemis/domain/exam/StudentExam.java
  src/main/java/de/tum/in/www1/artemis/domain/quiz/QuizPool.java
  src/main/java/de/tum/in/www1/artemis/repository/StudentExamRepository.java
  src/main/java/de/tum/in/www1/artemis/service/QuizPoolService.java
  src/main/java/de/tum/in/www1/artemis/service/exam/ExamQuizQuestionsGenerator.java
  src/main/java/de/tum/in/www1/artemis/service/exam/StudentExamService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExamResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/QuizPoolResource.java
  src/main/resources/config/liquibase/changelog/20231211112800_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/test/java/de/tum/in/www1/artemis/exam/ExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/exam/ExamQuizServiceTest.java
Labels: tests, server, component:Quiz, component:Exam Mode, database, ready to merge, maintainer-approved, too-long-open

#7624 `Programming exercises`: Export and import build plan from file
  src/main/java/de/tum/in/www1/artemis/repository/BuildPlanRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ProfileService.java
  src/main/java/de/tum/in/www1/artemis/service/export/ProgrammingExerciseExportService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseImportFromFileService.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseBitbucketBambooIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseGitlabJenkinsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseTestService.java
  src/test/resources/test-data/import-from-file/import-with-build-plan.zip
Labels: tests, server, small, ready to merge, too-long-open

#7695 `Iris`: Fixed an issue where the send button would be disabled when a step execution error appears
  src/main/webapp/app/iris/exercise-chatbot/widget/chatbot-widget.component.ts
  src/test/javascript/spec/component/iris/ui/chatbot-widget.component.spec.ts
Labels: tests, client, ready to merge, too-long-open

#7575 `Development`: Move logic for saving assessments into a service
  src/main/java/de/tum/in/www1/artemis/repository/ResultRepository.java
  src/main/java/de/tum/in/www1/artemis/service/AssessmentService.java
  src/main/java/de/tum/in/www1/artemis/service/ExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/TextAssessmentService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingAssessmentService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/AssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/FileUploadAssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ModelingAssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingAssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextAssessmentResource.java
  src/test/java/de/tum/in/www1/artemis/exercise/modelingexercise/ModelingExerciseUtilService.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingAssessmentIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/AssessmentServiceTest.java
Labels: tests, server, ready to merge, maintainer-approved, too-long-open

#7853 `Development`: Update client dependency `export-to-csv`
  jest.config.js
  package-lock.json
  package.json
  src/main/webapp/app/course/course-scores/course-scores.component.ts
  src/main/webapp/app/exam/exam-scores/exam-scores.component.ts
  src/main/webapp/app/exercises/shared/exercise-scores/exercise-scores-export-button.component.ts
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-inspector/plagiarism-inspector.component.ts
  src/main/webapp/app/grading-system/base-grading-system/base-grading-system.component.ts
  src/main/webapp/app/shared/course-group/course-group.component.ts
  src/main/webapp/app/shared/export/export-modal.component.html
  src/main/webapp/app/shared/export/export-modal.component.ts
  src/test/javascript/spec/component/course/course-scores/course-scores.component.spec.ts
  src/test/javascript/spec/component/exam/exam-scores/exam-scores.component.spec.ts
  src/test/javascript/spec/component/grading-system/detailed-grading-system.component.spec.ts
  src/test/javascript/spec/component/grading-system/interval-grading-system.component.spec.ts
  src/test/javascript/spec/component/plagiarism/plagiarism-inspector.component.spec.ts
  src/test/javascript/spec/component/shared/course-group.component.spec.ts
  src/test/javascript/spec/component/shared/export/export-modal.component.spec.ts
Labels: tests, client, ready to merge

#7839 `Development`: Enable cancellation of build jobs in the build queue representation in local continuous integration
  src/main/java/de/tum/in/www1/artemis/config/websocket/WebsocketConfiguration.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIBuildJobManagementService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIQueueWebsocketService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCISharedBuildJobQueueService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/admin/AdminBuildJobQueueResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/localci/BuildJobQueueResource.java
  src/main/java/de/tum/in/www1/artemis/web/websocket/localci/LocalCIWebsocketMessagingService.java
  src/main/webapp/app/localci/build-queue/build-queue.component.html
  src/main/webapp/app/localci/build-queue/build-queue.component.ts
  src/main/webapp/app/localci/build-queue/build-queue.service.ts
  src/main/webapp/i18n/de/buildQueue.json
  src/main/webapp/i18n/en/buildQueue.json
  src/test/javascript/spec/component/localci/build-queue.component.spec.ts
  src/test/javascript/spec/component/localci/build-queue.service.spec.ts
Labels: tests, server, client, ready to merge, localci/localvcs

#7848 `Plagiarism checks`: Display message when cannot fetch files for plagiarism comparison
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-split-view/text-submission-viewer/text-submission-viewer.component.html
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-split-view/text-submission-viewer/text-submission-viewer.component.scss
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-split-view/text-submission-viewer/text-submission-viewer.component.ts
  src/main/webapp/i18n/de/plagiarism.json
  src/main/webapp/i18n/en/plagiarism.json
  src/test/javascript/spec/component/plagiarism/text-submission-viewer.component.spec.ts
Labels: tests, client, small, ready to merge, maintainer-approved

#7840 `Programming exercises`: Add a warning for duplicated test cases in the problem statement
  src/main/webapp/app/exercises/programming/manage/instructions-editor/analysis/programming-exercise-instruction-analysis.component.html
  src/main/webapp/app/exercises/programming/manage/instructions-editor/analysis/programming-exercise-instruction-analysis.component.ts
  src/main/webapp/app/exercises/programming/manage/instructions-editor/analysis/programming-exercise-instruction-analysis.model.ts
  src/main/webapp/app/exercises/programming/manage/instructions-editor/analysis/programming-exercise-instruction-analysis.service.ts
  src/main/webapp/app/exercises/programming/manage/instructions-editor/programming-exercise-editable-instruction.component.ts
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/programmingExercise.json
  src/test/javascript/spec/component/programming-exercise/programming-exercise-instruction-analysis.component.spec.ts
  src/test/javascript/spec/helpers/sample/problemStatement.json
  src/test/javascript/spec/service/programming-exercise-instruction-analysis.service.spec.ts
Labels: feature, tests, ready for review, client, small, ready to merge

#7796 `General`: Add search and sort functionality in course registration page
  src/main/webapp/app/overview/course-registration/course-registration.component.html
  src/main/webapp/app/overview/course-registration/course-registration.component.ts
  src/main/webapp/i18n/de/course.json
  src/main/webapp/i18n/en/course.json
  src/test/javascript/spec/component/course-registration/course-registration.component.spec.ts
Labels: tests, client, ready to merge, deployment-error

#7791 `General`: Improve active students charts view
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/webapp/app/course/manage/course-management.service.ts
  src/main/webapp/app/course/manage/detail/course-detail-line-chart.component.html
  src/main/webapp/app/course/manage/detail/course-detail-line-chart.component.scss
  src/main/webapp/app/course/manage/detail/course-detail-line-chart.component.ts
  src/main/webapp/i18n/de/course.json
  src/main/webapp/i18n/en/course.json
  src/test/javascript/spec/component/course/course-management.service.spec.ts
  src/test/javascript/spec/component/course/detail/course-detail-line-chart.component.spec.ts
Labels: tests, server, client, cypress, ready to merge, maintainer-approved

#7792 `Programming exercises`: Prevent long feedback texts getting detached from their parent feedback
  src/main/java/de/tum/in/www1/artemis/domain/Feedback.java
  src/main/java/de/tum/in/www1/artemis/repository/LongFeedbackTextRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ResultService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingAssessmentResource.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingAssessmentIntegrationTest.java
Labels: tests, server, component:Programming, ready to merge

#7442 `Plagiarism checks`: Allow students to respond to continuous plagiarism cases
  src/main/java/de/tum/in/www1/artemis/domain/plagiarism/PlagiarismDetectionConfig.java
  src/main/java/de/tum/in/www1/artemis/repository/plagiarism/PlagiarismCaseRepository.java
  src/main/java/de/tum/in/www1/artemis/web/rest/plagiarism/PlagiarismCaseResource.java
  src/main/resources/config/liquibase/changelog/20231028105016_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/course/plagiarism-cases/student-view/detail-view/plagiarism-case-student-detail-view.component.html
  src/main/webapp/app/course/plagiarism-cases/student-view/detail-view/plagiarism-case-student-detail-view.component.ts
  src/main/webapp/app/entities/exercise.model.ts
  src/main/webapp/app/exercises/shared/plagiarism/exercise-update-plagiarism/exercise-update-plagiarism.component.html
  src/main/webapp/i18n/de/plagiarism.json
  src/main/webapp/i18n/en/plagiarism.json
  src/test/java/de/tum/in/www1/artemis/service/plagiarism/PlagiarismDetectionConfigHelperTest.java
  src/test/javascript/spec/component/plagiarism/plagiarism-case-student-detail-view.component.spec.ts
Labels: tests, server, client, database, component:Plagiarism Detection, ready to merge, maintainer-approved, too-long-open

#7878 `Development`: Update copyright year
  LICENSE
  docs/conf.py
  docs/requirements.txt
  src/main/resources/templates/swift/test/.swiftlint.yml
  src/main/resources/templates/swift/xcode/test/.swiftlint.yml
Labels: documentation, template

#7882 `Programming exercises`: Fix Iris settings on detail page
  src/main/webapp/app/detail-overview-list/detail-overview-list.component.html
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.html
Labels: client, ready to merge, maintainer-approved

#7871 `Integrated code lifecycle`: Use specified build job result paths
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIBuildJobExecutionService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIContainerService.java
  src/main/resources/templates/aeolus/java/plain_maven_static.yaml
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseLocalVCLocalCIIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalCIIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalVCLocalCIIntegrationTest.java
Labels: tests, server, template, ready to merge, localci/localvcs

#7869 `Iris`: Refactor session services to be more maintainable
  src/main/java/de/tum/in/www1/artemis/service/hestia/CodeHintService.java
  src/main/java/de/tum/in/www1/artemis/service/iris/IrisSessionService.java
  src/main/java/de/tum/in/www1/artemis/service/iris/session/IrisButtonBasedFeatureInterface.java
  src/main/java/de/tum/in/www1/artemis/service/iris/session/IrisChatBasedFeatureInterface.java
  src/main/java/de/tum/in/www1/artemis/service/iris/session/IrisChatSessionService.java
  src/main/java/de/tum/in/www1/artemis/service/iris/session/IrisCodeEditorSessionService.java
  src/main/java/de/tum/in/www1/artemis/service/iris/session/IrisHestiaSessionService.java
  src/main/java/de/tum/in/www1/artemis/service/iris/session/IrisRateLimitedFeatureInterface.java
  src/main/java/de/tum/in/www1/artemis/service/iris/session/IrisSessionSubServiceInterface.java
  src/main/java/de/tum/in/www1/artemis/service/iris/session/IrisSubFeatureInterface.java
  src/main/java/de/tum/in/www1/artemis/web/rest/iris/IrisChatSessionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/iris/IrisCodeEditorMessageResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/iris/IrisCodeEditorSessionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/iris/IrisMessageResource.java
  src/test/java/de/tum/in/www1/artemis/iris/IrisChatMessageIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/iris/IrisChatWebsocketTest.java
  src/test/java/de/tum/in/www1/artemis/iris/IrisHestiaIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/iris/IrisSessionActivationIntegrationTest.java
Labels: enhancement, tests, ready for review, server, ready to merge, component:Iris

#7885 `Development`: Add new feature tag `Integrated code lifecycle`
  README.md
  docker/artemis/config/dev-local-vc-local-ci.env
  docs/dev/setup.rst
  docs/dev/setup/integrated-code-lifecycle.rst
  docs/dev/setup/server.rst
  docs/dev/system-design.rst
  docs/dev/system-design/integrated-code-lifecycle/Integrated_Code_Lifecycle_Deployment.png
  docs/dev/system-design/integrated-code-lifecycle/Integrated_Code_Lifecycle_Subsystem_CI.png
  docs/dev/system-design/integrated-code-lifecycle/Integrated_Code_Lifecycle_Subsystem_VC.png
  docs/dev/system-design/integrated-code-lifecycle/integrated-code-lifecycle-system-design.rst
  docs/requirements.txt
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIBuildJobManagementService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIResultService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIService.java
Labels: ready for review, server, documentation, docker

#7854 `Plagiarism checks`: Fix comparison highlighting and introduce full line highlighting for programming exercises
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-split-view/plagiarism-split-view.component.ts
  src/main/webapp/app/exercises/shared/plagiarism/plagiarism-split-view/text-submission-viewer/text-submission-viewer.component.ts
  src/main/webapp/app/exercises/shared/plagiarism/types/text/TextSubmissionElement.ts
  src/test/javascript/spec/component/plagiarism/plagiarism-split-view.component.spec.ts
  src/test/javascript/spec/component/plagiarism/text-submission-viewer.component.spec.ts
Labels: tests, client, ready to merge, maintainer-approved

#7877 `Integrated code lifecycle`: Persist finished build jobs
  src/main/java/de/tum/in/www1/artemis/domain/BuildJob.java
  src/main/java/de/tum/in/www1/artemis/domain/VcsRepositoryUri.java
  src/main/java/de/tum/in/www1/artemis/domain/enumeration/BuildJobResult.java
  src/main/java/de/tum/in/www1/artemis/domain/enumeration/RepositoryType.java
  src/main/java/de/tum/in/www1/artemis/repository/BuildJobRepository.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/ci/ContinuousIntegrationTriggerService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIBuildJobExecutionService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIBuildJobManagementService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCISharedBuildJobQueueService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCITriggerService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/dto/LocalCIBuildJobQueueItem.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localvc/LocalVCServletService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/JavaTemplateUpgradeService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingTriggerService.java
  src/main/resources/config/liquibase/changelog/20240116111512_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/test/java/de/tum/in/www1/artemis/localvcci/AbstractLocalCILocalVCIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalCIIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalVCLocalCIIntegrationTest.java
Labels: tests, server, database, ready to merge, maintainer-approved, integrated code lifecycle

#7893 `General`: Fix text overlapping buttons in course management view
  src/main/webapp/app/course/manage/overview/course-management-card.scss
  src/main/webapp/app/course/manage/overview/course-management-exercise-row.scss
Labels: client, small, user interface, ready to merge

#7833 `Development`: Refactor import components
  src/main/webapp/app/course/competencies/competency-management/competency-import.component.html
  src/main/webapp/app/course/competencies/competency-management/competency-import.component.ts
  src/main/webapp/app/course/competencies/competency-management/prerequisite-import.component.html
  src/main/webapp/app/course/competencies/competency-management/prerequisite-import.component.ts
  src/main/webapp/app/course/competencies/competency-paging.service.ts
  src/main/webapp/app/course/learning-paths/learning-path-management/learning-path-management.component.ts
  src/main/webapp/app/course/learning-paths/learning-path-paging.service.ts
  src/main/webapp/app/exam/manage/exams/exam-import/exam-import-paging.service.ts
  src/main/webapp/app/exam/manage/exams/exam-import/exam-import.component.html
  src/main/webapp/app/exam/manage/exams/exam-import/exam-import.component.ts
  src/main/webapp/app/exercises/shared/example-submission/example-submission-import/example-submission-import-paging.service.ts
  src/main/webapp/app/exercises/shared/example-submission/example-submission-import/example-submission-import.component.html
  src/main/webapp/app/exercises/shared/example-submission/example-submission-import/example-submission-import.component.ts
  src/main/webapp/app/exercises/shared/import/exercise-import.component.html
  src/main/webapp/app/exercises/shared/import/exercise-import.component.ts
  src/main/webapp/app/exercises/shared/manage/exercise-paging.service.ts
  src/main/webapp/app/exercises/shared/manage/paging.service.ts
  src/main/webapp/app/lecture/lecture-import.component.html
  src/main/webapp/app/lecture/lecture-import.component.ts
  src/main/webapp/app/lecture/lecture-paging.service.ts
  src/main/webapp/app/lecture/lecture.component.html
  src/main/webapp/app/shared/import/import.component.html
  src/main/webapp/app/shared/import/import.component.ts
  src/main/webapp/i18n/de/competency.json
  src/main/webapp/i18n/de/lecture.json
  src/main/webapp/i18n/en/competency.json
  src/main/webapp/i18n/en/lecture.json
  src/test/javascript/spec/component/competencies/competency-import.component.spec.ts
  src/test/javascript/spec/component/competencies/prerequisite-import.component.spec.ts
  src/test/javascript/spec/component/exam/manage/exam-import.component.spec.ts
  src/test/javascript/spec/component/exercises/shared/example-submission-import.component.spec.ts
  src/test/javascript/spec/component/import/exercise-import.component.spec.ts
  src/test/javascript/spec/component/import/import.component.spec.ts
  src/test/javascript/spec/component/learning-paths/management/learning-path-management.component.spec.ts
  src/test/javascript/spec/component/lecture/lecture-import.component.spec.ts
  src/test/javascript/spec/component/manage/dummy-paging-service.ts
  src/test/javascript/spec/component/manage/exercise-paging.service.spec.ts
  src/test/javascript/spec/service/exam-import-paging.service.spec.ts
  src/test/javascript/spec/service/example-submission-import-paging.service.spec.ts
  src/test/javascript/spec/service/learning-path-paging.service.spec.ts
Labels: tests, client, refactoring, ready to merge

#7873 `Iris`: Remove code duplication in Iris session resources
  src/main/java/de/tum/in/www1/artemis/service/dto/iris/IrisCombinedChatSubSettingsDTO.java
  src/main/java/de/tum/in/www1/artemis/service/dto/iris/IrisCombinedCodeEditorSubSettingsDTO.java
  src/main/java/de/tum/in/www1/artemis/service/dto/iris/IrisCombinedHestiaSubSettingsDTO.java
  src/main/java/de/tum/in/www1/artemis/service/dto/iris/IrisCombinedSubSettingsInterface.java
  src/main/java/de/tum/in/www1/artemis/web/rest/iris/IrisChatSessionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/iris/IrisCodeEditorSessionResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/iris/IrisExerciseChatBasedSessionResource.java
  src/test/java/de/tum/in/www1/artemis/iris/IrisChatSessionIntegrationTest.java
Labels: tests, ready for review, server, ready to merge, stacked-pr, component:Iris

#7894 `Integrated code lifecycle`: Fix issues in build queue when running on multiple nodes
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIBuildJobManagementService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIQueueWebsocketService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCISharedBuildJobQueueService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/dto/LocalCIBuildJobQueueItem.java
  src/main/java/de/tum/in/www1/artemis/web/rest/admin/AdminBuildJobQueueResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/localci/BuildJobQueueResource.java
  src/main/webapp/app/entities/build-job.model.ts
  src/main/webapp/app/localci/build-queue/build-queue.component.ts
  src/main/webapp/app/localci/build-queue/build-queue.service.ts
  src/main/webapp/app/shared/data-table/data-table.component.ts
  src/main/webapp/app/shared/model/base-entity.ts
  src/test/javascript/spec/component/localci/build-queue.component.spec.ts
  src/test/javascript/spec/component/localci/build-queue.service.spec.ts
Labels: tests, server, client, ready to merge, lock:artemis-test3, integrated code lifecycle

#7898 `General`: Fix active students chart for empty courses
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/webapp/app/course/manage/course-management.service.ts
  src/main/webapp/app/course/manage/detail/course-detail-line-chart.component.html
  src/test/java/de/tum/in/www1/artemis/course/CourseTestService.java
Labels: tests, server, client, ready to merge

#7864 `Development`: Remove unused code
  src/main/java/de/tum/in/www1/artemis/config/migration/entries/MigrationEntry20230920_181600.java
  src/main/java/de/tum/in/www1/artemis/config/migration/entries/MigrationEntry20231206_163000.java
  src/main/java/de/tum/in/www1/artemis/service/AuditEventService.java
  src/main/java/de/tum/in/www1/artemis/service/CompetencyService.java
  src/main/java/de/tum/in/www1/artemis/service/ModelingExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/QuizExerciseImportService.java
  src/main/java/de/tum/in/www1/artemis/service/ResultService.java
  src/main/java/de/tum/in/www1/artemis/service/TextExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bitbucket/BitbucketService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bitbucket/BitbucketUserManagementService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/gitlab/GitLabService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsUserManagementService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localvc/LocalVCService.java
  src/main/java/de/tum/in/www1/artemis/service/exam/ExamImportService.java
  src/main/java/de/tum/in/www1/artemis/service/iris/session/IrisChatSessionService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExercisePlagiarismResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/QuizExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TextAssessmentResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/lecture/ExerciseUnitResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/lecture/TextUnitResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/lecture/VideoUnitResource.java
  src/main/java/de/tum/in/www1/artemis/web/websocket/team/TeamWebsocketService.java
  src/test/java/de/tum/in/www1/artemis/assessment/AssessmentTeamComplaintIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/authentication/InternalAuthenticationIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/authorization/AuthorizationTestService.java
  src/test/java/de/tum/in/www1/artemis/course/CourseTestService.java
  src/test/java/de/tum/in/www1/artemis/dataexport/DataExportResourceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/domain/notification/GroupNotificationFactoryTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/modelingexercise/compass/umlmodel/UMLDiagramTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseBuildPlanTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/quizexercise/QuizSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/hestia/ProgrammingExerciseGitDiffReportServiceTest.java
  src/test/java/de/tum/in/www1/artemis/iris/IrisChatWebsocketTest.java
  src/test/java/de/tum/in/www1/artemis/post/ConversationUtilService.java
  src/test/java/de/tum/in/www1/artemis/service/DataExportCreationServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/ExerciseDateServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/SubmissionServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/notifications/TutorialGroupNotificationServiceTest.java
  src/test/java/de/tum/in/www1/artemis/staticcodeanalysis/StaticCodeAnalysisIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/tutorialgroups/TutorialGroupFreePeriodIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/user/AccountResourceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/user/UserTestService.java
Labels: tests, server, code quality, small, ready to merge

#7815 `Development`: Rename plagiarism-post related classes
  src/main/java/de/tum/in/www1/artemis/repository/metis/ConversationMessageRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/specs/MessageSpecs.java
  src/main/java/de/tum/in/www1/artemis/repository/specs/PostSpecs.java
  src/main/java/de/tum/in/www1/artemis/service/metis/ReactionService.java
  src/main/java/de/tum/in/www1/artemis/service/metis/conversation/ConversationService.java
  src/main/java/de/tum/in/www1/artemis/service/plagiarism/ContinuousPlagiarismControlService.java
  src/main/java/de/tum/in/www1/artemis/service/plagiarism/PlagiarismAnswerPostService.java
  src/main/java/de/tum/in/www1/artemis/service/plagiarism/PlagiarismPostService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/plagiarism/PlagiarismAnswerPostResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/plagiarism/PlagiarismPostResource.java
  src/test/java/de/tum/in/www1/artemis/exercise/modelingexercise/ModelingSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/metis/MessageIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/plagiarism/PlagiarismAnswerPostIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/plagiarism/PlagiarismPostIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/DataExportCreationServiceTest.java
  src/test/java/de/tum/in/www1/artemis/service/plagiarism/ContinuousPlagiarismControlServiceTest.java
  src/test/java/de/tum/in/www1/artemis/text/TextSubmissionIntegrationTest.java
Labels: tests, server, ready to merge

#7861 `Development`: Increase test coverage
  src/main/java/de/tum/in/www1/artemis/repository/ResultRepository.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCISharedBuildJobQueueService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCITriggerService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localvc/LocalVCServletService.java
  src/test/java/de/tum/in/www1/artemis/AbstractSpringIntegrationLocalCILocalVCTest.java
  src/test/java/de/tum/in/www1/artemis/localvcci/AbstractLocalCILocalVCIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalCIIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalCIResourceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalVCLocalCIIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalVCLocalCITestService.java
Labels: tests, server, ready to merge, integrated code lifecycle

#7829 `Development`: Remove eager relationship between team and students
  src/main/java/de/tum/in/www1/artemis/domain/Team.java
  src/main/java/de/tum/in/www1/artemis/repository/ParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ProgrammingExerciseStudentParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ProgrammingSubmissionRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/StudentParticipationRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/TeamRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/TeamScoreRepository.java
  src/main/java/de/tum/in/www1/artemis/service/AuthorizationCheckService.java
  src/main/java/de/tum/in/www1/artemis/service/ComplaintService.java
  src/main/java/de/tum/in/www1/artemis/service/ParticipantScoreService.java
  src/main/java/de/tum/in/www1/artemis/service/ParticipationAuthorizationCheckService.java
  src/main/java/de/tum/in/www1/artemis/service/ParticipationService.java
  src/main/java/de/tum/in/www1/artemis/service/ResultService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingAssessmentService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingMessagingService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingTriggerService.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/ParticipantScoreScheduleService.java
  src/main/java/de/tum/in/www1/artemis/service/team/TeamImportStrategy.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ComplaintResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ComplaintResponseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ParticipationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/TeamResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/open/PublicProgrammingSubmissionResource.java
  src/main/java/de/tum/in/www1/artemis/web/websocket/team/TeamWebsocketService.java
  src/test/java/de/tum/in/www1/artemis/DatabaseQueryCountTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/modelingexercise/compass/umlmodel/AbstractUMLDiagramTest.java
  src/test/java/de/tum/in/www1/artemis/participation/ParticipationUtilService.java
Labels: tests, server, ready to merge

#7904 `Exam mode`: Add scroll to top when navigating to new exam details
  src/main/webapp/app/exam/manage/exams/exam-detail.component.ts
  src/test/javascript/spec/component/exam/manage/exams/exam-detail.component.spec.ts
Labels: tests, ready for review, client

#7892 `Development`: Improve cache configuration
  src/main/java/de/tum/in/www1/artemis/config/CacheConfiguration.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIPriorityQueueComparator.java
Labels: ready for review, server, small

#7901 `General`: Use easier date format when sending emails
  src/main/java/de/tum/in/www1/artemis/service/TimeService.java
Labels: server, small, ready to merge, component:Email

#7896 `Iris`: Fix iris health check taking too long
  src/main/java/de/tum/in/www1/artemis/config/RestTemplateConfiguration.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/iris/IrisHealthIndicator.java
  src/test/java/de/tum/in/www1/artemis/connector/IrisRequestMockProvider.java
Labels: tests, ready for review, server, small, bugfix, component:Iris

#7888 `Programming exercises`: Fix broken results in problem statement in the instructor detail page
  src/main/webapp/app/exercises/programming/shared/instructions-render/programming-exercise-instruction.component.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-instruction.component.spec.ts
Labels: tests, client, ready to merge

#7911 `Development`: Improve JPQL style for student participations
  src/main/java/de/tum/in/www1/artemis/repository/StudentParticipationRepository.java
Labels: server, ready to merge

#7874 `Integrated code lifecycle`: Add build agent representation for administrators in local continuous integration
  src/main/java/de/tum/in/www1/artemis/config/websocket/WebsocketConfiguration.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIQueueWebsocketService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCISharedBuildJobQueueService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/dto/LocalCIBuildAgentInformation.java
  src/main/java/de/tum/in/www1/artemis/web/websocket/localci/LocalCIWebsocketMessagingService.java
  src/main/webapp/app/admin/admin.module.ts
  src/main/webapp/app/admin/admin.route.ts
  src/main/webapp/app/course/manage/course-management.route.ts
  src/main/webapp/app/entities/build-agent.model.ts
  src/main/webapp/app/localci/build-agents/build-agents.component.html
  src/main/webapp/app/localci/build-agents/build-agents.component.scss
  src/main/webapp/app/localci/build-agents/build-agents.component.ts
  src/main/webapp/app/localci/build-agents/build-agents.service.ts
  src/main/webapp/app/localci/build-queue/build-queue.component.html
  src/main/webapp/app/localci/build-queue/localci-guard.service.ts
  src/main/webapp/app/shared/layouts/navbar/navbar.component.html
  src/main/webapp/app/shared/layouts/navbar/navbar.component.ts
  src/main/webapp/i18n/de/buildAgents.json
  src/main/webapp/i18n/en/buildAgents.json
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalCIResourceIntegrationTest.java
  src/test/javascript/spec/component/localci/build-agents/build-agents.component.spec.ts
  src/test/javascript/spec/component/localci/build-agents/build-agents.service.spec.ts
  src/test/javascript/spec/component/localci/build-queue/build-queue.component.spec.ts
  src/test/javascript/spec/component/localci/build-queue/build-queue.guard.spec.ts
  src/test/javascript/spec/component/localci/build-queue/build-queue.service.spec.ts
Labels: tests, server, client, ready to merge, lock:artemis-test3, integrated code lifecycle

#7917 `Development`: Bump bamboo spec version to 9.4.2
  build.gradle
  docker/atlassian.yml
Labels: docker

#7850 `Iris`: Improve the enable button in the settings
  src/main/webapp/app/iris/settings/iris-settings-update/iris-common-sub-settings-update/iris-common-sub-settings-update.component.html
  src/main/webapp/app/iris/settings/iris-settings-update/iris-common-sub-settings-update/iris-common-sub-settings-update.component.ts
  src/main/webapp/i18n/de/iris.json
  src/main/webapp/i18n/en/iris.json
  src/test/javascript/spec/component/iris/settings/iris-common-sub-settings-update.component.spec.ts
Labels: tests, client, small, ready to merge, component:Iris

#7906 `Programming exercises`: Add link to open external repository
  src/main/webapp/app/detail-overview-list/detail-overview-list.component.html
  src/main/webapp/app/detail-overview-list/detail-overview-list.component.ts
  src/main/webapp/app/exercises/programming/manage/programming-exercise-detail.component.ts
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/programmingExercise.json
Labels: client, ready to merge, maintainer-approved

#7907 `Development`: Update client dependencies
  jest.config.js
  package-lock.json
  package.json
  src/main/webapp/app/course/competencies/competency-management/competency-import.component.ts
  src/main/webapp/app/exam/participate/exam-participation.component.ts
  src/main/webapp/app/exercises/file-upload/assess/file-upload-assessment.component.ts
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment-editor/modeling-assessment-editor.component.ts
  src/main/webapp/app/exercises/modeling/manage/example-modeling/example-modeling-submission.component.ts
  src/main/webapp/app/exercises/programming/assess/code-editor-tutor-assessment-container.component.ts
  src/main/webapp/app/exercises/programming/manage/grading/charts/test-case-distribution-chart.component.ts
  src/main/webapp/app/exercises/quiz/shared/questions/drag-and-drop-question/drag-and-drop-question.component.ts
  src/main/webapp/app/exercises/quiz/shared/questions/multiple-choice-question/multiple-choice-visual-question.component.ts
  src/main/webapp/app/exercises/shared/exercise/exercise.service.ts
  src/main/webapp/app/exercises/shared/exercise/exercise.utils.ts
  src/main/webapp/app/exercises/text/assess/text-assessment-base.component.ts
  src/main/webapp/app/exercises/text/assess/text-submission-assessment.component.ts
  src/main/webapp/app/exercises/text/manage/example-text-submission/example-text-submission.component.ts
  src/main/webapp/app/lecture/lecture-import.component.ts
  src/main/webapp/app/lecture/wizard-mode/lecture-wizard-competencies.component.ts
  src/test/cypress/tsconfig.json
  src/test/javascript/spec/component/example-modeling/example-modeling-submission.component.spec.ts
  src/test/javascript/spec/component/overview/course-conversations/dialogs/conversation-add-users-dialog/conversation-add-users-dialog.component.spec.ts
  src/test/javascript/spec/component/text-submission-assessment/text-submission-assessment.component.spec.ts
Labels: tests, ready for review, server, client, cypress, docker

#7912 `Development`: Handle course image persistence directly
  src/main/java/de/tum/in/www1/artemis/domain/Course.java
  src/main/java/de/tum/in/www1/artemis/service/EntityFileService.java
  src/main/java/de/tum/in/www1/artemis/service/FileService.java
  src/main/java/de/tum/in/www1/artemis/service/LectureUnitProcessingService.java
  src/main/java/de/tum/in/www1/artemis/service/QuizExerciseService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/admin/AdminCourseResource.java
Labels: server, ready to merge

#7851 `Development`: Fix some teamscale possible bug and performance findings
  src/main/java/de/tum/in/www1/artemis/config/migration/MigrationService.java
  src/main/java/de/tum/in/www1/artemis/domain/Exercise.java
  src/main/java/de/tum/in/www1/artemis/domain/enumeration/StaticCodeAnalysisTool.java
  src/main/java/de/tum/in/www1/artemis/domain/quiz/QuizExercise.java
  src/main/java/de/tum/in/www1/artemis/domain/quiz/scoring/ScoringStrategyShortAnswerUtil.java
  src/main/java/de/tum/in/www1/artemis/repository/StatisticsRepository.java
  src/main/java/de/tum/in/www1/artemis/service/CompetencyService.java
  src/main/java/de/tum/in/www1/artemis/service/CourseService.java
  src/main/java/de/tum/in/www1/artemis/service/ExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/TeamService.java
  src/main/java/de/tum/in/www1/artemis/service/TutorParticipationService.java
  src/main/java/de/tum/in/www1/artemis/service/compass/CompassService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/bamboo/BambooService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/jenkins/JenkinsService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCISharedBuildJobQueueService.java
  src/main/java/de/tum/in/www1/artemis/service/exam/StudentExamService.java
  src/main/java/de/tum/in/www1/artemis/service/export/SubmissionExportService.java
  src/main/java/de/tum/in/www1/artemis/service/hestia/structural/StructuralElement.java
  src/main/java/de/tum/in/www1/artemis/service/iris/settings/IrisSubSettingsService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/ProgrammingExerciseExportImportResource.java
  src/main/webapp/app/course/competencies/competency-management/competency-management.component.ts
  src/test/java/de/tum/in/www1/artemis/course/CourseTestService.java
  src/test/java/de/tum/in/www1/artemis/exam/StudentExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/quizexercise/QuizComparisonTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/quizexercise/QuizSubmissionIntegrationTest.java
Labels: tests, server, client, code quality, small, ready to merge

#7916 `Iris`: Disable Iris toggle for exercises if Iris is disabled on the course level
  src/main/webapp/app/iris/settings/iris-settings-update/iris-common-sub-settings-update/iris-common-sub-settings-update.component.html
  src/main/webapp/app/iris/settings/iris-settings-update/iris-common-sub-settings-update/iris-common-sub-settings-update.component.ts
  src/main/webapp/i18n/de/iris.json
  src/main/webapp/i18n/en/iris.json
  src/test/javascript/spec/component/iris/settings/iris-common-sub-settings-update.component.spec.ts
Labels: tests, ready for review, client, component:Iris

#7950 `General`: Use import icon consistently
  src/main/webapp/app/course/competencies/competency-management/competency-management.component.html
  src/main/webapp/app/course/competencies/competency-management/competency-management.component.ts
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-groups/tutorial-groups-management/tutorial-groups-import-dialog/tutorial-groups-registration-import-dialog.component.html
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-groups/tutorial-groups-management/tutorial-groups-import-dialog/tutorial-groups-registration-import-dialog.component.ts
  src/main/webapp/app/exam/manage/exam-management.component.html
  src/main/webapp/app/exam/manage/exam-management.component.ts
  src/main/webapp/app/exam/manage/exercise-groups/exercise-groups.component.html
  src/main/webapp/app/lecture/lecture.component.html
  src/main/webapp/app/lecture/lecture.component.ts
  src/main/webapp/app/shared/user-import/users-import-button.component.ts
Labels: client, ready to merge, maintainer-approved

#7942 `Development`: Improve JPQL style for modeling repositories
  src/main/java/de/tum/in/www1/artemis/repository/ModelClusterRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ModelElementRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ModelingExerciseRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ModelingSubmissionRepository.java
Labels: server, chore, code quality, consistency, small, maintainer-approved

#7941 `Development`: Improve JPQL style for exam repositories
  src/main/java/de/tum/in/www1/artemis/repository/ExamLiveEventRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ExamRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ExamSessionRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ExamUserRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/StudentExamRepository.java
  src/main/java/de/tum/in/www1/artemis/service/exam/ExamSessionService.java
Labels: server, chore, code quality, consistency, ready to merge, maintainer-approved

#7922 `Development`: Improve JPQL style for plagiarism repositories
  src/main/java/de/tum/in/www1/artemis/repository/plagiarism/PlagiarismCaseRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/plagiarism/PlagiarismComparisonRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/plagiarism/PlagiarismSubmissionRepository.java
Labels: server, chore, code quality, consistency, small, ready to merge, maintainer-approved

#7937 `Development`: Add CPC screencast to the documentation
  docs/user/plagiarism-check.rst
Labels: documentation, small, ready to merge, maintainer-approved

#7930 `Development`: Fixed flaky test assertion in conversation test
  src/test/java/de/tum/in/www1/artemis/metis/ConversationIntegrationTest.java
Labels: tests, small, maintainer-approved

#7909 `Assessment`: Update assessor after overriding
  src/main/webapp/app/exercises/programming/assess/code-editor-tutor-assessment-container.component.ts
  src/test/javascript/spec/component/programming-assessment/code-editor-tutor-assessment-container.component.spec.ts
Labels: tests, client, small, ready to merge, maintainer-approved

#7903 `Adaptive learning`: Add possibility to import all competencies and relations of another course
  src/main/java/de/tum/in/www1/artemis/domain/Course.java
  src/main/java/de/tum/in/www1/artemis/domain/competency/Competency.java
  src/main/java/de/tum/in/www1/artemis/domain/competency/LearningPath.java
  src/main/java/de/tum/in/www1/artemis/repository/CourseRepository.java
  src/main/java/de/tum/in/www1/artemis/service/CompetencyService.java
  src/main/java/de/tum/in/www1/artemis/service/CourseService.java
  src/main/java/de/tum/in/www1/artemis/service/GradingScaleService.java
  src/main/java/de/tum/in/www1/artemis/service/learningpath/LearningPathService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CompetencyResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/CourseForImportDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/competency/CompetencyRelationDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/competency/CompetencyWithTailRelationDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/util/PageUtil.java
  src/main/webapp/app/course/competencies/competency-management/competency-import-course.component.html
  src/main/webapp/app/course/competencies/competency-management/competency-import-course.component.ts
  src/main/webapp/app/course/competencies/competency-management/competency-management.component.html
  src/main/webapp/app/course/competencies/competency-management/competency-management.component.ts
  src/main/webapp/app/course/competencies/competency.module.ts
  src/main/webapp/app/course/competencies/competency.service.ts
  src/main/webapp/app/course/course-for-import-dto-paging-service.ts
  src/main/webapp/app/entities/competency.model.ts
  src/main/webapp/app/entities/course.model.ts
  src/main/webapp/i18n/de/competency.json
  src/main/webapp/i18n/en/competency.json
  src/test/java/de/tum/in/www1/artemis/course/CourseTestService.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/CourseBitbucketBambooJiraIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/CourseGitlabJenkinsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/lecture/CompetencyIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/lecture/LearningPathIntegrationTest.java
  src/test/javascript/spec/component/competencies/competency-import-course.component.spec.ts
  src/test/javascript/spec/component/competencies/competency-management.component.spec.ts
  src/test/javascript/spec/component/competencies/competency.service.spec.ts
  src/test/javascript/spec/component/course/course-for-import-dto-paging-service.spec.ts
Labels: feature, tests, server, client, ready to merge, component:AdaptiveLearning, maintainer-approved

#7948 `Development`: Untangle quiz dependencies and improve code formatting
  src/main/java/de/tum/in/www1/artemis/domain/Attachment.java
  src/main/java/de/tum/in/www1/artemis/domain/Course.java
  src/main/java/de/tum/in/www1/artemis/domain/exam/ExamUser.java
  src/main/java/de/tum/in/www1/artemis/domain/hestia/ExerciseHint.java
  src/main/java/de/tum/in/www1/artemis/domain/iris/session/IrisSession.java
  src/main/java/de/tum/in/www1/artemis/domain/iris/settings/IrisSettings.java
  src/main/java/de/tum/in/www1/artemis/domain/iris/settings/IrisSubSettings.java
  src/main/java/de/tum/in/www1/artemis/domain/lecture/LectureUnit.java
  src/main/java/de/tum/in/www1/artemis/domain/lecture/Slide.java
  src/main/java/de/tum/in/www1/artemis/domain/metis/conversation/Conversation.java
  src/main/java/de/tum/in/www1/artemis/domain/notification/Notification.java
  src/main/java/de/tum/in/www1/artemis/domain/participation/Participation.java
  src/main/java/de/tum/in/www1/artemis/domain/plagiarism/PlagiarismResult.java
  src/main/java/de/tum/in/www1/artemis/domain/quiz/AnswerOption.java
  src/main/java/de/tum/in/www1/artemis/domain/quiz/DragAndDropQuestion.java
  src/main/java/de/tum/in/www1/artemis/domain/quiz/DragAndDropSubmittedAnswer.java
  src/main/java/de/tum/in/www1/artemis/domain/quiz/DragItem.java
  src/main/java/de/tum/in/www1/artemis/domain/quiz/DropLocation.java
  src/main/java/de/tum/in/www1/artemis/domain/quiz/MultipleChoiceQuestion.java
  src/main/java/de/tum/in/www1/artemis/domain/quiz/QuizExercise.java
  src/main/java/de/tum/in/www1/artemis/domain/quiz/QuizQuestionStatistic.java
  src/main/java/de/tum/in/www1/artemis/domain/quiz/ShortAnswerQuestion.java
  src/main/java/de/tum/in/www1/artemis/domain/quiz/ShortAnswerSolution.java
  src/main/java/de/tum/in/www1/artemis/domain/quiz/ShortAnswerSpot.java
  src/main/java/de/tum/in/www1/artemis/domain/quiz/ShortAnswerSubmittedAnswer.java
  src/main/java/de/tum/in/www1/artemis/domain/quiz/SubmittedAnswer.java
  src/main/java/de/tum/in/www1/artemis/domain/scores/ParticipantScore.java
  src/main/java/de/tum/in/www1/artemis/domain/submissionpolicy/SubmissionPolicy.java
  src/main/java/de/tum/in/www1/artemis/repository/DragItemRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/QuizQuestionRepository.java
  src/main/java/de/tum/in/www1/artemis/service/AttachmentUnitService.java
  src/main/java/de/tum/in/www1/artemis/service/EntityFileService.java
  src/main/java/de/tum/in/www1/artemis/service/ExerciseDeletionService.java
  src/main/java/de/tum/in/www1/artemis/service/FilePathService.java
  src/main/java/de/tum/in/www1/artemis/service/FileUploadSubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/LectureImportService.java
  src/main/java/de/tum/in/www1/artemis/service/QuizExerciseImportService.java
  src/main/java/de/tum/in/www1/artemis/service/QuizExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIQueueWebsocketService.java
  src/main/java/de/tum/in/www1/artemis/service/export/DataExportQuizExerciseCreationService.java
  src/main/java/de/tum/in/www1/artemis/service/iris/session/codeeditor/file/FileChange.java
  src/main/java/de/tum/in/www1/artemis/service/scheduled/ProgrammingExerciseScheduleService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/FileResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/QuizExerciseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/admin/AdminCourseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/examevent/ExamLiveEventDTO.java
  src/main/java/de/tum/in/www1/artemis/web/rest/metis/conversation/dtos/ConversationDTO.java
  src/main/webapp/app/exam/participate/exam-navigation-bar/exam-navigation-bar.component.ts
  src/test/java/de/tum/in/www1/artemis/exam/StudentExamIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/fileuploadexercise/FileUploadSubmissionIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/quizexercise/QuizExerciseFactory.java
  src/test/java/de/tum/in/www1/artemis/service/FilePathServiceTest.java
Labels: tests, server, client, ready to merge

#7935 `Exam mode`: Import only selected exercises
  src/main/webapp/app/exam/manage/exams/exam-update.component.ts
  src/test/javascript/spec/component/exam/exam-update.component.spec.ts
Labels: tests, client, component:Exam Mode, small, ready to merge

#7945 `Development`: Improve persistent storage of competency relations
  src/main/java/de/tum/in/www1/artemis/domain/Course.java
  src/main/java/de/tum/in/www1/artemis/domain/Exercise.java
  src/main/java/de/tum/in/www1/artemis/domain/competency/Competency.java
  src/main/java/de/tum/in/www1/artemis/domain/competency/CompetencyProgress.java
  src/main/java/de/tum/in/www1/artemis/domain/competency/CompetencyRelation.java
  src/main/java/de/tum/in/www1/artemis/domain/competency/RelationType.java
  src/main/java/de/tum/in/www1/artemis/domain/lecture/LectureUnit.java
  src/main/java/de/tum/in/www1/artemis/repository/CompetencyProgressRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/CompetencyRelationRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/CompetencyRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/LearningPathRepository.java
  src/main/java/de/tum/in/www1/artemis/service/CompetencyService.java
  src/main/java/de/tum/in/www1/artemis/service/learningpath/LearningPathNgxService.java
  src/main/java/de/tum/in/www1/artemis/service/learningpath/LearningPathRecommendationService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CompetencyResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/competency/CompetencyRelationDTO.java
  src/main/resources/config/liquibase/changelog/20240122000000_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/test/java/de/tum/in/www1/artemis/competency/CompetencyUtilService.java
  src/test/java/de/tum/in/www1/artemis/competency/LearningPathIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/lecture/CompetencyIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/LearningPathServiceTest.java
Labels: tests, server, database, ready to merge

#7932 `Development`: Improve JPQL style for complaint repositories
  src/main/java/de/tum/in/www1/artemis/repository/ComplaintRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/ComplaintResponseRepository.java
  src/main/java/de/tum/in/www1/artemis/service/ComplaintService.java
Labels: server, chore, code quality, consistency, ready to merge

#7929 `Programming exercises`: Add shortcuts to save problem statement
  src/main/webapp/app/exercises/programming/manage/instructions-editor/programming-exercise-editable-instruction.component.ts
Labels: client, component:Programming, small, ready to merge

#7699 `Exam mode`: Remove duplicated change submission status button
  src/main/webapp/app/exam/manage/student-exams/student-exam-detail.component.html
Labels: client, small, bugfix, ready to merge, too-long-open

#7875 `Text exercises`: Add validation bar into update and create view
  src/main/webapp/app/exercises/shared/exercise-title-channel-name/exercise-title-channel-name.component.ts
  src/main/webapp/app/exercises/shared/exercise/exercise.service.ts
  src/main/webapp/app/exercises/shared/plagiarism/exercise-update-plagiarism/exercise-update-plagiarism.component.html
  src/main/webapp/app/exercises/shared/plagiarism/exercise-update-plagiarism/exercise-update-plagiarism.component.ts
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise-update.component.html
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise-update.component.scss
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise-update.component.ts
  src/main/webapp/app/exercises/text/manage/text-exercise/text-exercise.module.ts
  src/main/webapp/app/forms/form-status-bar/form-status-bar.component.html
  src/main/webapp/app/forms/form-status-bar/form-status-bar.component.scss
  src/main/webapp/app/forms/form-status-bar/form-status-bar.component.ts
  src/main/webapp/app/forms/forms.module.ts
  src/main/webapp/app/shared/form/title-channel-name/title-channel-name.component.html
  src/main/webapp/app/shared/form/title-channel-name/title-channel-name.component.ts
  src/test/javascript/spec/component/forms/form-status-bar.component.spec.ts
  src/test/javascript/spec/component/plagiarism/exercise-update-plagiarism.component.spec.ts
  src/test/javascript/spec/component/text-exercise/text-exercise-update.component.spec.ts
Labels: tests, client, ready to merge

#7734 `Development`: Adapt LTI services to align with centralized configuration management
  src/main/java/de/tum/in/www1/artemis/domain/LtiPlatformConfiguration.java
  src/main/java/de/tum/in/www1/artemis/domain/lti/Lti13ClientRegistration.java
  src/main/java/de/tum/in/www1/artemis/repository/CourseRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/LtiPlatformConfigurationRepository.java
  src/main/java/de/tum/in/www1/artemis/security/lti/Lti13LaunchFilter.java
  src/main/java/de/tum/in/www1/artemis/service/CourseService.java
  src/main/java/de/tum/in/www1/artemis/service/OnlineCourseConfigurationService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/lti/Lti13Service.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/lti/LtiService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/CourseResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/LtiResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/admin/AdminLtiConfigurationResource.java
  src/main/java/de/tum/in/www1/artemis/web/rest/dto/OnlineCourseDTO.java
  src/main/webapp/app/admin/lti-configuration/lti-configuration.component.ts
  src/main/webapp/app/admin/lti-configuration/lti-configuration.model.ts
  src/main/webapp/app/admin/lti-configuration/lti-configuration.service.ts
  src/main/webapp/app/course/manage/course-lti-configuration/course-lti-configuration.component.html
  src/main/webapp/app/course/manage/course-lti-configuration/course-lti-configuration.component.ts
  src/main/webapp/app/course/manage/course-lti-configuration/edit-course-lti-configuration.component.html
  src/main/webapp/app/course/manage/course-lti-configuration/edit-course-lti-configuration.component.ts
  src/main/webapp/app/course/manage/course-management-tab-bar/course-management-tab-bar.component.html
  src/main/webapp/app/course/manage/course-management-tab-bar/course-management-tab-bar.component.ts
  src/main/webapp/app/course/manage/course-management.service.ts
  src/main/webapp/app/course/manage/detail/course-detail.component.html
  src/main/webapp/app/entities/online-course-configuration.model.ts
  src/main/webapp/app/lti/lti-course-card.component.html
  src/main/webapp/app/lti/lti-course-card.component.ts
  src/main/webapp/app/lti/lti.module.ts
  src/main/webapp/app/lti/lti.route.ts
  src/main/webapp/app/lti/lti13-exercise-launch.component.ts
  src/main/webapp/app/lti/lti13-select-course.component.html
  src/main/webapp/app/lti/lti13-select-course.component.ts
  src/main/webapp/app/lti/online-course-dto.model.ts
  src/main/webapp/i18n/de/lti.json
  src/main/webapp/i18n/en/lti.json
  src/test/java/de/tum/in/www1/artemis/LtiIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/connectors/Lti13ServiceTest.java
  src/test/java/de/tum/in/www1/artemis/course/CourseTestService.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/CourseBitbucketBambooJiraIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/CourseGitlabJenkinsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/security/Lti13LaunchFilterTest.java
  src/test/java/de/tum/in/www1/artemis/service/OnlineCourseConfigurationServiceTest.java
  src/test/javascript/spec/component/admin/lti-configuration.component.spec.ts
  src/test/javascript/spec/component/course/course-lti-configuration.component.spec.ts
  src/test/javascript/spec/component/course/course-management.service.spec.ts
  src/test/javascript/spec/component/course/edit-course-lti-configuration.component.spec.ts
  src/test/javascript/spec/component/lti/lti-course-card.component.spec.ts
  src/test/javascript/spec/component/lti/lti13-select-course.component.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-lti-configuration-service.ts
  src/test/javascript/spec/service/lti-configuration.service.spec.ts
Labels: tests, server, client, component:LTI, ready to merge, maintainer-approved, too-long-open

#7923 `Development`: Improve JPQL style for Hestia repositories
  src/main/java/de/tum/in/www1/artemis/repository/hestia/CodeHintRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/hestia/CoverageReportRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/hestia/ExerciseHintActivationRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/hestia/ExerciseHintRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/hestia/ProgrammingExerciseSolutionEntryRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/hestia/ProgrammingExerciseTaskRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/hestia/TestwiseCoverageReportEntryRepository.java
Labels: server, chore, code quality, consistency, small, ready to merge

#7924 `Development`: Improve JPQL style for Metis repositories
  src/main/java/de/tum/in/www1/artemis/repository/metis/ConversationMessageRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/metis/ConversationParticipantRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/metis/PostRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/metis/conversation/ChannelRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/metis/conversation/ConversationRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/metis/conversation/GroupChatRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/metis/conversation/OneToOneChatRepository.java
Labels: server, chore, code quality, consistency, small, ready to merge

#7925 `Development`: Improve JPQL style for tutorial groups repositories
  src/main/java/de/tum/in/www1/artemis/repository/tutorialgroups/TutorialGroupFreePeriodRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/tutorialgroups/TutorialGroupRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/tutorialgroups/TutorialGroupScheduleRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/tutorialgroups/TutorialGroupSessionRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/tutorialgroups/TutorialGroupsConfigurationRepository.java
Labels: server, chore, code quality, consistency, small, ready to merge

#7926 `Development`: Improve JPQL style for Iris repositories
  src/main/java/de/tum/in/www1/artemis/repository/iris/IrisChatSessionRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/iris/IrisMessageRepository.java
  src/main/java/de/tum/in/www1/artemis/repository/iris/IrisSessionRepository.java
Labels: server, chore, code quality, consistency, small, ready to merge

#7964 `Development`: Fix client tests
  src/test/javascript/spec/component/exam/exam-update.component.spec.ts
Labels: tests, ready for review, ready to merge

#7944 `Integrated code lifecycle`: Reduce service dependency in build job execution logic
  src/main/java/de/tum/in/www1/artemis/config/Constants.java
  src/main/java/de/tum/in/www1/artemis/service/ParticipationService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIBuildConfigurationService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIBuildJobExecutionService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIBuildJobManagementService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIBuildPlanService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIContainerService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCIPriorityQueueComparator.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCISharedBuildJobQueueService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCITriggerService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/dto/BuildConfig.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/dto/JobTimingInfo.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/dto/LocalCIBuildJobQueueItem.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/dto/RepositoryInfo.java
  src/main/webapp/app/entities/build-config.model.ts
  src/main/webapp/app/entities/build-job.model.ts
  src/main/webapp/app/entities/job-timing-info.model.ts
  src/main/webapp/app/entities/repository-info.model.ts
  src/main/webapp/app/localci/build-queue/build-queue.component.html
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/ProgrammingExerciseLocalVCLocalCIIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalCIIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalCIResourceIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalVCLocalCIIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalVCLocalCITestService.java
  src/test/javascript/spec/component/localci/build-agents/build-agents.component.spec.ts
  src/test/javascript/spec/component/localci/build-agents/build-agents.service.spec.ts
  src/test/javascript/spec/component/localci/build-queue/build-queue.component.spec.ts
  src/test/javascript/spec/component/localci/build-queue/build-queue.service.spec.ts
Labels: tests, server, client, ready to merge, integrated code lifecycle

#7972 `Development`: Fix exam exercise creation & e2e tests
  src/main/webapp/app/exercises/shared/exercise/exercise.service.ts
  src/main/webapp/app/shared/form/title-channel-name/title-channel-name.component.ts
  src/test/cypress/e2e/exam/ExamManagement.cy.ts
  src/test/cypress/e2e/exam/test-exam/TestExamManagement.cy.ts
  src/test/cypress/e2e/exercises/text/TextExerciseManagement.cy.ts
  src/test/javascript/spec/component/text-exercise/text-exercise-update.component.spec.ts
Labels: tests, client, cypress, ready to merge

#7951 `General`: Reverse semester sorting in course creation dialog
  src/main/webapp/app/course/manage/course-update.component.ts
  src/test/javascript/spec/component/course/course-update.component.spec.ts
Labels: tests, client, small, ready to merge, maintainer-approved

#7914 `Integrated code lifecycle`: Add recent build jobs view in the build agent representation
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCISharedBuildJobQueueService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/LocalCITriggerService.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/dto/LocalCIBuildAgentInformation.java
  src/main/java/de/tum/in/www1/artemis/service/connectors/localci/dto/LocalCIBuildJobQueueItem.java
  src/main/webapp/app/entities/build-agent.model.ts
  src/main/webapp/app/entities/build-job.model.ts
  src/main/webapp/app/localci/build-agents/build-agents.component.html
  src/main/webapp/app/localci/build-agents/build-agents.component.scss
  src/main/webapp/app/localci/build-agents/build-agents.component.ts
  src/main/webapp/app/localci/build-queue/build-queue.component.html
  src/main/webapp/i18n/de/buildAgents.json
  src/main/webapp/i18n/de/buildQueue.json
  src/main/webapp/i18n/en/buildAgents.json
  src/main/webapp/i18n/en/buildQueue.json
  src/test/java/de/tum/in/www1/artemis/localvcci/LocalCIResourceIntegrationTest.java
Labels: tests, server, client, ready to merge, lock:artemis-test3, integrated code lifecycle

#7919 `Assessment`: Fix translation error when deleting manual feedback
  src/main/webapp/app/assessment/assessment-shared.module.ts
  src/main/webapp/app/assessment/unreferenced-feedback-detail/unreferenced-feedback-detail.component.html
  src/main/webapp/app/exercises/programming/assess/code-editor-tutor-assessment-inline-feedback.component.html
  src/main/webapp/app/exercises/programming/assess/programming-manual-assessment.module.ts
  src/main/webapp/app/shared/pipes/feedback-content.pipe.ts
  src/main/webapp/app/shared/pipes/quote.pipe.ts
  src/main/webapp/i18n/de/feedback.json
  src/main/webapp/i18n/en/feedback.json
  src/test/javascript/spec/component/assessment-shared/unreferenced-feedback-detail.component.spec.ts
  src/test/javascript/spec/component/programming-assessment/code-editor-tutor-assessment-inline-feedback.component.spec.ts
  src/test/javascript/spec/pipe/feedback-content.pipe.spec.ts
  src/test/javascript/spec/pipe/quote.pipe.spec.ts
Labels: tests, client, small, bugfix, user interface, ready to merge

#7949 `Development`: Remove Apollon UMLDiagramType code duplication
  src/main/webapp/app/entities/apollon-diagram.model.ts
  src/main/webapp/app/entities/modeling-exercise.model.ts
  src/main/webapp/app/exercises/modeling/assess/modeling-assessment-editor/modeling-assessment-editor.component.ts
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise-resolver.service.ts
  src/main/webapp/app/exercises/modeling/manage/modeling-exercise-update.component.ts
  src/main/webapp/app/exercises/modeling/participate/modeling-submission.component.ts
  src/main/webapp/app/exercises/quiz/manage/apollon-diagrams/apollon-diagram-list.component.ts
  src/test/javascript/spec/component/apollon-diagrams/apollon-diagram-create-form.component.spec.ts
  src/test/javascript/spec/component/apollon-diagrams/apollon-diagram-detail.component.spec.ts
  src/test/javascript/spec/component/apollon-diagrams/apollon-diagram-list.component.spec.ts
  src/test/javascript/spec/component/assessment-shared/assessment-instructions.component.spec.ts
  src/test/javascript/spec/component/course/course-admin.service.spec.ts
  src/test/javascript/spec/component/course/course-exercises-grouped-by-week.component.spec.ts
  src/test/javascript/spec/component/course/course-exercises.component.spec.ts
  src/test/javascript/spec/component/course/course-lti-configuration.component.spec.ts
  src/test/javascript/spec/component/course/course-management.service.spec.ts
  src/test/javascript/spec/component/exam/exam-update.component.spec.ts
  src/test/javascript/spec/component/exam/manage/exam-exercise-import.component.spec.ts
  src/test/javascript/spec/component/exam/manage/exam-import.component.spec.ts
  src/test/javascript/spec/component/exam/manage/exam-management.service.spec.ts
  src/test/javascript/spec/component/exam/manage/exercise-groups/modeling-exercise-group-cell.component.spec.ts
  src/test/javascript/spec/component/exam/manage/student-exams/student-exam-detail-table-row.component.spec.ts
  src/test/javascript/spec/component/exam/manage/student-exams/student-exam-detail.component.spec.ts
  src/test/javascript/spec/component/exam/participate/exam-participation.component.spec.ts
  src/test/javascript/spec/component/exam/participate/exercises/modeling-exam-submission.component.spec.ts
  src/test/javascript/spec/component/exam/participate/summary/exercises/modeling-exam-summary.component.spec.ts
  src/test/javascript/spec/component/example-modeling/example-modeling-submission.component.spec.ts
  src/test/javascript/spec/component/import/exercise-import-from-file.component.spec.ts
  src/test/javascript/spec/component/lecture-unit/exercise-unit/create-exercise-unit.component.spec.ts
  src/test/javascript/spec/component/modeling-assessment-editor/modeling-assessment-editor.component.spec.ts
  src/test/javascript/spec/component/modeling-editor/modeling-editor.component.spec.ts
  src/test/javascript/spec/component/modeling-exercise/modeling-exercise-update.component.spec.ts
  src/test/javascript/spec/component/modeling-exercise/modeling-exercise.component.spec.ts
  src/test/javascript/spec/component/modeling-submission/modeling-submission.component.spec.ts
  src/test/javascript/spec/component/non-programming-exercise-detail-common-actions.component.spec.ts
  src/test/javascript/spec/integration/course/course-overview-exercise-list-controls.integration.spec.ts
  src/test/javascript/spec/service/apollon-diagram.service.spec.ts
  src/test/javascript/spec/service/course-exercise.service.spec.ts
  src/test/javascript/spec/service/modeling-exercise.service.spec.ts
Labels: tests, client, ready to merge

#7890 `Communication`: Update plagiarism case posts automatically with new replies
  src/main/webapp/app/shared/metis/metis.service.ts
  src/test/javascript/spec/helpers/sample/metis-sample-data.ts
  src/test/javascript/spec/service/metis/metis.service.spec.ts
Labels: tests, client, bugfix, ready to merge, component:Communication

#7913 `Development`: Refactor page util to avoid code duplication
  src/main/java/de/tum/in/www1/artemis/domain/Exercise.java
  src/main/java/de/tum/in/www1/artemis/domain/GradingScale.java
  src/main/java/de/tum/in/www1/artemis/domain/Lecture.java
  src/main/java/de/tum/in/www1/artemis/domain/competency/Competency.java
  src/main/java/de/tum/in/www1/artemis/domain/competency/LearningPath.java
  src/main/java/de/tum/in/www1/artemis/domain/exam/Exam.java
  src/main/java/de/tum/in/www1/artemis/domain/participation/StudentParticipation.java
  src/main/java/de/tum/in/www1/artemis/service/CompetencyService.java
  src/main/java/de/tum/in/www1/artemis/service/CourseService.java
  src/main/java/de/tum/in/www1/artemis/service/FileUploadExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/GradingScaleService.java
  src/main/java/de/tum/in/www1/artemis/service/LectureService.java
  src/main/java/de/tum/in/www1/artemis/service/ModelingExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/QuizExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/SubmissionService.java
  src/main/java/de/tum/in/www1/artemis/service/TextExerciseService.java
  src/main/java/de/tum/in/www1/artemis/service/exam/ExamService.java
  src/main/java/de/tum/in/www1/artemis/service/learningpath/LearningPathService.java
  src/main/java/de/tum/in/www1/artemis/service/programming/ProgrammingExerciseService.java
  src/main/java/de/tum/in/www1/artemis/web/rest/util/PageUtil.java
  src/test/java/de/tum/in/www1/artemis/exercise/programmingexercise/CourseGitlabJenkinsIntegrationTest.java
  src/test/java/de/tum/in/www1/artemis/service/LectureServiceTest.java
  src/test/java/de/tum/in/www1/artemis/util/ExerciseIntegrationTestUtils.java
  src/test/java/de/tum/in/www1/artemis/util/PageableSearchUtilService.java
Labels: tests, server, chore, refactoring, ready to merge
