Repository ls1intum/Artemis, pull requests merged in 2025-03, with the labels that each got.

#10449 `Development`: Bump Jinja to 3.1.6
  docs/requirements.txt
Labels: security, documentation

#10422 `Exam mode`: Remove author from exam live events
  src/main/java/de/tum/cit/aet/artemis/exam/domain/event/ExamAttendanceCheckEvent.java
  src/main/java/de/tum/cit/aet/artemis/exam/domain/event/ExamWideAnnouncementEvent.java
  src/main/java/de/tum/cit/aet/artemis/exam/domain/event/ProblemStatementUpdateEvent.java
  src/main/java/de/tum/cit/aet/artemis/exam/domain/event/WorkingTimeUpdateEvent.java
  src/main/java/de/tum/cit/aet/artemis/exam/dto/examevent/ExamAttendanceCheckEventDTO.java
  src/main/java/de/tum/cit/aet/artemis/exam/dto/examevent/ExamLiveEventBaseDTO.java
  src/main/java/de/tum/cit/aet/artemis/exam/dto/examevent/ExamWideAnnouncementEventDTO.java
  src/main/java/de/tum/cit/aet/artemis/exam/dto/examevent/ProblemStatementUpdateEventDTO.java
  src/main/java/de/tum/cit/aet/artemis/exam/dto/examevent/WorkingTimeUpdateEventDTO.java
  src/main/java/de/tum/cit/aet/artemis/exam/service/ExamLiveEventsService.java
  src/main/java/de/tum/cit/aet/artemis/exercise/service/ExerciseService.java
  src/main/webapp/app/exam/manage/exams/exam-checklist-component/exam-announcement-dialog/exam-live-announcement-create-modal.component.ts
  src/main/webapp/app/exam/participate/exam-participation-live-events.service.ts
  src/main/webapp/app/exam/shared/events/exam-live-event.component.html
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/en/exam.json
  src/test/java/de/tum/cit/aet/artemis/exam/StudentExamIntegrationTest.java
  src/test/javascript/spec/component/exam/shared/events/exam-live-event.component.spec.ts
  src/test/javascript/spec/service/exam-participation-live-events.service.spec.ts
  src/test/playwright/e2e/exam/ExamParticipation.spec.ts
  src/test/playwright/support/pageobjects/exam/ExamManagementPage.ts
  src/test/playwright/support/pageobjects/exam/ExamParticipationActions.ts
  src/test/playwright/support/pageobjects/exam/ModalDialogBox.ts
Labels: tests, server, client, small, ready to merge, playwright, exam, exercise

#10356 `Integrated code lifecycle`: Allow instructors to configure docker performance flags
  src/main/java/de/tum/cit/aet/artemis/buildagent/dto/DockerFlagsDTO.java
  src/main/java/de/tum/cit/aet/artemis/buildagent/dto/DockerRunConfig.java
  src/main/java/de/tum/cit/aet/artemis/buildagent/service/BuildJobContainerService.java
  src/main/java/de/tum/cit/aet/artemis/buildagent/service/BuildJobExecutionService.java
  src/main/java/de/tum/cit/aet/artemis/core/config/Constants.java
  src/main/java/de/tum/cit/aet/artemis/programming/repository/BuildJobRepository.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/ProgrammingExerciseBuildConfigService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/ProgrammingExerciseService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/localci/LocalCIInfoContributor.java
  src/main/resources/config/application-buildagent.yml
  src/main/webapp/app/exercises/programming/manage/update/update-components/custom-build-plans/programming-exercise-build-configuration/programming-exercise-build-configuration.component.html
  src/main/webapp/app/exercises/programming/manage/update/update-components/custom-build-plans/programming-exercise-build-configuration/programming-exercise-build-configuration.component.ts
  src/main/webapp/app/shared/layouts/profiles/profile-info.model.ts
  src/main/webapp/app/shared/layouts/profiles/profile.service.ts
  src/main/webapp/i18n/de/error.json
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/error.json
  src/main/webapp/i18n/en/programmingExercise.json
  src/test/java/de/tum/cit/aet/artemis/programming/icl/LocalCIInfoContributorTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/icl/LocalCIIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/shared/base/AbstractSpringIntegrationLocalCILocalVCTest.java
  src/test/javascript/spec/component/programming-exercise/programming-exercise-build-configuration.component.spec.ts
Labels: tests, server, client, config-change, ready to merge, buildagent, core, programming

#10409 `Programming exercises`: Improve DejaGnu template
  src/main/resources/templates/java/test/blackbox/projectTemplate/testsuite/config/default.exp
Labels: enhancement, chore, code quality, small, ready to merge, template

#10424 `Communication`: Fix an issue for answers in unnamed group chats
  src/main/java/de/tum/cit/aet/artemis/communication/service/AnswerMessageService.java
Labels: server, small, bugfix, ready to merge, communication

#10425 `Development`: Remove unused endpoint
  src/main/java/de/tum/cit/aet/artemis/atlas/repository/KnowledgeAreaRepository.java
  src/main/java/de/tum/cit/aet/artemis/atlas/web/StandardizedCompetencyResource.java
  src/main/webapp/app/shared/standardized-competencies/standardized-competency.service.ts
  src/test/java/de/tum/cit/aet/artemis/atlas/competency/StandardizedCompetencyIntegrationTest.java
  src/test/javascript/spec/component/standardized-competencies/standardized-competency.service.spec.ts
Labels: tests, server, client, ready to merge, atlas

#10445 `Development`: Fix error with build configuration in exercise creation
  src/main/webapp/app/exercises/programming/shared/service/aeolus.service.ts
Labels: client, bugfix, ready to merge

#10443 `Development`: Update called endpoints for large course script
  supporting_scripts/course-scripts/quick-course-setup/add_users_to_course.py
  supporting_scripts/course-scripts/quick-course-setup/config.ini
  supporting_scripts/course-scripts/quick-course-setup/create_course.py
  supporting_scripts/course-scripts/quick-course-setup/create_users.py
  supporting_scripts/course-scripts/quick-course-setup/large_course_main.py
  supporting_scripts/course-scripts/quick-course-setup/manage_programming_exercise.py
  supporting_scripts/course-scripts/quick-course-setup/utils.py
Labels: ready for review

#10427 `Communication`: Show send button within markdown editor only in communication
  src/main/webapp/app/shared/markdown-editor/monaco/markdown-editor-monaco.component.html
  src/main/webapp/app/shared/markdown-editor/monaco/markdown-editor-monaco.component.ts
  src/main/webapp/app/shared/metis/posting-markdown-editor/posting-markdown-editor.component.html
Labels: client, stale

#10408 `Adaptive learning`: Disable calling course competency server endpoint when atlas is disabled
  src/main/webapp/app/shared/competency-selection/competency-selection.component.ts
  src/main/webapp/app/shared/user-settings/science-settings/science-settings.service.ts
  src/test/javascript/spec/component/competencies/edit-competency.component.spec.ts
  src/test/javascript/spec/component/lecture-unit/attachment-unit/create-attachment-unit.component.spec.ts
  src/test/javascript/spec/component/lecture-unit/attachment-unit/edit-attachment-unit.component.spec.ts
  src/test/javascript/spec/component/lecture-unit/online-unit/create-online-unit.component.spec.ts
  src/test/javascript/spec/component/lecture-unit/online-unit/edit-online-unit.component.spec.ts
  src/test/javascript/spec/component/lecture-unit/text-unit/create-text-unit.component.spec.ts
  src/test/javascript/spec/component/lecture-unit/text-unit/edit-text-unit.component.spec.ts
  src/test/javascript/spec/component/lecture-unit/video-unit/create-video-unit.component.spec.ts
  src/test/javascript/spec/component/lecture-unit/video-unit/edit-video-unit.component.spec.ts
  src/test/javascript/spec/component/programming-exercise/update-components/programming-exercise-problem.component.spec.ts
  src/test/javascript/spec/component/shared/competency-selection.component.spec.ts
  src/test/javascript/spec/component/shared/user-settings/science-settings.service.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-profile.service.ts
Labels: tests, client, small, ready to merge, maintainer-approved

#10386 `Atlas`: Grey out user interface elements when the service is disabled
  src/main/webapp/app/course/manage/course-management-tab-bar/course-management-tab-bar.component.html
  src/main/webapp/app/course/manage/course-management-tab-bar/course-management-tab-bar.component.ts
  src/main/webapp/app/course/manage/course-update.component.html
  src/main/webapp/app/course/manage/course-update.component.ts
  src/main/webapp/app/course/manage/overview/course-management-card.component.html
  src/main/webapp/app/course/manage/overview/course-management-card.component.ts
  src/main/webapp/app/overview/course-dashboard/course-dashboard.component.html
  src/main/webapp/app/overview/course-dashboard/course-dashboard.component.ts
  src/main/webapp/app/shared/components/feature-overlay/feature-overlay.component.ts
  src/main/webapp/app/shared/layouts/navbar/navbar.component.html
  src/main/webapp/app/shared/layouts/navbar/navbar.component.ts
  src/main/webapp/i18n/de/featureOverview.json
  src/main/webapp/i18n/en/featureOverview.json
  src/test/javascript/spec/component/shared/feature-overlay.component.spec.ts
Labels: tests, client, small, ready to merge, maintainer-approved

#10257 `Development`: Introduce text module API
  gradle/jacoco.gradle
  src/main/java/de/tum/cit/aet/artemis/assessment/service/ExampleSubmissionService.java
  src/main/java/de/tum/cit/aet/artemis/assessment/web/ExampleSubmissionResource.java
  src/main/java/de/tum/cit/aet/artemis/athena/service/AthenaDTOConverterService.java
  src/main/java/de/tum/cit/aet/artemis/athena/web/AthenaResource.java
  src/main/java/de/tum/cit/aet/artemis/atlas/service/LearningObjectImportService.java
  src/main/java/de/tum/cit/aet/artemis/core/service/export/CourseExamExportService.java
  src/main/java/de/tum/cit/aet/artemis/exam/service/ExamImportService.java
  src/main/java/de/tum/cit/aet/artemis/exam/service/StudentExamService.java
  src/main/java/de/tum/cit/aet/artemis/exercise/service/ExerciseDeletionService.java
  src/main/java/de/tum/cit/aet/artemis/exercise/web/ParticipationResource.java
  src/main/java/de/tum/cit/aet/artemis/exercise/web/ParticipationTeamWebsocketService.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/session/IrisTextExerciseChatSessionService.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/settings/IrisSettingsService.java
  src/main/java/de/tum/cit/aet/artemis/iris/web/IrisTextExerciseChatSessionResource.java
  src/main/java/de/tum/cit/aet/artemis/plagiarism/service/TextPlagiarismDetectionService.java
  src/main/java/de/tum/cit/aet/artemis/text/api/AbstractTextApi.java
  src/main/java/de/tum/cit/aet/artemis/text/api/TextApi.java
  src/main/java/de/tum/cit/aet/artemis/text/api/TextExerciseImportApi.java
  src/main/java/de/tum/cit/aet/artemis/text/api/TextFeedbackApi.java
  src/main/java/de/tum/cit/aet/artemis/text/api/TextRepositoryApi.java
  src/main/java/de/tum/cit/aet/artemis/text/api/TextSubmissionApi.java
  src/main/java/de/tum/cit/aet/artemis/text/api/TextSubmissionExportApi.java
  src/main/java/de/tum/cit/aet/artemis/text/api/TextSubmissionImportApi.java
  src/test/java/de/tum/cit/aet/artemis/text/architecture/TextApiArchitectureTest.java
Labels: tests, server, ready to merge, maintainer-approved, assessment, athena, atlas, core, exam, exercise, iris, plagiarism, text

#10294 `Development`: Introduce athena module API
  gradle/jacoco.gradle
  src/main/java/de/tum/cit/aet/artemis/athena/api/AbstractAthenaApi.java
  src/main/java/de/tum/cit/aet/artemis/athena/api/AthenaApi.java
  src/main/java/de/tum/cit/aet/artemis/athena/api/AthenaFeedbackApi.java
  src/main/java/de/tum/cit/aet/artemis/core/service/messaging/InstanceMessageReceiveService.java
  src/main/java/de/tum/cit/aet/artemis/core/web/CourseResource.java
  src/main/java/de/tum/cit/aet/artemis/exercise/service/SubmissionService.java
  src/main/java/de/tum/cit/aet/artemis/fileupload/service/FileUploadSubmissionService.java
  src/main/java/de/tum/cit/aet/artemis/modeling/service/ModelingExerciseFeedbackService.java
  src/main/java/de/tum/cit/aet/artemis/modeling/service/ModelingSubmissionService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/ProgrammingAssessmentService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/ProgrammingExerciseCodeReviewFeedbackService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/ProgrammingSubmissionService.java
  src/main/java/de/tum/cit/aet/artemis/programming/web/ProgrammingExerciseExportImportResource.java
  src/main/java/de/tum/cit/aet/artemis/programming/web/ProgrammingExerciseResource.java
  src/main/java/de/tum/cit/aet/artemis/text/service/TextExerciseFeedbackService.java
  src/main/java/de/tum/cit/aet/artemis/text/service/TextSubmissionService.java
  src/main/java/de/tum/cit/aet/artemis/text/web/TextAssessmentResource.java
  src/main/java/de/tum/cit/aet/artemis/text/web/TextExerciseResource.java
  src/test/java/de/tum/cit/aet/artemis/athena/architecture/AthenaApiArchitectureTest.java
  src/test/java/de/tum/cit/aet/artemis/shared/architecture/module/AbstractModuleAccessArchitectureTest.java
Labels: tests, server, ready to merge, maintainer-approved, athena, core, exercise, fileupload, modeling, programming, text

#10415 `Development`: Improve client route structure
  src/main/webapp/app/admin/admin.routes.ts
  src/main/webapp/app/app.routes.ts
  src/main/webapp/app/course/manage/course-management.route.ts
  src/main/webapp/app/course/plagiarism-cases/instructor-view/plagiarism-instructor-view.route.ts
  src/main/webapp/app/course/plagiarism-cases/student-view/detail-view/plagiarism-case-student-detail-view.component.ts
  src/main/webapp/app/course/plagiarism-cases/student-view/plagiarism-cases-student-view.route.ts
  src/main/webapp/app/exercises/file-upload/participate/file-upload-participation.route.ts
  src/main/webapp/app/exercises/programming/assess/programming-assessment.route.ts
  src/main/webapp/app/exercises/programming/manage/programming-exercise-management.route.ts
  src/main/webapp/app/exercises/programming/participate/programming-participation.route.ts
  src/main/webapp/app/exercises/programming/participate/programming-repository.route.ts
  src/main/webapp/app/feature-overview/feature-overview.route.ts
  src/main/webapp/app/iris/settings/iris-course-settings-update/iris-course-settings-update.component.ts
  src/main/webapp/app/iris/settings/iris-course-settings-update/iris-course-settings-update.route.ts
  src/main/webapp/app/lti/lti.route.ts
  src/main/webapp/app/overview/course-competencies/course-competencies-details.component.ts
  src/main/webapp/app/overview/course-competencies/course-competencies-details.route.ts
  src/main/webapp/app/overview/course-competencies/course-competencies.component.ts
  src/main/webapp/app/overview/course-competencies/course-competencies.route.ts
  src/main/webapp/app/overview/course-conversations/course-conversations.route.ts
  src/main/webapp/app/overview/course-dashboard/course-dashboard.component.ts
  src/main/webapp/app/overview/course-dashboard/course-dashboard.route.ts
  src/main/webapp/app/overview/course-lectures/course-lecture-details.route.ts
  src/main/webapp/app/overview/course-registration/course-registration-detail/course-registration-detail.component.ts
  src/main/webapp/app/overview/course-registration/course-registration-detail/course-registration-detail.route.ts
  src/main/webapp/app/overview/course-registration/course-registration.route.ts
  src/main/webapp/app/overview/course-statistics/course-statistics.route.ts
  src/main/webapp/app/overview/courses.route.ts
  src/main/webapp/app/overview/exercise-details/course-exercise-details.component.ts
  src/main/webapp/app/overview/exercise-details/course-exercise-details.route.ts
  src/main/webapp/app/overview/tutorial-group-details/course-tutorial-group-details.route.ts
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/en/global.json
  src/test/javascript/spec/component/competencies/course-competencies.component.spec.ts
  src/test/javascript/spec/component/course-registration/course-registration-detail/course-registration-detail.component.spec.ts
  src/test/javascript/spec/component/file-upload-submission/file-upload-submission.component.spec.ts
  src/test/javascript/spec/component/iris/settings/iris-course-settings-update.component.spec.ts
  src/test/javascript/spec/component/overview/course-competencies/course-competencies-details.component.spec.ts
  src/test/javascript/spec/component/overview/exercise-details/course-exercise-details.component.spec.ts
  src/test/javascript/spec/component/plagiarism/plagiarism-case-student-detail-view.component.spec.ts
Labels: tests, client, ready to merge

#10446 `Programming exercises`: Fix code button showing password authentication initially
  src/main/webapp/app/shared/components/code-button/code-button.component.html
  src/main/webapp/app/shared/components/code-button/code-button.component.ts
  src/test/javascript/spec/component/shared/code-button.component.spec.ts
Labels: tests, client, bugfix, ready to merge

#10395 `Development`: Access LocalCI related distributed data through a single service
  src/main/java/de/tum/cit/aet/artemis/buildagent/service/BuildAgentDockerService.java
  src/main/java/de/tum/cit/aet/artemis/buildagent/service/BuildJobManagementService.java
  src/main/java/de/tum/cit/aet/artemis/buildagent/service/SharedQueueProcessingService.java
  src/main/java/de/tum/cit/aet/artemis/core/config/MetricsBean.java
  src/main/java/de/tum/cit/aet/artemis/core/web/admin/AdminBuildJobQueueResource.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/localci/DistributedDataAccessService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/localci/LocalCIEventListenerService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/localci/LocalCIQueueWebsocketService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/localci/LocalCIResultProcessingService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/localci/LocalCIService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/localci/LocalCITriggerService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/localci/SharedQueueManagementService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/localvc/GitPublickeyAuthenticatorService.java
  src/main/java/de/tum/cit/aet/artemis/programming/web/localci/BuildJobQueueResource.java
Labels: server, ready to merge, buildagent, core, programming

#10469 `Development`: Fix issue with server not starting up if Athena is active without scheduling profile
  src/main/java/de/tum/cit/aet/artemis/athena/api/AthenaApi.java
Labels: server, athena

#10435 `Development`: Cleanup URL prefix migration
  docs/dev/guidelines/server.rst
  src/main/java/de/tum/cit/aet/artemis/atlas/web/admin/AdminStandardizedCompetencyResource.java
  src/main/java/de/tum/cit/aet/artemis/core/config/Constants.java
  src/main/java/de/tum/cit/aet/artemis/core/config/WebConfigurer.java
  src/main/java/de/tum/cit/aet/artemis/core/security/annotations/EnforceAdmin.java
  src/main/java/de/tum/cit/aet/artemis/core/security/annotations/EnforceNothing.java
  src/main/java/de/tum/cit/aet/artemis/core/web/admin/AdminBuildJobQueueResource.java
  src/main/webapp/app/lti/lti13-exercise-launch.component.ts
  src/main/webapp/app/shared/metis/answer-post.service.ts
  src/main/webapp/app/shared/metis/post.service.ts
  src/test/java/de/tum/cit/aet/artemis/athena/service/connectors/AthenaFeedbackSuggestionsServiceTest.java
  src/test/javascript/spec/component/lti/lti13-exercise-launch.component.spec.ts
  src/test/javascript/spec/interceptor/errorhandler.interceptor.spec.ts
  src/test/javascript/spec/service/metis/post.service.spec.ts
Labels: tests, ready for review, server, client, documentation, small, athena, atlas, core

#10473 `Development`: Fix false positive client test for exercise details
  src/test/javascript/spec/component/overview/exercise-details/course-exercise-details.component.spec.ts
Labels: tests

#10461 `Programming exercises`: Fix error details modal in feedback analysis table
  src/main/webapp/app/exercises/programming/manage/grading/feedback-analysis/modal/feedback-modal.component.html
Labels: bugfix, ready to merge

#10467 `Programming exercises`: Fix build results not available after file import
  src/main/java/de/tum/cit/aet/artemis/programming/service/ProgrammingExerciseImportFromFileService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/ProgrammingExerciseImportService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/ProgrammingExerciseService.java
  src/main/java/de/tum/cit/aet/artemis/programming/web/ProgrammingExerciseResource.java
Labels: ready for review, server, bugfix, ready to merge, programming

#10410 `Quiz exercises`: Improve message displayed to users after quiz submission
  src/main/webapp/app/exercises/quiz/participate/quiz-participation.component.html
  src/main/webapp/app/overview/submission-result-status.component.html
  src/main/webapp/app/overview/submission-result-status.component.ts
  src/main/webapp/i18n/de/quizExercise.json
  src/main/webapp/i18n/de/student-dashboard.json
  src/main/webapp/i18n/en/quizExercise.json
  src/main/webapp/i18n/en/student-dashboard.json
Labels: ready for review, client, ready to merge

#10436 `Development`: Migrate manage and shared exam mode modules to signals
  src/main/webapp/app/exam/manage/exam-status.component.html
  src/main/webapp/app/exam/manage/exam-status.component.ts
  src/main/webapp/app/exam/manage/exams/exam-checklist-component/exam-announcement-dialog/exam-live-announcement-create-button.component.ts
  src/main/webapp/app/exam/manage/exams/exam-checklist-component/exam-checklist-exercisegroup-table/exam-checklist-exercisegroup-table.component.html
  src/main/webapp/app/exam/manage/exams/exam-checklist-component/exam-checklist-exercisegroup-table/exam-checklist-exercisegroup-table.component.ts
  src/main/webapp/app/exam/manage/exams/exam-checklist-component/exam-checklist.component.html
  src/main/webapp/app/exam/manage/exams/exam-checklist-component/exam-checklist.component.ts
  src/main/webapp/app/exam/manage/exams/exam-checklist-component/exam-edit-workingtime-dialog/exam-edit-working-time-dialog.component.ts
  src/main/webapp/app/exam/manage/exams/exam-checklist-component/exam-edit-workingtime-dialog/exam-edit-working-time.component.ts
  src/main/webapp/app/exam/manage/exams/exam-detail.component.ts
  src/main/webapp/app/exam/manage/exams/exam-mode-picker/exam-mode-picker.component.html
  src/main/webapp/app/exam/manage/exams/exam-mode-picker/exam-mode-picker.component.ts
  src/main/webapp/app/exam/manage/exams/exam-update.component.ts
  src/main/webapp/app/exam/manage/student-exams/student-exam-detail-table-row/student-exam-detail-table-row.component.html
  src/main/webapp/app/exam/manage/student-exams/student-exam-detail-table-row/student-exam-detail-table-row.component.ts
  src/main/webapp/app/exam/manage/student-exams/student-exam-status/student-exam-status.component.html
  src/main/webapp/app/exam/manage/student-exams/student-exam-status/student-exam-status.component.ts
  src/main/webapp/app/exam/manage/student-exams/student-exam-timeline/programming-exam-diff/programming-exercise-exam-diff.component.html
  src/main/webapp/app/exam/manage/student-exams/student-exam-timeline/programming-exam-diff/programming-exercise-exam-diff.component.ts
  src/main/webapp/app/exam/manage/student-exams/student-exam-timeline/student-exam-timeline.component.ts
  src/main/webapp/app/exam/manage/students/exam-students.component.ts
  src/main/webapp/app/exam/manage/students/upload-images/students-upload-images-button.component.ts
  src/main/webapp/app/exam/manage/students/upload-images/students-upload-images-dialog.component.ts
  src/main/webapp/app/exam/shared/events/exam-live-event.component.html
  src/main/webapp/app/exam/shared/events/exam-live-event.component.ts
  src/main/webapp/app/exam/shared/student-exam-working-time/student-exam-working-time.component.html
  src/main/webapp/app/exam/shared/student-exam-working-time/student-exam-working-time.component.ts
  src/main/webapp/app/exam/shared/testExam-workingTime/test-exam-working-time.component.ts
  src/main/webapp/app/exam/shared/working-time-change/working-time-change.component.html
  src/main/webapp/app/exam/shared/working-time-change/working-time-change.component.ts
  src/main/webapp/app/exam/shared/working-time-control/working-time-control.component.html
  src/main/webapp/app/exam/shared/working-time-control/working-time-control.component.ts
  src/test/javascript/spec/component/exam/exam-update.component.spec.ts
  src/test/javascript/spec/component/exam/manage/exam-mode-picker.component.spec.ts
  src/test/javascript/spec/component/exam/manage/exams/exam-announcement-dialog/exam-live-announcement-create-button.component.spec.ts
  src/test/javascript/spec/component/exam/manage/exams/exam-checklist-exercisegroup-table.component.spec.ts
  src/test/javascript/spec/component/exam/manage/exams/exam-checklist.component.spec.ts
  src/test/javascript/spec/component/exam/manage/programming-exam-diff.component.spec.ts
  src/test/javascript/spec/component/exam/manage/student-exams/exam-status.component.spec.ts
  src/test/javascript/spec/component/exam/manage/student-exams/student-exam-detail-table-row.component.spec.ts
  src/test/javascript/spec/component/exam/manage/student-exams/student-exam-timeline.component.spec.ts
  src/test/javascript/spec/component/exam/manage/student-exams/students-upload-images-button.component.spec.ts
  src/test/javascript/spec/component/exam/manage/student-exams/students-upload-images-dialog.component.spec.ts
  src/test/javascript/spec/component/exam/shared/events/exam-live-event.component.spec.ts
  src/test/javascript/spec/component/exam/shared/student-exam-working-time.component.spec.ts
  src/test/javascript/spec/component/exam/shared/testexam-working-time.component.spec.ts
  src/test/javascript/spec/component/exam/shared/working-time-control.component.spec.ts
Labels: tests, client, ready to merge

#10460 `Development`: Isolate build agent server integration tests
  src/main/java/de/tum/cit/aet/artemis/core/config/CacheConfiguration.java
  src/main/java/de/tum/cit/aet/artemis/core/config/Constants.java
  src/test/java/de/tum/cit/aet/artemis/assessment/util/ComplaintUtilService.java
  src/test/java/de/tum/cit/aet/artemis/assessment/util/GradingScaleUtilService.java
  src/test/java/de/tum/cit/aet/artemis/assessment/util/StudentScoreUtilService.java
  src/test/java/de/tum/cit/aet/artemis/atlas/competency/util/CompetencyProgressUtilService.java
  src/test/java/de/tum/cit/aet/artemis/atlas/competency/util/CompetencyUtilService.java
  src/test/java/de/tum/cit/aet/artemis/atlas/competency/util/PrerequisiteUtilService.java
  src/test/java/de/tum/cit/aet/artemis/atlas/competency/util/StandardizedCompetencyUtilService.java
  src/test/java/de/tum/cit/aet/artemis/atlas/learningpath/util/LearningPathUtilService.java
  src/test/java/de/tum/cit/aet/artemis/atlas/profile/util/LearnerProfileUtilService.java
  src/test/java/de/tum/cit/aet/artemis/atlas/science/util/ScienceUtilService.java
  src/test/java/de/tum/cit/aet/artemis/buildagent/service/BuildAgentIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/communication/util/ConversationUtilService.java
  src/test/java/de/tum/cit/aet/artemis/core/authorization/AuthorizationTestService.java
  src/test/java/de/tum/cit/aet/artemis/core/organization/util/OrganizationUtilService.java
  src/test/java/de/tum/cit/aet/artemis/core/user/util/UserTestService.java
  src/test/java/de/tum/cit/aet/artemis/core/user/util/UserUtilService.java
  src/test/java/de/tum/cit/aet/artemis/core/util/CourseTestService.java
  src/test/java/de/tum/cit/aet/artemis/core/util/CourseUtilService.java
  src/test/java/de/tum/cit/aet/artemis/core/util/PageableSearchUtilService.java
  src/test/java/de/tum/cit/aet/artemis/core/util/RequestUtilService.java
  src/test/java/de/tum/cit/aet/artemis/exam/util/ExamUtilService.java
  src/test/java/de/tum/cit/aet/artemis/exercise/participation/util/ParticipationUtilService.java
  src/test/java/de/tum/cit/aet/artemis/exercise/team/TeamUtilService.java
  src/test/java/de/tum/cit/aet/artemis/exercise/util/ExerciseIntegrationTestService.java
  src/test/java/de/tum/cit/aet/artemis/exercise/util/ExerciseUtilService.java
  src/test/java/de/tum/cit/aet/artemis/fileupload/util/FileUploadExerciseUtilService.java
  src/test/java/de/tum/cit/aet/artemis/fileupload/util/ZipFileTestUtilService.java
  src/test/java/de/tum/cit/aet/artemis/lecture/util/LectureUtilService.java
  src/test/java/de/tum/cit/aet/artemis/modeling/util/ModelingExerciseUtilService.java
  src/test/java/de/tum/cit/aet/artemis/plagiarism/PlagiarismUtilService.java
  src/test/java/de/tum/cit/aet/artemis/programming/ContinuousIntegrationTestService.java
  src/test/java/de/tum/cit/aet/artemis/programming/ProgrammingExerciseIntegrationTestService.java
  src/test/java/de/tum/cit/aet/artemis/programming/icl/DockerClientTestService.java
  src/test/java/de/tum/cit/aet/artemis/programming/icl/LocalCIIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/icl/LocalVCLocalCIIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/icl/LocalVCLocalCITestService.java
  src/test/java/de/tum/cit/aet/artemis/programming/icl/ProgrammingExerciseLocalVCLocalCIIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/icl/util/SshSettingsTestService.java
  src/test/java/de/tum/cit/aet/artemis/programming/service/ConsistencyCheckTestService.java
  src/test/java/de/tum/cit/aet/artemis/programming/util/GitUtilService.java
  src/test/java/de/tum/cit/aet/artemis/programming/util/ProgrammingExerciseResultTestService.java
  src/test/java/de/tum/cit/aet/artemis/programming/util/ProgrammingExerciseTestService.java
  src/test/java/de/tum/cit/aet/artemis/programming/util/ProgrammingExerciseUtilService.java
  src/test/java/de/tum/cit/aet/artemis/programming/util/ProgrammingSubmissionAndResultIntegrationTestService.java
  src/test/java/de/tum/cit/aet/artemis/programming/util/ProgrammingUtilTestService.java
  src/test/java/de/tum/cit/aet/artemis/quiz/util/QuizExerciseUtilService.java
  src/test/java/de/tum/cit/aet/artemis/shared/base/AbstractArtemisBuildAgentTest.java
  src/test/java/de/tum/cit/aet/artemis/shared/base/AbstractSpringIntegrationLocalCILocalVCTest.java
  src/test/java/de/tum/cit/aet/artemis/text/util/TextExerciseUtilService.java
  src/test/java/de/tum/cit/aet/artemis/tutorialgroup/util/TutorialGroupUtilService.java
  src/test/resources/config/application-buildagent.yml
  supporting_scripts/extract_number_of_server_starts.sh
Labels: tests, server, buildagent

#10462 `Integrated code lifecycle`: Improve build agent details view
  src/main/java/de/tum/cit/aet/artemis/buildagent/dto/BuildAgentDetailsDTO.java
  src/main/java/de/tum/cit/aet/artemis/buildagent/dto/BuildAgentInformation.java
  src/main/java/de/tum/cit/aet/artemis/buildagent/service/BuildAgentInformationService.java
  src/main/java/de/tum/cit/aet/artemis/buildagent/service/SharedQueueProcessingService.java
  src/main/java/de/tum/cit/aet/artemis/core/web/admin/AdminBuildJobQueueResource.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/localci/DistributedDataAccessService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/localci/LocalCIQueueWebsocketService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/localci/LocalCIResultProcessingService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/localci/LocalCIService.java
  src/main/webapp/app/entities/programming/build-agent-information.model.ts
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/create-exercise-unit/create-exercise-unit.component.ts
  src/main/webapp/app/localci/build-agents/build-agent-details/build-agent-details/build-agent-details.component.html
  src/main/webapp/app/localci/build-agents/build-agent-details/build-agent-details/build-agent-details.component.scss
  src/main/webapp/app/localci/build-agents/build-agent-details/build-agent-details/build-agent-details.component.ts
  src/main/webapp/app/localci/build-queue/build-job-statistics/build-job-statistics.component.html
  src/main/webapp/app/localci/build-queue/build-job-statistics/build-job-statistics.component.ts
  src/main/webapp/app/localci/build-queue/build-queue.component.html
  src/main/webapp/app/localci/build-queue/build-queue.component.scss
  src/main/webapp/app/localci/build-queue/build-queue.component.ts
  src/main/webapp/app/localci/build-queue/build-queue.service.ts
  src/main/webapp/app/localci/build-queue/finished-builds-filter-modal/finished-builds-filter-modal.component.html
  src/main/webapp/app/localci/build-queue/finished-builds-filter-modal/finished-builds-filter-modal.component.scss
  src/main/webapp/app/localci/build-queue/finished-builds-filter-modal/finished-builds-filter-modal.component.ts
  src/main/webapp/i18n/de/buildAgents.json
  src/main/webapp/i18n/en/buildAgents.json
  src/test/java/de/tum/cit/aet/artemis/programming/icl/LocalCIResourceIntegrationTest.java
  src/test/javascript/spec/component/localci/build-agents/build-agent-details.component.spec.ts
  src/test/javascript/spec/component/localci/build-agents/build-agent-summary.component.spec.ts
  src/test/javascript/spec/component/localci/build-agents/build-agents.service.spec.ts
  src/test/javascript/spec/component/localci/build-queue/build-job-statistics/build-job-statistics.component.spec.ts
  src/test/javascript/spec/component/localci/build-queue/build-queue.component.spec.ts
  src/test/javascript/spec/component/localci/build-queue/build-queue.service.spec.ts
  src/test/javascript/spec/component/localci/build-queue/finished-builds-filter-modal/finished-builds-filter-modal.component.spec.ts
Labels: tests, server, client, ready to merge, buildagent, core, programming

#10450 `Development`: Update tutorial groups module to signals
  src/main/webapp/app/course/tutorial-groups/shared/tutorial-group-free-days-overview/tutorial-group-free-days-overview.component.html
  src/main/webapp/app/course/tutorial-groups/shared/tutorial-group-free-days-overview/tutorial-group-free-days-overview.component.ts
  src/main/webapp/app/course/tutorial-groups/shared/tutorial-group-utilization-indicator/tutorial-group-utilization-indicator.component.html
  src/main/webapp/app/course/tutorial-groups/shared/tutorial-group-utilization-indicator/tutorial-group-utilization-indicator.component.ts
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-free-periods/crud/edit-tutorial-group-free-period/edit-tutorial-group-free-period.component.html
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-free-periods/crud/edit-tutorial-group-free-period/edit-tutorial-group-free-period.component.ts
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-free-periods/tutorial-free-periods-management/tutorial-group-free-period-row-buttons/tutorial-group-free-period-row-buttons.component.html
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-free-periods/tutorial-free-periods-management/tutorial-group-free-period-row-buttons/tutorial-group-free-period-row-buttons.component.ts
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-free-periods/tutorial-free-periods-management/tutorial-group-free-periods-table/tutorial-group-free-periods-table.component.html
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-free-periods/tutorial-free-periods-management/tutorial-group-free-periods-table/tutorial-group-free-periods-table.component.ts
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-group-sessions/tutorial-group-sessions-management/tutorial-group-session-row-buttons/tutorial-group-session-row-buttons.component.html
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-group-sessions/tutorial-group-sessions-management/tutorial-group-session-row-buttons/tutorial-group-session-row-buttons.component.ts
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-group-sessions/tutorial-group-sessions-management/tutorial-group-sessions-management.component.ts
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-groups/crud/tutorial-group-form/schedule-form/schedule-form.component.html
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-groups/crud/tutorial-group-form/schedule-form/schedule-form.component.ts
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-groups/tutorial-groups-management/tutorial-group-row-buttons/tutorial-group-row-buttons.component.html
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-groups/tutorial-groups-management/tutorial-group-row-buttons/tutorial-group-row-buttons.component.ts
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-groups/tutorial-groups-management/tutorial-groups-course-information/tutorial-groups-course-information.component.html
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-groups/tutorial-groups-management/tutorial-groups-course-information/tutorial-groups-course-information.component.ts
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-groups/tutorial-groups-management/tutorial-groups-export-button.component/tutorial-groups-export-button.component.ts
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-groups/tutorial-groups-management/tutorial-groups-import-button/tutorial-groups-import-button.component.ts
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-groups/tutorial-groups-management/tutorial-groups-import-dialog/tutorial-groups-registration-import-dialog.component.ts
  src/test/javascript/spec/component/tutorial-groups/shared/tutorial-group-free-days-overview.component.spec.ts
  src/test/javascript/spec/component/tutorial-groups/shared/tutorial-group-utilization-indicator.component.spec.ts
  src/test/javascript/spec/component/tutorial-groups/tutorial-groups-management/tutorial-free-periods/crud/edit-tutorial-group-free-period.component.spec.ts
  src/test/javascript/spec/component/tutorial-groups/tutorial-groups-management/tutorial-free-periods/tutorial-free-periods-management/tutorial-group-free-period-row-buttons.component.spec.ts
  src/test/javascript/spec/component/tutorial-groups/tutorial-groups-management/tutorial-free-periods/tutorial-free-periods-management/tutorial-group-free-periods-management.component.spec.ts
  src/test/javascript/spec/component/tutorial-groups/tutorial-groups-management/tutorial-group-sessions/tutorial-group-sessions-management/tutorial-group-session-row-buttons.component.spec.ts
  src/test/javascript/spec/component/tutorial-groups/tutorial-groups-management/tutorial-groups/tutorial-groups-management/tutorial-groups-course-information.component.spec.ts
  src/test/javascript/spec/component/tutorial-groups/tutorial-groups-management/tutorial-groups/tutorial-groups-management/tutorial-groups-export-button.component.spec.ts
  src/test/javascript/spec/component/tutorial-groups/tutorial-groups-management/tutorial-groups/tutorial-groups-management/tutorial-groups-import-button.component.spec.ts
  src/test/javascript/spec/component/tutorial-groups/tutorial-groups-management/tutorial-groups/tutorial-groups-management/tutorial-groups-registration-import-dialog.component.spec.ts
Labels: tests, client, ready to merge

#10340 `Exam mode`: Allow to participate multiple times in test exams
  src/main/java/de/tum/cit/aet/artemis/assessment/service/ResultService.java
  src/main/java/de/tum/cit/aet/artemis/exam/domain/StudentExam.java
  src/main/java/de/tum/cit/aet/artemis/exam/repository/ExamRepository.java
  src/main/java/de/tum/cit/aet/artemis/exam/repository/StudentExamRepository.java
  src/main/java/de/tum/cit/aet/artemis/exam/service/ExamAccessService.java
  src/main/java/de/tum/cit/aet/artemis/exam/service/ExamDateService.java
  src/main/java/de/tum/cit/aet/artemis/exam/service/ExamService.java
  src/main/java/de/tum/cit/aet/artemis/exam/service/ExamSubmissionService.java
  src/main/java/de/tum/cit/aet/artemis/exam/service/StudentExamService.java
  src/main/java/de/tum/cit/aet/artemis/exam/web/StudentExamResource.java
  src/main/java/de/tum/cit/aet/artemis/exercise/domain/Exercise.java
  src/main/java/de/tum/cit/aet/artemis/exercise/domain/participation/Participation.java
  src/main/java/de/tum/cit/aet/artemis/exercise/repository/StudentParticipationRepository.java
  src/main/java/de/tum/cit/aet/artemis/exercise/service/ParticipationService.java
  src/main/java/de/tum/cit/aet/artemis/programming/repository/ProgrammingExerciseStudentParticipationRepository.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/ProgrammingExerciseImportService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/localvc/LocalVCRepositoryUri.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/vcs/AbstractVersionControlService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/vcs/VersionControlService.java
  src/main/java/de/tum/cit/aet/artemis/programming/web/ProgrammingExerciseParticipationResource.java
  src/main/resources/config/liquibase/changelog/20240513101552_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/exam/participate/exam-participation.component.ts
  src/main/webapp/app/exam/participate/exam-participation.route.ts
  src/main/webapp/app/exam/participate/exam-start-information/exam-start-information.component.ts
  src/main/webapp/app/exam/participate/summary/exercises/programming-exam-summary/programming-exam-summary.component.html
  src/main/webapp/app/exam/participate/summary/exercises/programming-exam-summary/programming-exam-summary.component.ts
  src/main/webapp/app/overview/course-exams/course-exams.component.ts
  src/main/webapp/app/overview/course-overview.service.ts
  src/main/webapp/app/shared/sidebar/sidebar-card-item/sidebar-card-item.component.html
  src/main/webapp/app/types/sidebar.ts
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/de/student-dashboard.json
  src/main/webapp/i18n/en/exam.json
  src/main/webapp/i18n/en/student-dashboard.json
  src/test/java/de/tum/cit/aet/artemis/exam/TestExamIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/exam/service/ExamAccessServiceTest.java
  src/test/java/de/tum/cit/aet/artemis/exam/service/ExamServiceTest.java
  src/test/java/de/tum/cit/aet/artemis/exercise/participation/util/ParticipationUtilService.java
  src/test/java/de/tum/cit/aet/artemis/exercise/service/ParticipationServiceTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/icl/RepositoryUriTest.java
  src/test/javascript/spec/component/exam/participate/exam-participation.component.spec.ts
  src/test/javascript/spec/component/exam/participate/exam-start-information/exam-start-information.component.spec.ts
  src/test/javascript/spec/service/exam-participation.service.spec.ts
  src/test/playwright/e2e/exam/test-exam/TestExamParticipation.spec.ts
Labels: tests, server, client, database, ready to merge, playwright, assessment, exam, exercise, programming

#10459 `Development`: Standardize Dockerfile syntax
  docker/artemis/Dockerfile
Labels: small, ready to merge, docker

#10482 `Development`: Improve supporting script setup guides
  supporting_scripts/code-coverage/generate_code_cov_table/README.md
  supporting_scripts/course-scripts/quick-course-setup/README.md
  supporting_scripts/course-scripts/quick-course-setup/images/facets-config.png
  supporting_scripts/course-scripts/quick-course-setup/images/module-config.png
Labels: ready for review, chore, small, ready to merge

#10394 `Communication`: Add Iris redirect button to the communication section
  src/main/webapp/app/communication/course-conversations/layout/conversation-messages/conversation-messages.component.html
  src/main/webapp/app/communication/message/message-inline-input/message-inline-input.component.html
  src/main/webapp/app/communication/message/message-inline-input/message-inline-input.component.ts
  src/main/webapp/app/communication/metis.service.ts
  src/main/webapp/app/communication/posting-markdown-editor/posting-markdown-editor.component.html
  src/main/webapp/app/communication/posting-markdown-editor/posting-markdown-editor.component.ts
  src/main/webapp/app/iris/overview/base-chatbot/iris-base-chatbot.component.ts
  src/main/webapp/app/iris/overview/exercise-chatbot/exercise-chatbot-button.component.ts
  src/main/webapp/app/iris/overview/iris-logo/iris-logo.component.scss
  src/main/webapp/app/iris/overview/iris-logo/iris-logo.component.ts
  src/main/webapp/app/shared/markdown-editor/monaco/markdown-editor-monaco.component.html
  src/main/webapp/app/shared/markdown-editor/monaco/markdown-editor-monaco.component.ts
  src/main/webapp/app/shared/metis/redirect-to-iris-button/redirect-to-iris-button.component.html
  src/main/webapp/app/shared/metis/redirect-to-iris-button/redirect-to-iris-button.component.ts
  src/test/javascript/spec/component/iris/ui/exercise-chatbot-button.component.spec.ts
  src/test/javascript/spec/component/iris/ui/iris-base-chatbot.component.spec.ts
  src/test/javascript/spec/component/iris/ui/iris-logo.component.spec.ts
  src/test/javascript/spec/component/shared/metis/redirect-to-iris-button/redirect-to-iris-button.component.spec.ts
Labels: tests, ready for review, client, maintainer-approved

#10338 `General`: Add LTI integration for Atlas, Iris, and Lectures
  src/main/java/de/tum/cit/aet/artemis/core/web/CourseResource.java
  src/main/java/de/tum/cit/aet/artemis/lti/domain/LtiResourceLaunch.java
  src/main/java/de/tum/cit/aet/artemis/lti/dto/LineItem.java
  src/main/java/de/tum/cit/aet/artemis/lti/dto/LtiContentItem.java
  src/main/java/de/tum/cit/aet/artemis/lti/service/DeepLinkingType.java
  src/main/java/de/tum/cit/aet/artemis/lti/service/Lti13Service.java
  src/main/java/de/tum/cit/aet/artemis/lti/service/LtiDeepLinkingService.java
  src/main/java/de/tum/cit/aet/artemis/lti/service/LtiService.java
  src/main/java/de/tum/cit/aet/artemis/lti/web/LtiResource.java
  src/main/resources/config/liquibase/changelog/20250114140000_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/course/manage/course-management.service.ts
  src/main/webapp/app/lti/lti.constants.ts
  src/main/webapp/app/lti/lti13-deep-linking-component.scss
  src/main/webapp/app/lti/manage/lti13-deep-linking.component.html
  src/main/webapp/app/lti/manage/lti13-deep-linking.component.ts
  src/main/webapp/app/lti/overview/lti13-exercise-launch.component.ts
  src/main/webapp/i18n/de/lti.json
  src/main/webapp/i18n/en/lti.json
  src/test/java/de/tum/cit/aet/artemis/core/util/CourseTestService.java
  src/test/java/de/tum/cit/aet/artemis/core/util/CourseUtilService.java
  src/test/java/de/tum/cit/aet/artemis/lti/Lti13ServiceTest.java
  src/test/java/de/tum/cit/aet/artemis/lti/LtiDeepLinkingIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/lti/architecture/LtiCodeStyleArchitectureTest.java
  src/test/java/de/tum/cit/aet/artemis/lti/service/LtiDeepLinkingServiceTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/CourseLocalVcJenkinsIntegrationTest.java
  src/test/javascript/spec/component/lti/lti13-deep-linking.component.spec.ts
Labels: tests, ready for review, server, client, database, core, lti, programming

#10494 `Development`: Update pull request labeler and improve client module name consistency
  .github/labeler.yml
  src/main/webapp/app/assessment/manage/assessment-locks/assessment-locks.component.ts
  src/main/webapp/app/course/manage/course-management-exercises.component.ts
  src/main/webapp/app/course/manage/course-management.route.ts
  src/main/webapp/app/course/overview/courses.route.ts
  src/main/webapp/app/exam/manage/exam-management.route.ts
  src/main/webapp/app/exam/overview/exercises/file-upload/file-upload-exam-submission.component.ts
  src/main/webapp/app/exam/overview/summary/exercises/file-upload-exam-summary/file-upload-exam-summary.component.ts
  src/main/webapp/app/exercise/dashboards/tutor/exercise-assessment-dashboard.component.ts
  src/main/webapp/app/exercise/exam-exercise-row-buttons/exam-exercise-row-buttons.component.ts
  src/main/webapp/app/exercise/exercise-detail-common-actions/non-programming-exercise-detail-common-actions.component.ts
  src/main/webapp/app/exercise/exercise-scores/manage-assessment-buttons.component.ts
  src/main/webapp/app/exercise/import/exercise-import.component.ts
  src/main/webapp/app/exercise/participation-submission/participation-submission.component.ts
  src/main/webapp/app/fileupload/manage/assess/file-upload-assessment.component.html
  src/main/webapp/app/fileupload/manage/assess/file-upload-assessment.component.ts
  src/main/webapp/app/fileupload/manage/assess/file-upload-assessment.route.ts
  src/main/webapp/app/fileupload/manage/assess/file-upload-assessment.service.ts
  src/main/webapp/app/fileupload/manage/file-upload-exercise-detail.component.html
  src/main/webapp/app/fileupload/manage/file-upload-exercise-detail.component.ts
  src/main/webapp/app/fileupload/manage/file-upload-exercise-management-resolve.service.ts
  src/main/webapp/app/fileupload/manage/file-upload-exercise-management.route.ts
  src/main/webapp/app/fileupload/manage/file-upload-exercise-paging.service.ts
  src/main/webapp/app/fileupload/manage/file-upload-exercise-update.component.html
  src/main/webapp/app/fileupload/manage/file-upload-exercise-update.component.ts
  src/main/webapp/app/fileupload/manage/file-upload-exercise.component.html
  src/main/webapp/app/fileupload/manage/file-upload-exercise.component.ts
  src/main/webapp/app/fileupload/manage/file-upload-exercise.service.ts
  src/main/webapp/app/fileupload/overview/file-upload-submission.component.html
  src/main/webapp/app/fileupload/overview/file-upload-submission.component.ts
  src/main/webapp/app/fileupload/overview/file-upload-submission.service.ts
  src/test/javascript/spec/component/assessment-dashboard/exercise-assessment-dashboard.component.spec.ts
  src/test/javascript/spec/component/assessment-shared/assessment-locks.component.spec.ts
  src/test/javascript/spec/component/course/course-management-exercises.component.spec.ts
  src/test/javascript/spec/component/exam-exercise-row-buttons/exam-exercise-row-buttons.component.spec.ts
  src/test/javascript/spec/component/exam/manage/exam-exercise-row-buttons.component.spec.ts
  src/test/javascript/spec/component/exam/participate/exam-participation.component.spec.ts
  src/test/javascript/spec/component/exam/participate/exercises/file-upload-exam-submission.component.spec.ts
  src/test/javascript/spec/component/exam/participate/summary/exercises/file-upload-exam-summary.component.spec.ts
  src/test/javascript/spec/component/exercises/shared/exercise-scores/manage-assessment-buttions.component.spec.ts
  src/test/javascript/spec/component/file-upload-assessment/file-upload-assessment.component.spec.ts
  src/test/javascript/spec/component/file-upload-exercise/file-upload-exercise-detail.component.spec.ts
  src/test/javascript/spec/component/file-upload-exercise/file-upload-exercise-update.component.spec.ts
  src/test/javascript/spec/component/file-upload-exercise/file-upload-exercise.component.spec.ts
  src/test/javascript/spec/component/file-upload-submission/file-upload-submission.component.spec.ts
  src/test/javascript/spec/component/import/exercise-import.component.spec.ts
  src/test/javascript/spec/component/non-programming-exercise-detail-common-actions.component.spec.ts
  src/test/javascript/spec/component/participation-submission/participation-submission.component.spec.ts
  src/test/javascript/spec/service/file-upload-assessment.service.spec.ts
  src/test/javascript/spec/service/file-upload-exercise-management-resolve.service.spec.ts
  src/test/javascript/spec/service/file-upload-exercise.service.spec.ts
  src/test/javascript/spec/service/file-upload-submission.service.spec.ts
Labels: tests, client

#10505 `Development`: Fix telemetry service test urls
  src/test/java/de/tum/cit/aet/artemis/core/service/TelemetryServiceTest.java
Labels: tests, core

#10451 `Development`: Use `.github` reusable docker build workflow
  .github/workflows/build.yml
  .github/workflows/reusable-build.yml
  .github/workflows/testserver-deployment.yml
Labels: ready for review

#10491 `Lectures`: Fix Attachment Unit urls after FilePath update
  src/main/webapp/app/lecture/manage/lecture-units/attachmentUnit.service.ts
  src/main/webapp/app/lecture/overview/course-lectures/attachment-unit/attachment-unit.component.ts
  src/test/javascript/spec/component/lecture-unit/attachment-unit/attachment-unit.service.spec.ts
Labels: tests, ready for review, client, lecture

#10452 `Development`: Migrate E2E Tests from Bamboo to GitHub Actions
  .github/workflows/build.yml
  .github/workflows/test-e2e.yml
  docker/artemis/config/playwright-local.env
  docker/artemis/config/playwright.env
  docker/playwright.yml
Labels: ready for review, docker

#10493 `Development`: Fix student exam integration test
  src/test/java/de/tum/cit/aet/artemis/exam/StudentExamIntegrationTest.java
Labels: tests, small, ready to merge, exam

#10516 `Development`: Fix flaky server integration test
  src/test/java/de/tum/cit/aet/artemis/assessment/ResultListenerIntegrationTest.java
Labels: tests, ready to merge, assessment

#10448 `Adaptive learning`: Fix loading of programming exercises in learning path view
  src/main/webapp/app/course/overview/exercise-details/course-exercise-details.component.html
  src/main/webapp/app/course/overview/exercise-details/course-exercise-details.component.ts
Labels: ready for review, client

#10392 `Development`: Modernize websocket communication
  angular.json
  package-lock.json
  package.json
  src/main/java/de/tum/cit/aet/artemis/core/config/websocket/WebsocketConfiguration.java
  src/main/java/de/tum/cit/aet/artemis/core/config/websocket/WebsocketSecurityConfiguration.java
  src/main/java/de/tum/cit/aet/artemis/core/exception/ExceptionTranslator.java
  src/main/webapp/app/polyfills.ts
  src/main/webapp/app/shared/service/websocket.service.ts
  src/test/javascript/spec/core/websocket.service.spec.ts
Labels: tests, ready for review, server, client, ready to merge, maintainer-approved, core

#10540 `Development`: Fix E2E tests condition to run single-node for PRs
  .github/workflows/test-e2e.yml
Labels: ready for review

#10404 `Plagiarism checks`: Add info tooltip for disabled plagiarism detection for team mode
  src/main/webapp/app/plagiarism/manage/plagiarism-header/plagiarism-header.component.html
  src/main/webapp/app/plagiarism/manage/plagiarism-header/plagiarism-header.component.ts
  src/main/webapp/i18n/de/plagiarism.json
  src/main/webapp/i18n/en/plagiarism.json
  src/test/javascript/spec/component/plagiarism/plagiarism-header.component.spec.ts
Labels: tests, client, ready to merge, plagiarism

#10484 `Development`: Use directive for build statistics detail
  src/main/webapp/app/detail-overview-list/components/programming-build-statistics/programming-build-statistics.component.html
  src/main/webapp/app/detail-overview-list/components/programming-build-statistics/programming-build-statistics.component.ts
  src/main/webapp/app/detail-overview-list/detail-overview-list.component.html
  src/main/webapp/app/detail-overview-list/detail.model.ts
  src/main/webapp/app/detail-overview-list/exercise-detail.directive.ts
Labels: ready for review, client, small, ready to merge

#10486 `Development`: Update integrated code lifecycle documentation
  docs/admin/setup/programming-exercises.rst
  docs/dev/system-design/integrated-code-lifecycle/Integrated_Code_Lifecycle_Build_Job_Item.svg
  docs/dev/system-design/integrated-code-lifecycle/Integrated_Code_Lifecycle_Subsystem_Build_Agent.svg
  docs/dev/system-design/integrated-code-lifecycle/integrated-code-lifecycle-system-design.inc
  docs/user/exercises/programming-exercise-setup.inc
  docs/user/exercises/programming/docker-flags-edit.png
  docs/user/icl/local-ci-build-agent-view.inc
  docs/user/icl/local-ci/build-agent-details.png
  docs/user/icl/local-ci/build-agent-summary.png
  src/main/java/de/tum/cit/aet/artemis/programming/service/localci/SharedQueueManagementService.java
  src/test/java/de/tum/cit/aet/artemis/buildagent/service/BuildAgentIntegrationTest.java
Labels: tests, server, documentation, small, ready to merge, buildagent, programming

#10522 `File upload exercises`: Fix loading submission in assessment view
  src/main/webapp/app/fileupload/manage/assess/file-upload-assessment.component.html
  src/main/webapp/app/fileupload/overview/file-upload-submission.service.ts
  src/test/playwright/e2e/exercise/file-upload/FileUploadExerciseAssessment.spec.ts
  src/test/playwright/support/pageobjects/assessment/FileUploadExerciseAssessmentPage.ts
Labels: tests, ready for review, client, bugfix, ready to merge, playwright, fileupload

#10525 `Development`: Do not load iris settings in exam mode
  src/main/webapp/app/text/overview/text-editor.component.ts
  src/test/javascript/spec/component/text-editor/text-editor.component.spec.ts
Labels: tests, client, small, ready to merge, text

#10547 `Communication`: Update announcement title styling
  src/main/webapp/app/communication/post/post.component.scss
Labels: client, small, ready to merge, communication

#10531 `Development`: Add FAQ documentation
  docs/index.rst
  docs/user/communication/faq/creation-screen.png
  docs/user/communication/faq/enable-screen.png
  docs/user/communication/faq/faq-course-card.png
  docs/user/communication/faq/overview-screen.png
  docs/user/communication/faq/student-screen.png
  docs/user/faqs.rst
  docs/user/markdown-support.rst
  docs/user/markdown-support/markdown-post-extensions-preview.png
  docs/user/markdown-support/markdown-post-extensions.png
Labels: documentation, ready to merge

#10365 `Development`: Refactor course dashboard filtering
  src/main/java/de/tum/cit/aet/artemis/assessment/domain/Result.java
  src/main/java/de/tum/cit/aet/artemis/assessment/service/ResultService.java
  src/main/java/de/tum/cit/aet/artemis/assessment/web/ResultResource.java
  src/main/java/de/tum/cit/aet/artemis/core/service/CourseService.java
  src/main/java/de/tum/cit/aet/artemis/exercise/domain/Exercise.java
  src/main/java/de/tum/cit/aet/artemis/exercise/domain/InitializationState.java
  src/main/java/de/tum/cit/aet/artemis/exercise/domain/SubmissionType.java
  src/main/java/de/tum/cit/aet/artemis/exercise/service/ExerciseDateService.java
  src/main/java/de/tum/cit/aet/artemis/exercise/service/ExerciseService.java
  src/main/java/de/tum/cit/aet/artemis/exercise/service/ParticipationFilterService.java
  src/main/java/de/tum/cit/aet/artemis/exercise/service/SubmissionFilterService.java
  src/main/java/de/tum/cit/aet/artemis/programming/domain/ProgrammingExercise.java
  src/main/java/de/tum/cit/aet/artemis/quiz/domain/QuizExercise.java
  src/test/java/de/tum/cit/aet/artemis/assessment/TutorParticipationResourceIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/communication/FaqIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/communication/ForwardedMessageResourceIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/core/DatabaseQueryCountTest.java
  src/test/java/de/tum/cit/aet/artemis/core/util/CourseTestService.java
  src/test/java/de/tum/cit/aet/artemis/core/util/CourseUtilService.java
  src/test/java/de/tum/cit/aet/artemis/exercise/ExerciseIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/exercise/ExerciseTest.java
  src/test/java/de/tum/cit/aet/artemis/exercise/service/ParticipationFilterServiceTest.java
  src/test/java/de/tum/cit/aet/artemis/exercise/service/SubmissionFilterServiceTest.java
  src/test/java/de/tum/cit/aet/artemis/iris/PyrisFaqIngestionTest.java
  src/test/java/de/tum/cit/aet/artemis/iris/PyrisLectureIngestionTest.java
  src/test/java/de/tum/cit/aet/artemis/lecture/ExerciseUnitIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/lecture/LectureIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/lecture/LectureUnitIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/CourseLocalVcJenkinsIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/ProgrammingExerciseTest.java
  src/test/java/de/tum/cit/aet/artemis/quiz/QuizExerciseIntegrationTest.java
Labels: enhancement, tests, server, refactoring, bugfix, ready to merge, assessment, communication, core, exercise, iris, lecture, programming, quiz

#10544 `Development`: Optimize a slow method in the notification system
  src/main/java/de/tum/cit/aet/artemis/communication/service/notifications/NotificationSettingsService.java
  src/test/java/de/tum/cit/aet/artemis/communication/notification/SingleUserNotificationServiceTest.java
Labels: tests, ready for review, server, communication

#10572 `Quiz exercises`: Fix broken practice mode
  src/main/webapp/app/quiz/overview/quiz-participation.service.ts
  src/test/javascript/spec/component/exercises/quiz/quiz-participation.component.spec.ts
  src/test/javascript/spec/component/exercises/quiz/quiz-participation.service.spec.ts
Labels: tests, client, quiz

#10570 `Development`: Fix repository programming exercise participation server test for Jenkins
  src/test/java/de/tum/cit/aet/artemis/programming/RepositoryProgrammingExerciseParticipationJenkinsIntegrationTest.java
Labels: tests, ready for review, programming

#10388 `Communication`: Fix an issue that allows saving same post multiple times
  src/main/java/de/tum/cit/aet/artemis/communication/repository/SavedPostRepository.java
  src/main/java/de/tum/cit/aet/artemis/communication/service/SavedPostService.java
  src/test/java/de/tum/cit/aet/artemis/communication/service/SavedPostServiceTest.java
Labels: tests, ready for review, server, small, bugfix, communication

#10418 `Communication`: Fix push notifications for user mentions
  docs/user/notifications.rst
  docs/user/notifications/supported-notification-types-overview-1.png
  docs/user/notifications/supported-notification-types-overview-2.png
  docs/user/notifications/supported-notification-types-overview-3.png
  src/main/java/de/tum/cit/aet/artemis/communication/service/ConversationMessagingService.java
  src/main/java/de/tum/cit/aet/artemis/communication/service/notifications/NotificationSettingsService.java
Labels: ready for review, server, documentation, bugfix, communication

#10383 `Programming exercises`: Fix repository breadcrumbs
  src/main/webapp/app/shared/layouts/navbar/navbar.component.ts
  src/main/webapp/i18n/de/repository.json
  src/main/webapp/i18n/en/repository.json
  src/test/javascript/spec/component/shared/navbar.component.spec.ts
Labels: tests, ready for review, client

#10518 `Exam mode`: Fix issue with exercise start
  src/main/java/de/tum/cit/aet/artemis/exam/service/StudentExamService.java
Labels: server, priority:high, small, ready to merge, exam

#10389 `Development`: Update Hibernate to 6.5.3
  gradle.properties
  gradle/jacoco.gradle
  src/main/java/de/tum/cit/aet/artemis/assessment/service/ComplaintResponseService.java
  src/main/java/de/tum/cit/aet/artemis/assessment/service/ResultService.java
  src/main/java/de/tum/cit/aet/artemis/communication/domain/NotificationSetting.java
  src/main/java/de/tum/cit/aet/artemis/communication/service/notifications/NotificationSettingsService.java
  src/main/java/de/tum/cit/aet/artemis/communication/web/NotificationSettingsResource.java
  src/main/java/de/tum/cit/aet/artemis/exercise/service/ExerciseSpecificationService.java
  src/main/java/de/tum/cit/aet/artemis/tutorialgroup/domain/TutorialGroupSchedule.java
  src/main/java/de/tum/cit/aet/artemis/tutorialgroup/service/TutorialGroupScheduleService.java
  src/test/java/de/tum/cit/aet/artemis/communication/notification/NotificationSettingsServiceTest.java
  src/test/java/de/tum/cit/aet/artemis/core/management/ManagementResourceIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/core/test_repository/CourseTestRepository.java
  src/test/java/de/tum/cit/aet/artemis/core/user/util/UserTestService.java
  src/test/java/de/tum/cit/aet/artemis/core/util/CourseTestService.java
  src/test/java/de/tum/cit/aet/artemis/core/util/CourseUtilService.java
  src/test/java/de/tum/cit/aet/artemis/exam/StudentExamIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/fileupload/FileUploadExerciseIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/iris/IrisSessionActivationIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/modeling/ModelingExerciseIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/ProgrammingExerciseIntegrationTestService.java
  src/test/java/de/tum/cit/aet/artemis/quiz/QuizExerciseIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/text/TextExerciseIntegrationTest.java
Labels: tests, ready for review, server, assessment, communication, core, exam, exercise, fileupload, iris, modeling, programming, quiz, text, tutorialgroup

#10344 `Programming exercises`: Provide theia clone information on redirect
  src/main/java/de/tum/cit/aet/artemis/programming/domain/ProgrammingExerciseBuildConfig.java
  src/main/java/de/tum/cit/aet/artemis/programming/dto/ProgrammingExerciseTheiaConfigDTO.java
  src/main/java/de/tum/cit/aet/artemis/programming/repository/ProgrammingExerciseBuildConfigRepository.java
  src/main/java/de/tum/cit/aet/artemis/programming/web/ProgrammingExerciseResource.java
  src/main/resources/config/application-dev.yml
  src/main/resources/config/application-theia.yml
  src/main/webapp/app/core/auth/account.service.ts
  src/main/webapp/app/core/course/overview/exercise-details/exercise-details-student-actions.component.html
  src/main/webapp/app/core/course/overview/exercise-details/exercise-details-student-actions.component.ts
  src/main/webapp/app/entities/programming/programming-exercise-theia.config.ts
  src/main/webapp/app/entities/programming/theia-redirect.model.ts
  src/main/webapp/app/programming/manage/services/programming-exercise.service.ts
  src/main/webapp/app/programming/service/theia.service.ts
  src/main/webapp/app/shared/components/code-button/code-button.component.html
  src/main/webapp/app/shared/components/code-button/code-button.component.ts
  src/test/java/de/tum/cit/aet/artemis/programming/web/ProgrammingExerciseResourceTest.java
  src/test/javascript/spec/component/overview/exercise-details/exercise-details-student-actions.component.spec.ts
  src/test/javascript/spec/component/shared/code-button.component.spec.ts
  src/test/javascript/spec/helpers/mocks/service/mock-account.service.ts
  src/test/javascript/spec/helpers/mocks/service/mock-programming-exercise.service.ts
  src/test/javascript/spec/service/profile.service.spec.ts
Labels: tests, server, client, config-change, core, programming

#10326 `Development`: Add e2e tests for programming exam participations using git
  src/test/playwright/e2e/exam/ExamParticipation.spec.ts
  src/test/playwright/e2e/exercise/programming/ProgrammingExerciseParticipation.spec.ts
  src/test/playwright/support/pageobjects/exam/ExamParticipationPage.ts
  src/test/playwright/support/pageobjects/exercises/programming/GitExerciseParticipation.ts
  src/test/playwright/support/pageobjects/exercises/programming/ProgrammingExerciseOverviewPage.ts
Labels: tests, ready to merge, playwright

#10573 `General`: Fix student view button in course management
  src/main/webapp/app/core/course/overview/header-course.component.ts
  src/test/javascript/spec/component/course/header-course.component.spec.ts
Labels: tests, client, small, ready to merge, core

#10457 `Lectures`: Allow drag and dropping of PDF pages
  src/main/java/de/tum/cit/aet/artemis/core/web/FileResource.java
  src/main/java/de/tum/cit/aet/artemis/lecture/domain/AttachmentUnit.java
  src/main/java/de/tum/cit/aet/artemis/lecture/repository/SlideRepository.java
  src/main/java/de/tum/cit/aet/artemis/lecture/service/AttachmentUnitService.java
  src/main/java/de/tum/cit/aet/artemis/lecture/service/SlideSplitterService.java
  src/main/java/de/tum/cit/aet/artemis/lecture/web/AttachmentUnitResource.java
  src/main/webapp/app/lecture/manage/lecture-units/attachmentUnit.service.ts
  src/main/webapp/app/lecture/manage/pdf-preview/pdf-preview-date-box/pdf-preview-date-box.component.html
  src/main/webapp/app/lecture/manage/pdf-preview/pdf-preview-date-box/pdf-preview-date-box.component.ts
  src/main/webapp/app/lecture/manage/pdf-preview/pdf-preview-thumbnail-grid/pdf-preview-thumbnail-grid.component.html
  src/main/webapp/app/lecture/manage/pdf-preview/pdf-preview-thumbnail-grid/pdf-preview-thumbnail-grid.component.scss
  src/main/webapp/app/lecture/manage/pdf-preview/pdf-preview-thumbnail-grid/pdf-preview-thumbnail-grid.component.ts
  src/main/webapp/app/lecture/manage/pdf-preview/pdf-preview.component.html
  src/main/webapp/app/lecture/manage/pdf-preview/pdf-preview.component.ts
  src/main/webapp/i18n/de/lecture.json
  src/main/webapp/i18n/en/lecture.json
  src/test/java/de/tum/cit/aet/artemis/lecture/AttachmentUnitIntegrationTest.java
  src/test/javascript/spec/component/lecture/pdf-preview/pdf-preview-date-box.component.spec.ts
  src/test/javascript/spec/component/lecture/pdf-preview/pdf-preview-thumbnail-grid.component.spec.ts
  src/test/javascript/spec/component/lecture/pdf-preview/pdf-preview.component.spec.ts
Labels: tests, server, client, core, lecture

#10579 `Development`: Fix flaky server tests related to build jobs
  src/test/java/de/tum/cit/aet/artemis/programming/icl/LocalCIResourceIntegrationTest.java
Labels: tests, programming

#10521 `Communication`: Fix internal server error in channels
  src/main/java/de/tum/cit/aet/artemis/communication/service/conversation/ConversationService.java
Labels: server, bugfix, ready to merge, communication

#10545 `Programming exercises`: Fix declared R dependencies not being installed
  src/main/resources/config/application.yml
  src/main/resources/templates/aeolus/r/default.sh
  src/main/resources/templates/aeolus/r/default.yaml
  src/main/resources/templates/jenkins/r/regularRuns/pipeline.groovy
Labels: config-change, ready to merge, template

#10391 `Communication`: Add navigation to messages from search results
  src/main/webapp/app/communication/course-conversations/course-wide-search/course-wide-search.component.html
  src/main/webapp/app/communication/course-conversations/course-wide-search/course-wide-search.component.ts
  src/main/webapp/app/communication/metis.service.ts
  src/main/webapp/app/communication/post/post.component.html
  src/main/webapp/app/communication/shared/course-conversations.component.html
  src/test/java/de/tum/cit/aet/artemis/communication/MessageIntegrationTest.java
  src/test/javascript/spec/service/metis/metis.service.spec.ts
Labels: tests, client, ready to merge, communication

#10590 `Development`: Add JUnit reporter for E2E summary and fix status indicator behavior
  .github/workflows/test-e2e.yml
Labels: ready for review

#10588 `Development`: Update C# exercise dependencies
  src/main/resources/config/application.yml
  src/main/resources/templates/c_sharp/test/test.csproj
Labels: config-change, template

#10565 `Development`: Move iris entities to iris module in the client
  src/main/webapp/app/atlas/manage/generate-competencies/generate-competencies.component.ts
  src/main/webapp/app/core/course/manage/detail/course-detail.component.ts
  src/main/webapp/app/core/course/overview/exercise-details/course-exercise-details.component.ts
  src/main/webapp/app/exercise/exercise.service.ts
  src/main/webapp/app/iris/manage/settings/iris-course-settings-update/iris-course-settings-update.component.ts
  src/main/webapp/app/iris/manage/settings/iris-exercise-settings-update/iris-exercise-settings-update.component.ts
  src/main/webapp/app/iris/manage/settings/iris-global-settings-update/iris-global-settings-update.component.ts
  src/main/webapp/app/iris/manage/settings/iris-settings-update/iris-common-sub-settings-update/iris-common-sub-settings-update.component.ts
  src/main/webapp/app/iris/manage/settings/iris-settings-update/iris-settings-update.component.ts
  src/main/webapp/app/iris/manage/settings/shared/iris-enabled.component.ts
  src/main/webapp/app/iris/manage/settings/shared/iris-settings.service.ts
  src/main/webapp/app/iris/overview/base-chatbot/chat-status-bar/chat-status-bar.component.ts
  src/main/webapp/app/iris/overview/base-chatbot/iris-base-chatbot.component.ts
  src/main/webapp/app/iris/overview/exercise-chatbot/exercise-chatbot-button.component.ts
  src/main/webapp/app/iris/overview/iris-chat-http.service.ts
  src/main/webapp/app/iris/overview/iris-chat.service.ts
  src/main/webapp/app/iris/overview/iris-status.service.ts
  src/main/webapp/app/iris/shared/entities/iris-chat-websocket-dto.model.ts
  src/main/webapp/app/iris/shared/entities/iris-content-type.model.ts
  src/main/webapp/app/iris/shared/entities/iris-errors.model.ts
  src/main/webapp/app/iris/shared/entities/iris-exercise-chat-session.model.ts
  src/main/webapp/app/iris/shared/entities/iris-health.model.ts
  src/main/webapp/app/iris/shared/entities/iris-message.model.ts
  src/main/webapp/app/iris/shared/entities/iris-ratelimit-info.model.ts
  src/main/webapp/app/iris/shared/entities/iris-session.model.ts
  src/main/webapp/app/iris/shared/entities/iris-stage-dto.model.ts
  src/main/webapp/app/iris/shared/entities/settings/iris-settings.model.ts
  src/main/webapp/app/iris/shared/entities/settings/iris-sub-settings.model.ts
  src/main/webapp/app/iris/shared/entities/settings/iris-variant.ts
  src/main/webapp/app/lecture/overview/course-lectures/course-lecture-details.component.ts
  src/main/webapp/app/programming/manage/code-editor/code-editor-instructor-and-editor-container.component.ts
  src/main/webapp/app/programming/manage/programming-exercise-detail.component.ts
  src/main/webapp/app/shared/detail-overview-list/detail-overview-list.component.ts
  src/main/webapp/app/shared/detail-overview-list/detail.model.ts
  src/main/webapp/app/shared/metis/redirect-to-iris-button/redirect-to-iris-button.component.ts
  src/main/webapp/app/text/overview/text-editor.component.ts
  src/test/javascript/spec/component/competencies/competency-management/competency-management.component.spec.ts
  src/test/javascript/spec/component/competencies/generate-competencies/generate-competencies.component.spec.ts
  src/test/javascript/spec/component/faq/faq.component.spec.ts
  src/test/javascript/spec/component/iris/iris-chat-http.service.spec.ts
  src/test/javascript/spec/component/iris/iris-chat.service.spec.ts
  src/test/javascript/spec/component/iris/iris-status.service.spec.ts
  src/test/javascript/spec/component/iris/settings/iris-common-sub-settings-update.component.spec.ts
  src/test/javascript/spec/component/iris/settings/iris-course-settings-update.component.spec.ts
  src/test/javascript/spec/component/iris/settings/iris-enabled.component.spec.ts
  src/test/javascript/spec/component/iris/settings/iris-exercise-settings-update.component.spec.ts
  src/test/javascript/spec/component/iris/settings/iris-global-settings-update.component.spec.ts
  src/test/javascript/spec/component/iris/settings/iris-settings-update-component.spec.ts
  src/test/javascript/spec/component/iris/settings/mock-settings.ts
  src/test/javascript/spec/component/iris/ui/chat-status-bar.component.spec.ts
  src/test/javascript/spec/component/iris/ui/iris-base-chatbot.component.spec.ts
  src/test/javascript/spec/component/lecture-unit/lecture-unit-management.component.spec.ts
  src/test/javascript/spec/component/lecture/lecture-detail.component.spec.ts
  src/test/javascript/spec/component/overview/exercise-details/course-exercise-details.component.spec.ts
  src/test/javascript/spec/component/text-editor/text-editor.component.spec.ts
  src/test/javascript/spec/helpers/sample/iris-sample-data.ts
Labels: tests, client, ready to merge, atlas, core, exercise, iris, lecture, programming, text

#10598 `Development`: Remove unused quiz pool code
  gradle/jacoco.gradle
  src/main/java/de/tum/cit/aet/artemis/exam/domain/StudentExam.java
  src/main/java/de/tum/cit/aet/artemis/exam/repository/StudentExamRepository.java
  src/main/java/de/tum/cit/aet/artemis/exam/service/ExamDeletionService.java
  src/main/java/de/tum/cit/aet/artemis/exam/service/ExamQuizQuestionsGenerator.java
  src/main/java/de/tum/cit/aet/artemis/exam/service/ExamService.java
  src/main/java/de/tum/cit/aet/artemis/exam/service/StudentExamService.java
  src/main/java/de/tum/cit/aet/artemis/exam/web/ExamResource.java
  src/main/java/de/tum/cit/aet/artemis/exercise/service/ParticipationService.java
  src/main/java/de/tum/cit/aet/artemis/quiz/domain/QuizGroup.java
  src/main/java/de/tum/cit/aet/artemis/quiz/domain/QuizPool.java
  src/main/java/de/tum/cit/aet/artemis/quiz/domain/QuizQuestion.java
  src/main/java/de/tum/cit/aet/artemis/quiz/dto/question/QuizQuestionBaseDTO.java
  src/main/java/de/tum/cit/aet/artemis/quiz/repository/QuizGroupRepository.java
  src/main/java/de/tum/cit/aet/artemis/quiz/repository/QuizPoolRepository.java
  src/main/java/de/tum/cit/aet/artemis/quiz/service/QuizPoolService.java
  src/main/java/de/tum/cit/aet/artemis/quiz/web/QuizPoolResource.java
  src/main/resources/config/liquibase/changelog/20250328114200_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/core/course/overview/exercise-details/exercise-details-student-actions.component.ts
  src/main/webapp/app/exam/manage/exam-management.route.ts
  src/main/webapp/app/exam/manage/exams/exam-detail.component.html
  src/main/webapp/app/quiz/manage/quiz-pool-mapping-question-list.component.html
  src/main/webapp/app/quiz/manage/quiz-pool-mapping-question-list.component.scss
  src/main/webapp/app/quiz/manage/quiz-pool-mapping-question-list.component.ts
  src/main/webapp/app/quiz/manage/quiz-pool-mapping.component.html
  src/main/webapp/app/quiz/manage/quiz-pool-mapping.component.scss
  src/main/webapp/app/quiz/manage/quiz-pool-mapping.component.ts
  src/main/webapp/app/quiz/manage/quiz-pool.component.html
  src/main/webapp/app/quiz/manage/quiz-pool.component.scss
  src/main/webapp/app/quiz/manage/quiz-pool.component.ts
  src/main/webapp/app/quiz/manage/quiz-pool.service.ts
  src/main/webapp/app/quiz/shared/entities/quiz-group.model.ts
  src/main/webapp/app/quiz/shared/entities/quiz-pool.model.ts
  src/main/webapp/app/quiz/shared/entities/quiz-question.model.ts
  src/main/webapp/i18n/de/quizPool.json
  src/main/webapp/i18n/en/quizPool.json
  src/test/java/de/tum/cit/aet/artemis/exam/ExamIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/exam/QuizPoolIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/exam/test_repository/StudentExamTestRepository.java
  src/test/java/de/tum/cit/aet/artemis/exam/util/ExamUtilService.java
  src/test/java/de/tum/cit/aet/artemis/quiz/util/QuizExerciseFactory.java
  src/test/javascript/spec/component/exam/manage/exams/exam-detail.component.spec.ts
  src/test/javascript/spec/component/exercises/quiz/manage/quiz-pool-mapping-question-list.component.spec.ts
  src/test/javascript/spec/component/exercises/quiz/manage/quiz-pool-mapping.component.spec.ts
  src/test/javascript/spec/component/exercises/quiz/manage/quiz-pool.component.spec.ts
  src/test/javascript/spec/service/quiz-pool.service.spec.ts
Labels: tests, server, client, database, core, exam, exercise, quiz

#10612 `Development`: Fix client branch coverage threshold
  jest.config.js
Labels: ready for review

#10584 `Development`: Improve Codeowners to be more detailed
  .github/CODEOWNERS
Labels: ready for review
