Repository ls1intum/Artemis, pull requests merged in 2025-01, with the labels that each got.

#10092 `Development`: Enable gzip compression for nginx
  docker/nginx/nginx.conf
Labels: small, ready to merge, docker

#9845 `Text exercises`: Highlight selected result in result history timeline
  src/main/webapp/app/exercises/text/participate/text-editor.component.html
  src/main/webapp/app/exercises/text/participate/text-editor.component.ts
  src/main/webapp/app/overview/result-history/result-history.component.html
  src/main/webapp/app/overview/result-history/result-history.component.ts
  src/test/javascript/spec/component/overview/result-history/result-history.component.spec.ts
  src/test/javascript/spec/component/text-editor/text-editor.component.spec.ts
Labels: tests, client, ready to merge, maintainer-approved

#10099 `Development`: Prevent exception in Iris for inactive exercises
  src/main/java/de/tum/cit/aet/artemis/assessment/service/ResultService.java
  src/main/java/de/tum/cit/aet/artemis/assessment/web/ResultWebsocketService.java
  src/main/java/de/tum/cit/aet/artemis/core/domain/User.java
  src/main/java/de/tum/cit/aet/artemis/iris/repository/IrisExerciseChatSessionRepository.java
  src/main/java/de/tum/cit/aet/artemis/iris/repository/IrisExerciseSettingsRepository.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/pyris/PyrisEventService.java
  src/main/java/de/tum/cit/aet/artemis/lti/service/LtiNewResultService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/ProgrammingMessagingService.java
  src/test/java/de/tum/cit/aet/artemis/buildagent/service/BuildAgentDockerServiceTest.java
  src/test/java/de/tum/cit/aet/artemis/exercise/service/ParticipationTeamWebsocketServiceTest.java
  src/test/java/de/tum/cit/aet/artemis/iris/PyrisEventSystemIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/shared/base/AbstractSpringIntegrationLocalCILocalVCTest.java
Labels: tests, ready for review, server, assessment, buildagent, core, exercise, iris, lti, programming

#9717 `Development`: Update `@swimlane/ngx-graph` to 9.0.1
  package-lock.json
  package.json
  patches/@swimlane+ngx-graph+9.0.1.patch
  src/main/webapp/app/course/learning-paths/components/competency-graph/competency-graph.component.html
  src/main/webapp/app/course/learning-paths/components/competency-graph/competency-graph.component.ts
Labels: ready for review, client, stale

#10103 `Assessment`: Fix the display of the exercise title in the exercise assessment dashboard
  src/main/webapp/app/exercises/shared/dashboards/tutor/exercise-assessment-dashboard.component.html
Labels: client, small, bugfix, ready to merge, assessment

#10104 `Development`: Fix syntax error in query in IrisExerciseSettingsRepository
  src/main/java/de/tum/cit/aet/artemis/iris/repository/IrisExerciseSettingsRepository.java
Labels: ready for review, server, deployment-error, iris

#9990 `Integrated code lifecycle`: View build logs in the browser
  src/main/java/de/tum/cit/aet/artemis/programming/service/BuildLogEntryService.java
  src/main/java/de/tum/cit/aet/artemis/programming/web/localci/BuildLogResource.java
  src/main/webapp/app/entities/programming/build-log.model.ts
  src/main/webapp/app/localci/build-queue/build-queue.component.html
  src/main/webapp/app/localci/build-queue/build-queue.component.scss
  src/main/webapp/app/localci/build-queue/build-queue.component.ts
  src/main/webapp/app/localci/build-queue/build-queue.service.ts
  src/main/webapp/app/shared/pipes/artemis-date.pipe.ts
  src/main/webapp/app/shared/util/global.utils.ts
  src/main/webapp/i18n/de/buildQueue.json
  src/main/webapp/i18n/en/buildQueue.json
  src/test/java/de/tum/cit/aet/artemis/programming/icl/LocalCIResourceIntegrationTest.java
  src/test/javascript/spec/component/localci/build-queue/build-queue.component.spec.ts
  src/test/javascript/spec/component/localci/build-queue/build-queue.service.spec.ts
Labels: tests, server, client, ready to merge, programming

#10095 `Programming exercises`: Improve task bar design
  src/main/webapp/app/exercises/programming/shared/instructions-render/step-wizard/programming-exercise-instruction-step-wizard.component.html
  src/main/webapp/app/exercises/programming/shared/instructions-render/step-wizard/programming-exercise-instruction-step-wizard.component.ts
  src/main/webapp/app/exercises/programming/shared/instructions-render/step-wizard/programming-exercise-instruction-step-wizard.scss
  src/main/webapp/app/exercises/programming/shared/instructions-render/task/programming-exercise-instruction-task-status.component.html
  src/main/webapp/app/exercises/programming/shared/instructions-render/task/programming-exercise-instruction-task-status.component.ts
  src/test/javascript/spec/helpers/sample/problemStatement.json
Labels: tests, ready for review, client, small, ready to merge, maintainer-approved

#9921 `Development`: Migrate exam scores module to signals, inject and standalone
  src/main/webapp/app/exam/exam-scores/exam-scores-average-scores-graph.component.html
  src/main/webapp/app/exam/exam-scores/exam-scores-average-scores-graph.component.ts
  src/main/webapp/app/exam/exam-scores/exam-scores.component.html
  src/main/webapp/app/exam/exam-scores/exam-scores.component.ts
  src/main/webapp/app/exam/exam-scores/exam-scores.module.ts
  src/main/webapp/app/exam/exam-scores/exam-scores.route.ts
  src/main/webapp/app/exam/manage/exam-management.module.ts
  src/test/javascript/spec/component/exam/exam-scores/exam-scores-average-scores-graph.component.spec.ts
  src/test/javascript/spec/component/exam/exam-scores/exam-scores.component.spec.ts
Labels: tests, client, ready to merge

#10090 `Assessment`: Keep long feedback after saving an assessment
  src/main/java/de/tum/cit/aet/artemis/assessment/repository/LongFeedbackTextRepository.java
  src/main/java/de/tum/cit/aet/artemis/assessment/service/ResultService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/ProgrammingAssessmentService.java
  src/test/java/de/tum/cit/aet/artemis/programming/AbstractProgrammingIntegrationIndependentTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/ProgrammingAssessmentIntegrationTest.java
Labels: tests, ready for review, server, bugfix, deployment-error, assessment, programming

#10053 `Programming exercises`: Remember scrolling position when switching between files in the online code editor
  src/main/webapp/app/exercises/programming/shared/code-editor/monaco/code-editor-monaco.component.ts
  src/main/webapp/app/shared/monaco-editor/monaco-editor.component.ts
  src/test/javascript/spec/component/code-editor/code-editor-monaco.component.spec.ts
Labels: enhancement, feature, tests, ready for review, client, component:MarkdownEditor, ready to merge, maintainer-approved

#10086 `Development`: Migrate client code for the assessment dashboard
  src/main/webapp/app/course/dashboards/assessment-dashboard/assessment-dashboard-information.component.ts
  src/main/webapp/app/course/dashboards/assessment-dashboard/assessment-dashboard.component.ts
  src/main/webapp/app/course/dashboards/assessment-dashboard/assessment-dashboard.module.ts
  src/main/webapp/app/course/dashboards/assessment-dashboard/exam-assessment-buttons/exam-assessment-buttons.component.ts
  src/test/javascript/spec/component/assessment-dashboard/assessment-dashboard-information.component.spec.ts
  src/test/javascript/spec/component/assessment-dashboard/assessment-dashboard.component.spec.ts
  src/test/javascript/spec/component/assessment-dashboard/exam-assessment-buttons.component.spec.ts
Labels: tests, ready for review, client, ready to merge, maintainer-approved

#10085 `Development`: Migrate client code for complaints
  src/main/webapp/app/assessment/assessment-shared.module.ts
  src/main/webapp/app/complaints/complaint-response.service.ts
  src/main/webapp/app/complaints/complaint.service.ts
  src/main/webapp/app/complaints/complaints-for-students/complaints-student-view.component.ts
  src/main/webapp/app/complaints/complaints-for-tutor/complaints-for-tutor.component.ts
  src/main/webapp/app/complaints/complaints-for-tutor/complaints-for-tutor.module.ts
  src/main/webapp/app/complaints/complaints.module.ts
  src/main/webapp/app/complaints/form/complaints-form.component.ts
  src/main/webapp/app/complaints/list-of-complaints/list-of-complaints.component.ts
  src/main/webapp/app/complaints/list-of-complaints/list-of-complaints.module.ts
  src/main/webapp/app/complaints/request/complaint-request.component.ts
  src/main/webapp/app/complaints/response/complaint-response.component.ts
  src/main/webapp/app/course/manage/course-management.module.ts
  src/main/webapp/app/exercises/programming/assess/programming-assessment.module.ts
  src/main/webapp/app/exercises/programming/participate/programming-repository.module.ts
  src/main/webapp/app/exercises/text/assess/text-submission-assessment.module.ts
  src/test/javascript/spec/component/assessment-shared/assessment-layout.component.spec.ts
  src/test/javascript/spec/component/complaints/complaints-for-tutor.component.spec.ts
  src/test/javascript/spec/component/complaints/complaints-form.component.spec.ts
  src/test/javascript/spec/component/complaints/list-of-complaints.component.spec.ts
Labels: tests, ready for review, client, ready to merge, maintainer-approved

#10075 `Development`: Remove unused reference in posting models
  src/main/java/de/tum/cit/aet/artemis/communication/domain/AnswerPost.java
  src/main/java/de/tum/cit/aet/artemis/communication/domain/Post.java
  src/main/java/de/tum/cit/aet/artemis/communication/repository/ConversationMessageRepository.java
  src/main/java/de/tum/cit/aet/artemis/communication/repository/SavedPostRepository.java
  src/main/java/de/tum/cit/aet/artemis/communication/service/AnswerMessageService.java
  src/main/java/de/tum/cit/aet/artemis/communication/service/ConversationMessagingService.java
  src/main/java/de/tum/cit/aet/artemis/communication/service/SavedPostScheduleService.java
Labels: ready for review, server, chore, ready to merge, component:Communication, maintainer-approved, communication

#10073 `Development`: Change posting deletion logic to not abort when deconstructing a post
  src/main/webapp/app/shared/metis/posting.directive.ts
Labels: ready for review, client

#10070 `Programming exercises`: Fix image export in combination with tooltip text
  src/main/java/de/tum/cit/aet/artemis/exercise/service/ExerciseWithSubmissionsExportService.java
Labels: ready for review, server, lock:artemis-test2, exercise

#10050 `Development`: Add playwright exam checklist e2e tests
  src/main/webapp/app/exam/manage/exams/exam-checklist-component/exam-checklist.component.html
  src/main/webapp/app/shared/components/checklist-check/checklist-check.component.html
  src/test/playwright/e2e/exam/ExamAssessment.spec.ts
  src/test/playwright/e2e/exam/ExamChecklists.spec.ts
  src/test/playwright/e2e/exam/ExamCreationDeletion.spec.ts
  src/test/playwright/e2e/exam/ExamParticipation.spec.ts
  src/test/playwright/support/fixtures.ts
  src/test/playwright/support/pageobjects/exam/EditExamPage.ts
  src/test/playwright/support/pageobjects/exam/ExamCreationPage.ts
  src/test/playwright/support/pageobjects/exam/ExamDetailsPage.ts
  src/test/playwright/support/pageobjects/exam/ExamExerciseGroupCreationPage.ts
  src/test/playwright/support/pageobjects/exam/StudentExamManagementPage.ts
  src/test/playwright/support/requests/ExamAPIRequests.ts
  src/test/playwright/support/requests/ExerciseAPIRequests.ts
  src/test/playwright/support/utils.ts
Labels: tests, ready for review, client, ready to merge, maintainer-approved, playwright

#9856 `General`: Fix an issue with course deletion summary entries
  src/main/java/de/tum/cit/aet/artemis/communication/repository/PostRepository.java
  src/main/java/de/tum/cit/aet/artemis/core/dto/CourseDeletionSummaryDTO.java
  src/main/java/de/tum/cit/aet/artemis/core/service/CourseService.java
  src/main/java/de/tum/cit/aet/artemis/exam/repository/ExamRepository.java
  src/main/java/de/tum/cit/aet/artemis/exercise/dto/ExerciseTypeCountDTO.java
  src/main/java/de/tum/cit/aet/artemis/exercise/repository/ExerciseRepository.java
  src/main/java/de/tum/cit/aet/artemis/exercise/service/ExerciseService.java
  src/main/java/de/tum/cit/aet/artemis/lecture/repository/LectureRepository.java
  src/main/webapp/app/course/manage/course-management-tab-bar/course-management-tab-bar.component.ts
  src/main/webapp/app/entities/course-deletion-summary.model.ts
  src/test/java/de/tum/cit/aet/artemis/communication/util/ConversationUtilService.java
Labels: tests, ready for review, server, client, communication, core, exam, exercise, lecture

#10055 `Development`: Migrate client code for the grading system
  jest.config.js
  src/main/webapp/app/exam/manage/exam-management.module.ts
  src/main/webapp/app/exercises/programming/shared/instructions-render/programming-exercise-instructions-render.module.ts
  src/main/webapp/app/grading-system/base-grading-system/base-grading-system.component.ts
  src/main/webapp/app/grading-system/bonus/bonus.component.ts
  src/main/webapp/app/grading-system/bonus/bonus.service.ts
  src/main/webapp/app/grading-system/detailed-grading-system/detailed-grading-system.component.ts
  src/main/webapp/app/grading-system/grading-key-overview/grading-key-overview.component.ts
  src/main/webapp/app/grading-system/grading-key-overview/grading-key-overview.module.ts
  src/main/webapp/app/grading-system/grading-key-overview/grading-key/grading-key-table.component.ts
  src/main/webapp/app/grading-system/grading-system-info-modal/grading-system-info-modal.component.ts
  src/main/webapp/app/grading-system/grading-system-presentations/grading-system-presentations.component.ts
  src/main/webapp/app/grading-system/grading-system.component.ts
  src/main/webapp/app/grading-system/grading-system.module.ts
  src/main/webapp/app/grading-system/grading-system.service.ts
  src/main/webapp/app/grading-system/interval-grading-system/interval-grading-system.component.ts
  src/main/webapp/app/shared/pipes/grade-step-bounds.pipe.ts
  src/main/webapp/app/shared/pipes/safe-html.pipe.ts
  src/main/webapp/app/shared/pipes/shared-pipes.module.ts
  src/test/javascript/spec/component/bonus/bonus.component.spec.ts
  src/test/javascript/spec/component/exam/participate/exam-navigation-sidebar.component.spec.ts
  src/test/javascript/spec/component/grading-system/detailed-grading-system.component.spec.ts
  src/test/javascript/spec/component/grading-system/grading-key-overview.component.spec.ts
  src/test/javascript/spec/component/grading-system/grading-key-table.component.spec.ts
  src/test/javascript/spec/component/grading-system/grading-system-presentations.component.spec.ts
  src/test/javascript/spec/component/grading-system/grading-system.component.spec.ts
  src/test/javascript/spec/component/grading-system/interval-grading-system.component.spec.ts
Labels: tests, ready for review, client, ready to merge, maintainer-approved

#9655 `Lectures`: Replace guided mode with status bar edit and create view
  jest.config.js
  src/main/webapp/app/entities/attachment.model.ts
  src/main/webapp/app/lecture/close-edit-lecture-modal/close-edit-lecture-modal.component.html
  src/main/webapp/app/lecture/close-edit-lecture-modal/close-edit-lecture-modal.component.ts
  src/main/webapp/app/lecture/hasLectureUnsavedChanges.guard.ts
  src/main/webapp/app/lecture/lecture-attachments.component.ts
  src/main/webapp/app/lecture/lecture-period/lecture-period.component.html
  src/main/webapp/app/lecture/lecture-unit/lecture-unit-management/lecture-unit-management.component.ts
  src/main/webapp/app/lecture/lecture-units/lecture-units.component.html
  src/main/webapp/app/lecture/lecture-units/lecture-units.component.ts
  src/main/webapp/app/lecture/lecture-update.component.html
  src/main/webapp/app/lecture/lecture-update.component.ts
  src/main/webapp/app/lecture/lecture.component.ts
  src/main/webapp/app/lecture/lecture.module.ts
  src/main/webapp/app/lecture/lecture.service.ts
  src/main/webapp/app/lecture/wizard-mode/lecture-update-wizard-step.component.html
  src/main/webapp/app/lecture/wizard-mode/lecture-update-wizard-step.component.ts
  src/main/webapp/app/lecture/wizard-mode/lecture-update-wizard.component.html
  src/main/webapp/app/lecture/wizard-mode/lecture-update-wizard.component.scss
  src/main/webapp/app/lecture/wizard-mode/lecture-update-wizard.component.ts
  src/main/webapp/app/lecture/wizard-mode/lecture-wizard-attachments.component.html
  src/main/webapp/app/lecture/wizard-mode/lecture-wizard-attachments.component.ts
  src/main/webapp/app/lecture/wizard-mode/lecture-wizard-title.component.html
  src/main/webapp/app/lecture/wizard-mode/lecture-wizard-title.component.ts
  src/main/webapp/app/shared/exercise-filter/exercise-filter-modal.component.html
  src/main/webapp/i18n/de/lecture.json
  src/main/webapp/i18n/en/lecture.json
  src/test/javascript/spec/component/lecture/close-edit-lecture-modal.component.spec.ts
  src/test/javascript/spec/component/lecture/lecture-units.component.spec.ts
  src/test/javascript/spec/component/lecture/lecture-update.component.spec.ts
  src/test/javascript/spec/component/lecture/wizard-mode/lecture-wizard-attachments.component.spec.ts
  src/test/javascript/spec/component/lecture/wizard-mode/lecture-wizard-title.component.spec.ts
  src/test/javascript/spec/component/lecture/wizard-mode/lecture-wizard.component.spec.ts
  src/test/javascript/spec/component/shared/image-cropper/keyboard.util.spec.ts
  src/test/javascript/spec/util/regex.util.spec.ts
  src/test/playwright/e2e/lecture/LectureManagement.spec.ts
Labels: feature, tests, ready for review, client, ready to merge, maintainer-approved, playwright

#10110 `Programming exercises`: Fix programming language feature flags
  src/main/java/de/tum/cit/aet/artemis/programming/service/jenkins/JenkinsProgrammingLanguageFeatureService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/localci/LocalCIProgrammingLanguageFeatureService.java
Labels: server, ready to merge, programming

#10122 `Communication`: Resolve reactivity issues when displaying replies to a post
  src/main/webapp/app/overview/course-conversations/course-conversations.component.html
  src/main/webapp/app/overview/course-conversations/course-conversations.component.ts
  src/main/webapp/app/shared/metis/posting-content/posting-content-part/posting-content-part.components.ts
  src/main/webapp/app/shared/metis/posting-content/posting-content.component.html
  src/main/webapp/app/shared/metis/posting-content/posting-content.components.ts
Labels: client, small, bugfix, ready to merge, component:Communication

#10126 `Development`: Add client test to check reactivity of post content
  src/main/webapp/app/shared/metis/posting-content/posting-content-part/posting-content-part.components.ts
  src/test/javascript/spec/component/shared/metis/posting-content/posting-content-part.component.spec.ts
Labels: tests, ready for review, client, small, component:Communication

#10089 `Programming exercises`: Add Bash programming exercise template
  docs/user/exercises/programming-exercise-features.inc
  src/main/java/de/tum/cit/aet/artemis/programming/domain/ProgrammingLanguage.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/TemplateUpgradePolicyService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/ci/ContinuousIntegrationService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/jenkins/JenkinsProgrammingLanguageFeatureService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/jenkins/build_plan/JenkinsBuildPlanService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/localci/LocalCIProgrammingLanguageFeatureService.java
  src/main/resources/config/application.yml
  src/main/resources/templates/aeolus/bash/default.sh
  src/main/resources/templates/aeolus/bash/default.yaml
  src/main/resources/templates/bash/exercise/script.bash
  src/main/resources/templates/bash/readme
  src/main/resources/templates/bash/solution/script.bash
  src/main/resources/templates/bash/test/test.bats
  src/main/resources/templates/bash/test/test_data/numbers.txt
  src/main/resources/templates/bash/test/test_data/numbers_expected.txt
  src/main/resources/templates/bash/test/test_data/rename_me.txt
  src/main/resources/templates/bash/test/test_helper/common-setup.bash
  src/main/resources/templates/jenkins/bash/regularRuns/pipeline.groovy
  src/main/webapp/app/entities/programming/programming-exercise.model.ts
  src/test/resources/config/application.yml
Labels: tests, server, client, documentation, config-change, ready to merge, template, programming

#9809 `Development`: Improve git access operations performance
  src/main/java/de/tum/cit/aet/artemis/programming/repository/ProgrammingExerciseStudentParticipationRepository.java
  src/main/java/de/tum/cit/aet/artemis/programming/repository/SolutionProgrammingExerciseParticipationRepository.java
  src/main/java/de/tum/cit/aet/artemis/programming/repository/TemplateProgrammingExerciseParticipationRepository.java
  src/main/java/de/tum/cit/aet/artemis/programming/repository/VcsAccessLogRepository.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/ProgrammingExerciseParticipationService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/RepositoryService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/localvc/ArtemisGitServletService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/localvc/LocalVCFetchPreUploadHook.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/localvc/LocalVCFetchPreUploadHookSSH.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/localvc/LocalVCPostPushHook.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/localvc/LocalVCPrePushHook.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/localvc/LocalVCPushFilter.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/localvc/LocalVCServletService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/localvc/SshGitLocationResolverService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/localvc/VcsAccessLogService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/localvc/ssh/SshConstants.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/localvc/ssh/SshGitCommand.java
  src/main/java/de/tum/cit/aet/artemis/programming/web/repository/RepositoryResource.java
  src/test/java/de/tum/cit/aet/artemis/programming/test_repository/TemplateProgrammingExerciseParticipationTestRepository.java
  src/test/java/de/tum/cit/aet/artemis/programming/util/ProgrammingExerciseUtilService.java
  src/test/java/de/tum/cit/aet/artemis/programming/util/ProgrammingUtilTestService.java
  src/test/java/de/tum/cit/aet/artemis/shared/base/AbstractSpringIntegrationLocalCILocalVCTest.java
Labels: tests, ready for review, server, ready to merge, programming

#10114 `Development`: Update thymeleaf email templates
  README.md
  docs/admin/registration.rst
  docs/user/mobile-applications.rst
  docs/user/orion.rst
  src/main/java/de/tum/cit/aet/artemis/programming/service/localvc/LocalVCRepositoryUri.java
  src/main/resources/templates/mail/dataExportFailedAdminEmail.html
  src/main/resources/templates/mail/notification/announcementPostEmail.html
  src/main/resources/templates/mail/notification/attachmentChangedEmail.html
  src/main/resources/templates/mail/notification/dataExportCreatedEmail.html
  src/main/resources/templates/mail/notification/dataExportFailedEmail.html
  src/main/resources/templates/mail/notification/duplicateTestCasesEmail.html
  src/main/resources/templates/mail/notification/exerciseOpenForPracticeEmail.html
  src/main/resources/templates/mail/notification/exerciseReleasedEmail.html
  src/main/resources/templates/mail/notification/exerciseSubmissionAssessedEmail.html
  src/main/resources/templates/mail/notification/fileSubmissionSuccessfulEmail.html
  src/main/resources/templates/mail/notification/fragments.html
  src/main/resources/templates/mail/notification/plagiarismCaseEmail.html
  src/main/resources/templates/mail/notification/plagiarismVerdictEmail.html
  src/main/resources/templates/mail/notification/tutorialGroupBasicEmail.html
  src/main/resources/templates/mail/notification/tutorialGroupDeletedEmail.html
  src/main/resources/templates/mail/notification/tutorialGroupUpdatedEmail.html
  src/main/resources/templates/mail/successfulDataExportsAdminEmail.html
  src/main/resources/templates/mail/weeklySummary.html
  src/main/webapp/app/core/about-us/about-us.component.ts
  src/test/java/de/tum/cit/aet/artemis/programming/icl/RepositoryUriTest.java
  src/test/javascript/spec/service/external-cloning.service.spec.ts
Labels: tests, ready for review, server, client, documentation, template, programming

#10117 `Communication`: Improve visibility of pinned messages
  src/main/webapp/app/overview/course-conversations/layout/conversation-messages/conversation-messages.component.ts
  src/main/webapp/app/overview/discussion-section/discussion-section.component.ts
  src/main/webapp/app/shared/metis/posting-header/posting-header.component.html
  src/main/webapp/app/shared/metis/posting-header/posting-header.component.ts
Labels: ready for review, client

#10113 `Programming exercises`: Update points automatically when the result changes
  src/main/webapp/app/exercises/shared/exercise-headers/exercise-headers-information/exercise-headers-information.component.ts
Labels: ready for review, client

#10031 `Adaptive learning`: Improve terminology of competency relations
  src/main/webapp/i18n/en/competency.json
Labels: ready for review, client

#10120 `Assessment`: Do not display automatic as manual feedback in the online code editor
  src/main/webapp/app/exercises/file-upload/participate/file-upload-submission.component.ts
  src/main/webapp/app/exercises/modeling/participate/modeling-submission.component.ts
  src/main/webapp/app/exercises/programming/participate/code-editor-student-container.component.ts
  src/main/webapp/app/exercises/shared/result/result.utils.ts
  src/main/webapp/app/exercises/text/participate/text-editor.component.ts
  src/test/java/de/tum/cit/aet/artemis/exercise/participation/ParticipationIntegrationTest.java
  src/test/javascript/spec/component/modeling-submission/modeling-submission-team.component.spec.ts
  src/test/javascript/spec/component/modeling-submission/modeling-submission.component.spec.ts
  src/test/javascript/spec/component/utils/result.utils.spec.ts
Labels: tests, client, ready to merge, lock:artemis-test1, exercise

#10132 `Modeling exercises`: Fix manual feedback results not being shown
  src/main/webapp/app/exercises/modeling/participate/modeling-submission.component.ts
  src/main/webapp/app/exercises/shared/result/result.utils.ts
  src/test/javascript/spec/component/utils/result.utils.spec.ts
Labels: tests, ready for review, client

#10140 `Text exercises`: Fix an edge case with discarded Athena feedback suggestions for tutors
  src/main/webapp/app/exercises/text/assess/text-submission-assessment.component.ts
  src/test/javascript/spec/component/text-submission-assessment/text-submission-assessment.component.spec.ts
Labels: tests, client, small, bugfix, ready to merge, maintainer-approved

#9673 `Adaptive learning`: Add learner profile
  src/main/java/de/tum/cit/aet/artemis/atlas/api/LearnerProfileApi.java
  src/main/java/de/tum/cit/aet/artemis/atlas/domain/profile/CourseLearnerProfile.java
  src/main/java/de/tum/cit/aet/artemis/atlas/domain/profile/LearnerProfile.java
  src/main/java/de/tum/cit/aet/artemis/atlas/repository/CourseLearnerProfileRepository.java
  src/main/java/de/tum/cit/aet/artemis/atlas/repository/LearnerProfileRepository.java
  src/main/java/de/tum/cit/aet/artemis/atlas/service/learningpath/LearningPathService.java
  src/main/java/de/tum/cit/aet/artemis/atlas/service/profile/CourseLearnerProfileService.java
  src/main/java/de/tum/cit/aet/artemis/atlas/service/profile/LearnerProfileService.java
  src/main/java/de/tum/cit/aet/artemis/core/domain/User.java
  src/main/java/de/tum/cit/aet/artemis/core/repository/UserRepository.java
  src/main/java/de/tum/cit/aet/artemis/core/service/CourseService.java
  src/main/java/de/tum/cit/aet/artemis/core/service/UserScheduleService.java
  src/main/java/de/tum/cit/aet/artemis/core/service/user/UserCreationService.java
  src/main/java/de/tum/cit/aet/artemis/core/service/user/UserService.java
  src/main/java/de/tum/cit/aet/artemis/core/web/CourseResource.java
  src/main/resources/config/liquibase/changelog/20241107130000_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/test/java/de/tum/cit/aet/artemis/atlas/AbstractAtlasIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/atlas/learningpath/LearningPathIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/atlas/profile/LearnerProfileIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/atlas/profile/util/LearnerProfileUtilService.java
  src/test/java/de/tum/cit/aet/artemis/core/test_repository/UserTestRepository.java
  src/test/java/de/tum/cit/aet/artemis/core/user/util/UserTestService.java
  src/test/java/de/tum/cit/aet/artemis/programming/AbstractProgrammingIntegrationJenkinsGitlabTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/CourseGitlabJenkinsIntegrationTest.java
Labels: tests, server, database, ready to merge, maintainer-approved, atlas, core, programming

#10151 `Programming exercises`: Fix padding issue in task display
  src/main/webapp/app/exercises/programming/manage/instructions-editor/programming-exercise-editable-instruction.scss
  src/main/webapp/app/exercises/programming/shared/instructions-render/step-wizard/programming-exercise-instruction-step-wizard.scss
Labels: client, small, ready to merge

#10158 `General`: Add support for markdown callouts
  package-lock.json
  package.json
  src/main/webapp/app/shared/util/markdown.conversion.util.ts
  src/main/webapp/content/scss/global.scss
Labels: client, ready to merge

#10166 `Development`: Fix flaky communication module test cases
  src/test/java/de/tum/cit/aet/artemis/communication/ChannelIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/communication/MessageIntegrationTest.java
Labels: tests, ready for review, communication

#9408 `Development`: Add tool token support
  src/main/java/de/tum/cit/aet/artemis/assessment/web/ResultResource.java
  src/main/java/de/tum/cit/aet/artemis/core/config/WebConfigurer.java
  src/main/java/de/tum/cit/aet/artemis/core/security/allowedTools/AllowedTools.java
  src/main/java/de/tum/cit/aet/artemis/core/security/allowedTools/ToolTokenType.java
  src/main/java/de/tum/cit/aet/artemis/core/security/allowedTools/ToolsInterceptor.java
  src/main/java/de/tum/cit/aet/artemis/core/security/jwt/JWTCookieService.java
  src/main/java/de/tum/cit/aet/artemis/core/security/jwt/TokenProvider.java
  src/main/java/de/tum/cit/aet/artemis/core/web/AccountResource.java
  src/main/java/de/tum/cit/aet/artemis/core/web/CourseResource.java
  src/main/java/de/tum/cit/aet/artemis/core/web/TokenResource.java
  src/main/java/de/tum/cit/aet/artemis/core/web/open/PublicUserJwtResource.java
  src/main/java/de/tum/cit/aet/artemis/exercise/web/ParticipationResource.java
  src/main/java/de/tum/cit/aet/artemis/programming/web/PlantUmlResource.java
  src/test/java/de/tum/cit/aet/artemis/core/authentication/AuthenticationIntegrationTestHelper.java
  src/test/java/de/tum/cit/aet/artemis/core/authentication/InternalAuthenticationIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/core/security/allowedTools/AllowedToolsResource.java
  src/test/java/de/tum/cit/aet/artemis/core/security/allowedTools/AllowedToolsTest.java
Labels: tests, ready for review, server, ready to merge, maintainer-approved, assessment, core, exercise, programming

#10138 `Communication`: Prevent multiple group chats with same users
  src/main/java/de/tum/cit/aet/artemis/communication/repository/conversation/GroupChatRepository.java
  src/main/java/de/tum/cit/aet/artemis/communication/service/conversation/GroupChatService.java
  src/test/java/de/tum/cit/aet/artemis/communication/GroupChatIntegrationTest.java
Labels: tests, server, bugfix, ready to merge, communication

#10052 `Communication`: Add course-wide channel option
  src/main/java/de/tum/cit/aet/artemis/communication/web/conversation/ChannelResource.java
  src/main/webapp/app/overview/course-conversations/course-conversations.component.ts
  src/main/webapp/app/overview/course-conversations/dialogs/channels-create-dialog/channel-form/channel-form.component.html
  src/main/webapp/app/overview/course-conversations/dialogs/channels-create-dialog/channel-form/channel-form.component.ts
  src/main/webapp/app/overview/course-conversations/dialogs/channels-create-dialog/channels-create-dialog.component.html
  src/main/webapp/app/overview/course-conversations/dialogs/channels-create-dialog/channels-create-dialog.component.ts
  src/main/webapp/i18n/de/conversation.json
  src/main/webapp/i18n/en/conversation.json
  src/test/java/de/tum/cit/aet/artemis/communication/AbstractConversationTest.java
  src/test/java/de/tum/cit/aet/artemis/communication/ChannelIntegrationTest.java
  src/test/javascript/spec/component/overview/course-conversations/dialogs/channels-create-dialog/channel-form/channel-form.component.spec.ts
  src/test/javascript/spec/component/overview/course-conversations/dialogs/channels-create-dialog/channels-create-dialog.component.spec.ts
  src/test/playwright/e2e/course/CourseMessages.spec.ts
  src/test/playwright/support/pageobjects/course/CourseMessagesPage.ts
Labels: feature, tests, server, client, ready to merge, component:Communication, playwright, communication

#10127 `Assessment`: Fix an issue where grading criteria are not applied correctly on drag and drop
  src/main/webapp/app/assessment/unreferenced-feedback-detail/unreferenced-feedback-detail.component.ts
  src/main/webapp/app/exercises/shared/unreferenced-feedback/unreferenced-feedback.component.ts
  src/test/javascript/spec/component/shared/unreferenced-feedback.component.spec.ts
  src/test/javascript/spec/helpers/stubs/loading-indicator-container-stub.component.ts
  src/test/javascript/spec/helpers/stubs/unreferenced-feedback-detail-stub.component.ts
Labels: enhancement, tests, client, bugfix, ready to merge

#10036 `Development`: Execute server tests only for changed modules in GitHub action for non-default branches
  .github/PULL_REQUEST_TEMPLATE.md
  .github/dependabot.yml
  .github/workflows/test.yml
  build.gradle
  check.sh
  docker/test-server-multi-node-postgresql-localci.yml
  gradle/jacoco.gradle
  gradle/test.gradle
  per-module-coverage-recorder.sh
  read.ms
  result.md
  supporting_scripts/code-coverage/generate_code_cov_table/.gitignore
  supporting_scripts/code-coverage/generate_code_cov_table/README.md
  supporting_scripts/code-coverage/generate_code_cov_table/env.example
  supporting_scripts/code-coverage/generate_code_cov_table/generate_code_cov_table.py
  supporting_scripts/code-coverage/generate_code_cov_table/requirements.txt
  supporting_scripts/code-coverage/per_module_cov_report/parse_module_coverage.py
  supporting_scripts/extract_number_of_server_starts.sh
  supporting_scripts/get_changed_modules.sh
Labels: ready to merge, docker

#10168 `Development`: Add client tests for markdown callouts rendering
  src/test/javascript/spec/component/markdown-editor/markdown-editor-monaco.component.spec.ts
Labels: tests, ready to merge

#10155 `Development`: Set the isGraded flag to false for student athena requests
  src/main/java/de/tum/cit/aet/artemis/text/service/TextExerciseFeedbackService.java
Labels: server, ready to merge, maintainer-approved, text

#9959 `Development`: Define DTO architecture test per module with module-specific thresholds
  src/test/java/de/tum/cit/aet/artemis/assessment/architecture/AssessmentCodeStyleArchitectureTest.java
  src/test/java/de/tum/cit/aet/artemis/athena/architecture/AthenaCodeStyleArchitectureTest.java
  src/test/java/de/tum/cit/aet/artemis/atlas/architecture/AtlasCodeStyleArchitectureTest.java
  src/test/java/de/tum/cit/aet/artemis/communication/architecture/CommunicationCodeStyleArchitectureTest.java
  src/test/java/de/tum/cit/aet/artemis/core/architecture/CoreCodeStyleArchitectureTest.java
  src/test/java/de/tum/cit/aet/artemis/exam/architecture/ExamCodeStyleArchitectureTest.java
  src/test/java/de/tum/cit/aet/artemis/exercise/architecture/ExerciseCodeStyleArchitectureTest.java
  src/test/java/de/tum/cit/aet/artemis/fileupload/architecture/FileUploadCodeStyleArchitectureTest.java
  src/test/java/de/tum/cit/aet/artemis/iris/architecture/IrisCodeStyleArchitectureTest.java
  src/test/java/de/tum/cit/aet/artemis/lecture/architecture/LectureCodeStyleArchitectureTest.java
  src/test/java/de/tum/cit/aet/artemis/lti/architecture/LtiCodeStyleArchitectureTest.java
  src/test/java/de/tum/cit/aet/artemis/modeling/architecture/ModelingCodeStyleArchitectureTest.java
  src/test/java/de/tum/cit/aet/artemis/plagiarism/architecture/PlagiarismCodeStyleArchitectureTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/architecture/ProgrammingCodeStyleArchitectureTest.java
  src/test/java/de/tum/cit/aet/artemis/quiz/architecture/QuizCodeStyleArchitectureTest.java
  src/test/java/de/tum/cit/aet/artemis/shared/architecture/ArchitectureTest.java
  src/test/java/de/tum/cit/aet/artemis/shared/architecture/module/AbstractModuleCodeStyleTest.java
  src/test/java/de/tum/cit/aet/artemis/text/architecture/TextCodeStyleArchitectureTest.java
  src/test/java/de/tum/cit/aet/artemis/tutorialgroup/architecture/TutorialGroupCodeStyleArchitectureTest.java
Labels: tests, ready to merge, assessment, athena, atlas, communication, core, exam, exercise, fileupload, iris, lecture, lti, modeling, plagiarism, programming, quiz, text, tutorialgroup

#10179 `Text exercises`: Fix an issue where students cannot see automatic unreferenced feedback
  src/main/webapp/app/exercises/text/participate/text-editor.component.ts
Labels: client, ready to merge, maintainer-approved

#10181 `Communication`: Fix cursor jump issue during list text editing
  src/main/webapp/app/shared/monaco-editor/model/actions/list.action.ts
  src/test/javascript/spec/component/shared/metis/postings-markdown-editor/postings-markdown-editor.component.spec.ts
Labels: tests, client, small, bugfix, ready to merge, component:Communication

#9970 `Communication`: Keep file names when downloading attachments
  src/main/java/de/tum/cit/aet/artemis/core/service/FileService.java
  src/main/java/de/tum/cit/aet/artemis/core/web/FileResource.java
  src/main/java/de/tum/cit/aet/artemis/fileupload/domain/FilePathInformation.java
  src/main/java/de/tum/cit/aet/artemis/fileupload/domain/FileUpload.java
  src/main/java/de/tum/cit/aet/artemis/fileupload/domain/FileUploadEntityType.java
  src/main/java/de/tum/cit/aet/artemis/fileupload/repository/FileUploadRepository.java
  src/main/java/de/tum/cit/aet/artemis/fileupload/service/FileUploadScheduleService.java
  src/main/java/de/tum/cit/aet/artemis/fileupload/service/FileUploadService.java
  src/main/resources/config/liquibase/changelog/20241206114231_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/test/java/de/tum/cit/aet/artemis/fileupload/service/FileUploadScheduleServiceTest.java
  src/test/java/de/tum/cit/aet/artemis/fileupload/service/FileUploadServiceTest.java
Labels: tests, server, database, ready to merge, core, fileupload

#10172 `Programming exercises`: Update java exercise docker image to java17-22
  src/main/resources/config/application.yml
  src/main/resources/templates/java/gradle_gradle/exercise/build.gradle
  src/main/resources/templates/java/gradle_gradle/exercise/gradle/wrapper/gradle-wrapper.jar
  src/main/resources/templates/java/gradle_gradle/exercise/gradle/wrapper/gradle-wrapper.properties
  src/main/resources/templates/java/gradle_gradle/solution/build.gradle
  src/main/resources/templates/java/gradle_gradle/solution/gradle/wrapper/gradle-wrapper.jar
  src/main/resources/templates/java/gradle_gradle/solution/gradle/wrapper/gradle-wrapper.properties
  src/main/resources/templates/java/maven_maven/test/projectTemplate/pom.xml
  src/main/resources/templates/java/plain_gradle/exercise/gradle/wrapper/gradle-wrapper.jar
  src/main/resources/templates/java/plain_gradle/exercise/gradle/wrapper/gradle-wrapper.properties
  src/main/resources/templates/java/plain_gradle/solution/gradle/wrapper/gradle-wrapper.jar
  src/main/resources/templates/java/plain_gradle/solution/gradle/wrapper/gradle-wrapper.properties
  src/main/resources/templates/java/test/blackbox/projectTemplate/pom.xml
  src/main/resources/templates/java/test/gradle/projectTemplate/build.gradle
  src/main/resources/templates/java/test/gradle/projectTemplate/gradle/wrapper/gradle-wrapper.jar
  src/main/resources/templates/java/test/gradle/projectTemplate/gradle/wrapper/gradle-wrapper.properties
  src/main/resources/templates/java/test/maven/projectTemplate/pom.xml
  src/main/resources/templates/kotlin/test/maven/projectTemplate/pom.xml
Labels: ready for review, config-change, small, template

#10143 `Assessment`: Fix an issue where instructors accidentally override presentation scores
  src/main/java/de/tum/cit/aet/artemis/core/domain/Course.java
  src/main/java/de/tum/cit/aet/artemis/core/web/CourseResource.java
  src/main/webapp/app/course/manage/course-update.component.ts
Labels: ready for review, server, client, core

#10165 `Athena`: Improve AI feedback request validation
  src/main/java/de/tum/cit/aet/artemis/athena/service/AthenaFeedbackSuggestionsService.java
  src/main/java/de/tum/cit/aet/artemis/exercise/web/ParticipationResource.java
  src/main/java/de/tum/cit/aet/artemis/modeling/service/ModelingExerciseFeedbackService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/ProgrammingExerciseCodeReviewFeedbackService.java
  src/main/java/de/tum/cit/aet/artemis/text/service/TextExerciseFeedbackService.java
  src/main/webapp/app/overview/exercise-details/request-feedback-button/request-feedback-button.component.html
  src/main/webapp/i18n/de/exercise.json
  src/main/webapp/i18n/en/exercise.json
  src/test/java/de/tum/cit/aet/artemis/exercise/participation/ParticipationIntegrationTest.java
Labels: tests, ready for review, server, client, athena, exercise, modeling, programming, text

#10183 `Team exercises`: Fix synchronization for empty submissions
  src/main/webapp/app/exercises/text/participate/text-editor.component.ts
  src/test/javascript/spec/component/text-editor/text-editor.component.spec.ts
Labels: tests, client, small, ready to merge

#10199 `Development`: Fix TS3 deployments by removing docker-command override
  docker/test-server-multi-node-postgresql-localci.yml
Labels: ready for review, ready to merge, docker, lock:artemis-test3

#9914 `Development`: Migrate test run module to signals, inject and standalone
  src/main/webapp/app/exam/manage/exam-management.module.ts
  src/main/webapp/app/exam/manage/test-runs/test-run-management.component.html
  src/main/webapp/app/exam/manage/test-runs/test-run-management.component.ts
  src/main/webapp/app/exam/participate/exam-participation.module.ts
  src/main/webapp/app/exam/participate/summary/exam-result-summary.module.ts
  src/test/javascript/spec/component/exam/test-run/test-run-management.component.spec.ts
Labels: tests, client, small, ready to merge

#10051 `Assessment`: Remove duplicate message and center table
  src/main/webapp/app/grading-system/grading-key-overview/grading-key/grading-key-table.component.html
Labels: enhancement, client, user interface, ready to merge

#10203 `Development`: Fix failing LearningPathIntegrationTests
  gradle/jacoco.gradle
  src/main/java/de/tum/cit/aet/artemis/atlas/domain/profile/LearnerProfile.java
Labels: server, bugfix, ready to merge, atlas

#10201 `Adaptive learning`: Fix an issue with translation not found in editing competency relations
  src/main/webapp/i18n/en/competency.json
Labels: client, small, bugfix, ready to merge, component:AdaptiveLearning

#10220 `Development`: Add unique constraint to build statistics
  src/main/resources/config/liquibase/changelog/20250127181108_changelog.xml
  src/main/resources/config/liquibase/master.xml
Labels: database

#10216 `Development`: Remove angular modules
  jest.config.js
  src/main/webapp/app/assessment/assessment-instructions/assessment-instructions.module.ts
  src/main/webapp/app/course/competencies/competency.module.ts
  src/main/webapp/app/course/competencies/judgement-of-learning-rating/judgement-of-learning-rating.component.ts
  src/main/webapp/app/course/dashboards/assessment-dashboard/assessment-dashboard-information.component.ts
  src/main/webapp/app/course/dashboards/assessment-dashboard/assessment-dashboard.module.ts
  src/main/webapp/app/course/tutorial-groups/shared/tutorial-groups-shared.module.ts
  src/main/webapp/app/course/tutorial-groups/tutorial-groups-management/tutorial-groups-management.module.ts
  src/main/webapp/app/exam/manage/exam-management.module.ts
  src/main/webapp/app/exam/participate/exam-participation.module.ts
  src/main/webapp/app/exam/participate/exercises/exam-submission-components.module.ts
  src/main/webapp/app/exam/participate/summary/exam-result-summary.module.ts
  src/main/webapp/app/exercises/file-upload/participate/file-upload-participation.module.ts
  src/main/webapp/app/exercises/modeling/participate/modeling-participation.module.ts
  src/main/webapp/app/exercises/programming/assess/programming-assessment.module.ts
  src/main/webapp/app/exercises/programming/manage/instructions-editor/programming-exercise-instructions-editor.module.ts
  src/main/webapp/app/exercises/programming/manage/update/programming-exercise-update.module.ts
  src/main/webapp/app/exercises/programming/participate/programming-participation.module.ts
  src/main/webapp/app/exercises/programming/participate/programming-repository.module.ts
  src/main/webapp/app/exercises/programming/shared/instructions-render/programming-exercise-instructions-render.module.ts
  src/main/webapp/app/exercises/shared/dashboards/tutor/exercise-assessment-dashboard.module.ts
  src/main/webapp/app/exercises/shared/mode-picker/mode-picker.module.ts
  src/main/webapp/app/exercises/shared/participation/participation.module.ts
  src/main/webapp/app/exercises/shared/rating/rating.module.ts
  src/main/webapp/app/exercises/shared/team-config-form-group/team-config-form-group.module.ts
  src/main/webapp/app/exercises/text/participate/text-participation.module.ts
  src/main/webapp/app/grading-system/bonus/bonus.component.ts
  src/main/webapp/app/grading-system/grading-system-presentations/grading-system-presentations.component.ts
  src/main/webapp/app/grading-system/grading-system.module.ts
  src/main/webapp/app/grading-system/interval-grading-system/interval-grading-system.component.ts
  src/main/webapp/app/overview/course-competencies/course-competencies-details.module.ts
  src/main/webapp/app/overview/courses.module.ts
  src/main/webapp/app/overview/exercise-details/course-exercise-details.module.ts
  src/main/webapp/app/shared/info-panel/info-panel.module.ts
  src/main/webapp/app/shared/side-panel/side-panel.module.ts
  src/main/webapp/app/shared/sidebar/sidebar.module.ts
Labels: ready for review, client, lock:artemis-test4

#10198 `Development`: Migrate client code for edit modals of posts
  src/main/webapp/app/shared/metis/posting-create-edit-modal/answer-post-create-edit-modal/answer-post-create-edit-modal.component.ts
  src/main/webapp/app/shared/metis/posting-create-edit-modal/post-create-edit-modal/post-create-edit-modal.component.html
  src/main/webapp/app/shared/metis/posting-create-edit-modal/post-create-edit-modal/post-create-edit-modal.component.ts
  src/main/webapp/app/shared/metis/posting-footer/posting-footer.component.ts
  src/test/javascript/spec/component/shared/metis/postings-create-edit-modal/answer-post-create-edit-modal/answer-post-create-edit-modal.component.spec.ts
  src/test/javascript/spec/component/shared/metis/postings-footer/posting-footer.component.spec.ts
Labels: tests, client, chore, ready to merge

#10109 `Development`: Add Helios-based deployment workflow for test servers and reusable build logic
  .github/workflows/build.yml
  .github/workflows/reusable-build.yml
  .github/workflows/testserver-deployment.yml
Labels: ready for review

#10157 `Communication`: Add Artemis intelligence rewrite action for FAQs
  src/main/java/de/tum/cit/aet/artemis/iris/service/IrisRewritingService.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/pyris/PyrisDTOService.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/pyris/PyrisStatusUpdateService.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/pyris/dto/competency/PyrisCompetencyExtractionPipelineExecutionDTO.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/pyris/dto/data/PyrisRewriteTextRequestDTO.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/pyris/dto/rewriting/PyrisRewritingPipelineExecutionDTO.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/pyris/dto/rewriting/PyrisRewritingStatusUpdateDTO.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/pyris/dto/rewriting/RewritingVariant.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/pyris/job/RewritingJob.java
  src/main/java/de/tum/cit/aet/artemis/iris/web/IrisRewritingResource.java
  src/main/java/de/tum/cit/aet/artemis/iris/web/open/PublicPyrisStatusUpdateResource.java
  src/main/webapp/app/faq/faq-update.component.html
  src/main/webapp/app/faq/faq-update.component.ts
  src/main/webapp/app/icons/icons.ts
  src/main/webapp/app/shared/markdown-editor/monaco/markdown-editor-monaco.component.html
  src/main/webapp/app/shared/markdown-editor/monaco/markdown-editor-monaco.component.ts
  src/main/webapp/app/shared/monaco-editor/model/actions/adapter/monaco-text-editor.adapter.ts
  src/main/webapp/app/shared/monaco-editor/model/actions/adapter/text-editor.interface.ts
  src/main/webapp/app/shared/monaco-editor/model/actions/artemis-intelligence/artemis-intelligence.service.ts
  src/main/webapp/app/shared/monaco-editor/model/actions/artemis-intelligence/rewrite.action.ts
  src/main/webapp/app/shared/monaco-editor/model/actions/artemis-intelligence/rewriting-variant.ts
  src/main/webapp/app/shared/monaco-editor/model/actions/text-editor-action.model.ts
  src/main/webapp/i18n/de/markdownEditor.json
  src/main/webapp/i18n/en/markdownEditor.json
  src/test/java/de/tum/cit/aet/artemis/core/connector/IrisRequestMockProvider.java
  src/test/java/de/tum/cit/aet/artemis/iris/architecture/IrisCodeStyleArchitectureTest.java
  src/test/javascript/spec/component/faq/faq-update.component.spec.ts
  src/test/javascript/spec/component/shared/metis/postings-markdown-editor/postings-markdown-editor.component.spec.ts
  src/test/javascript/spec/service/artemis-intelligence.service.spec.ts
Labels: feature, tests, server, client, ready to merge, maintainer-approved, core, iris

#10156 `Programming exercises`: Add Artemis intelligence rewriting for problem statement
  src/main/webapp/app/exercises/programming/manage/instructions-editor/programming-exercise-editable-instruction.component.html
  src/main/webapp/app/exercises/programming/manage/instructions-editor/programming-exercise-editable-instruction.component.ts
  src/test/javascript/spec/component/programming-exercise/programming-exercise-editable-instruction.component.spec.ts
  src/test/javascript/spec/helpers/mocks/activated-route/mock-activated-route-with-subjects.ts
  src/test/javascript/spec/integration/code-editor/code-editor-instructor.integration.spec.ts
Labels: tests, client, ready to merge, component:Iris

#10186 `Development`: Run GitHub coverage summary step only on success in default test pipeline
  .github/workflows/test.yml
  gradle/jacoco.gradle
Labels: small, ready to merge

#10202 `Programming exercises`: Add Ruby programming exercise template
  docs/user/exercises/programming-exercise-features.inc
  src/main/java/de/tum/cit/aet/artemis/programming/domain/ProgrammingLanguage.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/TemplateUpgradePolicyService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/ci/ContinuousIntegrationService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/jenkins/JenkinsProgrammingLanguageFeatureService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/jenkins/build_plan/JenkinsBuildPlanService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/localci/LocalCIProgrammingLanguageFeatureService.java
  src/main/resources/config/application.yml
  src/main/resources/templates/aeolus/ruby/default.sh
  src/main/resources/templates/aeolus/ruby/default.yaml
  src/main/resources/templates/jenkins/ruby/regularRuns/pipeline.groovy
  src/main/resources/templates/ruby/exercise/.gitignore
  src/main/resources/templates/ruby/exercise/Gemfile
  src/main/resources/templates/ruby/exercise/Gemfile.lock
  src/main/resources/templates/ruby/exercise/src/bubble_sort.rb
  src/main/resources/templates/ruby/exercise/src/client.rb
  src/main/resources/templates/ruby/exercise/src/merge_sort.rb
  src/main/resources/templates/ruby/readme
  src/main/resources/templates/ruby/solution/.gitignore
  src/main/resources/templates/ruby/solution/Gemfile
  src/main/resources/templates/ruby/solution/Gemfile.lock
  src/main/resources/templates/ruby/solution/src/bubble_sort.rb
  src/main/resources/templates/ruby/solution/src/client.rb
  src/main/resources/templates/ruby/solution/src/context.rb
  src/main/resources/templates/ruby/solution/src/merge_sort.rb
  src/main/resources/templates/ruby/solution/src/policy.rb
  src/main/resources/templates/ruby/test/.gitignore
  src/main/resources/templates/ruby/test/Gemfile
  src/main/resources/templates/ruby/test/Gemfile.lock
  src/main/resources/templates/ruby/test/Rakefile
  src/main/resources/templates/ruby/test/assignment_path.rb
  src/main/resources/templates/ruby/test/test/test_behavior.rb
  src/main/resources/templates/ruby/test/test/test_helper.rb
  src/main/resources/templates/ruby/test/test/test_structural.rb
  src/main/webapp/app/entities/programming/programming-exercise.model.ts
  src/test/resources/config/application.yml
Labels: tests, server, client, documentation, config-change, ready to merge, template, programming

#10209 `Programming exercises`: Add Artemis intelligence consistency check
  package-lock.json
  src/main/java/de/tum/cit/aet/artemis/iris/service/IrisConsistencyCheckService.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/pyris/PyrisStatusUpdateService.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/pyris/dto/consistencyCheck/PyrisConsistencyCheckPipelineExecutionDTO.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/pyris/dto/consistencyCheck/PyrisConsistencyCheckStatusUpdateDTO.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/pyris/job/ConsistencyCheckJob.java
  src/main/java/de/tum/cit/aet/artemis/iris/web/IrisConsistencyCheckResource.java
  src/main/java/de/tum/cit/aet/artemis/iris/web/open/PublicPyrisStatusUpdateResource.java
  src/main/webapp/app/exercises/programming/manage/instructions-editor/programming-exercise-editable-instruction.component.html
  src/main/webapp/app/exercises/programming/manage/instructions-editor/programming-exercise-editable-instruction.component.ts
  src/main/webapp/app/shared/monaco-editor/model/actions/artemis-intelligence/artemis-intelligence.service.ts
  src/main/webapp/app/shared/monaco-editor/model/actions/artemis-intelligence/consistency-check.action.ts
  src/main/webapp/app/shared/monaco-editor/model/actions/text-editor-action.model.ts
  src/main/webapp/i18n/de/markdownEditor.json
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/en/markdownEditor.json
  src/main/webapp/i18n/en/programmingExercise.json
Labels: server, client, ready to merge, lock:artemis-test1, iris

#10239 `Development`: Reduce coverage ratios to fix failing checks
  gradle/jacoco.gradle
  jest.config.js
Labels: ready for review, chore

#10093 `Iris`: Enable IRIS to answer with FAQs
  src/main/java/de/tum/cit/aet/artemis/communication/service/FaqService.java
  src/main/java/de/tum/cit/aet/artemis/communication/web/FaqResource.java
  src/main/java/de/tum/cit/aet/artemis/core/service/ProfileService.java
  src/main/java/de/tum/cit/aet/artemis/iris/domain/settings/IrisCourseSettings.java
  src/main/java/de/tum/cit/aet/artemis/iris/domain/settings/IrisExerciseSettings.java
  src/main/java/de/tum/cit/aet/artemis/iris/domain/settings/IrisFaqIngestionSubSettings.java
  src/main/java/de/tum/cit/aet/artemis/iris/domain/settings/IrisGlobalSettings.java
  src/main/java/de/tum/cit/aet/artemis/iris/domain/settings/IrisSettings.java
  src/main/java/de/tum/cit/aet/artemis/iris/domain/settings/IrisSubSettings.java
  src/main/java/de/tum/cit/aet/artemis/iris/domain/settings/IrisSubSettingsType.java
  src/main/java/de/tum/cit/aet/artemis/iris/dto/IrisCombinedFaqIngestionSubSettingsDTO.java
  src/main/java/de/tum/cit/aet/artemis/iris/dto/IrisCombinedSettingsDTO.java
  src/main/java/de/tum/cit/aet/artemis/iris/repository/IrisSettingsRepository.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/pyris/PyrisConnectorService.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/pyris/PyrisJobService.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/pyris/PyrisStatusUpdateService.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/pyris/PyrisWebhookService.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/pyris/dto/faqingestionwebhook/PyrisFaqIngestionStatusUpdateDTO.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/pyris/dto/faqingestionwebhook/PyrisFaqWebhookDTO.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/pyris/dto/faqingestionwebhook/PyrisWebhookFaqDeletionExecutionDTO.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/pyris/dto/faqingestionwebhook/PyrisWebhookFaqIngestionExecutionDTO.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/pyris/job/FaqIngestionWebhookJob.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/pyris/job/LectureIngestionWebhookJob.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/settings/IrisSettingsService.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/settings/IrisSubSettingsService.java
  src/main/java/de/tum/cit/aet/artemis/iris/web/IrisResource.java
  src/main/java/de/tum/cit/aet/artemis/iris/web/open/PublicPyrisStatusUpdateResource.java
  src/main/resources/config/liquibase/changelog/20241217122200_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/entities/iris/settings/iris-settings.model.ts
  src/main/webapp/app/entities/iris/settings/iris-sub-settings.model.ts
  src/main/webapp/app/faq/faq.component.html
  src/main/webapp/app/faq/faq.component.ts
  src/main/webapp/app/faq/faq.service.ts
  src/main/webapp/app/iris/settings/iris-settings-update/iris-settings-update.component.html
  src/main/webapp/app/iris/settings/iris-settings-update/iris-settings-update.component.ts
  src/main/webapp/i18n/de/faq.json
  src/main/webapp/i18n/de/iris.json
  src/main/webapp/i18n/en/faq.json
  src/main/webapp/i18n/en/iris.json
  src/test/java/de/tum/cit/aet/artemis/communication/FaqIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/core/connector/IrisRequestMockProvider.java
  src/test/java/de/tum/cit/aet/artemis/iris/AbstractIrisIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/iris/PyrisFaqIngestionTest.java
  src/test/java/de/tum/cit/aet/artemis/iris/PyrisLectureIngestionTest.java
  src/test/javascript/spec/component/account/account-information.component.spec.ts
  src/test/javascript/spec/component/faq/faq.component.spec.ts
  src/test/javascript/spec/component/iris/settings/iris-course-settings-update.component.spec.ts
  src/test/javascript/spec/component/iris/settings/iris-global-settings-update.component.spec.ts
  src/test/javascript/spec/component/lecture/lecture-detail.component.spec.ts
  src/test/javascript/spec/service/faq.service.spec.ts
Labels: feature, tests, ready for review, server, client, database, communication, core, iris

#10147 `Programming exercises`: Improve flexibility of authentication methods in the code popup
  src/main/java/de/tum/cit/aet/artemis/core/config/Constants.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/gitlab/GitlabInfoContributor.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/localvc/LocalVCInfoContributor.java
  src/main/resources/config/application-artemis.yml
  src/main/resources/config/application-localvc.yml
  src/main/webapp/app/detail-overview-list/components/programming-repository-buttons-detail/programming-repository-buttons-detail.component.html
  src/main/webapp/app/exam/participate/summary/exercises/programming-exam-summary/programming-exam-summary.component.html
  src/main/webapp/app/exercises/shared/dashboards/tutor/exercise-assessment-dashboard.component.html
  src/main/webapp/app/exercises/shared/exercise-scores/exercise-scores.component.html
  src/main/webapp/app/exercises/shared/participation/participation.component.html
  src/main/webapp/app/localvc/repository-view/repository-view.component.html
  src/main/webapp/app/localvc/repository-view/repository-view.component.ts
  src/main/webapp/app/overview/exercise-details/exercise-details-student-actions.component.html
  src/main/webapp/app/shared/components/code-button/code-button.component.html
  src/main/webapp/app/shared/components/code-button/code-button.component.ts
  src/main/webapp/app/shared/layouts/profiles/profile-info.model.ts
  src/main/webapp/app/shared/layouts/profiles/profile.service.ts
  src/main/webapp/app/shared/user-settings/user-settings.route.ts
  src/main/webapp/i18n/de/exercise-actions.json
  src/main/webapp/i18n/en/exercise-actions.json
  src/test/java/de/tum/cit/aet/artemis/programming/icl/LocalVCInfoContributorTest.java
  src/test/javascript/spec/component/shared/code-button.component.spec.ts
Labels: tests, ready for review, server, client, config-change, ready to merge, core, programming

#10197 `Development`: Migrate client code for posting content
  src/main/webapp/app/shared/metis/metis.service.ts
  src/main/webapp/app/shared/metis/posting-content/posting-content-part/posting-content-part.component.html
  src/main/webapp/app/shared/metis/posting-content/posting-content-part/posting-content-part.components.ts
  src/main/webapp/app/shared/metis/posting-content/posting-content.component.html
  src/main/webapp/app/shared/metis/posting-content/posting-content.components.ts
  src/main/webapp/app/shared/metis/posting-header/posting-header.component.ts
  src/test/javascript/spec/component/shared/metis/posting-content/posting-content-part.component.spec.ts
  src/test/javascript/spec/component/shared/metis/posting-content/posting-content.component.spec.ts
  src/test/javascript/spec/component/shared/metis/postings-header/posting-header.component.spec.ts
Labels: tests, client, ready to merge

#10224 `Development`: Combine post and answer post reactions bars in communication mode client code
  src/main/webapp/app/overview/course-conversations/other/channel-icon/channel-icon.component.html
  src/main/webapp/app/overview/course-conversations/other/channel-icon/channel-icon.component.ts
  src/main/webapp/app/shared/metis/answer-post/answer-post.component.html
  src/main/webapp/app/shared/metis/answer-post/answer-post.component.ts
  src/main/webapp/app/shared/metis/post/post.component.html
  src/main/webapp/app/shared/metis/post/post.component.ts
  src/main/webapp/app/shared/metis/posting-reactions-bar/answer-post-reactions-bar/answer-post-reactions-bar.component.html
  src/main/webapp/app/shared/metis/posting-reactions-bar/answer-post-reactions-bar/answer-post-reactions-bar.component.ts
  src/main/webapp/app/shared/metis/posting-reactions-bar/post-reactions-bar/post-reactions-bar.component.html
  src/main/webapp/app/shared/metis/posting-reactions-bar/post-reactions-bar/post-reactions-bar.component.ts
  src/main/webapp/app/shared/metis/posting-reactions-bar/posting-reactions-bar.component.html
  src/main/webapp/app/shared/metis/posting-reactions-bar/posting-reactions-bar.component.ts
  src/main/webapp/app/shared/metis/posting-reactions-bar/posting-reactions-bar.directive.ts
  src/test/javascript/spec/component/shared/metis/answer-post/answer-post.component.spec.ts
  src/test/javascript/spec/component/shared/metis/post/post.component.spec.ts
  src/test/javascript/spec/component/shared/metis/postings-footer/posting-footer.component.spec.ts
  src/test/javascript/spec/component/shared/metis/postings-reactions-bar/answer-post-reactions-bar/answer-post-reactions-bar.component.spec.ts
  src/test/javascript/spec/component/shared/metis/postings-reactions-bar/posting-reactions-bar.component.spec.ts
Labels: tests, client, ready to merge

#10111 `Integrated code lifecycle`: Allow admins to clear distributed data
  src/main/java/de/tum/cit/aet/artemis/core/web/admin/AdminBuildJobQueueResource.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/localci/SharedQueueManagementService.java
  src/main/webapp/app/localci/build-agents/build-agent-summary/build-agent-clear-distributed-data/build-agent-clear-distributed-data.component.html
  src/main/webapp/app/localci/build-agents/build-agent-summary/build-agent-clear-distributed-data/build-agent-clear-distributed-data.component.ts
  src/main/webapp/app/localci/build-agents/build-agent-summary/build-agent-pause-all-modal/build-agent-pause-all-modal.component.html
  src/main/webapp/app/localci/build-agents/build-agent-summary/build-agent-pause-all-modal/build-agent-pause-all-modal.component.ts
  src/main/webapp/app/localci/build-agents/build-agent-summary/build-agent-summary.component.html
  src/main/webapp/app/localci/build-agents/build-agent-summary/build-agent-summary.component.ts
  src/main/webapp/app/localci/build-agents/build-agents.service.ts
  src/main/webapp/i18n/de/buildAgents.json
  src/main/webapp/i18n/en/buildAgents.json
  src/test/javascript/spec/component/localci/build-agents/build-agent-clear-distributed-data.component.spec.ts
  src/test/javascript/spec/component/localci/build-agents/build-agent-pause-all-modal.component.spec.ts
  src/test/javascript/spec/component/localci/build-agents/build-agent-summary.component.spec.ts
  src/test/javascript/spec/component/localci/build-agents/build-agents.service.spec.ts
Labels: tests, server, client, ready to merge, core, programming
