Repository ls1intum/Artemis, pull requests merged in 2025-08, with the labels that each got.

#11206 `Development`: Reduce number of REST calls on student exams page
  src/main/java/de/tum/cit/aet/artemis/exam/dto/ExamSidebarDataDTO.java
  src/main/java/de/tum/cit/aet/artemis/exam/repository/ExamRepository.java
  src/main/java/de/tum/cit/aet/artemis/exam/web/ExamResource.java
  src/main/webapp/app/exam/overview/exam-participation/exam-participation.component.ts
  src/main/webapp/app/exam/overview/services/exam-participation.service.spec.ts
  src/main/webapp/app/exam/overview/services/exam-participation.service.ts
  src/main/webapp/app/exam/shared/course-exams/course-exams.component.spec.ts
  src/main/webapp/app/exam/shared/course-exams/course-exams.component.ts
  src/test/java/de/tum/cit/aet/artemis/exam/ExamIntegrationTest.java
Labels: tests, server, client, ready to merge, exam

#11235 `Exam mode`: Adjust test-run layout and ribbon position
  src/main/webapp/app/core/course/manage/course-management-container/course-management-container.component.html
  src/main/webapp/app/core/course/manage/course-management-container/course-management-container.component.ts
  src/main/webapp/app/core/layouts/profiles/page-ribbon.component.ts
  src/main/webapp/app/core/layouts/profiles/page-ribbon.scss
  src/main/webapp/app/exam/manage/test-runs/test-run-management/test-run-management.component.html
  src/main/webapp/app/exam/manage/test-runs/test-run-ribbon.component.ts
  src/main/webapp/app/exam/overview/exam-bar/exam-bar.component.html
  src/main/webapp/app/exam/overview/exam-bar/exam-bar.component.ts
  src/main/webapp/app/exam/overview/exam-participation/exam-participation.component.html
  src/main/webapp/app/exam/overview/exam-participation/exam-participation.component.ts
  src/main/webapp/app/exam/overview/summary/exam-result-summary.component.html
  src/main/webapp/app/exam/overview/summary/exam-result-summary.component.ts
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/en/exam.json
Labels: ready for review, client, small, ready to merge, core, exam

#11236 `Quiz exercises`: Fix internal server error in the quiz training mode caused by database inconsistencies
  src/main/java/de/tum/cit/aet/artemis/quiz/service/QuizQuestionProgressService.java
  src/main/resources/config/liquibase/changelog/20250731140151_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/test/java/de/tum/cit/aet/artemis/quiz/QuizQuestionProgressIntegrationTest.java
Labels: tests, ready for review, server, database, ready to merge, quiz

#11251 `Communication`: Improve error message on long channel name
  src/main/webapp/app/communication/course-conversations-components/dialogs/channels-create-dialog/channel-form/channel-form.component.html
  src/main/webapp/app/communication/course-conversations-components/dialogs/conversation-detail-dialog/tabs/conversation-info/conversation-info.component.spec.ts
  src/main/webapp/app/communication/course-conversations-components/dialogs/conversation-detail-dialog/tabs/conversation-info/conversation-info.component.ts
  src/test/playwright/e2e/course/CourseMessages.spec.ts
Labels: tests, ready for review, client, small, ready to merge, playwright, communication

#11265 `Quiz exercises`: Fix mission translation in quiz preview mode
  src/main/webapp/app/quiz/overview/participation/quiz-participation.component.html
Labels: ready for review, client, quiz

#11255 `Exam mode`: Ensure header is displayed when scrolling with stepwizard in quiz
  src/main/webapp/app/exam/overview/exercises/quiz/quiz-exam-submission.component.ts
  src/main/webapp/app/quiz/overview/participation/quiz-participation.component.ts
Labels: ready for review, client, small, ready to merge, exam, quiz

#11261 `Development`: Unify footer height
  src/main/webapp/app/app.component.html
  src/main/webapp/app/atlas/overview/learning-path-student-page/learning-path-student-page.component.scss
  src/main/webapp/app/core/course/shared/course-base-container/course-base-container.component.scss
  src/main/webapp/app/core/layouts/footer/footer.component.html
  src/main/webapp/app/core/layouts/footer/footer.component.spec.ts
  src/main/webapp/app/core/layouts/footer/footer.component.ts
  src/main/webapp/app/core/layouts/footer/footer.scss
  src/main/webapp/app/exam/overview/exam-cover/exam-participation-cover.scss
  src/main/webapp/app/exam/overview/exam-navigation-sidebar/exam-navigation-sidebar.component.scss
  src/main/webapp/app/exam/overview/exam-participation/exam-participation.scss
  src/main/webapp/app/shared/sidebar/sidebar.component.scss
  src/main/webapp/content/scss/global.scss
  src/main/webapp/content/scss/themes/_dark-variables.scss
  src/main/webapp/content/scss/themes/_default-variables.scss
  src/main/webapp/i18n/de/git.json
  src/main/webapp/i18n/en/git.json
Labels: client, ready to merge, atlas, core, exam

#11241 `Development`: Make repository operations more robust
  src/main/java/de/tum/cit/aet/artemis/buildagent/service/BuildJobGitService.java
  src/main/java/de/tum/cit/aet/artemis/core/config/JGitConfig.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/GitService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/localvc/LocalVCPrePushHook.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/localvc/LocalVCService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/localvc/LocalVCServletService.java
Labels: server, ready to merge, buildagent, core, programming

#11278 `Development`: Log exception when directory or file deletion fails
  src/main/java/de/tum/cit/aet/artemis/core/service/FileService.java
Labels: server, ready to merge, core

#11279 `General`: Fix an issue with the course archive link when scrolling is necessary
  src/main/webapp/app/core/course/overview/courses/courses.component.html
Labels: ready for review, client, core

#11253 `Development`: Update user documentation with communication and mobile app features
  docs/user/communication.rst
  docs/user/exercises/general.rst
  docs/user/exercises/general/exercise-overview-current.png
  docs/user/exercises/general/exercise-overview-past.png
  docs/user/exercises/general/general-menu-exercise.png
  docs/user/exercises/general/sidebar-collapse-exercise.png
  docs/user/lectures.rst
  docs/user/lectures/general-menu-lecture.png
  docs/user/lectures/lecture-overview-collapse.png
  docs/user/lectures/lecture-overview-current.png
  docs/user/lectures/lecture-overview-past.png
  docs/user/mobile-applications.rst
  docs/user/native-applications/android/custom_server_entered.png
  docs/user/native-applications/android/force_update.png
  docs/user/native-applications/android/initial_login_notification_configuration.png
  docs/user/native-applications/android/server_selection_overview.png
  docs/user/native-applications/android/settings_push.png
  docs/user/native-applications/iOS/force_update.png
  docs/user/notifications.rst
  docs/user/notifications/notification-security.png
  docs/user/notifications/user-settings.png
  src/main/webapp/app/communication/message/message-reply-inline-input/message-reply-inline-input.component.ts
  src/main/webapp/app/communication/message/service/draft-message.service.ts
Labels: ready for review, client, documentation, ready to merge, communication

#10936 `Iris`: Add lecture transcription ingestion feature to documentation
  docs/user/lectures.rst
  docs/user/lectures/create-attachment-video-unit.png
  docs/user/lectures/send-all-lectures-to-iris.png
  docs/user/lectures/send-one-unit-iris.png
Labels: documentation, ready to merge

#10574 `Iris`: Combine ingestion jobs
  jest.config.js
  src/main/java/de/tum/cit/aet/artemis/core/config/Constants.java
  src/main/java/de/tum/cit/aet/artemis/core/service/messaging/DistributedInstanceMessageSendService.java
  src/main/java/de/tum/cit/aet/artemis/core/service/messaging/InstanceMessageReceiveService.java
  src/main/java/de/tum/cit/aet/artemis/core/service/messaging/InstanceMessageSendService.java
  src/main/java/de/tum/cit/aet/artemis/core/service/messaging/MainInstanceMessageSendService.java
  src/main/java/de/tum/cit/aet/artemis/core/service/messaging/MessageTopic.java
  src/main/java/de/tum/cit/aet/artemis/iris/api/IrisLectureApi.java
  src/main/java/de/tum/cit/aet/artemis/iris/api/IrisLectureUnitAutoIngestionApi.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/IrisLectureUnitAutoIngestionService.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/pyris/PyrisConnectorService.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/pyris/PyrisWebhookService.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/pyris/dto/lectureingestionwebhook/PyrisLectureUnitWebhookDTO.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/pyris/dto/lectureingestionwebhook/PyrisWebhookLectureIngestionExecutionDTO.java
  src/main/java/de/tum/cit/aet/artemis/lecture/api/LectureTranscriptionsRepositoryApi.java
  src/main/java/de/tum/cit/aet/artemis/lecture/api/LectureUnitRepositoryApi.java
  src/main/java/de/tum/cit/aet/artemis/lecture/domain/LectureTranscription.java
  src/main/java/de/tum/cit/aet/artemis/lecture/service/AttachmentVideoUnitService.java
  src/main/java/de/tum/cit/aet/artemis/lecture/service/LectureService.java
  src/main/java/de/tum/cit/aet/artemis/lecture/service/LectureUnitService.java
  src/main/java/de/tum/cit/aet/artemis/lecture/web/LectureTranscriptionResource.java
  src/main/java/de/tum/cit/aet/artemis/lecture/web/LectureUnitResource.java
  src/main/webapp/app/core/admin/admin.routes.ts
  src/main/webapp/app/core/admin/lecture-transcription-ingestion/lecture-transcription-ingestion.component.html
  src/main/webapp/app/core/admin/lecture-transcription-ingestion/lecture-transcription-ingestion.component.scss
  src/main/webapp/app/core/admin/lecture-transcription-ingestion/lecture-transcription-ingestion.component.spec.ts
  src/main/webapp/app/core/admin/lecture-transcription-ingestion/lecture-transcription-ingestion.component.ts
  src/main/webapp/app/lecture/manage/lecture-units/attachment-video-unit-form/attachment-video-unit-form.component.html
  src/main/webapp/app/lecture/manage/lecture-units/attachment-video-unit-form/attachment-video-unit-form.component.spec.ts
  src/main/webapp/app/lecture/manage/lecture-units/attachment-video-unit-form/attachment-video-unit-form.component.ts
  src/main/webapp/app/lecture/manage/lecture-units/create-attachment-video-unit/create-attachment-video-unit.component.spec.ts
  src/main/webapp/app/lecture/manage/lecture-units/create-attachment-video-unit/create-attachment-video-unit.component.ts
  src/main/webapp/app/lecture/manage/lecture-units/edit-attachment-video-unit/edit-attachment-video-unit.component.spec.ts
  src/main/webapp/app/lecture/manage/lecture-units/edit-attachment-video-unit/edit-attachment-video-unit.component.ts
  src/main/webapp/app/lecture/manage/lecture-units/lecture-units.component.spec.ts
  src/main/webapp/app/lecture/manage/lecture-units/lecture-units.component.ts
  src/main/webapp/app/lecture/manage/lecture-units/services/lecture-unit-management-resolve.service.ts
  src/main/webapp/app/lecture/manage/lecture-units/services/lecture-unit.service.spec.ts
  src/main/webapp/app/lecture/manage/lecture-units/services/lectureUnit.service.ts
  src/main/webapp/app/lecture/manage/services/lecture-transcription.service.spec.ts
  src/main/webapp/app/lecture/manage/services/lecture-transcription.service.ts
  src/main/webapp/app/lecture/overview/course-lectures/attachment-video-unit/attachment-unit.component.scss
  src/main/webapp/app/lecture/shared/entities/lecture-unit/attachmentVideoUnit.model.ts
  src/main/webapp/i18n/de/lectureUnit.json
  src/main/webapp/i18n/en/lectureUnit.json
  src/test/java/de/tum/cit/aet/artemis/iris/IrisLectureUnitAutoIngestionServiceTest.java
  src/test/java/de/tum/cit/aet/artemis/iris/PyrisConnectorServiceTest.java
  src/test/java/de/tum/cit/aet/artemis/iris/PyrisLectureIngestionTest.java
  src/test/java/de/tum/cit/aet/artemis/iris/PyrisLectureTranscriptionIngestionTest.java
  src/test/java/de/tum/cit/aet/artemis/lecture/LectureTranscriptionIntegrationTest.java
  supporting_scripts/code-coverage/module-coverage-client/check-client-module-coverage.mjs
Labels: tests, server, client, ready to merge, core, iris, lecture

#11277 `Development`: Remove ts-cacheable and simplify secure image component
  package-lock.json
  package.json
  src/main/java/de/tum/cit/aet/artemis/programming/web/PlantUmlResource.java
  src/main/webapp/app/communication/posting-header/posting-header.component.ts
  src/main/webapp/app/core/course/manage/detail/course-detail.component.scss
  src/main/webapp/app/core/course/manage/detail/course-detail.component.spec.ts
  src/main/webapp/app/core/course/manage/header-course/header-course.component.html
  src/main/webapp/app/core/course/manage/header-course/header-course.component.ts
  src/main/webapp/app/core/course/manage/overview/course-management-card.component.html
  src/main/webapp/app/core/course/manage/overview/course-management-card.component.spec.ts
  src/main/webapp/app/core/course/manage/overview/course-management-card.component.ts
  src/main/webapp/app/core/course/manage/overview/course-management-card.scss
  src/main/webapp/app/core/course/manage/update/course-update.component.html
  src/main/webapp/app/core/course/manage/update/course-update.component.scss
  src/main/webapp/app/core/course/manage/update/course-update.component.spec.ts
  src/main/webapp/app/core/course/manage/update/course-update.component.ts
  src/main/webapp/app/core/course/overview/course-card-header/course-card-header.component.html
  src/main/webapp/app/core/course/overview/course-card-header/course-card-header.component.scss
  src/main/webapp/app/core/course/overview/course-card-header/course-card-header.component.ts
  src/main/webapp/app/core/course/overview/course-card/course-card.component.ts
  src/main/webapp/app/core/course/overview/course-card/course-card.scss
  src/main/webapp/app/core/course/overview/course-overview/course-overview.component.spec.ts
  src/main/webapp/app/core/course/shared/course-base-container/course-base-container.component.ts
  src/main/webapp/app/core/course/shared/course-sidebar/course-sidebar.component.html
  src/main/webapp/app/core/course/shared/course-sidebar/course-sidebar.component.scss
  src/main/webapp/app/core/course/shared/course-sidebar/course-sidebar.component.spec.ts
  src/main/webapp/app/core/course/shared/course-sidebar/course-sidebar.component.ts
  src/main/webapp/app/core/user/settings/account-information/account-information.component.html
  src/main/webapp/app/core/user/settings/account-information/account-information.component.ts
  src/main/webapp/app/exam/overview/exercises/quiz/quiz-exam-submission.component.spec.ts
  src/main/webapp/app/lti/manage/lti-course-card/lti-course-card.component.html
  src/main/webapp/app/lti/manage/lti-course-card/lti-course-card.component.ts
  src/main/webapp/app/programming/shared/instructions-render/services/programming-exercise-plant-uml.service.spec.ts
  src/main/webapp/app/programming/shared/instructions-render/services/programming-exercise-plant-uml.service.ts
  src/main/webapp/app/quiz/manage/drag-and-drop-question/drag-and-drop-question-edit.component.html
  src/main/webapp/app/quiz/manage/drag-and-drop-question/drag-and-drop-question-edit.component.ts
  src/main/webapp/app/quiz/manage/statistics/drag-and-drop-question-statistic/drag-and-drop-question-statistic.component.html
  src/main/webapp/app/quiz/manage/statistics/drag-and-drop-question-statistic/drag-and-drop-question-statistic.component.scss
  src/main/webapp/app/quiz/manage/statistics/drag-and-drop-question-statistic/drag-and-drop-question-statistic.component.ts
  src/main/webapp/app/quiz/overview/course-training-quiz/course-training-quiz.component.spec.ts
  src/main/webapp/app/quiz/shared/questions/drag-and-drop-question/drag-and-drop-question.component.html
  src/main/webapp/app/quiz/shared/questions/drag-and-drop-question/drag-and-drop-question.component.scss
  src/main/webapp/app/quiz/shared/questions/drag-and-drop-question/drag-and-drop-question.component.spec.ts
  src/main/webapp/app/quiz/shared/questions/drag-and-drop-question/drag-and-drop-question.component.ts
  src/main/webapp/app/quiz/shared/questions/drag-and-drop-question/drag-item/drag-item.component.html
  src/main/webapp/app/quiz/shared/questions/drag-and-drop-question/drag-item/drag-item.component.ts
  src/main/webapp/app/shared/components/buttons/course-exam-archive-button/course-exam-archive-button.component.spec.ts
  src/main/webapp/app/shared/image/cacheable-image.service.ts
  src/main/webapp/app/shared/image/image.component.spec.ts
  src/main/webapp/app/shared/image/image.component.ts
  src/main/webapp/app/shared/image/secured-image.component.spec.ts
  src/main/webapp/app/shared/image/secured-image.component.ts
  src/main/webapp/app/shared/image/session-storage-strategy.ts
  src/test/javascript/spec/helpers/mocks/service/mock-cacheable-image.service.ts
Labels: tests, ready for review, server, client, communication, core, exam, lti, programming, quiz

#11266 `Development`: Add mobile version of calendar
  src/main/webapp/app/core/calendar/calendar-overview/calendar-overview.component.html
  src/main/webapp/app/core/calendar/calendar-overview/calendar-overview.component.scss
  src/main/webapp/app/core/calendar/calendar-overview/calendar-overview.component.spec.ts
  src/main/webapp/app/core/calendar/calendar-overview/calendar-overview.component.ts
  src/main/webapp/app/core/calendar/desktop/month-presentation/calendar-desktop-month-presentation.component.html
  src/main/webapp/app/core/calendar/desktop/month-presentation/calendar-desktop-month-presentation.component.scss
  src/main/webapp/app/core/calendar/desktop/month-presentation/calendar-desktop-month-presentation.component.spec.ts
  src/main/webapp/app/core/calendar/desktop/month-presentation/calendar-desktop-month-presentation.component.ts
  src/main/webapp/app/core/calendar/desktop/overview/calendar-desktop-overview.component.html
  src/main/webapp/app/core/calendar/desktop/overview/calendar-desktop-overview.component.scss
  src/main/webapp/app/core/calendar/desktop/overview/calendar-desktop-overview.component.spec.ts
  src/main/webapp/app/core/calendar/desktop/overview/calendar-desktop-overview.component.ts
  src/main/webapp/app/core/calendar/desktop/week-presentation/calendar-desktop-week-presentation.component.html
  src/main/webapp/app/core/calendar/desktop/week-presentation/calendar-desktop-week-presentation.component.scss
  src/main/webapp/app/core/calendar/desktop/week-presentation/calendar-desktop-week-presentation.component.spec.ts
  src/main/webapp/app/core/calendar/desktop/week-presentation/calendar-desktop-week-presentation.component.ts
  src/main/webapp/app/core/calendar/mobile/day-presentation/calendar-mobile-day-presentation.component.html
  src/main/webapp/app/core/calendar/mobile/day-presentation/calendar-mobile-day-presentation.component.scss
  src/main/webapp/app/core/calendar/mobile/day-presentation/calendar-mobile-day-presentation.component.spec.ts
  src/main/webapp/app/core/calendar/mobile/day-presentation/calendar-mobile-day-presentation.component.ts
  src/main/webapp/app/core/calendar/mobile/month-presentation/calendar-mobile-month-presentation.component.html
  src/main/webapp/app/core/calendar/mobile/month-presentation/calendar-mobile-month-presentation.component.scss
  src/main/webapp/app/core/calendar/mobile/month-presentation/calendar-mobile-month-presentation.component.spec.ts
  src/main/webapp/app/core/calendar/mobile/month-presentation/calendar-mobile-month-presentation.component.ts
  src/main/webapp/app/core/calendar/mobile/overview/calendar-mobile-overview.html
  src/main/webapp/app/core/calendar/mobile/overview/calendar-mobile-overview.scss
  src/main/webapp/app/core/calendar/mobile/overview/calendar-mobile-overview.spec.ts
  src/main/webapp/app/core/calendar/mobile/overview/calendar-mobile-overview.ts
  src/main/webapp/app/core/calendar/overview/calendar-week-presentation/calendar-week-presentation.component.html
  src/main/webapp/app/core/calendar/overview/calendar-week-presentation/calendar-week-presentation.component.scss
  src/main/webapp/app/core/calendar/shared/calendar-day-badge/calendar-day-badge.component.html
  src/main/webapp/app/core/calendar/shared/calendar-day-badge/calendar-day-badge.component.scss
  src/main/webapp/app/core/calendar/shared/calendar-day-badge/calendar-day-badge.component.spec.ts
  src/main/webapp/app/core/calendar/shared/calendar-day-badge/calendar-day-badge.component.ts
  src/main/webapp/app/core/calendar/shared/calendar-event-filter/calendar-event-filter.component.html
  src/main/webapp/app/core/calendar/shared/calendar-event-filter/calendar-event-filter.component.scss
  src/main/webapp/app/core/calendar/shared/calendar-event-filter/calendar-event-filter.component.spec.ts
  src/main/webapp/app/core/calendar/shared/calendar-event-filter/calendar-event-filter.component.ts
  src/main/webapp/app/core/calendar/shared/calendar-events-per-day-section/calendar-events-per-day-section.component.html
  src/main/webapp/app/core/calendar/shared/calendar-events-per-day-section/calendar-events-per-day-section.component.scss
  src/main/webapp/app/core/calendar/shared/calendar-events-per-day-section/calendar-events-per-day-section.component.spec.ts
  src/main/webapp/app/core/calendar/shared/calendar-events-per-day-section/calendar-events-per-day-section.component.ts
  src/main/webapp/app/core/calendar/shared/entities/calendar-event-and-position.model.ts
  src/main/webapp/app/core/calendar/shared/util/calendar-util.ts
  src/main/webapp/app/core/course/overview/courses.route.ts
  src/main/webapp/content/scss/themes/_dark-variables.scss
  src/main/webapp/content/scss/themes/_default-variables.scss
Labels: client, ready to merge, core

#11291 `Development`: Disable Hazelcast phone home
  src/main/java/de/tum/cit/aet/artemis/core/config/CacheConfiguration.java
Labels: enhancement, server, small, ready to merge, core

#11325 `Development`: Fix flaky course score calculation test
  src/test/java/de/tum/cit/aet/artemis/assessment/service/CourseScoreCalculationServiceTest.java
Labels: tests, ready for review, ready to merge, assessment

#11302 `Development`: Fix percentiles histogram metrics
  src/main/resources/config/application.yml
Labels: ready for review, config-change, bugfix, ready to merge

#11276 `Development`: Add scheduled asynchronous build job result processing
  src/main/java/de/tum/cit/aet/artemis/programming/service/localci/LocalCIEventListenerService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/localci/LocalCIResultProcessingService.java
  src/main/resources/config/application-localci.yml
Labels: server, config-change, ready to merge, programming

#11268 `Communication`: Add tutor suggestions to documentation
  docs/user/communication.rst
  docs/user/communication/iris-chat-view.png
  docs/user/communication/tutor-suggestions-history.png
  docs/user/communication/tutor-suggestions-view.png
Labels: documentation, ready to merge

#11275 `Integrated code lifecycle`: Clean up processing jobs of disconnected nodes
  src/main/java/de/tum/cit/aet/artemis/buildagent/service/SharedQueueProcessingService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/localci/DistributedDataAccessService.java
Labels: server, ready to merge, assessment, programming
