Repository ls1intum/Artemis, pull requests merged in 2025-04, with the labels that each got.

#10619 `Development`: Introduce iris module API
  gradle/jacoco.gradle
  src/main/java/de/tum/cit/aet/artemis/atlas/service/competency/CompetencyJolService.java
  src/main/java/de/tum/cit/aet/artemis/atlas/web/CourseCompetencyResource.java
  src/main/java/de/tum/cit/aet/artemis/communication/service/FaqService.java
  src/main/java/de/tum/cit/aet/artemis/core/service/CourseService.java
  src/main/java/de/tum/cit/aet/artemis/exercise/service/ExerciseDeletionService.java
  src/main/java/de/tum/cit/aet/artemis/exercise/web/ExerciseResource.java
  src/main/java/de/tum/cit/aet/artemis/iris/api/AbstractIrisApi.java
  src/main/java/de/tum/cit/aet/artemis/iris/api/IrisCompetencyApi.java
  src/main/java/de/tum/cit/aet/artemis/iris/api/IrisLectureApi.java
  src/main/java/de/tum/cit/aet/artemis/iris/api/IrisSettingsApi.java
  src/main/java/de/tum/cit/aet/artemis/iris/api/PyrisEventApi.java
  src/main/java/de/tum/cit/aet/artemis/iris/api/PyrisFaqApi.java
  src/main/java/de/tum/cit/aet/artemis/lecture/service/AttachmentUnitService.java
  src/main/java/de/tum/cit/aet/artemis/lecture/service/LectureService.java
  src/main/java/de/tum/cit/aet/artemis/lecture/service/LectureUnitImportService.java
  src/main/java/de/tum/cit/aet/artemis/lecture/service/LectureUnitService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/ProgrammingExerciseService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/ProgrammingMessagingService.java
  src/main/java/de/tum/cit/aet/artemis/text/web/TextExerciseResource.java
  src/test/java/de/tum/cit/aet/artemis/iris/architecture/IrisApiArchitectureTest.java
Labels: tests, server, atlas, communication, core, exercise, iris, lecture, programming, text

#10605 `Development`: Fix e2e ssh failures by routing via docker compose nginx
  .ci/E2E-tests/execute.sh
Labels: ready for review, small

#10550 `Development`: Enable server tests related to LocalVC and LocalCI
  src/main/java/de/tum/cit/aet/artemis/core/config/CacheConfiguration.java
  src/test/java/de/tum/cit/aet/artemis/buildagent/service/BuildAgentSshAuthenticationIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/CourseLocalVcJenkinsIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/shared/base/AbstractSpringIntegrationLocalCILocalVCTest.java
Labels: tests, ready for review, server, ready to merge, buildagent, core, programming

#10582 `Development`: Update communication feature availability list in user documentation
  docs/user/communication.rst
Labels: documentation, ready to merge

#10595 `Development`: Use new url for Artemis instance at KIT
  README.md
Labels: ready to merge

#10609 `Programming exercises`: Fix resetting and editing practice repository
  src/main/java/de/tum/cit/aet/artemis/exercise/service/ParticipationAuthorizationCheckService.java
  src/main/webapp/app/core/course/overview/exercise-details/reset-repo-button/reset-repo-button.component.html
  src/main/webapp/app/core/course/overview/exercise-details/reset-repo-button/reset-repo-button.component.ts
Labels: ready for review, server, client, ready to merge, core, exercise

#10630 `Development`: Fix name of module API not present exception
  src/main/java/de/tum/cit/aet/artemis/atlas/service/LearningObjectImportService.java
  src/main/java/de/tum/cit/aet/artemis/core/web/FileResource.java
Labels: server, atlas, core

#10631 `Development`: Move non-exercise related file upload functionality to core module
  gradle/jacoco.gradle
  src/main/java/de/tum/cit/aet/artemis/core/domain/FilePathInformation.java
  src/main/java/de/tum/cit/aet/artemis/core/domain/FileUpload.java
  src/main/java/de/tum/cit/aet/artemis/core/domain/FileUploadEntityType.java
  src/main/java/de/tum/cit/aet/artemis/core/repository/FileUploadRepository.java
  src/main/java/de/tum/cit/aet/artemis/core/service/FileService.java
  src/main/java/de/tum/cit/aet/artemis/core/service/file/FileUploadScheduleService.java
  src/main/java/de/tum/cit/aet/artemis/core/service/file/FileUploadService.java
  src/main/java/de/tum/cit/aet/artemis/core/web/FileResource.java
  src/main/java/de/tum/cit/aet/artemis/fileupload/api/FileUploadApi.java
  src/test/java/de/tum/cit/aet/artemis/core/service/FileUploadScheduleServiceTest.java
  src/test/java/de/tum/cit/aet/artemis/core/service/FileUploadServiceTest.java
  src/test/java/de/tum/cit/aet/artemis/fileupload/api/FileUploadApiTest.java
Labels: tests, server, core, fileupload

#10622 `Development`: Fix markdown and conversation file upload
  src/main/java/de/tum/cit/aet/artemis/core/web/FileResource.java
  src/test/java/de/tum/cit/aet/artemis/core/FileIntegrationTest.java
Labels: tests, server, bugfix, ready to merge, core

#10330 `Adaptive learning`: Add repeated tests to learning paths
  src/main/java/de/tum/cit/aet/artemis/atlas/dto/LearningPathNavigationObjectDTO.java
  src/main/java/de/tum/cit/aet/artemis/atlas/service/learningpath/LearningPathNavigationService.java
  src/main/java/de/tum/cit/aet/artemis/atlas/service/learningpath/LearningPathRecommendationService.java
  src/main/java/de/tum/cit/aet/artemis/atlas/web/LearningPathResource.java
  src/main/java/de/tum/cit/aet/artemis/lecture/service/LearningObjectService.java
  src/main/webapp/app/atlas/overview/learning-path-student-nav/learning-path-student-nav.component.html
  src/main/webapp/app/atlas/overview/learning-path-student-nav/learning-path-student-nav.component.ts
  src/main/webapp/app/atlas/shared/entities/learning-path.model.ts
  src/main/webapp/i18n/de/learningPath.json
  src/main/webapp/i18n/en/learningPath.json
  src/test/java/de/tum/cit/aet/artemis/atlas/learningpath/LearningPathIntegrationTest.java
  src/test/javascript/spec/component/learning-paths/components/learning-path-nav.component.spec.ts
Labels: tests, server, client, atlas, lecture

#10632 `Development`: Disable atlas module for AbstractSpringIntegrationLocalVcSamlTest
  gradle/jacoco.gradle
  src/test/java/de/tum/cit/aet/artemis/atlas/competency/util/CompetencyProgressUtilService.java
  src/test/java/de/tum/cit/aet/artemis/atlas/competency/util/CompetencyUtilService.java
  src/test/java/de/tum/cit/aet/artemis/atlas/competency/util/PrerequisiteUtilService.java
  src/test/java/de/tum/cit/aet/artemis/atlas/competency/util/StandardizedCompetencyUtilService.java
  src/test/java/de/tum/cit/aet/artemis/atlas/learningpath/util/LearningPathUtilService.java
  src/test/java/de/tum/cit/aet/artemis/core/config/modules/ArtemisConfigHelperTest.java
  src/test/java/de/tum/cit/aet/artemis/core/config/modules/AtlasModuleDisabledIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/core/util/CourseTestService.java
  src/test/java/de/tum/cit/aet/artemis/core/util/CourseUtilService.java
  src/test/java/de/tum/cit/aet/artemis/shared/base/AbstractArtemisIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/shared/base/AbstractSpringIntegrationIndependentTest.java
  src/test/java/de/tum/cit/aet/artemis/shared/base/AbstractSpringIntegrationLocalCILocalVCTest.java
  src/test/java/de/tum/cit/aet/artemis/shared/base/AbstractSpringIntegrationLocalVcSamlTest.java
Labels: tests, atlas, core

#10616 `Development`: Introduce lti module API
  src/main/java/de/tum/cit/aet/artemis/assessment/service/AssessmentService.java
  src/main/java/de/tum/cit/aet/artemis/assessment/service/ResultService.java
  src/main/java/de/tum/cit/aet/artemis/core/web/CourseResource.java
  src/main/java/de/tum/cit/aet/artemis/core/web/UserResource.java
  src/main/java/de/tum/cit/aet/artemis/core/web/admin/AdminCourseResource.java
  src/main/java/de/tum/cit/aet/artemis/exercise/service/ExerciseService.java
  src/main/java/de/tum/cit/aet/artemis/lti/api/AbstractLtiApi.java
  src/main/java/de/tum/cit/aet/artemis/lti/api/LtiApi.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/ProgrammingAssessmentService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/ProgrammingMessagingService.java
  src/main/java/de/tum/cit/aet/artemis/quiz/service/QuizStatisticService.java
  src/main/java/de/tum/cit/aet/artemis/text/service/TextAssessmentService.java
  src/test/java/de/tum/cit/aet/artemis/lti/architecture/LtiApiArchitectureTest.java
  src/test/java/de/tum/cit/aet/artemis/shared/architecture/ArchitectureTest.java
Labels: tests, ready for review, server, assessment, core, exercise, lti, programming, quiz, text

#10607 `Tutorial groups`: Fix tutorial group buttons display strings twice
  src/main/webapp/app/tutorialgroup/manage/tutorial-groups/tutorial-groups-management/tutorial-group-row-buttons/tutorial-group-row-buttons.component.html
Labels: client, ready to merge, tutorialgroup

#10625 `Development`: Improve result resource
  src/main/java/de/tum/cit/aet/artemis/assessment/service/ResultService.java
  src/main/java/de/tum/cit/aet/artemis/core/config/Constants.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/session/IrisLectureChatSessionService.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/session/IrisTextExerciseChatSessionService.java
  src/main/java/de/tum/cit/aet/artemis/iris/web/IrisTextExerciseChatSessionResource.java
  src/main/java/de/tum/cit/aet/artemis/iris/web/IrisVariantsResource.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/ProgrammingExerciseParticipationService.java
  src/main/java/de/tum/cit/aet/artemis/programming/web/localci/BuildPlanResource.java
  src/main/java/de/tum/cit/aet/artemis/programming/web/open/PublicBuildPlanResource.java
  src/main/java/de/tum/cit/aet/artemis/programming/web/open/PublicProgrammingExerciseResultResource.java
  src/main/java/de/tum/cit/aet/artemis/programming/web/open/PublicProgrammingSubmissionResource.java
  src/test/java/de/tum/cit/aet/artemis/programming/ProgrammingSubmissionAndResultLocalVcJenkinsIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/util/ProgrammingExerciseResultTestService.java
  src/test/java/de/tum/cit/aet/artemis/shared/base/AbstractSpringIntegrationJenkinsLocalVcTest.java
  supporting_scripts/jenkins_path_migration/migrate_api_paths.sh
Labels: tests, server, assessment, core, iris, programming

#10580 `Programming exercises`: Add documentation for testing frameworks and SCA tools
  docs/user/exercises/programming-exercise-features.inc
  docs/user/exercises/programming-exercise-setup.inc
Labels: documentation, ready to merge

#10627 `Development`: Adapt staging deployment to use Ansible
  .github/workflows/staging-deployment.yml
Labels: ready for review

#10614 `Development`: Fix iris settings not found in communication when the profile is not active
  src/main/webapp/app/core/layouts/profiles/shared/profile.service.ts
  src/main/webapp/app/shared/metis/redirect-to-iris-button/redirect-to-iris-button.component.ts
  src/test/javascript/spec/component/shared/metis/redirect-to-iris-button/redirect-to-iris-button.component.spec.ts
  src/test/javascript/spec/service/profile.service.spec.ts
Labels: tests, ready for review, client, ready to merge, core

#10635 `Development`: Fix database selection for system-specific database migrations
  src/main/resources/config/liquibase/changelog/20250329091700_changelog.xml
  src/main/resources/config/liquibase/changelog/20250329095200_changelog.xml
  src/main/resources/config/liquibase/changelog/20250330140400_changelog.xml
Labels: ready for review, database, small, bugfix

#10647 `Development`: Fix liquibase configuration
  gradle/liquibase.gradle
Labels: ready for review

#10487 `Iris`: Add lecture transcription storage
  gradle/jacoco.gradle
  src/main/java/de/tum/cit/aet/artemis/iris/api/IrisLectureApi.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/pyris/PyrisConnectorService.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/pyris/PyrisJobService.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/pyris/PyrisWebhookService.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/pyris/dto/transcriptionIngestion/PyrisTranscriptionIngestionWebhookDTO.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/pyris/dto/transcriptionIngestion/PyrisWebhookTranscriptionDeletionExecutionDTO.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/pyris/dto/transcriptionIngestion/PyrisWebhookTranscriptionIngestionExecutionDTO.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/pyris/job/TranscriptionIngestionWebhookJob.java
  src/main/java/de/tum/cit/aet/artemis/lecture/domain/LectureTranscription.java
  src/main/java/de/tum/cit/aet/artemis/lecture/domain/LectureTranscriptionSegment.java
  src/main/java/de/tum/cit/aet/artemis/lecture/domain/LectureTranscriptionSegmentConverter.java
  src/main/java/de/tum/cit/aet/artemis/lecture/domain/LectureUnit.java
  src/main/java/de/tum/cit/aet/artemis/lecture/dto/LectureTranscriptionDTO.java
  src/main/java/de/tum/cit/aet/artemis/lecture/repository/LectureTranscriptionRepository.java
  src/main/java/de/tum/cit/aet/artemis/lecture/service/LectureService.java
  src/main/java/de/tum/cit/aet/artemis/lecture/web/LectureTranscriptionResource.java
  src/main/resources/config/liquibase/changelog/20250113154600_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/admin/lecture-transcription-ingestion/lecture-transcription-ingestion.component.html
  src/main/webapp/app/admin/lecture-transcription-ingestion/lecture-transcription-ingestion.component.scss
  src/main/webapp/app/admin/lecture-transcription-ingestion/lecture-transcription-ingestion.component.ts
  src/main/webapp/app/admin/lecture-transcription-ingestion/lecture-transcription.service.ts
  src/main/webapp/app/core/admin/admin.routes.ts
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/de/iris.json
  src/main/webapp/i18n/en/global.json
  src/main/webapp/i18n/en/iris.json
  src/test/java/de/tum/cit/aet/artemis/core/connector/IrisRequestMockProvider.java
  src/test/java/de/tum/cit/aet/artemis/iris/PyrisLectureTranscriptionIngestionTest.java
  src/test/java/de/tum/cit/aet/artemis/lecture/AttachmentResourceIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/lecture/LectureTranscriptionIntegrationTest.java
  src/test/javascript/spec/component/admin/lecture-transcription-ingestion/lecture-transcription-ingestion.component.spec.ts
  src/test/javascript/spec/component/admin/lecture-transcription-ingestion/lecture-transcription.service.spec.ts
  supporting_scripts/lecture-transcription/.gitignore
  supporting_scripts/lecture-transcription/README.md
  supporting_scripts/lecture-transcription/main.py
  supporting_scripts/lecture-transcription/requirements.txt
Labels: tests, server, client, database, ready to merge, core, iris, lecture

#10637 `Development`: Fix handling of enum attributes when using PostgreSQL databases
  src/main/resources/config/liquibase/changelog/20250329091700_changelog.xml
  src/main/resources/config/liquibase/changelog/20250329095200_changelog.xml
  src/main/resources/config/liquibase/changelog/20250330140400_changelog.xml
Labels: small, bugfix

#10583 `Communication`: Adapt communication search bar to reflect search targets
  src/main/webapp/i18n/de/metis.json
  src/main/webapp/i18n/en/metis.json
Labels: client, small, ready to merge, communication

#10479 `Exam mode`: Fix build plan editor for programming exercises
  src/main/webapp/app/exam/manage/exam-management.route.ts
Labels: client, small, bugfix, ready to merge, exam

#10594 `Communication`: Show search result in answers indicator
  src/main/webapp/app/communication/course-conversations-components/course-wide-search/course-wide-search.component.html
  src/main/webapp/app/communication/post/post.component.html
  src/main/webapp/app/communication/post/post.component.spec.ts
  src/main/webapp/app/communication/post/post.component.ts
  src/main/webapp/app/communication/posting-reactions-bar/posting-reactions-bar.component.html
  src/main/webapp/app/communication/posting-reactions-bar/posting-reactions-bar.component.scss
  src/main/webapp/app/communication/posting-reactions-bar/posting-reactions-bar.component.ts
  src/main/webapp/app/communication/posting-thread/posting-thread.component.html
  src/main/webapp/app/communication/posting-thread/posting-thread.component.ts
  src/main/webapp/app/communication/shared/course-conversations/course-conversations.component.html
  src/main/webapp/i18n/de/metis.json
  src/main/webapp/i18n/en/metis.json
Labels: client, ready to merge, communication

#10601 `Development`: Refactor REST endpoint for conversation messages
  src/main/java/de/tum/cit/aet/artemis/communication/dto/PostContextFilterDTO.java
  src/main/java/de/tum/cit/aet/artemis/communication/repository/ConversationMessageRepository.java
  src/main/java/de/tum/cit/aet/artemis/communication/repository/ConversationParticipantRepository.java
  src/main/java/de/tum/cit/aet/artemis/communication/repository/MessageSpecs.java
  src/main/java/de/tum/cit/aet/artemis/communication/service/ConversationMessagingService.java
  src/main/java/de/tum/cit/aet/artemis/communication/web/ConversationMessageResource.java
  src/main/webapp/app/communication/course-conversations-components/course-wide-search/course-wide-search.component.spec.ts
  src/main/webapp/app/communication/course-conversations-components/course-wide-search/course-wide-search.component.ts
  src/main/webapp/app/communication/course-conversations-components/layout/conversation-messages/conversation-messages.component.ts
  src/main/webapp/app/communication/metis.util.ts
  src/main/webapp/app/communication/service/metis.service.spec.ts
  src/main/webapp/app/communication/service/metis.service.ts
  src/main/webapp/app/communication/service/post.service.spec.ts
  src/main/webapp/app/communication/service/post.service.ts
  src/main/webapp/app/communication/shared/course-conversations/course-conversations.component.ts
  src/main/webapp/app/communication/shared/discussion-section/discussion-section.component.spec.ts
  src/main/webapp/app/communication/shared/discussion-section/discussion-section.component.ts
  src/test/java/de/tum/cit/aet/artemis/communication/AbstractConversationTest.java
  src/test/java/de/tum/cit/aet/artemis/communication/AnswerMessageIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/communication/MessageIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/communication/ReactionIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/plagiarism/PlagiarismPostIntegrationTest.java
  src/test/javascript/spec/helpers/mocks/service/mock-post.service.ts
Labels: tests, server, client, ready to merge, communication, plagiarism

#10621 `Communication`: Set default URL action to avoid invisible links
  src/main/webapp/app/shared/monaco-editor/model/actions/url.action.ts
Labels: ready for review, client, ready to merge

#10613 `Communication`: Properly load channels containing deleted forwarded posts
  src/main/webapp/app/communication/service/metis.service.spec.ts
  src/main/webapp/app/communication/service/metis.service.ts
Labels: ready for review, client, ready to merge, communication

#10657 `General`: Improve course management header
  src/main/webapp/app/core/course/manage/course-management-container/course-management-container.component.html
  src/main/webapp/app/core/course/manage/course-management-container/course-management-container.component.spec.ts
  src/main/webapp/app/core/course/manage/course-management-container/course-management-container.component.ts
  src/main/webapp/app/core/course/manage/course-management.route.ts
  src/main/webapp/app/core/course/shared/course-sidebar/course-sidebar.component.html
  src/main/webapp/app/core/course/shared/course-sidebar/course-sidebar.component.scss
  src/main/webapp/app/core/course/shared/course-sidebar/course-sidebar.component.ts
  src/main/webapp/app/core/course/shared/services/sidebar-item.service.spec.ts
  src/main/webapp/app/core/course/shared/services/sidebar-item.service.ts
  src/test/playwright/e2e/course/CourseManagement.spec.ts
  src/test/playwright/support/pageobjects/course/CourseManagementPage.ts
  supporting_scripts/playwright/setupUsers.sh
Labels: tests, client, ready to merge, playwright, core

#10576 `General`: Support lti learning activities for multiple exercises
  src/main/java/de/tum/cit/aet/artemis/lti/service/DeepLinkingType.java
  src/main/java/de/tum/cit/aet/artemis/lti/service/LtiDeepLinkingService.java
  src/main/java/de/tum/cit/aet/artemis/lti/web/LtiResource.java
  src/main/webapp/app/core/course/overview/course-exercises/course-exercises.component.html
  src/main/webapp/app/core/course/overview/course-exercises/course-exercises.component.spec.ts
  src/main/webapp/app/core/course/overview/course-exercises/course-exercises.component.ts
  src/main/webapp/app/lti/manage/lti13-deep-linking/lti.constants.ts
  src/main/webapp/app/lti/manage/lti13-deep-linking/lti13-deep-linking-component.scss
  src/main/webapp/app/lti/manage/lti13-deep-linking/lti13-deep-linking.component.html
  src/main/webapp/app/lti/manage/lti13-deep-linking/lti13-deep-linking.component.ts
  src/main/webapp/app/lti/overview/lti13-exercise-launch/lti13-exercise-launch.component.spec.ts
  src/main/webapp/app/lti/overview/lti13-exercise-launch/lti13-exercise-launch.component.ts
  src/main/webapp/app/shared/service/lti.service.ts
  src/main/webapp/i18n/de/lti.json
  src/main/webapp/i18n/en/lti.json
  src/test/java/de/tum/cit/aet/artemis/lti/service/LtiDeepLinkingServiceTest.java
Labels: tests, ready for review, server, client, core, lti

#10569 `Assessment`: Fix broken csv generation when exporting names in exercise scores section
  src/main/webapp/app/exercise/exercise-scores/exercise-scores.component.spec.ts
  src/main/webapp/app/exercise/exercise-scores/exercise-scores.component.ts
Labels: client, small, bugfix, ready to merge, exercise

#10602 `Development`: Update Artemis setup guide
  docs/dev/setup.rst
  docs/dev/setup/client.rst
  docs/dev/setup/database.rst
  docs/dev/setup/integrated-code-lifecycle.rst
  docs/dev/setup/server.rst
  src/main/resources/config/application-buildagent.yml
  src/main/resources/config/application-localci.yml
Labels: ready for review, documentation, config-change, ready to merge

#10643 `Development`: Document areas covered by e2e tests
  docs/dev/playwright.rst
Labels: documentation, ready to merge

#10524 `Development`: Optimize GitHub Actions by ignoring non-relevant file changes
  .github/workflows/build.yml
  .github/workflows/test.yml
  src/main/java/de/tum/cit/aet/artemis/ArtemisApp.java
Labels: server, small

#10638 `Development`: Allow disabling plagiarism module in server and client
  src/main/java/de/tum/cit/aet/artemis/core/config/ArtemisConfigHelper.java
  src/main/java/de/tum/cit/aet/artemis/core/config/Constants.java
  src/main/java/de/tum/cit/aet/artemis/core/config/ModuleFeatureInfoContributor.java
  src/main/java/de/tum/cit/aet/artemis/plagiarism/api/PlagiarismApi.java
  src/main/java/de/tum/cit/aet/artemis/plagiarism/api/PlagiarismCaseApi.java
  src/main/java/de/tum/cit/aet/artemis/plagiarism/api/PlagiarismDetectionApi.java
  src/main/java/de/tum/cit/aet/artemis/plagiarism/api/PlagiarismPostApi.java
  src/main/java/de/tum/cit/aet/artemis/plagiarism/api/PlagiarismResultApi.java
  src/main/java/de/tum/cit/aet/artemis/plagiarism/config/PlagiarismEnabled.java
  src/main/java/de/tum/cit/aet/artemis/plagiarism/exception/PlagiarismApiNotPresentException.java
  src/main/java/de/tum/cit/aet/artemis/plagiarism/repository/PlagiarismCaseRepository.java
  src/main/java/de/tum/cit/aet/artemis/plagiarism/repository/PlagiarismComparisonRepository.java
  src/main/java/de/tum/cit/aet/artemis/plagiarism/repository/PlagiarismResultRepository.java
  src/main/java/de/tum/cit/aet/artemis/plagiarism/repository/PlagiarismSubmissionRepository.java
  src/main/java/de/tum/cit/aet/artemis/plagiarism/service/ContinuousPlagiarismControlService.java
  src/main/java/de/tum/cit/aet/artemis/plagiarism/service/PlagiarismAnswerPostService.java
  src/main/java/de/tum/cit/aet/artemis/plagiarism/service/PlagiarismCaseService.java
  src/main/java/de/tum/cit/aet/artemis/plagiarism/service/PlagiarismDetectionService.java
  src/main/java/de/tum/cit/aet/artemis/plagiarism/service/PlagiarismPostService.java
  src/main/java/de/tum/cit/aet/artemis/plagiarism/service/PlagiarismService.java
  src/main/java/de/tum/cit/aet/artemis/plagiarism/service/PlagiarismWebsocketService.java
  src/main/java/de/tum/cit/aet/artemis/plagiarism/service/ProgrammingPlagiarismDetectionService.java
  src/main/java/de/tum/cit/aet/artemis/plagiarism/service/TextPlagiarismDetectionService.java
  src/main/java/de/tum/cit/aet/artemis/plagiarism/service/cache/PlagiarismCacheService.java
  src/main/java/de/tum/cit/aet/artemis/plagiarism/web/PlagiarismAnswerPostResource.java
  src/main/java/de/tum/cit/aet/artemis/plagiarism/web/PlagiarismCaseResource.java
  src/main/java/de/tum/cit/aet/artemis/plagiarism/web/PlagiarismPostResource.java
  src/main/java/de/tum/cit/aet/artemis/plagiarism/web/PlagiarismResource.java
  src/main/resources/config/application-buildagent.yml
  src/main/resources/config/application-core.yml
  src/main/webapp/app/app.constants.ts
  src/main/webapp/app/assessment/shared/assessment-dashboard/assessment-dashboard.component.html
  src/main/webapp/app/assessment/shared/assessment-dashboard/assessment-dashboard.component.ts
  src/main/webapp/app/core/course/manage/course-scores/course-scores.component.spec.ts
  src/main/webapp/app/core/course/manage/course-scores/course-scores.component.ts
  src/main/webapp/app/exam/manage/exams/detail/exam-detail.component.html
  src/main/webapp/app/exam/manage/exams/detail/exam-detail.component.spec.ts
  src/main/webapp/app/exam/manage/exams/detail/exam-detail.component.ts
  src/main/webapp/app/exercise/exercise-detail-common-actions/non-programming-exercise-detail-common-actions.component.html
  src/main/webapp/app/exercise/exercise-detail-common-actions/non-programming-exercise-detail-common-actions.component.ts
  src/main/webapp/app/programming/manage/detail/programming-exercise-detail.component.html
  src/main/webapp/app/programming/manage/detail/programming-exercise-detail.component.spec.ts
  src/main/webapp/app/programming/manage/detail/programming-exercise-detail.component.ts
  src/main/webapp/app/programming/manage/update/programming-exercise-update.component.html
  src/main/webapp/app/programming/manage/update/programming-exercise-update.component.ts
  src/main/webapp/app/shared/components/feature-overlay/feature-overlay.component.ts
  src/main/webapp/app/text/manage/text-exercise/update/text-exercise-update.component.html
  src/main/webapp/app/text/manage/text-exercise/update/text-exercise-update.component.spec.ts
  src/main/webapp/app/text/manage/text-exercise/update/text-exercise-update.component.ts
  src/test/java/de/tum/cit/aet/artemis/core/config/ModuleFeatureInfoContributorTest.java
  src/test/java/de/tum/cit/aet/artemis/core/config/modules/ArtemisConfigHelperTest.java
Labels: tests, server, client, config-change, ready to merge, assessment, core, exam, exercise, plagiarism, programming, text

#10658 `Development`: Update compatible app versions
  src/main/resources/config/application.yml
Labels: ready for review, config-change, small, ready to merge

#10686 `Development`: Enable deployments to staging1 and production
  .github/workflows/prod-like-deployment.yml
Labels: ready for review, small, ready to merge

#10685 `Development`: Improve development docker multinode setup documentation
  docker/artemis/config/node1.env
  docs/admin/setup/distributed.rst
Labels: ready for review, documentation, ready to merge, docker

#10683 `General`: Fix missing translations in student view
  src/main/webapp/app/core/course/overview/courses.route.ts
  src/main/webapp/i18n/de/fileUploadExercise.json
  src/main/webapp/i18n/de/modelingExercise.json
  src/main/webapp/i18n/de/programmingExercise.json
  src/main/webapp/i18n/de/textExercise.json
  src/main/webapp/i18n/en/fileUploadExercise.json
  src/main/webapp/i18n/en/modelingExercise.json
  src/main/webapp/i18n/en/programmingExercise.json
  src/main/webapp/i18n/en/quizExercise.json
  src/main/webapp/i18n/en/textExercise.json
Labels: ready for review, client, core

#10660 `Lectures`: Fix broken pdf preview for lecture attachments and attachment units
  .gitignore
  eslint.config.mjs
  package.json
  src/main/webapp/app/lecture/manage/pdf-preview/pdf-preview-thumbnail-grid/pdf-preview-thumbnail-grid.component.spec.ts
  src/main/webapp/app/lecture/manage/pdf-preview/pdf-preview-thumbnail-grid/pdf-preview-thumbnail-grid.component.ts
  src/main/webapp/app/lecture/manage/pdf-preview/pdf-preview.component.spec.ts
  src/main/webapp/app/lecture/manage/pdf-preview/pdf-preview.component.ts
Labels: ready for review, client, small, bugfix, lecture

#10697 `Tutorial groups`: Fix edit holiday modal
  src/main/webapp/app/tutorialgroup/manage/tutorial-free-periods/crud/edit-tutorial-group-free-period/edit-tutorial-group-free-period.component.html
  src/main/webapp/app/tutorialgroup/manage/tutorial-free-periods/crud/edit-tutorial-group-free-period/edit-tutorial-group-free-period.component.ts
  src/main/webapp/app/tutorialgroup/manage/tutorial-free-periods/crud/tutorial-free-period-form/tutorial-group-free-period-form.component.html
  src/main/webapp/app/tutorialgroup/manage/tutorial-free-periods/tutorial-free-periods-management/tutorial-group-free-period-row-buttons/tutorial-group-free-period-row-buttons.component.ts
Labels: ready for review, client, ready to merge, tutorialgroup

#10696 `Tutorial groups`: Fix creation form
  src/main/webapp/app/tutorialgroup/manage/tutorial-groups/crud/tutorial-group-form/tutorial-group-form.component.scss
  src/main/webapp/app/tutorialgroup/manage/tutorial-groups/crud/tutorial-group-form/tutorial-group-form.component.ts
Labels: client, ready to merge, tutorialgroup

#10640 `Development`: Allow disabling exam module in server and client
  src/main/java/de/tum/cit/aet/artemis/core/config/ArtemisConfigHelper.java
  src/main/java/de/tum/cit/aet/artemis/core/config/Constants.java
  src/main/java/de/tum/cit/aet/artemis/core/config/ModuleFeatureInfoContributor.java
  src/main/java/de/tum/cit/aet/artemis/exam/api/ExamAccessApi.java
  src/main/java/de/tum/cit/aet/artemis/exam/api/ExamApi.java
  src/main/java/de/tum/cit/aet/artemis/exam/api/ExamDateApi.java
  src/main/java/de/tum/cit/aet/artemis/exam/api/ExamDeletionApi.java
  src/main/java/de/tum/cit/aet/artemis/exam/api/ExamLiveEventsApi.java
  src/main/java/de/tum/cit/aet/artemis/exam/api/ExamMetricsApi.java
  src/main/java/de/tum/cit/aet/artemis/exam/api/ExamRepositoryApi.java
  src/main/java/de/tum/cit/aet/artemis/exam/api/ExamSubmissionApi.java
  src/main/java/de/tum/cit/aet/artemis/exam/api/ExamUserApi.java
  src/main/java/de/tum/cit/aet/artemis/exam/api/ExerciseGroupApi.java
  src/main/java/de/tum/cit/aet/artemis/exam/api/StudentExamApi.java
  src/main/java/de/tum/cit/aet/artemis/exam/config/ExamApiNotPresentException.java
  src/main/java/de/tum/cit/aet/artemis/exam/config/ExamEnabled.java
  src/main/java/de/tum/cit/aet/artemis/exam/repository/ExamLiveEventRepository.java
  src/main/java/de/tum/cit/aet/artemis/exam/repository/ExamRepository.java
  src/main/java/de/tum/cit/aet/artemis/exam/repository/ExamSessionRepository.java
  src/main/java/de/tum/cit/aet/artemis/exam/repository/ExamUserRepository.java
  src/main/java/de/tum/cit/aet/artemis/exam/repository/ExerciseGroupRepository.java
  src/main/java/de/tum/cit/aet/artemis/exam/repository/StudentExamRepository.java
  src/main/java/de/tum/cit/aet/artemis/exam/service/ExamAccessService.java
  src/main/java/de/tum/cit/aet/artemis/exam/service/ExamDateService.java
  src/main/java/de/tum/cit/aet/artemis/exam/service/ExamDeletionService.java
  src/main/java/de/tum/cit/aet/artemis/exam/service/ExamImportService.java
  src/main/java/de/tum/cit/aet/artemis/exam/service/ExamLiveEventsService.java
  src/main/java/de/tum/cit/aet/artemis/exam/service/ExamQuizService.java
  src/main/java/de/tum/cit/aet/artemis/exam/service/ExamRegistrationService.java
  src/main/java/de/tum/cit/aet/artemis/exam/service/ExamService.java
  src/main/java/de/tum/cit/aet/artemis/exam/service/ExamSessionService.java
  src/main/java/de/tum/cit/aet/artemis/exam/service/ExamSubmissionService.java
  src/main/java/de/tum/cit/aet/artemis/exam/service/ExamUserService.java
  src/main/java/de/tum/cit/aet/artemis/exam/service/StudentExamAccessService.java
  src/main/java/de/tum/cit/aet/artemis/exam/service/StudentExamService.java
  src/main/java/de/tum/cit/aet/artemis/exam/web/ExamResource.java
  src/main/java/de/tum/cit/aet/artemis/exam/web/ExamUserResource.java
  src/main/java/de/tum/cit/aet/artemis/exam/web/ExerciseGroupResource.java
  src/main/java/de/tum/cit/aet/artemis/exam/web/StudentExamResource.java
  src/main/java/de/tum/cit/aet/artemis/exam/web/admin/AdminExamResource.java
  src/main/resources/config/application-buildagent.yml
  src/main/resources/config/application-core.yml
  src/main/webapp/app/app.constants.ts
  src/main/webapp/app/core/course/manage/course-management-tab-bar/course-management-tab-bar.component.html
  src/main/webapp/app/core/course/manage/course-management-tab-bar/course-management-tab-bar.component.ts
  src/main/webapp/app/core/course/manage/overview/course-management-card.component.html
  src/main/webapp/app/core/course/manage/overview/course-management-card.component.ts
  src/main/webapp/app/core/navbar/navbar.component.ts
  src/test/java/de/tum/cit/aet/artemis/core/config/ModuleFeatureInfoContributorTest.java
  src/test/java/de/tum/cit/aet/artemis/core/config/modules/ArtemisConfigHelperTest.java
Labels: tests, server, client, config-change, ready to merge, core, exam

#10700 `Development`: Fix delete test run e2e test
  src/test/playwright/e2e/exam/test-exam/TestExamTestRun.spec.ts
  src/test/playwright/support/pageobjects/exam/ExamTestRunPage.ts
Labels: tests, small, playwright

#10698 `Modeling exercises`: Fix modeling editor overlapping feedback button
  src/main/webapp/app/modeling/manage/assess/modeling-assessment-editor/modeling-assessment-editor.component.html
Labels: ready for review, client, modeling

#10483 `Integrated code lifecycle`: Unify ssh usage config condition for build agents
  src/main/java/de/tum/cit/aet/artemis/buildagent/service/BuildJobGitService.java
  src/main/resources/config/application-localvc.yml
  src/test/java/de/tum/cit/aet/artemis/buildagent/service/BuildJobGitServiceTest.java
Labels: tests, server, config-change, ready to merge, buildagent

#10623 `Development`: Add integration tests for build retry
  src/test/java/de/tum/cit/aet/artemis/buildagent/service/BuildAgentIntegrationTest.java
Labels: tests, ready for review, ready to merge, buildagent

#10702 `Communication`: Fix post paddings
  src/main/webapp/app/communication/posting-footer/posting-footer.component.html
  src/main/webapp/app/communication/posting-footer/posting-footer.component.ts
Labels: client, small, bugfix, communication

#10699 `Development`: Remove legacy notification data model
  src/main/java/de/tum/cit/aet/artemis/communication/domain/notification/Notification.java
  src/main/java/de/tum/cit/aet/artemis/communication/domain/notification/SystemNotification.java
  src/main/java/de/tum/cit/aet/artemis/core/domain/User.java
  src/main/java/de/tum/cit/aet/artemis/core/dto/UserDTO.java
  src/main/java/de/tum/cit/aet/artemis/core/repository/UserRepository.java
  src/main/java/de/tum/cit/aet/artemis/core/service/CourseService.java
  src/main/java/de/tum/cit/aet/artemis/core/service/user/UserService.java
  src/main/java/de/tum/cit/aet/artemis/core/web/UserResource.java
  src/main/java/de/tum/cit/aet/artemis/exercise/domain/Team.java
  src/main/resources/config/liquibase/changelog/20250416233114_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/resources/templates/mail/notification/announcementPostEmail.html
  src/main/resources/templates/mail/notification/attachmentChangedEmail.html
  src/main/resources/templates/mail/notification/dataExportCreatedEmail.html
  src/main/resources/templates/mail/notification/dataExportFailedEmail.html
  src/main/resources/templates/mail/notification/duplicateTestCasesEmail.html
  src/main/resources/templates/mail/notification/exerciseOpenForPracticeEmail.html
  src/main/resources/templates/mail/notification/exerciseReleasedEmail.html
  src/main/resources/templates/mail/notification/exerciseSubmissionAssessedEmail.html
  src/main/resources/templates/mail/notification/fileSubmissionSuccessfulEmail.html
  src/main/resources/templates/mail/notification/plagiarismCaseEmail.html
  src/main/resources/templates/mail/notification/plagiarismCaseReplyEmail.html
  src/main/resources/templates/mail/notification/plagiarismVerdictEmail.html
  src/main/resources/templates/mail/notification/sshKeyAddedEmail.html
  src/main/resources/templates/mail/notification/sshKeyExpiresSoonEmail.html
  src/main/resources/templates/mail/notification/sshKeyHasExpiredEmail.html
  src/main/resources/templates/mail/notification/tutorialGroupBasicEmail.html
  src/main/resources/templates/mail/notification/tutorialGroupDeletedEmail.html
  src/main/resources/templates/mail/notification/tutorialGroupUpdatedEmail.html
  src/main/resources/templates/mail/notification/vcsAccessTokenAddedEmail.html
  src/main/resources/templates/mail/notification/vcsAccessTokenExpiredEmail.html
  src/main/resources/templates/mail/notification/vcsAccessTokenExpiresSoonEmail.html
  src/main/webapp/app/core/user/shared/user.service.spec.ts
  src/main/webapp/app/core/user/shared/user.service.ts
  src/main/webapp/app/core/user/user.model.ts
  src/test/java/de/tum/cit/aet/artemis/core/authentication/UserJenkinsLocalVcIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/core/user/util/UserTestService.java
  src/test/javascript/spec/helpers/mocks/service/mock-user.service.ts
Labels: tests, ready for review, server, client, database, template, communication, core, exercise

#10464 `Iris`: Provide more context to lecture chat pipeline
  src/main/java/de/tum/cit/aet/artemis/iris/service/pyris/dto/chat/lecture/PyrisLectureChatPipelineExecutionDTO.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/session/IrisLectureChatSessionService.java
  src/test/java/de/tum/cit/aet/artemis/iris/PyrisLectureTranscriptionIngestionTest.java
  supporting_scripts/lecture-transcription/.gitignore
Labels: tests, ready for review, server, iris

#10704 `Modeling exercises`: Fix help images not being displayed correctly
  src/main/webapp/app/modeling/shared/modeling-editor/modeling-editor.component.html
Labels: ready for review, client, bugfix, modeling

#10586 `Development`: Report if browser does not support WebAuthn
  src/main/webapp/app/app.component.ts
  src/main/webapp/app/core/sentry/sentry.error-handler.ts
Labels: client, small, core

#10604 `Development`: Enable consistency check server tests
  src/test/java/de/tum/cit/aet/artemis/programming/ConsistencyCheckLocalVcJenkinsIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/service/ConsistencyCheckTestService.java
Labels: tests, ready for review, programming

#10681 `Development`: Fix multi node configuration for slide unhide service
  src/main/java/de/tum/cit/aet/artemis/core/service/messaging/DistributedInstanceMessageSendService.java
  src/main/java/de/tum/cit/aet/artemis/core/service/messaging/InstanceMessageReceiveService.java
  src/main/java/de/tum/cit/aet/artemis/core/service/messaging/InstanceMessageSendService.java
  src/main/java/de/tum/cit/aet/artemis/core/service/messaging/MainInstanceMessageSendService.java
  src/main/java/de/tum/cit/aet/artemis/core/service/messaging/MessageTopic.java
  src/main/java/de/tum/cit/aet/artemis/lecture/dto/SlideUnhideDTO.java
  src/main/java/de/tum/cit/aet/artemis/lecture/repository/SlideRepository.java
  src/main/java/de/tum/cit/aet/artemis/lecture/service/SlideService.java
  src/main/java/de/tum/cit/aet/artemis/lecture/service/SlideSplitterService.java
  src/main/java/de/tum/cit/aet/artemis/lecture/service/SlideUnhideExecutionService.java
  src/main/java/de/tum/cit/aet/artemis/lecture/service/SlideUnhideScheduleService.java
  src/main/java/de/tum/cit/aet/artemis/lecture/service/SlideUnhideService.java
  src/test/java/de/tum/cit/aet/artemis/lecture/service/SlideUnhideServiceTest.java
  src/test/java/de/tum/cit/aet/artemis/shared/architecture/ArchitectureTest.java
Labels: tests, ready for review, server, core, lecture

#10646 `Development`: Update communication features and screenshots in user documentation
  docs/user/communication.rst
  docs/user/communication/applied-pinned-filtering.png
  docs/user/communication/channel-creation.png
  docs/user/communication/channel-settings.png
  docs/user/communication/direct-message-page.png
  docs/user/communication/exercise-messages.png
  docs/user/communication/exercise-page.png
  docs/user/communication/expanded.png
  docs/user/communication/forward-dialog.png
  docs/user/communication/forward-view.png
  docs/user/communication/lecture-messages.png
  docs/user/communication/lecture-page.png
  docs/user/communication/link-preview-single.png
  docs/user/communication/link-preview.png
  docs/user/communication/mark-resolved.png
  docs/user/communication/message-page.png
  docs/user/communication/message-with-all-references.png
  docs/user/communication/messages.png
  docs/user/communication/messaging-page.png
  docs/user/communication/pinned-button.png
  docs/user/communication/references.png
  docs/user/communication/resolved-post.png
  docs/user/communication/save-message.png
  docs/user/communication/slide-menu-view.png
  docs/user/communication/slide-open.png
  docs/user/communication/slide-preview-message.png
  docs/user/communication/slide-reference-menu.png
  docs/user/communication/slide-reference.png
  docs/user/communication/user-authorities/instructor-role.png
  docs/user/communication/user-authorities/instructor.png
  docs/user/communication/user-authorities/student-role.png
  docs/user/communication/user-authorities/student.png
  docs/user/communication/user-authorities/tutor-role.png
  docs/user/communication/user-authorities/tutor.png
Labels: documentation

#10689 `General`: Improve course management user interface
  src/main/webapp/app/assessment/manage/assessment-locks/assessment-locks.component.html
  src/main/webapp/app/assessment/manage/list-of-complaints/list-of-complaints.component.html
  src/main/webapp/app/assessment/manage/rating/rating-list/rating-list.component.html
  src/main/webapp/app/assessment/shared/assessment-dashboard/assessment-dashboard.component.html
  src/main/webapp/app/atlas/overview/course-competencies/course-competencies-details.component.html
  src/main/webapp/app/core/course/manage/course-management-container/course-management-container.component.html
  src/main/webapp/app/core/course/manage/course-management-container/course-management-container.component.spec.ts
  src/main/webapp/app/core/course/manage/course-management-container/course-management-container.component.ts
  src/main/webapp/app/core/course/overview/course-overview/course-overview.component.html
  src/main/webapp/app/core/course/overview/course-overview/course-overview.component.spec.ts
  src/main/webapp/app/core/course/overview/course-overview/course-overview.component.ts
  src/main/webapp/app/core/course/shared/course-base-container/course-base-container.component.ts
  src/main/webapp/app/core/course/shared/course-sidebar/course-sidebar.component.scss
  src/main/webapp/app/exercise/exercise-headers/participation-page/header-participation-page.component.scss
  src/main/webapp/app/lecture/overview/course-lectures/details/course-lecture-details.component.html
  src/main/webapp/app/shared/components/course-exam-archive-button/course-exam-archive-button.component.html
  src/main/webapp/app/shared/detail-overview-navigation-bar/detail-overview-navigation-bar.scss
  src/main/webapp/content/scss/global.scss
  src/test/playwright/e2e/course/CourseManagement.spec.ts
Labels: tests, ready for review, client, playwright, assessment, atlas, core, exercise, lecture

#10628 `Development`: Add server integration tests for invalid IDE preferences
  src/test/java/de/tum/cit/aet/artemis/programming/IdePreferencesIntegrationTest.java
Labels: tests, ready for review, programming

#10538 `Exam mode`: Skip access forbidden alert for instructors
  src/main/java/de/tum/cit/aet/artemis/exam/service/ExamAccessService.java
  src/test/java/de/tum/cit/aet/artemis/exam/service/ExamAccessServiceTest.java
Labels: tests, server, small, stale, exam

#10577 `Programming exercises`: Enable static code analysis for R with LocalCI
  docs/user/exercises/programming-exercise-features.inc
  src/main/java/de/tum/cit/aet/artemis/core/config/StaticCodeAnalysisConfigurer.java
  src/main/java/de/tum/cit/aet/artemis/programming/domain/StaticCodeAnalysisTool.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/localci/LocalCIProgrammingLanguageFeatureService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/localci/scaparser/strategy/ParserPolicy.java
  src/main/resources/config/application.yml
  src/main/resources/templates/aeolus/r/default_static.sh
  src/main/resources/templates/aeolus/r/default_static.yaml
  src/main/resources/templates/r/solution/R/convert.R
  src/main/resources/templates/r/staticCodeAnalysis/test/.lintr
  src/test/java/de/tum/cit/aet/artemis/programming/StaticCodeAnalysisParserUnitTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/util/ProgrammingExerciseFactory.java
  src/test/resources/test-data/static-code-analysis/expected/lintr_results.json
  src/test/resources/test-data/static-code-analysis/reports/lintr_results.sarif
Labels: tests, ready for review, server, documentation, config-change, template, core, programming

#10703 `Development`: Fix broken pdf preview for lecture attachments and attachment units also for windows
  docker/artemis/Dockerfile
  package-lock.json
  package.json
  src/main/webapp/app/lecture/manage/pdf-preview/pdfjs_copy_worker_script.mjs
Labels: ready for review, client, docker, lecture

#10453 `Programming exercises`: Enable static code analysis for C++ with LocalCI
  docs/user/exercises/programming-exercise-features.inc
  src/main/java/de/tum/cit/aet/artemis/core/config/StaticCodeAnalysisConfigurer.java
  src/main/java/de/tum/cit/aet/artemis/programming/domain/StaticCodeAnalysisTool.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/localci/LocalCIProgrammingLanguageFeatureService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/localci/scaparser/format/sarif/ReportingDescriptor.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/localci/scaparser/strategy/ParserPolicy.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/localci/scaparser/strategy/sarif/SarifParser.java
  src/main/resources/config/application.yml
  src/main/resources/templates/aeolus/c_plus_plus/default_static.sh
  src/main/resources/templates/aeolus/c_plus_plus/default_static.yaml
  src/main/resources/templates/c_plus_plus/staticCodeAnalysis/test/.clang-tidy
  src/main/resources/templates/c_plus_plus/staticCodeAnalysis/test/Tests.py
  src/test/java/de/tum/cit/aet/artemis/programming/StaticCodeAnalysisParserUnitTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/util/ProgrammingExerciseFactory.java
  src/test/resources/test-data/static-code-analysis/expected/clang-tidy.json
  src/test/resources/test-data/static-code-analysis/reports/clang-tidy.sarif
Labels: tests, ready for review, server, documentation, config-change, template, core, programming

#10641 `Development`: Allow disabling tutorial group module in server and client
  src/main/java/de/tum/cit/aet/artemis/core/config/ArtemisConfigHelper.java
  src/main/java/de/tum/cit/aet/artemis/core/config/Constants.java
  src/main/java/de/tum/cit/aet/artemis/core/config/ModuleFeatureInfoContributor.java
  src/main/java/de/tum/cit/aet/artemis/core/service/CourseService.java
  src/main/java/de/tum/cit/aet/artemis/tutorialgroup/api/TutorialGroupApi.java
  src/main/java/de/tum/cit/aet/artemis/tutorialgroup/api/TutorialGroupChannelManagementApi.java
  src/main/java/de/tum/cit/aet/artemis/tutorialgroup/api/TutorialGroupCommunicationApi.java
  src/main/java/de/tum/cit/aet/artemis/tutorialgroup/api/TutorialGroupRegistrationApi.java
  src/main/java/de/tum/cit/aet/artemis/tutorialgroup/config/TutorialGroupApiNotPresentException.java
  src/main/java/de/tum/cit/aet/artemis/tutorialgroup/config/TutorialGroupEnabled.java
  src/main/java/de/tum/cit/aet/artemis/tutorialgroup/repository/TutorialGroupFreePeriodRepository.java
  src/main/java/de/tum/cit/aet/artemis/tutorialgroup/repository/TutorialGroupRegistrationRepository.java
  src/main/java/de/tum/cit/aet/artemis/tutorialgroup/repository/TutorialGroupRepository.java
  src/main/java/de/tum/cit/aet/artemis/tutorialgroup/repository/TutorialGroupScheduleRepository.java
  src/main/java/de/tum/cit/aet/artemis/tutorialgroup/repository/TutorialGroupSessionRepository.java
  src/main/java/de/tum/cit/aet/artemis/tutorialgroup/repository/TutorialGroupsConfigurationRepository.java
  src/main/java/de/tum/cit/aet/artemis/tutorialgroup/service/TutorialGroupChannelManagementService.java
  src/main/java/de/tum/cit/aet/artemis/tutorialgroup/service/TutorialGroupFreePeriodService.java
  src/main/java/de/tum/cit/aet/artemis/tutorialgroup/service/TutorialGroupScheduleService.java
  src/main/java/de/tum/cit/aet/artemis/tutorialgroup/service/TutorialGroupService.java
  src/main/java/de/tum/cit/aet/artemis/tutorialgroup/service/TutorialGroupsConfigurationService.java
  src/main/java/de/tum/cit/aet/artemis/tutorialgroup/web/TutorialGroupFreePeriodResource.java
  src/main/java/de/tum/cit/aet/artemis/tutorialgroup/web/TutorialGroupResource.java
  src/main/java/de/tum/cit/aet/artemis/tutorialgroup/web/TutorialGroupSessionResource.java
  src/main/java/de/tum/cit/aet/artemis/tutorialgroup/web/TutorialGroupsConfigurationResource.java
  src/main/resources/config/application-buildagent.yml
  src/main/resources/config/application-core.yml
  src/main/webapp/app/app.constants.ts
  src/main/webapp/app/core/course/manage/course-management-tab-bar/course-management-tab-bar.component.html
  src/main/webapp/app/core/course/manage/course-management-tab-bar/course-management-tab-bar.component.ts
  src/main/webapp/app/core/course/manage/overview/course-management-card.component.html
  src/main/webapp/app/core/course/manage/overview/course-management-card.component.ts
  src/test/java/de/tum/cit/aet/artemis/core/config/ModuleFeatureInfoContributorTest.java
  src/test/java/de/tum/cit/aet/artemis/core/config/modules/ArtemisConfigHelperTest.java
  src/test/java/de/tum/cit/aet/artemis/tutorialgroup/architecture/TutorialGroupApiArchitectureTest.java
Labels: tests, ready for review, server, client, config-change, core, tutorialgroup

#10470 `Programming exercises`: Fix an issue when changing the short name during import
  src/main/java/de/tum/cit/aet/artemis/programming/service/ProgrammingExerciseImportFromFileService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/ProgrammingExerciseImportService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/ProgrammingExerciseRepositoryService.java
Labels: server, bugfix, stale, programming

#10688 `General`: Support lti learning activities for multiple lectures
  src/main/java/de/tum/cit/aet/artemis/lti/service/DeepLinkingType.java
  src/main/java/de/tum/cit/aet/artemis/lti/service/LtiDeepLinkingService.java
  src/main/java/de/tum/cit/aet/artemis/lti/web/LtiResource.java
  src/main/webapp/app/lecture/shared/course-lectures/course-lectures.component.spec.ts
  src/main/webapp/app/lecture/shared/course-lectures/course-lectures.component.ts
  src/main/webapp/app/lti/manage/lti13-deep-linking/lti.constants.ts
  src/main/webapp/app/lti/manage/lti13-deep-linking/lti13-deep-linking.component.html
  src/main/webapp/app/lti/manage/lti13-deep-linking/lti13-deep-linking.component.ts
  src/main/webapp/i18n/de/lti.json
  src/main/webapp/i18n/en/lti.json
  src/test/java/de/tum/cit/aet/artemis/lti/service/LtiDeepLinkingServiceTest.java
Labels: tests, ready for review, server, client, lecture, lti

#10708 `Lectures`: Prefer attachment units over attachments
  docs/admin/accessRights.rst
  docs/dev/guidelines/client-design.rst
  jest.config.js
  src/main/java/de/tum/cit/aet/artemis/lecture/domain/LectureTranscription.java
  src/main/java/de/tum/cit/aet/artemis/lecture/domain/LectureUnit.java
  src/main/java/de/tum/cit/aet/artemis/lecture/dto/SlideDTO.java
  src/main/java/de/tum/cit/aet/artemis/lecture/repository/LectureRepository.java
  src/main/java/de/tum/cit/aet/artemis/lecture/repository/SlideRepository.java
  src/main/java/de/tum/cit/aet/artemis/lecture/service/LectureService.java
  src/main/java/de/tum/cit/aet/artemis/lecture/web/AttachmentResource.java
  src/main/java/de/tum/cit/aet/artemis/lecture/web/LectureResource.java
  src/main/java/de/tum/cit/aet/artemis/lecture/web/LectureTranscriptionResource.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/localvc/ssh/HashUtils.java
  src/main/webapp/app/communication/posting-reactions-bar/posting-reactions-bar.component.html
  src/main/webapp/app/core/course/shared/course-sidebar/course-sidebar.component.html
  src/main/webapp/app/core/user/settings/user-settings-container/user-settings-container.component.spec.ts
  src/main/webapp/app/lecture/manage/lecture-attachments/lecture-attachments.component.html
  src/main/webapp/app/lecture/manage/lecture-attachments/lecture-attachments.component.spec.ts
  src/main/webapp/app/lecture/manage/lecture-attachments/lecture-attachments.component.ts
  src/main/webapp/app/lecture/manage/lecture-update/lecture-update.component.html
  src/main/webapp/app/lecture/manage/lecture/lecture.component.spec.ts
  src/main/webapp/app/lecture/manage/lecture/lecture.component.ts
  src/main/webapp/app/lecture/manage/services/attachment.service.spec.ts
  src/main/webapp/app/lecture/manage/services/attachment.service.ts
  src/main/webapp/app/lecture/manage/services/lecture.service.spec.ts
  src/main/webapp/app/lecture/manage/services/lecture.service.ts
  src/main/webapp/app/lecture/overview/course-lectures/lecture-unit/lecture-unit.component.ts
  src/main/webapp/app/tutorialgroup/shared/pipe/meeting-pattern.pipe.spec.ts
  src/main/webapp/app/tutorialgroup/shared/pipe/meeting-pattern.pipe.ts
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/en/global.json
  src/test/java/de/tum/cit/aet/artemis/lecture/AttachmentResourceIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/lecture/LectureIntegrationTest.java
Labels: tests, ready for review, server, client, documentation, communication, core, lecture, programming, tutorialgroup

#10707 `Development`: Fix message editing e2e test
  src/test/playwright/support/pageobjects/course/CourseMessagesPage.ts
Labels: tests, ready for review, playwright

#10723 `Development`: Ensure builds always run on protected and release branches
  .github/workflows/build.yml
Labels: ready for review, small

#10727 `General`: Fix timezone in course settings
  src/main/webapp/app/core/course/manage/update/course-update.component.ts
Labels: client, small, bugfix, core

#10718 `General`: Fix missing course icons and profile images in conversations
  src/main/webapp/app/communication/course-conversations-components/dialogs/conversation-detail-dialog/tabs/conversation-members/conversation-member-row/conversation-member-row.component.html
  src/main/webapp/app/communication/course-conversations-components/dialogs/conversation-detail-dialog/tabs/conversation-members/conversation-member-row/conversation-member-row.component.ts
  src/main/webapp/app/communication/course-conversations-components/forward-message-dialog/forward-message-dialog.component.html
  src/main/webapp/app/core/course/manage/course-management/course-management.component.ts
  src/main/webapp/app/core/course/manage/update/course-update.component.spec.ts
  src/main/webapp/app/core/course/manage/update/course-update.component.ts
  src/main/webapp/app/core/course/overview/courses/courses.component.ts
  src/main/webapp/app/tutorialgroup/shared/tutorial-group-detail/tutorial-group-detail.component.html
  src/main/webapp/app/tutorialgroup/shared/tutorial-group-detail/tutorial-group-detail.component.ts
Labels: ready for review, client, communication, core, tutorialgroup

#10717 `Lectures`: Fix hidden slide filtering query
  src/main/java/de/tum/cit/aet/artemis/lecture/repository/SlideRepository.java
Labels: ready for review, server, small, lecture

#10731 `Communication`: Fix issue when selecting direct messages
  src/main/webapp/app/communication/course-conversations-components/layout/conversation-messages/conversation-messages.component.ts
Labels: ready for review, client, bugfix, communication

#10714 `General`: Introduce course management quick actions
  src/main/webapp/app/core/course/manage/detail/course-detail.component.html
  src/main/webapp/app/core/course/manage/detail/course-detail.component.ts
  src/main/webapp/app/core/course/manage/exercises/course-management-exercises.component.html
  src/main/webapp/app/core/course/manage/exercises/course-management-exercises.component.ts
  src/main/webapp/app/core/course/manage/quick-actions/add-exercise-modal/add-exercise-modal.component.html
  src/main/webapp/app/core/course/manage/quick-actions/add-exercise-modal/add-exercise-modal.component.spec.ts
  src/main/webapp/app/core/course/manage/quick-actions/add-exercise-modal/add-exercise-modal.component.ts
  src/main/webapp/app/core/course/manage/quick-actions/quick-actions.component.html
  src/main/webapp/app/core/course/manage/quick-actions/quick-actions.component.spec.ts
  src/main/webapp/app/core/course/manage/quick-actions/quick-actions.component.ts
  src/main/webapp/app/core/course/manage/user-management-dropdown/user-management-dropdown.component.html
  src/main/webapp/app/core/course/manage/user-management-dropdown/user-management-dropdown.component.spec.ts
  src/main/webapp/app/core/course/manage/user-management-dropdown/user-management-dropdown.component.ts
  src/main/webapp/app/exercise/exercise-create-buttons/exercise-create-button/exercise-create-button.component.html
  src/main/webapp/app/exercise/exercise-create-buttons/exercise-create-button/exercise-create-button.component.spec.ts
  src/main/webapp/app/exercise/exercise-create-buttons/exercise-create-button/exercise-create-button.component.ts
  src/main/webapp/app/exercise/exercise-create-buttons/exercise-create-buttons.component.html
  src/main/webapp/app/exercise/exercise-create-buttons/exercise-create-buttons.component.spec.ts
  src/main/webapp/app/exercise/exercise-create-buttons/exercise-create-buttons.component.ts
  src/main/webapp/app/exercise/exercise-create-buttons/exercise-import-button/exercise-import-button.component.html
  src/main/webapp/app/exercise/exercise-create-buttons/exercise-import-button/exercise-import-button.component.spec.ts
  src/main/webapp/app/exercise/exercise-create-buttons/exercise-import-button/exercise-import-button.component.ts
  src/main/webapp/app/exercise/exercise-create-buttons/exercise-manage-button/exercise-manage-button.component.ts
  src/main/webapp/app/exercise/import/from-file/exercise-import-from-file.component.html
  src/main/webapp/app/programming/manage/create-buttons/programming-exercise-create-buttons.component.html
  src/main/webapp/app/programming/manage/create-buttons/programming-exercise-create-buttons.component.spec.ts
  src/main/webapp/app/programming/manage/create-buttons/programming-exercise-create-buttons.component.ts
  src/main/webapp/app/quiz/manage/create-buttons/quiz-exercise-create-buttons.component.html
  src/main/webapp/app/quiz/manage/create-buttons/quiz-exercise-create-buttons.component.ts
  src/main/webapp/app/quiz/manage/create-buttons/quiz-exercise-create-buttons.components.spec.ts
  src/main/webapp/app/shared/feature-toggle/feature-toggle-link.directive.ts
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/en/global.json
  src/test/javascript/spec/helpers/mocks/service/mock-ngb-modal.service.ts
  src/test/playwright/e2e/course/CourseManagement.spec.ts
  src/test/playwright/support/pageobjects/course/CourseManagementExercisesPage.ts
  src/test/playwright/support/pageobjects/course/CourseManagementPage.ts
Labels: tests, ready for review, client, playwright, core, exercise, programming, quiz

#10735 `Development`: Add additional event log types for research purposes
  src/main/java/de/tum/cit/aet/artemis/atlas/domain/science/ScienceEventType.java
  src/main/webapp/app/atlas/manage/competency-graph-modal/competency-graph-modal.component.spec.ts
  src/main/webapp/app/atlas/manage/competency-graph-modal/competency-graph-modal.component.ts
  src/main/webapp/app/atlas/manage/learning-paths-table/learning-paths-table.component.spec.ts
  src/main/webapp/app/atlas/overview/course-competencies/course-competencies-details.component.spec.ts
  src/main/webapp/app/atlas/overview/course-competencies/course-competencies-details.component.ts
  src/main/webapp/app/atlas/overview/course-competencies/course-competencies.component.spec.ts
  src/main/webapp/app/atlas/overview/course-competencies/course-competencies.component.ts
  src/main/webapp/app/atlas/overview/learning-path-nav-overview/learning-path-nav-overview.component.spec.ts
  src/main/webapp/app/atlas/overview/learning-path-nav-overview/learning-path-nav-overview.component.ts
  src/main/webapp/app/atlas/overview/learning-path-student-nav/learning-path-student-nav.component.spec.ts
  src/main/webapp/app/atlas/overview/learning-path-student-nav/learning-path-student-nav.component.ts
  src/main/webapp/app/atlas/overview/learning-path-student-page/learning-path-student-page.component.spec.ts
  src/main/webapp/app/atlas/overview/learning-path-student-page/learning-path-student-page.component.ts
  src/main/webapp/app/core/course/overview/exercise-details/course-exercise-details.component.ts
  src/main/webapp/app/lecture/overview/course-lectures/attachment-unit/attachment-unit.component.ts
  src/main/webapp/app/lecture/overview/course-lectures/details/course-lecture-details.component.ts
  src/main/webapp/app/lecture/overview/course-lectures/lecture-unit/lecture-unit.directive.ts
  src/main/webapp/app/lecture/overview/course-lectures/online-unit/online-unit.component.ts
  src/main/webapp/app/lecture/overview/course-lectures/text-unit/text-unit.component.ts
  src/main/webapp/app/lecture/overview/course-lectures/video-unit/video-unit.component.ts
  src/main/webapp/app/shared/science/science.component.spec.ts
  src/main/webapp/app/shared/science/science.component.ts
  src/main/webapp/app/shared/science/science.directive.spec.ts
  src/main/webapp/app/shared/science/science.directive.ts
  src/main/webapp/app/shared/science/science.model.ts
Labels: server, client, atlas, core, lecture

#10750 `Development`: Fix Athena server test
  src/test/java/de/tum/cit/aet/artemis/athena/service/connectors/AthenaFeedbackSuggestionsServiceTest.java
Labels: tests, ready for review, chore, ready to merge, athena

#10747 `Iris`: Fix an issue on course management overview page for tutors and editors
  src/main/webapp/app/core/course/manage/detail/course-detail.component.spec.ts
  src/main/webapp/app/core/course/manage/detail/course-detail.component.ts
Labels: ready for review, client, priority:high, core

#10736 `Communication`: Fix issue with message count in sidebar
  src/main/java/de/tum/cit/aet/artemis/communication/repository/conversation/ConversationRepository.java
  src/main/java/de/tum/cit/aet/artemis/communication/service/ConversationMessagingService.java
  src/main/webapp/app/communication/service/metis-conversation.service.spec.ts
  src/main/webapp/app/communication/service/metis-conversation.service.ts
  src/main/webapp/app/communication/service/metis.service.spec.ts
  src/main/webapp/app/communication/service/metis.service.ts
  src/main/webapp/app/communication/shared/course-conversations/course-conversations.component.html
  src/main/webapp/app/plagiarism/overview/detail-view/plagiarism-case-student-detail-view.component.spec.ts
  src/main/webapp/app/shared/sidebar/sidebar-accordion/sidebar-accordion.component.spec.ts
  src/main/webapp/app/shared/sidebar/sidebar-accordion/sidebar-accordion.component.ts
  src/main/webapp/app/shared/sidebar/sidebar.component.ts
  src/test/javascript/spec/helpers/mocks/service/mock-metis-conversation.service.ts
Labels: tests, ready for review, server, client, priority:high, bugfix, communication, plagiarism

#10748 `Iris`: Fix wrong unauthorized messages in lecture communication channels
  src/main/webapp/app/communication/shared/redirect-to-iris-button/redirect-to-iris-button.component.spec.ts
  src/main/webapp/app/communication/shared/redirect-to-iris-button/redirect-to-iris-button.component.ts
Labels: client, priority:critical, bugfix, communication

#10749 `General`: Fix course management quick actions
  src/main/webapp/app/core/course/manage/quick-actions/quick-actions.component.html
  src/main/webapp/app/core/course/manage/quick-actions/quick-actions.component.ts
  src/main/webapp/app/core/course/manage/user-management-dropdown/user-management-dropdown.component.html
Labels: ready for review, client, core

#10734 `General`: Allow users to rename passkey label
  gradle/jacoco.gradle
  jest.config.js
  src/main/java/de/tum/cit/aet/artemis/core/domain/PasskeyCredential.java
  src/main/java/de/tum/cit/aet/artemis/core/web/PasskeyResource.java
  src/main/resources/config/liquibase/changelog/20250409003009_changelog.xml
  src/main/webapp/app/core/user/settings/passkey-settings/passkey-settings-api.service.ts
  src/main/webapp/app/core/user/settings/passkey-settings/passkey-settings.component.html
  src/main/webapp/app/core/user/settings/passkey-settings/passkey-settings.component.scss
  src/main/webapp/app/core/user/settings/passkey-settings/passkey-settings.component.spec.ts
  src/main/webapp/app/core/user/settings/passkey-settings/passkey-settings.component.ts
  src/main/webapp/app/shared/components/button/button.component.ts
  src/main/webapp/app/shared/pipes/artemis-date.pipe.ts
  src/main/webapp/app/shared/validators/custom-max-length-validator/custom-max-length-validator.directive.spec.ts
  src/main/webapp/app/shared/validators/custom-max-length-validator/custom-max-length-validator.directive.ts
  src/main/webapp/i18n/de/userSettings.json
  src/main/webapp/i18n/en/userSettings.json
  src/test/java/de/tum/cit/aet/artemis/core/PasskeyCredentialTest.java
  src/test/java/de/tum/cit/aet/artemis/core/util/PasskeyCredentialUtilService.java
  src/test/java/de/tum/cit/aet/artemis/core/web/PasskeyIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/shared/base/AbstractSpringIntegrationIndependentTest.java
  src/test/javascript/spec/helpers/mocks/service/mock-alert.service.ts
Labels: tests, ready for review, server, client, core

#10740 `Adaptive learning`: Fix competency progress calculation
  src/main/java/de/tum/cit/aet/artemis/atlas/service/competency/CompetencyProgressService.java
Labels: ready for review, server, atlas

#10753 `Lectures`: Fix alignment of lecture unit cards
  src/main/webapp/app/lecture/overview/course-lectures/lecture-unit/lecture-unit.component.html
  src/main/webapp/app/lecture/overview/course-lectures/lecture-unit/lecture-unit.component.scss
Labels: ready for review, client, bugfix, lecture

#10644 `Assessment`: Fix an issue where the progress bar for tutors shows NaN%
  src/main/webapp/app/shared/dashboards/tutor-participation-graph/progress-bar/progress-bar.component.ts
Labels: ready for review, client, small, bugfix, ready to merge

#10642 `Development`: Introduce lecture module API
  gradle/jacoco.gradle
  src/main/java/de/tum/cit/aet/artemis/atlas/api/CompetencyRelationApi.java
  src/main/java/de/tum/cit/aet/artemis/atlas/service/LearningMetricsService.java
  src/main/java/de/tum/cit/aet/artemis/atlas/service/LearningObjectImportService.java
  src/main/java/de/tum/cit/aet/artemis/atlas/service/LearningObjectService.java
  src/main/java/de/tum/cit/aet/artemis/atlas/service/competency/CompetencyProgressService.java
  src/main/java/de/tum/cit/aet/artemis/atlas/service/competency/CompetencyService.java
  src/main/java/de/tum/cit/aet/artemis/atlas/service/competency/CourseCompetencyService.java
  src/main/java/de/tum/cit/aet/artemis/atlas/service/competency/PrerequisiteService.java
  src/main/java/de/tum/cit/aet/artemis/atlas/service/learningpath/LearningPathNavigationService.java
  src/main/java/de/tum/cit/aet/artemis/atlas/service/learningpath/LearningPathRecommendationService.java
  src/main/java/de/tum/cit/aet/artemis/atlas/service/learningpath/LearningPathService.java
  src/main/java/de/tum/cit/aet/artemis/atlas/web/LearningPathResource.java
  src/main/java/de/tum/cit/aet/artemis/communication/service/AnswerMessageService.java
  src/main/java/de/tum/cit/aet/artemis/communication/service/ConversationMessagingService.java
  src/main/java/de/tum/cit/aet/artemis/communication/service/PostingService.java
  src/main/java/de/tum/cit/aet/artemis/core/service/CourseService.java
  src/main/java/de/tum/cit/aet/artemis/core/web/FileResource.java
  src/main/java/de/tum/cit/aet/artemis/exercise/service/ExerciseDeletionService.java
  src/main/java/de/tum/cit/aet/artemis/fileupload/web/FileUploadExerciseResource.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/pyris/PyrisWebhookService.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/session/IrisLectureChatSessionService.java
  src/main/java/de/tum/cit/aet/artemis/iris/web/IrisLectureChatSessionResource.java
  src/main/java/de/tum/cit/aet/artemis/lecture/api/AbstractLectureApi.java
  src/main/java/de/tum/cit/aet/artemis/lecture/api/LectureApi.java
  src/main/java/de/tum/cit/aet/artemis/lecture/api/LectureAttachmentApi.java
  src/main/java/de/tum/cit/aet/artemis/lecture/api/LectureRepositoryApi.java
  src/main/java/de/tum/cit/aet/artemis/lecture/api/LectureUnitApi.java
  src/main/java/de/tum/cit/aet/artemis/lecture/api/LectureUnitRepositoryApi.java
  src/main/java/de/tum/cit/aet/artemis/lecture/api/SlideApi.java
  src/main/java/de/tum/cit/aet/artemis/lecture/config/LectureApiNotPresentException.java
  src/main/java/de/tum/cit/aet/artemis/lecture/service/LectureUnitService.java
  src/main/java/de/tum/cit/aet/artemis/lti/service/Lti13Service.java
  src/main/java/de/tum/cit/aet/artemis/lti/service/LtiDeepLinkingService.java
  src/main/java/de/tum/cit/aet/artemis/modeling/web/ModelingExerciseResource.java
  src/main/java/de/tum/cit/aet/artemis/plagiarism/service/PlagiarismAnswerPostService.java
  src/main/java/de/tum/cit/aet/artemis/plagiarism/service/PlagiarismPostService.java
  src/main/java/de/tum/cit/aet/artemis/programming/web/ProgrammingExerciseResource.java
  src/main/java/de/tum/cit/aet/artemis/quiz/web/QuizExerciseResource.java
  src/main/java/de/tum/cit/aet/artemis/text/web/TextExerciseResource.java
  src/test/java/de/tum/cit/aet/artemis/atlas/service/LearningObjectServiceTest.java
  src/test/java/de/tum/cit/aet/artemis/lecture/architecture/LectureApiArchitectureTest.java
  src/test/java/de/tum/cit/aet/artemis/lti/Lti13ServiceTest.java
  src/test/java/de/tum/cit/aet/artemis/lti/service/LtiDeepLinkingServiceTest.java
Labels: tests, server, atlas, communication, core, exercise, fileupload, iris, lecture, lti, modeling, plagiarism, programming, quiz, text

#10724 `Development`: Configure server tests job to run on self-hosted GitHub runners
  .github/workflows/test.yml
Labels: ready for review, ready to merge

#10759 `Communication`: Fix an issue with forwarded messages
  src/main/webapp/app/communication/course-conversations-components/forward-message-dialog/forward-message-dialog.component.ts
Labels: client, small, bugfix, ready to merge, communication

#10761 `Communication`: Fix new message notification on native clients
  src/main/java/de/tum/cit/aet/artemis/communication/service/CourseNotificationPushProxyService.java
  src/test/java/de/tum/cit/aet/artemis/communication/service/CourseNotificationPushProxyServiceTest.java
Labels: tests, server, bugfix, ready to merge, maintainer-approved, communication

#10760 `Development`: Update config for apple-site-association-file
  src/main/java/de/tum/cit/aet/artemis/core/config/SecurityConfiguration.java
  src/main/resources/config/application.yml
Labels: server, config-change, small, ready to merge, core

#10752 `Communication`: Fix resolve directly after sending reply
  src/main/webapp/app/communication/service/metis.service.spec.ts
  src/main/webapp/app/communication/service/metis.service.ts
Labels: client, small, bugfix, ready to merge, communication

#10757 `General`: Improve course management scroll behavior
  src/main/webapp/app/core/course/manage/course-management-container/course-management-container.component.html
  src/main/webapp/app/core/course/manage/course-management-container/course-management-container.component.spec.ts
  src/main/webapp/app/core/course/manage/course-management-container/course-management-container.component.ts
Labels: ready for review, client, core

#10751 `General`: Fix lti course selector color
  src/main/webapp/app/lti/manage/lti-course-card/lti-course-card.component.html
Labels: ready for review, client, bugfix, lti

#10434 `Communication`: Show indication if forwarded post has been deleted
  src/main/webapp/app/communication/course-conversations-components/layout/conversation-messages/conversation-messages.component.spec.ts
  src/main/webapp/app/communication/course-conversations-components/layout/conversation-messages/conversation-messages.component.ts
  src/main/webapp/app/communication/forwarded-message/forwarded-message.component.html
  src/main/webapp/app/communication/forwarded-message/forwarded-message.component.scss
  src/main/webapp/app/communication/forwarded-message/forwarded-message.component.ts
  src/main/webapp/app/communication/post/post.component.html
  src/main/webapp/app/communication/post/post.component.ts
  src/main/webapp/app/communication/posting-reactions-bar/posting-reactions-bar.component.ts
  src/main/webapp/app/communication/posting-thread/posting-thread.component.ts
  src/main/webapp/app/communication/shared/entities/answer-post.model.ts
  src/main/webapp/app/communication/shared/entities/post.model.ts
  src/main/webapp/i18n/de/metis.json
  src/main/webapp/i18n/en/metis.json
Labels: feature, client, ready to merge, communication
