Repository ls1intum/Artemis, pull requests merged in 2025-09, with the labels that each got.

#11309 `Quiz exercises`: Add a binge learning constraint to the training mode
  src/main/java/de/tum/cit/aet/artemis/quiz/domain/QuizQuestionProgressData.java
  src/main/java/de/tum/cit/aet/artemis/quiz/service/QuizQuestionProgressService.java
  src/main/webapp/app/quiz/overview/course-training-quiz/course-training-quiz.component.html
  src/main/webapp/app/quiz/overview/course-training-quiz/course-training-quiz.component.ts
  src/main/webapp/i18n/de/quizQuestion.json
  src/main/webapp/i18n/en/quizQuestion.json
  src/test/java/de/tum/cit/aet/artemis/quiz/QuizQuestionProgressIntegrationTest.java
Labels: tests, server, client, ready to merge, quiz

#11352 `Development`: Fix failing calendar client test
  src/main/webapp/app/core/calendar/desktop/overview/calendar-desktop-overview.component.spec.ts
Labels: client, ready to merge, core

#11264 `Communication`: Add tutor suggestions for all channels and allow to chat with Iris
  gradle/jacoco.gradle
  src/main/java/de/tum/cit/aet/artemis/iris/service/pyris/PyrisPipelineService.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/pyris/dto/chat/tutorsuggestion/PyrisTutorSuggestionPipelineExecutionDTO.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/pyris/dto/data/PyrisTextExerciseDTO.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/session/AbstractIrisChatSessionService.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/session/IrisCourseChatSessionService.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/session/IrisExerciseChatSessionService.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/session/IrisTutorSuggestionSessionService.java
  src/main/webapp/app/communication/course-conversations/tutor-suggestion/tutor-suggestion.component.html
  src/main/webapp/app/communication/course-conversations/tutor-suggestion/tutor-suggestion.component.scss
  src/main/webapp/app/communication/course-conversations/tutor-suggestion/tutor-suggestion.component.spec.ts
  src/main/webapp/app/communication/course-conversations/tutor-suggestion/tutor-suggestion.component.ts
  src/main/webapp/app/iris/overview/base-chatbot/iris-base-chatbot.component.html
  src/main/webapp/app/iris/overview/base-chatbot/iris-base-chatbot.component.ts
  src/main/webapp/app/iris/overview/services/iris-chat.service.ts
  src/test/java/de/tum/cit/aet/artemis/iris/IrisTutorSuggestionIntegrationTest.java
Labels: tests, server, client, stale, communication, iris

#11367 `Development`: Remove client dependency `uuid`
  package-lock.json
  package.json
  src/main/webapp/app/core/account/fingerprint/browser-fingerprint.service.ts
  src/main/webapp/app/core/calendar/shared/entities/calendar-event.model.ts
  src/main/webapp/app/shared/markdown-editor/monaco/markdown-editor-monaco.component.ts
  src/main/webapp/app/shared/service/file.service.spec.ts
  src/main/webapp/app/shared/service/file.service.ts
Labels: client, core

#11315 `Programming exercises`: Retrigger builds for submissions without results
  src/main/java/de/tum/cit/aet/artemis/programming/repository/ProgrammingSubmissionRepository.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/ProgrammingSubmissionWithoutResultScheduleService.java
  src/main/resources/config/application-artemis.yml
  src/test/java/de/tum/cit/aet/artemis/programming/ProgrammingSubmissionWithoutResultScheduleServiceTest.java
Labels: tests, server, config-change, ready to merge, programming

#11337 `Development`: Increase default concurrent result processing config
  src/main/resources/config/application-localci.yml
Labels: ready for review, config-change, small, ready to merge

#11288 `General`: Fix visual bugs on loading spinners
  src/main/webapp/app/assessment/manage/complaints-for-tutor/complaints-for-tutor.component.html
  src/main/webapp/app/atlas/manage/competency-graph-modal/competency-graph-modal.component.html
  src/main/webapp/app/atlas/manage/competency-management/competency-management.component.html
  src/main/webapp/app/atlas/manage/course-competencies-relation-modal/course-competencies-relation-modal.component.html
  src/main/webapp/app/atlas/manage/create/create-competency.component.html
  src/main/webapp/app/atlas/manage/create/create-prerequisite.component.html
  src/main/webapp/app/atlas/manage/edit/edit-competency.component.html
  src/main/webapp/app/atlas/manage/edit/edit-prerequisite.component.html
  src/main/webapp/app/atlas/manage/generate-competencies/generate-competencies.component.html
  src/main/webapp/app/atlas/manage/import-standardized-competencies/course-import-standardized-competencies.component.html
  src/main/webapp/app/atlas/manage/import-standardized-competencies/course-import-standardized-prerequisites.component.html
  src/main/webapp/app/atlas/manage/learning-path-instructor-page/learning-path-instructor-page.component.html
  src/main/webapp/app/atlas/manage/learning-paths-analytics/learning-paths-analytics.component.html
  src/main/webapp/app/atlas/manage/learning-paths-configuration/learning-paths-configuration.component.html
  src/main/webapp/app/atlas/manage/learning-paths-state/learning-paths-state.component.html
  src/main/webapp/app/atlas/overview/course-competencies/course-competencies-details.component.html
  src/main/webapp/app/atlas/overview/learning-path-lecture-unit/learning-path-lecture-unit.component.html
  src/main/webapp/app/atlas/overview/learning-path-nav-overview-learning-objects/learning-path-nav-overview-learning-objects.component.html
  src/main/webapp/app/atlas/overview/learning-path-nav-overview/learning-path-nav-overview.component.html
  src/main/webapp/app/atlas/overview/learning-path-student-page/learning-path-student-page.component.html
  src/main/webapp/app/atlas/shared/competency-selection/competency-selection.component.html
  src/main/webapp/app/core/admin/standardized-competencies/standardized-competency-management.component.html
  src/main/webapp/app/core/calendar/desktop/overview/calendar-desktop-overview.component.html
  src/main/webapp/app/core/course/overview/course-dashboard/course-dashboard.component.html
  src/main/webapp/app/core/course/overview/course-registration/course-registration-prerequisites-modal/course-prerequisites-modal.component.html
  src/main/webapp/app/core/course/overview/course-registration/course-registration.component.html
  src/main/webapp/app/exam/manage/exam-scores/exam-scores.component.html
  src/main/webapp/app/exam/manage/students/verify-attendance-check/exam-students-attendance-check.component.html
  src/main/webapp/app/exam/overview/exam-navigation-bar/exam-navigation-bar.component.html
  src/main/webapp/app/exam/overview/exam-participation/exam-participation.component.html
  src/main/webapp/app/lecture/manage/lecture-units/lecture-unit-layout/lecture-unit-layout.component.html
  src/main/webapp/app/lecture/manage/lecture-units/management/lecture-unit-management.component.html
  src/main/webapp/app/lecture/manage/pdf-preview/pdf-preview-enlarged-canvas/pdf-preview-enlarged-canvas.component.html
  src/main/webapp/app/lecture/manage/pdf-preview/pdf-preview.component.html
  src/main/webapp/app/lecture/overview/course-lectures/details/course-lecture-details.component.html
  src/main/webapp/app/plagiarism/manage/plagiarism-inspector/plagiarism-inspector.component.html
  src/main/webapp/app/plagiarism/manage/plagiarism-split-view/text-submission-viewer/text-submission-viewer.component.html
  src/main/webapp/app/programming/manage/consistency-check/consistency-check.component.html
  src/main/webapp/app/programming/manage/grading/feedback-analysis/feedback-analysis.component.html
  src/main/webapp/app/programming/manage/grading/feedback-analysis/modal/feedback-affected-students/feedback-affected-students-modal.component.html
  src/main/webapp/app/programming/shared/git-diff-report/git-diff-report-modal/git-diff-report-modal.component.html
  src/main/webapp/app/quiz/manage/update/quiz-exercise-update.component.html
  src/main/webapp/app/shared/loading-indicator-container/loading-indicator-container.component.html
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/en/exam.json
Labels: client, small, ready to merge, maintainer-approved, assessment, atlas, core, exam, lecture, plagiarism, programming, quiz

#11329 `General`: Fix an issue in the statistics calculation
  src/main/java/de/tum/cit/aet/artemis/exercise/service/ExerciseScoresChartService.java
Labels: server, ready to merge, exercise

#11374 `Programming exercises`: Update java template to latest Ares and Gradle version
  docs/dev/docker.rst
  src/main/resources/config/application.yml
  src/main/resources/templates/java/gradle_gradle/exercise/build.gradle
  src/main/resources/templates/java/gradle_gradle/exercise/gradle/wrapper/gradle-wrapper.properties
  src/main/resources/templates/java/gradle_gradle/solution/build.gradle
  src/main/resources/templates/java/gradle_gradle/solution/gradle/wrapper/gradle-wrapper.properties
  src/main/resources/templates/java/maven_maven/exercise/pom.xml
  src/main/resources/templates/java/maven_maven/solution/pom.xml
  src/main/resources/templates/java/maven_maven/test/projectTemplate/pom.xml
  src/main/resources/templates/java/plain_gradle/exercise/build.gradle
  src/main/resources/templates/java/plain_gradle/exercise/gradle/wrapper/gradle-wrapper.properties
  src/main/resources/templates/java/plain_gradle/solution/build.gradle
  src/main/resources/templates/java/plain_gradle/solution/gradle/wrapper/gradle-wrapper.properties
  src/main/resources/templates/java/test/gradle/projectTemplate/build.gradle
  src/main/resources/templates/java/test/gradle/projectTemplate/gradle/wrapper/gradle-wrapper.properties
  src/main/resources/templates/java/test/maven/projectTemplate/pom.xml
  src/main/resources/templates/kotlin/test/maven/projectTemplate/pom.xml
  src/test/java/de/tum/cit/aet/artemis/programming/service/BuildLogEntryServiceTest.java
Labels: tests, ready for review, documentation, config-change, template, programming

#11365 `Development`: Add database query performance check as github action
  .github/workflows/query-quality.yml
  docs/dev/guidelines/performance.rst
Labels: documentation

#11395 `Development`: Add Hyperion admin setup docs
  docs/admin/extension-services.rst
  docs/admin/setup/hyperion.rst
  docs/dev/setup/server.rst
Labels: documentation

#11390 `Development`: Configure Spring AI relevant auto configurations only when hyperion is enabled
  src/main/java/de/tum/cit/aet/artemis/core/config/SpringAIAutoConfigurationFilter.java
  src/main/resources/META-INF/spring.factories
  src/main/resources/config/application-buildagent.yml
  src/main/resources/config/application-core.yml
  src/test/java/de/tum/cit/aet/artemis/buildagent/service/BuildAgentIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/shared/config/SpringAIAutoConfigurationExclusionsTest.java
  src/test/java/de/tum/cit/aet/artemis/shared/config/SpringAIAutoConfigurationInclusionsTest.java
Labels: tests, ready for review, server, config-change, buildagent, core

#11320 `Development`: Restructure and improve coding guidelines in the documentation
  CONTRIBUTING.md
  docs/conf.py
  docs/dev/guidelines.rst
  docs/dev/guidelines/client-guidelines.rst
  docs/dev/guidelines/client-tests.rst
  docs/dev/guidelines/client.rst
  docs/dev/guidelines/server-guidelines.rst
  docs/dev/guidelines/server.rst
  docs/dev/setup.rst
Labels: ready for review, documentation

#11381 `Development`: Split method in exam service
  src/main/java/de/tum/cit/aet/artemis/exam/service/ExamService.java
Labels: server, small, ready to merge, exam

#11338 `General`: Restructure course update page
  src/main/webapp/app/core/course/manage/detail/course-detail.component.ts
  src/main/webapp/app/core/course/manage/update/course-update.component.html
  src/main/webapp/app/core/course/manage/update/course-update.component.scss
  src/main/webapp/app/core/course/manage/update/course-update.component.spec.ts
  src/main/webapp/i18n/de/course.json
  src/main/webapp/i18n/de/tutorialGroups.json
  src/main/webapp/i18n/en/course.json
  src/main/webapp/i18n/en/tutorialGroups.json
Labels: client, ready to merge, core

#11324 `Adaptive learning`: Fix learner profile settings
  src/main/java/de/tum/cit/aet/artemis/atlas/repository/CourseLearnerProfileRepository.java
  src/main/java/de/tum/cit/aet/artemis/atlas/service/profile/CourseLearnerProfileService.java
  src/main/webapp/app/core/user/settings/learner-profile/feedback-learner-profile/feedback-learner-profile.component.html
  src/main/webapp/app/shared/segmented-toggle/segmented-toggle.component.html
  src/main/webapp/app/shared/segmented-toggle/segmented-toggle.component.scss
  src/main/webapp/app/shared/segmented-toggle/segmented-toggle.component.spec.ts
  src/main/webapp/app/shared/segmented-toggle/segmented-toggle.component.ts
  src/main/webapp/i18n/de/learnerProfile.json
  src/main/webapp/i18n/en/learnerProfile.json
Labels: ready for review, server, client, atlas, core

#11385 `Integrated code lifecycle`: Fix build job queries for canceled jobs
  src/main/java/de/tum/cit/aet/artemis/programming/repository/BuildJobRepository.java
Labels: ready for review, server, programming

#11406 `Development`: Fix time logging formatting for edge cases
  src/main/java/de/tum/cit/aet/artemis/core/util/TimeLogUtil.java
Labels: server, ready to merge, core

#11407 `General`: Fix calendar events rendering edge cases
  src/main/webapp/app/core/calendar/desktop/week-presentation/calendar-desktop-week-presentation.component.ts
  src/main/webapp/app/core/calendar/mobile/day-presentation/calendar-mobile-day-presentation.component.ts
  src/main/webapp/app/core/calendar/shared/calendar-events-per-day-section/calendar-events-per-day-section.component.ts
Labels: client, ready to merge, core

#11416 `Development`: Fix CourseLocalVCJenkinsIntegrationTest flakiness
  src/main/java/de/tum/cit/aet/artemis/core/service/course/CourseStatsService.java
  src/main/java/de/tum/cit/aet/artemis/core/util/TimeUtil.java
  src/test/java/de/tum/cit/aet/artemis/core/util/CourseTestService.java
  src/test/java/de/tum/cit/aet/artemis/programming/CourseLocalVCJenkinsIntegrationTest.java
Labels: tests, server, ready to merge, core, programming

#11412 `Development`: Add architecture test to check for usage of MockBean or SpyBean
  src/test/java/de/tum/cit/aet/artemis/shared/architecture/ArchitectureTest.java
Labels: tests, ready to merge

#11403 `Development`: Split text exercise resource
  .github/workflows/quality.yml
  src/main/java/de/tum/cit/aet/artemis/text/web/TextExerciseCreationUpdateResource.java
  src/main/java/de/tum/cit/aet/artemis/text/web/TextExerciseExportImportResource.java
  src/main/java/de/tum/cit/aet/artemis/text/web/TextExercisePlagiarismResource.java
  src/main/java/de/tum/cit/aet/artemis/text/web/TextExerciseResource.java
Labels: server, ready to merge, text
