Repository ls1intum/Artemis, pull requests merged in 2025-10, with the labels that each got.

#11350 `Tutorial groups`: Improve student tutorial group detail page
  src/main/java/de/tum/cit/aet/artemis/communication/repository/conversation/OneToOneChatRepository.java
  src/main/java/de/tum/cit/aet/artemis/core/repository/CourseRepository.java
  src/main/java/de/tum/cit/aet/artemis/tutorialgroup/dto/TutorialGroupDetailGroupDTO.java
  src/main/java/de/tum/cit/aet/artemis/tutorialgroup/dto/TutorialGroupDetailSessionDTO.java
  src/main/java/de/tum/cit/aet/artemis/tutorialgroup/repository/TutorialGroupRepository.java
  src/main/java/de/tum/cit/aet/artemis/tutorialgroup/repository/TutorialGroupSessionRepository.java
  src/main/java/de/tum/cit/aet/artemis/tutorialgroup/service/TutorialGroupService.java
  src/main/java/de/tum/cit/aet/artemis/tutorialgroup/util/RawTutorialGroupDetailGroupDTO.java
  src/main/java/de/tum/cit/aet/artemis/tutorialgroup/util/RawTutorialGroupDetailSessionDTO.java
  src/main/java/de/tum/cit/aet/artemis/tutorialgroup/web/TutorialGroupResource.java
  src/main/java/de/tum/cit/aet/artemis/tutorialgroup/web/TutorialGroupSessionResource.java
  src/main/webapp/app/core/calendar/shared/util/calendar-util.ts
  src/main/webapp/app/core/course/overview/courses.route.ts
  src/main/webapp/app/core/course/overview/services/course-overview.service.ts
  src/main/webapp/app/shared/profile-picture/profile-picture.component.ts
  src/main/webapp/app/tutorialgroup/manage/tutorial-groups-management.route.ts
  src/main/webapp/app/tutorialgroup/manage/tutorial-groups/crud/tutorial-group-form/schedule-form/schedule-form.component.html
  src/main/webapp/app/tutorialgroup/manage/tutorial-groups/detail/management-tutorial-group-detail-container.component.html
  src/main/webapp/app/tutorialgroup/manage/tutorial-groups/detail/management-tutorial-group-detail-container.component.spec.ts
  src/main/webapp/app/tutorialgroup/manage/tutorial-groups/detail/management-tutorial-group-detail-container.component.ts
  src/main/webapp/app/tutorialgroup/overview/course-tutorial-group-detail-container/course-tutorial-group-detail-container.component.html
  src/main/webapp/app/tutorialgroup/overview/course-tutorial-group-detail-container/course-tutorial-group-detail-container.component.spec.ts
  src/main/webapp/app/tutorialgroup/overview/course-tutorial-group-detail-container/course-tutorial-group-detail-container.component.ts
  src/main/webapp/app/tutorialgroup/overview/course-tutorial-group-detail-session-status-chip/course-tutorial-group-detail-session-status-chip.component.html
  src/main/webapp/app/tutorialgroup/overview/course-tutorial-group-detail-session-status-chip/course-tutorial-group-detail-session-status-chip.component.scss
  src/main/webapp/app/tutorialgroup/overview/course-tutorial-group-detail-session-status-chip/course-tutorial-group-detail-session-status-chip.component.ts
  src/main/webapp/app/tutorialgroup/overview/course-tutorial-group-detail-session-status-indicator/course-tutorial-group-detail-session-status-indicator.component.html
  src/main/webapp/app/tutorialgroup/overview/course-tutorial-group-detail-session-status-indicator/course-tutorial-group-detail-session-status-indicator.component.scss
  src/main/webapp/app/tutorialgroup/overview/course-tutorial-group-detail-session-status-indicator/course-tutorial-group-detail-session-status-indicator.component.ts
  src/main/webapp/app/tutorialgroup/overview/course-tutorial-group-detail/course-tutorial-group-detail.component.html
  src/main/webapp/app/tutorialgroup/overview/course-tutorial-group-detail/course-tutorial-group-detail.component.scss
  src/main/webapp/app/tutorialgroup/overview/course-tutorial-group-detail/course-tutorial-group-detail.component.spec.ts
  src/main/webapp/app/tutorialgroup/overview/course-tutorial-group-detail/course-tutorial-group-detail.component.ts
  src/main/webapp/app/tutorialgroup/shared/entities/tutorial-group-session.model.ts
  src/main/webapp/app/tutorialgroup/shared/entities/tutorial-group.model.ts
  src/main/webapp/app/tutorialgroup/shared/pipe/meeting-pattern.pipe.spec.ts
  src/main/webapp/app/tutorialgroup/shared/service/tutorial-groups.service.ts
  src/main/webapp/app/tutorialgroup/shared/tutorial-group-detail/management-tutorial-group-detail.component.html
  src/main/webapp/app/tutorialgroup/shared/tutorial-group-detail/management-tutorial-group-detail.component.scss
  src/main/webapp/app/tutorialgroup/shared/tutorial-group-detail/management-tutorial-group-detail.component.spec.ts
  src/main/webapp/app/tutorialgroup/shared/tutorial-group-detail/management-tutorial-group-detail.component.ts
  src/main/webapp/app/tutorialgroup/shared/util/weekdays.spec.ts
  src/main/webapp/app/tutorialgroup/shared/util/weekdays.ts
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/de/tutorialGroups.json
  src/main/webapp/i18n/en/global.json
  src/main/webapp/i18n/en/tutorialGroups.json
  src/test/java/de/tum/cit/aet/artemis/tutorialgroup/AbstractTutorialGroupIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/tutorialgroup/TutorialGroupIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/tutorialgroup/util/TutorialGroupUtilService.java
  src/test/javascript/spec/helpers/stubs/tutorialgroup/course-tutorial-group-detail-stub.component.ts
  src/test/javascript/spec/helpers/stubs/tutorialgroup/tutorial-group-detail-stub.component.ts
  supporting_scripts/code-coverage/module-coverage-client/check-client-module-coverage.mjs
Labels: tests, server, client, ready to merge, communication, core, tutorialgroup

#11396 `Development`: Cleanup GitService
  src/main/java/de/tum/cit/aet/artemis/buildagent/service/BuildJobGitService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/AbstractGitService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/GitService.java
  src/test/java/de/tum/cit/aet/artemis/programming/icl/LocalCIIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/icl/LocalVCLocalCIIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/icl/ProgrammingExerciseLocalVCLocalCIIntegrationTest.java
Labels: tests, server, ready to merge, buildagent, programming

#11441 `Development`: Remove delete all exam room versions
  src/main/java/de/tum/cit/aet/artemis/exam/service/ExamRoomService.java
  src/main/java/de/tum/cit/aet/artemis/exam/web/admin/AdminExamResource.java
  src/main/webapp/app/core/admin/exam-rooms/exam-rooms.component.html
  src/main/webapp/app/core/admin/exam-rooms/exam-rooms.component.spec.ts
  src/main/webapp/app/core/admin/exam-rooms/exam-rooms.component.ts
  src/main/webapp/app/core/admin/exam-rooms/exam-rooms.service.ts
  src/main/webapp/i18n/de/examRooms.json
  src/main/webapp/i18n/en/examRooms.json
  src/test/java/de/tum/cit/aet/artemis/exam/ExamRoomIntegrationTest.java
Labels: tests, server, client, ready to merge, core, exam

#11430 `General`: Fix connection warning in Chrome
  patches/webstomp-client+1.2.6.patch
Labels: client, ready to merge

#11348 `Programming exercises`: Add problem statement as a selectable file in the editor with live preview
  src/main/webapp/app/exam/overview/exercises/programming/programming-exam-submission.component.html
  src/main/webapp/app/programming/manage/assess/code-editor-tutor-assessment-container/code-editor-tutor-assessment-container.component.html
  src/main/webapp/app/programming/manage/code-editor/container/code-editor-container.component.html
  src/main/webapp/app/programming/manage/code-editor/container/code-editor-container.component.ts
  src/main/webapp/app/programming/manage/code-editor/file-browser/code-editor-file-browser.component.html
  src/main/webapp/app/programming/manage/code-editor/file-browser/code-editor-file-browser.component.spec.ts
  src/main/webapp/app/programming/manage/code-editor/file-browser/code-editor-file-browser.component.ts
  src/main/webapp/app/programming/manage/code-editor/file-browser/code-editor-file-browser.scss
  src/main/webapp/app/programming/manage/code-editor/file-browser/delete/code-editor-file-browser-delete.ts
  src/main/webapp/app/programming/manage/code-editor/file-browser/problem-statement/code-editor-file-browser-problem-statement.component.html
  src/main/webapp/app/programming/manage/code-editor/file-browser/problem-statement/code-editor-file-browser-problem-statement.component.ts
  src/main/webapp/app/programming/manage/code-editor/instructor-and-editor-container/code-editor-instructor-and-editor-container.component.html
  src/main/webapp/app/programming/manage/code-editor/instructor-and-editor-container/code-editor-instructor-and-editor-container.component.ts
  src/main/webapp/app/programming/manage/code-editor/instructor-and-editor-container/code-editor-instructor-base-container.component.ts
  src/main/webapp/app/programming/manage/instructions-editor/programming-exercise-editable-instruction.component.html
  src/main/webapp/app/programming/manage/instructions-editor/programming-exercise-editable-instruction.scss
  src/main/webapp/app/programming/overview/code-editor-student-container/code-editor-student-container.component.html
  src/main/webapp/app/programming/shared/code-editor/instructions/code-editor-instructions.component.html
  src/main/webapp/app/programming/shared/code-editor/instructions/code-editor-instructions.component.ts
  src/main/webapp/app/programming/shared/code-editor/layout/code-editor-grid/code-editor-grid.scss
  src/main/webapp/app/programming/shared/code-editor/model/code-editor.model.ts
  src/main/webapp/app/programming/shared/code-editor/monaco/code-editor-monaco.component.ts
  src/main/webapp/app/programming/shared/code-editor/services/code-editor-repository.service.ts
  src/main/webapp/i18n/de/exercise.json
  src/main/webapp/i18n/en/exercise.json
  supporting_scripts/code-coverage/module-coverage-client/check-client-module-coverage.mjs
Labels: feature, ready for review, client, ready to merge, exam, programming

#11423 `Development`: Fix failing quiz exercise e2e tests
  src/test/playwright/support/pageobjects/exercises/quiz/QuizExerciseCreationPage.ts
Labels: tests, ready for review, playwright

#11409 `Development`: Replace wrong assertion import in server test
  src/test/java/de/tum/cit/aet/artemis/lecture/service/SlideSplitterServiceTest.java
Labels: tests, lecture

#11345 `Quiz exercises`: Add leaderboard server logic
  src/main/java/de/tum/cit/aet/artemis/quiz/domain/QuizTrainingLeaderboard.java
  src/main/java/de/tum/cit/aet/artemis/quiz/dto/LeaderboardEntryDTO.java
  src/main/java/de/tum/cit/aet/artemis/quiz/dto/LeaderboardSettingDTO.java
  src/main/java/de/tum/cit/aet/artemis/quiz/repository/QuizQuestionRepository.java
  src/main/java/de/tum/cit/aet/artemis/quiz/repository/QuizTrainingLeaderboardRepository.java
  src/main/java/de/tum/cit/aet/artemis/quiz/service/QuizQuestionProgressService.java
  src/main/java/de/tum/cit/aet/artemis/quiz/service/QuizTrainingLeaderboardService.java
  src/main/java/de/tum/cit/aet/artemis/quiz/web/QuizTrainingResource.java
  src/main/resources/config/liquibase/changelog/20250930145942_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/test/java/de/tum/cit/aet/artemis/quiz/QuizQuestionProgressIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/quiz/QuizTrainingLeaderboardTest.java
Labels: tests, server, database, quiz

#11452 `Development`: Adapt failing CI check thresholds
  .github/workflows/bean-instantiations.yml
Labels: ready to merge
