Repository ls1intum/Artemis, pull requests merged in 2025-05, with the labels that each got.

#10771 `Learning path`: Fix button layout on atlas dashboard
  src/main/webapp/app/core/course/overview/course-dashboard/course-dashboard.component.html
Labels: client, atlas

#10440 `Adaptive learning`: Add learner profile interface
  src/main/java/de/tum/cit/aet/artemis/atlas/domain/profile/CourseLearnerProfile.java
  src/main/java/de/tum/cit/aet/artemis/atlas/dto/CourseLearnerProfileDTO.java
  src/main/java/de/tum/cit/aet/artemis/atlas/repository/CourseLearnerProfileRepository.java
  src/main/java/de/tum/cit/aet/artemis/atlas/repository/LearnerProfileRepository.java
  src/main/java/de/tum/cit/aet/artemis/atlas/service/profile/CourseLearnerProfileService.java
  src/main/java/de/tum/cit/aet/artemis/atlas/service/profile/LearnerProfileService.java
  src/main/java/de/tum/cit/aet/artemis/atlas/web/LearnerProfileResource.java
  src/main/webapp/app/core/user/settings/learner-profile/course-learner-profile.component.html
  src/main/webapp/app/core/user/settings/learner-profile/course-learner-profile.component.scss
  src/main/webapp/app/core/user/settings/learner-profile/course-learner-profile.component.spec.ts
  src/main/webapp/app/core/user/settings/learner-profile/course-learner-profile.component.ts
  src/main/webapp/app/core/user/settings/learner-profile/learner-profile.component.html
  src/main/webapp/app/core/user/settings/learner-profile/learner-profile.component.ts
  src/main/webapp/app/core/user/settings/user-settings-container/user-settings-container.component.html
  src/main/webapp/app/core/user/settings/user-settings.route.ts
  src/main/webapp/app/learner-profile/service/learner-profile-api.service.ts
  src/main/webapp/app/learner-profile/shared/entities/learner-profile.model.ts
  src/main/webapp/app/shared/double-slider/double-slider.component.html
  src/main/webapp/app/shared/double-slider/double-slider.component.scss
  src/main/webapp/app/shared/double-slider/double-slider.component.spec.ts
  src/main/webapp/app/shared/double-slider/double-slider.component.ts
  src/main/webapp/i18n/de/learnerProfile.json
  src/main/webapp/i18n/de/userSettings.json
  src/main/webapp/i18n/en/learnerProfile.json
  src/main/webapp/i18n/en/userSettings.json
  src/test/java/de/tum/cit/aet/artemis/atlas/profile/LearnerProfileIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/atlas/profile/util/LearnerProfileUtilService.java
  src/test/java/de/tum/cit/aet/artemis/core/user/util/UserTestService.java
Labels: tests, ready for review, server, client, atlas, core

#10767 `Development`: LTI Angular Decoratorless API Migration
  src/main/webapp/app/lti/overview/lti13-select-content/lti13-select-content.component.ts
Labels: ready for review, client, lti

#10769 `Quiz exercises`: Fix Add-Short-Answer-Solution Button in the Re-evaluate mode
  src/main/webapp/app/quiz/manage/short-answer-question/short-answer-question-edit.component.ts
Labels: ready for review, client, quiz

#10764 `Iris`: Fix multiple iris settings calls in communication channels
  src/main/webapp/app/communication/shared/redirect-to-iris-button/redirect-to-iris-button.component.spec.ts
  src/main/webapp/app/communication/shared/redirect-to-iris-button/redirect-to-iris-button.component.ts
  src/main/webapp/app/iris/manage/settings/shared/iris-settings.service.spec.ts
  src/main/webapp/app/iris/manage/settings/shared/iris-settings.service.ts
Labels: client, ready to merge, communication, iris

#10774 `General`: Update LTI documentation
  docs/user/lti.rst
  docs/user/lti/lti_lectures_list.png
  docs/user/lti/moodle_select_content_link.png
  docs/user/lti/moodle_select_content_link_grouped.png
  docs/user/lti/moodle_select_content_new.png
Labels: ready for review, documentation

#10777 `Development`: Replace NgbModal with primeNG popover in course management quick actions
  jest.config.js
  package-lock.json
  package.json
  src/main/webapp/app/core/course/manage/quick-actions/add-exercise-modal/add-exercise-modal.component.html
  src/main/webapp/app/core/course/manage/quick-actions/add-exercise-modal/add-exercise-modal.component.spec.ts
  src/main/webapp/app/core/course/manage/quick-actions/add-exercise-popover/add-exercise-popover.component.html
  src/main/webapp/app/core/course/manage/quick-actions/add-exercise-popover/add-exercise-popover.component.scss
  src/main/webapp/app/core/course/manage/quick-actions/add-exercise-popover/add-exercise-popover.component.spec.ts
  src/main/webapp/app/core/course/manage/quick-actions/add-exercise-popover/add-exercise-popover.component.ts
  src/main/webapp/app/core/course/manage/quick-actions/quick-actions.component.html
  src/main/webapp/app/core/course/manage/quick-actions/quick-actions.component.spec.ts
  src/main/webapp/app/core/course/manage/quick-actions/quick-actions.component.ts
Labels: ready for review, client, core

#10784 `Development`: Update broken link to code review guidelines documentation in README
  README.md
Labels: ready to merge

#10758 `General`: Fix sidebar and quick actions on smaller screens
  src/main/webapp/app/core/course/manage/quick-actions/quick-actions.component.html
  src/main/webapp/app/core/course/shared/course-sidebar/course-sidebar.component.html
  src/main/webapp/app/core/course/shared/course-sidebar/course-sidebar.component.spec.ts
  src/main/webapp/app/core/course/shared/course-sidebar/course-sidebar.component.ts
  src/main/webapp/app/shared/breakpoints/breakpoints.service.ts
Labels: client, ready to merge, core

#10783 `Iris`: Fix processing status on lectures overview
  src/main/webapp/app/lecture/manage/lecture/lecture.component.spec.ts
  src/main/webapp/app/lecture/manage/lecture/lecture.component.ts
  src/main/webapp/i18n/de/iris.json
  src/main/webapp/i18n/de/lecture.json
  src/main/webapp/i18n/en/iris.json
  src/main/webapp/i18n/en/lecture.json
Labels: client, ready to merge, lecture

#10781 `Development`: Fix course body container undefined console error
  src/main/webapp/app/core/course/manage/course-management-container/course-management-container.component.spec.ts
  src/main/webapp/app/core/course/manage/course-management-container/course-management-container.component.ts
Labels: client, small, ready to merge, core

#10780 `Adaptive learning`: Show students which competencies are related to the learning material
  src/main/java/de/tum/cit/aet/artemis/atlas/dto/CompetencyContributionDTO.java
  src/main/java/de/tum/cit/aet/artemis/atlas/repository/CourseCompetencyRepository.java
  src/main/java/de/tum/cit/aet/artemis/atlas/service/competency/CourseCompetencyService.java
  src/main/java/de/tum/cit/aet/artemis/atlas/web/CourseCompetencyResource.java
  src/main/java/de/tum/cit/aet/artemis/core/repository/UserRepository.java
  src/main/java/de/tum/cit/aet/artemis/core/security/annotations/enforceRoleInLectureUnit/EnforceAtLeastEditorInLectureUnit.java
  src/main/java/de/tum/cit/aet/artemis/core/security/annotations/enforceRoleInLectureUnit/EnforceAtLeastInstructorInLectureUnit.java
  src/main/java/de/tum/cit/aet/artemis/core/security/annotations/enforceRoleInLectureUnit/EnforceAtLeastStudentInLectureUnit.java
  src/main/java/de/tum/cit/aet/artemis/core/security/annotations/enforceRoleInLectureUnit/EnforceAtLeastTutorInLectureUnit.java
  src/main/java/de/tum/cit/aet/artemis/core/security/annotations/enforceRoleInLectureUnit/EnforceRoleInLectureUnit.java
  src/main/java/de/tum/cit/aet/artemis/core/security/annotations/enforceRoleInLectureUnit/EnforceRoleInLectureUnitAspect.java
  src/main/java/de/tum/cit/aet/artemis/core/service/AuthorizationCheckService.java
  src/main/webapp/app/atlas/overview/course-competencies/course-competencies-details.component.html
  src/main/webapp/app/atlas/overview/learning-path-lecture-unit/learning-path-lecture-unit.component.html
  src/main/webapp/app/atlas/overview/learning-path-lecture-unit/learning-path-lecture-unit.component.ts
  src/main/webapp/app/atlas/overview/learning-path-student-page/learning-path-student-page.component.html
  src/main/webapp/app/atlas/shared/competency-contribution/competency-contribution-card/competency-contribution-card.component.html
  src/main/webapp/app/atlas/shared/competency-contribution/competency-contribution-card/competency-contribution-card.component.spec.ts
  src/main/webapp/app/atlas/shared/competency-contribution/competency-contribution-card/competency-contribution-card.component.ts
  src/main/webapp/app/atlas/shared/competency-contribution/competency-contribution.component.html
  src/main/webapp/app/atlas/shared/competency-contribution/competency-contribution.component.spec.ts
  src/main/webapp/app/atlas/shared/competency-contribution/competency-contribution.component.ts
  src/main/webapp/app/atlas/shared/entities/competency.model.ts
  src/main/webapp/app/atlas/shared/services/course-competency.service.ts
  src/main/webapp/app/core/course/overview/exercise-details/course-exercise-details.component.html
  src/main/webapp/app/core/course/overview/exercise-details/course-exercise-details.component.ts
  src/main/webapp/app/lecture/manage/lecture-units/management/lecture-unit-management.component.html
  src/main/webapp/app/lecture/overview/course-lectures/attachment-unit/attachment-unit.component.html
  src/main/webapp/app/lecture/overview/course-lectures/attachment-unit/attachment-unit.component.spec.ts
  src/main/webapp/app/lecture/overview/course-lectures/details/course-lecture-details.component.html
  src/main/webapp/app/lecture/overview/course-lectures/lecture-unit/lecture-unit.component.html
  src/main/webapp/app/lecture/overview/course-lectures/lecture-unit/lecture-unit.component.ts
  src/main/webapp/app/lecture/overview/course-lectures/lecture-unit/lecture-unit.directive.ts
  src/main/webapp/app/lecture/overview/course-lectures/online-unit/online-unit.component.html
  src/main/webapp/app/lecture/overview/course-lectures/online-unit/online-unit.component.spec.ts
  src/main/webapp/app/lecture/overview/course-lectures/text-unit/text-unit.component.html
  src/main/webapp/app/lecture/overview/course-lectures/text-unit/text-unit.component.spec.ts
  src/main/webapp/app/lecture/overview/course-lectures/video-unit/video-unit.component.html
  src/main/webapp/app/lecture/overview/course-lectures/video-unit/video-unit.component.spec.ts
  src/main/webapp/i18n/de/competency.json
  src/main/webapp/i18n/en/competency.json
  src/test/java/de/tum/cit/aet/artemis/atlas/competency/CourseCompetencyIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/atlas/competency/util/CompetencyUtilService.java
  src/test/java/de/tum/cit/aet/artemis/core/aspects/EnforceRoleInLectureUnitTest.java
  src/test/java/de/tum/cit/aet/artemis/core/aspects/util/EnforceRoleInLectureUnitResource.java
  src/test/java/de/tum/cit/aet/artemis/shared/architecture/EnforceRoleInResourceArchitectureTest.java
Labels: tests, ready for review, server, client, atlas, core, lecture

#10791 `Development`: Exclude spec files from coverage table
  supporting_scripts/code-coverage/generate_code_cov_table/generate_code_cov_table.py
Labels: chore, small, ready to merge

#10772 `Lectures`: Fix file upload when file name contains 'slide'
  src/main/java/de/tum/cit/aet/artemis/core/service/FilePathService.java
Labels: ready for review, server, ready to merge, core, lecture

#10775 `General`: Add lecture launch links to LTI course configuration
  src/main/webapp/app/core/course/manage/course-lti-configuration/course-lti-configuration.component.html
  src/main/webapp/app/core/course/manage/course-lti-configuration/course-lti-configuration.component.spec.ts
  src/main/webapp/app/core/course/manage/course-lti-configuration/course-lti-configuration.component.ts
  src/main/webapp/i18n/de/lti.json
  src/main/webapp/i18n/en/lti.json
Labels: ready for review, client, core

#10768 `General`: Add PDF Preview documentation
  docs/user/lectures.rst
  docs/user/lectures/view-attachment-unit-btn.png
  docs/user/lectures/view-attachment-unit.png
Labels: ready for review, documentation

#10785 `General`: Support Bitwarden for passkey authentication
  src/main/webapp/app/assessment/manage/grading-system/detailed-grading-system/detailed-grading-system.component.spec.ts
  src/main/webapp/app/core/home/home.component.ts
  src/main/webapp/app/core/user/settings/passkey-settings/entities/invalid-credential-error.ts
  src/main/webapp/app/core/user/settings/passkey-settings/entities/malformed-bitwarden-credential.ts
  src/main/webapp/app/core/user/settings/passkey-settings/passkey-settings.component.spec.ts
  src/main/webapp/app/core/user/settings/passkey-settings/passkey-settings.component.ts
  src/main/webapp/app/core/user/settings/passkey-settings/util/bitwarden.util.spec.ts
  src/main/webapp/app/core/user/settings/passkey-settings/util/bitwarden.util.ts
  src/main/webapp/app/core/user/settings/passkey-settings/util/credential-option.util.spec.ts
  src/main/webapp/app/core/user/settings/passkey-settings/util/credential-option.util.ts
  src/main/webapp/app/core/user/settings/passkey-settings/util/credential.util.spec.ts
  src/main/webapp/app/core/user/settings/passkey-settings/util/credential.util.ts
  src/main/webapp/app/lti/overview/lti13-exercise-launch/lti13-exercise-launch.component.ts
  src/main/webapp/app/shared/util/base64.util.spec.ts
  src/main/webapp/app/shared/util/base64.util.ts
  src/main/webapp/i18n/de/userSettings.json
  src/main/webapp/i18n/en/userSettings.json
Labels: client, ready to merge, assessment, core, lti

#10539 `Development`: Add playwright e2e client coverage
  .github/workflows/test-e2e.yml
  docker/playwright-E2E-tests-mysql-localci.yml
  docker/playwright.yml
  src/test/playwright/merge-coverage-reports.mjs
  src/test/playwright/package-lock.json
  src/test/playwright/package.json
  src/test/playwright/playwright.config.ts
  src/test/playwright/support/baseFixtures.ts
  src/test/playwright/support/fixtures.ts
Labels: tests, ready to merge, docker, playwright

#10790 `Communication`: Fix an issue with editing messages
  src/main/java/de/tum/cit/aet/artemis/communication/dto/UpdatePostingDTO.java
  src/main/java/de/tum/cit/aet/artemis/communication/service/AnswerMessageService.java
  src/main/java/de/tum/cit/aet/artemis/communication/service/ConversationMessagingService.java
  src/main/java/de/tum/cit/aet/artemis/communication/web/AnswerMessageResource.java
  src/main/java/de/tum/cit/aet/artemis/communication/web/ConversationMessageResource.java
  src/main/webapp/app/communication/service/answer-post.service.ts
  src/main/webapp/app/communication/service/post.service.ts
Labels: ready for review, server, client, communication

#10661 `Communication`: Allow users to search in specific conversations and from specific authors
  src/main/java/de/tum/cit/aet/artemis/communication/dto/PostContextFilterDTO.java
  src/main/java/de/tum/cit/aet/artemis/communication/repository/MessageSpecs.java
  src/main/java/de/tum/cit/aet/artemis/communication/web/ConversationMessageResource.java
  src/main/webapp/app/communication/course-conversations-components/course-wide-search/course-wide-search.component.html
  src/main/webapp/app/communication/course-conversations-components/course-wide-search/course-wide-search.component.spec.ts
  src/main/webapp/app/communication/course-conversations-components/course-wide-search/course-wide-search.component.ts
  src/main/webapp/app/communication/course-conversations-components/layout/conversation-header/conversation-header.component.spec.ts
  src/main/webapp/app/communication/course-conversations-components/layout/conversation-header/conversation-header.component.ts
  src/main/webapp/app/communication/course-conversations-components/layout/conversation-messages/conversation-messages.component.html
  src/main/webapp/app/communication/course-conversations-components/layout/conversation-messages/conversation-messages.component.spec.ts
  src/main/webapp/app/communication/course-conversations-components/layout/conversation-messages/conversation-messages.component.ts
  src/main/webapp/app/communication/metis.util.ts
  src/main/webapp/app/communication/post/post.component.spec.ts
  src/main/webapp/app/communication/post/post.component.ts
  src/main/webapp/app/communication/posting-reactions-bar/posting-reactions-bar.component.ts
  src/main/webapp/app/communication/posting-thread/posting-thread.component.html
  src/main/webapp/app/communication/posting-thread/posting-thread.component.ts
  src/main/webapp/app/communication/service/metis.service.ts
  src/main/webapp/app/communication/service/post.service.ts
  src/main/webapp/app/communication/shared/conversation-global-search/conversation-global-search.component.html
  src/main/webapp/app/communication/shared/conversation-global-search/conversation-global-search.component.scss
  src/main/webapp/app/communication/shared/conversation-global-search/conversation-global-search.component.spec.ts
  src/main/webapp/app/communication/shared/conversation-global-search/conversation-global-search.component.ts
  src/main/webapp/app/communication/shared/course-conversations/course-conversations.component.html
  src/main/webapp/app/communication/shared/course-conversations/course-conversations.component.spec.ts
  src/main/webapp/app/communication/shared/course-conversations/course-conversations.component.ts
  src/main/webapp/app/communication/shared/discussion-section/discussion-section.component.spec.ts
  src/main/webapp/app/communication/shared/discussion-section/discussion-section.component.ts
  src/main/webapp/i18n/de/metis.json
  src/main/webapp/i18n/de/student-dashboard.json
  src/main/webapp/i18n/en/metis.json
  src/test/java/de/tum/cit/aet/artemis/communication/AbstractConversationTest.java
  src/test/java/de/tum/cit/aet/artemis/communication/MessageIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/plagiarism/PlagiarismAnswerPostIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/plagiarism/PlagiarismPostIntegrationTest.java
Labels: feature, tests, server, client, ready to merge, communication, plagiarism

#10805 `Adaptive learning`: Improve UX when creating competencies in large courses
  src/main/java/de/tum/cit/aet/artemis/atlas/service/learningpath/LearningPathService.java
Labels: ready for review, server, atlas

#10807 `Communication`: Fix an issue with message creation
  src/main/java/de/tum/cit/aet/artemis/communication/dto/CreateAnswerPostDTO.java
  src/main/java/de/tum/cit/aet/artemis/communication/dto/CreatePostConversationDTO.java
  src/main/java/de/tum/cit/aet/artemis/communication/dto/CreatePostDTO.java
  src/main/java/de/tum/cit/aet/artemis/communication/dto/ParentPostDTO.java
  src/main/java/de/tum/cit/aet/artemis/communication/service/AnswerMessageService.java
  src/main/java/de/tum/cit/aet/artemis/communication/service/ConversationMessagingService.java
  src/main/java/de/tum/cit/aet/artemis/communication/web/AnswerMessageResource.java
  src/main/java/de/tum/cit/aet/artemis/communication/web/ConversationMessageResource.java
  src/main/webapp/app/communication/service/answer-post.service.ts
  src/main/webapp/app/communication/service/post.service.ts
  src/test/java/de/tum/cit/aet/artemis/communication/AnswerMessageIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/communication/MessageIntegrationTest.java
Labels: tests, ready for review, server, client, bugfix, communication

#10766 `General`: Ask users to setup passkeys after login
  gradle/jacoco.gradle
  jest.config.js
  src/main/java/de/tum/cit/aet/artemis/core/dto/UserDTO.java
  src/main/java/de/tum/cit/aet/artemis/core/dto/passkey/ArtemisPublicKeyCredentialParametersDTO.java
  src/main/java/de/tum/cit/aet/artemis/core/repository/PasskeyCredentialsRepository.java
  src/main/java/de/tum/cit/aet/artemis/core/repository/passkey/ArtemisPublicKeyCredentialUserEntityRepository.java
  src/main/java/de/tum/cit/aet/artemis/core/repository/passkey/ArtemisUserCredentialRepository.java
  src/main/java/de/tum/cit/aet/artemis/core/repository/passkey/COSEAlgorithm.java
  src/main/java/de/tum/cit/aet/artemis/core/repository/passkey/HazelcastHttpSessionPublicKeyCredentialCreationOptionsRepository.java
  src/main/java/de/tum/cit/aet/artemis/core/repository/passkey/HazelcastPublicKeyCredentialRequestOptionsRepository.java
  src/main/java/de/tum/cit/aet/artemis/core/security/passkey/ArtemisPublicKeyCredentialCreationOptionsFilter.java
  src/main/java/de/tum/cit/aet/artemis/core/security/passkey/ArtemisWebAuthnConfigurer.java
  src/main/java/de/tum/cit/aet/artemis/core/web/PasskeyResource.java
  src/main/java/de/tum/cit/aet/artemis/core/web/open/PublicAccountResource.java
  src/main/webapp/app/app.component.spec.ts
  src/main/webapp/app/app.component.ts
  src/main/webapp/app/core/admin/system-notification-management/system-notification-detail.component.spec.ts
  src/main/webapp/app/core/auth/account.service.ts
  src/main/webapp/app/core/course/overview/courses/courses.component.ts
  src/main/webapp/app/core/course/overview/setup-passkey-modal/setup-passkey-modal.component.html
  src/main/webapp/app/core/course/overview/setup-passkey-modal/setup-passkey-modal.component.spec.ts
  src/main/webapp/app/core/course/overview/setup-passkey-modal/setup-passkey-modal.component.ts
  src/main/webapp/app/core/home/home.component.spec.ts
  src/main/webapp/app/core/home/home.component.ts
  src/main/webapp/app/core/navbar/navbar.component.ts
  src/main/webapp/app/core/user/settings/passkey-settings/passkey-settings.component.html
  src/main/webapp/app/core/user/settings/passkey-settings/passkey-settings.component.spec.ts
  src/main/webapp/app/core/user/settings/passkey-settings/passkey-settings.component.ts
  src/main/webapp/app/core/user/settings/passkey-settings/util/credential-option.util.spec.ts
  src/main/webapp/app/core/user/settings/passkey-settings/util/credential-option.util.ts
  src/main/webapp/app/core/user/settings/passkey-settings/util/credential.util.ts
  src/main/webapp/app/core/user/user.model.ts
  src/main/webapp/app/shared/delete-dialog/component/delete-dialog.component.ts
  src/main/webapp/app/shared/exercise-filter/exercise-filter-modal.component.ts
  src/main/webapp/i18n/de/userSettings.json
  src/main/webapp/i18n/en/userSettings.json
  src/test/java/de/tum/cit/aet/artemis/core/user/AccountResourceIntegrationTest.java
Labels: tests, ready for review, server, client, ready to merge, core

#10815 `Development`: Fix client test branch coverage
  jest.config.js
Labels: ready for review, small

#10818 `Lectures`: Fix filtering out future lectures in course dashboard
  src/main/java/de/tum/cit/aet/artemis/core/service/CourseService.java
  src/main/java/de/tum/cit/aet/artemis/lecture/api/LectureApi.java
Labels: server, priority:high, ready to merge, core, lecture

#10817 `Communication`: Fix an issue in search for content and author
  src/main/java/de/tum/cit/aet/artemis/communication/repository/ConversationMessageRepository.java
  src/main/java/de/tum/cit/aet/artemis/communication/repository/MessageSpecs.java
  src/test/java/de/tum/cit/aet/artemis/communication/MessageIntegrationTest.java
Labels: tests, server, small, bugfix, ready to merge, communication

#10831 `Integrated code lifecycle`: Self pause build agent after consecutive job failures
  jest.config.js
  package-lock.json
  package.json
  src/main/java/de/tum/cit/aet/artemis/assessment/dto/ExerciseAverageScoreDTO.java
  src/main/java/de/tum/cit/aet/artemis/assessment/repository/ParticipantScoreRepository.java
  src/main/java/de/tum/cit/aet/artemis/assessment/service/ParticipantScoreService.java
  src/main/java/de/tum/cit/aet/artemis/communication/repository/ConversationMessageRepository.java
  src/main/java/de/tum/cit/aet/artemis/communication/repository/MessageSpecs.java
  src/main/java/de/tum/cit/aet/artemis/core/service/CourseService.java
  src/main/java/de/tum/cit/aet/artemis/core/service/StatisticsService.java
  src/main/java/de/tum/cit/aet/artemis/exercise/service/ExerciseService.java
  src/main/java/de/tum/cit/aet/artemis/lecture/api/LectureApi.java
  src/main/java/de/tum/cit/aet/artemis/tutorialgroup/service/TutorialGroupService.java
  src/main/java/de/tum/cit/aet/artemis/tutorialgroup/web/TutorialGroupResource.java
  src/test/java/de/tum/cit/aet/artemis/communication/MessageIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/tutorialgroup/TutorialGroupIntegrationTest.java
Labels: tests, server, assessment, communication, core, exercise, lecture, tutorialgroup

#10828 `Development`: Fix passkey commonjs import and prevent such imports
  eslint.config.mjs
  src/main/webapp/app/core/user/settings/passkey-settings/util/bitwarden.util.ts
Labels: ready for review, client, core

#10820 `Development`: Adjust assetlinks.json for Android passkeys
  src/main/java/de/tum/cit/aet/artemis/communication/web/AndroidAppSiteAssociationResource.java
  src/main/java/de/tum/cit/aet/artemis/core/config/SecurityConfiguration.java
  src/main/java/de/tum/cit/aet/artemis/core/util/AndroidApkKeyHashUtil.java
  src/main/resources/config/application.yml
  src/test/java/de/tum/cit/aet/artemis/core/AndroidAppSiteAssociationResourceTest.java
  src/test/java/de/tum/cit/aet/artemis/core/util/AndroidApkKeyHashUtilTest.java
  src/test/resources/config/application.yml
Labels: tests, server, config-change, ready to merge, communication, core

#10832 `Development`: Fix failing learning path integration test
  src/test/java/de/tum/cit/aet/artemis/atlas/learningpath/LearningPathIntegrationTest.java
Labels: tests, ready for review, atlas

#10608 `General`: Add subgrouping to sidebar for lectures and exercises
  src/main/webapp/app/core/course/overview/services/course-overview.service.ts
  src/main/webapp/app/shared/sidebar/sidebar-accordion/sidebar-accordion.component.html
  src/main/webapp/app/shared/sidebar/sidebar-accordion/sidebar-accordion.component.spec.ts
  src/main/webapp/app/shared/sidebar/sidebar-accordion/sidebar-accordion.component.ts
  src/main/webapp/app/shared/types/sidebar.ts
  src/main/webapp/app/shared/util/week-grouping.util.spec.ts
  src/main/webapp/app/shared/util/week-grouping.util.ts
  src/main/webapp/i18n/de/student-dashboard.json
  src/main/webapp/i18n/en/student-dashboard.json
Labels: ready for review, client, ready to merge, core

#10822 `Development`: Make passkey setup optional after login for users
  src/main/java/de/tum/cit/aet/artemis/core/dto/UserDTO.java
  src/main/java/de/tum/cit/aet/artemis/core/web/open/PublicAccountResource.java
  src/main/resources/config/application-core.yml
  src/main/webapp/app/core/home/home.component.spec.ts
  src/main/webapp/app/core/home/home.component.ts
  src/main/webapp/app/core/user/user.model.ts
  src/test/java/de/tum/cit/aet/artemis/core/user/AccountResourceIntegrationTest.java
Labels: tests, server, client, config-change, ready to merge, core

#10803 `Lectures`: Fix an issue when processing units
  src/main/webapp/app/lecture/manage/lecture-update/lecture-update.component.ts
Labels: ready for review, client, lecture

#10787 `Development`: Make FilePathService typesafe and fix exam student image upload
  src/main/java/de/tum/cit/aet/artemis/core/FilePathType.java
  src/main/java/de/tum/cit/aet/artemis/core/service/FilePathService.java
  src/main/java/de/tum/cit/aet/artemis/core/service/FileService.java
  src/main/java/de/tum/cit/aet/artemis/core/service/user/UserService.java
  src/main/java/de/tum/cit/aet/artemis/core/web/AccountResource.java
  src/main/java/de/tum/cit/aet/artemis/core/web/CourseResource.java
  src/main/java/de/tum/cit/aet/artemis/core/web/FileResource.java
  src/main/java/de/tum/cit/aet/artemis/core/web/admin/AdminCourseResource.java
  src/main/java/de/tum/cit/aet/artemis/exam/service/ExamUserService.java
  src/main/java/de/tum/cit/aet/artemis/exam/web/ExamUserResource.java
  src/main/java/de/tum/cit/aet/artemis/fileupload/domain/FileUploadSubmission.java
  src/main/java/de/tum/cit/aet/artemis/fileupload/service/FileUploadSubmissionService.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/pyris/PyrisWebhookService.java
  src/main/java/de/tum/cit/aet/artemis/lecture/service/AttachmentService.java
  src/main/java/de/tum/cit/aet/artemis/lecture/service/AttachmentUnitService.java
  src/main/java/de/tum/cit/aet/artemis/lecture/service/LectureUnitImportService.java
  src/main/java/de/tum/cit/aet/artemis/lecture/service/LectureUnitService.java
  src/main/java/de/tum/cit/aet/artemis/lecture/service/SlideSplitterService.java
  src/main/java/de/tum/cit/aet/artemis/lecture/web/AttachmentResource.java
  src/main/java/de/tum/cit/aet/artemis/quiz/domain/DragAndDropQuestion.java
  src/main/java/de/tum/cit/aet/artemis/quiz/domain/DragItem.java
  src/main/java/de/tum/cit/aet/artemis/quiz/service/DragAndDropQuizAnswerConversionService.java
  src/main/java/de/tum/cit/aet/artemis/quiz/service/QuizExerciseImportService.java
  src/main/java/de/tum/cit/aet/artemis/quiz/service/QuizExerciseService.java
  src/main/java/de/tum/cit/aet/artemis/quiz/service/QuizExerciseWithSubmissionsExportService.java
  src/main/java/de/tum/cit/aet/artemis/quiz/web/QuizExerciseResource.java
  src/main/webapp/app/exam/manage/students/exam-students.component.html
  src/main/webapp/app/exam/manage/students/exam-students.component.ts
  src/main/webapp/app/exam/manage/students/upload-images/students-upload-images-dialog.component.spec.ts
  src/main/webapp/app/exam/manage/students/upload-images/students-upload-images-dialog.component.ts
  src/test/java/de/tum/cit/aet/artemis/core/FileIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/core/service/FilePathServiceTest.java
  src/test/java/de/tum/cit/aet/artemis/core/service/FileServiceTest.java
  src/test/java/de/tum/cit/aet/artemis/core/user/util/UserTestService.java
  src/test/java/de/tum/cit/aet/artemis/core/util/CourseTestService.java
  src/test/java/de/tum/cit/aet/artemis/core/util/CourseUtilService.java
  src/test/java/de/tum/cit/aet/artemis/fileupload/FileUploadSubmissionIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/lecture/AttachmentResourceIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/lecture/service/AttachmentServiceTest.java
  src/test/java/de/tum/cit/aet/artemis/lecture/service/SlideSplitterServiceTest.java
  src/test/java/de/tum/cit/aet/artemis/lecture/util/LectureFactory.java
  src/test/java/de/tum/cit/aet/artemis/lecture/util/LectureUtilService.java
  src/test/java/de/tum/cit/aet/artemis/quiz/QuizExerciseIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/quiz/util/QuizExerciseFactory.java
Labels: tests, server, client, ready to merge, core, exam, fileupload, iris, lecture, quiz

#10804 `Communication`: Update posting groups in-place
  src/main/webapp/app/communication/course-conversations-components/layout/conversation-messages/conversation-messages.component.spec.ts
  src/main/webapp/app/communication/course-conversations-components/layout/conversation-messages/conversation-messages.component.ts
Labels: ready for review, client, small, bugfix, ready to merge, communication

#10838 `General`: Fix performance issues in exercise details with many submissions
  gradle/jacoco.gradle
  src/main/java/de/tum/cit/aet/artemis/assessment/repository/ResultRepository.java
  src/main/java/de/tum/cit/aet/artemis/atlas/service/LearningObjectImportService.java
  src/main/java/de/tum/cit/aet/artemis/communication/domain/Post.java
  src/main/java/de/tum/cit/aet/artemis/core/domain/Course.java
  src/main/java/de/tum/cit/aet/artemis/exercise/domain/Exercise.java
  src/main/java/de/tum/cit/aet/artemis/exercise/repository/ExerciseRepository.java
  src/main/java/de/tum/cit/aet/artemis/exercise/repository/StudentParticipationRepository.java
  src/main/java/de/tum/cit/aet/artemis/exercise/service/ParticipationService.java
  src/main/java/de/tum/cit/aet/artemis/exercise/web/ExerciseResource.java
  src/main/java/de/tum/cit/aet/artemis/exercise/web/ParticipationResource.java
  src/main/java/de/tum/cit/aet/artemis/exercise/web/TeamResource.java
  src/main/java/de/tum/cit/aet/artemis/exercise/web/TeamWebsocketService.java
  src/main/java/de/tum/cit/aet/artemis/lecture/domain/Lecture.java
  src/main/java/de/tum/cit/aet/artemis/lecture/repository/LectureRepository.java
  src/main/java/de/tum/cit/aet/artemis/lecture/service/AttachmentUnitService.java
  src/main/java/de/tum/cit/aet/artemis/lecture/web/LectureResource.java
  src/main/java/de/tum/cit/aet/artemis/programming/domain/ProgrammingExercise.java
  src/main/java/de/tum/cit/aet/artemis/programming/repository/ProgrammingExerciseRepository.java
  src/main/java/de/tum/cit/aet/artemis/quiz/domain/QuizExercise.java
  src/main/webapp/app/exercise/services/exercise.service.ts
  src/test/java/de/tum/cit/aet/artemis/assessment/service/CourseScoreCalculationServiceTest.java
  src/test/java/de/tum/cit/aet/artemis/atlas/learningpath/LearningPathIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/core/MetricsIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/core/util/CourseUtilService.java
  src/test/java/de/tum/cit/aet/artemis/exercise/ExerciseIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/exercise/participation/ParticipationIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/lecture/LectureIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/lecture/LectureUnitIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/lecture/service/LectureImportServiceTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/ProgrammingExerciseServiceIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/test_repository/ProgrammingExerciseTestRepository.java
  src/test/java/de/tum/cit/aet/artemis/programming/util/ProgrammingExerciseFactory.java
Labels: tests, ready for review, server, client, priority:high, assessment, atlas, communication, core, exercise, lecture, programming, quiz

#10837 `Communication`: Enable push notifications for new messages by default
  src/main/java/de/tum/cit/aet/artemis/communication/domain/setting_presets/DefaultUserCourseNotificationSettingPreset.java
Labels: ready for review, server, communication

#10835 `Text exercises`: Enable users to submit after all previous submissions deleted
  src/main/java/de/tum/cit/aet/artemis/text/web/TextExerciseResource.java
  src/test/java/de/tum/cit/aet/artemis/text/TextExerciseIntegrationTest.java
Labels: tests, ready for review, server, bugfix, text

#10821 `Communication`: Add filter suggestions to global search
  src/main/webapp/app/communication/shared/conversation-global-search/conversation-global-search.component.html
  src/main/webapp/app/communication/shared/conversation-global-search/conversation-global-search.component.scss
  src/main/webapp/app/communication/shared/conversation-global-search/conversation-global-search.component.spec.ts
  src/main/webapp/app/communication/shared/conversation-global-search/conversation-global-search.component.ts
  src/main/webapp/i18n/de/metis.json
  src/main/webapp/i18n/en/metis.json
Labels: ready for review, client, communication

#10823 `Development`: Reduce string casting for course ids in deep linking
  src/main/java/de/tum/cit/aet/artemis/lti/service/LtiDeepLinkingService.java
Labels: ready for review, server, lti

#10816 `Communication`: Add button to clear all notifications
  src/main/webapp/app/communication/course-notification/course-notification-popup-overlay/course-notification-popup-overlay.component.html
  src/main/webapp/app/communication/course-notification/course-notification-popup-overlay/course-notification-popup-overlay.component.spec.ts
  src/main/webapp/app/communication/course-notification/course-notification-popup-overlay/course-notification-popup-overlay.component.ts
Labels: feature, ready for review, client, communication

#10840 `Atlas`: Fix issues in course learner profile settings
  jest.config.js
  src/main/java/de/tum/cit/aet/artemis/atlas/domain/profile/CourseLearnerProfile.java
  src/main/java/de/tum/cit/aet/artemis/atlas/dto/CourseLearnerProfileDTO.java
  src/main/java/de/tum/cit/aet/artemis/atlas/repository/CourseLearnerProfileRepository.java
  src/main/java/de/tum/cit/aet/artemis/atlas/web/LearnerProfileResource.java
  src/main/webapp/app/core/user/settings/learner-profile/course-learner-profile.component.html
  src/main/webapp/app/core/user/settings/learner-profile/course-learner-profile.component.spec.ts
  src/main/webapp/app/core/user/settings/learner-profile/course-learner-profile.component.ts
  src/main/webapp/app/learner-profile/service/learner-profile-api.service.ts
  src/main/webapp/app/learner-profile/shared/entities/learner-profile.model.ts
  src/test/java/de/tum/cit/aet/artemis/atlas/competency/CompetencyIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/atlas/learningpath/LearningPathIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/atlas/profile/LearnerProfileIntegrationTest.java
Labels: tests, ready for review, server, client, atlas, core

#10846 `Development`: Enable ExamUserIntegrationTest-testUploadExamUserImages
  src/test/java/de/tum/cit/aet/artemis/exam/ExamUserIntegrationTest.java
Labels: tests, ready for review, exam

#10843 `Exam mode`: Display spaces in edit working time dialog exam title
  src/main/webapp/app/exam/manage/exams/exam-checklist-component/exam-edit-workingtime-dialog/exam-edit-working-time-dialog.component.html
  src/main/webapp/app/exam/manage/exams/exam-checklist-component/exam-edit-workingtime-dialog/exam-edit-working-time-dialog.component.ts
  src/main/webapp/app/shared/confirm-entity-name/confirm-entity-name.component.html
  src/main/webapp/app/shared/confirm-entity-name/confirm-entity-name.component.scss
  src/main/webapp/app/shared/confirm-entity-name/confirm-entity-name.component.ts
  src/main/webapp/i18n/de/exam.json
  src/main/webapp/i18n/en/exam.json
Labels: ready for review, client, exam

#10849 `Development`: Remove imprint value from ProfileInfo class
  src/main/webapp/app/core/layouts/profiles/profile-info.model.ts
Labels: ready for review, client, core

#10813 `Development`: Utilize authorization aspect in lecture unit endpoints
  src/main/java/de/tum/cit/aet/artemis/lecture/web/AttachmentUnitResource.java
  src/main/java/de/tum/cit/aet/artemis/lecture/web/LectureUnitResource.java
  src/main/java/de/tum/cit/aet/artemis/lecture/web/OnlineUnitResource.java
  src/main/java/de/tum/cit/aet/artemis/lecture/web/TextUnitResource.java
  src/main/java/de/tum/cit/aet/artemis/lecture/web/VideoUnitResource.java
  src/test/java/de/tum/cit/aet/artemis/lecture/AttachmentUnitIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/lecture/LectureUnitIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/lecture/OnlineUnitIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/lecture/TextUnitIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/lecture/VideoUnitIntegrationTest.java
Labels: tests, server, ready to merge, lecture

#10853 `Communication`: Fix an issue with forwarded messages
  src/main/webapp/app/communication/course-conversations-components/layout/conversation-messages/conversation-messages.component.ts
Labels: ready for review, client, bugfix, ready to merge, communication

#10765 `Development`: Improve programming exercise test coverage
  src/test/java/de/tum/cit/aet/artemis/programming/icl/ProgrammingExerciseLocalVCLocalCIIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/util/ProgrammingExerciseImportTestService.java
Labels: tests, ready for review, ready to merge, programming

#10842 `Adaptive learning`: Fix competency contribution error message when atlas profile disabled
  src/main/webapp/app/atlas/shared/competency-contribution/competency-contribution.component.html
  src/main/webapp/app/atlas/shared/competency-contribution/competency-contribution.component.spec.ts
  src/main/webapp/app/atlas/shared/competency-contribution/competency-contribution.component.ts
  src/main/webapp/app/lecture/overview/course-lectures/text-unit/text-unit.component.spec.ts
  src/main/webapp/app/lecture/overview/course-lectures/video-unit/video-unit.component.spec.ts
Labels: ready for review, client, small, atlas, lecture

#10854 `General`: Improve LTI documentation screenshot scaling
  docs/user/courses/customizable/buttons/course_settings_button.png
  docs/user/lti.rst
  docs/user/lti/course_edit_lti_configuration.png
  docs/user/lti/lti_lectures_list.png
  docs/user/lti/ltiexercises_list.png
  docs/user/lti/moodle_select_content.png
  docs/user/lti/moodle_select_content_link.png
  docs/user/lti/moodle_select_content_link_grouped.png
  docs/user/lti/moodle_select_content_new.png
Labels: ready for review, documentation

#10864 `Development`: Improve client code quality for conversations
  src/main/webapp/app/communication/course-conversations-components/layout/conversation-messages/conversation-messages.component.ts
  src/main/webapp/app/communication/service/forwarded-message.service.ts
  src/main/webapp/app/communication/service/metis.service.ts
  src/main/webapp/app/communication/shared/entities/forwarded-message.model.ts
Labels: ready for review, client, ready to merge, communication

#10655 `Programming exercises`: Make .git(.*) files removable and creatable in online editor
  src/main/java/de/tum/cit/aet/artemis/programming/domain/Repository.java
Labels: ready for review, server, programming

#10417 `Programming exercises`: Trigger build on repository reset
  src/main/java/de/tum/cit/aet/artemis/programming/web/ProgrammingExerciseParticipationResource.java
Labels: server, small, bugfix, programming

#10861 `General`: Add ability to sync user's name from SAML2
  docs/admin/saml2-shibboleth.rst
  src/main/java/de/tum/cit/aet/artemis/core/service/connectors/SAML2Service.java
  src/main/resources/config/application-saml2.yml
  src/test/java/de/tum/cit/aet/artemis/core/authentication/UserSaml2IntegrationTest.java
  src/test/resources/config/application-saml2.yml
Labels: tests, ready for review, server, documentation, config-change, small, core

#10869 `Development`: Fix an issue with missing libraries when eureka is active
  build.gradle
  src/main/java/de/tum/cit/aet/artemis/programming/service/localvc/LocalVCGitBranchService.java
  src/test/java/de/tum/cit/aet/artemis/programming/icl/ProgrammingExerciseLocalVCLocalCIIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/util/ProgrammingExerciseImportTestService.java
Labels: tests, ready for review, server, programming

#10857 `Development`: Replace direct references to exercise and course with entity IDs in Iris related code
  src/main/java/de/tum/cit/aet/artemis/iris/domain/session/IrisChatSession.java
  src/main/java/de/tum/cit/aet/artemis/iris/domain/session/IrisCourseChatSession.java
  src/main/java/de/tum/cit/aet/artemis/iris/domain/session/IrisExerciseChatSession.java
  src/main/java/de/tum/cit/aet/artemis/iris/domain/session/IrisLectureChatSession.java
  src/main/java/de/tum/cit/aet/artemis/iris/domain/session/IrisTextExerciseChatSession.java
  src/main/java/de/tum/cit/aet/artemis/iris/domain/settings/IrisCourseSettings.java
  src/main/java/de/tum/cit/aet/artemis/iris/domain/settings/IrisExerciseSettings.java
  src/main/java/de/tum/cit/aet/artemis/iris/repository/IrisCourseChatSessionRepository.java
  src/main/java/de/tum/cit/aet/artemis/iris/repository/IrisExerciseChatSessionRepository.java
  src/main/java/de/tum/cit/aet/artemis/iris/repository/IrisExerciseSettingsRepository.java
  src/main/java/de/tum/cit/aet/artemis/iris/repository/IrisMessageRepository.java
  src/main/java/de/tum/cit/aet/artemis/iris/repository/IrisSettingsRepository.java
  src/main/java/de/tum/cit/aet/artemis/iris/repository/IrisTextExerciseChatSessionRepository.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/pyris/PyrisPipelineService.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/session/AbstractIrisChatSessionService.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/session/IrisCourseChatSessionService.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/session/IrisExerciseChatSessionService.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/session/IrisLectureChatSessionService.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/session/IrisTextExerciseChatSessionService.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/settings/IrisSettingsService.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/websocket/IrisChatWebsocketService.java
  src/main/java/de/tum/cit/aet/artemis/iris/web/IrisSettingsResource.java
  src/test/java/de/tum/cit/aet/artemis/iris/IrisChatMessageIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/iris/IrisChatTokenTrackingIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/iris/IrisExerciseChatSessionIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/iris/IrisLectureChatMessageIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/iris/IrisTextExerciseChatMessageIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/iris/settings/IrisSettingsIntegrationTest.java
Labels: tests, ready for review, server, iris

#10847 `Development`: Move passkey security config to own file
  src/main/java/de/tum/cit/aet/artemis/communication/web/AndroidAppSiteAssociationResource.java
  src/main/java/de/tum/cit/aet/artemis/core/config/SecurityConfiguration.java
  src/main/java/de/tum/cit/aet/artemis/core/security/passkey/ArtemisPasskeyWebAuthnConfigurer.java
  src/main/java/de/tum/cit/aet/artemis/core/service/AndroidFingerprintService.java
Labels: server, small, ready to merge, communication, core

#10776 `Development`: Update documentation for GitHub deployment using Helios
  docs/dev/testservers.rst
  docs/dev/testservers/github/deploy-error-message.png
  docs/dev/testservers/github/deployment-label.png
  docs/dev/testservers/github/docker-build-complete.png
  docs/dev/testservers/github/lock-label.png
  docs/dev/testservers/github/remove-lock-label.png
  docs/dev/testservers/github/testserver-forward.png
  docs/dev/testservers/github/testserver-status.png
Labels: documentation, small, ready to merge

#10875 `General`: Improve course management header layout
  src/main/webapp/app/assessment/shared/assessment-dashboard/assessment-dashboard.component.html
  src/main/webapp/app/assessment/shared/assessment-dashboard/assessment-dashboard.component.ts
  src/main/webapp/app/atlas/manage/competency-management/competency-management.component.html
  src/main/webapp/app/atlas/manage/competency-management/competency-management.component.spec.ts
  src/main/webapp/app/atlas/manage/competency-management/competency-management.component.ts
  src/main/webapp/app/communication/faq/faq.component.html
  src/main/webapp/app/communication/faq/faq.component.ts
  src/main/webapp/app/core/course/manage/course-scores/course-scores.component.html
  src/main/webapp/app/core/course/manage/course-scores/course-scores.component.ts
  src/main/webapp/app/core/course/manage/exercises/course-management-exercises.component.html
  src/main/webapp/app/core/course/manage/exercises/course-management-exercises.component.spec.ts
  src/main/webapp/app/core/course/manage/exercises/course-management-exercises.component.ts
  src/main/webapp/app/core/course/manage/statistics/course-management-statistics.component.html
  src/main/webapp/app/core/course/manage/statistics/course-management-statistics.component.ts
  src/main/webapp/app/core/course/shared/course-title-bar-title/course-title-bar-title.component.html
  src/main/webapp/app/core/course/shared/course-title-bar-title/course-title-bar-title.component.spec.ts
  src/main/webapp/app/core/course/shared/course-title-bar-title/course-title-bar-title.component.ts
  src/main/webapp/app/core/course/shared/course-title-bar/course-title-bar.component.html
  src/main/webapp/app/core/course/shared/course-title-bar/course-title-bar.component.spec.ts
  src/main/webapp/app/core/course/shared/course-title-bar/course-title-bar.component.ts
  src/main/webapp/app/core/course/shared/directives/course-title-bar-actions.directive.spec.ts
  src/main/webapp/app/core/course/shared/directives/course-title-bar-actions.directive.ts
  src/main/webapp/app/core/course/shared/directives/course-title-bar-title.directive.spec.ts
  src/main/webapp/app/core/course/shared/directives/course-title-bar-title.directive.ts
  src/main/webapp/app/core/course/shared/services/course-title-bar.service.spec.ts
  src/main/webapp/app/core/course/shared/services/course-title-bar.service.ts
  src/main/webapp/app/exam/manage/exam-management/exam-management.component.html
  src/main/webapp/app/exam/manage/exam-management/exam-management.component.ts
  src/main/webapp/app/iris/manage/settings/iris-course-settings-update/iris-course-settings-update.component.html
  src/main/webapp/app/iris/manage/settings/iris-course-settings-update/iris-course-settings-update.component.ts
  src/main/webapp/app/iris/manage/settings/iris-settings-update/iris-settings-update.component.html
  src/main/webapp/app/lecture/manage/lecture/lecture.component.html
  src/main/webapp/app/lecture/manage/lecture/lecture.component.ts
  src/main/webapp/app/shared/components/buttons/documentation-button/documentation-button.component.ts
  src/main/webapp/app/tutorialgroup/manage/tutorial-groups-checklist/tutorial-groups-checklist.component.html
Labels: client, ready to merge, assessment, atlas, communication, core, exam, iris, lecture, tutorialgroup

#10884 `Iris`: Fix minor tutor suggestion bugs and add feature toggle
  src/main/java/de/tum/cit/aet/artemis/core/service/feature/Feature.java
  src/main/java/de/tum/cit/aet/artemis/core/service/feature/FeatureToggleService.java
  src/main/java/de/tum/cit/aet/artemis/iris/domain/session/IrisCourseChatSession.java
  src/main/java/de/tum/cit/aet/artemis/iris/domain/session/IrisExerciseChatSession.java
  src/main/java/de/tum/cit/aet/artemis/iris/domain/session/IrisLectureChatSession.java
  src/main/java/de/tum/cit/aet/artemis/iris/domain/session/IrisSession.java
  src/main/java/de/tum/cit/aet/artemis/iris/domain/session/IrisTextExerciseChatSession.java
  src/main/java/de/tum/cit/aet/artemis/iris/domain/session/IrisTutorSuggestionSession.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/IrisSessionService.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/pyris/dto/TutorSuggestionStatusUpdateDTO.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/session/IrisTutorSuggestionSessionService.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/settings/IrisSubSettingsService.java
  src/main/java/de/tum/cit/aet/artemis/iris/web/IrisMessageResource.java
  src/main/webapp/app/communication/course-conversations-components/layout/conversation-thread-sidebar/conversation-thread-sidebar.component.html
  src/main/webapp/app/communication/course-conversations/tutor-suggestion/tutor-suggestion.component.html
  src/main/webapp/app/communication/course-conversations/tutor-suggestion/tutor-suggestion.component.scss
  src/main/webapp/app/communication/course-conversations/tutor-suggestion/tutor-suggestion.component.spec.ts
  src/main/webapp/app/communication/course-conversations/tutor-suggestion/tutor-suggestion.component.ts
  src/main/webapp/app/core/admin/features/admin-feature-toggle.component.spec.ts
  src/main/webapp/app/iris/manage/settings/iris-course-settings-update/iris-course-settings-update.component.spec.ts
  src/main/webapp/app/iris/manage/settings/iris-exercise-settings-update/iris-exercise-settings-update.component.spec.ts
  src/main/webapp/app/iris/manage/settings/iris-global-settings-update/iris-global-settings-update.component.spec.ts
  src/main/webapp/app/iris/manage/settings/iris-settings-update/iris-settings-update.component.html
  src/main/webapp/app/iris/manage/settings/iris-settings-update/iris-settings-update.component.ts
  src/main/webapp/app/iris/overview/services/iris-chat-http.service.ts
  src/main/webapp/app/iris/overview/services/iris-status.service.spec.ts
  src/main/webapp/app/iris/overview/services/iris-status.service.ts
  src/main/webapp/app/shared/feature-toggle/feature-toggle.service.ts
  src/main/webapp/i18n/de/iris.json
  src/main/webapp/i18n/en/iris.json
  src/test/java/de/tum/cit/aet/artemis/core/service/FeatureToggleServiceTest.java
  src/test/java/de/tum/cit/aet/artemis/iris/IrisTutorSuggestionIntegrationTest.java
Labels: tests, server, client, communication, core, iris

#10876 `Development`: Fix and reenable ProgrammingExerciseParticipationIntegrationTest test cases
  src/test/java/de/tum/cit/aet/artemis/programming/AbstractProgrammingIntegrationIndependentTest.java
  src/test/java/de/tum/cit/aet/artemis/programming/ProgrammingExerciseParticipationIntegrationTest.java
Labels: tests, ready to merge, programming

#10866 `General`: Introduce course management control center
  src/main/java/de/tum/cit/aet/artemis/iris/dto/IrisCombinedLectureChatSubSettingsDTO.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/settings/IrisSubSettingsService.java
  src/main/webapp/app/core/course/manage/control-center/control-center.component.html
  src/main/webapp/app/core/course/manage/control-center/control-center.component.spec.ts
  src/main/webapp/app/core/course/manage/control-center/control-center.component.ts
  src/main/webapp/app/core/course/manage/detail/course-detail.component.html
  src/main/webapp/app/core/course/manage/detail/course-detail.component.spec.ts
  src/main/webapp/app/core/course/manage/detail/course-detail.component.ts
  src/main/webapp/app/core/course/manage/quick-actions/quick-actions.component.html
  src/main/webapp/app/core/course/manage/quick-actions/quick-actions.component.ts
  src/main/webapp/app/iris/manage/settings/iris-course-settings-update/iris-course-settings-update.component.spec.ts
  src/main/webapp/app/iris/manage/settings/iris-settings-update/iris-common-sub-settings-update/iris-common-sub-settings-update.component.ts
  src/main/webapp/app/iris/manage/settings/iris-settings-update/iris-settings-update-component.spec.ts
  src/main/webapp/app/iris/manage/settings/iris-settings-update/iris-settings-update.component.ts
  src/main/webapp/app/iris/manage/settings/shared/iris-empty-settings.service.spec.ts
  src/main/webapp/app/iris/manage/settings/shared/iris-empty-settings.service.ts
  src/main/webapp/app/iris/manage/settings/shared/iris-enabled/iris-enabled.component.html
  src/main/webapp/app/iris/manage/settings/shared/iris-enabled/iris-enabled.component.spec.ts
  src/main/webapp/app/iris/manage/settings/shared/iris-enabled/iris-enabled.component.ts
  src/main/webapp/app/iris/shared/entities/settings/iris-sub-settings.model.ts
  src/main/webapp/app/shared/card-wrapper/card-wrapper.component.html
  src/main/webapp/app/shared/card-wrapper/card-wrapper.component.spec.ts
  src/main/webapp/app/shared/card-wrapper/card-wrapper.component.ts
  src/main/webapp/app/shared/detail-overview-list/detail-overview-list.component.html
  src/main/webapp/i18n/de/global.json
  src/main/webapp/i18n/de/iris.json
  src/main/webapp/i18n/en/global.json
  src/main/webapp/i18n/en/iris.json
  src/test/javascript/spec/helpers/mocks/iris/mock-settings.ts
Labels: tests, server, client, ready to merge, maintainer-approved, core, iris

#10770 `General`: Add notification emails for security related actions
  src/main/java/de/tum/cit/aet/artemis/communication/service/notifications/MailSendingService.java
  src/main/java/de/tum/cit/aet/artemis/communication/service/notifications/SingleUserNotificationService.java
  src/main/java/de/tum/cit/aet/artemis/core/security/ArtemisAuthenticationEventListener.java
  src/main/java/de/tum/cit/aet/artemis/core/security/passkey/ArtemisHttpMessageConverterAuthenticationSuccessHandler.java
  src/main/java/de/tum/cit/aet/artemis/core/security/passkey/ArtemisPasskeyWebAuthnConfigurer.java
  src/main/java/de/tum/cit/aet/artemis/core/security/passkey/ArtemisWebAuthnAuthenticationFilter.java
  src/main/java/de/tum/cit/aet/artemis/core/security/passkey/ArtemisWebAuthnConfigurer.java
  src/main/java/de/tum/cit/aet/artemis/core/security/passkey/ArtemisWebAuthnRegistrationFilter.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/sshuserkeys/UserSshPublicKeyExpiryNotificationService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/tokens/UserTokenExpiryNotificationService.java
  src/main/resources/i18n/messages.properties
  src/main/resources/i18n/messages_de.properties
  src/main/resources/i18n/messages_en.properties
  src/main/resources/templates/mail/notification/newLoginEmail.html
  src/main/resources/templates/mail/notification/newPasskeyEmail.html
  src/main/resources/templates/mail/notification/sshKeyHasExpiredEmail.html
  src/main/resources/templates/mail/notification/vcsAccessTokenExpiredEmail.html
  src/test/java/de/tum/cit/aet/artemis/communication/notifications/service/MailServiceTest.java
  src/test/java/de/tum/cit/aet/artemis/core/security/ArtemisAuthenticationEventListenerTest.java
Labels: tests, ready for review, server, template, communication, core, programming

#10830 `Development`: Rotate passkey tokens silently
  src/main/java/de/tum/cit/aet/artemis/core/config/SecurityConfiguration.java
  src/main/java/de/tum/cit/aet/artemis/core/config/websocket/WebsocketConfiguration.java
  src/main/java/de/tum/cit/aet/artemis/core/security/allowedTools/ToolsInterceptor.java
  src/main/java/de/tum/cit/aet/artemis/core/security/jwt/AuthenticationMethod.java
  src/main/java/de/tum/cit/aet/artemis/core/security/jwt/JWTConfigurer.java
  src/main/java/de/tum/cit/aet/artemis/core/security/jwt/JWTCookieService.java
  src/main/java/de/tum/cit/aet/artemis/core/security/jwt/JWTFilter.java
  src/main/java/de/tum/cit/aet/artemis/core/security/jwt/JwtWithSource.java
  src/main/java/de/tum/cit/aet/artemis/core/security/jwt/TokenProvider.java
  src/main/java/de/tum/cit/aet/artemis/core/web/AccountResource.java
  src/main/java/de/tum/cit/aet/artemis/core/web/TokenResource.java
  src/main/resources/config/application-core.yml
  src/main/resources/config/application-prod.yml
  src/test/java/de/tum/cit/aet/artemis/core/authentication/AuthenticationFactory.java
  src/test/java/de/tum/cit/aet/artemis/core/security/jwt/JWTFilterIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/core/security/jwt/JWTFilterTest.java
  src/test/java/de/tum/cit/aet/artemis/core/security/jwt/TokenProviderTest.java
  src/test/java/de/tum/cit/aet/artemis/core/util/CookieParserTestUtil.java
Labels: tests, ready for review, server, config-change, core

#10877 `Adaptive learning`: Fix error when accessing no longer available CourseLearnerProfiles
  src/main/java/de/tum/cit/aet/artemis/atlas/repository/CourseLearnerProfileRepository.java
  src/main/java/de/tum/cit/aet/artemis/atlas/service/profile/CourseLearnerProfileService.java
  src/main/java/de/tum/cit/aet/artemis/atlas/web/LearnerProfileResource.java
  src/main/java/de/tum/cit/aet/artemis/core/repository/CourseRepository.java
  src/main/java/de/tum/cit/aet/artemis/core/service/CourseService.java
  src/main/resources/config/liquibase/changelog/20250506142300_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/test/java/de/tum/cit/aet/artemis/atlas/profile/LearnerProfileIntegrationTest.java
Labels: tests, ready for review, server, database, atlas, core

#10895 `Quiz exercises`: Fix unassessed quiz exercise check for exam instructors
  src/main/java/de/tum/cit/aet/artemis/exam/service/ExamService.java
Labels: ready for review, server, small, bugfix, ready to merge, exam

#10882 `Adaptive learning`: Enhance learner profile settings
  src/main/webapp/app/core/user/settings/learner-profile/course-learner-profile.component.html
  src/main/webapp/app/core/user/settings/learner-profile/course-learner-profile.component.scss
  src/main/webapp/app/core/user/settings/learner-profile/course-learner-profile.component.spec.ts
  src/main/webapp/app/core/user/settings/learner-profile/course-learner-profile.component.ts
  src/main/webapp/app/learner-profile/shared/entities/learner-profile-options.model.ts
  src/main/webapp/app/learner-profile/shared/entities/learner-profile.model.ts
  src/main/webapp/app/shared/double-slider/double-slider.component.html
  src/main/webapp/app/shared/double-slider/double-slider.component.scss
  src/main/webapp/app/shared/double-slider/double-slider.component.spec.ts
  src/main/webapp/app/shared/double-slider/double-slider.component.ts
  src/main/webapp/app/shared/segmented-toggle/segmented-toggle.component.html
  src/main/webapp/app/shared/segmented-toggle/segmented-toggle.component.spec.ts
  src/main/webapp/app/shared/segmented-toggle/segmented-toggle.component.ts
  src/main/webapp/i18n/de/learnerProfile.json
  src/main/webapp/i18n/en/learnerProfile.json
Labels: client, ready to merge, core

#10841 `Communication`: Allow users to remove channel topic and description
  src/main/java/de/tum/cit/aet/artemis/communication/domain/conversation/Channel.java
Labels: server, ready to merge, communication

#10899 `Development`: Unify ldap profiles
  .idea/runConfigurations/Artemis__Server__LocalVC___LocalCI_.xml
  .idea/runConfigurations/Artemis__Server__LocalVC___LocalCI__Theia_.xml
  docs/admin/setup/distributed.rst
  docs/dev/setup/server.rst
  src/main/java/de/tum/cit/aet/artemis/core/config/Constants.java
  src/main/java/de/tum/cit/aet/artemis/core/repository/ldap/LdapUserRepository.java
  src/main/java/de/tum/cit/aet/artemis/core/service/connectors/ldap/LdapAuthenticationProvider.java
  src/main/java/de/tum/cit/aet/artemis/core/service/ldap/LdapConfig.java
  src/main/java/de/tum/cit/aet/artemis/core/service/ldap/LdapUserDto.java
  src/main/java/de/tum/cit/aet/artemis/core/service/ldap/LdapUserService.java
  src/main/java/de/tum/cit/aet/artemis/core/web/admin/AdminUserResource.java
  src/main/webapp/app/core/admin/user-management/user-management.component.ts
  src/test/java/de/tum/cit/aet/artemis/shared/base/AbstractSpringIntegrationLocalCILocalVCTest.java
Labels: tests, ready for review, server, client, documentation, core

#10900 `Development`: Convert file path service into file path converter
  src/main/java/de/tum/cit/aet/artemis/ArtemisApp.java
  src/main/java/de/tum/cit/aet/artemis/core/FilePathType.java
  src/main/java/de/tum/cit/aet/artemis/core/config/Constants.java
  src/main/java/de/tum/cit/aet/artemis/core/service/FileService.java
  src/main/java/de/tum/cit/aet/artemis/core/service/export/DataExportExerciseCreationService.java
  src/main/java/de/tum/cit/aet/artemis/core/service/user/UserService.java
  src/main/java/de/tum/cit/aet/artemis/core/util/FilePathConverter.java
  src/main/java/de/tum/cit/aet/artemis/core/web/AccountResource.java
  src/main/java/de/tum/cit/aet/artemis/core/web/CourseResource.java
  src/main/java/de/tum/cit/aet/artemis/core/web/FileResource.java
  src/main/java/de/tum/cit/aet/artemis/core/web/admin/AdminCourseResource.java
  src/main/java/de/tum/cit/aet/artemis/exam/service/ExamUserService.java
  src/main/java/de/tum/cit/aet/artemis/exam/web/ExamUserResource.java
  src/main/java/de/tum/cit/aet/artemis/exercise/service/ExerciseWithSubmissionsExportService.java
  src/main/java/de/tum/cit/aet/artemis/fileupload/domain/FileUploadSubmission.java
  src/main/java/de/tum/cit/aet/artemis/fileupload/service/FileUploadSubmissionExportService.java
  src/main/java/de/tum/cit/aet/artemis/fileupload/service/FileUploadSubmissionService.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/pyris/PyrisWebhookService.java
  src/main/java/de/tum/cit/aet/artemis/lecture/service/AttachmentService.java
  src/main/java/de/tum/cit/aet/artemis/lecture/service/AttachmentUnitService.java
  src/main/java/de/tum/cit/aet/artemis/lecture/service/LectureUnitImportService.java
  src/main/java/de/tum/cit/aet/artemis/lecture/service/LectureUnitProcessingService.java
  src/main/java/de/tum/cit/aet/artemis/lecture/service/LectureUnitService.java
  src/main/java/de/tum/cit/aet/artemis/lecture/service/SlideSplitterService.java
  src/main/java/de/tum/cit/aet/artemis/lecture/web/AttachmentResource.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/ProgrammingExerciseImportFromFileService.java
  src/main/java/de/tum/cit/aet/artemis/quiz/domain/DragAndDropQuestion.java
  src/main/java/de/tum/cit/aet/artemis/quiz/domain/DragItem.java
  src/main/java/de/tum/cit/aet/artemis/quiz/service/DragAndDropQuizAnswerConversionService.java
  src/main/java/de/tum/cit/aet/artemis/quiz/service/QuizExerciseImportService.java
  src/main/java/de/tum/cit/aet/artemis/quiz/service/QuizExerciseService.java
  src/main/java/de/tum/cit/aet/artemis/quiz/service/QuizExerciseWithSubmissionsExportService.java
  src/main/java/de/tum/cit/aet/artemis/quiz/web/QuizExerciseResource.java
  src/main/resources/config/application-buildagent.yml
  src/main/resources/config/application-core.yml
  src/test/java/de/tum/cit/aet/artemis/core/FileIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/core/service/FilePathServiceTest.java
  src/test/java/de/tum/cit/aet/artemis/core/service/FileServiceTest.java
  src/test/java/de/tum/cit/aet/artemis/core/util/CourseTestService.java
  src/test/java/de/tum/cit/aet/artemis/core/util/CourseUtilService.java
  src/test/java/de/tum/cit/aet/artemis/core/util/FilePathConverterTest.java
  src/test/java/de/tum/cit/aet/artemis/exercise/participation/SubmissionExportIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/fileupload/FileUploadSubmissionIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/fileupload/util/FileUploadExerciseUtilService.java
  src/test/java/de/tum/cit/aet/artemis/lecture/service/AttachmentServiceTest.java
  src/test/java/de/tum/cit/aet/artemis/lecture/service/SlideSplitterServiceTest.java
  src/test/java/de/tum/cit/aet/artemis/lecture/util/LectureFactory.java
  src/test/java/de/tum/cit/aet/artemis/lecture/util/LectureUtilService.java
  src/test/java/de/tum/cit/aet/artemis/programming/util/ProgrammingExerciseTestService.java
  src/test/java/de/tum/cit/aet/artemis/quiz/util/QuizExerciseFactory.java
  src/test/java/de/tum/cit/aet/artemis/quiz/util/QuizExerciseUtilService.java
  src/test/java/de/tum/cit/aet/artemis/shared/base/AbstractArtemisIntegrationTest.java
  src/test/resources/config/application.yml
Labels: tests, ready for review, server, config-change, core, exam, exercise, fileupload, iris, lecture, programming, quiz

#10874 `Development`: Use upstream sarif-rs with C++ SCA
  src/main/resources/config/application.yml
Labels: config-change, small, ready to merge

#10888 `Programming Exercises`: Fix C++ build pipeline crashes due to ANSI color codes in runtime error messages
  src/main/resources/templates/c_plus_plus/test/testUtils/junit/Junit.py
Labels: ready for review, jenkins/gitlab, small, template

#10889 `Development`: Update Android documentation
  docs/user/mobile-applications.rst
  docs/user/native-applications/android/custom_server_entered.png
  docs/user/native-applications/android/initial_login_notification_configuration.png
  docs/user/native-applications/android/server_selection_overview.png
  docs/user/native-applications/android/settings_push.png
  docs/user/native-applications/android/settings_push_detail.png
Labels: documentation, ready to merge

#10909 `Development`: Set up lazy instantiation for faster startup
  src/main/java/de/tum/cit/aet/artemis/programming/service/localvc/ssh/SshConfiguration.java
  src/main/resources/config/application.yml
Labels: server, config-change, programming

#10848 `Development`: Improve hidden page DTOs
  src/main/java/de/tum/cit/aet/artemis/lecture/domain/HiddenPageInfo.java
  src/main/java/de/tum/cit/aet/artemis/lecture/domain/HiddenPagesData.java
  src/main/java/de/tum/cit/aet/artemis/lecture/dto/HiddenPageInfoDTO.java
  src/main/java/de/tum/cit/aet/artemis/lecture/dto/SlideOrderDTO.java
  src/main/java/de/tum/cit/aet/artemis/lecture/service/AttachmentUnitService.java
  src/main/java/de/tum/cit/aet/artemis/lecture/service/SlideSplitterService.java
  src/main/java/de/tum/cit/aet/artemis/lecture/web/AttachmentUnitResource.java
  src/main/webapp/app/lecture/manage/pdf-preview/pdf-preview.component.spec.ts
  src/main/webapp/app/lecture/manage/pdf-preview/pdf-preview.component.ts
  src/test/java/de/tum/cit/aet/artemis/lecture/AttachmentUnitIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/lecture/service/SlideSplitterServiceTest.java
Labels: tests, ready for review, server, client, lecture

#10903 `Communication`: Improve message spacing and rendering
  src/main/webapp/app/communication/posting-content/posting-content-part/posting-content-part.component.html
  src/main/webapp/app/communication/posting-content/posting-content-part/posting-content-part.component.spec.ts
  src/main/webapp/app/communication/posting-content/posting-content-part/posting-content-part.components.ts
  src/main/webapp/app/shared/service/markdown.service.ts
  src/main/webapp/app/shared/util/markdown.conversion.util.ts
  src/main/webapp/content/scss/global.scss
Labels: ready for review, client, communication

#10913 `Development`: Improve server code and test quality
  src/main/java/de/tum/cit/aet/artemis/communication/domain/conversation/Channel.java
  src/main/java/de/tum/cit/aet/artemis/communication/service/AnswerMessageService.java
  src/main/java/de/tum/cit/aet/artemis/communication/service/ConversationMessagingService.java
  src/main/java/de/tum/cit/aet/artemis/communication/service/PostingService.java
  src/main/java/de/tum/cit/aet/artemis/communication/service/ReactionService.java
  src/main/java/de/tum/cit/aet/artemis/communication/service/conversation/ChannelService.java
  src/main/java/de/tum/cit/aet/artemis/communication/service/conversation/auth/ChannelAuthorizationService.java
  src/main/java/de/tum/cit/aet/artemis/communication/service/notifications/MailSendingService.java
  src/main/java/de/tum/cit/aet/artemis/communication/web/FaqResource.java
  src/main/java/de/tum/cit/aet/artemis/communication/web/ReactionResource.java
  src/main/java/de/tum/cit/aet/artemis/communication/web/conversation/OneToOneChatResource.java
  src/main/java/de/tum/cit/aet/artemis/core/config/CacheConfiguration.java
  src/main/java/de/tum/cit/aet/artemis/core/config/EurekaClientConfiguration.java
  src/main/java/de/tum/cit/aet/artemis/core/security/passkey/ArtemisPasskeyWebAuthnConfigurer.java
  src/main/java/de/tum/cit/aet/artemis/core/service/AndroidFingerprintService.java
  src/main/java/de/tum/cit/aet/artemis/core/service/FileService.java
  src/main/java/de/tum/cit/aet/artemis/core/service/export/CourseExamExportService.java
  src/main/java/de/tum/cit/aet/artemis/core/util/FilePathConverter.java
  src/main/java/de/tum/cit/aet/artemis/core/util/FileUtil.java
  src/main/java/de/tum/cit/aet/artemis/core/web/AccountResource.java
  src/main/java/de/tum/cit/aet/artemis/core/web/CourseResource.java
  src/main/java/de/tum/cit/aet/artemis/core/web/FileResource.java
  src/main/java/de/tum/cit/aet/artemis/core/web/admin/AdminCourseResource.java
  src/main/java/de/tum/cit/aet/artemis/exam/service/ExamUserService.java
  src/main/java/de/tum/cit/aet/artemis/exam/web/ExamUserResource.java
  src/main/java/de/tum/cit/aet/artemis/exercise/service/ExerciseWithSubmissionsExportService.java
  src/main/java/de/tum/cit/aet/artemis/exercise/service/SubmissionExportService.java
  src/main/java/de/tum/cit/aet/artemis/fileupload/service/FileUploadSubmissionService.java
  src/main/java/de/tum/cit/aet/artemis/lecture/api/LectureUnitApi.java
  src/main/java/de/tum/cit/aet/artemis/lecture/service/AttachmentService.java
  src/main/java/de/tum/cit/aet/artemis/lecture/service/AttachmentVideoUnitService.java
  src/main/java/de/tum/cit/aet/artemis/lecture/service/LectureService.java
  src/main/java/de/tum/cit/aet/artemis/lecture/service/LectureUnitImportService.java
  src/main/java/de/tum/cit/aet/artemis/lecture/service/LectureUnitProcessingService.java
  src/main/java/de/tum/cit/aet/artemis/lecture/service/SlideSplitterService.java
  src/main/java/de/tum/cit/aet/artemis/lecture/web/AttachmentResource.java
  src/main/java/de/tum/cit/aet/artemis/lecture/web/AttachmentVideoUnitResource.java
  src/main/java/de/tum/cit/aet/artemis/lecture/web/LectureUnitResource.java
  src/main/java/de/tum/cit/aet/artemis/lti/web/LtiResource.java
  src/main/java/de/tum/cit/aet/artemis/plagiarism/api/PlagiarismPostApi.java
  src/main/java/de/tum/cit/aet/artemis/plagiarism/service/PlagiarismAnswerPostService.java
  src/main/java/de/tum/cit/aet/artemis/plagiarism/service/PlagiarismPostService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/GitService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/JavaTemplateUpgradeService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/PlantUmlService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/ProgrammingExerciseExportService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/ProgrammingExerciseRepositoryService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/RepositoryService.java
  src/main/java/de/tum/cit/aet/artemis/programming/service/localvc/JGitServletConfiguration.java
  src/main/java/de/tum/cit/aet/artemis/quiz/service/QuizExerciseImportService.java
  src/main/java/de/tum/cit/aet/artemis/quiz/service/QuizExerciseService.java
  src/main/java/de/tum/cit/aet/artemis/quiz/service/QuizExerciseWithSubmissionsExportService.java
  src/main/java/de/tum/cit/aet/artemis/quiz/web/QuizExerciseResource.java
  src/test/java/de/tum/cit/aet/artemis/core/service/FileServiceTest.java
  src/test/java/de/tum/cit/aet/artemis/core/service/FileUtilUnitTest.java
  src/test/java/de/tum/cit/aet/artemis/core/util/RequestUtilService.java
  src/test/java/de/tum/cit/aet/artemis/lecture/service/SlideSplitterServiceTest.java
  src/test/java/de/tum/cit/aet/artemis/shared/base/AbstractArtemisIntegrationTest.java
Labels: tests, server, communication, core, exam, exercise, fileupload, lecture, lti, plagiarism, programming, quiz

#10850 `Communication`: Add notification preset picker to course title bar
  src/main/webapp/app/communication/course-notification/course-notification-preset-picker/course-notification-preset-picker.component.html
  src/main/webapp/app/communication/course-notification/course-notification-preset-picker/course-notification-preset-picker.component.scss
  src/main/webapp/app/communication/course-notification/course-notification-preset-picker/course-notification-preset-picker.component.ts
  src/main/webapp/app/communication/course-notification/course-notification-setting.service.spec.ts
  src/main/webapp/app/communication/course-notification/course-notification-setting.service.ts
  src/main/webapp/app/communication/course-notification/course-notification.service.ts
  src/main/webapp/app/core/course/overview/course-overview/course-overview.component.html
  src/main/webapp/app/core/course/overview/course-overview/course-overview.component.spec.ts
  src/main/webapp/app/core/course/overview/course-overview/course-overview.component.ts
  src/main/webapp/app/core/course/overview/course-settings/notification-settings/notification-settings.component.html
  src/main/webapp/app/core/course/overview/course-settings/notification-settings/notification-settings.component.spec.ts
  src/main/webapp/app/core/course/overview/course-settings/notification-settings/notification-settings.component.ts
Labels: feature, client, ready to merge, communication, core

#10782 `Iris`: Add custom instructions for instructors
  src/main/java/de/tum/cit/aet/artemis/core/config/Constants.java
  src/main/java/de/tum/cit/aet/artemis/iris/domain/settings/IrisCourseChatSubSettings.java
  src/main/java/de/tum/cit/aet/artemis/iris/domain/settings/IrisLectureChatSubSettings.java
  src/main/java/de/tum/cit/aet/artemis/iris/domain/settings/IrisProgrammingExerciseChatSubSettings.java
  src/main/java/de/tum/cit/aet/artemis/iris/domain/settings/IrisTextExerciseChatSubSettings.java
  src/main/java/de/tum/cit/aet/artemis/iris/dto/IrisCombinedCourseChatSubSettingsDTO.java
  src/main/java/de/tum/cit/aet/artemis/iris/dto/IrisCombinedLectureChatSubSettingsDTO.java
  src/main/java/de/tum/cit/aet/artemis/iris/dto/IrisCombinedProgrammingExerciseChatSubSettingsDTO.java
  src/main/java/de/tum/cit/aet/artemis/iris/dto/IrisCombinedTextExerciseChatSubSettingsDTO.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/pyris/PyrisPipelineService.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/pyris/dto/chat/course/PyrisCourseChatPipelineExecutionDTO.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/pyris/dto/chat/exercise/PyrisExerciseChatPipelineExecutionDTO.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/pyris/dto/chat/lecture/PyrisLectureChatPipelineExecutionDTO.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/pyris/dto/chat/textexercise/PyrisTextExerciseChatPipelineExecutionDTO.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/session/IrisCourseChatSessionService.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/session/IrisExerciseChatSessionService.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/session/IrisLectureChatSessionService.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/session/IrisTextExerciseChatSessionService.java
  src/main/java/de/tum/cit/aet/artemis/iris/service/settings/IrisSubSettingsService.java
  src/main/resources/config/liquibase/changelog/20250501145700_changelog.xml
  src/main/resources/config/liquibase/master.xml
  src/main/webapp/app/iris/manage/settings/iris-settings-update/iris-common-sub-settings-update/iris-common-sub-settings-update.component.html
  src/main/webapp/app/iris/manage/settings/iris-settings-update/iris-common-sub-settings-update/iris-common-sub-settings-update.component.ts
  src/main/webapp/app/iris/shared/entities/settings/iris-sub-settings.model.ts
  src/main/webapp/i18n/de/iris.json
  src/main/webapp/i18n/en/iris.json
  src/test/java/de/tum/cit/aet/artemis/iris/IrisChatMessageIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/iris/IrisLectureChatMessageIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/iris/IrisTextExerciseChatMessageIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/iris/PyrisEventSystemIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/iris/settings/IrisSettingsIntegrationTest.java
Labels: tests, ready for review, server, client, database, core, iris

#10902 `Modeling exercises`: Fix pdf export button
  src/main/java/de/tum/cit/aet/artemis/modeling/service/apollon/ApollonConversionService.java
  src/main/java/de/tum/cit/aet/artemis/modeling/service/apollon/ApollonHealthIndicator.java
  src/main/webapp/app/shared/detail-overview-list/detail-overview-list.component.html
  src/test/java/de/tum/cit/aet/artemis/core/connector/apollon/ApollonRequestMockProvider.java
Labels: tests, ready for review, server, client, core, modeling

#10915 `General`: Fix an issue when admins activate or deactivate users
  src/main/java/de/tum/cit/aet/artemis/core/config/websocket/GzipMessageConverter.java
  src/main/java/de/tum/cit/aet/artemis/core/service/user/UserCreationService.java
  src/main/java/de/tum/cit/aet/artemis/core/web/CourseResource.java
  src/main/java/de/tum/cit/aet/artemis/core/web/UserResource.java
  src/main/java/de/tum/cit/aet/artemis/core/web/admin/AdminUserResource.java
  src/main/java/de/tum/cit/aet/artemis/exam/web/ExamResource.java
  src/main/java/de/tum/cit/aet/artemis/exercise/web/ParticipationTeamWebsocketService.java
  src/main/webapp/app/core/admin/user-management/user-management.component.spec.ts
  src/main/webapp/app/core/admin/user-management/user-management.component.ts
  src/main/webapp/app/core/user/shared/admin-user.service.ts
Labels: server, client, core, exam, exercise

#10905 `Quiz exercises`: Fix padding for quiz exercise header for the management view
  src/main/webapp/app/quiz/overview/participation/quiz-participation.component.html
Labels: ready for review, client, small, quiz

#10896 `General`: Fix an issue with sidebar sub grouping
  src/main/webapp/app/shared/sidebar/sidebar-accordion/sidebar-accordion.component.ts
  src/main/webapp/app/shared/util/week-grouping.util.spec.ts
  src/main/webapp/app/shared/util/week-grouping.util.ts
Labels: ready for review, client, bugfix

#10863 `Development`: Update communication user documentation
  docs/user/communication.rst
  docs/user/communication/global-search.png
Labels: ready for review, documentation

#10852 `Communication`: Fix sidebar indicators for muted channels
  src/main/java/de/tum/cit/aet/artemis/communication/repository/ConversationParticipantRepository.java
  src/main/webapp/app/communication/service/metis-conversation.service.spec.ts
  src/main/webapp/app/communication/service/metis-conversation.service.ts
  src/main/webapp/app/shared/sidebar/sidebar-accordion/sidebar-accordion.component.spec.ts
  src/main/webapp/app/shared/sidebar/sidebar-accordion/sidebar-accordion.component.ts
  src/main/webapp/app/shared/sidebar/sidebar-card-item/sidebar-card-item.component.html
  src/main/webapp/app/shared/sidebar/sidebar-card-item/sidebar-card-item.component.spec.ts
  src/main/webapp/app/shared/sidebar/sidebar-card-item/sidebar-card-item.component.ts
  src/main/webapp/app/shared/sidebar/sidebar-card-small/sidebar-card-small.component.html
  src/main/webapp/app/shared/sidebar/sidebar-card-small/sidebar-card-small.component.spec.ts
Labels: ready for review, server, client, bugfix, communication

#10925 `Development`: Add edutelligence documentation
  README.md
  docs/admin/extension-services.rst
  docs/admin/setup/athena.rst
  docs/admin/setup/iris.rst
  docs/admin/setup/pyris.rst
  docs/user/exercises/textual.rst
  src/main/webapp/app/core/about-us/about-us.component.ts
  src/main/webapp/i18n/de/exerciseChatbot.json
  src/main/webapp/i18n/en/exerciseChatbot.json
Labels: client, documentation, core

#10933 `Development`: Reduce logging in JWTFilter
  src/main/java/de/tum/cit/aet/artemis/core/security/jwt/JWTFilter.java
  src/test/java/de/tum/cit/aet/artemis/core/security/jwt/JWTFilterIntegrationTest.java
Labels: enhancement, tests, ready for review, server, small, core

#10937 `Development`: Avoid student course dashboard REST call when dashboard disabled
  src/main/webapp/app/core/course/overview/course-dashboard/course-dashboard.component.spec.ts
  src/main/webapp/app/core/course/overview/course-dashboard/course-dashboard.component.ts
Labels: ready for review, client, performance, core

#10938 `Lectures`: Fix display of lecture units with competencies
  src/main/webapp/app/core/course/overview/course-exercises/course-exercises.component.html
  src/main/webapp/app/core/course/overview/course-overview/course-overview.scss
  src/main/webapp/app/lecture/shared/course-lectures/course-lectures.component.html
Labels: client, core, lecture

#10939 `Lectures`: Improve performance when navigating into lectures
  src/main/java/de/tum/cit/aet/artemis/atlas/repository/CompetencyExerciseLinkRepository.java
  src/main/java/de/tum/cit/aet/artemis/atlas/service/LearningObjectImportService.java
  src/main/java/de/tum/cit/aet/artemis/atlas/service/LearningObjectService.java
  src/main/java/de/tum/cit/aet/artemis/atlas/service/competency/CompetencyService.java
  src/main/java/de/tum/cit/aet/artemis/core/repository/UserRepository.java
  src/main/java/de/tum/cit/aet/artemis/core/security/annotations/enforceRoleInLecture/EnforceAtLeastEditorInLecture.java
  src/main/java/de/tum/cit/aet/artemis/core/security/annotations/enforceRoleInLecture/EnforceAtLeastInstructorInLecture.java
  src/main/java/de/tum/cit/aet/artemis/core/security/annotations/enforceRoleInLecture/EnforceAtLeastStudentInLecture.java
  src/main/java/de/tum/cit/aet/artemis/core/security/annotations/enforceRoleInLecture/EnforceAtLeastTutorInLecture.java
  src/main/java/de/tum/cit/aet/artemis/core/security/annotations/enforceRoleInLecture/EnforceRoleInLecture.java
  src/main/java/de/tum/cit/aet/artemis/core/security/annotations/enforceRoleInLecture/EnforceRoleInLectureAspect.java
  src/main/java/de/tum/cit/aet/artemis/core/service/AuthorizationCheckService.java
  src/main/java/de/tum/cit/aet/artemis/lecture/api/LectureImportApi.java
  src/main/java/de/tum/cit/aet/artemis/lecture/domain/LectureUnitCompletion.java
  src/main/java/de/tum/cit/aet/artemis/lecture/repository/LectureRepository.java
  src/main/java/de/tum/cit/aet/artemis/lecture/repository/LectureUnitCompletionRepository.java
  src/main/java/de/tum/cit/aet/artemis/lecture/repository/LectureUnitRepository.java
  src/main/java/de/tum/cit/aet/artemis/lecture/service/LectureService.java
  src/main/java/de/tum/cit/aet/artemis/lecture/web/LectureResource.java
  src/main/webapp/app/atlas/shared/competencies-popover/competencies-popover.component.ts
  src/main/webapp/app/lecture/overview/course-lectures/details/course-lecture-details.component.spec.ts
  src/main/webapp/app/lecture/overview/course-lectures/details/course-lecture-details.component.ts
  src/main/webapp/app/lecture/shared/course-lectures/course-lectures.component.ts
  src/test/java/de/tum/cit/aet/artemis/atlas/AbstractAtlasIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/atlas/learningpath/LearningPathIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/communication/ChannelIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/communication/util/ConversationUtilService.java
  src/test/java/de/tum/cit/aet/artemis/core/FileIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/core/aspects/EnforceRoleInLectureTest.java
  src/test/java/de/tum/cit/aet/artemis/core/aspects/util/EnforceRoleInLectureResource.java
  src/test/java/de/tum/cit/aet/artemis/core/service/TitleCacheEvictionServiceTest.java
  src/test/java/de/tum/cit/aet/artemis/core/util/CourseTestService.java
  src/test/java/de/tum/cit/aet/artemis/core/util/CourseUtilService.java
  src/test/java/de/tum/cit/aet/artemis/iris/IrisLectureChatMessageIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/iris/PyrisLectureIngestionTest.java
  src/test/java/de/tum/cit/aet/artemis/iris/PyrisLectureTranscriptionIngestionTest.java
  src/test/java/de/tum/cit/aet/artemis/lecture/AttachmentResourceIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/lecture/AttachmentVideoUnitIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/lecture/LectureIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/lecture/LectureTranscriptionIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/lecture/LectureUnitIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/lecture/OnlineUnitIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/lecture/TextUnitIntegrationTest.java
  src/test/java/de/tum/cit/aet/artemis/lecture/service/LectureImportServiceTest.java
  src/test/java/de/tum/cit/aet/artemis/lecture/service/LectureServiceTest.java
  src/test/java/de/tum/cit/aet/artemis/lecture/test_repository/LectureTestRepository.java
  src/test/java/de/tum/cit/aet/artemis/lecture/util/LectureUtilService.java
Labels: tests, server, client, atlas, communication, core, iris, lecture
